[2019-03-08 13:55] hickeyma commented on #5417
Tested this and it seems to be working as appropriately. Tests as follows:

Created a scaffold chart using `helm create`.  Disabled the `service` map entries:

[code]

Tested as follows:

[code]
Can you provide more details of as specific example with the issue?

[2019-03-08 15:08] hickeyma commented on #5420
This might be an issue with your cluster. Can you try a simpler deployment using `kubectl` and see if the pod(s) runs correctly?

[2019-03-08 16:24] walkafwalka commented on #5417
@hickeyma That is a different error. You are looking for `<.Values.KeyName>: map has no entry for key "KeyName"`. Reference a value as `{{ .Values.KeyName }}` and leave the value undefined in values.yaml. It will not display a warning when using `helm lint`, but will fail in `helm --strict` but use the `[ERROR]` tag.

[2019-03-08 17:51] glb commented on #2572
@michelleN I don't remember what I did then, but here's a trace from trying from scratch:
[code]

[2019-03-08 20:21] bclouser commented on #4670
+1 for me as well.

[2019-03-08 21:05] nvtkaszpir commented on #5381
I believe this should be possible to be solved with affinity rules or taints, without any touching of existing code within helm itself.

[2019-03-08 21:08] bacongobbler commented on #5381
If you wouldn't mind demonstrating an example that solves this issue, that would be fantastic.

[2019-03-08 22:28] nvtkaszpir commented on #5381
Not having exact example (I rather set anti-affinity rules for now for increased availability), but I see there are some examples at https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#node-affinity-beta-feature - especially with node affinity.

[2019-03-09 00:49] pc-rshetty commented on #2004
this seems to work , but how do i make application.properties per environment ? example dev has different contents , qa has different and prod has different

[2019-03-09 08:46] walkafwalka opened #5424 "Feature Suggestion: Unit Tests"
Unfortunately, https://github.com/lrills/helm-unittest is not being actively maintained anymore but this is something I think would be a good fit for the core project.

[2019-03-10 04:55] pandey-adarsh147 commented on #3141
+1

[2019-03-10 13:42] vasiliyb opened #5427 "helm chart jenkins issue"
Output of `helm version`:

[code]

Output of `kubectl version`:

[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
`GKE`

Problem:
[code]
output:
[code]

[2019-03-11 00:50] stevejhkang commented on #5420
Thank you for advice. Here is pods of sock-shop.  They are running properly.
[code]
[code]
[code]

[2019-03-11 02:49] stevejhkang commented on #5420
I couldn't find cause so I installed helm by using kubespray. finally it works. I will close this issue.

[2019-03-11 02:49] #5420 closed

[2019-03-11 07:54] hickeyma commented on #5424
Thanks for the suggestion.

Helm currently has [chart test](https://github.com/helm/helm/blob/master/docs/chart_tests.md) capability. What therefore would be the benefits of integrating [helm-unittest](https://github.com/lrills/helm-unittest ) into core as well?

[2019-03-11 08:17] walkafwalka commented on #5424
@hickeyma, the chart test capability will "validate that your chart works as expected when it is installed" whereas helm-unittest will validate that a chart is rendered _locally_ correctly using unit tests. Chart repository maintainers can use unit tests to verify specified values result in the correct behavior or contributor changes do not result in incorrect behavior. For example, you could veri

[2019-03-11 08:25] hickeyma commented on #5427
Helm when installing a chart and when no namespace is specified, it will install into the cluster default namespace (which is usually "default").  It looks like you don't have access to this namespace.

You can get a list of your namespaces in the cluster as follows: `kubectl get namespaces` . You can pass the following arg to `install` to use a particular namespace: `--namespace <namespace>`.

[2019-03-11 08:50] hickeyma commented on #5424
Thanks for the feedback.

@mattfarina what do you think?

[2019-03-11 09:36] hickeyma commented on #5417
@walkafwalka Thanks for clarifying. I am able to reproduce now.

Template:
[code]

Values:
[code]

Tested as follows:
[code]

I can see how this would be confusing. I wonder would it make more sense for issues raised by linter in `strict` mode to be "warnings" if they are not an error for rendering and install? @bacongobbler what do you think?

[2019-03-11 09:38] hickeyma commented on #5370
@Keramblock Were you able to make progress?

[2019-03-11 09:44] walkafwalka commented on #5417
@hickeyma Exactly! In addition to being labeled as warnings in strict mode, I think they should also be displayed as warnings by the linter in non-strict mode without failing similarly to informational messages.

[2019-03-11 10:06] Keramblock commented on #5370
I am trying, but something wrong with my go environment(that is the my first time when I developing something with go). If you need that fix faster - feel free to reassign it on somebody else =)

[2019-03-11 11:24] dhanvi opened #5429 "Feature request: `helm install CHART` use the valueFiles inside the chart (other than the default values.yaml)"
It would be nice to use the valueFiles inside the helm chart (other than values) so that the only thing required during the deploy time is the chart in tgz format.

[2019-03-11 11:41] hickeyma commented on #5316
@grahamegee sorry for the delay in replying but got waylaid.

The issue is with the `?` in the path value `/path1/?(.*)`. The [Go YAMl unmarshaler](https://github.com/ghodss/yaml) is called [here](https://github.com/helm/helm/blob/master/pkg/tiller/hooks.go#L131). It would seem that tit is not able to handle the `?` character.

@technosophos can you provide some insight on the  library and if this

[2019-03-11 11:49] thedumbtechguy commented on #3275
Just confirming I am witnessing the same issue and the cause also is as earlier indicated.

Added a new secret, referenced it in a volume (invalid syntax). Upgrade failed, subsequent upgrades failed with the error as above.

Listing secrets showed it had been created. Manually deleted secret and the upgrade went through successfully.

[2019-03-11 11:50] hickeyma commented on #5429
I am not sure that this is a use case of a Helm chart. The concept of the chart is that it can be configured on the fly and default values are provided otherwise.

In your case, this is probably best handled with another tool, for example [helmfile](https://github.com/roboll/helmfile).

[2019-03-11 12:29] gaussianblurs commented on #4685
Same problem here with k3s, I deleted the Tiller deployment and service, and did `helm init --wait --kubeconfig "/etc/rancher/k3s/k3s.yaml" --service-account tiller`
It hangs forever...

[2019-03-11 12:31] dhanvi commented on #5429
IMHO ability to store and utilize different sets of values.yaml would make the charts truly portable.

Currently we are already storing all the values in the packaged charts (chart.tgz)

May be adding a different flag or reusing the same flag `-f`

[2019-03-11 12:35] jeff-knurek commented on #5429
I disagree with the first statement, but I don't think it contradicts the second.
and you're right @hickeyma, that something like `helmfile` is usually the best approach.

there is a .helmignore file which allows for excluding files from the packaged chart, but when it comes to values files, it makes the most sense for them to be kept close to the chart, and therefor packaged with the chart. And t

[2019-03-11 12:54] dhanvi commented on #5429
Thank You @jeff-knurek and @hickeyma

Apologies for opening a duplicate issue.

[2019-03-11 12:54] #5429 closed

[2019-03-11 13:17] gaussianblurs commented on #3055
After following these steps, the `helm install stable/minio` command hangs forever using a k3s cluster

[2019-03-11 19:09] eroji opened #5430 "Helm upgrade not patching deployment"
I am running the following helm and tiller versions. I created a custom helm chart that I am attempting to deploy an application with.

[code]

As a test, I manually made a change to the deployment manifest after helm had deployed the application. After that, I tried to perform a 'helm upgrade --force' to see if it will patch the existing deployment and undo the manual change I made. It did not.

[2019-03-11 22:19] hickeyma commented on #5429
@jeff-knurek I think you make a valid point here and I agree with it from a practical point of view. However, imho Helm provides charts which are "a collection of files that describe a related set of Kubernetes resources."  It can be deployed as is OOTB with default values but maybe the idea was that each deployment could be configured differently depending on environments, different users (charts

[2019-03-11 22:43] hickeyma commented on #5430
@eroji Did you make the change directly to the deployment manifest deployed in the cluster i.e. not using Helm e.g. `kubectl edit deployment` ?

If so, when you `upgrade` using Helm, it will check its state against its release configmaps and it will consider that nothing has changed since the previous release.  It is not checking what is deployed on the cluster but the chart templates between inst

[2019-03-11 22:47] danielezer commented on #5118
Just figured out what the issue is.
According to the helm documentation:
`Tiller loads the resulting resources into Kubernetes. Note that if the --wait flag is set, Tiller will wait until all resources are in a ready state and will not run the post-install hook until they are ready.`

Closing this issue

[2019-03-11 22:47] #5118 closed

[2019-03-11 23:08] eroji commented on #5430
Right, I did a `kubectl edit`. Can you clarify what you mean by release state and release configmaps? Perhaps my expectation on how it's diffing and patching the changes is not quite how it actually works. In my example, I manually changed the metadata label. Using `helm upgrade` after that did not revert the deployment back to the way it was. However, if I manually `kubectl edit` the deployment a

[2019-03-12 00:02] tianhe-oi commented on #4670
+1

[2019-03-12 01:07] xmlking opened #5434 "Need support for --insecure-skip-tls-verify"
Output of `helm version`: 2.13

Output of `kubectl version`: 1.13

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

Need support for `--insecure-skip-tls-verify`

E.g.,

`helm repo update --insecure-skip-tls-verify`

[2019-03-12 01:09] xmlking commented on #5434
When work behaind Corp firewalls/proxy this is very useful

[2019-03-12 08:37] IppX commented on #4463
Hi,
I have the same issue, happens randomly not always on the same chart.

[code]

[2019-03-12 08:42] IppX commented on #4879
Hi,

I reproduced the same issue today with parallel `helm dep up && helm deploy && helm test`.
I also get this issue when running the same tests: https://github.com/helm/helm/issues/4463

Any ideas ?

[2019-03-12 08:53] sgrigorev commented on #4463
@IppX , In my case I disabled parallel updating of the charts list and this issue disappeared.

[2019-03-12 10:29] tashirj commented on #1579
I am also facing the same issue in version 2.12.3
My values YAML structure is like:
values.yaml
global:
  configMap:
    properties:
      my:
        services:
          war:
            truststore:
              password: abcxyz

 helm version
Client: &version.Version{SemVer:"v2.12.3", GitCommit:"eecf22f77df5f65c823aacd2dbd30ae6c65f186e", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2

[2019-03-12 10:57] thilo-maurer commented on #2247
Actually not, since the directory `charts` is reserved for destination charts, not source charts. Instead, the script should look for all repositories specified in `requirements.yaml` that are of type `file://` and run `helm dep up` there. The command will in turn create helm packages at, e.g., `charts/<example-chart>.tgz`.

[2019-03-12 11:02] tashirj opened #5435 "Can't evaluate field password in type interface {}"
I am facing the issue in version 2.12.3
My values YAML structure is like:
values.yaml

[code]

Error: can't evaluate field password in type interface {} while accessing the value as: "Values.global.configMap.properties.my.services.war.truststore.password"

helm version

[code]

kubectl version

[code]

Does anybody have any fix for this?

[2019-03-12 11:51] alphabettispaghetti opened #5436 "nginx example not creating"
running `helm install docs/examples/nginx` yields
[code]
It does so even after running `helm repo update`

Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
AWS with EKS, I created the cluster with JX

[2019-03-12 12:54] llech commented on #4699
I have the same bug trying to deploy the chart https://github.com/HagaiBarel/kube-charts/blob/master/curator/templates/cronjob.yaml

The api is available on the server.

As for me, it's definitely a bug that helm gives no slightest hint what resource could not be found.

[2019-03-12 15:44] technosophos commented on #5316
I believe that `?` is an "indicator character" in YAML, and has to be escaped with a backslash (`\?`). The YAML parser should strip out the backslash before the `?` is handed back to the calling code.

[2019-03-12 16:01] hickeyma commented on #5316
@technosophos should have mentioned that I used the backslash but still an issue

[2019-03-12 17:12] bacongobbler commented on #5436
If you're trying to install the nginx example from the documentation, you'll need to be in the helm source code. So,

[code]

Let me know if that works for you.

[2019-03-12 17:22] hickeyma commented on #5435
You will need to structure the content.  You can structure it as follows:
[code]
Refer to [value best practices](https://helm.sh/docs/chart_best_practices/#values) for more details. FYI, this is probably way more nested layers than would be common. Maybe look to see if you can simplify it.

[2019-03-12 17:31] hickeyma commented on #5417
@walkafwalka would you be interested in doing a PR for this?

[2019-03-12 17:34] Stono commented on #4539
Hey @bacongobbler - can we re-open this, as the issue still persists on `1.12.5`:

As you can see here, the `helm sync --wait` command didn't wait for all the statefulsets to come up, this is on helm `2.12.3`.

[code]

[2019-03-12 17:40] technosophos commented on #5316
My interpretation of the spec is that if a `\?` does not work, and you can reproduce this by passing a YAML doc straight to the parser and having it fail to meet expectations, then this is an error with the parser.

[2019-03-12 17:42] bacongobbler commented on #5435
The original comment contained the right structure, however all leading whitespace was trimmed out so the content was displayed as unstructured. I edited OP's comment to demonstrate the values structure, wrapping backticks around the output.

[2019-03-12 17:45] Stono commented on #4539
So what i'm observing pretty consistently is one pod becoming ready and then the `post-install` hook starting (in this case config-solr):

[code]

[2019-03-12 17:49] 0verc1ocker opened #5439 "Alternatives to helm?"
1. Why is helm such trash?

2. What are some alternatives to helm?

[2019-03-12 17:56] Stono commented on #5439
3. Where's your open source repo contribution doing better?

[2019-03-12 17:58] Stono commented on #5439
4. Where are your PR's contributing to making the helm better?

[2019-03-12 18:00] 0verc1ocker commented on #5439
The more you focus your mind on trash, the more garbage your mind becomes.

[2019-03-12 18:05] hickeyma commented on #5435
Ok, thanks @bacongobbler.

It is working as expected but I will show how I tested it.

Template and value:

[code]

Output:

[code]

[2019-03-12 18:06] hickeyma commented on #5435
@tashirj Let me know if this works for you. If not, can you provide me with more details on how you are accessing the value.

[2019-03-12 18:07] #5439 closed

[2019-03-12 18:11] bacongobbler commented on #5439
I'm locking the conversation it is violating the Code of Conduct for inappropriate/unprofessional conduct.

[2019-03-12 18:50] ericp96 commented on #4574
This was a huge help! I have a project structure with an overarching helm chart and all of my microservices under an `images` directory with their own helm installs.  Adding `images` to my `.helmignore` seemed to solve it.

[2019-03-13 00:02] wknapik commented on #4879
Also, why is this marked "question/support" ? This is a bug.

[2019-03-13 00:06] walkafwalka commented on #5417
I actually tried to look for the why this was happening but I failed. I am not very familiar with Helm's code. I  found the this line in kubernetes: https://github.com/kubernetes/kubernetes/blob/master/test/cmd/get.sh#L173.

Though I cannot tell how this ties into Helm or why https://github.com/helm/helm/pull/1730 did not fix the issue. I thought that only the errors defined here were caught: http

[2019-03-13 06:03] tspacek commented on #1844
Also encountered this.

[code]

`helm upgrade --debug` shows the right thing, but the Deployment is not updated.

[2019-03-13 07:50] tashirj commented on #5435
Thanks @bacongobbler for the changes for making it appropriate.
@hickeyma I tested the same and for tests, it is working. But if the same is used in the whole deployment, it doesn't pick the value up somehow. May be I am messing up in the YAML spacing.
Will check it :)
Thanks a lot :)

[2019-03-13 10:12] fgoroncy commented on #3164
I have a related problem where this kind of workaround does not work. I have a child chart which defines a default value in its values.yaml and then an umbrella chart which tries to override the default value. The default value is some number (e.g.: 2). I cannot override the default value in the umbrella chart with a 0. In other words, the wrong interpretation of Zero happens at a stage where I do

[2019-03-13 10:33] grahamegee commented on #5316
When I get a bit of time I'll have a crack at reproducing it directly with the go YAML unmarshaler. Looks pretty straight forward. Import it, create a yaml string, run yamlToJson.

[2019-03-13 12:07] hickeyma commented on #5396
@bacongobbler @prydonius PR #5441 opened

[2019-03-13 12:15] hickeyma commented on #5316
@grahamegee Let me know how you get on.

[2019-03-13 14:43] hickeyma commented on #5430
@eroji I will try and explain this as best I can.

Helm stores it data in Kubernetes ConfigMaps to track releases. For each install and subsequent upgrades (which are different  releases),  Helm will store the chart, values, and state-tracking information in a ConfigMap. This means that it can provide history, rollback etc. on each release of a chart. Refer to [How Helm Uses ConfigMaps to Store Da

[2019-03-13 16:03] wemu commented on #3053
we encountered a similar issue with having randAlphaNum in names:

[code]

I expected helm to know its last release resources and see that the resource in the new releleas is missing and therefore delete it. But it does not (the resource comes from a required chart). All the resources remain in kubernetes after an upgrade.

[2019-03-13 16:35] hickeyma commented on #5417
The linter fails [here](https://github.com/helm/helm/blob/master/pkg/lint/rules/template.go#L83) The error seems to be generated when the linter calls the go template library to render the template[here](https://github.com/helm/helm/blob/master/pkg/engine/engine.go#L278). When this is called in `strict` mode, it requires the value object to be set.

If this is the case then it is working as expect

[2019-03-13 17:14] f4tq opened #5442 "helm 2.11.0->2.13.0 broken w/ aks 1.11.7"
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
AKS
I have many existing k8 clusters  (>15) running aks 1.11.7 that were installed as 1.11.5 but updated due to CVE-2019-5736.
All those clusters use tiller 2.11.0 and are working fine.

However, when I create a **new** aks 1.11.7 cluster from scratch, everything works fine EXCEP

[2019-03-13 17:58] bacongobbler commented on #5442
I was unable to reproduce this issue. I'd follow up with the AKS support team as this looks like an issue with AKS itself, not Helm.

[code]

[2019-03-13 19:03] datascienceteam01 commented on #4685
NOTICE: there is no solution to this issue, just an a selfish overstatement that the members of the thread fixed something out of the ReplicaFailure status. No reproduction steps and no solution was published.

[2019-03-13 19:25] dkrieger commented on #5435
I was getting this same error message, and what caused it in my case was the overrides for a sibling chart in the parent values.yaml . assume subcharts "firstborn" and "secondborn":

[code]

the override for secondborn chart implicitly deletes the global object. This can be avoided by making sure to specify chart value overrides as an object:

[code]

[2019-03-13 19:40] bacongobbler commented on #4685
This issue was originally closed because there was no steps provided to reproduce the original issue. @mabushey's solution in https://github.com/helm/helm/issues/4685#issuecomment-433209134 appears to fix the issues he was having with his cluster, but without a series of steps to reproduce the issue, we cannot identify what causes this situation to occur in the first place.

It's been 6 months sin

[2019-03-13 21:45] datascienceteam01 commented on #4685
@bacongobbler
The problem occurs when Tiller is created without a proper serviceaccount. This happens for two reasons a. the helm init script does not do this as it certainly should b. the namespace in question mismatches with an existing service account definition.

To go arround it you must first run "helm delete" and then create a rbac-config.yaml:

apiVersion: v1
kind: ServiceAccount
metadata:

[2019-03-14 01:28] johnmarcou commented on #2514
Hi @raehik,

This solution is indeed crashing.
[code]

This works:
[code]

[2019-03-14 01:58] johnmarcou commented on #2514
@raehik,

You need to use a `tpl` trick to interpolate the value, since helm variable in values are not processed, you have to trick the deployment, for example:

In your values.yaml:
[code]

In your deployment:
[code]

[2019-03-14 06:09] tashirj commented on #5435
@dkrieger , I am not sure if this can be used in deployments as the placeholders used for the deployments will map those to values file and if this overriding has to be done, you will have to change the placeholders accordingly.

[2019-03-14 07:26] aserrallerios commented on #1844
Same here, with `v2.9.1` helm & tiller.

In my case it, I manually modified a configmap using kubectl. The next `helm upgrade` never changed the configmap values back to their initial state (the configmap I applied didn't change respect the previous revision).

Instead of:
A -> B(manually) -> A
It was:
A -> B(manually) -> B

[2019-03-14 07:55] tibwiz commented on #4251
I also faced the same issue with helm version 2.9.1

Adding stable repo with URL: https://kubernetes-charts.storage.googleapis.com
Error: Looks like "https://kubernetes-charts.storage.googleapis.com" is not a valid chart repository or cannot be reached: Get https://kubernetes-charts.storage.googleapis.com/index.yaml: proxyconnect tcp: EOF

The solution mentioned in #4271 worked for me.

[2019-03-14 08:11] jaijitendra commented on #4440
Any update on this issue? What is the recommeneded way to handle customresourcedefintion create in second helm install

[2019-03-14 08:30] jeremyxu2010 commented on #5430
@hickeyma

So after I use `kubectl edit deploy xxxx`, the `helm upgrade` DO NOT work anymore!

if I want use `helm upgrade` to upgrade a release, I must `helm delete --purge xxxx; helm install xxxx` again?

So bad this design! Reinstall a release usually means pv data lost!

[2019-03-14 09:35] vsliouniaev commented on #4440
@jaijitendra  That's exactly the approach we have taken to make this work

[2019-03-14 09:46] hickeyma commented on #5430
@jeremyxu2010 Doing a direct change to your environment should not usually result in an `helm upgrade` failing. I think this depends on the changes that are done that could potentially cause this. Usually it just ignores those changes as mentioned in comment above.

I agree with you that having to delete and re-install is not a great approach but this is to deal with the scenario when the install

[2019-03-14 10:07] diederichm opened #5444 "Tiller pod CrashLoopBackoff - exec format error"
Output of `helm version`:

Client: &version.Version{SemVer:"v2.13.0", GitCommit:"79d07943b03aea2b76c12644b4b54733bc5958d6", GitTreeState:"clean"}
out of
https://storage.googleapis.com/kubernetes-helm/helm-v2.13.0-linux-s390x.tar.gz

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.5", GitCommit:"51dd616cdd25d6ee22c83a858773b607328a18ec", GitTreeSta

[2019-03-14 10:31] hickeyma commented on #5444
If you want to install tiller on a Kubernetes cluster running on 390x architecture you'll need to compile tiller from source with support for that architecture, then provide that image name using helm init --tiller-image.  Have a look at the [instructions for building Tiller for z](https://github.com/linux-on-ibm-z/docs/wiki/Building-Helm).

This is a duplicate of #5197. More details in https://gi

[2019-03-14 10:34] hickeyma commented on #5436
@alphabettispaghetti Did you succeed installing the nginx example?

[2019-03-14 10:36] alphabettispaghetti commented on #5436
Sorry I haven't, I will do this today!

[2019-03-14 10:51] hickeyma commented on #5370
That's ok.  Let me know how you get on. It will be good if you can push your PR.

[2019-03-14 10:53] dkrieger commented on #5435
@tashirj the takeaway here is that charts that don't follow this rule are broken.

[2019-03-14 11:04] AlexandrSemak opened #5445 "Escape prefix ":" in values or template"
Output of `helm version`:
[code]

Hello,

How can I escape ":" in values or template:

values:

[code]

template:
`args: ["--input-raw", {{ .Values.goreplay.port | quote }}, "--output-http", {{ .Values.goreplay.url }}]
`

Error:

`error converting YAML to JSON: yaml: line 145: did not find expected node content`

Can I pass ":" to template and how?

[2019-03-14 11:18] juv opened #5446 "Line with space character followed by \n breaks Files.Glob templating"
Output of `helm version`:

```Client: &version.Version{SemVer:"v2.11.0", GitCommit:"2e55dbe1fdb5fdb96b75ff144a339489417b146b", GitTreeState:"clean"}```

What happens:
1) I am glob'ing files into a config map with  `{{ tpl ( (.Files.Glob "conf/*").AsConfig ) . | indent 4 }}`.
2) Templating of the files fail with the following error:
```<tpl ((.Files.Glob "c...>: error calling tpl: Error during tpl

[2019-03-14 11:21] juv commented on #4166
This might be related to the issue I found: https://github.com/helm/helm/issues/5446
Hope this helps.

[2019-03-14 11:26] juv commented on #5446
Same error happens in the latest version ```Client: &version.Version{SemVer:"v2.13.0", GitCommit:"79d07943b03aea2b76c12644b4b54733bc5958d6", GitTreeState:"clean"}```

[2019-03-14 11:58] diederichm commented on #5444
Well,
tiller is already compiled. There is no need to build it.
(it is in here https://storage.googleapis.com/kubernetes-helm/helm-v2.13.0-linux-s390x.tar.gz)
i can run from the cli just fine.
[main] 2019/03/14 10:41:35 Starting Tiller v2.13.0 (tls=false)
[main] 2019/03/14 10:41:35 GRPC listening on :44134
[main] 2019/03/14 10:41:35 Probes listening on :44135
[main] 2019/03/14 10:41:35 Storage dri

[2019-03-14 12:05] hickeyma commented on #5445
@AlexandrSemak Try setting the port as follows:
`port: ":3000"`

Let me know how you get on.

[2019-03-14 12:15] hickeyma commented on #5444
AFIK, Tiller is not built for all architectures and sometimes you have to do this manually. It all depends on whether Tiller docker image is multi-arch enabled and even so, is s390x image part of it and most images don't support s390x yet.

@cwsolee Can you provide more details.

[2019-03-14 12:20] AlexandrSemak commented on #5445
@hickeyma
`error converting YAML to JSON: yaml: line 145: found unexpected ':'`

[2019-03-14 12:24] AlexandrSemak commented on #5445
whole yaml template block:

[code]

[2019-03-14 12:28] tashirj commented on #5435
@dkrieger I am not using any third-party charts, all are mine but I can't modify those at the run time since the mapping used are tightly coupled.
Thanks for clearing the doubts :)

[2019-03-14 12:31] hickeyma commented on #5445
Can you show the whole template to get a better understanding of what is happening?  It works when set and accessed as a value without any modification in the template.

[2019-03-14 12:33] AlexandrSemak commented on #5445
@hickeyma
[code]

[2019-03-14 12:36] hickeyma commented on #5446
@juv May I ask what is the reason for `\n` on every line? Is this because you editor messed up the encoding?

[2019-03-14 13:28] AlexandrSemak commented on #5445
Yay
"{{ .Values.goreplay.port }}" instead of { .Values.goreplay.port | quote }}

[2019-03-14 13:28] #5445 closed

[2019-03-14 13:35] diederichm commented on #5197
Ok, i made this work for me -
downloaded and extracted https://storage.googleapis.com/kubernetes-helm/helm-v2.13.0-linux-s390x.tar.gz

docker build using this Dockerfile :
`FROM alpine:3.7

RUN apk update && apk add ca-certificates socat && rm -rf /var/cache/apk/*

ENV HOME /tmp

COPY helm /helm
COPY tiller /tiller

EXPOSE 44134
USER 65534
ENTRYPOINT ["/tiller"]
`
pushed this into my docker repo
r

[2019-03-14 13:51] hickeyma commented on #5197
@diederichm That's great. Can you add the comment to #5444 as well?

[2019-03-14 13:55] grahamegee commented on #5316
I couldn't reproduce this directly using the unmarshaler.

[code]

[code]

[code]

[2019-03-14 14:12] hickeyma commented on #5446
I was not able to produce this using this simple example.

[code]
If you can provide me with more information, I will try and reproduce.

[2019-03-14 14:17] hickeyma commented on #5446
It also works with the `\n` in it.

[code]

[2019-03-14 14:27] tobylo commented on #5377
I have only been able to test your version on my local dev machine, --atomic works, but so it is using the 2.13 version.

While trying to test ways of getting the test version running on the build agents, I upgraded kubectl to 1.13.4 and tried --atomic with a higher --timeout, and now atomic upgrades work with v2.13 as well. I would assume it's due to the kubectl upgrade and not the --timeout, bec

[2019-03-14 14:27] #5377 closed

[2019-03-14 14:28] Jean85 commented on #4670
Can someone re-label this issue as a bug? It renders impossible to use jobs as hooks as documented [here](https://github.com/helm/helm/blob/master/docs/charts_hooks.md#writing-a-hook)

[2019-03-14 14:32] diederichm commented on #5444
Ok, i made this work for me -
downloaded and extracted https://storage.googleapis.com/kubernetes-helm/helm-v2.13.0-linux-s390x.tar.gz

docker build using this Dockerfile :
[code]

pushed this into my docker repo
ran

[code]

[2019-03-14 14:32] #5444 closed

[2019-03-14 14:37] bacongobbler commented on #5377
I'm pretty sure it's more likely due to the increased timeout. Because `helm upgrade --atomic` also enables the `--wait` flag, Helm keeps the connection open until all of the replicas in your deployment have returned to a ready state or the specified timeout has been reached. By increasing the timeout, you're giving helm more time to wait for the pods to come alive. I don't believe there was any s

[2019-03-14 14:47] bacongobbler commented on #4670
This particular error occurs when a chart [does not define any templates](https://github.com/helm/helm/blob/745e772d6469a020179ec124bdb72a516a2addb3/pkg/kube/client.go#L434-L436).

If I'm understanding the reports here, are all the resources within the chart are marked as a hook? Hooks are considered "un-managed" by tiller. If everything is marked as a hook and there are no other objects to instal

[2019-03-14 14:48] bacongobbler commented on #4670
After mulling this through I don't think this is a bug from the backend's point of view, but rather a usability issue which we can address with docs or a better understanding of the use cases involved.

[2019-03-14 14:52] bacongobbler commented on #4670
I just deleted all the "+1" comments in this thread. In the future, please add a :+1: to the OP instead. That way we can keep the discussion moving forward without a bunch of +1 comments flooding the thread. Thanks!

[2019-03-14 14:57] itdove commented on #4755
[code]

Wonder if a settings.InitTLS call is not missing here:
https://github.com/helm/helm/blob/master/cmd/helm/helm.go#L156

[2019-03-14 15:38] asloan7 commented on #4781
Yes, AWS EKS 1.11.5 (1.11.8 master now) throwing same error

[2019-03-14 16:06] Jean85 commented on #4670
No, we do not have only hooks. In my case, we have a functioning chart with multiple deployments, and we want to add a single job as a `pre-install,pre-upgrade` hook. And that doesn't work, because Helm needs to wait of its completion.

[2019-03-14 16:25] bacongobbler commented on #4670
If you wouldn't mind providing an example to use for testing purposes, that would be helpful to identify the issue. Thanks!

[2019-03-14 16:31] nzoueidi commented on #1455
looks like this issue is still happening even when I followed all the steps in this PR (https://github.com/helm/helm/pull/1492/files).

[2019-03-14 16:59] gianiaz commented on #4670
@bacongobbler after deploing on staging we call a job for updating a schema using a symfony command.

[code]
apiVersion: batch/v1
kind: Job
metadata:
  name: schemaupdate
  labels:
    app: {{ $.Values.app.name }}
    tier: schemaupdate
  annotations:
    helm.sh/hook: "pre-install,pre-upgrade"
    helm.sh/hook-delete-policy: "before-hook-creation"
spec:
  template:
    metadata:
      labels:

[2019-03-14 17:02] Jean85 commented on #4670
We can simplify that job like this (for debug purposes):

[code]

Obviously you need at least an other working non-hook template to make it testable, but it shouldn't matter which one, it's enough that it's a resource that Helm is able to deploy on its own.

[2019-03-14 18:25] CosminSontu commented on #4490
Running on following version of helm:
Client: &version.Version{SemVer:"v2.11.0", GitCommit:"2e55dbe1fdb5fdb96b75ff144a339489417b146b", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.11.0", GitCommit:"2e55dbe1fdb5fdb96b75ff144a339489417b146b", GitTreeState:"clean"}

In my case i have the following situation:
common-chart
intermediate-chart --(requires[dependencies.common-chart.enabled=fa

[2019-03-14 19:36] raehik commented on #2514
@johnmarcou That's a clever trick. Thanks!

[2019-03-14 19:57] Nowaker commented on #4174
This error happens always after getting a random `transport is closing` error. That means, if my `helm upgrade --install` fails with `transport is closing` error (timeout), then the release enters PENDING_UPGRADE status and all subsequent `helm upgrade --install` will result in:

- `Error: UPGRADE FAILED: "namehere" has no deployed releases` if `--force` is NOT passed
- `Error: UPGRADE FAILED: a r

[2019-03-14 23:11] bacongobbler commented on #5386
After pairing with @adamreese, it looks like we could potentially resolve this by making a few modifications to #5443. Assigning this to myself to investigate

[2019-03-14 23:36] cgetzen opened #5449 "Helm template doesn't call function on upgrade"
Goal: Update an annotation if a given value is set in values.yaml
What's actually happening:
[code]
When  I set .Values.refresh to "some_value", it does not update the annotation.

Failing snippet:
[code]

Working snippet:
[code]

I would expect the two snippets to behave similarly.

Output of `helm version`:
Client: &version.Version{SemVer:"v2.12.3", GitCommit:"eecf22f77df5f65c823aacd2dbd30ae6c65

[2019-03-15 01:03] eroji opened #5450 "Authentication for chart package tgz url"
I am trying to host charts using BitBucket repo that requires basic authentication. How do I create the URL entry in index.yaml so that the packaged charts can be retrieved properly?

[2019-03-15 01:35] f4tq commented on #5442
It was indeed an azure cli issue that as described here: https://github.com/Azure/azure-cli/issues/8794.
-Chris

[2019-03-15 01:35] #5442 closed

[2019-03-15 03:08] jeremyxu2010 commented on #5430
@hickeyma

[2019-03-15 03:09] jeremyxu2010 commented on #5430
@hchauvin I use `helm upgrade --install --recreate-pods --force test xxx.tgz` to upgrade

[2019-03-15 03:26] jeremyxu2010 commented on #5430
@hickeyma In my scenario， I change `appVersion` and `image.tag` in chart's tgz file, then use `helm upgrade --install --recreate-pods --force xxx xxx-1.0.0.tgz`  to upgrade a release. `helm list` shows the release has upgraded to the new `appVersion`， but the image in deployment DOES NOT change.

I review helm's code, and found codes below:

[code]
It is clear that the second `if logic` caused pro

[2019-03-15 03:31] jeremyxu2010 commented on #5430
In my scenario， I use helm upgrade --install --recreate-pods --force --reset-values xxx xxx-1.0.0.tgz to upgrade a release now.

[2019-03-15 08:06] hickeyma commented on #5450
@eroji Did you look at the [chart repo docs](https://github.com/helm/helm/blob/master/docs/chart_repository.md)?

[2019-03-15 09:04] hickeyma commented on #5449
What are the outputs of both cases when you run with `dry-run`: `helm upgrade --debug --dry-run ..` ?

[2019-03-15 10:41] pamiel commented on #4670
Hi @bacongobbler

Here is the usage we have of a chart containing hooks only: we got inspired by the documentation on hooks that says `Execute a Job to back up a database before installing a new chart, and then execute a second job after the upgrade in order to restore data.`

So, among others, we built a Job which goal is to backup some data. This Job is to be executed before some other installat

[2019-03-15 12:12] alphabettispaghetti commented on #5436
This worked for me, thank you.

[2019-03-15 12:12] #5436 closed

[2019-03-15 12:53] selslack commented on #1193
@bacongobbler @michelleN
Is there anything what makes it hard to improve error message for this issue?

I believe error message should state that "there is a conflict because resource wasn't created by helm and manual intervention is required" and not "not found". Only this small change to the error will improve user experience by a good margin.

[2019-03-15 13:11] groundnuty commented on #3734
any change to accept this pull request? this feature (aka. bug) has been part of helm for long enough....

[2019-03-15 13:57] cakrit opened #5451 "Using a multi-line value in a configmap"
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
GKE

---

I've been trying unsuccessfully to have the entire contents of a multi-line configuration file in a `configmap.yaml` specified in `values.yaml`. The hack that got me the closest was to do the following:

In `values.yaml`:
[code]

In `configmap.yaml`:
[code]

Note: The

[2019-03-15 15:21] bacongobbler opened #5456 "ref(status): introduce a `FlatRelease` struct for structured output"
`helm status` should use a JSON form of the Release object for formatting rather than stripping information out of the Release object for general consumption.

See https://github.com/helm/helm/pull/5455 for a potential solution.

[2019-03-15 15:27] blandman commented on #3179
Is this still true? I would love to have this functionality.

[2019-03-15 15:49] ramalhais-sky commented on #3425
It would be nice to know what you changed to fix it. There's nothing more annoying than finding a problem like yours and then not knowing how you fixed it.

[2019-03-15 16:11] cgetzen commented on #5449
Failing snippet:
`helm upgrade name ./charts/my_chart --set refresh="some_value" --reuse-values --debug --dry-run` returns the same as `--set refresh="not_some_value"`:
[code]

Working snippet:
`helm upgrade name ./charts/my_chart --set refresh="not_some_value" --reuse-values --debug --dry-run` returns the above snippet (annotation_name = true), which is correct. Running the working snippet with `

[2019-03-15 17:18] walkafwalka commented on #5417
Oh, I see. I did not expect that there.

Maybe we can move the strict logic out of [renderWithReferences](https://github.com/helm/helm/blob/master/pkg/engine/engine.go#L231) and back into [Templates](https://github.com/helm/helm/blob/master/pkg/lint/rules/template.go#L111) as a warning.

[2019-03-15 17:37] Nowaker commented on #4174
The way to recover from this error is:

[code]

The same `helm install --upgrade` on top a working revision will succeed without error.

CC @bacongobbler

[2019-03-15 17:46] walkafwalka commented on #5417
Or maybe we should remove the logic from [renderWithReferences](https://github.com/helm/helm/blob/master/pkg/engine/engine.go#L231)?

Should missing keys even a be warning?
- If yes, should we restore the old logic so that it warns on `helm lint` and fails on `--strict`?
- If no, should we remove the error from the renderer?
- Should we downgrade it to an informational message?

[2019-03-15 18:39] michelleN commented on #1193
@selslack I would very much in favor of improving the error message 👍

[2019-03-15 22:48] tdavis commented on #3275
Same, @thedumbtechguy. I run into this issue routinely. It's especially fun when Helm decides you need to delete _all_ your secrets, configmaps, roles, etc. Upgrading becomes a game of wack-a-mole with an ever-increasing list of arguments to `kubectl delete`. I should have thrown in the towel on this sisyphean task months ago, but it's too late for that now. Sure hope this and the dozens of simila

[2019-03-16 00:11] thedumbtechguy commented on #3275
I've been using helm for one week and already faced everything outlined
here https://medium.com/@7mind_dev/the-problems-with-helm-72a48c50cb45

A lot needs fixing here.

On Fri, Mar 15, 2019, 10:49 PM Tom Davis <notifications@github.com> wrote:

[2019-03-16 01:55] tylercamp commented on #4699
Was just running into this issue, I:

- Ran `helm install --dry-run --debug ...`
- Copied the YAML output to a file
- Passed that file to `kubectl create -f ...`

... and found there was a syntax error in a a PVC definition in my chart. Something to try if this issue is a complete blocker.

[2019-03-16 18:00] sajayantony opened #5461 "Support Helm login for V3"
Currently you can push a helm chart to an OCI registry in V3.
We need to support a unified way of storing credentials so that the user name and passwords can be used during push to an OCI registry.

Output of `helm version`:
version.BuildInfo{Version:"v3.0+unreleased", GitCommit:"a32f8ebb377da054d21510671d63729fe6a00f3a", GitTreeState:"clean"}

/cc @jdolitsky @shizhMSFT

[2019-03-17 12:54] grebois opened #5463 "[BUG] fatal error: unexpected signal during runtime execution"
After migrating from v2.9.1 to v.2.13.0 Im getting very often this error when updating charts:

[code]

Output of `helm version`:

[code]

Output of `kubectl version`:

[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

AWS

[2019-03-18 02:36] arief-hidayat commented on #5456
Hi,
I am interested to start contributing. Has someone started working on this issue?

Thanks

[2019-03-18 04:13] pcfens opened #5465 "Best Practices/Docs Question - Specify Namespace in Chart?"
I've found that some charts have a line like `namespace: {{ .Release.Namespace }}` in the metadata of each object, but others (including those in [helm/charts](https://github.com/helm/charts)) don't. Without the namespace specified in the template the command `helm template --namespace not-default --values config.yaml chart/ | kubectl create -f -` installs the chart in the default namespace. For c

[2019-03-18 08:55] emichaf opened #5466 "Helm dependencies values manipulated via --set ?"
How to set dependent chart values via --set?

I have some dependent charts specified in requirements.yaml -> dir /charts

How can i change the dependent charts values via --set ?

[2019-03-18 09:12] emichaf commented on #5466
https://github.com/helm/helm/blob/master/docs/chart_template_guide/subcharts_and_globals.md

[2019-03-18 09:12] #5466 closed

[2019-03-18 09:17] nihongi opened #5467 "Different status between helm and kubernetes."
I dont know if this is bug or feature request.

kubernetes: v1.11.6
helm: v2.11

how to reproduce:
1. Create deployment chart and pvc chart seperately
2. helm install pvc
3. helm install deployment (which mounts the pvc as a volume.)
4. helm delete pvc (In kubernetes, the pvc remains TERMINATING, because of StorageObjectInUseProtection.)
5. helm list (The release of the pvc is not present.)

Isn't

[2019-03-18 14:33] bacongobbler commented on #5467
By default, helm does not wait for all resources to be cleaned up before it exits. You can use the `--wait` flag if you wish to wait for all the resources to be deleted.

[2019-03-18 14:42] selslack commented on #1193
@michelleN I've prepared a PR to change the error text: #5460.

[2019-03-18 14:50] bacongobbler commented on #5465
Thank you for pointing that out! Yes, we should address that question in the best practices documentation. In general, templates should not define a namespace. This is because Helm installs objects into the namespace provided with the `--namespace` flag.

The same applies to `kuectl create -f`: by providing a `--namespace`, those resources will be installed there. For example:

[code]

Hope this h

[2019-03-18 15:06] bacongobbler commented on #5456
Hi there! Yes, this is something that I've started work on. This is strictly for the Helm 3 branch so it doesn't apply to Helm 2. Sorry!

[2019-03-18 15:28] pcfens commented on #5465
That makes sense, especially in cases where helm is also applying the rendered manifests.

If that's the recommendation, a note should probably be added to the [template subcommand docs](https://helm.sh/docs/helm/#helm-template) too. Charts that manage RBAC resources (specifically RoleBinding objects) are often rendered in a way that would require helm and kubectl to have the same namespace specif

[2019-03-18 16:01] Keramblock commented on #5370
I am finally fixed my go env and managed to run unit tests.
So i have created a pull request. Will appreciate any comments according to my work and/or potential process violation from my side.

[2019-03-18 17:32] #5370 closed

[2019-03-18 18:32] DBarthe commented on #3701
I faced similar issue using helm v2.12.3 and k8s v1.11.4.
I had to manually edit the deployment yaml.
 The problem seems to occur only with environments, image name and other settings are correctly updated.

[2019-03-18 20:55] alice-sawatzky commented on #4331
is there no flag to override this behavior?

[2019-03-19 01:15] nihongi commented on #5467
Thanks, but it doesn't work for me.

helm delete --tls --tiller-namaspace myspace --wait pvc
Error: unknown flag: --wait

[2019-03-19 03:43] arief-hidayat commented on #5456
no problem. thanks

[2019-03-19 05:01] jascott1 commented on #5463
Hi @grebois

Sorry you are having trouble. Would you be able to provide steps to reproduce this?

[2019-03-19 06:30] nicroto commented on #3480
Hey guys, while reading thread I tried a few things out and I may've (accidentally) discovered (at least one of) the reason(s) for the error - port-forwarding to another service on the same client. I had a port-forward on port 3000 and as soon as I stopped it - the error stopped showing up. I imagine a CI client doesn't port-forward to the cluster while building (or ever), so it may be something o

[2019-03-19 07:10] randude opened #5473 "On upgrade, removing a serviceAccount from a deployment template does not get applied to kubernetes deployment object"
I'm having similar issues that are displayed here:
https://github.com/helm/helm/issues/4429
However, this is a BUG and not a question. Helm breaks my deployment.

I installed a deployment which was added a serviceAccountName. Then when I tried to install a version that doesnt use the serviceAccountName, the pod couldn't load.
What happened is that the serviceAccount was deleted as expected BUT the

[2019-03-19 07:19] yaaragrad commented on #5473
What a terrible bug!
We have the same issue in our production environment.
We really need it to be fixed ASAP!

[2019-03-19 13:23] HerbiePorter commented on #3486
We'd really like this feature as well.  We have a hierarchy of values files (eg: base.yaml <- qa.yaml) which are passed to helm via `-f values/base.yaml,values/qa.yaml`.   As others have mentioned it would be great if we could merge the qa values into the base values without having to repeat everything.

[2019-03-19 13:43] hickeyma commented on #5473
@randude, would you be able to attach you deployment template and the changes you make for the upgrade?

[2019-03-19 13:56] hickeyma commented on #5417
@walkafwalka Do you want to create a PR and give it a go?

[2019-03-19 14:07] hickeyma commented on #5449
@cgetzen Looking at the two snippets again, the first thing is that they are not the same logic. The second snippet has a simple string check which works if the strings are the same.

The first snippet seems rather complex. What is it supposed to do? Is it supposed to work exactly the same as snippet one?

[2019-03-19 14:37] atheiman opened #5474 "Feature: 'helm test' extra resources"
Im using [`helm test`](https://github.com/helm/helm/blob/master/docs/chart_tests.md) to test my chart and it works well. Unfortunately I need more than just a pod for my chart to be accurately tested - I need to spin up a new namespace and a service and pods in that namespace.

What I'm doing to make this work right now is I have a Boolean value that determines if the extra test resources will be

[2019-03-19 16:02] rclabough commented on #5296
+1, one hour spent searching to find this post.

[2019-03-19 16:09] awprgrmmr commented on #5417
Yes, I have something almost complete. Hopefully should have something ready for review by next week.

[2019-03-19 16:11] hickeyma commented on #5430
@jeremyxu2010 I created a scaffold chart using `helm create` and tested as follows.

Install:

[code]

[2019-03-19 16:15] hickeyma commented on #5430
Upgrade worked as expected with the image updated.

[code]

[2019-03-19 16:17] hickeyma commented on #5430
@jeremyxu2010 I wonder is the issue with chart or the tarball. Could you test it with your chart extract out and then do an install and upgrade?

[2019-03-19 16:23] hickeyma commented on #5474
@atheiman thanks for raising this.

@michelleN I wonder should this be put on the [test proposal plan](https://github.com/helm/community/pull/40) for v3?

[2019-03-19 16:40] swachter commented on #3242
Is this feature still in consideration? It would allow to share values between multiple subcharts. I do not see another reasonable mechanism to accomplish this right now.

[2019-03-19 16:44] leidixujian opened #5475 "Hook is not trigger"
Context: Kubenete 1.0.3, Helm 2.8.2

Helm Hook: pre-install
weight: 0
delete-policy: before-hook-creation

Helm command:
helm upgrade --install -n namespace

Problem description:
The hook block is well rendered when running with --dry-run mode. But after real installing (without dry-run), no hook job is triggered.

Method checking:
Check the job using command kubectl get jobs -n namespace. A hook

[2019-03-19 16:54] s-spindler commented on #4949
Apparently this was implemented in #5086 - any chance for that PR to get a review?

[2019-03-19 18:26] fabiodoaraujo commented on #3933
+1

[2019-03-19 19:12] gnydick commented on #2060
for now, I just use

`helm install --name <namespace>-<name> ...`

Yes the current way things work stinks, but, all you need is globally unique names to manage, and there's no reason you can't just create a compound key for the name of the release.

[2019-03-19 20:50] juv commented on #5446
@hickeyma I can confirm that this works as intended on my personal computer. I tried to reproduce it with `\r\n` and `\n` but the templating seems fine. Note that I am using Windows 10 on both machines. I will try out tomorrow on my computer at work and let you know.

[2019-03-19 21:37] bd commented on #3669
I'm still seeing this error when hitting `tab` on `helm install --namespace dev --name local-dev adv-api --values`

[code]

[2019-03-19 22:38] etos commented on #3282
+1

[2019-03-19 23:29] nvtkaszpir commented on #4393
any progress on this?

[2019-03-19 23:44] quantum-fusion commented on #3986
Still seeing the same bug in v2.13.0.

helm ls
Error: Get http://localhost:8080/api/v1/namespaces/kube-system/pods?labelSelector=app%3Dhelm%2Cname%3Dtiller: dial tcp 127.0.0.1:8080: connect: connection refused
Windows10-Pro:~ quantum-fusion$ helm version
Client: &version.Version{SemVer:"v2.13.0", GitCommit:"79d07943b03aea2b76c12644b4b54733bc5958d6", GitTreeState:"clean"}
Error: Get http://localhos

[2019-03-19 23:46] quantum-fusion commented on #3986
@bacongobbler Can you comment on the errors with tiller and helm with connection refused?

[2019-03-20 00:00] quantum-fusion commented on #3986
@bacongobbler Here is a good test case.  (https://daemonza.github.io/2017/02/20/using-helm-to-deploy-to-kubernetes/ ).  We are having the Microsoft OpenHack conference, and are wondering what version of Helm is installed on Azure.

[2019-03-20 00:10] quantum-fusion commented on #3986
@bacongobbler I executed a different test on MAC (https://docs.bitnami.com/kubernetes/how-to/create-your-first-helm-chart/).

613  helm install --dry-run --debug ./mychart
  614  helm install --dry-run --debug ./mychart --set service.internalPort=8080
  615  helm install --name example ./mychart --set service.type=NodePort
  616  export NODE_PORT=$(kubectl get --namespace default -o jsonpath="{.sp

[2019-03-20 01:58] danyim opened #5476 "[BUG] Helm get script returning incorrect tag"
Output of `helm version`:
N/A
Output of `kubectl version`:
N/A
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
N/A

Helm's [`get` script](https://raw.githubusercontent.com/kubernetes/helm/master/scripts/get) captures the incorrect tag from [Github's latest releases page](https://github.com/helm/helm/releases/latest) when `DESIRED_VERSION` isn't specified. This may happen as a result of Github c

[2019-03-20 02:30] gleb-britecore commented on #5476
same for me
[code]

[2019-03-20 02:32] danyim commented on #5476
Temporary workaround for us was to add a `DESIRED_VERSION` environment variable in our CI provider.

e.g.:
[code]

[2019-03-20 02:51] danyim commented on #5476
What would be a better workaround instead of trying to select an HTML value by piping commands together is to read the redirected URL.

For instance, navigating to https://github.com/helm/helm/releases/latest redirects you to https://github.com/helm/helm/releases/tag/v2.13.0

[2019-03-20 03:05] danyim commented on #5476
Not sure if this is possible with `wget`, however.

[2019-03-20 03:29] matthalbersma commented on #5476
Same error on my pipelines.

[2019-03-20 03:38] Andycharalambous opened #5477 "https://raw.githubusercontent.com/helm/helm/master/scripts/get script fails - SHA1 verification failure - aborts"
The SHA1 verification of the helm binary downloaded via the script at https://raw.githubusercontent.com/helm/helm/master/scripts/get fails as of today. I'm using this method to install helm on CircleCI build job and it's been working great but now it's failing everytime. I tried it on my own machine and the script aborts as well.

[code]

[2019-03-20 03:50] bacongobbler commented on #5477
I can confirm this as well. I think it may have to do something with a change in the github release URL that we're scraping to fetch the latest release number. I'll take a closer look.

[2019-03-20 03:57] bacongobbler commented on #5477
Yep, identified the issue. Patch incoming

[2019-03-20 04:09] bacongobbler commented on #5477
@Andycharalambous please give #5478 a try. Basically Github's release page was updated which is what the get script relies on to fetch the correct version. I had to add an additional check to the get script to strip out further href links that were added to the releases page.

[2019-03-20 04:10] bacongobbler commented on #5476
dupe of #5477. Please see https://github.com/helm/helm/issues/5477#issuecomment-474677151

[2019-03-20 04:11] #5476 closed

[2019-03-20 04:16] Andycharalambous commented on #5477
Still not working on circleci - but I will try the DESIRED_VERSION work around - probably just a stale cache issue on there.

Thanks.

[2019-03-20 06:56] rodrigc commented on #5477
Instead of scraping the web page, why not use the GitHub API?

https://api.github.com/repos/helm/helm/releases/latest

[2019-03-20 07:16] noamgu commented on #5473
+1

[2019-03-20 07:19] bacongobbler commented on #5477
The issue with relying on the GitHub API for a global download script is the issue of being rate limited. Unauthenticated requests to the GitHub API requires the use of an API key, or you will be limited by a global 60 requests per second. It's ideal for CI operators but it is not a good experience for first timers looking for an out of the box experience for installing Helm.

We'd consider suppor

[2019-03-20 07:28] randude commented on #5473
This is basically the file without the more company specific volumes/secrets.
All we did is add the serviceAccountName and another yaml where the service account was . Once we installed the previous version which didnt have the serviceAccountName entry and the service account yaml, all hell broke lose. The pod didnt load as K8s was looking for the serviceaccount which was deleted by Helm.

{{- if

[2019-03-20 08:03] rodrigc commented on #5477
@bacongobbler https://github.com/helm/helm/pull/5479

[2019-03-20 08:47] erziasd commented on #5477
Another workaround that I'm using is giving the desired version for the script as a parameter, like so:
`curl -fsSL https://raw.githubusercontent.com/helm/helm/master/scripts/get | bash -s -- -v v2.13.0`

[2019-03-20 08:57] rodrigc commented on #5477
Going with https://github.com/helm/helm/pull/5479 simplifies the parsing logic in the get script, because api.github.com returns JSON.

Although there are API limits, according to https://developer.github.com/v3/#rate-limiting :

[code]

I doubt that more than 60 requests per hour are running the helm get script from the same IP address.   So for an initial solution for helm, I think that https://

[2019-03-20 09:18] bacongobbler commented on #5477
It is NOT okay to rely on api.github.com for general consumption. There are organizations that will hit that rate limit often and frequently (example: in a CI environment run against each push to a PR). We'd be happy to maintain that as a feature flag but not for general use.

[2019-03-20 09:25] edwardmabuyo commented on #5477
Same issue.
[code]

[2019-03-20 09:44] dkmbw commented on #5477
Same issue. Couldn't you make a helm.github.io page mit release data and download links which is easier to parse? that you could generate automatically also...

[2019-03-20 09:53] guizmaii commented on #5477
Same here

[2019-03-20 09:56] #5477 closed

[2019-03-20 09:58] rodrigc commented on #5477
@bacongobbler you haven't convinced that enough users are downloading the Helm get script to trigger the GitHub API rate limits.

However, if it is a concern, then I would suggest that *after* a Helm release is made,
take the output of https://api.github.com/repos/helm/helm/releases

and saving it as a gist.  That way you would have a well formed file that is easy to parse, and you would not hit t

[2019-03-20 10:01] guizmaii commented on #5477
When the fix will be available ? It's still failing :/

[2019-03-20 10:04] bacongobbler commented on #5477
The fix was merged in #5478. Please give it another try.

[2019-03-20 10:06] guizmaii commented on #5477
@bacongobbler It works now. Thanks

[2019-03-20 10:08] juv commented on #5446
I can't seem to be able to reproduce this anymore. A weird part is that another colleague of mine had the same issue. I will close this for now, until I am able to reproduce it.

[2019-03-20 10:08] #5446 closed

[2019-03-20 10:14] bacongobbler opened #5480 "ref(scripts/get): follow redirects to fetch the latest version"
Based on a suggestion made by @danyim in https://github.com/helm/helm/issues/5476#issuecomment-474663546:

[2019-03-20 10:49] DPeterK opened #5481 "Helm get script failing"
The helm `get` script is currently failing on Ubuntu:

[code]
A quick look seems to suggest that the `.sha256` element on the end of the download URL might not be working correctly, which seems to be what's causing the sha256sum check to fail.

[2019-03-20 11:11] HamzaK8s commented on #2397
@thomastaylor312  @technosophos  I'm facing the same issue here, I can't do an upgrade over an existing resource, even thought I used hooks.

For instance, I already installed a release named myproject that had a secret
[code]

when I do  ```  helm upgrade --install --force project --tiller-namespace dev dev/ ``` I got this as result

``` Error: UPGRADE FAILED: secrets "secret" already exists ```

[2019-03-20 11:16] HamzaZo opened #5482 "Helm upgrade install --force fails with "already exists""
I can't do an upgrade over an existing resource, even thought I used hooks.

For instance, I already installed a release named myproject that had a secret

[code]
when I do ``` helm upgrade --install --force project --tiller-namespace dev dev/  ```
I got this as result

Error: UPGRADE FAILED: secrets "secret" already exists

Logs of Tiller:
[code]
Any help for this issue ?

Thank you

Output of `h

[2019-03-20 11:20] venkat-koppisetti opened #5483 "Multiline SSl Certificate is replacing with spaces in Secret, when cert value is providing from helm chart values.yaml file"

[2019-03-20 11:38] #5483 closed

[2019-03-20 11:39] venkat-koppisetti commented on #5483
I found the solution, Hence closed.
Apologies for the inconvenience.

[2019-03-20 11:41] dvt1996 commented on #5481
I have just tested your command and successfully done. Is there something wrong with you?

[2019-03-20 12:24] DPeterK commented on #5481
For me too - must have just been a blip. Thanks for your help!

[2019-03-20 12:24] #5481 closed

[2019-03-20 12:58] hsychla opened #5484 "CHART info in `helm list` not updated on upgrade"
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.): GKE

I initially installed a helm chart to a cluster using a  local master-branch checkout of our chart.
`helm list` showed `<chart>-master` in the `CHART` column, as expected.

I just upgraded the chart from a local checkout of another branch.
`helm list` still shows `<chart>-ma

[2019-03-20 12:59] Simon3 commented on #4695
See https://github.com/helm/charts/issues/7803 ?

[2019-03-20 13:06] hsychla commented on #5484
Ah, the `-master` is coming from `version` in the `Chart.yaml` I guess, so I am quickly closing this issue ;)

[2019-03-20 13:06] #5484 closed

[2019-03-20 15:22] leidixujian commented on #5475
The hook should be pre-upgrade. Question is resolved.

[2019-03-20 15:22] #5475 closed

[2019-03-20 15:30] Rene-76 commented on #3282
+1

[2019-03-20 15:31] nuxlli commented on #4987
@hickeyma sorry for the delay in responding to this issue. I tested it with v1.13.0 and it works, thank you for the solution :)

[2019-03-20 15:51] bacongobbler commented on #5481
Please see #5477

[2019-03-20 15:53] #4987 closed

[2019-03-20 18:18] prashantchari opened #5486 "Helm installation failing with sha mismatch"
Running the get_helm.sh script for 2.11, throws sha sum mismatch. The script from the master branch seems to be working though.

wget -q https://raw.githubusercontent.com/helm/helm/v2.11.0/scripts/get -O get_helm.sh
 ./get_helm.sh
Downloading https://kubernetes-helm.storage.googleapis.com/helm-tooltipped-s-linux-amd64.tar.gz
SHA sum of /tmp/helm-installer-TN4hzI/helm-tooltipped-s-linux-amd64.tar.g

[2019-03-20 18:23] bacongobbler commented on #5486
Dupe of https://github.com/helm/helm/issues/5477. Please use the install script from master. Thanks!

[2019-03-20 18:23] #5486 closed

[2019-03-20 18:44] sebglon commented on #3740
same for me for 3 of 10 release upgrade with the same chart.
[code]

[code]

[2019-03-20 19:35] nfisher commented on #2060
Ok so it sounds like there are 3 fundamental scenarios (with potential for various permutations mixing each):

1. single namespace'd chart.
2. resource which is not namespaceable.
3. multi-namespace'd chart.

Would this be a reasonable approach to address the different scenarios:

1. inject/override the namespace when supplied with the `--namespace` flag.
2. same as 1 but ignore the namespace for

[2019-03-20 19:42] cpoole commented on #3933
I have the same issue.

my repro steps are the same as @wendorf

[2019-03-20 19:47] technosophos opened #5487 "Docs: Remove "Kubernetes" from contributor guidelines"
The first paragraph of this doc still says "Kubernetes Helm". It should simply be "Helm" now.

https://github.com/helm/helm/blob/master/CONTRIBUTING.md

[2019-03-20 20:32] cgetzen commented on #5449
Thanks for the close inspection. Is there an easier way to move that logic to a define block? The rationale is this is going to be placed all over the place, and probably added to (instead of one annotation being returned, in the future 2 or 3).

From my reading, the logic is identical.
the first snippet defines "resolve" which reads "repo" out of the context dict, and outputs the exact same annot

[2019-03-20 20:44] ian-howell opened #5488 "Helm v3 segfaults on `helm ls` and `helm upgrade`"
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): **kubeadm**

It seems as though Helm v3 is crashing in a seg fault when running `helm ls`, `helm upgrade`, and possibly other commands. This only happens after a release has been installed into the cluster.

To reproduce, starting with a fresh cluster:
[code]

Here's the stacktr

[2019-03-20 20:50] bacongobbler commented on #5488
e5094169d7f3b9addbb1b15ec684b4a88357499f is a little old there. This was fixed in #5455. Can you please check with a more recent version?

[2019-03-20 21:08] ian-howell commented on #5488
oops, forgot to pull upstream :flushed:

This is resolved.

[2019-03-20 21:08] #5488 closed

[2019-03-20 21:29] pulpbill commented on #3933
+1 we are using helm latest version. It's a big issue when you need to run a fix in prod and the configmap doesn't get updated.

[2019-03-21 02:58] lzcmoody commented on #4732
aha, I have meet this issue : Error: Looks like "https://kubernetes-charts.storage.googleapis.com" is not a valid chart repository or cannot be reached: Get https://kubernetes-charts.storage.googleapis.com/index.yaml: proxyconnect tcp: EOF

and fixed follow https://github.com/helm/helm/issues/4271

[2019-03-21 05:36] arief-hidayat commented on #5480
Can I work on this issue?
Thanks

[2019-03-21 05:44] bacongobbler commented on #5480
Sure!

[2019-03-21 06:23] arief-hidayat commented on #5480
Instead of just fixing the redirect, where there's doubt on wget
https://github.com/helm/helm/issues/5477#issuecomment-474666318

I have slightly different proposal, to call the github API endpoint.

[code]
what do you think?

[2019-03-21 06:54] bacongobbler commented on #5480
Someone already proposed that and I said it wasn't a good idea. Have a look at https://github.com/helm/helm/pull/5479 for more background info.

[2019-03-21 08:14] Morishiri opened #5490 "`helm template` only works with local charts"
`helm template` command seems to work only with local charts, I've tried to display computed resources of remotely located chart and it fails with message that file doesn't exist.

Examples:
- normal way:
[code]
- with `--repo` command line argument:
[code]
I bet this should work the same way as `install` command when it first look if repository with given name exist and search for chart there, th

[2019-03-21 08:24] arief-hidayat commented on #5480
I see. Thanks

[2019-03-21 10:51] cakrit commented on #5451
It does work with `{ toYaml .Values.somekey | indent 2 }}`. The error was completely unrelated, an error earlier in the configmap.

[2019-03-21 10:51] #5451 closed

[2019-03-21 12:17] rtpro commented on #3276
Hi, What's the latest on this topic? We are also looking for the requested behaviour.  Thanks

[2019-03-21 12:28] krish7919 opened #5493 "Helm tests to run at scale with 2k charts?"
Hi,
Is there any documentation about the scaling scenarios of helm?

I am fed up with `helm` returning `[storage/driver] 2019/03/21 12:22:56 list: failed to list: the server was unable to return a response in the time allotted, but may still be processing the request (get configmaps)`, and we have doubled the number of masters in the cluster to ignore `apiserver` bottlenecks.

How does `helm` beha

[2019-03-21 12:54] Morishiri commented on #5490
Update: Just noticed that another options are also not available (ex. `--version` to specify chart version). I know this command is ported from the plugin, so maybe this task would be good starting point to align this to other helm commands.

[2019-03-21 13:00] jnsvd commented on #3495
I'm also experiencing this issue.

[2019-03-21 14:56] mymbrooks opened #5494 "Error: forwarding ports: error upgrading connection: unable to upgrade connection: Forbidden (user=system:anonymous, verb=create, resource=nodes, subresource=proxy)"
Output of `helm version`:
Client: &version.Version{SemVer:"v2.13.0", GitCommit:"79d07943b03aea2b76c12644b4b54733bc5958d6", GitTreeState:"clean"}
Error: forwarding ports: error upgrading connection: unable to upgrade connection: Forbidden (user=system:anonymous, verb=create, resource=nodes, subresource=proxy)

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"13", GitVersi

[2019-03-21 15:25] rosskusler opened #5495 "Unable to delete parent values when specifying multiple values files"
We have a chart with a default set of values (in values.yaml) and we supply an override.yaml containing environment specific changes.  I am having trouble deleting values specified in values.yaml though.  In actuality I'm trying to override (delete) the grpc settings that are defined in the stable/dex chart.  However I have put together a toy example that, I think, demonstrates the problem.

$ cat

[2019-03-21 15:29] bacongobbler commented on #3276
Same as earlier. No update.

[2019-03-21 17:25] boothead commented on #1455
I've just hit this on a brand new set up of kubernetes on nixos (single machine running master and node). I've trying to follow the instruction here https://github.com/weaveworks/flux/blob/master/site/helm-get-started.md and get to

[code]

I tried this earlier today just running `kind` https://kind.sigs.k8s.io/ yesterday and it seems to all work fine.

[2019-03-21 17:32] bacongobbler commented on #1455
Is RBAC enabled? Check and see if you can `kubectl port-forward` to the tiller pod manually. Under the covers, helm is requesting a forwarded port from the kubernetes API server using your local Kube config. I'd start there and see if the same error comes up.

[2019-03-21 18:05] boothead commented on #1455
Thank @bacongobbler - I just tried that and got the same error - I'm a bit new to k8s, could you point me at any decent resources to understand what's going on?

[2019-03-21 18:26] loganxavier commented on #2064
Having the same error on a fresh machine, opened a question about [here](https://serverfault.com/questions/958912/helm-under-microk8s-giving-error-could-not-find-a-ready-tiller-pod).

[2019-03-21 18:26] loganxavier commented on #4510
Having the same error on a fresh machine, opened a question about [here](https://serverfault.com/questions/958912/helm-under-microk8s-giving-error-could-not-find-a-ready-tiller-pod).

[2019-03-21 18:27] loganxavier commented on #5071
Having the same error on a fresh machine, opened a question about [here](https://serverfault.com/questions/958912/helm-under-microk8s-giving-error-could-not-find-a-ready-tiller-pod).

[2019-03-21 18:41] loganxavier commented on #2295
Having the same error on a fresh machine, opened a question about [here](https://serverfault.com/questions/958912/helm-under-microk8s-giving-error-could-not-find-a-ready-tiller-pod).

[2019-03-21 19:08] derrickburns commented on #3742
Any progress on this?

[2019-03-21 19:17] dennisosimon commented on #3926
is there any chance to get to at some point?

[2019-03-21 21:06] jlegrone commented on #5490
This seems like a duplicate of https://github.com/helm/helm/issues/4401.

What works for me is

[code]

[2019-03-21 21:08] Morishiri commented on #5490
You're right! Let me close this one as duplicate then. Thanks also for the workaround :)

[2019-03-21 21:08] #5490 closed

[2019-03-21 21:14] jlegrone commented on #5482
@HamzaK8s I believe you just need to add a hook delete policy:

https://github.com/helm/helm/blob/c85f9ee8a37d79383b1c65dfd2056c371f8334ff/docs/charts_hooks.md#hook-resources-are-not-managed-with-corresponding-releases

[code]

[2019-03-21 22:03] bacongobbler commented on #4401
fixed in Helm 3. `helm install` and `helm template` now share the same codebase and are identical in behaviour, so `helm template` will now fetch remote charts before templating. For example:

[code]

[2019-03-21 22:03] #4401 closed

[2019-03-22 00:18] jlegrone commented on #5474
I definitely agree that it would be useful to allow creating arbitrary resources as part of `helm test`.

The [hook delete policy](https://github.com/helm/helm/blob/master/docs/charts_hooks.md#hook-resources-are-not-managed-with-corresponding-releases) annotations seem like they would be a great potential replacement for the `--cleanup` flag as well.

[2019-03-22 03:42] anoora17 commented on #3742
I have the same problem

[2019-03-22 10:01] HamzaK8s commented on #5482
@jlegrone if I use the hook ```"helm.sh/hook-delete-policy": before-hook-creation``` it will delete the secret before it creates, and my pods will crash so it does not make sense

I think that using hooks with ```Helm upgrade --install --force ``` not a good idea

[2019-03-22 11:24] maciej-sawicki-codilime commented on #3742
+1

[2019-03-22 14:12] jlegrone commented on #5482
I agree that you probably don't need to be using the `pre-upgrade` hook here if you already are using `pre-install`.

Please verify that this is the actual behavior, my understanding is that the secret will be deleted and re-created if it already exists in this case, _not_ that it will only be deleted.

[2019-03-22 14:14] gree-gorey opened #5497 "Un-quoted "on" and "off" strings evaluated as true/false in values.yaml"
Output of `helm version`:
[code]

When having keys and/or values like `on` and `off` within `values.yaml` file they are evaluated as `true` and `false`. There is no mention of this behavior in Helm docs. Took me a while to get to the bottom of the issue. When you quote them then everything is ok.

Here is the minimal example to reproduce:
[code]

This should be smth Helm-related because when I am

[2019-03-22 15:12] bacongobbler commented on #5497
As part of the YAML 1.1 specification, `ON | on | OFF | off` are considered valid boolean values. These values were dropped as part of the YAML 1.2 specfication, however go-yaml still supports those keys as part of its YAML 1.1 and 1.2 compatibility matrix.

See https://github.com/go-yaml/yaml/issues/214 for more information.

[2019-03-22 15:18] gree-gorey commented on #5497
@bacongobbler I see. Thank you for prompt reply and clarifying this!

[2019-03-22 15:24] bacongobbler commented on #5494
What happens if you run the following?

[code]

And in another terminal:

[code]

Under the covers, Helm initializes a port-forwarded tunnel to tiller through the Kubernetes API. It's possible that `kubectl` (or rather, the Kubernetes API server) is unable to upgrade the connection from an HTTP to a TCP stream. If the `kubectl port-forward` fails, then it's likely something wrongly configured in y

[2019-03-22 15:28] bacongobbler commented on #5389
I'm not sure, sorry. You will have to chat with either the GKE folks or the community on how to properly configure RBAC so a pod bound to a particular service account can talk to the Kubernetes API. I'm more familiar with AKS/minikube than GKE/EKS.

[2019-03-22 15:46] HamzaK8s commented on #5482
@jlegrone when I used the ```pre-install ``` hook only, the ``` helm upgrade --install ``` failed because when we use hooks, helm does not delete the resource that are manged by hooks that's why you need to use ```"helm.sh/hook-delete-policy": before-hook-creation ``` or other type of delete-policy to delete the policy that wasn't managed with your release

[2019-03-22 15:52] hullarb commented on #4514
I think table means map in context of yaml and golang.
I had these warnings when in a chart a field had null as default value and in the values it was substituted with a map.  Changing null to empty map `{}` eliminated the warning.

[2019-03-22 16:19] #5480 closed

[2019-03-22 21:00] bcg62 commented on #3486
I could also use this

[2019-03-22 21:13] geosword commented on #3275
I experienced the same with Helm v2.10. I already had a chart deployed, added another configMap to the chart. It reported that the deployment failed because it couldn't find configMap "blah". I did
[code]
To verify the configMap was indeed being rendered, it was. Checked the configMaps in the cluster, and found it there. Deleted the blah configMap, re-ran the upgrade, it worked.

[2019-03-22 21:22] bacongobbler commented on #3275
https://github.com/helm/helm/pull/5460 should better clarify the error message going forward.

[2019-03-22 21:25] geosword commented on #3275
Fair point.

[code]

Keep up the good work helm team.

[2019-03-22 21:47] Amos-85 commented on #1702
I think it will be great if --recreate-pods flag will include which deployment/pods to recreate instead the whole application,
sometime you don't really need / want to recreate the whole chart and just need to redeploy part of it, especially in umbrella charts.

[2019-03-22 22:18] fbcbarbosa commented on #3275
In case this is a big deal to anyone else, thought I'd point out https://github.com/helm/helm/pull/4871 should fix these issues.

Note that it appears it still hasn't been approved by the Helm team. Plus there were some concerns about the automatic deletion resources. Just mentioning it in case anyone wants to build it from source and give it a try.

[2019-03-22 22:47] bacongobbler opened #5499 "Helm 3: `helm list --date` and `helm list --reverse` aren't working"
See https://github.com/helm/helm/pull/5489 for more information.

[2019-03-22 23:29] jascott1 commented on #4490
This is by far the biggest problem with the subchart system (I implemented it). Regardless of pros/cons it seems unintuitive for users to explicitly specify `requirements.yaml` conditions from the root of the values tree and prevents a default relative evaluation that many seem to expect.

Imo the mitigation for v2 is more examples in the docs. At this point I think a change here is a breaking cha

[2019-03-22 23:36] kfox1111 commented on #4490
depends on how far out v3 is I think. If a couple months, may not be worth fixing. Much more then that, we may keep getting people tripping over it.

It could be solved in v2 with some kind of flag that specifies behaviour so the old behaviour can be kept.

Yeah, having some kind of tracking of the issue so it can be fixed for sure in v3 would be good regardless of if it is to be solved in v2 or n

[2019-03-22 23:40] mymbrooks commented on #5494
output:
Forwarding from 127.0.0.1:44134 -> 44134
Forwarding from [::1]:44134 -> 44134
Handling connection for 44134
E0323 07:38:15.092161    2797 portforward.go:391] an error occurred forwarding 44134 -> 44134: error forwarding port 44134 to pod ceca3d9a3628c600f3e30ae466ea0f7e367a3c8c82c2938832b9f015fafcb667, uid : unable to do port forwarding: socat not found.
Handling connection for 44134
E0323

[2019-03-22 23:49] mymbrooks commented on #5494
I install socat on 2 node: sudo apt installl socat
now helm version works:
Client: &version.Version{SemVer:"v2.13.1", GitCommit:"618447cbf203d147601b4b9bd7f8c37a5d39fbb4", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.13.1", GitCommit:"618447cbf203d147601b4b9bd7f8c37a5d39fbb4", GitTreeState:"clean"}

thanks, please close.

[2019-03-22 23:50] jascott1 commented on #4490
Agree we can solve in v2 if someone has the time and it doesn't break. We could add syntax to the condition values for special behavior so we don't have to carry another flag. Of course that might just lead to more confusion.

[2019-03-23 00:00] #5494 closed

[2019-03-23 00:01] k commented on #2694
I would like to be able to use `.helm` extensions without the linter complaining to differentiate from standard yaml for our file validators.

[2019-03-23 00:37] bacongobbler commented on #4490
We should definitely have a closer look at the requirement subsystem for Helm 3. We've already started some work by moving the requirements.yaml into the Chart.yaml as a `dependencies` field (see [the Helm 3 docs on this](https://github.com/splisson/helm/blob/25adb16388877fcb77227a1dc34d75902430dcc3/docs/charts.md#managing-dependencies-with-the-dependencies-field)), but if we're going to consider

[2019-03-23 05:26] romil-punetha commented on #2492
I'm using fabric8.io expose controller, which gives a default URL to the exposed service. Now I want to create a custom URL based on the namespace, Something like
`fabric8.io/exposeUrl: https://{{ tpl .Release.Namespace }}.jx.org.co`, something which the expose controller is going to pick, so I don't have an option to use {{ tpl ... }}. Is there a way such that the name resolution can be done in t

[2019-03-23 14:56] mymbrooks opened #5501 "Can't install nginx-ingress"
Output of `helm version`:
Client: &version.Version{SemVer:"v2.13.1", GitCommit:"618447cbf203d147601b4b9bd7f8c37a5d39fbb4", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.13.1", GitCommit:"618447cbf203d147601b4b9bd7f8c37a5d39fbb4", GitTreeState:"clean"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.4", GitCommit:"c27b913fddd1a6c480c22

[2019-03-23 15:05] #5487 closed

[2019-03-24 01:44] kfox1111 commented on #4490
+1. I've seen some weirdness with aliases too.

[2019-03-24 04:53] jeremyxu2010 commented on #5430
@hickeyma
I think it is not an issue with chart or the tarball.
I CAN NOT reproduct this issue with the simple chart.
I will try to reproduct the issue with the complex chart soon.

I install the simple chart as follows :
[code]

[2019-03-24 09:59] yra-wtag commented on #4331
Can we not add a flag so that in Helm 2 we can override this behavior when we need it.

[2019-03-24 13:16] nejtr0n commented on #1770
Same on clear k8s installation

[2019-03-24 15:00] jan25 commented on #3702
I'm experiencing the same issue. Any recent updates on this?

[2019-03-24 17:25] rgylan commented on #3460
Had the same issue:   Get https://10.96.0.1:443/api/v1/namespaces/kube-system/configmaps?labelSelector=OWNER%3DTILLER: dial tcp 10.96.0.1:443: i/o timeout

Issuing "helm list" produces above.

In my case flannel is the culprit.  I had kubeadm init below:
kubeadm init --apiserver-advertise-address=192.168.137.189 --pod-network-cidr=192.168.1.0/18
But somehow flannel forced the CIDR to be 10.244.0.0

[2019-03-25 01:56] ttaranov commented on #2464
seems to be the same issue - docker for mac, with kubernetes enabled locally, Helm fails to list or otherwise work beyond init with the i/o timeout:

`
$ helm list
Error: Get https://10.96.0.1:443/api/v1/namespaces/kube-system/configmaps?labelSelector=OWNER%!D(MISSING)TILLER: dial tcp 10.96.0.1:443: i/o timeout

$ helm version
Client: &version.Version{SemVer:"v2.13.1", GitCommit:"618447cbf203d1476

[2019-03-25 09:47] shizhMSFT commented on #5461
Precisely, we need `helm login` like `docker login`.

@jdolitsky  @sajayantony  Should we reuse docker credentials in `~/.docker/config.json` and `docker-credential-*` helpers? If we do,  helm can automatically reuse the credentials stored by `docker login`, `az acr login`, and many others.

Alternatively, we can have a credential file at `$HELM_HOME/chart_auth.json` so that we can read credential

[2019-03-25 10:34] disappear89 commented on #3055
Hey,

you could get it also working with the following local role and configure complete access project specific (more secure).

1. Create the following role in the ${TILLER_NAMESPACE}:
[code]

2. Create service account, bind the local role and patch deploy
[code]

**This should fix the above error.**

If you want to deploy tiller charts to project you need to give tiller edit permissions:
[code]

[2019-03-25 15:17] jdolitsky commented on #5461
@sajayantony @shizhMSFT I the fallback idea. I think that oras lib should be modified to support a generic "login" method, which takes a array of paths to check. This way it is not specific to Docker or Helm.

[2019-03-25 15:27] gogineni99 commented on #5430
I have a similar issue.
1) Installed a similar chat sample-project (Image Id: 1 and has and has one environment variable).
2) Used kubectl edit to remove the environment variable (outside of helm)
3) Upgrade the Image id to 2 in values.yml
4) Performed helm upgarde

My expectation was the new image would be deployment along with then environment variable restored and it is part of the same deploym

[2019-03-25 16:37] Sanjanare opened #5504 "Nifi helm chart"
is there a helm chart for nifi on kuberentes for provider aws?
if there is please send me the link Thank you !!

[2019-03-25 18:56] aweimeow commented on #4884
I have this issue too, and I figured out what happened until I looked @guillomep 's comment.

And I tried to install the hook for the service account, make sure the service account installed before anything else. This hook can avoid the potential problem from dependencies. For example:

[code]

It forces helm to install `ServiceAccount` before anything else, more options available on [Helm Docs -

[2019-03-25 20:02] cguethle commented on #3480
For what it is worth to those trying to get to the bottom of this issue...

Upgraded to 2.13.1. I can lookup version from inside the k8s cluster from another pod.

[code]

The above assumes the local cluster config from the pod.

Cannot do it from the "outside" the cluster using a kubeconfig. Fails 100%.
Top block is port-forward, bottom is cooresponding `helm` cli attempt to get version.
[code]
[

[2019-03-25 20:12] brunohms commented on #5174
Hi @hickeyma thanks for the answers, the response is indeed alright, I just wanted something more "human readable".
I will be closing this issue as this seems to be the expected behavior.

[2019-03-25 20:12] #5174 closed

[2019-03-25 20:48] jeffmartinxyz opened #5505 "Helm hangs when try to deploy, list, or get anything"
Output of `helm version`:
2.11.0
Output of `kubectl version`:
1.13
Cloud Provider/Platform (AKS, GKE, Minikube etc.): AKS

Helm hangs indefinitely when running any `deploy`, `list`, or `get` command. Restarting the Tiller Pod resolves the issue temporarily. There is no logging or error message thrown.

[2019-03-25 21:34] marshallford opened #5508 "test before install/upgrade?"
I'm curious if there is a pattern similar to `helm test` that allows you to run a short lived pod before commiting to a `helm install`. Perhaps use a temporary namespace with the deployment resources swapped out for short lived pod resources? One hacky way to accomplish this might be to have two charts, a "real chart" and a chart that would be deleted after it returned an exit code.

Let me know i

[2019-03-25 21:36] paulgmiller commented on #5219
Sorry for dissapearing .I learned alot about daemonsets status in kubernetes sicne that including the fact that they expect daemonsets to run on notready nodes which makes things a bit harder.  Would need

Still interested in cleaning up the wait.go code a bit and making it more like kubectl rollout status as described in 3176.

Even setting notready nodes aside there's definitely an issue where w

[2019-03-25 23:29] walkafwalka commented on #5417
@hickeyma Sure. Do you want me to remove the error or do you want me to change it to a warning?

[2019-03-26 08:34] przemolb opened #5510 "Randomness(less) of randAlphaNum ?"
Output of `helm version`: v2.13.1

Output of `kubectl version`: v1.13.4 (client), v1.12.6 (server)

Cloud Provider/Platform (AKS, GKE, Minikube etc.): AKS

I have a chart for our internal testing where one of the first step is to create database user account. Because this chart can be run in bulk (many tests at once) the obvious way to create a username and password is to use `randAlphaNum`:
[code

[2019-03-26 17:36] bacongobbler commented on #5501
Your cluster has Role-based access controls enabled. The error indicates that the ingress controller installed in namespace `activiti7` does not have permission to learn more information about what services are available from its own namespace. Please follow the guide in the [nginx-ingress documentation](https://kubernetes.github.io/ingress-nginx/troubleshooting/#service-account) to diagnose why i

[2019-03-26 17:39] bacongobbler commented on #5504
Not that I'm aware of, no. Sorry!

If you manage to get one working, please feel free to ship a PR to [helm/charts](https://github.com/helm/charts) to maintain a nifi chart.

Thanks!

[2019-03-26 17:39] #5504 closed

[2019-03-26 17:40] bacongobbler commented on #5505
What happens if you run the following?

[code]

And in another terminal:

[code]

[2019-03-26 17:43] bacongobbler commented on #5508
Hey @marshallford, what's the use case for running a pod prior to installing a chart? I'm having a tough time determining why would a chart want to "test the waters" before being deployed.

For context, `helm test` was originally designed around the idea of running an acceptance test suite after an installation to ensure it's "all systems nominal".

If you could expand upon your use case, that wou

[2019-03-26 17:45] bacongobbler commented on #5510
https://github.com/Masterminds/sprig/blob/9f8fceff796fb9f4e992cd2bece016be0121ab74/strings.go#L58-L62

[2019-03-26 18:18] marshallford commented on #5508
Understood.

The use case that I had in the back of my head when writing up the OP is around applications that by default start a http service but also have a `--test` flag that runs a short test of the environment, configuration, etc and then returns an exit code. The service can be monitored with the standard `livenessProbe` and `readinessProbe` container options but integration tests might be r

[2019-03-26 18:54] mikebou commented on #5508
If the acceptance test is "after" the upgrade, shouldn't the deployment fail? The failure should not complete the deployment which terminates the successfully running container. The result of deploying a container that failed its chart tests in favor of a successfully running container does not seem ideal.

Alternately, a test failure during an upgrade could allow for a fallback to the container v

[2019-03-26 19:55] gucki commented on #4539
Was just hit the same bug:

$ helm version
Client: &version.Version{SemVer:"v2.11.0", GitCommit:"2e55dbe1fdb5fdb96b75ff144a339489417b146b", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.11.0", GitCommit:"2e55dbe1fdb5fdb96b75ff144a339489417b146b", GitTreeState:"clean"}

[2019-03-26 19:59] jan25 commented on #5499
Is anyone working on this? If not, I can look into this

[2019-03-26 19:59] gucki commented on #4539
Also happens with

Client: &version.Version{SemVer:"v2.13.1", GitCommit:"618447cbf203d147601b4b9bd7f8c37a5d39fbb4", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.13.1", GitCommit:"618447cbf203d147601b4b9bd7f8c37a5d39fbb4", GitTreeState:"clean"}

[2019-03-26 20:31] bacongobbler commented on #5499
Nobody's currently working on this. If you feel up to it, go ahead! Do keep in mind that this is for Helm 3 (the dev-v3 branch) rather than Helm 2 (master). If you're comfortable with that then go nuts.

[2019-03-26 20:59] jan25 commented on #5499
@bacongobbler 👍 thanks! Will checkout that branch

[2019-03-26 21:10] Nowaker opened #5513 "When release status is PENDING_UPGRADE, helm upgrade --install will error "... has no deployed releases", --install --force will error "a released named ... is in use, cannot re-use a name that is still in use""
Sometimes, my `helm upgrade --install` will fail with `transport is closing` error (timeout), then the release will enter `PENDING_UPGRADE` status and all subsequent `helm upgrade --install` will result in:

- `Error: UPGRADE FAILED: "namehere" has no deployed releases` if `--force` is NOT passed
- `Error: UPGRADE FAILED: a released named namehere is in use, cannot re-use a name that is still in u

[2019-03-26 21:13] tjespers commented on #5238
@bacongobbler This issue was closed by #5300 but as far as i can tell that PR only bumped the sprig version and no additional PR's were merged to support mergeOverride? Am i missing something here or should still be an open issue?

 @Overbryd did you get this to work in any way? We're using the exact same "common chart" pattern and are also bugged by `enabled: false` merge issues as described in t

[2019-03-26 22:03] cdenneen commented on #5184
stable/filebeat

With `null` or `nil` I'm seeing the same thing... the key isn't removed... it's overwritten as `null/nil` but not removed and when you are replacing it with different key it causes problem:
[code]
[code]
or
[code]
or
[code]

[code]

pod errors as:

[code]

[2019-03-26 22:11] sboardwell commented on #3805
Hi @bacongobbler,

this is more of a question as I see the topic is now planned for helm3.

We had the situation that a secret in one of our releases was changed via `kubectl apply` in the wrong kube context. The resource was, but for the incorrect secret value, identical to the released version. Noticing this, we performed an upgrade to reset/override the values. However, since helm doesn't check

[2019-03-26 23:03] timm088 commented on #3020
https://github.com/helm/helm/pull/5024 Should fix this, when /if it gets merged...

[2019-03-26 23:43] dNetGuru commented on #3275
Having the same issue and only workaround seems to be `helm delete --purge release` and install again!

[2019-03-27 06:51] cforce commented on #3173
https://github.com/helm/helm/issues/4210

[2019-03-27 07:37] yunzshi opened #5515 ""err: context deadline exceeded exit status 1" when using helm golang pkg client"
Hi There,

when I tried golang helm pkg, met below error:
2019/03/27 06:21:13 err: context deadline exceeded
exit status 1

package main

import (
	"log"
	"k8s.io/helm/pkg/helm"
)

const (
	tillerHost = "127.0.0.1:44134"
)

func main() {
    helm.ConnectTimeout(60)
	helmClient := helm.NewClient(helm.Host(tillerHost))
	_, err := helmClient.ListReleases()
	if err != nil {
		log.Fatalf("err: %v", err

[2019-03-27 08:33] przemolb commented on #5510
@bacongobbler thanks for the link but ... that doesn't really explain why duplicate values come up so often in my testing.

[2019-03-27 11:05] msvticket commented on #3486
I know this issue is closed, but as a point of reference for those looking here and thinking of resolving the issue I'll supply a comparison with chef.

There this issue is resolved by a fixed set of priorities for values (which they call attributes). Arrays set with the same priority will be merged, while a higher priority value will replace lower priority values.

https://docs.chef.io/attributes

[2019-03-27 14:49] zskulcsar commented on #4331
see PR: https://github.com/helm/helm/pull/5516

[2019-03-27 15:13] bacongobbler commented on #4331
As far as I understand, resources in one namespace cannot be "migrated" over to another namespace without deleting the resource and re-creating it in another, causing application downtime. I'm not sure it can be handled in a clean fashion, but if someone wants to take a crack at it, I'd love to hear how you think we could best handle this.

Note that most of the core maintainers are focusing on He

[2019-03-27 16:16] gcarrarom commented on #5505
HI, I am just experiencing this issue in a new cluster. Here's the version information and the tests you asked:
### kubectl version
`Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.0", GitCommit:"641856db18352033a0d96dbc99153fa3b27298e5", GitTreeState:"clean", BuildDate:"2019-03-26T00:04:52Z", GoVersion:"go1.12.1", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: versi

[2019-03-27 17:30] trilitheus opened #5517 "HELM_HOME not honoured on helm repo update"
Output of `helm version`:

    Client: &version.Version{SemVer:"v2.13.1",
    GitCommit:"618447cbf203d147601b4b9bd7f8c37a5d39fbb4", GitTreeState:"clean"}

    Server: &version.Version{SemVer:"v2.13.1",
    GitCommit:"618447cbf203d147601b4b9bd7f8c37a5d39fbb4", GitTreeState:"clean"}

Output of `kubectl version`:

    Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.4",
    GitCo

[2019-03-27 20:03] agolomoodysaada commented on #3805
@sboardwell check out this Helm plugin https://github.com/databus23/helm-diff

[2019-03-27 22:23] sboardwell commented on #3805
Hi @agolomoodysaada,

thanks I think I used this plugin or something similar before and, while it's nice and simple, it still only compares the manifests within helm and not the _actual current state_ of the deployed cluster resources.

You can test by deploying say mysql and then manually changing the cpu limit in the deployment. This change will not show up and helm will also not override the ma

[2019-03-28 07:20] randude commented on #5473
@hickeyma did you have some time to take a look at this?

[2019-03-28 10:29] yra-wtag commented on #4331
It does not need to be migrated. We just need a way so when it checks that the specified namespace specified there is no release for that name it will just create a new release on that namespace. The main issue here is the constraint that release names are unique on the whole cluster. If possible we need to find out a way to disable this. Basically this downports the same functionality of the Helm

[2019-03-28 12:35] Draiken commented on #2494
@rcorre I do think you can manually fix the issue. It's not what Helm should force you to do, but it is a workaround.
You can remove the deployment/replicaset (without cascading, keeping the pods alive), then update the pods labels (and anything that depends on them, like services) then redeploy. The new deployment should recognize those same pods as up already. If not, the new deployment should g

[2019-03-28 12:54] desaintmartin commented on #2494
You can see how the community charts document this, for example Redis: https://github.com/helm/charts/pull/7686/files#diff-b290a06961a11374d72f584e5925762cR53

[2019-03-28 12:58] rdzimmer commented on #5381
We do not want to prevent all non-statefulsets from being deployed to the nodes by setting anti-affinities, just give the large statefulsets a chance to get assigned first before there isn't space for them.  In our exact use-case, the statefulsets all have affinity to a specific node because of local-storage requirements.  So perhaps the better or more generic proposal would be to add some logic t

[2019-03-28 14:45] djuarezg commented on #2205
We are really interested in this feature.

[2019-03-28 15:26] gp42 commented on #2506
Any news on that? need it exactly for the `app.kubernetes.io/part-of` label as mentioned above.

[2019-03-28 16:25] nvtkaszpir commented on #5381
You could also try to use kubernetes taints https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/

[2019-03-28 17:31] scphantm opened #5521 "helm init --upgrade does nothing"
Output of `helm version`:
Client: &version.Version{SemVer:"v2.13.1", GitCommit:"618447cbf203d147601b4b9bd7f8c37a5d39fbb4", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.9.0", GitCommit:"bbc1f71dc03afc5f00c6ac84b9308f8ecb4f39ac", GitTreeState:"clean"}

Output of `kubectl version`:

oc v3.11.0+0cbc58b
kubernetes v1.11.0+d4cacc0
features: Basic-Auth

Server https://okdmastertest.labtest.p

[2019-03-28 17:37] bacongobbler commented on #5521
This seems relevant:

I wonder if openshift is pinning the deployment to that particular version, so even if `helm init --upgrade` changes the deployment object, openshift will eventually change it back to v2.9.0. We used to have the same issue with clusters installed with the Kubernetes [Addon Manager](https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/addon-manager).

Try instal

[2019-03-28 17:41] bacongobbler commented on #5521
As a further note, I'd probably ask the Openshift folks directly instead. It looks like the process is totally out of band with a different setup, so perhaps they would be better equipped to inform you how the `oc` tool is intended to be used with Helm.

[2019-03-28 18:12] scphantm commented on #5521
i deleted everything and was able to get `helm init` to work.  But i can't install anything.  when i try

`helm install stable/nfs-client-provisioner --set nfs.server=mynfs --set nfs.path=/kubernetes`

i get

`Error: no available release name found`

i found another site that suggested this

[code]
but that didn't work either

[2019-03-28 18:53] bacongobbler commented on #5521
Try using a role and role binding that better suits tiller's needs, like the [tiller template openshift creates](https://github.com/openshift/origin/blob/e048ffb193ce10ecdb02c7127245cbf1d515ee02/examples/helm/tiller-template.yaml#L1-L40). A clusterrolebinding may not be the right choice here.

[2019-03-28 19:49] przemolb opened #5522 "Assign random value to variable at the init of helm package"
Hello,
I need to initialize some random value with `randAlphaNum X` which, the same, will be used across all yaml files defined in helm package.
I cannot do that at the top of each yaml with:
[code]
because it has to have the same value for each yaml file (reference).
How do I do that ?

[2019-03-28 19:56] ddebrecenijr opened #5523 "Tiller CrashLoopBackOff Kubernetes v1.14"
Trying to install Helm on a newly created cluster using Kubernetes 1.14, with Kubeadm and Flannel l2bridge networking.

Output of `helm version`:
Client: &version.Version{SemVer:"v2.13.0", GitCommit:"79d07943b03aea2b76c12644b4b54733bc5958d6", GitTreeState:"clean"}
Error: could not find a ready tiller pod

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"

[2019-03-28 20:18] bigjonroberts opened #5524 "Helm lint does not warn or error on duplicate keys at the same level of config"
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.): in-house kubernetes

[2019-03-28 20:33] brunohms opened #5525 "Helm access User Info"
Is it possible to get any kind of user info when installing/updating a chart?
People in my company are interested in getting to know when/who/what was deployed/installed.

I was thinking of making a hook at the stages of post-install/post-update/post-delete
to make a request in an API to store this data.

Would it be possible/viable to do?

Output of `helm version`:
[code]
Output of `kubectl versi

[2019-03-28 21:29] SailingYYC commented on #4535
@intelfx, to support multiple levels of sub-charts:
[code]

[2019-03-29 04:06] kaisawind commented on #5107
I find the error from the tiller's log, but I don't know why it can't throw an error from the console.
I forgot to add / in the .helmignore file, when ignore the folder.
Maybe this can help others.

`.git` -> `.git/`

Error from console
[code]

tiller log
[code]

[2019-03-29 09:38] #5223 closed

[2019-03-29 11:38] Zero-2 opened #5526 "Helm version selection rules"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):  AKS

We have a lot of charts deployed into dev helm repository using CI/CD gitlab pipeline.
The naming convention used for the develop env is X.Y.Z-SHORT_SHA_COMMIT .
When i try to install the chart using the command
[code]
the version installed is, for example, 2.1.0-fa68129e

[2019-03-29 15:30] nickdgriffin commented on #1873
@bacongobbler I think there's a gap when it comes to Deployment resources though and failures caused by their ReplicaSets, for example:

1. Helm installs a chart successfully, everything is fine and it gets marked as "DEPLOYED" - the Deployment has maxUnavailable set to 50%
2. An upgrade is carried out which makes changes to both the Deployment to set maxUnavailable to 25% and the Pod template wit

[2019-03-29 16:26] krish7919 commented on #4191
Same issue here; however, I just added an empty blank line after the helm comment to make it work.

[2019-03-29 17:28] ddebrecenijr commented on #5523
Wiping the entire node and re-adding to the cluster was fine.  Assuming something was wrong with networking.

[2019-03-29 17:28] #5523 closed

[2019-03-29 19:09] pc-mrousseau opened #5530 "Tiller uses busybox package 1.27.2-r11 which has two security vulnerabilities"
It appears that the latest tiller (v2.13.1) uses busybox package 1.27.2-r11 which has two security vulnerabilities:

* https://nvd.nist.gov/vuln/detail/CVE-2019-5747
* https://nvd.nist.gov/vuln/detail/CVE-2018-20679

Would be great to update to busybox 1.30 which solves this

[2019-03-29 19:51] AnkurJain10 commented on #4781
@MarkFreebairn @asloan7  I am facing the same issue. How did you guys resolve it?

[2019-03-29 20:14] YingjunHu commented on #3742
Still seeing the problem

[2019-03-29 20:32] YingjunHu opened #5531 "[helm dep] update and build don't recognize local dependency charts"
Output of `helm version`:
`Server: &version.Version{SemVer:"v2.13.1", GitCommit:"618447cbf203d147601b4b9bd7f8c37a5d39fbb4", GitTreeState:"clean"}`

Output of `kubectl version`:
`Server Version: version.Info{Major:"1", Minor:"11+", GitVersion:"v1.11.8-eks-7c34c0", GitCommit:"7c34c0d2f2d0f11f397d55a46945193a0e22d8f3", GitTreeState:"clean", BuildDate:"2019-03-01T22:49:39Z", GoVersion:"go1.10.8", Comp

[2019-03-29 21:45] bacongobbler commented on #5531
Hey there, is this a duplicate of #3742? We try to close duplicate tickets so the issue queue is easier to triage and users can more easily search for information on issues. Thanks!

[2019-03-30 04:22] YingjunHu commented on #5531
@bacongobbler Well technically yes.. But that issue was from April 2018 and I haven't seen more comments from the team so I guess I should raise another issue. It's fine if we close this but I would appreciate if we can address this issue sooner..

[2019-03-30 05:00] bacongobbler commented on #5531
I'll have a look at #3987. Thanks.

[2019-03-30 05:00] #5531 closed

[2019-03-30 18:45] maorfr commented on #5526
You should probably change the versioning... as you say, commits are not lexicographicly sorted.
Two alternatives i can think of are the timestamp (choose your format), or gitlab's CI_PIPELINE_ID (which is more traceable).

Hope this helps!!

[2019-03-30 20:18] jan25 commented on #5499
Hey @bacongobbler, what would be expected behavior if both `-d` and `-r` options are used?
I’m thinking of having both sortBy and sortOrder, this way reverse would work for both date and release name. What do you think?
Precisely:
  `helm list` (Default case - sort by name Asc)
  `helm list -r` sorts by name Desc
 `helm list -d`  sorts by date Desc (latest release first)
  `helm list -d -r` sorts

[2019-03-31 14:31] hayorov commented on #3290
@bacongobbler looks like this issue could be closed, go version bumped in https://github.com/helm/helm/commit/470203a173942dac23396dbba575cc9b16253486

[2019-03-31 15:04] #3290 closed

[2019-03-31 15:22] Alialkhathami commented on #3290
Good

[2019-03-31 18:17] sam-cogan commented on #4759
This issue seems to be occuring in 2.13.0. I am attempting to override a value in the format of valueName.settings[0].value=test and get the same panic: interface conversion error. If I change "valueName" to "valuename" the issue goes away.

[2019-04-01 04:57] yunzshi commented on #5515
anyone can help?

[2019-04-01 15:10] MarkFreebairn commented on #4781
@AnkurJain10 I haven't resolved it, I am still using kubernetes v1.10.11 as I can't upgrade because of this issue. I am not sure if it is fair to say it is an issue with helm or if it is an issue with kubernetes.

[2019-04-01 15:25] asloan7 commented on #4781
@AnkurJain10  I started using AWS EKS approved AMI which has the  TLS bootstrap, currently listed here: https://docs.aws.amazon.com/eks/latest/userguide/eks-optimized-ami.html

[2019-04-01 15:28] hickeyma commented on #5179
@jdolitsky @rhnewtron Is there an issue opened for this in chartmuseum?

[2019-04-01 19:22] cheddarwhizzy commented on #5430
What's the disadvantage of having helm generate the yaml and just `kubectl apply -f` all the generated files under the hood? Patch doesn't seem to be ideal here since anything added or removed via `kubectl edit` isn't added or removed after `helm upgrade`.

This is easily reproducible
[code]

[2019-04-01 19:26] bacongobbler commented on #5430
@cheddarwhizzy see #3805

[2019-04-01 19:46] brunohms opened #5533 "Helm SSL"
Hey guys, is ssl working properly on helm?
tryed following this tutorial https://github.com/helm/helm/blob/master/docs/tiller_ssl.md but keep getting error `Error: context deadline exceeded`

Also, every command is way slower now, even with `--tls` part.

Any thought on what might be causing this?

Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, G

[2019-04-01 20:18] gianrubio opened #5534 "Helm computed values append variables rather than replacing it"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

**Problem description:**
 Variables are not being updated by helm, it's rater appending variables.I looked on the helm chart (I'm actually the maintainer of the chart) source code and there are no template files changing this variables.

**Steps to reproduce:**
1. Create file values.yaml with the content bellow
[code]

2. Run `

[2019-04-01 20:24] timja commented on #3428
also just hit this 😢, manually deleting the pod to work around for now

[2019-04-02 02:20] PosicubeBeege commented on #5184
I'm also encountering this exact issue with the filebeat chart.

@cdenneen You can get around file output specifically with `config.output.file.enabled=false`.

I'm encountering an issue where I want to use the new `inputs` key for filebeat but cannot remove the `prospectors` key.

Existing values:
[code]

My override:  `--set config.filebeat.prospectors=null`

Result: (config is used to set a Sec

[2019-04-02 03:15] FrostyLeaf opened #5535 "`.Release.Namespace` renders empty in `_helpers.tpl`"
Add a definition into `_helpers.tpl`:

[code]

Define a yaml file like below:

[code]

And render this file with `helm template` command:

[code]

Then get this:

[code]

Output of `helm version`:

[code]

Output of `kubectl version`: None

Cloud Provider/Platform (AKS, GKE, Minikube etc.): None

[2019-04-02 04:39] varatep commented on #5100
New URL for anyone looking: https://helm.sh/docs/rbac/#role-based-access-control

[2019-04-02 07:18] FrostyLeaf commented on #5535
My bad. The template code should be `{{ template "appRelease.defaultSvcHostSuffix" . }}`.

[2019-04-02 07:18] #5535 closed

[2019-04-02 07:44] luong-komorebi commented on #3276
Still waiting for an update on this

[2019-04-02 09:49] tetrar124 opened #5536 "Can not work helm with local persistent volume"
I tried to use helm with a local persistent volume for stable/grafana or stable/mysql. Because I want to use the file of local persistent volume to construct other local kubernetes with same data and settings by using the file sharing system of clouds.

After setting local persistentVolume and persistentVolumeClaim, the pods of grafana or mysql with helm was running and no errors, but mounted file

[2019-04-02 12:25] voron opened #5537 "SIGSEGV: segmentation violation when helm repo add"
Just hit a SIGSEGV while `repo add`
[code]
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
GKE

[2019-04-02 13:55] hickeyma commented on #5430
@gogineni99 Have a look at description in https://github.com/helm/helm/issues/5430#issuecomment-472451791

[2019-04-02 13:56] hickeyma commented on #5430
@jeremyxu2010 Let me know if you can reproduce it

[2019-04-02 13:57] hickeyma commented on #5430
@eroji Did https://github.com/helm/helm/issues/5430#issuecomment-472451791 answer you issue?

[2019-04-02 16:29] hickeyma commented on #5205
@bacongobbler Now that #5365 is merged, I have opened PR #5538 for this feature.

[2019-04-02 17:50] raftAtGit commented on #3276
It should also be great if you provide an option like `--include-folder=<path to folder>` and Helm behaves like that folder is at the root of Helm chart. including a single file is not solving the issue in our case. there might hundreds of files and sub directories in that folder.

[2019-04-02 18:21] zacharyw commented on #1193
I'm experiencing this issue and I'm in a situation where I'm not sure how to resolve it.

I tried all the steps listed by @reneklacan here: https://github.com/helm/helm/issues/1193#issuecomment-470208910

Unfortunately the didn't work. The only thing that resolves the issue is to delete the resource generating the error message, then `helm upgrade` again, which will be successful.

However, the ne

[2019-04-02 18:48] reneklacan commented on #1193
@zacharyw what error are you facing at the moment? `No resource with the name ...` or `"fetlife-web" has no deployed releases`?

Can you share any additional info that would help with debugging this?

Maybe output of `kubectl -n kube-system describe cm -l NAME=YOUR_RELEASE_NAME | grep -A1 STATUS=` (replace `YOUR_RELEASE_NAME`)

Feel free to send me an email with more info if you don't want to spam

[2019-04-02 18:50] bacongobbler commented on #2196
@aba182 helm-secrets seems a lot like the solution @schollii came up with; encrypt value files client-side and decrypt on-the-fly them prior to calling `helm install` or `helm upgrade`.

Both solutions miss an important use case though: helm-secrets and sops both decrypt the values prior to being submitted to Tiller, which means that the secret is stored in plain text in etcd.

In other words, mos

[2019-04-02 18:57] bacongobbler commented on #3276
I'm marking this feature as "Help Wanted". It'd be great to have this feature, but we're busy re-working the architecture for Helm 3 that we don't have the time to focus on implementing new features like this one.

If you're interested in contributing this feature for Helm 3, please let us know so we can try to co-ordinate efforts/merge conflicts with the rest of the team. Thanks!

[2019-04-02 19:02] bacongobbler commented on #1193
Please see https://github.com/helm/helm/issues/1193#issuecomment-419555433 for a possible diagnosis and workaround, @zacharyw.

[2019-04-02 20:05] zacharyw commented on #1193
@reneklacan It's the `no resource with the name ...` error. In our case we added an ingress, it seemingly worked, but then subsequent upgrades started failing with this error... even though the ingress already existed.

The status of my most recent release (after deleting the offending ingress and allow helm upgrade to recreate it) is `DEPLOYED`:

[code]

However, if I were to try to upgrade again

[2019-04-02 21:53] steven-sheehy opened #5540 "Helm plugin install tgz with directory"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
bare metal

As a plugin writer, I want my users to be able to install my plugin in a cross platform way without resorting to hack-ish install scripts that are platform specific. If I package my plugin binaries in a tgz file for various operating systems and architectures, users

[2019-04-02 22:16] bacongobbler commented on #5540
How do you propose we could rewrite the current architecture to make this work?

For reference, I've been taking a good hard look at the plugin subsystem for Helm 3, in particular the plugin install/upgrade/hook system. PR #5514 is purely exploratory work, but it removes `helm plugin install` from Helm entirely, relying on loading plugins from $PATH, git style.

The assumption there is that Helm p

[2019-04-02 22:28] trjh commented on #4155
Has this issue re-occured?  I'm seeing the exact same problems, from Chrome on a Windows 7 system, and from Safari on an OS-X system.

[2019-04-03 00:10] steven-sheehy commented on #5540
@bacongobbler For Helm 2, I don't think you need to rewrite the architecture. I was going to look into submitting a PR for this.

Concerning Helm 3, I think being able to support arbitrary commands in the PATH without a plugin.yaml is a good idea. Something like `helm plugin register chart-version "cat Chart.yaml | grep '^version: ' | cut -d' ' -f2"`. But per your PR, it only supports files starti

[2019-04-03 03:35] jgleonard commented on #5534
https://helm.sh/docs/chart_template_guide/#deleting-a-default-key

Helm is merging the supplied yaml with the default.  If you want to negate the default, you'll need to set that key to null like this:
[code]

You'll see the following:
[code]

[2019-04-03 04:20] bacongobbler commented on #5534
Closing as answered; please reopen if that doesn't answer your question. Thanks for answering, @jgleonard!

[2019-04-03 04:20] #5534 closed

[2019-04-03 04:32] flynnduism commented on #4155
@trjh I see those sections you are referring to - the content seems to have been only partially built on the most recent deployment.

I've rebuilt the site now - it has restored those sections back to normal. Thanks for spotting this!

[2019-04-03 04:44] steven-sheehy commented on #5540
So it looks like helm plugin install does support tgz for http URIs, as mentioned in the plugins doc. But what's not mentioned is that it only supports tarbombs, not tgz's with a folder inside. Removing the directory from the tgz made it install successfully.

Also, tgz is not supported for local plugin (or for VCS, but not sure it makes sense for VCS).

[2019-04-03 07:02] hickeyma commented on #5205
@bacongobbler should this be made a duplicate of #5044 or do we maintain the issues with this for v3 and the other for v2?

[2019-04-03 09:19] hickeyma commented on #5473
@randude Thanks for the details.

I have verified that this is a bug. It can be reproduced as follows:

1. Install a chart which contains deployment which references a service account. Easiest to add service account resources in the chart.
2. Upgrade the release where the deployment no longer references the service account and the service account has been removed (for example, remove the service a

[2019-04-03 09:29] randude commented on #5473
@hickeyma  Do you know when will it be fixed?

[2019-04-03 09:44] dick-twocows opened #5541 "Helm cannot find service during upgrade."
If I install a chart (with subs) and subsequently upgrade the chart helm reports;

UPGRADE FAILED
ROLLING BACK
Error: no Service with the name "edge-objectstore" found
Error: UPGRADE FAILED: no Service with the name "edge-objectstore" found

Yet if I query the cluster it is clearly there!

kubectl -n edge get service edge-objectstore
NAME               TYPE        CLUSTER-IP     EXTERNAL-IP   PORT

[2019-04-03 10:00] hickeyma commented on #4759
@sam-cogan I have been unable to reproduce this. Here are the findings of my investigation.

[code]
[code]
[code]

[2019-04-03 10:00] hickeyma commented on #4759
Let me know if you can provide me with more details to help reproduce this.

[2019-04-03 10:06] hickeyma commented on #5449
@cgetzen If we take a step back for a moment, what is your use case?

[2019-04-03 10:42] hickeyma commented on #5200
From what I can see, the emptiness capability is provided by Go template conditionals. When you set `service.allowed_cidrs={}`, it interprets as being not empty.

There was an issue #2600 which sent stale which might be applicable about providing an `isset` function in the Sprig library.

[2019-04-03 11:02] hickeyma commented on #5316
Thanks @grahamegee.

So, it would seem that there is issue is with the `required` function when it is passed a value containing the `?` character.

[2019-04-03 11:43] mumrau opened #5542 "Migrate tiller namespace alongside releases"
Hello.

I don't know the precise mechanisms, but the storage is relative and bounded to the tiller namespace. If i'm not mistaken, everything is stored in `ConfigMaps`, and hopefully nothing on the `etcd` side.

If I'm right about everything on the above mechanism, I should be able to move my tiller-namespace seamlessly if I duplicate every `ConfigMap` with label `OWNER=TILLER` to the news namespa

[2019-04-03 12:35] schollii commented on #2196
@bacongobbler if the values are stored encrypted in etcd, then the container needs to decrypt them somehow, say with sops and an AWS profile mounted from a config map. But if that info is present in the container, then anyone able to enter the container (which presumably would be anyone able to snoop into etcd), can also decrypt them. Is there a way to prevent that?

[2019-04-03 12:40] astorath commented on #2196
@bacongobbler @schollii
1. You can setup your kube cluster to store data encrypted in etcd: https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/
2. Preventing unauthorized access to your data (stored in secrets) is available with RBAC

[2019-04-03 13:20] monotek commented on #2196
Imho even encryption in etcd will not help as long you can do: "helm get values supersecretapp"

[2019-04-03 13:23] jostillmanns opened #5544 "`helm upgrade` doesn't support non-seekable files as helm charts"
If I execute `helm upgrade` with a chart that is provided by a non-seekable files I get an EOF error from the gzip reader. Only reading the chart once should fix the issue.

Output of `helm version`:

`Client: &version.Version{SemVer:"v2.13.1", GitCommit:"618447cbf203d147601b4b9bd7f8c37a5d39fbb4", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.13.1", GitCommit:"618447cbf203d147601b4b9bd

[2019-04-03 13:29] astorath commented on #2196
This is a problem of Tiller architecture, not secrets management. If you have Tiller access, you can do anything: event if these secrets are encrypted they are still accessible by tiller, cause it must be able to deploy apps that use the secrets.

[2019-04-03 13:50] #5544 closed

[2019-04-03 14:08] henres opened #5546 "Enhancement helm dependencies"
Hello everyone,

It would be nice if the requirements.yaml resolved directly the repositories.

I explain why.

Here my use case. I have an ansible that create a gke cluster.
When the cluster is ready to run, still with ansible,  I install a helm charts that boostrap all my necessary dependencies and some other template/config like gitlab-runner, cert-manager, external-dns, etc ...

Cert-manager u

[2019-04-03 14:46] discostur opened #5547 ".Files.Get inside Range not working"
I'm trying to generate multiple k8s TLS secrets. I want to have one loop which generates all of the k8s secrets:

**values.yaml**
[code]

I tried different templates:

**chart/templates/secret.yaml**
[code]

**chart/templates/secret.yaml**
[code]

result both in the following output (which is missing the TLS data):
[code]

Output of `helm version`:
[code]

[2019-04-03 15:30] bacongobbler commented on #5547
Can you check and confirm that the indentation level in your values.yaml is correct? I've seen it happen where indenting the list incorrectly results in the keys being in the wrong object. That might explain why they're unavailable.

[2019-04-03 15:41] discostur commented on #5547
@bacongobbler there was an copy / paste error, values.yaml is like that:

[code]

Should be correct ...

[2019-04-03 15:42] aubm commented on #3111
I managed to reproduce the bug.

It appears that too many concurrent `helm package` operations will eventually leave the local `index.yaml` file corrupted.

Here is the sample go code that I use to reproduce:

[code]

[code]

[2019-04-03 15:50] discostur commented on #5547
If i add an debug output to my template:

[code]

i get the correct filename, so it should be in the right indentation level:

[code]

[2019-04-03 16:15] cgetzen commented on #5449
I would like to decouple the implementation of the annotation from the placement of it. It is going to appear in many files (30+), so referencing it from one point allows us to DRY it out. If we ever change how the kube controller that looks for the annotation works, we have one place (_helpers.tpl) that needs to be modified.

[2019-04-03 16:32] konrad-garus commented on #1193
@reneklacan in https://github.com/helm/helm/issues/1193#issuecomment-470208910 saved my life.

It's a disappointment that Helm fails this way. Deleting things in pretty much any environment is far from ideal.

[2019-04-03 16:43] wknapik commented on #3111
For me this happens with some regularity when running 17 concurrent helm package invocations. I'm also working around #2258 by retrying failed calls up to 2 times (for a total of 3), so the actual number might be higher.

This bug was last triggered in my CI today, with helm version 2.12.3 on Linux.

[2019-04-03 16:48] prestonwrthompson commented on #4642
@jascott1 thanks for the answer!

To make sure, is it correct that your suggestion still doesn't protect against secrets in `values-password.yaml` being exposed by `helm get values application`?

It seems like there was some discussion in the proposals in #2196 and #2695 about managing secrets in a way separate from regular values, but what was actually merged in #2721 did not address that issue a

[2019-04-03 17:35] bacongobbler commented on #2196
If you're using the secret storage backend and asking Kubernetes to encrypt the release objects Helm creates, those values will be encrypted in etcd. The last case to cover in that case would be how Helm could decrypt those values. This should be much simpler to handle in Helm 3 given the client-only architecture, so I'm curious to hear if anyone's experimented with that feature, and how we can ac

[2019-04-03 18:00] bfalese-navent commented on #1193
It would be great if helm updated it's own database when this kind of error appears, and then retry.

[2019-04-03 19:25] sajayantony commented on #5286
Once - https://github.com/deislabs/oras/pull/56 is merged we should enable helm to push a config descriptor with the appropriate mime type.

[2019-04-03 21:06] SlickNik commented on #5541
Hi @dick-twocows!

It's hard to tell why you are facing this without knowing the contents of the `./upgrade-edge.sh` script. Can you verify that the right namespace is being passed in to the `helm upgrade` call in there? Sharing the script contents could also be useful. Thanks!

[2019-04-03 21:22] dick-twocows commented on #5541
Hi, it's a one line wrapper as follows;

helm upgrade edge ./ -f ./edge-values.yaml "${@}"

We words around install and upgrade so that the releases are handled properly.

The nodes file is passed in because our charts need to know what nodes they are being deployed onto.

[2019-04-03 21:53] bacongobbler commented on #5526
Closing as answered, but please feel free to re-open if @maorfr's answer did not answer your question. Thanks.

[2019-04-03 21:53] #5526 closed

[2019-04-03 21:54] bacongobbler commented on #5524
Do you feel like writing a PR to fix this?

[2019-04-04 06:10] thall commented on #2444
I have the same problem, very confusing.

[2019-04-04 09:28] #5547 closed

[2019-04-04 10:02] discostur commented on #5547
had a typo in the filename :/

[2019-04-04 10:18] svenbs commented on #3486
We could also use this. +1

[2019-04-04 10:21] Saurabh-16 opened #5550 "cannot unmarshal string into Go value of type releaseutil.SimpleHead"
I am getting unmarshal error on simple validation that I am performing from my .tpl file.

I have a function defined in _helpers.tpl like:-

[code]
I 'm  invoking this function from one of the .tpl file inside templates folder .

`{{ include "actionValidate" .  | required "Action value is incorrect. The valid values are 'action1', 'action2', 'action3' " }}`

On running helm install command , I'm g

[2019-04-04 12:34] guillomep commented on #4884
Thanks @aweimeow . I haven't thought about hook when I faced this issue.
This workaround works for me, so there is no more issue for that.

[2019-04-04 12:34] #4884 closed

[2019-04-04 13:44] victornoel commented on #3503
It's a workaround, but using helmfile allows you to define hooks that are executed before a chart is deployed, see for example roboll/helmfile#538 for the use case defined here…

[2019-04-04 15:13] SlickNik commented on #5537
Hi @voron -- thanks for reporting this!
Just to clarify, did this happen just the once or is it consistent? FWIW, I tried to reproduce the issue, and wasn't able to.

Also, from reading the stack trace, the issue seems to have possibly been triggered by the `crypto/x509` code during the TLS handshake verification. Was there something strange with redirects / certs that you can think of when this h

[2019-04-04 15:39] sudermanjr commented on #3503
Another workaround would be to use Reckoner hooks as well.

https://github.com/reactiveops/reckoner#hooks

(Full disclosure, I work for the company that wrote Reckoner)

[2019-04-04 16:04] hickeyma commented on #5473
@randude Will let you know when I track down the cause.

[2019-04-04 16:50] aelbarkani commented on #2013
any updates about this bug ?

[2019-04-04 20:00] ewirch opened #5552 "Confusing error message for chart archives with files in root folder"
Output of `helm version`:
[code]

I packaged `cert-manager` myself into a `.tar.gz` file. The archive contents looked like:
[code]

Helm refused to install from this archive:
[code]

Which confused my completely. Where is a empty path in the archive?! There is no empty path!

I found out the hard way, that Helm requires the files to be in a sub folder inside the archive:
[code]

A expressive error

[2019-04-04 21:19] sciffer commented on #3141
--set-string can also be useful, why not allowing all of the override options that exists in install/upgrade.
Simply execute the same code used to override the values for the package command, it makes sense that the package will have the override values - those flags should be shared just like with install/upgrade.

[2019-04-04 21:35] przemolb commented on #5522
Any help or hint how to achieve this ?

[2019-04-04 22:22] przemolb commented on #5510
@bacongobbler this `randAlphaNumeric` is unexported, right ?

[2019-04-04 22:46] Batarian711 opened #5554 "logo"
Hello. I design a logo for open source projects voluntarily. Do you want to help?

[2019-04-04 22:54] bacongobbler commented on #5554
Thanks for your interest! We do have a Helm logo already that can be found at https://helm.sh/, but we're always happy for feedback on the logo, the website design, or any of the material released at conferences. @flynnduism might be particularly interested if you have any feedback on the current logo design, either for Helm or for other Helm-related subprojects.

What do you think?

[2019-04-04 23:23] apryiomka commented on #2620
I don't think this solves the problem gracefully. The issue is that you want to ship the environment specific files with the chart, so the client can choose what environment to install rather than search for the override files. I would be able to do something like
`helm install ... --set environment=prod` otherwise you have to figure out now how to ship `your-prod-values.yml` file to your continuo

[2019-04-05 07:25] kierenj opened #5556 "Force deletion of a release - when pre-delete hooks fail"
I'm trying to delete a release I created using a "bad" chart.  The chart has two pre-delete hooks, both turned out to be named exactly the same thing.

`helm del whatever --purge` gives an error that the pre-delete hook already exists, then bails.

I've deleted all the other resources, but the name remains in the helm release list.

How can I clear this up?

Output of `helm version`:

Client: &ver

[2019-04-05 11:45] bgarcial commented on #3555
Hi @filipre

According to that PR, this was moved here:
https://github.com/helm/helm/pull/5492
This is the latest PR to  #4961 and looks like if we're waiting for a review to be merged ...

[2019-04-05 11:55] mumoshu commented on #3159
#5557 partly address this

[2019-04-05 12:58] DanielRamosAcosta commented on #3833
I think I'm having the same issue on v2.13.1 😢

[2019-04-05 13:30] hickeyma commented on #5473
The reason for the issue is that when the `serviceAccountName` in the pod specification is modified and an upgrade is called, the upgrade does not update the deployed pod. Hence, the deployed pod still has the same specification which references the previous (or in this case, deleted) service account.

This is happening because when Helm does an upgrade, it uses the Kubernetes [Patch API](https://

[2019-04-05 14:17] randude commented on #5473
@hickeyma I see. Seems like an exception eh. Would you say then that is a K8s issue and not Helm?

[2019-04-05 14:57] bacongobbler commented on #5473
Yes.

[2019-04-05 15:32] bacongobbler commented on #5473
Closing this as an upstream issue with cascading updates. Please open a new issue upstream with Kubernetes to determine what's the correct path forward when deleting a service account. Thanks!

[2019-04-05 15:32] #5473 closed

[2019-04-05 15:43] thomastaylor312 commented on #5556
Oh that is an interesting edge case. I'll mark it as a bug and as a good first issue (should just be a check to see if there is a duplicate name for hooks on install).

As for working around it, you should be able to run `helm delete --purge --no-hooks <release_name>`. If that doesn't work, you can list the config maps in the tiller namespace (likely `kube-system`) and then delete the all the conf

[2019-04-05 16:21] thomastaylor312 commented on #5556
Removing good first issue because it looks like it might be a bit more complex than I thought

[2019-04-05 16:34] bacongobbler commented on #1193
I believe that with the `--cleanup-on-fail` flag enabled, this error case should go away. Closing as resolved via #4871 and #5143.

[2019-04-05 16:34] #1193 closed

[2019-04-05 16:34] bacongobbler commented on #1193
If there are further issues arising without those flags, please re-open a new issue. Thanks!

[2019-04-05 18:45] kierenj commented on #5556
The `--no-hooks` did work for me, thanks.  I did look at `helm delete --help` but clearly missed `--no-hooks` ... oops

[2019-04-05 19:47] steven-sheehy opened #5558 "Helm plugin downloader should accept sub-commands"
Helm plugin downloader functionality doesn't currently support sub-commands. This limits how plugin writers can structure their programs. It also makes it incompatible with argument parsing libraries like kingpin since you can't mix top level arguments with other sub-commands. Helm should parse the command in plugin.yaml and split the command by spaces and add the parsed sub-commands to the args.

[2019-04-06 03:48] Batarian711 commented on #5554
I designed a logo that contained the rudder and the initiator of the project. Which one do you like?

![helm](https://user-images.githubusercontent.com/41051393/55664517-e6cab280-5837-11e9-8cb7-916cded0fdc6.jpg)

[2019-04-06 06:09] Saurabh-16 commented on #5550
Is this an issue or there is something wrong with the code syntax .

[2019-04-06 06:37] bacongobbler commented on #5554
Thank you but we already have a logo. As mentioned earlier please feel free to provide feedback on the existing logo; we're not planning on changing the logo out at this time. Thanks!

[2019-04-06 06:37] #5554 closed

[2019-04-06 10:58] evisong commented on #3111
In my case, we're triggering 8 `helm package` commands in parallel on an AWS EC2 instance.

According to the debug log:

[code]

All `helm package` commands are able to create the helm tgz. However, the successful ones manage to save the *.tgz to local helm repo, but the failure ones throw error at this step.

We have other pipeline steps to upload helm charts to a centralized repo, so I'm adding

[2019-04-06 18:59] maorfr commented on #5542
Maybe https://github.com/maorfr/helm-backup can help. But as far as I know, the answer is yes. Still best to test before you migrate :)

[2019-04-06 19:34] bigjonroberts commented on #5524
@bacongobbler I don't really feel like it, but I'm willing to give it a try.
I installed go, cloned the repo, installed glide, ran `glide i` in the repo dir.  Then I ran `make build` and got the following:
[code]
I found the code for linting and I think this will be a simple fix.  Do you have any advice on my environment or what's going on there?

[2019-04-06 20:30] bigjonroberts commented on #5524
@bacongobbler I also posted this question about my environment to the `#helm-dev` channel on the kubernetes slack.

[2019-04-07 04:31] mumoshu commented on #3159
#5561 resolves this

[2019-04-07 04:37] mumoshu opened #5563 "make portforwarder tiller port configurable"
As we have discussed in several places, most recently https://github.com/helm/helm/pull/5557#issuecomment-480312001, the portforwarder uses the hard-coded port number `44134` as the tiller port.

https://github.com/helm/helm/blob/e14a0378fd156d39ecb4ebaf188641f5bc54d5ed/pkg/helm/portforwarder/portforwarder.go#L37-L45

This becomes a dealbreaker when you specify an alternative port to listen like `

[2019-04-07 04:53] mumoshu opened #5564 "alternative tiller ports on `helm init`"
As we have discussed in several places, most recently https://github.com/helm/helm/pull/5557#issuecomment-369010484, `helm init` hard-codes the tiller grpc port to 44134, and http port to 44135.

https://github.com/helm/helm/blob/53d432fa58748412ff3dc10bc27cbf996d96c3ed/cmd/helm/installer/install.go#L228-L255

Tiller allows you to customize the former with `--listen=:PORT_NUMBER`. Since #5557 you

[2019-04-07 14:47] f0o opened #5566 "Error: UPGRADE FAILED: a released name is in use"
[code]

this worked not too long ago with the exact same chart. no helm update was performed.

[code]

ideas?

[2019-04-07 14:55] f0o commented on #5566
[code]

[2019-04-07 20:09] tmc commented on #5160
@borg286 perhaps you should propose a change in the charts repo?

[2019-04-08 06:07] DNXie commented on #4351
I got the same problem and tried:

`./helm init -i https://kubernetes.oss-cn-hangzhou.aliyuncs.com/charts`

I still got the error:

[code]

[2019-04-08 06:52] mumrau commented on #5542
Yup I ran some tests and apparently it's all fine.
To be honest I was really scared because the output of `kubectl describe configmap whatever-release.vX` shows data that looks encrypted, and it could have been with a namespace-bound token/secret or anything, but nope.
This brings me to my next question, is there a key to encrypt/decrypt these configmaps?

[2019-04-08 07:04] maorfr commented on #5542
Take a look at:
https://github.com/helm/helm/blob/master/pkg/storage/driver/util.go#L31
https://github.com/helm/helm/blob/master/pkg/storage/driver/util.go#L57

[2019-04-08 07:06] sgandon commented on #4618
indeed I came accross the same issue, when traveling or not connected to our vpn we cannot get acces to our registry and then cannot launch a chart that is not reachable.
when you launch one chart you can find way around but when you are relying on other tool like helmfile in which you describe many charts it become more cumbersome.
See : https://github.com/roboll/helmfile/issues/544

[2019-04-08 07:13] hickeyma commented on #5566
Could you try it specifying the 'dev` namespace? You can use the flag `--namespace dev`.

[2019-04-08 07:23] hickeyma commented on #5542
@mumrau Some background on persistence: http://technosophos.com/2017/03/23/how-helm-uses-configmaps-to-store-data.html

[2019-04-08 07:25] maorfr commented on #5542
nice one @hickeyma, and congrats!

[2019-04-08 07:26] f0o commented on #5566
[code]

[2019-04-08 07:27] sgandon opened #5567 "when killing `helm dep up` the next `dep up` fails"
when killing the process running `helm dep up` it sometimes leave a temporary folder named `tmpcharts` and this makes the next `helm dep up` fail with the following error.
[code]
This is easily reproducable by creating a folder named `tmpcharts` inside an helm chart root folder and try to launch `helm dep up`

Of course a workaround is to remove the folder manually before running the `helm dep up`

[2019-04-08 07:30] homelessnessbo opened #5568 "Helm unexpectedly breaks long lines to several lines during rendering a template"
Output of `helm version`:
Client: &version.Version{SemVer:"v2.13.1", GitCommit:"618447cbf203d147601b4b9bd7f8c37a5d39fbb4", GitTreeState:"clean"}

Output of `kubectl version`:
Not relevant.

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
Not relevant.

An example of a template:
[code]

Values file (`description` value is one long string with spaces):
[code]

Rendering command:
`helm-2.13.1 temp

[2019-04-08 09:15] DNXie commented on #2064
@charlenezheng I was trying your solution and ran into this error:

`Error from server (BadRequest): container "tiller" in pod "tiller-deploy-c48485567-9tlpw" is waiting to start: trying and failing to pull image`

[2019-04-08 09:24] DNXie commented on #2295
@bacongobbler  I have the same problem:

After running `kubectl --namespace kube-system describe pod tiller-deploy-c48485567-9tlpw`

Besides the message other people said, mine also says the following information:

`sc = failed to resolve image "gcr.io/kubernetes-helm/tiller:v2.13.1": no available registry endpoint: failed to do request: Head https://gcr.io/v2/kubernetes-helm/tiller/manifests/v2.1

[2019-04-08 09:51] f0o commented on #5566
The issue was no fixed. It was a typo in a `range` operator that didnt show at all until feed with values.

the chart with dummy data passed `lint` tho :/

A bit more descriptive error would've been nice.
Feel free to close

[2019-04-08 09:52] hickeyma commented on #5566
Thanks for the feedback.

[2019-04-08 09:52] #5566 closed

[2019-04-08 10:48] Samusername commented on #2956
"PENDING_UPGRADE" happened also in following case / way:

Error:* UPGRADE FAILED*: Job failed: DeadlineExceeded

helm history app01:

[code]

The problematic job (preinstall hook, etc.?) was stuck.
Then "DeadlineExceeded" happened.
And app01 ended up in "PENDING_UPGRADE" state.
helm version: v2.11.0, in my case.

( Root cause regarding the problem is in the job, but helm should not end up in PENDI

[2019-04-08 10:54] wknapik commented on #3111
@evisong didn't work for me unfortunately ;/

[code]
In fact, that kinda looks like a new bug.

It's the first time I'm seeing this error and google is not turning up anything useful.
I did find #3622, but that seems to be a different issue.

[2019-04-08 10:57] wknapik commented on #3111
Ehh, it's the stupid command line parser - need to use `--save=false` :|

[2019-04-08 11:08] mumrau commented on #5542
Agreed it's perfect documentation. Maybe a link in the `helm` docs itself would help users to benefit from the resource as well.

I don't know the procedures about this, but it's not up to me to decide if we're adding or not.
On my side, with the technosophos link and the helm plugin, we can consider the issue resolved and this can be closed.

[2019-04-08 11:08] #5542 closed

[2019-04-08 11:22] wknapik opened #5569 "Command line parsing issues lead to difficult to understand/debug error messages"
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
AWS

E.g.:
[code]
The error message has nothing to do with the actual issue.

Using ` ` instead of `=` is something that most command line tools allow, including stuff in coreutils and util-linux, which helm users use daily.

If this is not considered a bug, I think noting that `

[2019-04-08 11:24] wknapik commented on #3111
Thanks for the hint @evisong.

[2019-04-08 12:46] kylecordes commented on #3353
In retrospect, this is a breathtakingly obvious design goal.

[2019-04-08 14:08] hickeyma commented on #5569
Thanks @wknapik for finding this issue.

As per commands like `helm install`, its flags like ` --name` and `--namespace` don't use the assignment operator (`=`). I think then that the space would be best for consistency.

[2019-04-08 16:08] wknapik commented on #5569
IMO ` ` and `=` should be interchangeable. And it's the only way to maintain backwards compatibility anyway.

[2019-04-08 16:10] thomastaylor312 commented on #5556
No problem! You helped find an interesting edge case for us

[2019-04-08 16:22] thomastaylor312 commented on #5563
Marking this a good first issue. Things will have to change across several files, but the work required shouldn't be too significant

[2019-04-08 16:25] thomastaylor312 commented on #5567
Good catch on this bug. Let me see if I can hammer out a quick bug fix this week

[2019-04-08 16:30] hickeyma commented on #5569
Good point.

[2019-04-08 16:34] bacongobbler commented on #5569
This is a behavioural difference from cobra on how they parse string flags vs boolean flags. The same behaviour was noticed in https://github.com/helm/helm/issues/4969. https://github.com/spf13/cobra/issues/613#issuecomment-357706597 explains the behaviour.

If you'd like to write some documentation on how Helm parses option flags, that'd be appreciated.

[2019-04-08 17:02] televi opened #5571 "helm dependency list shows "too many matches" for helm charts with "-"?"
Not sure if this is a bug or expected behavior.

Given a chart with dependencies foo and foo-bar, when doing a helm dependency list, I get "too many matches" for the chart.  What seems to be happening is that at [this line in dependency.go](https://github.com/helm/helm/blob/08dad14e13b1f7b069949bf62fb960a1289e96f2/cmd/helm/dependency.go#L157), filename is set to a glob of dep.Name-*.tgz and that w

[2019-04-08 17:53] bacongobbler commented on #5571
Seems to be a bug in the dependency resolver. Thanks for the report. Do you happen to have a patch and tests available to fix this?

[2019-04-08 18:14] bacongobbler commented on #5569
Parsing boolean flags *need* an equals sign as the following is ambiguous from a parser's standpoint:

[code]

The last argument is ambiguous; is the user setting `--enable-feature-flag` to false, or is false the argument to `config set foo` and `--enable-feature-flag` set to true? In this case, Coreutils specifies that boolean flags NEED an equal sign to set to false, so cobra is parsing the opti

[2019-04-08 18:35] voron commented on #5537
It looks like build/OS problems, similar to [this](https://github.com/golang/go/issues/28092). I've tried helm v13.1, no luck. I've upgraded OS and the problem is gone w/o any rebuild.

[2019-04-08 18:35] #5537 closed

[2019-04-08 19:27] wknapik commented on #5569
Wow. You guys really think [this](https://github.com/spf13/cobra/issues/613#issuecomment-357706597) and [this](https://github.com/helm/helm/issues/4969#issuecomment-443860216) is ok ? IMO this is just completely b0rken. This should not be documented, it should be nuked from orbit ;]

Seriously, I wouldn't even think to look at any documentation to see what `-c false` [means](https://github.com/hel

[2019-04-08 19:45] wknapik commented on #5569
`tl;dr` Don't use options that accept true/false. Use one option for true and one for false.

The old approach would have to be phased out over time, but it's doable.

[2019-04-08 20:28] SlickNik commented on #5537
Thanks for the follow up!

[2019-04-08 20:52] ian-howell commented on #3629
So I've taken a quick look at this one, and it seems as though the issue is coming from upstream. Here is the message that [template.ExecuteTemplate](https://github.com/golang/go/blob/master/src/text/template/exec.go#L178) spits out:

[code]

I'll go ahead and take this one, but it'll require parsing the errors from the template library.

[2019-04-08 21:16] pc-rshetty commented on #3933
i am seeing the same issue.

[2019-04-09 04:12] andrew-cormick-dockery commented on #3702
I had this issue, and I found this comment helpful: https://github.com/helm/helm/issues/3685#issuecomment-373758896

To fix, I rolled the release back to the last known revision where the image matched the actual image on the deployment, then reapplied the changes I wanted.

[2019-04-09 04:19] travishen commented on #4275
+1

[2019-04-09 06:05] mortent commented on #5568
This is caused by https://github.com/go-yaml/yaml/issues/166. The issue has been open for over 3 years and the fix was rejected as the focus seems to be on v3 of the yaml library. But the output with the line breaks should still be valid yaml.

[2019-04-09 07:26] joshwand commented on #3134
same here - templating error hidden by incorrect error message. suggest renaming the issue to reflect the actual bug? or should we split and create a new one?

[2019-04-09 11:01] 2ZZ commented on #2013
also seeing this issue

[2019-04-09 11:24] hickeyma commented on #5569
@bacongobbler @wknapik Some very good points raised, thanks. Here is my attempt to summarise the problem.

Firstly, @bacongobbler is correct in saying that you need to provide the assignment operator (`=`) with a boolean flag when you want to set true/false. This is a [limitation of pflag](https://github.com/spf13/pflag#command-line-flag-syntax) Go's flag package [used by cobra](https://github.com

[2019-04-09 11:54] wknapik commented on #5569
I would suggest following the well established convention of using `--option`/`--no-option` (rather than `--not-option`).

I also think that in helm 3 there should be no options accepting boolean values - this is probably the only way to avoid this problem without dropping cobra, and to bring helm in line with the most popular cli tools. Since this change would not be backwards compatible, it woul

[2019-04-09 12:27] juliohm1978 commented on #3134
Can't the title be edited? Either way, the ißue does need to be addressed.

[2019-04-09 15:02] thewilli opened #5574 "how to handle CRD Ingress ressources?"
Getting a application to work by simply deploying a Helm Chart is great. By having an optional Ingress configuration provided in the default template (and many Chart authors sticking to this) it's easy to publish a newly deployed service as well.

Few Ingress Controllers don't stick to the standard Ingress ressource, though ([Traefik v2](https://blog.containo.us/back-to-traefik-2-0-2f9aa17be305#4b

[2019-04-09 16:02] jdolitsky commented on #5179
@hickeyma just opened https://github.com/helm/chartmuseum/issues/221, I think we can close this out now

[2019-04-09 16:09] hickeyma commented on #5179
Thanks @jdolitsky.

[2019-04-09 16:09] #5179 closed

[2019-04-09 22:35] dcodix opened #5575 "Comparing helm charts's contents (md5)"
Output of `helm version`:
Client: &version.Version{SemVer:"v2.13.1", GitCommit:"618447cbf203d147601b4b9bd7f8c37a5d39fbb4", GitTreeState:"clean"}

Output of `kubectl version`:
Not apply

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
Not Apply

PROBLEM:
We were using md5 to compare some helm (tar) charts to decide if they were the same. After this change:
https://github.com/helm/helm/blob/744cd

[2019-04-10 03:09] Mr-Linus commented on #4351
You can use azure mirrors:
Delete the original repo:
[code]
Add repo:
[code]

[2019-04-10 06:47] randude commented on #5473
@hickeyma
FYI
https://github.com/kubernetes/kubernetes/issues/76367

[2019-04-10 06:55] hickeyma commented on #5473
Thanks @randude

[2019-04-10 06:56] hickeyma commented on #4429
Closing this as it is a duplicate of #5473

[2019-04-10 06:56] #4429 closed

[2019-04-10 10:04] gobomb commented on #4156
I think the field `namespace` in ClusterRoleBinding "tiller" should be `subjects[0].namespace`, like this:

[code]

[2019-04-10 11:16] extremegf opened #5577 "Typo in volumeMount.subpath not caught when deployed via Helm."
Output of `helm version`:

[code]

Output of `kubectl version`:

[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

`GKE`

**What happened**:

volumeMounts element keys are not validated.

[code]
Is invalid and does not work, yet no error is raised.

Additionally:

[code]
Also does not result in an error.

NOTE: This _does_ result in an error if used outside of helm. I.e. if I run

`kubec

[2019-04-10 11:38] crazyk2 commented on #3920
I'm faced with the same issue

[2019-04-10 15:18] Toady00 opened #5578 "upgrade `failed to create patch` issue with ServiceSpec struct"
Output of `helm version`:

[code]

Output of `kubectl version`:

Minikube:
[code]

GKE:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

Both GKE and Minikube

I have a chart called `eb` in s3 at [https://s3.amazonaws.com/brandondennis-me/helm/charts
](https://s3.amazonaws.com/brandondennis-me/helm/charts). When I run `helm upgrade --install` it works fine. If I don't change any of the

[2019-04-10 16:14] henres opened #5580 "helm init --wait | tiller was not found."
I have a weird behavior with `--wait` on helm init:

[code]

[code]

And when the version match when I upgrade with `--upgrade` it work again:
[code]

Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
The cluster is on GKE.

[2019-04-10 16:37] kramvan1 commented on #3377
+1

[2019-04-10 16:47] mortent commented on #3254
While I agree that it is technically possible to use the App CRD as any other Kubernetes resource in a Helm chart, it isn't very convenient.

In many cases we probably want to make using the App CRD optional which means every resource in the chart needs a if statement around adding the App CRD labels. In order to make the list of resource types in the App CR correct, pretty complicated logic is ne

[2019-04-10 17:26] hickeyma commented on #5398
I will help out with this.

[2019-04-10 18:33] artushin commented on #3005
To clarify the workaround from @so0k, if doing something like `{{- if eq .Values.replicas 1.0 }}`, the second arg should be the float so that you don't have to cast `.Values.replicas`.

[2019-04-10 19:19] jayenzo opened #5583 "unable to update stable/jenkins from version 0.10.0 - 0.36.5 "-JavaOpts""
I'm able to successfully update stable/Jenkins ver 0.10.0 to version 0.36.5
pod restarts with:

 kubectl -n ci log running-chipmunk-jenkins-5648dc54fb-7k5kg
Error: Could not find or load main class default-src

It seems with the new version update is unable to find JavaOpt classes

JavaOpts: >-
-Dhudson.model.DirectoryBrowserSupport.CSP=\"upgrade-insecure-requests; default-src 'self' http://ajax.g

[2019-04-10 19:43] ChristianWeissCG opened #5584 "Clean code: delete commented out code"
Some helm lint rules were disabled in 2016:
https://github.com/helm/helm/issues/1463
https://github.com/helm/helm/issues/1037

Should be removed from code:
https://github.com/helm/helm/blob/master/pkg/lint/rules/template.go#L109
https://github.com/helm/helm/blob/master/pkg/lint/rules/template.go#L113

Clean code.

[2019-04-10 20:11] ChristianWeissCG opened #5585 "What is the intention behind helm lint for metadata namespace?"
From the comment at the beginning of this function one could think that there is a check related to metadata.namespace, but no related ERROR, WARN or INFO is triggered:
https://github.com/helm/helm/blob/master/pkg/lint/rules/template.go#L96

What is the intention?

[2019-04-11 00:07] brunowego commented on #2463
Exactly same issue as @mjbright mentioned, here.

[2019-04-11 07:53] NKUCodingCat commented on #3141
`2.13.1` does not have such feature either, is there any time table for it?

[2019-04-11 08:43] hickeyma commented on #5584
@ChristianWeissCG Is this a cleanup you would like to do?

[2019-04-11 08:46] hickeyma commented on #5585
It could be an outdated comment. I think this could be included as part of #5584.

[2019-04-11 08:46] hickeyma commented on #5585
Closing as duplicate of #5584.

[2019-04-11 08:46] #5585 closed

[2019-04-11 08:54] henrikb123 opened #5586 "New items in failed upgrade stays forever"
I have a chart that allows environment variables to be added through values.

Scenario:
1. helm upgrade --install the chart successfully

2. add an environment variable in values.yaml that gets picked up by the chart, also trigger the deploy to fail through timeout / readiness probe
helm upgrade --install this change
kubectl get deploy -oyaml has value
env:
  - name: FOO
    value: BAR

3. remove

[2019-04-11 09:01] hickeyma commented on #5586
@henrikb123 Could you provide more details like the template and the output when you do a get?

[2019-04-11 09:27] henrikb123 commented on #5586
Hi, with template do you mean the full chart?
Output from get - you mean the "kubectl get deploy..." command?

[2019-04-11 09:56] arolls commented on #5135
I have the same issue.
`Client: &version.Version{SemVer:"v2.12.3", GitCommit:"eecf22f77df5f65c823aacd2dbd30ae6c65f186e", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.12.3", GitCommit:"eecf22f77df5f65c823aacd2dbd30ae6c65f186e", GitTreeState:"clean"}`

I created a demo chart to show the problem here: https://github.com/arolls/helm-dependency-enable-disable

The chart is for Kafka and Sc

[2019-04-11 11:01] henrikb123 commented on #5586
[repro-chart.zip](https://github.com/helm/helm/files/3068269/repro-chart.zip)

[command_history.txt](https://github.com/helm/helm/files/3068272/command_history.txt)
[deployment-after-3.txt](https://github.com/helm/helm/files/3068275/deployment-after-3.txt)
[deployment-after-1.txt](https://github.com/helm/helm/files/3068276/deployment-after-1.txt)
[deployment-after-2.txt](https://github.com/helm/he

[2019-04-11 11:39] vdboor commented on #4010
Second this. I just spend 30 mins debugging this error:

[code]

journalctl showed the actual issue:

[code]

The kube object is:

[code]

[2019-04-11 11:42] daixiang0 opened #5587 "requirement not work with file repo"
reproduce:
[code]

requirement file:
[code]

All chart exist:
[code]

<Details>
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

[2019-04-11 12:58] hickeyma commented on #5587
Can you update you chart with the dependencies defined in your requirement file as follows: `helm dependency update loki-stack` ?

You should then see the dependencies loaded into `loki-stack/charts`. Then try running `helm install again`.

You can have a look at the docs for more information on dependencies: https://helm.sh/docs/developing_charts/#chart-dependencies

[2019-04-11 13:22] JaroVojtek opened #5589 "Unable to --set value which contains &placeholder in values.yaml file"
Hello, I have problem to --set values via helm:
[code]

particular variables contains &placeholders in value.yaml file, as because they are referenced in multiple places later in values.yaml file:

[code]

And for example last parameter `prometheusVolumePath` am able to set via `--set prometheusVolumePath=/tmp`

Output of `helm version`:
helm version
Client: &version.Version{SemVer:"v2.11.0", GitC

[2019-04-11 15:03] bacongobbler commented on #3141
As mentioned earlier, nobody is currently working on this. Feel free to take this one on; have a look at #3471 for ideas.

[2019-04-11 15:07] bacongobbler commented on #5589
this seems like a duplicate of https://github.com/helm/helm/issues/2336. Can you please check?

[2019-04-11 16:04] jayenzo commented on #5583
It seems helms renders the values.yaml differently from version 0.10.0  to 0.36.5 after checking the deployment file.

chart ver.0.10.0
 env:
            - name: JAVA_OPTS
              value: "-Dhudson.model.DirectoryBrowserSupport.CSP=\"upgrade-insecure-requests; default-src 'self' http://ajax.googleapis.com 'sha256-xxxxxxxxxxxxxxxx=' https://cdxx.cloudxxx.com http://cdxx.cloudxxx.com http://net

[2019-04-11 16:45] brunowego commented on #2463
More details about my environment:

[code]

[code]

[code]

[2019-04-11 16:45] brunowego commented on #2463
More details about my environment:

[code]

[code]

[code]

[2019-04-11 18:27] IdanAdar commented on #3338
Can a new status code be added to programmatically know that a chart was reverted? Reporting “1” as before does not provide proper understandings of what that has happened.

[2019-04-11 21:01] janitha09 opened #5592 "running helm reset --force after uninstalling helm hangs"
[code]
[code]
then uninstall helm
[code]
try a force (did it by accident)
[code]
this hangs and does not return Ctrl-C to get out after about a minute
adding the --debug flag doesn't provide additional information

Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
EC2 install

[code]

[2019-04-11 21:48] disrani-px commented on #3439
/remove-lifecycle stale

[2019-04-11 23:16] fuel-wlightning commented on #3348
@puco what I did was use {{ .Release.Revision }} on top of the job name. The extra nice part is that it also helps identify which revision on first glance that a migration belongs to.

[2019-04-12 01:46] daixiang0 commented on #5587
@hickeyma thanks very much.

[2019-04-12 01:46] #5587 closed

[2019-04-12 07:03] hickeyma commented on #5592
I was able to reproduce this as follows:

[code]
It will then hang when call it is called with `--force` flag after Tiller has been uninstalled:
[code]

[2019-04-12 09:54] sta-szek opened #5595 "app-name has no deployed releases"
**Output of `helm version`:**
[code]
**Output of `kubectl version`:**
[code]

**Cloud Provider/Platform (AKS, GKE, Minikube etc.):**  Amazon

**What is happening:**
After few broken deployments, helm (or tiller) is broken and all subsequent deployments (no matter if fixed or still broken) ends with following error: `app-name has no deployed releases`

**How to reproduce:**
We have
[code]
but i thi

[2019-04-12 12:20] andrewnazarov commented on #3734
For some reason, I doubt this will be merged. A part of disscussion here: https://github.com/helm/helm/issues/4490

[2019-04-12 14:41] AnikHasibul commented on #1371
sudo apt-get install socat

great! worked for me :sunglasses:

[2019-04-13 12:40] homelessnessbo commented on #5568
ok, thx @mortent. Closing this one then.

[2019-04-13 12:40] #5568 closed

[2019-04-14 00:01] seamanjiang commented on #4906
Hi junsionzhang,
How did you solve this problem?
I have the same issue:
Error: forwarding ports: error upgrading connection: unable to upgrade connection: Unauthorized
Can you share the answer?

[2019-04-14 21:14] maorfr commented on #5575
Maybe this can help:
https://github.com/databus23/helm-diff

[2019-04-14 21:16] maorfr commented on #5583
I suggest to move this issue to helm/charts, where it has a better chance of being answered.

[2019-04-15 01:46] miguelangel-nubla commented on #3480
Here is the thing, **errors in TLS validation close the connection** unexpectedly and the kubectl proxy in the background complains about it **without helm printing the actual error**.

In my case it was as simple as adding "localhost" to the server certificate hosts and
[code]
`openssl s_client -connect` was key to narrow it down, then translate it to helm flags.

This should be definitelly flagg

[2019-04-15 05:37] ashwinsmnth commented on #4670
What is the recommendation for such use cases where we have to execute a job and delete that after its done without using hook? Because I can't execute it with hook in place since there was no resource for the hook

[2019-04-15 07:33] col commented on #3179
I would also love to be able to specify the namespace to deploy to within the `values.yaml` file.

[2019-04-15 11:08] przemolb commented on #5522
Any help how to solve that ?

[2019-04-15 12:43] 4ndr4s commented on #5430
hey @hickeyma I'm having the same issue I'm trying to upgrade nginx-ingress I upgrade the chart values and all references to previous version and use helm upgrade, I saw the configmap using the new chart version, but others resources are using the previous one, deployment, services and pods are pointing to the previous one if I use helm history I can see the release version change

`47      	Mon A

[2019-04-15 13:21] jbrongtr opened #5600 "Helm dep update or Helm update states "successful" when it wasn't"
Output of `helm version`:
2.12.3

Output of `kubectl version`:
1.13.1

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
bare metal on VMware

We are running Kubernetes/Helm in an air-gaped environment. When Running a helm dep update or a helm repo update it goes through the list of repos getting an update. It states a successful update from our artifactory helm repo but errors out when trying to

[2019-04-15 13:38] heron182 commented on #1579
For all facing this issue double check your `values.yaml` filename. Mine was `values.YML` instead of `values.yaml`

Renaming it fixed the issue.

[2019-04-15 15:21] tunicashashi commented on #3460
After doing everything like above I still see this issue with my Kubernetes 1. 14 and helm 2.13:
I have --pod-network-cidr: 172.16.0.0/16
      and --service-network-cidr: 172.18.0.0/16
and my master VM apiserver is on : 192.168.10.14

I had created a service account as above mentioned: tiller
My kubectl command provides as below log:
[centos@master-centos oisp-k8s]$ kubectl get pods  -n kube-syst

[2019-04-15 16:29] #4925 closed

[2019-04-15 16:38] kyprifog commented on #1844
Why was this closed?  It doesn't look like the issue was resolved.  I just ran a helm chart and checked my deployments and there weren't any using v 2.13

[2019-04-15 19:32] 4ndr4s commented on #5430
nvm is fixed, didn't update in one file. (facepalm)

[2019-04-15 20:03] chenrui333 commented on #3501
Any update on this?

[2019-04-15 20:28] alahijani commented on #1950
Any chance this will be re-opened?

[2019-04-16 04:19] bacongobbler commented on #1950
I'll re-open this. This would be a useful feature for someone from the community to tackle.

[2019-04-16 06:54] lh44 opened #5602 "configmap with certificate data fails when tried helm lint with the error "converting YAML to JSON: yaml: line: could not find expected ':'""
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): Minikube

Example: https://github.com/lh44/helm-configmap-with-cert

`helm lint --debug` on the chart fails with the following error

[code]

This is caused by the certificate provided in the values.yaml, this however works as expected when the certificate content is provided i

[2019-04-16 09:27] s-spindler commented on #4059
@bacongobbler I think I should not have put this as a question; let me rephrase:

Helm should not take the contents of a starter's `.helmignore` file into account when creating a chart directory from it.

I do consider this a bug in helm - what is your opinion on this? Would you be open to a PR for this?

[2019-04-16 14:19] mattfarina commented on #5160
@borg286 I'm sorry for the slow response. I've been a bit swamped and traveling.

I think there is some confusion in this thread around what you are asking for and why. With that in mind, let me try to state what I think you are asking for and you can then correct me so we can work to get on the same page.

1. A bazel file in the helm/helm repo so that when bazel is down about the helm repo locati

[2019-04-16 14:23] bacongobbler commented on #4059
sure.

[2019-04-16 14:49] mattfarina commented on #4879
@wknapik I may have an idea what's going on and the reason this is "question/support" labeled.

When `helm package` is run is saves the package to a local directory inside of the `.helm` directory (or equivalent if set to be different). You can see this in the code at https://github.com/helm/helm/blob/618447cbf203d147601b4b9bd7f8c37a5d39fbb4/cmd/helm/package.go#L183-L191

In the order of events fi

[2019-04-16 14:51] mattfarina commented on #5424
@walkafwalka @hickeyma I like this idea. @michelleN has been working on the testing for Helm v3. It might be good to talk with her about it.

[2019-04-16 15:18] dcodix commented on #5575
Thanks maorfr, but for that I need to download the chart. I was trying not to and using S3 Etag to compare the md5 and save time and data transmission.

[2019-04-16 15:55] televi commented on #5571
I'm afraid I don't - I'm not really a Go programmer so creating one will be non-trivial for me.  I can try to take a look at the current code base but it will take me a bit.

[2019-04-16 22:06] jgra26 commented on #3480
I'm deploying magento in an ibm cloud private and I get this error
NAME:   magento
E0416 18:45:41.935993  106642 portforward.go:303] error copying from remote stream to local connection: readfrom tcp4 127.0.0.1:35733->127.0.0.1:58668: write tcp4 127.0.0.1:35733->127.0.0.1:58668: write: broken pipe
LAST DEPLOYED: Tue Apr 16 18:45:39 2019
NAMESPACE: ace
STATUS: DEPLOYED

[2019-04-16 23:26] wknapik commented on #4879
@mattfarina I'm afraid that's not it. This is built using make and all `helm package` targets have an order-only dependency on `$(HOME)/.helm`, which is created with `helm init -c`.

[2019-04-17 08:43] hpurmann commented on #2731
@bacongobbler Can you please re-open? We just ran into this issue as well and as others report as well, this seems to still be a problem for more people.

[2019-04-17 09:07] andreasevers commented on #4174
The problem is even bigger when your initial deployment fails. In that scenario, there's nothing to rollback towards, and everything seems to be stuck.

[2019-04-17 14:33] MPV commented on #2993
Here's how I reproduce this bug:

[code]

[code]

[code]

And there I can see that the `COMPUTED VALUES` aren't being set correctly for the aliased charts:
[code]

Whereas I'm only expecting this:
[code]

...and in turn that the right a/b values would be applied to their respective aliased subchart. 😊

[2019-04-17 23:14] bacongobbler commented on #5160
This project was just pointed out in Slack. https://github.com/tmc/rules_helm

[2019-04-18 03:51] 27Bslash6 commented on #3134
^ Agreed. This issue is still present and still a problem that I have to workaround on a regular basis by deleting and redeploying released.

It's also not a support question, this is a bug.

[2019-04-18 05:43] borg286 commented on #5160
@bacongobbler that project is perfect. It accomplishes the vast majority of this feature request. You can close this bug.

[2019-04-18 05:43] #5160 closed

[2019-04-18 08:14] zoobab commented on #3792
Still have the problem with helm v2.13.1.

[2019-04-18 08:30] hammady commented on #3909
I agree that this is a bug, not only that but could be a serious bug as well. If you have a `PersistentVolume` attached to a subchart, the deletion action will also delete the volume if its `ReclaimPolicy` is set to `Delete` (the default).

[2019-04-18 09:53] reschex commented on #5595
Hi - can you give some more detail on how you're deploying? are you using `helm upgrade --install` by any chance? And if you do, what is the state of the deployment when it's broken (`helm ls`) - presumably it is `Failed`?

If this is the case, a `helm delete --purge <deployment>` should do the trick.

[2019-04-18 09:55] sgandon commented on #2055
Any news on this ticket ?
nginx do not use the resolv.conf and we have to use FQN for referencing services which make is very hard when you use different cluster which have different name cause the FQN is using the following pattern:
<service name>.<namespace>.svc.<cluster name>
the <namespace> is already available in helm but not the <cluster name> :(

[2019-04-18 10:11] sta-szek commented on #5595
hi, sorry for missing info.
Yes i am using `helm upgrade --install`
And yes, the deployment stays in `Failed` forever.
Unfortunately the `helm delete --purge <deployment>` is not an option here at all. I cannot just delete production services because of that :)

The question is why helm cannot recover after 3 consecutive failures.

[2019-04-18 10:58] rimusz commented on #5595
the only way to sort that without deleting the release add `--force`

[2019-04-18 11:47] sta-szek commented on #5595
`--force` to what? to `helm upgrade --install` ?
and if yes, then it means that above issue is actually expected feature and we should use `--force` with every deployment?

[2019-04-18 11:49] rimusz commented on #5595
yes, of course to `helm upgrade --install` :)
and yes you should use --force with every deployment

[2019-04-18 13:32] sta-szek commented on #5595
does it means that `--force` will deploy broken releases forcibly as well?
`--force                    force resource update through delete/recreate if needed`
what is the `delete` condition?

i really dont want to end up with deleted production services.

and do you really think that it is not an issue?

[2019-04-18 16:20] william-tran commented on #3587
@jascott1

Is this possible in helm 3?

[2019-04-18 17:11] jdolitsky opened #5613 "Helm 3: Document roles/RBAC setup for new CRDs"
With the new CRDs coming in Helm 3 (Release and ReleaseVersion), we will be able to define new roles regarding who can create/modify/delete these resources. This should be documented, including a tutorial of how to migrate from using RBAC in Helm 2.

[2019-04-18 20:34] royjs commented on #5575
I'm having the same exact issue. I would like to compare the file currently in my chart repo to a local package by comparing the checksums.
As dcodix explained, the issue is that even if the chart itself didn't change, the packaged chart (tar) is different every time. I would be really helpful to have a way to compare 2 packaged charts without having to download and extract them to compare the con

[2019-04-18 21:08] bacongobbler commented on #5575
Should we close this as a duplicate of https://github.com/helm/helm/issues/3612?

[2019-04-19 10:01] sinkcoder opened #5615 "Mustache syntax is not supported in Chart.yaml?"
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
Rancher

I want to use mustache syntax in Chart.yaml to generate something,but I got an error.
[code]
Here is the Chart.yaml.
[code]
What should I do?

[2019-04-19 16:22] agill17 opened #5617 "Helm list shows inconsistent numbers ( --deployed , --failed, --all )"
When I do helm list with different filters I get inconsistent results when compared with `--all` filter.
How does this make any sense?

For example;
[code]

-----
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
AWS

[2019-04-19 16:26] agill17 commented on #5617
/label bug

[2019-04-19 16:37] kingdonb commented on #4755
I have just been able to use the following variables to enable TLS without command-line flags in Helm v2.13.1, maybe this is already fixed.  Worthy of note maybe that when you listed `HELM_HOME`, `HELM_TLS_ENABLE`, `HELM_TLS_VERIFY`, `HELM_TLS_KEY`, `HELM_TLS_CERT`, `HELM_TLS_CA_CERT`, you didn't include `HELM_TLS_HOSTNAME`, which I needed additionally in order to make this work:

[code]

[2019-04-19 16:52] namelessvoid opened #5618 "Pass json strings with --set / --set-string"
Inside our CI piepline, I try to pass a google service account key (JSON format, contained in an environment variable) to the helm chart. It should end up as base64 encoded string within a secret:

[code]

However, passing it via `--set`/`--set-string` I get

[code]

It only works if I escape everything like this:

[code]

But inside our CI pipeline I do not want to have some magical escaping on e

[2019-04-20 00:03] kvangrae commented on #3275
I ran into the same issue. @fbcbarbosa it looks like it was [merged](https://github.com/helm/helm/pull/4871#pullrequestreview-223369034) 2 weeks ago. It should hopefully be a part of the next release [2.14.0](https://github.com/helm/helm/milestone/61).

[2019-04-20 09:41] yunzshi opened #5623 "how to upgrade umbrella-chart's dependency charts one by one"
Hi Experts,

I have a problem needs your help, thanks in advance.

we want to separate  our services into into 3 umbrella charts: service-app(includes the services developed by our team, are same type: deployment ), statefulset-app(includes the statefulset services developed by our team) and infra (includes DB/kafka etc. common infrastructure sservice),  these 3 charts are just served for dependen

[2019-04-20 10:27] pjanuario commented on #5184
I also encountered this problem with `stable/kibana` and `stable/filebeat` the keys will default to the chart values even when `!!null` is specified.

[2019-04-20 12:19] cdenneen commented on #5184
@aeijdenberg believe your PR just requires labels updated to be reviewed

[2019-04-21 14:06] castironclay commented on #2983
I was able to correct this by adding the tiller host information to the helm install command.
`--host=10.111.221.14:443`

You can get your tiller IP via this method
`$ kubectl get svc -n kube-system tiller-deploy`
`NAME            TYPE        CLUSTER-IP      EXTERNAL-IP   PORT(S)     AGE`
`tiller-deploy   ClusterIP   10.111.221.14   <none>        44134/TCP   34h`

Full command example
`helm instal

[2019-04-22 02:23] fduyangchao opened #5626 "Expected behavior of "helm upgrade --atomic --wait --debug --timeout 300 --version 1.1.0""
I'm using HELM v2.13.0-rc.2 version. When I use "helm upgrade --atomic --wait --debug --timeout 300 --version 1.1.0", the upgraded services are auto-recreated after cmd execution. While per my observation, the services should not be recreated by default. So may I know the expected behaviour in this scenario? Thanks.

#helm version:
Client: &version.Version{SemVer:"v2.13.0-rc.2", GitCommit:"b0d4c9e

[2019-04-22 09:39] tonsV2 commented on #5052
Is there any progress on this one? Currently I'm switching context by updating ~/.kube/config which isn't ideal

[2019-04-22 09:56] namelessvoid commented on #5618
For now I'm using a workaround by passing unencoded json as environment variable and encoding it to base64 inside the pipeline script. Than the encoded string is passed to helm via --set.

However, our developers now have to know when to use `b64enc` in the helm chart (for everything that can be passed via --set/--set-string without complication)  and when not (e.g. for json strings).

[2019-04-22 13:56] groundnuty commented on #4490
@jascott1 I'm not 100% sure what you meant by 'subchart use case" mega thread' but I'm happy to provide a use case, as I've been [living with this problem for last 2 years](https://github.com/onedata/k8s-deployment/blame/7f3acbf39cbc9c0c93451a35bc94141d13c2fae7/landscapes/onedata-3p/landscape.yaml#L562). The [charts](https://github.com/onedata/charts) I work with have all the nice bits including:

[2019-04-22 14:39] feksai commented on #3480
Confirm, that helps. I used
[code]
![image](https://user-images.githubusercontent.com/8003006/56505790-4b1e8f00-6525-11e9-886b-77d37db4c2de.png)

[2019-04-22 15:14] howardjohn commented on #5344
Still broken

[2019-04-22 15:55] JPWKU commented on #3409
I just had this error and it turned out to be I had to little resources set for the tiller deploy.

[2019-04-22 16:33] ericvmw opened #5628 "helm 3: --namespace not respected"
It seems the latest helm3 from dev-v3 branch doesn't take the --namespace parameter. Basically I try to deploy an example chart onto a different namespace, but it doesn't seem to take effect. Below are the commands and outputs. How is helm3 planning to support namespace and how should namespaces be specified in helm charts for helm3? Thanks for any help / pointers!

Output of `helm version`:
versi

[2019-04-22 16:36] kivagant-ba commented on #4659
The workaround from @terribleplan adopted for Jenkins:
[code]

[2019-04-22 17:54] bacongobbler commented on #5628
There was a change in Helm 3 where it now takes the current namespace from your local kube config. If it's not present, the default namespace is used.

To change the current namespace for the alpha, you can use

[code]

Helm will pick that up and use that namespace the next time you invoke it.

There's a few design refactors going on within Helm 3 to address prioritization issues with loading sett

[2019-04-22 17:57] bacongobbler commented on #5628
For reference: https://github.com/helm/helm/blob/658c66dc66684a85be787a066c8434ac5212648c/cmd/helm/helm.go#L108-L113

[2019-04-22 18:47] ericvmw commented on #5628
Thanks @bacongobbler for the info, it works! So I guess the --namespace flag would be added back later to customize the namespace config on the kubectl.

[2019-04-22 21:12] scottrigby commented on #5184
Hey @bacongobbler sorry I missed your question in https://github.com/helm/helm/issues/5184#issuecomment-456138448. I can verify it is a bug. In #2648 I really should have added a test that matched the documented example. I had meant to get back to this but #5185 looks promising! 👏 will respond over there

[2019-04-22 22:16] cgetzen commented on #5381
I don't know that modifying install order will always fix this: you can run into a scenario where the resource has been created but not assigned. But it does make sense that InstallOrder goes from largest to smallest.

[2019-04-23 03:36] LittleWhiteYA opened #5629 "helm get <RELEASE> is different from helm upgrade <RELEASE> <CHART> --dry-run --debug"
Hi everyone, I'm recently facing a strange situation ...
Why values in
`helm get releaseA` USER-SUPPLIED VALUES

is different from

`helm upgrade releaseA chartA --dry-run --debug` USER-SUPPLIED VALUES

I thought both of them are using same latest configmap??

Output of `helm version`:

[code]

Output of `kubectl version`:

[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

AKS

[2019-04-23 04:18] bacongobbler commented on #5629
helm upgrade --dry-run --debug shows the rendered templates of the chart supplied. helm get displays the current release, so it's expected that the output differs.

[2019-04-23 06:21] lh44 commented on #5602
Using nindent 4 fixed it for me. in templates/configmap.yaml

[code]

nindent 4 did the job, but it was adding a new line at the beginning. So trim fixes it.
However, using indent 4 (which is same as nindent 4 + trim) did not work for me

[2019-04-23 06:21] #5602 closed

[2019-04-23 06:29] lh44 commented on #5602
Some debugging steps helped to identify this issue,
* `helm template .`: Outputs the generated YAML, cautiously going through the generated YAML, showed the indentation issues in the certificate content.
So trying different indentation options and running the helm template . until the indentation is proper was the key!

[2019-04-23 06:36] LittleWhiteYA commented on #5629
@bacongobbler thanks for your reply.

But both of them are using same chart version.
Most of the USER-SUPPLIED VALUES are same but only one nested yaml object `a.b.env` is different and missing.
Why does that happen?

[2019-04-23 06:53] martinffx commented on #4717
I'm having the same confusion.

If I define all resources to be in a namespace i.e.

[code]

When I deploy the helm chart, I'd expect it to also be in that namespace, it is quite un-intuitive that it lands in the default namespace. What I'm looking for is a way to specify the namespace for the deployment in a file.

Having to specify it via the cli every time I call the command seems to defeat the

[2019-04-23 09:28] pinkavaj commented on #3255
Might be related to #5276

[2019-04-23 12:13] MPV commented on #2993
@omkensey / @thomastaylor312 Were any of you able to take a stab at this?

[2019-04-23 13:18] kopf commented on #3792
Same here. Can we re-open this?

[2019-04-23 15:47] bacongobbler commented on #3792
Can you re-open a new ticket with the commands that do not work with TLS certs? That way we can better track what action items are required to close the ticket. As far as the original report, `helm repo` commands now work with TLS certs so I'd like to see what exactly does not work for you and we can nail that down in a separate thread. Thanks!

[2019-04-23 16:12] bitsofinfo commented on #3384
[code]

Go 10.3+

Same issue, the repo is successfully installed, `helm dependency build` barfs on self signed certs, i've tried REQUESTS_CA_BUNDLE, putting the insecure flag in kube/config etc and still can't find a way to make it work.  Annoying.

The repo certs are listed in `~/.helm/repository/repositories.yaml` and exist in the proper location.

`x509: certificate signed by unknown authority`

[2019-04-23 16:13] kopf opened #5632 "--ca-file ignored when adding repo"
Similar to #3792 , I'm having trouble getting helm to use a custom CA when adding a new repo. #3792 is marked as being fixed in `2.10.0-rc1`, but I've also tested that exact version, and get the same `x509: certificate signed by unknown authority` error. See below.

(fyi, I also did the same test with helm `2.10.0` final release, with the same result)

First some sanity checks:

[code]

So, curl c

[2019-04-23 16:13] kopf commented on #3792
Hey @bacongobbler , thanks for the quick response! I've created #5632 with some debug logs. I hope that helps.

[2019-04-23 16:21] Nickuru opened #5633 "Helm install with passthrough routes"
Output of `helm version`:
2.13

Output of `kubectl version`:
1.11.0

Output of `oc version `:
v3.11.0

Hello. I use helm to deploy my services to OKD and i have a problem. I use the ingress file to create the paths to the service ports and when it comes to http there are no problems, but i need https path with passthrough(!) TLS.

And i cant find how can i do this. Could you show me where it is de

[2019-04-23 16:38] bacongobbler commented on #5632
thank you for the report. Your usage of the command looks correct to me, so I'm lead to believe it might be a bug in helm itself.

For curiosity's sake, can you try moving the CA cert and the client cert to ~/.helm/ca.pem and ~/.helm/client.pem respectively, then run `helm repo add` again without the CLI flags? I'd try experimenting different options and see if the flags are being parsed. I attemp

[2019-04-23 17:01] bacongobbler commented on #5633
You may want to take a look at examples such as the [elasticsearch chart](https://github.com/helm/charts/blob/b9d61bda41bc08a5ac85b2087d542d2224f48231/stable/elasticsearch/templates/client-ingress.yaml) on how they allow users to configure their ingress routes.

[2019-04-23 17:07] bmudda commented on #3384
+1

[2019-04-23 17:39] bacongobbler commented on #5629
values are not retained from preious upgrades unless the `--reuse-values` flag is provided. What do you see if you use that?

[2019-04-23 18:42] janitha09 opened #5634 "helm install does not show validation errors that kubectl apply does"
I nested the imagePullSecrets at the wrong level.

[code]
[code]
[code]
the pod fails because the image cannot be pulled from the private registry
[code]
From the debg output above taking the deployment section out and applying it like so

[code]

Output of `helm version`:
[code]
Output of `kubectl version`:

[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
EC2

[2019-04-23 19:30] bacongobbler commented on #5634
This appears to be a duplicate of https://github.com/helm/helm/issues/2575. I'm going to go ahead and close this as a duplicate feature request, but please let me know if this is not the case and we can look into it. Thanks!

[2019-04-23 19:30] #5634 closed

[2019-04-24 02:37] LittleWhiteYA commented on #5629
After I add `--reuse-values` flag,
`helm upgrade releaseA chartA --dry-run --debug` USER-SUPPLIED VALUES
is same as
`helm upgrade releaseA chartA --reuse-values --dry-run --debug` USER-SUPPLIED VALUES

By the way, the values from `helm get values releaseA -a` also has wrong values `a.b.env`.
`a.b.env` is an object.

[2019-04-24 04:28] YoninL opened #5636 "helm search didn't show versions named by git commit"
`helm version`:
[code]

## repo cache index file:
[code]

## helm search result:
[code]
helm install will also ignore version `d80a763`.

## Expected result:
Chart version `d80a763` should be displayed.

[2019-04-24 05:01] IdanAdar opened #5637 "Helm missing a dedicated status code for --atomic operations"
Output of `helm version`:
2.13.1 for both Helm client and Tiller.

Output of `kubectl version`:
v1.12.7

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
IKS (IBM Cloud Kubernetes Service)

Helm 2.13.x provides the `--atomic` flag to handle rolling back to a previous deployment in case of a failed deployment. This is good, however Helm is not providing a dedicated status code for this operation,

[2019-04-24 05:48] kopf commented on #5632
Interesting - when I do that, I get a slightly different error:

[code]

It may be worth mentioning that my `ca.pem` contains metadata (i.e. it begins with lines like `Bag Attributes:` and `subject=`), and that my `client.pem` contains both a private key and a certificate, each prefixed with metadata.

[2019-04-24 05:54] bacongobbler commented on #5636
git commit shas are not [semver](https://semver.org/) compatible, and therefore are considered pre-releases. To display non-semver versions, use `helm search --devel`.

Closing as a duplicate of https://github.com/helm/helm/issues/2797. Thanks.

[2019-04-24 05:54] #5636 closed

[2019-04-24 07:55] mumutu66 opened #5638 "File encoding makes `helm install` got error"
Output of `helm version`:
[code]

Output of `kubectl version`:

[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

Alicloud

System Env:

[code]

the problem in brief is the file with encoding UTF-8 which I create by the notepad on Windows make `helm install` fails  and got the k8s api error `Error: unable to recognize "": no matches for kind "HorizontalPodAutoscaler" in version ""`

the

[2019-04-24 09:02] juv commented on #3933
I also ran into this issue.
I have added `--debug` output to the `helm upgrade` command and double-checked that the existing config map is different from the new one that _should_ be deployed. Unfortunately, adding `--force` did not resolve the issue for me either.

[2019-04-24 10:47] Vhab commented on #3480
@miguelangel-nubla @feksai Unfortunately this didn't do the trick for us.
While using `--tls-verify` did reproduce a similar error, which we could then make go away with `--tls-verify --tls-hostname [hostname]`, this didn't remove the semi-random occurrence of the error during a longer helm call.

[code]
[code]

[2019-04-24 12:10] 2ZZ commented on #4753
Also experienced this error
[code]
This is using Tiller outside the cluster also

[2019-04-24 13:05] majewsky commented on #3275
A less destructive option is doing a `helm rollback` to the /current/ version (i.e. by 0 steps). I cannot guarantee success, but for us so far, it has always unwedged things successfully.

[2019-04-24 13:08] prshntsingh2010 commented on #1579
#Common deployment chart for all the microservices

To install deployment for some service we need  a YAML file that specifies the values for the required parameters. For example,

$ helm install --name my-deployment -f xyz-deployment-values.yaml paysafe-psm-deployment

##Notes:

1. In corresponding values file add these values or give it using "--set" :

[code]

2. Add parameters for precedence(i

[2019-04-24 13:17] distorhead opened #5639 "Rollback on syntax error does not work on the first try, works on retry"
Rollback on syntax error does not work on the first try, works on retry. Example to reproduce below.

[code]

Installing chart first time:

[code]

Introduce syntax error into template:

[code]

Upgrade release:

[code]

Now **important part**, first rollback:

[code]

First rollback gives the same error as failed upgrade. Try second rollback — and it works:

[code]

# Helm version

Issue reproduc

[2019-04-24 14:50] bacongobbler commented on #5530
fixed in https://github.com/helm/helm/pull/5630.

[2019-04-24 14:52] bacongobbler commented on #5530
never mind, that updated busybox to 1.29.1. reopening.

[2019-04-24 15:22] tao12345666333 commented on #5530
:+1:
And the `alpine:edge` contains the 1.30.1-r0 version of busybox but I think we should not use an unstable version.

[2019-04-24 15:36] prateek100489 commented on #4763
I had the same issue, but running following command resolved it:
on master node:

`export no_proxy=$(hostname -i)`

then

`helm init ..........................`

[2019-04-24 16:15] feksai commented on #3480
@Vhab yea, my excitement was short-lived. Still having same error with rare successfull results. Noticied that if *helm upgrade* takes more than 15 seconds then it will fail. In successfull releases it took not longer than that edge

[2019-04-24 16:35] distorhead opened #5640 "Broken compatibility because of mandatory validation on BuildUnstructured"
Validation on BuildUnstructured was introduced in the https://github.com/helm/helm/pull/5576.

Firstly, this is very important fix, thanks @mortent .

But we have encountered problems with compatibility trying to run `helm upgrade` on already installed release in the `DEPLOYED` state.

The error was:

[code]

The error occured because there is indeed an error in the chart template: `CronJob` does

[2019-04-24 16:46] mortent commented on #5640
@distorhead Thanks for creating the issue. I will take a look.

[2019-04-24 16:54] hickeyma commented on #5639
I was able to reproduce this using the scaffold chart as follows.

[code]
Add error to the deployment template and then do an upgrade:
[code]

Then do the rollbacks:
[code]

[2019-04-24 16:55] hickeyma commented on #5639
As this is reproducible, going to set to a bug.

[2019-04-24 19:06] #5369 closed

[2019-04-24 19:06] #5372 closed

[2019-04-24 22:17] AlexandrSemak commented on #4923
I understood that my case is an exception, but We have 8 clusters in different region and deploy prometheus-operator with the same config except of ingress especially hosts our Cloud CLI allow as get ingress for specific cluster and when i try to automate it i have to keep 8 values.yaml only with ingress

[2019-04-25 02:15] mailzyok opened #5642 "installation order of MutatingWebhookConfiguration"
Hello,

I have a question on the installation order of MutatingWebhookConfiguration, i checked the code
https://github.com/helm/helm/blob/master/pkg/tiller/kind_sorter.go, and i got a list of install order as below, but i cannot figure out the order of MutatingWebhookConfiguration.

        "Namespace",
	"ResourceQuota",
	"LimitRange",
	"PodSecurityPolicy",
	"PodDisruptionBudget",
	"Secret",
	"Con

[2019-04-25 07:11] hickeyma commented on #5642
Thanks @mailzyok for the asking about this.

@mattfarina What is the Helm procedure for adding Kubernetes objects to the installation order. FYI, [MutatingWebhookConfiguration](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#mutatingadmissionwebhook) object is still in beta.

[2019-04-25 12:42] kopf commented on #5632
Just read that thread, thanks for linking.

For the record, I'm using the official binaries in all cases:

[code]

[2019-04-25 14:49] #5344 closed

[2019-04-25 15:11] hickeyma commented on #5617
@agill17 I tested it as follows and is working as expected:

[code]

Can you provide more details to help troubleshoot your issue? Can you show the 'client version' from the `helm version` command?

[2019-04-25 15:24] agill17 commented on #5617
@hickeyma Hmm, strange.

Here is the server &  client version I am running for helm
[code]

[2019-04-25 15:24] akamdarChewy commented on #4545
This issue still exists as is.
We're using
Client:v2.12.3
Server:.v2.13.0

[2019-04-25 15:34] #4545 closed

[2019-04-25 15:35] bacongobbler commented on #4545
[as noted earlier](https://github.com/helm/helm/issues/4545#issuecomment-417038930), this is intended by design. It's only meant to be used in tandem with the `--install` flag to ensure it is installed into a particular namespace the first time a release is installed, not to migrate a release from one namespace to another.

[2019-04-25 15:48] hickeyma commented on #5430
@eroji @jeremyxu2010 any update on this?

[2019-04-25 17:18] pjanuario opened #5645 "helm delete --purge does not delete a job created with pre-upgrade hook"
**Bug Report**

I created a Job with a pre-upgrade hook, when helm delete is run the job and its completed pod are not deleted from the cluster.

Output of `helm version`:

[code]

Output of `kubectl version`:

[code]

Cloud Provider/Platform: Kubernetes @ Digital Ocean

[2019-04-25 17:29] bacongobbler commented on #5645
this is called out in the docs. See https://helm.sh/docs/developing_charts/#hook-resources-are-not-managed-with-corresponding-releases

[2019-04-25 17:47] pjanuario commented on #5645
@bacongobbler thank you for the response, I didn't seen that in docs, now it's clarified. This issue can be closed.

[2019-04-25 17:47] #5645 closed

[2019-04-26 02:29] LittleWhiteYA commented on #5629
@bacongobbler any further comments??

[2019-04-26 06:28] AlexPBZhang opened #5647 "Does helm test provide the feature that run a single test individually"
Hi,
I have a question for helm test.Does helm test provide the feature that run a single test individually?  For example, if I have several tests, can I run one of them based on its name single without running other tests? Looks like if I use the default command ```helm test <realeaseName>```all the tests will run together.
Thanks!

[2019-04-26 06:38] bacongobbler commented on #5647
I don't believe that functionality exists, though I do think that's a neat use case! cc @michelleN

[2019-04-26 09:27] hickeyma commented on #5524
@bigjonroberts Can you try running `make bootstrap build`?

[2019-04-26 16:25] bacongobbler commented on #5524
yeah, I'd recommend using `make bootstrap` instead of `glide install`. The `--strip-vendor` flag is important if I recall.

[2019-04-26 16:50] paddycarey opened #5648 "Helm fails to parse SemVer versions with parts that are larger than 32 bits"
Output of `helm version`:

[code]

Output of `kubectl version`:

[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): Docker for Desktop

## Issue

The version of `github.com/Masterminds/semver` used by Helm (1.3.1) supports a max size of 32bits for each part of the SemVer version.

e.g. trying to use the version number `1.0.15562920261` will result in the following error when running `helm

[2019-04-26 17:15] bacongobbler commented on #5648
If it's just a matter of bumping Masterminds/semver to a newer release, I don't see why not! Do you feel like contributing a fix to bump that dependency?

[2019-04-26 18:53] #5081 closed

[2019-04-26 21:21] maximestevenot commented on #1455
Hi, from my side I solved the _Error: forwarding ports: error upgrading connection: Upgrade request required_ issue with the following command:

[code]

---
Configuration:

- Kubernetes Client Version: 1.14.1
- Kubernetes Server Version: 1.10.3
- Helm Client Version: 2.12.3
- Helm Server Version: 2.12.3

[2019-04-27 09:03] grdl opened #5651 "Best practices on preventing running helm on a wrong cluster"
Our environment consists of multiple clusters (dev, test, uat, prod). We install/upgrade our apps by switching kubectl context to the correct cluster and running helm with specific values file, eg:
`helm upgrade -f values-uat.yaml .`

It is possible however to have your kubectl context set to eg. "prod" cluster and still apply the "uat" values with `-f values-uat.yaml` which breaks the production

[2019-04-27 16:24] QwertyJack opened #5652 "List sorted by namespace"
Can I list releases (i.e. `helm ls`) by namespace order?
Maybe `-n` ?

Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
AWS

[2019-04-27 19:46] PhilippF1992 commented on #5269
Hi, did you make any progress on this ?
I am running into the exact same problems.

Outputs are matching: