[2019-09-27 08:08] cyrilthank commented on #6374
appreciate any help as this is now a show stopper

[2019-09-27 09:19] Jabbo16 commented on #6374
@cyrilthank It seems the tiller error is because there is no tiller deployment running, try running this command to install tiller:
`helm init --service-account tiller --override spec.selector.matchLabels.'name'='tiller',spec.selector.matchLabels.'app'='helm' --output yaml | sed 's@apiVersion: extensions/v1beta1@apiVersion: apps/v1@' | kubectl apply -f -`

`helm version` should return the server (

[2019-09-27 09:22] cyrilthank commented on #6374
Thank you Sir.
You have been helpful in enabling us to proceed with kubeflow to the next step

[2019-09-27 09:33] cyrilthank commented on #6374
ok now i think i got this issue
https://github.com/kubeflow/kubeflow/issues/4184
 back as blocker

Appreciate it much if you could help with advice on how i may get some help on the https://github.com/kubeflow/kubeflow/issues/4184

[2019-09-27 09:36] Jabbo16 commented on #6374
@cyrilthank try the steps provided above: https://github.com/helm/helm/issues/6374#issuecomment-533853888
You need to replace the deprecated api versions with the new one

[2019-09-27 10:11] cyrilthank commented on #6374
[kubeflow_workaround_and_error_traces.txt](https://github.com/helm/helm/files/3662207/kubeflow_workaround_and_error_traces.txt)

Thank you Sir for your patient replies especially in keeping this issue open

Sorry about this but looks like i am doing something wrong in the workaround steps

Appreciate if you could review the steps in the attached traces and advise me on what i am doing wrongly

[2019-09-27 10:28] Jabbo16 commented on #6374
@cyrilthank you just need to run the `sed` commands against your kubeflow yamls to replace the old api extension with the new one (no need to deploy prometheus at all 😆 ). Sorry If I didnt express myself well enough.
The fix is basically replacing `extensions/v1beta1` with `apps/v1`in your kubeflow dpl yamls

[2019-09-27 10:40] cyrilthank commented on #6374
ah so i did a dumb copy :(

my KFAPP=/nfsroot/kf-poc

i still seem to be getting a few messages and the final error out

can you please help as i depend on you now to move to the next step on kubeflow

[kubeflow_workaround_sed_and_error_traces.txt](https://github.com/helm/helm/files/3662328/kubeflow_workaround_sed_and_error_traces.txt)

[2019-09-27 10:51] hickeyma commented on #2751
Ported in #6512

[2019-09-27 11:01] uniuuu commented on #6374
apps/v1beta2 also to apps/v1

https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/

[2019-09-27 11:16] cyrilthank commented on #6374
Thanks much @uniuuu for your help
Can you please advise where/how to obtain the yaml files referenced in https://github.com/helm/helm/issues/6374#issuecomment-535888077

https://github.com/helm/helm/issues/6374#issuecomment-533840097
https://github.com/helm/helm/issues/6374#issuecomment-533185074

requesting since after making the sed changes we still have encountered the errors referenced in

[2019-09-27 11:19] cyrilthank commented on #6374
can you please advise if the step

kubectl convert -f <file> --output-version <group>/<version>

needs to be executed for every <file> being every yaml file in the KFAPP location including .kache

[2019-09-27 11:45] hickeyma opened #6515 "charts directory not being created anymore in scaffold chart"
The charts directory is no longer created in the scaffold chart (`helm create`).

Output of `helm version`:
Helm 3 master

[2019-09-27 11:48] jizusun commented on #6374
If you have applied the workaround mentioned above when working with `helm init`, and still get the following error when trying things like `helm version`, it's because the `helm` `deployment` cannot be found.

[code]

You need to run `kubectl get events --all-namespaces | grep -i tiller` to know why it's not ready.

For example, my issue is simply as below, because I don't need `serviceaccount "t

[2019-09-27 11:50] jizusun commented on #6374
If you have applied the workaround mentioned above when working with `helm init`, and still get the following error when trying things like `helm version`, it's because the `helm` `deployment` cannot be found.

[code]

You need to run `kubectl get events --all-namespaces | grep -i tiller` to know why it's not ready.

For example, my issue is simply as below, because I don't need `serviceaccount "t

[2019-09-27 14:09] hickeyma opened #6517 "Chart install fails when Tiller installed with defaults in Kubernetes 1.16 cluster"
This error was noticed when testing the PR in https://github.com/helm/helm/pull/6462. You need the PR to be able to initialize with Kubernetes 1.16.

Tiller installed with defaults (i.e. no security/RBAC):

[code]

There is however an error when trying to install a scaffold chart (helm create chrt-tst2):

[code]

Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider

[2019-09-27 14:16] mr-falken commented on #6276
Same here, workaround using kubectl...but using just helm would be the best solution possible.

[2019-09-27 14:32] marckhouzam commented on #6474
@bacongobbler Can we mark this as partially aimed at the v2 2.15 release?  As discussed, some changes to v2 are required to allow auto-completion to properly work with v2 and v3 at the same time.

[2019-09-27 15:01] bacongobbler commented on #6474
I don't fully believe this is a requirement. The goal of the `helm 2to3` migration project is to transition users over from Helm 2 to Helm 3. Once data has been migrated over, users can solely rely on Helm 3 going forward.

I believe that the only group of users who would benefit from an autocompletion script that works with *both* Helm 2 and Helm 3 would be very limited... Likely just to core mai

[2019-09-27 15:12] hickeyma commented on #6474
@bacongobbler There are 2 migration scenarios or use cases:
1. Migrate over in place Helm 2 to 3 (use the plugin)
2. Helm 2 and Helm 3 run concurrently with a phased approach of draining off Helm v2 releases when applicable. All new releases are deployed using Helm v3.

We would hope the majority of people would chose to migrate over asap using the plugin. There will however be some people who mig

[2019-09-27 15:23] bacongobbler commented on #6474
Right, but in both of those cases, they are either switching wholesale to Helm 3, or they are in a transition period for a short period of time, in which case the efforts proposed in this PR would be thrown away when users have completed the transition. It's a non-goal for users to run both Helm 2 and Helm 3 in perpetuity since Helm 2 support will eventually end at some point (which is yet-to-be-d

[2019-09-27 15:35] hickeyma commented on #6474
There are many ways around this without the need for auto-complete for Helm v2 and Helm v3 concurrently.

[2019-09-27 15:36] hickeyma commented on #6474
Auto-complete  was not on the list of requirements for migration.

[2019-09-27 15:44] cnweaver commented on #6354
I believe that this is still a problem; specifically `helm inspect values` appears to lose comments in v3 when it did not in v2. The test above (`helm inspect stable/wordpress | tail -n 10`) successfully shows the readme (which is all that is visible when looking at only the last 10 lines with `tail`), but this is different from comments in the values.yaml. I suggest instead comparing `helm2 inspe

[2019-09-27 15:47] bacongobbler commented on #6354
re-opening and updated the title.

[2019-09-27 17:05] jlegrone commented on #3211
This should be closed by https://github.com/helm/helm/pull/6054.

[2019-09-27 19:01] adurai81 commented on #4953
Infact I've a similar requirement to. We have a need to set certain values in the ConfigMap that would then be referenced by K8s resources (not within the PODs) during deployment. For example while deploying the istio gateway we would like to pull certain values from the ConfigMap that was set already. Having a first-class support for this would be awesome. Can we pls re-open this as Enhancement r

[2019-09-27 19:03] adurai81 commented on #4953
Since this issue is marked closed, I doubt if this is going to show-up on the issue list (due to filters). We might have to open new issue to draw attention.

[2019-09-27 19:18] adurai81 opened #6520 "Provide support for accessing ConfigMap values from within yaml"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): Oracle Cloud Infrastructure

Description :
I've a need to inject certain values , read from ConfigMap, during install of certain K8s resources.

Specifically while deploying the istio gateway we would like to pull certain values from the ConfigMap (which was pre-created) and se

[2019-09-27 19:20] adurai81 commented on #6520
Referencing an earlier issue that was open for the same #4953

The issue was marked closed, hence opened a new issue.

[2019-09-27 19:27] #3211 closed

[2019-09-27 21:26] marckhouzam commented on #6474
I agree this could be considered a big effort for a small gain, and I hesitated before trying to try to address it.  But it turns out some aspects of these changes remain valuable even after v2 is gone (specifically points 1 and 4 from the description of the issue).  And the changes themselves have a small foot-print code-wise.

In my case, we haven't yet thought about if we would do a migration t

[2019-09-28 00:18] marckhouzam commented on #6474
That is very true and this was entirely my own initiative, misdirected as it may have been.

[2019-09-28 02:59] marckhouzam opened #6521 "v3: Can't add very first repo"
The acceptance-tests started failing after #6492 (had to do a git bisect to figure that out).

The reason is that it is no longer possible to add the very first repo when starting from an empty environment as shown below:
[code]

The reason is that the locking of repository file expects the directory of the `repositories.yaml` file to exist.

I first thought of ignoring the error if it was a missi

[2019-09-28 09:34] MichaelVL opened #6522 "Helm3 beta3 template require cluster access (regression from helm3 beta2)"
Running the following command:

  helm template nfs-storage nfs-server-provisioner --repo https://kubernetes-charts.storage.googleapis.com

 results in the error:

  Error: Kubernetes cluster unreachable

The helm3 beta2 version did not require cluster access.

Output of `helm version`:
version.BuildInfo{Version:"v3.0.0-beta.3", GitCommit:"5cb923eecbe80d1ad76399aee234717c11931d9a", GitTreeState:"c

[2019-09-28 10:30] marckhouzam commented on #6522
Thanks for the report.
This is a duplicate of #6417 (which is a dup of #6404).
They have very recently been fixed by #6425.

[2019-09-28 14:04] karuppiah7890 opened #6524 "Proposal: CI with windows environment"
After seeing issues like #6418 and fixing them, I feel like we could have a CI with Windows Environment

Pros:
1. Platform specific bugs could be caught
Golang is cross platform yes, but we still get bugs because of some platform specific things. It's how things are. Some standard libraries work differently in windows, for example `filepath`. I don't know other examples, so please chip in if you k

[2019-09-28 14:06] karuppiah7890 commented on #6524
What do others think about this? I also see previously it was added but due to stability issues it was dropped.

If I play the devil's advocate, I would think what else can I do to avoid the Windows CI pipeline? May be we write code such that we don't have to rely on a Windows CI. We can be so sure that if something works on linux - our CI's environment, it will surely work on everything else. I h

[2019-09-28 14:08] karuppiah7890 commented on #6521
After seeing the above PR recently, I was planning to use locks for #6140 issue. Thanks for the heads up on what kind of issues I can expect if I implement things using locks

[2019-09-28 14:11] karuppiah7890 commented on #6524
I also fixed issue #6418 with #6523 but I added code without any failing test. I couldn't write one failing test in mac. In windows environment multiple tests failed in my local, but that were due to multiple different reasons I think. But I felt it would have been easier to have a failing test in windows environment based on the implementation I saw

[2019-09-28 18:45] #6522 closed

[2019-09-29 05:04] daixiang0 opened #6525 "requirements.yaml can not use compute value"
I want to define value in `_helpers.tpl` and use it in requirements.yaml like below:
[code]
after test, it does not work.
I check doc:

It does not say not work for compute value.

The reason i want to do this is that, for same type of requirements, like database, use one is enough, but use `xx.enabled` can not avoid the case that specify two more as true.

Output of `helm version`:
[code]

Output

[2019-09-29 05:14] zhming0 opened #6526 "Multiple releases with the same release name in one namespace"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): GKE

Lately I found that one of my namespace contains releases with duplicated names. All releases are referring to the same chart. Only one of them is on `deployed` status. The others have `failed` status.

<img width="885" alt="Screen Shot 2019-09-29 at 3 10 28 pm" src="https

[2019-09-29 05:27] daixiang0 commented on #6525
Value from `_helpers.tpl` seems not top parent's values, oops...
Can mark it as feature or proposal?

[2019-09-29 07:27] karuppiah7890 commented on #6526
@zhming0 Thanks for reporting this 😄 Yes, it's a bug. Only latest revision of the release in the namespace should be shown. The bug is it was showing old revisions too. It was also reported here #6356 and was fixed by #6479 . It should be available in the next beta release that is beta-4 . This can be closed 😄

[2019-09-29 08:23] karuppiah7890 opened #6527 "Helm3: Lint does not catch bad template yamls"
Output of `helm version`:
[code]

This is related to the issue #6418 occurring in helm v2. Both have the same root cause.

[chart.zip](https://github.com/helm/helm/files/3666518/chart.zip) . The deployment yaml's `kind` key doesn't have `:` after it

[code]

I'll raise a PR for this too!

[2019-09-29 13:41] BhaveshSethi opened #6529 "appVersion in helm ls"
Duplicate of [3903](https://github.com/helm/helm/pull/3903) but for Helm3

Output of `helm version`:
version.BuildInfo{Version:"v3.0.0-beta.3", GitCommit:"5cb923eecbe80d1ad76399aee234717c11931d9a", GitTreeState:"clean", GoVersion:"go1.12.9"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.6", GitCommit:"96fac5cd13a5dc064f7d9f4f23030a6aeface6cc",

[2019-09-29 14:00] karuppiah7890 commented on #6529
@BhaveshSethi Would you be willing to port the feature over to Helm 3? 😄

[2019-09-29 14:14] karuppiah7890 commented on #6393
There's already a PR for the above - https://github.com/helm/monocular/pull/643

[2019-09-29 15:16] karuppiah7890 commented on #6313
No @csupi , doesn't look like you missed something. This clearly looks like a bug to me. Will have to check what's causing this behavior

[2019-09-29 15:24] karuppiah7890 opened #6530 "Helm3: Upgrade with conditional dependencies not working"
Related issue - #6313 (helm v2 bug)

This happens only while using `--reuse-values`. When explicitly mentioning values yamls using `--values` it doesn't happen

Output of `helm version`:
[code]

[2019-09-29 15:27] karuppiah7890 commented on #6313
This happens when using `--reuse-values` but it works fine when explicitly using `--values` during the upgrade. We'll check on this 😄

[2019-09-29 16:36] karuppiah7890 commented on #6530
My guess is, this happens because we process the charts and the dependencies here

https://github.com/helm/helm/blob/eac6a60001934ef93517f52b2a87e04273da6e30/pkg/action/upgrade.go#L71

And then prepare upgrade here

https://github.com/helm/helm/blob/eac6a60001934ef93517f52b2a87e04273da6e30/pkg/action/upgrade.go#L83

And only during prepare upgrade we check the values present in the existing releas

[2019-09-29 16:44] karuppiah7890 commented on #6313
Similar to what I noticed in helm v3 https://github.com/helm/helm/issues/6530#issuecomment-536318742 I'm having suspicion on the processing of chart dependencies before sending to tiller in helm v2 too. And only in tiller existing values is known. Here too I have to confirm the suspicion. This is just a hunch 😅

[2019-09-29 18:57] #6526 closed

[2019-09-30 05:08] cyrilthank commented on #6374
Hi @Jabbo16

I tried manually changing the yaml file for **selector errors**  as below

"./suggestion/base/suggestion-bayesianoptimization-service.yaml"

  selector:
matchLabels:
app: katib
component: suggestion-bayesianoptimization
...
selector:
matchLabels:
app: katib
component: suggestion-bayesianoptimization

and the file "./suggestion/base/suggestion-bayesianoptimization-deployment.yaml"

sel

[2019-09-30 06:27] bacongobbler commented on #6374
@cyrilthank I removed your comment because it isn't relevant to the discussion involved here. Please continue to follow up in kubeflow/kubeflow#4184. Thanks!

[2019-09-30 06:58] BhaveshSethi commented on #6529
@karuppiah7890 Sure, I would love to.

[2019-09-30 07:09] karuppiah7890 commented on #6529
@BhaveshSethi awesome, go ahead and let us know if you need any help 😄 Also checkout https://hacktoberfest.digitalocean.com/ if you haven't already. This could be your first PR for this year's Hacktoberfest 😄

[2019-09-30 07:21] NishikaDeSilva opened #6531 "Helm3-beta.1 --dependency-update gives an error ".config/helm/repositories.yaml: no such file or directory""
Output of `helm version`: v3.0.0-beta.1

Output of `kubectl version`: v1.10.3

Cloud Provider/Platform (AKS, GKE, Minikube etc.): GKE

I'm trying to install a chart with NFS dependency with the following command.

[code]
But this command provides following error:

[code]
*requirements.yaml* :
[code]

[2019-09-30 08:52] rimusz commented on #6531
It looks you did not `stable` repo, which was removed from helm v3 to be set be default.
and please try it with the latest beta 3.

[2019-09-30 09:00] hickeyma commented on #6531
Duplicate of https://github.com/helm/helm/issues/6287. Closing as fixed in beta 2. As @rimusz suggested, can you try the latest release [beta 3](https://github.com/helm/helm/releases/tag/v3.0.0-beta.3).

[2019-09-30 09:00] #6531 closed

[2019-09-30 11:46] NishikaDeSilva commented on #6005
Hi
Is this issue fixed ?

[2019-09-30 11:50] woodcockjosh commented on #6005
@NishikaDeSilva see https://github.com/helm/helm/pull/6258. It might not have released yet.

[2019-09-30 12:04] NishikaDeSilva commented on #6531
That works thanks !!!

[2019-09-30 12:52] axsy commented on #4279
Same here, checking the version of deployment application in smoke test does not guarantee the pass because `helm --wait` keeps the pipeline blocked until `maxUnavailable` is ready and the pods from old replicaset are still in action.

[2019-09-30 13:15] macrozone commented on #6031
@mjhuber happens to us as well, that is a huge problem for us. Same problem occures on job definition (e.g. helm hook jobs)

[2019-09-30 13:35] CVirus commented on #6374
Slight correction
`helm init --override spec.selector.matchLabels.'name'='tiller',spec.selector.matchLabels.'app'='helm' --output yaml | sed 's@apiVersion: extensions/v1beta1@apiVersion: apps/v1@' | kubectl apply -f -`

[2019-09-30 14:19] P1ng-W1n commented on #6009
FYI - POSIX defines the standard error stream as "for writing diagnostic output". The GNU C standard library [1] defines it similarly as "used for error messages and diagnostics issued by the program"

[1] https://www.gnu.org/software/libc/manual/html_node/Standard-Streams.html

[2019-09-30 14:46] Sylordis commented on #6009
In that case shouldn't everything be printed on stderr and not one part on stdout and the other on stderr?

The second part of the message was more of a personal opinion/preference, that stderr should be used for actual important errors/problems.

[2019-09-30 14:50] bacongobbler commented on #6009
similar issue opened two weeks ago: https://github.com/helm/helm/issues/6461

We should take a look at making those debug messages displayed on stderr, as the output of `--debug` should be there. This should already be the case in Helm 3, but there may be some areas in Helm 2 where debug messages are accidentally displayed on stdout.

[2019-09-30 14:52] cpanato opened #6533 "Not fail a circleci build if coveralls is down or respond error when uploading the results"
in conversation with Matt (Farina) 😄 looks like the helm build is failing when coveralls is down or respond http 500

The proposed idea is not to fail the build when this is down, just bypass the upload results.

I will open a PR to propose the change and we can discuss the approach

/cc @mattfarina

[2019-09-30 15:08] bacongobbler commented on #6503
Helm 2 has a ton of flag/envvar parsing bugs, so I'm not too surprised to see this bug. I believe we have the same issue with `--home` in certain cases. In Helm 3, we overhauled the parsing system so cases like this one are handled more cleanly. If you can identify the issue in the code, that would be helpful.

[2019-09-30 15:38] hickeyma commented on #6515
Closing as #6516 now merged.

[2019-09-30 15:38] #6515 closed

[2019-09-30 17:18] thomastaylor312 commented on #6005
It will be released in 2.15!

[2019-09-30 17:35] karuppiah7890 commented on #6428
Just mentioning a weird thing I noticed just now. For some non existent `.tgz` alone helm lint does not fail , but for others it fails with proper exit code! I will try to fix this too!

[code]

[2019-09-30 18:02] karuppiah7890 opened #6535 "Helm3: Support .tar.gz files too"
Output of `helm version`:
[code]

Helm3 already supports `.tgz` tar balls for helm charts. It only seems fair to support `.tar.gz` which is the same thing but just a different / extended extension name. I understand `helm package` gives only a `.tgz` as an output. I just felt that they both are the same thing technically, but why does it not work for `.tar.gz`:

[code]

Just felt it could work for

[2019-09-30 18:02] bacongobbler commented on #2575
#2585 was due to inactivity. If someone is interested in pushing this feature along the finish line, please write a PR against Helm 3. As per [the announcement on the mailing list](https://lists.cncf.io/g/cncf-helm/topic/last_v2_feature_release/34301238), Helm 2.15.0 is the last release where we will be merging new features for Helm 2. Thanks!

[2019-09-30 18:03] karuppiah7890 commented on #6535
Same thing for Helm v2 too

[2019-09-30 18:04] bacongobbler commented on #1948
You can have the Helm client running on a device using a 64-bit ARM chip interfacing with a Kubernetes cluster backed by machines using a 64-bit AMD chipset.

[2019-09-30 18:13] johanfleury commented on #2474
/reopen

[2019-09-30 18:20] bacongobbler commented on #2474
Hey @johanfleury, if you could please open a new issue with the version of Helm and Kubernetes you are using as well as a demonstration/reproduction of the issue, that would be great. This issue was opened over two years ago and was likely fixed in https://github.com/helm/helm/pull/6010, so if you could try and reproduce using the canaries, that'd be great. Thanks!

[2019-09-30 18:31] bacongobbler commented on #2975
Fixed in Helm 3 as it now follows the XDG base directory specification.

https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html

[2019-09-30 18:31] #2975 closed

[2019-09-30 18:32] bacongobbler commented on #2839
Fixed in Helm 3 as it now follows the XDG base directory specification.

https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html

[2019-09-30 18:32] #2839 closed

[2019-09-30 18:40] karuppiah7890 opened #6537 "Helm v2: lint silently ignores non existing packaged charts"
Related issue: #6428

[code]

And it also doesn't throw errors for corrupted charts

[code]

Output of `helm version`:
[code]

[2019-09-30 18:42] thomastaylor312 commented on #6537
I confirmed this is happening tarballs that end in `.tgz` but it does not occur for `.tar.gz`

[2019-09-30 18:46] karuppiah7890 commented on #6537
We never consider `.tar.gz` as tar ball actually. We consider them as simple directories.

[code]

Check this #6535

[2019-09-30 18:55] thomastaylor312 commented on #6537
Yeah, I actually just discovered that myself looking in Helm 3 code. Just checking if that is supposed to be the case

[2019-09-30 19:00] unguiculus commented on #6248
Ported over in #6494

[2019-09-30 19:00] #6248 closed

[2019-09-30 19:01] karuppiah7890 commented on #6537
I don't think that's supposed to be the case. The issue #6535 has been marked as a feature now

[2019-09-30 19:03] unguiculus commented on #5797
Should be fixed in #6054

[2019-09-30 19:10] #5797 closed

[2019-09-30 19:24] bacongobbler commented on #3887
closing for the same reasons stated in #3888: the code refactor introduces the same amount of code in return, so it's no cleaner than the original. Additionally, this part of the codebase was removed in Helm 3 so this can be closed.

[2019-09-30 19:24] #3887 closed

[2019-09-30 20:16] johanfleury opened #6539 "toToml filter converts integers and floats to quoted-strings"
# Bug Report

When using the `toToml` filter in a template, integers and floats are converted to quoted-strings (which is not the case with `toYaml`).

This lead to issues with other TOML decoders (`telegraf` will crash with: `E! [telegraf] Error running agent: Error parsing /etc/telegraf/telegraf.conf, line 41: (config.AgentConfig.MetricBatchSize) cannot unmarshal TOML string into int`).

# Examp

[2019-09-30 20:19] bacongobbler commented on #6539
@johanfleury [I mentioned](https://github.com/helm/helm/issues/2474#issuecomment-536687114) that https://github.com/helm/helm/pull/6010 likely FIXED this issue. Not introduced it. As requested earlier, can you please check and confirm with the canary release. Thanks.

https://helm.sh/docs/using_helm/#from-canary-builds

[2019-09-30 20:21] johanfleury commented on #6539
That's what I did, and the difference between 2.14.3 and the canary release (2.14 commit `3b51dfbdbcf34c9ece3e6840dad0ab70cc13c1c2`) is that intergers that where converted to floats are now converted to quoted-string.

[2019-09-30 20:42] PriyamJPatel commented on #6374
+1

[2019-09-30 21:37] #3734 closed

[2019-09-30 21:51] ddrechse commented on #4753
same here with 2.14.2

fatal error: concurrent map iteration and map write

( goroutine 27 [running]:
 runtime.throw(0x19424ce, 0x26)
 	/usr/lib/golang/src/runtime/panic.go:617 +0x72 fp=0xc00001abd0 sp=0xc00001aba0 pc=0x42d502
 runtime.mapiternext(0xc00001adf8)
 	/usr/lib/golang/src/runtime/map.go:860 +0x520 fp=0xc00001ac58 sp=0xc00001abd0 pc=0x40ee90
 k8s.io/helm/vendor/google.golang.org/grpc.(*S

[2019-09-30 21:51] ALuongIBM commented on #5156
Interesting contrast @RobertoDonPedro, perhaps we should remind the user that PVC's exist or even offer an option like `--purge-pv=true`?

[2019-09-30 21:58] bacongobbler commented on #5156
What do you propose as a solution? :)

At this point it appears there's consensus here that Helm should follow the same behaviour as `kubectl` here. If someone wants to write a PR against Helm 3 to remove the PVC on `helm delete`, we'd appreciate it. Users that rely on the PVC staying after a `helm delete` can use the `helm.sh/resource-policy: keep` annotation.

[2019-09-30 22:46] bacongobbler commented on #5773
This has been implemented in Helm 3 now that the code for `helm install` is re-used within `helm template`. Closing!

[2019-09-30 22:46] #5773 closed

[2019-09-30 23:07] bacongobbler commented on #5043
I disagree here. If the user wants to keep their charts encrypted, then they should be allowed to do so, provided the complexity introduced makes sense. It's not our place to say whether or not their value proposition is their Helm charts (or any other part of their product for that matter).

We just closed #5048 because it relies on Tiller which has been removed in Helm 3. However, if you want to

[2019-10-01 02:01] absoludity commented on #6464
Sorry, I should have copied the details I included in the slack thread linked above.

So it would, IMO, be helpful to have a reference to the repository when a release is created. If the release was created with a local chart (ie. without a repository) or otherwise unpublished (local) repository, then saying as much is also useful (ie. an empty value), but if the release was created from a reposit

[2019-10-01 07:20] CBrucePerkins commented on #6374
I tried doing this. After editing the file in VIM i use the `kubectl apply` command, but it doesn't seem to do anything. When I run `helm init --service-account tiller --tiller-namespace kube-system --debug >> helm-init.yaml` again or `helm init --output yaml` the changes haven't been applied. Anyone else experience this?

[2019-10-01 08:34] dops-vijayv opened #6543 "Helm v 2.9.1 Error: Can't get a valid version for repositories even when the chart is available"
We're facing the below error during umbrella packaging of our product chart.
We're using a helm-docker image to pack helm charts like below.

The chart01 has already been uploaded to the inprogress repo. The issue occurs for all dependent charts in a random fashion for no reason.

We're not sure if this issue is related to artifactory or helm itself.
Thanks!

[2019-10-01 09:07] avarf commented on #6374
I just upgraded our k8s and I faced this problem and I used above solution. It creates deployment but replicaset fails and this is what I get from `kubectl describe -n kube-system replicasets.apps tiller-deploy-77855d9dcf`:
[code]
Where I can find a yaml file to create that serviceaccount?

[2019-10-01 09:12] FoseFx opened #6544 "Minikube helm init fails 'Error: error installing: the server could not find the requested resource'"
I attempted to set up helm/tiller on a cluster on mine and encountered an error, so I decided to try helm out in minikube, the same error occurs:

[code]

Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
[code]

[2019-10-01 09:19] hickeyma commented on #6544
Closing as a duplicate of https://github.com/helm/helm/issues/6374

[2019-10-01 09:19] #6544 closed

[2019-10-01 09:24] avarf commented on #6374
This solved my problem!

[2019-10-01 09:46] carlossg commented on #5788
crossposting from https://github.com/Azure/AKS/issues/1008

If you are stuck with an older helm version, my workaround is to create a new shell session for helm, copy my `.kube/config` as `.kube/config-helm` and set `KUBECONFIG=.kube/config-helm`
Then I can use helm in that session and `kubectl` in other sessions with no issues

But yes, it is solved by upgrading helm

[2019-10-01 09:58] unludo opened #6545 "tiller-deploy fails in GKE - cannot access service account token - permission denied"
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
GKE

The tiller-deploy pod has this issue:
Cannot initialize Kubernetes connection: open /var/run/secrets/kubernetes.io/serviceaccount/token: permission denied

Here is the dry-run for helm:
[code]

Here is the service account tiller details:

[code]

thanks!

[2019-10-01 10:13] hickeyma commented on #5788
@dploeger As this is fixed in Helm 2.14, I think the content in this issue should be adequate for users (if they encounter the issue) as they are more than likely to upgrade to the latest versions of Helm. Helm is currently at 2.14.3 and 2.15 will be released shortly.

Closing as fixed in 2.14.

[2019-10-01 10:13] #5788 closed

[2019-10-01 10:17] hickeyma commented on #6545
@unludo Can you show the `init` command that you ran?

[2019-10-01 11:11] unludo commented on #6545
helm init --service-account tiller

[2019-10-01 11:21] mboret commented on #3403
Same issue ".Files.Get" and ".Files.Glob" returns nothing. I've also tried the example from the documentation with helm 11.0 and 14.3 and same.

[2019-10-01 13:09] mattfarina commented on #6545
If I'm reading this right, when tiller tries to open the file to obtain the token it's getting a permission denied on opening the file.

I wonder what the permissions are on this file and if everything ok with the cluster. If someone can shell into the tiller instance they could look at the file permissions.

[2019-10-01 13:24] johanfleury commented on #6539
I did some tests, and the issue is due to the use of `json.Number` for floats and integers unmarshaling: https://play.golang.org/p/afaXYox7qBP.

I'm not really into Go so I not 100% sure, but I suppose the [TOML library](https://github.com/BurntSushi/toml) does not support `json.Number` (I'm not sure if it should).

[2019-10-01 14:38] algarci commented on #4685
m

[2019-10-01 15:54] thomastaylor312 commented on #6239
This is actually partially implemented with #6504. It introduces an interface that can be implemented for anything that wants to print, which should make this easier to do

[2019-10-01 16:31] thomastaylor312 commented on #6543
What does the `Chart.yaml` look like for "chart01" and what does the entry in `requirements.yaml` look like? That should help me to answer the question better

[2019-10-01 16:33] thomastaylor312 opened #6546 "`helm get values` missing output in v3"
v3 is currently missing the `--output` flag and code for `helm get values`. This functionality needs to be re-enabled

[2019-10-01 16:33] thomastaylor312 commented on #6546
cc @endzyme

[2019-10-01 16:57] thomastaylor312 commented on #6238
I'm going to work on fixing this

[2019-10-01 17:46] yfei1 opened #6548 "[Helm2] helm install and template produce different output"
It seems like `helm template my-chart` install the helm tests but `helm install my-chart` excludes them. Is it the expected behavior? If so, should we document this behavior somewhere in the website?

Output of `helm version`:
[code]
Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
`GKE`

[2019-10-01 19:10] bacongobbler commented on #6374
#6462 has been merged and will be available in the next release (2.15.0). For now, feel free to use the workarounds provided above or [use the canary release](https://helm.sh/docs/using_helm/#from-canary-builds).

Thanks everyone!

[2019-10-01 19:10] #6374 closed

[2019-10-01 19:24] thomastaylor312 commented on #6238
So looking around at the code, I think the output change was very intentional, but it probably was not discussed very well. The `--debug` flag as it stands now actually outputs all the logging and isn't tied to outputting other kinds of data. It seems like the debug flag now has a conflated meaning as it has to do more with additional logging/context and not with the final output of a command. So,

[2019-10-01 19:26] jbrette commented on #6497
PR has been merged.

[2019-10-01 19:26] #6497 closed

[2019-10-01 19:42] thomastaylor312 commented on #6407
Closed in #6542

[2019-10-01 19:42] #6407 closed

[2019-10-01 19:46] bacongobbler commented on #3319
fixed in Helm 3 via https://github.com/helm/helm/pull/6542

[2019-10-01 20:29] thomastaylor312 commented on #6238
@endzyme So I am pretty sure the `Config` data member of a release contains the final merge of the user supplied values based on my initial experimentation. Am I missing something?

[2019-10-01 22:17] costimuraru commented on #6443
Can this issue be closed, since https://github.com/helm/helm/pull/6444 got merged?

[2019-10-01 22:27] #6443 closed

[2019-10-01 22:38] martin-patsov commented on #1713
Combined with:
https://github.com/docker-library/postgres/issues/146
and
https://medium.com/@xcoulon/initializing-containers-in-order-with-kubernetes-18173b9cc222
everything worked great!

[2019-10-01 23:11] absoludity commented on #6464
Great, thanks @thomastaylor312 .

[2019-10-02 00:41] marckhouzam opened #6552 "v3: Commands should not have both args and subcommands"
I don't know if this was ever discussed and it is probably too late to bring it up but here goes, just in case.

`helm get` and `helm show` accept both an argument (RELEASE_NAME or CHART respectively) or a subcommand.  This can cause conflicts where helm does not know if the argument is a subcommand or a real argument.  For example:

If I have a directory named `chart` (which I do), the command `h

[2019-10-02 05:08] karuppiah7890 opened #6553 "Helm 3: Docs Home page design"
I noticed the home page of v3 docs could get more spacing in terms of design. It's all too compact now

<img width="1440" alt="Screen Shot 2019-10-02 at 10 32 33 AM" src="https://user-images.githubusercontent.com/12808424/66019358-a5724180-e500-11e9-95fa-834896488a47.png">

I think the text on the top should not be so close to the water. Felt it could be better. Probably some CSS issue, not sure w

[2019-10-02 05:15] karuppiah7890 commented on #6546
@thomastaylor312 I'm able to run `helm get values release-name` and get the values in `dev-v3` branch latest version. Do you mean only the code for `output` flag is missing?

[2019-10-02 06:27] hickeyma commented on #6553
@karuppiah7890 Helm v3 docs are now in https://github.com/helm/helm-www. Can you raise an issue in that repo instead? Thanks.

[2019-10-02 06:27] #6553 closed

[2019-10-02 07:16] karuppiah7890 commented on #6553
Oops. Sorry. Shall I also add this to the Issue template of this repo saying doc issues need to be raised in a different repo?

[2019-10-02 07:59] ecout commented on #6507
Done!
https://github.com/helm/helm-www/issues/298

[2019-10-02 08:10] hickeyma commented on #6521
I have pushed a fix in #6555.

[2019-10-02 08:13] hickeyma commented on #6507
Great, thanks. Closing as issue raised helm/helm-www#298

[2019-10-02 08:13] #6507 closed

[2019-10-02 08:14] hickeyma commented on #6553
Seems like a good idea @karuppiah7890

[2019-10-02 11:04] endzyme commented on #6546
Yep - what's missing is the availability to output values as json.

[2019-10-02 11:33] karuppiah7890 opened #6557 "Proposal: Bazel Build Tool"
Currently we are using `go test`. It works well and does caching too. In my team we recently tried [bazel](https://bazel.build) and noticed it's so fast and does caching and supports golang along with few other languages. The tests literally run in few seconds - by processing only files that have changed and their related files and using the cache for everything else. I would love to show a proof

[2019-10-02 12:08] karuppiah7890 commented on #6313
The hunch for #6530 was correct and I raised a PR for it here #6556

In v2, since there's a client and a server (tiller), I noticed that on the client side we do processing of conditions over here

https://github.com/helm/helm/blob/9fb9850aca4afab0d38bcd73218098a145b4e7ac/pkg/helm/client.go#L185-L192

I think this has to be done on the server side after getting the values - since the reuse values

[2019-10-02 13:32] karuppiah7890 opened #6558 "Proposal: helm plugin ls subcommand"
Similar to how we have a `ls` alias for `list` subcommand -> `helm ls` = `helm list`, what do you people think about doing the same for plugin list, like -> `helm plugin ls` = `helm plugin list`

I was also thinking the same for `helm plugin remove`, like `rm`. But I wanted to see what you folks think about this one

[2019-10-02 13:34] rimusz commented on #6558
+1 for those aliases

[2019-10-02 13:41] bacongobbler commented on #6558
Sounds good to me. Always good to have consistency.

[2019-10-02 14:17] karuppiah7890 commented on #6558
I think we can put a `good first issue` label and `hacktoberfest` label too. And to other similar small issues too!

[2019-10-02 14:27] unludo commented on #6545
I pulled the tiller image and 'ashed' into it, and whoami says I am 'nobody'. I guess this user does not have the correct rights to access /var/run/secrets/kubernetes.io/serviceaccount/token

[2019-10-02 14:31] karuppiah7890 commented on #5900
@bacongobbler Will a PR be accepted for this ? Considering we are trying to cut the last feature release for v2 soon, will there be time for this one? Let me know what would be the timeline. Like by what time a PR needs to be raised for it to be accepted - that is reviewed, merged, and ready for last v2 feature release

[2019-10-02 14:33] adityagu0910 commented on #2639
I am trying the same with statefulset and it is not working. All the time I am getting same checksum value. Seems sha256sum is getting calculated on the file itself and not its content
I tried with below two commands as $.Template.BasePath is not working for my helm deployment

`checksum/config: {{ include (print $root.Template.BasePath "/configmap.yaml") $root | sha256sum }}`

`checksum/config: {

[2019-10-02 15:52] martinvelos opened #6559 "installation guide link missing in docs' quickstart"
https://v3.helm.sh/docs/intro/quickstart/#install-helm has missing "the installation guide" link's target. (Install section)
In v2 this went to packaged binaries, which we don't have in v3/beta.

[2019-10-02 15:54] hickeyma commented on #6559
Thanks @martinvelos for finding this bug. The Helm 3 documentation is now in https://github.com/helm/helm-www. Do you mind raising an issue there instead pls.?

[2019-10-02 16:49] stevenfranks commented on #6558
Could I take a look at this issue?

[2019-10-02 16:53] bacongobbler commented on #6558
Sure! Just one quick note: since this is a feature this would be a Helm 3 feature. WHen writing the PR just make sure to target the `dev-v3` branch, not master :)

There's some starting documentation here to help you get started: https://v3.helm.sh/docs/community/developers/

[2019-10-02 16:54] stevenfranks commented on #6558
Thank you! I'll check it out now

[2019-10-02 16:59] KamalashreeNagaraj commented on #6535
I would like to try this for Helm v3!

[2019-10-02 17:01] bacongobbler commented on #4674
fixed in Helm 3.

[2019-10-02 17:01] #4674 closed

[2019-10-02 17:05] bacongobbler commented on #6535
Go for it. :)

[2019-10-02 17:34] endzyme commented on #6238
Thanks for following up - yes - I believe I opened the issue before it was fixed in `dev-v3`. Thanks again!

[2019-10-02 17:34] danielthrasher commented on #6558
I am new to contributing to opensource projects but just curious.  If I wanted to try this out as well,  would that be an issue?  Just don't want to step on anyone's toes as another user is already looking at it.

[2019-10-02 17:42] bacongobbler commented on #6558
I'd try taking a look at something else already listed as a good first issue in the queue that someone else hasn't already claimed. That way nobody's stepping on anyone's toes. :)

https://github.com/helm/helm/labels/good%20first%20issue

[2019-10-02 17:44] danielthrasher commented on #6558
Perfect!  Thanks so much!  I can do that.

[2019-10-02 17:57] Typositoire commented on #6130
So 4 days a part the workaround worked and stopped working I had to use the CRDs file from `0.32.0` not master.

[2019-10-02 19:14] whereisaaron commented on #3486
This continues to be a problem with helm 2.x, does anyone know if helm 3.x have a solution for (optionally) merging arrays during install?

[2019-10-02 19:59] adityagu0910 commented on #2639
Also i want to monitor the changes in multiple properties file in multiple directories. Is there a way to do this ?
 below  works fine for one file only.
`checksum/config1: {{ $root.Files.Get "configmaps/abc.properties" | sha256sum }}`

I am creating my config map using below which list all the properties file in one config map that i can mount in my liberty server and access these properties file

[2019-10-02 20:06] vasusharma1 opened #6560 "Regarding release name after upgrade"
After upgrading chart:
1. Can i change release name ?
2. Can i change chart name or it's version?

Am i missing something or they cannot be changed

[2019-10-02 20:08] adityagu0910 commented on #2639
seems this one is working. the only thing is that i will have multiple checksum for all files in one field.

`        checksum/config1: {{ range $path, $bytes := $root.Files.Glob "configmaps/**" }} {{ $root.Files.Get $path | sha256sum }} {{ end }}`

[2019-10-02 20:12] bacongobbler commented on #6560
1. No. You cannot change the release name, as it affects how the templates are rendered.
2. Yes. You can provide a different chart name or version on a `helm upgrade`.

Hope this helps!

[2019-10-02 20:26] vasusharma1 commented on #6560
Thanks for this info, form where can i provide different chart name is it from helm upgrade command itself or manually from Chart.yaml

[2019-10-02 21:17] bacongobbler commented on #6560
Chart.yaml

No. Same reason as before: it affects how the templates are rendered which can cause destructive behaviour.

[2019-10-02 21:17] #6560 closed

[2019-10-02 21:17] bacongobbler commented on #6560
See more at https://helm.sh/docs/using_helm/#using-helm

[2019-10-02 21:41] juborto opened #6561 "helm3: How to adopt existing resources"
Hi,
Helm raises an error if we try to install with a chart some resources which already exist in our cluster.
According to @bacongobbler in https://github.com/helm/helm/issues/6031, _"Helm does not "adopt" existing resources; if a resource exists before it was introduced in the chart, it's considered an error condition, hence the error message"_.
Some post suggested a workaround with Helm version

[2019-10-02 21:57] teng1 opened #6562 "helm3 upgrade --install creates a release named after the chart and does not permit --generate-name"
Hi,
I was doing some testing with Helm3 (3rd beta) investigating using one command in a pipeline to deploy or upgrade rather than needing to parse the response of Helm list to decide which command is needed (upgrade or install) to proceed with a deployment.

Helm upgrade --install does work however does not enforce or allow the use of auto-generated release names.

Thanks

[2019-10-02 22:21] teng1 commented on #6562
clarified the title, this may be expected behavior? Thanks

[2019-10-03 02:01] daixiang0 commented on #6525
@bacongobbler now is any workround for this?

[2019-10-03 04:05] karuppiah7890 commented on #6506
@lukeschlather Would you be willing to raise a PR for this ? 😄 You can do it for Helm v3 which is under branch `dev-v3` . Here's a small guide - https://v3.helm.sh/docs/community/developers/

[2019-10-03 05:32] hickeyma commented on #6557
@karuppiah7890 Can you do a proposal outlining the details in this issue?

[2019-10-03 06:58] JBosom commented on #6130
I just now experienced the same issue with the CRDs currently on master. Thanks @Typositoire for your suggestion to use the currently previous version. Adapting CRDs install to the following worked for me:
[code]

That's why fixing the version is often a good practice.

[2019-10-03 07:47] cu12 commented on #6130
Also had this issue, try to disable `admissionWebhooks`. It helped in my case.

[2019-10-03 09:34] marcadella opened #6564 "post-install/post-upgrade hook of sub-chart not working"
`post-install` (and `post-upgrade`) hooks of sub-chart do not work when used under umbrella chart.
As an example stable/minio has a post-install (and post-upgrade) hook when `defaultBucket.enabled` is set to true. I tested it and it works find when deploying stable/minio chart directly (`helm install stable/minio --set defaultBucket.enabled=true,...`).

However if I now use Minio within an umbrell

[2019-10-03 10:06] marcadella commented on #6564
Sorry my bad. Another hook which was dependent on Minio hook was running before because they had the same weight.

[2019-10-03 10:06] #6564 closed

[2019-10-03 12:27] FreezB commented on #6130
Install prometheus-operator chart 6.0.0 and do an helm upgrade --force --version 6.11.0, this seems to work on rancher kubernetes 1.13.10 and helm v2.14.3

[2019-10-03 12:50] vijay-v6 commented on #6543
The issue is not with just chart01. It is with almost all charts that we pack. But it throws the error for different charts each time. When we checked the index.yaml in the helm-repo that we upload, it appears that the metadata of the specific chart is not being updated due to which it resulted in an error as above. What could be the reasons for the metadata about a chart not being updated in inde

[2019-10-03 13:40] avarf commented on #3447
I am managing two clusters, one k8s 1.16 and 1 master and 4 workers and the second one k8s 1.15 and 1 master and 2 workers and both are using Calico and I am facing this issue on the  k8s 1.15. Any solution?

[2019-10-03 13:52] hickeyma commented on #2918
Sorry but got distracted and only getting back to this issue now.

The good thing is that it looks like it has been fixed by @riconnon in https://github.com/helm/helm/pull/6014. Thanks @riconnon.

Going to close this and we can re-open if its still exists.

[2019-10-03 13:52] #2918 closed

[2019-10-03 14:38] rudoi opened #6566 "consider making apiextv1beta1.AddToScheme something that can only be called once"
I'm doing some work on a Kubernetes controller that deploys Helm charts to multiple remote clusters through a CRD. Regularly, I'd have this controller reconcile the Custom Resources concurrently, but there's a race condition caused by concurrent writes to scheme.Scheme.

Taking a look at `kube.New` today:
https://github.com/helm/helm/blob/5c592dcca685b3e5887e3c241bb2a73a43191f62/pkg/kube/client.go

[2019-10-03 15:57] avarf commented on #5064
I am facing this problem. I have a simple cluster with 1 master and 2 workers and I am using Calico. The IP and port are set correctly in `.kube/config` but tiller is using the wrong port of 443 instead of 6443 and while `kubectl` is working, helm commands don't work and I see this error in tiller logs (for `helm ls`):
[code]
Any solution?

[2019-10-03 16:01] #5256 closed

[2019-10-03 16:04] thomastaylor312 commented on #6543
I am not sure what could be causing it. I don't remember any bugs that sounded like this one, but is there anyway you can try with a more recent version of Helm? That could help rule out if it is a bug on the helm side or not

[2019-10-03 16:16] lukeschlather commented on #6506
Sure, I will see what I can do.

On Wed, Oct 2, 2019, 21:06 Karuppiah Natarajan <notifications@github.com>
wrote:

[2019-10-03 16:18] bacongobbler commented on #5064
is `10.5.0.1:443` reachable?

What's the output of `kubectl cluster-info -v 5`?

[2019-10-03 17:15] reloaded opened #6569 "Append to a list in values.yaml?"
Hello,

Is there a way to append to a YAML list/array via value overrides?

For example if I have this `values.yaml`

[code]

And this `values.overrides.yaml`
[code]

I'd like Helm to append to the list and not override it. Currently running `helm upgrade . -i -f values.yaml -f values.overrides.yaml` results in this transformed configuration:

[code]

But I'd like it to produce (no pun intended)
[

[2019-10-03 17:18] #3927 closed

[2019-10-03 17:26] KamalashreeNagaraj commented on #6535
https://github.com/helm/helm/pull/6568
Raised this PR by mistake to the wrong branch. Is there any way to delete it?

Here is the correct one.
https://github.com/helm/helm/pull/6570

[2019-10-03 17:41] #5044 closed

[2019-10-03 17:55] vasusharma1 opened #6572 "Regarding canary upgrade"
Can someone please explain me, how can i implement canary upgrade from version a to b.
It's urgent.

[2019-10-03 17:57] caseyclarkjamf commented on #1455
@nidhi-ag It starts a local instance of tiller which connects to your remote Kubernetes cluster which works around the error related to failing to connect to the remote instance of tiller. https://helm.sh/docs/install/#running-tiller-locally

[2019-10-03 18:10] bacongobbler commented on #4854
https://github.com/helm/helm/pull/4868#issuecomment-538061299

[2019-10-03 18:10] #4854 closed

[2019-10-03 18:25] #3159 closed

[2019-10-03 18:26] bacongobbler commented on #5563
https://github.com/helm/helm/pull/5590#issuecomment-538067818

[2019-10-03 18:26] #5563 closed

[2019-10-03 18:33] bacongobbler commented on #5564
https://github.com/helm/helm/pull/5847#issuecomment-538070525

[2019-10-03 18:33] #5564 closed

[2019-10-03 20:28] #5119 closed

[2019-10-03 20:44] #5552 closed

[2019-10-03 22:14] #5296 closed

[2019-10-04 03:59] brendandburns commented on #6361
For anyone who hits this, it's caused by api-services that no longer have backends running...

In my case it was KEDA, but there are a number of different services that install aggregated API servers.

To fix it:

[code]

Look for ones the `AVAILABLE` is `False`

If you don't need those APIs any more, delete them:

[code]

Then Helm should work properly. I think improving the Helm error message fo

[2019-10-04 04:48] djpicard commented on #6439
I fixed those issues on my cluster by running this:
( GKE 1.14.3-gke.11 )
[code]

[2019-10-04 08:39] planetf1 commented on #6361
Thanks for the explanation - is there a way Helm could code around this too?

[2019-10-04 08:44] avarf commented on #5064
[code]
When I curl to http://10.5.0.1:6443 or http://10.5.0.1:443 from within one of the components curl just hangs:
[code]

[2019-10-04 09:28] lucanaldini commented on #6503
So it turns out this is not a valid bug.
I was doing the following:
[code]
per the workaround mentioned in the comment above. Of course I did not see that the KUBECONFIG was missing from the `kubectl` command. So the following works:
[code]

Sorry for the waste of time. I will close this.

[2019-10-04 09:28] #6503 closed

[2019-10-04 12:20] mattfarina commented on #6464
This is going to get more complicated when we take OCI registries into account in addition to helm repositories. I would suggest that knowing the difference is taken into account.

I would also suggest the digest be stored as well. Even if the chart is stored in another location the digest will tell us if it's the same chart used to create it. This can be useful for verification and other purposes

[2019-10-04 15:08] rudoi opened #6581 "add new CRDs as part of upgrade"
the `crds` directory is applied on install but not on upgrade because of potential weirdness with upgrading CRDs. however, this means that new CRDs are also not added as part of `helm upgrade`. there should be no conflict in doing this, I believe.

Output of `helm version`: `version.BuildInfo{Version:"v3.0.0-beta.3", GitCommit:"5cb923eecbe80d1ad76399aee234717c11931d9a", GitTreeState:"clean", GoVer

[2019-10-04 15:24] phanimullapudi commented on #4685
It works but with small change

use $ helm init

[2019-10-04 15:36] hickeyma commented on #6088
Looks like a bug alright. Good catch, thanks. Tested as follows:

[code]

[2019-10-04 16:15] thomastaylor312 commented on #6464
@absoludity So I think we are ok with the idea of metadata being added, but we need to do it in such a way that it is extensible and easy to add to later. Once the dev call is uploaded, I'll link to the discussion we had about it. I am thinking we should probably have a full proposal for adding metadata so we know what it will look like and then we can add the URL and digest

[2019-10-04 18:41] bacongobbler commented on #6581
This was discussed in #6243:

See #5871 for more background on this discussion.

[2019-10-04 18:44] #4970 closed

[2019-10-04 18:47] rudoi commented on #6581
@bacongobbler yeah i saw the discussion. I totally understand the reasoning for not upgrading existing CRDs.

But if I add a new CRD to a chart, why wouldn't we want `upgrade` to install it? As it sits today:
1. I have a chart with n CRDs, `helm install` installs them
2. if i modify the CRDs and update the chart, `helm upgrade` does nothing (I get this part)
3. if I add a new CRD and update the ch

[2019-10-04 18:56] bacongobbler commented on #6581
fair enough. I think it's safe enough to handle the install case, just not the upgrade case. Marking as a feature enhancement

[2019-10-04 20:21] technosophos commented on #6361
We think so, though we're still investigating. My first look suggests that this is just related to our usage of the Discovery API, which is used for the `Capabilities` object in template rendering. We might be able to trap this particular error and warn the user instead of failing.

[2019-10-04 21:42] hickert33 opened #6583 "helm template is unable upgrade deployment apiVersion to apps/v1"
Output of `helm version`:
Client: &version.Version{SemVer:"v2.14.0", GitCommit:"05811b84a3f93603dd6c2fcfe57944dfa7ab7fd0", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.14.0", GitCommit:"05811b84a3f93603dd6c2fcfe57944dfa7ab7fd0", GitTreeState:"clean"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.3", GitCommit:"2d3c76f9091b6bec110a5

[2019-10-04 22:53] IRobL commented on #3555
I don't think I'm understanding how the work-around functions involving `{{ default .Values.appVersion .Chart.AppVersion}}`.  I'm getting this error:

Here's my Chart.yaml:

[code]

[2019-10-04 23:18] #3377 closed

[2019-10-04 23:57] #5150 closed

[2019-10-05 13:01] iorlas commented on #3555
@IRobL You need to put this snippet into `templates/deployment.yaml`, where version is used. Files like `values.yaml` are not treated as templates.

@jrkarnes I'm not a maintainer, so final word will be on other guys, I guess. But anyway, I was quite busy during last few weeks. On upcoming week I'll be reevaluating our current approach to manage `helm` and its `packages`.

We use approach I descri

[2019-10-05 13:43] karuppiah7890 commented on #6557
Sure @hickeyma . I'll incorporate Bazel into helm with minimal effort and show the details. I haven't tried Bazel a lot. But I have seen it in action and it's pretty fast. Want to highlight that with facts :)

[2019-10-05 19:03] novas0x2a commented on #2941
We just saw this with tiller 2.14.1:
[code]

The sequence of events was
1) rev 3 was running
2) deploy for rev 4 started (with --wait)
3) deploy for rev 4 hit timeout and triggered an auto-rollback (with no wait) creating rev 5
4) attempted to deploy 2.6.1 again, creating rev 6; rev 5 was not marked superseded
5) we noticed that live state did not match 2.6.1, but subsequent diffs were calculated

[2019-10-05 23:14] mauvilsa opened #6585 "Symlinks to directories get duplicated in chart package"
Output of `helm version`:
[code]

When creating a packaged chart, symlinks to directories get included in the package twice, once in the proper location of the symlink and again as the full path of the resolved symlink.

I have prepared an example to reproduce the issue. It is the same `docs/examples/alpine` in the helm repo, but moving out the templates as if these were intended to be shared acro

[2019-10-05 23:35] mauvilsa commented on #6585
Created pull request https://github.com/helm/helm/pull/6586 that I hoped resolved the issue. Unfortunately the circleci tests failed.

[2019-10-06 01:37] juliohm1978 commented on #6583
Just ran into this issue today...

I'm trying to update all workloads to the most recent apiVersion as a prep to upgrade the cluster to k8s 1.16.

I've updated my charts to reflect the new apiVersion, but a `helm upgrade --install` updates all other fields from the Deployment object, except the apiVersion.

One option is to delete the helm release entirely and reinstall it, but this would hightly

[2019-10-06 04:00] karuppiah7890 commented on #6583
Yes, can confirm this bug. Steps to reproduce

1. Have a `v1.15.x` kubernetes cluster
2. Have Helm v2.14.3
3. Run these commands

[code]

[2019-10-06 07:10] bacongobbler commented on #6583
Off the top of my head, I'm pretty sure this has to do with Kubernetes and version updates. Kubernetes will not upgrade the apiVersion of an object even if you provide it with a newer apiVersion. From Kubernetes' point of view, upgrading the apiVersion is a breaking change, which means you must delete and recreate the resource to upgrade over to a newer apiVersion.

In other words, this is somethi

[2019-10-06 07:11] bacongobbler commented on #6583
Marking this as question/support because it's not a bug, but an intended "feature" of Kubernetes. :)

[2019-10-06 07:41] karuppiah7890 commented on #6583
@bacongobbler that's true. I still would like to know if there are ways to upgrade without downtime - with or without changes in helm code, may be helm could be used to help with the upgrade process and then this can be documented or written as a blog I guess

[2019-10-06 11:45] karuppiah7890 commented on #6379
This can be closed as #6577 is merged :)

[2019-10-06 15:30] juliohm1978 commented on #6583
Thank you all for clarifying.

I'm interested to know is there are any command line switches to helm that will force the delete and recreation of the objects.

Is `helm delete` my only option at this point?

[2019-10-06 15:40] bacongobbler commented on #6583
You could try performing a `kubectl delete` on the deployment then `helm upgrade`. Still destructive, but at least it's just the deployment object.

[2019-10-06 15:41] #6379 closed

[2019-10-06 16:09] karuppiah7890 commented on #6428
This can be closed as #6536 has been merged

[2019-10-06 16:10] karuppiah7890 commented on #6530
This can be closed as #6556 has been merged

[2019-10-06 17:56] KamalashreeNagaraj commented on #6535
@bacongobbler
Can you please help me tag my first PR as invalid?
https://github.com/helm/helm/pull/6568

Thank you.

[2019-10-06 19:21] Efrat19 commented on #6558
pr submitted and passes all tests! https://github.com/helm/helm/pull/6588
can somebody please go through it and help it get merged before October ends 😆

[2019-10-06 21:21] bacongobbler commented on #6535
The PR was closed :)

[2019-10-06 21:23] bacongobbler commented on #6558
Closed via #6588

[2019-10-06 21:23] #6558 closed

[2019-10-06 21:24] #6530 closed

[2019-10-06 21:24] #6428 closed

[2019-10-07 00:31] Routhinator commented on #6374
Canary image still produces the same error unless it doesn't have this merge yet,

[2019-10-07 08:28] sidharthsurana commented on #6505
I also ran into this issue. even though `--validate` works. but that means I need a working kubernetes cluster to connect to in order to just render the template. This does not fit with the use case I was planning to use the template command for.
In my case, I was planning on using the template command with the provided var overrides to render the template in isolation (without k8s access) and the

[2019-10-07 10:58] avarf commented on #5064
I found the problem. The IP of my master node is in the range that I was using for services (both started with `10.5`) and after I changed the range of services problem solved.

[2019-10-07 11:04] UmamaheshMaxwell commented on #6374
Yeah, happening for me as well.

[2019-10-07 12:20] ternes3 commented on #6273
Issue is still present.

[code]

[2019-10-07 12:51] KamalashreeNagaraj commented on #6535
Oh, I closed it. Reopened it. Can you mark it as invalid? Right now it's being tracked as a valid PR on Hacktoberfest.

[2019-10-07 12:53] unludo commented on #6545
Hello,
Is this normal I get this error on GKE.
This looks a lot like [this](https://github.com/helm/helm/issues/5269).
Helm used to work for me on GKE but not anymore.
thanks!

[2019-10-07 13:22] Dean-Coakley commented on #6546
@endzyme Are you working on this or can I give it a try?

[2019-10-07 14:07] unludo commented on #6545
GKE is in alpha mode. If I remove it, then tiller installs correctly.

I let you decide if you want to close this issue.

[2019-10-07 14:25] hickeyma commented on #6545
@unludo I'll close it for now. We can re-open if necessary.

[2019-10-07 14:25] #6545 closed

[2019-10-07 15:24] #5064 closed

[2019-10-07 15:50] hickert33 commented on #6583
I am still not able to force the deployment to apps/v1 even after deleting with --purge.
The pods come up with apps/v1 but the deployment still shows extensions/v1beta1.
I am using secrets for helm to store its config, I verified there were none related to my deployment after deleting --purge my deployment.
I hard coded the deployment.yaml (via template) to apps/v1 and after releasing the pods are

[2019-10-07 16:11] mattfarina opened #6592 "Support Translations / internationalization / i18n"
This is proposed as a feature addition to v3 after 3.0.0 is released (e.g., in 3.1 or higher).

The idea is to provide for translations/internationalization of the text output by Helm.

My initial idea is to:

* Bundle the translations in the Helm binary. We can use go-bindata to generate it. This simplifies shipping the translations which are relatively small.
* Use gettext. There are many tools

[2019-10-07 16:36] bacongobbler commented on #6592
Might be worth cross-collaborating with helm-www on this as well. I can imagine translations/internationalization of the documentation would be helpful.

Relevant: https://github.com/helm/helm-www/pull/274

[2019-10-07 16:36] juliohm1978 commented on #6583
Also, confirming, this does not appear to be a helm issue.

The underlying k8s api seems to ignore or wrongly show the Deployment apiVersion all by itself.

To reproduce, issue the following under a bash terminal:

[code]

[2019-10-07 16:40] phoenix-bjoern opened #6593 "Helm3: Use registry as dependency URL"
Helm 3 has a new chart command to push/pull charts to a OCI registry. This seems to be an alternative to repositories to maintain dependencies. But ATM you have to retrieve each of the charts manually:

[code]

I would expect that helm could manage the charts retrieved from OCI registries in the same way it pulls dependencies from chart repositories. Therefore chart dependencies in OCI registries

[2019-10-07 16:46] juliohm1978 commented on #6583
I was about to open an issue at https://github.com/kubernetes/kubernetes, but they already closed a similar issue with the same problem.

https://github.com/kubernetes/kubernetes/issues/62283

kubectl get uses server-preferred order, which will prefer the extensions API group for backward compatibility, until extensions is removed. That is to say, kubectl get deployment uses extenions/v1beta1 endp

[2019-10-07 16:48] bacongobbler commented on #6593
Thanks for raising this.

OCI support as [a getter](https://github.com/helm/helm/tree/dev-v3/pkg/getter) (a dependency) is currently a missing feature. OCI registry support is experimental and isn't fully integrated with the rest of the CLI similar to chart repositories.

[2019-10-07 17:42] thomastaylor312 commented on #6546
Just as an FYI for whoever does work on this, #6550 moves a few of the output things around. Shouldn't impact it too much, just a few line difference

[2019-10-07 17:44] #6583 closed

[2019-10-07 17:53] endzyme commented on #6546
Unfortunately I've not been able to make the time. Feel free! Would love to help review too if you think of it

[2019-10-07 18:40] rdxmb commented on #4191
using `-}}` within helm-templates ist mostly not a good idea.

Within the `_templates.tpl`, where they define some functions, it may be ok. Having it within or at the end the templates-files it will often occur in errors, at least when `helm template` is used - and then concat the output with `cat *`. Then in most cases whitespaces are missing, which ends in errors when using kubectl.

This may no

[2019-10-07 18:42] hoffoo commented on #6031
can anyone shed some more light on this? we are seeing this as well. the usual procedure is to delete the resource (in our case cronjob) from kube manually and redeploy. this works occasionally but we are also seeing this bug come back

[2019-10-07 18:47] bacongobbler commented on #6031
Try adding the `--cleanup-on-fail` flag to your `helm upgrade` invocations. This flag will automatically remove any new resources the chart introduced during a failed upgrade. See #4871 for more info

[2019-10-07 18:49] bacongobbler commented on #4191
closing as answered, but please feel free to re-open if there's additional questions here. Thanks

[2019-10-07 19:00] jang-choe-ibm commented on #6374
You might need to change the image location to `gcr.azk8s.cn/kubernetes-helm/tiller:v2.14.3` the `gcr.io` location seems to be blocked.

[2019-10-07 19:04] bacongobbler commented on #6374
While a completely valid issue, that issue is slightly orthogonal to the issue present in this issue, `gcr.io` is blocked in China, unfortunately. See https://github.com/helm/charts/issues/14607 for more information.

[2019-10-07 19:10] mattfarina commented on #6557
To add some more context... Go 1.13 can cache test results as well. It will only run what has changed. In CI, we recently removed caching (which is needed to know the test results for things that have not changed). The reason the caching was removed is that the CircleCI caching system needs to store and restore the cache. The time to cache/restore was approximately equal to the time to run everyth

[2019-10-07 19:12] mattfarina commented on #6566
PR welcome to fix this.

[2019-10-07 20:03] Dean-Coakley commented on #6546
Cool, I'll take a shot at this tomorrow or the day after and open a PR if I'm happy.

I'll be sure to request reviews then. That'd be a great help!

[2019-10-07 20:04] thomastaylor312 commented on #6546
Feel free to ping me in the PR @Dean-Coakley! Also, I just merged #6550, so you should be good to go with that

[2019-10-07 20:04] thomastaylor312 commented on #6238
Closed by #6550

[2019-10-07 20:04] #6238 closed

[2019-10-07 20:06] Srinivasa381224 opened #6595 "helm install stable/prometheus"
Output of `helm version`:
Client: &version{semver:"v2.14.2" , Gitcommit:"a8b13cc5ab6a7dba0ahsdvaghjk688bnbg3r8b7" , GitTreestate:"clean"}
Server: &version.Version{SemVer:"v2.14.2", GitCommit:"a8b13cc5ab6a7dba0ahsdvaghjk688bnbg3r8b7", GitTreeState:"clean"}
Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"16", Gitversion:"v1.16.1", Goversion:"go1.12.10", Compiler:gc", Plat

[2019-10-07 20:07] bgehman commented on #4191
@bacongobbler The best-practices doc (and examples) still need to be reworked: https://helm.sh/docs/chart_best_practices/#comments-yaml-comments-vs-template-comments

Also, note that the suggested solution from @nickarnold (https://github.com/helm/helm/issues/4191#issuecomment-417096290) (which does work BTW, thanks Nick!) violate another part of the best practices document: https://helm.sh/docs/c

[2019-10-07 20:27] rdxmb commented on #4191
there are no permissions for the community to re-open, by the way

[2019-10-07 20:33] IRobL commented on #3555
Ah, I see why that trick wouldn't work now that you pointed this out for me, thanks.  Here's a trick that I think works fine for many people using Helm 2.x assuming you're comfortable wrapping your helm tool with these kinds of overhead pieces:

[code]

[2019-10-07 20:48] bacongobbler commented on #4191
If someone wants to amend the documentation with learnings from this issue, please feel free to do so. Thanks!

[2019-10-07 22:12] #3221 closed

[2019-10-08 06:20] sadysnaat opened #6600 "Helm v3 generates invalid release name"
Output of `helm version`:
version.BuildInfo{Version:"v3.0.0-beta.3", GitCommit:"5cb923eecbe80d1ad76399aee234717c11931d9a", GitTreeState:"clean", GoVersion:"go1.12.9"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.6", GitCommit:"96fac5cd13a5dc064f7d9f4f23030a6aeface6cc", GitTreeState:"clean", BuildDate:"2019-08-19T11:13:49Z", GoVersion:"go1.12.9

[2019-10-08 07:08] karuppiah7890 opened #6601 "Helm3 should not decode URLs"
Related helm v2 issue - #6048

Output of `helm version`:
[code]

[code]

[2019-10-08 08:06] macrozone commented on #6031
will try that. Which helm versions do include this feature?

[2019-10-08 08:14] karuppiah7890 commented on #6600
@sadysnaat Thanks for reporting this. I see that the base is a problem. I still didn't get how adding a validation that you mentioned would solve it though. I was guessing that name should not have `.tgz` in it and instead could have been `mongodb-7.1.0` or just `mongodb`. It looks like we need to basically handle `.tgz` files while doing installation with generated names. What do you think?

Also

[2019-10-08 09:31] abinet commented on #3480
Maybe this will help somebody still. I get same error

[code]

installing charts contained CRDs with
[code]
(for instance https://github.com/helm/charts/tree/master/stable/ambassador)

The error happens if on the upgrade  of the existing release, so when CRDs are already there.
Removing hook annotation helped me.

Helm v.2.11.0

[2019-10-08 12:01] squillace opened #6603 "[HELM3] Helm3 install --help text contains description of Tiller"
Portion of text returned from `helm3 install --help`:

[code]

What I expected:

Output of `helm version`:
version.BuildInfo{Version:"v3.0.0-beta.3", GitCommit:"5cb923eecbe80d1ad76399aee234717c11931d9a", GitTreeState:"clean", GoVersion:"go1.12.9"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.1", GitCommit:"d647ddbd755faf07169599a625faf302ffc34

[2019-10-08 12:11] karuppiah7890 commented on #6603
@squillace Would you be willing to raise a PR to remove the references to the non-existent tiller in helm3?

[2019-10-08 12:24] rimusz commented on #6603
addressed in #6604

[2019-10-08 12:45] hickeyma commented on #6603
@squillace It is the small things that trip you up in the end! :) No matter how much we rinse, little things remain. Thanks for catching this.

[2019-10-08 12:53] karuppiah7890 commented on #6603
This can be closed as the PR #6604  is merged

[2019-10-08 12:54] karuppiah7890 commented on #6521
This can be merged as the PR #6555 is merged

[2019-10-08 12:54] hickeyma commented on #6603
Closing as #6604 is merged. I also did a `find/grep` and we look clean now from Tiller (apart from a few unrelated things).

[2019-10-08 12:54] #6603 closed

[2019-10-08 12:58] hickeyma commented on #6521
Closing as #6555 merged. Thanks for heads up @karuppiah7890.

[2019-10-08 12:58] #6521 closed

[2019-10-08 13:11] karuppiah7890 commented on #6557
@mattfarina Hmm, makes sense. I'll still do the spike and see the results.

Circle ci storing and restoring cache thing - I hear bazel can take care of it's cache, given a storage service (like AWS S3, GCS). But yeah, for that we need to think about paying for the service.

Is it okay to still go ahead and demo Bazel? Will surely compare it with `go test` 😄

And yes, I tried running unit tests in

[2019-10-08 13:12] karuppiah7890 commented on #6529
This can be closed as PR #6541 has been merged!

[2019-10-08 13:18] hickeyma commented on #6529
Thanks @karuppiah7890 for heads up. Closing as #6541 merged.

[2019-10-08 13:18] #6529 closed

[2019-10-08 13:23] hickeyma commented on #6344
Closing as #6360 merged.

[2019-10-08 13:23] #6344 closed

[2019-10-08 14:18] bacongobbler commented on #6031
2.14.0+

[2019-10-08 14:34] felippe-mendonca opened #6605 "helm 2 not forwarding values to dependency correctly"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): GKE

I'm working on a project that uses a chart as a dependency. This chart has another dependency with a condition.

My project:
[code]

foo project:
[code]

When defining values for my project, the following configuration doesn't disable the dependency of `bar`.

[code]

But,

[2019-10-08 15:02] howardjohn opened #6606 "Drop golang dependency on k8s.io/kubernetes"
Helm currently imports k8s.io/kubernetes in a few places. At time of writing:
[code]

Kubernetes intentionally ships a broken `go.mod` file to discourage people from depending on k8s.io/kubernetes (see https://github.com/kubernetes/kubernetes/issues/79384). As a result, in order to depend on helm, we must go through major hacks to get go modules working.

Is it feasible to drop this dependency?

h

[2019-10-08 15:24] karuppiah7890 commented on #6529
@hickeyma I see that it's a bit of a cumbersome task to find and close out issues that are fixed with merged PRs. I know that GitHub can automatically close an issue if the PR mentioned `Closes #xyz` `Fixes #abc` and similar keywords. Is there some repository wide setting that disables this feature? Or probably GitHub feature is not working properly?

[2019-10-08 15:28] bacongobbler commented on #6605
this appears to be a duplicate of https://github.com/helm/helm/issues/4490. Can you confirm whether the behaviour in that issue is similar to this one? If so, we should probably close this in favour of the latter.

[2019-10-08 15:31] hickeyma commented on #6529
Not sure. GH seems to have moments.

[2019-10-08 15:32] bacongobbler commented on #6606
Looking at those three files in the `dev-v3` branch, Helm 3 only has one reference to `k8s.io/kubernetes` at this time, and it's in wait.go:

https://github.com/helm/helm/blob/c00890cae1cf756ba0bc6eac82385c6cffeb5001/pkg/kube/wait.go#L39

I'd suggest starting there, as it looks much more feasible to drop the last dependency on k8s.io/kubernetes for Helm 3 than it is for Helm 2.

[2019-10-08 17:19] bacongobbler commented on #6557
I'm averse to introducing new tooling for the sake of using new tooling. If there's a clear benefit to using Bazel for local development over what Go provides, then we could consider it.

Feel free to experiment with Bazel, but unless there's some clear benefit for every developer over the existing tooling, then I don't see it becoming part of Helm's standard dev tooling.

Similar arguments were m

[2019-10-08 17:23] #6605 closed

[2019-10-08 18:03] bacongobbler commented on #3533
I believe this is similar to what was asked in https://github.com/helm/helm/issues/3734, which was fixed in Helm 3 via https://github.com/helm/helm/pull/4917. Can you confirm?

[2019-10-08 18:04] bacongobbler commented on #2948
fixed in Helm 3 via https://github.com/helm/helm/pull/6556.

[2019-10-08 18:04] #2948 closed

[2019-10-08 18:07] bacongobbler commented on #4490
this should now be fixed via https://github.com/helm/helm/pull/4917. https://github.com/helm/helm/issues/3734 raised the same issue/use case. Closing.

[2019-10-08 18:07] #4490 closed

[2019-10-08 19:11] jlegrone commented on #6557
I use bazel quite a bit but I think it raises a significant barrier to entry for new contributors as well as nontrivial cost of ownership for maintainers. For a project like helm that is a single binary written in a single language, the benefits are also typically minimal (as mentioned above go tooling already does a pretty good job with caching and change detection).

The main benefit of using ba

[2019-10-08 19:25] jlegrone commented on #6548
Helm tests are [hooks](https://helm.sh/docs/developing_charts/#hooks), which are only applied to the cluster during specific phases of helm install/upgrade/delete/test subcommands.

The difference in output between `helm template` and `helm install` is expected behavior. Template is often used for debugging purposes and by default renders all chart resources, including hooks. There is a `--no-hook

[2019-10-08 19:25] #6548 closed

[2019-10-08 19:44] vshalchian opened #6610 "Ability to add last-applied-configuration Annotation to kubernetes services"
Output of `helm version`:
Client: &version.Version{SemVer:"v2.14.3", GitCommit:"0e7f3b6637f7af8fcfddb3d2941fcc7cbebb0085", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.14.3", GitCommit:"0e7f3b6637f7af8fcfddb3d2941fcc7cbebb0085", GitTreeState:"clean"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.2", GitCommit:"f6278300bebbb750328ac

[2019-10-08 20:13] bacongobbler commented on #6048
I'll be in 2.15.0 - there's no plans to release a 2.14.x at this time. Patches are usually rolled into the next release. We reserve patch releases for when it's a significant bug that affects a large amount of the user base or a security release.

[2019-10-09 01:17] karuppiah7890 commented on #6557
Thanks for the inputs. I agree to all of it. Like @bacongobbler mentioned, I'll experiment it, along with my friends and see if there are any clear benefits.

But yeah, it's a bit of a barrier for new contributors - especially if they have to do a lot. I hope it'll only be installing Bazel and generating Bazel build files and running tests and build only. Let's see

[2019-10-09 06:42] vasusharma1 opened #6614 "Canary upgrade for statefulset"
As for deployment we use canary upgrade via deploying canary deployment in parallel to already running deployment, can't we have same procedure for statefulset because when i was doing it, although my statefulset deployment was up and running but it wasn't able to take traffic then i figured out it is because of headless service.
Now, canary upgrade work only using kubectl patch commands but isn't

[2019-10-09 07:18] sadysnaat commented on #6600
Yes Sure I will be happy to work on the fix, here is my understanding

When base contains `.` in the file name this will fail because the regex `[a-z]([-a-z0-9]*[a-z0-9])?` or `^[a-z]([-a-z0-9]*[a-z0-9])?$` which is used to verify DNS-1035 does not satisfy the base.

Would it be ok to replace `[^-a-z0-9]` characters with `-` so  `mongodb-7.3.0.tgz` becomes `mongodb-7-3-0-tgz`
or should I make it l

[2019-10-09 07:25] guitmz opened #6615 "macOS Catalina error: “helm” cannot be opened because the developer cannot be verified."
Output of `helm version`: `v2.14.3`

Information from https://github.com/hashicorp/terraform/issues/23033 suggests that Apple is requiring applications to be signed with an Apple developer key from now on.

A workaround is also mentioned in the above issue and works but it is not ideal.

[2019-10-09 09:10] thernstig commented on #3249
Would be nice if this feature also applies to `helm search`

[2019-10-09 10:31] UmamaheshMaxwell commented on #6374
we have been able to  fix this issue by rolling back kubernetes to 1.15.4

[2019-10-09 11:25] #6048 closed

[2019-10-09 11:33] cyrilthank commented on #6374
Thanks @UmamaheshMaxwell for sharing this.

Can you please share the steps you used to rollback the kubernetes version?

[2019-10-09 11:33] hickeyma opened #6617 "Data race condition failure in the tests"
How to reproduce:
[code]

Issue shown in the test output:
[code]

Output of `helm version`:
Client: &version.Version{SemVer:"v2.14+unreleased", GitCommit:"fb2cbb001986b28dec5303f5acad65390a1a8118", GitTreeState:"dirty"}

Output of `kubectl version`:

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

[2019-10-09 11:36] hickeyma commented on #6048
Closing as #6060 merged.

[2019-10-09 11:40] hickeyma commented on #6601
Closing as https://github.com/helm/helm/pull/6602 is a port of #6060 and not a new issue.

[2019-10-09 11:40] #6601 closed

[2019-10-09 11:48] invidian opened #6618 "helm 3.0.0-beta4: --debug flag gives error when trying to install non-existing chart"
Output of `helm version`:
[code]

Output:
[code]

I couldn't find existing issue for that, hence new issue. Feel free to close if that's a duplicate of something already reported.

[2019-10-09 11:51] MrSimonEmms commented on #6374
@cyrilthank if it's minikube, `minikube config set kubernetes-version v1.15.4`

[2019-10-09 11:58] invidian commented on #6618
`show` gives pretty much the same result (that's the same code, but point is that more debug functionality can be affected by this):
[code]

[2019-10-09 12:29] UmamaheshMaxwell commented on #6374
@cyrilthank  we have been using our own VMs ( Ubuntu 18+), below are the setps to install k8s version `1.15.4`

1. kubeadm reset
2. sudo apt-get install kubelet=1.15.4-00 kubectl=1.15.4-00 kubeadm=1.15.4-00
3. sudo kubeadm init --pod-network-cidr=10.244.10.0/16 --apiserver-advertise-address=x.x.x.x --apiserver-cert-extra-sans=x.x.x.x --kubernetes-version "1.15.4"

`--pod-network-cidr=10.244.10.0/1

[2019-10-09 12:42] cyrilthank commented on #6374
Thanks @MrSimonEmms  mine is not mini I think I will have to go with @UmamaheshMaxwell 's steps

[2019-10-09 12:43] cyrilthank commented on #6374
Thanks @UmamaheshMaxwell for your patient reply

I have an existing kubernetes 1.16 setup can you please confirm if I can try running these steps?

[2019-10-09 12:58] marckhouzam commented on #6615
I can confirm this.  A colleague just upgraded to Catalina and helm won't start anymore.
`kubectl` does not seem to have this problem though...

[2019-10-09 13:08] rimusz commented on #6615
I'm using macOS Catalina and helm v2 and v3 CLI work for me there.
Under `System Preferences/Security & Privacy/General` in `Allow apps downloaded from:` I have set to `Anywhere`

[2019-10-09 13:14] tdensmore commented on #6615
@rimusz I do not have that option. My only options are: `App Store` and `App Store and identified developers`

![image](https://user-images.githubusercontent.com/469399/66484512-1cfe1e80-ea75-11e9-965e-417ba179f6f1.png)

[2019-10-09 13:15] UmamaheshMaxwell commented on #6374
Yeah @cyrilthank, even we had kubernetes 1.16.1 but we had to roll it back to `1.15.4`, below is the link if you want to set it up from scratch.

**VM's OS Version**
[code]

**Clean up kuberenetes**
[code]
**Setup Kubernetes** (_Both Master and Node_)
https://www.howtoforge.com/tutorial/how-to-install-kubernetes-on-ubuntu/
(you better automate the steps suggested in above link as much as you can,

[2019-10-09 13:16] rimusz commented on #6615
@tdensmore just run `sudo spctl --master-disable`
ref: http://osxdaily.com/2016/09/27/allow-apps-from-anywhere-macos-gatekeeper/

[2019-10-09 13:22] tdensmore commented on #6615
Thanks @rimus . `sudo spctl --master-disable` works for me.

[2019-10-09 14:28] jang-choe-ibm commented on #6374
I'm not in China, but the US. But I think my VPN blocked that site. Anyway, I followed all the steps outlined in this thread and couldn't get it working until I tried to get the image manually and saw it was not responding--just something else to try in case someone else gets stuck at the same spot as me.

[2019-10-09 16:08] #3319 closed

[2019-10-09 16:09] bacongobbler commented on #5363
fixed in #6542

[2019-10-09 16:09] #5363 closed

[2019-10-09 16:11] bacongobbler commented on #5857
fixed in #6542

[2019-10-09 16:11] #5857 closed

[2019-10-09 16:18] bacongobbler commented on #6600
the latter

[2019-10-09 16:34] karuppiah7890 commented on #6618
@invidian Do you mean to say that `install` should show the same and correct error as debug? I do understand that `foo` is an invalid repo

Also, this issue exists in helm v2 too. Just now tried it out. Will look into the discrepancy

[2019-10-09 16:59] karuppiah7890 commented on #6618
Thanks for the feedback! To start with, I would like to get the error
message discrepancy fixed. About UX, and logs about what's happening or
what's being tried out by the program, yes, we can add more. I'm sure
there's reason as to why it's currently like the way it is, very minimal
and not too verbose.

I would like to see some more people put their thoughts here before
implementing anything

@h

[2019-10-09 18:40] mikesplain opened #6621 "v3 beta4 ingress 404 on kubernetes 1.13"
I've been actively developing some internal charts on helm v3 and so far it's been fantastic!  I upgraded to beta4 and came across a weird issue relating to ingress

When doing a helm upgrade I was getting:
[code]

After enabling `-v8` I noticed the last error was:
[code]
I believe the issue is that `networking.k8s.io/v1beta1` is being used for the API even though this cluster is 1.13 and only has

[2019-10-09 18:53] bacongobbler commented on #6621
It looks like the code in `--wait` relies on the networking.v1beta1 API, regardless of type. https://github.com/helm/helm/blob/442c3588e4d21c6417c6ec849f69837d3c33c09d/pkg/kube/wait.go#L180

Re-marking as a bug.

[2019-10-09 18:53] mikesplainsonos commented on #6621
Ahh yeah that makes sense. Thanks for the quick find @bacongobbler!

[2019-10-09 18:55] mikesplainsonos commented on #6621
Yes, using wait so that makes sense.

```helm3 upgrade --install --reset-values chartname stable/grafana --version 3.8.13 --wait --namespace a-namespace --values test.yaml -v8``` was

[2019-10-09 18:56] cmyker commented on #2096
This kubernetes behaviour is somewhat annoying in helm context since helm is able to create necessary resources back is necessary. If anyone is looking for solution to this replicaset flood in your cluster this has helped us https://github.com/kubernetes/kubernetes/issues/24330#issuecomment-210670062

[2019-10-09 18:59] bacongobbler commented on #6382
fixed in #6599

[2019-10-09 18:59] #6382 closed

[2019-10-09 18:59] bacongobbler commented on #6485
fixed in #6599

[2019-10-09 18:59] #6485 closed

[2019-10-09 19:37] pmahoney commented on #6505
I have a related problem. I'm installing a ServiceMonitor resource (custom from [Prometheus Operator](https://github.com/coreos/prometheus-operator#customresourcedefinitions)). I'm using helm v3.0.0-beta.4 and `upgrade --install`. Initially, the resource is created OK, but it seems that helm does not know about it: subsequent upgrades fail with

[code]

And `helm delete` fails to delete the resour

[2019-10-09 21:39] costimuraru opened #6623 "Helm3.beta4 - failed to install chart: value of type interface {} is not assignable to type string"
We're trying to install a helm chart, but is not working with helm3 (it works with helm2).
[code]

Where `myvalues.yaml` is:
[code]

Chart is here: https://github.com/helm/charts/tree/master/incubator/raw

Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
EKS

[2019-10-09 21:39] costimuraru opened #6626 "Helm3.beta4 - failed to install chart: value of type interface {} is not assignable to type string"
We're trying to install a helm chart, but is not working with helm3 (it works with helm2).
[code]

Where (updated) `myvalues.yaml` is:
[code]

Chart is here: https://github.com/helm/charts/tree/master/incubator/raw

Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
EKS

[2019-10-09 22:04] bacongobbler commented on #6623
Using your example, I was unable to make it work with Helm 2.

[code]

The following `myvalues.yaml` worked for Helm 2 and Helm 3, however it failed with the same issue as demonstrated in #4670.

[code]

And for Helm 3:

[code]

Perhaps it's the chart itself that's causing the error?

[2019-10-09 22:08] bacongobbler commented on #6623
Actually that's my bad. It's because there are no resources being rendered.

[code]

In either case, perhaps there's an issue with the chart itself that triggers the error.

If you can provide an example that works on Helm 2, that would be appreciated.

[2019-10-09 22:18] bacongobbler commented on #6623
Yep. Looks like a chart issue. If I change resources.yaml to the following:

[code]

The chart renders fine.

[code]

That modification works for Helm 2 as well.

[code]

Transferring to helm/charts as this appears to be a bug with the chart itself, not with Helm 3.

[2019-10-09 23:08] bacongobbler commented on #6626
Hmm. I can't seem to figure it out, but something in how the values object is being merged into is causing the error.

Re-transferring back to helm/helm as this may be a regression issue.

Let me know if you're able to find something in helm's code that may be causing the issue.

[2019-10-09 23:58] costimuraru commented on #6626
Thanks, @bacongobbler. Glad that you managed to replicate the issue on your end as well. Not familiar with the helm code base (or `go` for that matter); hope someone can chime in

[2019-10-10 00:56] alex-hempel commented on #6130
The workaround suggested by @Typositoire worked fine for me on a kops-generated 1.13.10 cluster.

[2019-10-10 01:59] mumoshu commented on #6626
Probably this is due to possible changes to `fromYaml` that made it to return `map[interface{}]interface{}` nested in `map[string]interface{}` where it had been returning `map[string]interface{}` nested in `map[string]interface{}` in helm v2.

v2:

![image](https://user-images.githubusercontent.com/22009/66533168-ec89b380-eb4c-11e9-9bc5-d31f03a48ef2.png)

v3:

![image](https://user-images.githubus

[2019-10-10 10:03] PeterUherek opened #6629 "Problem to uninstall releases in helm3"
I upgraded helm3 from the version v3.0.0-beta.3 to the version v3.0.0-beta.4 and I have problem to uninstall releases. The command `helm uninstall ce-v6 -n prod` ends with error:

`Error: uninstallation completed with 1 error(s): uninstall: Failed to purge the release: delete: failed to get release "sh.helm.release.v1.ce-v6.v1": release: not found`

Pods, services and deployment were removed from

[2019-10-10 10:16] rimusz commented on #6629
that is expected error, release storage secret naming was changed
https://github.com/helm/helm/releases:
[code]

[2019-10-10 10:22] hickeyma commented on #6629
@PeterUherek This is because there was a breaking change introduced in Beta 4 to handle an edge case with uniqueness between releases from Helm v2 to Helm v3. It is documented in the issue #6435.

You will need to remove all releases prior to Beta 4. You can do this in 1 of 2 ways:
- Delete them using Helm Beta 3 binary: `helm uninstall <release_name>`
- Using `kubectl` to get all Helm release ver

[2019-10-10 10:23] hickeyma commented on #6629
Let me know how you get on.

[2019-10-10 11:08] mumoshu commented on #6626
#6630 seems to fix this. Could anyone test it out?

[2019-10-10 11:46] Flood1993 commented on #6374
I'm also getting the error:
[code]

I'm trying a solution proposed in this issue, particularly [this](https://github.com/helm/helm/issues/6374#issuecomment-533185074). However, after modifying the tiller.yaml file accordingly, I'm not able to update the configuration.

I'm trying the following:
[code]

But then, if I run:
[code]

The tiller2.yaml file shows:
[code]

So I assume that I'm not updati

[2019-10-10 12:27] mumoshu opened #6631 "v3: --kube-context, --kubeconfig and --namespace values are not passed to plugins"
## Problem

While upgrading [helm-diff](https://github.com/databus23/helm-diff/pull/151#issuecomment-537679821) to work with helm v3, we noticed that a few settings that formerly passed via the local proxy to Tiller now need to be passed explicitly to plugins:

- --kubeconfig
- --kube-context
- --namespace

// Additional discussion in helm/helm: https://github.com/helm/helm/pull/6508#discussion_r3

[2019-10-10 13:20] Numblesix commented on #6273
Having the same issue on Openshift 3.11

`Failed to pull image "gcr.io/kubernetes-helm/tiller:v2.14.3": rpc error: code = Unknown desc = All endpoints blocked.`

[2019-10-10 13:32] mumoshu opened #6633 "v3: `helm template` is missing the flag to render only selected templates"
In helm v2 we had `helm template mychart-1.2.3.tgz -x templates/your.yaml` that can be used to render only selected template files in the chart.

If you run `helm template --help`, this is featured in the beginning of the output like:

[code]

This feature isn't announced for removal so I'm assuming this is a regression in v3. Can we just reimplement it for v3?

If we are to reimplement this for h

[2019-10-10 13:34] rimusz commented on #6633
yes, it is the regression, so it can be reimplement in v3

[2019-10-10 13:47] Numblesix commented on #6273
So digging into my setup it looks like a config issue on our site.
The cluster in which the pull works is running cri-o with runc and it seems to pull any image from any source (bad config), the other cluster is running docker which correctly denies the pull as gcr.io isnt whitelisted

Sorry :)

[2019-10-10 14:39] rimusz commented on #6629
@BugRoger export the secret and create a new one with the new name, and also change secret `type: helm.sh/release.v1`

[2019-10-10 14:49] hickeyma commented on #6629
Just to clarify @BugRoger, the following is changed:
- Name: <secret_name> --> sh.helm.release.v1.<secret_name>
- Type:  helm.sh/release --> helm.sh/release.v1

Be aware that Helm 3 is still not released, so changes may happen till GA.

[2019-10-10 14:59] bacongobbler commented on #6629
Between alphas/betas/release candidates there is no backwards compatibility guarantee. Breaking changes are expected between releases which is why we've been advocating for people to not migrate production systems over to Helm 3 at this time. Feel free to give it a whirl and provide feedback though :)

Closing as answered. Please let us know if you have further questions. Thanks!

[2019-10-10 15:08] bacongobbler commented on #6633
It is NOT a regression in the sense that it was forgotten.

The -x flag was intentionally removed from Helm 3 as it would introduce a problem with the Lua hook system or library charts: if a template relied on a Lua hook being executed, the -x flag would prevent that hook from running first. That is not a good design.

What we wanted to do post-3.0 is to re-implement -x as a selective post-render

[2019-10-10 15:32] pkoehlers opened #6635 "helm 3.0.0-beta4: ca-file does not work for helm repo add/update"
We are using an internal helm repository with a certificate signed by our internal company CA.
When using this repository in helm 3.0.0-beta4 I get this x509 error:

[code]

The same happens when I migrate my existing helm v2 repository config and call `helm repo update`.

Executing the exact same commands in helm v2.14.3 with the same repository configuration and same ca.pem file is working fine.

[2019-10-10 15:36] myersg86 commented on #6615
[Allow apps from anywhere](http://osxdaily.com/2016/09/27/allow-apps-from-anywhere-macos-gatekeeper/) and `sudo spctl --master-disable` disable protections that can potentially leave a Mac vulnerable to malware, and should be avoided if at all possible. This is not an ideal solution.

After taking the following steps, I now seem to have an "Open anyways" option now, allowing running individual app

[2019-10-10 15:38] hickeyma commented on #6626
Closing as #6630

[2019-10-10 15:38] #6626 closed

[2019-10-10 15:59] bacongobbler commented on #6626
Thank you SO MUCH @mumoshu for identifying the fix, providing a patch, AND adding test cases to cover this case! ❤️

[2019-10-10 16:07] bacongobbler commented on #6615
So from [a comment](https://github.com/hashicorp/terraform/issues/23033#issuecomment-539774507) in the terraform issue, it looks like we need a key signed from Apple themselves to have Helm binaries verified.

Will be keeping an eye on that upstream issue for recommended next steps. What an interesting turn of events.

[2019-10-10 16:58] PsyonixBarrett commented on #5866
Any movement on this issue? The bug appears in helm v3 beta 3 as well. We have several "service/application" charts that rely on a single "common" chart to build up their components.

The problem we see is that we can't pin the service charts to utilize specific versions of the common chart. This could cause issue for us down the line if we need/want to introduce breaking changes in the common cha

[2019-10-10 19:25] nlowe commented on #5682
Is this something you would accept a pull request for? I'm fine using other images (especially ones created by maintainers) but it's much easier on the approval process on my end if there's an official image we can consume.

[2019-10-10 19:40] bacongobbler commented on #5682
The Helm CLI has been part of the tiller image as of v2.11.0. See https://github.com/helm/helm/blob/66e0c0b44da1a7b604c592c87de88f545ce737bb/rootfs/Dockerfile#L21

Usage:

[code]

Closing as resolved.

[2019-10-10 19:40] #5682 closed

[2019-10-10 19:41] nlowe commented on #5682
What are the plans for 3.x?

[2019-10-10 19:41] bacongobbler commented on #5682
https://github.com/helm/helm/pull/1929 was the PR that introduced the Helm binary to the tiller image, FYI :)

[2019-10-10 19:41] bacongobbler commented on #5682
Tiller has been dropped in Helm 3, so there's no Docker image to distribute.

[2019-10-10 19:42] dvpierce opened #6636 "helm lint of packaged charts (tgz) not finding Chart.yaml with some SemVer2 compliant version values."
If I set the "version" field in my Chart.yaml to a version with a pre-release value (e.g., 1.0.1-development) the helm lint of the directory will succeed, but the helm lint of the packaged tgz file (e.g., davesproject-1.0.1-development.tgz) will fail.

Replacing the hyphen in the version name with another permitted character (e.g., 1.0.1+development) and repacking (davesproject-1.0.1+development.t

[2019-10-10 19:42] nlowe commented on #5682
Right, so going forward is there any intent to offer a docker image with helm for 3.x? Or should people build their own images if they need something like that?

[2019-10-10 19:45] bacongobbler commented on #5682
There's no intent to offer a docker image for Helm 3 at this time.

[2019-10-10 20:10] #2923 closed

[2019-10-10 20:11] bacongobbler commented on #1957
implemented in #6612

[2019-10-10 20:11] #1957 closed

[2019-10-10 21:14] bacongobbler commented on #6546
fixed in #6625

[2019-10-10 21:14] #6546 closed

[2019-10-10 22:17] bacongobbler commented on #6552
Hmm. Both `helm get` and `helm show` define subcommands; neither accept arguments as subcommands. They both define subcommands and add them to the tree, albeit in their own different ways.

https://github.com/helm/helm/blob/d618e327ae5ff486b06cec3b7c4996ea3395bdf7/cmd/helm/get.go#L71-L75
https://github.com/helm/helm/blob/d618e327ae5ff486b06cec3b7c4996ea3395bdf7/cmd/helm/show.go#L134-L143

Is this

[2019-10-10 22:18] bacongobbler commented on #6552
Marking as a potential backwards-compatibility breaker, so we should try and address this before 3.0 to ensure autocompletion works as expected.

[2019-10-10 23:25] marckhouzam commented on #6552
That's exactly the ask.
Originally I thought of an `all` subcommand to describe it would `get` or `show` the output of all the other subcommands. Your two suggestions are good too.

[2019-10-11 00:04] #6423 closed

[2019-10-11 00:34] marckhouzam commented on #6552
Oh and I can make the PR if you give me the green light for the breaking change.

[2019-10-11 03:37] pmahoney opened #6642 "helm3 3.0.0-beta.4 error upgrading PersistentVolumeClaim PVC with no changes"
I have a helm chart with a single Deployment and single PersistentVolumeClaim. The Deployment mounts the PVC. My cluster is configured with a default volume provisioner, which does create the PV and adds annotations to the PVC.

With helm 3.0.0-beta.4, I run `upgrade --install` which installs as expected. But if I run the command again, with no changes, I get the following error:

[code]

Addition

[2019-10-11 05:13] bacongobbler commented on #6552
💚 💡

[2019-10-11 05:34] mumoshu commented on #6631
@bacongobbler Hey! Thanks for confirming this.

Can we consider this as a fix and link the PR for this(#6632) to any of the prereleases of v3.0.0, hopefully, 3.0.0-beta.5?

From a plugin maintainer's perspective, I'm considering this a kind of regression due to the removal of Tiller.

[2019-10-11 07:18] bacongobbler commented on #6631
Agreed. Now with tiller removed this is the core piece that plugins need to connect to the Kubernetes API. In a way, it's a usability regression. I'll add this into the beta.5 for review.

[2019-10-11 08:50] hickeyma commented on #6333
Closing as #6341 merged

[2019-10-11 08:50] #6333 closed

[2019-10-11 10:01] tigrato opened #6643 "Concurrent map writes causes a panic once app starts."
When tiller starts and tries to synchronize status running in the cluster and the expected status from coming from flux, tiller panics due to concurrent map writing.

This is is the stack trace

[code]

This problem is caused by:
https://github.com/helm/helm/blob/17027a1271345be6de4dfdc1fb3a943e8a3bb20a/pkg/kube/client.go#L220-L258

`perform` function runs the workload in go routines. Line 245 of

[2019-10-11 10:17] hickeyma opened #6644 "Helm repository update should refresh stale repository file"
Helm v2 repository file is similar to the following:
[code]

Helm v3  repository file is similar to the following (note no `cache` property):
[code]

When you migrate Helm v2 configuration to Helm v3, the repository file will be stale because cache location changes and also local repos are not migrated:
[code]

`helm repo update` should refresh the repository file as per the Helm v3 environment. I

[2019-10-11 10:18] hickeyma commented on #6644
@adamreese This is the issue with the cache that I raised at the dev weekly meeting yesterday. Let me know what you think we can do here.

[2019-10-11 10:42] marckhouzam commented on #6552
@bacongobbler which of the suggested new subcommands do you want me to use? `all`, or `chart` and `release`?

[2019-10-11 11:11] alemorcuq opened #6646 "Helm 3.0.0 beta 4 - can't upgrade charts (existing resource conflict)"
Hi, Bitnami developer here. When trying to upgrade a chart to a newer version using `helm v3 beta 4`, it fails due to an existing resource conflict. This never happened neither with `helm v2` nor with the previous beta versions of `helm v3`. It seems to be related with commit https://github.com/helm/helm/commit/36f3a4b326f1df1ad50cfa19c47808a7e42bd294.

I would like to know if this is a bug or the

[2019-10-11 12:15] kprasad99 opened #6647 "Cannot access .Chart.AppVersion of parent in subchart"
I've  Parent chart which has multiple subcharts, for simplicity let subcharts be 2, of the two subchart in one chart I've an application which exposes REST endpoint to get the Release Version. I'm exposing the `Release Version` using `AppVersion` to application using `configmap`, config map template is shown as below. The issue is AppVersion here renders to subcharts AppVersion, not the AppVersion

[2019-10-11 12:28] creativearmenia opened #6648 "Can not install Ingress resource"
Trying to install ingress(apiVersion: extensions/v1beta1) will failed with error

helm.go:81: [debug] the server could not find the requested resource

seems the issue is came from wait.go waitForResources method,  its try to request ingress from   NetworkingV1beta1 even the  apiVersion is extensions/v1beta1

[code]

Output of `helm version`:
version.BuildInfo{Version:"v3.0.0-beta.4", GitCommit:"7

[2019-10-11 12:33] omesser commented on #1809
@thangbn - It is common to use release name within templates exactly with the purpose of associating them with the release name (like @AssafKatz3 said) and I do not believe this is in any way a bad call or practice (unless there's a better way of doing the same thing which I am not familiar with).

[2019-10-11 12:54] hickeyma commented on #6648
PR #6651 opened to fix this.

[2019-10-11 12:58] hickeyma commented on #6648
@creativearmenia Can you provide more information on what you are running? is the chart a scaffold chart (`helm create`)? If not, can you provide more details on the chart and how you are running it?

[2019-10-11 13:07] creativearmenia commented on #6648
We have chart and I am trying to migrate from 2 to helm3.
On install helm fails "the server could not find the requested resource", as I understand helm try to check status by getting ingress from NetworkingV1beta1 which is wrong because our ingress belong to apiVersion: extensions/v1beta1

[2019-10-11 13:15] hickeyma commented on #6648
@creativearmenia  Are you installing a chart in v3 and it fails on the ingress resource? If so, can you show the template with the ingress?

[2019-10-11 13:28] creativearmenia commented on #6648
check the test chart repo https://github.com/creativearmenia/test-chart

run `helm upgrade --install --atomic bobo ./admin-panel`

Error: release bobo failed, and has been uninstalled due to atomic being set: the server could not find the requested resource

[2019-10-11 13:33] hickeyma commented on #6648
Was the chart installed by Helm v2 first and then upgrade by Helm v3? Or installed by Helm v3 only?

[2019-10-11 13:34] hickeyma commented on #6648
What output do you get if you run the command with `--dry-run --debug` flags?

[2019-10-11 13:54] jrkarnes commented on #3555
@IRobL

In general, if you’re wrapping a deployment with sed it means that a templating engine isn’t doing what you need it to, which is the entire point of this discussion.

When gitlab was in its infancy and didn’t have helm support, we literally sed in values on replacement targets on a handcrafted manifest file.

It’s a bad practice for something like this and I would urge you to get away from

[2019-10-11 14:01] creativearmenia commented on #6648
[code]

wihtout --dry-run flag
[code]

[2019-10-11 14:24] #6606 closed

[2019-10-11 14:26] bacongobbler commented on #6483
Implemented in #6444

[2019-10-11 14:26] #6483 closed

[2019-10-11 14:27] hickeyma commented on #6648
@creativearmenia I took your ingress template and installed it using Helm v2 into k8s 1.14 as follows:

[code]

I then installed it again with change to the name of the ingress resource (to avoid conflict) using Helm v3 (same cluster) and it installed as expected:

[code]

[2019-10-11 14:29] bacongobbler commented on #6648
Hi @creativearmenia, this issue looks like a duplicate of https://github.com/helm/helm/issues/6621. Can you confirm? If so, we should close this so we keep the conversation in one place. Thanks!

[2019-10-11 14:31] creativearmenia commented on #6648
@hickeyma  could you please try with --atomic flag

[2019-10-11 14:32] hickeyma commented on #6648
@bacongobbler  related to the `--atomic` flag then?

[2019-10-11 14:33] bacongobbler commented on #6648
Yes. --atomic sets --wait so it would fall under the same bug.

[2019-10-11 14:34] bacongobbler commented on #6648
https://github.com/helm/helm/issues/6621#issuecomment-540139573

[2019-10-11 14:37] creativearmenia commented on #6648
Thanks guys then, closing issue

[2019-10-11 14:37] #6648 closed

[2019-10-11 14:40] bacongobbler commented on #6552
chart and release please! They're slightly more descriptive (and if we add more information to the commands later, `helm show all` may not actually show all output due to backwards compatibility

[2019-10-11 15:04] bacongobbler commented on #6440
Closed in #6608

[2019-10-11 15:04] #6440 closed

[2019-10-11 16:03] bacongobbler commented on #6633
closed via #6634

[2019-10-11 16:03] #6633 closed

[2019-10-11 16:05] bacongobbler commented on #6631
closed via #6632

[2019-10-11 16:05] #6631 closed

[2019-10-11 16:50] Benbentwo commented on #3275
We ran into this issue in PROD, when a requirement to our umbrella helm chart added a configmap based on a conditional. For us the work around fix was to
[code]

[2019-10-11 16:53] bacongobbler commented on #6617
potentially related: #6643

[2019-10-11 18:06] marckhouzam commented on #6552
@bacongobbler Woops, `helm show chart` already exists to show the `Chart.yaml` file...

[code]

Any suggestion?  Do we rename the existing subcommand, or change the name for the new one?

[2019-10-11 18:12] bacongobbler commented on #6552
The output of `helm show` and `helm show chart` are identical, so we can just remove the former entirely since that case is already handled. :)

[2019-10-11 18:43] marckhouzam commented on #6552
I got hopeful for a moment 😄  but it turns out the `helm show chart CHART` is a little different than `helm show CHART` as the code of the former has the extra line:

https://github.com/helm/helm/blob/da729446116954bcb074bd4da742c3e9593f1f10/cmd/helm/show.go#L100

Now, looking at the `pkg/action/show.go` file, I see the term `all` was kind of already used in a public api:
https://github.com/helm/h

[2019-10-11 18:50] bacongobbler commented on #3410
fixed in Helm 3: https://github.com/helm/helm/blob/da729446116954bcb074bd4da742c3e9593f1f10/pkg/engine/files_test.go#L42-L67

[2019-10-11 18:50] #3410 closed

[2019-10-11 18:51] bacongobbler commented on #6552
Nice catch. Yeah, `helm show all` and `helm get all` probably makes sense in this case then.

[2019-10-11 22:35] max-lobur commented on #4543
Same issue here, been able to get 20seconds of `helm ls` at best :(
- 119 releases
- history len has been set to 3
- cluster is about 1yr old
- Used https://github.com/max-lobur/dotfiles/blob/master/sh/helm_poke_releases.sh to poke every release and actually clean history after decreasing --max-history.

Tiller memory footprint decreased from 160 to 60mb, however `helm ls` time decreased only by 5

[2019-10-12 00:59] bacongobbler commented on #4543
I'm very curious to see if this has been improved in Helm 3. With Tiller's removal, we took the time to refactor a huge chunk of the underlying SDK supporting `helm ls` and how Helm interacts with the API server.

[2019-10-12 06:07] MichaelVL commented on #6505
A variation of this is that while 'helm3 help template' shows the following description:

  "... Additionally, none of the server-side testing of chart validity
(e.g. whether an API is supported) is done."

The validation is actually performed, i.e. the command:

  helm3-beta4 template --version 2.8.5 --repo https://kubernetes-charts.storage.googleapis.com metrics-server

will result in an error:

[2019-10-12 07:54] HighwayofLife commented on #5465
This is a really confusing statement, I can't figure out what the `--namespace` flag is fore on the `template` command. It doesn't add the namespace to metadata of resources, which is what I would expect based on the option as well as the documentation, and _require_ this for GitOps and manifest generation automation. It would make better sense for the `--namespace` flag to set the metadata if def

[2019-10-12 09:28] karuppiah7890 commented on #6646
@alemorcuq Thanks for reporting the issue! It looks like you have done some research, if you are interested to work on this and raise a PR, please mention here and go ahead or we will check it out and post our findings 😄 If I have time I'll just dig a bit to understand the issue better, and see if I can help with the root cause

[2019-10-12 15:05] karuppiah7890 commented on #6646
@alemorcuq With the steps you provided, I'm not able to reproduce the issue. My guess from the logs and what you are trying to do is - looks like there's an existing Deployment named `doku-dokuwiki` in namespace `amoreno` somehow - not created/managed using helm. Hence the error

[2019-10-12 15:28] bacongobbler commented on #3503
Closing as a wontfix. The namespace creation code was removed from Helm 3 to align with Kubernetes best practices. See #5753 for a more detailed explanation. Thanks!

[2019-10-12 15:28] #3503 closed

[2019-10-12 15:35] bacongobbler commented on #5465
@HighwayofLife see https://github.com/helm/helm/issues/3553#issuecomment-521424132 for a more in-depth explanation of what happens under the hood during a `helm template` and how the `--namespace` flag applies.

The tl;dr is that the `--namespace` flag modifies the behaviour of [the kubernetes client APIs](https://github.com/helm/helm/blob/34b930cb9db8dba90aaba6299200c34664219a57/pkg/kube/client.g

[2019-10-12 15:38] bacongobbler commented on #6505
I think that may be some mis-communication on the documentation side. What that doc string really means is that `helm template` will not fetch available APIVersions from the server to validate your chart. You are correct that it uses the default available set of APIVersions. That could probably be cleared up with some doc fixes if you'd like to tackle that!

[2019-10-12 20:19] dmyerscough commented on #5465
I have recently been deploying Helm charts via Spinnaker. However, charts that haven't had the `Release.Namespace` specified always get dumped in the default namespace where Spinnaker is running.

Spinnaker has a hard requirement for Helm charts to include the following [1]:-

[code]

[1] https://www.spinnaker.io/guides/user/kubernetes-v2/deploy-helm/

[2019-10-12 23:01] IRobL commented on #3555
@jrkarnes, when you say bad practice, are you saying that needing to wrap the `helm` command with scripting is undesirable?   If so then I agree completely.  I'm not saying I'm against adding an `--app-version` flag at all; on the contrary I think that would be a very convenient addition to helm.  Clearly based on this PR, I'm not the only person using helm that wants to keep the appVersion variab

[2019-10-13 03:02] karuppiah7890 commented on #6642
Able to reproduce the issue with the given template yamls

[2019-10-13 03:05] karuppiah7890 opened #6658 "Helm3: list all namespaces not showing multiple releases with same name in different namespaces"
I created two releases with same name in two different namespaces, and then tried to list releases in all namespaces, but only one of them showed up instead of two showing up

Output of `helm version`:
[code]

[2019-10-13 10:31] karuppiah7890 commented on #6658
I'm working on this currently. Writing failing tests and trying to make it pass.

Current details:
1. I noticed that memory driver used for the tests doesn't support storing multiple namespaces. I added that feature. But it doesn't look entirely great. We might have to discuss on that
2. I added tests at for the `*List.Run` method. Even here, I'm struggling a bit. I'm able to make it work, but the

[2019-10-13 11:57] santoshr1016 commented on #6374
Its worked for me, Thank you so much

[2019-10-13 13:19] kroonprins commented on #6636
Similar error here for "-rc1" version: https://github.com/kroonprins/helm-lint-error

[2019-10-13 15:16] LucasBoisserie opened #6659 "[HELM 3] Get Values return all default values of parent object"
When we try to get values from a release deployed with one value set, we get the parent object with all this default value.

Steps to reproduce:
[code]

with helm 2
[code]
with helm 3
[code]

The issue seems to appear only when the value set has a parent object.
With this, there is no issue:
[code]

Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS

[2019-10-13 15:41] karuppiah7890 commented on #6659
@LucasBoisserie Thanks for reporting this. I'm able to reproduce the issue. And it's weird. I remember seeing this bug and fixing it. Will check on it

[2019-10-13 16:03] karuppiah7890 commented on #6659
Ah. Found the bug. 🙈 I fixed in a basic manner. But there's more to it. This is related to https://github.com/helm/helm/pull/6430 . My guess is, the solution worked only for maps with values at the first level. For nested maps, a deep copy has to be done for it to work properly. Thanks for catching this bug! 😄

[2019-10-14 01:03] iorlas commented on #3555
@IRobL
In general, any utility should be self-sufficient on its own level of abstraction: it should abstract away the problem it solves by providing sufficient API. Helm is no exception. So if you have a need to customise how it behaves, you need to question first: is it goes in line with architecture, design principles or maybe I miss something?

This is why this PR wasn't that easy resolved. Sin

[2019-10-14 03:13] yoichiwo7 opened #6663 "`helm template` command with `--validate` option fails when the resource exists"
Output of `helm version`: v3.0.0-beta.4

Output of `kubectl version`: Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.1", GitCommit:"d647ddbd755faf07169599a625faf302ffc34458", GitTreeState:"clean", BuildDate:"2019-10-02T17:01:15Z", GoVersion:"go1.12.10", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"14+", GitVersion:"v1.14.6-gke.2", Git

[2019-10-14 06:12] yoichiwo7 commented on #6663
I have checked related codes.

`helm template` command calls `Install.Run` function in dry-run mode. But the following resource conflict check in `Install.Run` function runs even in dry-run mode. Maybe we need to add another parameter or flag so that we can skip resource conflict check when called by `helm template`?

https://github.com/helm/helm/blob/1e20ebae35d17c94e77051044fee79913c2719ff/pkg/a

[2019-10-14 07:48] LucasBoisserie commented on #6659
Thanks @karuppiah7890 for your quick answer !

[2019-10-14 08:31] AlbertoPeon commented on #6140
Hi @aaronmell @karuppiah7890 !

Thanks a lot for the investigation - do you guys know if this issue is planned to be fixed in a future release of Helm 2? I am also considering managing Helm charts with Terraform but this is issue seems to be a blocker to run this in production.

Did you find a workaround to make it work reliably @aaronmell ?

[2019-10-14 12:10] karuppiah7890 commented on #6140
@AlbertoPeon I was expecting #4106 to help this. Will check it out. Would you be willing to raise a PR similar to #4106 ?

Hey @bacongobbler , do you think someone can start working on a PR similar to #4106 ? As that PR has no responses

[2019-10-14 12:50] karuppiah7890 commented on #6659
I usually ask the people raising the issue - if they are interested to raise a PR for the fix. This time I didn't do it and with an enthu finished off the PR. Sorry. Next time, would you be interested in contributing to helm? It could be your issue / feature or someone else's too. Would you be interested ? :)

[2019-10-14 13:01] jkrayl opened #6664 "Helm3-beta4: Upgrade operation fails with some specific chart versions"
Hi,

when I try to do an up/downgrade from some chart versions to newer/older versions the upgrade operation fails. For example the downgrade from grafana chart from the chart version 3.8.15 to 3.8.14 I get an error `419 conflict`:
[code]
Install call:
[code]
Upgrade call:
[code]
This makes a downgrade from a version >= 3.8.15 to a version <= 3.8.14 impossible

---
When I try the same operation wi

[2019-10-14 13:11] anikin-aa opened #6665 "Helm v3 can not template CRD"
Hi there !

Been playing around with helmv3 and found next problem.

i've got a CRD template that locates in `templates` folder and named as `crd.yaml` with next content
[code]

Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

`helm template . --kubeconfig /home/me/.kube/config` fails with next error:
[code]

`kubectl` says, that i can create CRD on the cluster:
[code]

templ

[2019-10-14 13:12] karuppiah7890 commented on #6664
Thanks for reporting this bug! I'll try reproducing it. We could also work on a fix - Would you be interested in working on a fix for this issue ? :)

[2019-10-14 14:19] scotthew1 commented on #6615
as a less dramatic workaround to disabling all protections, you should be able to grant an exception to helm specifically. after you try to open helm and get the error prompt, you can go to System Preferences -> Security & Privacy -> General and it will give you the option to set a special exception for helm:

<img width="560" alt="Xnip2019-10-14_09-58-48" src="https://user-images.githubuserconten

[2019-10-14 14:42] anikin-aa commented on #6665
https://github.com/helm/helm/pull/6243

Need to place all of crds under `crds/` folder

[2019-10-14 14:56] hickeyma commented on #5871
@mattfarina Does the merge of #6243 implement this proposal?

[2019-10-14 14:58] hickeyma commented on #6665
@anikin-aa A re-architecture of CRD support was done in v3.  The background to this is documented in: https://github.com/helm/helm/issues/5871

#6243 is an implementation of the proposal.

There is a documentation issue open in https://github.com/helm/helm-www/issues/301.

Did you mange to get this working using the `crds` directory?

[2019-10-14 15:21] hickeyma commented on #6664
This is reproducible as follows with latest `dev-v3`:

[code]

I tested with latest `master` for v2:

[code]

[2019-10-14 15:25] hickeyma commented on #6664
Thanks for finding this @jackgr

[2019-10-14 15:29] hickeyma commented on #6658
@karuppiah7890 I tried to reproduce this as follows using an OOTB scaffold chart ands the latest `dev-v3` code:

[code]

It is working as expected. Would you be able to provide more details to help reproduce this?

[2019-10-14 15:31] hajdukd commented on #4855
Also facing the same issue. Initializing with `--wait` does not work with TLS. Removing `--wait` solves the issue but it's counter productive as we have to write custom wait using TLS.

[2019-10-14 15:32] IRobL commented on #3555
I took another look at `helm package` last night.  I wasn't really sold on it.  `sed` has been around for a very long time and is very stable.  All these `tiller`/ `package`/ `install` subcommands are relatively new, and less stable.  To help articulate my point, months ago, I decided "sure tiller could work out" even though I had seen someone's plugin that bypassed the need for Tiller.  I looked

[2019-10-14 15:35] peterwilliam860 commented on #6374
As the Kubernetes API evolves, APIs are periodically reorganized or upgraded. When APIs evolve, the old API is deprecated and eventually removed.

The v1.16 release will stop serving the following deprecated API versions in favor of newer and more stable API versions:

    NetworkPolicy (in the extensions/v1beta1 API group)
        Migrate to use the networking.k8s.io/v1 API, available since v1.8.

[2019-10-14 15:42] hickeyma commented on #6647
@kprasad99 From [Helm documentation](https://helm.sh/docs/chart_template_guide/#subcharts-and-global-values):

`A subchart is considered “stand-alone”, which means a subchart can never explicitly depend on its parent chart.  For that reason, a subchart cannot access the values of its parent.`

In your situation, it seems Helm is working as expected.

[2019-10-14 15:44] hickeyma commented on #6663
@yoichiwo7 This maybe related to issue #6664

[2019-10-14 16:58] karuppiah7890 commented on #6658
Ah. That's weird. I tried the same. It does work for me too now. Will check on what happened before and will also check implementation to see the working. Somehow I overlooked something. 🙈 Will get back !

[2019-10-14 17:00] karuppiah7890 commented on #6658
@hickeyma It's weird, but the issue comes up when you do an upgrade too, that is when you have more than one revision. Do `helm upgrade chrt-test chrt-test -n test` and then `helm ls --all-namespaces`

[2019-10-14 17:01] karuppiah7890 commented on #6658
I have to check how it doesn't come up in the initial install when there's just one release in each. But the issue is still present. I actually wrote test cases in my PR. Will double check that too - the test cases are based on memory storage driver - I implemented namespaces in it. Please do review the PR!

[2019-10-14 18:17] JianrongZhangBoston commented on #1950
This feature is indeed very useful and I'd love to see it implemented.

[2019-10-14 18:52] sidharthsurana commented on #6665
Regarding the above helm template error see https://github.com/helm/helm/issues/6505

[2019-10-14 19:24] jrkarnes commented on #3555
@IRobL

Yes. This precisely.

This is exactly what we are doing as well.

I would take this a step further and say that having the `appVersion` be a property of the `Chart.yaml` file is probably incorrect. If the value can be changed on the fly, it shouldn't be in what is considered to be an "immutable value set." I believe I advocated for the same thing in a previous comment.

FWIW, `Tiller` is n

[2019-10-14 19:43] psergiovieira commented on #3480
I am getting the same error and increase memory or export HELM_TLS_HOSTNAME=<tiller-deployment-name> didn't help me

[2019-10-14 20:31] iorlas commented on #3555
@IRobL

For me, `tiller` is not acceptable. Since it adds one more exposure point, additional security risks and, most important, does nothing but creates one more way to apply yaml files, but with different API. Tiller was designed to secure, align Helm packages applying process, but having so many risks, additional software(and versioning!). That's why Helm the 3rd does not use it.

I think you

[2019-10-14 21:18] plumcraft opened #6666 "Deployment does not rolling upgrade when config map change"
Hello,

According to helm doc : https://github.com/helm/helm/blob/master/docs/charts_tips_and_tricks.md#automatically-roll-deployments-when-configmaps-or-secrets-change

It should trigger a rolling upgrade when config map content change, but it does not seem to work

In our case, there is a common varnish chart which apply a common configuration which checksum/config annotation :
[code]

Inside th

[2019-10-14 21:28] hickeyma commented on #6658
@karuppiah7890 Ok, so as you mentioned in https://github.com/helm/helm/issues/6658#issuecomment-541796202, the issues appears after an upgrade as follows:

[code]

[2019-10-14 21:58] Dean-Coakley commented on #6437
@thomastaylor312 Looks to me that this work has been completed.

This can be closed?

[2019-10-14 22:10] thomastaylor312 commented on #6437
@Dean-Coakley thanks for the ping. I guess closing the PR didn't close this automatically

[2019-10-14 22:10] #6437 closed

[2019-10-15 05:08] anikin-aa commented on #6665
@hickeyma Yep, its working under `crds/` directory. thx !
But now i'm facing similar error, but for my Custom Resource:
[code]

[2019-10-15 06:47] anikin-aa commented on #6665
@sidharthsurana, thanks for pointing out. `--validate` works for me

[2019-10-15 06:47] #6665 closed

[2019-10-15 07:10] jkrayl commented on #6664
Thanks for working on this so quickly @karuppiah7890 @hickeyma
Right now I'm kept on my toes by some other topics but maybe in the future :)

[2019-10-15 08:05] jstriebel commented on #3533
@bacongobbler Yes, exactly! Thanks a ton, wasn't aware of the related issues. This seems to be solved :+1:

[2019-10-15 08:05] #3533 closed

[2019-10-15 09:55] kprasad99 commented on #6647
ok that stands good for AppVersion, but doesn't stand for Release Version, Release Version should be global scope right, Currently I'm getting {{ .Release.Version}} as blank in subchart

[2019-10-15 10:25] hickeyma commented on #6666
@plumcraft Can you show your deployment template that references the configmap?

[2019-10-15 11:32] iMacX commented on #6130
Same issue here trying to install on Azure AKS with kubernetes 1.13.10 and helm v2.14.3 with prometheus-operator-6.18.0. Any suggestion?

[2019-10-15 12:03] walterdolce commented on #4910
I am not in favour of `helm lint` having to chech subcharts. You only test what you own. If you own more than a chart (whether or not those are subcharts), test them in isolation.

If a 3rd party chart causes a failure in your build, send a PR to the upstream repository to fix the problem there :)

Ultimately I am in favour of this:

[2019-10-15 13:04] marckhouzam commented on #6615
I haven't upgraded to Catalina yet but I was told kubectl doesn't have this problem. If that is indeed the case, could someone check if kubectl is signed in any particular way?
On my Mac OS Mojave kubectl 1.15 is not signed according to
`codesign -dv --verbose=4 $(which kubectl)`

[2019-10-15 13:14] pablogarciamiranda opened #6668 "Values files don't get deeply merged"
Hi,

I would like to deeply merge the content of two yaml arrays of two different values files when running an upgrade.

[code]

[code]

The desired result after applying the helm upgrade would be:

[code]

Bu the result is:
[code]

Is this the desired behavior or is it a bug? How could I achieve my goal?

Many thanks,
 Pablo

Output of `helm version`:
Client: &version.Version{SemVer:"v2.14.3", Gi

[2019-10-15 13:25] woodcockjosh commented on #4910
You can have subcharts that are not third party and not "external". They are "nested" charts
eg:
[code]

with a `requirements.yaml` in the `parentchart` that looks like this:
[code]

Right now I have to use a weird bash script to check all the subcharts

[2019-10-15 14:28] IRobL commented on #3555
@jrkarnes

Yes, we're both approaching helm with similar interests in mind.  I hadn't really realized that the root of the `package` command was intertwined with the mistakes paved by tiller, thank you for sharing these insights with me!

I was actually reviewing the history of why this feature isn't just added and saw two arguments as to why they couldn't add this feature, the one was that since

[2019-10-15 14:48] iorlas commented on #3555
@IRobL The key problem is: You are looking at Helm as deployment script. But Helm is not like that. Helm is an abstraction layer. Helm takes all your artifacts and applies as one unit of work onto K8s as a platform.

Helm is a packager. Helm is designed to ease deployment. It creates "installer" out of your artifacts, so you can "install" it onto your OS - K8s.

`app-version` in `install` has noth

[2019-10-15 15:04] pablogarciamiranda commented on #6668
I guess the problem is just for arrays because for normal key/value pairs is working.

My workaround is the following:
[code]

[code]

The expected value is:
[code]

So now I can play in the template with only the required secrets using if statements.

[2019-10-15 15:57] seeruk commented on #3555
Been out of the loop on this issue for a little while, but I've seen this sort of point crop up a few times:

Fundamentally, Helm _does not in any way_ create an installer. It does not create a "binary". It does not create something similar to a ".deb" file or similar. It creates an archive of some templates of Kubernetes manifests, with some default and/or preset values. Your actual software does

[2019-10-15 16:16] iorlas commented on #3555
But deb file is the same set of configuration files, commands, manifests and/or preset values. Same as MSI installer or even, which is the closer one, ebuild in gento emerge package system.

So what is the Helm if not a package manager for K8s? What is the difference you see?

Why not? If you mutate package after package generation, it is wrong. If you supply additional options during `install/upg

[2019-10-15 16:26] marckhouzam commented on #6615
Thanks @guitmz. Is Catalina blocking you when you try to use the unsigned kubectl like it does for helm?

[2019-10-15 16:28] iorlas commented on #3555
In this design, appVersion should not be treated as attribute of the Helm Package build. It should be treated as configurational parameter, in values.

In that case you will loose coupling of app infrastructure manifests and app version. Since, changing image tag won't trigger new helm upgrade(correct me if Flux guys are doing it other way). In that case, you'll have Helm as configuration template

[2019-10-15 16:51] seeruk commented on #3555
Your description here for `.deb` and `.msi` packages is missing one key component - the actual thing that is being installed. If you go look at the contents of a `.deb` file, you'll find the built software - _THE_ software that is going to be installed. Generally speaking (always in the case of `.deb`?) the application being deployed is intrinsically linked, and part of that package (not the case

[2019-10-15 17:17] iorlas commented on #3555
You are absolutely right. Helm could be no more than a handy templating engine for k8s templates. I don't have problems with such software existence: it helps a bit, won't change modern delivery practice.

The problem is, Helm is more than templating engine. It is a packaging manager, with all benefits and downsides. And in the ecosystem where package manager exists, it is a bad practice to have s

[2019-10-15 17:31] yfei1 commented on #6548
@jlegrone `helm template` does not inherit the `--no-hooks` flag though. I use `helm template` to generate the static yaml resources with different customization options so that customers are able to `kubectl apply -f app.yaml` with one line. If template is solely used for debugging purposes, what would you recommend using helm for such a use case?

[2019-10-15 17:33] iorlas commented on #3555
Yup, this is is the central point: **Is it desirable for any product? If yes, is it right thing to do?**

Your argument is that Helm Chart rarely changes, so why should we pack it together each release. I agree with you, it feels redundant. But anyway, we still package some old source files, old side-cars(if Helm consists of multiple apps), old configs, old Dockerfile.

So the question is, if we p

[2019-10-15 17:35] bacongobbler commented on #6548
You are correct. In Helm 3, `helm install` and `helm template` share the same code base so `helm template --no-hooks` is present and works as expected. This flag is not present in Helm 2's `helm template` command, however.

[2019-10-15 17:46] #6617 closed

[2019-10-15 17:46] #6643 closed

[2019-10-15 18:33] iorlas commented on #6668
Yeeaah... This is how YAML parsers work. This is how structure merge works.

Either way, looking at your example, I don't think it is right way to supply values. You should describe applicable values in the Chart, then override it on upgrade/install. So your workaround it intended usage.

What's wrong with it, why it feels workaround-y to you? Why you need an array of secrets instead of fields for

[2019-10-15 18:44] jonstelly commented on #3555
@iorlas I've just read through this and the rejected PR and you make some very good points.  You've convinced me that I need to start packaging up my helm charts as another artifact of my build/release.

But I would like to mention that I didn't even know helm had a package command and I'm guessing I'm not alone.  That's probably because it's just so easy to install a chart from the source directo

[2019-10-15 18:46] iorlas commented on #6647
@kprasad99 Helm has multiple versions, all tied to one Chart:

1. Chart version
2. App version
4. Release Version

The problem is, there is no such thing as "global release", i.e. release, which ties up subcharts as one release unit.

If you decompose your main chart into subcharts, you may not need to upgrade some dependencies(subcharts), since there could be no changes.

If you really need one g

[2019-10-15 18:56] iorlas commented on #3555
@jonstelly There is definitely a gap in documentation. Even I was thinking at first that --app-version is good to go, but then though it just could not be left missing w/o a reason.

Docs definitely need some clarification and common problems introduction. Then, Helm development cycle introduction. But I believe team is busy on 3rd version. And I'm too busy right now too :(

[2019-10-15 19:02] seeruk commented on #3555
I don't mean that a Helm Chart itself isn't installed - all I'm saying is, the Helm Chart doesn't contain the actual application you're deploying. A Docker image is not packaged into a Helm Chart. It's pulled by Kubernetes from some external source.

As far as I'm aware, actually you're incorrect here. A `.deb` file is an AR archive. You can extract it and look at the contents, and ultimately it's

[2019-10-15 19:07] guitmz commented on #6615
For some reason it is not. But perhaps it's because first time I used it, it was the signed binary (from Docker), macOS added it to some sort of whitelist (just a wild guess, not sure how Catalina security works). Now both the official binary and the one from Docker are working fine

[2019-10-15 19:58] marckhouzam commented on #6615
My colleague was also was blocked for helm but not kubectl, although kubectl seems unsigned.  Maybe a trail to follow...

[2019-10-15 20:23] kenperkins opened #6673 "Stack overflow in pkg/chartutil/errors.go"
`pkg/chartutil/errors.go` has a recursion bug which results in a stack overflow when trying to serialize the value of the error:

https://github.com/helm/helm/blob/dev-v3/pkg/chartutil/errors.go#L26

If you attempt to render one of these Errors, you'll get a stack overflow. I have proposed a unit test in #6672 which demonstrates the stack overflow.

Excerpt of logs:

[code]

Output of `helm versio

[2019-10-15 20:35] bacongobbler commented on #6673
thanks for raising this up. Do you feel like taking a crack at fixing this?

[2019-10-15 21:04] kenperkins commented on #6673
Already have a fix ready, just wanted to get the OK before I pushed it as the second commit in #6672

[2019-10-15 21:08] kenperkins commented on #6673
OK #6673 now has a test and a fix for this.

[2019-10-15 21:32] bacongobbler commented on #5613
I'll take this one on. I gave a talk about this particular subject at Helm Summit EU: https://www.youtube.com/watch?v=uZ_ihxYZhBo&list=PLj6h78yzYM2PpK5FD0sGHxGaaH-wj6fel&index=2

[2019-10-15 21:33] bacongobbler commented on #5732
closing in favour of #5733.

[2019-10-15 21:33] #5732 closed

[2019-10-15 21:36] bacongobbler commented on #6647
Perhaps you meant `.Release.Revision`. There is no such thing as `.Release.Version`. Please refer to [the documentation for a list of built-in objects available to charts](https://helm.sh/docs/chart_template_guide/#built-in-objects).

Closing as answered. Please comment on here if this should be re-opened for further discussion. Thanks.

[2019-10-15 21:36] #6647 closed

[2019-10-15 22:05] iorlas commented on #3555
Actually, I wish it would be that way. But it is not right now. My vision is, K8s will/should be a platform, which will incorporate Helm(so there will be no Helm) as API to install packages: you will need to pack your stuff into the archive and install it. Back to simplicity of the deb files, but with proper isolation and k8s resources as first class citizens.

Like.... a Helm package!

Yes, it wo

[2019-10-15 22:15] ljckennedy opened #6674 "Helm3-beta4: long running chart install returns 'Killed' and does not install"
Output of `helm version`:

version.BuildInfo{Version:"v3.0.0-beta.4", GitCommit:"7ffc879f137bd3a69eea53349b01f05e3d1d2385", GitTreeState:"dirty", GoVersion:"go1.13.1"}

Output of `kubectl version`:

Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.1", GitCommit:"d647ddbd755faf07169599a625faf302ffc34458", GitTreeState:"clean", BuildDate:"2019-10-02T17:01:15Z", GoVersion:"go1.12

[2019-10-15 22:22] jrkarnes commented on #3555
The image itself is not packaged, but the reference (read as: pin) is. Sure, we can be pedantic and get caught up on whether or not the literal image of varying size (from MBs to GBs) is included in the artifact of `helm package` (spoiler: it isn't), but the essence of the statement "A given version of an application's code is included in a helm package" is still fundamentally correct. Whether or

[2019-10-15 22:25] bacongobbler commented on #6674
Hi @ljckennedy. Thanks for reporting this. As suggested on Slack, if you can provide more information on how to reproduce this particular error, that would be helpful. The `-v 10` flag may also help provide more information.

Let us know if you find anything actionable here.

[2019-10-15 22:26] bacongobbler commented on #6674
Marking as question/support for the time being until we can nail down whether this is a bug within Helm or something further up the stack.

[2019-10-15 22:43] httran13 opened #6675 "helm ls stuck after installing tls on tiller"
During installation of TLS following these instructions here : https://github.com/helm/helm/blob/master/docs/tiller_ssl.md#generating-certificates

After

`helm init \
--service-account tiller \
--tiller-tls \
--tiller-tls-verify \
--tiller-tls-cert tiller.cert.pem \
--tiller-tls-key tiller.key.pem \
--tls-ca-cert ca.cert.pem \
--history-max 200`

When i try to run a helm ls without --tls, helm ge

[2019-10-15 22:59] ljckennedy commented on #6674
Output is 300k so can't post it here.  I can't see how to add an attachment either.

[2019-10-16 00:10] ljckennedy commented on #6674
As an aside, the same chart deploys in helm2 much quicker:

real    1m15.720s
user    0m9.712s
sys     0m0.748s

[2019-10-16 00:16] waynekhan commented on #6130
Try disabling the admissions controller web hook?

https://waynekhan.net/2019/10/09/prometheus-operator-release-failed.html

[2019-10-16 01:04] yfei1 commented on #6548
Ah, thanks for the update. Can’t wait to use helm3!

[2019-10-16 03:09] linbingdouzhe commented on #4174
same problem here . i can not install the old name any more. i can only install a new name...really bad for me

[2019-10-16 03:29] timfeirg opened #6676 "Helm 3: missing install.md"
Hi, I'd like to try out Helm 3 for our company, but https://v3.helm.sh/docs/intro/quickstart/install.md is missing, what's your suggestion on this?

~~Can I just use [the installation guide for Helm 2](https://helm.sh/docs/using_helm/#installing-helm)?~~

Since Helm 3 removes tiller, I don't think I can follow the old guide.

[2019-10-16 04:22] bacongobbler commented on #6676
https://v3.helm.sh/docs/intro/quickstart/#install-helm

[2019-10-16 04:24] bacongobbler commented on #6676
Oh... I see what you're trying to fetch. There's an issue with some internal links not working.

I can take a look at this issue this week.

[2019-10-16 04:26] bacongobbler commented on #6676
For now, use https://v3.helm.sh/docs/intro/install/

[2019-10-16 04:28] #6676 closed

[2019-10-16 05:36] sidharthsurana opened #6677 "[Helm3] Helm3 install results in panic: runtime error: invalid memory address or nil pointer dereference"
Output of `helm version`:
version.BuildInfo{Version:"v3.0.0-beta.4", GitCommit:"7ffc879f137bd3a69eea53349b01f05e3d1d2385", GitTreeState:"dirty", GoVersion:"go1.13.1"}

Ran into the Nil Pointer error when doing a `helm3 install <chart name> `. The chart used here is a helm2 chart loaded from a helm repo.

Note: the same chart if I were to extract locally on the filesystem and then use the same comm

[2019-10-16 09:17] hickeyma commented on #6677
@sidharthsurana Thanks for raising this issue.

I have tried to reproduce it as follows:

[code]

Do you mind providing more details on how to reproduce this issue?

[2019-10-16 09:29] pablogarciamiranda commented on #6668
Hi @iorlas,

I have a Chart which is used to deploy many applications.
For each application I have a values.yaml file where I specify the secret names that I just need for that application:
[code]
And then I have a values_environment.yaml file with the sensitive data of all the secrets of all the applications (Which is not persisted in any repository).

[code]

My goal is to have just one secret.y

[2019-10-16 09:53] seeruk commented on #3555
@iorlas:

Let's set aside the `.deb` comparisons. I think it's just us getting sidetracked.

That's very true. More on that later though.

You do, but that's because the product at the end of that build process (i.e. a Docker Image) depends on _both_ the Dockerfile, and the thing you're putting in it. An image cannot exist without those two components.

On the other hand, a Helm Chart can exist be

[2019-10-16 12:02] kprasad99 commented on #6647
@bacongobbler  `.Release.Revision` start from 1, which would give me info on deployed charts state whether there is upgrade or not etc.

@iorlas  `which ties up subcharts as one release unit.` this what I wanted, I wanted subcharts tied to release unit and wanted to store this release unit in a configmap written/part of one of the subcharts.

Here is my chart release plan.

.Initial Release
[code]

[2019-10-16 12:47] mdekoster commented on #6027
I have the same thing on the WSL 2 (Windows build 18999). The command never completes. I have access to the outside world. I am able to curl https://helm.goharbor.io.

[2019-10-16 13:50] thomastaylor312 commented on #6674
@ljckennedy Did you also try with just the `--debug` flag? That will enable more verbose logging for Helm itself, which will help us identify any Helm issues. Please leave off the `-v 10` when you do to reduce the noise

[2019-10-16 14:50] #6673 closed

[2019-10-16 15:06] bacongobbler commented on #5613
punting to 3.0

[2019-10-16 15:10] bacongobbler commented on #6552
fixed in #6656

[2019-10-16 15:20] iorlas commented on #3555
So... Helm package needs Chart and app version(= Docker image) and cannot exist w/o it.

Funny thing is, on one project we used to use stub docker images to create a prototype architecture. We literally used Charts w/o writing a single line of code. Also, it is always viable case to have a Chart which consists of subcharts only.

So, **my hypothesis is**: Helm package is *almost* useless w/o a Doc

[2019-10-16 15:26] iorlas commented on #3555
## Let's narrow our focus, guys

This is a key difference right here. And @seeruk nailed it. And we can focus onto it. Let me paraphrase it into the facts:

1. Docker Image is not bound with Helm package. Only reference to it.
2. This gives opportunity to release these paths independently.

Key questions:

1. What are risks of independent approach?
2. How packaging approach solves it?
3. What is t

[2019-10-16 16:04] adamreese commented on #6644
What is this breaking?  How can I prove that this was a required field?

[2019-10-16 16:34] bacongobbler commented on #5952
Given there is a workaround with `helm get manifest`, I think it's safe to punt over from the 3.0 milestone. I found out today that the live state of resources was removed from `helm status` due to poor code quality (I assume this had to do with no clear separation of concerns between the release and the live state), and the fact that there are other avenues to view the same output as @thomastaylo

[2019-10-16 17:10] poochwashere commented on #6130
I was fighting the same issue, I had to manually install the crds specified by @JBosom and install with the web hook disabled.
[code]

`helm --tls --tiller-namespace=tiller install --namespace=monitoring --name prom-mfcloud stable/prometheus-operator --set prom
etheusOperator.createCustomResource=false --set prometheusOperator.admissionWebhooks.enabled=false --values values.yaml --versi
on 6.18.0`

[2019-10-16 18:22] bacongobbler commented on #5778
This might've been fixed in future refactors. I can see that Helm [should create the release](https://github.com/helm/helm/blob/40572311abd71ba2e2ec0433751ffff312ff9564/pkg/action/install.go#L258-L265) before [invoking `--wait`](https://github.com/helm/helm/blob/40572311abd71ba2e2ec0433751ffff312ff9564/pkg/action/install.go#L281-L286), so this state should not occur, and the release should be mark

[2019-10-16 18:33] bacongobbler commented on #6642
This may have to be something to do with how we are generating patchsets between one release and the next now that we are applying a three-way merge patch.

As far as the `--force` flag is concerned, we probably can add the wait logic back in. THat might just be an easy regression to fix.

[2019-10-16 18:39] databus23 commented on #6642
Isn‘t the problem that the `storageclasspath` is set to empty in the tempalte this becomes a problem when k8s fills in a default value and the field is immutable. the three way merge strategy then tried to set the value back to empty.

This can be avoided by omitting empty fields und the template I think.

[2019-10-16 18:46] bacongobbler commented on #6642
@databus23 excellent catch. That certainly seems like the right assumption here.

I'll do a quick check on my end and confirm that's the case. If that is indeed the root of the issue, then @pmahoney the recommendation would be to remove the empty `storageClassName` field from the template, or to set the `storageClassName` field to whatever Kubernetes changed it to when you invoke `helm upgrade`. T

[2019-10-16 19:22] bacongobbler commented on #6322
Redirecting the conversation back here.

A number of core maintainers have expressed concern over the design of introducing a flag initially introduced due to Tiller's introduction, which was the reason for #6670's closure.

It sounds like the current resolution is to work around this case by checking the presence of the `-c` flag in `helm version`. I'm curious to hear if this is a reasonable work

[2019-10-16 19:38] joshprzybyszewski-wf commented on #6374
As a helm n00b who is using minikube, I was able to get around this issue by setting a kubernetes version like so:

[code]

Hope it helps!

[2019-10-16 20:15] itowlson commented on #6322
That's not portable though.  I can detect OS and use the DOS NUL device, but (a) that just moves the detection complexity elsewhere and (b) it doesn't work.

[2019-10-16 21:52] bacongobbler opened #6680 "feature: register CRDs present in crds/ directory during `helm template`"
A common use case in Helm 3 is to render all its templates to stdout. If your templates contain a custom resource that relies on a CRD present in the `crds/` directory, `helm template` will fail with a message similar to the following:

[code]

Two workarounds exist today:

- install the CRDs into your cluster and run with the `--validate` flag
- register the CRDs using the `--api-versions` flag

[2019-10-16 22:17] bacongobbler commented on #6642
Yep. @databus23's suggestion worked. Once the emtpy `storageClassName` field was removed, `helm install/helm upgrade` worked as expected.

[2019-10-16 22:44] clintsinger opened #6682 "...\repositories.yaml: The process cannot access the file..."
I am trying Helm 3 Beta 4 and am running into an issue when trying to add a repo.  When I try the same thing with Beta 3 I do not get the error.

**Command**
helm repo add stable https://kubernetes-charts.storage.googleapis.com/

**Result**
Error: read C:\Users\me\AppData\Roaming\helm\repositories.yaml: The process cannot access the file because another process has locked a portion of the file.

O

[2019-10-17 01:08] razor-x commented on #4618
Has any work on this been done for Helm 3? I just experimented with moving my charts from local to an http repo. I use the same chart many times. My CI deploy time went from 15 seconds to over a minute. The short deploy times are really important for our work flow.

[2019-10-17 01:34] thomastaylor312 commented on #5778
@bacongobbler beat me to it. I tried testing and couldn't get this to happen. Please let us know if it is still an issue

[2019-10-17 02:34] XandarZack commented on #6682
have the same issue

[2019-10-17 02:41] karuppiah7890 opened #6683 "Tests pass when golang function name and comment for docs don't match"
Noticed this in this PR #6661 . The function name was changed to `Map` but comment was unchanged - `DeepCopyMap` and all the tests and checks still passed. Manual review and comment was needed to change this. I would recommend to look into this and fix it. A normal `golint` usually catches this. Somehow our `golangci-lint` missed this

[2019-10-17 03:21] bacongobbler commented on #4618
There hasn't been any work on this front. Feel like taking a crack at solving this?

[2019-10-17 03:22] #5778 closed

[2019-10-17 04:42] razor-x commented on #4618
Possibly. Have not done any Go yet, so it's hard to estimate on this.

I still believe there may be a simpler, smaller scope first approach to solving the caching problem that is more approachable. Given that the charts all have a hash associated with them, why not just store the archives in a flat folder with name equal to it's hash?

[2019-10-17 04:56] bacongobbler commented on #4618
Yep! That seems like a good first step in the right direction. That's the same proposal @mattfarina [mentioned earlier in the thread](https://github.com/helm/helm/issues/4618#issuecomment-423276636). A digest is just another term for a hash. :)

[2019-10-17 07:33] tmahncke-lhind commented on #4667
Is there a workaround for this "problem"? In our project we have a dependency that is no longer needed and might even be not present in the future. Due to the requirements.lock file in the helm chart repository the denpendency is treated as required.

Deleting the requirements.lock file manually after the helm package does not seem like a good solution and would need manual intervention as we are

[2019-10-17 08:19] ljckennedy commented on #6674
Not much but here is the debug only output:

history.go:52: [debug] getting history for release qse-testing
Release "qse-testing" does not exist. Installing it now.
install.go:148: [debug] Original chart version: ""
install.go:165: [debug] CHART PATH: /home/vagrant/.cache/helm/repository/qliksense-1.13.106.tgz

Killed

[2019-10-17 09:11] hickeyma commented on #6682
@clintsinger Thanks for raising this issue. I want to try and understand better what's happening.
Would you have another process accessing the repo at the same? If you retry a number of times, will it then work?

[2019-10-17 09:12] riker09 commented on #6682
I tried using a powershell with elevated rights (aka Administrator), no success.

I have resetted my Kubernetes Cluster before issuing any commands.

[2019-10-17 09:14] riker09 commented on #6682
@hickeyma The error does not go away when I issue the command multiple times. I have manually deleted the file C:\Users\$USER\AppData\Roaming\helm\repositories.yml (which gets recreated every time the `helm repo add` command is run), but the file is empty.

[2019-10-17 09:34] planetf1 commented on #5778
will do & reopen if it occurs. Thanks for the update

[2019-10-17 09:46] riker09 commented on #6682
I did a full reset of my Docker on Windows installation and re-installed support for Kubernetes. Still, the error persists.

[2019-10-17 10:15] riker09 commented on #6682
Im trying to work around this issue by downgrading to helm v3.0.0-beta3. I have successfully added the stable repo with `helm repo add stable https://kubernetes-charts.storage.googleapis.com/`. The content of `C:\Users$USER\AppData\Roaming\helm\repositories.yml` is now:

[code]

Switched back to `v3.0.0-beta4` and the command `helm repo list` returns the configured repo. Now I can get back to lear

[2019-10-17 10:32] hickeyma commented on #6682
@bacongobbler Would you be able to check this on a Windows system?

[2019-10-17 10:42] kprasad99 commented on #6647
similar to this issue https://github.com/kubernetes/ingress-nginx/pull/886

[2019-10-17 11:03] stp-bsh commented on #4283
Any news on this one?

[2019-10-17 11:08] hickeyma commented on #6322
@itowlson I understand and appreciate the capability that you request.

However, from Helm point of view it doesn't make sense to add capability for something that no longer exists i.e. removal of Tiller and client/server architecture.  It might not be ideal for your scenario but `helm version` provides version information across both v2 and v3.

The decision is explained in more detail in https:/

[2019-10-17 11:43] bacongobbler commented on #6682
Certainly.

[2019-10-17 12:35] ianshore commented on #6682
I have the same issue with helm version 2.15.0-rc.1 (client and server versions match).
Windows 10. Other helm repo commands work, like 'helm repo update' & 'helm repo list'.
I've used process explorer to search for any handles to repositories.yaml and nothing's found.
I also recreated the file and able to edit it independently - it's like 'helm repo add' opens it twice internally and conflicts wi

[2019-10-17 13:09] hickeyma commented on #6682
@bacongobbler If you can reproduce the issue, it maybe related to this: https://github.com/gofrs/flock/issues/42#issuecomment-495259713 ?

[2019-10-17 13:30] Dean-Coakley commented on #6663
@yoichiwo7 Are you working on this or can I give it a try?

[2019-10-17 14:51] chipzoller commented on #6635
+1 on this. Exact same sequence works in helm2 but not helm3-beta4. `--ca-file` appears to not be passed.

[2019-10-17 14:52] yoichiwo7 commented on #6663
@Dean-Coakley
Not yet.
If you can give it a try, that would be great.

[2019-10-17 15:00] lbolla opened #6685 "Helm not upgrading deployments when apiVersion changes"
I just upgraded my k8s to v1.16, and updated my deployment manifests to have `apiVersion: apps/v1` instead of the deprecated `apiVersion: extensions/v1beta1`.

Running `helm upgrade` though doesn't seem to affect the existing deployment manifests. I would expect the new `apiVersion` to show up in production, but it doesn't. I also tried to add a dummy "label" to the deployment, to make sure it was

[2019-10-17 15:34] zygon4 commented on #6324
The linked oras PR was merged, yay!! Can that feature be added to the helm release train?
Thanks again @pytimer !

[2019-10-17 15:49] nce commented on #6031
Unfortunately we are infrequently experiencing the same issue:

`helm secrets upgrade --atomic --cleanup-on-fail --timeout 3600 -i integ2 umbrella --namespace dcs-integ2 -f values/envs/integ2/values.yaml -f values/envs/integ2/secrets.yaml -f control/values.yaml -f control/envs/integ2/values.yaml
UPGRADE FAILED
Error: kind PersistentVolumeClaim with the name "biocatch-log" already exists in the clu

[2019-10-17 15:53] #6659 closed

[2019-10-17 15:54] bacongobbler commented on #6685
duplicate of https://github.com/helm/helm/issues/6583.

[2019-10-17 15:54] #6685 closed

[2019-10-17 17:00] hickeyma commented on #6644
Discussed this in the dev weekly call. It was agreed that Helm is not responsible for aligning the repository file between v2 and v3. It should be handled in the migration tool.

[2019-10-17 17:00] #6644 closed

[2019-10-17 17:20] bacongobbler opened #6686 "docs: demonstrate a template that can determine if this chart is being rendered by Helm 2 or Helm 3"
In some cases, Helm 3 has intentionally broke compatibility because there are similar systems in place. For example, `{{ .Release.Time }}` was dropped in favour of the `now` function introduced in sprig.

However, there are cases where there are objects that exist only in Helm 3, and there is a parallel equivalent in Helm 2.

One use case is with the same object: `{{ .Release.Time }}`. `.Release.T

[2019-10-17 17:22] bacongobbler commented on #6642
fixed in #6681.

[2019-10-17 17:22] #6642 closed

[2019-10-17 18:09] bacongobbler commented on #5733
Thanks for bringing that to our attention, @johngmyers. @jlegrone had similar concerns with fetching database backups during a rollback in relation to a particular release. `.Release.Revision` is being added back in #6688.

[2019-10-17 18:25] planetf1 commented on #6682
I can confirm the same issue here - Windows 10 (18999)
[code]

[2019-10-17 18:28] mattfarina opened #6689 "Add HelmVersion to Capabilities"
In Helm v2 the Capabilities included `TillerVersion` which would allow you to target and work with different minor versions of Helm. When Tiller went away so did the ability to detect the minor version of Helm.

The idea is to add this back as `HelmVersion` and available though Capabilities.

Note, I'm filing this but not expecting to add this until after v3.0.0 is released.

[2019-10-17 18:35] mattfarina opened #6690 "Restore Release.Revision"
Helm v3 removed `Revision` from the chart `Release` object. @jlegrone requested it be restored because there are use cases such as the way he handles backups. This was on the helm dev call today.

/cc @technosophos @bacongobbler

[2019-10-17 18:37] thomastaylor312 commented on #6690
Closed by #6688

[2019-10-17 18:37] #6690 closed

[2019-10-17 19:23] thomastaylor312 commented on #6163
Closed in #6679

[2019-10-17 19:23] #6163 closed

[2019-10-17 19:38] bacongobbler commented on #6533
fixed in #6671

[2019-10-17 19:38] #6533 closed

[2019-10-17 20:33] thomastaylor312 commented on #5733
Closed by #6687

[2019-10-17 20:33] #5733 closed

[2019-10-17 20:39] bacongobbler commented on #6682
I can reproduce this issue on Windows. There may be an issue in `flock` that is creating the file but not closing it, causing the dangling file handler (and the eventual error). Taking a closer look at this now.

[2019-10-17 20:56] bacongobbler commented on #6682
acquiring a lockfile instead of locking the repository file fixes the issue. It is indeed due to https://github.com/gofrs/flock/issues/42 as @hickeyma pointed out:

Will submit a PR.

[code]

[2019-10-17 21:02] bacongobbler commented on #6682
We'll also need to provide a patch to Helm 2, as this issue is present there as well.

[2019-10-17 22:04] bacongobbler commented on #6682
fixed in #6692 and #6694.

[2019-10-17 22:04] #6682 closed

[2019-10-17 22:42] bacongobbler commented on #6144
punting this work item to the 3.0.0 milestone since we're not particularly waiting on a PR to be merged before releasing 3.0.0-beta.5.

[2019-10-17 22:46] colinwilson commented on #6545
@unludo Had the same issue. Not sure how long it would've taken me to figure this out had I not seen your comment!

[2019-10-18 01:36] qiyongxiao opened #6696 "make build"
Hello, I recently build helm with source, execute the cmd ```make build``` show me this issue.
[code]
my go version:
[code]
go env:
[code]

If I change the makefile build to ```GOBIN=$(BINDIR) $(GO) install $(GOFLAGS) -tags '$(TAGS)' -ldflags '$(LDFLAGS)' k8s.io/helm/cmd/helm``` could run success

[2019-10-18 02:09] HYChou0515 commented on #3130
The file name is now `rbac.md` and the link is at https://github.com/helm/helm/blob/master/docs/rbac.md.

[2019-10-18 03:28] hoffoo commented on #6031
This continues to happen to us consistently. This fixed it for me

1. upgade including the new resource
2. upgrade again (it fails)
3. rollback the failed upgrade

subsequent upgrades work for me. didnt see anything interesting in the log

[2019-10-18 07:26] hickeyma commented on #6682
Thanks @bacongobbler for testing this on Windows and pushing the fix.

[2019-10-18 07:41] jgoeres commented on #2927
I consider this a valid requirement and have been wondering how to solve this without requiring my end  users to duplicate certain values that they special on the commandline/with a values file.
THe issue should be reopened.

[2019-10-18 07:57] hickeyma commented on #6696
@qiyongxiao It looks like you are on Helm 2.x. If so best way to build: `make bootstrap build`. There is more details on how to build Helm here: https://helm.sh/docs/developers/

[2019-10-18 08:45] #3862 closed

[2019-10-18 10:04] jgoeres opened #6699 "Passing user parameters of the parent chart to the subchart (without using global)"
It would be really helpful if it were possible to explicitly pass values from the parent chart to values of the subchart.
My use case is like this:
I have a subchart ("let it be named "mysubchart"), which has a value "image.version".
The parent chart has the same value. Normally, users will want all image versions to be the same, those in pods created by the subchart, and those created by the pare

[2019-10-18 12:35] franpog859 commented on #1994
I read [the docs](https://helm.sh/docs/chart_template_guide/#template-functions-and-pipelines) and I still don't know how to fix this example:

[code]

I get this error:

[code]

Could you please help me?

[2019-10-18 13:49] rmorrise opened #6700 "Helm ignores %KUBECONFIG%"
`helm` is ignoring my `KUBECONFIG` setting and trying to read from my `%HOMEDRIVE%`, which is not where my config is located.

[code]

Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): Docker Desktop for Windows (win 10 x64)

[2019-10-18 14:22] rmorrise commented on #6700
Same issue exists with helm v2.15.0-rc.2

[2019-10-18 14:33] rmorrise commented on #6700
Some additional steps that I've tried...
[code]

[2019-10-18 16:59] IRobL commented on #3555
@seeruk:

You make a lot of great clarifications and points.  Personally I think Helm should adapt.  CI/CD is the future of how software will be built, and honestly with treats like `--atomic` helm is already getting more flexible as a reliable deployment tool.  Though, this issue is a pretty old one so I think merging that PR isn't "the next step" in the process.

Would creating a plugin, say `he

[2019-10-18 20:28] bacongobbler commented on #6144
fixed in #6695.

[2019-10-18 20:28] #6144 closed

[2019-10-18 21:14] juborto commented on #6561
Hi,
to complete my ticket, I tested a little bit more and I found this interesting case. I don't know if it is expected by design.
I have a k8s cluster with only one svc and one deployment installed on it.
[code]

The Helm chart I want to install contains the same service and deploy:
[code]

Now, I am trying to install the chart `helm-test` and as I noted in the first post, it is failing (status f

[2019-10-18 22:36] dbainbri-ciena opened #6704 "range, math, type issue not working in 2.15"
I noticed in my template a `range` stopped working. I tried to simplify to get to the key issue and found that if I had this in a template
[code]

i would get the error
[code]

I think there is a math/type problem at the core of my range problem. my original range statement was a simple iterate

{{ range $i, $e := until (int .Values.count) }}

Output of `helm version`:
Client: &version.Version{Sem

[2019-10-19 03:39] dbainbri-ciena opened #6705 "lint undefined keys and "and""
defaults:
    image_tag: ~

tag: '{{- if and (hasKey .Values.defaults "image_tag") (.Values.defaults.image_tag){{.Values.defaults.image_tag

The above line, with definition in values, does not pass lint strict because if complains that that the key ".Values.defaults.image_tag" is not defined.

1. It is defined as nil
2. There is a check in the first and term to make sure it is defined before it is

[2019-10-19 09:56] mrvarmazyar opened #6707 "error calling gt: incompatible types for comparison during rancher installation"
Hi all

I just installed rancher using rke and after initialization and running this command:

helm install rancher/rancher:stable   --name rancher   --namespace cattle-system   --set hostname=kube.dev.mydomain.com   --set tls=external

I see this error:

[code]

Output of `helm version`:

[code]

Output of `kubectl version`:

[code]

So please tell me know, what should I do?

Thanks

[2019-10-19 12:34] marckhouzam commented on #6561
There are some details about this deleting of resources in #6407.
Personally I also think that deleting resources not created by helm doesn't sound right.

[2019-10-19 15:43] armab opened #6708 "Regression for numeric Value type in Helm v2.15 breaking templates"
The regression found in CI/CD nightly builds when relying on latest Helm which is now `v2.15` (since Friday? :trollface:)

In new Helm `v2.15` there seems to be some changes in values types.

### Helm Values:
[code]

### Helm Template:
[code]
### Will produce:
`0` in `v2.15`
`3` in `v2.14`

---

After closer look, `.Values.replicas` is now of type `json.Number` in `v2.15`, previously was `float64`

[2019-10-19 16:09] bacongobbler commented on #6704
closing in favour of #6708 as it includes the error, an explanation, and a workaround. Thanks!

[2019-10-19 16:09] #6704 closed

[2019-10-19 16:09] bacongobbler commented on #6707
closing in favour of #6708 as it includes the error, an explanation, and a workaround.

[2019-10-19 16:09] #6707 closed

[2019-10-19 16:11] bacongobbler commented on #6708
cc'ing @icanhazbroccoli as it looks like https://github.com/helm/helm/pull/6010 caused a regression. Perhaps we need to update `int` and other functions to accept `json.Number`?

[2019-10-19 17:30] icanhazbroccoli commented on #6708
@bacongobbler indeed, it's a miss from my side. Mind if I start working on a fix?

[2019-10-19 18:37] johanfleury commented on #6539
@bacongobbler would you mind requalifying this issue as bug to give it the visibility it deserves please?

[2019-10-19 19:52] bacongobbler commented on #6708
Yes please.

[2019-10-19 23:28] consideRatio opened #6710 "bug(pkg/repo/index): --merge flag misbehaves on valid SemVer 2 versions"
When `helm repo index . --merge other-index.yaml` runs, I expect that entries would append and not override if they had different versions. But, when this index --merge is done with a valid SemVer 2 version such as `0.1.0-alpha.1+001.asdf1234` in one file, and `0.1.0-alpha.1` in the other, they instead override each other in either direction.

## Reproduction

Reproduced with `helm` version 2.15.0

[2019-10-20 10:43] Stono commented on #6708
Was just going to report this too!

[code]

[code]

[2019-10-20 12:58] karuppiah7890 commented on #6399
@kfox1111 @mattfarina Is this a valid bug? What's the expectation for the correct output here?

I tried checking both the `-o json` and `-o yaml`. In yaml, for having multiple documents, there's a `---` to show the start of each document, and for end there's a `...`. And that's what is being used here in the yaml output. Not sure what's the equivalent in json. I doubt if it exists. Gotta check. Bu

[2019-10-20 16:50] consideRatio commented on #6710
## Related - The semver specification

Build metadata MAY be denoted by appending a plus sign and a series of dot separated identifiers immediately following the patch or pre-release version. Identifiers MUST comprise only ASCII alphanumerics and hyphen [0-9A-Za-z-]. Identifiers MUST NOT be empty. Build metadata MUST be ignored when determining version precedence. Thus two versions that differ onl

[2019-10-20 17:00] consideRatio commented on #6710
## Related - The `check` function of masterminds/semver

https://github.com/Masterminds/semver#checking-version-constraints

[code]

[2019-10-20 19:30] HoaFox opened #6711 "Helm 3.0.0-beta4: Generation of Helm secrets is failing"
Hi,

I am using for the moment Helm 3.0.0-beta.4 for deploying OpenFaaS to my K8s cluster. Unfortunately I get the following error when I try to install OpenFaaS directly from the chart source:

Error: create: failed to create: Secret "sh.helm.release.v1.openfaas.v1" is invalid: data: Too long: must have at most 1048576 characters

Steps to reproduce:
1. git clone https://github.com/openfaas/faas-

[2019-10-20 20:10] mszostok opened #6712 "Inconsistency between helm search and helm install"
In the Service Catalog, one of our users reported inconsistency between the `helm search` and `helm install`: https://github.com/kubernetes-sigs/service-catalog/issues/2725

**TL;DR**

`helm search` shows version 0.3.0-beta.1 (the newest one), but `helm install` installs the 0.2.1 version (the old one).

**How to reproduce**
[code]

**Investigation**

The `helm search` strategy just grabs the 0 en

[2019-10-20 23:54] karuppiah7890 opened #6713 "Helm3: Package error for non-existent directory could be more user friendly"
Output of `helm version`:
[code]

Currently, this is what you see when packaging a non-existent directory

[code]

I think it could be more user friendly. It could be like `blah-bloo-blee-blee: No such file or directory`, similar to `ls` command's error. What do you folks think?

[2019-10-21 07:24] jan-schumacher opened #6714 "Helm3 revisions secrets messy"
Helm 3 creates a lot of secrets with many releases of many apps and the list of secrets gets very messy.
My first approach would be to change the way helm3 stores release information into secrets.
Wouldn't it be better if each release would be a secret with revisions stored inside of it?
Instead of each revision is a new secret.

[2019-10-21 07:32] bacongobbler commented on #6714
etcd (and therefore Kubernetes) has a 1MB size limit on objects. How do you propose we work around that?

[2019-10-21 07:57] jan-schumacher commented on #6714
Thats a thing I didn't thought about.
Is there an option to store like the last `X` revisions and get rid of the previous ones after the next release?

[2019-10-21 09:37] oforero opened #6715 "Allow multiple environment configurations in a single Chart"
At the moment Charts only read values from `values.yaml`, this makes it impossible to maintain different configurations per environment together with the Chart. The only alternative is to pass the environment-specific values from the command line. This mechanism works just fine until one attempts to use Umbrella charts, which forces you to blend the environment-dependent values for all the sub-cha

[2019-10-21 09:41] disparo13 opened #6716 "Cannot install helm 2.14.x instead of buggy 2.15 using helm/master/scripts/get"
curl https://raw.githubusercontent.com/helm/helm/master/scripts/get > gethelm.sh
bash-5.0# bash gethelm.sh -v 2.14.3
Helm 2.14.3 is available. Changing from version v2.15.0.
Downloading https://get.helm.sh/helm-2.14.3-linux-amd64.tar.gz
SHA sum of /tmp/helm-installer-pLBIjL/helm-2.14.3-linux-amd64.tar.gz does not match. Aborting.
Failed to install helm with the arguments provided: -v 2.14.3
Accept

[2019-10-21 09:54] hickeyma commented on #6715
@oforero Have you tried tools like [helmfile](https://github.com/roboll/helmfile)?

[2019-10-21 10:47] yangzb09 commented on #6716
Version 'v2.14.x' may work, don't use '2.14.x'
Try 'bash gethelm.sh -v v2.14.3'

[2019-10-21 11:08] disparo13 commented on #6716
I did. Just check my log output. Same situation with 2.14.2, 2.14.1 or even 2.14.

[2019-10-21 11:18] ar-zare commented on #4906
The same problem here!

[2019-10-21 12:14] morganchristiansson commented on #6031
Just had this happein in one out of 3 deployments following adding configmap. rollback per @hoffoo works.

[2019-10-21 12:32] oforero commented on #6715
I looked into it and it looks like a great tool but introduces some complexity which will make it hard to get implemented at my organization, not to mention the difficulty of getting a new tool approved and adopted for production use.

My understanding is that helmfile will require you to maintain the environment configuration separate to the chart. It will red the helmfile and the values files an

[2019-10-21 12:34] mrtndwrd opened #6718 "helm upgrade --install fails with "unsupported format ""
Output of `helm version`:

[code]

Output of `kubectl version`:

[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

rke on VPS

----

When I run the following command, I get the following output:

[code]

The same is happening to me with other charts. I can't really add anything to this issue description, because the error I get is super vague... It seems to be coming from:

`./cmd/helm/p

[2019-10-21 12:57] Antiarchitect commented on #6646
Same issue here. Cannot understand why only some of my charts are affected.

[2019-10-21 13:13] pierluigilenoci commented on #6374
@PierreF I used your solution ( https://github.com/helm/helm/issues/6374#issuecomment-533186177 ) with k8s v1.16.1 and helm v2.15.0 and the tiller is not working.
[code]

[2019-10-21 13:16] SimonAlling opened #6719 "WARN [runner] Can't run linter unused/goanalysis_metalinter"
Output of `helm version`:
[code]

**Style errors don't seem to be detected properly.** For example, I believe `make test-style` should fail if I order imports non-alphabetically or define this function:

[code]

Confusingly enough, it seems to work _sometimes_ (sort of; import errors are never caught), but not always. Here is the output from seven subsequent runs of `make clean && make test-style`

[2019-10-21 13:16] hickeyma commented on #6718
@mrtndwrd Do you mind adding the following flags to the command and show the output: `--debug --dry-run` ?

[2019-10-21 13:22] hickeyma commented on #6716
It would seem from this error that the integrity check is failing, so maybe something up with SHAs.  Raising it as a bug while investigate further.

[2019-10-21 13:49] MikeBlomm commented on #6718
I am experiencing the same error, only seems to happen when there is no previous release installed. Normal upgrading a release seems to go fine.

[2019-10-21 13:54] arnaud-deprez commented on #5184
Hi,

I'm using helm `2.15.0` and I've still met this issue.

Given a subchart with values:

[code]

Where the values are used with `toYaml`

And in a parent chart values:

[code]

Then the actual output is:

[code]

While it should have been:

[code]

[2019-10-21 14:19] mrtndwrd commented on #6718
I had `--debug` *before* the upgrade command, :thinking:.

Here's the `--debug --dry-run` output:

[code]

[2019-10-21 14:45] mattcamp commented on #6718
Same problem here...

[code]

[2019-10-21 14:46] mattcamp commented on #6718
Also, note that doing a `helm install` works fine... it's just when using `helm upgrade --install` that it errors.

[2019-10-21 14:57] MikeBlomm commented on #6718
I ended up downgrading helm and tiller back to version 2.14.3. Seems like the problem is only affecting the current 2.15.0 version.

I downgraded my client first, then ran `helm init --force-upgrade --upgrade` to also downgrade tiller.

[2019-10-21 15:03] redDSsun opened #6720 "issue with helm install"
Output of `helm version`:
Client: &version.Version{SemVer:"v2.15.0", GitCommit:"c2440264ca6c078a06e088a838b0476d2fc14750", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.15.0", GitCommit:"c2440264ca6c078a06e088a838b0476d2fc14750", GitTreeState:"clean"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.0", GitCommit:"2bd9643cee5b3b3a5ecbd

[2019-10-21 15:05] carlossg commented on #5788
For the record, this is probably caused by #5665

[2019-10-21 15:11] hickeyma commented on #6718
Verified with a scaffold chart as follows:
[code]

[2019-10-21 15:13] hickeyma commented on #6718
It does however deploy as expected:

[code]

[2019-10-21 15:18] hickeyma commented on #6718
The error is because there is no format defined for the output of the command. It should default to `table`.

If you define the output using `--output string` flag then the error imessage is removed:

[code]

[2019-10-21 15:23] hickeyma commented on #6718
I will push a PR for this shortly..

[2019-10-21 15:31] bacongobbler commented on #6720
Kubernetes 1.16 dropped many workload APIs including extensions/v1beta1 from being supported. Many charts need to be updated to accomodate this change.

See the release announcement for more details. https://kubernetes.io/blog/2019/09/18/kubernetes-1-16-release-announcement/

[2019-10-21 15:31] #6720 closed

[2019-10-21 15:37] sadovnikov commented on #6718
@hickeyma, I tried adding `--output=table` to the command, but it didn't help.
In your sample I see `Release "chrt-6718" has been upgraded`. Was it the first time installation of the release?

[2019-10-21 15:41] hickeyma commented on #6718
@sadovnikov yes, it seems to be it will work on the upgrade and not on the initial install

[2019-10-21 15:57] sadovnikov commented on #6718
I'd like to add that this error does not actually prevent the release from getting DEPLOYED. However, it does brake the build because helm return non-zero code.

[2019-10-21 15:57] petrklimov opened #6721 "Helm didn't fill range property"
I'm trying to deploy elasticsearch with helm. For charts i'm using https://github.com/elastic/helm-charts/tree/master/elasticsearch
I use the follwing command
[code]
i got that env variable is not set up
[code]
expected result is
[code]
in templates/helpers.tpl this fragment isn't working properly, in pervious version it works fine
[code]
Output of `helm version`:
Client: &version.Version{SemVer:"

[2019-10-21 15:58] kfox1111 commented on #6399
The problem I had was I could not use jq to actually manipulate the data using jq. Technically it isn't exactly valid json. I don't think there is a standard for multiple document json. So its kind of broken for anyone trying to use json to manipulate the doc before the upload.

That being said, your right, jq is taking it ok... Before, I couldn't get it to select the right things. Doing a bit mor

[2019-10-21 16:00] davidcodesido commented on #6718
I can confirm that I'm having the same behaviour. Upgrade works fine but install via `helm upgrade --install` fails as described. When run with `--output=table --debug --dry-run` it doesn't output anything useful. When I run it without the `--dry-run` but keeping the `--debug --output=table` It fails with `Error: unsupported format`.

It installs indeed anyway but it is breaking all our pipelines

[2019-10-21 16:03] disparo13 commented on #6718
Same thing.

[2019-10-21 16:17] hickeyma commented on #6718
PR #6722 pushed for the fix.

[2019-10-21 16:21] sjentzsch commented on #6361
Same with `2.15.0` now:

[code]

This is pretty annoying. Warning instead of failing would be much better indeed.
Any updates on this so far?

[2019-10-21 17:00] #6718 closed

[2019-10-21 17:01] hickeyma commented on #6718
Fix now merged. Can you try it out and see if it works as expected?

[2019-10-21 20:52] DanielHabenicht opened #6731 "Helm upgrade fails in 2.15.0"
Upon beeing [auto-updated to 2.15.0 ](https://github.com/microsoft/azure-pipelines-tasks/issues/11608)the `helm upgrade` command started to fail. Trying via bash and downgrading back to `2.14.2` resolved the issue.
[code]

Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): AKS

Passing Build: https://dev.azure.com/T-Systems-MMS

[2019-10-21 20:59] hickeyma commented on #6731
@DanielHabenicht Cannot tell what error you are getting but I think it might be same issue as #6718. Can you take a look and see if it is?

[2019-10-21 21:06] DanielHabenicht commented on #6731
Oh, blazing fast!
Sry, the error is:
[code]

[2019-10-21 21:11] hickeyma commented on #6731
@DanielHabenicht Might be similar to #5939?

[2019-10-21 21:17] DanielHabenicht commented on #6731
Nope. Already saw this Issue I purged the release beforehand and started clean everytime.

It also occurs if the release is installed for the first time.

[2019-10-21 21:19] mac9416 opened #6732 "Documentation incorrectly uses hyphens in environment variables"
[This page](https://helm.sh/docs/helm/#synopsis) lists environment variables with hyphenated words. I know that at least `TILLER-NAMESPACE` [should use an underscore instead](https://stackoverflow.com/q/58492256/684776).

[2019-10-21 21:24] bacongobbler commented on #6732
This may be due to a bug in the gulp task that substitutes underscores for hyphens, as the CLI docs look correct: https://github.com/helm/helm/blob/f573de088e9bcbbb4ed7ccc01733278cfac1ece8/cmd/helm/helm.go#L161-L174

Transferring to helm-www for further investigation.

[2019-10-22 01:42] kimxogus opened #6735 "helm template `int value` makes `0` in 2.15"
Output of `helm version`: both `2.15.0` in client(from homebrew) and server, I immediately rollbacked to 2.14.3 to recover deploy failure, I can't get 2.15 again and run `helm version`. sorry

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): aws with kops

I was trying to update my helm chart [redis-ha](https://github.com/helm/charts/tree/master/stable/redis-

[2019-10-22 01:59] bacongobbler commented on #6735
Dupe of #6708.

[2019-10-22 01:59] #6735 closed

[2019-10-22 02:11] cinterloper commented on #5149
this is a terrible answer. its not to much to ask to just get an example of nodeSelector: thats not just '{}'.

[2019-10-22 03:21] innerpeacez opened #6737 "How to ensure that subchart is installed before the parent chart"
The parent chart depends on a subchart. I want to ensure that the subchart is installed first when executing `helm install`, and then install the parent chart. What should I do? I need help, please.

Output of `helm version`:
`version.BuildInfo{Version:"v3.0.0-beta.4", GitCommit:"7ffc879f137bd3a69eea53349b01f05e3d1d2385", GitTreeState:"dirty", GoVersion:"go1.13.1"}`
Output of `kubectl version`:
`C

[2019-10-22 05:41] dumindu commented on #6374
@joshprzybyszewski-wf I used following command
[code]

And now get,
[code]

[2019-10-22 06:12] jan-schumacher commented on #6714
Just saw there is an open issue with exactly the same feature going. So nothing to do here, can be closed.

[2019-10-22 06:12] #6714 closed

[2019-10-22 06:55] sadovnikov commented on #6718
Tried to test, as recommended on https://helm.sh/docs/using_helm/#from-canary-builds, with canary build https://get.helm.sh/helm-canary-linux-amd64.tar.gz, but it reports v2.12.3 ;(

[2019-10-22 06:56] varac commented on #6718
@hickeyma Great! Will there be a hotfix release soon ?

[2019-10-22 07:06] petrklimov commented on #6721
Yes it's works with 2.14.3.

[2019-10-22 07:34] TanOfAllCodes opened #6739 "Enabled Helm TLS without having to mention the --tls flag"
Hi,

In the context of using helm with TLS enabled, we can use the "--tls" flag for every command that we use.

Example:

`helm ls --tls`

instead we can have something like

`helm tls-set enabled`
`helm ls`

It would be a very nice to have feature if we could enabled this as a variable or a flag, that we can set for a script without having to do it for every command.

[2019-10-22 08:50] hickeyma commented on #6718
@varac Try building from latest Helm v2 branch: `dev-v2`

[2019-10-22 09:01] hickeyma commented on #6739
@TanOfAllCodes [Helm 2.15.0](https://github.com/helm/helm/releases/tag/v2.15.0) was the final feature release for Helm 2. It is only bug fixes now being accepted for Helm 2.

TLS is used for securing communication between the Helm client and Tiller. In Helm 3, Tiller is removed. There will therefore be no need then for TLS for securing commands in Helm 3.

Thank you for raising this feature but cl

[2019-10-22 09:01] #6739 closed

[2019-10-22 09:52] msschl opened #6740 "Helm could not find tiller"
[code]

Output:
[code]

rbac.yaml
[code]

Binding for specific namespaces:
[code]

Output of `kubectl get pods -n tiller-controller`
[code]

Output of `kubectl get events --all-namespaces | grep -i tiller`:
[code]

Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
Kubeadm self hosted kubernetes cluster

[2019-10-22 09:53] msschl commented on #6740
We have been running tiller in kubernetes v1.14.x and v1.15.x.
We removed our tiller installation from the cluster in order to reinstall it into its own namespace (not the default kube-system ns) and with certs to protect tiller.

[2019-10-22 10:40] ckoenig opened #6741 "`hook-delete-policy: hook-succeeded` does not work with Helm 2.15 anymore"
Output of `helm version`:

    $ helm version
    Client: &version.Version{SemVer:"v2.15.0", GitCommit:"c2440264ca6c078a06e088a838b0476d2fc14750", GitTreeState:"clean"}
    Server: &version.Version{SemVer:"v2.15.0", GitCommit:"c2440264ca6c078a06e088a838b0476d2fc14750", GitTreeState:"clean"}

Output of `kubectl version`:

    $ kubectl version
    Client Version: version.Info{Major:"1", Minor:"16",

[2019-10-22 10:44] jyotirbhandari commented on #6741
Same issue can be seen after upgrading to helm v2.15, using hook-succeed shows pod geting terminated without appropriate logs.

[2019-10-22 10:51] zdk commented on #6713
@karuppiah7890

Output of helm version:
[code]

Similar message reports on v2.14.3
[code]
But I would like to work on this if it makes sense to change to `: No such file or directory`

[2019-10-22 10:54] DanielHabenicht commented on #6731
Isn't there a way of showing which condition actually triggered the error?

[2019-10-22 10:54] alexatnext commented on #6682
is this fix released? still experiencing this issue.

[2019-10-22 11:31] karuppiah7890 commented on #6713
@zdk This issue has been marked as a feature, and you have v2, for which we have stopped accepting feature PRs. You can use v3 and work on the fix, and I think the error message can be tweaked after the PR too, it shouldn't be a big change. You can start off by working on it for v3 (master branch) and raise a PR 😄  do add tests wherever possible, with respect to this issue

[2019-10-22 12:23] bacongobbler commented on #6682
3.0.0-beta.5 is expected to be released this week (likely tomorrow). You can compile from source in the meantime.

[2019-10-22 12:27] bacongobbler commented on #6739
You can also choose to set the environment variable $HELM_TLS_ENABLE.

[2019-10-22 12:29] bacongobbler commented on #6721
Thank you. Okay, I'm going to close this as a duplicate of #6708. Thanks!

[2019-10-22 12:29] #6721 closed

[2019-10-22 13:42] marcopaga commented on #6731
Same here.
We pinned the version of the client and server to 2.14.3 so we are not blocked.

[2019-10-22 13:44] kneilb commented on #6716
The script works perfectly for me. Missing out the "v" gives the error shown in the OP.
[code]

[2019-10-22 14:29] tomcruise81 commented on #4645
I believe that Sprig v3 adds this via it's [get](http://masterminds.github.io/sprig/dicts.html#get) function:

`image: {{ get .Values (printf "%s-image" $value.name) }}:{{ get .Values. (printf "%s-tag" $value.name) }}``

[2019-10-22 14:35] msschl commented on #6740
If I run `helm version --tls --tiller-namespace tiller-controller` it works... I get the following output:
[code]

[2019-10-22 15:01] #6716 closed

[2019-10-22 15:34] Davidiusdadi commented on #4659
TL;DR **specifying the HELM_HOME as an absolute path resolved the error for me**

i got the same error message and could fix it by changing my `HELM_HOME`
it was set to `HELM_HOME="~/.helm_X"` and i had to change it to  `HELM_HOME="/home/user/.helm_X"`. <br> The `~` was not resolved to my home-dir but instead `helm init` created a folder called `~` in my home-dir... XD

I am aware that the issue-c

[2019-10-22 15:46] howardjohn opened #6744 "Helm 2.15 regression in template"
With version: `version.Version{SemVer:"v2.15.0", GitCommit:"c2440264ca6c078a06e088a838b0476d2fc14750", GitTreeState:"clean"}`

From https://github.com/istio/istio repo:
[code]

With version: `version.Version{SemVer:"v2.14.3", GitCommit:"0e7f3b6637f7af8fcfddb3d2941fcc7cbebb0085", GitTreeState:"clean"}`

[code]

The template: https://github.com/istio/istio/blob/e2f9598d27015ecfd0032f4bffda494f6ee01c

[2019-10-22 15:47] howardjohn commented on #6744
Actually looks like this is the same as https://github.com/helm/helm/issues/6708

[2019-10-22 15:48] #6744 closed

[2019-10-22 16:41] benc-uk commented on #6718
Sorry to say 2.15.0 is unusable in this state :(
Is the recommendation just to rollback and use 2.14.3 ?

[2019-10-22 17:49] Exodus commented on #6731
Any chance you folks are using Traefik for your ingress? @marcopaga @DanielHabenicht

[2019-10-22 18:04] marcopaga commented on #6731
Yes, we are using Traefik.

[2019-10-22 18:09] bacongobbler commented on #6718
You have a few options available:

1. use `helm install` instead of `helm upgrade --install`
1. compile Helm from the `dev-v2` branch as @hickeyma mentioned above
1. revert to Helm 2.14.3

The error only occurs when you invoke `helm upgrade --install` on the first release. Once the first release is created, this error does not persist and you can use the `--install` flag (though it has no effect a

[2019-10-22 18:12] Exodus commented on #6731
@marcopaga check my post in the traefik community forums: https://community.containo.us/t/helm-2-15-upgrades-not-working/2530

This might be your case. To sum things up:

helm 2.15 now checks the health of ingresses, to which Traefik only started to update in traefik 1.7 if you enable the publishedService setting. So if the setting isn't enable, the ingresses will appear as if they're not ready.

[2019-10-22 18:52] DanielHabenicht commented on #6731
@Exodus I am using traefik too. Do you already opened an issue for making the check default in traefik?

[2019-10-22 18:56] ivanov-aleksander opened #6745 "doc folder is disappeared from master branch"
It was doc folder in master but it disappeared

[2019-10-22 19:02] Exodus commented on #6731
@DanielHabenicht I have created https://github.com/helm/charts/issues/18206

If I have some time I'll try to add it to that help chart and send a PR. For now, the link I posted should help clarify a manual fix. If that solves your problem, this issue should be closed maybe?

[2019-10-22 19:04] bclouser commented on #6718
@hickeyma I built from dev-v2 yesterday and so far it works well. :) I posted the helm binary for my team so we are unblocked. Thanks for the quick fix!

Building was easy... Although i already had a working go environment on my machine.

[2019-10-22 19:05] DanielHabenicht commented on #6731
Yep, seems like a traefik problem than. But I would still appreciate an answer to my question.

[2019-10-22 19:05] #6731 closed

[2019-10-22 19:33] hickeyma commented on #6745
@ivanov-aleksander Helm v2 code is now under the `dev-v2` branch.  As a consequence, the docs path is: https://github.com/helm/helm/tree/dev-v2/docs

The v3 docs are in: https://github.com/helm/helm-www/tree/dev-v3-docs/content/docs

[2019-10-22 19:33] hickeyma commented on #6745
Closing as question is answered.

[2019-10-22 19:33] #6745 closed

[2019-10-22 19:47] bacongobbler opened #6746 "git tree state marked as "dirty" for canary releases"
Recent builds from the master branch are marked as "dirty", meaning something is being rebuilt in Circle. We believe it's likely something to do with the change to Go modules. Looking into this further before we cut the next release to ensure we're building from a clean tree state.

To reproduce:

[code]

I cannot reproduce this by calling `make build-cross` locally:

[code]

[2019-10-22 19:49] bacongobbler commented on #6746
After re-running a job from master with SSH enabled, I can verify it's due to a go module rewrite:

[code]

[2019-10-22 20:04] charan478 opened #6747 "Problem Converting strings to int in helm 2.15"
Current Setup:
I am using minikube for local testing and if everything works well, I launch the manifests on GKE. I have to use kube version 1.14.6 in minikube as well becuase our company uses the same verison on GKE. We are trying to build kafka cluster using helm and launch our springboot application which uses Kafka on k8's.
Problem: with helm 2.14 until I upgraded yesterday everything was fine

[2019-10-22 20:09] bacongobbler commented on #6746
Found the cause... The inclusion of `goveralls` was a good indicator it might've had to do with the test coverage task.

Running `make test-coverage` locally regenerates the .mod and .sum files. Will supply a fix.

[2019-10-22 20:36] timja commented on #6731
agree, we hit this as well and took far too long to see what the issue was 😢
would be great if the condition could be returned or added to the status of the release

[2019-10-22 20:43] bacongobbler commented on #6708
fixed in #6749.

[2019-10-22 20:43] #6708 closed

[2019-10-22 20:45] paqogomez commented on #4781
Hey all.  I'm having the same issue.  Based on this thread it seems like the workarounds are:

1. (@yongzhang 's post ) Disable kubelet HTTPS
2. (@asloan7 's post) Use an EKS approved AMI.
3. Dont upgrade.

I'm not in a position to downgrade and I've re-deployed my AMI to one in Asloan's list and disabling HTTPS is not an option either.

[2019-10-22 20:59] #6746 closed

[2019-10-22 21:00] marckhouzam commented on #3170
The completion of charts has been implemented in #6730 for Helm 3.

The two dynamic completions requested in this issue will be part of helm 3 so I feel this issue can be closed.
cc @bacongobbler

[2019-10-22 21:03] #3170 closed

[2019-10-22 21:03] bacongobbler commented on #3170
thanks @marckhouzam for the ping!

[2019-10-22 21:52] armab commented on #6708
:tada:
Thanks for a quick fix!

Hopefully we'll see `v2.15.1` release soonish.

[2019-10-22 22:54] bacongobbler commented on #6747
duplicate of #6708.

[2019-10-22 22:54] #6747 closed

[2019-10-22 23:16] DanielHabenicht commented on #6731
@timja Well I was told it not a bug, but a feature 😄 Just update to the preview, this will solve all you issues 🤣

[2019-10-22 23:51] saif-cl0ud opened #6751 "helm (v2.15.) upgrade with --wait is waiting till timeout and not showing status even though all kubernetes resources are in ready state."
Output of `helm version`:
Client: &version.Version{SemVer:"v2.15.0", GitCommit:"c2440264ca6c078a06e088a838b0476d2fc14750", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.15.0", GitCommit:"c2440264ca6c078a06e088a838b0476d2fc14750", GitTreeState:"clean"}

Output of `kubectl version`:

Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.2", GitCommit:"c97fe5036ef3df2967d0

[2019-10-23 02:51] masterkain opened #6753 "Error: apiVersion 'v2' is not valid. The value must be "v1""
I'm trying to install some charts but:

Output of `helm version`:

[code]

Output of `kubectl version`:

[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): EKS

[code]

[2019-10-23 03:08] karuppiah7890 commented on #6753
The issue is occurring because the Chart says the apiVersion is v2 - I think the chart maintainers used helm v3 to create it. And apiVersion v2 is understood only by helm v3 which is still in beta

[2019-10-23 03:09] karuppiah7890 commented on #6753
You need to raise the issue in the charts repository - https://github.com/aws/eks-charts and ask maintainers to use v1 till helm v3 is stable version. Also, I don't see the chart using any new features from helm v3, that I know of. So, I think they must be okay to put v1 as apiVersion

[2019-10-23 03:10] karuppiah7890 commented on #6753
Please close this issue as it's not an issue with helm itself. Helm is working as expected :) this behavior is so that people use helm v3 to install v3 compatible charts, as helm v2 cannot understand them