[2019-12-13 12:48] pkleimann commented on #6009
There are issues in the Azure pipelines tasks project that relate to this.
https://github.com/microsoft/azure-pipelines-tasks/issues/11414

Because someone has to solve this problem. Could you please get in contact with the Azure pipelines tasks team to discuss and resolve this?

[2019-12-13 14:19] SpamapS opened #7223 "Need option to "assimilate" objects on upgrade/install"
Output of `helm version`:  version.BuildInfo{Version:"v3.0.0", GitCommit:"e29ce2a54e96cd02ccfce88bee4f58bb6e2a28b6", GitTreeState:"clean", GoVersion:"go1.13.4"}

Output of `kubectl version`: Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.3", GitCommit:"b3cbbae08ec52a7fc73d334838e18d17e8512749", GitTreeState:"clean", BuildDate:"2019-11-18T14:56:51Z", GoVersion:"go1.12.13", Co

[2019-12-13 14:52] Blokje5 opened #7224 "Helm install command cannot open file passed with -f flag."
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
EKS

## Issue
When running Helm command of a new chart I get a no such file or directory error using the `-f` flag and passing a file. As you can see in the screenshot below, the file should be available for the install command.
![Cannot find values](https://user-images.githubu

[2019-12-13 14:56] Blokje5 opened #7225 "Unintuitive error message when incorrectly specifying `--set` flag"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
EKS

## Issue
After upgrading to Helm v3 I specified the `--set` flag still in the old manner, which lead to an error that did not point to the issue: `Error: must provide a name or specify --generate-name`. It would be nice if this could actually point to the invalid flag. See

[2019-12-13 15:49] bacongobbler commented on #7223
Duplicate of #2730

[2019-12-13 15:49] #7223 closed

[2019-12-13 15:50] bacongobbler commented on #7223
Also see #7082

[2019-12-13 16:02] openmohan opened #7226 "Helm install with --verify flag without having the public key ring shows misleading error."
Installing a chart from helm hub (bitnami/mariadb) works fine.
 But when installilng with --verify flag (without having public keyring), the client fails with
```Error: failed to download "bitnami/mariadb" (hint: running `helm repo update` may help)```.

Shouldn't it should throw error like
```Error: failed to load keyring: open /home/user/.gnupg/pubring.gpg: no such file or directory```

Output o

[2019-12-13 16:32] bacongobbler commented on #7219
`helm upgrade --force` performs a PUT operation, so that's one option here.

[2019-12-13 16:44] bacongobbler commented on #7193
closing as a duplicate of #1950.

[2019-12-13 16:44] #7193 closed

[2019-12-13 16:51] lyndon160 commented on #2560
@xeor @bacongobbler, was another ticket opened for this similar issue? I'm currently facing the same problem.

[2019-12-13 16:52] hickeyma commented on #3724
@kvendingoldo Thanks for pushing PR #6889 for Helm 3. Do you mind back porting this to Helm 2?

[2019-12-13 18:08] #7095 closed

[2019-12-13 19:01] guice commented on #1769
@sohel2020  and @macropin  - Same board, helm v3. The job is never re-ran on subsequent upgrades.

[2019-12-13 19:10] curtisr7 commented on #7219
It looks `--force` under the covers does a delete followed by create?[1] Also it first tries to build a patch, and that won't work in this case as we're unable to load the source due to api version.

I did a bit of hacking yesterday and sort of came up with a proof of concept[2] that seems to work?

PTAL to see if this approach has any merits. Obviously something like this would need to be gated b

[2019-12-13 19:16] bacongobbler commented on #7219
For Helm 2, but not for Helm 3. See https://github.com/helm/helm/issues/7082#issuecomment-559558318

[2019-12-13 19:17] guice opened #7228 "Helm3 post-upgrade hooks not firing on subsequent upgrades"
It does not appear hooks in Helm3 are working.

Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):  AWS

----

Trying to run post-upgrade hooks. First upgrade of a newly created Job succeeds, all subsequent upgrades do _not_ re-run the job. The job is never removed before rerunning (i.e. "If no hook deletion policy annotation i

[2019-12-13 19:19] githubvick opened #7229 "Error retrieving endpoints for the service xyz: No endpoints for target port 80 in service xyz"
Output of `helm version`:
Client: &version.Version{SemVer:"v2.15.1", GitCommit:"cf1de4f8ba70eded310918a8af3a96bfe8e7683b", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.15.1", GitCommit:"cf1de4f8ba70eded310918a8af3a96bfe8e7683b", GitTreeState:"clean"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.1", GitCommit:"4ed3216f3ec431b140b1d

[2019-12-13 19:30] xeor commented on #2560
@lyndon160 oh... This issue not relevant anymore. Helm 3 (current) isn't even using tiller..

[2019-12-13 19:37] guice commented on #7228
Here's a pod watch after deleting the job manually:
[code]

`fpm` and `orm-listener` went into init status before stop-all-queues.

**Expected behavior**: stop-all-queues go into init status and completed before you ever see fpm or orm-listener.

Note: on Kubernetes 1.14, it has a bug with the watch that doesn't show status :(

helm debug output:
[code]

**Expected behavior**: "client.go:170: [deb

[2019-12-13 19:39] marckhouzam commented on #7224
You typed `values.yaml` but your file is named `values.yml` without the a.

[2019-12-13 19:44] guice commented on #7228
Crap ... sorry guys, I had my hook definitions in the WRONG location. I see now. Doh!

[2019-12-13 19:44] #7228 closed

[2019-12-13 20:45] curtisr7 commented on #7219
+1

I'd like to see about doing something in the 2.16.x branch?

[2019-12-13 21:14] connorearl commented on #5780
Running 3.0.1 and I seem to be running into this issue. Using helm package or helm install, with the condition set to false, it still asks me to run a dependency update, which downloads the dependency marked as not enabled. When I package it, it removes the condition in the archive, and if I install it direct, it ignores it.

[2019-12-13 21:51] psschwei commented on #6769
I have also had the same error occur when trying to install a Tekton Pipeline/Trigger via Helm (installs fine with `kubectl apply -f <template>`.

Relevant portion of template:

[code]

Error message:
Error: release flippant-squid failed: Internal error occurred: admission webhook "triggers-webhook.tekton.dev" denied the request: mutation failed: invalid value: triggerbindings.tekton.dev "flippant

[2019-12-13 22:08] marckhouzam commented on #7225
Your `--set` flag is actually correct 😁
The problem is that you need to specify a extra parameter for the name of the release.  Helm 2 used to generate one for you but helm 3 requires you to provide that parameter or to use the `--generate-name` flag.

Clearly the error message did not help you sufficiently. I wonder how the error message should be phrased to be more useful. Any suggestion @blokje

[2019-12-14 01:34] waveywaves commented on #7225
@marckhouzam The release name has already been provided here which is `metabase` and `stable/metabase` being the chart

[2019-12-14 03:08] mikechengwei commented on #6978
I also meet it

[2019-12-14 03:37] marckhouzam commented on #7225
Thank you @waveywaves, you are right.  And apologies to @Blokje5 for misreading the command-line.

I can reproduce this too.  The missing `=` sign seems to be causing problems.

[2019-12-14 07:42] openmohan commented on #7226
I will work on this bug. Thanks

[2019-12-14 10:04] Blokje5 commented on #7225
Yeah, indeed after fixing the `--set` syntax and using the new stringlist approach (e.g. `--set database.host=$HOST,database.password=$PW`) this command worked properly, but the error indeed does not indicate that this is the issue.

[2019-12-14 10:05] Blokje5 commented on #7224
My bad, completely missed that typo. I will close this issue. Thanks @marckhouzam.

[2019-12-14 10:05] #7224 closed

[2019-12-14 11:08] marckhouzam commented on #7225
The parameter validation seems to be done here https://github.com/helm/helm/blob/357d265de0e72f02c493701cdbee9ecc6eb0a016/pkg/action/install.go#L547

@Blokje5 do you want to take a stab at fixing it and providing a PR?

[2019-12-14 11:10] kvendingoldo commented on #3724
@hickeyma I'll port my change to v2 during the next week

[2019-12-14 11:25] kvendingoldo opened #7232 "Helm upgrade works wrong for HPA"
I found that helm upgrade works wrong for HPA. If we will change `maxReplicas` or `minReplicas` pods will be recreated. Expected result that if we will change `maxReplicas` nothing will be made. In the case of `minReplicas` pods will be added without redeployment of existed pods.

### Test chart:
templates/deployment.yaml
[code]

templates/hpa.yaml
[code]

Chart.yaml:
[code]

### How to reproduce:

[2019-12-14 13:44] Blokje5 commented on #7225
@marckhouzam I would love to give it a go. I'll pick it up.

[2019-12-14 16:22] tdickman commented on #6583
Is there a workaround that I can use to upgrade everything I currently have in helm without using `helm --purge` first? I understand that this is expected behavior from kubernetes, but I really think this should be handled more gracefully.

[2019-12-14 18:57] taylorsilva opened #7233 "Lock digest differs when performing dependency build on chart in Helm 2 and then Helm 3"
When doing `helm dependency build` with the Helm v3 CLI on a chart using the Helm `v1` API, the following error occurs:

[code]

#### Expected Behaviour
Based on the [Helm v2 to v3 FAQ](https://v3.helm.sh/docs/faq/#consolidation-of-requirements-yaml-into-chart-yaml), Helm v3 should behave the same as Helm v2 with a chart using the Helm `v1` API.

### Steps To Reproduce

1. Create a new chart using

[2019-12-14 19:37] rhmms commented on #7061
Actually the Basic Concept works if I just use one layer of abstraction.

- Umbrella
  |- Subchart1
  |- Subchart2

In this case I can use the alias Name to overwrite values, not the Chart Name.

[2019-12-14 20:18] bacongobbler commented on #6583
Not that we've discovered, no. There's a discussion in https://github.com/helm/helm/issues/7219#issuecomment-565509416 if you'd like to follow that.

[2019-12-14 20:20] bacongobbler commented on #7219
We're no longer accepting features for Helm 2. Sorry.

[2019-12-14 22:54] sbose78 commented on #5303
I'm looking for something similar as well. Here's what my use case looks like:

1. UI talks to a backend service with user context ( token in header ).
2. The backend service uses the helm cli with user impersonation to talk to the API server do a "helm install".

[2019-12-15 06:43] zwwhdls commented on #7233
Hi, would you use helm 3.0.1 to reproduce it? Helm 3.0.1 has solved a same problem: https://github.com/helm/helm/pull/7119.

If you can reproduced this by Helm 3.0.1, can you provide a more detailed description for reproduced it ?

[2019-12-15 12:44] psschwei commented on #6769
Looks like this issue has been resolved for Tekton:
https://github.com/tektoncd/triggers/pull/263

[2019-12-15 16:11] karuppiah7890 commented on #6921
I have created a PR for showing the issue in `lint`. But I think even during package, if linting itself fails, package should also fail. Currently that's the case, but I have started with raising PR only for linting side. `package` subcommand still might need a fix is my opinions. All thoughts welcome 😄

cc @bacongobbler @jabielecki

[2019-12-15 18:42] rimusz commented on #7232
helm v3 uses three way patch merging same as kubectl, helm v2 had a nice bug https://github.com/helm/charts/issues/19008

[2019-12-15 20:09] taylorsilva commented on #7233
I was able to reproduce this issue with helm `3.0.1`

[code]

There is no `Chart.lock` file present before of after `helm dependency build` is executed.

[2019-12-15 21:49] phillycheeze commented on #2730
Anyone still looking at this? With the new Helm version 3, it has become more difficult to achieve the problem outlined above.

[2019-12-16 07:27] kvendingoldo commented on #7232
@rimusz I know that Helm v3 uses three-way patch merging but you can try to reproduce my actions and got the same result.

[2019-12-16 08:46] okulev commented on #7206
I was wrong about `~/.cache/helm/repository`. After deleting this directory, `helm repo list` still shows repositories. `helm search repo` doesn't work though and explicitly suggests that `helm repo update` should be run. Repositories cache should updated automatically when it is missing. Deleting a cache should not affect user experience except the additional time for automatic restoring of cache

[2019-12-16 08:58] karuppiah7890 commented on #6921
Can we add `v2` and `v3` label?

[2019-12-16 09:37] rimusz commented on #7232
if you that helm v3 follows kubectl three-way patch merging then it is the expected helm v3 behaviour for HPA upgrades and is not the bug then :)

[2019-12-16 10:19] hickeyma commented on #7233
@taylorsilva This might also be affected by issue fixed in #7009. Do you mind checking against the latest Helm 3 code in master to see if the issue is fixed? Can you also remove any `Chart.lock` file and check that your dependencies are defined in `requirements.yaml` only.

[2019-12-16 10:23] shreben commented on #5814
Hi
I'm using Helm 3.0.1 and `--wait` still doesn't seem to work.
I've deployed a broken chart with wrong image reference and `helm`  marked a release as deployed even despite of the fact that pod failed to start.
Helm version:
`version.BuildInfo{Version:"v3.0.1", GitCommit:"7c22ef9ce89e0ebeb7125ba2ebf7d421f3e82ffa", GitTreeState:"clean", GoVersion:"go1.13.4"}`
Output of `helm install ...`:
[code]

[2019-12-16 12:01] jason-liew commented on #6850
[Fixed by this PR](https://github.com/helm/helm/pull/7237)
- reproduce step
I have install 10 revisions, when I install new sub charts in revision 11, deloyed OK.
then upgrade again with same charts, helm complains ```rendered manifests contain a new resource that already exists```.
- reason
   helm compare the current revision with the first deployed revision which has no resources we installed i

[2019-12-16 12:11] jason-liew commented on #6850
- work around
 delete old secrets

[2019-12-16 12:11] sheerun commented on #6850
@jason-liew This issue is about different thing that is not related to number of releases. You're fixing other bug with similar error. This bug is related to change of resource's api version.

[2019-12-16 12:30] jason-liew commented on #6850
@sheerun sorry,  i have delete the reference in the commit message.

[2019-12-16 14:32] mcginne commented on #6361
@bacongobbler as per your comment here https://github.com/helm/helm/issues/6361#issuecomment-554480815 do you know when v3.1 will be available? I just installed 3.0.1 and am still hitting the issue - I was surprised this fix didn't make it into v3.0.1 as it seems to be a pretty pervasive issue. Any chance of it making it into a v3.0.x release if that will be before v3.1?

[2019-12-16 14:47] #7034 closed

[2019-12-16 14:48] taylorsilva commented on #7233
I was able to reproduce the issue using the latest code on master.

[code]

Sanity checks:
- Still works using Helm v2
[code]
- There's no `Chart.lock` file before or after running any of the `dependency build` commands
- Contents of `requirements.yaml` has not changed before or after running any of the `dependency build` commands

[2019-12-16 15:38] karuppiah7890 commented on #7220
@Hiruma31 Would you be willing to get to the bottom of this issue and fix it ? 😄

[2019-12-16 16:12] karuppiah7890 commented on #7233
@taylorsilva Thanks for helping in reproducing the issue. I'm able to see the bug. @hickeyma I think we need to label this as `bug`.

[2019-12-16 16:44] krancour opened #7239 "Proposal: a way to mark charts as Helm 3 incompatible"
I understand that, generally speaking, Helm 2 charts are meant to remain compatible with Helm 3 and that in cases where there are incompatibilities between existing charts and Helm 3, charts (at least those in helm/charts stable and incubator) are meant to remediate any incompatibilities, however...

@scottrigby and I have identified a chart (magic-namespace; of which I am the original author) tha

[2019-12-16 16:48] rimusz commented on #7239
+1

[2019-12-16 17:26] waveywaves commented on #7220
@karuppiah7890 I will take this up

[2019-12-16 17:26] #7225 closed

[2019-12-16 17:37] karuppiah7890 commented on #7220
I don't have permissions to assign anyone.

And let's wait for  @Hiruma31 to reply. Let's encourage more first time contributions to increase the number of contributors for the future :) this is good for sustainability

[2019-12-16 17:39] waveywaves commented on #7220
@karuppiah7890 Got it ! :)

[2019-12-16 17:50] mvandervliet commented on #7205
Did some more testing on this, and appears unrelated to the helm update. Rather, it's the validations on the kubernetes end.

[2019-12-16 17:50] #7205 closed

[2019-12-16 18:51] strainovic opened #7241 "Jobs with hook annotations of the same weight should run in parallel"
We are using Jobs with hook annotations to run SQL migration scripts before our Pods start. It works fine except the fact that each of Jobs run only after previous complete successfuly. Is it possible to run Jobs in parallel? We have more then 50 microservices and we have to wait all 50 Jobs to complete before actual services can start.

Thanks!

[2019-12-16 19:01] waveywaves commented on #7116
@bacongobbler can you assign this to me ?

[2019-12-16 19:08] waveywaves commented on #7233
I was able to reproduce this as well

[2019-12-16 19:26] scones commented on #6982
i'd suggest the git method: `oci@some.regist.ry/some-chart` (implicit latest)

for the actual complete install command, i'd strongly suggest combining it with the normal install (if only to avoid possibile logic duplication):

[code]

this would also shrink down adjustment efforts for anyone using the repo way. the HELM_EXPERIMENTAL_OCI check would have to be on that specific chart source option t

[2019-12-16 19:43] smekkley opened #7243 "helm upgrade --reset-values only works for the first time."
With helm v3.0.1 on linux and mac,  `helm upgrade --reset-value` only works for the first time, if you run the same command again, you'll get the following.

[code]

I expect by running `helm upgrade --reset-value` exactly what `helm template` output shows would be applied no matter what. The workaround is to use helm template command and apply through kubectl.

[2019-12-16 19:46] smekkley opened #7244 "--history-max option not working"
With helm v3.0.1  `helm upgrade --history-max 1` option is not respected.
If you remove a resource from your chart, with debug option, you'll see it tries to delete the old resource even though the resource was deleted more than 1 release ago.

[2019-12-16 20:11] bacongobbler commented on #7116
Sure.

[2019-12-16 20:13] dastrobu commented on #7082
@bacongobbler least ambiguity of flags is certainly preferable. But option 1 would resemble the behaviour of `helm delete` followed by `helm install`. So option 1 would not add a real new feature. To me option 3 would be least unambiguous. However, one might chose a different name than `--recreate`, maybe something like `helm upgrade --immutable`.

[2019-12-16 20:23] dastrobu commented on #2730
#7082 is related, but the proposed solutions won't solve the problem to adopt/assimilate non-helm managed resources, which is a feature I would like to see as well.

[2019-12-16 20:43] bacongobbler commented on #7082
I'm concerned about the approach of "if A fails, then B". This was [the trap we fell into](https://github.com/helm/helm/issues/7082#issuecomment-559558318) with Helm 2's old `--force` behaviour: it deleted the resource and re-created it *only if the patch failed*. Many users were confused about the ambiguity of the flag's implementation. On their end, sometimes the behaviour was triggered, and som

[2019-12-16 21:43] ajitchahal commented on #5595
Helm3: I am having the similar issue while upgrading istio, the release failed, now I can not redeploy it even though a small error in templates is fixed. I cant delete production release since it will also delete associated ELB with istio-ingress service.

[2019-12-16 22:09] curtisr7 commented on #7219
I don't think this is a feature, it's a bug.

Putting the bug vs feature discussion aside, is there anything else that can be done? I have lots of customers in production that will run into this issue. Net is that any release that refers to an API that gets removed from k8s will not be able to upgrade (so long as k8s is upgraded to the release where the API is removed).

Delete/re-install the rele

[2019-12-16 22:10] marckhouzam commented on #7244
Can you give more details on how to reproduce the problem you are seeing?

[2019-12-16 22:27] bacongobbler commented on #7219
As mentioned before, If you can find an solution within Kubernetes that allows one to upgrade apiVersions without having to re-create the object, we'd love to hear about it. We are currently unaware of an external endpoint available for third party tools like Helm to "convert" an object from one apiVersion to the next. The only option we're aware of from Kubernetes' API is to delete and create the

[2019-12-16 22:38] talam opened #7247 "Installing single CRD resource without other resources returns error"
I have a chart with a single with a `crd.yaml` in the `crds` folder and an empty `templates` directory. Running a ` helm upgrade --install` produces the below error.
[code]

Is this the expected behavior? I would have expected this to succeed. The CRD is installed, but the returned error is misleading.

Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (A

[2019-12-16 22:49] curtisr7 commented on #7219
I guess I don't follow...? When k8s is upgraded from 1.15 --> 1.16, the existing `apps/v1beta1` apis are somehow upgraded to `apps/v1`? With the PR I linked to above, I was able to update these auto-upgraded apis?

[2019-12-16 22:50] bacongobbler commented on #7247
Yes. This is the same result as #4670: if there are no templates to render (i.e. only chart hooks and CRDs are installed), a `helm install` has no objects to track, so it considers that as an error condition.

[2019-12-16 23:02] talam commented on #7247
Thanks, closing this issue out.

[2019-12-16 23:02] #7247 closed

[2019-12-16 23:06] bacongobbler commented on #4670
Thank you everyone for your comments/opinions on this.

A lot of the examples provided deal with firing off a job as a one-off thing. I'm curious to understand why Helm is being used in this way.

As context, Helm was designed to be used as a package manager: it installs and manages an application in a traditional manner, similar to `apt`, `yum` and `brew`.

Chart hooks are quite similar to other

[2019-12-16 23:36] talam commented on #4670
@bacongobbler my use case doesn't involve hooks or anything like that so this may be an outlier. I just want to be able to install CRDs individually without any other necessary resources in the `templates` directory as mentioned in #7247. This is part of a work around due to #6581 where I am unable to put new crd versions in the same chart. I would expect this to be possible without an error since

[2019-12-17 00:02] sxs-sm commented on #7243
I'm getting something similar with `helm upgrade` n v3.0.1 more generally. The first run deploys the resources but subsequent deployments give an error of the resources it deployed as already existing.

[code]

[2019-12-17 00:39] abrenneke commented on #7219
Yeah, I would say this is a Helm problem - it should be able to see that you're on Kubernetes 1.16, where e.g. `apps/v1beta1` is removed, and upgrade the release information in the secret to use `apps/v1` instead (which Kubernetes automatically has done to the actual Deployment). Helm is just choking because the Release in the secret still contains `apps/v1beta1`.

It's unfortunate that the secret

[2019-12-17 01:47] marckhouzam commented on #7206
If helm suggests that `helm repo update` should be run instead of running it automatically, it may be a design decision.  I don't have the answer to that.  Hopefully another maintainer can shed some light.

I can see this too.  It affects plugins downloaded from the internet but not plugins installed from a local repo.  Interestingly, the list of plugins is already stored in `$XDG_DATA_HOME/helm/p

[2019-12-17 01:47] #7156 closed

[2019-12-17 04:27] karuppiah7890 commented on #7233
@waveywaves you wanna work on this? 😄

[2019-12-17 04:38] donaldguy opened #7248 "`helm repo update` does not create cached indexes in non-default cache location (when overridden by env or CLI) flag; more broadly `helmpath` package helpers don't account for any such overrides"
Output of `helm version`:
`version.BuildInfo{Version:"v3.0.1", GitCommit:"7c22ef9ce89e0ebeb7125ba2ebf7d421f3e82ffa", GitTreeState:"clean", GoVersion:"go1.13.4"`}

(but also like:
`version.BuildInfo{Version:"v3.0", GitCommit:"0edb09e4faaed3c7ed5b1f843815f625fa3b7c06", GitTreeState:"dirty", GoVersion:"go1.13.1"}`)

---

**TL;DR** running `helm repo update --repository-config /some/dir/that/exists` w

[2019-12-17 04:57] donaldguy commented on #7248
Heres a workaround after a fashion

`helm-repo-update.sh`:

[code]

[2019-12-17 07:47] smekkley commented on #7244
I'll write a step later but you just need to create a template with 2 deployment, for example and apply it. Delete one deployment. And then add history max option to one with debug again and again. You'll see that helm is trying to delete the deployment that's been already deleted by helm previously.
#7243 might be related.
I always add reset-values option as well.

[2019-12-17 08:11] rbq commented on #4670
1. I think traditional package repositories often contain meta-packages that only exist to bundle dependencies (or signal some sort of system state).
2. I believe it is usually possible to start developing a package and have working tests and CI right from the start, without making it install any placeholder resources.
3. Packages are often configurable, letting users switch individual components

[2019-12-17 08:28] rkamisetti792 opened #7250 "Helm3 cleanup tiller deploy doesnot work with Openshift Cluster"
Output of `helm version`: helm v3.0.0

Output of `kubectl version`: v1.16.3

Cloud Provider/Platform (AKS, GKE, Minikube etc.): Openshift Container Platform Cluster in AWS

In Openshift DeploymentConfig name is tiller
By default helm execute the command background to delete the tiller deploy
kubectl delete -n <tiller namespace> deploy/tiller-deploy (not found in oc cluster)

Any workaround?

[2019-12-17 09:04] PavelSosin-320 commented on #7244
Freshly installed helm 3.0.1 for windows doesn't recognize init at all with any flag

[2019-12-17 09:56] consideRatio commented on #6710
This issue should be labeled to be Helm v3 also.

[2019-12-17 10:22] wu0407 opened #7251 "helm 3.0 upgrade not add new resource"
<!-- If you need help or think you have found a bug, please help us with your issue by entering the following information (otherwise you can delete this text): -- >

change `"prometheus.additionalPodMonitors: []`" to` "prometheus.additionalPodMonitors: somethings"`  in prometheus operator  values.yaml and  `helm upgrade prometheus-operator -n kube-system .` , it not add new add podmonitors.
but us

[2019-12-17 10:59] kratos81 opened #7252 "Helm 3 package command not updating Helm 2 charts."
Output of `helm version`:
helm 3.0.1

Output of `kubectl version`:

[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
KOPS on AWS

Issue:

We are using helm 3 cli to package an  umbrella chart ( all helm 2 based charts ) in a CI system. The package runs with -u so dependencies get updated and then a final package is created for umbrella chart.

For some reason the dependencies getting pac

[2019-12-17 12:05] dastrobu commented on #7082
I get your point that a try "update" fallback to "recreate" is less transparent and may lead to errors. Although handling only certain status codes such as 422 should not lead to problems on e.g. client timeouts. Ideally, Helm would need to know which resources are immutable and need to be recreated. Unfortunately, I have no idea how Helm could figure this out except by a try and fallback approach

[2019-12-17 12:09] hickeyma commented on #7244
@PavelSosin-320 Can you provide more details on what is not recognized?

[2019-12-17 12:37] hickeyma commented on #7250
It would help to get more information to better understand the issue.

Can you provide some background on what you are trying to do? Are you trying to remove Tiller?
What namespace is Tiller deployed in?

Command to remove Tiller (service and deployment):
[code]

[2019-12-17 12:42] enver commented on #4670
As a workaround just define dummy service i.e.
[code]

[2019-12-17 12:55] marckhouzam commented on #7248
Could this be a duplicate of #7141 or maybe very similar?

[2019-12-17 13:01] alexandrsemak opened #7253 "Helm 3.0.1 ValidationError take wrong API Version"
Output of `helm version`:
`version.BuildInfo{Version:"v3.0.1", GitCommit:"7c22ef9ce89e0ebeb7125ba2ebf7d421f3e82ffa", GitTreeState:"clean", GoVersion:"go1.13.4"}`

Output of `kubectl version`:
[code]
HPA Template:
[code]

Error:
[code]
apiVersion: autoscaling/v2beta1 and apiVersion: autoscaling/v2beta2 have differences in template and looks like helm 3 ignore version in template and take latest

[2019-12-17 13:36] HusterWan commented on #5806
also occurred this error on 2.14.3

[2019-12-17 13:38] andye2004 commented on #5180
I've been struggling a little with a similar requirement to the OP and came up with a solution that, while pretty ugly, actually works as required.

What I have done is write a template function, say `_functions.yml`:-

[code]

Then in my actual template I call:-
[code]

If the `value.yml` used in the helm command has the nested `path.to.nested.value` key with value `xyz` then the output of the ab

[2019-12-17 14:18] tinyzimmer commented on #6361
Same question as @mcginne . I've been using the master branch for a bit now waiting for this fix to get into a release. But I'd like to get back to being on a release. This bug makes writing automation with `helm` pretty difficult (unless you just want to try your luck and put sleeps and waiters everywhere).

Even just like a `3.1alpha` or something would be nice :)

[2019-12-17 14:56] openmohan commented on #7239
If helm verions is v.3.x.x and if `isVersion3Supported` key is set to `false`, we can stop processing the chart/release and return an appropriate error.

please let me know your thoughts @bacongobbler and maintainers?

[2019-12-17 15:28] donaldguy commented on #7248
Yes.

I totally searched most relevant things on issues in search of an open
issue and somehow didn’t find it :-(

Arguably per my second sentence this issue is a superset of that.

But mostly yeah

On Tue, Dec 17, 2019 at 5:56 AM Marc Khouzam <notifications@github.com>
wrote:

[2019-12-17 15:55] Hiruma31 commented on #7220
@karuppiah7890  Sure, I opened this issue as a faster mean to mention it so it could make it to the next bugfixes batch. I would have done it right away but I was at work and backed off when I saw how long it would take me to figure out the initial setup and contrib part.
I will get to it in a few days.

[2019-12-17 16:30] karuppiah7890 commented on #7220
Cool! Let us know if you need any help 😄

[2019-12-17 16:50] thomastaylor312 commented on #6964
@placaze So I was just looking at this. It looks like you are running a fairly old version of Kubernetes and Openshift. The Kubernetes version is well outside of our supported version range. Is there any way you can test this on a more recent Kubernetes version to see if you have the same problem? I am guessing this has something to do with a new API endpoint for discovery in more recent versions

[2019-12-17 17:02] kratos81 commented on #7252
We were able to find the cause.  The version was not in sem ver 2 notation and the patch version was omitted. Once we added the patch version , it worked.

Probably something to note so that the right error messages will be thrown up

[2019-12-17 17:10] placaze commented on #6964
Thanks for the reply.

What is the current supported version range of Kubernetes for Helm v3?
Kubernetes v1.6 is mentionned in the docs: https://helm.sh/docs/intro/quickstart/

My company will slowly switch to vanilla Kubernetes next year.
Here is the OpenShift version we are currently using:
![image](https://user-images.githubusercontent.com/57751243/71017979-dfaeb080-20f7-11ea-8c33-df0185788a2d.

[2019-12-17 17:12] bacongobbler commented on #6964
It's best to try something a little more recent, like Kubernetes 1.16 or 1.17. You're about 10 releases behind the current stable release. :)

[2019-12-17 17:20] bacongobbler commented on #7253
this would be an error coming from [Kubernetes's schema](https://github.com/helm/helm/blob/0edb09e4faaed3c7ed5b1f843815f625fa3b7c06/pkg/kube/client.go#L132) when validating the object. It looks like Kubernetes may be looking up the incorrect schema for underlying types.

[2019-12-17 17:31] technosophos commented on #6361
Closing this issue, as it is resolved on `master`

[2019-12-17 17:31] #6361 closed

[2019-12-17 17:37] thomastaylor312 commented on #5814
@shreben Can you share your chart? Generally when that happens it is due to only having 1 replica in your Deployment. However, I have also see it happen where a pod is "flapping" (it goes ready for a bit and then fails). If there is a problem here, we should probably isolate what it doesn't wait for and open a new issue

[2019-12-17 17:41] #7210 closed

[2019-12-17 17:42] PavelSosin-320 commented on #7244
Actualy, I installed helm 3 and according some posts(?) it doesn't need **init** at all. So init is obsolete. Sorry, it is my fault ! But I didn't find any script which installs very basic things using Helm 3, like Grafana, ingresses, etc. So I am not the only person which is not informed yet. Developers of many basic Kubernetes components still work with Helm 2.
Maybe, somebody can update documen

[2019-12-17 17:49] thomastaylor312 commented on #2730
@phillycheeze so the complexity is still the same as it was in Helm 2, though the new SDK in Helm 3 should make it a bit easier from the code side of things. Basically there are a few steps:
1. Decide how we want to mark resources for commandeering
2. Grab each of those resources and trim off any unneeded fields (similar to `--export` in `kubectl`)
3. Create a new chart and output each resource as

[2019-12-17 18:01] mattfarina opened #7255 "Proposal: Setup GitHub Actions to test Windows and macOS"
Current test suites run in linux containers. With GitHub Actions we can expand the testing to include windows and mac. We should to that since we support releases there.

Note, I am not yet suggesting we move from CircleCI for linux or releases. We could consider that in a follow-up step.

[2019-12-17 18:18] bacongobbler commented on #7244
Thank you for your suggestion. With the [removal of tiller](https://helm.sh/docs/faq/#removal-of-tiller), `helm init` was no longer required and was removed. I couldn't find anywhere in the documentation that explicitly calls out that `helm init` is no longer required.

I'm confused what you mean by

Is this something that is not covered by the [Quickstart Guide](https://helm.sh/docs/intro/quickst

[2019-12-17 18:37] HamzaK8s opened #7257 "Helm 3 upgrade --install faild has no deployed release"
I'm using Helm 3 to install my chart using the following command :
[code]
I got ` Error: UPGRADE FAILED: "project-x" has no deployed releases`
and the output of  `helm ls ` as follows:
[code]

Output of `helm version`: v3.0.1

Output of `kubectl version`: v1.14.8-gke.17

Cloud Provider/Platform (AKS, GKE, Minikube etc.): GKE

Does anyone has an idea ?
Thanks

[2019-12-17 18:37] mustela commented on #7068
Having the same issue:
[code]

Version: `version.BuildInfo{Version:"v3.0.1", GitCommit:"7c22ef9ce89e0ebeb7125ba2ebf7d421f3e82ffa", GitTreeState:"clean", GoVersion:"go1.13.4"}`

[2019-12-17 18:55] bacongobbler commented on #3141
Looking at the code, it appears #3471 accidentally made its way into Helm 3, but was never pulled out as we did for Helm 2 due to this comment: https://github.com/helm/helm/pull/3471#issuecomment-381779783

I'm re-opening this feature request as we are removing the --set and --values flags in Helm 3 with https://github.com/helm/helm/pull/7201. They never worked anyways... Anything set via `--set`

[2019-12-17 19:51] phumberdroz commented on #7257
I encountered something similar looking at this it seems like it is a first install of a chart.
You can simply `helm delete project-x` and then install again.

[2019-12-17 19:56] HamzaK8s commented on #7257
@phumberdroz in CI/CD we can't simply delete the chart

[2019-12-17 20:10] phumberdroz commented on #7257
Right but this is b/c the first release failed right?

[2019-12-17 20:34] HamzaK8s commented on #7257
@phumberdroz Yes, the first release failed

Is there any future work to change the logic when the initial release ends up in a failed state ?

cc @bacongobbler

[2019-12-17 20:37] bacongobbler commented on #7257
closing as a duplicate of https://github.com/helm/helm/issues/5595.

[2019-12-17 20:37] #7257 closed

[2019-12-17 20:38] bacongobbler commented on #7160
closing as a duplicate of https://github.com/helm/helm/issues/5595.

[2019-12-17 20:38] #7160 closed

[2019-12-17 20:43] HamzaK8s commented on #5595
Is there any future work to change the logic when the initial release ends up in a failed state ?

[2019-12-17 21:14] thomastaylor312 opened #7260 "Proposal: Post-Render Hooks for Helm"
EDIT: I have kept all original text (with strikethrough) but have made modifications based on feedback

### tl;dr
If you don't want to read the whole thing, the basic gist is that a
post-renderer can be an arbitrary binary that must accept Kubernetes manifests
on STDIN and return 0 with valid Kubernetes manifests on STDOUT.

### Background

Many Helm users have been asking for a way to template ch

[2019-12-17 21:18] habutre commented on #6002
This issue is closed but I believe my comment might help a bit.
I would like to use multiple `values.yaml` to override some values based on running environment.
When I pass both `values.yaml` and `testing-values.yaml` to `helm upgrade` I got that error.

The default `values.ymal` file has many env vars and the `environment-values.yaml` just a small number of them with some overriding ones.

[code]

[2019-12-17 21:28] alexandrsemak commented on #7253
My mistake I have wrong template value in template.

for   apiVersion: autoscaling/v2beta1 :
[code]

for   apiVersion: autoscaling/v2beta2:
[code]

[2019-12-17 21:29] #7253 closed

[2019-12-17 21:29] alexandrsemak commented on #7253
closed

[2019-12-17 21:36] chugunovyar commented on #4016
uname -r
4.15.0-72-generic

helm version
version.BuildInfo{Version:"v3.0.1", GitCommit:"7c22ef9ce89e0ebeb7125ba2ebf7d421f3e82ffa", GitTreeState:"clean", GoVersion:"go1.13.4"}

No chance to uninstall\remove from computer helm3. Help me some one.

[2019-12-17 21:59] bacongobbler commented on #4016
When first starting out, how did you install helm on your computer?

[2019-12-17 23:22] alfonzso commented on #6130
We use prometheus-operator in our deployment, in a nutshell, we upgraded prom-op from 6.9.3 to 8.3.3 and always failed with "Error: context canceled".
Also we always install crds before install/upgrade prometheus-operator, and ofc we didn't change or update these crd-s.

I try to refresh crds, which in 'github.com/helm/charts/tree/master/stable/prometheus-operator' mentions ( like this kubectl app

[2019-12-18 04:26] karuppiah7890 commented on #6155
@bacongobbler @mattfarina Should we consider more options? Since this is an index and it will only be generated by programs and read by programs and not humans, is it possible to checkout other formats to store the index? To make the storage and processing more efficient

[2019-12-18 07:12] PavelSosin-320 commented on #7244
I think that such incompatible changes as withrowal init has to be communicated with users before the new version release via regular feature lifecycle warning. Even when the new version is released helm has to emit meaningfull error message with link to corresponding release note. For those Cloud companies employees and partners who work with big Cloud companies with very tough minor  release cyc

[2019-12-18 07:35] bacongobbler commented on #6896
I don't believe #7196 was intended to fix this issue, however if you can demonstrate that #7196 does indeed fix the issue, we'd love to understand why.

[2019-12-18 07:49] shreben commented on #5814
Hi
I'm using a custom chart developed by myself from scratch.
Here is my resultant deployment.yaml after templating:
[code]
Number of replicas is 1, indeed. I suppose "flapping" didn't take place because of completely wrong image reference, pod cannot start by any circumstances.
So, as I understood, correct me if I'm wrong, `--wait` will only work if there are at least 2 replicas?

[2019-12-18 10:16] mvisonneau commented on #5184
I have ran into the exact same issue using `3.0.1`, it might be good to reopen this issue ?

[2019-12-18 10:45] hickeyma commented on #7233
Sorry for the delay in replying but got side tracked before I could reply with my investigations.

@taylorsilva Thanks for describing how to reproduce in https://github.com/helm/helm/issues/7233#issuecomment-566092411.

I have been looking at the issue and trying to work out the best way to handle it. As it stands the logic is working as expected. The issue is happening because when apiVersion v1

[2019-12-18 11:35] adriangonz commented on #5853
We are also seeing a similar error in https://github.com/SeldonIO/seldon-core/issues/1289#issuecomment-566993485. This is happening on a cluster running K8s `1.15.6` and using Helm `3.0.1`.

When we try to run `helm upgrade` the first time we get the following error:

[code]

That seems to leave the update on a broken state. So after running `helm upgrade` a second time we get the following:

[cod

[2019-12-18 11:50] erenatas commented on #2492
I am not sure if it would be helpful to anyone, But I have thought about a workaround about this issue and I made it. It may be bad practice but I will share it just in case. You can put a placeholder in the text that you want to template and then replace that placeholder with the template that you would like to use in yaml files in the template. So here is an example:

In values.yaml:
[code]

And

[2019-12-18 12:19] TomasKohout opened #7262 "Helm 3 is truncating appVersion if there is only one dot and 0 at the end."
Output of `helm version`:
version.BuildInfo{Version:"v3.0.2", GitCommit:"19e47ee3283ae98139d98460de796c1be1e3975f", GitTreeState:"clean", GoVersion:"go1.13.5"}

When I have appVersion set to 1.0 and try to use this value in templates then it is templated as 1 instead of 1.0. 1.0.0 works as expected.

How to reproduce:

helm create test
change app version to eg. 3.0
helm template test
check the tem

[2019-12-18 12:32] kvendingoldo commented on #7232
Can you explain why pod recreating is expected?

[2019-12-18 12:39] rimusz commented on #7232
as it is how three-way patch merging works in kubectl, and hem follows the same path.
try to do that with kubectl and you will see the same result.

[2019-12-18 12:59] marckhouzam commented on #7244
Am I reading this issue wrong or did we completely digress from the OP's issue? 😬

@PavelSosin-320, about the removal of init: you have to remember that moving to helm 3 is a major version change and should not be done transparently as one would do for a minor or patch release. At my place of work we planned a full migration strategy of our kube clusters with corresponding CICD changes.

[2019-12-18 13:08] marckhouzam commented on #6155
The completion code would greatly benefit from much faster parsing, although all it needs is the list of chart names. The completion currently uses `helm search repo` which is much too slow (when the stable repo is provisioned) in the context of completion.

I've proposed the creation of another cache file which would only list the charts as part of #6809.

It would be nice to consider this requir

[2019-12-18 14:40] nerzhul commented on #5853
hello @thomastaylor312 k8s 1.15.5 & 1.16.3 have the problem

[2019-12-18 16:36] karuppiah7890 commented on #7262
According to yaml spec, `3.0` and `3` are the same. It was considered as a number. The issue here is that `appVersion` should only be considered as a string, no matter what, we are working on this here #6921 and #7235 (lint errors) 😄 next we will also work on package errors I think

For now, you can put double quotes around the `appVersion` value for it to work, for example `"1.0"`

[2019-12-18 16:37] karuppiah7890 commented on #7262
I think we can close this considering it as a duplicate of #6921

[2019-12-18 17:07] #7262 closed

[2019-12-18 17:16] TomasKohout commented on #7262
As I thought. THX. :+1:  I tried ' but it didn't worked. Will try the " :smile:

[2019-12-18 17:23] thomastaylor312 commented on #5814
Yes, it will, but that is due to the math involved. If you only have 1 replica and you've specified that 1 replica can be unavailable, then the deployment is technically "ready" if 1 pod is unavailable. Completely open to adding logic that handles the case where only one replica is specified

[2019-12-18 18:02] githubvick commented on #7229
Looks like this log is something that can ignored. The ingress wasnt working due to another issue.

[2019-12-18 18:05] brunohms commented on #6006
@bacongobbler shouldn't helm be up to 63 characters as weel?

[2019-12-18 18:06] brunohms commented on #6006
@bacongobbler shouldn't helm be up to 63 characters as weel?

Because when a chart is create it limits to 63 characters in the `_helpers.tpl` file.

[2019-12-18 18:30] bacongobbler commented on #6006
See the comment in the code linked above.

[2019-12-18 21:50] curtisr7 commented on #7219
Not an api endpoint, but `kubectl convert` does what we need? (I assume you're already way of this)

... though it looks like it's moving to a standalone binary - https://github.com/kubernetes/kubectl/issues/725

[2019-12-18 22:00] bacongobbler commented on #7219
`kubectl convert` converts files from one version to the next. It doesn't interact with resources live in the cluster.

https://github.com/kubernetes/kubernetes/blob/5cb1ec5fea6c4cafee6b8de3d09ca65361063451/pkg/kubectl/cmd/convert/convert.go#L41-L49

[2019-12-18 22:04] absoludity opened #7263 "The Memory storage driver does not have consistent ordering"
The memory driver, which is often (mostly?) used for unit tests, does not have a consistent ordering of results when calling `List`. This is because it is implemented as a simple map (https://github.com/helm/helm/blob/master/pkg/storage/driver/memory.go#L33), which is iterated over with a `range` statement in `List` (https://github.com/helm/helm/blob/master/pkg/storage/driver/memory.go#L75).

As a

[2019-12-18 23:19] travisghansen commented on #6969
For anyone else stumbling upon this, we hit a similar situation where charts were not updated *before* a new version of k8s hit. We also did not want to delete the release (ie: actually remove running/functioning resources). Our solution was to:

1. Remove all old configmaps for old revisions (effectively removing all history it ever existed from helm's perspective)
1. Run `helm install --replace

[2019-12-18 23:22] travisghansen commented on #7219
For anyone else stumbling upon this, we hit a similar situation where charts were not updated *before* a new version of k8s hit. We also did not want to delete the release (ie: actually remove running/functioning resources). Our solution was to:

1. Remove all old configmaps for old revisions (effectively removing all history it ever existed from helm's perspective)
1. Run `helm install --replace

[2019-12-18 23:27] curtisr7 commented on #7219
Yep, I guess my point is that `kubectl convert` converts the apis to the new level.

The net of this problem is that helm stores release manifests and treats those as the "source" when upgrading to a new release. Normally this isn't a problem, except in cases where the stored release manifests are invalidated because underlying k8s has been upgraded and the running resources were automatically bum

[2019-12-18 23:32] curtisr7 commented on #7219
@travisghansen ha yes, this will also do it. The key is that you're getting rid of the "source" release that has the removed api.

[2019-12-18 23:41] travisghansen commented on #7219
@curtisr7 yeah, we hit some *really* bizarre behavior with this too honestly. For example, even without deleting any of the old revisions we were able to force through a `helm install --replace ...` such that the most recent revision was in a 'good' (deployed) state. I was shocked when a subsequent `helm upgrade --install ...` was then failing with the same error. I have no idea what logic is gett

[2019-12-19 03:55] Endofunctor opened #7264 "Error: create: failed to create: Request entity too large: limit is 3145728"
I suddenly started experiencing the following error when using Helm 3.0.1 to install a new release on GCP:

[code]

From reading the code around the exception it looks like helm is trying to create a secret that is greater than 3MB to store the release information.

There were no changes to any of the values or templates that Helm uses. I can checkout earlier commits and the error still persists.

[2019-12-19 07:39] bacongobbler commented on #7264
Check the chart for any stray files that may have crept in there. Usually this can occur because there may be some files that are being included as part of the chart.

See also #3512.

[2019-12-19 07:41] bacongobbler commented on #7248
closing as a duplicate of #7141. Thanks for finding that @marckhouzam!

[2019-12-19 07:58] ganchandrasekaran opened #7265 "nested helm chart using checksum/configmap for Roll Deplopyments throws error"
Output of `helm version`:
Client: &version.Version{SemVer:"v2.15.1", GitCommit:"cf1de4f8ba70eded310918a8af3a96bfe8e7683b", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.15.1", GitCommit:"cf1de4f8ba70eded310918a8af3a96bfe8e7683b", GitTreeState:"clean"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.0", GitCommit:"2bd9643cee5b3b3a5ecbd

[2019-12-19 09:26] Moshem123 opened #7267 "How to use value as other value's key?"
I want to know if it's possible to use a value like this?
`{{ .Values[.Release.Namespace].replicas }}`
When my `values.yaml` is like:
[code]
And I install like this:
[code]
If not, is there any other way to achieve this?

Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.): AWS

[2019-12-19 11:22] marckhouzam commented on #7248
I think @donaldguy might be right that this issue is a superset as it includes limitations with the handling of `--repository-config` while #7141 only mentions `--repository- cache`. Although I haven't confirmed the problems with `--repository-config` myself

[2019-12-19 12:09] stefankip commented on #1771
Sorry to bump this, but just ran into the same issue. Why is `b64enc` not working when passing an integer (which should be of type string, but coming from an Azure KeyVault)?

[2019-12-19 13:16] alexandrsemak commented on #6378
Hey @bacongobbler , faced with the same issue during migrate helm v2 release to helm v3. We use `type: ClusterIP` in Service but omit `ClusterIP` at all and we got:

`Error: UPGRADE FAILED: failed to replace object: Service "dummy" is invalid: spec.clusterIP: Invalid value: "": field is immutable`

We don't have `spec.clusterIP:` at our helm template but we got this Error after migrate release via

[2019-12-19 13:21] miracle152004 opened #7268 "Helm 3.x on Windows does not provide any output"
Output of `helm version`: nothing (should display 3.0.2)

Output of `kubectl version`: Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.0", GitCommit:"e8462b5b5dc2584fdcd18e6bcfe9f1e4d970a529", GitTreeState:"clean", BuildDate:"2019-06-19T16:40:16Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"windows/amd64"}

Installing an using Helm3 on Windows does not return any output.

[2019-12-19 13:51] adriangonz commented on #5853
I tried adding back the patch @mumoshu submitted for `v2.x` and that fixed it for me! I'm not sure why `CreateThreeWayMergePatch` doesn't work with CRDs, but it seems that we still need to fall back to `CreateMergePatch` when the `versionedObject` is of type `apiextv1beta1.CustomResourceDefinition`.

I'll submit a PR with the fix shortly @thomastaylor312!

[2019-12-19 14:11] noeRls commented on #2084
/remove-lifecycle rotten

[2019-12-19 14:37] Sora233 opened #7270 "Action 'uninstall' doesn't check status of pods under deployment"
Output of `helm version`:
version.BuildInfo{Version:"v3.0.1", GitCommit:"7c22ef9ce89e0ebeb7125ba2ebf7d421f3e82ffa", GitTreeState:"clean", GoVersion:"go1.13.4"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.3", GitCommit:"721bfa751924da8d1680787490c54b9179b1fed0", GitTreeState:"clean", BuildDate:"2019-02-01T20:08:12Z", GoVersion:"go1.11.5", Comp

[2019-12-19 15:02] Endofunctor commented on #7264
Thanks! I had a large targz file I temporarily copied into the chart directory and this in a configmap template too:
[code]

Removing the targz file fixes the issue but it's not actually being included in anything so it doesn't seem like this error should happen. Also removing the above template does not fix the issue.

Here's the minimal example needed to reproduce:
[code]

[2019-12-19 15:30] StupidScience opened #7271 "Helm exit silently if kube config is directory"
Output of `helm version`:
`version.BuildInfo{Version:"v3.0.1", GitCommit:"7c22ef9ce89e0ebeb7125ba2ebf7d421f3e82ffa", GitTreeState:"clean", GoVersion:"go1.13.4"}`

Make directory `~/.kube/config`. Try to run even just `helm version`. Got exit code 1 without any errors.

For example `kubectl` provide the following error message:
`error: error loading config file "~/.kube/config": read ~/.kube/config

[2019-12-19 15:37] pandvan commented on #6130
Does this mean that it's necessary to do a clean install and lose historical metrics data?

[2019-12-19 15:51] hickeyma commented on #7271
Error is shown in debug as follows:

[code]

Closing as a duplicate of #6863

[2019-12-19 15:53] hickeyma commented on #7271
Duplicate of #6863

[2019-12-19 15:53] #7271 closed

[2019-12-19 17:08] Hiruma31 commented on #7220
#7272 PR opened

[2019-12-19 18:30] johanfleury opened #7273 "`lint` reports error when required value is not set in `values.yaml`"
## Description

If a chart has required settings (defined in `values.schema.json`), but those settings don't have a default provided in `values.yaml`, `helm lint` will always report an error, even when the values are set “externally” to the chart.

For instance, with the following chart:

[code]

This is an expected behavior:

[code]

But this should not report any errors:

[code]

## Expected beh

[2019-12-19 18:56] remiuz commented on #4691
@attilatar : how do you apply the  secrets with kubect ?

[2019-12-19 20:05] avarabyeu opened #7274 "Multiple revisions in `DEPLOYED` state."
Multiple revisions in `DEPLOYED` state.
The issue appeared after upgrade to Helm 3. Tried complete re-installation of the chart with deleting all helm-related secrets, but after some number of deploys, the issues appears again

![image](https://user-images.githubusercontent.com/1565439/71205625-ce120800-22b3-11ea-9de3-23fad6ba48db.png)

Output of `helm version`:
`version.BuildInfo{Version:"v3.0.1"

[2019-12-19 20:24] bacongobbler commented on #7274
Hi @avarabyeu. Can you demonstrate how one can reproduce this locally?

[2019-12-19 21:19] darkstarmv opened #7275 "helm 3 shows secrets with --dry-run option in clear text"
Output of `helm version`:

`helm version
version.BuildInfo{Version:"v3.0.2", GitCommit:"19e47ee3283ae98139d98460de796c1be1e3975f", GitTreeState:"clean", GoVersion:"go1.13.5"}`
Output of `kubectl version`:

`kubectl version
Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.3", GitCommit:"2d3c76f9091b6bec110a5e63777c332469e0cba2", GitTreeState:"clean", BuildDate:"2019-08-19T11:13

[2019-12-19 22:25] joscorga opened #7276 "Error trying to install Helm on OpenShift v3.11.157"
Output of `helm version`:
Client: &version.Version{SemVer:"v2.9.0", GitCommit:"f6025bb9ee7daf9fee0026541c90a6f557a3e0bc", GitTreeState:"clean"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"11+", GitVersion:"v1.11.0+d4cacc0", GitCommit:"d4cacc0", GitTreeState:"clean", BuildDate:"2019-08-02T00:03:59Z", GoVersion:"go1.10.8", Compiler:"gc", Platform:"linux/ppc64le"}
Ser

[2019-12-19 22:52] perezjasonr commented on #7268
helm 3.02 linux-amd64 on linux is also not providing any input. i tried version, help etc...

[2019-12-19 22:55] bacongobbler commented on #7276
looks like you're running on a ppc64le host. The blog post you referenced fetches Helm v2.9.0 with linux/amd64 architecture.

Please make sure to fetch the right architecture for your platform. In your case, you'd want one for ppc64le.

ppc64le: https://get.helm.sh/helm-v2.9.0-linux-ppc64le.tar.gz
checksum: https://get.helm.sh/helm-v2.9.0-linux-ppc64le.tar.gz.sha256

I'd also recommend using a mor

[2019-12-19 22:55] #7276 closed

[2019-12-19 22:59] bacongobbler commented on #7276
One other thing: `helm init` does not provide a ppc64le image for tiller. Have a look at the tiller-multiarch project on how you could use that to build a ppc64le-compatible version of Tiller. Right now I don't think there's anyone in the community (asides yourself) using that.

https://github.com/jessestuart/tiller-multiarch

An alternative option would be to use Helm 3, which removed Tiller. Tha

[2019-12-19 23:35] technosophos commented on #1771
There are several easy ways to accomplish this. I think `.Values.foo | toString |b64enc` is probably the easiest. I believe that it will ignore cases where the input is a string. But I haven't tested that.

The simple answer to the question is that Go template values are typed, and functions take types. If the type of a value is parsed as an integer, then the function must take an integer. `b64enc

[2019-12-20 01:19] bacongobbler commented on #7268
possibly related to https://github.com/helm/helm/issues/6863.

[2019-12-20 01:20] bacongobbler commented on #7268
What happens if you add the `--debug` flag?

[2019-12-20 06:27] truealex81 commented on #6130
Аfter upgarding AKS k8s to 1.15.5, helm to 3.0.1 and Prometheus-operator chart to 8.3.3 the problem is gone.

[2019-12-20 07:55] stefankip commented on #1771
Yes that's working fine, whether it's a string or an int. Thanks!

[2019-12-20 08:49] jason-liew commented on #7274
[code]
In my case, there are  4 revisions in `deployed` state.

[2019-12-20 09:49] avarabyeu commented on #7274
@bacongobbler unfortunately, i do not have exact steps to reproduce it locally, but it definitely happens on concurrent upgrade with `--wait` flag enabled

[2019-12-20 11:18] emailtovamos opened #7278 "Can't install prometheus-nats-exporter"
I am trying to install `prometheus-nats-exporter` in my Kubernetes cluster using the command given in this [link](https://github.com/helm/charts/tree/master/stable/prometheus-nats-exporter) so that I can follow the steps given [here](https://github.com/nats-io/prometheus-nats-exporter/tree/master/walkthrough) to see metrics of my `nats-server` in `grafana`.

But I am getting this error when I run

[2019-12-20 11:44] PhilGrayson opened #7279 "Moving CRDs from templates/ to crds/ results in CRDs being deleted"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
N/A. Tested on Kubernetes in Docker-for-Mac. Also on on-premise Kubernetes deployments.

---

I have a chart with CustomResourceDefinitions defined in the `templates/` directory. I used the 2to3 plugin to migrate my deployments from Helm v2 to v3. I'm now trying to move the Cus

[2019-12-20 13:23] miracle152004 commented on #7268
yeah is the same issue:
D:\Temp>helm3.exe --debug
helm.go:71: [debug] error loading config file "[Userdirectory]/.kube/config": yaml: line 6: found a tab character that violates indentation

[2019-12-20 13:40] dzoeteman opened #7280 "OCI registry login failed, tries to access certs from docker"
Output of `helm version`:
version.BuildInfo{Version:"v3.0.2", GitCommit:"19e47ee3283ae98139d98460de796c1be1e3975f", GitTreeState:"clean", GoVersion:"go1.13.5"}
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
AWS

Trying out the experimental OCI feature, I run into the following error when trying to login to ECR:

` helm registry login -u AWS -p [password] https://[account id].dkr.ecr.eu-central

[2019-12-20 13:44] istvanszoboszlai commented on #4423
My slightly different use-case for this is that I want helm to be able to override the coredns configmap resource in a local cluster for being able to resolve domains the way I need it.

Solving the "overtaking" of existing resources would be really awesome. Even better would be to somehow backup the resource that was overtaken and restore upon `helm uninstall`

[2019-12-20 13:49] SellamiRami opened #7281 "ersion"
Output of `helm version`:

Output of `kubectl version`:

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

[2019-12-20 13:53] perezjasonr commented on #7268
Thank you, that was essentially the issue. Running with --debug got me "permission denied"
on my kubeconfig file. So almost the same thing. I woulda never guessed permission denied since I thought that would show up for sure. I thought the binary was just being unresponsive.

[2019-12-20 14:15] sharkwsk opened #7282 "Unable to install prometheus-operator"
I want to install - prometheus, alertmanager & grafana

**Output of `helm version`:**
version.BuildInfo{Version:"v3.0.1", GitCommit:"7c22ef9ce89e0ebeb7125ba2ebf7d421f3e82ffa", GitTreeState:"clean", GoVersion:"go1.13.4"}

**Output of `kubectl version`:**
Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.0", GitCommit:"70132b0f130acc0bed193d9ba59dd186f0e634cf", GitTreeState:"clea

[2019-12-20 14:29] joscorga commented on #7276
Hi thanks for your response, I'm sorry I'm new to openshift and kubernetes. Where should I set this url https://get.helm.sh/helm-v2.9.0-linux-ppc64le.tar.gz ? I've just followed the blog as I mentioned and trying to understand, should I replace this url inside the `https://github.com/openshift/origin/raw/master/examples/helm/tiller-template.yaml` under the `spec:
        containers:
        - name

[2019-12-20 14:38] hickeyma commented on #7281
@SellamiRami Do you mind updating this issue with details of the issue?

[2019-12-20 15:07] bacongobbler commented on #7282
hi @sharkwsk. Can you please provide more information about the issues you are seeing that is preventing you from installing those charts?

[2019-12-20 15:08] bacongobbler commented on #7268
closing as a duplicate of #6863.

[2019-12-20 15:08] #7268 closed

[2019-12-20 15:12] bacongobbler commented on #7278
hi @emailtovamos. What is the output of `helm repo list`? Do you have the incubator repository added to the list?

[2019-12-20 17:10] bacongobbler commented on #2730
This project hasn't seen activity in a while (and only works for Helm 2), but there's this: https://github.com/bmatcuk/helm-take-ownership

[2019-12-20 17:14] hidalgopl opened #7285 "Proposal: helm lint --detect-unused-values"
# tl;dr
I would like to run helm lint with `--detect-unused-values` option, which will raise an error if any of keys defined in values is not used in the helm package.

# Why?
Short answer: to catch typos in helm values. Also, to make upgrading to new version easier (from time to time some `values.yaml` keys are getting deprecated and if devs don't pay close attention, they'll live with the feelin

[2019-12-20 17:42] thomastaylor312 commented on #7285
Hey @hidalgopl! This sounds like a great idea! I think I'd want to bring this up after the holidays in the Helm dev call to discuss. As for implementing it, I can make an educated guess that I _think_ the other maintainers are also going to be fine with this. But if you want to wait until we've discussed it some more, that is fine as well

As for your implementation idea, nested values may be a li

[2019-12-20 17:46] bacongobbler commented on #7285
SGTM

[2019-12-20 17:53] bacongobbler commented on #7279
The docs may be a little misleading here. If the CRD was installed as part of the `crds` directory, then the CRD will not be removed on `helm uninstall`. However, if it was installed as part of the `templates` directory, it is treated as any other resource, and therefore it will be deleted upon removal from the chart.

If you try installing a chart with the CRD in the `crds` directory first, then

[2019-12-20 18:06] bacongobbler commented on #7275
Hi @darkstarmv. `helm install --dry-run` intentionally shows the same output as `helm install`. It even looks as though this is intentional behaviour:

https://github.com/helm/helm/blob/0eaa881c4e699910f1db97ac889f573124f002f3/cmd/helm/status.go#L141

What is your recommended course of action here?

[2019-12-20 18:16] bacongobbler commented on #7270
is this a duplicate feature request for #2378? Or is this something else?

[2019-12-20 18:21] darkstarmv commented on #7275
i think by default `--dry-run` should not print debug output. Each user has to provide additional flags if they would like to see more information.

[2019-12-20 19:51] scottrigby commented on #7215
We're also addressing it on the Hub: https://github.com/helm/hub/issues/210

[2019-12-20 20:13] thomastaylor312 commented on #7275
I can see the argument, but at this point we can't change that output because of our backwards compatibility guarantees. So anything that we'd want to implement shouldn't break that

[2019-12-20 21:25] Arabus commented on #6926
Co-Worker of @stefanandres here.
We came up with two workarounds for this Problem.

One is the implementation of the workflow previously mentioned by @foal.
To do this I had a look at how Helm v2 actually stores its deployment information. Luckily the code rather navigable and one can easily find the place where this happens: https://github.com/helm/helm/blob/bbdfe5e7803a12bbdf97e94cd847859890cf40

[2019-12-20 21:44] joelanford commented on #7260
@thomastaylor312 This could be useful for the issue I raised in #5826.

I'm curious what your thoughts would be on making the Helm Go SDK a bit more extensible, such that there is an exported `Renderer` interface. It would enable external users of the Go SDK to inject their own implementation of the renderer.

Then, the helm CLI could use a `PluginRenderer` and an `ExecutableRenderer` (or a combin

[2019-12-20 23:02] PhilGrayson commented on #7279
I do not see the same behaviour. If the chart started with a CRD in the `crds/` directory, Helm does not delete the CRD if the `crds` directory is removed and the release upgrade. Nor does Helm delete the CRD if the release is deleted. This is consistent with the documentation.

However, for charts with CRDs in the `templates/` directory (ie charts prior to Helm 3, or if the chart author did not r

[2019-12-21 00:25] sharkwsk commented on #7282
Sorry I am a newbie on this...
Below are the repos
helm repo list
NAME    URL
charts  https://kubernetes-charts.storage.googleapis.com/
coreos  https://s3-eu-west-1.amazonaws.com/coreos-charts/stable/

When I attempt install
helm install stable/prometheus-operator --namespace monitoring prometheus-operator
Error: failed to download "prometheus-operator" (hint: running `helm repo update` may help)

[2019-12-21 00:30] bacongobbler commented on #7282
It looks like you have the stable chart repository named as "charts". The quickstart guide refers to the chart repository as the "stable" chart repository, and as such uses `helm repo add stable https://kubernetes-charts.storage.googleapis.com/` instead of `helm repo add charts https://kubernetes-charts.storage.googleapis.com/`.

You can install the prometheus-operator chart with `helm install cha

[2019-12-21 01:28] sharkwsk commented on #7282
Thanks for the help, Just tried, still the same

C:\WINDOWS\system32>helm repo list
NAME    URL
charts  https://kubernetes-charts.storage.googleapis.com/
coreos  https://s3-eu-west-1.amazonaws.com/coreos-charts/stable/

C:\WINDOWS\system32>helm repo update
Hang tight while we grab the latest from your chart repositories...
...Successfully got an update from the "coreos" chart repository
...Success

[2019-12-21 02:20] sharkwsk commented on #7282
Looks like the local repository index file has localhost URLs

install.go:148: [debug] Original chart version: ""
Error: Get **http://127.0.0.1:8879/charts/prometheus-operator-0.0.6.tgz**: dial tcp 127.0.0.1:8879: connectex: No connection could be made because the target machine actively refused it.
helm.go:76: [debug] Get http://127.0.0.1:8879/charts/prometheus-operator-0.0.6.tgz: dial tcp 127.0.

[2019-12-21 03:07] darkstarmv commented on #7275
so,  `helm2`  was not printing secrets and now `helm3` does, should it be changed not to print?
[code]

[2019-12-21 08:18] vladfr commented on #3276
@anukul you make a good point about discovering what file names to expect. Documentation is one way but it's not ideal.

I would like to suggest a different approach.

The use-case is to get file contents into a value. How about reading the file directly into a value variable? Something like: `--set certificate={{file://path/to/your/file}}`. Helm would need to parse every value and see if it fits

[2019-12-21 08:25] sharkwsk commented on #7282
Finally made it to work, had to change the repo to this and the arguments in this order

helm repo add stable https://kubernetes-charts.storage.googleapis.com
helm repo update

helm install prometheus-operator --namespace monitoring stable/prometheus-operator --debug

[2019-12-21 08:26] Sora233 commented on #7270
It looks good.

Is there anyone working on this?

[2019-12-21 12:01] Arabus commented on #7219
Regarding the patching of helm deployment configmaps in helm v2 I created a shellscript for that (https://gist.github.com/Arabus/40ed5189e81fb10fc8a93f1f568aca65).

It's not perfect because you still need all kinds of tools installed, need to checkout protobuf and helm repos and in the end switch helms deployment information base to an 'incorrect state' i.e., the configmap is not consistent anymor

[2019-12-21 14:40] krish7919 commented on #5794
Please reopen this :)

[2019-12-21 16:23] bacongobbler commented on #5794
@krish7919 can you please give an update on your current thoughts on this ticket? It's been several months since there's been any activity in this ticket, and since this was opened, Helm 3 has been released, and with that there's been a number of improvements to the SDK. Have you had the chance to look at the SDK documentation yet and found anything that answers your question?

https://pkg.go.dev/

[2019-12-21 16:25] bacongobbler commented on #7270
Not currently, no. Feel free to pick this one up!

Closing as a duplicate of #2378. Thanks!

[2019-12-21 16:25] #7270 closed

[2019-12-21 16:25] #7282 closed

[2019-12-21 16:26] bacongobbler commented on #7282
yep, just looks like you had the arguments in the wrong order. For reference, `helm help install` mentions the argument list as

[code]

[2019-12-21 16:28] bacongobbler commented on #3276
that sounds more like `--set-file`, which already exists today. In your example, you'd use `--set-file certificate=/path/to/your/file`, then call `.Values.certificate` in your templates to access the file's data.

[2019-12-21 18:25] alonbl commented on #3276
Hi,
What I had in mind is like `-I` switch for `cc` or `-L` switch to `ld`, add additional directories into file search path.
Currently, only the chart directories are searched for files when iterating/reading **generic** files, while the requirement is to search out-of-tree files in the same manner.
For example, a chart may have a directory in which stores configuration files `*.yaml`, the chart

[2019-12-22 05:03] ls-tait-clarridge commented on #7100
I believe updating the dependency of oras to `v0.8.0` should fix the issue since it was updated in deislabs/oras#132

[2019-12-22 10:00] Cweiping opened #7287 "install/upgrade/rollback commend support add label flag"
I need to support add labels when I install / upgrade / rollback without modifying the contents of the template in the chart package.
The helm cli does not seem to support  label flag for install or upgrade and rollback.for example:
[code]
The same as kubectl.
`$ kubectl label pods foo  key1=vaule1,key2=value2
`

[2019-12-22 11:38] andrewnazarov commented on #6358
I've experienced this twice with v3.0.0. Image tags haven't been updated even though the releases was installed successfully.

[2019-12-22 23:04] macropin commented on #3215
I agree with @KapilJ22. An example wouldn't go astray.

[2019-12-23 06:39] JohanJermey opened #7289 "Helm 3.0.2 upgrade error"
Output of `helm version`:

3.0.2

Output of `kubectl version`:

1.15.7

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
aws

I was able to deploy chart of Prometheus operator successfully however when trying to upgrade I got the following issue?

`Error: rendered manifests contain a resource that already exists. Unable to continue with install: existing resource conflict: kind: PodSecurityPolic

[2019-12-23 10:12] ubaid-qureshi commented on #3055
Thanks mate, it works

[2019-12-23 13:26] stodge opened #7291 "Error: unknown flag: --namespace"
Output of `helm version`:

Client: &version.Version{SemVer:"v2.16.1", GitCommit:"bbdfe5e7803a12bbdf97e94cd847859890cf4050", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.16.1", GitCommit:"bbdfe5e7803a12bbdf97e94cd847859890cf4050", GitTreeState:"clean"}

Output of `kubectl version`:

Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.0", GitCommit:"ddf47ac13c1a9483ea0

[2019-12-23 14:13] marckhouzam commented on #7291
Hi @stodge. Welcome to three helm community.

Helm 2, which you are using, only partially uses namespaces.  The `install` and `upgrade` commands allow you to specify in which namespace to install your objects using a `--namespace` flag, but helm itself stores it's own release information outside the namespace.

This implies that when doing a delete you only need to specify the release name, no nee

[2019-12-23 14:13] #7291 closed

[2019-12-23 15:21] stodge commented on #7291
Thanks for your help.

[2019-12-23 15:30] waveywaves opened #7292 "Support passing token and api server to the cli"
### Feature Request
It should be possible for us to pass the token and apiserver info to the cli to target execution of commands via tokens and pointing specific clusters or kube masters respectively, as fashioned below
`helm install stable/mariadb --kube-token 1234aasfsadf --kube-server api.openshift.com/1234/qwer:6443`

[2019-12-23 15:56] martmists opened #7293 "Installing helm with gitlab fails: Not a valid chart repository"
[code]

[2019-12-23 16:05] thomastaylor312 commented on #7260
That is a good point about the SDK. I'll take a shot at it after the holidays

[2019-12-23 16:25] thomastaylor312 commented on #7293
Hi @martmists! It looks like that error is a little misleading. Based on what I am seeing in the logs and what I know of the code, it looks like you are having an issue connecting to the stable chart repo. This would indicate that it is a problem with your network or other configuration and not with Helm itself. I would try doing a `curl -vv https://kubernetes-charts.storage.googleapis.com/index.y

[2019-12-23 16:27] thomastaylor312 commented on #7289
@JohanJermey was there a PSP resource that already existed before you tried to upgrade your chart? Want to rule that out before anything else.

[2019-12-23 17:26] martmists commented on #7293
Hm, that works fine. I'll open an issue on Gitlab's repo instead!

[2019-12-23 17:26] #7293 closed

[2019-12-23 19:12] ppawel commented on #5952
With Helm 2 it is very useful to use something like `watch helm status <release>` to basically get the real-time progress of a release with only essential information displayed - no GUI noise (like with k8s Dashboard), no k8s events noise (like with `kubectl get events -w`).

You could say that this functionality is not really in scope for Helm but on the other hand the ability to "monitor" releas

[2019-12-24 03:38] jason-liew commented on #7289
[#6850 comment](https://github.com/helm/helm/issues/6850#issuecomment-566032294) may be helpful

[2019-12-24 06:00] ritwik-gopi commented on #7091
Facing same issue when trying to install aws-servicebroker with helm version 3

[2019-12-24 06:36] andrewnazarov commented on #6378
Same problem here. The thing is that we haven't touched the Service. It's Ingress that was changed before the upgrade.

[2019-12-24 07:15] Sora233 commented on #2378
Hi @bacongobbler
I am working on this now.
When I try to delete a deployment, I want to wait the pods controlled by the deployment until they all stop.
However those pods don't appear in the big chart manifest, I have no idea which label or selector I can use.
Any suggestions?

[2019-12-24 08:54] Naitreey opened #7294 "does helm handle RBAC objects by kubectl auth reconcile?"
This is just a question regarding Helm's handling of RBAC object manifests.

As pointed out by [kubernetes RBAC doc](https://kubernetes.io/docs/reference/access-authn-authz/rbac/#controller-roles) and `kubectl auth reconcile -h`, `kubectl auth reconcile -f` is a better way to create RBAC objects such as Role, RoleBinding, etc.

So I'd like to know how helm handles RBAC objects? Does it use somethi

[2019-12-24 09:10] dani8art opened #7295 ""--show-only" shows an error when the template is empty"
I get an error when using `helm template --show-only templates/test.yaml my-chart` and the manifest generated from this is empty, e.g:

1. Having a template in `templates/secret.yaml` and `values.yaml`:
[code]
[code]

2. Executing `helm template --show-only templates/secret.yaml my-chart` I get:
[code]

3. And executing `helm template --show-only templates/secret.yaml --set secret.enabled=true my-

[2019-12-24 11:22] alexandrsemak commented on #6378
It is affect on resources with immutable field if delete `--force` flag from `helm upgrade --install` and don't touch immutable field everything works fine. But if you want bumping apiversion of resources??? You need recreate resources but helm 3 won't  upgrade resources....
@bacongobbler ^^^

[2019-12-24 11:35] alexandrsemak commented on #7289
Same issue when try update already existing resources with new apiVesrion

[2019-12-24 11:40] alexandrsemak commented on #7289
Helm v3 can't also recreate resources if you change immutable field with `--force` flug as for helm v2 when can't patch resources helm v2 recreate resources if you use `--force` flug

[2019-12-24 12:54] ebuildy opened #7297 "Work with local chart dependencies easier"
-----

Output of `helm version`: 3
Output of `kubectl version`: 1.16
Cloud Provider/Platform (AKS, GKE, Minikube etc.): Kubespray on-premise

-----

FEATURE REQUEST: make easier the use of local chart.

Given a chart ``app`` that use a local chart ``nginx``,   ``Chart.yaml``

[code]

Where ``stacks/nginx`` is a chart created with ``helm pull bitnami/nginx   --untar`` (and modified).

**Error** Run

[2019-12-24 14:05] marckhouzam commented on #2378
@Sora233 I'm not familiar with this area but one possible investigation route would be to look at how the `helm install --wait` command determines what to wait for.

[2019-12-24 14:12] naseemkullah commented on #6378
@bacongobbler Thumbs down is great and all, but could you elaborate on it?

[2019-12-24 14:34] naseemkullah commented on #6378
@bacongobbler and @kritcher722 thumbs downed comment has been updated if you so wish to remove the thumbs down, however if still in disagreement kindly elaborate as to why it is a good idea to have `clusterIP: ""` in the rendered manifests.

[2019-12-25 05:30] Sora233 commented on #2378
@marckhouzam `helm install --wait` command watch the deployment until ready, that means all pods are good.
when run `helm uninstall`, deployment is deleted despit the pods.

[2019-12-26 00:11] placaze commented on #6964
These two commits introduced my issue: https://github.com/helm/helm/commit/572b92dc8aa4adf90337578a108ee5f4c501e3c6 & https://github.com/helm/helm/commit/1e20ebae35d17c94e77051044fee79913c2719ff

I made a quick build and I don't have the error anymore if I switch `true` to `false` on this 3 lines:
* https://github.com/helm/helm/blob/release-3.0/pkg/action/install.go#L229
* https://github.com/helm/

[2019-12-26 00:37] bacongobbler commented on #6964
We don’t support k8s 1.7. If you can point out the line in the documentation where we call that out, we would be happy to remove it.

As for disabling OpenAPI validation, see https://github.com/helm/helm/pull/6819. It’s not recommended for this use case, however.

I think you’re looking at the problem the wrong way though... From the original error message, it appears that you are trying to instal

[2019-12-26 21:11] deneuv34 commented on #6968
Hi @jlegrone, can I try solve this issue? 😃

[2019-12-26 22:39] guice opened #7299 "[Feature Request] helm package name should use --app-version"
This is a continuation of the helm install --app-version thread #3555.  RE: _@iorlas in https://github.com/helm/helm/issues/3555#issuecomment-549582383_

To avoid all confusions, assuming:

* A helm package is meant to be the "rpm" of an k8s application
* Chart.version is meant to be the version of chart files (i.e. the yamls)
* Chart.appVersion is version of the application - locking "this" .tgz

[2019-12-27 08:42] ywk253100 commented on #6324
@pytimer Could you confirm in which release version the fix will be available?

[2019-12-27 08:45] ywk253100 commented on #6324
And I cannot save a chart with name contains colon:
[code]
Is this a same issue? If isn't, I'll open another one

[2019-12-27 11:27] svcua commented on #7274
I have caught the same bug.
@avarabyeu `--wait` does not affect
@bacongobbler To reproduce try run `helm upgrade` on the different environments(in my case it is gitlab-ci runner's pods) in one time to upgrade the same release

[2019-12-27 17:31] oguzyildiz1991 opened #7300 "Feature request: Warn users for known bugs/regressions"
Hi, I thought of this after spending many hours because of this:
https://github.com/helm/helm/issues/6708 (I'm new at helm, so I just assumed I did something wrong, instead of looking for known helm issues)

I thought, it would be nice if helm had some kind of scripts that warns people that have the problematic versions for this kind of stuff when there's a case that will reproduce the bug. It cou

[2019-12-27 19:47] antonakv commented on #6850
I have the same issue. Production env is blocked and not possible to fix.
$ helm version
version.BuildInfo{Version:"v3.0.2", GitCommit:"19e47ee3283ae98139d98460de796c1be1e3975f", GitTreeState:"clean", GoVersion:"go1.13.5"}
Error: UPGRADE FAILED: rendered manifests contain a new resource that already exists. Unable to continue with update: existing resource conflict: kind: Service, namespace: mynam

[2019-12-27 23:08] unacceptable opened #7301 "Feature request: `helm list --updated +7d`"
It would be nice if we could sort updated charts by date of creation or date updated.

Some examples would be:

[code]

[code]

I can provide use cases if desired.

[2019-12-27 23:18] unacceptable opened #7302 "`helm list --date` does not work with `--chart-name` flag"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
AWS (EKS)

I have tried various order of this command, but cannot get the result to sort by date:

[code]

Sadly I have been unable to test this in the latest release yet (unacceptable).

[2019-12-28 06:31] chainhead opened #7303 "Feature Request : Allow scripts to generate YAML instead of limiting to templates."
# Current installation mechanism
The installation of a chart follows these steps:

1. Use values and templates to generate YAML specific for that installation.
2. Pass the generated YAML to `kubectl`.

To generate the YAML, Go templates are used. Personally, I think, a package management tool, such as Helm, should focus on the management of installation/uninstallation, dependency management, packa

[2019-12-28 08:20] finkr opened #7304 "bash completion: tail: cannot open ‘+2’ for reading: No such file or directory"
When using bash completion feature, I get the error:

    tail: cannot open ‘+2’ for reading: No such file or directory

The bash completion ( https://github.com/helm/helm/pull/6730 ) has an issue because it uses "tail +2" which isn't supported by coreutils-8.22-24.el7 (RHEL/CentOS) implementation of the command tail. The tail [specification](https://pubs.opengroup.org/onlinepubs/009695399/utiliti

[2019-12-28 09:22] jjangga0214 opened #7305 "Let's enable .Files.Get to read arbitrary file by external relative path"
Let's enable `.Files.Get` to read arbitrary files by relative path, even outside of the chart.

[code]

In the example above, I want to use an external file(`foo`) as a secret, but I don't want it to be in the chart.

[2019-12-28 09:29] bacongobbler commented on #7305
duplicate of https://github.com/helm/helm/issues/3276.

[2019-12-28 09:29] #7305 closed

[2019-12-28 09:32] Sammy2005 opened #7306 "All helm installations create pods that are pending and never get ready"
Output of `helm version`:
`version.BuildInfo{Version:"v3.0.2", GitCommit:"19e47ee3283ae98139d98460de796c1be1e3975f", GitTreeState:"clean", GoVersion:"go1.13.5"}`

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
Digital ocean.

I have tried installing jenkins on my vm with helm but everytime the pod never gets ready. Am not able to describe the pod as well th

[2019-12-28 14:46] chainhead commented on #5145
@MirzaMerdovic  how did you get this working eventually?

[code]
I have a similar requirement, where I need to pass `kubectl ...  -o jsonpath= ...`.

[2019-12-28 14:49] chainhead commented on #5145
@bacongobbler any implication of removal of Tiller in Helm 3 on the statement below?

[2019-12-28 16:19] bacongobbler commented on #7306
You can inspect your pod’s status with `kubectl describe pod jenkins-84c4dfff9d-drrnp -n jenkins`. Does the pod status show why it’s in a pending state?

Helm does not directly manage the state of the pod - it just supplies patch sets to Kubernetes and leaves the reconciliation to Kubernetes.

[2019-12-28 16:33] marckhouzam commented on #7304
I was afraid some shell differences would start showing up to cause trouble.

@finkr would you be interested in posting a PR?

[2019-12-28 17:20] Sammy2005 commented on #7306
The command shows nothing with an error that the pod doesn't exist

[2019-12-28 17:23] Sammy2005 commented on #7306
I have installed helm 2 as a quick fix only to land to this problem [#6935](https://github.com/helm/helm/issues/6935)

[2019-12-28 17:24] Sammy2005 commented on #6935
Hi @empikls did you solve the problem. I have the same error on running any helm command such as `helm list`

[2019-12-28 18:01] finkr commented on #7304
Yes, i will

[2019-12-28 19:38] bacongobbler commented on #7306
If the pod no longer exists, it's likely flapping. The Deployment resource manages and re-creates new pod to try and bring the workload into a working state.

Check the status of the deployment managing those pods using `kubectl -n jenkins describe deployment jenkins`.

[2019-12-28 20:17] marckhouzam commented on #7304
@finkr To be transparent: I'm working on a proposal that will completely remove the code affected.  However your PR would still be useful for the bug releases leading up to helm 3.1 and, of course, in the case my proposal is not accepted.

[2019-12-29 01:35] jjangga0214 commented on #6251
@bacongobbler

This is a very simple example I experience.

[code]

[code]
system info: ubuntu 19.04, 64 bits

[code]

[2019-12-29 10:07] Sammy2005 commented on #7306
I had tried that as well it also says that the pod does not exists

[2019-12-29 15:34] Sammy2005 commented on #7306
This is the error I get
[code]

[2019-12-29 16:31] Sammy2005 commented on #7306
I solved the issue by following this guidline https://github.com/kubernetes/kubernetes/issues/39557#issuecomment-271944481
turns out it was a network issue with flannel

[2019-12-29 16:31] #7306 closed

[2019-12-30 06:22] TBBle commented on #7299
If this was the case, you couldn't iterate on charts unless there's also upstream changes to bump the version. This would render https://github.com/helm/charts/ impossible to deliver.

*If* your Helm charts are part of the project they deliver, then the `version` and `appVersion` should be the same (except the latter's a string). This is the case for Agones, for example, as well as the Helm charts

[2019-12-30 06:32] TBBle commented on #7294
Per the source it appears to do creation with the [equivalent of `kubectl create`](https://github.com/helm/helm/blob/master/pkg/kube/client.go#L314), and updates with the [equivalent of `kubectl patch` unless specifically told to `kubectl replace`](https://github.com/helm/helm/blob/master/pkg/kube/client.go#L400).

[2019-12-30 06:34] TBBle commented on #7297
Interesting. That's working with apiVersion 1 charts using the same trick in requirements.yaml.

[2019-12-30 06:44] TBBle commented on #7297
[code]
worked for me in this case.

However, I had to change the version, as you've used the appVersion in your dependency, not the chart version, which is currently 5.1.1.

[2019-12-30 06:53] JasonRD opened #7308 "without manifest output when debug with options --dry-run"
Without resulting manifest file output, when use flags --dry-run to debug templates, in which there are some template failed to render or validated failed by kubernetes.

When I follow Debugging Templates, to debug my templates, using command ``helm install --dry-run --debug xxx xxx``.  I get follow errors:

``
[root@55194dbd9987 test]# helm install --dry-run --debug  test ./
install.go:148: [debu

[2019-12-30 06:53] JasonRD opened #7309 "without manifest output when debug with options --dry-run"
Without resulting manifest file output, when use flags --dry-run to debug templates, in which there are some template failed to render or validated failed by kubernetes.

When I follow Debugging Templates, to debug my templates, using command:
 ```helm install --dry-run --debug xxx xxx```
I get follow errors:

[code]

I know my charts with something wrong with it, but without manifest output I can

[2019-12-30 07:27] TBBle commented on #6928
I guess this is a duplicate of #3911, which needs a v2.x flag since in Helm v3, the equivalent of the Tiller namespace (where the release metadata is stored) is [the same as the release's target namespace](https://helm.sh/docs/faq/#release-names-are-now-scoped-to-the-namespace).

And v2.x is closed for features, per [Support Contract for Helm 2
](https://github.com/helm/helm/blob/master/CONTRIBUTI

[2019-12-30 07:28] TBBle commented on #3911
This feature request only applies to Helm v2, and that's closed for new features.

[2019-12-30 10:56] JasonRD commented on #7308
/close

[2019-12-30 10:56] #7308 closed

[2019-12-30 11:08] ebuildy commented on #7297
Yes exactly, I have to bump versions AND remove ``./charts/nginx.tar.gz`` which can be very long in a development phase.

What about a kind of "symlink" / "mirror" instead of creating a tar.gz release of the sub-chart ?

[2019-12-30 11:31] rmetzler commented on #6969
@travisghansen thank you very much! In my case the error message was:

[code]

I deployed with `helm install --replace --name $RELEASE` and then removed all older configmaps from the `kube-system` namespace. The next deployment with `helm upgrade --install` worked for me.

[2019-12-30 13:36] Tzahif opened #7310 "helm 3.0.2 SDK - example of install from remote repository"
Hi,

I want to use the SDK (go client) to install charts from remote repository.
Does anyone have example for this?

to be clear:
I want to do this steps, in code:
1. helm repo add stable https://kubernetes-charts.storage.googleapis.com/
2. helm repo update
3. helm testMysql install stable/mysql

will appreciate any help!

[2019-12-30 14:53] assafridman opened #7311 "Helm Wrong error on bad permission"
**helm version:** v2.12.3

**kubectl version:** Client: v1.12.2 , Server: v1.12.8

**Cloud Provider/Platform:** AWS / KOPS

**Issue**: Wrong error message when bad permissions on chart files

while running :

i got an error:

Running the same command with debug gave the following insight:

this is because the file was owned by the CI user .

Expected behaviour:
Error: failed to download "mycopmany

[2019-12-30 15:04] guice commented on #7299
Hmm. This is where things start coming at odds with each other when you start tying the `appVersion` to a Docker tag (a logical association). This is where we're having trouble, i.e. the dev scenario I mentioned above. Since `version` must be a SemVer, we simply cannot use Docker tags as a Chart `version`.

How do we create a visual version difference to the developers when `appVersion` isn't appa

[2019-12-30 15:20] #3911 closed

[2019-12-30 15:58] sergioisidoro commented on #6850
Also bumped into this problem.

After migration to v3, I'm unable to update charts, using the `helm-v2-to-helm-v3/` plugin:

`
Error: UPGRADE FAILED: rendered manifests contain a new resource that already exists. Unable to continue with update: existing resource conflict: kind: Deployment, namespace: default, name: grafana-main
`

This would be totally understandable if would have happened in a be

[2019-12-30 16:22] bacongobbler commented on #7311
marking as a feature enhancement to improve the error message in this particular case.

[2019-12-30 16:23] bacongobbler commented on #7310
Have you had a look at the go doc reference? Have a look at the `action` package for some ideas. [cmd/helm](https://github.com/helm/helm/tree/master/cmd/helm) is a good place to look in the code base as well, as that's where the CLI implementation resides.

https://pkg.go.dev/helm.sh/helm/v3

Hope this helps

[2019-12-30 16:26] bacongobbler commented on #7309
marking as a feature request to improve this case. @JasonRD can you share your chart so we can have a look? It looks like the `kind` (e.g. "Deployment", "ReplicaSet") is not defined in one of the templates.

[2019-12-30 16:35] bacongobbler commented on #7303
If I'm understanding correctly, this basically sidesteps all of Helm's template logic in favour of shell scripts. This sounds like a completely different model than what users have been asking for: new alternative template engines, or new ways to tie pre-render and post-render steps into the rendering process.

How do we protect against remote shell execution? If a user fetches the chart from a re

[2019-12-30 16:37] bacongobbler commented on #7302
Hi @unacceptable. Can you please test this with a more recent version? This has been fixed in Helm 3, but it'd be great to verify if this has been fixed for Helm 2. Are you working on a patch for this?

[2019-12-30 16:39] bacongobbler commented on #7300
how do you propose we support this from a technical standpoint? Are you actively looking into this, or just interested in the thought experiment? Are there prior projects where this has been proven to work?

[2019-12-30 16:40] bacongobbler commented on #7299
Please keep the conversation going in #3555. That way the rest of the community interested in the discussion can follow along without having to follow multiple threads. Thanks.

[2019-12-30 16:40] #7299 closed

[2019-12-30 16:41] bacongobbler commented on #7297
Hi @ebuildy. Have you looked into this and saw if this idea is feasible or not? Curious to hear your thoughts. Thanks.

[2019-12-30 16:43] bacongobbler commented on #7294
@TBBle's assumption is correct. We handle all objects the same.

Is there a difference in the way `kubectl auth reconcile` works compared to `kubectl patch`? Let us know what you find out @Naitreey. Thanks.

[2019-12-30 16:44] bacongobbler commented on #7292
duplicate of https://github.com/helm/helm/issues/5159

[2019-12-30 16:44] #7292 closed

[2019-12-30 16:53] bacongobbler commented on #7287
Duplicate of https://github.com/helm/helm/issues/1950. Please check the issue queue before opening a new ticket. Thanks!

[2019-12-30 16:53] #7287 closed

[2019-12-30 17:05] iorlas commented on #7299
@bacongobbler I guess it is an attempt to split the discussion into multiple sub-topics. #3555 covers more than just a flag question.

This issue covers package naming issue, which is a side-question, although related to the whole versioning epic, could be covered aside.

Do you suggest to come up with whole picture of versioning first, in #3555, then providing a proposal covering all the pieces?

[2019-12-30 17:17] guice commented on #3555
As requested, I'm going to include my last reply from the previous thread for others to view

---
Hmm. This is where things start coming at odds with each other when you start tying the `appVersion` to a Docker tag (a logical association). This is where we're having trouble, i.e. the dev scenario I mentioned above. Since `version` must be a SemVer, we simply cannot use Docker tags as a Chart `vers

[2019-12-30 17:52] bacongobbler commented on #7299
yes.

[2019-12-30 18:37] parinapatel opened #7313 "Merge does not overwrite booleans"
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]

Context :
I am trying use merge capability for dict in template. Merge works perfectly as expected but during boolean values it fails in certain case.
values:
[code]

test-connection file :
[code]

expected output :
[code]

Buggy output :

[code]

[2019-12-30 19:20] max-gotlib commented on #5825
I'm affected by the same issue (pre-rollback hook "taken" from the "target" version for the rollback). Is there any progress?

[2019-12-30 19:29] mikeshng opened #7314 "Is there support for multiple "urls" in the index.yaml?"
Hi,

Looking at the example at https://helm.sh/docs/topics/chart_repository/#the-index-file
There seems to be an intention to support multiple URLs. For example:
[code]
But when I look at the code https://github.com/helm/helm/blob/master/pkg/downloader/chart_downloader.go
There is a `TODO: Seems that picking first URL is not fully correct`
So it seems like only the first entry is actually being us

[2019-12-30 19:38] oguzyildiz1991 commented on #7300
I was just thinking about it, I thought you folks would probably come up with a good way to achieve this. I'm not familiar with this product that much 🤷‍♂

[2019-12-30 20:39] bacongobbler commented on #7314
The `urls` field was originally designed as a place for mirror URLs.

On the client side, there were open design questions over how Helm would handle package resolution for HTTP 300-599 requests. There were also open questions about how one would add mirror URLs to the index with `helm repo index`, so the client was originally designed to support one URL.

When the chart repository API was first d

[2019-12-30 20:48] bacongobbler commented on #5825
I'm pretty sure this is the intended behaviour from Helm's architecture. `helm rollback` works the same as `helm upgrade`: on upgrade (rollback), it runs the hooks from the target release. Hooks from the "source" are ignored.

Here's `helm upgrade`'s implementation:

https://github.com/helm/helm/blob/1ff8272748592dd05a87eb9b73e12b361898283f/pkg/action/upgrade.go#L235-L242

And here's `helm rollbac

[2019-12-30 20:54] bacongobbler commented on #7313
See https://github.com/helm/helm/issues/5238. Use the `mergeOverride` function when dealing with boolean values. There are semantic differences when merging truthy values together that require being handled in a different way.

Thanks!

[2019-12-30 20:54] #7313 closed

[2019-12-30 22:29] sukhong opened #7315 "Backport three-way merge patch into helm 2?"
I found out that a fix for using three-way merge patch strategy (https://github.com/helm/helm/pull/6124) was only included for helm 3.

Can we backport this fix into helm 2 as well for those who cannot upgrade to helm 3?

[2019-12-30 23:35] ecout commented on #6453
I've only installed this plugin:
` helm plugin install https://github.com/hypnoglow/helm-s3.git
Error: Unable to update repository: exit status 1`

Searching for the error above brought me here:
As you can see I'm getting the same problem.

I've tried Helm 3.0.2 from direct download and from homebrew on High Sierra. Behavior is the same.
According to v3 these are the directory locations for local

[2019-12-31 00:53] davidxjohnson commented on #2332
If the configmap size for a release is too large to retrieve, it may that the `tgz` package is being included in the configmap. If you do not add `*.tgz` in the `.helmignore` file of the chart directory, the configmap will grow in size along with the tgz file.

In other words, each `package` command will include the previous package file (if present) if you do not add `*.tgz` to `.getignore`. The

[2019-12-31 01:03] sjthespian commented on #2332
Unfortunately that wasn't the case, we made sure the packages were included long ago. This is just an application (that isn't our problem anymore, btw :) ) that released many times every day and created huge configmaps in the kube-system namespace for storing the helm release information.

[2019-12-31 02:01] bacongobbler commented on #7315
We are no longer accepting new features for Helm 2. The code involved to introduce a three-way merge patch strategy would be considered a breaking change to the current behaviour anyways. Sorry!

[2019-12-31 02:01] #7315 closed

[2019-12-31 07:38] Cweiping commented on #7287
Sorry,I got it.

[2019-12-31 08:48] Tzahif commented on #7310
i had a look at the docs.
i am looking for more complete code example if someone can help

[2019-12-31 09:48] fenixam opened #7317 "Allow deploy secrets without list permission for it"
Output of `helm version`:
v3.0.0
Output of `kubectl version`:
oc v3.11.135
kubectl v1.11.0
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
OpenShift 3.11 on premise

Acccording to company policy it is not allowed to list/describe secrets but it is allowed to create/edit/delete.

In that scenario helm deployments with secrets is failing due to missing list RBAC permission:
helm upgrade --install

[2019-12-31 10:24] fradeve commented on #6894
I have been hit by this. I am not sure if this help, but in my case I can confirm that upgrading to 2.16.1 fixed my issue.

We are on Kubernetes 1.12.10-gke.17, and in order to get around this bug I had to upgrade both Helm and Tiller to 2.16.1.

[2019-12-31 10:51] empikls commented on #6935
Hi!

Yes, sure . Problem was in temporary inactivity k8s network.
I use terraform and when cluster is created it need more time for create network policy and port forwarding .
You can add check for ready network plugin and others policies .

[2019-12-31 12:28] max-gotlib commented on #5825
@bacongobbler I understand the intention, but it looks a bit illogical:
- there was a version transition: A -> B
- now a B -> A rollback is being processed
- changes, introduced with version B, are handled by A-version hook.

[2019-12-31 12:53] alexandrsemak opened #7318 "Helm 3 alternative namespace for Release"
Hi guys,

Is it possible to save release not in the same namespaces with deployment.. etc.. ?
We have 50 services installer via helm in dev/stage which also has own service's secret and now it is looks messy.

Can we optionally save release(secrets) in specific namespace ?

[2019-12-31 15:03] mikeshng commented on #7314
Thanks for the clarification.

[2019-12-31 15:03] #7314 closed

[2019-12-31 15:39] bacongobbler commented on #7317
In order for Helm to determine the next release version, it needs to perform a lookup in its backend for the latest deployed version. This is required to generate the merge patch between the source and the target release.

https://github.com/helm/helm/blob/38670ebe3dfa5e8f61f58a0bd66098b7a0e9da77/pkg/action/upgrade.go#L122-L123

If you don't have the capability to list secrets, then Helm will be u

[2019-12-31 15:39] #7317 closed

[2019-12-31 22:47] marckhouzam commented on #7304
Thanks @finkr for reporting and fixing this bug!

[2019-12-31 22:47] #7304 closed

[2019-12-31 23:32] marckhouzam commented on #7304
I've created a PR to the https://github.com/helm/acceptance-testing repo to make sure completion continues to work as expected on centos: https://github.com/helm/acceptance-testing/pull/67

[2020-01-01 13:32] antonakv commented on #6378
Looks like Microsoft is mentor of project. I see style. :)

[2020-01-01 13:34] antonakv commented on #6378
Please reopen. Issue is not fixed. This "hack" suggested by nasseemkullah is not appropriate. Don't ask people to jump on heads. Just fix it. Very poor migration path. Helm sucks.

[2020-01-01 17:12] cristiklein commented on #6031
This seems to be caused by Tiller's database getting corrupted. For example, on one of my clusters:

[code]

In other words, Tiller's internals might take either v99, v206 or v207 as the DEPLOYED version, which leads to the error above.

I ended up (brutally) deleting the extra CMs: `kubectl delete -n kube-system cm bar.v99`.

[2020-01-01 19:32] naseemkullah commented on #6378
@antonakv what a way to start the year :)
I think in general we are playing with fire when providing clusterIP as a configurable value in a chart, and cannot totally blame one tool/person/PR in particular.
If clusterIP needs to be a configurable value, by default it should not be in the rendered template, that's the idea of my commenting out in the values files as per https://github.com/helm/chart

[2020-01-01 22:13] cristiklein commented on #7274
I believe the users in #6031 stumbled across the same root cause (albeit in Helm 2). In certain cases, multiple Releases may show up as DEPLOYED, which may cause various problems.

[2020-01-01 22:28] marckhouzam opened #7321 "Proposal: Auto-completion in Go instead of bash"
The [cobra project](https://github.com/spf13/cobra) provides ways for Helm to perform custom auto-completions (e.g., `helm status <TAB>` or `helm status --namespace <TAB>`) (see Cobra's [bash_completions.md](https://github.com/spf13/cobra/blob/master/bash_completions.md) for details).

The problem is that these methods require Helm to inject shell scripts into the global auto-completion script.  S

[2020-01-01 22:36] cristiklein commented on #7274
I managed to reproduce this bug with Helm (v3.0.2) as follows:

[code]

While the last command executes, in a different terminal, wait for `pending-upgrade` status, then type:

[code]

The two `helm upgrade` commands must run in parallel. `helm history foo` will look as follows:

[code]

[2020-01-01 22:38] marckhouzam commented on #7321
Ultimately I'd like to push this down to Cobra. However to get the benefits faster, I suggest starting in Helm.  I will be posting a PR very soon.

[2020-01-02 03:26] kiddingl opened #7324 "Error: forwarding ports: Unable to listen on any of the requested ports: [{35563 44134}]"
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
#### My helm client have break down when I use command “helm ls or helm install”

[2020-01-02 07:29] #7324 closed

[2020-01-02 07:30] kiddingl commented on #7324
I solved the problem through reboot

[2020-01-02 09:30] jianzzz opened #7325 "helm3.0.0 fetch command produces waste"
Output of `helm version`:
3.0.0

`helm fetch xxx` produces temporary index.yaml under ~/.cache/helm/repository/, and there was no automatic cleaning of it.

[2020-01-02 10:27] com30n commented on #5595
What do I have to do if downtime is not accepted?
[code]

[2020-01-02 11:26] Annegies commented on #6850
Also having the same problem when upgrading a resource to a new api version using helm3.

For the time being, we're in need of a clean workaround as well. Deleting the old resource isn't really an option for our production workloads.

[2020-01-02 12:01] tamalsaha opened #7326 "(feat): helm 3 template is missing --kube-version flag"
helm 2 template has --kube-version flag. But helm 3 seems to be missing it. This flag is necessary to optionally remove features from old version of Kubernetes.

Can this flag be added back?

[2020-01-02 14:20] pevers commented on #7023
I tried to come up with a fix @carrodher: https://github.com/helm/charts/pull/19832

[2020-01-02 16:35] half2me commented on #7088
I had a similar issue with my chart, where my stupid use of whitespace trimming led to bad Yaml outputs. The problem is, its really difficult to diagnose where the problem is, because instead of giving you the bad yaml, which you could immediately run through a yaml parser, and see your error, it just tells you what file the error is on, and gives you a line number, which could be in any number of

[2020-01-02 17:36] cristiklein commented on #7285
Hi @hidalgopl ,

I looked briefly into how to implement this. Since Helm uses `text/template`, specifically `ExecuteTemplate`, to render templates, I would first extend that package to return the list of used variables. Otherwise, Helm would need to reimplement a lot of the logic of walking the template Tree. So I would proceed as follows:

1. Add to `state` a map of used variables: https://golang

[2020-01-02 18:44] darkstarmv commented on #7275
add diff run and replace `dry-run` https://github.com/target/impeller/pull/8
note `+ Changes suppressed on sensitive content of type Secret`

[code]

[2020-01-02 19:10] jlegrone commented on #7260
engine dependencies. This is less than ideal and will likely lead to less
reuse and a poor user experience

This is an important point. Multiple users working on the same helm release would need to coordinate to ensure that they are using the same version of the renderer in order to get the same outputs. One way to avoid this would be to use a container-based plugin system, where a renderer is an

[2020-01-02 19:33] thomastaylor312 commented on #7260
@jlegrone So I haven’t updated the issue to take our discussion in the last dev call of 2019, but everyone was in favor of removing the checks that I have in code (they were a little too much). So I am all up for ways to make things more repeatable with it. However, I want SDK and other scripting users to not need something like a docker container.

Another idea I just had (just spitballing here)

[2020-01-02 19:46] jlegrone commented on #7260
We would need to account for different platforms and multiple versions required by different charts, which might be a little tricky. But this would be valuable.

I agree the downsides to requiring a docker daemon are huge. Also spitballing here, it would be interesting to combine something like https://github.com/wasmerio/go-ext-wasm and https://github.com/engineerd/wasm-to-oci to get the same ben

[2020-01-02 20:20] ecout opened #7328 "Helm 2: plugins directory must be created manally"
Output of `helm version`: `Client: &version.Version{SemVer:"v2.16.1", GitCommit:"bbdfe5e7803a12bbdf97e94cd847859890cf4050", GitTreeState:"clean"}`

Output of `kubectl version`:  `Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.8", GitCommit:"211047e9a1922595eaa3a1127ed365e9299a6c23", GitTreeState:"clean", BuildDate:"2019-10-15T12:11:03Z", GoVersion:"go1.12.10", Compiler:"gc",

[2020-01-03 00:13] bacongobbler commented on #7328
Hi @ecout. You are correct in that the directory must be created before running `helm plugin install`. You can run `helm init --client-only` to create this directory for you.

In Helm 3, we were able to refactor a large portion of the backend that allows Helm to create the plugin directory if it does not already exist when calling `helm plugin install`. Unfortunately, the work involved to backport

[2020-01-03 03:20] chainhead commented on #7303
'sidesteps'....I think, I will use the word 'adds on'. :)

Shell scripts, high level languages are options. I could have an API end-point that takes in a payload and returns a YAML. The option of API end-point can also handle payment related requirements too.

Would this be considered remote shell execution too? `curl https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 | bash`

B

[2020-01-03 04:13] TBBle commented on #3555
Since you're quoting [my comment on #7299](https://github.com/helm/helm/issues/7299#issuecomment-569594446), I'll clarify "It couldn't" as "It didn't" (and maybe still doesn't).

For .deb and .rpm packages, the version string is split in specific ways (by hyphens), but they do not have a semantic meaning such as "This is API-compatible with that" and so you cannot generate an expression like "Give

[2020-01-03 04:45] TBBle commented on #7297
Huh, weird you had to remove nginx.tar.gz. I expected it would replace it every time, I'm sure that's what happened last time I used this workflow. I was just running `helm dep up` though, as skaffold was monitoring the directory and redeploying once that was done.

[2020-01-03 04:49] TBBle commented on #4390
You shouldn't need multiple entries to make the aliases work. Our project has the same chart used by different charts, all of which set an alias for it to get their own version.

It works fine, but we use packages rather than extracted-source in the charts/ folder, in case that makes a difference.

[2020-01-03 04:53] TBBle commented on #3555
On the general topic, the way we're using Helm charts for our product is for packaging our various services. The Docker images are however a mere artifact, and their naming is driven by the service version, for which we've adopted SemVer because they offer APIs.

Our CI pipeline turns git repos of code and related scripts, and produces Helm charts that can be installed, and happen to reference Doc

[2020-01-03 04:58] TBBle commented on #3555
Having just flicked back up the discussion, the idea that `appVersion` is related to Docker image metadata definitely doesn't fit our use-case, as at least some of our charts (the ones our users primarily deal with) do not contain Docker images, being mostly hosts for shared resources (e.g., JWT public keys, `values.yaml`) plus a `requirements.yaml` to pull in other charts.

[2020-01-03 05:28] guice commented on #3555
I'm not saying that was _the_ intended use. I merely stated it's a logical association. You are still using `appVersion` as a "logical container" of your internal yamls.

I still don't know how locking `version` to SemVer has any benefits. Could helm just parse-test `version` (and `appVersion`) and proceed from there?

[2020-01-03 05:38] chainhead commented on #7303
I read through the proposal #7260 (referred to in #7259).

That proposal refers to a Helm template as an input.

specified user values. Once this is done, but before parsing the manifests into
Kubernetes objects, helm will execute the binary and pass the charts on STDIN.
It will expect a 0 exit code with valid Kubernetes manifests on STDOUT.

My request is about to generating YAML through options

[2020-01-03 06:01] GameBelial commented on #4174
@illinar +1，This method solved my problem。

[2020-01-03 06:28] TBBle commented on #3555
I guess my point was we're *not* using `appVersion` at all, it's usually not present in our Chart.yaml, and when it is present, it's identical to `version`.

The benefit of locking `version` to SemVer is that you can use the various SemVer operators on it, and reliably parse it to produce orderings and matchings by install.

The RPM and DEB packaging systems have the same thing, except that their

[2020-01-03 06:57] TBBle commented on #7233
I assume the root cause for this issue was the change in hashing mechanism introduced to fix #2731?

Perhaps the API-stablest approach would be to teach `HashReq` to generate the right kind of hash depending on the chart version?

However, that would reintroduce #2731 into APIVersionV1 charts in Helm v3, so it might be better to treat those older hashes as legacy. They would be accepted during `he

[2020-01-03 10:07] swapnildahiphale commented on #2798
This didn't work for me.
After banging my head for 2 days was able to make following work!

`
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "fullname" . }}-rules
  labels:
    chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
    role: {{ template "fullname" . }}-rulefiles
    prometheus: {{ template "fullname" . }}
data:
  {{- (.Files.Glob "files/kubernetes.rules").

[2020-01-03 10:44] HerrTamm commented on #6378
We have the same problem. We don't define `clusterIP` at all in our chart and it is not present in the final template. However, we still get the same error and only with `--force` flag.

[2020-01-03 11:44] deiga commented on #7049
@marckhouzam It seems like `-A` still didn't make it into the release. When can we expect this to be released?

[2020-01-03 12:16] marckhouzam commented on #7049
@deiga Looking at #6848 it is aimed at the 3.1 release. There's no official date for 3.1 but I've seen someone suggest some time in January.

[2020-01-03 14:20] restlessankyyy opened #7330 "Unable to install helm on Ubuntu Subsystem for Linux"
Hi I am unable to install helm on Ubuntu Subsystem for Linux. Please help

Below is the error.

 **curl -L https://git.io/get_helm.sh | bash
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
curl: (60) SSL certifi

[2020-01-03 14:39] bacongobbler commented on #7330
Can you try the download URL recommended in the documentation?

[2020-01-03 15:27] restlessankyyy commented on #7330
I tried this already

 wget  https://git.io/get_helm.sh | bash
--2020-01-03 15:16:52--  https://git.io/get_helm.sh
Resolving git.io (git.io)... ::ffff:146.112.252.226, ::ffff:146.112.56.222, ::ffff:146.112.56.186, ...
Connecting to git.io (git.io)|::ffff:146.112.252.226|:443... connected.
ERROR: cannot verify git.io's certificate, issued by ‘CN=Cisco Umbrella Secondary SubCA lon-SG,O=Cisco’:
 Unab

[2020-01-03 16:28] guice opened #7331 "Helm `default` shouldn't dive into non-existing objects"
When using the following checks in the template, you get undefined interface when you really expect for a waterfall "exists" check:

[code]

If you don't define `fpm.service` within your values file, Helm will fail with:

[code]

Expected behavior would be to stop at `.Values.fpm.service` check and default to "NodePort".

I do understand this may be more in the Go language behind it ... but, thoug

[2020-01-03 17:09] particledecay commented on #7086
I'm having the same issue here. It doesn't seem to be looking at my current context.
![Selection_628](https://user-images.githubusercontent.com/685255/71737390-83e76580-2e21-11ea-8c7a-1965e8678ba9.png)
You can see that helm doesn't reach the cluster until I explicitly provide the config file that contains my current context.

If it helps, I have multiple files within the `~/.kube` directory and my

[2020-01-03 17:49] bacongobbler commented on #7330
Can you please try the instructions following the documentation: https://helm.sh/docs/intro/install/#from-script

Is there a place where git.io is recommended in the documentation? It’s not a URL I’ve used before. That’s a github asset, right?

Try the raw github URLs listed in the documentation and see if you see an improvement.

[2020-01-03 17:50] bacongobbler commented on #7330
Also check and ensure you have the proper CA certificates installed on your machine. Should be `apt install ca-certificates`.

[2020-01-03 18:31] alex88 commented on #5595
for now I just use helm to generate the templates and I manually save them locally and apply

[2020-01-03 20:48] pranay123111 opened #7333 "Can we install helm using terraform in Azure? If yes can you please connect to reference document"
Output of `helm version`:

Output of `kubectl version`:

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

[2020-01-03 21:50] bacongobbler commented on #7333
like this? https://www.terraform.io/docs/providers/helm/index.html

[2020-01-03 22:24] youurayy commented on #6850
Helm 3.0.2. Can't deploy or even rollback when the previous deploy changed the number of deployments (removed or added a Deployment). Fails with error:

**Error: no Deployment with the name "server2" found**

Extremely frustrating.

[2020-01-03 22:41] #7173 closed

[2020-01-03 22:47] bacongobbler commented on #6850
I agree. It's a frustrating point of view from the Kubernetes API point of view.

If anyone is aware of a a solution within Kubernetes that allows one to upgrade apiVersions without having to re-create the object, we'd love to hear about it. We are currently unaware of an API endpoint available for third party tools like Helm to "convert" an object from one apiVersion to the next.

The only option

[2020-01-03 22:52] bacongobbler commented on #7219
thanks @Arabus.

@curtisr7 does the shell script provided above solve your issue?

[2020-01-03 22:52] sesquipedalian-dev commented on #1892
Now that Helm 3 is released, I'm trying to do this with a library chart and it doesn't seem to be working.  I still get the error:
[code]
Was the 'hoisting' thing mentioned here (https://github.com/helm/community/blob/master/helm-v3/001-charts.md#the-ext-directory) implemented?

[2020-01-03 22:56] bacongobbler commented on #1892
Library charts were implemented, yes. @hickeyma gave a talk about this feature at Helm Summit EU. You can find the recording on YouTube if you want to learn more about it.

[2020-01-04 00:03] curtisr7 commented on #7219
@bacongobbler - I haven't tried the shell script. I ended up prototyping (and will go forward with) a go based command that calls helm via vendored dependency to essentially do the same thing.

[2020-01-04 02:07] mltsy commented on #3156
Note, for posterity: helm-diff does seem to work with repository charts now :wink:

[2020-01-04 03:41] jamshid commented on #2773
It's funny that the package manager for kubernetes is not available to package managers for linux as a deb or rpm?
Hopefully someone in the community does set that up. Some people and places frown on unmanaged linux binary installs.
FWIW it is available on snap:
https://snapcraft.io/install/helm/ubuntu
which seems to be a cross-linux package manager:
https://snapcraft.io/docs/installing-snap-on-ce

[2020-01-04 05:25] anshudutta commented on #5080
I am not sure why this is closed. This is a bug in helm client. The wildcard domains should be specified in yaml within quotes - '*.example.com'. But helm runs a regex validation that doesn't allow quotes.
[code]
I am using helm2 with terraform. This is a blocker. Can this be reopened.

[2020-01-04 05:39] kevinkjt2000 commented on #6864
I found that installing from rancher-stable produces this as well:
[code]
Versions of helm and the rancher chart are included above.

However, when I install from a local repo all is fine:
[code]

[2020-01-04 12:56] matti commented on #7002
my workaround:
[code]

[2020-01-04 13:32] restlessankyyy commented on #7330
Dope @bacongobbler .. It works .. Thank you so very much..

helm version
version.BuildInfo{Version:"v3.0.2", GitCommit:"19e47ee3283ae98139d98460de796c1be1e3975f", GitTreeState:"clean", GoVersion:"go1.13.5"}

[2020-01-04 13:32] #7330 closed

[2020-01-04 14:43] kevinkjt2000 commented on #6864
I dug a little deeper this morning, and started with the repo's index.yaml:

[code]

I also searched for the string `chart.metadata` is required to find out if the validation is different between the two options.

https://github.com/helm/helm/blob/19e47ee3283ae98139d98460de796c1be1e3975f/pkg/chart/metadata.go#L68-L71

When the function on line 68 is invoked, `md` must be `nil` at that point to cau

[2020-01-05 03:22] youurayy commented on #6850
I tried to perform the redeploy from another machine (not the one that had previously deployed the modified number of deployments), and it went smoothly. Could possibly be a local caching issue?

[2020-01-05 11:02] antonakv commented on #6850
@youurayy Do you use Stateful sets ? Or Deployments ? Stateful sets only support seamless resources upgrade in K8S. Deployments still have issue with "Upgrade error, Not possible to upgrade" service for example.

[2020-01-05 21:08] gWOLF3 commented on #5296
why is this issue closed?

[2020-01-05 21:08] gWOLF3 commented on #5296
it's clearly not fixed.

[2020-01-05 21:08] gWOLF3 commented on #5296
/reopen

[2020-01-05 21:09] gWOLF3 commented on #5296
@bacongobbler

[2020-01-06 03:20] jordansissel commented on #5296
@gWOLF3 this issue had an improvement merged into Helm 2 #5298. It was ported to Helm 3 in #6613. From Github, it looks like this was released in Helm 2.15?

[2020-01-06 06:40] jugatsu commented on #1987
If someone googles how to pass `imagePullSecrets` via `--set` flag, here is the command:

For example, helm template with `imagePullSecrets` like this one:

[code]

command:
[code]

[2020-01-06 07:29] Hermsi1337 commented on #4375
Hey @Stono,

I'm facing the exact same problem. Did you fix yours by using `sortAlpha`?

My Template looks like this:

[code]

My `values.yaml`:

[code]

When I run `helm template` it results in either one of the following...

... false:
[code]
... correct:
[code]

Helm version:
[code]

I can't figure out why the `range`-context seems to change on every `helm template`-run, while the `$keys`-list

[2020-01-06 07:48] Stono commented on #4375
Yup, `sortAlpha` works fine for me.
`{{- range $key := (keys $.Values.config | uniq | sortAlpha) }}`

[2020-01-06 08:00] Hermsi1337 commented on #4375
I've tried your snippet, somehow it's not working as expected either.

Do you happen to have an idea? I'm at my wit's end... <.<

[2020-01-06 09:36] Sushama-pan commented on #2828
My chart versions are like 3.0.0+build.123 , 3.0.0-alpha.123.
I am able to push chart but while pull how to specify chart version? I am trying to add regex in:
helm pull --version ${regexstr}

Regex not working any idea?

[2020-01-06 09:39] Stono commented on #4375
No idea at all i'm afraid, works fine for me :(

[2020-01-06 09:41] Sushama-pan opened #7335 "regex for chart version"
Output of `helm version`:
3
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
vagrant

My chart versions are like 3.0.0+build.123 , 3.0.0-alpha.123.
I am able to push chart but while pull how to specify chart version? I am trying to add regex in:
helm pull --version 3.0.0\+build.* chartmuseum/simplechart

The above command gives output as improper constraint: 3.0.0+build.*

Regex not working any

[2020-01-06 11:07] hickeyma commented on #7100
@ls-tait-clarridge PR #6862 in progress

[2020-01-06 12:56] Xcess opened #7337 "Templating can't evaluate field .Release.Name"
Output of `helm version`: `version.BuildInfo{Version:"v3.0.2", GitCommit:"19e47ee3283ae98139d98460de796c1be1e3975f", GitTreeState:"clean", GoVersion:"go1.13.5"}`

Output of `kubectl version`: `Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.0", GitCommit:"70132b0f130acc0bed193d9ba59dd186f0e634cf", GitTreeState:"archive", BuildDate:"2019-12-13T07:34:10Z", GoVersion:"go1.13.5",

[2020-01-06 14:27] DrissiReda opened #7338 "Helm produces no output"
I downloaded the binaries of the last 3 versions (v 3.0.0 through 3.0.2) of helm and they all give the same output, which is literally nothing.

I tried:

`helm`
`helm help`
`helm repo`

`helm plzgimmesomething`

It just doesn't display anything, no errors no results nothing.

Output of `ldd helm`

[code]

md5sum `f33f6dbdd892054d48ff6127cfd372dfe189f8d2ddaf3f79fb734de044df77b9`

sha256sum `1d737b

[2020-01-06 14:33] ryan-dyer-sp commented on #6843
Any update on this?  Though helm may have never declared that template output be ordered.  I never saw this issue with v2.  We routinely regenerate templates and commit to SCM and until v3 we never had random diffs occurring.

[2020-01-06 14:46] hickeyma commented on #7318
@alexandrsemak Unfortunately not as it is designed to save the release data as a secret in the namespace of the deployment.

The only way that I can see around it would be to organize the installation of the services into different namespaces. This might not be feasible for your use case.

[2020-01-06 15:06] btwseeu78 commented on #6545
@TheDukeDK  same issue. Can anyone help me with this. I need alpha features

[2020-01-06 16:53] bacongobbler commented on #7338
What happens if you append the `—debug` flag?

[2020-01-06 17:56] alexandrsemak commented on #7318
@hickeyma gotcha, thank you for your answer. I understood that is possible to install each service in uniq namespace not sure if we able follow this approach.

[2020-01-06 21:41] javajon commented on #5753
Agree with the change since the uninstall action did not remove the namespace making the uninstall feel dirty. If anyone considers a plugin, or other tool or means, and wants to take responsibility for creating the namespace, then the uninstall would need a delete transaction to counter the namespace create.

[2020-01-06 21:57] ichekrygin commented on #5753
@javajon The "Cleanup"  topic is relevant, yet I think it is of a wider scope specifically when it involves "cluster-level" components.
Two points:
1. Helm3 Consistency in handling CRD vs Namespace.
2. The fact that a single namespace can be targetted by multiple HELM charts makes IMO a "compelling" case for having a "special" treatment for the Release Namespace (in line to what it used to be in H

[2020-01-06 22:14] gcavalcante8808 commented on #7093
Hi Folks, Is there any news on this?

[2020-01-06 23:06] thomastaylor312 commented on #7260
@joelanford I have updated the proposal and the associated PR to have a publicly exposed `PostRenderer` interface that should make it much easier to consume and use it with the SDK. Let me know what you think.

As for anyone else interested: I have updated the proposal with feedback I have received from members of the community. At this point, my one big concern has to do with @jlegrone's feedback

[2020-01-06 23:34] thomastaylor312 commented on #6843
Looks like we just need a second review on the PR, which likely didn't happen because of the holidays. I'll do it tomorrow

[2020-01-07 03:04] Ruby0510 commented on #5385
Hi achmudas, I have smiliar request to have a pre-install job which is ecpected to block the installation if it fails. do you find any other way to reach this? Thansk you!

[2020-01-07 05:24] TheDukeDK commented on #6545
@btwseeu78 - Well, I had to change to Helm 3. Which works mostly. Meaning I ran into this issue with the Alpha cluster.

[code]

Which requires you to adjust those values as described *or* restart the metrics server whenever it happens.

[2020-01-07 07:10] Hermsi1337 commented on #4375
For future seekers of truth:
When running `helm` with a chart of your choice, helm itself sorts the generated k8s-manifests by filepath. Since I've defined multiple deployments in one `yaml`-file, the generated deployment-specs are not ordered deterministic.

In my specific case I was using a `helm`-operator which ships with it's own sorting-logic on top of `helm`'s by using `hook`-annotations. Th

[2020-01-07 08:20] DrissiReda commented on #7338
I had an issue with permissions of ~/.kube. Thank you, the debug flag revealed it. But shouldn't you at least have the help displayed without the need for any parameters?

[2020-01-07 08:20] #7338 closed

[2020-01-07 09:53] hickeyma commented on #7318
Hope you can use this approach. Will close out the issue as answered. If you have any other questions, raise an issue or ask out in the helm-users Slack channel: https://github.com/helm/helm#community-discussion-contribution-and-support

[2020-01-07 09:53] #7318 closed

[2020-01-07 13:47] aelbarkani commented on #6850
I faced the same issue here. For your information, I migrated from v2 to v3. At first it didn't work since it was complaining that some of the APIs were not valid. I upgrade the APIs (Deployments and Statefulsets), and then I had this issue

[2020-01-07 14:54] antonu17 commented on #3053
Nullck's referenced solution works indeed, but only for _newly_ installing releases. If a template is added to the existing (and installed) helm chart `pre-install` hook will not work. Adding `pre-upgrade` hook will cause the same behavior as subj.

[2020-01-07 17:00] antevens opened #7340 "Package signing does not work with GPG subkeys"
For security reasons we sign all our releases with a subkey of our master code signing key (which we store offline), unfortunately it seems that helm does not work with subkeys:

helm package my_chart --destination /tmp/my_charts --sign --key 1FDAEEDD
Error: openpgp: unsupported feature: S2K function

----------------------------------------

Output of `helm version`: v3.0.2", GitCommit:"19e47ee32

[2020-01-07 17:07] bacongobbler commented on #7340
Hi @antevens. Can you please provide more information on this ticket? Thanks.

[2020-01-07 17:09] antevens commented on #7340
Hey @bacongobbler, sorry about that, hit enter by accident before I was done filling in the details, let me know if you need any more info or details or if there is any debugging I can do to help.

[2020-01-07 17:25] #6863 closed

[2020-01-07 17:26] hickeyma commented on #6863
Fixed in PR #6909 merge.

[2020-01-07 17:31] bacongobbler commented on #7340
Thank you! Yes, we have had issues before with Go's OpenPGP libraries in the past as well, so this doesn't entirely surprise me. For example, https://github.com/helm/helm/issues/2843 was due to a change in GnuPG switching to a newer keyring format, but Go's OpenGPG does not support that new format: https://github.com/golang/go/issues/29082

If you can figure out how Helm can support GPG subkeys, w

[2020-01-07 17:43] joscorga opened #7341 "Trying to install Helm on openshift PPC"
Output of helm version:
Client: &version.Version{SemVer:"v2.9.0", GitCommit:"f6025bb9ee7daf9fee0026541c90a6f557a3e0bc", GitTreeState:"clean"}

Output of kubectl version:
Client Version: version.Info{Major:"1", Minor:"11+", GitVersion:"v1.11.0+d4cacc0", GitCommit:"d4cacc0", GitTreeState:"clean", BuildDate:"2019-08-02T00:03:59Z", GoVersion:"go1.10.8", Compiler:"gc", Platform:"linux/ppc64le"}
Server

[2020-01-07 18:12] bacongobbler commented on #7341
Sorry about not catching your last comment. We were out for the holidays.

I cannot understand your last comment in #7276. However, as mentioned earlier in that ticket, `helm init` does not provide a ppc64le image for tiller. We don't have a tiller image which supports that chip architecture in Helm 2.

If you would like to look further into ppc64le support for Helm 2, please have a look at the ti

[2020-01-07 18:27] antevens commented on #7340
Hey @bacongobbler, thanks for the swift response and workaround, by making slight modifications to the bash script in the gpg plugin I was able to use it to sign using a sub-key.

I'm going to continue my testing, I might make an MR/PR to the GPG plugin or an MR/PR to helm itself depending on how much time I'm able to spend on this going forward.

As a side-note it would be great if plugins were s

[2020-01-07 18:36] bacongobbler commented on #7340
Good suggestion. Would you mind opening a new ticket requesting that feature with more details? We'd really appreciate that!

[2020-01-07 18:45] rbutola commented on #4659
I also faced same issue. My test system was launching in a fresh container which did not have HOME variable set. This led to HELM_HOME to be empty. This caused helm installation to fail.
Workaround mentioned by @terribleplan worked fine:
In golang:
        _ = os.Mkdir("./.helm", 0700)
        dir, _ := os.Getwd()
        os.Setenv("HELM_HOME", dir+"/"+".helm")

[2020-01-07 19:07] antevens opened #7342 "Consider supporting cryptographic signatures for plugins"
The current plugin installation and subsequent execution is risky at best since it allows arbitrary code to be downloaded from any URL and executed without the end user realizing that plugins might not be associated with the helm project. Further more there is no verification that the plugin code originates from the URL specified.

We should consider setting up a signature system similar to how we

[2020-01-07 19:07] antevens commented on #7340
Sure, done: https://github.com/helm/helm/issues/7342

[2020-01-07 20:25] antevens opened #7343 "Client side certificates with OIDs larger than 28 bits fail to load/authenticate"
helm repo add sde https://helm.example.com/pulp/Default_Organization/Library/custom/sde/sde-helm/ --cert-file user-key-cert.crt --key-file=user-key-cert.key
Error: looks like "https://helm.example.com/pulp/Default_Organization/Library/custom/sde/sde-helm/" is not a valid chart repository or cannot be reached: can't create TLS config for client: can't load key pair from cert user-key-cert.crt  user

[2020-01-07 20:34] antevens opened #7344 "Consider supporting TLS re-negotiation"
See related Gobug: https://github.com/golang/go/issues/5742

Error: looks like "https:/helm.example.com/pulp/Default_Organization/Library/custom/sde/sde-helm/" is not a valid chart repository or cannot be reached: Get https://helm.example.com/pulp/Default_Organization/Library/custom/sde/sde-helm/index.yaml: local error: tls: no renegotiation

Output of `helm version`:
version.BuildInfo{Version:"v3

[2020-01-07 20:35] thomastaylor312 commented on #7275
So given our backwards compatibility guarantees, we cannot remove the secret output by default. However, we would be more than willing to review and accept any implementation that uses a feature flag (something like --sanitize) to prevent those values from printing. I'll relabel this as a feature and anyone can implement it

[2020-01-07 20:52] thomastaylor312 commented on #7344
Since this is supported in the main go crypto library, I think it would be fine to add this. Marking as a feature. Anyone who wishes to work on it, please let us know here!

[2020-01-07 20:55] thomastaylor312 commented on #7337
Hey @Xcess! So could you upload your chart or snippets of the chart where you are calling these templates? That error seems like a string is being passed to it instead of the full object. So seeing the chart would help diagnose things

[2020-01-07 21:03] thomastaylor312 commented on #7331
Thanks for letting us know about this! This would likely be a helpful enhancement. However, the `default` function comes from the [Sprig](https://github.com/Masterminds/sprig) library. Because this isn't a Helm specific issue, I'm going to close this. I would recommend opening the issue against Sprig and linking to this issue. If the change is accepted there, we'll bump the library version over he

[2020-01-07 21:03] #7331 closed

[2020-01-07 21:13] thomastaylor312 commented on #7343
@antevens So it looks like this could be dependent on operating system (particularly if it is 32 bit). The Go issue linked was over 2 years ago so the bug shouldn't be present in the Go version we use. What OS are you using?

[2020-01-07 21:14] thomastaylor312 commented on #7343
For reference, this is the patch I found, which shows 2 possible failure states that would give you the error reported above: https://go-review.googlesource.com/c/go/+/40436/2/src/encoding/asn1/asn1.go

[2020-01-07 21:22] thomastaylor312 commented on #7335
So helm fetch/pull is currently only meant to be used to pull a specific chart with a given server constraint. It doesn't support fetching multiple charts using a regex. So in your case, to pull the chart you want, you'll need to do `helm pull --version 3.0.0-alpha.123 chartmuseum/simplechart`. If you want to pull multiple, you'll want to probably script it. Does that make sense?

[2020-01-07 21:24] antevens commented on #7343
Hey Thomas,

Let me know if there is any additional information I can provide or steps to take to help debug this:

astevens@host:~$ uname -a
Linux host 5.3.6-050306-generic #201910111731 SMP Fri Oct 11 17:34:45 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux
astevens@host:~$ cat /etc/lsb-release
DISTRIB_ID=LinuxMint
DISTRIB_RELEASE=19.1
DISTRIB_CODENAME=tessa
DISTRIB_DESCRIPTION="Linux Mint 19.1 Tessa"
a

[2020-01-07 21:53] antevens commented on #7343
I've created a test cert/key which can be downloaded here and used to reproduce the issue:
https://gist.github.com/antevens/a05409165d33bd771e39bc219fe2c6bb/archive/e56cf114dee64a6b367abf08ab1c34a405a62f88.zip

[2020-01-07 22:14] joscorga commented on #7341
I got a response in the issue @bacongobbler mentioned, I'll close this issue now.

Thanks!

[2020-01-07 22:14] #7341 closed

[2020-01-07 22:41] thomastaylor312 commented on #7343
Thanks for the info! I'll take a look tomorrow

[2020-01-08 01:37] desimone opened #7345 "install: reintroduce name long flag (--name) for v2 compatibility"
## Summary

To support backwards compatibility, helm should honor `name` passed in as both an argument or a long option.

### What happened

I ran the following command:
[code]

And I got the error

`Error: unknown flag: --name`

### What I expected to happen

I expected helm to recognize that a name _has_ been provided. This command (`--name`) worked in Helm v2.

I understand and agree with the c

[2020-01-08 06:44] #6614 closed

[2020-01-08 07:37] CodeDing opened #7347 "values.Table does not support valuse as an array of object"
## Example

**pkg/chartutil/values.go**

https://github.com/helm/helm/blob/ad07bb690dbf34e7067171235861a3c0fb9897b6/pkg/chartutil/values.go#L87

if the values.yaml has a key and value like below, then I use the `values.Table("chartKey1")`, it will return the error `no table name "chartKey1"`. I am confused with it whether it is a bug or a forbidden for chart value to set the key-value which looks

[2020-01-08 07:45] Xcess commented on #7337
I did not know what part may be of use, so i uploaded the whole chart. (redacted and changed some parts for security)
I have uploaded it here:
https://file.io/cTuIFH  (api.tar.gz)

[2020-01-08 09:31] Sushama-pan commented on #7335
I do not want to fetch multiple charts but the latest one. For example, I have below charts:
3.0.0-alpha.10,3.0.0-alpha.11, 3.0.0-alpha.12
When I do: helm pull --version 3.0.0-alpha.*
It will pull the latest i.e. 3.0.0-alpha.12 from the repo.

Is this possible?

[2020-01-08 09:36] jason-liew commented on #6031
[work around pr](https://github.com/helm/helm/pull/7238)

[2020-01-08 09:47] feikesteenbergen commented on #5891
I don't expect that to work for a Pod, if I read the documentation, @ssalaues does it actually work?

https://helm.sh/docs/topics/charts_hooks/#hooks-and-the-release-lifecycle

[2020-01-08 10:18] blop commented on #2488
issue still exists with v2.16.1 on macos 🤔

[2020-01-08 10:21] Jyoti492 commented on #4659
Hi Team,
I am also facing the same issue but while fetching the helm charts from the ACR.
Error: Looks like "https://mcpshareddcr.azurecr.io/helm/v1/repo" is not a valid chart repository or cannot be reached: open .helm/repository/cache/.helm/repository/cache/mcpshareddcr-index.yaml: no such file or directory

followed all above but that just adds local repo not ACR

[2020-01-08 10:40] kivagant-ba commented on #6361
On more case:

[code]

It was related to https://github.com/linkerd/linkerd2/issues/3497, when the Linkerd service had some internal problem and couldn't respond back to the API service requests.

[2020-01-08 12:24] flecno commented on #4976
We see the same for most HPA updates via helm 2 on k8s 1.14. The tiller service logs `[kube] 2020/01/08 11:03:02 Looks like there are no changes for HorizontalPodAutoscaler "xyz"` but there is a change and the debug flag from helm will also print the expected yaml.

[2020-01-08 14:24] pbecotte opened #7350 "Helm 3- immutable field and 3-way merge"
Output of `helm version`: version.BuildInfo{Version:"v3.0.2", GitCommit:"19e47ee3283ae98139d98460de796c1be1e3975f", GitTreeState:"clean", GoVersion:"go1.13.5"}

Hi, so I see a BUNCH of tickets related to this that are closed, but I'm not 100% sure if what I am seeing is the same. The problem seems to be an issue with 3-way-merge if you use `--force` on `helm upgrade`. The previous tickets are clos

[2020-01-08 15:00] Grannath commented on #6251
I also have an issue with this. When I call `helm upgrade --install` in our CI pipeline, it fails with such an error. When I template locally, the result looks good, and a server dry run accepts it with no issues.

I'll investigate further and try to find out what is going an, potentially with a simplified example. But at least so far I don't see anything close to the given line number that could

[2020-01-08 15:15] bacongobbler commented on #7335
If you wish to pull the latest version, omit the -version flag.

[2020-01-08 16:03] tomcruise81 commented on #2730
@bacongobbler - unfortunately, https://github.com/bmatcuk/helm-take-ownership is very Kubernetes object-centric (i.e. it doesn't work for Openshift object types or other CRDs). Not sure how that project could even be adapted to incorporate some of the concepts detailed in https://github.com/helm/helm/issues/2730#issuecomment-322026196, namely the ability to supply a:

due to it's having logic for

[2020-01-08 16:21] bacongobbler commented on #2730
I'm just pointing out a solution that happens to work for a small subset of users. The idea could likely be expanded to support use cases like yours.

[2020-01-08 16:52] EItanya opened #7351 "--registry-config flag is not honored"
Currently, the helm registry commands look in a hardcoded place for the docker config file:
https://github.com/helm/helm/blob/2eab781b35019ce452738012092f9df4ce9fdf00/cmd/helm/root.go#L416
There is a flag which is supposed to do this, `--registry-config` but as shown in the above code, it is not honored.
This brings up 2 issues
1) The default spot it checks for the config file is slightly unintuit

[2020-01-08 16:54] bacongobbler commented on #7351
Thanks for identifying this. Feel free to work on a fix.

[2020-01-08 17:01] technosophos commented on #6361
@kivagant-ba would you mind opening a new issue for that one? It's a slightly different case, and we'll have to decide what the "correct" behavior on Helm's side should be. I think the current fix will still consider the above a fatal error.

[2020-01-08 17:09] bacongobbler commented on #6031
closed with #7319.

[2020-01-08 17:09] #6031 closed

[2020-01-08 17:29] #6962 closed

[2020-01-08 17:51] ruddy32 opened #7353 "Template file parsing failed with dictionnary name including '-' character"
Output of `helm version`: 3.0.2

Hi,

Go template fail when using variable from dictionary including '-' in name.

Helm output :

Template line :

Regards,
Ruddy

[2020-01-08 17:58] #6958 closed

[2020-01-08 18:04] #7159 closed

[2020-01-08 18:29] EItanya commented on #7351
@bacongobbler PR as mentioned above.

[2020-01-08 19:21] tjarjoura opened #7357 "Lost track of my release - how can I get it back?"
For context I'm using helm2 with the tillerless helm plugin(https://github.com/rimusz/helm-tiller). I created a release about 2 months ago and somehow my local tiller installation got removed and re-installed. Now the release does not show up when running `helm ls`, but the resources are still up in my cluster. Is there any way for me to "import" it back into my current installation of helm so I c

[2020-01-08 19:58] austinorth commented on #6850
Same issue here. Doesn't look like a PR has been opened yet. Anyone working on this?

[2020-01-08 20:01] thomastaylor312 commented on #7343
So I gave it a try and got the same error. It is coming from the section of `encoding/asn1` I thought it would: https://golang.org/src/encoding/asn1/asn1.go#L309. Basically it is detecting that the number of bit shifts is greater than the number of bits allowed for an `int32`. I am 99% certain that this is likely a Go issue. All we are doing in Helm is convenience wrapping the lower level `tls.Loa

[2020-01-08 20:02] #7343 closed

[2020-01-08 20:11] curtisr7 commented on #7219
@bacongobbler net of what I did is the following:

* For a given release, find lastDeployed and lastReleased (using `driver.ConfigMaps`)
* Parse manifests for lastDeployed. "Migrate" apiVersion for given kind/apiVersion to non-removed apiVersion
* Mark lastDeployed as superseded
* Create new (deployed) release with "migrated" manifests and version that is lastReleased+1

[2020-01-08 20:21] bacongobbler commented on #6850
nope, feel free to investigate further. Have a look at my previous comment for more information on where to get started.

[2020-01-08 20:23] Arabus commented on #7219
That sounds more reasonable than replacing the old manifest because it retains the deployment history. Also integrating this with helm or as a helm plugin sounds a little cleaner than my hacky bash script ;-)

[2020-01-08 20:24] bacongobbler commented on #7357
If the configmap is still there, it should be accessible assuming tiller is correctly running. Removing and re-installing tiller is a fairly common pattern.

Is there anything in tiller's logs that would indicate why it cannot access or see those releases?

[2020-01-08 20:44] JiandongRuan opened #7359 "Unable to deploy two different namespaces due to resource conflict"
Repro steps:
1. deploy nginx ingress controller (or jetstack/cert-manager) to one namespace
2. deploy the same chart to another namespace
    helm upgrade --namespace private --install --wait --version 0.12.0 cert-manager jetstack/cert-manager

    This will fail due to resource conflict. The error message is "Error: rendered manifests contain a resource that already exists. Unable to continue wit

[2020-01-08 21:07] tjarjoura commented on #7357
I think I figured out the issue. Basically I was using two different k8s clusters and it seems that the local tiller just uses the one from the current context when it is started, so the releases in the other cluster were invisible. I was able to fix this by stopping tiller, switching context to the other cluster, and then starting tiller. So you're right it had nothing to do with me re-installing

[2020-01-08 21:07] #7357 closed

[2020-01-08 21:52] matfiz opened #7361 "Unable to build kubernetes objects from current release manifest"
After upgrading to kubernetes 1.16.3, I am not able to upgrade some of my charts. The regular upgrade command:
[code]
returns:
[code]

I am not able to delete a chart, is there a way to get rid of this `apps/v1beta2`, that is not supported for `StatefulSet` in 1.16.3 any more?

What I've checked already:
* `helm template .` does not include a string `apps/v1beta2`
* when I `helm install my-chart-c

[2020-01-08 22:04] shreedhargowda commented on #6361
Just a small correction in spelling of the "service". corrected it.

[2020-01-08 22:20] antevens commented on #7343
Thanks Thomas, I'll raise it in Go Issues.

[2020-01-08 23:46] bacongobbler commented on #7361
have a look at https://github.com/helm/helm/issues/7219. Closing as a duplicate of that issue. Thanks!

[2020-01-08 23:46] #7361 closed

[2020-01-09 01:01] ichtestemalwieder opened #7362 "docs: Better Description of Release / ReleaseVersion CRDs for helm 3"
Hello,

I have read that helm 3 stores (instead of using Tiller) this information in CRDs (Release / ReleaseVersion) in the current Namespace of the "install". But I was not able to "find" these CRDs in my cluster:

[code]
Neither shows any of these CRDs? How can I inspect these CRDs and `kubectl describe` them? This should be documented as it is important for developers to better understand the i

[2020-01-09 03:04] bacongobbler commented on #7362
After discussing the design further, the proposal was dropped from Helm 3 due to existing design issues with CRDs. Instead, the existing secret storage layer from Helm 2 became the default.

Use `kubectl get secrets` to access that information.

Hope this helps.

[2020-01-09 03:04] #7362 closed

[2020-01-09 03:39] puckpuck opened #7363 "helm repo index changing created timestamp"
Output of `helm version`: version.BuildInfo{Version:"v3.0.2", GitCommit:"19e47ee3283ae98139d98460de796c1be1e3975f", GitTreeState:"clean", GoVersion:"go1.13.5"}

When I do a `helm repo index .` it will redo all entries in my index.yaml file (including existing ones) updating the timestamp of the files.

This is an issue because of the recommended build process for using Github pages to host a repo.

[2020-01-09 03:41] puckpuck commented on #7363
There is an "ugly" workaround:
1. put your new chart in its own folder
2. `helm repo index --merge <path/to/existing/index.yaml> .`
3. `mv index.yaml <path/to/existing/index.yaml`
4. `mv <my-new-chart.tgz> <original/path>`
5. git commit

Hoping there is a cleaner way to do this.

[2020-01-09 08:49] diaoyongbao opened #7366 "use helm uninstall --keep-history then helm rollback but status is "pending-rollback""
[code]

[code]
Output of `helm version`:
`version.BuildInfo{Version:"v3.0.2", GitCommit:"19e47ee3283ae98139d98460de796c1be1e3975f", GitTreeState:"clean", GoVersion:"go1.13.5"}`
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
kubeadm

[2020-01-09 10:08] kivagant-ba commented on #6361
It is not an issue for people who are using a newer version of Linkerd. I left my comment here for those who will search the error phrase because it looks similar but the root cause is different.

[2020-01-09 10:12] rajatjindal commented on #5825
in a similar, but slightly different situation.

- my current deployed revision is 251, so my pre-install hook saw the .Release.Revision to be 251
- updated to newer version, deployed revision is 252, my pre-install hook saw the .Release.Revision to be 252
- now I manually triggered a rollback (using helm rollback command), to version 251. Helm created a new revision 253, but my pre-rollback (whic

[2020-01-09 10:16] alexjamesbrown commented on #4721
@synax did 2.14.1 make it to Chocolatey?
When I try to install this specific version with

`choco install kubernetes-helm --version=2.14.1`

I get

Failures
 - kubernetes-helm - kubernetes-helm not installed. The package was not found with the source(s) listed.
 Source(s): 'https://chocolatey.org/api/v2/'
 NOTE: When you specify explicit sources, it overrides default sources.
If the package versio

[2020-01-09 10:40] eugenekainara commented on #5825
@rajatjindal revision 251 should be identical to 253 in your case.

[2020-01-09 10:56] rajatjindal commented on #5825
I was hoping to use revision number to create new resource. Basically on
every new deployment of helm release i create a new configmap, and then
want to delete configmap when that particular revision is deleted in helm
history

On Thu, Jan 9, 2020 at 4:10 PM Eugene Kainara <notifications@github.com>
wrote:

--
Rajat Jindal |  Pune |  https://rajatjindal.com |  rajatjindal83@gmail.com

[2020-01-09 11:20] synax commented on #4721
Hi, yes its there. I've quickly tested it on my Win 10 VM and it worked.

https://chocolatey.org/packages/kubernetes-helm/2.14.1

choco install kubernetes-helm --version=2.14.1

are you sure your choco install is fine?

[2020-01-09 11:28] alexjamesbrown commented on #4721
yes, well, in so far as `choco install kubernetes-helm` installed the latest version
trying to specify the version resulted in the above.

`choco sources` results in

Chocolatey v0.10.15
chocolatey - https://chocolatey.org/api/v2/ | Priority 0|Bypass Proxy - False|Self-Service - False|Admin Only - False.

[2020-01-09 11:33] hickeyma commented on #7359
@JiandongRuan The error seems to be saying that the chart you are deploying contains a cluster wide resource. This means that the resource in conflict is not specific to the namespace and therefore cause a conflict when it tries to deploy the chart in the 2nd namespace, as it already exists.

Can you check in your chart and deployment for resource: `cert-manager-cainjector`? This seems to be causi

[2020-01-09 11:44] synax commented on #4721
can you try this and see if there is anything of intrest in the debug log?

'choco install kubernetes-helm --version=2.14.1 -d'

[2020-01-09 13:36] naseemkullah opened #7369 "[helm create] Add autoscaling(hpa) boilerplate"
Elasticity is an important feature for cloud native stateless apps such as the one deployed out of the box with helm create.  Allowing users to easily autoscale newly created apps would be beneficial.

I propose we add a disabled by default hpa, with default values of 1 to 100 replicas and 80% cpu utilization threshold.

cc @helm/chart-maintainers

[2020-01-09 14:07] ptrovatelli commented on #4824
any update on this? I would like to have this feature too. It's very common to initialize a secret upon first install and needing to re-use the same secret after.

[2020-01-09 15:24] ryudice commented on #7257
I'm having this exact issue, but in my case I have no charts installed, the output of helm ls is empty yet I'm getting this error. Any ideas?

[2020-01-09 15:48] zurvan2 commented on #5812
Kubernetes now has a standard yaml representation of an openApiV3Schema: https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/

Can the same syntax be used?

[2020-01-09 16:07] dimitarKiryakov commented on #3723
Is there any progress on this ?

[2020-01-09 16:23] bacongobbler commented on #3723
Hi @dimitarKiryakov. This issue was opened nearly two years ago. I don't think anyone has made progress on this feature. Feel like working on something?

[2020-01-09 16:28] bacongobbler commented on #7363
At first glance, this seems intentional. `helm repo index` generates a new index at the time it is invoked, so it isn't surprising that the `created` timestamp is being updated.

`helm repo index --merge`'s use case is to merge an existing index into a new one, only modifying what was changed. The stable repository uses the latter to maintain their index. I'd suggest looking at their [repo-sync.sh

[2020-01-09 16:30] bacongobbler commented on #7353
closing as a duplicate of https://github.com/helm/helm/issues/2192.

[2020-01-09 16:30] #7353 closed

[2020-01-09 16:32] bacongobbler commented on #7347
I don't believe that is a table. A dash is YAML syntax for an array.

Have you tried the following instead?

[code]

[2020-01-09 16:34] bacongobbler commented on #7345
PRs welcome to accept the name argument as a flag. Cobra (the library used in Helm for assembling the CLI) doesn't support this out of the box, so I imagine the design may be tricky to nail it correctly. Give it a go and let us know if you run into trouble.

[2020-01-09 16:36] bacongobbler commented on #7010
closing due to inactivity. Please feel free to open a new ticket if you are still experiencing these issues. Thanks!

[2020-01-09 16:36] #7010 closed

[2020-01-09 16:37] bacongobbler commented on #7325
Can you demonstrate a set of commands to run to reproduce what you are seeing?

[2020-01-09 16:38] bacongobbler commented on #7366
duplicate of https://github.com/helm/helm/issues/6978.

[2020-01-09 16:38] #7366 closed

[2020-01-09 16:41] bacongobbler commented on #7350
When the `--force` flag is supplied, Helm bypasses the three-way merge patch strategy entirely and passes the whole manifest to Kubernetes as a PUT operation. Have you had a chance to look at Kubernetes' behaviour on what occurs during a PUT?

[2020-01-09 16:42] bacongobbler commented on #7350
https://github.com/helm/helm/blob/a963736f6675e972448bf7a5fd141628fd0ae4df/pkg/kube/client.go#L405-L411

[2020-01-09 16:44] bacongobbler commented on #7326
Feel free to port this feature over.

[2020-01-09 16:45] JiandongRuan commented on #7359
Can Helm handle cluster wide resources in a more elegant way? Chart "stable/nginx-ingress" and "jetstack/cert-manager" deploys many cluster wide resources. cert-manager-cainjector is just one of them. I need to delete them before deploying into a 2nd namespace.

[2020-01-09 17:26] hickeyma commented on #5424
@walkafwalka Just wondering if you got a chance to work anymore on the proposal?

[2020-01-09 17:27] hickeyma commented on #5770
@jasonkuhrt Any progress?

[2020-01-09 17:55] desimone commented on #7345
@bacongobbler Sounds good.

v3
[code]

The install argument must be a chart reference, a path to a packaged chart,
a path to an unpacked chart directory or a URL.
[code]

[2020-01-09 18:00] jlegrone commented on #7260
My concern is that while this would be considered an advanced feature for a chart author, the onus is actually on the end user of the chart to have the correct rendering toolchain installed. This is generally fine for internal use cases, but could be a real issue for popular public charts.

[2020-01-09 18:09] alexjamesbrown commented on #4721
very strange;
ran it with -d and it simply worked....

not sure why that'd have any effect

[2020-01-09 18:46] jasonkuhrt commented on #5770
@hickeyma One workaround is doing manipulations on the data before snapshotting.

[2020-01-09 18:49] pbecotte commented on #7350
Ah yes, you are correct, this is indeed a k8s api issue.

[code]

In which case, I imagine the Helm behavior probably shouldn't be changed- I'll follow up there, feel free to close this if you agree.

[2020-01-09 19:13] ssalaues commented on #5891
@feikesteenbergen It's been a few months since I last tested this but yes it was working as i described for the pod. If I recall correctly, the hooks waits for the deploy status of the job which is dependent on the job completion whereas just a pod reports its status immediately after scheduling/startup allowing for that specific work around.

Here's the chart and specific code however I eventuall

[2020-01-09 19:19] tomcruise81 commented on #6378
We're running into the same issue:
[code]

`spec.clusterIP` is not part of the Service template, yet with Helm 3.0.2 and a `helm upgrade ... --force --install` call, we're also seeing:

Please re-open.

[2020-01-09 19:27] bacongobbler commented on #6378
@tomcruise81 please see https://github.com/helm/helm/issues/7350 for the thread on `--force`. That results in the same error, but it is due to how `kubectl replace` appears to work.

[2020-01-09 19:29] bacongobbler commented on #7350
I agree. Thanks for looking into this!

[2020-01-09 19:29] #7350 closed

[2020-01-09 19:43] mitar commented on #6938
If I understand correctly, the main issue with Helm 3 here is that there is no API to call manage deploying of charts programmatically? I have to call CLI in a sup-process and then parse its stdout to see any results? There is no way (as a library or HTTP) to interact with it in a more structured way? Or am I missing something?

[2020-01-09 19:56] tomcruise81 commented on #6378
@bacongobbler - thanks for the quick response and clarification. Looking at:

https://github.com/helm/helm/blob/a963736f6675e972448bf7a5fd141628fd0ae4df/pkg/kube/client.go#L405-L411

which make use of https://github.com/kubernetes/cli-runtime/blob/master/pkg/resource/helper.go#L155-L181, it doesn't appear that the call to `helper.Replace` does the same thing as `kubectl replace -f ... --force` (no

[2020-01-09 20:48] joelanford commented on #7260
@thomastaylor312 The `PostRenderer` interface in the PR looks like it will be exactly what I need. Looking forward to this. Thanks!

[2020-01-09 20:48] #6769 closed

[2020-01-09 20:53] #7279 closed

[2020-01-09 21:23] black444 opened #7370 "include is returning string instead of map"
Is it possible to return map when I call include function?

I've got values file like this:
[code]

Function is searching for application name and returns its content:
[code]

I want to write two another functions that will format output in different ways.
To not duplicate the code I would like to call my function `common.spec.template.spec.containers.envs.resources`, save output to variable and h

[2020-01-09 22:18] thomastaylor312 commented on #7260
@jlegrone I don't think it would be a problem for popular public charts. They shouldn't have to modify anything. This would be purely for the end user to decide if they want to run a post render. A public chart should never have a dependency on a specific post-renderer either. They could recommend one (like kustomize) for last mile config, but it shouldn't be a primary part of the chart. That is w

[2020-01-09 22:40] jlegrone commented on #7260
Ah, I may have misunderstood the design. If invoking post-render is only possible via a Helm CLI flag (and not some config in `Chart.yaml`) then that addresses my concerns. 😄

[2020-01-09 23:48] guice opened #7371 "Helm Library packages shouldn't include dependencies"
Built a helm library chart. It has dependency on a "common" chart.  But this is a _library_ chart, i.e. not a deployable chart.

`helm package library-chart` shouldn't grab dependencies. Those should be done at the parent chart (type: application), example setup:

##### Charts:
- Library chart "common", type: Library.
- Library chart "nginx", type: library.
- Application chart "my-app", type: appl

[2020-01-10 06:26] x22x22 commented on #6938
After verification, you can set up an http server yourself according to the method @phcollignon said.

[2020-01-10 08:54] HerrTamm commented on #6378
I also checked, that there is no `clusterIP` in the release manifest:

[code]

[2020-01-10 09:05] chainhead commented on #7303
Well ?

[2020-01-10 09:13] hickeyma commented on #5770
@jasonkuhrt Would you like to do a PoC on this?

[2020-01-10 09:58] hickeyma commented on #7303
@thomastaylor312 You might have some input on this?

[2020-01-10 11:09] hickeyma commented on #7359
@JiandongRuan The issue encountered might be due to chart installation/design or configuration issue rather than with Helm. What I mean by this is, why are conflicts occurring when installing more than one instance of a chart? If the chart explicitly declares a cluster wide resource to be created then does this mean that the chart is designed to be installed only once in a cluster?  Or do you need

[2020-01-10 11:55] novoxudonoser commented on #4824
+1 please support these feature, our current usage of helm is a little "hacky" without it.

[2020-01-10 12:01] hickeyma commented on #7281
@SellamiRami Closing this issue as not details have been provided. It can be re-opened if you update the issue.

[2020-01-10 12:01] #7281 closed

[2020-01-10 12:08] hickeyma commented on #7248
@marckhouzam Should #7141 be closed then in favour of this issue?

[2020-01-10 12:12] kohithms opened #7375 "Error :invalid argument "1800" for "--timeout" flag :time : missing unit in duration 1800"
Ho Team,

Issue: When we are using the Option --wait --timeout 1800 during Helm Upgrade.  The system is throwing an error message "Error :invalid argument "1800" for "--timeout" flag :time : missing unit in duration 1800"

We have tried in helm V3.0.0 and V3.0.2 but end up with the same error.

As per Public documentation, V3.0.0 should be able to work with the tag --timeout int

**Reference link:

[2020-01-10 13:18] marckhouzam commented on #7248
@hickeyma There's a PR associated with #7141 . But if that's not a problem, it should be fine to close it in favor of this one. I'll let you decide about the PR situation, I'm ok with closing.

[2020-01-10 13:26] hidalgopl commented on #7285
Thanks for useful tips @cristiklein ! Gonna start working on #1

[2020-01-10 13:48] hickeyma commented on #7149
@PankajWorks Did you get a chance to look at suggestion from @bacongobbler in https://github.com/helm/helm/issues/7149#issuecomment-562673835?

[2020-01-10 13:52] hickeyma commented on #7140
@jmcelwain did you get a chance to push the PR?

[2020-01-10 13:57] hickeyma commented on #7134
@doandzhiFt Did you get a chance to ask upstream in Go’s text/template about its behaviour?

[2020-01-10 14:21] hickeyma commented on #7248
@marckhouzam My bad, used wrong number. Lets start again! Does #7248 supersede #7166?

[2020-01-10 14:23] mKamleiter opened #7376 "Can't create crb without groups in Openshift"
Hi all,

right now I'm trying to upgrade our helm2 workflows to helm3 (v3.0.1).
We are creating clusterrolebindings for our openshift cluster bind a clusterrole to a serviceaccount.

The ClusterRolebinding created with helm2:
[code]
The Helm template is the following:
[code]

With helm2 everything went fine, but an upgrade using helm 3 (after converting the secrets) fails with the following error:

[2020-01-10 14:54] hickeyma commented on #7375
@kohithms Can you try using the flag as follows: `--timeout 1800s`?

[2020-01-10 15:02] #7182 closed

[2020-01-10 15:03] Sh4d1 opened #7377 "Over engineering when using Helm SDK without a kubeconfig"
Currently when using helm SDK, a `RESTClientGetter` is needed. This is trivial when a kubeconfig file is available. However when the program only have access to the CA, token/certs and url in memory, it becomes a bit more complicated.

In fact the program needs to implement the following interfaces:
- `ToRESTConfig() (*rest.Config, error)`
- `ToDiscoveryClient() (discovery.CachedDiscoveryInterface

[2020-01-10 15:10] marckhouzam commented on #7248
@hickeyma  well #7166 is a PR so I'm not sure we can say #7248 which is an issue, supercedes it 😄.  I think until we have a PR for #7248, #7166 still improves the situation, so we could try to merge it.

[2020-01-10 15:17] jasonkuhrt commented on #5770
Hey @hickeyma Since creating this issue I've moved on to a different org, role, part of the stack. So for foreseeable future no unfortunately.

[2020-01-10 15:17] bacongobbler commented on #4824
Please feel free to submit a patch. :)

[2020-01-10 15:20] bacongobbler commented on #6938
Closing as answered. Thanks everyone!

[2020-01-10 15:20] #6938 closed

[2020-01-10 15:29] hickeyma commented on #7248
@marckhouzam Sorry, I seem to have got tangled up in knots. All good here! :)

[2020-01-10 16:35] hickeyma commented on #7371
@guice This is a very good scenario that you raise, thanks.

Thinking about this off top of my head. A library chart is a type of chart and follows the flow of how chart is processed, apart for not being installable.  This means it is the same as an application chart with regard to how it is packaged and included as a dependency. From quick glance, it looks difficult to separate this in a nice fas

[2020-01-10 17:16] jmcelwain commented on #7140
@hickeyma  Yes, it's here: https://github.com/helm/helm/pull/7164

[2020-01-10 17:23] thomastaylor312 commented on #7260
As an FYI to all, we are going to keep this proposal open for 2 more weeks to give anyone from the community time to comment on it. Currently most of the maintainers are good with this proposal and those who have commented seem to be ok with things as well

[2020-01-10 18:15] mitar commented on #5465
I think this is the most confusing aspect here. If I provide `--namespace` I would want the chart to be deployed there and just there and nothing else. If chart has a different hard-coded namespace, things should fail. In this way I can know that when I am deploying charts for users, to which namespace I have deployed and setup permissions over namespace correctly. If chart creates some other name

[2020-01-10 18:28] bacongobbler commented on #5465
We tried that for Helm 3 and had to revert it. Users relied on this behaviour to deploy resources across multiple namespaces. like `foo` and `foo-system` when `--namespace foo` was supplied. Suggestions welcome.

See #6046 and #5953.

[2020-01-10 18:32] scottrigby commented on #7369
@naseemkullah I'm sure this is on your radar already, but just want to note here for others that any PR to address this issue should be sure to add a Helm 3 "Horizontal Pod Autoscaler requires condition" (the third use case described here: https://github.com/helm/charts/issues/19008).

[2020-01-10 18:34] mitar commented on #5465
OK, then let's add another command line argument like `--restrict-namespace`? So the behavior would be:

* `--restrict-namespace`: if provided, objects can be created only in this namespace, it does not influence template rendering, can be provided multiple times to allow multiple namespaces per call
* `--namespace`: provides a namespace value for any template which has a namespace placeholder, an

[2020-01-10 18:37] mitar commented on #6938
I think I am not familiar with Go nor Helm internals here, so I will have to wait for somebody to create a package exposing that.

I still think that having `helm --daemon` which would open a HTTP port and respond to HTTP commands would be great to have out of the box.

Also, if I understand correctly, the example above uses "Helm SDK", but I could not really find any documentation on that SDK, no

[2020-01-10 19:06] bacongobbler commented on #6938
https://pkg.go.dev/helm.sh/helm/v3

[2020-01-10 19:07] mitar commented on #6938
Thanks!

[2020-01-10 19:19] naseemkullah commented on #7369
Yep, I plan to implement it as such upon hereby agreement from chart maintainers.

[2020-01-10 19:41] scottrigby commented on #7369
Not sure why that CC link didn't work - maybe you need specific repo perms to do it.

☝️ CC @helm/charts-maintainers

[2020-01-10 19:45] naseemkullah commented on #7369
Thanks @scottrigby

[2020-01-10 20:12] technosophos commented on #6361
Oh! Okay. Thank you!

[2020-01-10 20:48] mitar opened #7379 "Feature: migration between charts"
I would like to have a "lite" version of the chart (public/open source) and and "enterprise" version of the chart (private/licensed/payed for). I would like that people can try out and install lite version of a chart for themselves. If they decide to upgrade to "enterprise", I would want to provide them with chart (repository) to install this new chart. But I would also want to make this upgrade p

[2020-01-10 21:22] jgschmitz commented on #6996
I get that it has been removed by when I do a helm list I got no charts listed

[2020-01-10 21:37] bacongobbler commented on #6996
did you install those charts into a namespace other than `default` or what your current kube context is pointing at?

You can use `helm list --namespace foo` to list charts installed in that particular namespace, and `helm list --all-namespaces` to get a global view of the cluster (assuming you have cluster admin privileges).

More info here: https://helm.sh/docs/faq/#release-names-are-now-scoped-

[2020-01-10 23:44] AndiDog commented on #7260
- This should support empty input, e.g. using a completely different templating language tool instead of one that transforms YAML/manifests. For that purpose, you might want to consider allowing `templates/*.yaml` to be nonexistent (if that's not the case yet). Contrived example: `helm template --post-renderer my-handlebars-template-post-renderer` on a chart with only `templates/*.hbs` files. And

[2020-01-11 06:10] naseemkullah commented on #7369
https://github.com/helm/helm/pull/7381 created. Please take a look 🙏

[2020-01-11 08:34] mhyousefi opened #7382 "panic: unexpected error: pipe: too many open files"
I am trying to apply a `helmfile` containing about 60 Node JS and Python micro-services. It used to work smoothly before. Recently, though, I am getting the following error:

[code]

Well, I can apply my releases half at a time, but I suppose this should not be the case.
Any help is appreciated.

Output of `helm version`:
[code]

Output of `kubectl version` :
[code]

[2020-01-11 11:44] andytom commented on #7382
It looks like this panic comes from [helmfile](https://github.com/roboll/helmfile) not helm, have you tried opening an issue there?

[2020-01-11 12:48] mhyousefi commented on #7382
I wasn't sure which repo it was more relevant to. I'll post an issue on the `Helmfile` repo as well.

[2020-01-11 13:09] tamalsaha commented on #3501
@donaldguy , our operators update the validating webhook after it starts to work around this issue.

[2020-01-11 13:21] tamalsaha commented on #7083
I would like to add that not allowing templatinf files inside crd folder makes it unusable for older version of Kubernetes. Since k8s 1.16 introduced structural schema, the CRD yaml file has fields like preservedUnknowfields etc that returns error in older version of k8s. Also, similar issue exists for K8s 1.11 (openshift 3.11) https://github.com/jetstack/cert-manager/issues/2200 .

[2020-01-11 14:07] bacongobbler commented on #7382
The stack trace is pointing at helmfile’s code. Please follow up there. Closing!

[2020-01-11 14:07] #7382 closed

[2020-01-11 15:27] rushins commented on #4670
hello

i ran into the same issue and i dont see any solution here. can some one provide what needs to be done.

Error: UPGRADE FAILED: "job1-controller"  has no deployed releases

[2020-01-11 23:10] JiandongRuan commented on #7359
Thanks for the help. I found the needed information from the charts documentation.

[2020-01-11 23:10] #7359 closed

[2020-01-12 09:55] USER0308 opened #7384 "Customize the default nginx chart"
Hello, when I typed `helm create XXX`, I got a chart which image is `nginx:stable`. I was confused that is there any method to change the default image like `hub.myprivate/nginx:stable`? Or is there any method to customize the default chart, so that when I type `helm create XXX`, it use my customized chart ranther than the default nginx one?

[2020-01-12 13:01] fenngwd commented on #7384
You could customize your chart before installing it.

Just like this [ https://helm.sh/docs/intro/using_helm/#customizing-the-chart-before-installing](https://helm.sh/docs/intro/using_helm/#customizing-the-chart-before-installing).

[2020-01-12 13:22] fenngwd commented on #7370
@black444 Do you have an example chart repo to reproduce this issue?

[2020-01-13 03:08] gorilych opened #7385 "helm 3 fails silently in case of "malformed" kubeconfig"
Helm3 fails silently if it cannot read cluster from kubeconfig file:

[code]

Affected version:

[code]

I deliberately put `current-context: none` into `~/.kube/config` - this forces me to specify `--kube-context` and `--context` for helm2 and kubectl - this way I have less chances to apply manifests to a wrong cluster. Both helm2 and kubectl produce sane errors if I forgot to specify a context f

[2020-01-13 03:34] botjaeger opened #7386 "Chart.lock doesn't update"
Output of `helm version`:
`version.BuildInfo{Version:"v3.0.2", GitCommit:"19e47ee3283ae98139d98460de796c1be1e3975f", GitTreeState:"clean", GoVersion:"go1.13.5"}`
Output of `kubectl version`:
`Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.0", GitCommit:"70132b0f130acc0bed193d9ba59dd186f0e634cf", GitTreeState:"clean", BuildDate:"2019-12-07T21:20:10Z", GoVersion:"go1.13.4", Co

[2020-01-13 06:54] black444 commented on #7370
Sure. Example in attachment.
[chart.zip](https://github.com/helm/helm/files/4052347/chart.zip)

[2020-01-13 08:16] segrived opened #7388 "Cached template rendered regardless library dependency version"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): baremetal

---

- Create new `shared` chart with `library` type:

shared 0.1.0 chart template:
[code]

in shared 0.1.1 chart template was changed to:
[code]

- pack both versions of `shared` chart and upload to repository
- create `chart1` and `chart2` with `application` type

[2020-01-13 08:33] TBBle commented on #7219
Is this also the right place to resolve the similar issue when the upstream chart makes such a change? (I bounced here from https://github.com/helm/helm/issues/6646#issuecomment-547650430 which I suspect is incorrect for resources like this, where k8s exposes the same resource via multiple apiGroups, it must be keeping them compatible internally in some useful way.)

I suspect the general case is

[2020-01-13 11:25] pallinger commented on #6227
I have the same error with minikube on debian buster on x86_64:

`# helm install stable/kubernetes-dashboard --name dashboard-demo
Error: Get https://10.96.0.1:443/version?timeout=32s: dial tcp 10.96.0.1:443: i/o timeout
# curl -k https://10.96.0.1:443/version?timeout=32s
{
  "major": "1",
  "minor": "17",
  "gitVersion": "v1.17.0",
  "gitCommit": "70132b0f130acc0bed193d9ba59dd186f0e634cf",
  "git

[2020-01-13 11:29] matfiz commented on #7219
@curtisr7 can you share your go commands? I'm stuck with 10++ deployments that use deprecated kubernetes APIs. So no continuous deployment at the moment :P

[2020-01-13 11:59] zzarkouna commented on #5780
running 3.0.2
[code]
and values.yaml
[code]
helm packages ask me to run a dependency update
and when it package it don't remove deps
and when upgrade neither

[2020-01-13 12:13] zzarkouna opened #7389 "helm 3.0.2 doesn't respect dependencies conditions"
Output of `helm version`:
helmenv version
3.0.2
Output of `kubectl version`:
k version
Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.2", GitCommit:"c97fe5036ef3df2967d086711e6c0c405941e14b", GitTreeState:"clean", BuildDate:"2019-10-15T23:42:50Z", GoVersion:"go1.12.10", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"14+", GitVersion:"v

[2020-01-13 12:40] #7376 closed

[2020-01-13 12:58] marckhouzam commented on #7385
Yeah, this one has been causing us grief.
It's just been fixed by #6909 It will be part of the next helm patch release.

So this issue is a duplicate of #6863

[2020-01-13 12:58] #7385 closed

[2020-01-13 13:11] fischerman commented on #5281
@bacongobbler Doesn't the link that you posted describe this issue, instead of solving it? An out-of-band change will not be reverted by Helm, making the chart **not** the source of truth.

[2020-01-13 14:59] AlexEPetrov opened #7390 "Best practice for deploying dependent components (subcharts vs multiple helm calls)"
Hi All. Probably stupid question and hope it's right place to ask - I have concern what is best practice to deploy dependent components into k8s. I understand that Helm suggests clear way using dependencies (subcharts), but looking at this issue for example - https://github.com/helm/helm/issues/6850, I feel not quite comfortable to deploy critical thing (say, message broker or database) and suppor

[2020-01-13 15:59] polasekr opened #7392 "Is there a way or work around to render value file for use in third part chart which doesn't use tpl function?"
Use case:

I have a chart with has its my own templates, but it also includes 3rd party charts.
Example is my chart which contains my template for deploying openldap and it also includes chart dependency “jupyterhub”. Jupyter hub is using ldap for user authentication, so it needs to know values for ldap configuration. In my value file I would like to do have it organized the way that I do not dupl

[2020-01-13 17:16] atejano commented on #3822
Is the fix officially released? I am running on version `v2.15.2` of the helm client and I can still reproduce the issue.

[2020-01-13 18:54] curtisr7 commented on #7219
Yes. This bug applies to all apis that were removed from 1.16

I'm going to try to find some time to write a plugin that will do this migration.

[2020-01-13 19:01] alexandrsemak opened #7393 "Helm 3 resources apiVersion update"
Output of `helm version`:
Helm 3.0.2

Helm 3 doesn't provide any way to recreate resources after update apiVersion.

[code]

[2020-01-13 20:29] morrowyn opened #7394 "Helm doesnt create a serviceaccount with a imagepullsecret"
Hi,
I'm using the default helm template as basis. I have modified the following files:
values.xml
[code]
where acr-auth is a secret using the
` kubectl create secret docker-registry acr-auth --docker-server $ACR_NAME.azurecr.io --docker-username $ACR_NAME --docker-password $ACR_PWD --docker-email ignore@dummy.com`

After that I modified the `serviceaccount.yaml` inside the `/templates` directory
[

[2020-01-13 20:41] hayderimran7 commented on #5974
@withlin what was the issue? im seeing same issue on my EKS cluster. After doing
[code]
my `helm ls` hangs ..
cc @bacongobbler

[2020-01-13 21:11] bacongobbler commented on #7394
perhaps https://github.com/helm/helm/pull/7355 may be relevant?

[2020-01-13 22:15] jclarksnps commented on #6850
This is kind of a big deal no?  If I'm not mistaken you have no choice with helm3 to change your api revisions from v1beta1 to v1, so doesn't that mean everyone that uses helm pretty much that stays current has to delete deployments prior to upgrading a chart?

[2020-01-13 22:23] marckhouzam commented on #7345
In a similar issue of supporting the `-c` flag for `helm version` some maintainers expressed concern about supporting flags that could cause confusion. In the end that particular case was accepted because it provided other benefits than just backwards-compatibility.

I'm my humble opinion, having an argument NAME and also flag --name will seem counterintuitive.  With a major version increment (v2

[2020-01-14 01:03] alexandrsemak commented on #7393
Kubernetes provide `kubectl convert`
example:
`kubectl convert -f ./my-deployment.yaml --output-version apps/v1`

Is it possible integrate in Helm 3 with additional flag for migration to new apiVersion?

[2020-01-14 01:17] alexandrsemak commented on #7393
Kubernetes suggest use `kubectl convert` but looks like it is show up the same error, testing on kubernetes 1.14.9

[2020-01-14 03:06] hayderimran7 commented on #6378
same here- we dont define `ClusterIP` anywhere but still see the error

[2020-01-14 03:18] puckpuck commented on #7363
I agree that the linked script replicates what my workaround described above.

However, the digest to the previous chart versions doesn't change.  Shouldn't updates to existing chart definitions be predicated on a change to the digest as well?

[2020-01-14 08:14] nkleroux commented on #3742
Am I making the correct assumption that if you remove the repository option, it would automatically check in the charts folder?
https://github.com/helm/helm/blob/985827d09a0456551e116805a7c41c32800c85c0/pkg/downloader/manager.go#L219

Seems to be working for me, unless I'm missing something vital.

[2020-01-14 09:06] zh-jn opened #7396 "how to print the middle result when i dry-run a chart"
I am a newbie to helm,  I found it is hard to find the syntax error of helm chart through the output of the command `helm install --dry-run --debug XXX -g`.

How can i get the middle result which is the direct output of evaluation of templates, but not the output of k8s.

[2020-01-14 09:35] infa-ddeore commented on #6130
worked for me as well on AKS `v1.14.8` and helm+tiller `v2.16.1`

[2020-01-14 09:37] wi1dcard opened #7397 "Helm 3 template didn't output invalid YAML content during YAML parse error"
Helm3 seems not to output the YAML contents when failed to parse YAML to JSON:

[code]

From my understanding, Helm2 with tillerless would output the rendered YAML although they are invalid and this information was helpful for debugging the issues of my templates.

I also found that:

- #1546 implements this feature in Helm2. But I can not found the same part of codes in Helm3 since the tiller has

[2020-01-14 10:48] zffocussss commented on #3173
same here.I have this issues. I have a readness probe in the deployment file.

- Client: &version.Version{SemVer:"v2.15.2", GitCommit:"8dce272473e5f2a7bf58ce79bb5c3691db54c96b", GitTreeState:"clean"}
- Server: &version.Version{SemVer:"v2.15.2", GitCommit:"8dce272473e5f2a7bf58ce79bb5c3691db54c96b", GitTreeState:"clean"}
- apiVersion: apps/v1beta1
- AKS  v1.14.6

[2020-01-14 12:08] morrowyn commented on #7394
I don't know. I have created the secret manually beforehand. All I'm trying to do is connect this manual created secret to the new service account. I think the #7355 issue is when creating the secret during the helm install. Maybe they are connected somehow, indeed. It may make sense, that when first obtaining a token before the service account exists, the token will be invalidated.
Be aware that

[2020-01-14 12:13] morrowyn commented on #7394
From what I gather other projects are basically doing the same here. Like this one:
https://github.com/helm/charts/blob/master/stable/reloader/templates/serviceaccount.yaml

[2020-01-14 12:38] galindro commented on #5595
@henrikb123 the above works **only** if you **allways** used `--atomic` flag. Otherwise it will not work. For example: try to install a broken chart without it and them run the same command with the `--atomic` flag. It will break. FYI I'm using the latest Helm version -> 3.0.2

@bacongobbler why don't you just do what @henrikb123 said [here](https://github.com/helm/helm/issues/5595#issuecomment-56

[2020-01-14 12:43] gungorugur commented on #7002
+1

It works with "helm install --values -" or "helm install --values -" but not works with "helm upgrade --install"

Helm version:
version.BuildInfo{Version:"v3.0.2", GitCommit:"19e47ee3283ae98139d98460de796c1be1e3975f", GitTreeState:"clean", GoVersion:"go1.13.5"}

[2020-01-14 12:54] tomcruise81 commented on #6378
Messing around with this some more, I've observed that:
- `helm upgrade ... --force --install` - results in _The Service "dummy" is invalid:spec.clusterIP: Invalid value: "": field is immutable_
- `helm template ... | kubectl apply -f -` - works
- `helm template ... | kubectl replace -f -` - results in _The Service "dummy" is invalid:spec.clusterIP: Invalid value: "": field is immutable_
- `helm t

[2020-01-14 13:46] alexandrsemak commented on #6378
@tomcruise81 you can try use helm plugin 2to3 and migrate from helm2 to helm3 release and delete `--force` if you previously use it.
It is work for us.
As for me and looks like for another guys  `--force` has missbehaviour and should handling this case with immutable field as for me

[2020-01-14 13:53] akshaysharama opened #7398 "Rest Based API for helm"
Helm version
- 2.8.1
kubectl version
- 1.9.1

we are building some application(in go), which needs to interact with tiller using rest api's .

Is there any rest-api document for helm or helm supports any rest based api?

[2020-01-14 14:04] hickeyma commented on #7396
@williamjnzhang Are you looking for the `helm template` command? The following docs should provide more context:

- Helm 3: https://helm.sh/docs/chart_template_guide/

- Helm 2: https://v2.helm.sh/docs/chart_template_guide/

[2020-01-14 14:19] gadelkareem opened #7399 "Helm --dry-run should hide secrets"
Output of `helm version`:
version.BuildInfo{Version:"v3.0.1", GitCommit:"7c22ef9ce89e0ebeb7125ba2ebf7d421f3e82ffa", GitTreeState:"clean", GoVersion:"go1.13.4"}
Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.3", GitCommit:"2d3c76f9091b6bec110a5e63777c332469e0cba2", GitTreeState:"clean", BuildDate:"2019-08-19T12:36:28Z", GoVersion:"go1.12.9", Compi

[2020-01-14 14:20] hickeyma commented on #7398
Communication to Tiller is through gRPC. There is no supported REST API.
You could try using Helm as a Go SDK. Take a look in `https://github.com/helm/helm/tree/dev-v2/cmd/helm` for patterns the CLI uses.
Alternatively, have a look online. Some info in blogs like https://banzaicloud.com/blog/helm-rest-api/ about working around this.

[2020-01-14 14:30] hickeyma commented on #7399
Closing as duplicate of #7275

[2020-01-14 14:32] #7399 closed

[2020-01-14 15:01] kohithms commented on #7375
Hey @hickeyma , I have tried ** --timeout 1800s ** still we are experiencing the issue.

[2020-01-14 15:24] tomcruise81 commented on #6378
@alexandrsemak - thanks for the recommendation. In my instance, I'm seeing this on a chart that has only been installed or upgraded using helm 3.

[2020-01-14 15:36] #7398 closed

[2020-01-14 16:23] #6343 closed

[2020-01-14 16:43] thomastaylor312 commented on #7260
@AndiDog Thank you for the feedback! One question concerning this point:

So this was an explicit decision on my part. From the CLI perspective, having multiple post renders would add a lot of overhead of having to shell out to each thing, pull the buffer back in from stdout, then shelling out again for each one. My thinking was that if people wanted to use multiple post-renderers, they'd do it wi

[2020-01-14 16:48] thomastaylor312 commented on #7303
@chainhead So I think #7260 would solve this use case if I am understanding correctly. Using post render, you could actually have 0 go templating in your chart and then add/generate additional YAML in your post-render steps to your heart's desire. However, I don't know if you can have a completely empty manifest and then generate it completely out of band.

The other option here is this sounds lik

[2020-01-14 18:18] hiddeco opened #7400 "Usage of global Scheme can cause Helm to wrongly choose a 3-way-merge patch"
While using Helm as a package instead of just using the binary the problem exists that due to the [usage of the global `scheme.Scheme` in `pkg/kube/converter.go` to create versioned objects](https://github.com/helm/helm/blob/master/pkg/kube/converter.go#L40), custom resources added to `scheme.Scheme` by e.g. versioned clients [will make Helm attempt to 3-way-merge patch those resources as they are

[2020-01-14 20:23] AndiDog commented on #7260
I agree, that would work as well. For my idea of using the script to generate manifests in the first place (input ignored), it could be something like:

[code]

[2020-01-14 23:15] tillig commented on #5595
I also ran into this with Istio.

[There's an Istio issue with 1.4.3](https://github.com/istio/istio/issues/20184) where one of the jobs the install runs will fail if it can't get to the Kubernetes API server. It then leaves a job behind and if you try to re-run the Helm command it fails because the job exists already. I tried deleting the job, tweaking things, and re-running the upgrade but was n

[2020-01-14 23:21] mkolb-navican opened #7402 "Helm Command Line Reference"
What happened to the Helm Command Line Reference in the documentation? It was invaluable to finding helm command syntax and options. As a DevOps Engineer having access to this information is critical.

[2020-01-15 00:05] bacongobbler commented on #7402
see https://github.com/helm/helm-www/pull/401

[2020-01-15 00:05] #7402 closed

[2020-01-15 06:57] rishiraaz opened #7403 "Helm Status Command has no all Namespace option"
Output of `helm version`:
version.BuildInfo{Version:"v3.0.2", GitCommit:"19e47ee3283ae98139d98460de796c1be1e3975f", GitTreeState:"clean", GoVersion:"go1.13.5"}
Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.7", GitCommit:"6c143d35bb11d74970e7bc0b6c45b6bfdffc0bd4", GitTreeState:"clean", BuildDate:"2019-12-11T12:42:56Z", GoVersion:"go1.12.12", Comp

[2020-01-15 07:48] hickeyma commented on #7375
@kohithms That looks like  an issue with the upgrade command. It seems as if you passed a release name of `<Environemnt_Name>` which doesn't exist.

Here is output of when I use the command with `--timeout` on a Helm build from master:
[code]

[2020-01-15 08:02] hickeyma commented on #7403
@rishiraaz Just wondering why you need all namespace flag on the `helm status` command? I am asking because you run the command for a `RELEASE_NAME` which is specific to a namespace.

[2020-01-15 08:25] muvaf opened #7404 "Cannot disable validation during helm 3 install"
In Kubernetes 1.14 and below, there is no validation mechanism for CRD fields like the following:
[code]
It's been added in 1.15 with https://github.com/kubernetes/kubernetes/pull/78815

It's still possible to install CRDs with that validation block but you have to turn off the validation. `kubectl` has `--validate=[true,false]` flag for this but Helm 3 doesn't have a way to disable the validation

[2020-01-15 08:37] rishiraaz commented on #7403
There may be a need where someone wants to check the status of all the releases. @hickeyma

[2020-01-15 08:43] hickeyma commented on #7403
The status command requires a release name. Are you asking to extend the command to get status for all releases when the release name is not specified?

[2020-01-15 10:13] hpohl commented on #5875
Helm just deleted a whole namespace because it existed before and I was using `--atomic`. This is dangerous. v2.16.1

[2020-01-15 10:24] galindro commented on #5595
IMO this is a critical issue that needs to be fixed asap. I saw many other similar issues that had being open for the same problem since version 2 and til now seems that it hasn't be fixed.

I just ask for the developers to do exactly what @henrikb123 said on his comment to simulate this problem. Its a very simple way to simulate it. You can test it with any Helm version (2.x.x and 3.x.x). I'm alm

[2020-01-15 14:07] hickeyma commented on #1950
@thomastaylor312 I wonder if post-render #7260 could satisfy this use case?

[2020-01-15 14:15] zeph commented on #1579
reducing the scope of the search, worked for me
[code]

with the `helm lint .` to the rescue, I would have gone mad otherwise

[2020-01-15 14:24] zeph commented on #1579
p.s. don't use the `# with` as way of commenting... it goes haywire... use `{{- end -}}{{/* with */}}`

[2020-01-15 14:46] toshovski commented on #3403
If you want to templatize the content of the file, you can use the following example:

`
{{- range $path, $_ := .Files.Glob "configuration/*" }}
{{ $path | base | indent 2 }}: |
{{ tpl ($.Files.Get $path) $ | indent 4}}
{{- end }}
`

Please note the $ after the tpl.

[2020-01-15 16:32] PipTurner opened #7406 "Helm 3 - Uses the default values file without informing you of an error in your custom values file"
We have found that if you run the following command:

helm upgrade --install my-release --values ./my-values.yaml ./charts/my-chart --namespace dev

and there is an error in your my-values.yaml the error is suppressed and the default values file in the chart is used instead without any notifications. I can understand the behaviour of using the default values.yaml but it would be best if the error

[2020-01-15 16:50] hickeyma commented on #7260
@thomastaylor312 Proposal looks good to me. I think it is clear and easy to add a post renderer like `Kustomize`.   👍

[2020-01-15 16:54] Shriyut opened #7407 "Minio installation error in GKE related to chart name"
I'm trying to setup spinnaker in GKE

For this purpose when I run the command

helm install minio --namespace spinnaker --set accessKey="myaccesskey" --set secretKey="mysecretkey" --set persistence.enabled=false stable/minio

It throws the following error on my screen

Error: This command needs 1 argument: chart name

I'm not sure why since the command seems to be correct

[2020-01-15 17:52] KrustyHack opened #7408 "Helm broken after installation (Helm 3)"
Output of `helm version`:

Can't output, `helm version` return nothing.

Output of `kubectl version`:

Not needed, Helm seems not working even when just typing `helm` in my console.

[code]

Did I missed something ? I'm on Ubuntu 18.04 and up to date.

[2020-01-15 18:05] bacongobbler commented on #7408
does `--debug` display anything?

[2020-01-15 18:06] KrustyHack commented on #7408
Fixed. I switched to a new GKE cluster and now `helm` work nicely.

Is it normal that we can't even do a `helm version` without a K8S cluster ready ?