[2019-01-28 05:17] paulgmiller commented on #5219
Also I guess this could be lumped in with #3176

[2019-01-28 05:32] bacongobbler commented on #5219
cc @thomastaylor312

[2019-01-28 09:51] frosch95 opened #5220 "proxyconnect tcp: net/http: TLS handshake timeout"
Output of `helm version`:
Client: &version.Version{SemVer:"v2.12.3", GitCommit:"eecf22f77df5f65c823aacd2dbd30ae6c65f186e", GitTreeState:"clean"}
Error: Get https://xxxxxxxxxxxxxxxx.westeurope.azmk8s.io:443/api/v1/namespaces/kube-system/pods?labelSelector=app%3Dhelm%2Cname%3Dtiller: proxyconnect tcp: net/http: TLS handshake timeout

Output of `kubectl version`:
Client Version: version.Info{Major:"1

[2019-01-28 10:42] tjerkw opened #5221 "helm install --force fails"
Output of `helm version`:
Client: &version.Version{SemVer:"v2.12.1", GitCommit:"02a47c7249b1fc6d8fd3b94e6b4babf9d818144e", GitTreeState:"clean"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.2", GitCommit:"cff46ab41ff0bb44d8584413b598ad8360ec1def", GitTreeState:"clean", BuildDate:"2019-01-10T23:35:51Z", GoVersion:"go1.11.4", Compiler:"gc", Plat

[2019-01-28 15:03] pamiel commented on #4670
+1

[2019-01-28 15:38] jsravn commented on #3673
@bacongobbler what are your thoughts on this bug? Would you be open to a contribution to fix this?

[2019-01-28 16:59] hickeyma commented on #5085
Currently a WIP ..

[2019-01-28 17:52] paulgmiller commented on #5219
Okay let me spin up a PR for the first. Would probably start with max unavailable since it's easier than querying node status.

You're definitely using [deploymentutil.GetNewReplicaSet](https://github.com/kubernetes/kubernetes/blob/2cbb16bc8dd456c5db72c1667926abdbc87c32c7/pkg/controller/deployment/util/deployment_util.go) and that seems use the spec hash  to match `EqualIgnoreHash(&rsList[i].Spec.

[2019-01-28 21:48] williamhammond commented on #3593
why does this need to be done outside of the .`Files.Glob` function?

[2019-01-28 23:12] rcoh commented on #4490
FYI, the hackaround to this alluded to in the question (but I want to call out it for others explicitly) is to include the condition in your root chart values _exactly_ as it appears in the subchart requirements.

Eg. instead of
[code]
do:
[code]

[2019-01-28 23:41] #3338 closed

[2019-01-29 00:31] kkehres commented on #3593
You need to run this for each file and the best way to do that is get an array of filenames.  I also had some issues getting secrets created for template files which I got some other help from another issue thread.

[2019-01-29 00:53] kkehres commented on #3593
also I guess I should add you can't have a directory as part of a secret unless you use a subpath. That was not my use case.

[2019-01-29 06:00] cleac commented on #3338
Well, as far as I understand things, this feature must be ported to `dev-v3` branch. Should it be done related to different issue? Or maybe this one shouls be reopened?

[2019-01-29 08:08] novas0x2a commented on #4045
We're also getting bitten by this. I'm trying to understand the logic behind diffing against the most recent DEPLOYED instead of just the most recent chart. So, with that in mind: two different failure scenarios (and for the moment, let's pretend there is only one resource):

Scenario A:
1) Chart is installed and becomes DEPLOYED (v1)
2) Chart is upgraded, live state is applied, Wait fails (releas

[2019-01-29 08:49] tronicum commented on #4331
I second that. In my case I want to specifically change the namespace from an old deployment to another namespace in the future and helm wants to help me by using the old one. If a specific name is given as parameter helm should obey that

[2019-01-29 10:18] montaro commented on #4670
+1

[2019-01-29 10:21] kcatstack commented on #5218
You can solve it with a workaround by adding an annotation to pods. Every time you need to restart the pods, change the value of that annotation. A good annotation could be `timestamp`

[2019-01-29 10:32] manojchandrabss commented on #5218
Hi @kcatstack

Thank you very much for responding to my problem, COuld you please send me the full command. We are using below command, COuld you please make changes as per ur suggestion. That will be great help for us.

helm upgrade --recreate-pods ecf-helm-satellite-qa . --set=image.tag=qa-helm-image --debug.

we need to update image without downtime.

[2019-01-29 10:58] pavdmyt commented on #5046
Having the same issue with helm v2.12.2:

[code]

Running ZSH under OSX:

[code]

[2019-01-29 11:16] manukasa opened #5223 "helm install - YAML parse error -mapping values are not allowed in this context"
**helm version**
Client: &version.Version{SemVer:"v2.12.2", GitCommit:"7d2b0c73d734f6586ed222a567c5d103fed435be", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.12.2", GitCommit:"7d2b0c73d734f6586ed222a567c5d103fed435be", GitTreeState:"clean"}
root@161:/home/philips/Helm Phoenix/helm#
**kubectl version**
Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.2", GitCommit

[2019-01-29 11:16] antoniaklja opened #5224 "Helm doesn't respect TLS certificate expiration"
It looks like Helm doesn't respect TLS certificate expiration for both the client and the server.

[code]
returns that certificate has expired:
[code]

then `helm upgrade` doesn't complain that certificate has expired.

I found this in [Using SSL Between Helm and Tiller](https://github.com/helm/helm/blob/master/docs/tiller_ssl.md) but it doesn't solve the acutal problem. Client has to set this fla

[2019-01-29 11:19] antoniaklja commented on #5216
The only reasonable solution is to update existing k8s Secret, otherwise, it can have an impact on production workloads (esp. rollback to previous release),

[code]

[2019-01-29 12:04] nickdgriffin commented on #4976
@therealgambo: Judging by the most recent comment on https://github.com/kubernetes/kubernetes/issues/71556, it sounds like Helm should be retrieving the specific version that is stated in the template rather than doing an ambiguous get?

[2019-01-29 13:59] jsravn commented on #3673
I made https://github.com/helm/helm/pull/5225 to try and fix this.

[2019-01-29 15:01] 0verc1ocker commented on #5157
I agree that this feature would be nice. Right now configMaps can grow infinitely on previously deployed releases of Tiller and Helm. The only way to fix this it to purge and delete releases already deployed which can be a big inconvenience if you are dealing with many cluster and releases.

[2019-01-29 17:32] thomastaylor312 commented on #3338
@cleac I think this was more targeted to Helm 2. @adamreese should we put something on the project board?

In the meantime, feel free to work on the port if you were planning on doing so, we won't block opening a PR just because there isn't an issue for it 🙂

[2019-01-29 18:41] #4818 closed

[2019-01-29 19:15] #4505 closed

[2019-01-29 19:51] bacongobbler commented on #4825
I just confirmed this bug as well with 2.12.3.

[code]

I'll have a look at https://github.com/helm/helm/pull/5161 and give that a go.

[2019-01-29 20:01] bacongobbler commented on #4825
fixed via #5161. Closing!

[2019-01-29 20:01] #4825 closed

[2019-01-29 20:04] #3673 closed

[2019-01-29 20:35] bacongobbler commented on #1796
fixed in #5228

[2019-01-29 20:35] #1796 closed

[2019-01-29 21:17] danseo-reisys opened #5229 "[fsGroup: Invalid value: []int64{999}: 999 is not an allowed group]"
Output of `helm version`:  v2.12.1

Output of `kubectl version`:Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.0", GitCommit:"ddf47ac13c1a9483ea035a79cd7c10005ff21a6d", GitTreeState:"clean", BuildDate:"2018-12-03T21:04:45Z", GoVersion:"go1.11.2", Compiler:"gc", Platform:"windows/amd64"}
Server Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.1+a0ce1bc657", GitCom

[2019-01-30 00:16] timm088 commented on #3372
@josdotso , did you ever find further detail about this?

[2019-01-30 03:06] timm088 commented on #5218
We have used ```timstamp: "{{ date "20060102150405" .Release.Time }}"``` within our helm charts to induce this behavior.

It also requires removal of --recreate-pods to achieve the desired rollingUpdate strategy

[2019-01-30 03:10] bacongobbler commented on #5218
I'm going to close this as answered but please reopen if this doesn't fully address your use case. Thanks for chiming in @timm088 and @kcatstack!

[2019-01-30 03:10] #5218 closed

[2019-01-30 03:39] gordcorp commented on #5121
I was just trying to run tiller locally, [restricted to deploy against a specific namespace](https://docs.helm.sh/using_helm/#example-deploy-tiller-in-a-namespace-restricted-to-deploying-resources-only-in-that-namespace), and it took me a little while to realise that `TILLER_NAMESPACE` was also necessary for tiller in this situation, despite not appearing in `tiller --help` - maybe env vars like t

[2019-01-30 05:43] rrajadevops opened #5230 "Unable to upgrade HELM with new kubernetes kind"
Output of `helm version`:

Client: &version.Version{SemVer:"v2.12.1", GitCommit:"02a47c7249b1fc6d8fd3b94e6b4babf9d818144e", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.12.1", GitCommit:"02a47c7249b1fc6d8fd3b94e6b4babf9d818144e", GitTreeState:"clean"}

Output of `kubectl version`:

Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.2", GitCommit:"81753b10df112992bf5

[2019-01-30 06:14] bacongobbler commented on #5230
Looks to me like a duplicate of https://github.com/helm/helm/issues/4423. Are you okay with me closing this in favour of that ticket?

[2019-01-30 06:30] yaminisridaran opened #5232 "Need to inform helm to delete a resource at the last"
I am new to helm. I have resource A, B and C. I need to install resource A first and delete resource A last.
How do I configure the helm to do this.

[2019-01-30 08:58] yaminisridaran commented on #4246
How to assign the priorities in templates. I wanted to delete a resource at the last. how do I achieve this?

[2019-01-30 12:11] mosaicwang commented on #5064
I meet the same question(k8s v1.13.2+flannel v0.10.0)

I found a solution : shutdown service firewalld,then re-execute `helm init `

[2019-01-30 14:20] eyalzek commented on #3353
I'm not sure it's a regression, but that it was never actually "fixed".

[2019-01-30 15:02] burnettk opened #5237 "additional feature to roll back to last successful release rather than just last release"
To roll back to the previous release you can use `helm rollback [RELEASE] 0` as documented [here](https://github.com/bacongobbler/helm/blob/4fd32da617acbc3b613c3e3d52f7df4422753774/docs/helm/helm_rollback.md).

I don't have a strong opinion on the actual command to use. `helm rollback [RELEASE] LAST_SUCCESSFUL` would work.

See some history at https://github.com/helm/helm/issues/1796, where [some]

[2019-01-30 16:09] mdeknowis commented on #3684
Also something good to know:

[code]

[2019-01-30 16:15] manojchandrabss commented on #5218
@timm088 and @kcatstack thank you very much for ur help, it was nice explanation. cheers

[2019-01-30 16:28] AlexShemeshWix commented on #949
+1

[2019-01-30 16:50] MrD2 commented on #5170
I can confirm this also happens to me

[2019-01-30 18:13] Overbryd opened #5238 "Merge in template does not work with boolean values"
Output of `helm version`:

[code]

Output of `kubectl version`: irrelevant

Cloud Provider/Platform (AKS, GKE, Minikube etc.):  irrelevant

<br>

### Context

I have a template that is rendered from another charts template.
I use the other chart as a _base chart_ and therefore `{{ $_ := merge .Values .Values.base }}` in the templates.

Unfortunately, as documented in [this sprig issue](https://git

[2019-01-30 18:18] gaieges commented on #3277
I see the same thing, consistently with the below version.

Purging seems like a poor solution. While it works, this bug should remain open and be addressed in helm, vs expecting a manual purge to take place.

[code]

[2019-01-30 20:13] sbrooks-c7ks7s commented on #1579
I had the same issue. In my case the fix was to rename values.yml -> values.yaml

[2019-01-31 03:22] zyf0330 opened #5239 "helm template generates output not including child chart"
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.):

I use `helm template` to generate k8s configs, and find child charts of dep don't be included in output yaml.

[2019-01-31 08:32] simonferquel opened #5242 "Consider making Helm an opinionated CNAB package builder"
Similarly to what is currently happening with github.com/docker/app, it would be very nice for Helm to become an opinionated tool building CNAB packages. This can be done without changing the user-experience of the Helm tool - as the experiments around docker/app + CNAB proved - but it would provide some very interesting benefits:
- Compatibility with the whole CNAB ecosystem (which is obviously s

[2019-01-31 09:11] andytom commented on #4936
This seems to have been fixed in the latest version of Helm so going to close this as fixed.

[2019-01-31 09:11] #4936 closed

[2019-01-31 12:33] proskehy opened #5244 "helm template and helm install --debug --dry-run differ from final result"
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.): Baremetal (Centos 7 VMs)

------------------------------------------------------------------------------------

Edit:
Turned out to be a syntax error in Kubernetes (strangely not picked up by Helm).
The problem was that the generated volumes looked like this:
[code]

But the corr

[2019-01-31 14:00] Simon3 commented on #3622
+1

[2019-01-31 14:21] Jamie-sas opened #5247 "Helm deletes secrets too soon"
Output of `helm version`:

Client: &version.Version{SemVer:"v2.7.2", GitCommit:"8478fb4fc723885b155c924d1c8c410b7a9444e6", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.7.2", GitCommit:"8478fb4fc723885b155c924d1c8c410b7a9444e6", GitTreeState:"clean"}

Output of `kubectl version`:

Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.4", GitCommit:"5ca598b4ba5abb89bb773

[2019-01-31 15:51] autarchprinceps commented on #1579
I am also facing the same issue. Why is it closed? I don't see any explanation or solution here.

[2019-02-01 04:07] 27Bslash6 commented on #4664
Until Helm v3 is released, I'm trying to find ways to circumvent repeatable helm communication timeouts during multiple simultaneous releases.

Is this simply a matter of increasing pods by via `kubectl scale deployment tiller --replicas=X` ?

Any gotchas to watch out for?  I understand race conditions in CRUD operations but this is possibly something I can live with in the interim.

[2019-02-01 04:54] bacongobbler commented on #4664
Yep, in general it'd be `kubectl -n kube-system scale deployment tiller-deploy --replicas=3`.

The other issue I know about is Helm's portforwarder library (the one that it uses to connect to Tiller). portforwarder connects to [the first running pod in the deployment](https://github.com/helm/helm/blob/7161095f79e2c9a35350d301ad820e57e56182ec/pkg/helm/portforwarder/portforwarder.go#L81-L85), theref

[2019-02-01 09:08] l15k4 commented on #3933
This always happen to us when we accidentally upgrade `production` cluster with `staging` values :
[code]
then it requires deleting all configmaps as the `staging` values remain in all those configmaps for some reason.

[2019-02-01 12:12] mosaicwang commented on #5211
I meet the same question. **k8s and tiller version is same as asachs01**.
I installed flannel from 0.9.1 to 0.11, execute `helm ls` all report
[code]

[2019-02-01 14:00] sgandon commented on #2336
I there any news on this issue please ?
Cause basically if this is not possible, I guess that would be worth some more clear notes in the documentation here: https://github.com/helm/helm/blob/master/docs/chart_template_guide/yaml_techniques.md#yaml-anchors
Like explicitly stating that anchor usage is not recommended cause set the value with --set on the command line will fail and values files over

[2019-02-01 14:06] akboyd88 commented on #2914
I'm also able to reproduce this:

helm version
Client: &version.Version{SemVer:"v2.12.0", GitCommit:"d325d2a9c179b33af1a024cdb5a4472b6288016a", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.12.0", GitCommit:"d325d2a9c179b33af1a024cdb5a4472b6288016a", GitTreeState:"clean"}

[2019-02-01 14:08] asachs01 commented on #5211
@mosaicwang I did, but it involves _not_ using Flannel for my CNI. Instead, I'm running weave now. This seems to have resolved the problem and definitely confirms what @bacongobbler called out. I'm fairly confident that this is a Flannel issue and will close this one off.

[2019-02-01 14:08] #5211 closed

[2019-02-01 15:58] bacongobbler commented on #1979
this was implemented in #4141 which was merged into the Helm 3 branch. Closing

[2019-02-01 15:58] #1979 closed

[2019-02-01 16:03] bacongobbler commented on #1979
@llibicpep see https://github.com/helm/helm/issues/1979#issuecomment-280182154 for a workaround.

[2019-02-01 16:46] bacongobbler commented on #3770
resolved in #3781

[2019-02-01 16:46] #3770 closed

[2019-02-01 17:11] emirhosseini commented on #2515
--purge not --force

[2019-02-01 17:12] #4896 closed

[2019-02-01 17:32] bacongobbler commented on #4728
fixed via #5186

[2019-02-01 17:32] #4728 closed

[2019-02-01 19:07] thomastaylor312 commented on #1193
@jkroepke just pointed out to me that PR #5143 provides a good workaround for this. When the `--atomic` flag is released in the next minor version, you should be able to use it to automatically purge or rollback when there is an error.

@bacongobbler given you have been involved with most of the back and forth on this one, is there something else that can be done to fully fix this, or would the `-

[2019-02-01 19:51] bacongobbler commented on #1193
I think @distorhead might want to take a look at that one and see if it also resolves his concerns he raised in https://github.com/helm/helm/pull/4871. Other than that, it looks like `--atomic` should address the concern *assuming* you always use the `--atomic` flag.

I don't believe there's been any proposed solutions to address the issue when you get into this particular state, but I could be wr

[2019-02-01 20:19] kellyfj commented on #3117
I have the same issue in

`$ helm version
Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}`

[2019-02-01 20:23] nitishm commented on #3933
You can always use the hooks to delete the old configmap and recreate a new one everytime you do an update/install, by adding this annotation to the configmap. Atleast that is how I got around this issue.

However, note that helm doesn't keep track of hook resources.

[code]
For reference https://github.com/helm/helm/blob/master/docs/charts_hooks.md

[2019-02-01 22:11] rtpro commented on #3480
Thanks, @technosophos, hoping gRPC upgrade fixes this as this issue causes some PITA for us.

[2019-02-01 23:44] #5066 closed

[2019-02-02 00:08] bacongobbler commented on #5237
Does https://github.com/helm/helm/pull/5115 solve your use case?

[2019-02-02 00:30] jdolitsky commented on #5242
@simonferquel could you elaborate a bit on what this might entail? Trying to wrap my head around what this means.

I thought the whole point of CNAB was to be able to install anything regardless of format?  :)

IMO - uniform registry support can come in the form of some Go SDK that matches the spec being
 [discussed on OCI-dev mailing list](https://groups.google.com/a/opencontainers.org/forum/#!to

[2019-02-02 13:59] ChrisCooney commented on #2914
I have seen this exact behaviour too. It's preventing us from ensuring availability during node maintenance.

[2019-02-02 16:51] Nemmo commented on #5196
The problem automagicaly resolved: today I have tried to add repo again, but got the same timeout error. Then I typed `kubectl logs -f tiller-deploy`, saw nothing. And finally I have tried to add repo again and IT WORKS! Crazy!

[2019-02-02 16:56] #5196 closed

[2019-02-02 17:53] cgkades commented on #3055
Nothing above worked.

[2019-02-02 22:39] elpadrinoIV commented on #2735
Same problem here. With `--debug`, the deployment output is correct but `kubectl get deployment -o yaml` shows another thing. Also `helm manifest` shows the expected deployment yaml, but not the one deployed in the k8s cluster.

[code]

K8s cluster deployed on premise.

[2019-02-02 22:56] knito opened #5253 "Add --tls flag to helm install command."
Add --tls flag to helm install command.

_Originally posted by @makandas in https://github.com/helm/helm/issues/3409#issuecomment-441161141_

This works for me! Thanks!

[2019-02-02 23:02] #5253 closed

[2019-02-03 03:16] kuops opened #5254 "how i set gotpl to envars ?"
Output of `helm version`:
[code]

Output of `kubectl version`:

[code]

values.yaml

[code]

i want get envVars.name "MYSQL_ROOT_PASSWORD"  value how to write

[2019-02-04 02:10] whereisaaron commented on #3353
@RickS-C137 I think this is supposed to be fixed by using `helm upgrade --install --force` which will 'delete' then 'install --replace' a failed release.

[2019-02-04 06:04] pc-rshetty commented on #3414
I had tiller running on 2.11.0 and i did NOT have it configured with --history-max and hence i have the tiller environment variable as below
    Environment:
      TILLER_HISTORY_MAX:  0

I confirm i successfully upgraded to  helm and tiller 2.12.3 with --history-max=20

I still see all the configmaps for previous releases (more than 20) and also the environment variable is still same
    Environm

[2019-02-04 07:58] huang-jy commented on #4659
Adding my own experience here.

In my case, this error occurred because I copied my home directory off in preparation for a clean reinstall of my OS, and then copied it back.

What I didn't realise is that `~/.helm/repository/repositories.yaml` had my old home directory name (my username changed between the old and new OS installation) and this broke my "local" repo.

Doing a simple `sed -i s/old-

[2019-02-04 09:08] #5254 closed

[2019-02-04 12:03] hgajjar commented on #3277
I'm facing this same issue too, is there a solution except deleting the deployment?

[2019-02-04 12:23] hgajjar commented on #3277
I'm able to fix this by purging the release and reinstalling it, also tested with an upgrade afterwards. Just an observation, this might have happened due to a manual change I did in one of the k8s resources after preview release.

[2019-02-04 13:19] vineetmimrot opened #5256 "helm install --wait, should wait for the ingress DNS allocation to get complete"
With current functionality of _helm install --wait_, it waits until all Pods, PVCs, Services, and minimum number of Pods of a Deployment are in a ready state before marking the release as successful or timeout.
But it doesn't wait for the DNS allocation in case of ingress. Through kubectl I have to specifically run the following command to wait for its completion:
kubectl get ingress -n <namespace

[2019-02-04 15:13] BobLamarley commented on #4957
Someone had resolve this problem ? I'm facing the same issue, and the error is not detailed enough for me to understand :(

[2019-02-04 16:26] bacongobbler commented on #4957
@BobLamarley same for us as well. The error is not specific enough to determine the issue, but it's coming from gitlab, not Helm. I'd suggest opening a ticket with the gitlab team. We have no clue what would cause the error.

[2019-02-04 17:54] ianseyer opened #5257 "Helm multiple environments best practices"
Hi!

I am wondering what recommended practice is for maintaining values files for several environments with overlapping values.

For example: we have a directly `values/` with each environment's values file [`sandbox`, `prod`, `stage`, `dev`, etc].

There is quite a bit of overlap between the files, and I am looking for a way to
1. Not have to repeat newly-added configuration values across each en

[2019-02-04 18:00] bacongobbler commented on #5242
Hey @simonferquel, thanks for bringing this discussion topic to the issue queue. I'd like to take a stab at gathering your thoughts on the subject.

These use cases certainly could be quite useful for users wanting alternative ways to build a Helm chart. My concern here is exactly what you brought up: the CNAB ecosystem is *very* early and very sparse. The CNAB specification hasn't hit 1.0 yet, an

[2019-02-04 18:19] bacongobbler commented on #5247
@Jamie-sas would you mind verifying if this is still a bug with a more recent version of Helm?

[2019-02-04 18:23] bacongobbler commented on #5247
I think this is kind of intended by design, though I can see why it would occur and why this would be frustrating. By design, a `post-delete` hook runs after everything has been deleted, and therefore should not assume that it can access any resources created from the chart itself.

Perhaps a `pre-delete` hook may be better suited here for your use case?

[2019-02-04 18:33] elpadrinoIV opened #5258 "icon field in Chart.yaml should support a base64 encoded string"
Currently the field `icon` only supports an url.

The proposal is to accept a base64 encoded string with the icon (with length limit).
It could be either the same field or another one.

This will allow to:

 * Version the icon file
 * Allow icons that are not publicly available

[2019-02-04 18:46] bacongobbler commented on #5239
Seems to work for me.

[code]

Did you remember to run `helm dep up` or `helm dep build`?

[2019-02-04 18:47] bacongobbler commented on #5258
closing as a duplicate of https://github.com/helm/helm/issues/2943

[2019-02-04 18:47] #5258 closed

[2019-02-04 19:15] larsha commented on #3149
@distorhead That is not working correctly. If your last deploy is marked as failed (as it will be if you have one failed deploy) your command will be empty. I would use something like this:

```last_deployed_release=$(helm history "${RELEASE_NAME}" --max 20 | grep DEPLOYED | head -n1 | awk '{print $1}')```.

[2019-02-04 19:21] ian-howell commented on #5201
I can take a shot at this. We want the behavior created by @calind's response to be default?

[2019-02-04 21:05] hickeyma commented on #5085
@mattfarina In progress. Breaking up into partial PRs per functionality as will be more manageable.

[2019-02-04 22:22] RomHartmann commented on #1140
For anyone experiencing this when using multiple kubectl contexts, remember to also explicitly set `--kube-context` when using one that is not default.:

```helm del --purge $(NAME) --kube-context $(ENV)```

[2019-02-04 22:38] #5124 closed

[2019-02-05 01:05] amanuel6 commented on #4166
Did you figure out the solution to this? I'm having the same error.

[2019-02-05 01:14] znorris opened #5261 "Helm Lint `error converting YAML to JSON` when using $ with toYaml"
Output of `helm version`:
[code]
Output of `kubectl version`:
N/A

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
N/A

**Issue:**
Now that I've written the the steps below it seems to me that `toYaml` isn't able to use  `$` to refer to the global context when in this range scope. Shouldn't `$` always refer to the global context? (as mentioned here https://github.com/helm/helm/blob/master/docs/

[2019-02-05 03:09] zyf0330 commented on #5239
Maybe I described wrongly.  I mean there is one more dep level inside child
dep chart.

On Tue, Feb 5, 2019, 02:46 Matthew Fisher <notifications@github.com wrote:

[2019-02-05 07:54] BobLamarley commented on #4957
@bacongobbler I was using the certificate .pem but i wasn't including "-----BEGIN CERTIFICATE-----" at the beggining and "-----END CERTIFICATE-----" at the end. Now my error has changed ^^
![image](https://user-images.githubusercontent.com/7857364/52259592-84326480-2923-11e9-83d8-f3883e120d01.png)
I will create a ticket with the gitlab team anymay :)

[2019-02-05 08:34] BobLamarley commented on #4957
For those wo've the same problem, I've managed the problem with this docs
https://docs.gitlab.com/ee/user/project/clusters/#adding-an-existing-kubernetes-cluster
I was missing a gitlab service account in the default namespace and a cluster role binding to give the gitlab service account cluster-admin privileges :)

[2019-02-05 08:58] simonferquel commented on #5242
@bacongobbler About backward compatibility, the main advantage, is that you can bring new runtime features (e.g. new hooks, or even a new hook scripting language) without having ops to update their toolchain. You can even introduce runtime breaking-changes without worrying about how existing packages will run (as they embed their own copy of the runtime with them). For Helm, I agree it might not b

[2019-02-05 09:07] neeraj-laad commented on #5201
@calind This solution looks promising, however we are checking for the group (clusterregistry.k8s.io) to be present in .Capabilities.APIVersions.

Is there a way to check for the specific name (clusters.clusterregistry.k8s.io)?

[2019-02-05 09:10] andresmgot commented on #4987
I have found the same issue. I can confirm that the `=` assignment doesn't work with Helm `v2.11.0` but it does with `v2.12.X`.

[2019-02-05 09:58] lokeshh commented on #4886
@chenzhiwei Any temporary fix for this?

[2019-02-05 10:13] hickeyma commented on #5181
@IvanovOleg Did you manage to get this working?

[2019-02-05 10:15] hickeyma commented on #5172
@deepforu47 Any progress on this or the questions Matt asked in https://github.com/helm/helm/issues/5172#issuecomment-455602430?

[2019-02-05 10:34] hickeyma commented on #5261
It is because `resources` is empty. Need to check as follows:

[code]

[2019-02-05 10:36] hickeyma commented on #5239
@zyf0330 Can you provide the example so we can troubleshoot your issue?

[2019-02-05 10:37] zyf0330 commented on #5239
Ok, maybe next week.

On Tue, Feb 5, 2019, 18:37 Martin Hickey <notifications@github.com wrote:

[2019-02-05 10:55] RikuXan opened #5262 "Centralized require directives"
I have a helm chart that necessitates a user supplying certain values, for which there are no sane default values.

While I have found that I can mark certain variables as mandatory to declare, by leaving them empty in my `values.yaml` and then including them in my templates with `required`, I'm still wondering where exactly to declare them as required. Many of these values occur in multiple spots

[2019-02-05 11:48] hphde commented on #3927
Super helpful to know about `\v` - made my day

[2019-02-05 12:02] IvanovOleg commented on #5181
@hickeyma I got rid of b4dec in the template

[2019-02-05 12:42] hickeyma commented on #5181
I see. Do you still have an open issue, more questions, or can this be closed?

[2019-02-05 12:47] #5181 closed

[2019-02-05 14:09] MrD2 commented on #4855
Check this: https://github.com/helm/helm/issues/5170

[2019-02-05 14:21] hickeyma commented on #4987
@nuxlli As tested and proved, this works with v2.12.x. If you can't use this version then maybe compile against Go 1.11.
If this solves your issue, can this be closed?

[2019-02-05 14:44] gerbsen commented on #3208
Why is this closed? Do we have a proper way to handle this now?

[2019-02-05 14:50] BobLamarley commented on #2918
I'm facing the same issue as you, i'm using a k8s cluster on DigitalOcean and i'm using autoDevOps on gitLab :)
Do you resolve your issue ?
Here is my gitLab console :
![image](https://user-images.githubusercontent.com/7857364/52281063-8d402780-295d-11e9-8811-c2a2c5c5ac84.png)
Here is what i got when i'm checking pods on my k8s
![image](https://user-images.githubusercontent.com/7857364/52281114-af

[2019-02-05 14:57] hickeyma commented on #5209
@kumbamashwin did you get the upgrade command working?

[2019-02-05 15:12] bacongobbler commented on #5201
`.Capabilities.APIVersions.Has $version` indicates whether a version (batch/v1) is enabled on the cluster.

Does that help?

[2019-02-05 15:50] dorsany commented on #5204
Great tools, I will definitely check them...
Thank!

[2019-02-05 15:50] #5204 closed

[2019-02-05 16:24] #5035 closed

[2019-02-05 16:32] znorris commented on #5261
@hickeyma I'm not sure I understand. It was empty before I wrapped the entire deployment in a range, and it passed the linting test.

[2019-02-05 17:36] igalarzab commented on #3554
This is fixed probably with #5186

[2019-02-05 17:59] #3554 closed

[2019-02-05 18:57] tylerstapler-wf opened #5265 "Timeline for secret storage backend to graduate from beta"
The documentation lists the secrets tiller storage backend as beta. https://docs.helm.sh/using_helm/#storage-backends

It goes on to say:

I was curious, when this backend will be considered stable?

Thank you!

[2019-02-05 19:57] distorhead commented on #3149
@larsha

If you have a single failed release revision, then you have to purge it, because there are no revisions to rollback to.

Otherwise release is supposed to always be in the DEPLOYED state, because either previous helm install/upgrade succeeded or there was an rollback.

So commands are working correctly, no need to get release history.

[2019-02-05 20:08] larsha commented on #3149
@distorhead Ah my bad, missed you are getting the last deployed release before actually doing the helm install/upgrade!

[2019-02-05 21:00] Jamie-sas commented on #5247
I am attempting to get the OK to install a more recent version of Helm, as it is not entirely my decision.

Yes, switching to a pre-delete hook instead does work, but in my opinion shouldn't be necessary.  If Helm supports pulling images from private repos, it should support that for ALL images.  There is also the question of whether or not everything has quiesced enough for a pre-delete to work,

[2019-02-05 21:14] distorhead commented on #1193
## Atomic will not resolve the issue

Example chart: https://github.com/distorhead/ex-helm-upgrade-failure

1. Check out master, run deploy.

[code]

Chart contains 2 deployments -- `myserver1` and `myserver2`:

[code]

2. Make breaking change. Delete deployment `myserver1` from chart and modify deployment `myserver2` with user-error (delete image field for example):

[code]

[code]

3. Run deploy

[2019-02-06 06:53] stealthybox commented on #3117
I still have a working patch for this -- I haven't found the time to push it over the last mile.
I found some other bugs along the way that after discussing with @mattfarina I should revert the fixes for.

[2019-02-06 07:03] stealthybox commented on #3208
@gerbsen, there isn't a way around this with current versions of Helm that is non-destructive.
We still use Helm 2.7.0 for everything in my org. It is a very old version that has other bugs, but it does not have this issue.

[2019-02-06 07:13] hickeyma commented on #5257
You could try [helmfile](https://github.com/roboll/helmfile) or [orca](https://github.com/nuvo/orca)

[2019-02-06 09:03] eamonnmcevoy opened #5266 "Question: Can I have duplicate dependencies?"
I have a dependency on `kong` in my current architecture I run more than 1 kong instance.

Is there a possibility to require the same chart more than once, I would like to be able to do something like this:

I am not so experienced with helm so it's possible I have the wrong idea about how to achieve this.

[2019-02-06 09:20] yanivpaz commented on #3555
it will be very useful

[2019-02-06 09:51] sebosp opened #5267 "Add kind_sorter support for RoleList, ClusterRoleList, RoleBindingList, ClusterRoleBindingList"
## Background
I have a tiller segregated to kube-system following docs/rbac.md
[example-deploy-tiller-in-a-namespace-restricted-to-deploying-resources-only-in-that-namespace](https://github.com/helm/helm/blob/master/docs/rbac.md#example-deploy-tiller-in-a-namespace-restricted-to-deploying-resources-only-in-that-namespace)

To be able to install Prometheus Operator 1.5.1, I added a lot of permissio

[2019-02-06 10:00] #5266 closed

[2019-02-06 10:01] eamonnmcevoy commented on #5266
I can do this with `alias`, the documentation around dependencies doesn't mention this feature
https://github.com/helm/helm/blob/master/docs/helm/helm_dependency.md

dependencies:
  - name: kong
    version: 0.9.2
    repository: https://kubernetes-charts.storage.googleapis.com
    alias: kong-api-gateway
  - name: kong
    version: 0.9.2
    repository: https://kubernetes-charts.storage.googleapi

[2019-02-06 10:03] tnozicka commented on #2918
If this is using the `kubectl rollout status` command, I've fixed it in k8s 1.12. If it was using `Until` (`UntilWithoutRetry`) it should switch to `UntilWithSync`.

[2019-02-06 10:11] BobLamarley commented on #2918
I'm in 1.13 for both k8s client and server according to my screenshot :)

[2019-02-06 11:24] cmeyertons commented on #5135
Why is this the expected behavior when it behaves differently than the rest of the `values.yaml` file?

Spent a couple of hours scratching my head as to why this configuration wasn't working:
[code]

the expected way is to do:
[code]

I really like how the rest of the `values.yaml` just passes in an encapsulated set of values -- it makes your subchart configuration clean & isolated.  I wish there

[2019-02-06 13:16] pavdmyt commented on #3045
@bacongobbler I'm having the same question as @muehlburger

#2399 provides only solution for single value modification.

[2019-02-06 13:36] sven-carstens opened #5269 "pod tiller-deploy crashes with permission denied on token"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
[code]

Setup with rbac according to the docs.

serviceaccount and clusterrolebinding
[code]

Creating rbac binding
[code]

helm init
[code]

Pod keeps failing
[code]

Log of Pod
[code]

Secret has token set inside of data (secrets replaced by XX)
[code]

[2019-02-06 13:39] tnozicka commented on #2918
no downgrade, it's in every release since k8s 1.12 (https://github.com/kubernetes/kubernetes/pull/67817/commits/77932116693a81198f919d7f5fe77bf3e6a91a27) - btw. its' client side fix so maybe helm is vendoring the old client?

[2019-02-06 15:52] hickeyma commented on #5261
@znorris Agree with what you are saying. Sorry but should have clarified that I needed to add the if statement to get it to work (probably should have read as Is it?). Thought it might be when added to the range it could not handle the empty map.

However, strangely enough when I created another default chart today using `helm create` and copied over your deployment template from above, it worked

[2019-02-06 15:59] #5230 closed

[2019-02-06 16:07] bacongobbler commented on #5224
I'm having a tough time categorizing this one as I can see both sides of the coin here.  On one hand, verifying that the certificate has not expired seems like a common thing that should be checked for regardless of whether `--tls-verify` is enabled or not. On the other hand, this was the exact use case it was designed for: `--tls-verify` will not check that the certificate is valid if disabled. T

[2019-02-06 16:09] bacongobbler commented on #5224
Marking as a general support ticket for the time being until we can figure out whether this was intended by design.

[2019-02-06 16:09] declanmc opened #5270 "Helm commands return random numbers when run in bash"
It looks like I have an issue with the Helm client when I am running it in bash on WSL. When I run any helm command all I get back is a series of random numbers

![image](https://user-images.githubusercontent.com/10504666/52355044-7b2bbb00-2a29-11e9-884c-938b1c9f1ba9.png)

The install was previously working, and I have tried to reinstall deleting the existing home directory, downloading the latest

[2019-02-06 16:13] bacongobbler commented on #5221
Hey @tjerkw, can you please provide steps to help reproduce this issue? I cannot understand how the chart got into this state based upon the information laid out in this ticket. A set of instructions/steps on how to reproduce the issue would be helpful. Thanks!

[2019-02-06 16:17] bacongobbler commented on #3121
fixed via https://github.com/kubernetes/kubernetes/pull/67288.

[2019-02-06 16:17] #3121 closed

[2019-02-06 16:21] bacongobbler commented on #5270
Hi @declanmc, would you mind removing that installation of Helm and try re-installing it? If you wouldn't mind posting the instructions you followed to install Helm, that would be helpful to try and reproduce. Thanks!

[2019-02-06 16:23] bacongobbler commented on #5270
For what it's worth, I just tried installing Helm on WSL and had no issues.

[code]

[2019-02-06 16:35] gazhenko commented on #949
+1

[2019-02-06 18:21] bacongobbler commented on #4507
Hey @soma15184, because this ticket has been waiting on input for a while it's since gone stale. Because of that, I'm going to close this as inactive, but please feel free to re-open when you have more information to share. Thanks!

[2019-02-06 18:21] #4507 closed

[2019-02-06 20:13] alexellis opened #5273 "curl/bash giving false error? No prebuilt binary for linux-armv7."
Output of `helm version`:

Output of `kubectl version`:

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

On a Raspberry Pi 3 with Raspbian I got the following when trying to install helm.

[code]

This seems like it may be a *false* error, because arm (armv7) binaries are given here: https://github.com/helm/helm/releases/tag/v2.12.3 alongside what is being called "arm64" i.e. aarch64 / armv8.

[2019-02-06 20:15] alexellis commented on #5273
If it helps we have a similar utility script to yours which figures out the architecture then downloads the correct binary from our releases page: https://github.com/openfaas/cli.openfaas.com/blob/master/get.sh#L59

[2019-02-06 20:15] bacongobbler commented on #5273
Probably something to do with how we capture the output of `uname -m` on armv7. See https://github.com/helm/helm/blob/16c10be8e652165414eef007be3f57638d6894cf/scripts/get#L26-L39

If you want to make a PR to make that work on an rpi3, that'd be appreciated.

[2019-02-06 20:19] alexellis commented on #5273
I see `armv7l` on Raspberry Pi and on the Asus Tinkerboard.

I see that @technosophos added the support 2 years ago. Matt, how was the `armv7` string derived? Would you be OK with us adding an alias to what is observed on the most popular 32-bit ARM device - the RPi?

Alex

[2019-02-06 20:21] bacongobbler commented on #5273
Yes.

[2019-02-06 20:27] alexellis commented on #5273
Hmm the case/switch looks like it might be working as expected:

[code]

[code]

Looks like the problem could be: https://github.com/helm/helm/blob/master/scripts/get#L65

[2019-02-06 20:30] alexellis commented on #5273
So I updated the script to look for linux-armv7 instead of linux-arm, but then we get a mismatch with the binary release. The binary release could do with being called `linux-armv7` instead of `linux-arm` - then patching line 65 would make this work.

`  local supported="darwin-386\ndarwin-amd64\nlinux-386\nlinux-amd64\nlinux-arm\nlinux-arm64\nlinux-ppc64le\nwindows-386\nwindows-amd64"`

=>

`  lo

[2019-02-06 20:38] bacongobbler commented on #5273
I think you should be able to add both linux-arm and linux-arm64 and it should work. If I'm understanding the issue correctly, you probably just want to change the check on [line 32](https://github.com/helm/helm/blob/master/scripts/get#L32) to evaluate armv7* as arm.

In other words, change

[code]

to

[code]

And the script should fetch the right release binary.

[2019-02-06 20:43] alexellis commented on #5273
I would consider the release file as being incorrectly labelled and this being a work-around rather than a fix.

Happy to go with that if it unblocks users on RPi/ARMHF.

Thanks for being so responsive

Alex

[2019-02-06 20:44] josecv opened #5274 "Merge function for values overriden with null does not take effect"
Output of `helm version`:
[code]

`kubectl` version isn't really relevant as this is a templating issue.

In helm < 2.12, the merge function would allow one to set a value to `null` when merging, and the resulting dict would have that value set to `null`. In helm >= 2.12, setting a value to null will behave the same as if it that value were absent, resulting in the selection of a lower-precedence

[2019-02-06 20:46] alexellis commented on #5273
The suggestion worked:

[code]

[2019-02-06 20:57] josecv commented on #5274
i suspect this may be related to this sprig issue https://github.com/Masterminds/sprig/issues/134

[2019-02-06 21:02] #5273 closed

[2019-02-07 00:27] philovivero commented on #4514
What was the resolution here? What happens if !ok?

[2019-02-07 01:08] DanHoerst commented on #3319
Any chance we could get an update on this?

[2019-02-07 01:42] SlickNik commented on #949
@viane Unfortunately, I don't think this is possible in a pre-install hook since the resources haven't been created in Kubernetes yet. Essentially, the only way I can think of doing this is checking with the Kubernetes API server (like @bacongobbler mentions above) once the resources have been created -- either in a post-install hook, or once the pod container comes up at runtime.

[2019-02-07 01:45] SlickNik commented on #5270
This is very strange. I just tried this and was able to successfully install helm on WSL without any issue.

@declanmc Can you provide any context into how you did the initial install? Perhaps running helm under `strace` may give us a further clue as to what might be going on here. Thanks!

[2019-02-07 03:07] matth-boise commented on #1844
i exerienced a similar problem.  a release upgrade added 1 environment variable to 3 deployments (to the middle of the array of about 60 env vars), but 2 of the 3 deployments did not receive the new env var - and they were missing the same separate "group" of 4 environment variables.  the 3rd deployment received all env vars.  all 3 deployments had 1 container with the same env: array.

helm templ

[2019-02-07 03:46] luckyfengyong commented on #4886
@lokeshh Specifying parameter of `--listen` when launching tiller to ask tiller listening to another port which is not overlapped with kernel parameter of `net.ipv4.ip_local_port_range`.

[2019-02-07 06:27] lokeshh commented on #4886
@luckyfengyong Thanks

[2019-02-07 07:13] fate-grand-order opened #5276 "Considering using kustomize for templating in Helm"
I am using Helm to manage my application for a while, it's well designed & useful.

While as I prefer to have simplicity & flexibility of modifying any field in API object, I'm not a fan of doing template in YAML files or any DSL.

I am wondering if Helm folks are considering integrating [kustomize](https://github.com/kubernetes-sigs/kustomize) in Helm templating process (or as an option)?

This s

[2019-02-07 07:49] SlickNik commented on #5224
IMHO from inspecting the code, this seems intended. The cert doesn't get validated and certificate details (including details like whether the hostname / IP matched the ones in the SAN, etc) don't get checked unless the `--tls-verify` flag is enabled. @antoniaklja Additionally, for mutual auth (i.e. for tiller to validate the client cert as well) you need to enable the `--tiller-tls-verify` flag o

[2019-02-07 08:21] antoniaklja commented on #5224
what's the actual difference between the following params?
`--tiller-tls               install Tiller with TLS enabled`
and
`--tiller-tls-verify        install Tiller with TLS enabled and to verify remote certificates`

IMHO `TLS enabled` should support mutual certificate validation out of the box

[2019-02-07 08:22] bacongobbler commented on #5224
Thanks @SlickNik for the double-check. Given that this is intended behaviour and there is no migration path forward (it's been removed in Helm 3), I think this ticket is good to close. Please feel free to reopen if this doesn't address your questions/concerns and we'll be happy to look into it. Thanks!

[2019-02-07 08:22] #5224 closed

[2019-02-07 08:55] yaminisridaran commented on #5232
@hickeyma Thank you. hooks works as expected.

[2019-02-07 08:55] #5232 closed

[2019-02-07 09:27] declanmc commented on #5270
Thanks for the responses guys, I followed the install guide as described here

![image](https://user-images.githubusercontent.com/10504666/52401756-5af80c80-2aba-11e9-944d-15dc717673b7.png)

To uninstall, I deleted the Helm directory and re-ran the `mv linux-amd64/helm /usr/local/bin/helm` command. I can't run the `helm reset` command as I get the above issue when I try to run any helm command

[2019-02-07 09:29] declanmc commented on #5270
@bacongobbler I just tried your install method and I get the same issue when I run any helm command

[2019-02-07 10:13] BobLamarley commented on #2918
Mmmh there is something i don't get it
I used the GitLab interface in order to install Helm on my kubernetes, and Helm seems to be installed :
![image](https://user-images.githubusercontent.com/7857364/52403812-eaf08300-2ac7-11e9-933b-2271d82e69e6.png)
But when i check via command line, there is no helm :
![image](https://user-images.githubusercontent.com/7857364/52404132-9568a600-2ac8-11e9-93c2-b

[2019-02-07 10:33] coderdba commented on #1579
Hi, it looks like helm expects files as dot.yaml and not dot.yml.   I faced the same issue as above and another issue with Chart.yml - so, I renamed them to values.yaml and Chart.yaml.

Thanks

[2019-02-07 10:34] jonathanjfshaw commented on #2918
Helm is not an argument for the kubectl command.
Run kubectl --kubeconfig=... first in order to intitalise the credentials
using the kubectl app.
Then Helm version to run the Helm app.

[2019-02-07 10:47] damien-roche commented on #3460
Honestly, Helm is causing far too many problems than it's solving. Please tell me there are other solutions out there? I feel like it would be a lot simpler to just have some templating and be done with it.

[2019-02-07 11:14] hickeyma commented on #5179
@jdolitsky Could you take a look pls.  ^ ?

[2019-02-07 11:18] hickeyma commented on #5163
@kierenj Did you get a chance to raise an issue upstream?

[2019-02-07 12:02] jdolitsky commented on #5179
@rhnewtron that sounds good, can you please open an issue on [helm/chartmuseum](https://github.com/helm/chartmuseum/issues/new) describing this change in detail? We can make this configurable.

[2019-02-07 12:08] micw opened #5278 "Deletion of CRD with crd-install and before-hook-creation broken in 2.12.3 (worked on 2.12.1)"
On helm 2.12.1 it was possible to annotate a CDR with

[code]

This allowed to use the ressource in the same chart and after deletion/reinstalling the chart, the ressource was deleted and re-created. This worked for only one CRD, for multiple CRDs it failed (#4591).
After upgrading tiller from 2.12.1 to 2.12.3, it also fails for a single CRD:

After force-downgrading tiller ro 2.12.1 it works agai

[2019-02-07 12:30] ahsannaseem commented on #3141
Is this done ? I tried on versions `2.11.0` and `2.12.0` none of them seems to have `helm package --set...`

[2019-02-07 12:32] kierenj commented on #5163
Hi, no I didn't - it's a good suggestion but as it stands I have a workaround and many competing priorities so don't plan to at the moment.

[2019-02-07 14:50] BobLamarley commented on #2918
I put my k8s-crypthome-kubeconfig.yaml at $HOME/.kube in order to not have to pass my credentials everytime.
I if type `kubectl`, am i supposed to stay inside my K8s CLI ? it seems strange to me what you tell me ^^

[2019-02-07 15:03] michelleN commented on #1193
@distorhead what was your expected behavior for this scenario?

[2019-02-07 15:31] jonathanjfshaw commented on #2918
Helm is a separate CLI tool.

[2019-02-07 15:39] BobLamarley commented on #2918
Ah, my bad, thanks for the info, it works better ^^
![image](https://user-images.githubusercontent.com/7857364/52422633-b9db7700-2af6-11e9-929e-ed9c8cbf5eae.png)
But unfortunately, i'm still stuck on my issue :'(

[2019-02-07 15:56] Stono commented on #3555
Would also love the ability to set app version at install time as we use common charts to deploy applications

[2019-02-07 18:06] ian-howell commented on #5157
Is this something we want to add for v3? I can take it if so, shouldn't be too hard

[2019-02-07 18:31] bacongobbler commented on #5157
Tiller has been removed in Helm 3 so the internals have been refactored a bit. I'd wait until we shake out the internal architecture before tackling this PR as we may have to re-think how we set configuration such as the maximum number of revisions Helm retains.

[2019-02-07 19:07] resouer commented on #5276
/cc @technosophos @michelleN WDYT?

[2019-02-07 19:08] fate-grand-order commented on #5276
/cc @michelleN @technosophos  WDYT?

[2019-02-07 19:28] bacongobbler commented on #3127
#5140 seems to be the most promising PR. Assuming that gets merged, that should also solve your use case with the watch flag. Thanks for pointing out that use case!

[2019-02-07 23:54] maorfr commented on #5257
I believe that what you are describing is a best practice.
If you use `values.yaml` as your "shared" values, you will not even have to specify it.

Hope this helps!

[2019-02-08 08:51] 4c74356b41 commented on #2547
i like how the person doesnt answer the original question but talks about passing lists through command line. entertaining.

[2019-02-08 09:46] NZhuravlev commented on #5046
v2.12.3 - still have the same issue.

helm _helm_root_command:12: bad math expression: operand expected at `"del"'
macOS 10.14.2 (18C54)
zsh 5.3 (x86_64-apple-darwin18.0)
Client: &version.Version{SemVer:"v2.12.3", GitCommit:"eecf22f77df5f65c823aacd2dbd30ae6c65f186e", GitTreeState:"clean"}

[2019-02-08 10:32] chilicat opened #5281 "Feature Request: Force overwrite resources on helm upgrade"
I noticed if I update Kubernetes resources via kubectl/dashboard that a re-applying of the charts will not overwrite my modifications. Since it is common that Devs or Operators with more Kubernetes experience will make experiments directly on Kubernetes resources I would like to have a "force overwrite" options which allows me any time to enforce the "chart state" on a deployment.

This feature wo

[2019-02-08 11:02] prageethw commented on #2135
I found it is much easier as below

kubectl set resources deployment tiller-deploy  --limits=cpu=10m,memory=20Mi -n kube-system

[2019-02-08 11:12] chaholl commented on #4543
I'm seeing the same problem in an AKS cluster.

I have 16 clusters running with the same config and only the older clusters are affected at the moment, suggesting that the problem is related to #4821. However, of the older clusters, one has 564 releases, and ticks along happily with around 80Mb memory, which jumps to 700Mb when responding to `helm list`, whereas the other has 310 releases, ticks a

[2019-02-08 13:39] hickeyma commented on #5085
@mattfarina @prydonius I had a chat yesterday evening with @adamreese about this feature. Following review of the PRs and discussion with other maintainers, @adamreese thinks that this feature can be simplified down as follows: just check during installation if it is a library chart and don't install with a relevant warning message.  The chart can be identified with a property in the metadata. The

[2019-02-08 13:51] GaryCarneiro commented on #2004
I got this error while writing config maps object using Helm . This error had nothing to do with YAML but more with quotations

I was getting following
[code]

Solution: Use **quote** method
[code]

[2019-02-08 14:39] eddiezane commented on #5046
@NZhuravlev this fix made it in after v2.12.13 shipped. You'll unfortunately have to wait for the next release or build from source.

[2019-02-08 14:50] bacongobbler commented on #2547
The original question asked about an array of maps, so the answer provided did indeed answer the original question. The title was just worded incorrectly.

Is there something you're trying to figure out?

[2019-02-08 14:52] bacongobbler commented on #5046
Or use the canary releases: https://docs.helm.sh/using_helm/#from-canary-builds

[2019-02-08 14:55] 4c74356b41 commented on #2547
yeah, was, but completely unrelated to this question (randomly got here).

[2019-02-08 16:13] bacongobbler commented on #5212
I don't follow the use case. Can you provide a more concrete example how this would look?

[2019-02-08 16:16] bacongobbler commented on #5079
closed in #5109

[2019-02-08 16:16] #5079 closed

[2019-02-08 16:35] bacongobbler commented on #4145
Fixed in Helm 3 since Tiller's been removed and spdystream was a dependency of that.

[code]

[2019-02-08 16:35] #4145 closed

[2019-02-08 16:46] bacongobbler commented on #3470
The patch provided in #3837 exists within the Helm 3 branch, so this is good to close as fixed in Helm 3.

[2019-02-08 16:46] #3470 closed

[2019-02-08 16:48] kfox1111 commented on #5212
The idea isn't fully fleshed out. It needs more work. But there is a major unsolved issue with containers currently in that most of the tooling assumes development is happening faster then dependencies are getting updated. This holds true of software that is early in its lifecycle. As it matures though, development slows down and dependencies get updated more frequently then the software. This mea

[2019-02-08 17:13] ryandawsonuk commented on #5131
To be clear, you can already add aliases in the requirements.yaml without requiring a new build of the chart so that the same package can be used multiple times. What would nice would be to have a way to add aliases from the command-line or in the values file so that it is exposed to end-users of the chart.

[2019-02-08 17:16] bacongobbler commented on #3037
Implemented in Helm 3. Changing the namespace context refers to a different instance altogether.

[code]

[2019-02-08 17:16] #3037 closed

[2019-02-08 17:17] bacongobbler commented on #2060
Implemented in Helm 3. Changing the namespace context refers to a different instance altogether.

[code]

[2019-02-08 17:17] #2060 closed

[2019-02-08 18:05] rtnpro commented on #3396
This issue is still persistent.

[2019-02-08 18:09] #5208 closed

[2019-02-08 18:32] bacongobbler commented on #2815
After thinking this one through, while it seems like an easy choice for Helm itself to accept chart.yaml/Chart.yaml/chart.yml/Chart.yml, this makes it significantly harder on third-party projects to support marshalling/unmarshalling chart packages (as plugins, products etc). If we choose to accept multiple different file names for the package spec, then every other product has to support those cho

[2019-02-08 18:32] #2815 closed

[2019-02-08 18:41] bacongobbler commented on #2062
@techdragon I assume you're referring to this:

That was a convention set up by the chart maintainers to work around the issue of Helm scoping release names cluster-wide. Now that Helm 3 scopes release names to the namespace, the convention can be changed in the charts repository to accommodate this change, removing the confusion around having service names called `myapp-dev-myapp` and just refer

[2019-02-08 18:41] #2062 closed

[2019-02-08 19:18] jonstacks commented on #4670
+1

[2019-02-08 19:33] bacongobbler commented on #1650
Yes.

For reference, we're storing release information in a secret, not a CRD. This is because of the potential for sensitive information being part of the config, which can be protected by [encrypting secret data at rest](https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/).

[2019-02-08 19:33] #1650 closed

[2019-02-08 19:35] ian-howell commented on #5081
@eladiw Are you still working on this one?

[2019-02-08 21:05] aric49 opened #5285 "Helm not respecting "--history-max" setting when upgrading chart revisions"
Output of `helm version`:
[code]

Output of `kubectl version`:

[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):  Minikube

It appears that Helm/Tiller is not respecting the `--history-max`  flag in the Tiller deployment. I noticed this behavior in our Non Production K8s cluster and was able to replicate it in MiniKube.   First, I initialize a new tiller instance using the `--history-max

[2019-02-08 21:20] bacongobbler commented on #5285
certain flags like --history-max are not read in during an upgrade. It's best to perform a `helm reset --force` then `helm init` without the --upgrade flag, then observe the behaviour on the next upgrade.

You can check for yourself if this flag is set by checking `kubectl -n kube-system get deploy tiller-deploy -o yaml`, then looking for the value under TILLER_HISTORY_MAX in the pod spec's enviro

[2019-02-08 22:25] jplonghi commented on #3555
+1

[2019-02-09 03:11] sajayantony opened #5286 "Standardize helm media type for OCI Config Descriptor"
Output of `helm version`:

[code]
Helm chart push will enable pushing an OCI artifact to the helm registry. This needs to have a standard artifact type that could potentially be used by oci/distribution.

###  Current Format
[code]

### Proposal

OCI manifest allows specifying a config descriptor and the current discussion is to have the proper media type in the config descriptor.

[code]

| Type

[2019-02-09 09:06] ryandawsonuk commented on #5131
Or in a new aliases.yaml file, that would just be an extension of the existing aliases feature but for the chart the user is installing it would be available for them to add to at install time.

[2019-02-09 16:00] kfox1111 commented on #5212
Another issue related to this is that of disconnected installs. Certain sites have networks that do not have internet connectivity.  Package managers such as yum/apt make it relatively easy to replicate a repository, take it offline and then install from the replica.

The way helm currently codes this into the charts, makes it difficult to find all instances of images, replicate them, and update t

[2019-02-09 20:35] matthewerwin commented on #1979
@bacongobbler why not add a CLI flag so that CI can bypass this check for all cases where v2 is being used without affecting default behavior? Having to set a different chart path for every CI configuration and project is hugely annoying & v3 may not be available on Azure devops tools and others for some time. A --flag would be a simple solution that retains v2 behavior by default.

[2019-02-10 21:03] rakelkar commented on #3522
Looks like setting HELM_HOME as a relative path causes this issue. Setting to an absolute path resolves it...

Relative path gives me an error:
[code]
But absolute path works:
[code]

[2019-02-11 01:57] paulgmiller commented on #1702
A naive proposal would be to shove revision into the spec of deployment/daemonset/statefulset so that they gracefully do rolling upgrade if so configured. I'd go further but I still owe bacongobbler an improved wait.go before I pretend to commit to anything else. @HamletDRC I'm also microsoft  (work on azureml's k8 cluster) if you want to talk.

[2019-02-11 04:44] matthewerwin commented on #3480
@technosophos @bacongobbler found something interesting about this in VSTS devops. Seems it occurs after a long running install that exceeds a timeout. Anything with helm that exceeds about 150 seconds seems to result in this...for mine it's cases where IP resources have to be allocated due to a load balancer so depending on the load on K8s it'll deploy in about 90 seconds. Under load it's up to 1

[2019-02-11 06:16] yadavnikhil commented on #3555
+1

[2019-02-11 06:25] dhavalc26 commented on #3555
It would be very helpful

[2019-02-11 08:37] mduft commented on #4166
Unfortunately not...

[2019-02-11 09:57] distorhead commented on #3149
There is another way to make autorollback: rollback on the next run, before upgrade. That way user have a chance to inspect errors and cluster state after failed upgrade.

[code]

New `--atomic` option (https://github.com/helm/helm/pull/5143) from 2.13.0 performs rollback in the first variation: immediately after failed deploy.

[2019-02-11 10:56] distorhead commented on #1193
Slightly offtop about rollbacks, but anyway.

For those people, who want to use rollback, but also do not want rollback to occur immediately after deploy as in `--atomic` for some reasons. Because, for example, there is no way for the user to manually inspect bad cluster state after failure and because `--wait` flag does not cause helm to log any info about failures in the resources being deployed

[2019-02-11 11:34] hickeyma commented on #3279
Hey @michelleN, you mentioned at the last dev call that you have WIP around Helm test. It would be great if you could reference it here so we can continue the discussion. Thanks.

[2019-02-11 13:58] #3127 closed

[2019-02-11 16:08] mattfarina commented on #5085
@hickeyma I'm reminded a bit of [Composer](https://getcomposer.org/), the package manager for PHP. What people typically do with composer is reference a library that you can lookup in [Packagist](https://packagist.org/), a metadata lookup for distributed repos. While libraries are common, other things can and are distributed.

To make this work there is a `type` field in the `composer.json`, the s

[2019-02-11 17:45] hickeyma commented on #5085
@mattfarina Sounds good to me. Will push a new PR for this approach.

[2019-02-11 19:16] AndrewDryga commented on #3409
@alanwds same here.

[2019-02-11 19:31] bacongobbler commented on #3409
@alanwds that panic seems to stem from the yaml parser. What's the output of `helm template` on that chart?

[2019-02-11 19:33] bacongobbler commented on #3409
Same question to you, @AndrewDryga :)

[2019-02-11 19:39] aric49 commented on #5285
@bacongobbler  -- thanks for the response.  My apologies, I accidentally posed my command with the `--upgrade` flag, which was something I had done testing different scenarios.   I re-created my usecase using the following commands on a fresh Minikube instance:

1) Initialize Helm:   `helm init --service-account tiller --history-max 3`
2) inspect tiller pod and validate `TILLER_HISTORY_MAX` enviro

[2019-02-11 20:29] 80kk opened #5292 "Helm won't create PV and PVC for Prometheus"
Output of `helm version`: 2.12.3

Output of `kubectl version`: 1.13.2

Cloud Provider/Platform (AKS, GKE, Minikube etc.):  AWS

Using provided in this repo Prometheus Chart I am trying to create a Prometheus Helm chart with PersistentVolumes in EBS. However for some reason it only creates pv and pvc for alertmanager and ignores the same for prometheus.
My configs:
`alertmanager-pvc.yaml`

[code]

[2019-02-11 20:42] bacongobbler commented on #5285
What state are the deployments in? Can you show the output of `helm history test-chart`?

[2019-02-11 21:00] aric49 commented on #5285
Sure:

[code]

Ah!  I think I see it now....   so it's only keeping the last three revisions, even though the revision count is higher than 3?  correct?

[2019-02-11 21:04] bacongobbler commented on #5285
Yes.

[2019-02-11 21:52] #5285 closed

[2019-02-11 21:52] bacongobbler commented on #5285
Closing as it's working as intended.

[2019-02-12 00:58] jeremygaither commented on #3020
also see this lack of output on helm 2.8

[2019-02-12 02:41] zyf0330 commented on #5239
After test, I find that I must do `helm dep build` for every child dep chart to ensure generate full yaml.

[2019-02-12 02:50] bacongobbler commented on #5239
That makes sense. Dependencies are only resolved one level down. Dependencies of dependencies aren't resolved.

I'm going to close this as working as intended.

[2019-02-12 02:50] #5239 closed

[2019-02-12 02:52] zyf0330 commented on #5239
So I must resolve requirements manually to build dep before `helm template`, right?

[2019-02-12 02:54] bacongobbler commented on #5239
If you rely on sub-subcharts, yes.

[2019-02-12 03:17] morvencao commented on #980
@technosophos Does `helm/tiller` now support to specify `namespace` in chart?
I have done some simple test in my local env:

### env
[code]

### Create `nginx-chart` and add resource in another namespace:
[code]

### Install the chart:
[code]

### Check the release status:
[code]

The status shows that the `sleep` resources can be listed, although it's in another namespace(`istio-system`), instead

[2019-02-12 04:19] sxcoll2 opened #5293 "Generating XML from template produces \n even with {{- -}}"
Output of `helm version`:
"v2.12.3"

Output of `kubectl version`:
Not needed as not a deployment issue.

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
Not needed as not a deployment issue.

I have a very simple helm chart that is reduced down from a much larger chart.
 When I remove a  '{{- .Values.tomcat.base -}}' and replace with just plain text, helm fails,.

Run this on attached chart, it

[2019-02-12 04:49] bacongobbler commented on #5293
Try changing `indent 2` with `nindent 2` in test/templates/master/config.yaml. Does that fix the issue?

[2019-02-12 05:33] bacongobbler commented on #5293
Seems like a potential duplicate of https://github.com/helm/helm/issues/3410. Would you mind looking into that?

[2019-02-12 08:24] DE110283 commented on #3555
Requesting the same

[2019-02-12 08:28] sxcoll2 commented on #5293
Thanks !,  that looked like it was going to be the issue but same problem with nindent,.
thanks again

[2019-02-12 12:24] iczman commented on #2298
This feature will be super helpful for debugging my hook failures. Right now I have to manually dig into the pod to read the log, which is painful since I'm usually reading logs at much higher level in GitLab CI. With this feature I can then bubble up any errors from my hook to tiller and then finally up to my CI.

[2019-02-12 13:04] Bnjmn83 commented on #4564
Blocked again on my system:
**Win10 Enterprise
V. 10.0.17134 Build 17134**

Defender reports:
**Trojan:Win32/Spursint.F!cl**

[2019-02-12 16:14] hickeyma commented on #5085
Closed PR #5255 and #5263 following discussion in https://github.com/helm/helm/issues/5085#issuecomment-462385310

PR #5295 opened instead and ready for review.

[2019-02-12 16:38] bacongobbler commented on #5278
Neither 2.12.2 nor 2.12.3 contain any changes to the behaviour of those hooks, so I'm surprised that downgrading to 2.12.1 would somehow fix this issue.

For the record, here's what was changed from [2.12.1 to 2.12.3](https://github.com/helm/helm/compare/v2.12.1...v2.12.3):

fix: perform extra validation on paths in tar archives c194e4a
fix: use RFC 1123 subdomains for name verification 4268e69
fi

[2019-02-12 17:03] bacongobbler commented on #4838
closed via #4850.

[2019-02-12 17:03] #4838 closed

[2019-02-12 17:22] jordansissel opened #5296 "helm template: Error: gzip: invalid header"
Output of `helm version`:
Client: &version.Version{SemVer:"v2.12.3", GitCommit:"eecf22f77df5f65c823aacd2dbd30ae6c65f186e", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.12.3", GitCommit:"eecf22f77df5f65c823aacd2dbd30ae6c65f186e", GitTreeState:"clean"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.0", GitCommit:"ddf47ac13c1a9483ea035

[2019-02-12 17:26] bacongobbler commented on #5296
Sounds like a good feature to tackle.

[2019-02-12 18:10] AndrewDryga commented on #3409
@bacongobbler for us it looks like Tiller is crashing once we deploy, there is no issue in templates as they did not change since last deployment (which passed while Tiller was available).

[code]

`logs -p` gives empty return :(.

[2019-02-12 18:37] ReggieCarey commented on #3792
This apparently was only fixed for a specific subcommand.  Helm does not honor a CACERT configuration.  A simple operation 'helm version' reports "x509: certificate signed by unknown authority" when fetching kubernetes details from a remote cluster.  This is due to no mechanism for specifying corporate CA certificates for an invocation of the "helm" command.

OS: MacOS Mojave
Helm Version: 2.12.3

[2019-02-12 18:48] #5059 closed

[2019-02-12 22:03] paktek123 opened #5301 "Helm template silent rendering error with @ symbol"
Below is how to reproduce this bug.

With the follow directory structure:

[code]

Chart.yaml
[code]

templates/namespaces.yaml
[code]

values/test.yaml
[code]

When I run `helm template . -x templates/namespaces.yaml` I get:

[code]

When I modify the values/test.yaml as follows:
[code]

I get nothing rendered:
[code]

[code]

[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):  On-Prem, n

[2019-02-13 00:55] gsexton commented on #5155
I finally understand the issue. The negotiate part would come into play if the requirements.yaml contains wild-cards. This was the missing piece for me.

[2019-02-13 08:21] eryabitskiy-acx commented on #4564
Hi,
I guess you can report it to Microsoft for investigation.
When they handle it, update Defender database.
Helped me previous time.

But seams to be there is some pattern that triggers Defender scan every time...
Or mb build server is infected... :)

[2019-02-13 10:14] hickeyma commented on #5155
@gsexton ok, do you want to create a PR and update the docs? or do you want me to make the changes shown above?

[2019-02-13 11:10] coolduebtn commented on #2573
Is it possible to do this ?
{{ (.Files.Glob {{ .Values.global.configPath}}"/*").AsConfig | indent 2 }}

[2019-02-13 12:26] hickeyma commented on #5301
I have verified this issue. The issue is when it tries to render the values which contain the value with the '@'.

Helm calls the external function [ExecuteTemplate](https://golang.org/pkg/text/template/#Template.ExecuteTemplate)
[here](https://github.com/helm/helm/blob/master/pkg/engine/engine.go#L278). It does not return an error but instead a buffer with Hex values `\x00`, which is essentially

[2019-02-13 13:08] sdake commented on #4251
Note to others that run into this problem.  I have had this problem just this morning.  The root cause is that certs are not installed in ubuntu:bionic by default.

`apt-get install -y ca-certificates`

Within the docker build got me moving.

Cheers
-steve

[2019-02-13 16:09] notque commented on #3208
Just had `helm upgrade --install --force` do a `delete --purge` and destroy my pvc/pv without telling me (on recycling). Had several failed releases, so it was in a state it was running in kubernetes, but helm thought there were no running releases. Not good times at all.

[2019-02-13 16:26] hickeyma opened #5303 "implement `helm --as` | `helm --as-group`"
**Feature:**
Ability to install a chart for a different persona to the user calling the Helm CLI or Helm library.

**Use Case:**
A user logs into a portal that provides the ability to install charts.  The user is assigned to a team, which grants the user access to specific resources on the system:  namespaces, repositories, and charts within the repository.  The user is also assigned a role on the

[2019-02-13 16:26] hickeyma commented on #5303
@adamreese As we discussed.

[2019-02-13 16:31] hickeyma opened #5304 "User impersonation at resource level"
Install a chart with the ability to assign different persona per Kubernetes resources being created by a single chart.

This is similar to [Kubernetes user impersonation](https://kubernetes.io/docs/reference/access-authn-authz/authentication/#user-impersonation) .

[2019-02-13 16:32] hickeyma commented on #5304
Related to #5303

[2019-02-13 16:32] hickeyma commented on #5304
@adamreese As we discussed.

[2019-02-13 16:40] zskulcsar commented on #4331
@tback I've corrected your statement:
`helm upgrade --install nginx --namespace debug` **must not** ~should never~ interfere with the nginx intallation in namespace `production`.

It is a sideffect with grave consequences. It would be better in this case to fail the upgrade.

[2019-02-13 17:01] bacongobbler commented on #4331
For what it's worth, this has been fixed in Helm 3 as release names are scoped to the namespace, so in @tback's scenario, you can have an nginx installation in both the `debug` as well as the `production` namespace.

[code]

[2019-02-13 17:08] michelleN commented on #3279
here is the proposal for helm test in v3 which will have subcommands under the top level `helm test` command to help with things like cleanup https://github.com/helm/community/pull/40

[2019-02-13 17:13] iftachsc commented on #2247
+1. we really need this

[2019-02-13 17:27] whereisaaron commented on #4543
We are seeing performance degradation over time on older clusters. Every execution of `helm upgrade` or `helm list` is churning the API servers and causes 1-2 GB additional RAM use. Chaining command just keeps allocating more RAM. Waiting a decent period of time allows some RAM to be released.

This command a one cluster took a while and there are 3.5k ConfigMaps. Each is 1MB max, so up to 3.5GB d

[2019-02-13 17:55] whereisaaron commented on #4821
We are seeing performance degradation over time on older clusters. Every execution of `helm upgrade` or `helm list` is churning the API servers and causes 1-2 GB additional RAM use. Chaining command just keeps allocating more RAM. Waiting a decent period of time allows some RAM to be released.

This command a one cluster took a while and there are 3.5k ConfigMaps. Each is 1MB max, so up to 3.5GB d

[2019-02-13 18:20] adamreese commented on #5303
We can create kubernetes api objects as a user, but I am not sure how a chart would map to a specific user.  Can you add your use case.  Thanks!

[2019-02-13 18:57] bacongobbler commented on #4821
closing as a duplicate of #4543. Let's keep the discussion in the same ticket as they seem to be both pointing at the same issue @mortent is alluding to.

[2019-02-13 18:57] #4821 closed

[2019-02-13 18:59] bacongobbler commented on #4543
@mortent's comment [here](https://github.com/helm/helm/issues/4821#issuecomment-432102461) in #4821 seems to be fairly compelling. Last I checked the filtering was indeed being done on Tiller's side rather than filtering out on the apiserver side. If someone wants to take a look at how we could improve the filtering from the apiserver, that'd be great.

For the lazy:

[2019-02-13 19:06] bacongobbler commented on #5304
Similar to [@adamreese's comment in #5303](https://github.com/helm/helm/issues/5303#issuecomment-463309170), Helm 3 now creates Kubernetes API objects as the user defined in their kube config. I am not sure how a chart would map to a specific user. Can you please describe your use case in a little more detail?

[2019-02-13 19:09] kierenj commented on #949
Is there some reason this approach - getting the public IP in a script - is no good?

https://github.com/RedRiverSoftware/sql-azure-firewall-opener/blob/master/azsqlfirewall.sh

[2019-02-13 19:21] whereisaaron commented on #3500
We are seeing performance degradation over time on older clusters. Every execution of `helm upgrade` or `helm list` is churning the API servers and causes 1-2 GB additional RAM use. Chaining command just keeps allocating more RAM. Waiting a decent period of time allows some RAM to be released.

This command a one cluster took a while and there are 3.5k ConfigMaps. Each is 1MB max, so up to 3.5GB d

[2019-02-13 19:23] whereisaaron commented on #4543
It sounds like redeploying with something reasonable for `--history-max` is our best option to stabling these clusters. Then there will not be so much to filter every time.

[2019-02-13 19:33] bacongobbler commented on #3500
Closing as a duplicate of #4543 so we can keep the conversation in one ticket. Thanks.

[2019-02-13 19:33] #3500 closed

[2019-02-13 20:13] konokimo commented on #3353
Still trying to fix this issue in a Jenkins Pipeline I am trying to use.
I am trying to deploy a new image of my application and I couldn't care less if the deployment already exists or not.
I want to run one command that either replaces the current deployment or just installs it if it does not exist.
I tried `helm install --replace` I often get `Error: a released named xyz is in use, cannot re-us

[2019-02-13 20:26] viane commented on #949
in my case its only available thru k8s resource, a worker node ip inside the cluster... And I still couldn't find a clean way to get this resource. But the label and node's ip was already exist inside k8s, why can't helm retrieve it ....

[2019-02-13 21:20] sfitts commented on #3486
Just ran into this and I'm confused as to why this was closed.  As @mlushpenko states this seems like a pretty major limitation for managing any reasonably sized deployment.  In our case we would like to be able to combine affinity rules from multiple levels -- providing a default set of rules in the base chart that can be augmented when deployed.  However, as it stands we have to repeat the defau

[2019-02-13 21:32] asherlporetz commented on #4543
You might also want to check the size of the charts since they are stored in the configmaps. Anything where the packaged chart .tgz is greater than 100kb is suspect, check `.helmignore`. Here's a snippet to check the size of the tiller configmaps.
[code]

[2019-02-13 22:00] bacongobbler commented on #3486
@sfitts have you taken a look at #4806?

[2019-02-13 22:03] sfitts commented on #3486
@bacongobbler I have and I don't see how it applies.  AFAICT, it only deals with updates made during upgrade of an already deployed chart and ensuring that existing values aren't clobbered by new ones.  Certainly related, but I don't see how it helps avoid the need to repeat information when combining values files during the initial install.

[2019-02-13 22:25] bacongobbler commented on #4564
I've also heard from others that 2.12.3 has been flagged so I'm re-opening this. If someone could report back when this is no longer an issue, that'd be great. Thanks!

[2019-02-14 04:16] ajcann commented on #1193
Thanks for putting this workaround together @bacongobbler - it's essentially what we came to as a process as well. One painful issue here is during complex upgrades many new resources - at times a few dependencies levels deep - may find themselves in this state. I haven't yet found a way to fully enumerate these states in an automatic way leading to situations where one needs to repeatedly fail an

[2019-02-14 04:41] dbendelman commented on #1999
@technosophos @bacongobbler is there any discussion about creating an official way for Helm to import existing Kubernetes resources?

Terraform, for example, has the [`terraform import`](https://www.terraform.io/docs/import/usage.html) feature, which I use heavily any time I'm terraforming existing infrastructure. I sorely miss this functionality in Helm, and it's often a barrier to Helm adoption

[2019-02-14 05:33] bacongobbler commented on #1999
You're probably looking for #2730 as the discussion topic on creating a Helm plugin to adopt existing resources into a chart. You can also look into the [Kubernetes VSCode extension](https://marketplace.visualstudio.com/items?itemName=ms-kubernetes-tools.vscode-kubernetes-tools) which allows you to convert an existing resource or manifest into a Helm template using the `Helm: Convert to Template`

[2019-02-14 05:41] bacongobbler commented on #1193
You could write a plugin similar to [`helm diff`](https://github.com/databus23/helm-diff/) that would enumerate the templates created in the last release. You could even consume `pkg/kube` directly from Helm. `client.Update` has some business logic written for [helm's resource tracking/deletion](https://github.com/helm/helm/blob/c99a3c676a11206352024d7851076106d2840b45/pkg/kube/client.go#L355) whi

[2019-02-14 05:45] kgmhk opened #5305 "helm del with invalid namespace."
Output of `helm version`: 2.12.3

Output of `kubectl version`: 1.12.3

Cloud Provider/Platform (AKS, GKE, Minikube etc.): No

I use  kube config context as follows.

[code]

I change context to dev2  and install chart using the following command..
[code]
It makes the helm chart with correct namespace.

[code]

But the problem happens with delete command.
I can delete the chart even though the cont

[2019-02-14 05:48] bacongobbler commented on #5305
Hi @kgmhk, I'm not sure what's the issue here as there's not much information to determine what's the issue. Can you please provide the issue you're trying to describe? An example which we can attempt to reproduce would be very helpful. Thanks!

[2019-02-14 05:58] bacongobbler commented on #5301
As per the YAML format, strings containing any of the following characters must be quoted. Although you can use double quotes, for these characters it is more convenient to use single quotes, which avoids having to escape any backslash (`\`):

    :, {, }, [, ], ,, &, *, #, ?, |, -, <, >, =, !, %, @, `

Backticks and ampersats are [reserved indicators](https://yaml.org/refcard.html), so this seems

[2019-02-14 06:01] kgmhk commented on #5305
@bacongobbler sorry my mistake. I added much information.

[2019-02-14 06:04] dbendelman commented on #1999
#2730 is spot on, thanks @bacongobbler!

RE the VSCode extension, it sounds like it helps with auto-generating a chart from existing resources. This is less interesting to me, as what I need in my use case is to generate a Helm _release_ from existing resources.

[2019-02-14 09:36] geosword commented on #1579
My Chart.yaml is called Chart.yaml, and I still get that error:
I just have the main chart (no subcharts)

[code]
The code:

[code]

Chart.yaml

[code]

Interestingly (Frustratingly?) It works if I reference .Chart.name instead of .Chart.appVersion

[code]

I'm on version v2.10.0

[2019-02-14 10:29] arogarth commented on #5046
quick local fix in .zshrc...

    source <(helm completion zsh | sed -E 's/\["(.+)"\]/\[\1\]/g')

hope it will fix in the next release. Current rc does not fix it

[2019-02-14 11:22] torstenwalter opened #5308 "[stable/jenkins] Master.Sidecars.other and Master.JCasC.enabled do not work in combination"
Master.Sidecars.other is rendered within sidecar for CasC. So the rendered DeploymentConfig is invalid.

[2019-02-14 11:33] torstenwalter commented on #5308
wrong repository opened new issue in https://github.com/helm/charts/issues/11412

[2019-02-14 11:33] #5308 closed

[2019-02-14 12:21] zskulcsar commented on #4331
imho, there should be a clear description of the behaviour in the upgrade command's documentation. Atm, there is nothing there indicating what will happen under which conditions. Happy to make a PR though.

[2019-02-14 14:07] willfrew commented on #4211
Issue still exists in Helm `2.11.0`

[2019-02-14 15:21] bacongobbler commented on #5046
Do you mean to say that the fix proposed in #5072 did not fix the issue? You were testing 2.13.0-rc.1, right?

[2019-02-14 15:28] bacongobbler commented on #4331
Please do!

[2019-02-14 16:18] tswift242 opened #5309 "helm upgrade resets deployment's rollingUpdateStrategy parameters to default values"
I have a helm release with a k8s deployment for which I've customized maxSurge and maxUnavailable for the rollingUpdateStrategy. However, when I do a helm upgrade on the release, the rolling update isn't carried out how I expect. The cause seems to be that helm upgrade resets both maxSurge and maxUnavailable to their defaults of 25% (each). This is an issue for me because I've set maxSurge=0 and m

[2019-02-14 16:27] hickeyma commented on #5303
@adamreese I added a use case to the description. Let me know if you need more details.

[2019-02-14 16:39] bacongobbler commented on #5303
If I'm understanding this correctly, you're asking to support the `--as` and `--as-group` flags similar to kubectl. Those flags are how kubectl interacts with the user impersonation API. Is this right, or is there something else here?

A solid use case example would be helpful here.

[2019-02-14 16:52] gpkoltermann commented on #3933
But what is the reason for that issue? It makes deployments much less reliable.

[2019-02-14 16:54] whereisaaron commented on #4543
Thanks @asherlporetz, I checked the state backups, and the total size all the ~3,500 ConfigMaps is 70MB, so each release ConfigMap averages around 20Kb (full text, including release data).

While the raw data is ~70MB for ~3,500 objects, the API Server allocates over 900MB of RAM to respond to all the `tiller` requests during a single `helm list` involving these objects, and `tiller` allocates a f

[2019-02-14 17:06] melan opened #5311 "Proposal: make cobra.Command functions public"
Currently all functions generating cobra.Command for CLI are private and I want to make them public. Motivation for such change is simple: this will allow to reuse pieces of helm functionality in other tools.

Story: I'm building a CLI for a project that mostly runs on Kubernetes. The CLI is composed from 2 pieces: commands unique for the project and commands imported from from `kubectl`. I would

[2019-02-14 17:07] melan commented on #5311
This change seems minor and unless there are reasons why not to implement it - I'd like to contribute the changes.

[2019-02-14 17:08] Filipedguy opened #5312 "helm upgrade --install works on windows but not on linux"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
`AKS`

---

I'm trying to automate the ingress creation through a Azure DevOps pipeline. I'm trying to execute this command on the helm:

[code]

In the Linux agent and in my Linux machine I get the same error:

[code]

But when I run the command from a Windows machine using th

[2019-02-14 17:18] konokimo commented on #2947
Any fixes for this yet? Or do we just have to run it twice? Seems like a bad idea

[2019-02-14 18:22] hickeyma commented on #5303
@bacongobbler More details provided in description as requested. Let me know if anymore details needed.

[2019-02-14 18:28] whereisaaron commented on #4543
As I bring down the object counts in my testing I am seeing a pretty linear relationship; For each average 20Kb ConfigMap in the cluster, `tiller` reads it in and allocates ~110Kb of RAM, when doing any operation like a `helm list` or `helm upgrade`. A `helm upgrade` needs about and extra 40MB RAM over a `helm list`, which seems a very reasonable uplift for computing an actual deployment manifest.

[2019-02-14 19:14] StianOvrevage commented on #4514
I get these warnings(?) as well but it seems to work but it would be nice to get rid of the warnings somehow.

[2019-02-14 20:45] bacongobbler commented on #4564
It appears this has been fixed overnight. I ran a powershell script against every Helm release sinve v2.0.1 that had a zipfile available for that release. The script used to verify they pass the scanner can be found here: https://gist.github.com/bacongobbler/329c98dec7f8ff4e119341a33b29532b

[2019-02-14 20:45] #4564 closed

[2019-02-14 22:45] 27Bslash6 commented on #4543
Is there a quick workaround for this? I see in https://github.com/helm/helm/issues/3414 that setting `--history-max` on an already initialised cluster has no effect.

Is there any convenient way to reduce max history size on a running cluster and not lose the entire current tiller state?

[2019-02-14 22:52] bacongobbler commented on #4543
Removing tiller won't cause it to lose state. The only way it'll lose state is if you remove the ConfigMaps yourself. You can safely call `helm reset --force && helm init` without losing any cluster state.

As a mini demonstration:

[code]

Either that or just `kubectl -n kube-system edit deploy tiller-deploy` and change the value of TILLER_HISTORY_MAX. Either way ends up being the same.

[2019-02-14 22:52] whereisaaron commented on #4543
Yes @27Bslash6 you can change the `--history-max` for `tiller` on an active cluster. Once changed the next deployment to each release will purge the history.

[code]

[2019-02-15 00:45] 27Bslash6 commented on #3414
See https://github.com/helm/helm/issues/4543#issuecomment-463835163 for a workaround until #3454 is merged

[2019-02-15 00:46] 27Bslash6 commented on #4543
Thankyou for this advice, deploys are now managable again.  +1 for a limited default value for TILLER_HISTORY_MAX

[2019-02-15 01:23] bacongobbler commented on #4543
Please follow #5157 for that discussion. :)

Let's circle back to the original topic. @whereisaaron asides from pruning the amount of configmaps, have you made an attempt to provide a patch to address this?

[2019-02-15 02:55] whereisaaron commented on #5157
Even if the default isn't changed in code, setting `max-history` could be heavily recommended on the documentation website and github `README.md`? And `max-history` could be added to all the examples `helm init` commands in the helm 2 documentation?

[2019-02-15 03:32] whereisaaron commented on #4543
No, I still have a lot of pruning to do on clusters, given you need re-deploy every release to trigger the clean-up function. I'm locking new clusters to just `--max-history 10`. I want to try to keep the number of ConfigMaps retrieved from the API Server per `helm` operation under 1,000 objects. And that should also keep `tiller` to ~0.25GB RAM per concurrent operation. I'm patching in `resource`

[2019-02-15 07:19] elchtestAtBosch commented on #4174
Today I found that the --force parameter makes this problem worse. With the parameter I get "Error: UPGRADE FAILED: a released named x is in use, cannot re-use a name that is still in use" removing the parameter returns "Error: UPGRADE FAILED: YAML parse error on ../templates/secret.yaml: error converting YAML to JSON: yaml: line 11: did not find expected key"

[2019-02-15 10:57] linuxshokunin opened #5314 "locally running tiller always looks up for configmap in kube-system namespace"
Hi,

I am running tiller locally and I have a cluster-admin access to specific namespace(e.g. test).
I did following command to create a service account and rolebinding.

[code]

And then I have correctly configure .kube/config. I can create pods/deployment etc in the test namespace.

Now, I ran ```./tiller``` and open up anther terminal and did ```helm --host localhost:44134 list```, I get the fo

[2019-02-15 11:43] sah4ez commented on #4174
@elchtestAtBosch  try this https://github.com/helm/helm/issues/4174#issuecomment-434585897
and check your 11 line, maybe there contains unexpected a space or a tab sign.

[2019-02-15 12:48] sjanota opened #5315 "Rollback removes resource from different release in case fo conflict"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
Minikube

I've encounter following rollback behaviour I find weird:
1. I installed chart A.
2. Then I installed chart B which contained my CRD.
3. Because of some refactoring I moved this CRD from chart B to chart A. This was not well thought trough
4. Then I did upgrade of cha

[2019-02-15 13:45] hickeyma commented on #5314
Here is the documentation for running Tiller in a separate namespace and where release configmaps are stored in the same namespace as Tiller: https://docs.helm.sh/using_helm/#example-deploy-tiller-in-a-namespace-restricted-to-deploying-resources-only-in-that-namespace

I am not sure sure it this can be done running Tiller locally. @bacongobbler Is it possible when running locally?

[2019-02-15 13:57] hickeyma commented on #5301
@bacongobbler putting it in quotes handles the '@' symbol not be interpreted as a special character.
I wonder though should the [ExecuteTemplate](https://golang.org/pkg/text/template/#Template.ExecuteTemplate) handle this with an error message instead of silently?

[2019-02-15 14:10] linuxshokunin commented on #5314
Thanks @hickeyma

I know how to deploy tiller in a different namespace but I want to run tiller locally so that tiller uses .kube/config to authenticate with kube-apiserver(I assume).  Besides, I don't want to deploy a bunch of tiller into separate namespaces.

[2019-02-15 14:11] hickeyma commented on #5312
I wonder is it because of this bug with the chart: https://github.com/helm/charts/issues/9227

[2019-02-15 14:16] bacongobbler commented on #5301
As far as the YAML parser is concerned, that may be the expected behaviour. In other words, we can't error out because the behaviour here is what the YAML parser expects. If changes should be made, it should be at the YAML spec level.

I don't think there's any action we can make here. Just make sure to quote strings to ensure certain characters are not parsed unexpectedly. Closing!

[2019-02-15 14:16] #5301 closed

[2019-02-15 14:19] hickeyma commented on #5301
Makes sense, thanks.

[2019-02-15 14:25] paktek123 commented on #5301
works with single quotes , thanks!

[2019-02-15 14:43] grahamegee opened #5316 "Helm YAML Parser not handling some regexes"
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
AKS

I have created a Helm chart with ingress definition for some of our api services which contains rules block as follows:
[code]
So that in my values file I can simply specify a list of paths for example:

[code]

Since version 0.22.0 of the nginx ingress controller helm chart

[2019-02-15 14:46] 0verc1ocker commented on #5157
I agree with @whereisaaron . The fact is that you can change `max-history` after the first time, but it might be too late. Configmaps alone grow at an alarming rate and slow down everything.

[2019-02-15 15:08] bacongobbler commented on #5157
If someone wants to add that to the documentation, that would be great.

[2019-02-15 15:09] bacongobbler commented on #5316
Could be related to https://github.com/helm/helm/issues/5301? Try single quotes instead of double quotes to prevent adding escape characters.

[2019-02-15 15:23] grahamegee commented on #5316
Thanks for the suggestion, I did try that, but it still didn't work. I probably should have noted that attempt down when I filed the issue 👍

[2019-02-15 15:24] 0verc1ocker commented on #5157
Thanks @bacongobbler . I'll look into making a PR and add some notes to docs in the next couple days.

[2019-02-15 17:07] dansiviter opened #5317 "Allow Job type for Tests"
Only `Pod` types are permitted for `helm test` as it errors within [`client.go#711`](https://github.com/helm/helm/blob/master/pkg/kube/client.go#L711) if a `Job` is used. As a [`Job`](https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/) are more suited to running to completion this would be a better fit.

[2019-02-15 17:20] kwngo commented on #3700
Is this still on the roadmap?

[2019-02-15 17:29] bacongobbler commented on #3700
https://github.com/helm/helm/pull/3726 was closed due to inactivity. If you feel like picking this back up, feel free.

[2019-02-15 18:07] SailingYYC commented on #4564
I've reported v2.12.3 incorrect detection to Microsoft and they've cleared it:
https://www.microsoft.com/en-us/wdsi/submission/2efd8eca-9c02-4e77-98b5-0a6900fa2686

[2019-02-15 18:16] rwestergren commented on #3512
Large file in chart directory was also the source for me.

[2019-02-15 19:26] simonkotwicz commented on #1193
@bacongobbler What solution would you recommend to take an application that's deployed as part of release A (for example a larger release made up of several applications) and break it out of release A into it's own release (or vice versa) without incurring any downtime (the workaround to delete resources would cause some downtime)... Trying to update a resource via a different release results in t

[2019-02-15 22:34] splashx commented on #944
Does anyone know if Option 3 could ever be implemented? (if that's welcomed) Having to run a re-templating engine to populate `values` in file is quite an overhead 😢

[2019-02-16 01:44] FrenchBen commented on #3053
I'm guessing no progress has made on this? having a resource deleted after it was created upon install is quite annoying.

[2019-02-16 18:55] avgalani opened #5321 "helm dependency update fails even though helm fetch succeeds"
I have harbor installed in a kubernetes cluster. Harbor is set-up with https using a self signed certificate.
I have added the repository for charts, as per the harbor instructions, pointing to --ca-file when adding it.

`helm repo add --ca-file /path/to/ca.crt --username SuperSecretUsername --password SuperSecretPassword my_repo https://harbor.test/chartrepo/my_charts`

Output of helm repo list:

[2019-02-16 20:30] Tronix117 commented on #3553
Using the hack of @deltaroe don't forget to pass `--namespace cool-namespace` to the helm template too. Some charts providers have started adding the namespace key themselves due to this issue.

[2019-02-16 21:22] markserrano915 commented on #4506
This worked for me in DigitalOcean.

[2019-02-16 22:19] DSTOLF commented on #3480
@technosophos

Hi, I'm also facing this issue on Mac and found this issue after some googling. I've tried using helm client 2.13.0-rc.1, the error is gone, but the client just hangs.

GKE Version: 1.11.6-gke.2
Tiller Version (installed by Gitlab): v2.12.2

Output for Helm Client v2.12.3:
[code]

Output for Helm Client v.2.13.0-rc.1
[code]

If I try to do the `kubectl port-forward trick, it's all t

[2019-02-16 22:30] DSTOLF commented on #3480
I've also tried updating tiller image to v2.13.0-rc.1, the results are the same.

[2019-02-16 22:30] koenpunt commented on #5046
When installer through brew you can use the following to fix autocompletion:

[code]

Don't forget to reload your shell; this can be done by opening a new window, or by running `exec $SHELL`

[2019-02-16 23:10] DSTOLF commented on #3480
Sorry for spamming multiple messages, but it seems that when installing tiller on `kube-system` namespace with `helm init`, everything works fine.

[2019-02-17 02:15] dustnic commented on #3447
exactly same issue here!

[2019-02-17 03:40] bacongobbler commented on #3447
Seems like the exactly same diagnosis made earlier: https://github.com/helm/helm/issues/3447#issuecomment-363521370

I suggest checking your internal network policy to see if tiller can talk to the API server.

[2019-02-17 19:48] musabmasood commented on #4275
+1

[2019-02-17 22:23] gabrielfsousa commented on #2060
Great news @bacongobbler

[2019-02-17 23:18] whereisaaron commented on #2060
Given this change, would it make sense for the namespace column to be moved to the first column in `list` output. So that the first two columns uniquely identifies the release?

The default sort could be by namespace and release, so that releases in the same namespace are grouped together, e.g. all the `kube-system` releases would be together.

[2019-02-18 00:36] bacongobbler commented on #2060
Sure.

[2019-02-18 08:47] hickeyma commented on #5085
@mattfarina PR #5295 now merged. This feature can be closed.

[2019-02-18 08:55] frosch95 commented on #5220
First I should notice that I have changed the path to the kubectl.exe from the above version, which was part of the docker desktop for windows to the newer version, which was installed by azure cli

_Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.3", GitCommit:"721bfa751924da8d1680787490c54b9179b1fed0", GitTreeState:"clean", BuildDate:"2019-02-01T20:08:12Z", GoVersion:"go1.1

[2019-02-18 08:55] #5220 closed

[2019-02-18 09:58] pavdmyt commented on #5046
@bacongobbler having the same issue with **2.13.0-rc.1**:

[code]

[2019-02-18 10:14] docteurklein commented on #2735
careful with `helm template | kubectl apply` because if you have hooks defined, they will be executed as well. (you don't want a rollback job to be executed during an upgrade for example).

[2019-02-18 10:27] dabelenda commented on #2994
I am using helm in an OpenShift setup, and trying to manage everything using helm hitting ordering issues very hard...

In OpenShift there is a CRD called Project, which is a complete replacement of Namespace (it then creates a "virtual" Namespace object Read-Only), thus when I try creating a Project with Quotas, and other official objects from k8s the ordering is messed up.

I think a good way to

[2019-02-18 11:56] hickeyma commented on #5321
I wonder is there any correlation between #5179 chartmuseum issue and this issue?

[2019-02-18 14:41] whereisaaron commented on #2994
@dabelenda I've [suggested elsewhere](https://github.com/helm/helm/issues/1780#issuecomment-357387173) that subcharts in `requirements.yaml` could be weighted/ordered. Then you could split deployments into phases and control the order at that level?
https://github.com/helm/helm/issues/1780#issuecomment-357387173

[2019-02-18 14:52] dabelenda commented on #2994
I am "only" creating the Project, Quotas, and RoleBindings here.
The need to create a dummy subchart to only create a Project and then apply Quotas and RoleBindings is weird.
Every single CRD that have dependencies will have to be in different subcharts. It would creates hard-to-understand charts if the dependency tree is non trivial.

I think of Prometheus-Operator Prometheus ServiceMonitoring et

[2019-02-19 02:40] xbmono commented on #2205
I look forward to see this. We need this for our continous delivery process

[2019-02-19 06:14] hustshawn commented on #1702
@technosophos can the `--recreate-pods` add extra options which can perform pods rolling update, instead of the current behavior that destroy all pods and create new.

[2019-02-19 10:23] jonasscherer opened #5326 "Tiller pod does not start [connection is unauthorized]"
Output of `helm version`:

Error: could not find a ready tiller pod

Output of `kubectl version`:

Server Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.3", GitCommit:"721bfa751924da8d1680787490c54b9179b1fed0", GitTreeState:"clean", BuildDate:"2019-02-01T20:00:57Z", GoVersion:"go1.11.5", Compiler:"gc", Platform:"linux/amd64"}

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

Til

[2019-02-19 12:37] alexandrsemak opened #5327 "Helm upgrade output with incorrect values."
Output of `helm version`:
2.12.3 server
2.12.3 client
Output of `kubectl version`:
1.12.5
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
IBM

Hello,

We have some question/issue when execute:
`helm upgrade --debug --install -f values.yaml`
and if we have some incorrect values file and helm doing first install it will give detailed Error, but if release have been already in cluster and helm tri

[2019-02-19 13:34] bfalese-navent commented on #1193
it sound like this new chart its been installed and replaces the old charts even before a sucessfull deploy. Same thing with a failing upgrade --install. It sould not install if the chart is wrong.
Just rollback to previous state on error or update tiller charts on success.

[2019-02-19 15:57] bacongobbler commented on #3569
@monztors here's the main error from that report:

That error typically indicates a connection could not be established with gcr.io, which is the container registry hosting tiller's image. Are you in a region where gcr.io is blocked? For example we've heard reports from people in China that gcr.io is unavailable behind the firewall.

[2019-02-19 16:47] monztors commented on #3569
@bacongobbler

[2019-02-19 17:26] bacongobbler commented on #3569
Works for me over here in North America, so there's no problem with the image itself. :)

[code]

Same with the canary image. I'd check your connection information and see if you can connect to gcr.io.

[2019-02-19 19:28] prydonius commented on #5085
Just FYI, this only works with the common chart today because it doesn't actually produce any output and only defines Go template blocks for the parent chart to use. I imagine most library charts will follow this approach and not output their own templates, so this should be okay, but it might also make sense to ensure it by skipping any template generated in a library chart.

[2019-02-19 20:27] jonasscherer commented on #5326
Still don't know what caused the issues...
I did a "reinit" of kubelet and verything is working fine now.

[2019-02-19 20:27] #5326 closed

[2019-02-19 21:05] android2221 commented on #3077
All hail bacongobbler!

[2019-02-19 22:02] 0verc1ocker commented on #5157
https://github.com/helm/helm/pull/5328

[2019-02-20 07:53] ensonic opened #5335 ""helm status <release> -o yaml" should have a structured resource record"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
GKE

The output of `helm status cert-manager -o yaml` is
[code]
This requires apps to manually parse the `info.resources` to see if everything is up. I look for a way to have helm tell me if the resources that belong to a release are up-and-running and that in a machine readabl

[2019-02-20 09:54] pq-dong commented on #3275
hi，i also has this problem, and i can not solve it , can you would like give me some prompts.

[2019-02-20 10:14] borntyping commented on #1844
I'm also seeing a similar problem on Helm 2.12.3. A `secretName` in a Deployment's volume was changed, other issues resulted in a series of failed upgrades, but successful upgrades after that do not change the `secretName` even though the output of `helm template` appears correct.

[code]

[2019-02-20 11:17] frankmehlhop opened #5338 "Error: could not find a ready tiller pod"
Output of `helm version`:
Client: &version.Version{SemVer:"v2.12.3", GitCommit:"eecf22f77df5f65c823aacd2dbd30ae6c65f186e", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.12.3", GitCommit:"eecf22f77df5f65c823aacd2dbd30ae6c65f186e", GitTreeState:"clean"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.11", GitCommit:"637c7e288581ee40ab4c

[2019-02-20 11:32] frankmehlhop commented on #5338
Ups..
It's working now.
Error message is gone.
I get the log of the tiller pod.
I dit not do any changes. May be the tiller pod has been down in between?!
Frank

[2019-02-20 11:32] #5338 closed

[2019-02-20 13:29] avgalani commented on #5179
is there any update on this issue?

[2019-02-20 13:49] jonasscherer commented on #2798
Could you please show an example?
Is there a way to exclude one yaml from the template engine?

[2019-02-20 17:32] sudomann commented on #4286
@27Bslash6  Encountered this as well, did you guys solve it?

[2019-02-20 18:08] bacongobbler commented on #3275
see https://github.com/helm/helm/issues/1193#issuecomment-419555433.

[2019-02-20 20:13] bridgetkromhout commented on #4245
Looks like this was resolved via https://github.com/helm/helm-www/pull/168.

[2019-02-20 20:16] #5309 closed

[2019-02-20 20:16] tswift242 commented on #5309
Whoops, this was caused by a goof on my part. Sorry about this.

[2019-02-20 20:28] bacongobbler commented on #4245
Good catch @bridgetkromhout! Closing.

[2019-02-20 20:28] #4245 closed

[2019-02-21 05:32] gandazgul commented on #3189
The nginx ingress feature alone would be a huge win. Another use case is to add alert rules to prometheus, I'm sure there are others where a shared configmap where helm does an upsert would be very nice.

[2019-02-21 09:31] l15k4 commented on #4286
I have the same trouble on 1.10.7.gke2  and helm `v2.12.3` ...

[2019-02-21 10:12] roldevg commented on #4606
Yes, it will be very useful for charts using template versions and repositories.

[2019-02-21 10:58] l15k4 commented on #4286
We found the problem, k8s Master endpoint public addr, which is the proxy, had not 22 enabled in firewall rules for some reason ...

[2019-02-21 12:27] alexdrans commented on #3480
'Fixed' this by removing `--wait` from my deploy command

[2019-02-21 14:27] kevinhcross commented on #4547
In case is anyone ends up on this ticket after searching and wants a better solution than Homebrew to manage Helm installations I recently came across [asdf](https://github.com/asdf-vm/asdf) which has a [helm plugin](https://github.com/Antiarchitect/asdf-helm). `asdf` will let you install and switch between any version of Helm. It will even let you create a `.tool-versions` file in a directory so

[2019-02-21 15:01] ameier38 opened #5341 "stable/airflow _helpers.tpl assignment operator incorrect"
Output of `helm version`:
[code]

The `_helpers.tpl` file uses `=` for some variable assignments instead of `:=`. This causes the install to fail.

[2019-02-21 16:00] mattfarina commented on #2039
As of the RC that just went out we are now signing. See https://github.com/helm/helm/releases/tag/v2.13.0-rc.2

I'll close after v2.13.0 goes out. If there are any issues with this please let us know.

[2019-02-21 17:58] aaronkjones opened #5342 "Helm Quickstart and Installation URLs Incorrect"
URLs to quickstart and installation are broken in https://github.com/helm/helm/blob/master/README.md.

[2019-02-21 18:23] tswift242 commented on #4280
I see the same kind of thing when I do helm upgrade --wait. The command finished after terminating all old pods and starting all new pods but before the last new pod was ready. So the state at helm exit looked like this:

NAME                                    READY  STATUS       RESTARTS  AGE
XXXXXXXX-5f6f7f76bf-g5lfq   0/2    Pending       0         1s
XXXXXXXX-5f6f7f76bf-s48c2  2/2    Running

[2019-02-21 20:06] howardjohn opened #5344 "docs/helm/helm.md Environment list format broken"
https://helm.sh/docs/helm/

The list of environment variables is broken, it is all merged together instead of a list.

[2019-02-21 20:42] bacongobbler commented on #5344
cc @flynnduism

[2019-02-21 20:42] bacongobbler commented on #5342
cc @flynnduism

[2019-02-21 20:51] flynnduism commented on #5342
Hmm, I added redirect rules earlier this morning to handle site structural changes...
Pointing `docs.helm.sh/* > helm.sh/docs/*`

Those links are route correctly for me now (tested it over vpns and fresh devices).

@aaronkjones can you re-check? I'm hoping you were just unlucky in your timing corresponding with the dns change.

[2019-02-21 20:52] maberny commented on #4670
+1

[2019-02-21 20:56] bacongobbler commented on #5342
I can confirm that the redirect rules are pointing at the right location for me as well, so it must've been a timing issue. I'll go ahead and close this as well as #5343. Thanks!

[2019-02-21 20:56] #5342 closed

[2019-02-21 20:58] bacongobbler commented on #5344
Sorry, wrong person to ping. This doesn't have to do with the site migration that occurred earlier this morning. Disregard! :)

@bridgetkromhout identified this as well earlier this week. There's some discussion in #5339 if you'd like to follow along.

[2019-02-21 22:38] aaronkjones commented on #5342
@flynnduism @bacongobbler It redirects fine now. Just bad luck timing :)

[2019-02-22 00:22] sudomann commented on #4286
Might just be GCE acting stupid sometimes. I destroyed the cluster and created another with the same name, region, parameters etc. on the same network. And I didn't get that error again. I hate to think of what a scenario I'd would be in if that was a mature cluster with contents I couldn't readily discard and reprovision :(

[2019-02-22 07:54] monztors commented on #3569
@bacongobbler
Thanks for your help, after a few days of trying, suddenly now i can download the image using command **"helm init --canary-image"**

[2019-02-22 12:23] night0wl commented on #4670
+1

[2019-02-22 14:06] sblcook commented on #1587
Hi,

I'm still experiencing this error with helm 2.11.0, with the same exact steps to reproduce that @jzelinskie reported.

[2019-02-22 15:18] planetf1 opened #5348 "cp-helm-charts on repo site are a fair bit behind github"
Chart respository for cp-kafka is not updated with current charts

I tried using the cp-helm-charts as from the repository https://confluentinc.github.io/cp-helm-charts/index.yaml

I was having some trouble with my broker going into error state and as part of the checks I was verifying if I was running the current code

I note that the archive files are a little old now compared to what is on gith

[2019-02-22 15:20] planetf1 commented on #5348
opened in error - meant to target main cp-helm-chart repo not helm/helm

[2019-02-22 15:20] #5348 closed

[2019-02-22 16:29] hickeyma commented on #5335
The [documentation](https://github.com/helm/helm/blob/master/docs/helm/helm_status.md) refers to the state of a release having a constant field as follows: `state of the release (can be: UNKNOWN, DEPLOYED, DELETED, SUPERSEDED, FAILED or DELETING)` .

The notes provide details alright but I think there is a need to provide a state field (e.g. `type`) which maps the code to the constant list shown a

[2019-02-22 16:34] enrmarc opened #5349 "Doc links are broken"
Example: https://helm.sh/docs/helm/helm_upgrade/

[2019-02-22 16:40] hickeyma commented on #5327
Do you mind providing an example of a values file with incorrect values that I can use for test purposes?

[2019-02-22 16:44] hickeyma commented on #5321
@avgalani Can I close this issue as a duplicate of #5179 ?

[2019-02-22 16:49] bacongobbler commented on #5349
Thanks for finding this. Where are you finding this link? The correct link should be https://helm.sh/docs/helm/#helm-upgrade.

[2019-02-22 16:59] hickeyma commented on #5278
@micw Have you had a chance to troubleshoot this and  provide more details on the issue?

[2019-02-22 17:10] hickeyma commented on #5238
@Overbryd does the fix in https://github.com/Masterminds/sprig/pull/137 close this issue?

[2019-02-22 17:14] hickeyma commented on #5261
@znorris Did you get a chance to try the above ^ ?

[2019-02-22 19:12] micw commented on #5278
Hello, no I'm currently in vacations. Hope to get some time next week.

[2019-02-22 19:46] Overbryd commented on #5238
If helm updates to the sprig version supporting mergeOverride (it was
merged into sprig master 10 days ago), yes, this issue can then be closed.

Do you consider updating sprig and subsequently support mergeOverride?

I would also be happy to demonstrate the “base”-chart pattern that we use
here.

Kind regards,

Lukas

On Fri 22. Feb 2019 at 18:11, Martin Hickey <notifications@github.com>
wrote:

[2019-02-22 21:10] bacongobbler commented on #5238
Closed via #5300.

[2019-02-22 21:10] #5238 closed

[2019-02-22 22:31] ian-howell commented on #5081
I'm going to go ahead and work on this one until someone tells me otherwise. My work so far is here [5350](https://github.com/helm/helm/pull/5350), although it's still very much a work in progress. I've been using the [specification](https://github.com/helm/community/blob/master/helm-v3/001-charts.md#schematized-values-files) as guidance.

[2019-02-22 23:43] bacongobbler commented on #5314
There are multiple ways to tell tiller where to store/lookup release metadata:

- [setting the TILLER_NAMESPACE environment variable](https://github.com/helm/helm/blob/ead111dd4f699b3cb0a56f1e6d4585e3363f925b/cmd/tiller/tiller.go#L238-L240)
- [add the namespace to `/var/run/secrets/kubernetes.io/serviceaccount/namespace`](https://github.com/helm/helm/blob/ead111dd4f699b3cb0a56f1e6d4585e3363f925b/c

[2019-02-22 23:43] #5314 closed

[2019-02-22 23:47] bacongobbler commented on #5305
This is a side-effect of releases being globally namespaced. Closing as a duplicate of #2060.

[2019-02-22 23:47] #5305 closed

[2019-02-22 23:49] bacongobbler commented on #5270
I'm sorry, but I have not been able to reproduce this issue myself and have not heard of similar reports from other community members. Let us know if you figure out what the issue is, and we can try to assist where we can.

[2019-02-23 03:26] DrEsteban commented on #2247
+1 would love to have this feature

[2019-02-23 12:16] o0st commented on #4807
in case you don't want to use separate values file option which is more preferable due to better readability and easier to maintain, you can try do separate assignment for each element like this:
[code]
note, keys and value must be stringified.

[2019-02-23 21:27] niekoost commented on #4685
@mabushey solution works, but with `helm init` instead of `helm --init`

[2019-02-24 14:08] filintod commented on #5193
I use this workaround many times and might work for you:

{{/* prints the name expects a list of items (pipeline, kind) */}}
{{ define "mychart.name" }}
{{- $dot := index . 0 }}
{{- if eq (len .) 2 }}{{ $dot.Chart.Name }}-{{ $dot.Values.environment }}-{{ index . 1 -}}
{{- else               }}{{ $dot.Chart.Name }}-{{ $dot.Values.environment }}-ObjectNameNotProvided{{ end -}}
{{ end }}

in your tem

[2019-02-24 21:23] #4744 closed

[2019-02-25 00:13] Anashaikh opened #5351 "helm - configmap created is misaligned"
**Is this a request for help?**:
Yes

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug Report

**Version of Helm and Kubernetes**:
helm version v2.12.3
tiller version v2.12.3
Kubernetes api v1.12.3

**What happened**:
snippet of server-configmap.yaml
[code]
after adding the below on values.yml file

[code]
and running helm template .
the configmap shows up as:
[code]
**What you expec

[2019-02-25 02:17] bacongobbler commented on #5351
Try using `nindent` instead of `indent`. The former indents all lines, whereas the latter indents only the first line.

[2019-02-25 06:33] koulq commented on #5156
Is there any good plan for this question now? Why isn't anyone answering?

[2019-02-25 09:03] elemakil commented on #5269
I have the same problem. I am also using the CCE product of the Open Telekom Cloud. It is a brand-new CCE instance.

Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

[2019-02-25 09:41] ashwork commented on #5351
Hi Matthew,

I tried using nident but still get the following output when running helm
template .
              - consul_sd_configs:
                - server: 10.79.120.17:8500
                  token: aasas
                job_name: consul_sd

whereas i wanted it to be :
                -  job_name: consul_sd
                   consul_sd_configs:
                    - server: 10.79.120.17:8500

O

[2019-02-25 09:43] simplyviks commented on #3346
/remove-lifecycle rotten

[2019-02-25 09:46] ashwork commented on #5351
Hi Matthew,
I tried using nident but still get the following output when running helm
template .

              - consul_sd_configs:
                - server: consul_server:8500
                job_name: consul_sd

whereas i wanted the output to be :

              -  job_name: consul_sd
                 consul_sd_configs:
                   - server:  consul_server:8500

somehow toYaml is parsing

[2019-02-25 10:13] cablespaghetti commented on #2914
Same issue. Only occurs occasionally (v2.12.3). I'll add force to all my scripts and see if it goes away.

[2019-02-25 14:16] hickeyma commented on #5351
The suggestion by @bacongobbler was to fix the indentation in the generated yaml. This is the output I get which tidies it up:
[code]
If this did not fix the issue and you need the output in a particular order, can you show the template code that needs this order? It might help give an understanding of the issue.

[2019-02-25 14:30] elemakil commented on #5269
I have done some digging and I am convinced that this permission problem is in some way related to the use of the [user nobody](https://github.com/helm/helm/blob/ead111dd4f699b3cb0a56f1e6d4585e3363f925b/rootfs/Dockerfile#L25) in the `Dockerfile` of the image. I found that the `.../tokens` file is present in the container but not accessible by the user `nobody`, see below for my step-by-step analys

[2019-02-25 16:05] MarkFreebairn commented on #4781
Disabling kubelet https doesn't sound like a good workaround for this? I am seeing this issue too after upgrading to kubernetes v1.11.5 on EKS

[2019-02-25 17:18] hickeyma commented on #5274
@josecv Can you test if this issue is now fixed?  Helm is using sprig with this fix: https://github.com/Masterminds/sprig/pull/137 This fix might solve your issue also?

[2019-02-25 17:32] hickeyma commented on #5049
@gillesdemey Can you test if this is now fixed? @mortent provided a fix https://github.com/Masterminds/sprig/pull/133, which was pulled into Helm via #5300.

[2019-02-25 17:37] bacongobbler commented on #5049
I think we can safely close this issue for now as this issue was referenced directly in the report. Please re-open if this persists. Thanks!

[2019-02-25 17:37] #5049 closed

[2019-02-25 20:23] mrbrownt opened #5355 "[stable/wordpress] customHTAccessCM causes template error when set"
Output of `helm version`:
`Client: &version.Version{SemVer:"v2.12.3", GitCommit:"eecf22f77df5f65c823aacd2dbd30ae6c65f186e", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.12.3", GitCommit:"eecf22f77df5f65c823aacd2dbd30ae6c65f186e", GitTreeState:"clean"}`

Output of `kubectl version`:
`Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.3", GitCommit:"721bfa751924da8d16

[2019-02-25 20:26] #5355 closed

[2019-02-25 21:11] bacongobbler commented on #5335
Unfortunately this is a side-effect of marshalling the gRPC response straight to YAML. The output is completely intentional, as that's the exact response Helm receives from Tiller from a GetStatusRequest. For anything other than the human-readable output format (the default output of `helm status`), it's up to the end-user to parse that information into something that makes sense for them.

Accord

[2019-02-25 21:13] bacongobbler commented on #5335
Closing as fixed in Helm 3.

[2019-02-25 21:13] #5335 closed

[2019-02-25 21:14] #5321 closed

[2019-02-25 21:14] bacongobbler commented on #5321
closing as a dupe of #5179

[2019-02-25 21:17] bacongobbler commented on #5312
yeah, this looks like a duplicate of https://github.com/helm/charts/issues/9227 which was apparently fixed with https://github.com/helm/charts/pull/10993. Would you mind testing that out?

[2019-02-25 21:19] bacongobbler commented on #5311
re-posting my comment in #5353 for posterity:

IIRC Go considers the `cmd` package as an "internal" package, so even if we made them public, third parties won't be able to take advantage of these commands. In the past, the internals of `cmd` changed often due to breaking changes in `k8s.io/kubernetes`, which is why we have avoided exposing these commands in the past. I'm not sure if we're still co

[2019-02-25 22:45] bacongobbler commented on #4970
Can the context object be part of the [client options](https://github.com/helm/helm/blob/master/pkg/helm/option.go) instead? That way we don't have to introduce new functions, and any request that relies on `--wait` can pass along that context object (if it's been set).

If you're still interested in this work, it'd probably be better to get this into Helm 3. Currently we're not looking at new fea

[2019-02-25 23:37] bkeroackdsc commented on #4970
If you'd prefer it to be a field on the client options, we can do that. We use my forked version of the client so it would be easier for us to get it merged prior to Helm 3 being released, but if that's not possible I can open a different PR for Helm 3 I guess.

[2019-02-26 01:19] alex88 commented on #3208
@notque after losing all grafana dashboard twice I've started doing backups before doing any kind of upgrade, having this kind of risk removes all the benefits of using helm

[2019-02-26 05:36] omnilinguist commented on #3740
@dmaze did you ever make any more progress on this? I've tried to revive a [discussion|https://kubernetes.slack.com/archives/C0NH30761/p1551159041162200] in the k8s slack about this, where it seems this is somehow correlated with deployments with large replicasets, but also not consistently reproducible?

@bacongobbler might the above correlation give some hints as to what might be going on here?

[2019-02-26 06:57] jorgenkg commented on #2798
A viable hack is to let Helm render the template as a raw string. Note the opening and closing curly bracket with a backtick:

[code]

[2019-02-26 07:23] mouhsinelonly commented on #2463
Did anyone found a solution to this

[2019-02-26 07:53] crubier opened #5358 "Set namespace for subcharts using values.yaml"
This is a feature request, related to #2813 .

I have this use case with strong operational constraints (integration with terraform on one side, and with gitlab on the other side), where I would like to be able to specify namespaces of subcharts, for example by using a `values.yaml` like this:

[code]

I tried it at first, not doubting that this would work, as I expected this behaviour. But I was

[2019-02-26 08:28] 27149chen opened #5361 "Helm lint failed with empty value"
Similar with https://github.com/helm/helm/issues/1463#issuecomment-256493366
When running helm lint, I got an error:
`[ERROR] templates/: render error in "xxx/templates/xxx-deployment.yaml": template:xxx/templates/xxx-deployment.yaml:7:24: executing "xxx/templates/xxx-deployment.yaml" at <include (print $.Tem...>: error calling include: template: xxx/templates/xxx-secret.yaml:14:74: executing "xxx

[2019-02-26 09:09] joergkiesewetter opened #5362 "Unable to use Helm: could not find an available port"
I'm not able to use helm in our kubernetes cluster. Everytime I want to execute a command, helm tells me, that he cannot find an available port:

[code]

This is for every command. When I execute ```sudo helm init```, the tiller pod gets started up. But after that, I cannot communicate with tiller anymore. It worked before, but somehow it stopped working after a while. We were able to install mult

[2019-02-26 09:46] sachinmuralig commented on #2918
I'm having this same issue with Helm Test : https://stackoverflow.com/questions/54806918/helm-test-fails-with-error-watch-closed-before-untilwithoutretry-timeout?noredirect=1

[2019-02-26 09:58] hickeyma commented on #5358
@bacongobbler with the addition of [State Management](https://github.com/helm/community/blob/master/helm-v3/003-state.md) and the removal of Tiller in v3, will it be possible to use multiple namespaces in the one release?

[2019-02-26 11:35] HerbiePorter commented on #3555
+1

[2019-02-26 12:20] iftachsc opened #5363 "In the same namesapce, deleting a release that has the same deployment name as an existing one will delete it even its from a different release"
This is not a bug i guess, but a serious improvement needed in the shape of protection is needed here.

Output of `helm version`:
Client: &version.Version{SemVer:"v2.12.1", GitCommit:"02a47c7249b1fc6d8fd3b94e6b4babf9d818144e", GitTreeState:"clean"}

Server: &version.Version{SemVer:"v2.12.1", GitCommit:"02a47c7249b1fc6d8fd3b94e6b4babf9d818144e", GitTreeState:"clean"}

Output of `kubectl version`:
C

[2019-02-26 12:27] hickeyma commented on #5361
@27149chen It seems that the `b64enc` function requires a non empty string. You can get around this by checking if the string is non empty, similar to the following:
[code]

[2019-02-26 12:45] hickeyma commented on #5362
@joergkiesewetter What is the output of this command: `kubectl get all -n kube-system | grep "tiller"` ?

[2019-02-26 12:56] michelzanini commented on #2247
+1

[2019-02-26 13:27] hickeyma commented on #5358
@crubier For v2, you could install each namespace individually using `--skip-dependencies` or with [conditions](https://github.com/helm/helm/blob/master/docs/charts.md#tags-and-condition-fields-in-requirementsyaml)

[2019-02-26 13:32] 27149chen commented on #5361
@hickeyma  I have tried this way, not working.
My  case is a bit more complex since it is used in a (include (print xxx))

[2019-02-26 13:44] joergkiesewetter commented on #5362
the output is:

[code]

[2019-02-26 13:46] hickeyma commented on #5363
This is a good description on how Helm operates [globally](https://github.com/helm/helm/issues/2060#issuecomment-287463126) in the Kubernetes cluster. A Helm releases creates resource(s) with given name(s).  Once the resource is requested to be created by Helm, it is then managed by the cluster. Helm knows it resources by their names which need to be unique to Helm.

In your situation this works a

[2019-02-26 14:44] jstriebel commented on #3533
I guess this should also go into the [Upcoming - Major](https://github.com/helm/helm/milestone/29) milestone at some point. Thanks @jascott1 for making sure this does not get overlooked :+1:

[2019-02-26 14:49] hickeyma commented on #5361
Ok, trying to reproduce this so to better understand. Is this the line that fails:
`checksum/secret: {{ include (print $.Template.BasePath "/xxx-secret.yaml") . | sha256sum }}` ?
If so what is the contents of `xxx-secret.yam` that causes the error?

[2019-02-26 14:52] hickeyma commented on #5362
Can you get the output of the `tiller-deploy` pod logs?

[2019-02-26 15:18] 27149chen commented on #5361
@hickeyma
the error line is:
`username: {{ .Values.username | b64enc | quote }}`

[2019-02-26 15:26] josecv commented on #5274
Just tried out the latest helm from `master` and it worked:

[code]

thanks!

[2019-02-26 15:35] #5274 closed

[2019-02-26 15:55] hickeyma commented on #5361
is the error caused when `username` in the values object is an empty string?

[2019-02-26 16:00] filipre commented on #3555
Please stop the spam with the +1. There is already a PR (https://github.com/helm/helm/pull/4961) and people are discussing the proposal. The last reply was even 2 days ago.

[2019-02-26 16:08] crubier commented on #5358
@hickeyma using tags might be a fair workaround for me in this case. Tag subcharts with different values and execute one release per namespace

[2019-02-26 16:20] bacongobbler commented on #5358
This feels like a solid use case for [helmfile](https://github.com/roboll/helmfile). I don't think this will be resolved in Helm 3 as the original post is requesting a new feature within requirements.yaml (or Chart.yaml in Helm 3). We haven't ironed out the details for managing a single release across multiple namespaces, though several community members have written tools to manage that state acr

[2019-02-26 16:32] xoen commented on #2947
For what is worth still happens on `v2.12.3` (tiller)/`v2.12.2` (client).

I found this really surprising/annoying. Wasn't kubernetes declarative? Why do I care if a configmap/resource is there or not (usually)? Kubernetes will figure things up and eventually have make the state I requested happen.

It's not clear to me at this stage what Helm is trying to do. I thought Helm was pretty much "just"

[2019-02-26 16:36] bacongobbler commented on #2947
This was an intentional design decision. We chose the defensive decision: If something other than Helm creates a resource, Helm will not alter it. A name collision is treated as an error condition. In our view, it would be an error for Helm to assume that it can "adopt" an existing resource and treat it as part of a release.

[2019-02-26 16:39] bacongobbler commented on #2947
However, the behaviour in the OP's discussion seems like a different issue altogether. The chart is declaring the same resource twice, and Helm does not understand how to reconcile the two. It's not clear to me what's the proposed solution for this issue. To me it seems like this is intentional behaviour; one should not be able to apply the same resource twice in the same release.

[2019-02-26 16:49] xoen commented on #2947
@bacongobbler thanks for your replies:
1. I see what you mean about the design decision
2. I didn't get that the OP had a problem where the same resource was created twice.

Still not sure how to work around my problem where I'm trying to upgrade a release which has a dependency (on `stable/redis` in my case) without getting weird errors. Bear in mind the existing resource **was** created by Helm,

[2019-02-26 17:14] 27149chen commented on #5361
@hickeyma
yes, in this way `usename: `

[2019-02-26 17:26] hickeyma commented on #5361
Can you show me then where the complexity is that the ' if statement' suggested in https://github.com/helm/helm/issues/5361#issuecomment-467419275 won't fix the issue with an empty `username` and statement `username: {{ .Values.username | b64enc | quote }}`?

[2019-02-26 18:31] crubier commented on #5358
@bacongobbler this is not use case for helmfile, as I don't really want to add an additional third party alpha dependency to this (already quite complex) stack, that will have to run in various environments.

Using tags and multiple releases allows me to work around, but with a pretty high complexity.

[2019-02-26 18:34] 27149chen commented on #5361
Did you try to reproduce?
I tried to add an "if", but failed with same error

[2019-02-26 20:05] melissapalmer commented on #4994
@macon  did you find a solution as to how to do this at all? Thanks in advance.

[2019-02-26 21:26] iftachsc commented on #5363
Thanks. So helm doesn’t have a way of protecting against it? There are labels on the resources which the associated release name. Can’t it use that for protection knowing he is about to delete resource with a different release label than the one being deleted.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Martin Hickey <notifications@github.com>
Sent: Tuesday,

[2019-02-26 21:30] bacongobbler commented on #5363
Seems like a duplicate of https://github.com/helm/helm/issues/3319. Can you check and see if the two use cases align? If so, we should close this ticket to keep the conversation in a single ticket. Thanks.

[2019-02-26 21:55] ian-howell commented on #5081
The proposal mentions being able to generate a JSON schema from a given values file. However, Values are currently stored as `map[string]interface{}`, which means that the only information we can draw from a given property is its type. The types that we can determine are limited to what the [json  library's `Unmarshal`](https://golang.org/pkg/encoding/json/#Unmarshal) uses, which means no integers

[2019-02-26 21:57] bacongobbler commented on #5081
Yep!

[2019-02-26 22:58] alice-sawatzky commented on #4699
5 months and a minor release later, is this ever going to get fixed?

[2019-02-26 23:56] bacongobbler commented on #5311
So, #5365 is a major internal refactoring of most of the Helm codebase in preparation for Helm 3. Large parts of the functionality in `cmd` has been moved into the `action` package (new for Helm 3), but the commands themselves are still in `cmd`... For now.

After we suss out the details on that PR, my line of thinking to address this ask is to move all the `new*Cmd` functions over to `pkg/cli`. T

[2019-02-27 07:52] hickeyma commented on #5361
This should work. I tested using a very simple chart which I create using `helm create`. I then removed all the template files and just added a 'configmap' template as follows:

[code]

My values files is as follows:
[code]
I then run 'template' and 'linter' which works as expected:
[code]

Then when I add a username value:
[code]

I get the output as expected:
[code]

[2019-02-27 07:53] hickeyma commented on #5361
Maybe if you share your template and values file, I get try and see what is going wrong for you?

[2019-02-27 08:12] 27149chen commented on #5361
@hickeyma
you forgot this one:
`checksum/secret: {{ include (print $.Template.BasePath "/xxx-secret.yaml") . | sha256sum }}`

[2019-02-27 08:15] 27149chen commented on #5361
Adding this to your chart:
`
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-configmap2
  annotations:
    checksum/secret: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
data:
  test: test
`

[2019-02-27 08:28] salamando opened #5367 "confusion with "*-delete" hooks and suggestion"
Output of `helm version`:
SemVer:"v2.12.3"
Output of `kubectl version`:
v1.9.7

Hi
I'm confused with "*-delete" like "pre-delete" - "Executes on a deletion request before any resources are deleted from Kubernetes." from https://github.com/helm/helm/blob/master/docs/charts_hooks.md

Expected
Delete the hook before any resources are deleted from Kubernetes.

Happend
tiller.log
"Release test-helm pre

[2019-02-27 08:52] jsonbruce commented on #5046
Still not fixed yet.
[code]

Thanks to @arogarth and @koenpunt

I fixed this by changing file `~/.oh-my-zsh/plugins/helm/helm.plugin.zsh` to:

[code]

[2019-02-27 08:53] joergkiesewetter commented on #5362
yes, the log is:

[code]

[2019-02-27 09:26] hickeyma commented on #5361
It might be better if you could explain what are you trying to do? At the moment, we are just over and back with syntax!

[2019-02-27 09:34] 27149chen commented on #5361
I followed this guide https://github.com/helm/helm/blob/master/docs/charts_tips_and_tricks.md#automatically-roll-deployments-when-configmaps-or-secrets-change to automatically roll deployments When secrets change during upgrage. so I use the include (xxx), while my secret.yaml has this line `username: {{ .Values.username | b64enc | quote }}` which will cause helm lint failure

[2019-02-27 09:38] hickeyma commented on #5362
What infrastructure (AKS, GKE, Minikube etc.) is your Kubernetes cluster running on? Are you running the `helm` commands remotely to the cluster?

Could you try running the following commands and provide the output:
`helm init --upgrade`
`helm version`

Can you also check the kube config where the `helm` commands are run: `$ kubectl config view`

[2019-02-27 10:05] joergkiesewetter commented on #5362
The cluster is running on a self-hosted machine, set up with kubeadm. To execute the helm command, I connect to the master via SSH and execute the commands.

```helm init --upgrade``` made the response:
[code]

```helm version``` made the response:
[code]

It seems like the upgrade-command helped. Previously, I was not able to get a list of installed charts via ```helm list```, now it is possible.

[2019-02-27 10:15] hickeyma commented on #5361
[code]

Output as expected:
[code]

[2019-02-27 10:20] hickeyma commented on #5361
Another example..

[code]
`secret.yaml` as in above comment

Output as expected:
[code]

[2019-02-27 10:37] 27149chen commented on #5361
It's strange, I do remember that I tried this way. but now it's working. Thank you for your help @hickeyma

[2019-02-27 10:37] #5361 closed

[2019-02-27 11:03] joergkiesewetter commented on #5362
Yes, the connection really works, again. Thank you very much for your help.

[2019-02-27 11:03] #5362 closed

[2019-02-27 11:53] luisdavim opened #5369 "Include app.kubernetes.io/version as part of the recommended lables"
If I create a new chart with `helm create my-chart` the following labels are included:
[code]

I think that `app.kubernetes.io/version: {{ .Chart.AppVersion }}` should also be included.

[2019-02-27 12:00] Keramblock opened #5370 "There is a typo here"
https://github.com/helm/helm/blob/268695813ba957821e53a784ac849aa3ca7f70a3/pkg/tiller/release_server.go#L198
released named -> release named

[2019-02-27 12:01] Keramblock commented on #5370
Also in the test:
https://github.com/helm/helm/blob/82d01cb3124906e97caceb967a09f2941d6a392d/pkg/tiller/release_update_test.go#L607

[2019-02-27 12:03] hickeyma commented on #5173
@SachinHg Any update on the issue?

[2019-02-27 13:59] hickeyma commented on #5369
@luisdavim I think that this should be added. Do you want to do the PR or will I?

[2019-02-27 14:01] hickeyma commented on #5370
Do you want to create a PR and fix it?

[2019-02-27 14:06] Keramblock commented on #5370
With pleasure =)

[2019-02-27 14:14] hickeyma commented on #5316
@grahamegee I have tested this and it seems to work as expected. Comments that follow show details of my investigation.

[2019-02-27 14:19] hickeyma commented on #5316
[code]

[2019-02-27 14:24] hickeyma commented on #5316
Output in `dry-run` as expected:
[code]

[2019-02-27 14:26] hickeyma commented on #5316
Output for install as expected:
[code]
and cluster afterwards:
[code]

[2019-02-27 14:44] luisdavim opened #5372 "Reduce template code duplication"
When creating a new helm chart with `helm create` the code used to set labels in the resource templates is repeated on each template, why not use a snippet in `_helpers.tpl`?
Something like this:
[code]

and then in the resource templates we'd just have:
[code]

[2019-02-27 14:56] hickeyma commented on #5372
Sounds like a good idea. If you are interested then in doing this then open a PR?

[2019-02-27 15:17] luisdavim commented on #5369
sure

[2019-02-27 15:23] luisdavim commented on #5369
I've created #5373

[2019-02-27 15:23] luisdavim commented on #5372
I can open a PR for this latter this week.

[2019-02-27 15:46] hickeyma commented on #5265
This should be supported in [v3 state management](https://github.com/helm/community/blob/master/helm-v3/003-state.md).

[2019-02-27 15:55] tylerstapler-wf commented on #5265
Thanks @hickeyma!

[2019-02-27 15:55] #5265 closed

[2019-02-27 16:02] grahamegee commented on #5316
That isn't the only difference, although admittedly from my post it's not obvious! In my values files `paths` and `hosts` are specified at the same level so that I don't have to rewrites the `paths` when I have multiple `hosts`.

[code]

So the in order to access the `paths` within the `hosts` loop I have to bring them into scope with:

[code]
And this is where it all goes wrong.

Now you can cert

[2019-02-27 16:18] adrian-gierakowski commented on #3612
The problem definitely manifests itself on macOS. None of the suggestions mentioned in this tread solve the issues. I've created a repo to demonstrate the problem and a workaround: https://github.com/adrian-gierakowski/helm-package-sha-test.

[2019-02-27 16:44] bacongobbler commented on #5119
So after going through with this during the 2.13 release, I do not think this is a workable solution to convey changes that occurred during a release. It's an intentional mess because commit messages are hard to determine what's a feature and what's a doc change, and by extension it makes it significantly more difficult for the core maintainer(s) cutting the release.

For example, here are a few c

[2019-02-27 18:48] #2039 closed

[2019-02-27 18:54] bacongobbler commented on #1809
Closing this as a wontfix as the effort and risk involved to rename the rendered resources without causing downtime for the application is incredibly high. Given the time investment and risks involved, it's probably not worth the time to consider implementing a vanity name change.

We'd still love to see someone pick this up as a plugin! If that plugin seems like a workable solution then we can co

[2019-02-27 18:54] #1809 closed

[2019-02-27 22:19] alexvicegrab commented on #4092
Proposed PR merged last year, closing this.

[2019-02-27 22:19] #4092 closed

[2019-02-28 06:52] gurunathsane commented on #4733
Still facing the same issue with ICP 3.10

[2019-02-28 07:24] micw commented on #5278
@hickeyma I tried to reproduce this in a minimal example.Iit turned out that the issue was not changing with the helm version, but it just occurs randomly. And in my 1st test, it only occured on the later version ;-)

I'm closing this one and create a new issue.

[2019-02-28 07:24] #5278 closed

[2019-02-28 07:33] micw opened #5375 "Deletion of CRD with crd-install and before-hook-creation randomly fails (race condition)?"
This is a follow-up to #5278 and is possibly related to #4925.

Output of `helm version`:

Client: &version.Version{SemVer:"v2.12.3", GitCommit:"eecf22f77df5f65c823aacd2dbd30ae6c65f186e", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.12.3", GitCommit:"eecf22f77df5f65c823aacd2dbd30ae6c65f186e", GitTreeState:"clean"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", M

[2019-02-28 07:39] bacongobbler commented on #5375
yeah, this appears to be a duplicate of #4925. Can you test https://github.com/helm/helm/pull/5112 and see if that fixes it for you?

[2019-02-28 07:40] micw commented on #5375
Here's a test chart that reproduces this error: https://github.com/micw/helm-hook-test
Just let run_test.sh run - it installs/removes the chart in a loop. On my cluster this fails randomly every 2nd or 3rd run.

[2019-02-28 07:42] micw commented on #5375
@bacongobbler I worked out a test that makes this more or less reproducible. Unfortunately I have no idea how I could verify if this PR solves this issue. How can I obtain a helm binary that contains this fix?

[2019-02-28 07:53] k20human commented on #4965
Hi,

Same problem as @CodeJjang with ConfigMap.
Did you find a solution ?

[2019-02-28 08:06] bacongobbler commented on #5375
You'll have to build from source following [the developer guide](https://helm.sh/docs/developers/). Let me know if you run into any issues.

[2019-02-28 09:11] thomasLeclaire opened #5376 "Helm website documentation not up to date"
On the main doc webpage https://helm.sh/docs/using_helm, it sounds like at least the first links are broken  :
https://helm.sh/docs/using_helm/#installing-helm
https://helm.sh/docs/using_helm/#quickstart

doc sounds to be correct on github side : https://github.com/helm/helm/blob/master/docs/using_helm.md

[2019-02-28 09:14] tobylo opened #5377 "--atomic upgrades fails due to timeout"
After upgrade to 2.13.0, both client and server, I instantly jumped to do an --atomic upgrade, but it fails due to timeout.

Our build agents (Azure DevOps Server agents) ran two parallell upgrades to two different clusters (from the same machine), they both tried creating tunnels using different ports, both failed.
Tried only doing one deploy to one cluster, same issue.

Tried removing --atomic,

[2019-02-28 09:19] tobylo commented on #5377
In what way is the tunnel opened, is it proxied via the kubectl client? Thinking about firewall policies which could be the case regarding the on-prem cluster. If that was the case, I would have assumed the AKS deploy to work though.

[2019-02-28 09:48] hickeyma commented on #5376
@thomasLeclaire Thanks for finding this. Can you raise an issue in the [web docs](https://github.com/helm/helm-www/issues) project? That is where the issue needs to be fixed.

[2019-02-28 09:51] #5376 closed

[2019-02-28 10:11] micw commented on #5375
I did it this way: https://gist.github.com/micw/30190083b3e5d7df8dc30bc1526bdb57 ;-)

[2019-02-28 10:24] hickeyma commented on #5376
@thomasLeclaire Maybe reference the issue your raise in the other project incase someone references this bug in the future.

[2019-02-28 10:43] micw commented on #5375
@bacongobbler Now I have a custom build new helm/tiller version. Unfortunately, the tiller version which is deployed it one from a docker image, not my local one...
I can see no good way how I can easily test this.

[2019-02-28 11:00] thomasLeclaire commented on #5376
new ticket here : https://github.com/helm/helm-www/issues/185

[2019-02-28 11:02] hickeyma commented on #5376
Great, thanks @thomasLeclaire

[2019-02-28 11:04] DJPumpkin opened #5378 "Broken links in helm.sh Documentation"
Hi, i tried to lookup the documentation for "TLS/SSL for helm and tiller", but when i go to the documentation on the webside, under "Using Helm", the only link that works in the submenu is "Using helm", all other links references to ID's that isn't on the page.
https://helm.sh/docs/using_helm/
https://helm.sh/docs/using_helm/#using-ssl-between-helm-and-tiller

[2019-02-28 11:07] micw commented on #5375
I have build and pushed a tiller docker image this way:
https://gist.github.com/micw/30190083b3e5d7df8dc30bc1526bdb57

Then I changed my k8s to use this tiller image (via kubectl patch):

[code]

Then I changed my test to  use the custom built helm binary.

The issue still exists:

[code]

[2019-02-28 11:09] hickeyma commented on #5316
@grahamegee Have changed around to flatten hosts and paths as you have done.
Comments that follow show it still works as expected.

[2019-02-28 11:12] hickeyma commented on #5316
[code]

[2019-02-28 11:15] hickeyma commented on #5316
Output in `dry-run` as expected:

[code]

[2019-02-28 11:16] hickeyma commented on #5316
Output for install as expected:
[code]

and cluster afterwards:

[code]

[2019-02-28 11:25] hickeyma commented on #5316
BTW, using quotes for port makes no difference (i.e. `path: {{ . | quote }}`) . I did change `backend` to b part of a path as per the standard ingress file. Not sure this would make any difference either.

[2019-02-28 11:27] hickeyma commented on #5378
@DJPumpkin This is a duplicate of #5376 . Can you close this and add any comments to
helm/helm-www#185 ?

[2019-02-28 11:30] #5378 closed

[2019-02-28 11:39] grahamegee commented on #5316
Ah thanks you've helped narrow this down! I've finally managed to reproduce the error using the template generated by `helm create`. It's actually not where I thought it was.

In my ingress template I use the following line at the top to ensure that users provide at least one path in the their values file.
[code]
Can you try adding that at the top of your ingress template and see if you get the sa

[2019-02-28 13:13] seb-pereira commented on #3279
Hi,

Sorry to comment late in the game, but I recently faced a use case that does not seem to be handled (unless I missed something) in current spec described in https://github.com/helm/helm/issues/3279#issuecomment-456004890).

**Use case**:
deployment is automated and considered successful when `helm install --wait [...] && helm test [...]` succeeds.
- if deployment ok: test pods should be remov

[2019-02-28 14:37] flynnduism commented on #5376
Reviewing the docs, is seems that the Using Helm section hasn't properly generated. Clearing cache and rebuilding the site has restored the proper content:

https://helm.sh/docs/using_helm/#quickstart
https://helm.sh/docs/using_helm/#installing-helm

Thanks for flagging this - it's resolved for now. I'll investigate why this occurred.

[2019-02-28 14:51] hickeyma commented on #5376
Thanks @flynnduism

[2019-02-28 15:05] hickeyma commented on #5155
PR #5379 opened

[2019-02-28 15:16] #5085 closed

[2019-02-28 15:56] hickeyma commented on #5205
If its ok, I'll work on this

[2019-02-28 16:02] bacongobbler commented on #5205
I'd hold off until the main refactoring for the action package is done for v3 (#5365) as much of the work will likely have to be re-done within the action package. Asides that, go for it!

[2019-02-28 16:15] hickeyma commented on #5205
ok sure, thanks @bacongobbler.

[2019-02-28 16:46] phroiland commented on #4295
Do you have an example dummy manifest? It's doing the same thing on Azure.

[2019-02-28 16:49] hickeyma commented on #5174
@brunohms It seems to be the response alright. Here is the message string I got:
```Error: render error in "newchart/templates/configmap.yaml": template: newchart/templates/configmap.yaml:7:12: executing "newchart/templates/configmap.yaml" at <required "A valid Va...>: error calling required: A valid Values.favoriteDrink is required!```

[2019-02-28 16:54] gintautassulskus commented on #4295
@phroiland , nothing at hand. First thing that comes to my mind is to deploy a dummy ConfigMap:

[code]

[2019-02-28 17:40] whereisaaron commented on #4543
We've pruned down to under 1,000 objects and it has made a big difference. Tiller memory appears mainly driven by the number of ConfigMaps/Secrets for a release; Per deployment RAM use has dropped from ~500MB+ to ~30-40MB, even less than I expected. And API server RAM use per deployment has dropped from ~1GB to ~500MB.

We don't have use for the release history, as the deployment history is all in

[2019-02-28 19:17] llamasoft commented on #4077
I just wanted to chime in and say that the lack of function documentation has been a huge hinderance to my ability to adopt Helm.  There are so many useful functions (e.g. `AsConfig`/`AsSecrets`) simply mentioned _in passing_ in the documentation examples but they're never fully elaborated upon.  It makes me wonder how many useful tools I have at my disposal that I simply don't know exist because

[2019-02-28 19:47] rdzimmer opened #5381 "StatefulSets deployed after Deployments/ReplicaSets causes deployment issues on tight hardware"
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
`IBM Cloud Private`

https://github.com/helm/helm/blob/release-2.10/pkg/tiller/kind_sorter.go#L29
[code]
I'm wondering if it makes sense to order StatefulSet higher up in the list.  By having it near the end, specifically after Pod/Deployment/ReplicaSet, I can run into randomly o

[2019-02-28 19:53] bacongobbler commented on #5381
I'm having a tough time trying to come up with the right label for this issue. Would you consider this to be a bug, a proposal to change the sort order? Maybe both? :smile:

[2019-03-01 02:16] EronWright commented on #3370
Design-wise, one option would be to report back the "pod termination message" in the event of failure.
https://kubernetes.io/docs/tasks/debug-application-cluster/determine-reason-pod-failure/

[2019-03-01 04:38] shilpakarthik opened #5384 "tiller pod crashes on k8s cluster"
Output of `helm version`:
 helm version
Client: &version.Version{SemVer:"v2.11.0", GitCommit:"2e55dbe1fdb5fdb96b75ff144a339489417b146b", GitTreeState:"clean"}

Output of `kubectl version`:
kubectl version
Client Version: version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.3", GitCommit:"435f92c719f279a3a67808c80521ea17d5715c66", GitTreeState:"clean", BuildDate:"2018-11-26T12:57:14Z", GoVersion:"

[2019-03-01 06:50] Vhab commented on #3480
Upgraded to 2.13.0 and this issue is still happening.

Kubectl v1.13.4
Helm 2.13.0
AKS 1.11.3
Using TLS

Using Azure Devops hosted agents

[code]

[2019-03-01 07:40] abhishekjiitr commented on #4697
Any updates on this?

[2019-03-01 11:06] arocki7 commented on #2918
I have the same issue with longer jobs.

[2019-03-01 12:56] arocki7 commented on #2918
If we use a load balancer, please check the timeout. You might want to increase the timeout value.

[2019-03-01 13:36] BobLamarley commented on #2918
I use a loadbalancer between 3 nodes but it's a kubernetes cluster set up and managed by DigitalOcean so i don't know how to check and modify this value, i will do some research :)
But i'm trying to deploy a little app with jobs relatively short, done via gitlab AutoDevOps, seems strange ...

[2019-03-01 14:14] arocki7 commented on #2918
@BobLamarley You might want to just check with DigitalOcean Support. They could modify this setting for you. Usually, The idle timeout setting will be around 60 seconds. So, you are likely to have a problem when you have to watch running for more than 60 seconds.

[2019-03-01 15:00] achmudas opened #5385 "If Helm test fails before deployment, helm chart is deployed anyway"
**Helm version**: v2.12.3
**Kubernetes version**: client - v1.11.1, server - v1.13.3

**Cloud Provider/Platform**: Minikube v0.34.1

I have a helm chart which creates 3 deployments and 3 services. One of the deployment needs to have an access to MongoDB. I created a test, which will run on *pre-install* hook:

    apiVersion: v1
    kind: Pod
    metadata:
      name: "{{ .Release.Name }}-database

[2019-03-01 16:49] adamreese opened #5386 "ref(pkg/getter): decouple `pkg/helm/environment.EnvSettings` from getter"

[2019-03-01 18:07] crubier commented on #2247
This is so much needed. To me this issue looks a lot like a bug.

[2019-03-01 19:47] SandyChapman opened #5387 "helm plugin install status code when plugin is already installed"
This is a general question about the behaviour of `helm plugin install` when a plugin has already been installed. Currently it returns an error code. This isn't intuitive to me. I think it'd be better if the status code from this is 0 and exiting successfully rather than throwing an error. Would the maintainers be open to changing this?

P.S.

Looks like it was added in this commit:

https://githu

[2019-03-01 19:57] scaratec opened #5388 "Does helm support something like profiles?"
I'm currently creating a chart with many subcharts. The application is suppose to be deploy in multiple environments like dev, staging and prod. Most of the values will be shared but still many (default) values depend on the environment.

My preferred way to organized this is to keep the environment specific values in separate files. The only way I know how I could realize this is to create contro

[2019-03-01 20:02] bacongobbler commented on #5387
I believe something like this would be considered a breaking change to the CLI, so it would not be accepted for Helm 2. Ref: https://github.com/helm/helm/blob/master/CONTRIBUTING.md#semantic-versioning

[2019-03-01 20:05] bacongobbler commented on #5387
That being said, this might be a nice and easy enhancement to be made for Helm 3.

[2019-03-01 20:59] walkafwalka commented on #4573
@bacongobbler The document for helm lint --strict is "fail on lint warnings". However, running helm lint does not cause the warning for undefined values.

I think either the documentation is misleading or the undefined value warning should be preceded by [WARN] instead of error because helm lint already fails on errors.

[2019-03-01 23:53] mtltechtemp opened #5389 "Authentication problem when installing something"
Hi,

The command fails due to credentials problems, but when you test with `kubectl get nodes` everything looks fine.

Output of `helm install`
[code]
Output of `kubectl get nodes`
[code]
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.):  `Google Cloud`

I've tried to reset it several times with `rm -rf ~/.helm && helm init --se

[2019-03-02 01:35] jlegrone commented on #5385
Hi @achmudas, this is expected behavior. Helm test annotations are typically not used alongside other helm hooks, and are invoked outside of the release lifecycle with `helm test`.

If you would like to wait for some process to complete as part of a pre-install hook, this is possible if you use a `Job` resource instead of a `Pod`.

Reference: https://github.com/helm/helm/blob/33589472cf02d8d10e96e

[2019-03-02 01:36] jlegrone commented on #5385
Hi @achmudas! This is expected behavior. Helm test annotations are typically not used alongside other helm hooks, and are invoked outside of the release lifecycle with `helm test`.

If you would like to wait for some process to complete as part of a pre-install hook, this is possible if you use a `Job` resource instead of a `Pod`.

Reference: https://github.com/helm/helm/blob/33589472cf02d8d10e96e

[2019-03-02 02:19] jlegrone commented on #5377
@tobylo do you have a publicly available chart which can be used to reproduce this issue?

It's possible that you're seeing a difference in behavior after adding `--atomic` because doing so also sets `--wait` to true. To test this, please see if you get the same behavior when removing the `atomic` flag and adding `wait`. If this errors in the same way, then setting `--timeout` to something higher

[2019-03-02 02:47] jlegrone commented on #5388
@scaratec helm supports passing in multiple values files. Taken from https://helm.sh/docs/helm/#helm-install:

Remember that whatever is in the chart's top level `values.yaml` will be the default set of values and doesn't need to be passed in explicitly, so you may be able to just keep common configuration there and maintain a single overrides file for each target environment. For example:

[code]

[2019-03-02 03:32] scaratec commented on #5388
Thank you very much!! This perfectly solved my issue!

[2019-03-02 03:32] #5388 closed

[2019-03-02 16:20] asergisvt commented on #4573
@bacongobbler it actually fails for me. Solution suggested by @bacongobbler works

[2019-03-02 22:10] bymafmaf commented on #3282
+1 `post-ready` would be great. Basically checking all the pods' readiness or giving a custom readiness check on the chart would save a lot of time. Right now, I have to have a custom function to wait everything to be ready and then create a job.

[2019-03-02 23:04] walkafwalka commented on #3353
@bacongobbler What do you think about https://github.com/helm/helm/issues/3353#issuecomment-385222233?

I do not see how there would be downtime or data loss if we destroy and recreate the initial release if the initial release fails.

[2019-03-03 00:18] walkafwalka commented on #4573
@asergisvt You see the same error using `helm lint` without `--strict`?

[2019-03-03 07:30] a-barbieri commented on #3304
I had the same issue but `kubectl get events -w` wasn't really helping me out.

To find out what the issue was I looked into the tiller _deployment_ found out that no _replica_ was created and debugged the _replicaset_.

The iter was the following:

### 1. Find Tiller _deployment_

[code]

[code]

There it is. I installed Tiller with `helm init --service-account tiller --tiller-namespace my-namesp

[2019-03-03 09:56] iftachsc commented on #3141
+1. it will really help us in CI for stopping pasing and upgarding yamls of values before packing.

[2019-03-03 13:01] mtltechtemp commented on #5389
Ping @technosophos

[2019-03-03 15:18] a-barbieri commented on #4685
I came across @psychemedia issue as well.

After running `kubectl -n kube-system describe deployment tiller-deploy` I had the same output. And if you read carefully [@psychemedia output](
https://github.com/helm/helm/issues/4685#issuecomment-424864288) it says

[code]

The important bit is `ReplicaFailure   True    FailedCreate` and the following `NewReplicaSet:     tiller-deploy-55bfddb486 (0/1 r

[2019-03-03 19:47] simpers commented on #3480
Can confirm that this is still an issue in 2.13

    $ helm install appscode/kubedb-catalog --name kubedb-catalog --version 0.10.0 --namespace kube-system
    NAME:   kubedb-catalog
    E0303 20:13:56.088186   21260 portforward.go:363] error copying from remote stream to local connection: readfrom tcp4 127.0.0.1:33299->127.0.0.1:44514: write tcp4 127.0.0.1:33299->127.0.0.1:44514: write: broken pip

[2019-03-03 22:59] walkafwalka commented on #3353
I implemented this in our build:
[code]

[2019-03-03 23:14] therealgambo commented on #4976
Yes, thats my understanding as well. It will definitely remove any confusion about the true configuration that was deployed.

[2019-03-04 03:53] whereisaaron commented on #3353
With helm currently, you don't know which helm command+options combination to use without inspecting the current state. And for a given helm command you don't know what you are going to get, because it depends on what the current state is. That's not really the declarative desired state dream ☁️ 💤 😄

In helm 3 we can potentially deprecate `install` / `upgrade` / `--replace` / `--upgrade` / `--forc

[2019-03-04 08:36] achmudas commented on #5385
Hi @jlegrone! Hm... Not the best approach, because need to add timeout for a job, otherwise it will run until will succeed. Anyway, thank you for the answer.

[2019-03-04 08:36] #5385 closed

[2019-03-04 09:18] bacongobbler commented on #5389
How is your cluster set up? What authentication method does kubectl use to authenticate against the API server?

[2019-03-04 09:20] bacongobbler commented on #5389
To work around this, you could set up a `kubectl port-forward` to tiller, and use that alongside HELM_HOST. Under the covers, that's how Helm initiates a connection to tiller.

[2019-03-04 09:32] mlushpenko commented on #2914
Also for me:
[code]

but at the same time, helm reports:
[code]

[code]

[2019-03-04 09:49] mlushpenko commented on #2914
I tried deleting manually pdb resource and deployment itself, but then got :
[code]
what worked for me is rolling back to the latest successful deployment and then trying deployment again. So I have suspicion helm in some way couldn't handle history of failed deployments as on fail it was rolling back to another failed release (I was using `--atomic` option).

Perhaps `--atomic` should rollback to

[2019-03-04 10:12] papanito opened #5393 "Helm install `timed out waiting for the condition` and reports release "Failed""
## Problem Description

Installing spinnaker with helm results in `Error: timed out waiting for the condition`and then the deployment is reported as `FAILED`

## Reproduction steps

1. Install chart

[code]
1. Check `helm ls` reports the deployment as `FAILED`

[code]

1. `kubectl get pods` reports the pods running

[code]

## Version Info
Output of `helm version`:

[code]

Output of `kubectl vers

[2019-03-04 11:13] dkatsanikakis commented on #4080
Hi everyone

I faced the same issue on MacOS X.

Adding `--debug` helped me trace the problem which as file permissions/missing folder:
`Error: open /Users/user/.helm/cache/archive/prometheus-8.8.0.tgz: permission denied`

I created the necessary folders and then it work. I also executed with sudo which also did the trick. Maybe this is not the case however i am justing adding here in case someone

[2019-03-04 15:36] jlegrone commented on #4826
@madprogrammer does this answer your original question?

[2019-03-04 15:57] madprogrammer commented on #4826
Yes, thanks! Actually I already did it using the mentioned annotation.

[2019-03-04 15:57] #4826 closed

[2019-03-04 16:22] jlegrone opened #5394 "Resource delete policy differs between upgrades and deletes"
As of https://github.com/helm/helm/pull/5225, [resource policy annotations](https://github.com/helm/helm/blob/33589472cf02d8d10e96e06085d95791c0611a75/docs/charts_tips_and_tricks.md#tell-tiller-not-to-delete-a-resource) are respected during upgrades. The logic for testing whether a resource should be deleted is implemented separately in the delete and upgrade cases, however, and leads to differing

[2019-03-04 16:23] mtltechtemp commented on #5389
@bacongobbler I'm using the default authentication method.
I'm gonna try your workaround thanks.

[2019-03-04 16:28] bacongobbler commented on #5393
Moving this issue to helm/charts as this seems to be a question specific towards an issue with the spinnaker chart.

[2019-03-04 16:31] bacongobbler commented on #5389
[code]

And in another terminal:

[code]

[2019-03-04 16:39] bacongobbler commented on #5384
What's the current state of the cluster? It looks like the kubelet on the node is failing based on the logs here.

[2019-03-04 16:44] mtltechtemp commented on #5389
@bacongobbler I think i'm doing something wrong...
[code]

[code]
What did I miss?

[2019-03-04 16:53] bacongobbler commented on #5389
Looks like the `tiller` service account might not be able to access the Kubernetes API. Can you please make sure that the service account has the right permissions to access the API server?

[2019-03-04 16:59] mtltechtemp commented on #5389
@bacongobbler There's no `tiller` in my [IAM](https://console.cloud.google.com/project/_/iam-admin/iam).
Should i make one ?

[2019-03-04 17:50] bacongobbler commented on #5242
Closing this as a good plugin proposal for the community to write. We can re-open this discussion if there's more interest from the community, but I haven't heard of any compelling use cases at this time where it'd be useful to consider making it part of the core. Thanks!

[2019-03-04 17:50] #5242 closed

[2019-03-04 17:51] #2878 closed

[2019-03-04 17:51] #3309 closed

[2019-03-04 17:54] #3663 closed

[2019-03-04 17:55] maciej-sawicki-codilime commented on #2918
@arocki7 it would better if it was fixed in Tiller. Long long polling may not be the best idea.

[2019-03-04 17:56] bacongobbler commented on #3663
Closing this issue as too generic to reasonably close out. If there are particular sections of the codebase that should be refactored into a package, we'd love a PR in the dev-v3 branch.

See also #5365 for some ongoing efforts in the Helm 3 dev branch.

[2019-03-04 18:01] bacongobbler commented on #3081
I doesn't look like this ticket has been touched in nearly a year, so it doesn't seem like there's interest in someone contributing a patch. I'm going to close this for now, but please feel free to re-open with a patch. Thanks.

[2019-03-04 18:01] #3081 closed

[2019-03-04 18:12] bacongobbler commented on #4865
gRPC has been removed in Helm 3.

[2019-03-04 18:12] #4865 closed

[2019-03-04 19:49] bacongobbler commented on #3254
Because the [Application CRD](https://github.com/kubernetes-sigs/application) is just another Kubernetes resource type, chart developers can utilize them with no further changes required to Helm or the template engine. If the Application CRD eventually becomes an interoperable standard for describing apps deployed to Kubernetes, we can propose a change to `helm create` to write one out for new cha

[2019-03-04 19:49] #3254 closed

[2019-03-04 19:55] bacongobbler commented on #2269
Currently in Helm 3, the user [must provide a name or provide `--generate-name`](https://github.com/helm/helm/blob/ba622c69419aed463335caeeb63db9d8b0229a64/cmd/helm/install.go#L199). If neither has been done, then it errors out.

Closing as resolved.

[2019-03-04 19:55] #2269 closed

[2019-03-04 20:46] kfox1111 commented on #4490
I just bumped into this issue too. Forcing a subchart to become aware of all the names the parent could embed it as, is not a scalable solution. I think this is clearly a bug.

[2019-03-04 20:51] bacongobbler commented on #5377
I had a look at #5183 and have no idea why the wait flag had to be enabled in the first place. I'm going to PR a change to the atomic flag to remove that behaviour. Users can opt into the `--wait` flag with `helm upgrade --atomic --wait` if they so choose, but there's no reason why it's required for the `--atomic` flag to work.

[2019-03-04 21:12] bacongobbler commented on #4490
Helm's dependency management solution only handles subchart dependencies one level deep. There is the chart to be installed, and then there are subcharts; there's no middleground. All subcharts are all treated at the same level, so there's no notion of "subchart of subchart" handling with regards to value processing.

This was intended by design to prevent the same subchart being included twice in

[2019-03-04 21:30] kfox1111 commented on #4490
Values has supported subchart of subchart all along. That values does it, but conditionals use values, but not respect nesting is odd/unexpected.

I was involved in the design of conditionals early on and I don't remember any discussions on this design choice.

I think the assumption that postgresql should not be included twice is also not good. I could very well try to install say, keycloak and s

[2019-03-04 21:51] bacongobbler opened #5396 "Helm 3: skip any template generated in a library chart"
If a library chart defines any templates, those will still be rendered as part of the release. When a chart is declared as a library chart, any templates it defines should be skipped.

Originally suggested by @prydonius in https://github.com/helm/helm/issues/5085#issuecomment-465276189. Opening the ticket here to track the issue/discussion.

[2019-03-04 22:29] texasdave2 commented on #4574
Wanted to thank Andrew for the clue that tipped me into solving this on my system.

Just like him, everything worked fine until it didn't...   Just wanted to add to this and explain what solved the problem for me.  I was making a bunch of timestamped backups of a values.yaml file each time I did a helm upgrade to the component I was modifying.  After awhile I had dozens of these timestamped backup

[2019-03-04 23:18] bacongobbler commented on #5157
Leaving this open to track the work to set this value to a sane default for Helm 3.

[2019-03-04 23:35] bacongobbler opened #5397 "Incorporate changes made in Helm 3 into the documentation"
Many features have been introduced into Helm 3, but the documentation has been lagging a bit behind. We should take this opportunity to re-write the documentation to capture the new architecture and to provide a landing spot for contributors writing new features/breaking changes in Helm 3.

[2019-03-04 23:37] bacongobbler opened #5398 "Docs: write Helm 2 -> Helm 3 migration docs"
We should have documentation available that provides a smooth migration path for Helm 2 users to familiarize what's been changed in Helm 3.

CC'ing @bridgetkromhout as I know you mentioned this to me during a call about what we should do with the docs.

related: #5397

Partial-Closes: #5892

[2019-03-04 23:43] bacongobbler commented on #3290
I believe this is fixed with Go 1.12 choosing to change the behaviour of a `panic` when rendering a text/template. #5382 fixes this for Helm 3, but it'd be an easy patch for someone to port for Helm 2.

[2019-03-04 23:43] bacongobbler commented on #3290
ref: https://golang.org/doc/go1.12#text/template

[2019-03-05 03:18] shilpakarthik commented on #5384
There was some route issue in nodes due to which this issue was happening .
we can close this issue .

[2019-03-05 03:18] #5384 closed

[2019-03-05 07:36] romil-punetha commented on #1979
So what is the final outcome ? That we cannot use helm and will have to switch to helm3?

[2019-03-05 09:58] arocki7 commented on #2918
@maciej-sawicki-codilime It has been fixed in Kubernetes v1.12.

https://github.com/kubernetes/kubernetes/pull/67817

[2019-03-05 10:52] hickeyma commented on #5396
@bacongobbler I can help with this if thats ok?

[2019-03-05 10:59] hickeyma commented on #5397
Some documentation has been updated during features and also under the following issues:
#5083, #4788

[2019-03-05 11:44] huang-jy opened #5399 "Helm breaks when trying to install a package with a version number that has a dash ('-')"
Output of `helm version`:

[code]

Output of `kubectl version`:

[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

GKE

I encountered this while using a self-hosted repo (it's basically a httpd pod on GKE).

If you create a helm package that has a version number that has a dash (for example, 1.0.0-1) which is permitted by the semver convention (e.g. https://semver.org/#spec-item-9) , and

[2019-03-05 12:26] hickeyma commented on #5396
This is the current workflow:
- If library chart and templates not defined, it will not be rendered as part of a release [backwards compatible]
- If library chart and `type: library` it will not be rendered as part of a release
- If library chart, `type: library` and templates defined, it will not be rendered as part of a release
- Regular chart, `type: library` and templates defined, it will not

[2019-03-05 12:28] hickeyma commented on #5396
@bacongobbler do you mean this: "If a library chart defines any templates, those will not be rendered as part of the release. "?

[2019-03-05 15:14] michelleN commented on #1979
@matthewerwin please open a separate issue for your proposal. thank you.

[2019-03-05 15:38] iczman commented on #5137
@katsew Could you share your pre-delete hook? I'm having a hard time figuring out how to delete my PVC. I'm thinking of doing something like
[code]

But it runs inside a container that is not in the same context as helm (or tiller in this case), so I don't think it'll work.

[2019-03-05 16:29] bacongobbler commented on #5396
That sentence was written in the current context, so that wording was intentional but I can understand the confusion.

Did you mean to link to something else? #5086 refers to `helm lint --version`.

Sounds good but just to clarify: we still want to render the library chart so the helper functions are available for other charts. The templates the chart defines should not be installed, however.

[2019-03-05 16:55] rahulsingh303 commented on #1579
In my case I was using range and in Values.yaml file values were not defined correctly:
**Incorrect way:**
[code]
**Right way**:
[code]
Notice a small hyphen (-) before varA .

-Rahul

[2019-03-05 17:06] hickeyma commented on #5396
yes, #5085. Fixed comment above

[2019-03-05 17:32] bacongobbler commented on #5377
@tobylo if you wouldn't mind testing #5395 and verify if that works for you, that'd be great. :)

[2019-03-05 19:20] bacongobbler commented on #5397
Sections that need updating:

- [ ] All information pertaining to Chart Repositories
- [ ] [Developer Guide: "Structure of the Code"](https://github.com/helm/helm/blob/dev-v3/docs/developers.md#structure-of-the-code) needs updating
- [ ] [The History of the Project](https://github.com/helm/helm/blob/dev-v3/docs/history.md#the-history-of-the-project) should include information about Helm 2
- [ ] [R

[2019-03-05 19:22] bacongobbler commented on #5397
@jdolitsky would you be interested in taking on the task of updating the documentation surrounding Chart Repositories and how Helm interacts with OCI registries?

[2019-03-05 19:32] rdzimmer commented on #5381
@bacongobbler Proposal works for me!  It's working as designed today, could potentially be enhanced though in my opinion.

[2019-03-05 20:39] bacongobbler commented on #4008
I believe this has been fixed in https://github.com/helm/helm/pull/4850 which is available as of Helm 2.13.0. Closing for now, but please re-open if I'm mistaken. Thanks!

[2019-03-05 20:39] #4008 closed

[2019-03-05 20:42] bacongobbler commented on #5399
Version numbers with a hyphen in the string are considered pre-release versions. We decided to not install pre-releases unless the `--devel` flag is provided.

Closing as a duplicate of https://github.com/helm/helm/issues/2797. Thanks!

[2019-03-05 20:42] #5399 closed

[2019-03-05 21:20] marckhouzam commented on #5046
@bacongobbler I believe the problem is on MacOS.  The fix from #5072 uses

`sed -e 's/aliashash\["\(\w\+\)"\]/aliashash[\1]/g'`

but `\w` is extended regex which does not seem to be supported with the sed on MacOS.

On my mac
[code]
Notice that the quotes around `del` are not removed.
But on alpine linux, for example it works:
[code]
In trying to keep the same goal of matching one or more characte

[2019-03-05 21:22] kfox1111 opened #5405 "helm init --listen flag"
Due to the security ramifications of tiller, I'd like to do the same trick that the magic-namespace chart does to secure things. Only allow the tiller pod to be accessed directly via port forward by binding it only to 127.0.0.1. Then RBAC can be used to restrict proxying to the pod.

Today you can edit the deployment of helm init with -o json but the --wait flag doesn't work with that model. So th

[2019-03-05 21:27] prydonius commented on #5396
Yeah, I believe this is the case currently not covered, so a PR to add this behaviour would be great!

[2019-03-05 21:29] popkevin commented on #5296
+1 this error is cryptic and misleading.

[2019-03-05 21:46] bacongobbler commented on #5046
thanks for the write-up @marckhouzam! I pinged someone from #5072 that may be able to verify the fix. If anyone else can try #5406 as well, that would be great. Again, none of the core maintainers use bash completion so we're relying on the community to maintain it. Thanks!

[2019-03-05 21:48] jdolitsky commented on #5397
@bacongobbler yep, will try to get that out this week!

[2019-03-05 22:41] tobylo commented on #5377
@bacongobbler just compiled it, will try it out tomorrow and let you know!

[2019-03-05 23:05] #5046 closed

[2019-03-05 23:05] bacongobbler commented on #5046
fixed via #5406, hopefully for real this time! :smile:

[2019-03-05 23:24] phroiland commented on #2947
remove **_--wait_**

I went through so many troubleshooting efforts related to **_UPGRADE FAILS_** or **_release already exists_** on Azure Pipelines, that all it took was to remove/uncheck **_wait_**

No force, no wait, no problems.

[2019-03-06 00:17] willejs commented on #3480
I think you need to be running tiller 2.13 and helm 2.13 for tls to work correctly.

[2019-03-06 00:32] marckhouzam commented on #5046
Out of curiosity, how come the maintainers don't use bash completion? I guess you don't actually use helm manually that much?

[2019-03-06 00:49] bacongobbler commented on #5046
I simply find bash autocompletion gets in my way so I don't use it. Nothing much else to it. :man_shrugging:

Generally speaking, I'm testing and/or using several different development builds of Helm any given day, so I'd have to keep switching between different autocompletion scripts for varying versions of Helm. Again, just getting in the way of my day-to-day workflow.

[2019-03-06 01:06] bacongobbler commented on #3480
@willejs, @simpers mentioned he was using Helm 2.13. :P

@Vhab it's interesting that the error message changes based on the OS. That first error might actually confirm some of the reports here that the connection is being terminated somewhere between the client, the API server, the kubelet and tiller, but it's not identifying where (or what) is terminating the connection unfortunately.

Perhaps fi

[2019-03-06 01:09] bacongobbler commented on #3480
@simpers based on your error report:

If you want to try figuring out who's listening on ports 33299 and 44514, that might be helpful tpo diagnose where the connection's getting closed off.

[2019-03-06 01:14] bacongobbler commented on #2947
@phroiland how does `--wait` relate to the original issue? The original report is talking about how a chart declaring the same resource twice can cause an error. It's the same error, but a different diagnosis (and therefore different solution). `--wait` will not help here.

[2019-03-06 01:18] bacongobbler commented on #5405
Given that tiller has been removed in Helm 3, the core maintainers will not likely contribute a patch for this. However, I can see how this may be useful so if you want to contribute a path, feel free!

[2019-03-06 02:29] willejs commented on #3480
I think i am actually wrong and this is still a bug. Long story, mostly with me recompiling helm-diff with 2.13 to fix it, but it doesn't. I suspect this is upstream though?

[2019-03-06 05:02] AndresPineros commented on #1054
Ahhh classic, reaching a Golang Template limit.

- Me: Hmmm, that's a great idea to reuse some templates here and there, can I do this Go Templates?
- Go Templates: NOPE

- Oh, alright, so maybe I can try this approach then, right?
- NOPE

- Well, I know it is ugly but maybe if I...
- NOPE NOPE, stop trying, NOOOOOPE.

[2019-03-06 05:11] bacongobbler commented on #3480
Thank you, I forgot to re-open this. Yes, right now signs are pointing towards a bug upstream affecting Helm.

On the bright side, this issue should not be a problem for Helm 3 given that we've removed tiller and interact directly with the API server. :)

[2019-03-06 05:19] bacongobbler commented on #1054
I hate to be a bum but in the interest of preventing needless notifications to community members watching this issue, kindly keep the conversation on-topic. Unless there's constructive criticism that contributes to the discussion, please keep that conversation offline. Thanks!

[2019-03-06 06:05] zhanglijingisme opened #5407 "Values file set to "{}" cannot overwrite"
Hi,
We have a helm chart with following values.yaml , like this
[code]
Helm chart template is
[code]

Now we want to overwrite this "alerts" with an empty object. We wrote a values-new.yaml
[code]
and do this
`# helm install mychart -f values-new.yaml`

However, it failed to overwrite. After helm install, default values still exist - not replaced by {}

Output of `helm version`: 2.9.1 / 2.11.0
Out

[2019-03-06 07:28] bacongobbler commented on #5407
Hey there, can you please try a newer version of helm first to verify it hasn't already been fixed in a later version? Please verify if this issue still exists with Helm 2.13.0. Thanks.

[2019-03-06 07:30] huang-jy commented on #5399
Thanks. This does make sense but can I propose a few changes?

1. When `helm lint`ing, the command should report back saying something along the lines of "this looks like a pre-release version number, you'll need to use `--devel` to install it"
2. When doing `helm search`, only present the pre-release versions if `--devel` is set. *Or* present those ones differently (e.g. with a Asterisk or with a

[2019-03-06 08:13] iczman opened #5408 "tiller flags removed in 2.13.0 are not called out as breaking changes"
There are flags added and removed in 2.13.0 compared to 2.12.3. For example, `-alsologtostderr` is gone in 2.13.0.

Consider calling out flags removed as breaking changes in the changelog? I hit this bug when I upgraded my CI and it can no longer call tiller using `-alsologtostderr`.

**tiller 2.12.3**
[code]

**tiller 2.13.0**
[code]

Output of `helm version`:

Output of `kubectl version`:

Cloud

[2019-03-06 08:20] Vhab commented on #3480
It definitely feels like that.

Bit too busy to poke at it and try to get some more diagnostics at the moment, but did some googling around for possibly related issues.
https://github.com/kubernetes/kubernetes/issues/74551
https://github.com/pachyderm/pachyderm/issues/2815
These have similar symptoms.

On a side note, would there be a way to turn these errors into warnings instead? As effectively

[2019-03-06 11:42] Jdavid7x opened #5409 "Helm Init without any repo"
Helm version: 2.12.3

We want to execute helm init in client-only without the stable or another repo.
I saw the option -dry-run but this doesn't create the repository structure and if I try the helm fetch this raise an error because it can't found the repository structure.

[code]

We are removing the repo stable just after execute helm init. I would propose to add some option for initialize the r

[2019-03-06 12:02] kivagant-ba commented on #4594
@bacongobbler , @mattfarina , it's been a while since I opened this issue but now I'm working with Helm again and I have absolutely the same issue and, unfortunately, your advices can't help me. :(

[code]

[code]

[2019-03-06 12:03] kivagant-ba commented on #5150
same problem
https://github.com/helm/helm/issues/4594

[2019-03-06 12:14] kivagant-ba commented on #5150
Workaround: don't change Chart version but change only appVersion.

[code]

Of course with this approach it isn't possible to use a registry for charts, so it is not the real solution.

[2019-03-06 13:39] guizmaii commented on #5408
Not only tiller but also helm commands options.

My `helm upgrade -i` doesn't work anymore:

[code]

[2019-03-06 13:53] guizmaii opened #5410 "`helm upgrade -i` generates `Error: UPGRADE FAILED: "..." has no deployed releases` error"
My `helm upgrade -i` doesn't work anymore:

[code]

Output of `helm version`:

[code]

Output of `kubectl version`:

[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): AWS EKS

[2019-03-06 13:59] hickeyma commented on #5409
You could specify your own stable repo instead with this flag: `--stable-repo-url <path_to_your_repo>`

[helm init doc](https://helm.sh/docs/helm/#helm-init) for more details

[2019-03-06 14:17] hickeyma commented on #5410
@guizmaii Not able to reproduce with the latest from master.

Could you upgrade Tiller so that your server version is also 1.13? Then, can you retest to see if there is still an issue with the `-i` flag.

[2019-03-06 15:45] Alien2150 commented on #4699
Hey guys, we also run into the issue and tried to debug that. But i was only able to track it down to wait.go class. I assume it might be a race-condition.

So when checking those lines: https://github.com/helm/helm/blob/v2.13.0/pkg/kube/wait.go#L50 what would actually happen if the deployment request was sent but its already querying for those new pods? Maybe a small ramp-up wait (or even better

[2019-03-06 16:01] michelleN commented on #2572
@glb thanks. Did you run that before a `helm repo update` or after?
@danielmbarlow What do you think the error should be in order to be more helpful?

[2019-03-06 16:08] danielmbarlow commented on #2572
I suspect that question was intended for @danielnorberg, @michelleN

[2019-03-06 16:14] bacongobbler commented on #5410
No regression. `helm upgrade -i` still exists:

[code]

What is the output of `helm history stack_name`? It's more likely that you're in a state where all of your existing releases are in a failed state, so there's no release which we can cleanly upgrade from.

[2019-03-06 16:18] bacongobbler commented on #5408
@guizmaii let's follow up in #5410. That's not a regression :)

Good catch, @iczman. It doesn't look like we ever explicitly added that flag to Tiller, so it was a transitive dependency that made the breaking change.

Here's the flags in 2.12.3: https://github.com/helm/helm/blob/eecf22f77df5f65c823aacd2dbd30ae6c65f186e/cmd/tiller/tiller.go#L77-L87

and the same flags in 2.13.0: https://github.com/

[2019-03-06 17:09] guizmaii commented on #5410
I'm not anymore able to reproduce the problem. As you said @bacongobbler, it seems that it came from a failed state.

Thanks for you help.

[2019-03-06 17:09] #5410 closed

[2019-03-06 17:27] #5155 closed

[2019-03-06 17:30] bacongobbler commented on #5408
From your output, it also looks like the `--log_backtrace_at`, `--log_dir`, `--stderrthreshold` and `--vmodule` flag went poof as well.

[2019-03-06 17:46] Keramblock commented on #5370
Still cant run unittests locally to test if my work is correct, can you please provide me with specific command? I used make test, but only linter started

[2019-03-06 17:54] reneklacan commented on #1193
This is a process I use to recover from this problem (so far it has worked every time without any incident... but be careful anyway):

1. Run `helm list` and find out latest revision for affected chart

[code]
2. Go from there and find latest revision with `DEPLOYED` state
[code]
3. Once you find last DEPLOYED revision, change its state from `DEPLOYED` to `SUPERSEDED` and save the file
4. Try to d

[2019-03-06 18:23] bacongobbler commented on #5370
`make test` should run everything. If the linter failed then it stops there. If you want to run the unit tests specifically, use `make test-unit`.

[2019-03-06 18:37] jlegrone commented on #5408
Looks like these may be coming from https://godoc.org/github.com/golang/glog, which was removed in https://github.com/helm/helm/pull/5033.

[2019-03-06 19:23] bacongobbler commented on #5408
Thanks @jlegrone. That appears to be it.

Please see #5411 for the fix.

[2019-03-06 21:41] InAnimaTe commented on #4573
Nope, but then you miss things. Running without `--strict` really kind of defeats the purpose, especially for a CI/CD pipeline.

[2019-03-07 01:39] #5408 closed

[2019-03-07 01:57] salamando commented on #5367
Hi ，
Is there anyone have the same confusion with me?

[2019-03-07 02:02] bacongobbler commented on #5367
Is the [documentation](https://helm.sh/docs/developing_charts/#hook-resources-are-not-managed-with-corresponding-releases) insufficient to answer your question? I'm not sure what you are trying to achieve. Perhaps if you had a demonstration that clearly explained how you are trying to delete the hook using a pre-delete hook, that would help us better understand the problem you are attempting to so

[2019-03-07 02:27] walkafwalka opened #5417 "Checking for all the values in a template files are defined fails when using helm lint --strict"
It took a bit of digging but there are multiple tickets of users reporting `[ERROR] templates/: render error in ... <.Values.KeyName>: map has no entry for key "KeyName"` when using `helm lint --strict`. It is solved by setting a default value type for empty default values such as `[]`, `{}` or `""`.

It seems that this check was supposed to be disabled based on https://github.com/helm/helm/issues

[2019-03-07 02:48] markmssd commented on #1957
I've used @tomstockton to write a bash file that will follow the logs as it's testing:
test.sh
[code]

[2019-03-07 08:37] weihxa commented on #2798
Thank you very much. That solved the big problem

[2019-03-07 08:37] weihxa commented on #2798
Thank you very much. That solved the big problem

[2019-03-07 10:12] asergisvt commented on #4573
@walkafwalka now I see your point. No. I always do --strict

[2019-03-07 11:12] asaintsever commented on #5118
Hi there.
I can repro this issue using helm 2.12.3.

Define one post-install hook where you generate a secret.
Define one deployment manifest where you mount the secret (created by the post-install hook)

Then run `helm install <your chart> --debug --wait` and you will notice that:

- the deployment is loaded into the cluster but not ready as it is waiting for the secret to be here
- helm waits...

[2019-03-07 13:06] irvifa commented on #4044
@tweibley Is passing the `TILLER_RELEASE_MAX` will only affect one namespace if we're using `RBAC` or will it affect the whole cluster?

[2019-03-07 14:52] davidkarlsen commented on #5090
@michelleN Have you had a chance to look at this?

[2019-03-07 15:51] d-baranowski commented on #2684
We're seeing a similar issue.

Steps:
1. Delete the lock file
2. helm dep update
3. helm upgrade --install
4. Delete the chart from the charts directory
5. helm update --install again

Expected behaviour:
Deployment fails due to missing dependency

Actual behaviour:
Deployment happens and uses old dependency from historic deployment that was not present in the charts directory.

What is the logic

[2019-03-07 17:12] joost commented on #4404
@sebglon did you create a Akeneo (PIM) chart? Is this something you can share?

[2019-03-07 17:16] #4404 closed

[2019-03-07 18:32] bacongobbler commented on #2998
Thanks for the ping @chriscone.

for reference, here is the PR (had to go looking to find it again): https://github.com/helm/helm/pull/5038

The PR introduces code from dep, which is BSD-licensed code which is okay to re-license it as Apache 2 code. The problem at hand, though, is that we're unsure if copying code from `internal/fs` follows the DCO.

I can't recall who was looking into this, but i

[2019-03-07 20:54] thelander commented on #4433
Hello, did you ever manage to get this to work? I'm trying to do the same on Scaleway. But no luck.

[2019-03-07 21:00] #3150 closed

[2019-03-07 21:00] #4713 closed

[2019-03-07 21:00] #5394 closed

[2019-03-07 21:02] bacongobbler commented on #4433
@thelander what issues are you running into?

[2019-03-07 21:06] thelander commented on #4433
@bacongobbler I get `exec user process caused "exec format error"` errors when I try to deploy kubernetes-dashboard, for example. Other deployments such as WordPress will simply get stuck at `Pending`. I'm new to Kubernetes, so I could be doing something terribly wrong.

[2019-03-07 21:23] bacongobbler commented on #4433
Usually that means the image backing kubernetes-dashboard was compiled to run on amd64 architectures. it's the same issue @lion24 was having with the Tiller docker image: you'll likely have to modify most charts to use images that were compiled against ARM.

I'm going to close this issue as the original question OP brought up about how to compile Tiller for ARM architectures has been answered and

[2019-03-07 21:23] #4433 closed

[2019-03-07 22:16] jlegrone commented on #5407
@zhanglijingisme I've had luck in the past solving this by doing something like

[code]

It's _not_ pretty, but I believe this is necessary if your chart has defaults already specified in `values.yaml`.

[2019-03-07 22:52] bacongobbler commented on #5407
Ah yeah, I think @jlegrone identified the correct behaviour. `{}` is treated differently than `null` when merging values together.

See also https://helm.sh/docs/chart_template_guide/#deleting-a-default-key

This question was also answered in #3891 (and fixed in #3912) so please make sure you're on a more recent version of Helm. That fix made it into Helm 2.10.0, so you'll need to upgrade your cli

[2019-03-07 22:52] #5407 closed

[2019-03-07 22:56] bacongobbler commented on #3117
The original issue

Was fixed in #3912 which was released as part of helm 2.10.0, so @kellyfj you'll need to upgrade to get the fix.

If anyone else is running into an issue other than what @royjs reported in the OP, please open a new ticket. Thanks!

[2019-03-07 22:56] #3117 closed

[2019-03-07 23:16] kellyfj commented on #3117
Many Thanks!

[2019-03-08 00:12] choldrim commented on #2947
`upgrace -i --force ` works well with me, client version `v2.12.2`, server version `v2.12.0`

[2019-03-08 06:08] stevejhkang opened #5420 "Tiller install - Readiness/Liveness probe failed: Get http://10.233.71.10:44135/readiness: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)"
OS: centos 7
docker version: 18.9.2

Hi! It's good day to Helm! I'm trying to install tiller using `helm init --service-account tiller`  After running that command, tiller pod first show running but also show 0/1. kubernetes can't make tiller container, while putting out message
**"Readiness probe failed: Get http://10.233.74.76:44135/readiness: net/http: request canceled while waiting for connect

[2019-03-08 12:30] lion24 commented on #4433
@thelander, to be honnest I did not follow and continue to try make the things working on arm servers.. Basically all the charts I was testing were using amd64, so it was really PITA to get things working, I give up..