[2017-04-20 09:17] rimusz commented on #2299
+1 for the templating approach

[2017-04-20 09:22] yan234280533 commented on #2281
I do the following experiment:

step1: I delete all k8s libraries in my vm.

step2: I git clone helm, and checkout it to '0ab38a998c097a9227dc7ff022732a78c9ada922' (Merge pull request #2248 from adamreese/ref/kube-v1.6)

step 3: I  mkdir vendor, and mkdir k8s.io in vendor, then I git clone kubernetes  , and checkout to  b0b7a323cc5a4a2019b2e9520c21c7830b7f708e

step4:  I run the cmd : ./scripts/se

[2017-04-20 09:47] yan234280533 commented on #2295
I come across the same error, when I run the following tiller container, it run crashed.
gcr.io/kubernetes-helm/tiller          v2.3.1              38527daf791d        6 days ago          56MB
gcr.io/kubernetes-helm/tiller          v2.3.0              24d2d8f25332        13 days ago         56MB

Finalling, I was copy a tiller binary from the  tiller container, and start it from the vm, it run ok.

[2017-04-20 11:06] ahawkins commented on #2288
I get the same error. I read somewhere that kube-proxy has some internal TTL, so if nothing comes back across the proxy then the connection closes. Could this be the case? If so, then perhaps the `--timeout` should apply to connections across `kube-proxy`.

Here's my command:

[code]

[2017-04-20 16:39] TamalSaha commented on #2172
Please take a look https://github.com/grpc/grpc-go/issues/1148, too.

[2017-04-20 16:56] nebril commented on #1354
We got some basic e2e test framework that uses helm for review for rudder-appcontroller. I can spend some time on trying to move it to helm repository after it's merged to rudder-appcontroller.

link to PR: https://github.com/nebril/rudder-appcontroller/pull/1

[2017-04-20 16:58] kow3ns opened #2306 "StatefulSet's for 1.6 will be broken until we have a release that vendors against K8s 1.6"
As an example, if you attempt to delete a StatefulSet with a `.Spec.Template` that uses `affinity` it will break when the Reaper attempts to scale the StatefulSet down prior to deleting the API object. This is because the Pod fields will stripped during the update and that represents an invalid mutation to the StatefulSet.

-  This can be mitigated by not using those fields, but the alpha annotati

[2017-04-20 17:00] bacongobbler commented on #2306
1.6 support was merged in #2248 and I know v2.4.0 is slated for [May 1st](https://github.com/kubernetes/helm/milestone/34), so that's when 1.6 support will drop in an official release.

[2017-04-20 18:03] alonl commented on #2227
@sstarcher
[code]
You're right! The selector matches the deployment's pod as well as this test pod.

I'll change the `app` label to:
[code]

 Wow, nice catch! Thanks a lot, @sstarcher. Many thanks guys. Closing...

[2017-04-20 18:03] #2227 closed

[2017-04-20 20:26] philips commented on #856
Given the interest around jsonnet I think it would be nice to have an update on how plugins could be used here. Right now I don't know if plugins are flexible enough to say swap the template rendering, right @technosophos

[2017-04-20 20:32] philips commented on #856
cc @jzelinskie @ant31 @hausdorff

[2017-04-20 20:43] wavermartijn commented on #2293
I just upgraded to 2.3.1. But for some reason messages are still appearing.
helm version returns:
$ helm version
Client: &version.Version{SemVer:"v2.3.1", GitCommit:"32562a3040bb5ca690339b9840b6f60f8ce25da4", GitTreeState:"clean"}
Error: server is too old to know its version

Kubernetes logs show this as last message:
Successfully pulled image "gcr.io/kubernetes-helm/tiller:v2.3.1"

[2017-04-20 21:47] hausdorff commented on #856
I talked to @technosophos about this last week, and the tentative plan is to work together on a Jsonnet plugin in mid-May, after the Deis acquisition, and after the changes that make the plugin model flexible enough to support this sort of thing are starting to land. I don't think I'm tipping anyone's hand to say that we're generally very happy to involve anyone who is interested -- feel free to c

[2017-04-20 22:40] jascott1 commented on #2299
I think enabling below use case could be valuable to many users

[code]

Installing the CNI easily seems like a big win for noobs and another feather in the cap of helm.

So even if it was horrible looking, just having `--set` would allow this paste-able one liner in a user guide or shell script:

[code]

Providing `--set` covers many cases as well but still allows user to stay within a single com

[2017-04-20 22:45] kfox1111 commented on #2299
@jascott1 yeah, I agree. Makes it very easy to use helm for the primary use cases, while allowing extreme flexibility for those who need it for more complicated setups. A good balance.

[2017-04-20 23:23] jackzampolin commented on #2277
This is preventing me from upgrading to the bugfix release. I'm unable to connect to tiller.

[2017-04-20 23:23] jackzampolin commented on #2277
This is preventing me from upgrading to the bugfix release. I'm unable to connect to tiller.

[2017-04-20 23:50] jzelinskie commented on #856
There's an ongoing discussion on the SIG-Apps mailing list about a combined effort towards something like this. If this subject interests you, I urge you to participate in the discussion: https://groups.google.com/forum/#!topic/kubernetes-sig-apps/cRpBZHZsnOo

It'd be great to have some participation from someone from the Helm team.

[2017-04-21 01:53] hausdorff commented on #856
Yes, I'm sorry. I would have said something sooner but I only found out on Friday, and then I was out all this week for a family emergency. I was planning on bringing it up either on the list or at the round table discussion mentioned in that thread, that Rick Spencer is organizing.

[2017-04-21 02:45] lixiaobing1 opened #2308 "helm cannot delete deployments that are in state ContainerCreating"
use "kubectl delete deployment tiller-deploy --namespace kube-system, or more concisely helm reset"
but tiller service and pod still exist, so why?
Is there other method to delete or uninstall helm?

[2017-04-21 03:04] lixiaobing1 commented on #2295
now the question is:
unable to pull sandbox image "gcr.io/google_containers/pause": Error response from daemon: {"message":"Get https://gcr.io/v1/_ping: dial tcp: i/o timeout"}"
so, how can i modify helm to get pause image from local docker respo?

[2017-04-21 03:06] lixiaobing1 commented on #2295
ok, the question about the title has disappeared, close it ,thx.

[2017-04-21 03:06] #2295 closed

[2017-04-21 03:07] lixiaobing1 opened #2309 "can helm get pause from local?"
when helm init:
unable to pull sandbox image "gcr.io/google_containers/pause": Error response from daemon: {"message":"Get https://gcr.io/v1/_ping: dial tcp: i/o timeout"}"
so, how can i modify helm to get pause image from local docker respo?

[2017-04-21 03:38] bacongobbler commented on #2308
I can't reproduce this on v2.3.1:

[code]

The pod goes into Terminating status and is eventually removed from the cluster.

Can you provide more backstory/logs on how we can reproduce your issue? It's not clear to me what the issue is (there is no tiller service deployed on `helm init`).

[2017-04-21 03:45] lixiaobing1 commented on #2308
my helm is abnormal, when I reset it, can't remove:

kubectl get pods --namespace kube-system
NAME                             READY     STATUS             RESTARTS   AGE
tiller-deploy-1332173772-jjnb8   0/1       ImagePullBackOff   0          54m

[2017-04-21 04:13] ahawkins commented on #2288
We have `Deployment`, `Pod`, `Service`, `Secret`, and `ConfigMap`.

[2017-04-21 04:55] TamalSaha opened #2310 "Bug (tiller): Tiller does not work with ca cert and token auth"
## What:
I would like to terminate SSL at tiller and use token auth. This is not currently possible.

## Cause
Tiller assumes client cert if ca cert is provided. https://github.com/kubernetes/helm/blob/master/cmd/tiller/tiller.go#L224

[code]

## Fix
This can be fixed by changing to `opts.ClientAuth = tls.VerifyClientCertIfGiven`

cc: @fibonacci1729

[2017-04-21 04:59] TamalSaha opened #2311 "Bug (tiller): Tiller docker image does not include ca-certificates"
When trusted certs are used, it is customary to not provide the cacert. GO will use the cacerts provided by OS. Currently [Tiller Dockerfile](https://github.com/kubernetes/helm/blob/master/rootfs/Dockerfile#L15) does not install `ca-certificates` package. This should be added in Tiller Dockerfile

## Fix:
http://stackoverflow.com/a/33353762/244009

cc: @fibonacci1729

[2017-04-21 05:09] bacongobbler commented on #2309
The pause container is something kubernetes fetches to reserve the network namespace for the pod. This can be configurable from the kubelet via the `--pod_infra_container_image` flag, so you will need to change your kubelet's boot flags to fetch a local docker image instead. This isn't something that can be changed within helm as this is handled by the kubelet.

[2017-04-21 05:11] bacongobbler commented on #2308
I'm guessing this is related to #2309 then? Once that issue is resolved you should be able to run `helm reset`, though I'm curious if there's a reason we can't just make an API call to delete the deployment even if we can't connect to it.

[2017-04-21 05:12] bacongobbler commented on #2309
further context: https://github.com/kubernetes/kubernetes/issues/4896#issuecomment-77917065

[2017-04-21 05:19] ahawkins opened #2312 "helm install --wait does not save release when it fails"
I'm running:

[code]

This fails for some reason for some reason (unknown to me; also this is a separate issue #2288). At this point some things have been created in the cluster, but they're unknown to tiller. The release `test-efritin` is not present in `helm ls`. It seems that if `helm install` fails to complete then the release is not saved in tiller.

[code]

EDIT: I think this may be an async

[2017-04-21 05:50] lixiaobing1 commented on #2308
now it can be deleted with kubectl cmd, but it is can't yesterday, thx very much:)

[2017-04-21 05:55] lixiaobing1 commented on #2309
thx first, another, can u tell me where is the kubelet configuration?

[2017-04-21 06:27] ahawkins commented on #2158
I can confirm a similar issue on 2.3.1. My template does not have a blank line, but the result is still the same:

[code]

Output from `helm get`:

[code]

[2017-04-21 06:37] lixiaobing1 commented on #2308
issue occurs again:

root@ubuntu:/home/zte# kubectl delete deployment tiller-deploy --namespace kube-system
deployment "tiller-deploy" deleted

root@ubuntu:/home/zte# kubectl get service --namespace kube-system
NAME            CLUSTER-IP   EXTERNAL-IP   PORT(S)     AGE
tiller-deploy   10.20.8.41   <none>        44134/TCP   21h

root@ubuntu:/home/zte# helm reset
Error: could not find a ready tiller

[2017-04-21 06:42] bacongobbler commented on #2309
It's dependent on how your cluster was set up. I can't give you a definitive answer as it is cloud provider specific or specific to the instructions you followed to install kubernetes onto your cluster. I would follow up with your cloud provider's documentation.

[2017-04-21 07:16] thomastaylor312 commented on #2312
@ahawkins You are correct, Tiller is waiting for a response from the running release. This is something I would like to improve in the future so that tiller knows to stop and mark as failed if the connection that started it is closed

[2017-04-21 07:17] thomastaylor312 commented on #2288
I think you are right about this being something related to the kube-proxy not using the same timeout value.

[2017-04-21 07:49] ahawkins commented on #2158
This is **not** happening on `2.2.3`. It is happening on `2.3.1`.

[2017-04-21 07:56] ahawkins opened #2313 "helm test exits 0 under error conditions"
Helm version `2.2.3`

[code]

`helm test` should exit non-zero if there is an error running the test.

[2017-04-21 09:37] ahawkins commented on #2312
@thomastaylor312 Would that make sense though? In this case everything is still running on the tiller side. Could it be reliably cancelled while in-flight? Also what happens to resources created?

[2017-04-21 10:02] xmik commented on #2313
same issues: #2166, #2275

[2017-04-21 10:29] nebril commented on #2146
I would like to give it a go

[2017-04-21 14:52] ReSearchITEng commented on #2308
I would phrase it:
`helm delete` && `helm reset` do not delete a non-finished deployment (while IMHO it should).
I expect that `helm delete` && `helm reset` would do the equivalent of:
`kubectl delete deployment --namespace=kube-system tiller-deploy`, but in the event of non-completed/stuck deployment it doesn't/
[code]

[2017-04-21 14:53] adawolfs opened #2315 "Helm can't found charts in own repo"
Hello

I've created my own repo into a google cloud bucket and added it to my helm, but when I try to install it I get the following error

Error: file "Repo/ChartName" not found

But if I make a search it is displayed into the coincidences

Please help

[code]

[2017-04-21 14:56] bacongobbler commented on #2308
Thank you for articulating what I was trying to point out, @ReSearchITEng. That's exactly what I was trying to say. :)

[2017-04-21 14:58] bacongobbler commented on #2315
Can you show `helm search repo/chartname`? Wonder if CamelCasing the repo/chart name has anything to do with it.

[2017-04-21 15:25] adawolfs commented on #2315
[code]

[2017-04-21 15:32] technosophos commented on #2315
In your `index.yaml` file in the `repo/liferay` repository, are the URLs to the packages correct? Usually, the above indicates that `helm repo index` was called without `--url`, and the URL that Helm automatically built can't find any release.

Probably, the easiest fix is to run `helm repo index --url $YOU_BASE_URL`.

[2017-04-21 15:34] #2223 closed

[2017-04-21 15:51] adawolfs commented on #2315
Thanks @technosophos $YOU_BASE_UR should to be my repo url?

[2017-04-21 15:57] adawolfs commented on #2315
Yeap, It's working now thank you for your help!

[2017-04-21 16:42] #2284 closed

[2017-04-21 17:07] technosophos commented on #2288
Agreed, @thomastaylor312

[2017-04-21 17:12] technosophos commented on #2281
This is not likely to work:

You need to use Glide to do that. (You may have to run `glide up` twice)

If you do not use Glide, you'll have to do all of the dependency management on your own. We cannot help with that.

[2017-04-21 18:04] thomastaylor312 commented on #2312
@ahawkins Was trying to avoid opening that can of worms 😃 . That is exactly why I haven't done it yet. There are a lot of considerations

[2017-04-21 23:02] sysradium opened #2317 "Release names should be unique across namespaces"
Personally I found it surprising that even there is a `--namespace` argument helm forces you to give unique names to your releases across the cluster.

I expected that it would be possible to create the release with the same name in different namespaces:

[code]

However this fails on the second try because `pubsub` already exists. K8S allows you to have identical resource names for the ones in di

[2017-04-21 23:11] bacongobbler commented on #2317
related comment: https://github.com/kubernetes/helm/issues/2060#issuecomment-287164881

[2017-04-21 23:13] sysradium commented on #2317
@bacongobbler thanks a lot, basically the answer is "go to hell with the namespaces" :)

[2017-04-21 23:13] #2317 closed

[2017-04-22 02:06] yan234280533 commented on #2281
@technosophos  many thanks, many thanks.

I slove the problem, by rm -rf the vendor directory in  kubernetes. I think is a problem of "go build".

the  experiment setup is:

I do the following experiment:

step1: I delete all k8s libraries in my vm.

step2: I git clone helm, and checkout it to '0ab38a998c097a9227dc7ff022732a78c9ada922' (Merge pull request #2248 from adamreese/ref/kube-v1.6)

step

[2017-04-22 12:50] moshe0076 commented on #2212
Thanks All!

[2017-04-22 13:07] yan234280533 opened #2318 "Can command "helm status" add the status of pod ?"
In the lastest version of helm:
when show the status of a release, it  show service, deployment status, but not show the pod status:

RESOURCES:
==> v1/Secret
NAME                     TYPE    DATA  AGE
wonderful-goat-dokuwiki  Opaque  1     8d

==> v1/PersistentVolumeClaim
NAME                              STATUS   VOLUME  CAPACITY  ACCESSMODES  AGE
wonderful-goat-dokuwiki-dokuwiki  Pending  8d

=

[2017-04-22 13:40] yan234280533 opened #2319 "How about to " Helm describe" , using to show the detail information of the release ( like the "kubectl describe")"
How about to " Helm describe" , using to show the detail information of the release
 ( like the "kubectl describe")

If one find the relase he deployment has some error , he can use "Helm describe"  command  to show the

detail  information of his  deployment .

the commad  include:

      Helm describe release-name
      //show all of kinds resource  's details of the release , and the other info

[2017-04-22 14:18] JeanMertz commented on #1987
I'm looking for ways to set an array using `set`, but it's unclear to me what the above statement means? _Is_ it possible to set an array with `set`, or isn't it? If it's _sort of a pain_, then I don't mind, but I'd like to find out how to do it.

I know I can convert the array to a map, but that's not really what I'm looking for, as the user experience (for an internal company-wide chart) degrade

[2017-04-22 14:36] JeanMertz commented on #1168
I agree, and was equally surprised. As a Kubernetes enthusiast, I try a lot of Kubernetes-related tools that could enhance the productivity of the engineers working at our company, but I want to test those tools within the confines of my laptop and Minikube cluster.

I had to warn my colleagues on a Saturday "it was me installing something in kube-system, don't be alarmed", because I was experimen

[2017-04-22 14:41] JeanMertz opened #2320 "install local/* not found, while search shows it exists"
[code]

[code]

According to `helm install --help` this should work, but it doesn't.

[2017-04-22 15:13] JeanMertz opened #2321 "literal double-curly in template?"
I'm trying to get this to work:

[code]

Which should end up like this:

[code]

But when using install with `--debug`, I get:

[code]

I tried different styles, but I can't get the expected output.

[2017-04-22 15:17] bacongobbler commented on #2321
Use `{{ "{{" }}`.

[2017-04-22 15:21] JeanMertz commented on #2321
I tried that, but I get:

[code]

[2017-04-22 15:34] bacongobbler commented on #2321
If you're trying to iterate through keys to dump as envvars in a manifest, try this:

[code]

[2017-04-22 15:38] bacongobbler commented on #2321
Either way (using the `quote` function or encasing the double curly braces in a string) will allow you to render double curly brackets in your template. The rest is up to you :)

[2017-04-22 15:43] bacongobbler commented on #1168
Right now there is `helm init --client-only` if you just want to bootstrap the client itself.

[2017-04-22 15:55] JeanMertz commented on #2321
No, I was explicitly trying to get the output I specified in the original post, so not using a map, but an array.

You say "either way using double curly braces in a string will allow you to render double curly brackets in your template", but isn't that what I demonstrated above, which doesn't work?

Here are some other things that don't work:

[code]

[code]

[code]

[code]

[2017-04-22 16:29] bacongobbler commented on #2321
In all of those cases, you are assigning the dot variable to a `map[interface {}] interface {}`. In other words, `range .Values.envs` is not an array but a yaml key/value pair, so from my perspective it didn't look like an array.

Can you post a clearer example of what your values.yaml looks like? That way we can figure out how you're trying to template it out.

[2017-04-22 16:41] bacongobbler commented on #1987
[From the documentation](https://github.com/kubernetes/helm/blob/7cbed3f77bd771dfb46c63733c497e8c05225422/docs/using_helm.md):

[code]

[2017-04-22 16:53] bacongobbler commented on #2320
Looks very familiar to https://github.com/kubernetes/helm/issues/2315.

[2017-04-23 02:29] thomastaylor312 commented on #2288
@JoeTalbot and @ahawkins: I think I have a fix for this, but I can't duplicate the issue by making a pod wait for a long time (I used 1200 for the timeout). Are there any other things I am missing to duplicate this?

[2017-04-24 01:54] lixiaobing1 opened #2322 "how to deal with helm tiller pod of CrashLoopBackOff state?"
root@ubuntu:/home/zte/share/helm/linux-amd64# kubectl get pods --namespace kube-system
NAME                             READY     STATUS             RESTARTS   AGE
tiller-deploy-1332173772-2jjbd   0/1       CrashLoopBackOff   521        2d
root@ubuntu:/home/zte/share/helm/linux-amd64# kubectl logs --namespace kube-system tiller-deploy-1332173772-2jjbd
root@ubuntu:/home/zte/share/helm/linux-amd64#

[2017-04-24 08:09] lixiaobing1 commented on #2308
with "kubectl delete deployment", the pod is still terminating after several minutes.

[2017-04-24 10:11] chipironcin opened #2323 "Unable to download Helm (Github API Rate limit)"
Based on https://github.com/kubernetes/helm/blob/master/docs/install.md
When installing from script doing:

[code]

I get:

After debugging I found the tag was emtpy inside the script.
After trying to get the tag manually:

[code]

We should change the script to work by scrapping HTML content rather than using the Github API to avoid this issue.

[2017-04-24 10:11] chipironcin commented on #2323
Update: PR in its way

[2017-04-24 10:29] nebril commented on #1354
@dshulyak

[2017-04-24 13:14] sander-su commented on #1186
Can we at least create a values.fullnameOverride or something?
There are charts which would be deployed multiple times in a namespace and others once per cluster or once per namespace.
I now have prometheus-prometheus-server... adding the releaseName adds no value in this case, worse, it makes it less readable.

[2017-04-24 21:02] spk83 opened #2325 "Specify serviceaccount while deploying tiller with `helm init`"
`helm init` command by default, sets the `spec.template.spec.serviceAccountName:""` in deployment config of tiller. So tiller would be deployed with default service account of namespace in which tiller is being installed. To run tiller with different service account, we have to take the output `helm init --dry-run --debug` and change the `serviceAccountName` field with the sa name that we want to

[2017-04-25 07:13] libesz opened #2326 "Skip rendering of excluded dependencies in tiller engine."
### Use case
As a maintainer of complex charts with several dependencies, one might not have ready-made valuefile portions for such parts, which are excluded from the actual release install with tags.
### Problem
Tiller is currently not working like that 😄. It renders all the dependencies [unconditionally and recursively](https://github.com/kubernetes/helm/blob/3b9bb756bcbe0197a6c18dbe450cbb34736e

[2017-04-25 11:09] DoctorZK commented on #2318
In my opinion, the status in Helm is status describing the install/uninstall action, while the status of pods is more like the status descring the running status of resource objects, which is out of the scope of an install management service.

[2017-04-25 14:13] hydradan commented on #1038
For anyone else looking for docs, we now have the following options (`helm repo add --help `):

[code]

[2017-04-25 14:17] yan234280533 commented on #2318
In kubenertes, service, deployment ,pod, configmap and so on , all of those are resource objects.
From the user, If a unsuccessful install/uninstall action happened, he wanted most is to know all of  resource objects under this release. Not to find some information using helm command  and then copy this information to use kubectl to find the other information.
I think is much more convenient for u

[2017-04-25 15:55] VarunDT commented on #2277
I have the same issue..

[2017-04-25 16:13] bacongobbler commented on #2277
did you both try the instructions in https://github.com/kubernetes/helm/issues/2249#issuecomment-294793552 like @technosophos pointed out, or is there something else going on?

[2017-04-25 16:39] jackzampolin commented on #2277
@bacongobbler I've tried both of those. Haven't really had the time to dig and and get any debugging tho...

[2017-04-25 17:14] osterman commented on #874
This is kind of related to what I was original thinking: https://github.com/roboll/helmfile

[2017-04-25 17:30] caseeker opened #2328 "Proposal: helm test to optionally show output of test commands"
Helm test is simply showing if the test passed or failed.
To implement a deployment pipeline with helm, it will be very helpful to have test output visible when tests are failing.

At the moment, I am deploying with `helm upgrade --install` and run integration test with `kubectl run` command to see the output of the integration test.

Having `helm test` to show output of running tests will simplif

[2017-04-25 17:45] thomastaylor312 commented on #2288
Yep, that looks like a crash with the wait flag when using deployments. I'll dig in to this

[2017-04-25 19:55] Draiken commented on #2277
I believe you need to run `gcloud container clusters get-credentials <cluster_name>` again after setting the env variable or setting.

[2017-04-25 21:09] kuroneko25 commented on #2257
We are running into a similar problem with DaemonSet and `  updateStrategy:
    type: RollingUpdate`

[2017-04-25 21:17] jackzampolin commented on #2277
@Draiken 🙈 Oh wow. Thank you for that. Figured I had tried doing that already. Works for me now! 🙊

[2017-04-25 21:41] scheeles commented on #2219
I think helm should provide the same UX experience like kubectl, where it make sense.  Most of the time I use `--kubeconifg` instead of `export` & `kubectl` or `helm`

[2017-04-25 22:33] hiscal2015 commented on #1038
@hydradan Thanks, that's good.

[2017-04-25 23:11] bbeaudreault commented on #2036
Hey guys, curious if there is any update here. We have the usecase the OP describes, where the lint fails on our chart which has required fields which must be set on the command line. This makes lint unfortunately useless for us.

I see there was some initial interest in fixing this short term, but it seems to have fallen by the wayside.

[2017-04-26 06:15] ahawkins commented on #2328
Confirm. I'm using a script to improve our `helm test` UX:

[code]

[2017-04-26 06:42] ahawkins opened #2329 "helm install does not save a release under failure conditions"
## What Happened

[code]

Failed because of the transport closed issue. The various resources (`Pods`, `Deployments`) etc had created, but `helm ls` does not show the release name. I'm guessing this because the release is only saved in tiller _after_ everything completed successfully. The unexpected transport closing breaks that process.

## Versions

[code]

[2017-04-26 06:53] ahawkins opened #2330 "helm test fails with "transport closed" error"
## What Happened

`helm test` failed with `error: transport closing`. Our test hook uses a `Pod` to run a smoke test against the release.

[code]

Tiller logs:

[code]

## Versions

[code]

[2017-04-26 08:17] xtimon opened #2331 "Parent's values overwrite child's values"
Parent's values overwrite child's values when I use `--set` syntax, or load values from a values-file. This happens when the child chart has own child chart and exist requirements.yml file.

How to catch the bug:
1. Create three charts:
[code]
2. Add requirements to the chart1:
[code]
3. Add requirements to the chart2:
[code]
4. Build requirements in charts:
[code]
5. Install:
[code]
Output:
[code

[2017-04-26 08:35] bcorijn opened #2332 "Tiller does not clean up old config maps"
Hi,

I almost never check the kube-system namespace, but when doing yesterday I noticed Tiller keeps a lot of old state / history around in config maps in its namespace, and never does any cleanup as far as I can see?
This seems like problems waiting to happen as these will just keep growing, and I don't see any Helm commands to do a purge.
Is there a way we can limit this? (similar to Deployments

[2017-04-26 12:39] seh commented on #2331
Is it the case that you expected the "ERROR" image tag to apply only to the top-level chart ("chart1"), and neither to its child ("chart2") nor its grandchild ("chart3")?

[2017-04-26 12:42] seh commented on #2325
Also pertinent: #2181 and #2224. The former shows a hack to work around the problem; the latter specifies a proper solution.

[2017-04-26 12:47] xtimon commented on #2331
Yes, if I want to change the tag in the child("chart2"), I will use following syntax:
[code]

[2017-04-26 13:20] spk83 commented on #2325
Thanks @seh. I'll wait for 2.3.2 👍

[2017-04-26 13:43] tback commented on #2055
Opened a feature request in kubernetes: https://github.com/kubernetes/kubernetes/issues/44954

[2017-04-26 14:32] ipedrazas commented on #2091
I was going to suggest to create a `helm add secret CHART` to generate a `secret.yaml` in the templates folder, but this sounds like a better idea :)

[2017-04-26 14:46] prydonius commented on #2091
@ipedrazas I think that would be pretty useful too as your working on a chart.

[2017-04-26 14:50] bcorijn opened #2333 ""No changes needed" after failed deploy"
Hi,

I tried to do some changes to my chart earlier today and during first deploy, forgot to quote a numeric env var that caused an error during the upgrade. However, after fixing it the subsequent upgrades were reported by Tiller as "no changes needed" and nothing changed to my Deployment, even though the chart now had more ENV vars and a different image tag than what was running in my cluster.
L

[2017-04-26 14:59] ipedrazas commented on #2091
I did start implementing the `helm add` command:

https://github.com/ipedrazas/helm/tree/add-resources/

I’ve added a functionality that allows me to do the following:
`helm create my-chart` <-- nothing new here
`helm add secret my-chart` <-- it creates a `secret.yaml` in the `templates` dir of `my-chart`

I started this after chatting with @lachie83 during the KubeCon...

[2017-04-26 19:33] sheerun commented on #1570
@technosophos Is this issue resolved? The solutions seems to be to use "tags" array in requirements.yaml subcharts and tags array in values.yaml, right?

[2017-04-26 19:40] sheerun commented on #1570
@technosophos @thomastaylor312 Can one define tags for dependency in Chart.yaml of subchart instead of requirements.yaml of parent chart?

[2017-04-26 20:04] kylebyerly-hp commented on #1879
https://github.com/kubernetes/kubernetes/pull/40784 Got merged :) but is still only on master.

[2017-04-26 23:28] thomastaylor312 commented on #1570
/cc @jascott1 ☝️

[2017-04-27 09:28] ahawkins commented on #2312
@thomastaylor312 should we close this issue then?

[2017-04-27 10:21] georgecrawford commented on #2298
Yes, yes, yes. That would be so useful for us. Is that in scope here? We have a setup which occasionally times-out a helm release, and seeing the logs from the pods created by the deployment would be fantastic.

[2017-04-27 14:29] sheerun commented on #1311
This bit me as well :(

@technosophos Maybe you could consider changing this behavior? i.e. deprecate iterating with range without explicitly assigning variables, and preserve the scope

[2017-04-27 15:22] michelleN commented on #2333
hey @bcorijn - what version of helm and tiller are you on?

[2017-04-27 15:22] bacongobbler commented on #1311
This is something that Go performs as part of text/template, so there's nothing actionable in Helm directly. Scope is changed when iterating through a control structure like `range`. Your best bet to change this behavior would be to file a bug upstream with Go itself.

[2017-04-27 15:23] bacongobbler commented on #1311
relevant docs from [text/template](https://golang.org/pkg/text/template/):

[2017-04-27 17:56] ahawkins opened #2334 "HA Tiller Story"
_I'm not sure exactly where to put this so feel free to close this if an issue is not right forum._

I'm opening this issue to discuss HA tiller. I've encountered a many bugs (which seems to be Tiller specific). These bugs end up crashing Tiller for one reason or the other. This got me thinking: What is the story for HA tiller? `helm init` creates a `Deployment` with one replica. I'm not sure if t

[2017-04-27 19:43] caseeker opened #2336 "Proposal: Make value override work with yaml anchor/reference"
With Yaml anchor following can be done in values.yaml

[code]

However currently when the top level `imageTag` key is override in command line by --set, the values referring to the anchor will still show the value in the values.yaml file.

So with the above example, if I do `helm install --set imageTag=1.0.0"` the `.Values.containers.nginx.imageTag` will still be the latest while `.Values.imageTag

[2017-04-27 19:50] ddska opened #2337 "helm package: exitcode=0 after error"
When there is no `HELM_HOME` defined, and `~/.helm/repository/local` directory does not exists, when I execute `helm package` command, I get error

    Error: stat /home/user/.helm/repository/local: no such file or directory

which is fine.

What is not fine is that OS exit code is 0, so I can not recognize in script if the command was successful or not.

I believe the `helm package` is not the on

[2017-04-27 20:41] technosophos commented on #2331
I'll need to test this out, but as described this sounds like a pretty major bug. `--set image.tag=FOO` should _only_ apply to the parent chart. That value should not be passed into descendant charts _at all_ (unless its placed into globals, which it's not in this case).

Has anyone tested this against 2.2.x? I'm wondering if this was a regression introduced by the new variable hoisting logic in 2

[2017-04-27 20:46] technosophos commented on #2319
I believe that `helm status` does at least some of this now. We could probably extend it to take an optional kind. But really at that point it seems like we'd just be cloning existing `kubectl` behavior, right?

[2017-04-27 20:47] technosophos commented on #2320
Are you running `helm serve`? If not, it can't find a server on localhost.

[2017-04-27 20:49] technosophos commented on #2321
Try `{{ range $key, $value := .Values.envs }}`.

[2017-04-27 20:51] technosophos commented on #2323
Closed by #2324

[2017-04-27 20:51] #2323 closed

[2017-04-27 20:55] technosophos commented on #2334
@adamreese will the Helm client correctly handle this? I mean, there is a possible race condition if two Tillers modify the same release at the same time... but will the Helm client even balance between two tillers?

[2017-04-27 21:01] bacongobbler commented on #2334
It fetches [the first available pod](https://github.com/kubernetes/helm/blob/d1b1161f7778e60c4a5b43e4ac3a4ac8fdc7060f/pkg/helm/portforwarder/portforwarder.go#L62-L66) when HELM_HOST is not set, so it should be fine to run two at once. The race condition on CRUD operations is a valid concern too though.

[2017-04-27 21:08] technosophos commented on #2336
This is a feature of the YAML parser (https://github.com/go-yaml/yaml/). And as far as I can tell, the parser is correct in discarding the alias (see section 3.2.2.2 of the YAML spec).

The parsed representation of the data that we get from the YAML parser gives us no access to the original alias (we can't even tell, for example, when an alias was used). So there's now way for us to later substitu

[2017-04-27 21:11] technosophos commented on #2337
Did the package generate successfully? Copying to the local repo is not considered a fatal error for `helm package` unless the package itself also failed to generate.

[2017-04-27 21:16] #2310 closed

[2017-04-27 21:50] michelleN commented on #2332
hey @bcorijn -- Tiller keeps release history around in case you want to rollback to a particular version. You can remove the configmap for a release when you do `helm delete` it by adding the `--purge` flag.

Does that help?

[2017-04-27 21:55] technosophos commented on #2063
Bumping to 2.5.0, since I haven't seen a PR for this feature yet.

[2017-04-27 22:12] michelleN commented on #2330
@ahawkins = did you get that error after 5 minute timeout or immediately?

[2017-04-27 22:16] michelleN commented on #2328
yep. I'd really like to be able to stream pod logs on `helm test`

[2017-04-27 22:21] michelleN commented on #2325
I'm going to close this since it's a duplicate of #2224. Thank you @spk83

[2017-04-27 22:21] #2325 closed

[2017-04-27 22:24] michelleN commented on #2322
hey @lixiaobing1
Would love to help here but I'm unsure of how we got to this state. Would you mind giving me some more information?
What version of Helm and Tiller are you running? What version of Kubernetes are you running? Did you have a working Tiller which later went into this state or did it never come up in the first place?

Thank you.

[2017-04-27 22:29] michelleN commented on #2328
We should talk about what exactly this feature would look and feel like.

[2017-04-27 22:38] michelleN commented on #2328
Actually, this is a duplicate of #1957 which is about adding a `--verbose` flag to the `helm test` command. I'll close this for now. Feel free to re-open if that's not what you're looking for.

[2017-04-27 22:38] #2328 closed

[2017-04-27 23:04] SlickNik commented on #2201
@technosophos, @thomastaylor312 -- Gonna take a look at a fix for this. Thanks!

[2017-04-27 23:17] technosophos commented on #1879
For tracking purposes, moving to 2.5.0. Really, all we're waiting for is a Kubernetes release with this PR in it.

[2017-04-27 23:19] technosophos commented on #1960
We have nobody assigned to work on this issue, so moving to 2.5.0 and adding help wanted.

[2017-04-28 04:40] egeland commented on #2334
I just read [your story](https://medium.com/saltside-engineering/our-first-kubernetes-outage-c6b9249cfd3a) @ahawkins - which led me to investigate HA for tiller, which led me to this issue..

We definitely need Tiller to be HA by default.

[2017-04-28 04:52] ahawkins commented on #2334
How is "available" determined? If there were 2 replicas, would the code select the first pod returned from get pods API call? I wasn't aware of `HELM_HOST`. I think it may make sense to expose tiller with ` LoadBalancer` service and set that. Then in theory the number of replicas wouldn't matter.

[2017-04-28 06:11] thomastaylor312 commented on #2288
@JoeTalbot Any way you can share the deployment you are updating? I can't seem to duplicate the bug with the deployment I am using no matter which options I set in the deployment spec

[2017-04-28 06:15] thomastaylor312 commented on #2298
@georgecrawford I don't think that is in scope for this issue specifically, but that will be easy to add with the design proposed

[2017-04-28 06:17] thomastaylor312 commented on #2312
Yeah, I'll close it for now.

[2017-04-28 06:17] #2312 closed

[2017-04-28 10:02] ahawkins opened #2340 "helm test times out without an informative error message"
**What Happened**

I ran `helm test` as documented below:

[code]

Note the `E0428 09:51:24.205454   29091 portforward.go:175] lost connection to pod`.  I described the pod and found these events:

[code]

You can see that it took longer to pull the image and start the container than the default `--timeout`.

**What I expected to Happen**

`helm test` should say "timed-out waiting for pod" or the

[2017-04-28 10:03] redbaron opened #2341 "[wip] failed upgrade is no upgredable without rollback"
I'll add more details later once I verify, but it looks like if release has resources A and B and upgrade failed due to problem in A, then one upgrades release with changes made to A and B, then B isn't actually updated in a cluster, probably because Helm thinks that there is nothing  to change.

Does Tiller run `kubectl apply`-like action on all resources on every release?

[2017-04-28 10:52] redbaron commented on #2333
@michelleN sounds very similar to https://github.com/kubernetes/helm/issues/2341 , I run 2.3.1 tiller and client

[2017-04-28 11:14] unguiculus opened #2343 "Error building Helm: "hg is not installed""
I'd like to try and familiarize myself with the Helm code base. I read the [Dev Guide](https://github.com/kubernetes/helm/blob/master/docs/developers.md) and ran `make bootstrap build` as suggested. The build failed with this error:

[code]

It looks like there is a dependency that is pulled in with Mercurial. While Git seems obvious, I'd suggest to mention both, Git and Mercurial, as prerequisite

[2017-04-28 12:33] kiich opened #2346 "helm upgrade after a failed helm upgrade does not pick up all new addition since last successful release"
Running helm/tiller v2.3.0

helm upgrade after a failed upgrade seems to not pick up all the changes I made in the deployment spec file.

Sequence of event is like this:
Using this deployment.yaml:

[code]
and do:
`helm install --namespace temp --name temp /tmp/charts`

which succeeds and create me deployment.
I then go and make few changes to the yaml, to make it fail, which looks like this:

[co

[2017-04-28 12:43] Mario54 commented on #1996
Would it be possible to have a better error message for this? I had the same error `release: not found`, and it took me a while to figure out that the problem was that there was too much data to fit in a `ConfigMap`.

I'm not familiar with the design of Helm and Tiller, but maybe there's an easy way for Tiller to return this as a clear error message which Helm would show to the user?

[2017-04-28 12:54] RobWin commented on #1331
Indeed :)

[2017-04-28 12:56] ddska commented on #2337
Issue was caused by local environment, could be closed.
The actual exit code is 1.

[2017-04-28 12:56] #2337 closed

[2017-04-28 12:59] databus23 opened #2347 ""required" template function breaks linter"
Just noticed that `helm lint` goes out the door as soon as you add your first `{{ required ... }}` to any template.

Steps to reproduce:
[code]

/cc @wilkers-steve @thomastaylor312

[2017-04-28 13:08] SharpEdgeMarshall commented on #2332
Yes, but without a limit the ConfigMaps keep growing.

[2017-04-28 13:32] wilkers-steve commented on #2347
@databus23 is the value you're requiring defined in values.yaml?  I'm linting charts with required values just fine currently.  If it's not defined, that's the expected behavior.

[2017-04-28 13:42] databus23 commented on #2347
Its not in the charts values.yaml.
Its supposed to be specified which an external values file or `--set` when installing the chart.

As lint does not take any external values you can't use lint anymore on charts having required values.

I'm not sure I follow your argument that a required values has to be present in the charts values file. If I put the value in the charts internal values file the r

[2017-04-28 13:58] yan234280533 commented on #2319
Many thanks for you technosophos.

I  understand you mean is that, By add an option of "helm status"  it  can be used :
helm  status release-name kind
helm  status release-name kind  instance-name
I think is an good idea,  I  agree with that.

Can the "helm status" add to display the status of the pod resource, after  all  the pod resource
is an important resource in kubernertes.

I am very happy

[2017-04-28 14:00] wilkers-steve commented on #2347
The original issue for adding the required function can be found [here](https://github.com/kubernetes/helm/issues/1580).  The required function ensures that any value flagged as required as a matching entry in values.yaml, whether it's during linting or installation.

Lint indeed does not take external values, so linting a chart leveraging required values would need a default value set in your cha

[2017-04-28 14:01] #2343 closed

[2017-04-28 14:10] #2172 closed

[2017-04-28 14:11] Mario54 opened #2349 "`helm delete {release}` deletes a StorageClass it didn't create when `helm install` fails"
**Helm Version**

[code]

**Kubernetes Version**

[code]

# Reproduction steps
Create a chart with a StorageClass.

[code]

[code]

Package the chart and install it.

[code]

The install fails because of a mismatch between the resource and the Kubernetes version. The StorageClass isn't created.

[code]

Then, I delete the release.

[code]

`helm` deletes the StorageClass even though `helm install`

[2017-04-28 14:17] kiich commented on #2346
v2.3.1 reproduces same issue.

[2017-04-28 14:31] databus23 commented on #2347
Having a default value for a required values in the charts yams file defeats the whole purpose of the `required` function, no? Its never going to fire.

Some charts require values that can't have a sensible default value, I thought the whole purpose of the `required` function was to provide a human readable errors message if you forget the specify a required value. If I have something like ( `requ

[2017-04-28 14:47] databus23 commented on #2347
Reading the original issue I still think that my assessment is correct.
The confusion may come from the fact the issue suggested to put a value in the charts.yaml file and annotate that with a comment that it has be provided during chart installation.
[code]
But this it not how the implemented `required` function works.

If you would put something like `{{ required "Eula needs to be accepted" .Val

[2017-04-28 15:10] technosophos commented on #2319
Yes, that sounds good.

[2017-04-28 15:10] redbaron commented on #2349
been bitten by it as well. helm is doing something weird: instead of storing UIDs of resources it created, it saves names. it also uses latest realease in a history as source of truth (lets say to generate resource updates) ,even if that release was failing. these 2 together makes helm to "adopt" resources which are not part of a release and then delete all of them on release deletion :)

[2017-04-28 15:24] yan234280533 commented on #2319
Thanks a billion, many many thanks.

I will  complete it as soon as possible.

[2017-04-28 15:57] wilkers-steve commented on #2347
I agree with some of the points you're raising, but gotpl also supports the generation of values.  In such a case, a default value must absolutely be present, whether it's through values.yaml or --set or through a user supplied values file.  If we're generating values that absolutely require defaults to be defined, then that generation falls apart if we don't have defaults present in values.yaml.

[2017-04-28 20:16] #2209 closed

[2017-04-28 20:17] #2234 closed

[2017-04-28 22:51] tamalsaha opened #2355 "(tiller): Use grpc-go 1.3.0"
https://github.com/grpc/grpc-go/releases/tag/v1.3.0 released with "separate incoming and outgoing metadata in context" (https://github.com/grpc/grpc-go/pull/1157)

IMO, grpc-go should be updated to 1.3.0 in which ever release Rudder changes are merged to ensure only necessary metadata is forwarded from Tiller backend to Rudder grpc service via context.

cc: @technosophos @nebril

[2017-04-28 22:55] technosophos commented on #2329
Did you try `helm ls --all`? The release record is written before the resources are created. But `helm ls` by default only shows releases that are in a success state.

[2017-04-28 22:57] technosophos commented on #2333
Check out the Kubernetes docs on Deployment objects. Deployments are rather particular about what you can upgrade and when.

[2017-04-28 22:59] technosophos commented on #2341
We'll need more information. It all depends on what state your resources got into. You can definitely get into a situation where you must rollback in order to upgrade.

[2017-04-28 23:08] technosophos commented on #2346
In this case, you must rollback before updating again in order to repair the broken selector.

[2017-04-28 23:09] technosophos commented on #2318
The information that Helm displays is passed from Kubernetes. So the additional information _can_ be added, but it will take some work.

[2017-04-28 23:11] technosophos commented on #2313
Closed in lieu of #2166, which is already on the roadmap.

[2017-04-28 23:11] #2313 closed

[2017-04-28 23:13] technosophos commented on #2089
See also #2166

We now have several related issues with `helm test` not returning the expected error code when tests fail. Can we get a read on how hard this will be to fix?

[2017-04-28 23:20] technosophos commented on #2311
This should be very easy to fix in the Dockerfile. We might be too late for 2.4, so I added to 2.5. But if we can, let's bump this up.

[2017-04-28 23:23] technosophos commented on #2308
The deletion logic _should_ get fixed by 2.4 simply because we switched to the newer Kubernetes library.

[2017-04-28 23:25] technosophos commented on #2306
Marking this as fixed since the 1.6 library was merged into Helm 2.4.

[2017-04-28 23:25] #2306 closed

[2017-04-28 23:28] technosophos commented on #2347
So is the desired solution to be able to supply values file (via `-f` or `--set`) to `helm lint`?

[2017-04-28 23:32] technosophos commented on #2349
Very likely, the solution we need to pursue is to use UIDs for all of the operations, which requires changing what is stored in the release object. That, in turn, will potentially break backward compatibility. So if anyone picks this up, _please be very careful_ to test backward compatibility for both larger charts (like Kolla) and for older release formats.

[2017-04-28 23:39] technosophos commented on #2025
So this may be an upstream issue rather than a Helm-specific one. Can we get a list of Kubernetes versions/distributions that this is showing up in?

[2017-04-28 23:40] technosophos commented on #2103
Fixed in #2194

[2017-04-28 23:40] #2103 closed

[2017-04-28 23:43] technosophos commented on #2167
@qwangrepos Is this one you'd like to take a look at?

[2017-04-29 01:03] adamreese opened #2356 "Upgrade circleci base image"
https://circleci.com/blog/ubuntu-12-04-precise-build-image-end-of-life-warning

[2017-04-29 03:03] TamalSaha commented on #2355
https://github.com/grpc/grpc-go/issues/1178 explains the api changes in grpc-go package.

[2017-04-29 03:13] yan234280533 commented on #2318
I am happy to do this work. It my pleasured to make helm software better.

[2017-04-29 05:49] redbaron commented on #2346
If one must do something not to break Helm, then Helm must refuse any other actions or do it itself. Silently accepting updates and reporting success is very confusing and dangerous.

In this case Helm should either do autorollback of any failed release or refuse future upgrades until operator does it manually

[2017-04-29 05:53] redbaron commented on #2341
Apply does 3-way merge between state of the resource, latest recorded apply and new desired state. It looks like apply logic in Helm is just a diff between latest state in the resource *in helm history* (even if it was failing) and a desired state in new release, am I right? If thats the case, it explains why https://github.com/kubernetes/helm/issues/2346 is happening

[2017-04-29 09:18] databus23 commented on #2347
@technosophos I think the simplest most straight forward solution at least for the next minor release would be to disable/noop the `required` function during linting.
This would allow users to use the `required` function and still use `helm lint` as they are used to.

@wilkers-steve I'm not sure I understand your point gotpl also supporting generation of values. Can you maybe give a concrete examp

[2017-04-29 17:31] owenmorgan opened #2357 "Helm is converting my git tag to exponential form"
Using the git hash in my charts, and passing it as a cli argument, its messing up my tag in the rendered template.

Helm v2.3.0

Deployment.yml
[code]

CLI
`helm upgrade --dry-run --debug --install --wait test --values values-UAT.yaml --set image.tag=9765483 .`

USER-SUPPLIED VALUES:
[code]

COMPUTED VALUES:
[code]

[2017-04-30 09:53] ahawkins commented on #2329
I did not try with `--all`. However that makes sense given the option flags.

[2017-04-30 09:53] #2329 closed

[2017-04-30 15:14] devops1337 commented on #2249
Previous instructions didn't work for me

[2017-04-30 15:19] devops1337 commented on #2277
@Draiken's instructions worked, but in my case I had to exit `kubectl proxy` first before it worked.

[2017-04-30 22:25] kolpav commented on #2277
@Draiken
It doesn't work for me even on new cluster and new Cloud shell.
[code]
Can somebody test it on a new cluster please?

[2017-04-30 23:30] chilicat opened #2360 "Cannot run Tiller - ca.crt: no such file or directory"
Cannot get tiller working. It requires a certificate. I can run the dashboard without issues (I think it uses the provided token in /var/run/secrets/kubernetes.io/serviceaccount).

I also tried to init helm with the tls options (--tiller-tls, --tiller-tls-cert, --tiller-tls-key, --tls-ca-cert ) using the same files as apiserver.

[code]

[code]

[2017-05-01 04:36] maksimru opened #2362 "helm init failed on windows (space in gcloud path)"
Helm: helm-v2.3.1-windows-amd64

C:\WINDOWS\system32>C:\Helm.exe init

$HELM_HOME has been configured at .helm.
Error: error installing: Post https://XX.XX.XX.XX/apis/extensions/v1beta1/namespaces/kube-system/deployments: error executing access token command "C:\\Users\\MainUser\\AppData\\Local\\Google\\Cloud SDK\\google-cloud-sdk\\bin\\gcloud.cmd": exec: "C:\\Users\\MainUser\\AppData\\Local\\Goog

[2017-05-01 08:25] rachlenko opened #2363 "helm api broken for kubernetes version > 1.6"
after upgrade to kubernetes 1.6 helm stop working.

I didn't find here workaround.
could you explain how to fix that?

https://kubernetes.io/docs/admin/authorization/rbac/#service-account-permissions
Kubernetes
Using RBAC Authorization
Production-Grade Container Orchestration

https://kubernetes.io/docs/admin/authorization/rbac/#service-account-permissions

[2017-05-01 12:54] cxbyte opened #2364 "ccbfkckicdicngdjgefehebvvlgldjkjhdfekuivlrgu"

[2017-05-01 12:55] #2364 closed

[2017-05-01 17:16] adamreese commented on #2356
builds are now on 14.04

[2017-05-01 17:16] #2356 closed

[2017-05-01 17:19] technosophos commented on #1947
Bumped to 2.5.0

[2017-05-01 18:26] michelleN commented on #2158
hey @ahawkins and @robertchoi8099 sorry ya'll are having these issues. Looking into them now. Thanks for your patience.

[2017-05-01 19:53] yuvipanda commented on #2357
When I ran into this (I was specifying values inside a yaml file), putting quotes around them solved it for me.

[2017-05-01 20:59] owenmorgan commented on #2357
thanks. tried quotes in the command line and still see the issue.

`helm upgrade --dry-run --debug --install --wait test --values values-UAT.yaml --set image.tag="9765483" .`

[code]

[2017-05-01 21:00] michelleN commented on #2363
Hey @rachlenko
You might want to take a look at #2224 to see if you're in the same boat. For those that have RBAC enabled by default, we are adding a flag to enable passing a service account to the tiller configuration. That PR is in review: #2365

[2017-05-01 22:17] vdice opened #2367 "DaemonSet patch failure when using updateStrategy"
#### Cluster and Helm info
[code]

### Background

In 1.6.x, DaemonSets get `updateStrategy` [support](https://kubernetes.io/docs/tasks/manage-daemon/update-daemon-set/).

### Issue

Although I am able to successfully install a chart using a DaemonSet resource with `updateStrategy` configured, I get the following error when attempting to upgrade a release:

[code]

Consider the following test reso

[2017-05-01 22:33] #2201 closed

[2017-05-02 03:16] thomastaylor312 commented on #2288
Ok, so I had this happen to me randomly while testing another PR. It looks like the issue is when [this line](https://github.com/kubernetes/helm/blob/4d939ec9beb73381dbb2646ab954ebf42df434a9/pkg/kube/wait.go#L94) returns `nil` because it can't find the new `ReplicaSet`. But I can't seem to duplicate it again.

@adamreese Do you have any idea what could cause `FindNewReplicaSet` to return `nil`? I

[2017-05-02 08:00] bcorijn commented on #2332
@michelleN: I understand they are used to rollback to a particular release and they can be removed by adding a `--purge` flag during delete. However this does nothing to stop the fact that in a busy cluster sooner or later there will be a huge number of old, useless resources, something Kubernetes often does not deal very well with in my experience.
In Kubernetes core the amount of old resources l

[2017-05-02 08:03] bcorijn commented on #2333
@michelleN: I am also running 2.3.1 tiller and client
@technosophos: I am familiar with Deployment objects, but adding a new environment variable and changing the container image tag should be two perfectly valid changes.

[2017-05-02 11:08] kiich commented on #2288
@thomastaylor312 Could it be a timing issue where k8s hasn't created the new replicaset yet? I can't reproduce it at all but I'm wondering whether we should change the error checking in ```wait.go``` to check for newReplicaSet as nil as well and return false?

[code]

[2017-05-02 12:38] databus23 commented on #2357
Duplicate of https://github.com/kubernetes/helm/issues/1707

[2017-05-02 13:01] apanousis opened #2368 "Setting values file while installing chart from repo"
I am wondering if _-f_ value supports files bundled within a tgz file. So am I capable to install a chart from my local repo `helm install local/test -f values-local.yaml` since values-local.yaml is part of test-1.0-SNAPSHOT.tgz file?

[2017-05-02 13:13] alexbrand commented on #2224
Does tiller need `cluster-admin` permissions? Does it makes sense to maintain/document a least-privileged role that is specific to tiller, which only gives access to the endpoints it needs?

[2017-05-02 13:19] seh commented on #2224
That depends wholly on what the charts you install try to create. If they create namespaces, _ClusterRoles_, and _ClusterRoleBindings_, then Tiller needs the "cluster-admin" role. If all it does is create, say, _ConfigMaps_ in an existing namespace, then it could get by with much less. You have to tune Tiller to what you want to do with Tiller, or, less fruitfully, vice versa.

[2017-05-02 13:29] alexbrand commented on #2224
Ah, yes. Thanks @seh!

It will really depend on the charts as they might be creating different objects.

[2017-05-02 15:25] databus23 commented on #2347
With helm 2.4.0 right around the door can we agree to fix this initially by disabling `required` during linting? Right now if you use `required` as intended linting is broken without a good workaround.

I can do the PR if desired.

[2017-05-02 16:02] thomastaylor312 commented on #2288
@kiich That was my current thinking. It may just be a race condition. The weird thing is that once I got the error, it stayed stuck that way until I added in a block to just skip it if the RS was `nil`

[2017-05-02 16:04] #2271 closed

[2017-05-02 16:08] #2146 closed

[2017-05-02 16:12] kiich commented on #2288
@thomastaylor312 Interesting how it stays stuck. Have you got a deployment you can share to reproduce this?

[2017-05-02 16:12] #2110 closed

[2017-05-02 16:12] michelleN commented on #2166
Hey @wilreichert and @xmik - ya'll are correct. The exit code should be non-zero on failures. I'm looking into this now. Thanks for your patience.

[2017-05-02 16:12] michelleN commented on #2089
Hey @Ladicle - good point. I'm looking into this now. Thanks!

[2017-05-02 17:01] thomastaylor312 commented on #2288
@kiich Haha, that is the problem. When I try to reproduce it, it doesn't happen

[2017-05-02 17:20] redbaron commented on #2288
@thomastaylor312 it is completely valid to have situation when deployment is created, but RS is not created yet. `Deployment` resource is handled by deployment controller, which takes time to react to resource update, therefore if you upload `Deployment.yaml` and immediately try to check for RS, then you might not find it. That is why `FindNewReplicaSet`  doesn't set `err` when returning `nil`.

C

[2017-05-02 17:26] thomastaylor312 commented on #2288
@redbaron totally understand 🙂  I was just wondering why the issue was happening every single time I try an `upgrade` because that seems like something that shouldn't happen every time

[2017-05-02 17:28] thomastaylor312 commented on #2288
@kiich I think I understand this enough to give a go ahead for merging the PR.

[2017-05-02 17:41] #2288 closed

[2017-05-02 17:42] kiich commented on #2288
@thomastaylor312 that's really strange that you see this when you use upgrade, as part of my testing initial PR for this feature I was using upgrade with --install all the time.

Or do you mean the stuck in error scenario I wonder?

[2017-05-02 17:52] technosophos commented on #2298
Bumping this to 2.5, since the 2.4 release is slated for today.

[2017-05-02 17:55] technosophos commented on #2224
@seh Any chance you could whip up a quick entry in the docs/install_faq.md` to summarize the RBAC advice from above?

Helm 2.4.0 will ship (later today) with the `helm init --service-account=ACCOUNT_NAME` flag, but we punted on defining a default SA/Role. That probably is something people ought to do on their own. Or at least that is our current operating assumption.

[2017-05-02 18:07] thomastaylor312 commented on #2288
@kiich I had the crash happen whenever I tried to upgrade, but just one time

[2017-05-02 19:17] #2158 closed

[2017-05-02 19:18] technosophos commented on #2224
The critical parts are done. Moving to 2.4.1 to remind myself about docs.

[2017-05-02 19:39] hexedpackets opened #2373 "Error updating pod specs with initContainers"
Helm version: v2.3.1
Kubernetes version: v1.6.1

I have a deployment which consists of one container and one two init containers. Originally I had the init containers as a `pod.beta.kubernetes.io/init-containers` annotation. After upgrading kubernetes to 1.6, I switched the chart to use `spec.initContainers` instead. Helm can create this fine, but attempting an upgrade that changes the init contai

[2017-05-02 21:14] adawolfs opened #2374 "Set GKE token expiry"
Hello
I'm creating an automated helm deploy service for GKE but I have issues with the access token because it expires every 30 minutes how can I set a larger expire time for it?

at this moment I'm running an kubectl cluster-info before run my helm commands to refresh the token, but this is an ugly way...

Regards

[2017-05-02 22:23] vdice commented on #2367
Related and perhaps a duplicate of https://github.com/kubernetes/helm/issues/2257

[2017-05-02 23:07] thomastaylor312 commented on #2113
Closed in #2300

[2017-05-02 23:07] #2113 closed

[2017-05-03 00:48] dkoshkin opened #2376 "V2.4.0 Not using k8s config"
Ran `./helm init`
[code]

Expected to run successfully, the cluster is not running locally but looks like Helm is not picking up the kube config file. The same cluster setup works fine with `v2.3.1`

[2017-05-03 01:22] rodcloutier commented on #2376
After a git bisect the following commit https://github.com/kubernetes/helm/commit/4d8f23e0c63aada4d7c57a25b4b384734bc3c930 introduced the break

[2017-05-03 01:42] yuvipanda commented on #2376
A strace tells me it does open and read $HOME/.kube/config, but still tries to hit localhost.

[2017-05-03 01:46] yuvipanda commented on #2376
This isn't just `helm init` - all helm commands fail with similar reason (even when there's a tiller running already)

[2017-05-03 02:17] rodcloutier commented on #2376
Changing the github.com/imdario/mergo dependency to the previous version fixes the problem.

https://github.com/imdario/mergo/commit/6633656539c1639d9d78127b7d47c622b5d7b6dc is fine
https://github.com/imdario/mergo/commit/3e95a51e0639b4cf372f2ccf74c86749d747fbdc is breaks

[2017-05-03 02:19] rodcloutier commented on #2376
Kubernetes is also using mergo Maybe a clash in versions?

[2017-05-03 02:23] rodcloutier commented on #2376
I suggest to pin the version of mergo to a known working version. I could have a PR quickly but regenerating the glide.lock also brings the latest version of Kubernetes. Would this be fine?

[2017-05-03 03:22] #2376 closed

[2017-05-03 06:52] ahawkins opened #2378 "Feature Request: helm delete --wait"
`helm install --wait` can wait for everything to be ready. Can a new `helm delete --wait` do something similar? I'm using `helm delete --purge` in my build pipeline followed by this script (to do something similar to `--wait`).

[code]

[2017-05-03 08:17] colemickens opened #2379 "Helm 2.4.0 seems to ignore my kubeconfig"
Despite `kubectl` working, `helm` seems to not be actually using the kubeconfig file. Every command results in, roughly:
[code]

I can even see with strace that it opens and reads the `kubeconfig` and then connects to localhost:8080.

When I downgraded to 2.3.1 this went away.

[2017-05-03 09:32] ReSearchITEng opened #2380 "install script: specify desired helm version"
Currently the script installing helm does not have any options.
In situations when the latest helm has issues (e.g. today I am not able to install 2.4.0 due to a bug in it), I would like to pass the version of an older *and working) helm version.

Note: this will also downgrade the existing helm, by specifying the desired version.
The default version remains "latest".

[2017-05-03 10:55] colachg commented on #2379
I meet this problem too.

[2017-05-03 11:46] aga20 commented on #2379
Same problem here :/

[2017-05-03 11:51] thomasmodeneis commented on #2379
same here.

[2017-05-03 12:23] discostur commented on #2379
same problem for me

[2017-05-03 13:33] dmelina commented on #2379
same problem

[2017-05-03 13:41] bacongobbler commented on #2379
Dupe of #2376?

[2017-05-03 13:45] dmelina commented on #2379
yes duplicate

[2017-05-03 15:04] michelleN commented on #2378
There needs to be some refactoring of the `--wait` logic before this can happen but yeah it makes sense.

[2017-05-03 15:05] michelleN commented on #2357
yeah that's strange. we'll need to look into this.

[2017-05-03 15:08] michelleN commented on #2360
@fibonacci1729 would you mind looking into this if you have a minute? It might be up your alley.

@chilicat 1. I love your username. 2. Where are you running kubernetes? minikube? gke? azure? aws? just curious.

[2017-05-03 15:16] michelleN commented on #2362
hey @maksimru what version of gcloud are you using?

This might be related to #2249

[2017-05-03 15:17] michelleN commented on #2367
@adamreese did you say you were working on this at standup? I can't recall.

[2017-05-03 15:20] chilicat commented on #2360
@michelleN thank you. Of course I run kubernetes on a self deployed vagrant box (3 nodes) with my own ansible scripts :)

[2017-05-03 15:25] colemickens commented on #2379
Closing since dupe of #2376.

[2017-05-03 15:26] michelleN commented on #2368
You'd have `helm fetch --untar` the chart before passing the file in on the command line

[2017-05-03 15:26] colemickens commented on #2379
On second thought, given the number of thumbs up, maybe we should leave this open until 2.4.1 is available.

[2017-05-03 15:30] michelleN commented on #2373
@hexedpackets helm 2.4.0+ supports kubernetes 1.6.0+
We'll be release 2.4.1 today. Would you mind trying with that version to see if you still have the issue?

cc/ @adamreese - keep me honest please

[2017-05-03 15:32] michelleN commented on #2374
This is probably related to #2249

[2017-05-03 15:45] michelleN commented on #2360
lol @chilicat
It looks like this might have gotten fixed in helm 2.3.2 with #2316. Would you mind checking to see if this works with helm 2.3.2? If not, I'm happy to look into it further.

[2017-05-03 16:42] hexedpackets commented on #2373
Just tried with 2.4.1 and it validated successfully, thanks!

[2017-05-03 16:42] #2373 closed

[2017-05-03 17:00] markpundsack opened #2383 "Allow to change reference name of dependency image"
When including images via `requirements.yaml`, it's sometimes useful to be able to specify another name as an alias for the dependent chart.

For example, for installing a complete GitLab bundle, we need two postgres databases. We currently can't do that within a single chart, because I can only refer to a single requirement of the same name. To work around it, I'd have to artificially create anot

[2017-05-03 17:48] maksimru commented on #2362
C:\WINDOWS\system32>gcloud -v
Google Cloud SDK 153.0.0
beta 2017.03.24
bq 2.0.24
core 2017.04.24
gcloud
gsutil 4.25
kubectl

C:\WINDOWS\system32>kubectl version
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.2", GitCommit:"477efc3cbe6a7effca06bd1452fa356e2201e1ee", GitTreeState:"clean", BuildDate:"2017-04-19T20:33:11Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"windows/amd

[2017-05-03 19:16] sushilkm opened #2384 "helm plugin install installs a default version in case requested version is not available"
Tried installing a plugin version which did not existed, ideally I would expect an error in that case that requested version does not exist, but to my surprise it goes ahead to install a default version.
While looking in the code, what I found was that in case it does not gets the requested version it treats as if the version was never requested.

[code]

[2017-05-03 19:50] sushilkm opened #2385 "helm plugin install silently updates the plugin, if it pre-existed"
if we run `helm plugin install` for the plugin which was already installed it gives an error for the symlink creation, but then there is a side effect that it updates the installed plugin code

I think there should be a separate option to `helm plugin update` plugin and `install` should not do anything except for erroring out in case a plugin already

[2017-05-04 03:49] helgi opened #2388 "Resource ownership between charts"
I have a scenario where 2 charts installed via helm both think they own identically named resource (f.ex. secret), which generally isn't a problem until you want to `helm delete` one of them.

Lets take a simple example: Chart `dingo` has a `Secret` named `db-access` and then later a new cool chart named `baby` is created, which also happens to have a `Secret` named `db-access`. Both are in the sa

[2017-05-04 04:05] helgi commented on #2388
[code]

[2017-05-04 04:50] adamreese commented on #2379
2.4.1 is released

[2017-05-04 04:50] #2379 closed

[2017-05-04 07:20] apanousis commented on #2368
That would work! Thanks.

[2017-05-04 07:20] #2368 closed

[2017-05-04 09:07] Miyurz commented on #2334
I agree that tiller should be HA by default with one tiller on every master.Since tillers store the config data in etcd, the tiller acting on a release could lock it up so that the next one doesn't write to the same ?

[2017-05-04 12:11] spiddy opened #2391 "Add CHART_NAME and CHART_VERSION labels to release storage"
Currently in the release storage the following labels are added:

[code]

It would be useful to get the information of the chart used in labels and it's version. I know this information is inside the `data.release` string but adding the info on labels can add the possibility to use them for filtering.

This comes as a need from Kubernetic since it uses the ConfigMaps for retrieving information abo

[2017-05-04 14:15] sheerun commented on #2083
I really like encrypting whole release, this solves another problem with deployments: you need to create separate secret for env variables for each release. If you don't do that rollbacks are not possible as they are not a part of replicaset.

If I could add env variables to deployments, without going through secrets, rollbacks are no-brainer, as they are created / removed along replicasets that d

[2017-05-04 15:16] vdice opened #2393 "helm lint error around `.Capabilities.KubeVersion`"
### Issue

`helm lint` gives the following error on a seemingly appropriate use of checking `.Capabilities.KubeVersion.Minor`:

[code]

### Details

The [chart](https://github.com/kubernetes/charts/pull/982) installs successfully and the template logic is evaluated as expected: yaml is not added if `KubeVersion.Minor` is less than 6, yaml is added if greater than or equal to 6.

The relevant templ

[2017-05-04 15:39] wieslaw-gat commented on #2357
Also experiencing this & no workaround from the related issues seems to work.

[2017-05-04 18:31] weitzj commented on #2224
So. Right now I am binding `cluster-admin` to a serviceAccount: `helm`. Should be improved, but here you go:

[code]

[code]

[2017-05-04 19:50] mattfarina opened #2396 "Failed to install vendor dependencies on Windows"
I'm unable to setup a windows environment to develop and build helm. When `glide install --strip-vendor` (which is in the ci.sh script for mac/nix based systems) doesn't run on Windows.

The error is:
[code]

Docker distribution has a closed issue for this problem at https://github.com/docker/distribution/issues/1690. The commit that's locked is prior to the fix going in to Docker distribution.

[2017-05-04 19:59] mattfarina commented on #2396
This errant revision, `cd27f179f2c10c5d300e6d09025b538c475b0d51`, is what Kubernetes (tip of master right now) references. That's how it ends up in the lock file.

[2017-05-04 20:13] atombender opened #2397 "Upgrade fails with "already exists""
This happens occasionally:

[code]

Log:

[code]

We don't use any hooks.

Helm 2.3.0, Kubernetes 1.5.6.

[2017-05-04 20:21] atombender commented on #1844
I haven't read all the comments, but it sounds like something we are seeing this with 2.3.0.

The deployment itself doesn't need to fail; we get this if some pods fail with `ImagePullBackoff` and we then try to do another deployment right away. In our case, the problem is that a _single annotation_ isn't applied during the upgrade. So here's what start with:

[code]

Then we try to do another depl

[2017-05-04 20:43] sushilkm opened #2398 "helm plugin remove does not works as expected"
Found that helm plugin remove has been coded to remove multiple plugins and the help also says so, but when executed with multiple arguments, it errors out saying that only one argument is supported.

[code]

Also if remove is executed with a non-existent plugin it does not fails.
[code]

[2017-05-04 20:53] szibis commented on #2083
I like this concept:

We just release helm-secrets plugin https://github.com/kubernetes/helm/pull/2389 (https://github.com/futuresimple/helm-secrets) with this https://github.com/kubernetes/helm/issues/2134 and some deeper integration into install/upgrade/rollback commands in Helm (currently plugins cannot extend helm built-in commands), we can build powerful on-the-fly secrets management tool wit

[2017-05-04 21:16] omkensey opened #2399 "Feature request: Allow overriding untemplated values in templates"
It would be nice if I could override values in templates even if they're not properly templated, e.g. given this:

templates/myservice.yaml:
[code]

I could do something like this:

`$ helm install stable/myapp --dynamic-value Values.Local.servicePort=myservice.yaml:spec.ports.myapp-frontend.port --set Values.Local.servicePort=81`

(N.B. Kubernetes doesn't require names if a service only has one p

[2017-05-04 21:54] redbaron commented on #1580
just curious, why you suggested for "required" to be late bound as "include" ?

[2017-05-05 05:47] olalonde opened #2401 "Data frame received logs?"
Getting weird logs on all helm commands:

[code]

[2017-05-05 05:48] krancour commented on #2388
This seems to me like a glaring deficiency in the charts themselves-- both of them. Ideally, all resources in a chart are prefixed with the chart name _and_ release name specifically to avoid these sort of naming conflicts in the event that two releases share a namespace.

[2017-05-05 05:52] krancour commented on #2388
In fact, when you `helm new <name>`, the scaffolding for your new chart even includes a template partial that's intended to be used... and re-used... and re-used ad-nauseum throughout the chart to make prefixing resource names with chart name and release name quasi-easy.

[2017-05-05 11:09] tiukhtinvladimir opened #2403 "Tiller tries to access API through TLS even if not configured"
Hello!

I am observing: "Cannot initialize Kubernetes connection: Get https://172.16.21.1:8080/api: http: server gave HTTP response to HTTPS client"

My env:
KUBERNETES_PORT=tcp://172.16.21.1:8080
KUBERNETES_SERVICE_PORT=8080
KUBERNETES_DASHBOARD_PORT=tcp://172.19.16.87:80
KUBERNETES_DASHBOARD_SERVICE_PORT=80
TILLER_DEPLOY_SERVICE_HOST=172.23.28.188
HOSTNAME=tiller-deploy-2264201710-9xgdw
SHLVL=1

[2017-05-05 11:50] nickjackson opened #2404 "Add sanity check to `helm upgrade` to check chart name matches release"
Unless I am mistaken, it appears to be possible to `helm upgrade` an existing release with **any** chart and version. This seems a bit dangerous to me.

Would it be possible to add a flag to `helm upgrade` to act as a sanity check, only allowing the upgrade to proceed if the chart name is the same and the chart version has been bumped?

[2017-05-05 14:51] jchauncey commented on #2388
The problem with that thought though is that there is no real way to enforce that model against the chart. So if we allow developers to create charts that are used to deploy their applications there are bound to be naming collisions at some point. I think having a better linting system to enforce rules would be a good first step.

see #1495

[2017-05-05 15:08] helgi commented on #2388
@krancour when you use words like *ideally* and *intended* and that using chart name and release is a recommendation at the best of times, not a requirement or enforced, then this is not a deficiency in the chart :)

Now, my question was around expected behaviour - Is the answer here that unless I use the recommended partials and naming conventions then Helm will not able to understand it has more

[2017-05-05 15:10] libesz commented on #2141
Coming back to this topic now, after the downloaders are pluggable.
Would you accept a PR which only solves the first bullet of @tonyaw use-case?
My thinking is that if I want to compose an alternative tiller client (not necessarily in helm plugin, but with helm code pkg import...), let's say, which want to use non-http backend, than from chart mgmt PoV I have to be able to:
* Download and dep-bui

[2017-05-05 15:48] krancour commented on #2388
@helgi no need to convince me. I wasn't trying to convince you, per se, that the tooling couldn't / shouldn't be better in this regard, but only that there _are_ some established best practices that perhaps were not observed here. The Go programming language isn't at fault for nil pointer dereferences. Your code is. Likewise, Helm charts can be poorly written in a way that will expose undesired be

[2017-05-05 16:09] bacongobbler commented on #2315
I think this ticket can be closed now.

[2017-05-05 22:55] vdice opened #2407 "Cannot install/fetch latest chart if 'pre-release' version"
Affected helm version: `v2.4.1`

### Issue

`helm [install | fetch] <chart repo>/<chart>` fails if latest `<chart>` in `<chart repo>` has a  "pre-release" version -- that is, contains additional values beyond, say `v0.1.0`, such as `v0.1.0-alpha.1` or `v0.1.0-dev-sha.abc1234`.

### Details

Working in `v2.3.1`:
[code]

Not working in `v2.4.1`:

[code]

However, if the latest chart in the repo has

[2017-05-05 23:09] technosophos commented on #2407
The reason is that Traefik's version is, according to SemVer, a pre-release. In Helm 2.4.1, we decided to not install pre-releases unless explicitly given a version. #2279

The work-around is to run something that allows pre-releases to satisfy the range criteria: `helm fetch stable/traefik --debug --version=">1.0.0-a"`

@vdice suggested to me that we maybe add a flag to allow unstable packages to

[2017-05-05 23:15] vdice commented on #2407
Indeed, one use case of ours is to devote entire chart repos to _only_ 'unstable/dev/pre-release' versioned charts.  This has the benefit of not 'crowding' our 'official' chart repos that contain official versions only.

It would be handy to maintain the ability to pull the latest chart from said repo without specifying any version or version range (as could be done in helm pre-2.4.x): `helm insta

[2017-05-06 05:35] thomastaylor312 commented on #2404
This sounds like a great feature idea.

[2017-05-06 05:37] thomastaylor312 commented on #2403
This looks like there might be a problem even talking to Kubernetes. Do you have the tiller logs for when this happened?

[2017-05-06 05:39] thomastaylor312 commented on #2401
@olalonde It looks like you may have an env variable like `DEBUG` set somewhere that the kubernetes code is picking up on. Anything set in your env that looks suspicious?

[2017-05-06 05:43] thomastaylor312 commented on #2399
@omkensey Thank you for the feature request. Ideally the proper way to do this is to templatize things. Could you explain a current use case to clarify this some more?

@technosophos This feels like something that may have been discussed before (whether on or off record). Do you recall anything about this?

[2017-05-06 05:44] thomastaylor312 commented on #2399
I am labeling this as question/support until we flesh it out some more

[2017-05-06 05:47] thomastaylor312 commented on #2397
Thank you for providing the logs on this. A few questions. How "occasionally" does this occur? Have you tried with helm 2.3.1 or 2.4.1 to see if it solves the problem?

[2017-05-06 05:49] thomastaylor312 commented on #2396
Thanks for catching this @mattfarina and reporting it upstream. I am going to keep this open so we can track. Can you update this issue if the k8s issue gets resolved?

[2017-05-06 05:49] atombender commented on #2397
It's only happened 2 times out of about 51 times so far, and it's not consistently reproducible, although I could of course write a stress-test script.

Only tried 2.3.0. Just installed 2.4.1, will let you know if it happens again.

[2017-05-06 05:53] thomastaylor312 commented on #2391
@spiddy Feel free to open the PR if you already have one! It'll make the discussion easier. So are you saying the only thing that would be added is the chart version? I know the chart name is already in the release labels as you showed.

[2017-05-06 06:01] thomastaylor312 commented on #2385
I am going to tag this as a bug so it matches with the other things that are all being fixed in #2400

[2017-05-06 06:02] thomastaylor312 commented on #2383
This would be a very helpful feature. Thank you for submitting the request!

[2017-05-06 07:10] dictcp opened #2409 ""Error: context deadline exceeded" on GKE"
I tried to install latest Helm (v2.4.1) on my fresh created GKE cluster (with k8s 1.5.7). and it give out error whenever I install any chart. Attached are the logging of my previous command execution.

[code]

[2017-05-06 07:43] tiukhtinvladimir commented on #2403
@thomastaylor312 thank you for your response. How to get logs? There is no --debug flag and

"Cannot initialize Kubernetes connection: Get https://172.16.21.1:8080/api: http: server gave HTTP response to HTTPS client"

is all what I get. But, at the same time I tried do 'strace /tiller' and saw, that it is reading /tmp/.kube/config file, but for some reason doesn't take configuration from it and u

[2017-05-06 20:09] thomastaylor312 commented on #2403
What command are you running when you get this?

As for getting logs, you can them by finding the tiller pod with `kubectl get pods --namespace kube-system` and then use `kubectl logs --namespace kube-system <tiller-pod-name>` to get the logs

[2017-05-06 20:50] thomastaylor312 commented on #2409
Could you get us the tiller logs for when this happened?

[2017-05-06 23:08] olalonde commented on #2401
It stopped doing it now, not sure why though. I occasionally have `DEBUG` set for use with https://github.com/visionmedia/debug

[2017-05-06 23:12] olalonde commented on #2401
Oh yeah, seems it was because of `DEBUG`:

[code]

[2017-05-06 23:12] #2401 closed

[2017-05-07 03:45] michelleN commented on #2340
hey @ahawkins - I tried to re-creating this scenario and got:
[code]

Could you verify this is still a problem for you and if so, would you mind providing more details on how to reproduce it?
Thank you.

[2017-05-07 03:49] michelleN commented on #2330
@ahawkins Could you verify this is still an issue for you?
I also saw in #2340 that you were scripting some stuff around `helm test`. Could you verify that this is still an issue and give me the output by isolating just the `helm test` command's output?

Thank you.

[2017-05-07 04:03] ahawkins commented on #2340
I'm not sure how to reproduce it. My best guest is to create a pod that
cannot move out of the `Pending` state. Perhaps create a test pod that
uses defines a node selector that does not match any nodes in the
cluster. I guessing this happened when the Docker daemon on one of my
cluster nodes locked up breaking new pods/containers. That is difficult
to reproduce for sure!

On Sun, May 7, 2017, at 0

[2017-05-07 04:05] ahawkins commented on #2330
I think it's safe enough to close this issue. I've run hundreds of
helm test commands at this point and not encountered the same failure.
I'll chock this one up to a transient error in tiller/kube-
proxy/Kubernetes itself.

On Sun, May 7, 2017, at 09:19 AM, Michelle Noorali wrote:

Links:

  1. https://github.com/ahawkins
  2. https://github.com/kubernetes/helm/issues/2340
  3. https://github.com/

[2017-05-07 11:30] tiukhtinvladimir commented on #2403
@thomastaylor312 I am running ```helm init``` and  then, yes, I do ```kubectl logs deployment/tiller-deploy --namespace kube-system``` and getting this message. I then went further and implement SSL on a kubernetes API side and predictebly it started work. The question now is why tiller use https by default instead of pure http? Next question is why it ignores /tmp/.kube/config and use environmet

[2017-05-07 20:43] atombender opened #2412 "Upgrade fails with timeout (after upgrading to 2.4.1), then gets stuck"
Doing `helm install --namespace=staging --upgrade --timeout 300 --wait picaxe-staging .` now fails with timeout after upgrading from 2.3.0 to 2.4.1. The resources are updated, pods start just fine, etc., but then Helm times out.

If I try to do another upgrade, nothing even happens. It logs "Doing get for ..." and then nothing more. No resources are applied in Kubernetes. The client is stuck waiti

[2017-05-07 20:53] atombender commented on #2388
I think this is major deficiency in Helm, because it means there's no way to ensure that charts are fully encapsulated. Helm aims to be a high-level tool (treat charts as atomic units), but approaches the problem with a fairly low-level mechanism (Kubernetes resources).

We ended up with two tactics to enforce uniqueness. First, we require that all of ours apps accept a `name` template variable an

[2017-05-07 22:36] michelleN commented on #2330
Alrighty sounds good. Feel free to open another if you see something again.

[2017-05-07 22:36] #2330 closed

[2017-05-08 10:25] c-knowles opened #2413 "upgrade stable/traefik not found, while search shows it exists"
After upgrading from Helm 2.3.0 to 2.4.1 we seem to have some problems ensuring stable charts are up to date. I've been trying to spot any other significant changes in our CI flow but haven't found anything apart from a Helm upgrade.

Trying to upgrade/install from stable:
[code]

The result is `file "stable/traefik" not found`.

Tiller seems to be running fine and I've also tried deleting `~/.hel

[2017-05-08 10:32] c-knowles commented on #2413
I should also point out that in this case helm has been initialised via `helm init --client-only`.

[2017-05-08 12:57] xmik commented on #1058
This happened to me using:
[code]
I had a Chart with 1 Container and had its resources (cpu, memory) set. I always install and upgrade using the same command:
[code]
When I changed the resources from:
[code]
to
[code]
(and didn't make any other change to the Chart) helm succeeded, container was recreated, but its resources were unchanged.

I tested with:
[code]

[2017-05-08 14:53] omkensey commented on #2399
I'm thinking of a case where a chart exists, but doesn't template something that a user needs templated.  Ideally that results in a PR from the user, but a) not everybody has the ability or permission to do that, b) until that PR is acted on and hopefully merged, they still have to get work done -- which means either using the chart as-is and writing additional customization outside it, or alterin

[2017-05-08 17:49] kujenga commented on #2224
Here's a non-interactive version of the temporary fix described in the first comment here, using patch instead of edit:

[code]

[2017-05-08 18:09] chilicat commented on #2360
Still -  same issue.
[code]

Is it possible that tiller uses the token instead of the certificates?

[2017-05-08 19:03] gdmello opened #2414 "`Helm create` (helm 2.3.1) kubectl (1.6.1) doesn't create chart directory"
New to K8s/Helm. I've got a local k8s cluster and wanted to deploy a test image using helm. I intended to create a helm chart for the deployment but so far it doesn't seem to create a chart directory for me.

[code]
Version Info-
[code]
and
[code]

[code]

[2017-05-08 20:41] gdmello commented on #2414
Update-
Upgrading helm to 2.4.1 on the client side, resolved this issue for me.
[code]

[2017-05-08 20:41] #2414 closed

[2017-05-09 01:46] megalord commented on #1331
For what it's worth, I've been using helm to deploy resources to openshift for a few weeks now.  It isn't pretty, but you can intercept the outbound http requests from tiller to the kubernetes api by overriding the api domain using environment variables (`KUBERNETES_SERVICE_HOST` and `KUBERNETES_SERVICE_PORT`).  With that in place, it's just a matter of being able to decide which resources need to

[2017-05-09 04:41] thomastaylor312 commented on #2384
Closed in #2400

[2017-05-09 04:41] #2384 closed

[2017-05-09 04:41] thomastaylor312 commented on #2385
Closed in #2400

[2017-05-09 04:41] #2385 closed

[2017-05-09 04:41] thomastaylor312 commented on #2398
Closed in #2400

[2017-05-09 04:41] #2398 closed

[2017-05-09 05:41] c-knowles commented on #2413
I believe also reported as https://github.com/kubernetes/charts/issues/999 and resolved by https://github.com/kubernetes/helm/pull/2408

[2017-05-09 05:51] c-knowles commented on #2413
Would it be possible to clarify this in the 2.4.x changelog as a breaking change?

[2017-05-09 06:26] c-knowles commented on #2413
I'm trying the workaround but it seems there's another issue, at this stage I'm not sure if it's chart specific or not. An upgrade with `--wait` times out but I can access Traefik in this case, it's running ok.

[code]

[2017-05-09 11:16] hvalle commented on #2412
My temporary solution is to remove the `--wait` parameter.

[2017-05-09 18:38] berndtj opened #2417 "upgrade --install fails if release is not found"
As I understand upgrade should create the release if the --install flag is present and the release is not found.  Instead I get:

[code]

[2017-05-09 21:26] Cryptophobia opened #2419 "helm cannot connect to tiller Error: forwarding ports:"
Experiencing the following error when we try any helm command ` Error: forwarding ports: error upgrading connection: Upgrade request required`

When running the following command, get the following output:
[code]

The kubernetes version and kubectl clients are:

[code]

It seems from every issue that can be followed is that the tiller service is not forwarded properly behind the aws loadbalancer o

[2017-05-09 21:31] bacongobbler commented on #2419
related issue: https://github.com/kubernetes/helm/issues/1505

[2017-05-09 21:46] Cryptophobia commented on #2419
@bacongobbler : Just tried `v2.0.0-beta.2` same issue is persisting.

[2017-05-09 21:56] bacongobbler commented on #2419
on v2.4.1, can you please post the output of `kubectl -n kube-system get pods`? I wonder if it's because Helm is incompatible with v1.7.0-alpha.3 considering that there have been API incompatibility issues before. v2.4.1 should work just fine on kubernetes v1.6, so I'd try that as well.

[2017-05-09 22:14] seanknox opened #2420 "Support Tiller installs in clusters with Windows nodes"
Now that nodes can run Windows or Linux, we can no longer assume Tiller will be scheduled to a Linux node.

On such clusters, `helm init` often fails when the Tiller pod is scheduled to a Windows node. Perhaps we could hardcode a node selector with `beta.kubernetes.io/os=linux` as an easy workaround?

[2017-05-09 23:11] SlickNik commented on #2404
@thomastaylor312 @nickjackson Looking at a fix for this -- feel free to assign it to me when you get a chance. Thanks!

[2017-05-09 23:49] thomastaylor312 commented on #2412
It is marked as failed because all resources didn't get to a ready state (e.g. the `--wait` flag) before the timeout.

[2017-05-09 23:55] thomastaylor312 commented on #2413
@c-knowles Is there a pod that is not all the way up and running or a service that doesn't have an IP address? That is generally why a release fails because that resource is not technically "ready"

[2017-05-09 23:55] atombender commented on #2412
According to Kubernetes, they did get to the ready state. Rolled back to 2.3.1 and it works fine again, no other changes.

[2017-05-09 23:56] thomastaylor312 commented on #2417
@berndtj You are missing a positional argument here. You need to do `helm upgrade <chart_name> <chart_directory> <other_flags>`. Let me know if that works.

[2017-05-09 23:57] thomastaylor312 commented on #2420
Good catch @seanknox. I'll label this as a bug and see if we can get in a temporary fix and figure out a longer term one as well.

[2017-05-10 00:09] thomastaylor312 commented on #2412
@atombender Any way you can share the chart you are working with? I want to see if it is an edge case happening in the code

[2017-05-10 00:10] thomastaylor312 commented on #2404
@SlickNik I can't assign it to you because you didn't create the issue, so I am assigning it to me so others don't work on it. Thank you for taking this on!

[2017-05-10 00:13] thomastaylor312 commented on #2403
@tiukhtinvladimir So by default Kubernetes uses https. The proxy is from a kubernetes library function that should honor all variables. As for why it is ignoring your config file, it looks like you haven't specified a `KUBECONFIG` environment variable. By default, it looks for the config at `~/.kube/config`. Try setting that env variable and give it a try

[2017-05-10 00:25] berndtj commented on #2417
It looks correct to me (though my example isn't good as the chart name is actually invalid).

```helm upgrade berndtj/django-ex/master2 django-ex-0.1.0-build.001.tgz --install --reset-values --set image.repository=367199020685.dkr.ecr.us-west-2.amazonaws.com/photon/django-ex --set image.tag=21```

chart name -> berndtj/django-ex/master2
chart directory -> django-ex-0.1.0-build.001.tgz
flags -> --i

[2017-05-10 01:55] c-knowles commented on #2413
@thomastaylor312 not that I've found. After each of the updates I tried I did have a look at the pods to see why it was waiting for so long since with the older version of Helm these update are generally taking 10-20 seconds. I only found health pods/services. Even a no-op update to the exact same chart version and config waits until timeout with Helm 2.4.1 (but successfully runs through with 2.3.

[2017-05-10 02:42] yan234280533 commented on #2404
Surely, it a great feature idea.   In our usage scenario, We forbid the user to update the release when the name of the chart name is not the same.  Look forward to use this feature.

[2017-05-10 04:10] xcompass commented on #2062
We ran into the exact same issue. Usually the chart name is your app name. Because the release name has to be unique and if you are deploying multiple apps in the cluster, you will almost need to include the app name in the release name, e.g. myapp-dev, myapp-v1. However nearly all of the official stable charts are using `.Release.Name $name` as the full name (I assume this is the best practice fo

[2017-05-10 04:11] Cryptophobia commented on #2419
@bacongobbler , earlier we tried the combination of the latest helm v2.4.1 with kubernetes v1.6 and it did not work. Same errors messages. That's why we upgraded to v1.7.0-alpha.3 so that maybe we will take advantage of a new feature added to kubernetes - http2 enabled nginx config because it looked like the helm client was forcing http2 instead of http request to the tiller service...

[2017-05-10 07:25] sky-big opened #2422 "kubernetes helm start failed"
Hi,

I am trying on Ubuntu16.04 Kubernetes cluster install helm,but falied. Cluster started on two VM Ubuntu16.04.

kubernetes version:
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.2", GitCommit:"477efc3cbe6a7effca06bd1452fa356e2201e1ee", GitTreeState:"clean", BuildDate:"2017-04-19T20:33:11Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: versio

[2017-05-10 07:43] simonswine commented on #2412
I also see this problem happening after upgrading to 2.4.1.

I wasn't able to reproduce with a default (`helm create`) chart. Will continue to try. But it worked fine with 2.3.1

Tiller:

[code]

Helm:

[code]

[2017-05-10 13:58] Cryptophobia commented on #2419
@bacongobbler , we really think this is a loadbalancer issue and kubernetes and tiller-deploy cannot port forward behind the AWS loadbalancer.

[2017-05-10 14:19] bcorijn commented on #2341
@technosophos is there any plans to support a three-way merge like apply? I am in another situation where helm is saying there's no changes to my service and doesn't do any deploy, while the manifest and the actual situation are different.
The only solution here is to figure out when it happened (I don't recall any failed deploys), roll-back (and thus possibly also roll-back my deployment& pods to

[2017-05-10 15:00] redbaron commented on #2341
@bcorijn I am working on a patch which somewhat fixes problem by using latest successful deploy as a base for a patch, rather than latest deploy like it is doing now. I'll post it here as a PR for a feedback

[2017-05-10 16:35] unguiculus commented on #2412
I updated to 2.4.1 today and kept getting the same problem. I had to repeatedly kill Tiller to make it work again. Seems to be related to `--wait`.

[2017-05-10 20:43] michelleN commented on #2340
hm. I tried that and I'm still getting this:
[code]

[2017-05-10 20:46] eduardobaitello opened #2426 "Helm upgrade with --wait is waiting even when all resources are ready"
I just installed a new release, then I upgraded the `image` tag for one of my Deployments inside a chart.
After that, I executed a `helm upgrade mychart myrelease --wait --timeout 9999`. Tiller logs only detected changes in the above described Deployment, creating a new pod and ReplicaSet with the new image. Then, the upgrade process get stuck in "waiting for resources", even when all my pods are

[2017-05-10 20:56] eduardobaitello commented on #2412
@atombender see this issue that I just opened, please #2426

If you have Deployments being upgraded in your release, check if there is any old ReplicaSets, and try to manually delete then while the Tiller is "waiting for resources". Maybe we are with the same issue...

[2017-05-10 21:31] blakebarnett commented on #2426
Seeing this also, k8s 1.6.2, helm 2.4.1

[2017-05-10 23:36] fibonacci1729 commented on #2360
The helm init tls options are specifically to secure communication between the helm client and tiller server, so I don't think that's the issue here.

From what I can tell, the error you are seeing is because the Kubernetes client (in tiller) fails to talk to the k8s api surface over https because of a missing certificate. I'll take a closer look.

[2017-05-11 03:19] thomastaylor312 commented on #2426
@eduardobaitello Thank you for all of the details. I'll look to see what is happening

[2017-05-11 03:22] thomastaylor312 commented on #2413
@c-knowles This may possibly be related to #2426. I am looking into that issue now and seeing if I can patch it

[2017-05-11 03:27] thomastaylor312 commented on #2417
@berndtj Actually I just had this happen to me...trying to figure out what caused it

[2017-05-11 03:30] thomastaylor312 commented on #2417
And now I can't seem to duplicate it. What version of helm are you using @berndtj?

[2017-05-11 05:20] c-knowles commented on #2413
@thomastaylor312 yeah it looks like the same issue. I can retest when there is a patch.

[2017-05-11 05:24] thomastaylor312 commented on #2426
@eduardobaitello Can you give #2430 a try if you have some time and see if it solves the issue for you?

[2017-05-11 05:25] thomastaylor312 commented on #2413
@c-knowles I just pushed up #2430. Please let me know if it works or if you have any other feedback

[2017-05-11 05:26] thomastaylor312 commented on #2413
Marking as a duplicate, but leaving open until the issue is solved.

[2017-05-11 08:40] Lookyan commented on #2182
Now it works properly. Thank you!

[2017-05-11 08:40] #2182 closed

[2017-05-11 10:05] gergan commented on #1331
@megalord  could you provide more details on your solution?

[2017-05-11 13:09] tcolgate commented on #1534
`-o go-template` from kubectl would be handy too (but json is probably the minimum)

[2017-05-11 14:05] eduardobaitello commented on #2426
@thomastaylor312, thanks for the quick help!
I don't have expertise in Go lang, so a I need to wait a patch release with the fix :(
Thanks again!

[2017-05-11 14:47] Cryptophobia commented on #2419
The PR in kubernetes witht he http2 enabled nginx config is this one: https://github.com/kubernetes/kubernetes/pull/43625

[2017-05-11 15:17] rsanders commented on #1844
We saw an issue today similar to the one seen by skevy in https://github.com/kubernetes/helm/issues/1844#issuecomment-293452927.  We upgraded a release after accidentally changing a resource limit to '', which does not pass k8s validation.  I see an error in the Tiller logs (below), but I don't know whether the user saw it.

The `helm status` output looked good, and the new Deployment, which was s

[2017-05-11 16:18] berndtj commented on #2417
[code]

[2017-05-11 16:37] berndtj opened #2431 "Proposal: chart values schema"
The chart values are pretty free-form, which is nice as it presents a very low barrier to entry.  However, it would be nice if chart authors had a means to validate the values against a schema.  This proposal is to introduce an optional values.schema file into the charts.  The schema could be jsonschema or swagger/openapi (thought I think the former is a more natural fit).

I think this should be

[2017-05-11 16:53] jrnt30 commented on #2346
This is especially painful when using stateful sets where there were changes to labels or something along those lines.

We first attempted to deploy the new version of the chart, which failed because we had made changes to something other than the replicas in the stateful set.  To get around this, we deleted the stateful set and then redeployed, but realized our changes were not present (because o

[2017-05-11 21:34] thomastaylor312 commented on #2413
This was fixed in #2430 which will be shipped as 2.4.2 in the next few days

[2017-05-11 21:34] #2413 closed

[2017-05-11 23:27] olalonde opened #2433 "Helm doesn't update secrets?"
I have an `infra` chart with following `requirements.yaml`:

*infra/requirements.yaml*
[code]

`global-secrets` contains a bunch of secrets, for example:

*global-secrets/templates/secrets.yaml*
[code]

When I initially installed the chart, the secrets were correctly created. However, after changing the values of some of my secret and upgrading, the old secrets aren't replaced and aren't listed un

[2017-05-11 23:59] olalonde commented on #2433
Ah, looks like it's because hook resources are not managed by Helm: https://github.com/kubernetes/helm/blob/master/docs/charts_hooks.md#hook-resources-are-unmanaged

[2017-05-11 23:59] #2433 closed

[2017-05-12 06:37] olalonde opened #2434 "wrong type for value expected string; got float64"
I'm using `--set` to set `facebook.appId` when installing/upgrading:

[code]

I am getting this error:

[code]

Here's the template code that uses the value:

[code]

I'm guessing that Helm guesses that `1333333337` in `facebook.appId=1333333337` is a float64 whereas I need a way to coerce it to a string so that it's accepted by base64. Is that possible? I tried `--set "facebook.appId=\"1333333337

[2017-05-12 06:45] olalonde commented on #2434
Looks like duplicate of https://github.com/kubernetes/helm/issues/1707

[2017-05-12 09:58] willise commented on #1821
Have the save problem as you.  The issue's description is just identical. I have strugled serveral days on this problem :-(.

`(kube-master) ~ # helm version`
`Client: &version.Version{SemVer:"v2.4.1", GitCommit:"46d9ea82e2c925186e1fc620a8320ce1314cbb02", GitTreeState:"clean"}
Error: cannot connect to Tiller
`

`(kube-master) ~ # kc version`
`Client Version: version.Info{Major:"1", Minor:"6", GitV

[2017-05-12 11:01] chrisLeeTW opened #2435 "Question : customize upgrade/rollback strategy on k8s possible ?"
currently it will cause disconnect when helm do upgrade / rollback.

We need a really non-stop deployment strategy.

So could we accomplish that, maybe via plugins ?

BR

Chris

[2017-05-12 14:00] erikbgithub opened #2436 "Where's the debugging output?"
What should anybody be doing with this output?

[code]

Which file is it parsing? There are like 8 services in this chart. What exactly is he missing from his ports definition? Where's the f'n stacktrace? What should anybody do with this output?

[2017-05-12 14:10] wjkohnen commented on #2367
This issues is totally not (sic!) related nor a duplicate of #2257 and the notion that it was a duplicate is frustratingly a proof that the nature, importance and potential hazard of #2257 is still completely misunderstood. :(

[2017-05-12 14:24] wjkohnen opened #2437 "Helm is inconsistent about failed deployments"
This is basically a generalized version of the _bug_ #2257, possibly other filed issues and a failure mode that I've encountered today.

It seems that helm does not care if _for some unknown class of reasons_ a deployment fails. Helm will report the failure but then happily false-successfully re-deploy the same chart, without changing the actual state but registering a new state in a history confi

[2017-05-12 16:58] willise commented on #2363
Hi, I have installed helm recently and also encountered a problem as #1821.
I want to know if k8s's version is incompatible with helm or something else. Thanks.@michelleN.

[2017-05-12 18:36] technosophos commented on #1821
@willise Can you please dump the `kubectl describe` info for your Tiller? What does the output of `helm init` say?

[2017-05-12 18:38] technosophos commented on #2363
@willise 2.4.1 is compatible with Kubernetes 1.6 and previous. We have no reason to believe that it will be incompatible with 1.7.

[2017-05-12 18:41] technosophos commented on #2436
Did you run `helm lint` or try the `helm template` plugin?

[2017-05-12 18:42] technosophos commented on #2435
You can integrate a custom Rudder (Tiller plugin) to do that once 2.5.0 is released.

/cc @nebril

[2017-05-12 18:44] technosophos commented on #2431
I would love to see that functionality. We tried this with YAML annotations in the past, but that did not work. An optional JSON Schema, etc, might be nice.

[2017-05-12 18:47] technosophos commented on #2422
Kubernetes is misconfigured. Please read through the install.md and install_faq.md documents. I think you might find the answer in there.

[2017-05-12 18:49] technosophos commented on #2393
I suspect that Lint does not have an appropriately faked Kubernetes version field.

[2017-05-12 18:51] technosophos commented on #2397
That typically happens if the release name is already present and being used. Do you have the `--install` flag set? Does the error only happen after an upgrade fails (or when the last upgrade is still in progres)?

[2017-05-12 18:53] technosophos commented on #2391
I think release name is in the labels. We'd have to add chart name and version.

[2017-05-12 18:55] atombender commented on #2397
Yes, we started using `helm upgrade --install`. And the release already exists when this happens.

[2017-05-12 18:56] technosophos commented on #2383
If the chart exposes the image as a value then you can supply the image from your higher-level configs.

So if the chart has:

[code]

Then from the higher level chart you can set it in values:

[code]

[2017-05-12 18:57] technosophos commented on #2383
Oh... when you say "name for the image", you mean a name for the _chart_? Like an alias? That would be a nice feature.

[2017-05-12 19:34] olalonde opened #2439 "Helm doesn't delete removed requirement"
I deleted a requirement from my `./helm/infra/requirements.yaml`, did `helm dependency update ./helm/infra`, followed by `helm upgrade -i infra ./helm/infra`. I noticed that helm didn't delete the pods related to that requirement. Is this expected behavior? How should I otherwise delete that requirement's resources?

[code]

[2017-05-12 20:57] maratoid commented on #2347
IMHO, linter requiring values to be supplied through -f or --set seems wrong. Chart is either valid, or not valid without outside additional values. Seems like this will also make validation of charts complicated in a CI scenario.

[2017-05-12 21:14] sushilkm opened #2441 "helm reset fails to remove tiller if tiller pod was not in running state"
I built from the project using `make build` and did a `helm init` from which it was not able to install tiller because of some image mismatch happening(which might be a different issue), however on trying `helm reset` it keeps on saying that `could not find a ready tiller pod` and it leaves no ways but to clean up helm manually from kubernetes using `kubectl` commands.

`helm reset --force` option

[2017-05-12 22:29] sushilkm commented on #2383
Please assign this one to me, I would like to work on this one 👍

[2017-05-13 06:21] chrisLeeTW commented on #2435
@technosophos thanks for the quick response.

It's really a great news. I'm really looking forward.

Cheers

Chris

[2017-05-13 10:14] joestack opened #2443 "get_helm.sh wrong usage of openssl"
for me it seems there is a syntax error in "get_helm.sh"

line 122
-  local sum=$(openssl sha -sha256 ${HELM_TMP_FILE} | awk '{print $2}')
+ local sum=$(openssl sha1 -sha256 ${HELM_TMP_FILE} | awk '{print $2}')

[2017-05-13 11:02] erikbgithub commented on #2436
The funny thing is I already found one problem (a `type: NodePort` was indented 3 instead of 2 spaces), but before and after `helm lint` is totally happy, despite `install` being unhappy.

But seriously, can we agree that `install --debug` should be more detailed? You also don't know what's the problem from reading this, right?

[2017-05-13 16:25] willise commented on #1821
@technosophos Here comes my detailed info. In addition, the environment is  two VMs on VBOX as a master which also runs kubelet and a node. Each VM has three nics which are Host-only, NAT and Bridged adapter.

**(kube-master) ~ # helm init**
$HELM_HOME has been configured at /root/.helm.

Tiller (the helm server side component) has been installed into your Kubernetes Cluster.
Happy Helming!

**(ku

[2017-05-14 02:01] kujenga opened #2444 "requirements conditions ignore existing values during `helm upgrade`"
I'm working on a chart where I would like to allow users to select between multiple options for a storage backend. These multiple options take the form of multiple subcharts, which the user of the chart can switch between using values that affect the requirements.yaml `condition` fields. This approach works well on installation, but I'm running into some odd behavior with upgrades.

I've isolated

[2017-05-14 03:39] willise commented on #1821
@technosophos Here comes my detailed info. In addition, the environment is two VMs on VBOX as a master which also runs kubelet and a node.

(kube-master) ~ # helm init
$HELM_HOME has been configured at /root/.helm.

Tiller (the helm server side component) has been installed into your Kubernetes Cluster.
Happy Helming!

(kube-master) ~ # kcm get pods
NAME                             READY     STATU

[2017-05-14 04:27] willise opened #2445 "Fail to build Tiller locally from source"
I followed the instructions shown below to install tiller locally.
https://github.com/kubernetes/helm/blob/master/docs/install.md#from-source-linux-macos

During cmd `make bootstrap build`  execution, an error was raised.
`[INFO]  --> Fetching github.com/docker/docker.`
`[INFO]  --> Fetching k8s.io/kubernetes.`
`[WARN]  Unable to checkout bitbucket.org/ww/goautoneg`
`[ERROR] Update failed for bitb

[2017-05-14 04:51] bacongobbler commented on #2445
I was not able to reproduce this. Fetching goautoneg works for me locally, so perhaps you may be having connectivity issues or bitbucket was temporarily down?

Here's my build, running from a container to demonstrate that I'm building from a clean working directory:

[code]

The error `Lock file may be out of date. Hash check of YAML failed. You may need to run 'update'` definitely looks actionabl

[2017-05-14 05:20] willise commented on #2445
I can download other repos except `goautoneg`. Maybe the firewall screwed up the connectivity.
Thanks.

[2017-05-14 07:23] yuvipanda commented on #2431
+1, it'd also make generating UIs for people to edit values easier, provide better error messages, etc.

[2017-05-14 09:24] #2445 closed

[2017-05-14 20:09] megalord commented on #1331
Sure thing, I open sourced the code [here](https://github.com/megalord/openshift-api-group).  If anyone has further questions, just open an issue on that repo.

[2017-05-15 02:03] kuroneko25 commented on #123
Can anyone provide a comprehensive comparison between Helm and Spinnaker? It sounds like these are two competing products when it comes to managing CD for kubernetes. One thing I like about Helm is that it doesn't add too much abstraction on top of raw kubernetes constructs and you can keep all your manifest and configuration in source control along with your application code (infrastructure as co

[2017-05-15 12:42] ant31 opened #2447 "dependencies plugin not working with requirements.yaml"
Hi,

I'm trying to use the dependencies plugin  implemented here:
https://github.com/kubernetes/helm/pull/2094

The `helm fetch test://path`  command is working as expected.
but not when it's used in the requirements.yaml.

[code]

The plugin is a only a test one:
[code]

[2017-05-15 15:11] pedershk commented on #2420
Following this as I've attempted and failed to install Tiller on a mixed-node cluster. Can provide logs etc. if you need it.

[2017-05-15 15:19] bviolier commented on #2417
We have run into the same issue. It used to work like this, but now it started giving an error. Not sure when it started doing this though.
[code]

Syntax we use (and which used to work):
[code]

It indeed still works perfectly when an install is already in place.

I'm now gonna try installing the new client also, and seeing what happens then.

[2017-05-15 15:25] bviolier commented on #2417
Ok, for me this problem is fixed with the helm client upgrade.

[2017-05-15 16:35] jascott1 commented on #2299
How do we reach consensus on whether or not `helm init` should receive new features?

[2017-05-15 17:34] jascott1 commented on #2443
@joestack Are you saying you don't have `sha` in your installed openssl?

[2017-05-15 18:07] kfox1111 commented on #2299
I really think it should.

[2017-05-15 18:11] jascott1 commented on #2326
Im interested in learning more about this issue as the tags and conditions code is (should be) removing disabled dependencies before they are sent to tiller.

[2017-05-15 19:37] markpundsack commented on #2133
Sharing variables between parent and child is bad enough,  but it gets worse when you have a dependency tree with children that need to share variables between them as peers.

e.g. for `gitlab-bundle`, I want a `values.yaml` something like":

[code]

[2017-05-15 23:47] berndtj commented on #2431
UI form generation and/or validation is certainly a use-case for this.

[2017-05-16 02:35] kdada opened #2450 "Proposal: Add a field named `Options` to chart metadata"
I can find some infomation from `Chart.yaml` .  When I create a chart, I want add some other filed like `create time` because of my product. but I need save it in db and search it from db now.

If metadata have a field like:
[code]

Then I can place some useful info in it.

[2017-05-16 03:23] markpundsack commented on #2383
@technosophos yes, that's exactly it. I updated my original comment a bit to hopefully clarify.

[2017-05-16 09:30] libesz commented on #2326
Right. We faced this behavior during interacting with tiller directly from own code, built on top of helm packages. Since I opened the issue we realized that this is actually done by helm as you wrote, so we pasted the solution to our client also to get it working. Now the question is more architecture related I think: is it good to have this selection logic on helm/client side once the rendering

[2017-05-16 13:21] joestack commented on #2443
I might do something wrong, but my openssl offers "sha1" only and not "sha".
Changing the value within the get_helm.sh and the script works fine on
Debian 8.0.

#1#
curl
https://raw.githubusercontent.com/kubernetes/helm/master/scripts/get >
get_helm.sh
   % Total    % Received % Xferd  Average Speed   Time    Time     Time
Current
                                  Dload  Upload   Total   Spent

[2017-05-16 16:17] docmatrix commented on #1769
I am having the exact same challenges with a python / django app. Does anyone have a mechanism such that helm will abort an upgrade if the pre-upgrade job fails?

[2017-05-16 16:24] technosophos commented on #2450
How would this differ from just putting this information inside of your chart's `values.yaml`?

[2017-05-16 16:26] technosophos commented on #2447
Did you do a `helm repo add` of that repository?

[2017-05-16 16:29] technosophos commented on #2444
Have you looked at the `--reuse-values` flag to `helm upgrade`?

/cc @jascott1

[2017-05-16 16:31] technosophos commented on #2443
It's unclear to me if you have found a fix. Does it work as expected now?

[2017-05-16 16:33] technosophos commented on #2439
This is expected behavior.

- It is legal to have a subchart that is not in requirements.yaml
- IIRC, a `helm delete` would have removed the old resources.

[2017-05-16 16:39] ant31 commented on #2447
Why should we do a helm repo add as it is a 'custom' plugin ? It should not be required
[code]

[2017-05-16 17:10] twk3 opened #2452 "Sharing Templates with Subcharts is inconsistent in which template is used"
Sharing Template With subcharts, a feature documented in the [chart template guide](https://github.com/kubernetes/helm/blob/master/docs/chart_template_guide/subcharts_and_globals.md#sharing-templates-with-subcharts), appears to be inconsistent on which template will be used.

**Problem:**

If you have the same named template in both a parent and sub chart, it is random which template will be used.

[2017-05-16 17:11] twk3 commented on #2452
This appears to me, to  also be related to the problems encountered in this issue: https://github.com/kubernetes/helm/issues/2221

[2017-05-16 17:14] kujenga commented on #2444
@technosophos Yes, I tried that as well it did not seem to have an effect on the end result. If I understand correctly, the flag should be a no-op when there are no specific new values being set, is that correct?

[2017-05-16 17:41] bobbychef64 commented on #2224
how to find wheather rbac is enabled on k8 cluster or not . I am using the following version
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.2", GitCommit:"477efc3cbe6a7effca06bd1452fa356e2201e1ee", GitTreeState:"clean", BuildDate:"2017-04-19T20:33:11Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:

[2017-05-16 17:44] Bregor commented on #2224
@bobbychef64 `$ kubectl api-versions|grep rbac`

[2017-05-16 17:47] bobbychef64 commented on #2224
Thanks Bregor for your reply . i executed the command the o/p is below
$ kubectl api-versions|grep rbac
rbac.authorization.k8s.io/v1alpha1
rbac.authorization.k8s.io/v1beta1

[2017-05-16 17:48] bobbychef64 commented on #2224
from the above command i am thinking that rbac is enable and started to create a role but i am getting the below error.
$ kubectl create role pod-reader \

Error from server (Forbidden): roles.rbac.authorization.k8s.io "pod-reader" is forbidden: attempt to grant extra privileges: [{[get] [] [pods] [] []} {[list] [] [pods] [] []} {[watch] [] [pods] [] []}] user=&{admin admin [system:authenticated]

[2017-05-16 17:54] Bregor commented on #2224
@bobbychef64 this means your particular user has no rights to create custom roles.
As I can see, your only group in cluster is `system:authenticated `. Usually this means your cluster has no authentication system (like `static-tokens`, `password-file`, etc) and your `authorization-mode` likely is `AlwaysAllow`. In this case you can't manage RBAC directly before your cluster will actually use it.

[2017-05-16 18:03] bobbychef64 commented on #2224
okay i understood little , the problem is i have multiple teams every one is asking the config and its having the admin username and password i am worrying if any one will change the things it will effect very badly. how can i setup authentication system .

[2017-05-16 18:08] gtaylor commented on #2224
@bobbychef64 This should help: https://kubernetes.io/docs/admin/authentication/

[2017-05-16 18:09] bobbychef64 commented on #2224
Thanks gtaylor i will check this link.

[2017-05-16 19:03] olalonde commented on #2439
Ok, thanks.

[2017-05-16 19:03] #2439 closed

[2017-05-16 19:37] technosophos commented on #2452
This is a known issue. We're trying to devise a workaround that would allow the creation of "library charts", which would be stored once per chart, even if subcharts used them. If you have any ideas about how that might look for the template developer, let us know.

[2017-05-16 19:39] technosophos commented on #2452
I think we'd also welcome a PR that sorts the templates inside of that function (e.g. does not change the function signature, but gives predictable ordering). An reverse alphabetical sort would have the nice side effect of making the shorter paths (umbrella charts) take precedence over the nested charts.

[2017-05-16 19:58] technosophos commented on #2447
I don't understand what you are trying to do.

A `repository` field takes a repository (`index.yaml`), not an arbitrary URL. It then fetches the repository and searches the repo index for the given name/version-range. Then from that information it gets the remote URL to download the file.

But for security reasons, we don't just add repositories automatically. (Think of the way Ubuntu does remote

[2017-05-16 20:13] technosophos commented on #2331
/cc @kfox1111

[2017-05-16 20:18] technosophos commented on #2331
I initially thought this was a bug with `--set`, so I tried to manually reproduce this an alternate way and cannot reproduce.

My steps:

[code]

This seemed to work fine:

[code]

So now I am going to try using `file://` URLs in case that is what is introducing the problem.

[2017-05-16 20:18] JeanMertz opened #2453 "Helm caches/searches only part of my repository on GCS"
Somehow, Helm only finds some package versions in my repository, but not all:

[code]

[code]

However, this is _actually_ available:

[code]

[code]

[2017-05-16 20:21] JeanMertz commented on #2453
Ah, I found the issue, it seems `gsutil cat` shows the file content, but `curl` indeed shows an older version:

[code]

[code]

[2017-05-16 20:22] technosophos commented on #2331
I can definitely reproduce it if I use `file://` paths:

[code]

[2017-05-16 20:25] JeanMertz commented on #2453
I found the solution in the [Google Cloud Storage docs](https://cloud.google.com/storage/docs/gsutil/commands/setmeta):

I'll leave this open in case you want to flag this in the documentation somewhere (if it hasn't already, and I simply missed it), but feel free to close it otherwise.

[2017-05-16 20:37] technosophos commented on #2331
Okay, and to further narrow things down, I did the following:

1. Starting from above, I untarred `chart1/charts/chart2-0.1.0.tgz`
2. I removed all of the requirements.* files from chart1, chart1/charts/chart2, and chart1/charts/chart2/charts/chart3
3. I re-ran `helm install`

That worked fine. To rule out an issue with tarballs, I then did this:

1. cd chart1/charts && helm package chart2
2. re-r

[2017-05-16 20:40] joestack commented on #2443
Yes. In Case of using sha1 instead of sha, the sum is identical. 

Von meinem Samsung Galaxy Smartphone gesendet.
-------- Ursprüngliche Nachricht --------Von: Matt Butcher <notifications@github.com> Datum: 16.05.17  18:31  (GMT+01:00) An: kubernetes/helm <helm@noreply.github.com> Cc: JoeStack <joern@tel2ip.net>, Mention <mention@noreply.github.com> Betreff: Re: [kubernetes/helm] get_helm.sh wrong

[2017-05-16 20:56] technosophos commented on #2311
I'm gonna grab this one, since it's a quick fix.

[2017-05-16 20:58] jascott1 commented on #2331
I will take a look by EOD or morning.

[2017-05-17 01:48] kdada commented on #2450
`value.yaml` is used for generating kubernetes resource files. It's a runtime data for release. But `Chart.yaml` is static and sometimes constant. We always stores metadata in it. So I think `Chart.yaml` can be more flexible by adding some universal fields.

[2017-05-17 10:17] ant31 commented on #2447
The discussion is related to this feature for the App-registry plugin:
https://github.com/app-registry/helm-plugin/issues/3

Users asked to be able to use the requirements.yaml to point directly to the app-registry server.
There is no need to locally have an index.yaml.

cc @jzelinskie

[2017-05-17 12:04] waldauf commented on #1770
Hello,

I have the same problem. I have new clear installation of K8s and installed Helm. If I try to install whatever (i.e. mysql) I get this error message:
`Error: forwarding ports: error upgrading connection: unable to upgrade connection: pod does not exist`

[code]
Do I open new issue or is it possible to reopen this one?

[2017-05-17 14:03] c-knowles commented on #2413
I had a go at rebuilding helm from master but got caught on a few things (just some problems my end). I'll have another go in a few days if there isn't a release soon.

[2017-05-17 15:02] mattfarina opened #2456 "[META] Works on Windows, yet?"
Helm has some bugs when it comes to working on and with Windows. Filing as a high level ticket to track windows support, unless there is another way.

* [x] #2362 Helm init failed on windows
* [x] #2396 Failed to install vendor dependencies on Windows
* [x] #2420 Support Tiller installs in clusters with Windows nodes
* [ ] #1606 Add AppVeyor CI support for Windows testing
* [x] #2071 Error: open .

[2017-05-17 16:25] #2396 closed

[2017-05-17 16:58] #2089 closed

[2017-05-17 17:06] #2311 closed

[2017-05-17 17:11] technosophos commented on #2420
@seanknox Is that label the right one for node selection?

[2017-05-17 18:18] seanknox commented on #2420
I *think* so. Will doublecheck.

[2017-05-17 18:22] seanknox commented on #2420
@technosophos yep, `beta.kubernetes.io/os=linux` appears to be the label to use.

https://kubernetes.io/docs/reference/labels-annotations-taints/#betakubernetesioos

[2017-05-17 18:28] #2393 closed

[2017-05-17 20:01] #2407 closed

[2017-05-17 22:59] michelleN commented on #2166
Closing this since it is fixed in #2425.

[2017-05-17 22:59] #2166 closed

[2017-05-17 23:26] jascott1 commented on #2383
If I understand correctly, there are 2 things here.

1. in first use case we are not talking about aliases in typical sense. We are talking about multiple instantiations of same chart (same as copying the chart and renaming). OP wants to get two DB charts with one requirement line. Assuming we don't copy the chart on disk (OP could just do that) then we are making in-memory copy that has to be pre

[2017-05-17 23:52] jascott1 commented on #2331
Got stuck on dev environment stuff I was in the middle of and didn't get to this. Im out for a week and will pick this up next Wednesday if no one else does.

[2017-05-18 00:05] technosophos commented on #2383
I think the idea was to do (1): give a chart a different name so that in my values.yaml file I can do:

[code]

And it may be true that to accomplish 1 would require enough coding overrides that a better way may just be to `perl -pi -e` the chart. ;-)

[2017-05-18 08:00] waldauf opened #2463 "Helm error with forwarding ports"
Hello,

I have new clear installation of K8s and then I installed Helm. If I try to install whatever (i.e. mysql) I get this error message:
**Error: forwarding ports: error upgrading connection: unable to upgrade connection: pod does not exist**

[code]

Next I tried to set port-forwarding but I still get the same error:
[code]

K8s and Helm is running on Ubuntu (v16.04) in my VirtualBox. There I

[2017-05-18 08:38] willise opened #2464 "Tiller pods can't connect to k8s apiserver"
logs:
[code]
This issue has been raised in #1591 #1791.

In #1791, there gets a resolution(thank @iamzhout) of adding **KUBERNETES_MASTER** in pods env  but nobody explains the root cause of the issue.

I installed the k8s cluster manually and it seems that  tiller pod can't get **KUBERNETES_MASTER** from env as this item doesn't exist in the **env** at all.

No docs are found about the relation b

[2017-05-18 10:18] fedya opened #2466 "Cannot detect VCS"
trying to build helm from source

1. wget https://github.com/kubernetes/helm/archive/v2.4.2.zip
2. unzip v2.4.2.zip
3. cd helm-2.4.2/
4. make bootstrap build

[code]

[2017-05-18 11:12] munnerz commented on #2409
I'm also seeing exactly the same issue -

no logs at all from tiller, except the standard start up logs:

[code]

I'm also seeing this with Tiller v2.4.2 with Helm v2.4.2. Let me know if there's any other info you need...

[2017-05-18 11:18] munnerz commented on #2409
Full logs attached - note: I'm running 1.6.2 not 1.5.x here and getting the same issue. Issue also occurs with Tiller 2.4.2 with Helm 2.3.1.

<details>
bash-4.3# kubectl get no
NAME                                            STATUS    AGE       VERSION
gke-gs-staging-gke-default-pool-8a9f998e-ghwc   Ready     2d        v1.6.2
bash-4.3# kubectl get po -n kube-system
NAME

[2017-05-18 12:11] eduardobaitello commented on #2412
@atombender This commit was released yesterday in `v2.4.2` patch.
This solved the `--wait`  problem in for me.
Commit: https://github.com/kubernetes/helm/commit/79c492b6aba9f018608d635530f00a17bf3539b8

[2017-05-18 12:48] munnerz commented on #2436
FWIW @erikbgithub - the issue you're running into is with one of the Services as part of your deployment I think - you've set a `type` field under the ports section eg:

[code]

or something similar :) but yep, it'd be nice if the output included a filename to look at perhaps. For reference, I deduced the above from `found invalid field **type** for **v1.ServicePort**`

[2017-05-18 13:01] erikbgithub commented on #2436
@munnerz Thanks. Yes, that was the error in the example. However, let's not forget the discussion point that this is about being enabled to debug stuff yourself. You wouldn't like to open a github issue every time you do a spelling error, right?

PS: However it's interesting that you understand the text that way. I've read it as ` type of the field "SerivcePort" is wrong` not as `there is a field

[2017-05-18 15:07] gergan commented on #1331
Thanks a lot @megalord!

[2017-05-18 16:27] technosophos commented on #2466
Ugh... I should have cherry-picked the fix for that.

Here's the change you need to make to `glide.yaml`. Then do `glide up && make bootstrap`:

https://github.com/kubernetes/helm/blob/master/glide.yaml#L53-L55

[2017-05-18 16:29] technosophos commented on #2464
@willise You might want to ask about this in the Slack channel if possible. It is very likely a configuration issue with Kubernetes, and people there may be able to help quickly.

[2017-05-18 16:34] tricky42 commented on #2322
Hi,

it looks like I am running into the same problems. I installed Minikube on my Macbook and started a fresh k8s v1.6 cluster. Then I installed Tiller by calling

This finishes successfully and I see in the K8S dashboards the Tiller deployments, replication set and pods appearing.

When I now try to install a chart (e.g. I tried MongoDB and Redis) by executing

Created tunnel using local port: '

[2017-05-18 17:14] bacongobbler commented on #2466
Since this has been fixed in master I think this is good to close, eh?

[2017-05-18 17:22] chancez commented on #2426
I'm still having problems in 2.4.2 with this. Even if I've changed nothing in my release, tiller ends up waiting the full timeout, and no pods are unready, nothing even changed, so everything is already ready, but the wait seems to not detect this.

[2017-05-18 17:28] bacongobbler commented on #2464
Agreed. This looks to be more of a misconfigured kubernetes cluster causing the KUBERNETES_SERVICE_HOST environment variable to either be pointing in the wrong location or it doesn't exist at all. Tiller needs that envvar in the pod to connect to the kubernetes apiserver.

I don't think there's anything actionable here in helm itself, save perhaps some docs clarification on how tiller communicates

[2017-05-18 18:04] technosophos commented on #2463
This is almost definitely a Kubernetes configuration issue. You might try asking in the #helm-users channel on Slack, if that's possible for you.

[2017-05-18 18:06] technosophos commented on #2453
I was bitten by that same thing recently. I had thought about adding a `?ts=timestamp` query automatically to the end of each `helm repo up` command, but that might have unwanted side effects.

[2017-05-18 18:08] jzelinskie commented on #2447
The following is my understanding of the situation:

Users register indexes to Helm using `helm repo add` that Helm uses to find versioned Charts when a user tries to `helm fetch` a Chart. #2094 enabled plugins to define new protocols for fetching Charts, but still has the requirement of having all the Charts exposed via the new protocol to be indexed using `helm repo add`.

Is this correct @techn

[2017-05-18 18:27] chancez commented on #2043
I think I'm hitting this in 2.3.1 still. I cannot test w/ 2.4.x because I'm still running issues with `--wait` https://github.com/kubernetes/helm/issues/2426#issuecomment-302481887.

Here's my log output, and the resulting panic:
[code]

Note, that this is only panicing in a particular release, my other releases with the same chart are upgrading fine.

[2017-05-18 19:55] eduardobaitello commented on #2426
@chancez check the `maxUnavailable` value of your Deployments. The `--wait` flag now uses this value for check the "resources ready" condition (Take a look at [Notes](https://github.com/kubernetes/helm/blob/v2.4.2/docs/using_helm.md#helpful-options-for-installupgraderollback)).

[2017-05-18 20:47] adamreese commented on #2367
@vdice kubernetes v1.6 was not supported until helm v2.4.  If you upgrade tiller it should work.

[2017-05-18 20:48] adamreese commented on #2257
@wjkohnen what version of helm are you using?  1.6 features are supported in helm v2.4

[2017-05-18 20:53] bacongobbler commented on #746
How would this look from a user's point of view? `helm fetch /tmp/charts/mychart.tar.gz --untar` would untar the chart into your local directory as `mychart/`?

I'm not completely sure what the use case for this would be that `cp` or `tar -xf` can't already solve for local dev. If it's for the chart requirements, then yes the local file path requirement should suffice.

[2017-05-18 21:02] bacongobbler commented on #856
Just pinging now that it is mid-may and the plugin model you mention is in core Helm via `helm plugin`. A decent Helm plugin that renders a chart would be [`helm-template`](https://github.com/technosophos/helm-template), which I think is what @technosophos probably mentioned to you. Feel free to check it out!

[2017-05-18 21:13] munnerz commented on #2409
I'm actually seeing this with all clusters, not just GKE.

I've also noticed Helm works fine from my OS X box to the same cluster. It seems to not work when in an alpine docker container. If I try the same process with a Debian container, it seems to work fine. The dockerfile in question that produces a Helm that doesn't work:

[code]

Can anyone else replicate this using the above image? The till

[2017-05-18 22:18] technosophos commented on #2257
There are really three problems that contributed to this bug.

The particular problem with envFrom (rooted in Kubernetes changed schemas between 1.5 and 1.6) was resolved in Helm/Tiller >= 2.4.1. That alone is probably enough to close this particular issue.

With Deployments and DaemonSets, there are added problems with the fields they silently treat as immutable. These are documented in the Kuber

[2017-05-18 23:05] bacongobbler commented on #1079
This is a complete work-in-progress and a release has not come out yet, but you can try to get [`helm-whatup`](https://github.com/bacongobbler/helm-whatup) running while I'm away. This plugin checks against your locally cached repository index files to see if an update exists for your installed charts.

Usage (assuming you can get it to work in its half-baked state, damned godeps):

[code]

[2017-05-18 23:16] thomastaylor312 commented on #2409
@munnerz I am seeing a [few](https://github.com/kubernetes/kubernetes/issues/27388) [related](https://github.com/kubernetes/kubernetes/issues/39028) [issues](https://github.com/kubernetes/kubernetes/issues/42164) in Kubernetes that appears to be related to Docker, possibly due to the number of pods running.

[2017-05-18 23:24] munnerz commented on #2409
In this case, one is a brand new 4 node GKE cluster (n1-standard-1) and
another single node bare metal cluster with about 40 pods (where tiller is
running).

Tiller itself isn't receive a request at all when helm is run in an alpine
container, but works fine on macOS and within a debian container.

Those issues appear unrelated except for the reference to "context deadline
exceeded", which is a co

[2017-05-18 23:28] thomastaylor312 commented on #2383
@sushilkm Are you working on this? I was going to remove the help wanted label if you are

[2017-05-18 23:38] thomastaylor312 commented on #2456
This is great. Thanks for doing this @mattfarina

[2017-05-18 23:39] thomastaylor312 commented on #2413
@c-knowles This was released yesterday in 2.4.2

[2017-05-18 23:51] thomastaylor312 commented on #1769
I may take this once I get some other work done for 2.5

[2017-05-18 23:55] thomastaylor312 commented on #2417
@berndtj Can you confirm that this is fixed like @bviolier said?

[2017-05-18 23:58] thomastaylor312 commented on #2409
Ok, I'll dig in to this bug next after I finish the one I am working on

[2017-05-19 00:19] sushilkm commented on #2383
Yup @oftaylor i started to work on this, you can remove help label

[2017-05-19 00:20] bacongobbler commented on #2456
This would be a fantastic use case for a Github Project to track ticket progress. "Windows Conpatibility", perhaps?

[2017-05-19 00:33] thomastaylor312 commented on #2383
Assigned to me so no one else takes it

[2017-05-19 00:34] thomastaylor312 commented on #2456
I have been wanting to do that for a while, I was waiting for people to get used to the new developer workflow, so now may be a good time

[2017-05-19 01:45] thomastaylor312 commented on #2409
@munnerz I tried this with a non-GKE k8s and didn't have a problem. I don't have a GKE cluster to test against right now though

[2017-05-19 01:54] willise commented on #2464
@technosophos Ooops... Kind of your reminding and I'll note that.

[2017-05-19 02:10] willise commented on #2464
@bacongobbler **KUBERNETES_SERVICE_HOST** exists in **env** indeed but it's value is a cluster IP like **10.254.0.1**. If I don't set **KUBERNETES_MASTER**, tiller is unable to connect apiserver port 8080. Only if it is set to master physical address like **192.168.56.101**, it's ok.

So the problem may be  tiller can't get the correct apiserver address from k8s when tiller initializes the k8s api

[2017-05-19 17:50] berndtj commented on #2417
I was unable to reproduce the issue.  I'm fine with closing it for now.

[2017-05-19 17:51] peay commented on #2285
@thomastaylor312 fix for this is still included in #2280, so merging that PR would close this issue as well.

[2017-05-19 18:39] krancour opened #2468 "Proposal: Interactive acceptance of license(s)"
Separate from a chart's own license, the software installed _by_ a chart might have its own license (which, for the sake of discussion, might not even be open source) and which may require explicit acceptance by the end user.

I want to propose a feature whereby `chart.yaml` could include text and/or links to 0..n software licenses that must be displayed to then explicitly and interactively accept

[2017-05-19 18:42] technosophos commented on #1079
@bacongobbler that is awesome! Can you add a link to the docs/related.md as soon as you feel ready?

[2017-05-19 19:42] rachlenko commented on #2363
Ok. Thanks.

[2017-05-22 02:16] #2322 closed

[2017-05-22 02:19] #2309 closed

[2017-05-22 02:19] #2308 closed

[2017-05-22 07:06] dhananjaysathe commented on #1331
Great stuff @megalord thanks a bunch

[2017-05-22 11:12] erikbgithub commented on #1996
I'd like to +1 the error message part. Ran into the same problem and had to figure out that the issue is a configmap (in my case one that didn't get delete with `--purge` for whatever reason).

[2017-05-22 13:21] rimusz opened #2470 "Proposal: dump/restore features"
Helm releases dump/restore functionality would be very helpful for cluster migration/disaster restore:
`helm dump -f state.json`
`helm restore -f state.json

[2017-05-22 16:58] mattsch opened #2474 "toToml filter converts int to float"
Given the following data structure in values.yaml:
[code]
And this in my configmap template:
[code]

I get this:
[code]

Even casting the variable via `bar: !!int 9` doesn't change the behavior, can't reproduce using the toJson filter either.

[2017-05-22 20:09] jchauncey opened #2478 "[Proposal] Add --silent flag"
Sometimes I would like helm to not print out the updated resources to the command line (particularly the service definitions since this can contain external-ip addresses). So I would like the ability to pass a silent flag in and only get if the upgrade/install succeeded/failed.

[2017-05-22 21:36] groundnuty opened #2479 "Condition value in requirements.yaml gets propagated to subcharts but subcharts deployments/services are not generated"
[code]

How to reproduce:
[code]

`parent/requirements.yaml` content:
[code]

`parent/charts/child-level-1/requirements.yaml` content:
[code]

Append to `parent/values.yaml`
[code]

Append to `parent/charts/child-level-1/values.yaml`
[code]

run
[code]
the output:
[code]

In *COMPUTED VALUES* all needed enabled variables are set to true, but the deployment/service/ingress of child-level-2 is not s

[2017-05-22 21:50] vdice commented on #2367
@adamreese indeed, thank you!  Closing.

[2017-05-22 21:50] #2367 closed

[2017-05-22 22:07] sushilkm opened #2480 "helm install works even though there is an error in parsing requirements.yaml"

[2017-05-22 22:18] donaldguy commented on #2426
can confirm that after upgrading to 2.4.2 I am also having a similar problem (but on a Deployment with `strategy: {   type: Recreate } ` )

[2017-05-22 22:24] donaldguy commented on #2426
In my case downgrading to 2.4.1 fixes my issue, so #2430  is directly implicated

[2017-05-23 00:57] donaldguy commented on #2426
admittedly my issue may be want of kubernetes/kubernetes#41740 (obviously I unlike the other in this thread am not on 1.6 yet)

[2017-05-23 03:05] chancez commented on #2426
I only tried 2.3.2 (works) and 2.4.2 (doesn't work), so I'll also give 2.4.1 a shot to see if I can help ensure it's just something in 2.4.2 (rather than the must larger 2.3.2 -> 2.4.2 set of change).

[2017-05-23 03:05] grailsweb opened #2482 "Unable to create listener: Error listen tcp6 [::1]:43999: bind: cannot assign requested address"
Hi,
I am trying use helm to install mariadb.  helm giving this error message.

[code]

how can I fix this error message?

Thanks
SR

[2017-05-23 03:24] thomastaylor312 commented on #2426
I am going to reopen this one due to the multiple people having issues. If you have a chart that you can share (or one of the main stable charts) when this issues happens, please let me know because I tried several charts and had issues duplicating this

[2017-05-23 03:31] thomastaylor312 commented on #2285
I'll make sure to close this as well. Thank you for bringing it back up

[2017-05-23 03:31] thomastaylor312 commented on #2417
Thank you! Let us know if you see any more problems

[2017-05-23 03:31] #2417 closed

[2017-05-23 09:14] lukaszo opened #2483 "helm install --wait doesn't work for Deployment pods"
Client: &version.Version{SemVer:"v2.4.2", GitCommit:"82d8e9498d96535cc6787a6a9194a76161d29b4c", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.4.2", GitCommit:"82d8e9498d96535cc6787a6a9194a76161d29b4c", GitTreeState:"clean"}

I used the following command:

```helm install stable/etcd-operator --name etcd-operator --wait --timeout 300```

I thought that helm will wait for all deployment

[2017-05-23 10:48] nebril commented on #2483
At first glance it seems like `podsReady` function is checking only pod status, not its phase (which is where `pending` lives)? Is it expected behaviour? @thomastaylor312

[2017-05-23 16:12] adam-sandor opened #2485 "Helm upgrade fails upgrade ConfigMap"
I keep having issues with ConfigMaps not getting updated on `helm upgrade`. It's not a permanent issue so I can't give an exact scenario how to reproduce. I'll try to give as much info as possible. When I'm saying it's not a permanent issue I mean it doesn't always happen when I'm changing ConfigMaps but when it does happen I can run the upgrade any number of times and the value won't change.

###

[2017-05-23 17:01] adamreese commented on #2485
It looks like the configmap was modified with kubectl.  Helm will diff on the last release rather than what is running in the cluster.

[2017-05-23 17:05] adamreese commented on #2483
In scenario where Deployment has replicas set to 1 and maxUnavailable is not set to 0 as part of rolling update strategy, --wait will return as ready as it has satisfied the minimum Pod in ready condition.

https://github.com/kubernetes/helm/blob/master/docs/using_helm.md#helpful-options-for-installupgraderollback

[2017-05-23 18:52] adamreese commented on #2482
It looks like your localhost is using ipv6 when ipv4 is expected. You can change how it to ipv4 by editing your `/etc/hosts` file.

[2017-05-23 22:17] devth commented on #1125
One use case I don't think `chartify` addresses is moving multiple charts that have already been installed into a single umbrella parent chart.

[2017-05-23 23:03] rustyShacklefurd opened #2487 "Subcharts values parsing has a few problems"
1. It appears that any value that is beyond one level deep cannot be parsed in the subcharts when testing/deploying the entire parent/child chart.  Example: when a value is being called such as `{{ .Values.images.worker.repository }}` this lookup will fail.  Changing the value name and values call overcomes this limitation but it seems that nested values are not supported in subcharts.
2. This may

[2017-05-23 23:08] thomastaylor312 commented on #2487
@jascott1 Have you seen this before or have any ideas?

[2017-05-23 23:12] sgoings opened #2488 "plugins dir is not created automatically"
I recently installed helm 2.4.2 and right away tried to install a plugin:

[code]

Could the error message on missing directory be changed to something like:

"Ensure you run `helm init [--client-only]` before you attempt to install plugins."

or even better: just create this directory automatically?

[2017-05-24 00:19] prat0318 opened #2489 "AsConfig doesn't dereference variables"
My sample configmap is:
[code]

These get dereferenced if pasted directly in `templates/configmap.yaml`.

But, if i store this yaml separately in a `data/mysql.yaml` directory and then in `templates/configmap.yaml` i use:
[code]
It creates data without dereferencing the variables from `values.yaml`.

[2017-05-24 01:31] rustyShacklefurd commented on #2487
[storm-0.9.zip](https://github.com/kubernetes/helm/files/1024180/storm-0.9.zip)

Zipped the whole chart/subchart together so that recreating the issues be accomplished.

[2017-05-24 08:51] adam-sandor commented on #2485
Yes that is probably the case. Thanks for the quick answer!

[2017-05-24 08:51] #2485 closed

[2017-05-24 10:45] ManuelGysin commented on #1911
In fact volumeName causes the pvc to be forever in pending state.
I think this is a bug!

[2017-05-24 17:23] technosophos commented on #2489
`.Files.Get` does not render templates. You must put the file in the `templates/` directory and include it with `{{ template }}` or `{{ include }}`

[2017-05-24 17:53] technosophos commented on #2443
marking resolved

[2017-05-24 17:53] #2443 closed

[2017-05-24 21:09] benjigoldberg opened #2492 "Proposal: Allow templating in values.yaml"
Hello Helm Team,

I would like to propose adding limited template rendering capabilities to the `values.yaml` file. I believe this would be a valuable feature for interacting with subcharts.

For example, lets say I am defining a Chart for a web application deployment and it has a simple values file as such:

[code]

And then I wanted to bundle this service alongside the `nginx-ingress` controller

[2017-05-24 21:38] rsanders commented on #2437
We are getting bitten by this several times a week.

[2017-05-24 21:40] technosophos commented on #2437
By what, precisely?

[2017-05-24 22:01] rsanders commented on #2437
IIUC, some variant of 2b.  we see Helm/Tiller get out of sync with K8s actual state. It's not envFrom, and it's not silently immutable fields in Deployment or Daemonset.  It has occurred in several different cases when the K8S API server rejecting a patches due to failed validations.  Helm seems to barrel on assuming that the patch succeeded, and recording the desired state as actual.

For example

[2017-05-24 22:03] rsanders commented on #2437
Perhaps I should comment instead on #2257?

[2017-05-24 22:33] technosophos commented on #2437
Okay. Thanks. I'm currently looking into the following two options:

1. If a release fails, don't allow an upgrade without first doing a rollback to a known-good version
2. If a validation fails, see if we can avoid storing the new manifest (e.g. force a diff against the last known valid version). This one is harder than it sounds, and may just introduce another set of bugs.

And perhaps there are

[2017-05-25 02:14] rsanders commented on #2437
In our case, this issue mostly occurs during development. The errors happen, and then the developer re-upgrades the release (apparently) successfully after fixing the validation problem. Long after that original error, the disconnect between what the developer believes is running in the cluster and what is actually running continues, leading to a great deal of confusion.

Option #1 seems like an u

[2017-05-25 09:12] ahawkins commented on #2437
We are also getting hit by something similar to this. Our `helm upgrade` fails for something like this:

[code]

Running `helm upgrade` _again_ with the same chart and release "succeeds", but nothing changes  on the K8s resources themselves. In our case all future upgrades are communicated incorrectly, so once the upgrade fails it seems that it cannot be correctly upgraded again.

[2017-05-25 09:39] ahawkins opened #2493 "Upgrade fails when adding a new label"
**Helm Versions**

[code]

**Output**

[code]

(note some of the output is snipped since the same error repeats for ~10 deployments).

**Notes**

We've gotten this same error for a few reasons, but I'm not entirely sure _why_ it occurs. We added a new label to everything in the chart (for metric collection purposes) then this happened.

[2017-05-25 09:42] spiddy commented on #2243
I'm adding my use case for reference also:

* I have a meta-chart A that depends on charts B, C and D.
* C & D needs B to be running before starting up.

I want to be able to do "helm install A" and install everything without having to do ordering outside of helm, something like fire-and-forget kinda thing (or call it declarative deployment)

So I think Stages makes sense for this case also, takin

[2017-05-25 10:14] ahawkins opened #2494 "Upgrade fails when deployment.spect.template has a chart label"
I'm not sure why this is happening. I went ahead and added a `chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"` to a `Deployment`'s `spec.template.metadata.labels`. I upgraded the chart, and got this error:

[code]

It seems that this label should **not** be applied to a deployment template?

**Versions**

[code]

**Reproduction Steps**

[code]

**Suggestion**

I'm guessing that h

[2017-05-25 10:22] ahawkins opened #2495 "helm lint should support `-f` and `--set` (or an alternative)"
We keep secrets in a separate values file used with `-f secrets.yaml`. This breaks `helm lint` for us  because we get parse errors in the templates on missing `$.Values` entries. Supporting `--set` and `-f` in `helm lint` would fix this issue.

[2017-05-25 16:27] tyrannasaurusbanks commented on #2426
FWIW, I thought I'd hit this bug but upon inspection it was because I was using an external service - proposed a fix for external services here: https://github.com/kubernetes/helm/pull/2497

Thought I'd mention in case anyone viewing this is using external services too.

[2017-05-25 16:31] adamreese commented on #2493
Looks like it could be related to this upstream discussion https://github.com/kubernetes/kubernetes/issues/26202

[2017-05-25 16:41] seh commented on #2494
This is [a restriction in Kubernetes itself](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#selector), unrelated to Helm:

I take it you have a `.spec.selector` in your _Deployment_.

[2017-05-25 17:02] seh commented on #2493
This sounds related to #2494—in particular, [my comment there](https://github.com/kubernetes/helm/issues/2494#issuecomment-304058863).

[2017-05-25 17:15] technosophos commented on #2437
This was discussed on the dev call at length this morning. We need to devise a repeatable case of this so that we can start writing test cases. If anyone has a minimal reproduction case, please point to it here.

/cc @adamreese @seh

See also #2341 - which is an approach I don't think will work because it will invert the problem (successful things will fail because a strategic merge will be run on

[2017-05-25 18:12] #2441 closed

[2017-05-25 18:23] seh commented on #2492
Are you proposing interpolating the literal values from this hypothetical _values.yaml_ file into the chart's templates, and then interpolating those whole templates again to expand the release name (to use your example), or do you imagine interpolating the _values.yaml_ file first, and then treating its expanded form as the input for interpolating the rest of the chart's templates?

[2017-05-25 18:35] chancez commented on #2426
I tested with 2.4.1, it has the same issue as 2.4.2, so it's definitely something about 2.4.x, but not sure where.

[2017-05-25 18:36] chancez commented on #2426
I'd also like to note I'm not using externalServices, my deployments are all at their desired replica count, no pods are unready, etc.

[2017-05-25 18:39] #2480 closed

[2017-05-25 19:05] technosophos commented on #2492
This has been discussed at length before, and for a variety of technical reasons it is problematic. But a far less problematic solution would be to support expansion of things that look and behave like environment variables.

So, for example, you'd be able to do `myval: ${RELEASE_NAME}.foo.bar` in your values.yaml.

On the Golang side, it should be as simple as calling `os.Exand()` with a custom l

[2017-05-25 19:12] benjigoldberg commented on #2492
@seh I personally imagined it as something closer to the first option, wherein the literal values are placed into the template before rendering.

@technosophos given that, I think what you are suggesting sounds like a good solution.

[2017-05-25 19:18] seh commented on #2492
One challenge with systems that work like this is that simple interpolation is often not enough. The replacement value has to come in as a lexically valid replacement, which then leads to wanting some functions available transform the supplied value into something suitable.

I'm not arguing against the idea just yet; we just need to be suspicious that [the simple substitutions to which @technosoph

[2017-05-25 19:32] chancez commented on #2426
Tiller logs are this, https://gist.github.com/chancez/2d632496799632298efa0ccf9fa70f9d but I don't have the output of the resources at the time. I can assure you that they're in an unchanged state since I'm testing the helm upgrade without having made any changes, as the logs indicate. I'll try to get another helm run with 2.4.2 as well as the kubectl output.

[2017-05-25 20:10] technosophos commented on #2492
But if it is coming in through the values.yaml file, the transformation and validation can still happen in the templates, right? For example: `myPort: ${port}` can still be accessed in the template like this: `{{ .myPort | int }}`.

The bigger constraint is that the `values.yaml` file MUST always be a valid YAML file.

[2017-05-25 20:16] seh commented on #2492
It's that constraint I had in mind: What happens if the "port" variable holds the value

or some other sequence that makes for invalid YAML? As you said, there are syntactic constraints to keep in mind, though one can work around them:
[code]

[2017-05-25 20:16] benjigoldberg commented on #2492
Right, so the values would have to be escaped or quoted in some way, eg in values.yaml:

[code]

[2017-05-25 21:36] pete0emerson opened #2498 "Helm cannot fetch images from a local minikube repository"
[code]

I'm trying to run helm on minikube, and running into an issue where it isn't pulling my image.

I see my image in the minikube repository:

[code]

If I run the image via `kubectl` directly, it fires up just fine:

[code]

but if I try to run that same image via helm, it says that it can't find the image:

[code]

Any suggestions on how I can debug this further would be much appreciated. T

[2017-05-25 21:48] braedon commented on #2492
Based on the cases where I have wanted this so far, I suspect full templating is required, not just simple interpolation.

The idea of interpolating the literal values from values.yaml into the templates, and then interpolating the templates again in case the literal values were actually templates is interesting, but seems like it would be dependent on how the templates are written. e.g. this isn'

[2017-05-25 22:47] grailsweb commented on #2482
Thanks adamreese, I was disabled ipv6 on my system. I enabled it now, stop getting the ' Unable to create listener' error message. only authentication error I see now.

[2017-05-25 22:58] grailsweb commented on #2482
by searching but reports . this one helped.

[code]

[2017-05-25 22:58] #2482 closed

[2017-05-26 00:51] jascott1 commented on #2487
@rustyShacklefurd
Your folder is `storm-0.9.x/charts/worker-ui` but the Chart.yml there contains incorrect `name: storm-0.9.x`. After changing it to `name: worker-ui` the values were rendered.

@thomastaylor312 any idea why this wasn't failing on the chart folder / chart name mismatch? I could've sworn it threw an error at me before when I had this mismatch.

[2017-05-26 01:23] jascott1 commented on #2487
Also opened #2502 while working this issue which removes outdated info about nested globals.

[2017-05-26 03:40] helgi opened #2503 "Hide table headers in list outputs"
I want to be able to hide table headers in any list output so I can run `awk` and similar tools against the output.

[2017-05-26 03:42] helgi opened #2504 "output lists/tables as json/yaml/etc"
Would be good to have the ability to output tables (helm ls, dep, release and others) as `json`, potentially `yaml` and other formats. This would greatly simplify automations (especially with `jq`).

[2017-05-26 04:14] thomastaylor312 commented on #2487
@jascott1 Thanks for the answer! I don't remember if there is actually a check done on the folder matching the chart name. @technosophos is that supposed to be the intended behavior?

@rustyShacklefurd Did @jascott1's answer solve it for you?

[2017-05-26 04:37] #2383 closed

[2017-05-26 04:48] #2488 closed

[2017-05-26 04:53] rsanders commented on #2437
@technosophos this seems to repeatably demonstrate the out-of-sync issue.  https://github.com/rsanders/helm-2437-test-case

[2017-05-26 08:55] ZhenyangZhao opened #2505 "helm pkg proto hapi can not talk to tiller, incompatible versions"
Dear all:

###Problem
I use helm & tiller with 2.4.2, on the server i can `helm list` release.But when i use hapi golang code(tag v2.4.2) seem to be error.
[code]
###Environment
[code]
Thanks a lot.

[2017-05-26 11:00] rimusz opened #2506 "Pass main chart name to sub-charts"
There is no way to get main charts name to subchart, e.g. if you want to access from subchart deployment the main chart service.
For not to get around is only hardcoding main charts name as a global value:
[code]

in subchart:
```'{{ .Release.Name }}-{{ .Values.global.mainChart }}-somename:123'```

[2017-05-26 14:07] technosophos commented on #2498
Helm doesn't do the image fetching. Only Kubernetes does. Helm merely pushes the manifest with the image reference.

To test, try using `helm --debug --dry-run install....` and then manually load that manifest with `kubectl create -f`.

[2017-05-26 17:29] pete0emerson commented on #2498
Chopping down my problem into the smallest possible example and then using `helm install --debug --dry-run flask` to produce a file to feed to `kubectl` helped figure this one out. Sleeping on it probably helped, too. :)

I needed to set `imagePullPolicy: IfNotPresent` instead of `Always`.

I get it into my head that by setting the policy to `Always` I can tag `v1` over and over again and it will

[2017-05-26 17:29] #2498 closed

[2017-05-26 17:51] mattfarina opened #2507 "Docker Hub image for kubernetes/helm"
It would be nice to have an image for kubernetes/helm on docker hub. Something to use in CI systems like [Drone](https://drone.io) or ConcourseCI. Maybe even a drone plugin. Does something exist? If not, any thoughts on where it should go?

[2017-05-26 18:55] markpundsack opened #2508 "Alias should replace chart name, not add a new one"
From https://github.com/kubernetes/helm/pull/2486#pullrequestreview-40538968:

It's slightly confusing to have the first alias make a copy, rather than just alias (or rename) the first copy. e.g. if you're using alias to pretty up access, but still only need a single instance of the chart, there's no way to do that. So `alias` is acting more like `additional` or some other semantics.

I don't want

[2017-05-26 19:47] fibonacci1729 commented on #2505
Can you provide more details? It's not immediately clear to me what you mean when you say "hapi code"; by this are you referring to the helm client APIs? From what I understand, the helm client works for you.

[2017-05-26 21:55] seh opened #2509 "Output from "helm init --dry-run --debug" uses title case for "Spec" and "Status" field names"
Related to the root cause of #2181, running _helm init --dry-run --debug_ with Helm version 2.4.2 yields YAML manifests where the "Spec" and "Status" mapping keys are mistakenly in title case (as well as all of the keys contained within those objects).

I suspect that we mistakenly reverted to [using the "internal" Kubernetes types instead of the "external" versioned types](https://github.com/kube

[2017-05-26 21:56] jascott1 commented on #2299
Related: https://github.com/kubernetes/helm/issues/2420

[2017-05-26 21:58] technosophos commented on #2299
My read on this is that certain parts of a Kubernetes manifest are basically intended to be tailored to a specific cluster's needs. These are things like node selectors. It would be good to support those.

I sorta like exposing the possibility of support `--kind` for [Deployment|DaemonSet|ReplicaSet]. The drawback is that `--kind=DaemonSet` might present slightly different debugging needs. And may

[2017-05-26 22:16] kfox1111 commented on #2299
I've been using a --kind=pod like config for a while now, and its extremely handy to launch helm before you have a fully working k8s. I'm guessing it will become more common for others to attempt it in time.

If I could get my top wishlist though, I think it would be in this order I think:
1.  -o json (or something similar. Give me the raw object that will be loaded instead of doing it. I can more

[2017-05-26 22:18] kfox1111 commented on #2420
if --node-selectors was available, that could be used too. you would label your nodes that helm could land on, or use an existing label for controller nodes. That would pin them away from windows computes.

[2017-05-26 22:23] kfox1111 commented on #2299
btw, for grins, here's a first stab at flannel as a helm package. :)
https://github.com/kfox1111/charts/tree/flannel/stable/flannel

Once helm has support for the use case, I plan on submitting it to the kubernetes/charts repo.

[2017-05-26 22:23] jagregory commented on #2426
FWIW, I'm seeing this with `helm install --wait` too. v2.4.2

[2017-05-26 22:41] migmartri opened #2510 "Allow repo index with relative path"
Hi,

If you create a repository index without passing the `--url` flag, your index will point to relative paths for the chart tarballs.

Example:

[code]

This repository can be added but nor fetch nor install work.

[code]

It seems to be a common/known issue [1] and https://github.com/kubernetes/helm/issues/2315.

In my opinion, Helm should be able to compose the chart url by using on the URL pr

[2017-05-26 22:48] technosophos commented on #2492
@braedon Yes, there are several problems:

1. The values.yaml file MUST be valid YAML in its unparsed state. This places interesting limitations on template directives.
2. Values are merged in stages, and some stages do not have access to the template subsystem (namely, --set resolution, requirements.yaml constraints, and -f merge operations.)
3. All values must be computed before certain parts of

[2017-05-26 22:48] technosophos commented on #2474
Which version of Helm/Tiller?

[2017-05-27 00:00] mattsch commented on #2474
Sorry, it was with 2.4.2.

On Fri, May 26, 2017, 18:49 Matt Butcher <notifications@github.com> wrote:

[2017-05-27 01:15] ZhenyangZhao commented on #2505
@fibonacci1729  Thanks a lot .my mistake. I solved this problem by `metadata.Pairs("x-helm-api-client", version.Version)`
:)

[2017-05-27 01:15] #2505 closed

[2017-05-27 01:41] #1958 closed

[2017-05-27 03:13] lachie83 opened #2514 "(bug): {{ .Chart.AppVersion }} doesn't get template only works when installing from local filesystem"
[code]

Source template - See image name and tag for {{ .Chart.AppVersion }}
[code]

Install from remote repo - see image and with tag truncated (broken)
[code]
Install from local fs - see image and tag
[code]

[2017-05-27 03:13] gyliu513 commented on #990
Well, I was a bit confused here, how do we want to proceed this project? Enhance current Kubernetes dashboard or just leverage the Helm Monocular project? Actually, I do not have strong options for which one is better, I think that we may need to enhance the [Kubernetes dashboard backend](https://github.com/kubernetes/dashboard/tree/master/src/app/backend) to enable the Helm APIs, then everyone ca

[2017-05-27 06:52] wuzhihui1123 opened #2515 "a release named already exists when i install release"
I has delete a release and  I still can't install ,  See below:

![image](https://cloud.githubusercontent.com/assets/4246626/26518878/97c88486-42eb-11e7-9aee-e89caf4c4c10.png)

[2017-05-27 06:55] rimusz commented on #2515
you need to use flag --forse when you delete

[2017-05-27 06:59] wuzhihui1123 commented on #2515
@rimusz
thanks ,  but no the flag
![image](https://cloud.githubusercontent.com/assets/4246626/26518965/15f9f230-42ed-11e7-83dd-aed171091789.png)

[2017-05-27 07:04] wuzhihui1123 commented on #2515
oh, I know , if reuse the release , must use flag --purge when delete
![image](https://cloud.githubusercontent.com/assets/4246626/26519017/b32ab3d2-42ed-11e7-9c79-5d938a4a2a9d.png)

[2017-05-27 07:05] #2515 closed

[2017-05-27 07:27] berndverst commented on #2514
Thanks @lachie83 and @seanknox for fixing and merging this so quickly!

[2017-05-27 11:09] floreks commented on #990
From dashboard perspective helm integration would be nice to have. I have done some initial work on integrating helm with dashboard based on existing PR https://github.com/kubernetes/dashboard/pull/1332. Currently I am working on integrations API and integrations page that will allow us to easily manage all dashboard integrations.

While working on integrating helm into the dashboard I have encoun

[2017-05-27 11:42] gyliu513 commented on #990
Thanks @floreks , so what is the problem of updating Helm to match the version deps?

[2017-05-27 13:29] floreks commented on #990
On our side there is no problem. Helm needs to update their dependencies and everything should work. The problem is that `client-go` and `apimachinery` is constantly changing and we are trying to keep them up to date. On the other hand helm might want to keep stable version of deps not latest like dashboard.

[2017-05-27 13:36] technosophos commented on #2514
That doesn't even seem possible... the source of the chart has nothing to do with the process of rendering the chart. I'm stumped.

So if you fetch the chart first (`helm fetch incubator/istio`), and then install from the chart you just fetched, does it succeed or fail?

[2017-05-27 19:32] adamtwiss commented on #2030
I had this issue after installing (2.4.1 on MacOS) and it was because HELM_HOME wasn't set.
After doing:
[code]
It worked fine.

[2017-05-27 22:33] ipedrazas commented on #2417
I've verified it. If you do `helm upgrade --install` with helm `2.3.1` in the client and helm `2.4.2` on the server, you get this error.

Once your client and server are in the same version everything works as expected

[2017-05-28 03:38] gyliu513 commented on #990
Yes, it is a problem, but I  think that this should be a common issue for all Kubernetes projects, such as service catalog etc. The final goal should be all projects should use `client-go` and `apimachinery` in the future. I think that the `client-go` and `apimachinery` should also have stable version and helm should also have same release cycle and time as those projects, comments? @floreks

[2017-05-28 13:01] DonMartin76 opened #2516 "How to scale down pre-upgrade and up post-install?"
Hi there,

I have the following situation with one component of the package I am trying to write a Helm chart for: Even though the component is scalable, it's important that it's scaled down to just 1 instance prior to being upgraded (correct: this leads to a little bit of downtime), and after a new version has been installed, the component can be scaled up again.

Can I accomplish this using Helm

[2017-05-28 13:44] DonMartin76 commented on #2516
I have the following idea so far:

* For `pre-upgrade`, use a Job with an image which contains `kubectl` and does just that, `kubectl scale deployment <...> --replicas=1`, e.g. inside a bash script or so
* Deploy new version with a fixed replica count of `1`
* Another Job which runs `kubectl` with the in-cluster configuration to set the replica count to the desired number of replicas, once more us

[2017-05-28 18:31] bviolier commented on #2216
Also got something related to this.

I have my own chart, in that chart, I have Memcached & Percona as a dependency.
The fullname in my chart is bigger than 24 characters.

But, 1 out of the 3 or 4 times that I deploy, my fullname is suddenly just 24 chars, which completely breaks the deploy and also creates completely new services with just the 24 chars name.

After research, and finding this iss

[2017-05-28 20:28] lukaszo commented on #2483
Oh, I see. Is there a way to set maxUnavailable to 0 when running `helm install`?

[2017-05-28 23:17] groundnuty commented on #2479
any comment on this? I think it's a major bug :(

[2017-05-29 00:46] wstrange commented on #2508
Ran into this tonight.  Possible behavior  I would want?
alias:
- first-instance-name-replaces-chart-name
- a-second-instance-of-chart
- a-third-instance

[2017-05-29 06:51] braedon commented on #2492
@technosophos I was envisioning running the templating engine on the values.yaml files before any other parsing/coalescing/etc. of the files was done (if this feature doesn't make it, I've considered running a separate templating system to generate the values.yaml files to then pass into Helm).

It seems like that should avoid issues 1 and 2, and be a pretty intuitive system to grok? I have no ide

[2017-05-29 07:50] floreks commented on #990
@gyliu513 Of course I agree. Right now `client-go` and `apimachinery` are unstable and constantly changing. Packages are moved from one to another and from kubernetes repo. Once everything will be stable and properly versioned then it will be much easier for all projects based on kubernetes to integrate with eatch other.

We are trying to sync our releases with kubernetes timeline and before the r

[2017-05-29 08:05] gyliu513 commented on #990
Good to know, thanks @floreks So what is the current plan for this issue? Using Monocular or update Kubernetes dashboard directly? Just want to know the direction for this ;)

[2017-05-29 08:29] floreks commented on #990
From dashboard perspective I can say that we are planning to add helm integration anyway.

[2017-05-29 11:44] odzhu opened #2517 "OpenShift integration"
Hi OpenShift team,

trying to use helm with OpenShift...

I understand that currently Helm doesn't support lots of custom OpenShift resources,
however, I try pure k8s template I'm getting an example:

`helm install --tiller-namespace myproject stable/mysql --name test --kube-context myproject/192-168-64-6:8443/system:admin
Error: release test failed: User "system:serviceaccount:myproject:default"

[2017-05-29 11:56] bacongobbler commented on #2517
ping @smarterclayton, @marun and @jstrachan as I believe they're working on openshift. Please correct me if I'm wrong. :)

[2017-05-29 15:09] h0tbird commented on #2504
Also with `helm get values`. Super useful for me too!

[2017-05-29 16:15] smarterclayton commented on #2517
This is RBAC - you'd need to grant the "default" service account in namespace "myproject" the permissions that helm needs to create resources.  In this case, the "edit" role is probably sufficient (unless your helm templates are setting RBAC rules, in which case project "admin" is needed).

[code]

grants service account `default` the `edit` role in project `myproject`.  I assume you're only tryin

[2017-05-30 03:44] plytro commented on #2033
It appears the hash generation changed between 2.2.3 and newer versions. Our build nodes run 2.2.3 but our developers have been bit by this because they are downloading the newest version. After committing their .lock file and their .yaml file, when the project hits our CI system we see this error. Our current solution is to have our developers downgrade until we get a chance to upgrade our build

[2017-05-30 10:55] allamand commented on #2464
I've got a similar error where tiller retrieve the correct ip and port but can't connect due to tls verification (i use skip-tls-verify on my kubernetes.

[code]
is there a way to ask tiller to skip this verification ?

[2017-05-30 11:09] odzhu commented on #2517
@smarterclayton, it worked for me, thank you!

Actually I tried the below:
- placing tiller and releases in same namespace
- placing tiler and releases in different namespaces

Both worked great with your help.

[2017-05-30 11:09] #2517 closed

[2017-05-30 12:42] kaskavalci commented on #2223
Thanks @yvespp. For those who is looking for a solution:

[code]

[2017-05-30 14:55] markpundsack commented on #2508
As a side benefit, being able to alias chart names helps when charts have hyphens in their names since referring to variables in the chart with a hyphen is a pain. In that case, I'd like to alias the chart name to something with camelCase. But of course if aliasing creates a duplicate chart, I can't do that.

[2017-05-30 17:58] chancez commented on #2483
@lukaszo there's `.Release.IsInstall` and `.Release.IsUpgrade`  you can use in your templates.

[2017-05-30 21:42] r0fls opened #2519 "Can the --tiller-namespace be set as a default somewhere?"
Is there anyway to create a default value in the `--tiller-namespace` parameter? Either in local helm config or somewhere else.

[2017-05-31 01:22] thomastaylor312 commented on #2508
Thanks for opening this @markpundsack! I will try to get around to this, but am labeling as help wanted for now in case there are any takers. Also, cc-ing @sushilkm so he can follow along and help review any code because he wrote it 🙂

[2017-05-31 01:30] thomastaylor312 commented on #2420
So do we want to wait for `--node-selectors` to be implemented or do we still want a quick fix with a hard-coded annotation?

[2017-05-31 01:38] thomastaylor312 commented on #2299
I agree with @kfox1111 on this one, but also think `--file` should be an option. With an `--output` option and `--file`, it gives you the flexibility to set up things as you'd like to or to just provide a file.

For the first pass, I would think the output, node-selector, and file options would be good in one PR and then we can break out the others into their own features. That sound good @technos

[2017-05-31 01:45] sushilkm commented on #2508
If noone is working on this, i can update the feature code, feel free to assign this to me

[2017-05-31 04:19] keyolk opened #2520 "helm still ignores kubeconfig"
Seems it related to this issue https://github.com/kubernetes/helm/issues/2379.
I use v2.4.2 helm, but it is not resolved.

See below
[code]

Any Idea to solve this ?

[2017-05-31 06:56] seanknox commented on #2420
What's the timeline for node selectors? If it's > 1 month I'd advocate for taking on a teeny bit of tech debt with hard coding now with for the benefit of bringing a slew of very hungry Helm users in the short term.

[2017-05-31 07:16] thomastaylor312 commented on #2508
@sushilkm I haven't started it yet, so you can take it. I'll assign to me (because you didn't open it and I can't assign it) so no one else takes it

[2017-05-31 07:31] thomastaylor312 commented on #2420
I am waiting to hear back on #2299, if it doesn't look like it will land in 2.5, I will implement this fix

[2017-05-31 14:26] seh commented on #2519
There is the "TILLER_NAMESPACE" environment variable. Is that sufficient, or is that hard to set in your scenario?

[2017-05-31 15:50] fibonacci1729 commented on #2520
What is the output of ```kubectl config current-context```? To me, this seems like your kubectl is set to the wrong context. The output of ```helm init``` indicates that tiller was installed into your cluster and presumably the one which you expected.

[2017-05-31 15:57] fibonacci1729 commented on #2506
@technosophos

[2017-05-31 16:02] alexbrand commented on #1802
For the record, just ran into this and the issue was that I was using this helper in one of the templates but missing the `.` at the end.

E.g.
[code]

instead of
[code]

[2017-05-31 16:29] kiich opened #2525 "helm get manifest only seems to work with DEPLOYED release"
Using master.

When helm install/upgrade fails and release is marked as FAILED, doing
`helm get manifest <release_name>`

returns me:
[code]

I had hoped it will store failed manifests as well but doesn't seem like it.

[2017-05-31 16:29] kfox1111 commented on #2299
@thomastaylor312 Not sure I understand the difference between -o json and --file. Can we nail down those semantics real quick?

I think we should be able to get a version of this up and running pretty quickly.

[2017-05-31 16:39] tesharp commented on #2420
Was just trying a mixed cluster aswell, and ran into this. Would be nice with a quick fix

[2017-05-31 16:53] r0fls commented on #2519
That'll do! Thank you!

[2017-05-31 16:53] #2519 closed

[2017-05-31 16:55] thomastaylor312 commented on #2299
@kfox1111 I was just talking about the `--file` flag [mentioned earlier](https://github.com/kubernetes/helm/issues/2299#issuecomment-295508306). Basically so you can output a tiller manifest using `-o json` and then modify it to your liking and provide it to `helm init` using `--file`. But I guess you could also just use `kubectl create` with the manifest, so maybe it isn't actually worth it to ha

[2017-05-31 17:09] kfox1111 commented on #2299
@jascott1 said he was going to work on it. but if he can't do it in the next day or two, I can take a quick stab at it.

[2017-05-31 19:02] jascott1 commented on #2479
@groundnuty Try including `child-level-1` in the condition

[code]

[2017-05-31 19:09] inc0 opened #2526 "Tiller-based orchestration"
# Issue description

In kolla-kubernetes, notorious limit-pusher, we ran into issues of orchestration and pretty bad race conditions. We are using old code that resolves dependencies and wait for container startup only after all the dependencies are resolved, but I think that kind of logic could make good addition to Tiller.

# Proposed change

We would introduce "readiness" concept for whole char

[2017-05-31 19:25] groundnuty commented on #2479
@jascott1 it did solve the issue, but I think it's not an acceptable hack.
I develop complex charts similar to OpenStack or Deis:
https://github.com/groundnuty/onedata-charts
the whole point is to create high-level charts that use other charts as a building block, overwriting values when needed or enabling extra dependencies of those lower charts.
Your solution would require modifying child-level-

[2017-05-31 22:34] jascott1 commented on #2479
child-level-1 Chart.yaml does not need to be modified only requirements.yaml which already requires modification. You might be looking for a comma separated list of conditions (first one that exists wins) so you can do `condition: child-level-1.child-level-2.enabled, child-level-2.enabled`
Since you mentioned OpenStack, FYI I wrote this feature primarily for the OpenStack kolla-kubernetes project.

[2017-05-31 23:06] SlickNik opened #2527 "Incorrect example in the "using helm" documentation"
While following the 'Using Helm' documentation, I ran into an issue with creating a release for the stable/mariadb pod based on the example in the documentation.

I created the release using these commands as per the doc:
[code]

However, this resulted in the release not coming up correctly. Digging some more, I found the mariadb pod in CrashLoopBackOff:

[code]

And finally looking at the logs:
[

[2017-05-31 23:13] jascott1 commented on #2331
This is a fun one. If I set `chart2.image.tag` in chart1/values.yaml then I dont see chart2's image tag being set incorrectly using `--set`. Still looking into it, might have to pause and configure the debugger ;)

[2017-06-01 00:55] groundnuty commented on #2508
I can concur that this is also an alias behaviour that seemed natural for me what I developed charts that needed multiple copies of the dependencies. FYI I even wrote a plugin that does that, while waiting for helm 2.5.0. https://github.com/groundnuty/requirement-alias

[2017-06-01 01:12] isansahoo commented on #2224
where is the path spec/template/spec is present?

[2017-06-01 01:25] keyolk commented on #2520
Thanks  @fibonacci1729
But it seems there is no error

Here my terminal outputs
[code]

[2017-06-01 01:57] c-knowles commented on #2413
@thomastaylor312 thanks! I've just run through this again with the latest Traefik chart and all seems good with 2.4.2 so it seems unaffected by the issues in https://github.com/kubernetes/helm/issues/2426.

[2017-06-01 03:55] yan234280533 opened #2529 "Incorrect order for parameter check in uninstall release, Can we adjust it?"
I read the code of uninstall release to study the code of this process.

Find that in UninstallRelease function, do these three steps:

1、 get release locker of release name

2、  check  whether the release name  is ValidName.MatchString

3、 check  whether len(req.Name)  is long than releaseNameMaxLen

But if the   len(req.Name) is long than releaseNameMaxLen, the req.Name is illegal. Surely the ge

[2017-06-01 05:40] thomastaylor312 commented on #2413
@c-knowles Thanks for circling back and letting me know!

[2017-06-01 05:52] isansahoo commented on #2224
When I execute:
kubectl edit deploy --namespace kube-system tiller-deploy

I'm getting below error:
Error from server (NotFound): deployments.extensions "tiller-deploy" not found

Please help me.

[2017-06-01 09:10] abinet opened #2531 "helm 2.4.1 ignores --home option"
on ubuntu 16.04

`helm home --home somedir`
still returns default user home directory

`HELM_HOME=somedir helm home `
works fine

[2017-06-01 11:40] acondrat commented on #2493
Run into the same issue. Is there a workaround other then re-installing the release?

[2017-06-01 15:32] #2527 closed

[2017-06-01 15:35] fibonacci1729 commented on #2531
@adamreese

[2017-06-01 18:22] kujenga commented on #2224
@isansahoo have you run `helm init`? Check out the quick start guide: https://github.com/kubernetes/helm/blob/master/docs/quickstart.md

[2017-06-01 20:50] jascott1 commented on #2331
The bug is definitely happening in chartutil.processImportValues (my bad). Implementation is applying the `--set` value to each parent chart but thinking it should wait until end and then operate on computed values.

[2017-06-01 21:47] wstrange commented on #990
It would be super helpful if Charts included standardized metadata that could give a Helm GUI hints on how to present values.yaml for editing.  You probably want a generic yaml editor, but for novice users it might be nice to give them more of a constrained experience.
Something like:
[code]

[2017-06-01 21:50] kfox1111 commented on #990
Rather then inventing a new kind of language, is there an existing one that would work?

[2017-06-02 05:32] jascott1 commented on #2331
As far as I can tell it was not necessary to merge values at that level. I removed the offending code and did some manual testing. Thanks for finding this @xtimon and I appreciate any testing time you can spare.

[2017-06-02 06:22] jascott1 commented on #2444
After running with the --reuse-values flag like so

[code]
I get an en empty result for the `helm get values example`. I will keep looking to see if an error is getting eaten somewhere or other silliness.

[2017-06-02 12:22] yan234280533 opened #2538 "Can it have necessary to give an Uniform Check for release name ?"
I read the code of the release  processings, I find that in the processings such as Update, getstatus, gethistory and so on. Most of  those  processings no check the release name.

Can we have an Uniform Check for the release name ?  If the release name is illegal, processing exit and return the error message "The release name is illegal, release ""^(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])+$"" a

[2017-06-02 14:03] nebril opened #2539 "Proposal: Federation support"
There is a need for proper federation support within Helm community, as this issue shows: https://github.com/kubernetes/helm/issues/1998

This document is intended to show the possible way of implementing support for federation in Helm.

K8s federation as it stands now, has the concept of a `host cluster`, in which the federation API server lives, which communicates with cluster API endpoints.

Fe

[2017-06-02 17:04] jascott1 commented on #2444
@technosophos Im not experienced with `--reuse-values` but I got desired behavior by doing the following:

[code]
The response is
[code]
Then upgrading and explicitly using charts/test/values:
[code]
Gives correct response:
[code]

It seems the release is being changed properly on upgrade using the above commands. Is that a bug in `--reuse-values`?

[2017-06-02 17:30] wstrange commented on #2526
Another related use case that we have is conditional deployment of a dependency. For example, deploy this database sub-chart, but only if it has not already been deployed (perhaps as part of another chart).

The current mechanism only supports a static condition to determine whether or not to deploy a dependency.

If Helm supported a pluggable probe, you could presumably support this kind of condi

[2017-06-02 18:09] wstrange commented on #2508
Thinking about this a bit more:

The current approach of specifying a list of aliases: `[ db1, db2, ... ] ` does not let you apply tags or conditions selectively to those aliases. i.e. a conditional expressions apply to *all* aliases -  but I might not want that behavior. I might want to conditionally override only db2 , for example.

Perhaps a better syntax is that there can be only a single alia

[2017-06-02 18:09] jascott1 commented on #2538
@yan234280533 We might get away just checking on write operations.

[2017-06-02 18:34] groundnuty commented on #2508
@wstrange that's exactly the approach I took when implementing an alias plugin. To illustrate with an [example](https://github.com/groundnuty/requirement-alias/blob/example/requirement-alias-example/requirements.yaml)
[code]

This approach allows using all the power of dependencies applied to individual alias.

[2017-06-02 20:33] dgarlitt commented on #2004
I'm having a similar issue. When I have a ConfigMap template defined as follows:

[code]

And, `config.properties` contains multiple lines the following:

[code]

I receive the following error: `Error: UPGRADE FAILED: YAML parse error on my-chart/templates/my-configs.yaml: error converting YAML to JSON: yaml: line 8: could not find expected ':'`

However, it works fine if `config.properties` conta

[2017-06-02 20:42] dgarlitt commented on #2004
I found that I no longer get an error with multi-line files if I change my ConfigMap template to the following:

[code]

Notice that `{{ .Files.Get "config.properties" | indent 4 }} is outdented to the same level as the `data` key.

[2017-06-02 21:15] markpundsack commented on #2508
Thanks @wstrange, that's exactly how envisioned it, but didn't want to get greedy when someone else volunteered time to solve my problem. :)

[2017-06-02 22:48] thomastaylor312 commented on #2508
I actually really like how that looks. @sushilkm How big of a pain would that be to switch around?

[2017-06-02 22:56] thomastaylor312 commented on #2508
@sushilkm If the change mentioned above would be possible, we can open another issue to track it

[2017-06-02 23:04] thomastaylor312 commented on #2529
This is a valid point, we probably should be checking the release name before trying to lock it

[2017-06-02 23:06] thomastaylor312 commented on #2526
I am all for this. It will definitely require a refactor of the wait code to be a bit more robust and modular.

[2017-06-02 23:34] sushilkm commented on #2508
Thanks for the suggestion @wstrange, yeah it looks we both had different ideas when thinking about the feature.

@thomastaylor312 I can update that

[2017-06-04 10:59] omegarus commented on #2192
I'am trying to understand how index works.
How can i access `servicename` value from:
[code]
?

[2017-06-04 12:58] cloudecho commented on #2360
I just met the same problems, and I have no idea how to solve this:
==============================================
[root@k8s-master k8s]# kubectl version
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.2", GitCommit:"a55267932d501b9fbd6d73e5ded47d79b5763ce5", GitTreeState:"clean", BuildDate:"2017-04-14T13:36:25Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"linux/amd64"}
Serv

[2017-06-04 17:54] gullitmiranda commented on #2412
I have had the same problem when the number of reviews are great:

[code]

[2017-06-04 21:53] whitecolor commented on #2060
@technosophos

How? Where the notion about namespaces should be put in config?

Do you plan to officially support multi-namespace releases?

[2017-06-04 22:15] bacongobbler commented on #2526
Would this be something which `helm test` should be able to handle? pinging @michelleN

[2017-06-04 22:31] bacongobbler commented on #990
@kfox111 which comment are you referring to here? Don't see any mentions about inventing a new language.

[2017-06-04 22:35] bacongobbler commented on #2420
When I'm at my desktop tomorrow, I'll give you a set of manifests which you can use to install v2.4.2 on a mixed node cluster via kubectl. `helm init` is more or less just a call to `kubectl create` plus some client-side bootstrapping.

[2017-06-04 22:37] bacongobbler commented on #2507
`gcr.io/kubernetes-helm/tiller` is the official image, though no helm client exists in that image. See https://github.com/kubernetes/helm/pull/1929

[2017-06-05 15:59] kfox1111 commented on #990
@bacongobbler Sorry, was responding to @wstrange's comment.

[2017-06-05 17:04] seh commented on #2509
This problem bit a teammate of mine today. He had installed Helm version 2.4.2 via Homebrew, then found that he couldn't get _helm init_ to work properly.

[2017-06-05 19:36] #2315 closed

[2017-06-05 19:36] #2510 closed

[2017-06-05 19:36] #2452 closed

[2017-06-05 19:42] technosophos commented on #2531
#2476 resolves this. We should probably put that into 2.4.3 and release it this week.

[2017-06-05 19:47] technosophos commented on #2539
I like this idea. I had been considering trying something in the opposite direction (running a special tiller in federation plane), but this seems more sensible.

[2017-06-05 19:50] technosophos commented on #2538
Yes, we could add this check to any release operation (status, get,...) to catch errors early. I'll mark this as a feature. Do you want to do this @yan234280533 ?

[2017-06-05 19:52] technosophos commented on #2529
Closed by #2540

Thank you @yan234280533 !

[2017-06-05 19:52] #2529 closed

[2017-06-05 19:55] technosophos commented on #2526
There is a PR open that introduces "hook stages", which might be a solution to this issue. See #2440.

Also, with 2.5, it will be possible to plugin an an alternate orchestrator (as a Rudder). That might be a good way to test out some alternatives for this kind of workflow. /cc @nebril

[2017-06-05 20:13] technosophos commented on #2525
I'm looking into this. As a workaround, you can use `helm get manifest --revision $REVISION_ID $RELEASE_NAME`, where $REVISION_ID is the revision from `helm history $RELEASE_NAME`

[2017-06-05 22:19] technosophos commented on #2420
@thomastaylor312 I think we should do a quick fix for this in 2.4.3 or 2.4.4. It should just be a matter of adding the right line in the `cmd/helm/installer` setup for that Deployment.

[2017-06-05 22:32] prat0318 commented on #2426
I am also facing the issue with v2.4.2 even if no dead replica set is present in the list.

And `v2.4.1` doesn't do a proper `wait` and returns back success even in between of deployment roll happening in progress.

[2017-06-05 23:01] thomastaylor312 commented on #2420
I can do that tonight @technosophos

[2017-06-05 23:17] inc0 commented on #2526
I disagree that stages will allow to do it. Key here is requirements.yml, which would determine external charts that needs to be ready before chart can proceed. Unless I miss the hooks idea completely, hooks will be related to internals of chart not external charts, which makes these proposals orthogonal.

As for external orchiestrators yes, that would be solution, but having too many of these wil

[2017-06-06 02:03] yan234280533 commented on #2538
@technosophos  I am very happy to do this, it my pleasure.

[2017-06-06 02:04] michelleN commented on #2526
`helm test` can help assure that a release is working as expected but it would have to be run after `helm install` completes successfully. cc/ @bacongobbler
I would agree that this seems like a good use case for the alternate orchestrator that the AppController folks are integrating using Rudder like @technosophos mentioned though. They already have the dependencies and parent/child hierarchies al

[2017-06-06 07:34] nebril commented on #2526
@inc0 please take a look at AppController Rudder: https://github.com/helm/rudder-appcontroller

It currently works exactly as you want it to work - charts are not being created until all their "parents" are ready, you define your own readiness probes in every pod template.

If you have any issues with deploying it, please let me know, it's still rough around the edges for users.

Additional resour

[2017-06-06 14:11] ae6rt commented on #2258
I am a new helm user as of yesterday.  I am running these versions

[code]

I ran *helm init* without incident and additional flags.

My repositories.yaml file is

[code]
When experimenting with packaging, I encounter messages similar to the OP:

[code]
though the archive appears to have been created successfully

[code]
I have time to help debug with guidance.

[2017-06-06 15:29] technosophos commented on #2258
Can you run `helm serve`, @ae6rt ? Does it give you any errors?

One possible reason for this error is that `helm init` was never run (only `helm init --client-only` is necessary. Another is that `helm serve` corrupted the index. And often just running it again will fix the index. As soon as it has successfully started up, you can CTRL-C it.

[2017-06-06 15:42] tricky42 commented on #2322
Hi lixiaobing1,

the problem does still exists on my end. Did you close this issue, as there is a fix in a newer version?

Cheers,

Andreas

[2017-06-06 15:44] ae6rt commented on #2258
Running "helm serve ." fixed the issue for me.

[2017-06-06 15:45] technosophos commented on #2321
It's been a few months, so I am closing this. Feel free to re-open if necessary.

[2017-06-06 15:45] #2321 closed

[2017-06-06 15:47] technosophos commented on #2374
Closing this as a duplicate in favor of #2249.

[2017-06-06 15:47] #2374 closed

[2017-06-06 15:50] technosophos commented on #1924
Marking this as closed, since the Rudder implementation has been merged

[2017-06-06 15:50] #1924 closed

[2017-06-06 15:51] technosophos commented on #2281
Closing this since @yan234280533 has figured out a fix.

[2017-06-06 15:51] #2281 closed

[2017-06-06 15:59] bacongobbler commented on #1979
Now that it has been publicly announced, the main reason why I opened this issue is because of [draft](https://github.com/Azure/draft). Draft expects the application's chart to be inside chart/, and the main use case is to hack on the chart in dev then use `helm package` on the app for production. Unfortunately, this is not possible today due to `helm package` being unable to package the chart/ di

[2017-06-06 16:00] JeanMertz commented on #2321
Sorry for not responding Matt. I went a different route, and must have missed your comment 👍

[2017-06-06 17:48] #2331 closed

[2017-06-06 17:48] #2525 closed

[2017-06-06 17:50] technosophos commented on #2224
Just realized that we don't put docs change on patch releases. So bumping to 2.5.0.

[2017-06-06 17:50] technosophos commented on #2531
Closed by #2476

[2017-06-06 17:50] #2531 closed

[2017-06-06 18:37] iameli commented on #1979
Yeah, I looked at Draft a bit and was squinting at y'all Deis folks for releasing a product that violates your own linter. 🙃