[2017-06-06 20:09] #2420 closed

[2017-06-06 22:39] #2128 closed

[2017-06-06 22:40] vromero opened #2547 "`--set` and maps"
I have a configuration in values.yaml as follows:

[code]
To try to override I tried the following:

`helm install my-chart --set "someone={{name=john, surname=doe}}"`

But I get:

`Error: failed parsing --set data: key "}" has no value`

Is there a way to pass a map from the command line?

[2017-06-06 23:39] at1012 commented on #1971
I was able to reproduce this. I did a helm install of memcached which uses statefulsets and tried to upgrade it by changing the image from memcached:1.4.36-alpine to memcached:1.4-alpine with the --recreate-pods option. It worked fine and the pods were recreated. But when I did a rollback, they were not recreated.

[2017-06-06 23:41] jschrantz commented on #1952
Is the expectation that helm test would be getting a major overhaul/scope change or is @thomastaylor312's use case of "I would want to deploy the Chart 10 times and validate it is working each time before cleaning up the deployed chart" not a valid representation of what helm test would be used for?

My understanding is that helm test is working at the release level, essentially doing a validation

[2017-06-06 23:42] at1012 commented on #1971
On subsequent manual deletion of those pods, they came up with the expected image which is 1.4.36-apline.

[2017-06-07 00:31] bnookala commented on #1915
👋  Hello! I thought to try and attempt this, since it seemed fairly simple. I got as far as doing an `ack` to see how things were currently implemented and found this:

[code]
Seems like there's a few different `MaxColWidth` settings, and all appear to be beyond 30. For this ticket to be marked as closed, should this be standardized back to 60? Just wondering how to start and proceed here… :)

[2017-06-07 00:38] lixiaobing1 commented on #2322
@tricky42, I changed the OS to centOS, problem has dispeared.

[2017-06-07 01:56] technosophos opened #2548 "`helm home` does not work as expected"
In previous releases, running `cd $(helm home)` worked fine. Currently, on master it does not work. Same with other commands like `ls $(helm home)`

[2017-06-07 02:00] technosophos commented on #2547
It's not the map that is difficult to deal with, it's the list. Until recently, there was no way to access items in a list from `--set`. But we are about to merge a fix for this into Helm 2.5

In Helm 2.5, you will do it like this:

[code]

[2017-06-07 02:01] technosophos commented on #2547
See #2545

[2017-06-07 02:07] seanknox commented on #2362
This should be fixed via https://github.com/kubernetes/helm/pull/2544

[2017-06-07 02:22] michelleN commented on #2340
Not able to reproduce this. If you haven't had any issues recently, would it be alright for me to close this issue and re-open if you see it again? @ahawkins

[2017-06-07 04:24] thomastaylor312 commented on #1952
@jschrantz This is something that isn't yet handled by `helm test`, but we haven't had too many discussions about this recently. @michelleN do you have any current plans for `helm test` (relating to this proposal or otherwise)?

[2017-06-07 05:33] #2508 closed

[2017-06-07 06:04] whereisaaron opened #2551 "Bug: Panic on conflicting values in helm 2.3.0"
I set in values.yaml
[code]
and then on the `helm upgrade` command line [incorrectly] included:
[code]
This is clearly an inconsistent configuration on my part, but it lead `helm` to panic rather than throwing an error.

[code]
[code]

[2017-06-07 11:23] whitecolor commented on #1873
@technosophos @thomastaylor312
The same is here on the latest version

I changed container `args` in deployment (`--sub-host lt` from ``--sub-host`, `lt`)
![image](https://user-images.githubusercontent.com/736697/26875972-961505f0-4b9d-11e7-80ec-7a16af121c2d.png)

Corresponding pod is recreated but has old `args` config:

![image](https://user-images.githubusercontent.com/736697/26875987-a8ff01c0-

[2017-06-07 12:55] YorikSar opened #2552 ""fatal error: concurrent map writes" in Tiller when running several create-test-delete cycles concurrently"
We've ran into this issue: when we started doing parallel testing in our CI, we quickly ran into the issue with Tiller panicking after some time.

We've been running 6 jobs in our CI that create, test and delete releases of our charts and after some time Tiller panicked and got restarted. Here are what seem to be relevant part of traceback that we got: https://gist.github.com/YorikSar/2576b061b4d0

[2017-06-07 16:20] technosophos commented on #2060
We do not plan on fully supporting multi-namespaced releases until Helm 3.0 because doing so will break backwards compatibility and require a major refactor of much of Helm/Tiller's Kubernetes code.

[2017-06-07 16:33] whitecolor opened #2554 "Modifying chart resources after they has been rendered"
I think it is quite often situation when there is chart with needed service and in general it does what it should, but template is not quite flexible to to make what is exactly needed in particular case. As I understand the only option is to download chart source modify template and use these new one.

I think it would be convenient in some cases just to have script/hook that could access and make

[2017-06-07 17:08] technosophos commented on #1881
Removed from milestone, and switching to a Helm Wanted. At this point, the suspicion is that this is a GKE issue.

[2017-06-07 17:18] technosophos commented on #1947
The WIP PR for this has been closed for lack of progress, which means this is not going to get done in time for 2.5.0. Deferring this to 2.6 and marking it as Help Wanted.

@scottrigby if this is still something you'd like to work on, lemme know. Otherwise, we'll try to get some momentum behind it after 2.5 is released.

[2017-06-07 18:39] technosophos commented on #2548
Closed by #2553

[2017-06-07 18:39] #2548 closed

[2017-06-07 18:41] technosophos commented on #2552
This was fixed in Helm 2.4 (actually, in Kubernetes 1.6).

[2017-06-07 21:43] jascott1 commented on #2478
How about `-q|--quiet` instead of `--silent`?
Also which commands would need this functionality?
By "and only get if the upgrade/install succeeded/failed" do you mean return 0 to stdout for success and return 1 to stderr?

[2017-06-07 21:54] jascott1 commented on #1965
We went with the non-templated 'import child values via requirements.yaml' approach. Should we close or alter this proposal to reflect that and concentrate on the templating values aspect?

[2017-06-07 21:59] jascott1 commented on #1834
@kfox1111 can we close this as we now have localpaths and import-values?

[2017-06-07 22:07] jascott1 commented on #1570
@sheerun Sorry for late response. The mechanism for tags and conditions exists in requirements.yaml because thats where the subcharts are specified and end-user intent is expressed.

@sbezverk Are you satisfied with the tags and conditions such that we can close this issue or is there more needed from this?

[2017-06-07 22:34] jchauncey commented on #2478
@jascott1 yeah a 0/1 exit could would work.

[2017-06-07 22:49] jascott1 commented on #2503
I can see the convenience but awk has a mechanism to handle this case (NR/FNR) correct?

[2017-06-07 22:55] nithin-bose opened #2560 "Helm delete/upgrade command hangs"
The issue started all of a sudden. In case it means anything, the app on which ``helm delete`` hanged for the first time had a ``statefulset`` in it.

The following are the version details:
[code]
Let me know if there are any other details I can provide.

[2017-06-07 23:38] kfox1111 commented on #1834
@jascott1: I think issue 1 and 2 are solved now. 3 is still there though.

[2017-06-07 23:47] jascott1 commented on #2560
@nithin-bose Would it be possible to upload a test chart that demonstrates the behavior?

[2017-06-08 00:27] jascott1 commented on #2506
@rimusz I doubt it helps but have to point out that you can also use `--set` so its not as hard-coded. Im assuming you want the subchart to know parent chart's name so subchart can react dynamically somehow and want this to occur automatically so you can swap out parent charts without further action. If possible please share your use case and perhaps we can help figure out a solution.

[2017-06-08 01:13] jascott1 commented on #1168
I agree we should close this issue as the docs seem to inform about the behavior
https://github.com/kubernetes/helm/blob/master/docs/install.md#easy-in-cluster-installation
https://github.com/kubernetes/helm/blob/master/docs/quickstart.md#prerequisites

[2017-06-08 04:01] thomastaylor312 commented on #2363
Has this issue been solved with #2365?

[2017-06-08 04:06] thomastaylor312 commented on #2554
I can definitely see why someone would want to have this available. Others have floated ideas to allow you to set specific attributes of a k8s manifest with an install (can't find the issue for the life of me right now). The way you have proposed it here would be difficult because you are having something out of band modify a chart and I would worry about edge cases where we lose track of the "tru

[2017-06-08 04:07] thomastaylor312 commented on #2551
@whereisaaron Does this bug also happen with the latest release (2.4.2 right now, 2.4.3 should be out tomorrow)?

[2017-06-08 04:08] thomastaylor312 commented on #2560
Also, if you could get us the logs from the tiller pod, that would also help

[2017-06-08 04:26] thomastaylor312 commented on #1841
I think #2142 is related to this one. There is a PR landing for it: #2558

[2017-06-08 05:26] whereisaaron commented on #2551
Thanks @thomastaylor312 I'll report back after I have the opportunity to update.

[2017-06-08 05:45] jascott1 commented on #1834
@kfox1111 Would you agree that a plugin would be tolerable for 3 since we are talking about a packaging / development workflow and not an end user install?

[2017-06-08 07:23] whitecolor commented on #2554
You mean with cli args? But it is really not clear how to provide a correct "address" of the attribute.

It is the responsibility of the user.

[2017-06-08 08:42] nithin-bose commented on #2560
The chart I was testing was a variation of https://github.com/kubernetes/charts/tree/master/incubator/cassandra

This issue came up only after upgrading/deleting (purging) the chart a few times. Now I dont think any commands that need an edit (install/upgrade/delete) works. Strangely list command still works.

[code]

[2017-06-08 08:54] lukaszo commented on #2483
Ok, I understand how it works. Thank you for your help.

[2017-06-08 08:54] #2483 closed

[2017-06-08 08:59] TimJones opened #2562 "Helm applied applied only 'half' a spec without errors"
Running Helm v2.4.2 with a K8S 1.6.2 cliuster in AWS.

We have a `Deployment` that has an `initContainers` in the spec, and noticed yesterday that while the spec was being upgraded, the `initContainers` part was skipped/ignored due to a typo (comma in an `.env.name`) but no error during the upgrade.

Getting the deployment with `helm get` and applying the YAML manaully with `kubectl apply -f ...`

[2017-06-08 09:27] bviolier commented on #2560
We actually got exactly the same issue starting this morning. It's just with Charts that we have been using for a while. We are running on GCE.

The client hangs after:
[code]
After that, nothing happens, ever.

The tiller server only has the following logs:
[code]

Note that running a manual command with `helm history test` shows all the history. And has exactly the same output on tiller server.

[2017-06-08 09:38] bviolier commented on #2560
Some more information:
- Installing a new chart with `install` works
- Then `upgrade` the exact same chart with the same information hangs, just like everything else.

- Installing a new chart with `upgrade --install` also works
- Then `upgrade` the exact same chart with the same information hangs, just like everything else.

- delete's don't work at all

[2017-06-08 10:03] bviolier commented on #2560
I fixed the issue by deleting the `tiller-deploy` pod, and letting it create a new one on it's own. Everything works again.

[2017-06-08 10:05] jayme-github commented on #2013
/cc @tback @wjkohnen

[2017-06-08 12:17] hunter commented on #2560
We've run into the same deletion issue in the past week and also used the tiller pod removal to work around it. I'll see if I can grab some debug logs when it happens again.

[2017-06-08 12:41] YorikSar commented on #2552
Ok, we'll have to investigate if we're ready to switch to 2.4 then. Thanks.

[2017-06-08 12:41] #2552 closed

[2017-06-08 13:39] nithin-bose commented on #2560
I am not sure if this means anything, but I am also using GKE. Could this be related to GKE in any way??

[2017-06-08 14:37] #2290 closed

[2017-06-08 14:49] technosophos commented on #2560
It _could_ be related to GKE, but it's probably too early to tell.

When it starts creating and then hangs, can you see any of the resources with `kubectl`? Specifically, I am wondering if it starts creating (or deleting) an object (like a Deployment or something), and then the API server is stuck waiting for a response. If this is the case, you might see some hint in Kubectl's output that an obje

[2017-06-08 14:52] technosophos commented on #2479
Do I mark this as a bug or as a support item?

[2017-06-08 14:54] technosophos commented on #2487
@thomastaylor312 Yeah, we deliberately made it more lenient about that stuff. The chart requirement remains the same, but the parser does not fail if the user makes a mistake when naming things.

So I am thinking we can close this one, right?

[2017-06-08 14:55] #2489 closed

[2017-06-08 15:00] technosophos commented on #2495
The prevailing line on this has been that you should use `default` in the template to specify an empty default. But I think we probably need to solve this as you suggest because we also need to support `required` in templates.

[2017-06-08 15:04] technosophos commented on #2506
This was by design (following the principle that a subchart should only know what the parent explicitly passes in). I'd be okay with a workaround provided that the parent chart explicitly enables the pass-down (e.g. it is not automatic).

[2017-06-08 15:05] technosophos commented on #2507
There are at least a few community maintained ones. I don't know how far along they are. We'll probably add one once we have a build system that is not constantly on the edge of timing out.

[2017-06-08 15:10] technosophos commented on #2516
Honestly, the best way to do this is to run three Helm commands roughly like this:

[code]

(The above assumes that `replicaCount` is the correct name for whatever `{{.Value}}` has the replica count)

The reason for doing it this way is that Helm tracks each step of state here, and you don't run the risk of getting into a situation in which Helm cannot recover because some other process modified a

[2017-06-08 15:15] technosophos commented on #2520
If `helm init` correctly intalled Tiller, then your $KUBECONFIG is not the problem. `helm` reads it in order to install Tiller, and Tiller was installed.

Instead, it seems that inside of your cluster, Tiller cannot connect to the API server. You might want to `kubectl exec -it` onto the Tiller pod and check out whether the Kubernetes secrets were correctly mounted to the pod. Usually, running `mo

[2017-06-08 15:19] technosophos commented on #2562
I am curious whether this is specific to deployments, or whether replica sets have this issue too.

[2017-06-08 15:32] technosophos commented on #2063
This has had no activity for 60 days, so I am pulling it off the release milestones and marking it as Help Wanted.

[2017-06-08 15:33] technosophos commented on #1960
Again, nobody picked up work on this. Moving to 2.6 and marking it as Help Wanted.

[2017-06-08 15:37] michelleN commented on #1979
hahahahaha @iameli

[2017-06-08 16:30] technosophos commented on #2551
Does this happen only on upgrade, or on install as well? I'm trying to reproduce locally on `master` and haven't yet. But I am not sure the bug was actually fixed.

[2017-06-08 16:43] groundnuty commented on #2479
When I'm developing child-level-1 chart and in values.yaml I add `child-level-2.enabled=true`
I should be able to write a condition: `condition: child-level-2.enabled` which should be equivalent to writing in templates: `{{ .Values.child-level-2.enabled }}`.

At the moment to achieve that one needs to write a condition: `condition: child-level-1.child-level-2.enabled`.

I would consider this as a

[2017-06-08 16:43] thomastaylor312 commented on #2487
I think we can close this. @rustyShacklefurd if you still have problems with this, feel free to reopen

[2017-06-08 16:43] #2487 closed

[2017-06-08 16:48] thomastaylor312 commented on #2554
Yeah, it would be a cli flag where you pass something like `spec.template.metadata.name=test`.

As for things being the responsibility of the user, I still worry about giving too much rope for people to hang themselves with. Also, I feel like it defeats the purpose of having something manage the state of the manifest if things are modified outside of it. There could be too many situations where an

[2017-06-08 17:02] whereisaaron commented on #2551
Thanks for looking into this, even though only a minor issue (exception vs fatal error).
Because I am automating helm, I only ever using `helm upgrade --install` so I don't have to work out whether a release already exists. My impression/guess, having caused a couple of other panics experimenting with `--set`, is that multiple `--set` arguments that are mutually incompatible/impossible can trigger

[2017-06-08 18:23] jascott1 commented on #2479
I disagree and submit that this is not a bug. It functions as designed which is not the same thing as not covering all use cases. We can discuss altering the design but its not a bug imo. If you are developing a public chart that has nested subcharts you know the hierarchy ahead of time. If you are incorporating others' charts as dependencies then you will need to modify requirements.yaml to accom

[2017-06-08 18:31] jascott1 commented on #1883
@thomastaylor312 I believe we can close this as the proposal is formalized in #1995 and already implemented.

[2017-06-08 18:37] jascott1 commented on #2444
@kujenga Does my previous comment help workaround the problem for you?

[2017-06-08 19:19] whitecolor commented on #2554
How would you identify the resource exactly which should be modified?

[2017-06-08 19:21] kujenga commented on #2444
@jascott1 Yep, your experience exactly mirrors mine! This (apparent) bug can definitely be worked around by specifying the values file.

However, the primary issue was that when the helm chart was upgraded using the "normal" path, using `helm upgrade` without explicitly specifying the dependencies, the installation seemed to get into a bad state that I was not able to figure out a way to recover f

[2017-06-08 19:47] kfox1111 commented on #1834
hmm... a plugin might work for the use case.

Its always nicer not to need plugins though.

[2017-06-08 20:34] technosophos commented on #2547
Closed by #2545

[2017-06-08 20:34] #2547 closed

[2017-06-08 23:02] bacongobbler commented on #1979
We actually wrote a new feature called `draft shipit` that produces a chart and docker build context that follows the chart spec, so we've effectively "worked around" this issue we shoehorned ourselves into. :)

https://github.com/Azure/draft/pull/133

[2017-06-09 06:40] pirogoeth commented on #2560
Experiencing it on a bare-metal cluster. Redeployed the tiller server and deletes are working again.

[2017-06-09 10:08] bviolier commented on #2560
@technosophos I am having the same issue again. I'm not sure what to look for now but have to restore it now.
- `kubectl events` didn't show anything worthy
- `kubectl describe <pods,deployments,etc>` of the chart that we tried to delete didn't show anything.
- There is no logging in tiller anymore (last time there was), with the error: `failed to watch file "/var/log/pods/890c5188-4c31-11e7-a851-

[2017-06-09 14:33] travishaagen commented on #2492
What I was thinking is:

If a `/templates/values.yaml` file exists, then the logic is to read variables from `/values.yaml` to render the template, and then the rendered `values.yaml` takes over completely, before all other templates are rendered. In other words, `/values.yaml` bootstraps the template.

[2017-06-09 16:03] cbelsole commented on #2426
This is happening for me in the case of a deployment where I have `replicaCount: 1` and no deploy strategy. It seems like the default `maxUnavailable` is:

So since the default for `maxUnavailable` is `> 1` the deployment is allowed to go since this is the metric we are using to decide the threshold. https://github.com/kubernetes/helm/blob/master/pkg/kube/wait.go#L168

I confirmed this by setting

[2017-06-09 16:30] thomastaylor312 commented on #2426
@cbelsole That is expected behavior for `--wait` in this case. We do have it documented in Helm's documentation.

[2017-06-09 19:23] prat0318 commented on #2149
Also, curious about above ^

[2017-06-09 21:28] groundnuty commented on #2479
@jascott1 ok, let's say it's not a bug. but how do you expect it to work with aliases?

Let's say that the game plan is:
- you have building block charts that you download that you don't want to edit called `child-level-1` and `child-level-2`. `child-level-1` has requirements.yaml as follows:
[code]
and in `values.yaml` you include:
[code]
- you are creating a meta-chart `parent` that will use two

[2017-06-09 22:36] jascott1 commented on #2479
The meat of this is that its currently evaluated from the top level parent's values (as specified in the docs) and this change would mean the values are additionally evaluated at each sub level. This might be doable without much fuss but Id also like to coordinate with @sushilkm wrt to aliases to make sure any refactor considers that feature.

[2017-06-10 15:47] Bert-R opened #2566 "Specifying appVersion with "helm package""
As I'd like to generate a helm package at build time, I would like to specify the ``appVersion`` as a command line parameter of the ``helm package`` command, just like you can do with the chart version.

Or is there an alternative way to do that? (I'm totally new to helm)

[2017-06-10 21:32] chicagozer opened #2567 "Helm search not following semver precedence"
If I'm reading semver.org correctly, pre-releases should follow this precedence.

*1.0.0-beta < 1.0.0-beta.2 < 1.0.0-beta.11 < 1.0.0.*

When I use helm search, it appears that helm does not order according to the numeric component of the prerelease section.  I am expecting helm to return the highest precedence (7.43.0-SNAPSHOT.102)

[code]

[code]

[2017-06-11 00:32] chicagozer commented on #2567
This looks behavior in the semver.GreaterThan function.

[2017-06-11 00:32] #2567 closed

[2017-06-11 16:53] chicagozer commented on #2567
https://github.com/Masterminds/semver/issues/57

[2017-06-11 23:39] aight8 opened #2568 "Feature request: Easier CLI concept regarding release name"
The 'release name' concept is sometimes to inconvenient to use.

[code]

[code]

The problem are the auto generated release. They are mostly none-sense words which give no information about what resource if for.

I think it were easier if (one or more of):
- The package developer can apply a default release name (short name of what the package is about)
- The user can specify a release name in the

[2017-06-12 11:55] andytom commented on #2495
I think this is related to, or maybe a duplicate of, #2347?

[2017-06-12 17:49] technosophos commented on #2224
Any update on this for 2.5.0?

[2017-06-12 18:34] whereisaaron commented on #2412
After upgrading from 2.3 to 2.4.2 yesterday, all my deployments started failing with timeouts. Looks like it is the `--wait` failing. Is there something I need to do before the 2.4.2 patch will work?

[code]

[code]

[2017-06-12 19:32] whereisaaron commented on #2426
After upgrading from 2.3 to 2.4.2 all my deployments starting failing on the `--wait` stage. Even through the deployment completes successfully in k8s, everything is Ready and running, helm just sits there waiting for some unspecified condition.

[code]

[code]

[2017-06-12 20:27] whereisaaron commented on #2426
I saw @eduardobaitello's note about `maxUnavailable` but I am using the default values, so if anything `--wait` should not wait at all, since there is always >= 1-1=0 replicas available (desired replicas - maxUnavailable). Instead, since upgrading to 2.4.2 it waits forever.

[code]

Looking at the code it appears to be waiting for the number of Ready replicas to be >= maxUnavailable, rather than w

[2017-06-12 20:41] seh commented on #2562
@TimJones, had you modified the _Deployment_ in situ since Helm had installed the previous version? I wonder if the patch submitted during upgrade omitted the "initContainers" portion if it didn't appear to have changed since the last version.

[2017-06-12 20:52] seh commented on #2566
I thought I've seen a proposal for making the _Chart.yaml_ file subject to some template expansion/interpolation, but I can't find any such issue today.

[2017-06-12 21:06] whereisaaron commented on #2560
@nithin-bose are you using '--wait' for your upgrades? People are seeing upgrades hang until timeout in #2426 and #2312 since upgrading to 2.4.x. Similar to the behaviour @bviolier describes above, except at the '--wait' stage.

[2017-06-12 23:32] kfox1111 opened #2571 "chart rename"
As we take some of the monolithic charts in kubernetes/charts and make them more modular, we're running into an issue with convention and naming. In the existing chart, the subchart like templates may reference a part of values like:
fooBar:
  ...

If I want to take those and put them in a subchart, by convention it should be called:
foo-bar

but then the values subsection would be called foo-bar

[2017-06-12 23:33] technosophos commented on #2568
Until 3.0, no changes can be made to these commands that break backward compatibility. (e.g. if a shell script works one way today, it must keep working that way until 3.0.)

That means:

1. Autogenerated names must be the default until 3.0 (though the algorithm for generating could change)
2. If `helm install chartname` is run twice in a row, it MUST produce two releases

So I've marked this for

[2017-06-12 23:36] technosophos commented on #2566
Chart.yaml cannot be templated because it must be immutable from `helm package` time onward. But I think that adding a flag to set it at package time would be fine.

[2017-06-12 23:37] jascott1 commented on #2571
@sushilkm i asked @kfox1111 to open this issue because he needs alias feature to give another name to single chart without instancing a duplicate of the chart. I remember it was discussed but were you planning on implementing this?

[2017-06-12 23:40] technosophos commented on #2560
Alright, it sounds like we're zeroing in on a few details:

1. This seems to happen with at least some versions of Kubernetes 1.6 (not sure which, yet)
2. At least some people are seeing this without `--wait`

Can people provide some feedback about what resource kinds are being used? I've heard a few reports that this only happens in charts that use DaemonSets, but I can't verify that.

So if you

[2017-06-13 00:17] SkullCrusher commented on #2560
@technosophos my team is experiencing the same issue as described. we are able to helm both install, ls, inspect, and status but unable to delete them once they are installed (we don't use upgrade currently so I am unsure if that is broken).

The command "helm delete <name> --purge" gets stuck for us.

We don't use DaemonSets to the best of my knowledge. The current helm that is getting stuck for

[2017-06-13 00:39] rajivm opened #2572 "helm install https://.../.tgz -> "file not found""
This seems to be not working with both the install & upgrade commands since version 2.2.0 (it is working when I use 2.1.3, but when trying 2.2.0 or 2.4.2 it fails.

Specifically I'm doing:
`helm install https://www.example.com/some/folder/app-0.0.20.tgz`
and the result is:
`Error: file "https://www.example.com/some/folder/app-0.0.20.tgz" not found`

Trying to fetch the file otherwise (curl, etc.)

[2017-06-13 01:58] rajivm commented on #2572
Found the issue... it looks like it will fail if `helm repo update` has never been run, even if there is no dependency on the repo cache. With debug:

[code]

[2017-06-13 03:53] jiahaog opened #2573 "[Question] Possible to use templates in Files.AsConfig?"
Hi! Just a quick question, is it possible to use templates in `Files.AsConfig`?

I have a configuration for a application as a yaml file, which depends on the release name to communicate to some other service:

`configs/something.yaml`
[code]

And the template to create the configmap:
`templates/config.yaml`
[code]

When I run `helm install`, the template in `other_service_endpoint` is not rendere

[2017-06-13 04:39] thomastaylor312 commented on #2426
@whereisaaron So it is waiting for (Ready replicas >= (Desired replicas-maxUnavailable)) in the code you posted. The desired replicas - maxUnavailable is `*v.deployment.Spec.Replicas-deploymentutil.MaxUnavailable(*v.deployment)`. And it [should be looking at the new replica set](https://github.com/kubernetes/helm/blob/master/pkg/kube/wait.go#L82).

Do you have the chart available for me to test wi

[2017-06-13 04:44] thomastaylor312 commented on #2554
Oops, I forgot to put the resource name. It would be something like `deployment.<name>` at the beginning of that. But that is all loosely designed off of an idea I saw someone float once

[2017-06-13 04:45] thomastaylor312 commented on #1883
Ok, thank you for pointing it out @jascott1!

[2017-06-13 04:45] #1883 closed

[2017-06-13 06:20] eicnix commented on #2573
This is currently not possible but will be added next Monday in the 2.5.0 release as a experimental feature by adding the `tpl` function.

`{{ (tpl (.Files.Glob "configs/*").AsConfig . ) | indent 2 }}`

[2017-06-13 06:57] TimJones commented on #2562
@seh Quite probably, I'll check with my colleagues.
Does Helm only check with what it applied (i.e. making a diff with it's stored configmap) against the new release? Never goes back to the Kubernetes API to confirm what it thinks should be there?

[2017-06-13 07:10] Bert-R commented on #2566
Indeed, that would match well with the ``--version`` flag. In addition, ``helm package`` does not have the ``--set`` option, which would be required when applying expansion/interpolation to ``Chart.yaml``.

[2017-06-13 08:22] whitecolor commented on #2554
How do you know what particular deployments if you have multiple in your chart? Esp multiple resources of the same time in one template file?

[2017-06-13 10:08] nithin-bose commented on #2560
@whereisaaron @technosophos I am not using `--wait` . In fact when the issue first occurred, i was deleting with `--purge`

[2017-06-13 10:13] bviolier commented on #2560
I'm also NOT using daemonsets.

Once I run into this problem, nothing works anymore. Not even the most simple Charts.

I also did some testing with https://github.com/kubernetes/charts/tree/master/stable/mysql, without persistence. So that's a deployment, service & secret.

[2017-06-13 10:36] jiahaog commented on #2573
Good stuff, thanks a lot!

[2017-06-13 10:36] #2573 closed

[2017-06-13 10:39] alexbrand commented on #2492
I have also run into a use case that I think would benefit from this. I suspect it might be similar to @braedon's `otherService` example.

The problem I am running into is that it's currently not possible to include the `.Release.Name` when overriding a service's name via `values.yaml`. The use case for this is when building completely decoupled charts that can then be wired together using a paren

[2017-06-13 13:29] seh commented on #2562
I asked about this behavior in the "helm-dev" channel of the "Kubernetes" Slack team [on 28 April 2017](https://kubernetes.slack.com/archives/C51E88VDG/p1493387271859968). In short, Helm looks at the last manifests it applied when considering applying a new set, and uses the differences between them to submit patches. Helm does not take the current state of the Kubernetes objects into account.

Th

[2017-06-13 15:54] sushilkm commented on #2571
There were couple of fixes made, imho, an alias should be rename, also we updated the `alias` to be a single value instead of an array.

Can you check by building master branch if it helps you, if it does not we can work on thw fix :)

[2017-06-13 17:22] nithin-bose commented on #2560
Got the issue again this time on GKE 1.6.4

Scenario 1:
1. Helm install a chart with a statefulset
2. While the persistent disks were being created (stafulset pods being created), did a ``helm delete`` which got hanged

Scenario 1:
1. Helm install a chart with a statefulset
2. K8s scheduler refused to create the second staefulset pod out of three due to lack of resources.
3. Did a ``helm delete``

[2017-06-13 17:59] jascott1 commented on #2571
Thanks @sushilkm.
@kfox1111 it seems like it should work for your simple alias case. Can you confirm or post the specific issue?

[2017-06-13 18:53] bacongobbler commented on #2560
I was unable to reproduce this on:

 - minikube with kubernetes v1.6.3
 - helm v2.4.2

I will try v1.6.4 as I've seen multiple failure reports from that release.

[2017-06-13 18:59] kfox1111 commented on #2571
@sushilkm alias is in the current stable release isn't it? Or maybe just the documentation was updated?

[2017-06-13 19:27] bacongobbler commented on #2560
Also unable to reproduce on kubernetes v1.6.4 via minikube..

[2017-06-13 19:34] bviolier commented on #2560
That makes sense Matthew, it doesn't happen on set times or actions (as far
as we know) so reproducing it is not possible at the moment. It just starts
out of nowhere​ it, may be after 24 hours, multiple days, or, for most
people, never.

On Tue, Jun 13, 2017, 21:27 Matthew Fisher <notifications@github.com> wrote:

--

Bob

[2017-06-13 20:27] nithin-bose commented on #2560
Just to give more info, in my case, this was a fresh GKE cluster like the 3rd or fourth release when this happened. In my case I am using a google disk, which takes some time to come up and so the 3 replica release does take some time (5-6 mins or more) to come up on GKE and not to mention the image pulling time. I have only noticed this issue with releases that have a long startup time.

@bacongo

[2017-06-13 20:59] skorski commented on #2560
It took about a week for it to show up on our systems.  I'm trying to debug helm to find out where exactly it's hanging.  I let it run for a long time and this was the result:

[code]

[2017-06-13 21:06] skorski commented on #2560
I was also able to resolve the issue by deleting the tiller deployment on kubernetes and then running helm init.

[code]

[2017-06-13 21:10] SkullCrusher commented on #2560
"I'm a gorilla that turns things off" - @skorski

[2017-06-13 21:15] groundnuty commented on #2479
any hope to see this in 2.5?

[2017-06-13 21:19] jascott1 commented on #2479
IIRC the release is Monday (June 19th). I am ok to work on this but not very confident it will make it into 2.5 since I have other priorities atm. I will do my best to at least assess the necessary changes in the next couple of days.

[2017-06-13 21:20] fibonacci1729 commented on #2572
@rajivm sounds like you resolved this. Can I close this issue?

[2017-06-13 21:20] diclophis opened #2574 "Deployments with specified expiration/TTL"
Is there any existing support / planned support for creating deployments with a specified "time-to-live".

We are currently utilizing this project: https://github.com/mavenlink/karousel ... however our adoption of helm has introduced some amount of conflicts between to mechanisms for deploying and reaping pods.

Any advice / feedback would be appreciated.

[2017-06-13 21:49] bacongobbler commented on #2560
@skorski just checking, but was there anything available in tiller's pod logs? You could try SSHing into each node and check /var/log to see if there's anything relevant there in the old tiller pod's logs.

[2017-06-14 06:47] wilreichert opened #2575 "Add kubernetes api schema validation to linter"
Kubernetes has a validation engine which can be used to ensure yaml conforms to the relevant API group before its deployed via the `--validate=true` flag. It would be exceedingly useful to leverage this functionality to identify template formatting issues. Since the linter is rules based it seems like a reasonable place to add this feature rather than adding a new command like `validate`.

[2017-06-14 06:54] TimJones commented on #2562
I would expect Helm to be an enforcer at the point of running the `install` or `upgrade` command. If I set a tag in a values file I expect it to be applied to the running deployment regardless of the deployment being modified since the previous `install` or `upgrade`.

[2017-06-14 17:07] csbrown opened #2576 "tiller pod doesn't start"
k8s: 1.6.4
helm: 2.4.2
cni: flannel, node network on 10/8 (organizational, can't change), cni networks on 192.168/16
os: CentOS 7.3.1611

[code]

[code]

[code]

[code]

[code]

It says no route to host, but helm manages to get the tiller pod container onto node 10.51.4.174.

Not sure where to go from here.  Any thoughts?

[2017-06-14 17:12] sushilkm commented on #2571
@kfox1111 if you are building yourself from master branch then you would get the latest, but imho latest released helm is 2.4.2 and this feature is not yet there

[2017-06-14 17:23] eicnix opened #2577 "Proposal: Jsonnet template integration"
In order to provide jsonnet rendering for helm charts a new ReleaseModule similar to the Rudder ReleaseModule should be developed.
This module would take charts and render them as Jsonnet templates. Afterwards it will apply the resulting Kubernetes Objects similar to the default LocalReleaseModule.

### Registering the ReleaseModule
Since the current ReleaseModule implementation does not provide t

[2017-06-14 17:43] bacongobbler commented on #2577
You might be interested in [`helm-ksonnet`](https://github.com/technosophos/helm-ksonnet). Does that help you? Essentially it translates jsonnet templates into helm packages which can then be shipped to tiller.

[2017-06-14 17:45] bacongobbler commented on #2577
Arguably I think the client integration is the way to go. That way there's no fragmentation between the default `text/template` template engine in tiller and the jsonnet template engine.

[2017-06-14 17:58] eicnix commented on #2577
@bacongobbler Client side integration has its drawbacks too: You can't integrate with the Helm value management unless you are doing a two stage rendering: first rendering jsonnet into yaml with `{{.Values.value}}` placeholders and then into json with the default go template engine. But I feel this can get very complicating when you are trying to escape values over multiple rending processes.

[2017-06-14 18:29] seh commented on #2577
I too imagined _jsonnet_ integration as creating a peer to the current `text/template` integration, with a higher-level dispatcher that could choose among them, such that each would take a set of files as input and produce (in-memory) Kubernetes objects as output.

[2017-06-14 18:31] seh commented on #2577
There was [some preceding discussion](https://kubernetes.slack.com/archives/C51E88VDG/p1497254572938276) in the "helm-dev" channel of the "Kubernetes" Slack team.

[2017-06-14 18:56] kfox1111 commented on #2571
ah, ok. Was worried we were talking about breaking released api. I'll see what I can do to get a trunk build/test it. Thanks. :)

[2017-06-14 19:02] eicnix commented on #2576
The Kubernetes apiserver can't route to your node where tiller is running. Tiller probably crashes because it can't access the apiserver.

Can your confirm that access from within a pod that is running with flannel on your master to the kubelet is working?
Can you confirm that access from within a pod that is running with flannel to your apiserver from the node in question is working?

[2017-06-14 19:41] mikeln opened #2578 "Helm Delete Tiller Timeout Before Completion"
Client: &version.Version{SemVer:"v2.2.0", GitCommit:"fc315ab59850ddd1b9b4959c89ef008fef5cdf89", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.2.0", GitCommit:"fc315ab59850ddd1b9b4959c89ef008fef5cdf89", GitTreeState:"clean"}

Running a database statefulset chart with multiple nodes (node per pod).  Each pod requires a `terminationGracePeriodSeconds` setting long enough to allow draining

[2017-06-14 19:58] csbrown commented on #2576
I launched an ubuntu pod that I can docker exec into on the node, `ping 10.51.4.171` works, so it at least has access to the master node through normal means.  However, `echo "$KUBERNETES_SERVICE_HOST"` gives `192.168.128.1`.  It CANNOT ping that.  Also:
[code]

Incidentally, launching the ubuntu pod gives a similar error `Error attaching, falling back to logs: error dialing backend: dial tcp 10.5

[2017-06-14 20:24] bacongobbler commented on #2576
After doing a bit of searching around, I believe the IP address created in the `kubernetes` service is [populated by the IP address](https://github.com/kubernetes/kubernetes/issues/32480#issuecomment-283992502) used in the certs you issued to kube-apiserver. So, in order to fix this, you probably need to amend the certificate you provided to kube-apiserver and provide the correct IP address (`10.5

[2017-06-14 22:09] bacongobbler commented on #2252
looks like this is something that has been fixed in Helm v2.3.1 so it looks ready to close. We are *well* past v2.3.1 at this point. :)

[2017-06-15 00:47] skorski commented on #2560
@bacongobbler I didn't think to check there while we were having the issue.  There are lots of logs but I'm having trouble isolating which ones were around the time of the stall.  If it happens again, I'll go there first and then post the message.

[2017-06-15 02:06] DoctorZK commented on #1769
Have you finished this feature yet? If not, I would like to take this work.

[2017-06-15 02:06] DoctorZK commented on #1769
@thomastaylor312 Have you finished this feature yet? If not, I would like to take this work.

[2017-06-15 05:22] thomastaylor312 commented on #2252
I'll go ahead and close this. Should this still be an issue, please let us know.

[2017-06-15 05:23] thomastaylor312 commented on #1769
@DoctorZK Feel free to take it. Thank you for offering to do it!

[2017-06-15 05:46] zilman commented on #2509
I am also all for ```kubectl create -f $(helm init --dry-run --debug)```.
What would it take at this point to get it to work?

[2017-06-15 05:57] pramodhkp opened #2579 "Return resources as objects instead of one object of string type"
Right now, `helm status` command returns something like this:

`{'time': '2017-06-13T13:18:52.317452346Z', 'status': 'DEPLOYED', 'description': 'Upgrade complete', 'resources': '==> v1/ConfigMap\nNAME                DATA      AGE\nonemore-configmap   0         1d\n\n==> v1/Service\nNAME      CLUSTER-IP      EXTERNAL-IP   PORT(S)    AGE\nonemore   10.43.114.234   <none>        8080/TCP   1d\n\n==>

[2017-06-15 06:17] bacongobbler commented on #2579
The API must maintain backwards compatibility though v2.x. This could be done as a new endpoint, but not as a replacement.

[2017-06-15 07:30] weiwei04 commented on #2579
+1 for implement a new API to return a structured resources instead of string. We happens to wrap Tiller into our own system, if need some code side help I have some time to implement this new endpoint.

[2017-06-15 08:36] eicnix commented on #2495
This is a usecase for me aswell. My current workaround consists of rendering the template with the values in question through https://github.com/technosophos/helm-template and validating the output.

[2017-06-15 08:54] pramodhkp commented on #2579
I have some time to commit to this as well. So, I can help implement/add anything required. It could be a starting point for me.

[2017-06-15 09:06] alonl commented on #2560
I'm experiencing this issue too. `helm upgrade` hangs and Tiller logs hangs on `storage.go:139: Getting release history for <release_name>`. Also running `helm history <release_name>` gets stuck with the same log.
[code]

[2017-06-15 11:56] 0x203 opened #2580 "Cannot depend on `pkg/repo` in own golang project"
Hey guys,

First of all: thanks for you work on this project! I'm a very happy Helm user and find it's a great piece of software. Appreciate it!

Now, I'm trying to set up my first real golang and glide project, so I might oversee something trivial, but I'm running out of own ideas.

I'm trying to use the package "k8s.io/helm/pkg/repo" in my project, which seems to cause problems. I've created a m

[2017-06-15 14:14] bacongobbler commented on #2580
This is due to kubernetes vendor munging. We actually have to work around this in both helm and draft with https://github.com/kubernetes/helm/blob/master/scripts/setup-apimachinery.sh. You might want to check out how helm bootstraps itself... vendoring kubernetes client libraries is a mess right now.

[2017-06-15 15:03] seh commented on #2509
Now that #2524 is merged, I expect that a _helm_ program build with those commits would work fine. The next release that will include it is coming soon, from what I hear.

[2017-06-15 15:05] seh commented on #2580
I can confirm that I couldn't build Helm after running _glide install --strip-vendor_ on its own; it took running that _setup-apimachinery.sh_ script to force things into place.

[2017-06-15 19:29] aguilarm commented on #2574
Could you use [a job with activeDeadlineSeconds[(https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/#job-termination-and-cleanup)?

[2017-06-15 20:59] luck02 opened #2582 "'Release not found' on status, delete etc after 'successfull' install"
Installed mysql stable/mysql

I can list, but I can not get / delete / status

[code]

Examples:
[code]

[code]

Same response for other commands (get, status etc)

Versions:
[code]

Thanks!

[2017-06-15 21:16] diclophis commented on #2574
@aguilarm thanks for the quick reply... in our scenario the case is more like this:

1. A developer pushes a feature-branch to github
2. we use jenkins to fetch that pushed branch and build our app
3. we use helm to "deploy" that version of the app in a siloed "instastage (tm)" mode that allows it to live next to several hundred other instances of the same app
4. we use `karousel` to "reap" said d

[2017-06-15 23:13] luck02 commented on #2582
it's not 'fixed' but I did `helm reset --force`, nuke the pod and nuke the config map so it's gone...

[2017-06-15 23:34] groundnuty commented on #2479
Thank you. If I can, I'm ofc. happy to help however I can :)

[2017-06-16 05:17] anguslees commented on #2577
Fwiw: Speaking for https://github.com/ksonnet/kubecfg (go-based cli tool for k8s config expressed in jsonnet), we're very happy to refactor anything that would help integrate the core jsonnet -> k8s objects library into another codebase.

[2017-06-16 07:54] 0x203 commented on #2580
Thanks for the clarification. So I've tried to run `setup-apimachinery.sh` in my own project vendoring helm as well, but it didn't helped there.

So I'm going to install Helm to the GOPATH and let Glide ignore this. For anybody interested, I'm using Docker to don't get messed up with my local GOPATH:

[code]
And added this to my `glide.yaml`:
[code]

So, thanks for your help! I you will remember i

[2017-06-16 07:54] #2580 closed

[2017-06-16 08:38] prydonius commented on #2577
I don't think the ksonnet library should be tied to Tiller, this will make jsonnet charts dependent on the version of Tiller. Rather, the ksonnet library should be implemented as a chart that is imported and versioned as a dependency in the parent chart (the same way we expect the [common-chart](https://github.com/prydonius/common-chart/tree/merge-approach) to work).

[2017-06-16 18:02] vinayagg opened #2587 "support processing a single file"
Other than charts, a project or organization has many other templating needs. E.g. we are trying to install monitoring solutions and needs templates for that.

If helm allows a single file to be processed, it will become useful outside of charts and allow a single unified tool for all templating needs.

[2017-06-17 01:00] at1012 commented on #1971
Looks like this is fixed in master branch.

[2017-06-17 22:17] fuhbar opened #2588 "Alias in `requirements.yaml` not working"
As the [docs](https://github.com/kubernetes/helm/blob/master/docs/charts.md#alias-field-in-requirementsyaml) stating it should be possible to deploy the very same dependency of a chart more than once. The alias mechanism - AFAIK - is the vehicle for achieving this. But it seems to be broken some how.

[code]

I would have expected to see 2 charts as subcharts after dependency resolution. Do I have

[2017-06-18 11:10] #2176 closed

[2017-06-18 11:11] #2169 closed

[2017-06-18 11:11] #2168 closed

[2017-06-19 02:43] keyolk commented on #2520
@technosophos seems it is not installed correctly.
the tiller alwasy dial to 127.0.0.1:8080 which is not my api server.

[2017-06-19 11:17] Smana opened #2590 "Private repo, can't update the index"
Hi guys!

I'm trying to configure a private repository but i can't update the index following the guidelines.

The `index.yaml` is reachable with the following command :
[code]

The following command doesn't return any error
[code]

But the index.yaml is not updated :/

Thanks for your help

[2017-06-19 13:33] Smana opened #2591 "Set a variable from the output of a command line"
Hey,

I'm wondering if that'd be possible to set a variable from a command line ?
For instance i would like to use the short commit tag as the docker tag.
How would you do that please ?

Regards,

[2017-06-19 13:40] Smana commented on #2591
Another usage would be:
In an autoscaling environment, get the current number of replicas before to apply the new deployment.

[2017-06-19 14:04] Smana commented on #2590
I just tried with google storage and i'm facing the same issue...

[2017-06-19 14:31] bacongobbler commented on #2591
You can use `--set` to perform this action, depending if the chart has made the field template-able or not. There are several examples of this in the documentation.

[2017-06-19 14:44] Smana commented on #2591
nvm, i just figured it out
[code]

[2017-06-19 14:44] #2591 closed

[2017-06-19 15:18] wstrange commented on #2590
There is a --merge option to merge an existing index.yaml with the updated contents.

Have a look at https://github.com/kubernetes/charts/blob/master/test/repo-sync.sh
for an example

[2017-06-19 15:19] wstrange commented on #2588
I think the docs are ahead of the release here.   I believe this is in 2.5, which should be out shortly.

You can try with the canary release - it works for me.

[2017-06-19 16:33] gogodi91 commented on #2219
Using --kubeconfig when running the helm command would help reduce ambiguity if running helm on a automated basis. When using environment variables in this manner, race conditions might occur and you might end up running your helm chart against a k8s stack you didnt want to.

[2017-06-19 17:26] #2142 closed

[2017-06-19 18:30] thomastaylor312 commented on #1841
Closed with #2558

[2017-06-19 18:30] #1841 closed

[2017-06-19 20:01] michelleN commented on #2590
@Smana does the `--merge` flag make a difference for you? Also, what about the index.yaml is not updated. Is it missing a new entry?

[2017-06-19 20:08] michelleN commented on #2590
@Smana I think your url you pass in needs to be `https://helmcharts.foo.bar/charts`.

[2017-06-19 20:45] michelleN commented on #2587
hey @vinayagg - You can put your monitoring solution in a helm chart if you'd like. See this Prometheus chart as an example: https://github.com/kubernetes/charts/tree/master/stable/prometheus
If you're not looking to use helm charts, then you might want to look into Sprig. Sprig is a library of template functions for Go templating. That might be helpful if you need templating functionality but don

[2017-06-19 20:47] whereisaaron opened #2593 "Bug: helm 2.4.2 'upgrade --install' sometimes fails with 'release not found' for non-existent release"
Since upgrading to 2.4.2, using `upgrade --install` to create a new release no longer works.

In 2.3.x helm would detect the release did not exist and install a new release instead. Now with 2.4.2 it errors out with 'release not found' error. Expected helm 2.4.2 to create a new deployment like 2.3 did.

[code]

[2017-06-19 21:29] whereisaaron commented on #2593
Ok, that's strange. I just ran the same command again to debug this, and this time is behaved as expected.

[code]

[2017-06-19 21:34] chancez commented on #1887
@technosophos I would love to see this. I'm basically begging someone to do this in slack 💯

[2017-06-19 21:37] chancez commented on #2593
@whereisaaron Are you running Kubernetes with multiple API servers? If so, it might be related.

[2017-06-19 21:39] vinayagg commented on #2587
Hi @michelleN
Let me try to explain.

When we deploy a project using helm, we also need to setup monitoring external to kubernetes - e.g. uptime robot, new relic cloud, app dynamics cloud, netuitive cloud etc.

To do that automatically, we need to process a template but do not need to install it on k8s (we can use curl to invoke third party api.

Sure, I could put that in a helm chart but that fee

[2017-06-19 22:08] bacongobbler commented on #2587
You might want to take a look into the [helm-template plugin](https://github.com/technosophos/helm-template) as that seems **very** to your use case. It runs a local chart through the template engine without actually installing it and displays the manifests on stdout.

[2017-06-19 22:30] dae0eeWi opened #2594 "can't pull tiller from gcr.io"
[code]

Am I missing something here? Or did the config on gcr.io change recently?

[2017-06-19 22:35] vinayagg commented on #2587
even helm --debug --dry-run can do that, but that does not work.

It processes whole chart, so now each setting or monitor or anything needs
to be in its own chart instead of just a file. some non k8s stuff may need
its own directory structure but it wont work with this approach. As you can
see this gets messy very quickly.

[2017-06-19 22:42] toandph commented on #2594
I have this issue too. Can not download tiller from https://kubernetes-helm.storage.googleapis.com/helm-v2.5.0-linux-amd64.tar.gz too.

[2017-06-19 22:46] punitag commented on #2594
Same issue here -
[code]

[2017-06-19 22:53] dafelipe130 commented on #2594
Samesies
`
docker pull gcr.io/kubernetes-helm/tiller
Using default tag: latest
Error response from daemon: denied: Permission denied for "latest" from request "/v2/kubernetes-helm/tiller/manifests/latest".
`

[2017-06-19 23:03] jpetrone commented on #2594
Looks like there is a problem with the google account storing the images - when I try to access https://kubernetes-helm.storage.googleapis.com/helm-v2.3.1-linux-amd64.tar.gz I get the following error message:

"Your Google account is not currently enabled for this operation. Please check https://console.developers.google.com/billing to see if you have a past due balance or if the credit card (or o

[2017-06-19 23:03] dikaiosune commented on #2594
Seems resolved now.

[2017-06-19 23:05] jpetrone commented on #2594
yeah just started working for me too -

[2017-06-20 02:40] ljnelson opened #2595 "Helm 2.5.0 release cannot be downloaded"
As of 7:38 PM PDT on Monday, June 19, 2017, the release links reachable from https://github.com/kubernetes/helm/releases/tag/v2.5.0 result in `NoSuchKey` errors.

For example, as of this writing attempting to download https://storage.googleapis.com/kubernetes-helm/helm-v2.5.0-darwin-amd64.tar.gz results in:

    <Error>
      <Code>NoSuchKey</Code>
      <Message>The specified key does not exist.<

[2017-06-20 06:41] gpremsankar commented on #2595
The issue exists for other Linux versions - https://kubernetes-helm.storage.googleapis.com/helm-v2.5.0-linux-amd64.tar.gz.sha256 and this returns the same error.  The SHA256 file does not have an entry for v2.50 yet.

[2017-06-20 06:45] bacongobbler commented on #2595
https://kubernetes.slack.com/archives/C51E88VDG/p1497907103200487

[2017-06-20 07:26] thomastaylor312 commented on #2594
Yep, there was an issue that has been resolved. The issue with 2.5 not being available is being tracked in #2595, so I am going to close this

[2017-06-20 07:26] #2594 closed

[2017-06-20 08:44] theckman commented on #2595
For those who aren't in the Slack group, here is the content of the message that @bacongobbler linked to:

[code]
As someone on my way back from vacation, I couldn't agree more. 😂

[2017-06-20 09:29] Smana commented on #2590
Hi all !

Thank you for your answers @michelleN @wstrange
`--merge` doesn't make any difference

Using the url `https://helmcharts.foo.bar/charts` doesn't work better and the command
[code]
doesn't return any output.

[2017-06-20 12:25] erikschlegel commented on #2595
Same here. Receive a `SHA sum of /tmp/helm does not match. Aborting.` due to the `NoSuchKey` when trying to install helm.

[2017-06-20 13:22] gianrubio commented on #1769
What about a simple annotation `helm.sh/resource-policy: delete-job-after-run`? When the job successfully run, helm delete this job.

[2017-06-20 13:24] Smana commented on #2590
Yes even if i have a brand new index.yaml i'm expecting to overwrite the existing one. Is that the expected behavior ?

[2017-06-20 14:34] charith-qubit opened #2596 "Post-processing manifests (Istio sidecar injection)"
Apologies if this question has been asked before -- Google did not yield anything helpful.

Is there a way to perform post-processing on the generated manifests before they are installed on the server? My specific use case at the moment is to inject the Envoy sidecar through the `istioctl kube-inject ...` command (https://istio.io/docs/tasks/integrating-services-into-istio.html#injecting-envoy-sid

[2017-06-20 14:50] ReSearchITEng commented on #2595
That's why we have have option to set version desired :)
so just add this when trying to install:
``` --version v2.4.2 ```

[2017-06-20 16:05] TD-4242 opened #2597 "Proposal: Access environment template values from ConfigMaps"
The current solution for environmental configuration is to have a separate yaml file and then deploy with

`helm install --namespace qa application -f qa.yaml`
or
`helm install --namespace prod database -f prod.yaml`

These often have different ingress points or replication requirements among other items.

I recommend having the ability to store this data in a ConfigMap of the installation namespa

[2017-06-20 16:08] adamreese commented on #2595
Binaries are now in the bucket!

[2017-06-20 16:08] #2595 closed

[2017-06-20 17:54] gmile commented on #2060
Unfortunately for us not being able to deploy & manage multiple namespaces using helm is a deal-breaker.

Our plan was to create an umbrella chart, which would have all our apps (e.g. smaller charts) as dependencies. All our apps live in their own namespaces, this was by design (in future we'd like to have RBAC per-namespace).

@technosophos, thanks. Noted on the fact that support for the above wi

[2017-06-20 18:29] technosophos commented on #2575
We looked at this before, and the consensus was that `helm lint` must not require an active network connection in order to stay backward compatible. However, it would be possible to do client-side validation by using the JSON Schema files.

[2017-06-20 18:55] chancez opened #2598 "Alias is added to requirements.lock after upgrading to helm 2.5.0 from 2.4.x and running helm dep"
`alias: ""` is added to `requirements.lock` after running `helm dep build/update` but if it's not specified in `requirements.yaml` it should be omitted in `requirements.lock`

CC @sushilkm

[2017-06-20 19:05] chancez opened #2599 "after upgrading from 2.4.x to 2.5.0, subcharts of umbrella charts are no longer installed if you have dependencies in your umbrella chart's requirements"
If an "umbrella" chart contains subcharts within `charts/` and the umbrella chart has a `requirements.{yaml,lock}` then only the umbrella chart's templates, and dependencies will be installed.

If the requirements files do not exist, then helm correctly installs subcharts and the umbrella chart's templates.

Note: it doesn't matter if requirements.yaml/lock have an empty dependencies list (ie: `de

[2017-06-20 20:10] bryanlarsen opened #2600 "distinguish unset and empty values for storageClassName"
In a Kubernetes 1.6 PVC, storageClassName has different behaviour when passed an empty string versus not specified.  An empty string means disable dynamic provisioning, not specified means use the default provisioner.

Charts should enable this behaviour, but I can't figure out how to make it happen using the go template syntax.  go template's if treats the empty string as falsy, and everything i

[2017-06-20 21:11] sagikazarmark commented on #2347
For me linting is about checking if the syntax is right, not input validation. So in case of linting I would just replace the required function with one which does nothing and lets the validation pass (even without a value)

[2017-06-20 23:28] michelleN commented on #2596
@charith-qubit Have you seen the istio chart? https://github.com/kubernetes/charts/tree/6b02b2f873111737e0813b8825c6651def5e2ece/incubator/istio
It looks like they're running the `istioctl kube-inject` command after doing a `helm install`. See the NOTES.txt template in that chart as an example https://github.com/kubernetes/charts/blob/6b02b2f873111737e0813b8825c6651def5e2ece/incubator/istio/templa

[2017-06-20 23:32] michelleN commented on #2597
@TD-4242 how would someone override the environment data in the ConfigMap?

[2017-06-20 23:56] michelleN commented on #2598
@chancez are you seeing that it is causing issues?

[2017-06-21 01:25] chancez commented on #2598
@michelleN It results in helm complaining my requirements files are out of sync, and it's a backwards incompatible change since it's updating the lockfile despite nothing changing IMO.

[2017-06-21 01:54] DoctorZK commented on #1769
Cool. I have thought out three ways to solve this problem.

1.
Add a simple annotation in the hook templates, which is the easiest to implement. However, it can not solve this kind of problem: helm fails during the pre-install/pre-upgrade process, but users try to install/upgrade the release with the same chart again, which will incur resource objects name conflict in K8S. Therefore, with the appr

[2017-06-21 02:29] rajivm commented on #2572
@fibonacci1729 While I found a workaround, the error is still wrong. It probably should either: a) just work since its not relying on any helm repo, b) say that `helm init` / `helm repo update` must be run.

[2017-06-21 02:41] flah00 opened #2602 "Can tiller be dumped and restored?"
With kube-aws-0.9.7, you can dump [etcd databases and kubernetes objects to s3](https://github.com/kubernetes-incubator/kube-aws/blob/master/Documentation/kubernetes-on-aws-backup-and-restore-for-etcd.md). The dumps, mercifully, can also be restored. But, my restore would only be worth so much, because I assume my tiller's data would no longer exist.

I would love to include tiller in my kube-aws

[2017-06-21 02:42] flah00 commented on #2470
With kube-aws-0.9.7, you can dump [etcd databases and kubernetes objects to s3](https://github.com/kubernetes-incubator/kube-aws/blob/master/Documentation/kubernetes-on-aws-backup-and-restore-for-etcd.md). The dumps, mercifully, can also be restored. But, my restore would only be worth so much, because I assume my tiller's data would no longer exist.

I would love to include tiller in my kube-aws

[2017-06-21 02:42] #2602 closed

[2017-06-21 04:01] TD-4242 commented on #2597
That does open up some questions I hadn't thought deeply about, my first thought was just update the ConfigMap, but of course you may need two things deployed in the same namespace that has a different setting.  When I imaged this it would be for holding fairly specific environmental things such as ingress/tls domain names and maybe replica counts, but it shouldn't be limited to this.  These would

[2017-06-21 06:47] gianrubio commented on #1769
@DoctorZK as you suggests I would like to have another annotation `helm.sh/resource-policy: delete-job-if-succeed`. This is important when you're deleting a helm and have a job for cleanup, for now it's not possible to delete this job without running another job.

Are you willing to work on this? if not I can take care of it

[2017-06-21 06:55] DoctorZK commented on #1769
Thanks for your help. I have finished the coding process, and now is under test. I will submit the pull request as soon as possible.

[2017-06-21 07:50] charith-qubit commented on #2596
@michelleN I don't think the Istio chart itself requires injection. It can be installed with a simple `helm install` -- which I have done already. When you want to use Istio with your own app, their suggested approach is to run `kubectl create -f <(istioctl kube-inject -f <your-app-spec>.yaml)`, which modifies the manifests to add the sidecar. This effectively precludes me from using Helm to deplo

[2017-06-21 13:27] fhemberger opened #2604 "Feature request: `helm outdated` command to find installed charts with available update"
Not sure if I haven't found it yet, but it would be nice to have a command showing all installed charts, where there's an update available, e.g.

[code]

(Additional bonus points for a command like `helm upgrade --outdated` to upgrade all charts in a cluster)

[2017-06-21 13:59] seh commented on #2600
While I agree that `isset` is a nicer solution, one workaround to consider is to honor sentinel storage class name that's invalid. [A valid name must be a DNS subdomain](https://github.com/kubernetes/kubernetes/blob/870585e8e1ca1133a67d4d44bfd4a9722b2b93c7/pkg/api/validation/validation.go#L279-L282). Following that down into _kubernetes/apimachinery_, we find [the governing regular expression](htt

[2017-06-21 15:07] bryanlarsen commented on #2600
That's a very reasonable solution for my own charts, but it's fairly hacky to get adopted as the right way to do things for public charts.   I'll try a PR for the prometheus chart using:

[code]

[2017-06-21 15:11] seh commented on #2600
Yes, Bryan, I wasn't trying to knock your proposed enhancement. I was just trying to help you make progress in the meantime.

[2017-06-21 17:00] michelleN commented on #2604
I think this would make for a really useful plugin. Where would you check in the release for the source repository of the chart? The repo commands are client side so I'm curious how the mapping would work between the source of the chart installed and the repositories associated with your helm client.

[2017-06-21 17:11] bacongobbler commented on #2604
I have a work-in-progress plugin called [helm-whatup](https://github.com/bacongobbler/helm-whatup) that does exactly as proposed here.

[2017-06-21 17:27] sushilkm commented on #2598
@michelleN I can have a look on this
@chancez thanks for finding this

[2017-06-21 18:16] fhemberger commented on #2604
@michelleN Hmm, do I understand you correctly that after installation, there's no correlation between e.g. installed `nginx-ingress-0.4.2` and the source `stable/nginx-ingress` anywhere?

@bacongobbler Awesome, I'll have a look at it!

[2017-06-21 18:49] ljnelson opened #2606 "Clarification request: should RepoFile permit duplicate Entry elements?"
(Steven Harris ( @seh ) requested that I create this issue after a discussion we had on Slack.)

While working on [microbean-helm][0], I wanted to understand how the `helm` command line tool works with chart repositories.  That led me into the Go code around processing (e.g.) `~/.helm/repository/repositories.yaml` and (e.g.) `~/.helm/repository/cache/stable-index.yaml`.

(I am not (yet!) a Go prog

[2017-06-21 22:15] ljnelson commented on #2606
This [class diagram](https://lairdnelson.files.wordpress.com/2017/06/chartrepository.png) represents my attempt to make sense of the _concepts_ at work here; I hope it helps.

[2017-06-21 22:25] wilreichert commented on #2575
I looked at using local schema files, but I'm not sure you can guarantee they will be present on a client system. They are cached on initial server access? Plus without a server available you are still faced with the dilemma of what schema version to use. Is there some default schema version available client side that I'm unaware of?

Another option would be to make this is own CLI parameter - 'va

[2017-06-22 06:03] qiujian16 opened #2609 "helm cannot download index from a url with params in it."
We cannot download index.yaml from url such as https://{some url}/index.yaml?token={some_token}

Maybe we should parse the url string to the URL object, and then download..

[2017-06-22 10:39] igorlimansky commented on #2560
same here:

[code]

version:
[code]

[2017-06-22 13:18] sstarcher commented on #2560
Same issue with `helm delete --purge CHART` after 30 mins the helm delete command is still hanging.  While that is hanging if I run an additional delete it says the chart is already purged, which is the same thing that I see from the logs.

[code]

* AWS
* K8S 1.6.4
[code]

[code]

[2017-06-22 14:37] Smana opened #2610 "Configmaps changes don't trigger a rolling-update"
Hi!

I tried to use the tip as described [here](https://github.com/kubernetes/helm/blob/master/docs/charts_tips_and_tricks.md) but unfortunately it doesn't work.
I mean the sha256sum is changed in the annotations but the rolling-update is not triggered.

Did i miss something ?

Kubernetes version : 1.6.4

Regards,
Smana

[2017-06-22 14:43] MattLaw0 opened #2611 "RBAC error when running `helm upgrade --install` in self contained namespace"
# Setup
* Helm 2.5.0
* Kubernetes 1.6 with RBAC enabled (installed via `kubeadm`)

# Steps to reproduce

* Create a namespace
[code]
* Set up helm for this namespace (just using the default service account and assigning it full admin which will just be constrained to this namespace via a rolebinding as opposed to a clusterrolebinding):
[code]
* Now try and install a chart via `helm upgrade --insta

[2017-06-22 15:42] #2598 closed

[2017-06-22 16:05] #2538 closed

[2017-06-22 16:17] seh commented on #2611
You bound the _ClusterRole_ "cluster-admin" via _RoleBinding_ in the "test-ns" namespace, but the "namespaces" resource is cluster-scoped, and hence not addressed by the permissions granted by a _RoleBinding_.

[2017-06-22 17:27] rodcloutier opened #2613 "Proposal: Make kube-config values available to templates"
In our daily usage, we often target minikube and cloud hosted clusters.
Each have separate contraints that need to be adressed in the chart and have selectors to activate or deactivate the features needed which are controlled by the values file. Something along the lines of

[code]

[code]
Since we favor security, we have the default to be configuration for the cloud cluster. This leads to having

[2017-06-22 20:12] at1012 commented on #2135
I would like to work on this feature.

[2017-06-22 22:57] philipbjorge commented on #2130
For our usecase (database migrations), simply waiting for the JobComplete *and* Succeeded==Completions would be sufficient.

[2017-06-23 00:27] baracoder commented on #2426
We have the same problem with kubernetes 1.6.4 and tested helm 2.4.1 2.4.2 and 2.5.0 2.3.x does not wait for deployments to get ready

[2017-06-23 00:31] philipbjorge commented on #2130
@technosophos and @jchauncey --
We are attempting to use a pre-install/pre-upgrade hook to perform a database migration.
We would like the release to fail if the job cannot complete successfully.

When I attempt to upgrade an installation with a failing hook, I get a timeout from Helm and see in the tiller logs the following:
[code]

So it *seems* like the problem described in the issue does not e

[2017-06-23 02:25] thomastaylor312 commented on #2426
@baracoder Did you test with an internal chart or with one you can share? I'd love to get my hands on one that isn't working so I can figure this out

[2017-06-23 02:40] thomastaylor312 commented on #2611
It looks like tiller is trying to install into `default` as it should when `--namespace` isn't specified. I don't get why the normal install works here though. Try fixing the role as @seh and give it another try. Let us know if you still get the issue after that so we can try to debug it

[2017-06-23 02:41] thomastaylor312 commented on #2610
@Smana Can you post the chart snippet here?

[2017-06-23 02:42] thomastaylor312 commented on #2609
@qiujian16 Can you post the output from the error when you try to use a URL with params?

[2017-06-23 02:43] thomastaylor312 commented on #2606
@technosophos Do you have an idea on this one? I am not quite sure

[2017-06-23 02:45] thomastaylor312 commented on #2600
Thanks for the request here @bryanlarsen. I'll tag it as a feature. If you wanted to submit something for this, please let us know!

[2017-06-23 03:07] qiujian16 commented on #2609
helm repo add test https://raw.github.ibm.com/IBMPrivateCloud/charts/stable/repo/stable/index.yaml?token=AAAMT610ReP-GOlOvY-n0HWRh45O7WYzks5ZVBoawA%3D%3D
Error: Looks like "https://raw.github.ibm.com/IBMPrivateCloud/charts/stable/repo/stable/index.yaml?token=AAAMT610ReP-GOlOvY-n0HWRh45O7WYzks5ZVBoawA%3D%3D" is not a valid chart repository or cannot be reached: Failed to fetch https://raw.github.ib

[2017-06-23 06:42] Smana commented on #2610
Sure,
Here is an excerpt of my deployment:
[code]

Note that the configmap is not mounted as a volume but it is used to configure some environment variables.

Thank you @thomastaylor312

[2017-06-23 07:02] dkellner commented on #2588
I get exactly the same result as @fuhbar with the recently released 2.5.0, even the changelog mentioned the `alias`-feature being included (https://github.com/kubernetes/helm/releases).

[code]

[2017-06-23 08:52] bxav commented on #2596
@charith-qubit Did you find a solution for your issue? I have the same problem, and I don't really want to use helm only as a template processor.

On the istio roadmap for 0.2 they have the:

If I understand well we should be able to use istio and helm transparently.

[2017-06-23 10:09] charith-qubit commented on #2596
@bxav No, I don't have a workable solution yet.

I read something about Istio considering the use of Kubernetes admission controllers to inject the sidecar. AFAIK, admission controllers in their current state can't modify the manifests. Maybe they have a PR in the works to add that functionality(?). That would be a nice solution to this problem.

[2017-06-23 10:09] MattLaw0 commented on #2611
Ah ok, that makes sense thanks. Yes, running with `--namespace=test-ns` works as expected:
[code]
But yeah, I think there is some inconsistency about the usage of `--namespace`. It seems that most of the time, helm automatically populates this parameter with information from the current `kubectl` context. For example, with `helm install`:
[code]
So the reason why the normal install was working is

[2017-06-23 10:12] baracoder commented on #2426
@thomastaylor312 I created a sample to reproduce it.

Funny enough I deployed it on GKE by accident and it worked like expected, but it fails in our local CoreOS cluster, both having kubernetes 1.6.4 and helm/tiller 2.5.0

Here the sample I used. The resulting logs are in the readme https://github.com/baracoder/helm-wait-sample

[2017-06-23 10:38] baracoder commented on #2426
I can also reproduce with the same sample and  minikube version: v0.17.1

[code]

[2017-06-23 14:29] jchauncey commented on #2130
I think you are correct. When I opened this issue I was working on the hook weight feature and I was seeing a few different failing cases where the installation would continue. I opened this issue thinking I would get to come back and have some better documentation about what I was trying to accomplish but I haven't had time to do that.

[2017-06-23 15:35] bacongobbler commented on #2609
https://raw.github.ibm.com/IBMPrivateCloud/charts/stable/repo/stable/index.yaml 404s for me, so it's probably a bad URL. I'd chat with IBM specifically about this.

[2017-06-23 16:23] Smana commented on #2610
i just found a workaround
[code]

[2017-06-23 20:27] hsingh6764 opened #2617 "helm get values {release_name} does not work after update from 2.4.x to 2.5.0"
helm get values {release_name}
-> Error: context deadline exceeded

helm get manifest {release_name}
-> Error: context deadline exceeded

"helm ls" and "helm get {release_name}" works fine.
Tiller container shows no logs.

[2017-06-23 22:44] thomastaylor312 commented on #2610
Hmmm...that is interesting. I'll have to give it a try to see if I can duplicate it. Because you have a workaround, I'll take a look at the beginning of next week if that is ok.

[2017-06-23 22:46] thomastaylor312 commented on #2609
@qiujian16 We are going to close this for now because it looks like it isn't an issue with Helm. If you check with IBM and it looks like it may be a bug in helm, feel free to ping us on this issue again

[2017-06-23 22:46] #2609 closed

[2017-06-23 22:46] thomastaylor312 commented on #2426
Thank you so much @baracoder! I'll take a look at that

[2017-06-23 22:57] thomastaylor312 commented on #2611
@MattLaw0 Glad it is working!

@adamreese Is there any reason why this behavior could occur? As far as I know, the config stuff is the same for every command.

[2017-06-23 22:59] thomastaylor312 commented on #2617
@hsingh6764 If you run `kubectl get pods`, does it work?

If it does work can you add the `--debug` flag onto the command and also set the `DEBUG` environment variable to `5`? That should spit out a lot of information that will help

[2017-06-24 10:04] vainikkaj commented on #2617
`kubectl get pods` works as expected.

However, it seems that debug logging cannot be enabled for `helm get values`

[code]
vs
[code]

Running minikube 0.20.0 and helm 2.5.0

[2017-06-24 14:33] hiscal2015 opened #2618 "[Question] How to mount .p12 certificate file with helm?"
Hi, all

Seems .p12 certificate file is different with pem format certificate, we can't open it with text editor and paste the content as helm values, is there a best way to mount .p12 certificates? Thanks.

[2017-06-24 18:54] Rurouni commented on #2004
I haven't seen it for a while, so I am closing this

[2017-06-24 18:54] #2004 closed

[2017-06-24 20:18] mlushpenko commented on #2071
I changed `\.helm\repository\cache\stable-index.yaml` in `C:\.helm\rpositories` to `C:\.helm\repository\cache\stable-index.yaml` and update worked.

`helm serve` didn't complain either I added `C:` in front or not

[2017-06-24 21:24] kfox1111 opened #2619 "KUBECONFIG"
in 2.3.0, the KUBECONFIG env variable can be used along with a passed in config file to configure tiller when it runs without a service token.

in 2.4+, this no longer works.

[2017-06-24 22:30] thomastaylor312 commented on #2426
Ok, I narrowed down where this is happening. I could not duplicate this on 1.6.4 (on Minikube), but I could duplicate the issue with 1.5.3 (on Minikube). The problem is that the new replica set is returning `nil` due to the fact that [this line](https://github.com/kubernetes/kubernetes/blob/ee4f635d6160ce973d8fd3db11564c6999de349a/pkg/controller/deployment/util/deployment_util.go#L567) doesn't ret

[2017-06-24 22:32] thomastaylor312 commented on #2619
@kfox1111 I have been using `KUBECONFIG` without issue in 2.4 for a while. Is there a specific setup that may be causing this?

[2017-06-24 22:34] thomastaylor312 commented on #2617
Thanks for the info @vainikkaj. I'll take a look at this.

[2017-06-25 06:47] eicnix commented on #2492
@alexbrand You could use the `tpl` function to render values that contain variables:

values.yaml
[code]

template.yaml:
[code]

[2017-06-25 12:27] #2124 closed

[2017-06-25 21:48] fuhbar commented on #2604
Very nice! Just stumbled over this issue, right before trying to implement this very same feature by myself. Thanks @bacongobbler for your efforts! Looking forward to a working release. :)

[2017-06-26 00:24] polasekr opened #2620 "Charts with different set of values for each environment"
We have multiple environments (DEV, PROD) where we run same set of containers with slightly different setting. I didn’t want to duplicate charts for each environment and for that reason I created parametrized charts using subcharts.  This is my directory structure:
[code]
The chart dependencies are defined as follows:
[code]
Parent chart's values.yaml file contains only following values:
[code]
Al

[2017-06-26 01:15] gardlt commented on #2219
could I take a crack at this issue?

[2017-06-26 15:00] Onlinehead opened #2622 "Configmap in pre-install hook."
I have a problem with using configmap in pre-install hook.
My scenario:
I need to run some SQL commands on database before first launch of my application and want to use pre-install hook for that.
For that, I trying to load my sql files with commands into configmap and mount it as volume to pre-install hook container.
What is the right way to configure helm for load configmap with sql files before

[2017-06-26 16:10] kfox1111 commented on #2619
I did the following in a static pod, then updated the image from 2.3 to 2.4. 2.4 complains about not being able to contact localhost like it does when it doesn't see a KUBECONFIG.

{
  "apiVersion": "v1",
  "kind": "Pod",
  "metadata": {
    "creationTimestamp": null,
    "labels": {
      "app": "helm",
      "name": "tiller"
    },
    "name": "tiller-deploy",
    "namespace": "kube-system"
  },

[2017-06-26 16:39] bacongobbler commented on #2619
KUEBCONFIG on v2.3.0/v2.4.0 works for me.

[code]

[2017-06-26 17:40] sushilkm opened #2623 "make tests fail intermittently on master"
I have not witnessed this a number of times, so filing this issue, have seen `TestSortManifests` fail a number of times without any changes on master branch or some change which should not effect this test, and this happens intermittently.

only finding for now is the test log:
[code]

I would post more as I find anything new.
If someone is already aware about anything which makes it fail or would

[2017-06-26 17:45] gardlt commented on #2623
i just ran into this issue. it seems to fail only in the circleci. when i run unit-test locally it passes.

[2017-06-26 17:46] sushilkm commented on #2623
I have seen it failing multiple times on my computer

[2017-06-27 05:31] thomastaylor312 commented on #2620
@jascott1 any feedback on this?

[2017-06-27 05:35] thomastaylor312 commented on #2243
@technosophos Is this at a point when we feel safe labeling this as a feature or is more discussion needed?

[2017-06-27 05:36] thomastaylor312 commented on #2622
@Onlinehead Is it something you could do using an init container instead? There isn't a way to have Helm create the config map beforehand. However, there is a proposal open (#2243) that is discussing adding support for it

[2017-06-27 05:38] thomastaylor312 commented on #2623
@sushilkm I have run into this flake before too and I am not quite sure what is causing it. I am going to label this as a bug.

[2017-06-27 07:44] libesz commented on #1769
For those who want to have a workaround for this, until the final solution is implemented.
Instead of appending random characters to the Job object's name, the Job may delete itself from the APIserver as the last task before exiting. It is equally "elegant" but not leaking Job objects.
Sad facts:
* You need to pass the APIserver credentials into the Job to do this.
* You will lose the Job logs as

[2017-06-27 10:26] dominik-bln commented on #2620
I'm not that experienced with Helm myself yet, but if I see this correctly, what you want to achieve could be done simpler with `helm install -f your-prod-values.yml`. Just put some good defaults in the Charts `values.yml` and move your environement specific values somewhere outside the Chart and change them to the values you want during your command line calls:

https://github.com/kubernetes/helm

[2017-06-27 13:21] twz123 commented on #1390
Is this documented somewhere? Both `helm create` and the Labels section in the Chart best practices docs still advocate the chart version inside the pod's labels.

[2017-06-27 13:26] twz123 commented on #1390
Is this documented somewhere? Both `helm create` and the Labels section in the Chart best practices docs still advocate the chart version inside the pod's labels.

[2017-06-27 14:59] bcorijn commented on #1796
@technosophos I had this vague recollection that the `helm rollback LAST` functionality was already implemented, but I could not find it back in the documentation. I dug a bit further and by reading the code, I learned it indeed is implented [here](https://github.com/kubernetes/helm/blob/master/pkg/tiller/release_rollback.go#L78-L80).
So doing a `helm rollback MyRelease 0` will roll back to the la

[2017-06-27 15:30] sjthespian commented on #2332
We are running into this issue frequently. I support an application that is building and deploying using a CI model that frequently releases several versions of the application a day. We have now run into an issue multiple times where the configmap has grown so large that helm times out trying to retrieve it. We end up manually trimming the releases, but that assumes that we can retrieve the confi

[2017-06-27 18:19] jascott1 commented on #2620
@thomastaylor312 i will check this out but if behaving as described by @polasekr then this is a bug ( a regression in 2.5 preventing ImportValues from working). It also sounds like ImportValues doesn't respect tag/conditions and tries to import chart values for disabled charts (which is a problem).

[2017-06-27 18:53] sushilkm commented on #2582
assign this one to me, I am working on this one, was able to repro, it seems there is something in the particular name, as this works with other names, only `mysql-latest` has issue

[2017-06-27 20:34] dhensen opened #2624 "installation script: openssl sha -sha256 does not work with OpenSSL 1.1.0f 25 May 2017"
When using the [installation script](https://raw.githubusercontent.com/kubernetes/helm/master/scripts/get): `openssl sha -sha256` does not work with OpenSSL 1.1.0f  25 May 2017 (which is currently latest)

I have to instead use:
[code]
What version of openssl are you guys expecting/using?

(I'm running Arch Linux btw)

[2017-06-27 21:24] sushilkm commented on #2582
hehehe, the fix is a funny one:

the issue is nothing but the typo in name when install command was issued

[code]
but we were trying to query/delete the instance which really never existed 👍

[code]

[2017-06-27 21:30] luck02 commented on #2582
I'm not sure what you're trying to say.  I'll try to reproduce this issue again in my local env and see what happens.  Was I issuing a bad command of some sort?

[2017-06-27 21:34] jascott1 commented on #2582
@luck02 you typo'd mysql in the command
`helm install --name msyql-latest stable/mysql`

[2017-06-27 21:43] whereisaaron commented on #2426
Thanks @thomastaylor312! Hopefully you're on the trail. Did that code differ between helm 2.3.x and 2.4.x? As we didn't see this issue with 2.3.x with everything else being identical.

In case it is relevant I am also using coreos clusters (kube-aws) like @baracoder. And the cluster it failed in was k8s 1.5.x.

[2017-06-27 21:51] luck02 commented on #2582
OMG :(  sorry  I literally couldn't see that :(

[2017-06-27 21:52] #2582 closed

[2017-06-28 00:19] thomastaylor312 commented on #2426
@whereisaaron We made a change to be smarter with `--wait` and `Deployment` objects between 2.3 to 2.4. We found one bug that we had to patch with a similar issue. So we'll be working to figure this out

[2017-06-28 00:20] thomastaylor312 commented on #2620
@jascott1 Ok sounds good. Let me know what you find and I'll label appropriately

[2017-06-28 00:27] bacongobbler commented on #2620
Not a native Helm tool, but it's worth noting that this is something Draft solves within its own CLI. Each "environment" can set its own set of chart values in draft.toml

Breakdown of that feature here: https://github.com/Azure/draft/blob/master/docs/user-guide.md

I would argue that this could be solved nicely through a Helm plugin.

[2017-06-28 00:34] thomastaylor312 commented on #2624
@dhensen I just duplicated this on debian as well. I know that locally on my Mac it is 0.9, but I don't think we ever specified a version.

@technosophos How do we want to handle this? I can't seem to find a command with openssl that works across versions.

[2017-06-28 08:09] nmakhotkin commented on #2560
A couple of weeks ago we also faced this issue. For this time I just restarted tiller pod and then it works again some time. Then, after about 24 hours, it starts hanging again.

I've also looked at tiller's logs but there is no relevant to failing or error...

For now, we are just keeping restarting tiller to make it work.

[2017-06-28 09:42] eric4545 opened #2627 "Helm upgrade stuck in locking release"
When we `helm upgrade --wait` it will stuck forever, checked in tiller log it stop in `[storage] 2017/06/25 15:22:43 locking release`

[code]

[2017-06-28 10:44] h0tbird commented on #2409
Same error here on GKE:
[code]

[2017-06-28 13:24] polasekr commented on #2620
@dominik-bln
Proposed approach would work for help chart that doesn't have subcharts that supposed to be environment dependent. I have a main chart with few subcharts and I need to pass values to all subcharts based on the environment I run the chart in. The option of including all the variable files on the command line is not well scalable.

[2017-06-28 13:32] polasekr commented on #2620
@bacongobbler I like that build in feature of draft allowing to natively selecting environment and building and deploying chart accordingly. It would be +1 from he for either such feature or helm plugin.

[2017-06-28 15:13] mikesplain commented on #2494
Just for future reference I ran into this because I was adding `chart: "{{.Chart.Name}}-{{.Chart.Version}}"` as `.spec.template.metadata.labels` which would also become `.spec.selector.matchLabels` after the first release. On the second release if I bumped the version number, I'd get the above error (since `.spec.selector.matchLabels` and `.spec.template.metadata.labels` would now be different).

[2017-06-28 17:37] joejulian opened #2630 "HELM_HOME is not used for plugin commands"
I created a path in a docker image in which to install the apps registry plugin, `/etc/helm/plugins/appr` with HELM_HOME set to /etc/helm in my Dockerfile, `env HELM_HOME=/etc/helm`.

I install the plugin into that directory and can show that the plugin is installed.
[code]

But if I try to use that plugin, it errors:
[code]

If I symlink /etc/helm to ~/.helm, it works.

Please allow HELM_HOME to

[2017-06-28 18:20] bacongobbler commented on #2630
I was also able to reproduce this. However, I was able to work around this via

[code]

[2017-06-28 20:27] ketzacoatl commented on #2630
I ran into this with `helm search`:

Search fails:
[code]

Home is not the default, but exists:
[code]

Some commands work fine:
[code]

[2017-06-28 21:18] chancez commented on #2610
In your snippet, you did the annotation on the deployment, not the pod spec template which is your issue.

[2017-06-29 04:28] thomastaylor312 commented on #2610
@chancez Good catch on that

[2017-06-29 04:37] thomastaylor312 commented on #2627
@eric4545 What Kubernetes version are you running? Also, could this be related to #2426?

[2017-06-29 05:47] eric4545 commented on #2627
K8s server/client version:
[code]

Attached the log, I only upgrading one release `testing-secure`, but in the log there is another lock suddenly appear, don't know is it related.
[code]

[2017-06-29 05:54] eric4545 commented on #2627
@thomastaylor312 seems not related.
Let me detail more
1. upgrade release `testing-secure`
2. upgrade `testing.worker` , after 5mins still no changes/ resource update in k8s.

[2017-06-29 07:41] Smana commented on #2610
oh, yeah. i'm going to change that right now and let you know.

[2017-06-29 07:49] Smana commented on #2610
thanks @chancez that works

[2017-06-29 07:49] #2610 closed

[2017-06-29 08:14] Smana commented on #2590
I'm still stucked with this issue, even on google cloud storage....
digging further, will try again

[2017-06-29 08:38] nmakhotkin commented on #2560
It seems like it does'n depend on kind of resources in chart. Now it hangs for any chart.
It hangs for commands
`helm upgrade`, `helm delete`, but `helm install` is ok.

I tried to see tiller logs, but there is only
[code]

It means that somehow requests didn't reach tiller RPC at all :(
Guys, any news?

[2017-06-29 15:03] pramodhkp commented on #2579
To maintain backward compatibility, how about adding a `-o yaml` flag, which when specified will return YAML instead of plain text?

[2017-06-29 15:05] pramodhkp commented on #2579
How about adding a `-o yaml` to maintain backward compatibility for this?

[2017-06-29 15:57] philipbjorge commented on #2504
This would also be very useful to me -- I can write automation in any language I like, rather than go.
I think yaml would be the best format since it's consistent with the kubernetes/helm community at large.

[2017-06-29 17:54] seh commented on #2426
If the _ReplicaSet_ either lacks an owner reference or has it set improperly, here's a place to look for telltale signs of failure: [`(*DeploymentController).getReplicaSetsForDeployment`](https://sourcegraph.com/github.com/kubernetes/kubernetes@ee4f635d6160ce973d8fd3db11564c6999de349a/-/blob/pkg/controller/deployment/deployment_controller.go#L494-522).

[2017-06-29 18:29] rgauss commented on #2588
+1

`requirements.lock` shows:

    - alias: ""

[2017-06-29 18:39] technosophos commented on #2298
Any update on this? I'm reviewing issues for the stability/security requirement on 2.6, and not sure if this one is likely to be ready for review in time.

[2017-06-29 18:48] prydonius opened #2633 "Docs: easy way to permalink sections"
It would be great to be able to easily permalink a section in https://docs.helm.sh, something similar to the icon that shows up when hovering over a heading when viewing a markdown doc on GitHub.

[2017-06-29 18:50] technosophos commented on #2633
/cc @flynnduism - Basically, we need a way to more easily copy-and-paste links to specific headers in documentation. Probably any of the h1-h6 tags.

[2017-06-29 19:01] SEJeff opened #2634 "Ability to run helm with ipv6 disabled"
Looking through #1410, #2223, #2482, the solution to this error is to enable ipv6:

[code]

At my company, we disable ipv6 explicitly via the Linux kernel boot option `ipv6.disable=1` entirely for on-premise servers, which includes all of our kubelets and Linux desktops. We would like a way to not require ipv6 to use helm. It seems you can mitigate it via setting `HELM_HOST` to `127.0.0.1`, or som

[2017-06-29 19:05] seh commented on #2634
Are you saying that when you run Helm on a machine with IPv6 disabled, Helm doesn't work, and you want it to tolerate the lack of IPv6, perhaps instructing it via command-line flag which protocol versions to use?

[2017-06-29 19:10] SEJeff commented on #2634
@seh yessir, that is what I would like if at all feasible. Both our clients or servers have IPv6 disabled by a design that is entirely out of my control. Our entire k8s footprint is on premise as well, so no cloud bits to worry about.

[2017-06-29 19:18] SEJeff commented on #2634
Another option is to simply fallback when ipv6 is disable either via no ipv6 interface up and/or the ipv6 sysctl being set to 0. Seems like a much better user experience ie: works out of the box.

[2017-06-29 19:24] rgauss commented on #2588
Disregard my +1 (apologies, newb, was having a different problem).

While requirements.lock does show an empty alias string and there is only 1 copy of the chart present (which makes sense I think), things are working as expected in the deployment, including [override of subchart values](https://github.com/kubernetes/helm/blob/master/docs/chart_template_guide/subcharts_and_globals.md#overriding-va

[2017-06-29 19:49] technosophos commented on #2634
I believe that configuring /etc/hosts to point to the ipv4 address for localhost is probably all that needs to happen. (you might need to remove `::1 localhost` too)

[2017-06-29 19:56] thomastaylor312 commented on #2426
Is there something with how that is working in k8s 1.5?

[2017-06-29 20:04] seh commented on #2426
According to the VCS, that area of the code has [seen some action](https://github.com/kubernetes/kubernetes/blame/ee4f635d6160ce973d8fd3db11564c6999de349a/pkg/controller/deployment/deployment_controller.go#L494-L522) over the last eight months. Issue kubernetes/kubernetes#33845 and PR kubernetes/kubernetes#35676 sound relevant, and the latter looks like it didn't make it in until version 1.6.

[2017-06-29 20:21] SEJeff commented on #2634
@technosophos this is definitely an improvement, thanks.

The error still exists however:

[code]

[2017-06-29 22:59] flynnduism commented on #2633
Yep, easy win. I'll implement this asap

[2017-06-29 23:29] technosophos commented on #2332
I am just about done with a fix for this.

[2017-06-30 00:33] dkellner commented on #2588
@rgauss That means you don't have any issues?

As far as I understood the [docs regarding alias fields](https://github.com/kubernetes/helm/blob/master/docs/charts.md#alias-field-in-requirementsyaml), there should be multiple copies in `charts/` after running `helm dep update`. If that's actually not true we should make that clear in the docs.

[2017-06-30 01:00] rgauss commented on #2588
Correct, no issues on the same v2.5.0.

I may have misinterpreted, but I didn't see where that was specifically indicated, just that you could have previously achieved a similar result by manually adding multiple copies.

not necessarily 3 duplicate items in `charts/`.

[2017-06-30 09:00] bcorijn commented on #2332
@technosophos Nice! Could you explain what you mean exactly with `To enable this feature, use helm init --history-max NNN. Note that because of the restrictions on Deployment objects, you will have to re-install Tiller to add a limit.` Will that init automatically re-deploy Tiller in my cluster or will I have to take any manual precautions? What will happen with releases that already have more his

[2017-06-30 09:19] weiwei04 opened #2638 "Proposal: move chart download to Tiller"
We'd like to integrate tiller into our CI/CD system, to call the tiller api to deploy/upgrade/delete charts.

I looked into the code, it seems for the Install/Update process, it is the helm cmd line download the chart and send the chart & value to tiller. I am not sure why not make tiller more like docker daemon, the helm cmd line just send value and a chart url, the tiller will download the chart

[2017-06-30 11:38] vglafirov commented on #2036
This is huge gap in our CI/CD pipeline, please prioritise it.

[2017-06-30 12:57] seh commented on #2638
My interpretation of the current design is that Tiller's responsibility includes "rendering" the chart—meaning taking a set of templates, interpolating them, and unmarshaling them into Kubernetes objects to be installed or updated—but does not care where these chart artifacts come from. Moving the chart acquisition responsibility into Tiller means also bringing in network access to the chart repos

[2017-06-30 15:58] whitecolor opened #2639 "Automatically Roll Deployments When ConfigMaps change"
I dont really get how to use this feature from docs:
https://github.com/kubernetes/helm/blob/master/docs/charts_tips_and_tricks.md#automatically-roll-deployments-when-configmaps-or-secrets-change

[code]

What is `/secret.yaml` ?

How does this feature essentially works? How does it know the changes in configs-map/secrets?

It would be nice if tiler could watch config-maps changes in cluster someh

[2017-06-30 21:00] seh commented on #2639
At present, Tiller does not watch the Kubernetes objects it creates.

The suggested technique above is a way to force Tiller to change a _Deployment_ object when some other pertinent file changes, such as the hypothetical _secret.yaml_ file above that would define a _Secret_ object that the _Deployment_'s pods use.

Normally, even if you changed the _secret.yaml_ file and updated the chart that co

[2017-07-01 01:29] whitecolor commented on #2639
Ah ok, so this annotation is just a trigger to change, and can be named anything not only `checksum/config`?

[2017-07-01 12:02] seh commented on #2639
Yes, the name is immaterial. I take it as just a suggestion, so that its meaning would be clear, though note that there is a convention of choosing something that looks like a domain name for the annotation prefix—even though annotations keys are not subject to the same [syntactic restrictions as label keys](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#syntax-and-chara

[2017-07-02 06:22] inewlife opened #2640 "first init 'Warning: Tiller is already installed in the cluster',then 'Error: cannot connect to Tiller'"
I use 'brew install kubernetes-helm' on mac

[2017-07-02 21:56] seh commented on #2640
To clarify, are you saying that the first time you ever ran _helm init_ in a cluster that had never had Tiller installed, _helm init_ complained that Tiller is already installed? _Is_ Tiller running in your cluster? By default, you'd probably find it running in the "kube-system" namespace.

[2017-07-03 00:35] weiwei04 commented on #2638
Thanks, the "Azipod" is our current design, we are writing a server to provide the helm client's function as http api.

[2017-07-03 19:06] arschles opened #2641 "Helm should be aware of APIServices"
If a chart contains a template like this (will only work on Kubernetes v1.7.0 and above):

[code]

... the output of `kubectl get apiservice` will include `v1alpha1.servicecatalog.k8s.io`. When a user runs a `helm delete ...` command, the `APIService` will still exist in this list, which means that a subsequent `helm install` command will fail. Personally, I think it makes sense to delete the `API

[2017-07-03 20:49] seh commented on #2641
At present, the _APIService_ kind is not addressed in Tiller's sort order, whether during [installation](https://github.com/kubernetes/helm/blob/f7f85526448592a3785e00d5da0f51f03fc2a7a2/pkg/tiller/kind_sorter.go#L26-L52) or [uninstallation](https://github.com/kubernetes/helm/blob/f7f85526448592a3785e00d5da0f51f03fc2a7a2/pkg/tiller/kind_sorter.go#L54-L80). We might like to install an _APIService_ e

[2017-07-04 00:05] philipbjorge commented on #2560
I'm seeing this right now with dry-runs of `helm upgrade` and am also not seeing anything relevant in the Tiller logs.

[2017-07-04 12:48] janssk1 commented on #2627
I have similar issues with the locking mechanism.

It becomes impossible the manage a release after someone does ctrl-c on helm while it is doing something (eg upgrading/installing/deleting) that has retrieved the lock.

Example flow:
* install a chart
* delete it
* helm delete taking a long time, got impatient and pressed ctrl-c
* after that i'm not able to do anything anymore with the release.

[2017-07-04 15:23] mcasimir opened #2642 "Allow remote values.yaml with -f"
It would be great to be able to use `-f` option with remote files, same as `kubectl apply -f` works.

[code]

[2017-07-04 19:30] seh commented on #2509
[Helm version 2.5 was released](https://github.com/kubernetes/helm/releases/tag/v2.5.0) containing the fix for this problem, but I had neglected to close this issue at that time.

[2017-07-04 19:30] #2509 closed

[2017-07-05 12:28] seh commented on #2642
I didn't realize that _kubectl_ accepted such URLs, but [indeed it does](https://github.com/kubernetes/kubernetes/blob/bce32b66cd7e2276169602928384fae31301b687/pkg/kubectl/resource/builder.go#L135-L141). [The URL retrieval implementation](https://github.com/kubernetes/kubernetes/blob/bce32b66cd7e2276169602928384fae31301b687/pkg/kubectl/resource/visitor.go#L228-L294) is 66 lines, including comments

[2017-07-05 16:15] alonl opened #2643 "Bug: `dependency update` deletes required charts, when used in with new `alias` feature"
Reproduction steps:
1. Create a `requirements.yaml` file with 2 dependencies that have the same chart name, with different alias, and **with different version**. For example:
[code]
2. Run: `helm dependency update`

Expected result:
`charts/` dir contains both versions of the chart.

Actual result:
`charts/` dir contains only the latter.

I debugged it a little bit and found the cause. A PR is com

[2017-07-05 16:52] alonl commented on #2643
By the way, this bug is currently quite important to our environment - doesn't let us to deploy two charts with different versions, so I hope that the PR will be merged and a bug-fix release will be triggered soon. :)

Thanks guys!

[2017-07-05 18:34] jascott1 commented on #2479
@groundnuty I did look into this some and cant decide whether this might break the previous behavior. Either way I don't think it would make it into 2.6 as that is focused on stability and security but I will try to find out if its acceptable.

[2017-07-05 18:56] MHBauer opened #2645 "'tips and tricks' link in docs.helm.sh not working"
The specialized function link here:
<img width="1034" alt="screen shot 2017-07-05 at 11 52 28 am" src="https://user-images.githubusercontent.com/13337345/27880049-7b2f3ce2-6178-11e7-9c40-12d1c3b1ed37.png">

links to `https://docs.helm.sh/developing_charts/#charts_tips_and_tricks` which does not resolve.

If I C-f search for 'tips and tricks' I find the right section.

<img width="969" alt="screen

[2017-07-05 19:20] arschles commented on #2641
@seh I tore down my cluster, so I can't get tiller logs until I repro again.

Regarding the `APIService` ordering, it would make sense to me to install these resources later, and uninstall them earlier, since they are the resource that makes available new resource types in the Kubernetes API, and those types are only accessible if the backing server(s) are available to service actions on them. Tho

[2017-07-05 19:39] johnharris85 opened #2646 "Docs: Change example chart away from mysql"
As mysql depends on a PV being available on the cluster, this doesn't seem a great 'first example' for people potentially playing with helm for the first time. Maybe something that doesn't have a PV dependency that people can get up and running a little easier?

Maybe the kube-dashboard?

[2017-07-05 19:58] kfox1111 commented on #2619
I tried 2.5.0 and it is working. might have just been 2.4.0 and no others. I"m closing this.

[2017-07-05 19:58] #2619 closed

[2017-07-05 20:11] seh commented on #2641
I agree that at minimum, an _APIService_ should be created after pods, _ReplicationControllers_, _ReplicaSets_, and _Deployments_, because it's likely that one or more of those four will be responsible for hosting the _APIService_'s servers. I also agree with the proposed symmetry at uninstallation time.

The only question I have about that is whether any objects in a chart might need to make use

[2017-07-05 21:18] seh commented on #2645
@flynnduism, I can't assign an issue to you, but I hope you can help here.

[2017-07-05 21:21] seh commented on #2646
As of Kubernetes version 1.6, running the Dashboard requires granting it the "cluster-admin" _ClusterRole_, which helps by showing how RBAC might be involved in a chart, but some would-be Helm users won't have sufficient privileges to bind that role themselves.

What about a stateless Web application using _nginx_?

[2017-07-05 21:24] at1012 commented on #2063
@thomastaylor312 I would like to work on this feature, if you haven't started looking into it already.

[2017-07-05 21:38] bacongobbler commented on #2645
docs link: https://github.com/helm/helm-www

[2017-07-05 21:48] peay commented on #2285
@thomastaylor312 I believe this can be closed now

[2017-07-05 21:53] flynnduism commented on #2645
@seh thanks, I'll sort this out

[2017-07-05 22:38] SiriusRed opened #2647 "helm upgrade does not change resource value"
Hi,
thx for flexible tools

I have a question about resource updating mechanism.

PROBLEM:
When I want update a some deployment - `helm upgrade my-release .` some values don't change

Steps
1) I Installed chart with helm (deployment and service) `helm upgrade my-release . --install`.
 Part of deployment-template:

which generate the manifest, with part like

2) then, I made some changes  in anothe

[2017-07-05 23:22] scottrigby commented on #1966
Hey guys, just coming to this now. We were just brainstorming about this problem in [Slack](https://kubernetes.slack.com/archives/C51E88VDG/p1499293488448683) Today. And just as I was about to create an issue, I looked and found this one 😄

So I prefer the `null` option, over `--overwrite`, because that could change more than we need. The immediate problem I see with an `--overwrite` flag is that

[2017-07-05 23:31] bacongobbler commented on #2645
https://github.com/helm/helm-www/pull/50

[2017-07-05 23:42] jascott1 commented on #1966
I also like the `null` option and  using it with `helm init --set` would allow advanced users to  completely remove keys (e.g. the default nodeSelector that specifies linux) and have more control of the Tiller Deployment manifest.

[2017-07-06 04:06] thomastaylor312 commented on #1966
@scottrigby So I was looking at the code as it stands without your PR. It looks like `~` indicates `null` in YAML. I was able to overwrite any key using that notation. However, with that said, it won't actually _delete_ the key, it will just set its value to `null`. So I think your PR is a better option because it actually deletes the key from the map

[2017-07-06 05:00] thomastaylor312 commented on #2285
@peay Thank you for pinging me on this. I'll close it

[2017-07-06 05:00] #2285 closed

[2017-07-06 05:04] thomastaylor312 commented on #2627
Sorry for the delay on this folks. I'll try duplicating this in the next few days. Thank you for the extra information

[2017-07-06 07:07] groundnuty commented on #2479
Since our discussion, I managed to finish and publish some charts that we use in our CI/CD flow so I can give some more concrete examples:

I have a component chart that depends on many things:
https://github.com/groundnuty/onedata-charts/blob/master/oneprovider/requirements.yaml

This chart is consumed 3 times (aliases), by a chart the defines a proper deployment of a system:
https://github.com/g

[2017-07-06 14:41] technosophos commented on #1966
Yeah, I too prefer an explicit null.

[2017-07-06 14:42] technosophos commented on #1966
If ya'll agree, could we add this to 2.6 under the "stability and security" heading?

[2017-07-06 16:24] mkumatag commented on #1968
Anything happening in this front? Only 3 more weeks left for the mentioned milestone!

[2017-07-06 21:56] thomastaylor312 commented on #1966
Yes, I agree and already labeled the PR as such 😄

[2017-07-06 22:20] arschles commented on #2641
@seh I took a quick stab at this in #2650. Marked it WIP for now because I'm not familiar or current with the codebase

[2017-07-06 22:23] olalonde opened #2651 "portforward.go:212] Unable to create listener: Error listen tcp6 [::1]:43424: bind: cannot assign requested address (CircleCI)"
Today I noticed this error in my previously working CircleCI 2.0 deploy script (`helm upgrade -i ...`):

[code]

Any ideas what might be causing this?

[2017-07-06 22:45] olalonde commented on #2651
So I deleted the tiller pod and tried again (upgrade worked). I'm still seeing the error but the deployment works now. I just realized that I had been getting that error for a while and hadn't paid attention to it since everything was working.

I guess my only suggestion would be to make that error more informative and to have some logs when there is a problem with the tiller pod for some reason (

[2017-07-07 03:27] #2599 closed

[2017-07-07 07:07] odedpriva commented on #2617
I also have the same issue when running helm on minikube.

[code]
[code]
[code]

[code]

[2017-07-07 17:21] thomastaylor312 commented on #2063
@at1012 Yes, feel free to do that. Thank you!

[2017-07-07 18:46] thomastaylor312 commented on #1966
Closed in #2648

[2017-07-07 18:46] #1966 closed

[2017-07-07 18:55] bacongobbler commented on #2409
I'm seeing the same issue on Azure. `helm list` and `helm get` work just fine, but I hit the context deadline as soon as I try `helm get manifest/values`.

output:

[code]

No tiller logs were available after the call to `helm get manifest`, but `helm list` and `helm get` shows regular logs:

[code]

This is just on a 2-node cluster (one master, one node). I'll see if restarting the docker daemon

[2017-07-07 19:42] flynnduism commented on #2645
Fixed and deployed. Thanks @seh!

[2017-07-07 21:19] rcorre opened #2655 "Clean way to check if a release exists"
The cmd code for helm's `upgrade -i` contains this [rather ugly solution](https://github.com/kubernetes/helm/blob/master/cmd/helm/upgrade.go#L151) to check if a release exists.

I'm using `helm.Interface` in a go project and want to use `upgrade -i`. Unfortunately, this means repeating that same messy check in my code. Is there a way to make it cleaner?

A few ideas:

- an `UpdateOrInstall` option

[2017-07-07 22:16] alonl commented on #1896
@technosophos any progress so far? I'll be happy to assist. I was about doing the same thing...

[2017-07-08 01:17] MHBauer commented on #2641
Agree with after the pod-type things. I know that if I install it last manually, svc-cat chart works correctly. Otherwise I get a hangup in the middle.

[2017-07-08 12:33] whitecolor opened #2656 "deletion completed with 1 error(s): object not found, skipping delete"
`heml delete release-name`

`Error: deletion completed with 1 error(s): object not found, skipping delete`

Actually seems to delete everything that was under this release, though it would be useful to get more precise error description.

[2017-07-08 14:38] SiriusRed opened #2657 "Error: error installing: User "system:anonymous" cannot create deployments.extensions in the namespace "kube-system".: "No policy matched.\nUnknown user \"system:anonymous\"" (post deployments.extensions)"
Hi,

## Have
Helm 2.5.0
Kubernetes 1.6 with RBAC enabled on GCP

## Problem
Run this commands in container with kubectl and helm:
[code]
## Question

What I might to  do for fix this error?

[2017-07-08 19:04] pminkov commented on #2114
+1. In the meantime, here's a workaround:

[code]

[2017-07-08 19:28] SiriusRed opened #2658 "How to fix "Error listen tcp6 [::1]:45125: cannot assign requested address" without disabling ipv6"
I have problem, like in #1410, #2223, #2482

[code]

I run helm in container, where I can't disable ipv6 and change /etc/hosts

What another way to fix it?

[2017-07-08 19:29] SiriusRed commented on #2651
Look to #1410, #2223, #2482

[2017-07-09 08:55] ryukinix opened #2659 "How I can disable specific command from helm auto completion?"
At example I have the `command` `gdb` disabled with `(put 'gdb 'disabled t)` for personal reasons. However the command still appears on autocomplete and annoys me. This is possible?

[2017-07-09 15:09] whitecolor commented on #1873
Still see this on 2.4.3

When I update args on deployment templte container, replica set and created pod are not getting this update.

Have you checked this bug? Should I try to update to 2.5?

[2017-07-09 15:39] sestegra opened #2660 "kube-lego charts issue on GCE 1.6.6"
After installing kube-lego charts on Google Cloud with Kubernetes 1.6.6, I have following error on the logs.

[code]

[2017-07-09 19:20] sestegra commented on #2660
Wrong place to fill this issue.

[2017-07-09 19:20] #2660 closed

[2017-07-10 06:35] wangweihong commented on #2409
I met this error in my cluster too, non-GKE.
This is my Environment:

Host:
[code]
docker Version:
[code]
Error:
[code]
K8s Env:
[code]

[2017-07-10 07:06] leonlibraries commented on #2634
@technosophos If I disabled IPv6 , this situation still confuses me too.

 Is there a way to fix it without enable IPv6 support? THX...

[2017-07-10 08:42] psyhomb commented on #2026
Anything new on this?

[2017-07-10 10:42] mstrzele commented on #2617
I can confirm this on GKE with Kubernetes 1.6.4 and Helm 2.5.0.

[2017-07-10 10:45] icereval commented on #2060
We've resorted to treating the helm `name` as more of a UUID, using `--name-template` and letting it generate a simple but random name. I cannot say I prefer this over respecting the namespace itself but I do see both points and for us this will suffice w/ minimal overhead.

e.g. https://github.com/kubernetes/helm/pull/1015#issuecomment-237309305

[code]

[code]

[code]

[2017-07-10 11:19] whitecolor commented on #1875
Removal of PV creating via PVC is still controlled not by `heml`, it is defined by reclaim policy on PV, should be `Retain`, but setting it via PVC annotations is not supported yet.

[2017-07-10 11:20] whitecolor commented on #1873
@technosophos has heml team looked into it?

[2017-07-10 11:21] whitecolor commented on #1809
Was not implemented I believe?

[2017-07-10 13:01] fuhbar commented on #1873
Can confirm this still exists in Helm 2.5.0 and k8s 1.6.6.

Updating args or even annotations in the values file will lead to correct user supplied and computed values, but the manifest of the `Deployment` gets not updated.

[2017-07-10 13:30] whitecolor commented on #1873
Well, I'm seeing the situation that `Deployment` actually is updated and has new `args` but underlying replicasets and pods hold old values.

[2017-07-10 13:46] seh commented on #2657
You will need to bind sufficient permissions to the Tiller pod's service account in order for it to be able to install the objects requested by your charts. Best is to create a fresh service account for Tiller in the same namespace in which its pod runs (in your case, "kube-system"), then either create a _Role_ in the namespaces into which you intend to install charts or a _ClusterRole_ if you wan

[2017-07-10 14:16] SiriusRed commented on #2657
I created manifest with service account and ClusterRoleBinding definition
[code]

Then added this service user to specification of Tiller

[code]

Then changed command list for auth in k8s in my pipeline manifest.

[code]

`$CA` and `$USER_TOKEN` - are the secret variables which saves ca.crt data and tiller user token.

Use these command for getting ca.crt and user_token:
[code]

[2017-07-10 14:16] #2657 closed

[2017-07-10 14:44] Mario54 opened #2661 "`helm dependency build` should not change 'requirements.lock'"
When reading `helm dependency update --help`, I'm under the impression that the `requirements.lock` will not be changed:

the lock file. This will not re-negotiate dependencies, as 'helm dependency update'
does.

However, when running `helm dependency build` it changes the `generated` timestamp inside `requirements.lock`. This is confusing because it shows up when a developer executes `git status`

[2017-07-10 15:46] technosophos commented on #2661
That is not the intended behavior. You are correct. A `helm dependency build` should not modify the lock file if the lock file is present. That includes the timestamp.

[2017-07-10 15:48] technosophos commented on #2659
I think you have this project confused with https://github.com/emacs-helm/helm

[2017-07-10 15:59] technosophos commented on #2658
You might be able to change `localhost` to `127.0.0.1` in cmd/helm/helm.go:205 and rebuild Helm. That will hard-code Helm to use the IPv4 address instead of whatever is found in /etc/hosts.

[2017-07-10 16:01] technosophos commented on #2656
It happens if one of the things it tries to delete something that Kubernetes itself can't find. 90% of the time, this is because the resource is already deleted.

If anyone wants to see if they can improve the error text there, that would be good.

[2017-07-10 16:08] technosophos commented on #2655
The preferred way of finding if a release exists is to do what we do in Helm upgrade: check whether there is any history for a release with the given name.

The interface is frozen until Helm 3, and we are trying to freeze the gRPC API for the rest of the Helm 2.x lifecycle too. So it's unlikely that we'll add this in the near future. But I'm marking this for discussion in the Helm 3 planning cycl

[2017-07-10 16:10] technosophos commented on #2651
Also #2658

Closing this as a duplicate.

[2017-07-10 16:10] #2651 closed

[2017-07-10 16:13] technosophos commented on #2647
What does `helm get RELEASE_NAME` show you? Do you see the changes there?

[2017-07-10 16:16] technosophos commented on #2645
Marking this fixed, per last comment.

[2017-07-10 16:16] #2645 closed

[2017-07-10 16:21] technosophos commented on #2642
It'd actually have to go through the protocol handler library, too.

[2017-07-10 16:24] technosophos commented on #2630
/cc @adamreese

[2017-07-10 16:25] technosophos commented on #2627
@janssk1 What lock is it waiting to acquire?

[2017-07-10 16:27] technosophos commented on #2624
Fall back to `shasum` when available?

[2017-07-10 16:31] technosophos commented on #2618
You'd have to convert it with the `openssl` tool before sending it to Helm.

[2017-07-10 16:34] technosophos commented on #2617
I can confirm on both Minikube and Azure ACS. I wasn't aware of any code changes to that function between 2.4 and 2.5, but clearly something happened there.

It's an odd one because they all call the same gRPC function, and all load approximately the same objects.

[2017-07-10 16:45] technosophos commented on #2617
Ah! Found the issue. During a recent refactor, the tunnel setup was left off of three of the `get` subcommands. I'll open a PR in a few minutes.

[2017-07-10 16:50] seh opened #2663 "Several map lookups in chart value coalescing procedure can be eliminated"
In #2648, @scottrigby augmented the chart value coalescing procedure to treat null values specially, indicating that the given mapping should be removed. Those changes revealed [a few opportunities for removing map lookup expressions](https://github.com/kubernetes/helm/pull/2648#discussion_r126238947) in the [`chartutil.coalesceValues`](https://github.com/scottrigby/helm/blob/8be9bb51de31b551ab417

[2017-07-10 16:52] jascott1 commented on #2560
We are seeing this in Kolla-Kubernetes land now and I have seen it on my dev cluster. I also did ~650 `install && delete --purge` with local Tiller in debug but haven't reproduced it there. So far it seems be Tiller pod related.

[2017-07-10 16:59] rcorre commented on #2655
If there isn't history, you get an error and have to scrape the error string to determine whether there actually isn't a release or whether some other error occurred. The 'preferred' approach feels hacky to me.

Thanks for considering it for helm 3 though. Even if the hackiness needs to stay, it would be nice to at least wrap it in an `Exists` method so users don't have to copy-paste it to their c

[2017-07-10 23:37] #2641 closed

[2017-07-11 01:23] thomastaylor312 commented on #2617
Thank you for finding this @technosophos, I appreciate not having to dig 😄

[2017-07-11 01:28] thomastaylor312 commented on #2624
@technosophos Good point. Let's do that as the fix for it

[2017-07-11 01:31] thomastaylor312 commented on #1873
@whitecolor Are they orphaned pods with the new pods around also or are there no new pods at all?

[2017-07-11 01:59] #2643 closed

[2017-07-11 02:10] thomastaylor312 commented on #2663
I was looking at this and realized it really is a great starter issue for someone who wants to get into helm. I am going to leave it open for a while and see if anyone would like to take it. If no one takes it, I'll fix this.

[2017-07-11 03:56] ryukinix commented on #2659
Wow!!! My bad! You are completely right! Sorry for this! 😆

[2017-07-11 03:56] #2659 closed

[2017-07-11 04:51] whitecolor commented on #1873
They was old pods. I changed args in deployment now (using heml ), And they were added properly to pods now. I don't know we still see happening sometimes.

[2017-07-11 08:05] dmccaffery opened #2670 "helm-fetch emits non-sensical error: Non-absolute URLs should be in form of repo_name/path_to_chart, got: true"
This error is emitted whenever flags are passed to `helm fetch` in addition to the chart. The chart is still fetched regardless, but the warning is annoying.

WORKS:

[code]

WORKS (BUT EMITS AN ERROR):

[code]

VERSION INFO:

[code]

PLATFORM INFO:

[code]

[2017-07-11 14:49] seh commented on #2670
I was going to say that is a limitation of [the _spf13/cobra_ library](spf13/cobra). Well, really, it would be [the underlying _spf13/pflag_ library](https://github.com/spf13/pflag). However, reading [the advertised syntax](https://github.com/spf13/pflag#command-line-flag-syntax) there, it claims the following:

[The _helm fetch_ command](https://sourcegraph.com/github.com/appscode/helm/-/blob/cmd

[2017-07-11 15:11] jeff-knurek opened #2672 "usage of repository in requirements.yaml is unclear"
As per the documentation on using requirements.yaml, one can do something along the lines of:
[code]
----
When adding a subchart from the official repository: https://github.com/kubernetes/charts

There should be no need for `repository: http://localhost:10191` in this case, since the default repository should be searched. However, not including it leads to an (unhelpful) error:
[code]
----
Using

[2017-07-11 18:36] jascott1 commented on #2560
Its going out to lunch here
https://github.com/kubernetes/helm/blob/master/pkg/storage/storage.go#L163

[2017-07-11 19:19] rcorre commented on #2655
It just occurred to me ... would the following be a cleaner way that doesn't involve error string scraping? Or is there some limitation I'm not seeing?

	releases, err := svc.helm.ListReleases(
		helm.ReleaseListFilter(name),
		helm.ReleaseListLimit(1),
		helm.ReleaseListNamespace(namespace),
		helm.ReleaseListStatuses([]release.Status_Code{
			release.Status_UNKNOWN,
			release.Status_DEPLOYED,

[2017-07-11 20:43] alon-argus commented on #1662
Closing as I don't think it's relevant anymore. Thanks!

[2017-07-11 20:43] #1662 closed

[2017-07-11 21:27] technosophos commented on #2672
For (2) above, the problem is that a repo _name_ is a local attribute (local to however you ran `helm repo add`). URL is the canonical reference for a repository.

So, for example, if I do

[code]

And you do:

[code]

You and I will both have a repo named `myRepo`, but yours is different than mine. The chart must be independent of the local config. Otherwise, when you and I each install the same

[2017-07-11 21:39] #2630 closed

[2017-07-11 21:41] technosophos commented on #2670
The documentation in Go flag and pflag is very clear on this point. From the Go docs:

[code]

To pass `--untar` a bool value, it must be `--untar=true`.

In the case given in the original issue, here's how that command is parsed by Helm:

[code]

Fetch accepts multiple URLs, so it tries to fetch `ARG1` (stable/nginx) and succeeds. Then it tries to fetch`ARG2` (true). There is no chart named `true

[2017-07-11 21:45] seh commented on #2670
Ah, I missed the detail about the special treatment of boolean flags.

[2017-07-11 23:31] technosophos commented on #2404
It was our intention to allow an upgrade to switch charts. So it has always been legal to do `helm install -n foo myChart` and then later `helm upgrade foo myChartTwo`. Likewise, it is possible (by design) to "upgrade" to a version that is lower, higher, or identical to the current chart.

I have actually taken advantage of this feature on several occasions, though I can certainly understand why s

[2017-07-11 23:49] #2617 closed

[2017-07-11 23:50] SlickNik commented on #2404
@technosophos @sushilkm Yes, when I initially took a look at implementing this I envisioned having a flag named "--safe"  or something similar which:
1. Would ensure that you're not trying to upgrade from a chart of one kind to a chart of a totally different kind.
2. Potentially could also check versions to ensure that you're not downgrading to a different lower or identical version of a chart.

H

[2017-07-12 00:04] technosophos commented on #2624
Bumping to 2.6, since it won't actually impact a patch release.

[2017-07-12 00:11] armandocerna commented on #2560
We are also experiencing this issue with the following version of helm.

[code]

We have been able to move past this by deleting the tiller pod and letting the deployment rekick it but there is not any indication.  Initially we thought this might be an issue with our resource utilization of the tiller pod.  I have attached a graph of resource utilization on the tiller right up until the crash.

![

[2017-07-12 00:19] armandocerna commented on #2560
Would it be also possible to get this relabeled as a bug?

[2017-07-12 00:26] at1012 commented on #2063
@thomastaylor312 @bodepd Will the following work for you? It shows both the old and new release with a pending status while performing the upgrade and once the upgrade completes/fails the older release will be removed and the new release's status gets updated accordingly. You need to use `helm ls --all` in order to see the pending ones. By default `helm ls` only shows the deployed ones.

`helm upg

[2017-07-12 00:36] thomastaylor312 commented on #2063
@at1012 I think `PENDING` is a great start for this. If we want to get more granular with the states, we can add it later. This looks cool and I am looking forward to the PR!

[2017-07-12 06:38] olalonde opened #2678 "Feature request: environment variables as an alternative to --set?"
Something like: https://www.terraform.io/intro/getting-started/variables.html#from-environment-variables

It would be nice if helm read variables from the environment, e.g. `HELM_VAR_some_var`. One issue though would be to distinguish between things `some_var` and `some.var`.

[2017-07-12 07:46] janwillies commented on #2620
We have exactly the same problem as @polasekr and are looking for a solution as well. Wrapping environments into if-else or template helpers can't be the solution.
@dominik-bln this wouldn't work from a helm chart repository, because `-f values-dev.yaml` expects a local file (although `values-dev.yaml` is packaged into the chart), or would it?

[2017-07-12 09:29] Miyurz commented on #2334
@technosophos Has any work begun for this feature ?

[2017-07-12 10:19] distorhead commented on #2620
There is another way of doing environment-specific values without using separate values files.

1. Define values as:

[code]

2. Pass environment as value from cli: `helm --set "global.env=staging" ...`
3. Use values in templates that way:

[code]

[2017-07-12 11:42] polasekr commented on #2620
I am wondering whether anybody tested my scenario and confirmed that it is a bug with version 2.5 or the problem is somewhere in my local setup.

[2017-07-12 14:24] namsral opened #2679 "Misleading example of the b64enc function to encrypt secrets"
The following passage from the Helm docs suggests to base-64 encode a secret. I think the example might mislead some users of Helm into thinking secrets like a token can be encrypted with the `b64enc` function.

[code]

https://github.com/kubernetes/helm/edit/master/docs/chart_template_guide/accessing_files.md#L167

[2017-07-12 14:47] lhopki01 opened #2680 "helm.sh/hook pre-install does not work with ThirdPartyResources"
According to https://github.com/kubernetes/helm/blob/master/docs/chart_best_practices/third_party_resources.md option 2 you can phase the creation of ThirdPartyResources using a pre-install hook however this doesn't work.

When trying to use helm to install the following test templates:

[code]
I get the following
[code]
Tiller logs show this:
[code]
When I create these sequentially using kubectl

[2017-07-12 17:50] sushilkm commented on #2404
I think `no-chart-swap` should be default behavior,  and `swap-chart` could be a flagged change.
what i intend to suggest is that sanity checks should not be flag based instead they should be default.

However I am still open to implement it based on flag based sanity checks, if that is what we want to do.

[2017-07-12 18:10] mlieberman85 commented on #2474
I'm seeing the same issue with 2.5.0

[2017-07-12 18:39] whereisaaron commented on #2593
Hi @chancez no just one API server. Happened to me a few times now, the pattern appears to be that after a 'delete --purge' a subsequent `update --install` will fail. After a few attempts or maybe a period of time, it will succeed. Maybe a lock is not being released (immediately)?

[2017-07-12 19:22] rofc commented on #2627
Same behavior with, but no "--wait" used when upgrading (just a ``--values`` and a ``--set``).

``Client: &version.Version{SemVer:"v2.5.0", GitCommit:"012cb0ac1a1b2f888144ef5a67b8dab6c2d45be6", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.5.0", GitCommit:"012cb0ac1a1b2f888144ef5a67b8dab6c2d45be6", GitTreeState:"clean"}``

``Client Version: version.Info{Major:"1", Minor:"6", GitVersion

[2017-07-12 20:30] copumpkin commented on #2474
From poking around the code a bit, it seems like the YAML parser Helm is using converts YAML to JSON and then parses that. And although the YAML spec distinguishes between integers and floats, the JSON spec doesn't (as far as I can tell), so the conversion process is lossy.

For reference, the conversion to JSON is happening here: https://github.com/ghodss/yaml/blob/73d445a93680fa1a78ae23a5839bad4

[2017-07-12 20:50] bacongobbler commented on #2474
related issue: https://github.com/kubernetes/helm/issues/1707

[2017-07-13 00:59] kuroneko25 commented on #2596
Same use case here. Is it not possible to pass a helm template to `istioctl kube-inject`?

[2017-07-13 01:18] ppadala opened #2683 "Question about starting a specific service"
I understand the 'helm install' will install the entire chart. Is there a way to install only one service?

[2017-07-13 03:06] ineffyble commented on #2624
See https://github.com/Lyndir/MasterPassword/pull/149 for context.

If `openssl sha` fails, `openssl sha256` should work. According to this PR, LetsEncrypt check OpenSSL version to determine the suitable command. This might be preferable to `shasum`.

[2017-07-13 05:33] yan234280533 commented on #2656
Can I have an try to analysis and solve this problem ?  I will synchronize the progress in this issue.

[2017-07-13 06:52] thomastaylor312 commented on #2624
Thanks @ineffyble! Good pointer on that. I'll probably implement it the way you suggested.

[2017-07-13 08:04] jeff-knurek opened #2684 "adding requirements.yaml file removes manual dependencies from install"
The documentation [[1](https://docs.helm.sh/developing_charts/#charts)] describes two ways to add subcharts (via requirements.yaml or manually adding to `charts/`)

If you create subcharts to the `charts/` directory of the parent (in this case `simple`)
[code]
and package the chart (or `helm install --dry-run --debug dep-test`) you'll get the subchart's deployment included.

### BUG:
The moment yo

[2017-07-13 14:17] djsly commented on #2299
I would like to add a special note about `Tolerations`.  I want to use `nodeSelector` in conjunction with `Toleration` since I have a `taint` on the node I want to deploy `Tiller` on.

[2017-07-13 14:21] djsly commented on #2299
I just look at the PR and it seems that the `values` option might allow us to set `Tolerations`. Any specific reasons why the NodeSelector parameter as its own option VS using the values option ? Maybe I'm missing something with regards to the `Values` option...

[2017-07-13 14:50] roybotnik commented on #2684
It seems that dependencies don't install at all if you have a requirements.yaml and requirements.lock. My requirements.yaml contains deis workflow, and after running helm dependency update and installing a new release, the deis workflow chart did not install. Deleting requirements.yaml and requirements.lock fixed it...

[2017-07-13 16:16] seh commented on #2683
Without customizing the chart to interpret configuration values that would cut it down to a subset of its content, no, there is no such facility in Helm today.

[2017-07-13 16:19] seh commented on #2680
The Kubernetes client used by Tiller is not using a `runtime.Scheme` impregnated with knowledge of your TPR types. _kubectl_ uses the "discovery" interface to learn of such types before interacting further with the API server.

[2017-07-13 16:25] seh commented on #2679
Can you clarify what is misleading about this passage? _Secret_ data is submitted to and presented by the API server in base64-encoded form to afford a thin veil of privacy, in the sense that someone looking over an administrator's shoulder wouldn't be able to make sense of the content immediately by seeing the base64-encoded form in a terminal or in the Kubernetes dashboard.

As of today, _Secret

[2017-07-13 16:40] lhopki01 commented on #2680
@seh my understanding of a pre-install hook is that it should install the TPR kind first before it tries to install the TPR types so it shouldn't have this conflict.

Also why would having a pre-install hook create issues when only a TPR kind is being installed by helm?
[code]

[2017-07-13 17:30] blackstar257 commented on #2409
Same!
`-> % helm get values excited-bison -a
Error: context deadline exceeded`

[2017-07-13 17:53] jascott1 commented on #2299
@djsly You can  use `--set` for nodeSelectors but `--node-selectors` is commonly needed to control where Tiller lands so its included as a flag for convenience. We are currently hard-coding a linux nodeSelector (that can be overridden) but this PR will remove that and allow users that still need it to specify with `--node-selectors` easily.

[2017-07-13 18:47] at1012 commented on #2063
@thomastaylor312  I think it will be good to have the `pending` status for `helm install` as well. But that is a little tricky since we have to deal with the `reuse` flag. Would you think that should be done as a part of this PR?

[2017-07-13 20:35] bgrant0607 commented on #2639
See also:
https://github.com/kubernetes/kubernetes/issues/22368
https://github.com/kubernetes/kubernetes/pull/31701#issuecomment-252110430

[2017-07-13 21:56] tavispaquette commented on #2409
Encountering the same problems on AWS with a kops-1.6.2 install using RBACs
helm get works, can install charts, but get manifest doesn't work

[code]

[code]

[code]

[2017-07-13 21:59] bacongobbler commented on #2409
This issue was fixed in https://github.com/kubernetes/helm/pull/2664 and is being shipped in v2.5.1.

[2017-07-13 22:04] thomastaylor312 commented on #2063
@at1012 That is actually a great idea. Those should all fit in the same PR. Also, make sure it is `PENDING_UPGRADE` instead of `PENDING_UPDATE` so as to match `helm upgrade`

[2017-07-14 00:00] at1012 commented on #2114
@technosophos I would like to work on this.

[2017-07-14 00:38] jascott1 commented on #2560
@thomastaylor312 might be able to label this a bug

[2017-07-14 00:53] jascott1 commented on #2560
There is a race condition with the  Storage.releaseLocksLock.Lock(). If you execute `helm delete <releaseName> --purge`, hit `ctrl-c` and then immediately issue another delete command before that one returns you can get into a deadlock where subsequent requests cannot get a lock.

To reproduce with an example chart named "testchart" (can be any chart)

[code]
[code]
The delete commands will hand a

[2017-07-14 06:23] splisson-altair opened #2686 "namespace is ignored when used with upgrade command and --install flag"
When using the upgrade command, with --namespace <ns> and --install
Then Helm creates resources in default namespace

Expected: use the specified namespace

[2017-07-14 07:59] #2686 closed

[2017-07-14 08:11] splisson-altair commented on #2686
for existing release (not purged) it was not working. for brand new it works

[2017-07-14 15:17] jayunit100 opened #2687 "system:default not sufficient for helm, but works for kubectl"
PROBLEM

Helm reports lack of ACL's as the reason that it can't do list configmaps/pods/etc... However, the kubeconfig which it uses is valid.   This is confusing b/c it mixes Tiller failures w/ client failures, and its not clear wether the helm client is breaking, or wether its that the Tiller is breaking.

i.e. the tiller logs show essentially the same thing as the client failure.

SOLUTION

Mak

[2017-07-14 16:01] thomastaylor312 commented on #2404
@sushilkm I think the debate with that is backward compatibility. We don't want to change the default behavior out under people, but adding something like a `--save` flag wouldn't be a problem.

[2017-07-14 16:03] thomastaylor312 commented on #2560
Oh sorry. I forgot to change that. It has been relabeled

[2017-07-14 16:04] thomastaylor312 commented on #2627
I am wondering if this is related to #2560. /cc @jascott1

[2017-07-14 16:06] thomastaylor312 commented on #2620
@polasekr I think @jascott1 has been busy trying to nail down a nasty locking bug, so he hasn't had time to test this one

[2017-07-14 16:14] philchristensen commented on #2409
I'm still having this issue even when using the latest canary release, which also seems to have some argument parsing errors.

Here's my kubectl output
[code]

Helm output from latest canary release:
[code]

[2017-07-14 16:21] bacongobbler commented on #2409
Can you open a new issue for that, please?

You might also want to test https://github.com/kubernetes/helm/pull/2682. It sounds like this issue's already being fixed for v2.5.1.

[2017-07-14 16:40] bacongobbler opened #2688 "flag parsing in master seems broken"
On a fresh build from master this morning, I am seeing the following issue whenever a flag is invoked:

[code]

When no flags are present, no error is displayed.

[code]

Not sure if this is fixed by #2682 or not, but I figured I'd open a new ticket for visibility/tracking purposes.

[2017-07-14 17:03] bacongobbler commented on #2688
Confirmed with @adamreese that #2682 is the fix.

[2017-07-14 17:11] jayunit100 commented on #2687
I fixed my issue - it was related to running things in kube-system.  I don't know why my helm client (using same kubeconfig as my kubectl) couldn't access that NS, but I'm thinking we should print a warning when installing helm w/o a custom namespace.

[2017-07-14 17:19] jayunit100 opened #2689 "Users should know when the client is failing, wether or not it's tiller is online and ready."
Looks like at least some kubernetes deployments don't allow things running in kube-system to use the service accounts to do list operations.

Reasons why using the kube-system default for helm's home should lead to a warning.
- If kube-system is secured in any ways, its more likely tiller will be happier in its own namespace.
- Even if kube-system is *not* secured, tiller will still be happy.
- I

[2017-07-14 17:33] bacongobbler commented on #2689
We've been deploying to kube-system since v2.0 and we can't break backwards compatibility so it'll have to retain that behaviour for now. If you want to deploy tiller in a different namespace, there's always the `--tiller-namespace` flag on `helm init`.

[2017-07-14 17:43] jayunit100 commented on #2689
This works ok for me on minikube, which is good news.

I guess what we *should* do, then, is not have tiller infinitely retry, and let if fail, so that its obvious that its down, rather then have it zombie around permissions failure forever.

[code]

[2017-07-14 20:52] bacongobbler commented on #2688
closed via #2690

[2017-07-14 20:52] #2688 closed

[2017-07-15 17:54] seh commented on #2680
I'm still having trouble following your description of what works and what doesn't work, but I suspect this problem has nothing to do with hooks. The following possibilities come to mind:
- _Tiller lacks permission to use these TPRs._
  That doesn't look like the case here, as we're not seeing failures that look to be related to authorization.
- _The TPR's API resource (sort of redundant) is not a

[2017-07-16 05:25] shraderdm commented on #2687
@jayunit100 can you please explain how you got around this issue exactly? by deploying tiller-deploy in a different namespace? I'm using an OpenShift cluster and it deployed tiller-deploy in the kube-system namespace automatically.

[2017-07-17 09:22] andiMenge opened #2693 "integer with leading zero gets truncated"
Hi there,
I use short git commit hashes as docker tags and stumbled across a issue with helm.

[code]

## Issue
helm truncates integers with leading zeros.

## Example

`helm install --namespace tools --set deployment.dockerTag=0474915 helm/elastalert --debug --dry-run`  results in this:

[code]

[code]

The leading zero `0` gets truncated by helm which results in a kubernetes `imagePullError`.

I

[2017-07-17 13:35] zjj2wry commented on #2661
what the issue status? i can not reappear

[2017-07-17 15:36] jayunit100 commented on #2687
@shraderdm http://jayunit100.blogspot.com/2017/07/helm-on.html I wrote up my notes here.  `tiller-namespace=` can switch the namespace for you, but the real trick is that you have to make sure there is a corresponding service account, which grants privileges that helm needs i.e.

[code]

That might be a superset of whats actually needed for helm, but it works, and was shared w/ me by the heptio fo

[2017-07-17 16:48] Mario54 commented on #2661
Hmm you're right, I tried creating a simple chart and can't seem to reproduce.

I'll investigate as to why this was happening on my other chart.

[2017-07-17 17:14] Mario54 commented on #2661
I read the code for `helm dependency update` and the only way I'm thinking this is happening is that somehow Helm cannot find the `requirements.lock`, so it creates a new one. It's clear from the code that if a `requirements.lock` is found, `helm dependency update` never updates any file.

However, I can't confirm that this is the case because even if I add `--debug` the command doesn't log this i

[2017-07-17 19:11] Mario54 commented on #2661
I built Helm and added a log and confirmed my theory.

It was indeed a problem in my setup. The file was getting cleaned by a bad Makefile target. My bad.

So there's no issue with Helm 😄 Sorry for wasting your time!

[2017-07-17 19:11] #2661 closed

[2017-07-17 19:20] kyleschlosser opened #2694 "Proposal: pluggable rulesets for helm lint"
Helm provides a built in linter, accessed through the `helm lint` command, which provides basic validation of the chart contents.

In corporate and departmental scenarios, a team may want to augment the built in linting capabilities with their own linting rules, for example:

service.type=ClusterIP --> Default service type must be ClusterIP if a service is defined
resources != nil --> resources li

[2017-07-17 19:21] kyleschlosser commented on #1495
I opened #2694 as a proposal for this issue. Per the comments above, this issue can close.

[2017-07-17 19:48] RemingtonReackhof opened #2695 "Proposal: Secrets Management"
I would like to expand the current proposal, #2196, for supporting secure secrets in Helm which does not support secret versioning.
# Proposal
We want to move storage of Helm manifests to Secrets from ConfigMaps. This is favorable because of the future updates coming to k8s secrets storage in the near future (1.7). K8s will support secrets encryption at rest, making the usage of Tiller much more s

[2017-07-17 20:54] thomastaylor312 commented on #2694
@kyleschlosser Can you give an example of what this would look like? I think that would help solidify this a bit

[2017-07-17 21:09] kyleschlosser commented on #2694
My organization requires that the values.yml contain specific content. I suspect that not all organizations would want to enforce some of these rules, for example:

- service.type=ClusterIP --> Default service type must be ClusterIP if a service is defined
- resources != nil --> resources limits and requests must be defined for all charts

Since Helm already has a plugin mechanism, perhaps linters

[2017-07-18 09:16] PrioKim opened #2697 "Question: helm init failed."
I tried to install helm with kubeadm. (1-master, 1-slave)

I don't have other problem before  helm init.
Time synchronization is set.

Is it version issue?
My kubeadm, kubelet, kubectl versions are 1.7.0.
Helm version is 2.5.0.

Below is the status before helm init

[code]

Below is the status after helm init

[code]

[2017-07-18 09:36] zjj2wry commented on #2697
tiller-deploy deployment has deployed. can you kubectl describe you pod?

[2017-07-18 12:50] karthik101 commented on #1770
I have this similar issue on my freshly installed k8s and helm, any fixes?

[2017-07-18 13:39] karthik101 commented on #1770
I installed flannel with these commands
# kubectl create -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel-rbac.yml
# kubectl create -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml
Is this correct?

[2017-07-18 13:39] karthik101 commented on #1770
I installed flannel with these commands
kubectl create -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel-rbac.yml
kubectl create -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml

[2017-07-18 14:27] waldauf commented on #1770
@karthik101 Sorry I can't say. I installed Flannel manually.
Do you see Flannel's network interface on the node? Does Docker has IP from Flannel's subspace?

[2017-07-18 14:27] lhopki01 commented on #2680
@seh

Option 1 doesn't apply because it can create TPRs when there is no hook set.

Option 2 won't work because as above when I try and only create a TPR with a pre-install hook it fails.
[code]

I don't even know what option 3 is quite but Tiller Kubernetes client can create TPRs just not when a hook is specified.

[2017-07-18 14:41] bacongobbler commented on #2697
k8s 1.7 support was only recently merged and is slated for 2.6, so I would also try downgrading your cluster.

https://github.com/kubernetes/helm/milestone/42

[2017-07-18 14:56] rajiteh commented on #2560
I ran in to the same issue here as well.
[code]

Only specific step that I did unlike the others here is that I tried to delete my deployment within the minute of running the deploy command.

Here is the exact install command.
[code]
Then I tried to delete it using `helm del consul` which never completed. Had to ^C out of it and retry, which is when I started running in to the issue.

[2017-07-18 15:37] kfox1111 commented on #2560
@rajiteh I have seen that one hang for a while too. Not permanently though. I believe it blocks because one or more containers gets scheduled on nodes but its image isn't there yet, so it starts downloading. k8s blocks the deletion of the resource until the  images are fully downloaded. This can block a deletion for a while and look like a hang.

[2017-07-18 16:07] thehufbro commented on #2596
So, this is a bit hacky, and it wont work for all cases since there are some errors when trying to modify the stateful sets (Mostly with modifying the pod disruption). But you can play with it and see what you come up with.

Deploy your chart with helm, then use helm to get the chart info, which includes that chart manifest.
You can use sed to grab the lines after MANIFEST, and use istio to inject

[2017-07-18 16:56] gtaylor opened #2698 "Add a basic search widget to doc site"
It would be really great to have a basic search widget somewhere in the nav or header for the doc site. It is true that I can go to my search engine of choice and manually form a search query only covering the doc site. However, that's more context switching on top of whatever I'm trying to look up while using helm.

I'll hold on making implementation suggestions, since that's probably not valuabl

[2017-07-18 19:08] jipperinbham commented on #2596
came across https://twitter.com/kelseyhightower/status/887322667837255680 today which looks to be a possible way forward and I _think_ would address this issue

[2017-07-19 02:02] PrioKim commented on #2697
@zjj2wry Thanks for your reply

Here is the describe tiller pod

[code]

[2017-07-19 02:20] PrioKim commented on #2697
@bacongobbler
Thank you for your reply.

Already, I tried to downgrade kube cluster. (kubectl, kubeadm, kubelet 1.6.7)
But, that occur equal problem.

So, would you let me know compatible and stable versions (helm and kubernetes)

Thank you again.

[2017-07-19 04:04] thomastaylor312 commented on #2694
So the proposal is to flag a plugin as containing a linting plugin, and add the logic to helm to handle that properly, correct? Just want to make sure it is as clear as possible 🙂. Then we'll see if anyone has comments and I'll close the original issue

[2017-07-19 11:42] ahawkins commented on #2070
We're hitting this with these versions:

[code]

We've made `kubectl edit` fixes  in our production environment  for:

1. changing `Deployment` replicas
1. changing `Deployment` container image tags
1. changing  container resources/limits

Number 1  & 2 were not reverted by the  next deploy. This is especially concerning with container image tags. Essentially what that boils down to is that if som

[2017-07-19 13:06] jcantosz opened #2699 "feat: install Helm client identical to Tiller version"
I have tiller installed in a cluster and I would like to get the version of tiller, before I install the helm CLI

I can install the helm CLI, see that I have a version mismatch with tiller, and downgrade the cli to match that of tiller's but I would like to be able to find the tiller version and install the correct helm version without going through this process.

Current process requires a numbe

[2017-07-19 14:30] bacongobbler commented on #2699
Tiller communicates via gRPC so there is an endpoint, but it can't be consumed by common tools like `curl`. An easier way would be to just check the deployment object directly and inspect the image tag. That will give you the version of tiller running in your cluster, assuming it's an official helm release.

[2017-07-19 14:45] sstarcher commented on #2298
It would be great if this could make it in.

[2017-07-19 15:22] jcantosz commented on #2699
Thanks for the info @bacongobbler

Using the method you described I am able to get the image tag via:
[code]

With the log method I can get the version via:
[code]

I would prefer not to depend on either of these items being present. For now I will test using the suggested solution

[2017-07-19 16:11] rajiteh commented on #2560
While that makes complete sense (and it was probably my fault for being impatient there), it shouldn't have made tiller go in to a dead lock trying to acquire a lock file after that. I confirmed that all resources created by the chart got deleted, yet tiller refused to `helm del --purge consul` or `helm install ... consul`

This is what I see in tiller logs when the commands hang:
[code]

This is

[2017-07-19 16:21] mlaccetti opened #2700 "Cannot install from our own repo"
I added a new repo:
[code]

I search it and get stuff:
[code]

I try to install a chart:
[code]

And boom thud:
[code]

I tried without hyphes, and still choking.

[2017-07-19 17:59] johnharris85 commented on #2646
Ye nginx was my first thought, although the one in stable is an ingress example and relies on LB / bunch of other stuff etc... All of them seem to depend on volumes or some non-default RBAC setup.

[2017-07-19 18:43] jascott1 commented on #2560
Im convinced the hangs are the result of `mutex locking a map of mutexes` in Store. Its simply not safe for concurrent access as subsequent requests are hitting locks at different times and causing deadlocks. Its something like this but varies:
[code]
On first examination (and due to my initial lack of understanding of sync) it seems it should all shake out so I spent a lot of time trying to fix t

[2017-07-19 20:48] bacongobbler commented on #2699
I noticed no mention of `helm version` in your comment, which will display the client and server version available through the CLI, though that means grabbing the CLI in the first place which I assume is the issue you're trying to solve.

Honestly I don't have any idea how you'd like this to be solved. In any case, if you feel like running raw GRPC you're going to need to communicate with the API,

[2017-07-19 22:48] jascott1 commented on #2560
The approach I described above (removing locks from tiller's storage) seems to be working. Concurrent requests do what is expected to the state of the release system but the failure messages could be better for the subsequent concurrent requests. For example, running two concurrent upgrade commands will yield the successful response for the first and the following for the second:
[code]
The above

[2017-07-19 23:11] jascott1 commented on #2221
Sorry but I incorrectly referenced this issue in a PR that has nothing to do with it. The PR commit message has been amended.

[2017-07-19 23:26] jascott1 commented on #2697
@PrioKim I can't remember the reason but try running `helm init` before adding the slave node.

[2017-07-19 23:31] Draiken opened #2702 "Init containers not updated on upgrade"
Hi there!

I am using `spec.initContainers` on a deployment and during the first upgrade to add the initContainers, everything worked fine.
Second upgrade, I only changed things on the initContainers and the deployment didn't even get upgraded.

I tested changing something else and the deployment got updated but upon inspection, there were two annotations: `pod.alpha.kubernetes.io/init-containers`

[2017-07-19 23:39] jascott1 commented on #2693
@andiMenge Have you tried putting double-quotes around `image:` value?
[code]

[2017-07-19 23:51] jascott1 commented on #2656
@seh Is this really a bug? I think we would really need to reproduce in a bug way to be sure.

[2017-07-19 23:55] seh commented on #2656
I labeled it as such based solely on the description and not on any investigation into the Helm code, figuring that either Helm is misinterpreting the situation or could offer a different, less alarming message. Perhaps that's better termed an "enhancement," depending on how severe you consider @whitecolor's resulting confusion or annoyance to be.

[2017-07-20 09:33] andiMenge commented on #2693
@jascott1 thank you for the reply. double quotes around the `image:` value results in the same behavior: `image: "my-registry/elastalert:474915"`

I also tried this: `image: {{ .Values.global.dockerRegistry }}/{{ .Values.deployment.dockerImage }}:"{{ .Values.deployment.dockerTag }}"` with this result:

`image: registry.ucp.fhm.de/elastalert:"474915"`

[2017-07-20 12:27] jcantosz commented on #2699
If there were a helm init option like `--update-client` which would match the client version with the existing tiller version that would be helpful.
`helm init --client-only --update-client`

### Background
I see that there is an `--upgrade` command in the init for if tiller is already present, and this would presumably solve the version mismatch, however I would like to preserve the tiller versio

[2017-07-20 12:32] whitecolor commented on #2656
It s not severe definitely I can assume what resource it is missing, but I would be more clear if helm could provide full info for the case.

[2017-07-20 13:03] seh commented on #2560
Note that Tiller can use storage drivers other than _ConfigMaps_ to keep its release records, such as writing to object storage, and @tamalsaha has [a branch with a driver that writes to TPR data](https://github.com/appscode/helm/compare/master...appscode:tpr-driver).

[2017-07-20 14:40] kachkaev commented on #2224
I just faced this again after switching from a kubeadm-controlled k8s to a kops one. Running this:

[code]
Then
[code]

The kubeadm-controlled cluster does not return an error, but the kops cluster immediately shows this:

[code]

Can this be something to do with how kops cluster is being setup by default? Both clusters' version is
[code]

[2017-07-20 18:24] jascott1 commented on #2560
@technosophos It would be great if this could make it into the next point release but not sure if we can get others to test this before then.

[2017-07-20 20:42] jascott1 commented on #2700
@mlaccetti I get that error when the repo is no longer being served via `helm serve`. Your local cache still knows what was supposed to be in the repo but it cannot download them.

[2017-07-20 22:14] rbwsam commented on #1565
According to that amazon forum thread encoding the URL works fine. Would it be a terrible idea to encode all URLs used by helm commands?

[2017-07-21 00:18] jascott1 commented on #2693
@andiMenge Sorry I should have realized its getting stripped before it even makes it to the template. My guess is that this is happening during all the values merging where a lot of conversions take place but idk. Im not sure there is a way to force it to consider a number as a string. You could concatenate the whole image name (change the template and combine the `--set` values) but I assume you

[2017-07-21 02:15] zjj2wry commented on #2627
i get same problem in delete my release. i restart my tiller solve it.

my tiller log just return :
[code]
k8s version:
[code]
helm version:
[code]

[2017-07-21 04:05] thomastaylor312 commented on #2687
@jayunit100 Sorry for the delay in getting to this issue. Would you consider your initial proposal still valid after solving the issue? It looks really good and I'd love to keep it open for discussion so we can implement it down the road

[2017-07-21 04:11] thomastaylor312 commented on #2196
@johnw188 Can you take a look at #2695 and see what you think? It is an expanded proposal that builds on this and could encompass both the normal secrets and vault use case

[2017-07-21 04:15] thomastaylor312 commented on #2695
@RemingtonReackhof Thank you for the details on this. One question and a comment. When you said you have begun working on this, did you mean that you began implementing the feature?

Also, I think the best thing would be to combine this with #2196 so we can keep everything organized. Would you have any issue with copying your information here to the original proposal?

[2017-07-21 04:18] thomastaylor312 commented on #2693
@andiMenge So `--set deployment.dockerTag=0474915` should look like `--set deployment.dockerTag="0474915"` for safety because if it is all digits, it will treat it as an `int`. If you wrap the value in quotes when you pass it in, the parser will treat it as a string and you won't lose that digit

[2017-07-21 04:39] jurgenweber commented on #2702
This was posted in #helm-users and I made the comment that I have run into my initContainer details not updating before. I changed my templating to update the initspec and the annotations and it works after that.

[code]

sort of idea, so if you want to update the image, since you have a later version.. change the latest in all 3 places to what you need.

Then it works, I did note you saying you k

[2017-07-21 04:46] #2063 closed

[2017-07-21 04:58] jascott1 commented on #1639
@thomastaylor312 Can we close this since we have relative paths in requirements and #2010 was merged?

[2017-07-21 05:00] thomastaylor312 commented on #1639
@jascott1 Yessir, that sounds like a plan. Thanks for bringing this back up

[2017-07-21 05:30] jascott1 commented on #1886
@thomastaylor312 Close this as obsolete?

[2017-07-21 08:51] andiMenge commented on #2693
@thomastaylor312 unfortunately quoting the `"value"` doesn't stop helm from truncating it. I tried that as well as some other quoting styles.

[2017-07-21 13:05] Draiken commented on #2702
I use a variable `{{ .Values.image.tag }}` matching on the init container and regular containers for the docker image tag. When upgrading, the regular containers get updated and the initContainers do not.

[code]

I will try to replicate the init container on both annotations and the spec to see what happens...

[2017-07-21 13:09] Draiken commented on #2702
Just to clarify what I tried so far:
- Using only alpha init container annotation
- Using only `spec.initContainers`
I have yet to try:
- Use only the beta annotation
- Use both the beta and alpha annotations
- Use both the beta and alpha annotations and the `spec.initContainers`

[2017-07-21 13:20] ThanksForAllTheFish opened #2705 "Question on sharing charts"
I am trying to introduce Helm in our Kubernetes infrastructure: we have several application which all share the same basic structure. They are composed by:
- a `configmap`
- a `deployment` file
- a `service`
- an `ingress`

The `configmap` is a bit tricky to share, but the other files really differ only in the actual values, the structure is the same (in 95% of the application). As a lazy develope

[2017-07-21 13:56] Draiken commented on #2702
I managed to replicate the issue on a new chart:
[code]
Running this will output
[code]
If I run the upgrade on `--dry-run` and `--debug` the init container looks correct, but when actually running the code, the deployment is not even changed.

[2017-07-21 17:16] kfox1111 opened #2706 "expose kubernetes version"
There have been a lot of times now that we've had to use different versions of yaml for different k8s versions. for example, init-containers. I've also seen some templates flat out not work with older k8s versions.

I'd like to see two features added to helm.

1. a minimum k8s version field in Charts. This will give the user warning/block the deployment of a chart that is known to be too new for a

[2017-07-21 17:40] at1012 commented on #1971
@technosophos I guess this issue could be closed.

[2017-07-21 17:52] flynnduism commented on #2698
Good idea @gtaylor, an embedded search would be helpful. I've done this in the past, there's a few different ways to do [client-side searching](https://halfelf.org/2017/hugos-lunr-search/) in a Hugo static site.

Happy to tackle this when I have some cycles.

[2017-07-21 18:14] bacongobbler commented on #2706
Just noting that `.Capabilities.KubeVersion` [exposes Kubernetes version info](https://github.com/kubernetes/apimachinery/blob/master/pkg/version/types.go#L19-L32) to templates, so point 2 has already been solved.

example: https://github.com/kubernetes/helm/blob/f9c9e9d6cb7f16d6708992af00891c43bc42856c/pkg/lint/rules/testdata/albatross/templates/svc.yaml#L11-L12

[2017-07-21 18:47] thomastaylor312 commented on #2693
Dang, well I'll have to dig into the code that parses `--set` and see what we can do

[2017-07-21 18:47] thomastaylor312 commented on #1886
Yep. Closing this as it has seen no activity in over 30 days. If this is still an issue, feel free to let us know here

[2017-07-21 19:07] jascott1 commented on #2706
It seems if the KubeVersion is already available to Helm then it would be a simple check to handle number 1 on the client.

[2017-07-21 19:57] kfox1111 commented on #2706
@bacongobbler oh, cool. didn't know about that one. Thanks. :)

[2017-07-21 20:47] binoculars commented on #1754
I found a workaround with bash (v4 required):

[code]

E.g. if you have test1.txt, test2.txt in /path/to/files/, the user-supplied values will become:
[code]

Happy Helming!

[2017-07-21 22:05] jascott1 commented on #2706
So a field in chart.yaml that takes a semver compatible value?

[2017-07-21 22:10] kfox1111 commented on #2706
yeah. and bails if k8s is older then it.

[2017-07-21 22:14] jascott1 commented on #2706
Also we can go full on semver range so chart can be deprecated and still work for older clusters and safely refuse to work for newer clusters if they are known to be incompatible.

[2017-07-21 22:30] kfox1111 commented on #2706
even better. :)

[2017-07-21 23:17] thomastaylor312 commented on #2705
@ThanksForAllTheFish So there is a common chart out there that uses a templates that you can just drop in. Check it out [here](https://github.com/technosophos/common-chart)

[2017-07-21 23:44] jascott1 opened #2708 "proposal: Allow charts to specify k8s compatibility in semver field"
## Problem

Charts do not currently specify which versions of Kubernetes they are compatible with. Providing this mechanism could save time otherwise spent in troubleshooting incompatibilities.

## Solution

Add an optional field `k8sVersion` to `Chart.yaml` that allows the chart developer to specify a semver compliant version. Check the chart's semver value against the k8s version at install and

[2017-07-21 23:48] bacongobbler commented on #2706
we should close this in favour of #2708 as that better describes the proposal in this ticket. Thanks @jascott1 for summarizing!

[2017-07-22 20:31] mlaccetti commented on #2700
@jascott1 Strange - I chained all of those operations together (add repo, search, attempt install), and validated that I could browse the YAML.  I'll try again when I'm back in the office on Tuesday - I ended up using a URL to the chart, rather than using it via the repo, but that isn't a long term solution.

[2017-07-22 23:19] rbuck commented on #2036
Ditto here too, this gap makes the tool pretty much useless for us.

[2017-07-23 12:45] luxas opened #2709 "Helm should support reading the values file from STDIN"
I'd very much like to do
[code]

I guess that would be pretty straightforward to implement
Just like `kubectl apply -f`

Now, with v2.5, I got:
[code]
when running such a command

[2017-07-24 09:26] thxCode opened #2710 "Warning in Helm delete StatefulSet with "post-install, post-delete" Hooks"
I use Helm to template two StatefulSet for [RabbitMQ](http://www.rabbitmq.com/). One called **backend**, work to save data on disk, and provide management dashboard. The other called **frontend**, work on Memory for client connect. In order to build up [HA for RabbitMQ](http://www.rabbitmq.com/ha.html), I want to start **backend** first, then start **frontend**. After start **frontend** successful

[2017-07-24 10:31] nebril commented on #2560
Hey, sorry for interjecting here, but I created smaller PR that seems to fix the issue, while retaining locking feature: https://github.com/kubernetes/helm/pull/2712

[2017-07-24 12:51] yonnitempo commented on #2627
Hello,

I have a similar issue.

[code]

Tiller logs on hanging upgrade:
[code]

I still cannot identify why this happens, but I was trying to upgrade the same chart on two different GKE
Clusters:
[code]
Note: `--wait --timeout` no longer works.

How can I get out of this state? Can I manually unlock a release?

[2017-07-24 13:32] miadabrin commented on #2702
Same here. Init containers are not changed on `kubectl apply -f` to the same resource file

[2017-07-24 15:05] nebril opened #2713 "RemoteReleaseModule panics"
When run in experimental mode, tiller panics when the connection cannot be established to rudder grpc endpoint.

There is a problem with handling nils returned from "k8s.io/helm/pkg/rudder" in place of Response object pointer. These errors result in dereferencing nil pointer and panic.

Example culprit is here: https://github.com/kubernetes/helm/blob/master/pkg/tiller/release_modules.go#L135

Nil

[2017-07-24 15:05] nebril commented on #2713
Please asign this issue to me, I will provide a fix as this is blocking my other work.

[2017-07-24 18:06] shraderdm commented on #2687
@jayunit100 nice blog post! I had solved it similarly, but there were a few other issues I had to solve in OpenShift as well. It basically came down to the same issue though, rbac blocking my access, and needing to add cluster-admin to the service account that deploys the tiller. I also deployed it in a different namespace and had to remove some nodeselectors, etc. (although I was already past tha

[2017-07-24 18:27] sstarcher commented on #1996
This should be updated to be a bug.  When this issue happens the user gets a bad error message and the chart installs get orphaned.  If possible it would also be great to catch this prior to any kubernetes objects being installed or even by helm lint.

[code]

[2017-07-24 18:36] #2663 closed

[2017-07-24 21:05] RemingtonReackhof commented on #2695
@thomastaylor312 Yes I have been working on this for the past few days and am in the process of making a pull request with my changes hopefully later today. I will copy over this proposal to the other issue, thanks!

[2017-07-24 21:14] RemingtonReackhof commented on #2196
I would like to expand this proposal by adding for supporting for secret versioning. (This is copied from a separate issue for organization)

We want to move storage of Helm manifests to Secrets from ConfigMaps. This is favorable because of the future updates coming to k8s secrets storage in the near future (1.7). K8s will support secrets encryption at rest, making the usage of Tiller much more se

[2017-07-24 21:58] #2560 closed

[2017-07-24 22:14] jayunit100 commented on #2687
Yeah definetely I hope so to.  I'm happy to help implement as well ; might need some pointers on how to get ramped up on helm dev/testing . I'll check the docs first

[2017-07-25 02:05] thomastaylor312 commented on #2687
Sounds good @jayunit100. Let us know if you need any help.

[2017-07-25 02:07] thomastaylor312 commented on #2695
Ok, thank you for doing that! I'll close this and retag the other issue

[2017-07-25 02:07] #2695 closed

[2017-07-25 02:08] thomastaylor312 commented on #2196
Tagged this as a feature since discussion seemed to be concluded and @RemingtonReackhof has some code in the works

[2017-07-25 02:10] thomastaylor312 commented on #2627
We just merged in a fix for #2560, can anyone having this issue see if the latest master fixes the issue?

[2017-07-25 02:23] thomastaylor312 commented on #2709
I can see how this could be very helpful, especially in scripting.

[2017-07-25 02:28] thomastaylor312 commented on #2710
This looks like a naming collision, but this is a really use case. So if I understand correctly, are you spinning up each part of the stateful sets you need using the hook logic? If that is the case, there is an open proposal for and idea called "Stages" (#2243)  that may be helpful for bootstrapping stateful sets

[2017-07-25 02:29] thomastaylor312 commented on #2713
Ok, will do. Thank you for finding this @nebril

[2017-07-25 02:30] thomastaylor312 commented on #2713
Also, I'll add this into 2.6 for now. If you think it will need to be pushed out, please let me know

[2017-07-25 04:03] bacongobbler commented on #2627
Given that this appears to be the same area (release locks) I'm inclined to think this is a duplicate of #2560 and has indeed been fixed on master by my testing.

[2017-07-25 06:53] zhangyanfa opened #2716 "Setting up the Helm CLI error"
error message as below
=================================
root@icp-master1:~# helm version
Client: &version.Version{SemVer:"v2.4.1", GitCommit:"46d9ea82e2c925186e1fc620a8320ce1314cbb02", GitTreeState:"clean"}
E0725 14:48:20.276390   19282 portforward.go:332] an error occurred forwarding 43642 -> 44134: error forwarding port 44134 to pod a9119ef49d0dfd04df2e660fff99414bddbbcea4c1900b7f083099166f3758

[2017-07-25 07:53] erikbgithub commented on #551
@jason-riddle You may have already learned this, but the better way to debug with curl is using `-vvvv` to see what happens in the http communication.

[2017-07-25 10:31] aknrdureegaesr opened #2717 "helm dependencies update --verify should fail when verification fails."
## Szenario:

* My Helm chart `highlevel` is using another Helm chart  `lowlevel-x.y.z` as a dependency.
* I'm under attack by a man in the middle. That person intends and is somehow able to insert a manipulated version of `lowlevel-x.y.z`.
* I'm prudently using `--verify`.
* For the purpose of this ticket, let's assume the man in the middle does not own a GPG key that I trust.

So this issue is a

[2017-07-25 10:39] hariharen opened #2718 "Helm upgrade --install is not working in v2.5.0"
Hi,

I am using helm package helm-v2.5.0-linux-amd64.tar.gz, post to the upgrade my helm upgrade --install command is not working.

**Version Check:**
Client: &version.Version{SemVer:"v2.5.0", GitCommit:"012cb0ac1a1b2f888144ef5a67b8dab6c2d45be6", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.5.0", GitCommit:"012cb0ac1a1b2f888144ef5a67b8dab6c2d45be6", GitTreeState:"clean"}

**My command

[2017-07-25 14:44] svanellewee commented on #2341
@redbaron I'm interested in this issue. Any luck with your PR?

[2017-07-25 16:15] redbaron commented on #2341
@svanellewee , whole storage model is based around massive manifest rendered as string rather than rich types per resource. Concepts are modeled in such a way that adding per-resource tracking felt like a ground up rewrite of tiller backend. In other words I gave up :)

[2017-07-25 19:39] dustinmm80 commented on #2196
@RemingtonReackhof's workflow looks great to me, and that pattern may work well with security tools like [Summon](https://github.com/conjurinc/summon).

That said, are Secrets or ConfigMaps the best place for storing potentially sensitive charts?

Ideally this solution would support both string (API keys, etc) and file (SSL certs, etc) secrets. Given that the current implementation of K8S Secrets

[2017-07-25 19:39] dustinmm80 commented on #2196
@RemingtonReackhof's workflow looks great to me, and that pattern may work well with security tools like Summon.

That said, are Secrets or ConfigMaps the best place for storing potentially sensitive charts?

Ideally this solution would support both string (API keys, etc) and file (SSL certs, etc) secrets. Given that the current implementation of K8S Secrets has several outstanding issues - unencr

[2017-07-25 19:52] julianvmodesto opened #2722 "Proposal: Tiller-less Helm"
I'd like to contribute to a proposal for Tiller-less Helm, so that users could use `helm` to generate plain Kubernetes YAML manifest files without having to `helm install` nor `helm upgrade`, so users can instead apply manifests manually as they wish with `kubectl`.

The Helm server and client components are already separated, so users could choose to not install Tiller to forgo using the deployme

[2017-07-25 20:08] sstarcher commented on #1186
I have been using the following to handle @sander-su use case of dropping the Release name when it matches the chart.

[code]

[2017-07-25 20:17] bacongobbler commented on #2722
One plugin that has been spun out of Helm to solve this exact use case would be [helm-template](https://github.com/technosophos/helm-template). It generates the manifests by running the template engine client-side (with a few limitations). Does that partially help solve your use case? Perhaps you could run with that plugin and create a separate plugin to perform these operations client-side for yo

[2017-07-25 20:19] bacongobbler commented on #2722
IMO I don't think there's any active proposal to do these operations on the client side, however. Way back when (helm v1) it was client-side only and there were many limitations with that design decision, which eventually sparked the Helm v2 effort to move a lot of the reconciliation and templating logic over to the server.

[2017-07-25 20:23] sstarcher opened #2723 "Template generation oddity"
Warning this issue is odd.
1. A chart is installed from a helm repo at a specific version
2. Chart is upgraded with `helm upgrade --version` using the exact same version
3. This is done 100+ times over a week

I have the following deployment snippet
[code]

The following helper
[code]

Which 99.9% of the time if .Chart.Name is equal to .Release.Name the resulting value is `.Chart.Name`.

The resul

[2017-07-25 21:35] jascott1 commented on #2620
@polasekr Can you please post your storm-prd and storm-dev values.yaml files? Those warnings suggest you don't have the requisite fields in your values files for importing.

[2017-07-25 23:28] technosophos commented on #2723
The only obvious way I could see this happening is if `nameOverride` is set to the same value as .Release.Name, but .Chart.Name was a different value. Then the conditional would pass, but the output would look like a repeat

[2017-07-25 23:59] sstarcher commented on #2723
Both times this has occurred a `helm upgrade NAME chart/NAME` has fixed the issue and reverted the value back to it's previous entry.  If a rouge `nameOverride` happened the issue would of persisted.

[2017-07-26 00:03] sstarcher commented on #2723
I'll try running a loop to see if I can reproduce it.  If I can't I'll just assume it's a bad issue until it happens again.

[2017-07-26 04:26] thomastaylor312 commented on #2196
@dustinmm80 I think we all agree that secrets aren't perfect, however, encrypted secrets have been enabled as alpha in k8s 1.7 and so it is a good starting point that can be expanded later into using something like Vault.

[2017-07-26 04:30] thomastaylor312 commented on #2627
Ok, I am good with that. Closing this issue as resolved. If there are still problems, please let us know

[2017-07-26 04:30] #2627 closed

[2017-07-26 04:39] thomastaylor312 commented on #2716
@zhangyanfa Could you give a little bit more information about where you are running this from? Also, are you able to use `kubectl` to get information about the cluster?

[2017-07-26 04:45] thomastaylor312 commented on #2718
It looks like you don't have the proper RBAC roles assigned to the default service account in the tiller namespace. Could you try adding those and see what happens?

[2017-07-26 04:46] thomastaylor312 commented on #2722
Tagging as a question until decided if this should be fleshed out more

[2017-07-26 08:58] BugRoger commented on #2722
I'm interested in this as well.

Looking at the Helm workflow from a user's perspective, I feel it is way too complicated for most use cases. Recently my experience went like this:

1. Want to install a Chart (e.g. Prometheus). Yay, there is an official stable chart! 😄
2. 🤔  Do I need to bother with versions? Stable sounds good enough.
3. Clone the charts repo
4. Ugh. Geez, the chart is doing lots

[2017-07-26 09:01] zhangyanfa commented on #2716
@thomastaylor312  many thanks!

kubernetes cluster info:
================================================
root@icp-boot:~# kubectl cluster-info
Kubernetes master is running at https://172.20.5.178:8001
Heapster is running at https://172.20.5.178:8001/api/v1/proxy/namespaces/kube-system/services/heapster
image-manager is running at https://172.20.5.178:8001/api/v1/proxy/namespaces/kube-system/servi

[2017-07-26 11:21] jhqs opened #2726 "helm upgrade install in wrong namespace"
Hi,

I'm trying to install grafana on a namespace named monitoring but it goes in an other namespace named middlewares.
I don't understand why.

Can you help me ?

Regards,

**Version Check:**
[code]

**Output Command:**
[code]

[2017-07-26 12:30] bacongobbler commented on #2726
Once a chart is installed, the namespace cannot be changed IIRC. Did the `grafana` release name already exist? Can you do a `helm list`?

[2017-07-26 12:47] jhqs commented on #2726
Hi,

I deleted this one

[code]

[2017-07-26 12:52] zjj2wry commented on #2726
@jhqs  ```helm delete --purge```

[2017-07-26 13:00] jhqs commented on #2726
great, thank you @zjj2wry

[2017-07-26 13:00] #2726 closed

[2017-07-26 13:09] svelleweetakealot commented on #2595
having some trouble here again. seems adding this in minkube to the docker deamon helps:

Add this to
[code]
Am I the only one who's seeing this again?

[2017-07-26 13:29] djkutiger opened #2728 "Is a version of the kubernetes a dependency?"
Does Helm check for the kubernetes's version and/or set of features different versions of the kubernetes provide?

[2017-07-26 14:47] dustinmm80 commented on #2196
That sounds great, thanks a bunch @thomastaylor312! Appreciate all the hard work put into this project :)

[2017-07-26 15:59] fernandofederico1984 commented on #1401
any update on this issue?

[2017-07-26 16:08] bacongobbler commented on #1401
@fernandofederico1984 feel free to take it on if you're up for it!

@AmandaCameron I notice that you were working on this a bit. What is the status of that effort? Are you working on other projects or were there certain gotchas you found with the proposal?

[2017-07-26 16:42] technosophos commented on #2717
I agree -- the expected outcome is that helm should fail with a verification error, not ignore the failed verification.

[2017-07-26 20:19] Draiken commented on #2702
This is probably related to kubernetes/kubernetes#47264
I'll try changing the beta annotation. Hopefully it'll work

[2017-07-26 21:50] TiMBuS commented on #2693
Hello, just got bitten by this as well. If you quote the value in bash it will still be truncated because bash eats the quotes.
However if you double quote it like so: `--set imageTag='"00123"'` you now get a string... containing the quotes -_-
[code]
Kinda painful.

[2017-07-27 02:06] thomastaylor312 commented on #2716
Do you have any networking or firewall setup that would be preventing the port forwarder from picking a random higher number port?

[2017-07-27 02:09] thomastaylor312 commented on #2728
I think you might be looking for the `Capabilities` object that is exposed by default. Can you take a look at the [docs](https://docs.helm.sh/chart_template_guide/#built-in-objects) and see if that gets you what you are looking for?

[2017-07-27 02:39] thomastaylor312 opened #2730 "Proposal: helm commandeer"
## Problem
Many users want to be able to "adopt" currently running pods, services, etc. into a new or existing chart. One example of this is self-hosted Kubernetes control plane components (apiserver, DNS, etc.) after they have been bootstrapped by something like bootkube.

## Proposed solution
I propose we add a new `commandeer` (to stick with a naval theme, we can go with `adopt` if people find

[2017-07-27 06:55] azazi-sa opened #2731 "requirements.lock does not get updated on helm dep up"
if there is no change in `requirements.yaml` file but SemVar results into different lock file, `helm dep up` does not replace and existing `requirements.lock` because `requirements.yaml` digest has not changed.

How to reproduce:

We have the following `requirements.yaml` file for a chart `parent1`.

[code]

When we run dep up for the first time it generates following lock file (assuming that we h

[2017-07-27 07:25] hobti01 commented on #2658
Why is this reported as an `ERROR` if it does not impact functionality?  The exit code is still `0` even though this output occurs on stderr - which is not intuitive.
[code]

[2017-07-27 10:06] nebril commented on #2730
How will `commandeer` know which resources it would group? E.g. I have wordpress deployed, in the way the chart would deploy it - mariadb and wordpress deployments with some pvcs. I also have other mariadb deployments in a cluster. How will `commandeer` know which mariadb to put in a release?

[2017-07-27 12:15] djkutiger commented on #2728
I missed that. Exactly what I need. Thank you.

[2017-07-27 12:15] #2728 closed

[2017-07-27 12:46] seh commented on #2730
When you say "exactly match a resource," we need to be careful to distinguish between facets not specified in the chart, and those the chart mandates _not_ be present. For example, most manifests won't specify any "status"-related details, nor various annotations contributed by system facilities. I assume that you want to match the following on most objects:
- Metadata
  - namespace
  - name
  - l

[2017-07-27 14:07] hoesler opened #2732 "helm does not install dependencies if version is not explicit"
I am using helm version "2.5.0".

To demonstrate this issue, I created a new chart from scratch with `helm create foo`, removed all templates and values and added mariadb to `requirements.yaml` with version "*" (also tried it with "~0.6" and ">=0.6.0"):

[code]

Afterwards I ran `helm dep up foo` which correctly fetched `mariadb:0.6.3` into the charts folder.

Now, if I run `helm install --dry-run

[2017-07-27 15:09] technosophos commented on #2730
First off, I think this is a great feature, and I personally love the name "commandeer" (though maybe "adopt" is a little more consistent and easier for people like me to spell).

I am duty bound to ask the question I am notorious for: _Should this be a plugin?_ 😄

Okay, with that out of the way....

Here's a different way we _could_ approach the same issue. What if we generated the chart from the

[2017-07-27 15:13] technosophos commented on #1879
Marking this as fixed since 2.6.0 has the right version of Kubernetes now

[2017-07-27 15:13] #1879 closed

[2017-07-27 15:14] technosophos commented on #2298
Unfortunately, work seems to have stalled out on this. We'll give it a week or so, but then I'll have to bump this to 2.7

[2017-07-27 15:22] #2713 closed

[2017-07-27 15:35] AmandaCameron commented on #1401
@bacongobbler I'm pretty sure the code I have in the PR is working and usable going from my memory. I feel like I'm failing to communicate something somewhere though, or misunderstanding something that's being communicated to me, in the area of the PR, so I'm not sure what to do about it. I don't deal well with vocal communication, and the PR's gone silent since I tried to explain some stuff aroun

[2017-07-27 16:06] thomastaylor312 commented on #2730
@technosophos That was actually the other way I was thinking of doing it but I didn't write it all out. I should of, because now that I have seen it written out, it makes it seem like a better idea. I think it would be more simple to implement and less cognitive burden on the user.

I did think about the plugin way of going about this, but I have heard lots of different people mentioned this from

[2017-07-27 18:38] sstarcher commented on #2347
Lint should ignored `required` failures.

[2017-07-27 19:14] johnw188 commented on #2298
Hey there, this issue has kind of been my bane. I'm going to take another crack at it this weekend to try to make 2.6.

Basically the streaming of logs is working great, clients can subscribe to logs and they get sent through via tiller. The problem is what I thought would be the easy part - accessing the pod logs from tiller so they can be streamed back.

[2017-07-27 20:14] groundnuty opened #2734 "Proposal: Allow for custom metadata to be added to deployed helm release"
This is a feature proposal.

### Setup description:
A bare-metal k8s cluster shared by a group of developers used mainly for CI/CD workflow. Each developer has very (too) broad access rights (basically everyone is an admin).

We all share a single tiller instance. The deployments are done either by hand (`helm install`), or by our CI system which internally uses also `helm install`.

For the sake

[2017-07-27 21:10] made2591 commented on #1915
@bnookala I think that uitable.MaxColWidth property of github.com/gosuri/uitable instances should setup only once a single point (or for each specific scenario but in a single place)...

[2017-07-27 22:45] ant31 commented on #1896
@alonl have you took a look at the app-registry and the helm plugin ?
Seems to solve that issue and users are using it mainly for CI/CD as described,
[code]

https://github.com/app-registry/appr-helm-plugin

[2017-07-27 23:41] #1965 closed

[2017-07-28 00:16] rbwsam commented on #2167
Looking at [the code](https://github.com/kubernetes/helm/blob/master/cmd/helm/dependency.go#L156) it appears that it only checks the `charts` subdirectory of the chart in question and disregards the `repository` entirely when searching for the dependency.

If we change the code to include the relative path of the given `repository` we will be searching multiple paths and will need to decide on a s

[2017-07-28 01:02] jschrantz commented on #2447
@technosophos any thoughts on @jzelinskie's comment?

Is the pluggable downloader functionality added in #2094 only intended to enable communication with standard helm index.yaml repositories over alternate protocols or should we be able to use alternate repositories like @ant31 is trying to do with appr ([app-registry/helm-plugin#3](https://github.com/app-registry/appr-helm-plugin/issues/3))

If

[2017-07-28 01:13] sstarcher commented on #2723
So I ran the following loop which was able to reproduce the issue.  Now I'm going to try and reproduce it with a very simple chart that is just a service and a _helper.tpl file.  Since it was reproduce in a loop on a cluster no one was using I'm fairly confident this is some type of bug.

[code]

[2017-07-28 09:09] roshan-mr opened #2735 "Helm upgrade not working as expected"
`Hi,`

I am trying to upgrade one of my packages. But the changes which I  have made in the "deployment.yaml" template in the chart is not there after the upgrade. I added the following lines in the spec of my kubernetes deployment.yaml file
[code]
I tried upgrading using the following command

**helm upgrade ironic-molly spring-app-0.1.2.tgz --recreate-pods**

Where "**ironic-molly**" is the rele

[2017-07-28 13:55] kujenga opened #2736 "Environment variable ordering not properly updated"
I recently updated a helm chart to use an environment variable derived from other environment variables [1]. The helm chart talks to an external RabbitMQ instance, and the latest version has the following block in the environment variables:

[code]

The previous configuration had just the `RABBITMQ_PASSWORD` defined in the environment variables, and what is now the `AMQP_URL` was defined in a cust

[2017-07-28 15:27] sstarcher commented on #2730
For my use case either of the 2 options would work as long as with the second option I don't have to use the chart generated.  I'm mainly interested in bootstrapping kubernetes with something like https://github.com/kubernetes-incubator/bootkube for a self-hosted cluster, but being able to upgrade the manifests with a `helm upgrade`

So in my case I would have a handful of manifests that are writt

[2017-07-28 17:40] jascott1 commented on #2730
There might be some learnings to be taken from here
https://github.com/appscode/chartify

[2017-07-28 18:55] apeschel opened #2737 "Automatic Tunnel not Working for "helm get [command]" subcommands"
Attempting to run the `helm get [command]` subcommands fails. Debugging does not show the tunnel being created, and no corresponding request shows up in the tiller log.

[code]

Running other commands works fine; the debugging show the tunnel being created and the requests show up in the tiller log:

[code]

[code]

If we manually create the tunnel

[code]

Then the `helm get [command]` subcommand

[2017-07-28 18:55] shyiko commented on #2722
@bacongobbler any chance you can share some details on what where the limitations that motivated the switch from client-side (helm classic) approach to helm v2 (maybe you have some records / links to the discussions / anything)? I'd really appreciate any information on the subject.

[2017-07-28 19:00] apeschel commented on #2737
Confirmed fixed in v2.5.1

[2017-07-28 19:00] #2737 closed

[2017-07-28 19:04] sbezverk opened #2739 "helm install --set fails with 2.5.1 but working fine with 2.4.2"
Right after switching to 2.5.1 this command started failing:
* 2.5.1
[code]
* 2.4.2
[code]

[2017-07-28 23:05] jascott1 commented on #2739
@sbeverk Was this something in the template or do you still believe this to be a Helm version dependent problem?

[2017-07-28 23:34] jascott1 commented on #2734
Hi @groundnuty would you please prepend "proposal:" to the title of this issue?

[2017-07-29 05:19] Disturbing opened #2741 "Possible to set values from requirements.yaml to dependencies?"
I'm wondering if I can set the configuration values via pointing to file or --set functionality in the requirements .yaml.

I could not find any documentation for it.

[2017-07-29 12:18] TerraTech commented on #2568
It would be nice if there was a switch like '-N' to disable the auto-generated names as we tightly control the naming of the releases based on our own charts.  Tonight, I went to install 'grafana' into the monitoring namespace and it ended up being deployed as 'grafana-grafana', where we just want the release and name to both simply be 'grafana'.  There will only ever be one instance in this names

[2017-07-29 19:31] whereisaaron commented on #2426
Hi @thomastaylor312 just upgraded to helm 2.5.1 for a k8s 1.5 cluster and can confirm this problem still exists. A `helm upgrade --install` will wait long after all the resources are ready and until the timeout is reached, then report the deployment as failed, even though the deployment was successful.

[code]

helm 2.3 was the last version of `helm` where `--wait` worked for k8s 1.5 clusters. I t

[2017-07-29 19:52] DrewEaster commented on #1580
Hey @technosophos - was just wondering if you'd had a chance to give some more thought to your initially preferred plan, or something along the lines of schematized values.yaml files. I think this would be a great feature.

The required template function is a great start, but it does have some shortcomings, e.g. where I'm referencing a Value in multiple places. Doesn't feel very DRY to repeat the

[2017-07-30 15:50] kfox1111 opened #2742 "refetch notes"
Notes for the chart often contains useful information that you may need to revisit. Unless the user knows to save the note output, it can be lost currently.

There should be a command such as:
helm notes <release name>

That will redisplay the notes for a given release.

[2017-07-30 15:51] kfox1111 commented on #2742
@jascott1 Wish list item.

[2017-07-30 15:54] kfox1111 opened #2743 "Fetch readme"
Currently, the only way to look at the README file distributed with a chart is to look at it in git, or extract it out of the package tarball.

There needs to be a command like:
helm readme <chart>

which will fetch the package from the remote repo if its not already there, extract the readme, and cat it out to stdout.

[2017-07-30 15:54] kfox1111 commented on #2743
@jascott1 Wish list item

[2017-07-30 16:15] kfox1111 opened #2744 "Fetch values.yaml"
Values.yaml provides a good mechanism for users to customize the release. Unfortunately,
unless the user is git cloning the chart repo and digging out the values, or crawling for it online,there is no easy way to get to it. Once fetched, you also must comment all the values if you want to continue to use the defaults in the chart and get updated values when the chart is updated.

There should be a

[2017-07-30 16:15] kfox1111 commented on #2744
@jascott1 Wish list item.

[2017-07-30 19:39] fetmar opened #2745 "When deleting, helm can say non-existent resources are kept"
[code]

If an installation were aborted, or a problem occurred and my-secret-user was not actually created, this warning would be inaccurate.

[2017-07-31 00:59] hiscal2015 commented on #2618
Thanks.

[2017-07-31 00:59] #2618 closed

[2017-07-31 02:14] escardin opened #2746 "import-values expects a table and not an individual value"
Or alternately, you can't import all the values of a child chart.

Example (altered from docs)
[code]
What actually happens is you get errors.

[2017-07-31 12:21] alonl commented on #1873
We encounter a similar issue as well. We deploy an umbrella chart using `helm upgrade`. I run the command with `--debug` so I see the correct updated yaml of the charts being printed, but the `Deployment` (not the `ReplicaSet`) isn't updated. In Tiller logs, it seems like that it doesn't even recognize the changes: ```2017/07/31 11:50:51 Looks like there are no changes for Deployment ...```

[2017-07-31 14:36] jzelinskie commented on #2447
IIRC, our current workaround is basically having our own requirements section in the YAML that gets rewritten into the normal requirements after we've pulled them down into the local directory. It's not great and is super confusing UX.

[2017-07-31 17:21] jascott1 commented on #2739
@sbezverk 2.4.2 does not work with list value indexes that you are setting with `--set`. In my test 2.4.2 does not throw error on that chart but does not correctly create the list and instead shows items with literal '[0]' and '[1]'
[code]