[2017-11-05 22:23] #2066 closed

[2017-11-06 07:50] sbuliarca commented on #2828
@bacongobbler I managed to test it, and it works as expected

[2017-11-06 08:52] zzq392342084 opened #3104 "error upgrading connection: unable to upgrade connection: Forbidden (user=system:anonymous"
when I run "helm install fabric8/fabric8-platform  ",it outputs:
Error: forwarding ports: error upgrading connection: unable to upgrade connection: Forbidden (user=system:anonymous, verb=create, resource=nodes, subresource=proxy)

I have bind the role as below,but it does not work:
_kubectl create serviceaccount --namespace kube-system tiller
kubectl create clusterrolebinding tiller-cluster-rule -

[2017-11-06 14:44] dominik-bln commented on #1556
For anyone else coming up on this issue, there is a workaround by escaping the commas with a backslash:

https://github.com/kubernetes/helm/blob/master/docs/using_helm.md#the-format-and-limitations-of---set

Just as a side note, we still believe that this a very unintuitive behaviour that needs a fix. Our use case right now was LDAP credentials, which naturally contain commas, but it also seems ve

[2017-11-06 17:31] joejulian commented on #2447
Has there been any more discussion of this? Having to do the workaround is just annoying. If helm is going to allow plugins, imho all the verbs should hook those plugins.

[2017-11-06 21:30] mmerrill3 opened #3105 "Helm upgrade will succeed when the previous upgrade is in a failed state"
Helm upgrade will succeed when the previous upgrade is in a failed state

If a helm package is in a failed state, rerunning the upgrade will succeed.  This is because the check against the previous resource in the history will yield no difference, and changes are not applied.

The checker should check against the last known successful version of the helm chart.

[2017-11-06 21:33] jascott1 commented on #3105
@mmerrill3 It appears this is fixed in https://github.com/kubernetes/helm/pull/3097
Please let me know if you have concerns otherwise I will close this. Thanks.

[2017-11-06 21:35] mmerrill3 commented on #3105
This is easily simulated by changing a network policy in your helm chart.  kubernetes version 1.7.9 will not allow updates to network policies (fixed in version 1.7.10).  Upgrading will result in a failed upgrade.  If you run the the same command, it will succeed, which is bas since the failed resources in the previous run don't get applied.

[2017-11-06 21:42] mmerrill3 commented on #3105
Thanks @jascott1 , that is our issue.  We'll install 2.7.1 for the fix when it is available.

[2017-11-06 21:42] #3105 closed

[2017-11-06 22:57] julianxhokaxhiu commented on #3098
I agree on this. I am currently doing my first round on K8S 1.6 and I'm confused as well. I also think it should be `true` as using `kubeadm init` we get RBAC by default.

Isn't this the case? Please correct me if I am wrong.

[2017-11-07 05:34] singhwx opened #3106 "How do you get the chart's repostory to use variables？"
I want to get the chart's repository in the template or chart's metadata.It's best to be in the chart's metadata.How to implement it,please?

[2017-11-07 07:02] bacongobbler commented on #3106
Hey! Would you mind if I ask what use case you are trying to solve with this? Is the repository URL necessary for displaying in the application, or is this for users of the chart to submit bugs/see the source code, as done in #3056?

[2017-11-07 09:05] SchindlerWang commented on #3106
I'm using HAPI, and I want to update the specified release, so I need to know which repo belongs to this release. I can't implement this now.

[2017-11-07 10:50] valer-cara commented on #1873
Encountered similar situation on 2.6.1: Changing args in a deployment were not reflected in the cluster.

I've also tried deleting the deployment and doing a `helm upgrade`. Tiller logs "Created new deployment", however this one has the old args as well (which is the most confusing part of this).

[2017-11-07 11:08] nohkwangsun opened #3107 "Documents correction"
While I read documents of the Helm, I was confused at "https://docs.helm.sh/using_helm/#using-override"

The below example  is right? I think the "--set" needs to be changed with "--override".

`helm init --set metadata.annotations."deployment\.kubernetes\.io/revision"="1"`

[2017-11-07 11:29] whitecolor commented on #1873
@technosophos
I believe helm team should investigate carefully code that effects updating of the argument list at least.

[2017-11-07 12:04] valer-cara commented on #1873
I've manged to solve the problem with `helm --reset-values foobar ./foobar`.

Perhaps the issue happened because in the past I ran it with `helm upgrade foobar -f ./foobar/values.yaml ./foobar`? I see that `--reuse-values` is false by default so I expect that not to be the case.

[2017-11-07 13:26] xforze commented on #1873
@thomastaylor312

I attached the chart files which we use. The Problem changed meanwhile :-)
If we try to deploy a newer version of our application, a new Replicaset will be installed instead of updating the existing one (every time I do an upgrade a new rs appears).

Im always using this command line for installation and upgrade
`/usr/local/bin/helm upgrade --install --wait --debug --kube-context

[2017-11-07 13:31] balboah opened #3108 "Proposal: Make it easier to use tags for selecting charts to run"
I'm using Helm mainly as a way to structure my own templates with values before hitting k8s, not to use shared charts from 3rd party repositories.
Having all my charts as sub-charts in one big umbrella chart works really well, until you want to select which of these charts to run in slightly different cluster environments.

I figured that tags and `file://` location for requirements is what I want

[2017-11-07 14:50] #2437 closed

[2017-11-07 15:08] bacongobbler commented on #2832
fixed via #3097

[2017-11-07 15:08] #2832 closed

[2017-11-07 15:08] bacongobbler commented on #3068
fixed via #3097

[2017-11-07 15:08] #3068 closed

[2017-11-07 15:09] bacongobbler commented on #2341
fixed via #3097

[2017-11-07 15:09] #2341 closed

[2017-11-07 15:10] bacongobbler commented on #2346
this *should* be fixed via #3097, but please let me know if it isn't.

[2017-11-07 15:10] #2346 closed

[2017-11-07 15:36] rcorre opened #3109 "Document Values vs Raw better"
I'm using helm as a library, and trying to get structured data out of the helm interface.
In particular, I want the default and overridden values. I expected that I could call `GetReleaseContent` and use:

[code]

However, `rel.GetChart().Values.Values` and `rel.GetConfig().Values` are nil. It looks like only the `Raw` values are populated. Why? The function/type docstrings don't mention anything

[2017-11-07 16:55] unguiculus commented on #3099
Generally we discourage the use of the `default` function in favor of defaults in `values.yaml`. We should update the docs following example charts and what `helm create` does.

[2017-11-07 16:58] unguiculus commented on #3098
/cc @mgoodness

[2017-11-07 18:35] jascott1 commented on #3108
Hi @balboah,

Hopefully we can find a solution for your use case. Can you expand on "slightly different" in "slightly different cluster environments"?

[2017-11-07 18:39] jascott1 commented on #3107
@nohkwangsun You are correct and the example should be using `--override`. I will submit a PR. Thanks for the catch!

[2017-11-07 19:02] #3107 closed

[2017-11-07 19:17] jascott1 commented on #3104
@zzq392342084

Sorry you are having trouble. I successfully installed the "fabric8/fabric8-platform" chart. My tiller service account was created the same way but my Tiller was installed using `helm init --service-account tilller`. It appears that its more of a connection problem. Can you run other `helm` commands like installing a different chart?

[2017-11-07 19:21] jascott1 commented on #3053
@withnale

Would only generating on actual install (not upgrade) help? You could try

[code]

[2017-11-07 20:29] drewwells opened #3111 "YAML to JSON error fixed by cleaning local repository"
We have an issue that 1 in 10-20 charts will fail with `YAML to JSON` error. This chart does not change, it is just being packaged with a new name. The only known workaround is to wipe the local cache and `helm init`. This error appears to be independent of the current path being packaged. Removing all the templates still results in this `YAML to JSON` error occurring

[code]

[2017-11-07 22:35] jascott1 commented on #3111
Hi @drewwells

What versions of Helm and k8s are you running? Also does this occur for any chart after n number of installs or just this chart?

[2017-11-08 01:08] zzq392342084 commented on #3104
I have tried  to install other charts,such as  stable/traefik ,stable/mysql ,I got the same error:
_Error: forwarding ports: error upgrading connection: unable to upgrade connection: Forbidden (user=system:anonymous, verb=create, resource=nodes, subresource=proxy)_

when I run **helm version**, it outputs :
_Client: &version.Version{SemVer:"v2.7.0", GitCommit:"08c1144f5eb3e3b636d9775617287cc26e53d

[2017-11-08 02:30] macropin commented on #1769
Just to be clear... if I add `"helm.sh/hook-delete-policy": hook-succeeded` to my job. Then **every** deployment should recreate and re-run that job? Because that's not what I'm seeing here.

[2017-11-08 08:52] wjkohnen commented on #2437
From https://github.com/kubernetes/helm/pull/3097#issuecomment-341838663

That's not an edge case, though. It is an expected action path, especially in an environment where Helm is used in a CD pipeline, operated by non-k8s and non-helm experienced users (which is a point of having a CD). It is virtually impossible to explain this (again: to be expected) case of undefined and horribly misleading b

[2017-11-08 09:47] balboah commented on #3108
Closing this issue as I've successfully solved it with option C

[2017-11-08 09:47] #3108 closed

[2017-11-08 10:08] jstrachan commented on #2639
FWIW until kubernetes itself has some kind of capability in that area we created a little microservice to watch ConfigMaps and do rolling upgrades on Deployments when they change via annotations:
https://github.com/fabric8io/configmapcontroller/

[2017-11-08 13:30] mparry opened #3115 "Semantic versioning constraint in 'helm search' doesn't work without --versions"
It will only ever report the latest version, or nothing at all if that doesn't satisfy the constraint. For example, if `my-chart` exists at versions 1.0, 1.1, 1.2, and 2.0 then:

[code]

This appears to be because the calls to `i.AddRepo()` in `searchCmd.buildIndex()` do not set the `all` flag, so the constraint is only ever applied against the latest version of each matching chart.

Note that it

[2017-11-08 13:42] bacongobbler commented on #2437
That is exactly what we are doing with this patch.

[2017-11-08 14:30] balboah commented on #1639
@Vrtak-CZ @thomastaylor312 PR waiting!

[2017-11-08 14:59] mparry commented on #3115
I have a change (PR coming shortly) that will make it behave like this instead:

[code]

[2017-11-08 19:28] jascott1 commented on #3104
@zzq392342084 If you haven't already, can you delete the Tiller pod and let it re-spawn?

[2017-11-08 20:35] mgoodness commented on #3098
Sound reasoning. Let's make `rbac.create=true` by default.

[2017-11-08 20:37] drewwells commented on #3111
[code]

foolishly, I deleted my broken ~/.helm. I will get back to you on any chart failing or just this one.

[2017-11-08 20:52] royjs opened #3117 "Values file key deletion doesn't work"
I tried to use the feature to delete default keys (documented [here](https://docs.helm.sh/chart_template_guide/#deleting-a-default-key)) but it doesn't work.

To test it I created a simple values.yaml file like this;
[code]
and a small template:
[code]
When I try to delete the "b" key like this `helm install test-chart --debug --dry-run --set b=null` I get this:
[code]

I also tried grabbing the s

[2017-11-08 21:07] jascott1 commented on #3117
I worked with @royjs on this and we determined it to be either a bug in implementation or explanation so labeling as 'bug'.

[2017-11-08 21:35] kiich commented on #2346
Awesome to hear this! Thanks for the great work!

[2017-11-08 21:40] blakebarnett opened #3118 "Helm is inconsistent about handling actual state of resources"
We see this quite often with people new to Helm who know how to use Kubernetes and kubectl.

1. User deploys a helm chart
2. They make a tweak to the resources (like running `kubectl scale` or `kubectl annotate`)
3. Later try to upgrade the chart (which apparently succeeds)

In most cases it seems like the upgrade works fine.  In other cases changes or settings either get merged in, or dropped dep

[2017-11-08 22:55] blakebarnett commented on #3118
I realized after thinking about this for a while that maybe what I'm actually asking for is a `--no-tiller` mode, that applies rendered resources directly to the k8s API.

I realize this is a big change and probably not viable for charts installed via repository, but if this and the proposed change to allow a selection of a different template engine other than go-template were available, suddenly

[2017-11-09 03:19] thomastaylor312 commented on #1639
Thanks @balboah!

[2017-11-09 03:35] thomastaylor312 commented on #1769
@macropin Is your hook defined as a `post-install,post-upgrade` (or `pre` as your case may be)? If it only has the `post-install` it will only run the first time

[2017-11-09 03:55] thomastaylor312 commented on #1873
@xforze Thanks for putting that together. So I am wondering if the RS is getting orphaned because you are changing the labels and `matchSelector` with each change in the variables. That is in line with what I have seen before when changing the labels in a deployment like that

[2017-11-09 03:56] thomastaylor312 commented on #1873
@valer-cara There were some issues with changes not being reflected on failed deploys that we just merged in (see #3097). Could that be the issue?

[2017-11-09 04:18] dvdotsenko commented on #2060
Contrary point:

Pretty much all of our chart trees deploy artifacts across multiple namespaces split along persistence / API / Level7 ALB(+static) lines. From that stand-point *LOVE* the fact that helm release names are global.

Found presence of `--namespace` option in `helm` semi-useless from the stand-point of assembling of multi-layered applications, where base layers can be reused by red/blu

[2017-11-09 10:49] franzbeltran commented on #3032
Hi @michelleN , I'm trying to replicate this issue and couldn't see the error. May I know the incorrect repository URL you've used?

[2017-11-09 14:35] wjkohnen commented on #2437
Are you saying that the now merged fix removes and re-deploys a chart if (edge case) a release initially failed and then a user tries to fix it by deploying a new release?

[2017-11-09 17:10] burdiyan commented on #1186
I would suggest instead of strict equality check do something like:

[code]

So if my chart is called `foobar` and I release without providing the name: the full name would be `release-chart`.

But if I release with the name of `my-foo` or `foo` or anything with the word of `foo`, the full name would be the name of the release.

It seems unlikely people would specify release name manually without

[2017-11-09 17:33] mgoodness commented on #1186
@burdiyan's proposal seems like a reasonable improvement on @sstarcher's original.

👍

[2017-11-09 17:44] mattfarina commented on #3098
cc: @kubernetes/charts-maintainers

[2017-11-09 17:55] unguiculus commented on #1186
Additionally, I'd add an option to override the fullname as the common chart does. See https://github.com/kubernetes/charts/blob/master/incubator/common/templates/_fullname.tpl#L20-L29.

[2017-11-09 21:13] adshmh commented on #2566
@bacongobbler I'd like to give this a try, as no one seems to be working on it.

[2017-11-09 23:10] mikelorant opened #3121 "Tiller causing Kubelet to leak memory"
The node that is running Tiller causes the Kubelet to leak memory. Depending on how frequently Tiller is polled by the Helm client, influences how much memory is leaked.

This has been verified on 3 different clusters running Kubernetes 1.6.8. Talking to other users, we have identified this problem also existing with 1.5.x, 1.7.x and 1.8.x clusters.

On a cluster where Helm commands were being iss

[2017-11-10 01:55] macropin commented on #1769
@thomastaylor312 It's defined as `post-install,post-upgrade`, so you're saying it should be working?

[2017-11-10 04:26] matthewrj commented on #2735
We are experiencing similar behaviour.

When changing the image hash in the deployment template:
- helm upgrade succeeds
- tiller manifest shows the new image hash
- kubectl describe shows the old image hash
- the deployment is not updated

[code]

[2017-11-10 09:49] puja108 commented on #3089
We'd be interested in this, too. The operator concept sounds quite fitting for this.

Currently, we are using an in-cluster agent that implements pull-based-deployments (https://github.com/giantswarm/draughtsman) for us talking to Tiller, but an operator could help make this more reliable, especially when I hear you talking about reconcilliation.

We were thinking of making it an operator (based o

[2017-11-10 11:37] jiacona commented on #2693
FWIW, this issue still requires some pretty ugly workarounds in certain cases. If you want to set something to a bash variable, you need even more layers of quoting just to get the value into helm as a string. e.g.,

`--set image.tag='"'$TAG'"'`

otherwise you will get the literal string `"$TAG"`

Then you have to strip out the literal `""`s later in the template e.g.,

`image: "{{ .Values.image.r

[2017-11-10 13:15] tillkahlbrock opened #3124 "Setting a ServiceType is ignored"
I tried with several charts (grafana and graylog at least) to change the `ServiceType` to `NodePort`.
In both cases the setting is ignored and I get a Service with type `ClusterIP` even though both charts support setting the ServiceType via values file according to their documentation.

This is why I assume this could be a bug in helm.

In case of grafana I use a values file like this:
[code]

I t

[2017-11-10 15:41] fishi0x01 commented on #2941
We are experiencing this bug too. Manual changes to the configmap labels didn't help. Also tried changing the `MODIFIED_AT` label to a current timestamp, hoping that this would maybe trigger tiller to re-read the whole configmaps -> no success ..

Currently the only way to recover for us is to delete the helm managed resources and re-deploy the chart. In production this is not a viable option thou

[2017-11-10 18:24] jascott1 commented on #3124
Hi @tillkahlbrock

I examined the grafana svc chart and values. Can you post the output of your install with `--dry-run --debug` included?

[2017-11-10 18:57] phillydogg28 commented on #2735
We are see the same issue as @matthewrj. It worked with multiple deploys yesterday, but this morning will not deploy. `helm get <deployment> manifest` shows the correct yaml file. We were able to change another item in our template, deployed again and it worked. Not sure why the first update didn't deploy, but changed manifest in helm.

[code]

[2017-11-10 19:47] weinong opened #3125 "tiller pod keeps crashing"
k8s: 1.7.5
helm/tiller: 2.6.0
platform: Azure/acs-engine
[code]
[code]
[code]
[code]

If I delete the pod, the new one seems to work...

[2017-11-10 20:06] fgimenez commented on #2745
Dibs, i'd like to work on this one if anyone else is already with it

[2017-11-10 20:43] grillz commented on #2941
Is there any update on this or anything we can help with? This is easy to fall into if your using readiness probes, and then very difficult to get out of.

[2017-11-10 20:54] kfox1111 opened #3126 "proposal: Helm dynamic aliases"
TL:DR; Essentially it is a way for an end user to instantiate multiple versions of a subchart and give it the values for each instances.

I would like to have a new flag on dependencies in requirements.yaml which is a boolean such as:
dynamic-alias: true

When the dependency is set as a dynamic alias, the following behaviour is changed:
the values are consulted for the typical value section for th

[2017-11-10 21:46] twk3 commented on #1844
Should this be reopened? I'm still running into this issue. I had a `helm upgrade` fail, but after fixing the chart, all future `helm upgrades` seem to skip the applying the changes.

[2017-11-11 00:00] technosophos commented on #3089
Yes, these ideas have been proposed. And we are going to talk through them at the Helm Summit (You all should come!). That event will be where we formally launch the Helm 3 design process.

I'm still not sure what an operator would buy, in this model, over and above a controller. But I'd entertain the idea. We had designed a version that had a CRD controller in front of a Tiller proxy (@adamreese

[2017-11-11 00:24] arschles opened #3127 "Order resources in `helm status` output"
If you execute `helm status` on the same release, the ordering of the Kubernetes resources changes even if nothing else has.

I'm not sure, but it seems like the ordering is non-deterministic. I believe that they should be ordered deterministically so that multiple calls to `helm status` (or, some people run it inside a `watch` or similar) are easier to read.

[2017-11-11 01:16] thomastaylor312 commented on #1844
@twk3 So you are using an old version of Helm, these issues have been fixed and will be rolled out in 2.7.1 soon

[2017-11-11 01:17] thomastaylor312 commented on #2693
@jiacona This was fixed in Helm 2.6.0, are you still having issues?

[2017-11-11 01:19] thomastaylor312 commented on #1769
It will create a new object (generally a `Pod` or `Job`) each time you release. If you use the feature mentioned here, it will delete the job when it is done running. If for some reason a hook isn't deploying, it would be a separate issue

[2017-11-11 01:22] #3099 closed

[2017-11-11 01:29] thomastaylor312 commented on #3127
@arschles I have seen the same behavior and I am all for deterministic ordering. I don't think this requires much discussion, so I am going label it as a feature. If for some reason there is problem we can always move it back to a proposal state.

[2017-11-11 01:33] thomastaylor312 commented on #3126
@kfox1111 This sounds like an interesting idea, I worry about conflating `values.yaml` keys with keys that define the name of the chart. Also, I know you can use aliases to reuse a chart multiple times, so is this more to simplify the process for users?

[2017-11-11 01:35] thomastaylor312 commented on #3125
Everything you posted makes it seem like it is ok. Were there any other pods running in the cluster that were exhibiting similar issues?

[2017-11-11 01:36] thomastaylor312 commented on #3121
@mikelorant Thank you for the thorough troubleshooting and digging into this. We'll take a look at it

[2017-11-11 14:18] jgiles opened #3128 "Feature/Proposal: Accept hook names in helm.sh/hook-delete-policy"
Currently, you can easily delete a hook resource immediately after its execution:
`"helm.sh/hook-delete-policy": hook-succeeded`
`"helm.sh/hook-delete-policy": hook-failed`
Or, though this is currently missing in the docs at [docs/charts_hooks.md](https://github.com/kubernetes/helm/blob/master/docs/charts_hooks.md):
`"helm.sh/hook-delete-policy": "hook-succeeded,hook-failed"`
(according to comment

[2017-11-11 21:47] thomastaylor312 commented on #3121
So I did a little bit of digging and based on the linked discussion list, it looks like our gRPC version (1.2.1) might not have the server-side connection management (see https://github.com/grpc/grpc-go/pull/1119), so Tiller might be holding on to the PortForward connection from `helm`. Haven't validated it for sure, but that may help

[2017-11-11 21:49] thomastaylor312 commented on #3121
As a note, we are closing the `PortForward` from the `helm` side based on what I was seeing in the code

[2017-11-11 22:16] thomastaylor312 commented on #3121
@mikelorant Any way you could give #3129 a try and see if it works? I have no way to test my hypothesis I talked about above because I don't have a cluster readily available (not sure if minikube will do it). Just to note, that PR is just an educated guess as to what may fix it

[2017-11-12 00:40] kfox1111 commented on #3126
how about something more env like?

mariadb:
  - name: defaults
    values:
      pvc:
        create: true
  - name: foo
    values:
      memsize: 16g
  - name: bar
    values:
      memsize: 8g

I view requirements.yaml as more of a chart developer level feature. the users's values.yaml is for end users. using the existing aliases feature would require the user to download the package, extract

[2017-11-12 10:11] noprom opened #3130 "User "system:serviceaccount:kube-system:default" cannot get namespaces in the namespace "default""
When install a helm package, I got the following error like this:
[code]

Here is my helm version:
[code]

And my kubectl version:
[code]

Any help will be appreciated, thanks a lot!

[2017-11-12 21:36] mikelorant commented on #3121
I'll try and get this implemented in our testing cluster over the next few days. Is it just a case of using the docker image for the master branch of Tiller?

[2017-11-13 01:49] flyer103 commented on #3130
It seems that you have encountered a problem related to privileges.
You could enable rbac in when deploying the chart:

[code]

[2017-11-13 02:29] noprom commented on #3130
@flyer103

It still can not work.
![image](https://user-images.githubusercontent.com/8455444/32707254-238a8bbe-c7e8-11e7-9fed-b6f7a439e319.png)

[2017-11-13 06:33] aneeta34 opened #3132 "Port forwarding error when using helm install"
When I run helm install stable/kube-state-metrics or helm ls I get the following output :
Error: forwarding ports: error upgrading connection: error sending request: Post https://xx.xxx.xx.xx:xxxx/api/v1/namespaces/kube-system/pods/tiller-deploy-2123856503-1j6zh/portforward: http: server gave HTTP response to HTTPS client

[2017-11-13 08:03] tillkahlbrock commented on #3124
@jascott1
[code]

[2017-11-13 09:49] Stibbons opened #3133 "helm install/upgrade/reset hangs on kube 1.8"
Hello.
We just upgraded to kubernetes 1.8, and I cannot perform any commands on helm, it hangs everytime, and the log on tiller does not show any thing.
Here my information:
[code]
[code]
Tiler upgrade works:
[code]
Even helm reset hangs:
[code]

Tiller-deploy pod does not show anything in the log once started:
[code]
I tried restarting my PC and manually destroying all tiller resources on the clu

[2017-11-13 11:02] owetterau commented on #3130
Same problem here. Enabling rbac does not help.

`$ kubectl version`
`Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.3", GitCommit:"f0efb3cb883751c5ffdbe6d515f3cb4fbe7b7acd", GitTreeState:"clean", BuildDate:"2017-11-10T13:17:12Z", GoVersion:"go1.9.2", Compiler:"gc", Platform:"darwin/amd64"}`
`Server Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.2", GitCommit:"bd

[2017-11-13 16:11] bacongobbler commented on #3130
What you need to do is grant tiller (via the default service account) access to install resources in the default namespace. See https://github.com/kubernetes/helm/blob/master/docs/service_accounts.md

[2017-11-13 16:48] fishi0x01 commented on #2941
It seems that helm is not using the labels from the release configmaps storage for any operational decisions. To me it looks like helm is also storing status information like `DEPLOYED` via protobuf inside the `release` key of the configmap. This is a cryptic value which cannot be modified easily in a sane way by hand, meaning that manual recovery from this error is out of reach ..

[2017-11-13 17:30] jascott1 commented on #3132
@aneeta34 kubectl proxy is HTTP. It appears you are trying to use HTTPS over that connection. Is that the case?

[2017-11-13 18:10] veeresh1982 commented on #2409
I get this error too. My configuration is below

K8s version: 1.7.7

# helm version --host 10.245.112.10 --debug
[debug] SERVER: "10.245.112.10"

Client: &version.Version{SemVer:"v2.7.0", GitCommit:"08c1144f5eb3e3b636d9775617287cc26e53dba4", GitTreeState:"clean"}
[debug] context deadline exceeded
Error: cannot connect to Tiller

[2017-11-13 19:29] arschles commented on #3127
Thanks @thomastaylor312

[2017-11-13 19:50] bacongobbler commented on #2409
@veeresh1982 can you check the tiller pod’s status using kubectl?

[2017-11-13 20:00] onlydole commented on #2409
@veeresh1982 - If you installed via Homebrew, can you try deleting and installing directly like this? https://github.com/kubernetes/helm/blob/master/docs/install.md#from-script

Curious to see if that binary is the issue.

[2017-11-13 20:31] nicolerenee commented on #3089
@burdiyan my team and I have build an open source project that might do exactly what you need. Take a look it's at https://github.com/wpengine/lostromos. I'd be willing to answer any questions you may have with setting it up or helping you use it for your use case.

[2017-11-13 20:46] Morriz opened #3134 "helm install --replace fails with "cannot re-use a name that is still in use""
Hi, I try to idempotently deploy a package with:
[code]
(I use the `system` namespace, and tiller is deployed into it, so no mistake there), but the second time it fails with

`"Error: cannot re-use a name that is still in use"`

The first install runs flawless, it's the subsequent ones that fail. I am using helm version:
[code]

[2017-11-13 21:41] thomastaylor312 commented on #3121
I can build one for you @mikelorant if you haven't built it before and don't want to mess with it

[2017-11-13 21:53] veeresh1982 commented on #2409
Ok I did below to resolve : I am going to try @philchristensen solution too and update.
=======================================================
PREP on all master nodes:
-----------------------------
On all master nodes following link: https://github.com/kubernetes/helm/issues/1455, updated /etc/hosts
10.245.112.12   cbu-dev-k8s-node0
10.245.112.11   cbu-dev-k8s-node1
10.245.112.13   cbu-dev-k8s-n

[2017-11-13 21:55] veeresh1982 commented on #2409
NAMESPACE     NAME                                                              READY     STATUS    RESTARTS   AG
kube-system   tiller-deploy-2318886584-1km4j                                    1/1       Running   0          41m

[2017-11-13 22:04] thomastaylor312 commented on #3126
That might not be a bad idea. This would definitely have to be something that would land in Helm 3 though

[2017-11-13 23:30] splisson-altair commented on #3134
workaround: helm upgrade --install

[2017-11-13 23:34] Morriz commented on #3134
Ah, yes, tnx. I saw that somewhere. Which is the real problem: where can I read about deploying helm packages idempotently with the same command. It's not in the documentation.

Is anybody reading this with the know how to edit the docs about this? I suspect ppl are losing time finding out about this, like me.

[2017-11-13 23:53] veeresh1982 commented on #2409
Tested @philchristensen solution. It works too and with this no need to update /etc/hosts file on the master side.

[2017-11-14 00:11] michelleN commented on #3032
Hey @franzbeltran. I was not the one running into this issue.

What error are you seeing?

[2017-11-14 02:40] macropin commented on #1769
The job has the following annotations:
[code]
The job only runs once on the first install, and never again on subsequent upgrades. Running Helm v2.7.0. Should I create a separate issue for this?

[2017-11-14 04:48] aneeta34 commented on #3132
If kubectl proxy is HTTP, then how do I connect to an https server?

[2017-11-14 05:05] thxCode opened #3135 "Helm 2.7.0 creates RBAC resource fail"
I try to use helm(2.7.0) to install an app with RBAC, but get an error:

[code]

I have already created a ServiceAccount(named "tiller") with ClusterRole(named "cluster-admin") by the following commands:

[code]

Double check:

[code]

The following information is my environment:

[code]

What led to this error, is it improper operation?

[2017-11-14 05:18] thxCode commented on #3135
I try to patch this chart, and then it works:

[code]

[2017-11-14 06:00] noprom commented on #3130
Hi, @bacongobbler
Thanks for help. I follow your instructions mentioned above, and I've done the following things:
First of all, I reset the tiller:
[code]
After doing this, I create a RBAC yaml file:
[code]
And then init my tiller:
[code]
However, the tiller is not installed successfully:
[code]
And I sew the deployments in `kube-system` namespace is like this:
[code]
Any ideas about how to solve

[2017-11-14 07:42] hobti01 commented on #3067
We are seeing the same issue in reverse when undeploying "layered" charts: the sub-chart (i.e. backend database) is undeployed *before* the front-end.  This puts the front-end into a CrashLoop, helm cannot undeploy the crashing statefulset, node CPU spikes to 100, the node becomes unavailable, and much hilarity ensues.

There are many potential issues in that scenario, but the root cause is deleti

[2017-11-14 08:09] zzq392342084 commented on #3104
I have tried that ,but the problem is still :
 _kubectl -n kube-system port-forward tiller-deploy-3720707438-ljqpr   :44134_
error: error upgrading connection: unable to upgrade connection: Forbidden (user=system:anonymous, verb=create, resource=nodes, subresource=proxy)

[2017-11-14 08:47] hobti01 opened #3136 "Daemonset and Pod removal ordering"
I think this is a small change but shouldn't Daemonsets be removed before Pods so that the Pods are not re-created?  The current code removes Pods first:
https://github.com/kubernetes/helm/blob/29c3b5276f0290d21d43ef45ad0230e45b460b27/pkg/tiller/kind_sorter.go#L70-L71

[2017-11-14 09:42] jiacona commented on #2693
Hi @thomastaylor312 I'm not having the exact problem mentioned in this issue, I just found the discussion here useful in working around a related issue. My issue is that when I set that value using `--set image.tag="3213841"`, it gets interpreted as a numeric value and comes out of `{{ .Values.image.tag }}` looking like `3.213841e+06` in the rendered yaml. So I needed a way of forcing it to be int

[2017-11-14 10:12] franzbeltran commented on #3032
Oh sorry I didn't notice that @michelleN . Here's the error:
`Error: no repository definition...`

Tagging @magicalbanana , what's the incorrect repository URL that you used?

[2017-11-14 10:30] mparry commented on #2492
I think that this and #2133 are the same issue, BTW. (Not sure which one is best to keep open though.)

[2017-11-14 11:43] hobti01 commented on #1996
This looks like more than just bug relating to the error message.  We have ConfigMaps that are nearly 1MB on their own and already contain compressed data.  Kubernetes handles these without issue, but when helm combines them into a single ConfigMap it hits the Kubernetes limit.

The issue is magnified with sub-charts.

[2017-11-14 11:54] hobti01 commented on #1413
This is the root cause of https://github.com/kubernetes/helm/issues/1996

An alternative approach to storing the entire chart in a single ConfigMap should definitely be created so that Helm is not limited by this well known upstream constraint.

In addition to the storage size, because Secrets are being stored I would recommend that the Chart should not be stored within an "insecure" ConfigMap.

[2017-11-14 11:58] kedare opened #3137 "Helm YAML parser ignores quotes"
When trying to set for example this values.yaml file :

[code]

```helm lint``` fail with
[code]

It looks like helm completely strip quotes, making impossible to use wildcards or regexes with escaping (\. for example) instead of yaml files

[code]

[2017-11-14 12:50] Nitrogenycs commented on #2399
I just ran into this problem with the swift chart at https://github.com/kubernetes/charts/blob/master/stable/swift/templates/service.yaml . I'd like to turn it into a NodePort service, but this part is not templated.

So I see 4 possible ways to solve this problem:

1. In this special case I could probably make a 2nd service with NodePort enabled that selects the swift app.
2. I fetch the swift de

[2017-11-14 14:21] rhefner1 commented on #2409
Just as another input to this: I was experiencing this issue intermittently when deploying. Whenever the context deadline error appeared, I could try again and usually by the second or third try it would work. We have a VPN directly into our cluster, so I tried adding the `--host` flag to `helm upgrade` and I haven't ever gotten the error since.

[2017-11-14 14:54] DGreenstein opened #3138 "DISREGARD - Helm create did not produce a directory"
Please close this issue.

Original symptom:
Deployed cluster with kubespray, and opted to have helm deployed automatically AND as a docker image.  When I first tried to use helm to create a new chart, using the command 'helm create blah' there was no resultant directory.

Determined cause:
After inspecting /usr/local/bin/helm I discovered that the directories mounted to the volume are limited to s

[2017-11-14 15:20] thxCode commented on #3135
I find that it is a bug of Minikube v0.23.0(using "localkube" as a bootstrapper) on Kubernetes 1.7.5.

I create a new Minikube instance which uses "kubeadm" as a bootstrapper to create Kubernetes 1.7.10:

[code]

I deploy the same chart on the "minikube17_new", and then the chart works as expected.

[2017-11-14 15:20] #3135 closed

[2017-11-14 15:31] #3138 closed

[2017-11-14 15:46] fishi0x01 commented on #2941
I just realized that one obvious solution to manually recover is to delete the affected configmaps. I just made some tests and after deleting all configmaps of the old revisions that are falsely marked `DEPLOYED`, everything seemed to work fine again. Of course the big down-side here is that the whole revision is lost then, but apart from that I do not witness any other problems yet.

[2017-11-14 16:33] Stibbons commented on #3133
Anyone?

[2017-11-14 16:39] bacongobbler commented on #3133
Hi @Stibbons, sorry we didn't get back to you sooner. I'm just getting back from vacation. Let me take a look at this after I get some ☕️ and 🍞.

[2017-11-14 16:52] bacongobbler commented on #3133
Can you try using a combination of `kubectl -n kube-system port-forward my-tiller-pod 44134:44134` and `HELM_HOST=127.0.0.1:44134 helm list`? Curious as to see why the connection is hanging. It sounds like it could be an internal networking issue within the kubernetes cluster, but I'm not entirely sure what the root cause would be.

[2017-11-14 16:56] bacongobbler commented on #3137
this might be solved when someone implements `helm lint` to use the kubernetes spec parser instead in #2575. Some more background context can also be found in #1741.

[2017-11-14 17:01] bacongobbler commented on #3136
This is intentional as this is in relation to the helm chart's templates, not to all the pods deployed by cascading resources (deployments, daemonsets, statefulsets etc). Pods created by DaemonSets are uninstalled when the DaemonSet is uninstalled, but not when "Pods" are being uninstalled. We only uninstall Pods that were explicit Pod templates in the helm chart.

Does that help make sense, or ar

[2017-11-14 17:09] thomastaylor312 commented on #1769
@macropin Yes. Could you please create another issue with details about your cluster and, if possible, an example chart that duplicates the issue

[2017-11-14 17:32] Stibbons commented on #3133
helm list also stuck
Look like an issue on our service account we use for Tiller:
[code]

[2017-11-14 18:11] bacongobbler commented on #3133
Sorry, I'm not sure I quite understand here. Can you explain how you set up tiller to talk to the right service account, and how you set up that service account? Were you following the documentation as described in #3094 or some other documentation?

[2017-11-14 19:45] Stibbons commented on #3133
I need to deep dive more in our RBAC configuration, but on kube 1.6, we set up RBAC and Tiller was fine, using an account named `tiller-sa` with the right accounts, but may have been done manually by someone. Having updated to 1.8, and so reployed helm completely, helm complained with this error(configMap) but was not shown by me because of the network/forwarding issue.
I now deploy helm with `hel

[2017-11-14 19:53] SlickNik commented on #3121
@mikelorant @thomastaylor312 I was able to repro the issue on one of our Kubernetes clusters that is running Helm. Hopefully I should have some time to build and test out @thomastaylor312's fix either this afternoon or tomorrow. Will update the issue once I've had a chance to do that. Thanks!

[2017-11-14 20:10] technosophos commented on #2815
The story is long, rather uninteresting, and basically boils down to a claim made in the distant past that "metadata files should always begin with a capital letter because of the way old Linux sorts files by ASCII numeric value".

`values.yaml`, not being a metadata file, did not get an initial cap.

[2017-11-15 00:22] wallrj opened #3140 "Error: UPGRADE FAILED: transport is closing Connection refused"
In https://github.com/jetstack/navigator/issues/133 our automated e2e tests failed because `helm upgrade` failed with the following error:

[code]

The error message is not very clear to me.
This is an intermittent error and maybe `helm` ought to retry before failing.

The full logs are here:
 * https://jetstack-build-infra.appspot.com/build/jetstack-logs/pr-logs/pull/jetstack_navigator/130/naviga

[2017-11-15 00:32] bacongobbler commented on #3140
Hmm, so a connection refused error from socat when forwarding ports would be an indicator that kube-proxy is starting to fail, possibly due to exhausted infrastructure. Because the error comes straight from kube-proxy in the form of `socat` failing, there's not much we can do to improve the error message, but a PR upstream to improve the error message would probably improve the situation!

I would

[2017-11-15 00:39] sslavic opened #3141 "add --values and --set flag to helm package"
Just like install and upgrade support --values flag, please support the same for helm package command.

Resulting package archive should contain parent chart's values file merged with any value files provided via --values flag.

[2017-11-15 00:46] bacongobbler commented on #3141
related request: #2566

[2017-11-15 00:47] bacongobbler commented on #2566
@adshmh feel free to give this a shot! Nobody has begun work on this. :)

[2017-11-15 04:55] obriensystems commented on #2492
We seem to be OK in 2.6.1 of Helm server (but not in 2.3.0)

[2017-11-15 05:31] mcedica commented on #3030
I have the same issue, running on 2.7.0. The upgrade never recreates the pods, not even when Im trying to use the flag "--recreate-pods ". I checked the namespace and everything is ok, there is no new release deployed elsewhere

[2017-11-15 06:18] rushins commented on #2295
i had the same probelm ...what is the solution now.

[2017-11-15 06:34] bacongobbler commented on #2295
@rushins can you show the output of the commands shown in https://github.com/kubernetes/helm/issues/2295#issuecomment-295475911 and https://github.com/kubernetes/helm/issues/2295#issuecomment-295542997? Those would be how to determine if the tiller pod is running or not.

[2017-11-15 06:36] bacongobbler commented on #2492
@obriensystems can you elaborate on that thought just a bit more? :)

What seems to be OK about this proposal for v2.6 but not in v2.3? Perhaps you are referring to another ticket?

[2017-11-15 06:39] Nin-0 commented on #3023
I didn't provide any values with `--set`, I only changed values in `values.yaml` and `deployment.yaml`.

[2017-11-15 07:25] mcedica commented on #3030
My bad, I figured out what was going on: the updateStrategy on StatefulSet is 'onDelete' by default, so as soon as I updated my statefulset to use  RollingUpdate  strategy, everything worked

[2017-11-15 11:37] guenhter commented on #2896
**Kubespray-helm**
The reason why `helm` doesn't find any files provided with the `-f` option is because `helm` is installed as docker container run command by kubespray:

[code]

If you define a file with `-f`, the container doesn't find that file, unless you place it into a folder which is mounted (e.g. the `/root/.helm`)

[2017-11-15 12:02] prydonius opened #3145 "Helm init output does not include Service"
`helm init -o json/yaml` only outputs the Deployment that will be created. Helm also installs a default Service for Tiller, which can be seen from `helm init --debug --dry-run`. This should be seen in `helm init -o` too.

[2017-11-15 13:25] wknapik commented on #3088
I'm getting a similar error, but only when the `-l` option is passed to `helm search`.
[code]
[code]

[2017-11-15 14:49] #3030 closed

[2017-11-15 16:06] bacongobbler commented on #3134
@Morriz the documentation is available [in the docs/ section](https://github.com/kubernetes/helm/tree/master/docs) of the codebase. If you file a PR to amend the documentation, https://docs.helm.sh/ will be updated.

[2017-11-15 16:15] grrywlsn opened #3146 "Helm on Windows: unknown flag: --kubeconfig"
I'm testing using Helm on Windows, and running in to an issue trying to pass it the Kubernetes configuration.

The `--kubeconfig` option is being reported as an unknown flag. For reference, the config file is saved at the default location, C:\Users\my-user\ .kube\config, which is being picked up just fine by kubectl without having to set any flags.

From the docs, it looks like this flag should be

[2017-11-15 16:24] bacongobbler commented on #3146
#2219 was merged in after v2.7.0 was released, so it'll make it into v2.8.0. Thanks!

[2017-11-15 16:24] #3146 closed

[2017-11-15 16:24] bacongobbler commented on #3146
sorry, #2621. #2219 is the issue.

[2017-11-15 16:31] grrywlsn commented on #3146
Awesome, thanks @bacongobbler

[2017-11-15 16:59] dhilipkumars opened #3149 "[Proposal] Helm Upgrade (Tiller) to perform Automatic rollback?"
As you all might know the concept of "rollback" itself is removed from deployment (the only core controller that supported it) and the community is in favor of supporting rollback at the higher layer such that the declarative model is not broken by kubernetes.

Ref: https://github.com/kubernetes/kubernetes/issues/23211

Chart is an excellent library of actual applications that can be quickly insta

[2017-11-15 17:00] dhilipkumars commented on #3149
cc @kubernetes/helm-maintainers

[2017-11-15 17:03] Morriz commented on #3134
Tnx, but maybe somebody else can edit the docs, as I obviously don't have the expertise ;p

[2017-11-15 17:04] bacongobbler commented on #3149
This might be a problem if we decide to move forward with a more declarative model for Helm 3 as seen in #3089.

I don't see a problem if someone wants to implement it for Helm 2, but that workflow may be something that may not get ported over if we decide that we want to move Helm to a more declarative model in the future (read: this may not port over to Helm 3 in that case).

[2017-11-15 17:06] bacongobbler commented on #3134
looks like @splisson has already done the work in #3148. :)

[2017-11-15 18:02] dhilipkumars commented on #3149
@bacongobbler Good to know this can go in Helm 2.0 for starters.

I would like to know how would this can be a problem with declarative model? Every release is versioned plus the concept of `rollback` is already supported by Helm? We are only going make this automatic when the `upgrade` fails?

Or should this behaviour be declared in one of the chart's yaml file rather than being a sub-command?  L

[2017-11-15 19:28] jascott1 commented on #3145
Actually it was "as designed" because you typically need to do all the jq madness on the deployment and not the service but I did fret about this a bit. Shouldn't be too much work.

[2017-11-15 20:38] Indigenuity opened #3150 "Resource policy flag ignores value"
The annotation for keeping a persistent resource seems to not behave as expected.  Consider this brief chart:

[code]
The `"helm.sh/resource-policy"` annotation is what I'm focused on.

When the annotation is set to `keep`, I can install the chart and delete it properly--the volumeclaim is correctly kept, rather than being deleted with the rest of the release.

When I remove the annotation altoget

[2017-11-15 20:54] unguiculus opened #3151 "docs(templates): PR #3076 should be reverted"
I would like to see #3076 reverted because it is incorrect. The old example was correct. It is not possible to used `.Files.Get` to retrieve templates.

https://github.com/kubernetes/helm/pull/3076/files#diff-3afc5f8731b9da3a7be91779aec40fbaL147

See https://github.com/kubernetes/helm/blob/master/docs/chart_template_guide/accessing_files.md

Interestingly, though, Helm does not complain if `.Files

[2017-11-15 20:55] unguiculus commented on #3151
/cc @joanrieu @thomastaylor312

[2017-11-15 21:02] mikelorant commented on #3121
If someone has an image I an pull, post the link and I'll update our dev cluster to use it today.

[2017-11-15 22:41] SlickNik commented on #3121
I've built a tiller image from @thomastaylor312's fix (PR #3129) and pushed it up to slicknik/tiller:git-a26100a on dockerhub. I haven't had a chance to verify it as yet. @mikelorant feel free to pull that down and verify it on your dev cluster when you get a chance. Thanks so much for your help with this!

[2017-11-16 00:03] bodepd commented on #3121
@thomastaylor312 - we've been experiencing a lot of instability lately as we've given tiller more load and we're open to test this out to see if it's an improvement.

[2017-11-16 00:16] bacongobbler commented on #3121
Should be able to test with `helm init --tiller-image slicknik/tiller:git-a26100a`. :)

[2017-11-16 00:19] SlickNik commented on #3121
@thomastaylor312 @mikelorant I was able to verify that #3129 fixes the issue. After deploying a tiller built with that fix (slicknik/tiller:git-a26100a) I ran a continuous load that installed and deleted a bunch of charts, and didn't see any lingering socat processes after. (Running this on a tiller without the fix did leave behind about 40-50 socat processes, when I ran it yesterday). Based on th

[2017-11-16 00:41] rootfs opened #3153 "how to make daemonset upgrade sequentially"
I have a ceph helm chart that has daemonsets in it. The daemonsets start up ceph osd. There could be multiple daemonsets, e.g. ceph-osd-dev-sdc, ceph-osd-dev-sdd, ceph-osd-dev-sde.

I want to upgrade these daemonsets sequentially during helm upgrade, i.e. daemonset ceph-osd-dev-sdd waits till ceph-osd-dev-sdc is complete before it can upgrade.

Ideas and pointers are appreciated.

[2017-11-16 00:42] rootfs commented on #3153
@technosophos I saw your comments on some related issues.

[2017-11-16 02:06] bacongobbler commented on #3151
cc @joanrieu, perhaps he can pipe in a bit and elaborate on why the previous documentation did not work in his use case.

[2017-11-16 02:36] thomastaylor312 commented on #3121
@SlickNik Thanks for checking into this and building an image! I'll update the PR and wait for at least one more person to verify (ping @bodepd and @mikelorant)

[2017-11-16 02:51] thomastaylor312 commented on #2693
@jiacona Yes please. Feel free to ping me in the issue you create

[2017-11-16 10:36] jiacona opened #3155 "Force string values with --set"
When setting a value such as `--set image.tag=3213841`, it gets interpreted as a numeric value and comes out of {{ .Values.image.tag }} looking like `3.213841e+06` in the rendered yaml.

This can be worked around, but in a pretty ugly way, by adding a non-numeric character to the value being set so that [this](https://github.com/kubernetes/helm/blob/e54fc472b8ae0006c4cf97d5e2c56c8bf2eae2a7/pkg/str

[2017-11-16 10:37] jiacona commented on #3155
ping @thomastaylor312

[2017-11-16 11:09] Morriz commented on #3134
Yes, but imo these intructions should come as close to, or even replace the original instructions in ‘using helm’, because I think helm should advocate a stateless approach. As such it would be wise to support the majority of users that prefer the 12 factor approach, who steer away from unrepeatability. That point is more important than just this doc update...

[2017-11-16 11:11] canhnt opened #3156 "How to show changes before running helm upgrade?"
**Question**: Is there any formal way to figure out changes will apply when I run `helm upgrade` command like:
[code]

For now I have to follow the workarounds as:
1. Get current values with `helm get <release-name> > current-values.yaml`
2. Run dry-run and debug with `helm upgrade --dry-run --debug > next-values.yaml`
3. Compare `current-values.yaml` and `next-values.yaml`. Item orders in these f

[2017-11-16 11:55] prydonius commented on #3145
Makes sense, the other problem is that I'm not sure how to represent multiple resource types in JSON (in the same way you can do in YAML with the `---` separator).

Another option is to change the help text to explain that this is only for the deployment, as it currently just says "manifest". However, since most people will use this as a preview to see what Helm will install, it would be best to i

[2017-11-16 14:54] sslavic commented on #2566
Requested in https://github.com/kubernetes/helm/issues/3141 support for `--values` but supporting `--set` for `helm package` would be even more useful.

[2017-11-16 15:06] usr42 commented on #3151
`.Files.Get` does not work for files in the templates folder:
https://github.com/kubernetes/helm/blob/master/docs/chart_template_guide/accessing_files.md

Maybe both use cases should be described in the documentation.
The `.Files.Get` approach for static ConfigMaps or Secrets outside of the templates folder and the `include` approach for variable ConfigMaps or Secrets utilizing templates.

See als

[2017-11-16 17:46] thomastaylor312 commented on #3155
Thanks for opening this @jiacona

[2017-11-16 18:01] shikhasriva opened #3158 "tiller -authentication and authorization approach"
As a user with roles, I should be able to install releases from the helm UI  page only if I have the proper authority to do so. By default as a view only user, I shouldn't be able to install/uninstall/upgrade/rollback any releases.
# Tiller Changes

Tiller needs to be modified to prevent users from installing/upgrading/rollback/uninstalling anything if the user isn't authorized.

    Adding author

[2017-11-16 18:26] libesz opened #3159 "Feat: Configuration option for tiller probeAddr IP/port."
Currently the probeAddr listens on *:44135 and [it is not configurable](https://github.com/kubernetes/helm/blob/e8e6ac5d7783808cc0bd1adad053bec339849647/cmd/tiller/tiller.go#L62). Together with the host networking option for tiller, installation gives unexpected external visibility for this listening point for any potential user.
This might have a configuration option, similarly to the [grpcAddr](

[2017-11-16 23:18] mikelorant commented on #3121
Before swapping out tiller with `slicknik/tiller:git-a26100a`
[code]

I'll report back in about 6-7 hours with the memory use.

[2017-11-17 02:16] YangYongZhi opened #3160 "Can't set a value for a range with --set"
I have a pod template with multiple containers, so the Deployment.yaml is like this:
`spec:
      containers:
        {{- range $con := .Values.containers }}
        - name: {{ $con.name }}
          image: "{{ $con.image.repository }}:{{ $con.image.tag }}"
          imagePullPolicy: {{ $con.image.pullPolicy }}
       {{- end}}`

and Values.yaml like this:

`......
containers:
  - name: gateway-wx

[2017-11-17 14:19] Noah-Huppert opened #3161 "Helm upgrade help text contains duplicate paragraph"
In the Helm `upgrade` command's help text (Accessed via `helm upgrade --help`) the third paragraph (which explains `--set` precedence) repeats twice.

[code]

[2017-11-17 14:26] mattfarina opened #3162 "Feature Request: Pass Resources As Data"
If this is a duplication please feel free to point me to it.

This would need to be in Helm 3 rather than 2 because of the API change.

Helm currently passes the resource listing (e.g., that you can get with `helm status`) as a string that's custom build. For example, see how the JSON output looks for the status command.

[code]

This appears to be built in the [`kube.Get`](https://github.com/kube

[2017-11-17 15:25] databus23 commented on #2998
I ran into this as well but was a little baffled by it because source and target are on the same mount point in this concourse scenario.

I think the problem is that the mount point is an overlayfs filesystem (thats how concourse passes inputs into task containers).

I found this in the (unrelated) docker docs in the [working with overlay section](https://docs.docker.com/engine/userguide/storagedr

[2017-11-17 15:28] erasmus74 commented on #2611
Anything tracking on this? Seems like a huge issue, one I've been experiencing for a while now. If I can contribute in any way, let me know.

[2017-11-17 15:28] technosophos commented on #3158
My personal recommendation would be to use the gRPC TLS authentication that is already built-in. You can supply client certificates to each Helm client, and Tiller with verify those with its CA.

Authorization, in that situation, is a separate issue. You might still have to inject some identity data into the gRPC metadata, or you could extract it from the client's SSL certificate. The later is,  f

[2017-11-17 16:12] Noah-Huppert commented on #3161
I'm stupid

[2017-11-17 16:12] #3161 closed

[2017-11-17 16:16] databus23 commented on #2998
A workaround for the concourse case is to copy the charts from the `input` volume before running  `helm dep up` e.g.:
[code]

[2017-11-17 16:21] bacongobbler commented on #3158
For anyone that missed the dev call yesterday, here's the important bits on this proposal (including addressing gRPC TLS): https://www.youtube.com/watch?v=PBvhFbaR-bI&t=9m5s

[2017-11-17 16:36] Stibbons commented on #3133
Look my issue comes from the fact the Tiller service is a ClusterIP node, and we cannot access to these ip adress from outside the cluster. Is it possible to use an ingress for tiller, so it would be exposed to outside of our cluster like any other pods? How can I tell to the helm commands (list, install, ...) to use this endpoint instead of something else?

[2017-11-17 16:39] bacongobbler commented on #3133
You can set the HELM_HOST environment variable on your client to point helm directly to a tiller instance. Is that what you're looking for?

What was the error you're seeing in this situation?

[2017-11-17 16:56] Stibbons commented on #3133
Can I run tiller on my machine instead of inside the cluster? I suppose it will use the kube api like I can do with kubectl from my machine? `helm init --client-only` does not install anything locally

[2017-11-17 17:03] bacongobbler commented on #3133
ingress controllers only proxy HTTP connections. Tiller communicates over gRPC, so exposing tiller through an ingress route won't work.

It's not recommended to expose tiller to the outside world anyways unless you [enable TLS auth for tiller](https://github.com/kubernetes/helm/blob/master/docs/tiller_ssl.md) as anyone with direct access to tiller will have access to manage, install and uninstall

[2017-11-17 17:14] Stibbons commented on #3133
Thanks for your help. Not sure if it comes from RBAC precisely, but for sure, I cannot ping any internal IP adress (10.214.*) from my pc from our lab office. Every pod running in ClusterIP is simply not accessible, and I can't find a way to make it work with port-forward. I simply have no error message :(

[2017-11-17 17:15] bacongobbler commented on #3151
fixed in #3142.

[2017-11-17 17:15] #3151 closed

[2017-11-17 19:32] michelleN commented on #3032
@franzbeltran
That error feels vague too and could be more specific. What repo url are you using?

[2017-11-17 20:12] diwakar-s-maurya opened #3163 "Installing a package already installed as dependency gives error"
Situation:
- app1: standalone
- app2: depends on app1
- app3: depends on app1

I setup a helm repo for installation. If i install `app2` first, its fine. But now i cannot install `app3` or `app1` because it gives me error saying that the resources of `app1` already exist.

Question:
Should helm not detect that the `app1` is a common dependency (maybe by comparing url and version of app1 from the r

[2017-11-17 21:44] mikelorant commented on #3121
Results after 24 hours.

[code]

[2017-11-17 21:51] mikelorant commented on #3121
I've just restarted the kubelet and am running fresh checks again. I'll see where I am at after 24 hours again.

[2017-11-17 22:20] varunpalekar commented on #2947
I am also facing same problem:
[code]

[2017-11-17 23:46] chancez commented on #2437
I am still hitting this issue with 2.7.2

[2017-11-17 23:48] bacongobbler commented on #2437
@wjkohnen no.

@chancez can you provide a test case we can use to reproduce the issue?

A list of the usual suspects would be helpful to identify the root cause:

- `helm version`
- `kubectl version`
- where the cluster was deployed
- the commands/chart deployed causing the error

[2017-11-18 02:20] msavlani commented on #2735
I tested this on latest 2.7.1 and i still see same issue as @phillydogg28

[2017-11-18 02:22] msavlani commented on #1844
@thomastaylor312  I am facing same issues as @twk3  on v2.7.1 as well

Client: &version.Version{SemVer:"v2.7.1", GitCommit:"4aef7fddc8335e0b7b00d9168c04955d903fdbee", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.7.1", GitCommit:"4aef7fddc8335e0b7b00d9168c04955d903fdbee", GitTreeState:"clean"}

[2017-11-18 08:50] anas-aso opened #3164 "Wrong interpretation of Zero in templates files when having a default value"
### Setup
Here is my helm chart (just the relevant part to this issue)
values.yaml:
[code]
templates/config.yaml:
[code]
### Expected behaviour
Running `helm upgrade --install ...` I expect to have a ConfigMap that contains the value "0".

### Actual behaviour
The created ConfigMap contains "10" (the default).
[code]
### More fun:
This behaviour is not visible when :

- there is no default. Changi

[2017-11-18 13:23] jberkenbilt opened #3165 "Unable to create roles and rolebindings as pre-install hooks"
Problem: when creating a role or rolebinding in a pre-install hook, helm succeeds in creating the role or rolebinding, but the operation fails because of a failure running a get command. The cluster in which I reproduced this problem has helm 2.7.0 with RBAC enabled. tiller is in the kube-system namespace and has cluster-admin. The user running helm is also a cluster admin

The following typescrip

[2017-11-18 21:37] matthewrj commented on #2735
I discovered the issue was we somehow had got into a state where we had 4 releases with the same name. Deleting all of the duplicate releases and recreating the original fixed the problem. Although we have got into the duplicate release state multiple times now.

[2017-11-19 06:51] mikelorant commented on #3121
After 24 hours...
[code]

[2017-11-19 10:23] innovia commented on #3130
@noprom  try this

delete the deployment of tiller manually

create these rbac config for tiller

[code]
run delete (yes delete) on that  rbac config
run create again
then run helm init --upgrade to replace

you should not have any more errors.

[2017-11-19 16:41] Nitrogenycs commented on #3031
There is also https://github.com/appscode/swift which is a JSON/HTTP gateway to tiller. I use this for something like my own client.

[2017-11-19 16:45] omkensey opened #3166 "Feature request: support for using top-level chart attributes"
When using dependencies or subcharts, a common pattern is to need to create something like a service in one subchart and refer to it in another.  Using the .Chart namespace as with the standard "fullname" template doesn't work because that template is rendered from the subchart's context even if it's set or overridden by the parent chart, so each subchart renders it differently.  It's possible to

[2017-11-19 16:48] Nitrogenycs commented on #3045
This is probably a duplicate of https://github.com/kubernetes/helm/issues/2399.

[2017-11-19 17:01] Nitrogenycs commented on #2492
I like the approach proposed by @travishaagen and @braedon . I could also imagine using multiple -f values.yaml arguments, e.g.

First it would read `raw_values.yaml` which would have to be valid yaml. Then helm would read `values_rendered_with_templating.yaml` and run this through the template engine which has access to the variables in `raw_values.yaml`. The rendered template is then fed to the

[2017-11-19 17:22] mikn opened #3167 "$ does not refer to root scope in a nested template"
Encountered that `$` does not refer to the root scope inside a template that has been given another scope.
Example:
[code]
[code]
Will result in this error:
`Error: render error in "test/templates/deployment.yaml": template: test/templates/deployment.yaml:3:3: executing "test/templates/deployment.yaml" at <include "metadata" ....>: error calling include: template: test/templates/_helpers.tpl:14:27

[2017-11-19 19:13] omkensey commented on #3167
The .Chart set of attributes exists outside the .Values hierarchy so this looks like "behaving as designed" to me.  This is documented in https://github.com/kubernetes/helm/blob/master/docs/chart_template_guide/control_structures.md#modifying-scope-using-with -- the variable assignment workaround there might be useful to you (although you probably wouldn't be able to use it as-is).

[2017-11-19 19:21] omkensey commented on #3167
(deleted earlier comment)

I think maybe this is "working as designed".  When child chart templates are rendered, they render with a root scope that is defined for that chart, not inherited directly from the parent.  If the call to a named template is intended to mimic that behavior, then the root scope for that call to that named template would be whatever you pass to it explicitly with the `incl

[2017-11-19 20:00] omkensey commented on #3098
Haven't seen anybody object to this so I'm thinking of writing it up later tonight.  Should it be its own section of the Best Practices guide, part of the Templates section, part of the Pods and Pod Specs section, or somewhere else entirely?

[2017-11-20 02:03] omkensey commented on #3126
Relatedly, it would be nice sometimes to be able to "push down" values from the top-level chart to the depended/child charts.  Sort of the reverse of child/parent import:

`parent-values.yaml:`
<pre>
foo: 7
bar: 12
<b>push:
  - to: child-a, child-b.solarsystems.quux
    moons: yes
    comets: no</b>
</pre>

Then both child-a and child-b would have the relevant values inserted in their contexts, li

[2017-11-20 02:34] mikn commented on #3167
I think the documentation would do well with some clarification regarding this issue. An alternative solution to the problem I'm trying to solve is template parameters, so that I can explicitly pass in variables rather than just a variable scope. I found this issue: https://github.com/kubernetes/helm/issues/1054 which does provide me with a passable workaround for now, but doing
[code]
Is a bit ha

[2017-11-20 10:06] hoesler opened #3168 "Installing charts with --repo option from a repo with relative paths fails"
I have a repository index with relative paths:
[code]

When I run `helm install spark --repo http://my-helm-repo` I get
[code]

I expected that the chart would be resolved relative to the repo url, but they apparently it did not.

Tested with helm 2.6.2, 2.7.0 and 2.7.2.

[2017-11-20 10:37] prydonius commented on #3098
@omkensey that would be great. I think this should probably be it's own section.

[2017-11-20 11:21] thomas-riccardi opened #3170 "helm completion does not auto-complete releases or charts"
helm completion does not auto-complete releases or charts:
[code]

As an example, `kubectl` has auto-completion on remote resources, and it's really much more useful than what `helm` has.

[2017-11-20 11:30] thomas-riccardi opened #3171 "helm completion does not support commands aliases"
[code]

[2017-11-20 16:24] jgiles opened #3173 "helm install --wait does not wait for deployment pod readiness properly"
I recently discovered and started using `--wait`:
[code]
It's great!

However, when I run `helm install --wait`, the command exits successfully before the pods in my deployments pass their configured readiness probe.

I did a little spelunking to confirm that my expectations were correct, and found this suspicious-looking code attempting to do the deployment readiness check:
[code]
permalink: http

[2017-11-20 16:45] michelleN commented on #2590
Hey @Smana
In order to create an index file, you need to have a local directory that is a mirror of your chart repo. Do you have a local copy of your chart repo? You'll then get an updated index file locally which you can push up to your chart repo. I'm wondering if there is a mismatch in expectations for this command.

[2017-11-20 17:02] kfox1111 commented on #3126
@omkensey yeah, I really want something similar. I do aggregation charts all the time and it kind of sucks for the user to have to set the same value all over the place. but maybe we need one level of abstraction higher. rather then specify the values right in the push rule, that should just specify a section of the main values file to use. maybe like:

foo: 7
bar: 12
moons: yes
comets: no

#maybe

[2017-11-20 17:57] chancez commented on #2437
helm version is 2.7.2 and kubectl version is 1.8.0. Cluster was minikube v0.23.0 (k8s 1.8.0) but the chart isn't public/easy to pair down. It's just a `helm upgrade` on a previously failed release (previous release timed out with --wait) (doesn't matter if there have been successful previously or not).

I'll see if i can come up with a simple reproduction, but might take some time as I'm switching

[2017-11-20 18:44] Smana commented on #2590
Hey @michelleN

Actually i managed to create a private repository, i should have closed this issue earlier.
I'm using Nginx as the webserver along with network acls

[2017-11-20 18:44] #2590 closed

[2017-11-20 19:50] yvespp opened #3176 "Use "kubectl rollout status" code for install/update --wait"
Can't the logic in `kubectl rollout status` be used for Deployment, DaemonSet and StatefulSet rollout?
* [kubectl/cmd/rollout/rollout_status.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/rollout/rollout_status.go)
* [kubectl/rollout_status.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/rollout_status.go)

Reasons:
* Less code to maintain, get's upda

[2017-11-20 20:02] michelleN commented on #2590
Awesome. thanks

[2017-11-20 21:06] mikelorant commented on #3121
[code]
Grown to 4.3GB in 2 days. I don't really have a conclusive answer just yet. Do we think this is reasonable?

[2017-11-21 01:31] anguslees commented on #3089
I wrote one last weekend fwiw: https://github.com/bitnami/helm-crd
File issues/PRs on that repo if you encounter any issues with it.

[2017-11-21 01:32] xixuejia commented on #2872
Hello, we encountered the same problem here. I would really appreciate your help and suggestions.

I deployed Tiller manually in k8s cluster and could use helm to get version of both the client and server
[code]
But when I issue command `helm ls --host nodeIP:nodePort`, I got the same error below
[code]
[code]
Here are the tiller docker container env. variables from `docker inspect`
[code]

[2017-11-21 08:08] chandrureddy commented on #2872
Does helm support passing kuberntes config file in order make connection to the master ?

[2017-11-21 08:11] noprom commented on #3130
@innovia
Great! Thanks, I've solved this problem.
Thanks a lot!

[2017-11-21 08:12] #3130 closed

[2017-11-21 10:19] innovia commented on #3130
Happy to help :)

[2017-11-21 10:21] innovia commented on #3130
@noprom please check my post on [how to setup helm and tiller with rbac per namespace](
https://medium.com/@amimahloof/how-to-setup-helm-and-tiller-with-rbac-and-namespaces-34bf27f7d3c3)

[2017-11-21 10:24] noprom commented on #3130
@innovia
Fantastic post!😄

[2017-11-21 11:02] theangrydev commented on #3020
The error could be e.g. an unknown host specified for the `spec.template.spec.containers.image` in a `kind: Deployment` which could lead to a `ImagePullBackOff` state. Alternatively, the application in the container itself could be misconfigured and crash, leading to a `CrashLoopBackOff` as the readiness/liveness probes fail to respond properly.

[2017-11-21 11:08] YangYongZhi commented on #3160
I have solved this problem by using index function.
`spec:
      containers:
        {{- $images := .Values.images -}}
      	{{- range $index, $container := .Values.containers }}
        - name: {{ $container.name }}-{{ $index }}
          image: "{{ $container.image.repository }}:{{ index $images $index }}"
          imagePullPolicy: {{ $container.image.pullPolicy }}
          {{- if $container.

[2017-11-21 11:35] innovia commented on #3130
Thanks!

[2017-11-21 11:53] SharpEdgeMarshall opened #3177 "Multiple upgrades without changes generates new revisions"
## Issue
Don't know if this is by design, running `helm upgrade` multiple times without changes generates new revisions.
Actually we are running upgrades in CI and using `--history-max` option cause our history to be filled of clone revisions erasing the different ones.

## How to reproduce
Run upgrade 2 times without changes
`helm upgrade --install --wait my-release ./my-chart -f./my-values.yaml`

[2017-11-21 12:24] gianrubio opened #3178 "Release 2.7.2 is not published to windows platform"
[code]

[2017-11-21 14:55] #3160 closed

[2017-11-21 18:02] drewwells commented on #3111
This happens for any chart that you attempt to package after the local repo is corrupted

[code]

Same line number on every error message. I've kept the broken repo this time, for further debugging (but can't share it)

[2017-11-21 18:07] bacongobbler commented on #3178
I updated the release documentation for 2.7.2 and this is noted in the release documentation at #3091 for future releases. Thanks for bringing this up!

[2017-11-21 18:07] #3178 closed

[2017-11-21 18:09] bacongobbler commented on #3156
IIRC this is what [helm-diff](https://github.com/databus23/helm-diff) solves. Can you give that plugin a shot? :)

[2017-11-21 18:12] bacongobbler commented on #3165
You may want to take a look at how the stable charts do it at https://github.com/kubernetes/charts. There are probably a few common patterns used to install roles and rolebindings for certain charts.

[2017-11-21 18:42] davidnewman commented on #2672
@Noah-Huppert @jeff-knurek

You can actually do the following and it works with a repository alias just fine:

`repository: '@somerepoalias'`

This is actually critical because if you have done some work to put your private helm repository behind something like HTTP Basic auth, then using the actual URL doesn't make any sense.

I think the alias feature is OK if you're using a private repository b

[2017-11-21 18:43] rcorre opened #3179 "Helm cannot install a namespace template"
Helm cannot install the following template:

[code]

The problem is acknowledged in [this comment](https://github.com/kubernetes/helm/issues/2853#issuecomment-325366436), but the OP was a little different from this. In my case, the namespace does not exist prior to `helm install`. However, helm (presumably) creates the namespace first, then tries to run the template, and bails out claiming the nam

[2017-11-21 19:36] jdolitsky commented on #3179
+1

[2017-11-21 21:08] mikelorant commented on #3121
Has now jumped up to 8GB of ram. I don't feel the issue is fixed.
[code]

[2017-11-21 21:14] SlickNik commented on #3121
@mikelorant Can you please also verify if you're still seeing the large number of socat processes running as child processes of kubelet even after the fix? Thanks!

[2017-11-21 21:53] kfox1111 opened #3181 "json patch support"
As a user and as a developer, I'd like helm to be able to support json patch. (http://jsonpatch.com/)

As a developer, I should be able to write a chart that inherits from another chart that:
 * 0 or more new objects
 * contains 1 or more json patch templates.
 * the patches are templated out in the same way normal k8s objects are. .Values etc all work normally.
 * the format of the rendered objec

[2017-11-21 21:59] kfox1111 commented on #3181
@jascott1 what do you think?

[2017-11-21 22:16] helgi opened #3182 "Helm loses connectivity to Tiller on long running deploys when Tiller is behind a NAT Gateway in AWS."
I'm running into a scenario currently where charts are deploying a lot of replicas with readiness/liveness probes set rather high and the connection is being closed (transport is closed error).

Am running on AWS so most people would point at it being an ELB issue, however, I do have that set to a good 1 hour; I do have AWS NAT Gateways in play. NAT Gateways do kill a connection after 5 minutes of

[2017-11-21 23:24] mikelorant commented on #3121
Here is some comparison info of other nodes.
[code]
1693 and 16044 are where Tiller has run previously.

[2017-11-21 23:35] egeland commented on #3121
Maybe the fix that's in is _partially_ successful - it sounds like it's dealt with the _socat_ processes part of the problem, but there's still some leaks from other, similar things?

[2017-11-21 23:42] frankreno commented on #3165
I have this same issue.  If I pre-create the RBAC configuration then install the chart (which has hooks that run with the previously created service account it works fine.  However, if I properly annotate the RBAC config with the weights to install them before the weight of the hook, i get the above error.

[2017-11-21 23:53] SlickNik commented on #3121
@egeland Yes, that was exactly my line of reasoning -- it's possible that the fix addresses only part of the issue causing the memory leak.

[2017-11-22 04:05] #3098 closed

[2017-11-22 09:30] patvdleer commented on #1811
Same issues here, I'm running `1.6.11-gke.0` on gcloud, deployments are done via gitlab using helm.

[2017-11-22 10:22] cgebe opened #3186 "Overwrite names of dependecies of subcharts"
I am encountering the following problem:

I want to deploy an umbrella chart which holds two subcharts, each subchart is a microservice which uses mysql as database. So mysql is a dependency in each subchart. Now i do want to deploy two seperate mysql charts in my system. When i try to install the umbrella chart, i get the message that {Release}-mysql templates are already deployed. `Error: releas

[2017-11-22 11:27] wknapik commented on #3088
Same behavior with `Client: &version.Version{SemVer:"v2.7.2", GitCommit:"8478fb4fc723885b155c924d1c8c410b7a9444e6", GitTreeState:"clean"}`

[2017-11-22 13:10] prune998 opened #3188 "deploy charts with the same name in different namespaces"
Hi,
Here is the use-case I can't reproduce using Helm.
Let's say I want to deploy a database for the `dev` namespace, but I also need one for the `prod` namespace.
I would deploy in dev :
```helm install --name kafka --namespace dev kafka ```

Then my other services in dev can reach Kafka using the service `kafka-kafka`. This is pretty ugly, but well, I can do with it.

Then, when deploying to `PR

[2017-11-22 16:20] #1776 closed

[2017-11-22 16:30] #3182 closed

[2017-11-22 16:39] #3115 closed

[2017-11-22 17:32] #2962 closed

[2017-11-22 17:35] k8vance88 opened #3189 "Need ability to reuse configmaps between multiple helm chart releases"
I see that you can mark a resource to not be deleted after uninstalling a release.  However, I'm still not able to reuse the configmap.  I would like to have a configmap be used over and over again by many helm releases at the same time.

The problem that I run into is that once the configmap is created, if I install another helm release, then it fails because the configmap already exists.  On ins

[2017-11-22 17:42] bacongobbler commented on #3189
@k8vance88 so if I'm understanding this correctly, you are doing the following:

$ helm install mychart --name foo
$ helm delete foo
$ helm install mychart --name foo
[code]
$ helm install mychart --name foo
$ helm delete foo --purge
$ helm install mychart --name foo
[code]
$ helm install mychart --name foo
$ helm delete foo --purge
$ helm upgrade foo mychart
[code]

[2017-11-22 17:43] k8vance88 commented on #3189
Actually we are thinking you may install the chart more than once.  Where both versions are running at the same time independently.

[2017-11-22 17:49] bacongobbler commented on #3189
Ah, gotcha. Thank you for clarifying!

This sounds like an interesting feature. I would love to hear more about this in the form of a design document! That way we can talk in more detail about the design decisions required to make this work as  well as any proposed changes to Helm that may or may not be breaking changes in the API.

[2017-11-22 19:58] canhnt commented on #3156
@bacongobbler: thanks! It solved my problem. However current plugin version requires the chart as a local file rather than in a repository. Looking forward to seeing next improvement.

[2017-11-22 20:05] bacongobbler commented on #3156
Specifically I'd follow up on https://github.com/databus23/helm-diff/issues/9

[2017-11-23 06:42] yahavb opened #3191 "helm guestbook example"
I ported the kubernetes/examples/guestbook to helm. I validated it in GKE and plan to do so in AWS-based cluster. Do you guys want me to share it for the benefits of those who uses the kubernetes examples?

[2017-11-23 09:22] mfojtak commented on #3130
the above doesn't work Still getting
[code]

[2017-11-23 13:40] cgebe commented on #3186
`charts/stable/mysql/templates/_helpers.tpl`
[code]

[2017-11-23 13:40] #3186 closed

[2017-11-23 14:25] mkjpryor-stfc commented on #3165
I have the same issue.

[2017-11-23 14:53] benlangfeld commented on #3188
If one were to run a Tiller instance in each namespace, scoped to that namespace, this would be achievable. This also avoids Helm being used to circumvent RBAC.

[2017-11-23 15:24] benlangfeld commented on #3191
If you've already written it, I see no reason not to share it. I don't think you need to ask for permission :)

[2017-11-23 15:39] #1639 closed

[2017-11-23 15:41] bacongobbler opened #3195 "refactor symwalk into pkg/symwalk"
That way others from the community can use a symwalk package that is Apache v2 licensed.

See https://github.com/kubernetes/helm/pull/3113#issuecomment-344693341

[2017-11-23 15:45] #1186 closed

[2017-11-23 15:48] #3168 closed

[2017-11-23 16:27] adshmh commented on #2566
Just submitted a PR for app-version. Will work on --set next.

[2017-11-23 17:42] Bert-R commented on #2566
Thanks a lot Arash for working on this!

[2017-11-23 19:20] ngeor opened #3198 "Support environment variable replacements during helm package"
It would be great if the command "helm package" is able to handle environment variables inside yaml files.

For example, consider the following Chart.yaml:

[code]

When running APP_VERSION=1.0.1 helm package, this should generate a tgz file in which the Chart.yaml will have gone through environment substitution (so we'll have `version: 1.0.1`).

The same should be supported for all yaml files. Th

[2017-11-24 06:42] xuelongjiang commented on #2872
I get the same problem:
[root@master ~]# helm version
Client: &version.Version{SemVer:"v2.6.1", GitCommit:"bbc1f71dc03afc5f00c6ac84b9308f8ecb4f39ac", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.6.1", GitCommit:"bbc1f71dc03afc5f00c6ac84b9308f8ecb4f39ac", GitTreeState:"clean"}

[root@master ~]# helm list
Error: Get http://localhost:8080/api/v1/namespaces/kube-system/configmaps?labelSel

[2017-11-24 09:42] TimJones commented on #2941
The only way I have found so far is to run a `helm delete --purge` on the release and redeploy. Thankfully, we've only had this bug hit our 'staging' deployments so far, so the loss of service wasn't an issue.

[2017-11-24 10:37] francisdb commented on #1811
We see the same with `1.8.2-gke.0`
Should we create a new ticket?

[2017-11-24 15:19] kazazuz commented on #2295
burner@kube:~$ kubectl --namespace kube-system describe pod tiller-deploy-5b9d65c7f-qncnh
Name:           tiller-deploy-5b9d65c7f-qncnh
Namespace:      kube-system
Node:           <none>
Labels:         app=helm
                name=tiller
                pod-template-hash=165821739
Annotations:    kubernetes.io/created-by={"kind":"SerializedReference","apiVersion":"v1","reference":{"kind":"Replic

[2017-11-24 15:47] bacongobbler commented on #2295
@kazazuz here's the important error message:

This is Kubernetes flipping belly over. Check and see if your nodes are in a healthy state with `kubectl describe nodes`.

[2017-11-24 15:48] bacongobbler commented on #1811
I'll re-open this one. Would you all please send us reports on how/what occured, and what you did (if anything) to resolve the issue?

[2017-11-24 15:57] francisdb commented on #1811
how we reproduce:

1. update image version in chart
2. `helm upgrade staging -f inventory/staging-environment.yaml ./foo-environment`
3. we see one extra replica set

foo-environment controls 3 pods with each one container
we changed version for one pod
as expected pod indicates one container `Terminating`, one `ContainerCreating`

Is there a way to get logs for the actions performed on the cluste

[2017-11-24 20:37] #2566 closed

[2017-11-24 21:22] Starefossen commented on #2941
Confirming that `helm delete <release> --purge` worked for this issue. Modifying the ConfigMap and restarting tiller did not.

[2017-11-24 22:30] adshmh commented on #3141
I have started work on this.
Considering the comments on #2566, are we looking for --values or --set (or both?)

[2017-11-24 22:34] bacongobbler commented on #2941
@Starefossen did you try removing the ConfigMap?

I agree that this is a big issue, but in the meantime that should be good enough for a workaround until we can nail down the root cause.

Additionally, helm 2.7 introduced the `--history-max` feature flag to `helm init` so tiller will only store a certain number of releases in the ledger, which may further mitigate this issue.

[2017-11-25 07:39] yahavb commented on #3191
Thanks, I signed the contributor agreement. I created a local branch that includes my additions but when I execute `git push --set-upstream origin guestbook-helm-example` it fails due to permission issues.
[code]

[2017-11-25 07:58] yahavb commented on #3191
Pull request https://github.com/kubernetes/helm/pull/3201

[2017-11-26 17:42] hobti01 commented on #2243
@technosophos, is this feature intended to handle the use case of @spiddy and @wstrange or should we write a custom rudder implementation as @bacongobbler suggests (could you please provide a doc link to write our own rudder back end)?

I would expect that proper ordering of packages (Charts) during install (and uninstall) is the responsibility of the package manager.  We're facing some difficulti

[2017-11-26 18:09] bacongobbler commented on #2243
Where did I suggest implementing a custom rudder? :)

If you're referring to https://github.com/kubernetes/helm/issues/2243#issuecomment-340919277, I was suggesting a completely different tool called [brigade](https://github.com/Azure/brigade) which can be [used in pair with helm](https://github.com/technosophos/hello-helm/blob/7b8b7fb4dd0d9cb31b7e789b8874800b2a80ae31/brigade.js#L22-L27) to handle

[2017-11-26 18:21] hobti01 commented on #2243
I didn't mean to misquote you, but I read comment https://github.com/kubernetes/helm/issues/2207#issuecomment-340916264  as "use brigade or write a rudder back end" apologies if I mis-understood :-)

Brigade seems a bit heavy handed for Chart sequencing, although I could see how one could install charts one by one in an order.  But then Chart dependencies in helm become superfluous. ;-)

I'd like

[2017-11-26 19:16] shadycuz commented on #1455
@technosophos Any idea how to fix this when using helm inside of a pod in the k8?

I'm using gitlab-runners to build projects inside of pods. Kubectl works, its pointing to `https://kubernetes.default` but helm doesn't.

[code]

[code]

[2017-11-26 20:49] shadycuz opened #3203 "Running helm client inside k8 (User error...)"
I'm trying to run the helm client in a pod.  Tiller was already deployed when helm was run from outside of the cluster.

My kubeconfig inside of pod has a token from a service account (tillers service account) and points to kubernetes.default.

Kubectl works
[code]

helm, not so much.
[code]

I used this same kubeconfig on a new machine, outside the cluster and helm works fine. Not sure where the

[2017-11-26 20:52] shadycuz commented on #3203
helm init for the curious
[code]

and the tiller pod

[code]

[2017-11-26 20:53] shadycuz commented on #3203
Just to be clear I plan on running this image in a pod, but right now it's running from a gitlab-runner pod, so it's docker in docker. Might be my issue but I was under the impression if kubectl worked, helm would as well.

[2017-11-26 21:10] shadycuz commented on #3203
Hmm so I installed helm client to the pod and not the docker in docker. oh boy...

I'm new to docker... and so I didn't pass my kube_config to my new container properly, so no kubectl was set at all.

When set properly I get
[code]

The above error is weird, because like I said I can list pods with that same kubeconfig from outside the cluster.

Should I just move tiller into the shared-services n

[2017-11-26 21:22] shadycuz commented on #3203
Fixed when actually passing in a kubeconfig to the docker image... where is the blush emoji when I need it lol.

[code]

[2017-11-26 21:22] #3203 closed

[2017-11-27 11:23] sonoroot opened #3204 "kube-prometheus: requirements.yaml "no repository definition""
Hi all - thanks for the great work on this project.

I might be wrong, my Helm knowledge is still close to none, but it looks like the dependencies for `kube-prometheus` are not being found in the indicated S3 bucket?
[code]
Apologies if I'm completely off track on this one...
Regards,
Giuseppe

[2017-11-27 11:36] sonoroot commented on #3204
please ignore:
[code]
After adding manually the repo, then the install continues without problems.

[2017-11-27 11:36] #3204 closed

[2017-11-27 15:21] krancour commented on #2243
@hobti01 this issue doesn't have to do with the install / uninstall sequence of dependent charts. It has to do with a sequence _within_ a given chart. The canonical example I was working from was a job for db migrations may need to run (to completion) before a deployment is created or updated. And secrets and configmaps common to those jobs may be common to both the migration job and the deploymen

[2017-11-27 16:34] k8vance88 commented on #3189
Do you have a design doc template?

[2017-11-27 16:40] bacongobbler commented on #3189
We don't have a template, but a good practice is to describe the following, each in their own section:

1. Abstract: a short (~200 word) description of the technical issue being addressed.
1. Specification: The technical specification should describe the syntax and semantics of the feature. The specification should be detailed enough to give users (and maintainers) a reference to better understand

[2017-11-27 19:38] eulerjiang commented on #1051
To be clear, the cloned helm repo should be under $GOPATH/src/k8s.io/helm.  After build, you should see the binary file helm under $GOPATH/src/k8s.io/helm/bin folder.

 If you put it under other directory like /root/helm, you can't build helm.

[2017-11-27 22:37] jascott1 commented on #3177
Hi @SharpEdgeMarshall,
Helm increments the revision when you perform an upgrade. It does not diff the release to make any decisions. It does not auto increment anything other than the release revision. This behavior is by design. Perhaps we can find some solution for your use case. Can you describe more about what you are trying to accomplish?

[2017-11-27 22:43] jascott1 commented on #3198
Hi @ngeor
PR https://github.com/kubernetes/helm/pull/3196 was just merged that allows you to set the package version with `--app-version` flag. Does specifying that with your environment variable (e.g. `helm package --app-version=$APP_VERSION`) fulfill your needs?

[2017-11-27 22:55] bacongobbler commented on #3198
it indeed does, and the second use case of "dynamically specify the Docker image tag in values.yaml" should be solved via `helm package --values/--set`, which is described in #3141.

Good catch, @jascott1.

[2017-11-27 22:56] bacongobbler commented on #3198
Does this sound right to you @ngeor? If so I think we can close this one out in favor of the previously opened feature request in #3141.

[2017-11-28 04:17] au-phiware commented on #3017
I have this same issue.
[code]

[2017-11-28 06:21] tarequeh commented on #1707
While struggling with this issue today I found out that the `toString` filter can help with this:

`dockerPort: {{ .Values.dockerPort | toString }}`

Then I was able to pass the port in command line (`--set dockerPort=2376`) and have it interpreted correctly.

[2017-11-28 09:02] ngeor commented on #3198
Good morning,

thanks for the suggestions! It seems that I might be able to put them into good use and get rid of the custom workaround.

For the Docker tag, the `helm upgrade --install --set` will probably do (not `helm package`).

For the Chart version, I think actually `helm package --version` might do what I want just fine, I don't even need the new `--app-version` flag.

The idea is to take t

[2017-11-28 09:03] #3198 closed

[2017-11-28 09:09] SharpEdgeMarshall commented on #3177
Actually i'm using a git repo containing initial configs for my cluster like: some manifests to install before Tiller, some custom values files for charts. When a commit is made the CI runs `helm upgrade xxx` on all charts configured and here the version increments even without changes.
I should give a look to brigade that helps orchestrating multiple charts but i don't know if it's able to mitiga

[2017-11-28 09:22] ngeor commented on #3141
A nice use case is described in the issue I opened ( #3198 ), in which I'd like to be able to do:

`helm package --version 1.2.3 --set image.tag 1.2.3`

This way the chart version and the docker image version are one and the same.

[2017-11-28 10:02] wallrj commented on #3140
@bacongobbler Thanks for your reply. We've scaled up our test infrastructure as you suggested.

[2017-11-28 10:02] #3140 closed

[2017-11-28 12:03] sliverc commented on #2948
I have also encountered this error with Helm v2.7.2. It seems that condition in requirements.yaml doesn't reuse values from previous install even though `--reuse-values` is used.

[2017-11-28 16:03] brinnehlops opened #3207 "tiller upgrade --install flag no longer works"
As of helm v2.7.1, after updating tiller, running helm upgrade --install flag no longer works. The following error is displayed: Error: UPGRADE FAILED: "${RELEASE}" has no deployed releases. Downgrading to v2.7.0 or v2.6.2 does not produce the error.

[2017-11-28 16:03] brinnehlops opened #3208 "helm upgrade --install no longer works"
As of helm v2.7.1, after updating tiller, running helm upgrade --install flag no longer works. The following error is displayed: Error: UPGRADE FAILED: "${RELEASE}" has no deployed releases. Downgrading to v2.7.0 or v2.6.2 does not produce the error.

[2017-11-28 16:04] brinnehlops commented on #3207
Browser error duplicated my post.

[2017-11-28 16:04] #3207 closed

[2017-11-28 16:30] mparry opened #3209 "helm package crashes if CHART_PATH doesn't exist"
For example:

[code]

This gives:

[code]

Expected result is:

[code]

I think this is due to the changes in #3113.

[2017-11-28 16:36] bacongobbler commented on #3209
#3113 was only recently merged so it's not in an official release yet. Which version of helm are you testing with?

[2017-11-28 16:38] mparry commented on #3209
Local build. I only opened the ticket so I could submit a PR. Or will #3195 mean that this doesn't need fixing (because it's going to change anyway)?

[2017-11-28 16:39] bacongobbler commented on #3209
You can give #3199 a shot and see if that fixes the issue!

[2017-11-28 17:20] mparry commented on #3209
Ah, ok, probably. (My fix was just to check `err` at the top of the old `symWalk()` function.)

I reckon this can just be closed then.

[2017-11-28 18:04] bacongobbler commented on #3209
Yeah, that case is likely covered by https://github.com/bacongobbler/helm/blob/6fff4f97cdbad5e18e66356f0851e45c2e60cc78/pkg/sympath/walk.go#L36-L45 so we can close this out once that PR is merged.

[2017-11-28 19:22] baldeynz commented on #3165
I have the same issue

[2017-11-28 20:20] mcwienczek commented on #3149
+1 for this. I've seen many times that deployment has failed because of wrong application configuration or implementation and the only thing that saved us were old replicas of the application still running.

[2017-11-28 20:32] brosander commented on #3181
I would really like the ability to add sidecars to dependencies.  I would be concerned about charts becoming fragile though if they reach too far into their dependencies' templates.

[2017-11-28 20:46] mcwienczek commented on #3089
There are a few days to approach this:
1. Implement MVP in a form of minimal feature set required to successfully use the Operator
2. Start working on it, but announce to the community that it is an alpha feature. This is exactly the Kubernetes approach.
3. Take something like @anguslees or @nicolerenee have created and incorporate it into helm source code

First though, I think we need Technical

[2017-11-28 21:03] bacongobbler commented on #3089
We're still ironing out some things in prep for the summit, but it'll likely occur in Portland in early 2018. Stay tuned in #helm-users!

[2017-11-28 22:00] k8vance88 commented on #3189
Abstract:
Ability to have installed multiple instances of the same Helm chart (at the same time) such that all instances (releases) share the same configmaps.

Specification:
The helm chart developer would mark resources as sharable.  The helm chart install would then update rather than create the resource. A sharable resource would only be deleted (upon deletion of a helm release) if no other hel

[2017-11-29 01:19] rjminsha commented on #3153
Quick thoughts ...
The daemonsets could share a local volume and set a state file in that volume.  The init script for the containers waits on that state to flip to <version>-ready before proceeding with the upgrade logic.  Readiness checks can then also return based on the same state.

Alternatively could provide a prereq env to daemonsets, they check for the prereq and wait till it is up to spee

[2017-11-29 01:24] thomastaylor312 commented on #1844
@msavlani What kind of change did you make to the deployment

[2017-11-29 01:48] bacongobbler commented on #3121
Re-opening; this was automatically closed through GitHub interpreting “patially fixes” as “fixes” :P

[2017-11-29 05:33] ITPROMatthew commented on #3133
We also have this problem but for us it just randomly stopped working.
Same issue no errors just hangs

[2017-11-29 07:50] Stibbons commented on #3133
I close this issue. Helm works great, but since tiller is clusterip we cannot access it from our lab network. What is weird is how it worked previously on kube 1.6?
Now I proxy the execution with a pod running inside the cluster and it works great

[2017-11-29 07:50] #3133 closed

[2017-11-29 11:06] balboah opened #3210 "Adding and managing subcharts in umbrella chart"
I'm using an umbrella with multiple subcharts as linked directories with everything in the same repo (no requirements spec).

Now when adding new subcharts for a new service, I need to know whether it's just being added for the first time or if it's an upgrade. This is due to the fact that the installed chart adds new k8s api endpoints.

Previously I've successfully used `{{ if .Release.IsUpgrade

[2017-11-29 12:34] unguiculus opened #3211 "Test pod not deleted with helm.sh/hook-delete-policy"
I have a chart with tests. The test pod is annotated as follows:

[code]

I would expect the pod to be deleted once the test has run successfully. This is, however, not the case.

[code]

[2017-11-29 21:20] nicolerenee commented on #3089
I would like to be involved in building out the Technical Design Document as well as helping with the implementation.

[2017-11-30 01:45] cory-klein commented on #1707
We just saw this on 2.7.2 and most of the workarounds don't really work for us except writing all the `--set` options to a local file and passing that via `helm -f locals.yml`.

[2017-11-30 08:38] burdiyan commented on #3089
We finally revisited our workflow, and since we managing our infrastructure with Terraform we managed to handle Helm releases with Terraform in a declarative way using a custom plugin.

I also developed a plugin for Helm that allows to change values of a running release without specifying the chart again: https://github.com/burdiyan/helm-update-config/.

So we initially deploy all the charts with

[2017-11-30 09:31] gyliu513 commented on #3158
/cc @ajayapte @mdelder

[2017-11-30 10:56] tcolgate commented on #3208
I thought I was experiencing the same problem, but it turned out I just had an old delete (but not purged), release hanging around. check helm list -a , and if your release is there, helm delete --purge releasename

[2017-11-30 14:43] libesz commented on #3159
Up!
We would have interest in implementing this. Simply need a thumbs up that it will be accepted as described above.
Thanks!

[2017-11-30 16:18] bacongobbler commented on #3208
This is a side-effect of fixing issues around upgrading releases that were in a bad state. https://github.com/kubernetes/helm/pull/3097 was the PR that fixed this issue. Is there an edge case here that we failed to catch?

[2017-11-30 16:44] wknapik commented on #3111
I've been seeing this error from time to time as well. It's *really* annoying when it happens in CI jobs. Never thought to delete the .helm directory. Could be a workaround...

[code]

[2017-11-30 16:53] ninadpage opened #3215 "Possible to pass multiple objects to a named template?"
For a named template, is there any way to pass multiple parameters/scopes, or a struct $variable composed from multiple values?
The problem I'm trying to solve is this:

1. My values.yaml (effective):
[code]

2. I have a named template as follows:
[code]

3. I include it in a Deployment manifest as follows:
[code]

However, `$.Values.hostWorkspacePath` cannot be resolved, since the root context in

[2017-11-30 17:08] technosophos commented on #3215
This is fairly well documented in the template guide at http://docs.helm.sh and http://masterminds.github.io/sprig/

In a nutshell, yes, you can assign just about anything to a variable, and within templates you can build up data structures as `dict` objects (dictionaries) and `list` or `tuple` objects. Then you can pass those objects into templates via `template` and `include`.

Typically, when c

[2017-11-30 17:21] clementnero commented on #3165
I have the exact same issue.

[2017-11-30 18:04] ninadpage commented on #3215
Thanks @technosophos, using `dict` did the trick.

[2017-11-30 18:04] #3215 closed

[2017-11-30 18:13] matth-boise opened #3216 "helm install (of umbrella chart) hangs though release status is DEPLOYED"
helm version 2.7.2 (client and tiller), kubectl version 1.7.10 (client and server)

**when running on an AWS EC2 (ubuntu 16.04)**
- helm ls works
- helm install different/smaller chart works
- helm install larger umbrella chart hangs
    `helm install --debug --timeout 1200 --namespace xxx umbrellachart # command does not return`
- helm ls shows release status is DEPLOYED (note: takes about 15 min

[2017-11-30 18:16] matth-boise commented on #3216
ha!  i posted too early: does anyone have an idea how to triage this?  lsof shows:
[code]

[2017-11-30 18:49] TD-4242 commented on #3208
Also having the same problem, along with duplicate release names:

[code]

[2017-11-30 19:07] bacongobbler commented on #3208
When you were upgrading, what message was displayed?

[2017-11-30 19:08] jroucheton commented on #3211
Hi,

I have the same kind of issue.
I defined the following job:

`apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Chart.Name }}
{{ include "{{ .Chart.Name }}.labels" . | indent 2 }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "1"
    "helm.sh/hook-delete-policy": hook-succeeded
.......`

But even if this job has been executed with success, this one i

[2017-11-30 20:09] TD-4242 commented on #3208
same error as the diff above, but an install would say it was already installed.

[2017-11-30 20:14] matth-boise commented on #3216
more information:
- this umbrella chart takes about 15 minutes to install because it uses helm hook jobs to do ordered things like db migrations
- i have reproduced this several times
- one time, tiller showed the release failed (after about 8 minutes) but helm did not return and show the failure.  (it was hung)
- i got go stack trace of helm in this condition but... it's meaningless to me (and lo

[2017-11-30 20:20] bacongobbler commented on #3208
I mean in the previous upgrade attempts that ended up in a FAILED status. I want to know how we get into the situation where all releases are in a failed state.

[2017-11-30 21:58] matth-boise commented on #3182
@helgi when helm lost connectivity to tiller, did helm exit with an error?  or just hang?

[2017-12-01 00:24] helgi commented on #3182
@matth-boise It exited with "Transport is closed" or just about that language.

[2017-12-01 02:10] #2745 closed

[2017-12-01 03:02] michelleN opened #3218 "ignoreFlags in plugin.yaml also ignores arguments passed in"
When ignoreFlags is set to true in plugin.yaml, it also ignores any arguments passed in.

[2017-12-01 06:06] TD-4242 commented on #3208
Ohh, the duplicate release name deployments?  That I'm not sure, I get it quite often.  Sometimes they are all in a DEPLOYED state, sometimes a mix of FAILED and DEPLOYED.  We use a CI/CD Jenkins server that constantly updates every PR merge so we do several `helm upgrade`'s a day, typically only having a new container tag.   Usually the duplicates are just annoying when looking at whats deployed,

[2017-12-01 11:07] boosh commented on #2426
I'm seeing this with helm 2.7.2 on k8s 1.8.3-gke.0.

In my dev env with `replicas: 1` it works fine. In staging with `replicas: 2` helm hangs for the full duration of the timeout, yet all pods are running. The pod uses the following deployment strategy:

  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate

The only other thing to note is this chart runs

[2017-12-01 14:56] wknapik commented on #2258
I'm seeing this in my CI jobs from time to time.

At this point, due to #3111, I do `rm -fr ~/.helm` at the beginning of the pipeline ($HOME is per branch and only one pipeline can run for each branch at the same time, so there's no race condition).

This is what I saw today (this is output from a make target that calls `helm package`):
[code]
The output looks like it's out of order, but make was

[2017-12-01 15:01] wknapik commented on #2258
@bacongobbler
(not sure if you get notifications for closed issues)

[2017-12-01 15:20] unguiculus commented on #3211
@jroucheton My issue is specifically about tests. For other hooks `helm.sh/hook-delete-policy` works as expected for me.

[2017-12-01 16:07] kfox1111 commented on #2925
I"m seeing this issue too. even with 2.7.2.
Error: apiVersion "kubeprovision.github.com/v1" in kube-provision-node/charts/reference-templates/templates/kickstart-kpntemplate.yaml is not available

[2017-12-01 16:10] bacongobbler commented on #2258
I’ll re-open this one then. :)

[2017-12-01 17:37] thomastaylor312 commented on #2426
@boosh Do both of your pods show up as ready while it is hanging?

[2017-12-01 17:38] thomastaylor312 commented on #2925
@kfox1111 We only fixed the ordering. The full description of the problem is in [this comment](https://github.com/kubernetes/helm/issues/2925#issuecomment-328904829) above. That appears to be what is happening

[2017-12-01 18:26] robbiezhang opened #3219 "Windows: Helm Install with Remote URL doesn't Work"
`helm version`

`helm install https://github.com/Azure/aci-connector-k8s/raw/master/charts/aci-connector.tgz --name aci-conn-robbie --debug`

The chart exists. I download it locally, and run "helm install" against the local file it works.

[2017-12-01 18:37] bacongobbler commented on #3219
Hey @robbiezhang, can you first try to run `helm init --client-only` first before running `helm install`?

[2017-12-01 18:58] jgiles opened #3220 "Feature Request: Support setting a prefix/namespace for all values in a --values file"
**Summary**
For the `-f, --values` flag, support something like
[code]
This would have the effect of prefixing all values in `valueFile.yaml` with `added.prefix.`.

Concretely, supposing the contents of `valueFile.yaml` were:
[code]
Then the `helm install` command above would be equivalent to:
[code]
The `:` separator is an arbitrary suggestion, something else might be better. The parsing story is

[2017-12-01 20:01] omkensey opened #3221 "Helm should allow easier "management" of child charts placed manually in `charts`"
I have a PR (kubernetes/charts#1719) that uses two subcharts, with a `requirements.yaml` to make it easy to choose whether one or the other is not deployed.  Currently the acceptance test is failing because it does `helm dep up` before trying to install the chart, and with no `repository` line in requirements.yaml `helm dep up` fails.  Declaring the "local" repository causes `helm dep up` to fail

[2017-12-01 21:01] bq1756 opened #3223 "How to destroy Tiller from cluster"
I want to destroy the instance of **tiller** running in my cluster.  Really, I want to redeploy **tiller**.  However, **tiller** won't go away.  How can I remove **tiller**?

What I have tried so far......
Use kubectl commands:
  kubectl -n "kube-system" delete deployment tiller-deploy
  kubectl -n "kube-system" delete service tiller-deploy
  Results:  tiller pods recreates itself

Use helm comman

[2017-12-01 21:09] bacongobbler commented on #3223
How did this happen? :) `helm init` deploys tiller as a deployment, which deploys replica sets/pods.

`kubectl -n "kube-system" delete deployment tiller-deploy` should be the way to remove tiller from the cluster assuming it was deployed using `helm init`.

[2017-12-01 21:12] bacongobbler commented on #3223
Also, which cloud provider are you using? I know in certain instances (like on ACS) tiller is deployed through their addon manager, and this manifested in a bug. See https://github.com/Azure/ACS/issues/55 for more background on that one.

[2017-12-01 21:27] bq1756 commented on #3223
I deployed on ACS via acs-engine.  https://github.com/Azure/ACS/issues/55 explains the issue.

[2017-12-01 21:27] #3223 closed

[2017-12-01 21:55] robbiezhang commented on #3219
yes, I tried to delete ~/.helm, and `helm init --client-only` and `helm repo update`, but I still get the error.
I finally find a workaround. I notice that `C:\Users\[user]\.helm\repository\cache\local-index.yaml` doesn't exist. After I copy an empty index there, it works for me.
It looks like a bug in the `helm init` or `helm repo update`, since they should create the file for me.

[2017-12-01 22:10] bacongobbler commented on #3219
Yeha this could be related to some other windows-related bugs we saw a few releases back. I'll tack this onto #2456.

[2017-12-01 22:11] bacongobbler commented on #2456
Tacked on #3219 to the list.

[2017-12-01 22:12] bacongobbler commented on #3219
interesting... This same error popped up in https://github.com/kubernetes/helm/issues/2071 as well. I'll see if I can re-validate that bug. If so then we'll re-open that one and close this out as a duplicate.

[2017-12-01 22:13] bacongobbler commented on #2071
According to #3219 this was not fixed in v2.7.1. Re-opening this bug to do further investigation.

[2017-12-01 22:14] bacongobbler commented on #3219
closing as a duplicate of #2071. I've gone ahead and re-opened that issue. Thank you for the report, @robbiezhang!

[2017-12-01 22:14] #3219 closed

[2017-12-01 23:01] pietromenna commented on #2071
Hi @bacongobbler ,

I will check in a new machine if there was an environment setting which made the issue not to happen after the changes on 2.7.1

[2017-12-02 17:45] fgimenez commented on #1915
I'd like to give it a try, hopefully will have a PR ready soon :)

[2017-12-03 11:48] withnale opened #3225 "JSON support for values"
Whilst I can see some other tickets here relating to JSON in various contexts none of them seem to directly address the ability to use JSON in the various contexts where we work with values. Whist we work heavily with YAML most of the time, sometimes we need JSON support as well.

Ideally, it would be great if:

- we could specify 'helm get values -o json'
- like kubernetes, the install/update/tem

[2017-12-03 17:35] kfox1111 commented on #1961
I just ran into something like this issue...
I have a chart with nginx-ingress in it. and a subchart with nginx-ingress in it too. it failed as both expect to use {{ .Release.Name }}-{{ .Chart.Name }}. but the subchart does not get a unique Release.Name so the names conflict.

level wouldnt solve the issue if there were two subcharts each with their own nginx.

The only way to fully solve this I t

[2017-12-03 18:47] withnale commented on #3220
`-f my.prefix=foo.yaml` as an optional prefix would seem to be a good fit

[2017-12-04 01:43] danderson opened #3229 "Using helm links to non-existent section on Tiller TLS configuration"
https://docs.helm.sh/using_helm/ says:

[code]

The link points to https://docs.helm.sh/using_helm/#tiller_ssl , which does not exist.

[2017-12-04 10:48] boosh commented on #2426
@thomastaylor312 Yes

[2017-12-04 16:19] benkeil commented on #3163
We have the same problem. We deploy our whole application stack with helm. Our application use dependencies that also can deployed alone. So we have the following dependency hierarchy:

[code]

The `Services-Namespace-Config` for example includes a configmap that provides properties for centralized logging and can be used by all services in the services namespace.

In order to deploy `Basic-Servic

[2017-12-04 17:47] kfox1111 commented on #3089
helm-update-config looks super helpful. Thanks. :)

I have to admit, I've accidentally updated the package along with the config on a couple of occasions. This seems like a good safety net.

Can this be rolled into helm cli natively?

[2017-12-04 17:58] jascott1 commented on #3221
@omkensey Thanks for brining this up. IIRC when using `file://` and `helm dep up` it does not update dependencies, is that your experience? We might consider fixing `file://` for `charts/` dir as you said so that it works but does not update.

[2017-12-04 18:19] jascott1 commented on #3216
Hi @matth-boise

Sorry you are having trouble. Would it be possible to post a chart that demonstrates the problem?

[2017-12-04 18:21] omkensey commented on #3221
It looks like it tries to update, but fails.  I'm getting the same behavior as issue #2887.

[2017-12-04 18:26] jascott1 commented on #3132
@aneeta34 Sorry for the delay. If you are using `kubectl proxy` then you would make your requests with http not https. You should not need to run that for Helm to access a remote cluster though. I just wanted to make sure kubectl wasn't involved so we could eliminate that for troubleshooting. It does sound like you have a mismatch between the protocols tho. Perhaps your `.kube/config` has https bu

[2017-12-04 18:29] bacongobbler commented on #3159
So long as this is configurable through the CLI and documented, I don't see why not. 👍

[2017-12-04 18:46] jascott1 commented on #3124
@tillkahlbrock In addition to `server.service.type: NodePort' you also need to specify
[code]
as seen here https://github.com/kubernetes/charts/blob/master/stable/grafana/templates/svc.yaml#L22

Please let me know if you have any further trouble.

[2017-12-04 19:10] mansimarkaur commented on #1665
Hi! I would like to work on this issue as my first contribution.

[2017-12-04 19:15] bacongobbler commented on #1665
Awesome! Let us know if you're having any troubles. We're always available to help in Slack in the #helm-dev channel if you have any dev-related questions. :)

[2017-12-04 19:18] bacongobbler commented on #1665
it looks like #2871 already addresses this problem, so @bonhamjp's already beat you to the punch. Sorry!

[2017-12-04 19:20] mansimarkaur commented on #1665
I'm glad somebody else solved it already. I'll look for more issues. Thanks :)

[2017-12-04 19:35] jascott1 commented on #3229
@danderson Thanks for catching this! I have confirmed this is a link to missing section.

[2017-12-04 19:41] jascott1 commented on #2620
Hi @polasekr

Did @bacongobbler 's suggestion resolve this for you?

[2017-12-04 19:42] burdiyan commented on #3089
Thank!

I’ll be happy to submit a PR if maintainers are seeing it useful.

On 4 Dec 2017, 18:48 +0100, kfox1111 <notifications@github.com>, wrote:

[2017-12-04 19:42] burdiyan commented on #3089
Thanks!

I’ll be happy to submit a PR if maintainers are seeing it useful.

[2017-12-04 19:48] bacongobbler commented on #3229
This doc exists, but it's not in helm-www. See https://github.com/helm/helm-www/pull/63 for an example on how to get this into docs.helm.sh.

[2017-12-04 20:41] hypnoglow opened #3230 "Chart repository index allows to add multiple charts of the same version"
An oversimplified example:

[code]

Now index contains multiple records for the same version of the chart. Note that even their digests are same, but I think even in case of different digests index should not contain multiple records of the same version.

This makes all commands involving chart repository ambiguous/incorrect:
[code]

This behavior is caused by `IndexFile.Add()` in `pkg/repo/index.

[2017-12-04 21:24] matth-boise commented on #3216
@jascott1 unfortunately this is an umbrella chart that includes private images, so you cannot repro.

i'm not sure my description was clear but this helm install "hang" only occurs when running on an AWS EC2.  even though the helm install command does not return, tiller reports the release as successfully deployed.  when running helm on a local machine helm does not hang - and chart installs succe

[2017-12-04 22:24] bacongobbler commented on #3230
yes, feel free to provide a fix @hypnoglow! Duplicate entries with the same version should not exist. One way to fix this would be to add a prompt to `helm repo index` when a duplicate entry is found, prompting the user to ask which one they wish to serve. Alternatively, we can error out and inform the user on how to rectify the issue.

[2017-12-05 00:40] jascott1 commented on #3216
@matth-boise I was curious about the size and complexity of the chart as those are very long install times. How long does it take for the local install?

[2017-12-05 02:14] mattfarina opened #3231 "Feature: Pass in user-agent for http calls"
Some applications wrap helm and it can be useful to specify the user-agent when making HTTP calls. The specific use case here is for the charts CI. It will regularly make calls to the stable and incubator repos. To separate out the CI calls from other calls in the metrics it would be useful to specify the user agent string.

[2017-12-05 02:14] mattfarina commented on #3231
Note, I'm happy to write this.

[2017-12-05 02:59] yuvipanda commented on #3165
I had the same issue, it turns out it works on 1.8 clusters but not 1.7

[2017-12-05 04:11] bacongobbler commented on #3231
I’m all for this. Kubernetes just did this on their http liveness probes and I dearly wished I had that feature sooner to differentiate between incoming liveness probes and “real” requests.

[2017-12-05 17:03] bcorijn commented on #3208
I seem to have ended up with something similar, I see a few duplicates in my releases lists:
[code]
All of them seem to be in a DEPLOYED state, but it could well be that a previous upgrade failed at some point, as I have hit that bug several times. I am still on K8S 1.7, so have not updated to helm 2.7 yet.

[2017-12-06 01:23] omkensey commented on #3126
I like the modification @kfox1111 came up with.

[2017-12-06 02:18] colinmorelli commented on #2554
@bacongobbler generally I agree with you - but I think there are some cases where this does make sense. For example, I just used helm to install zookeeper. Everything that it sets up is fine, but the service is just a ClusterIP. In our development environment I’d like an internal load balancer setup so it can be accessed from outside the cluster. My options are, as far as I can tell:

- Edit the c

[2017-12-06 02:54] matth-boise commented on #3216
if by "local install" you mean running helm install of this umbrella chart from a native machine, the time for the chart install to be successfully deployed on this aws cluster is the same.  the difference is, the helm install command returns successfully on native/local machine but the command "never" (we waited 24 hours) returns return to aws ec2.

the kubernetes work to create everything is, of

[2017-12-06 08:30] fgimenez commented on #1915
Looks like this is already implemented in #2836 is that correct?

[2017-12-06 08:46] fleischer932 opened #3235 "chart not visible in helm search after upload to chartmuseum"
I've created a new chart locally and added it to the my `chartmuseum` with the command `curl --data-binary "@FILENAME.tgz" http://REPOURL:REPOPORT/api/charts`.
However, `helm search` doesn't show the updated version or new chart and If I updated the chart, `helm fetch` fetches the old version, until I re-add the repo with `helm repo add NAME URL` with the same name as before.
Is refreshing the ava

[2017-12-06 10:44] whitecolor commented on #2554
Maybe this is out helm scope but there is definitely a problem with the inflexibility of official heml charts templates, I've heard this multiple times from devOps.

Again I see those problems with current templates:

- Though mostly official charts fit standard needs, there may be cases where they don't and you have to go though clumsy procedure of cloning, just to change couple of minor things.

[2017-12-06 14:55] fleischer932 opened #3236 "Use url of repo to perform merge"
Feature request:
Currently (it seems) it is not possible to perform a `helm repo index --merge URL/index.yaml localChart` or, what would be even better `helm repo index --merge REPONAME localChart`.
This would be useful, if i fetch a chart, modify it, and reupload it, which requires an update of the `index.yaml` file. So I wouldn't have to manually download the index.yaml and perform the merge.

[2017-12-06 15:20] fleischer932 commented on #3235
Closing the issue, since I noticed that the info can be updated with `helm repo update`.

[2017-12-06 15:20] #3235 closed

[2017-12-06 16:01] tuannvm commented on #2062
@so0k you might be a great help here :)

[2017-12-06 19:56] msavlani commented on #1844
@thomastaylor312 We just did helm upgrade and we see changes are part of manifest.
But when we check actual deployment , i don't see that change even though helm says Upgrade successful.

[2017-12-06 23:36] #3027 closed

[2017-12-06 23:36] #3066 closed

[2017-12-07 02:50] msavlani commented on #1844
@thomastaylo312 today i made change in service definition and added one more port.
After i ran helm upgrade with --debug option i see in stdout that service is now having new port.
Also in helm get manifest i see the port is added to service defination.

Tiller pod also shows that change is detected.
But when i see actual service defination  in kubernetes , i didnt find new port

[2017-12-07 03:26] rajatjindal commented on #3171
FYI, I've submitted a PR in spf13/cobra which 'should' address this issue.

https://github.com/spf13/cobra/pull/588

[2017-12-07 06:07] pnickolov commented on #2060
One of the benefits of having and using namespaces is that object names (incl. DNS names) within them are local and don't have to change from namespace to namespace. Specifically in @dvdotsenko example above, the REDIS_SERVER_HOSTNAME should be the same (e.g., just `redis`) and should not need to be injected with globalized values. The reason is avoiding repetition.

The ideal case - from simplici

[2017-12-07 13:42] discostur commented on #3055
having exact the same problem:

kubectl version
[code]

helm version
[code]

helm install
[code]

Pod network is weave ... but why shouldn't that work because of the pod network? @zavalit wrote he changed his network provider ...

[2017-12-07 16:16] ericabr commented on #3158
Following

[2017-12-07 16:16] shikhasriva commented on #3158
@ericabr , can you update with the modifications we talked about

[2017-12-07 16:39] ericabr commented on #3158
So, we will be moving to helm 2.7 because we are now using kubernetes 1.8.3
The changes we will be making will only be to pull the subject from the client certificate to obtain the username, store it in the context, and authorize the user from there.

We won't be making changes to the cli since the certificate can already be passed currently and can be verified when it is passed by tiller.

We wil

[2017-12-07 17:39] mattfarina opened #3237 "Convert from Make to Mage for cross platform compat"
Make is known for its use on POSIX systems. But, Helm is cross platform and that includes Windows. To handle that in other languages they use other tools. For example, in JavaScript folks use Grunt.

Should Helm consider switching to [Mage](https://github.com/magefile/mage) and Magefiles?

cc: @adamreese @technosophos

[2017-12-07 17:39] mattfarina commented on #3237
/shrug

[2017-12-07 17:56] vishveshv commented on #2520
Any fixes for this? I am also running into same issue:

$> kb get pod -n kube-system | grep tiller
tiller-deploy-3718853040-hrw8t   1/1       Running   1          7d

$>  hm install <helm-chart> -name=<chartName>
Error: Get http://localhost:8080/version: dial tcp 127.0.0.1:8080: getsockopt: connection refused

It seems tiller server isn't not able to connect with api server but why?

[2017-12-07 20:59] jascott1 commented on #3181
@kfox1111 Apologies for the delay. This is definitely one the premier problems to solve. Would you suggest allowing user to create `patch/` dir at each level of chart and have its contents applied? Use lexical filename ordering for applying in sequence? I think there is a lot to sort out here. I suspect we would want to keep it all YAML without resorting to reinventing  json-patch. Can you share m

[2017-12-07 21:30] kfox1111 commented on #3181
patch dir would work. it would be nice if it was templated so you can use values to inject things into the patch. lexically ordering is fine. jsonpatch data in yaml does work just fine and I prefer it. :)

[2017-12-07 22:03] ljnelson opened #3240 "include-ing a subchart's _helpers.tpl template yields top-level chart values"
Hard to write a description for this one.

I have a top-level chart named `foobar`.  It uses the stable `minio` chart as a subchart.  No other charts in play.

`minio` [defines a `minio.fullname` template](https://github.com/kubernetes/charts/blob/master/stable/minio/templates/_helpers.tpl#L13).  Templates defined in this way are global, I've read.

My expectation is that therefore I can do someth

[2017-12-07 22:21] awwithro commented on #1796
IMO it'd be really useful to give an arbitrary tag to a release number and do a rollback to that tag. Something like `helm rollback tag <REVISION> 1.0.0` and `helm rollback <RELEASE> 1.0.0` In my case I'm using a helm chart that includes istio route rules for canarying between two releases. Each change of the weights is a separate helm release. With an arbitrary tag, I can tag the release prior to

[2017-12-07 23:43] egeland commented on #2941
This affect us, too. We mitigate by deleting the configmaps manually - which is really annoying as we do a lot of deployments... 😅

[2017-12-08 03:15] inkwelldocs commented on #2848
@bacongobbler, your workaround doesn't work for me, the `prometheus.io/scrape` value in the resulting YAML ends up literally being the string `\"true\"`.

[2017-12-08 03:16] jahewson commented on #2848
@bacongobbler, your workaround doesn't work for me, the `prometheus.io/scrape` value in the resulting YAML ends up literally being the string `\"true\"`.

[2017-12-08 03:18] jahewson commented on #2848
@DoctorZK, what do you mean by "ESC must be added before your boolen value"?

[2017-12-08 05:38] bacongobbler commented on #3181
so like `kubectl patch`?

[2017-12-08 14:26] boosh commented on #3240
I'm struggling with the same thing from another stable chart. I just want to call e.g. the `"minio.fullname"` helper template directly in my parent. How are you meant to do that? I can't see it documented anywhere.

[2017-12-08 16:13] wknapik commented on #3111
At this point I run `rm -fr ~/.helm` in CI pipelines, as a workaround, but it still happens occasionally.

[2017-12-08 17:00] kfox1111 commented on #3181
kubectl patch seems to support json patch, but looking at it, it also looks like it supports just a union format as well?

both good options really.

[2017-12-08 17:46] bacongobbler commented on #3230
If it’s in there and there’s a code path in Helm 2.0, it shouldn’t be removed. :)

If it’s dead code, go for it! I’d suggest ripping it out in a separate PR though.

[2017-12-08 20:19] thomastaylor312 commented on #1844
@msavlani Can you get me the tiller logs and your k8s version?

[2017-12-08 21:14] matth-boise opened #3241 "Feature request: add support for multiple hooks with identical hook-weight"
Can the helm hook mechanism be enhanced so that multiple templates with the hook annotations can have the same hook-weight?

When hooks with identical hook-weight  are processed by tiller, tiller would run them all then wait for them all to complete successfully before advancing to hooks with the next largest hook-weight.  If any of the hooks fails, the operation (install, upgrade, delete) fails.

[2017-12-08 23:54] ianburrell commented on #3053
@withnale

There is [technique to update deployments when Secrets change](https://github.com/kubernetes/helm/blob/master/docs/charts_tips_and_tricks.md#automatically-roll-deployments-when-configmaps-or-secrets-change). None of the charts do this for secrets. It would also lead to unnecessary restarts. There are also containers that only set the initial password and don't change password when updat

[2017-12-09 00:09] ianburrell commented on #3053
@jascott1

I don't think that will work because on update, the secret will be empty or missing. What is needed is some way to save the random value from install.

1. Reference previous value of secret
2. Template default values
3. Deterministically generate random values

[2017-12-09 03:54] rajatjindal commented on #2613
Hi @bacongobbler

The issue https://github.com/kubernetes/helm/issues/2055 refers to this issue as dependency, and this is marked as duplicate of that issue.

was it decided to fix this on helm side? can you please update the helm ticket to reflect what was the final decision

[2017-12-09 15:35] rajatjindal commented on #3171
# FIXED ALIAS
$ helm ls --<TAB>
--all                --deleted            --failed             --kube-context=      --namespace=         --reverse            --tls                --tls-key=
--date               --deleting           --home=              --kubeconfig=        --offset=            --short              --tls-ca-cert=       --tls-verify
--debug              --deployed           --host=

[2017-12-09 18:17] withnale opened #3242 "Add 'export-values' to requirements"
There is a need for an `export-values` method when working with requirements.

At present there is already a mechanism for _pulling_ values from subcharts into the parent chart using the 'import-values' method defined in [docs/chart.md](https://github.com/kubernetes/helm/blob/master/docs/charts.md#importing-child-values-via-requirementsyaml). However, there is no equivalent method for encapsulatin

[2017-12-09 19:36] kylos101 opened #3244 "Cannot download Tiller image 2.6, but can download 2.6.2"
Hi,

First off, Helm is awesome, thank you so much for this!!!

My Kubernetes is unable to download Tiller image v2.6 with the canary build of Helm for Windows (I just downloaded Helm, to verify I'm using the latest version).

For example, Docker cannot download the same image:
docker pull gcr.io/kubernetes-helm/tiller:v2.6

It yields this error:
Error response from daemon: manifest for gcr.io/kub

[2017-12-10 04:04] ilyasotkov opened #3245 "Feature request: declarative YAML client as an alternative to Helm CLI"
As I see it, the Helm CLI is pretty fat as there are quite many commands and the workflow falls on the imperative side in terms of managing charts and releases.

I think it would be great to have a declarative Helm client with these features:

- YAML manifest file(s) for managing releases, charts, `values.yaml` override values and anything else already implemented in Helm CLI
- Addition of `helm a

[2017-12-10 05:50] bacongobbler commented on #3245
So it sounds like there are two existing scenarios that would solve this problem:

1. https://github.com/kubernetes/helm/issues/3089 where others have written proof of concepts
2. You could pipe the output of `helm template` to `kubectl apply`, though that means you lose out on `helm` commands like `helm list`.

Do either of those seem to fit your use case?

[2017-12-10 05:54] ilyasotkov commented on #3245
Yeah, https://github.com/kubernetes/helm/issues/3089 definitely fits.

**Closing this in favor of https://github.com/kubernetes/helm/issues/3089.**

[2017-12-10 05:54] #3245 closed

[2017-12-10 07:28] liamawhite commented on #2941
We were also seeing this. I _think_ its cause by using both <2.7.1 and >2.7.1 to deploy the same release. As mentioned by @Starefossen, a `helm delete <release> --purge` then reinstall seems to fix it.

[2017-12-10 22:48] arschles opened #3246 "Helm seems to translate all-numeric image tags into scientific notation"
I don't yet have concrete repro steps, but it seems that if you pass the `helm` CLI an 8 digit number in a `--set` (such as something that `git rev-parse --short HEAD` might output), it converts it into scientific notation.

This can be problematic if you tag your docker images with shortened git SHAs, because the Docker image tag won't be the same as the one you pass Kubernetes. Additionally, Kub

[2017-12-11 00:23] egeland commented on #2941
Deleting production apps is not really a viable solution 😜

[2017-12-11 07:21] bacongobbler commented on #3246
closing as a duplicate of #1707 and #3001. This is an annoying bug for sure.

[2017-12-11 07:21] #3246 closed

[2017-12-11 07:23] bacongobbler commented on #3244
hey @kylos101, can you explain why or how you're downloading the v2.6 tag? This tag does not exist as you'd expect; though there is a v2.6.0 release. Is that what you're looking for?

[2017-12-11 08:26] arschles commented on #3246
Thanks @bacongobbler. FWIW, I simply suffixed the tag with `-gitsha`, which seems to ensure that the value is treated as a string. I'll post my +1 in #1707 as well

[2017-12-11 08:28] arschles commented on #1707
I have also seen this in 2.7.2 (and filed #3246 as a result), so +1 on this issue. Like in https://github.com/kubernetes/helm/issues/3001, I was also using the git SHAs for my docker image tags. My workaround for now, FWIW, is to suffix image tags with `-gitsha`

[2017-12-11 12:05] benkeil commented on #2762
I have the same problem and described it a little bit better in [#3163](https://github.com/kubernetes/helm/issues/3163). We don't want to use a further tool...

[2017-12-11 12:26] kylos101 commented on #3244
Hi Matt, it wasn't intentional, it's what happened when I tried to
initialize helm with my minikube cluster.

As the fresh tiller pod came online, it was trying to pull that image.

I'm using minikube 0.24.1 on Windows 10, if that helps. Let me know if you
need more info and I'll see what I can do.

On Mon, Dec 11, 2017, 2:23 AM Matthew Fisher <notifications@github.com>
wrote:

[2017-12-11 12:55] ApsOps opened #3249 "run `helm repo update` before `helm install`"
I just did an `helm install stable/redis` but the deployments helm created didn't have these changes in PR https://github.com/kubernetes/charts/pull/2380

Is this expected behavior?

[code]

[2017-12-11 15:31] bacongobbler commented on #3244
Thanks. Can you post the output of `helm version` and how you got the binary so I can reproduce?

[2017-12-11 15:50] bacongobbler commented on #3249
Did you make sure to run `helm repo update` first before installing? :)

[2017-12-11 16:12] ApsOps commented on #3249
@bacongobbler Yikes. My bad, didn't know about that. BTW, shouldn't it run `update` automatically when user runs `install` after a while?

[2017-12-11 19:11] emaildanwilson opened #3250 "v3: Helm integration w/ Cluster Registry API"
Currently when a Helm package needs to be applied to multiple clusters..

Multiple statements need to be run.
[code]
Or

Multiple independant processes need to run against N clusters

Cluster 1
[code]
...
Cluster N
[code]

Once the Cluster Registry API is available then the information stored about each cluster could be used to apply a package across a set of clusters.

Possibly this could be some

[2017-12-11 19:12] emaildanwilson commented on #3250
cc @michelleN as requested from our discussion at SIG-APPS at KubeCon.

[2017-12-11 19:30] kylos101 commented on #3244
Sure thing, here's the helm version output:
Client: &version.Version{SemVer:"v2.6+unreleased", GitCommit:"1ac5cd78debfa4a99d07f7b1a01c1ee46e2cfb56", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.6.2", GitCommit:"be3ae4ea91b2960be98c07e8f73754e67e87963c", GitTreeState:"clean"}

I got the binary from here:
https://kubernetes-helm.storage.googleapis.com/helm-canary-windows-amd64.zip

Extr

[2017-12-11 19:44] bacongobbler commented on #3244
Ah yes. If you’re using a canary release client, you also need to supply the —canary flag to `helm init`. Let me know if that works for you.

[2017-12-11 19:57] kylos101 commented on #3244
Ah, that works much better! ;-) Thank you very much, @bacongobbler!

Now my tiller image in my YAML references this:
gcr.io/kubernetes-helm/tiller:canary

I must have missed [the releases here](https://github.com/kubernetes/helm/releases). I'll take a swing at using 2.7.2.

Thanks again!

[2017-12-11 19:57] #3244 closed

[2017-12-11 20:59] baracoder commented on #3133
This issue started happening for me out of the blue, too.

With kubernetes 1.6.4, helm 2.5.1, had already deployed a lot using helm on that cluster. If I start it with debug, i get the following until it hangs. No logs on tiller side.

[code]

With two GKE clusters it still works. I am confused.

[2017-12-12 11:35] baracoder commented on #3133
Finally found the issue, it is not related to helm.
For some reason our coreos machines did not have localhost in the `/etc/hosts` file any more. The kubelet will use `socat TCP:localhost:port` for port-forwarding. With localhost not resolving it just hangs there.

[2017-12-12 11:44] zmoon111 commented on #1371
in my case, i did not `yum install -y socat` properly in my kubelet nodes. after installed it, error fixed.

[2017-12-12 12:55] sgnl19 commented on #2084
We're using a dict to inject parameters for readability reasons:
[code]

[2017-12-12 15:20] sathieu opened #3251 "Unable to --set with spaces or newlines"
I'm trying to do:
[code]

It doesn't work:
[code]

NB I tried a lot of other things without success

[2017-12-12 16:11] bacongobbler commented on #3251
Does escaping the whitespace work? e.g.

[code]

[2017-12-12 16:17] bacongobbler commented on #3249
We do not update automatically after a while, though that is a good feature request for helm 3.

[2017-12-12 16:17] bacongobbler commented on #3249
I've updated the title to reflect the ask.

[2017-12-12 22:48] nicolerenee opened #3253 "Helm client doesn't support concurrency"
To interact with helm we are importing the `k8s.io/helm/pkg/helm` package. This allows us to build a client that can talk to the tiller and create/update/delete releases. This works great.

Recently we have been trying to speed up our interactions with the tiller so we added some concurrency on our side. It appears the client that comes as part of the k8s.io/helm/pkg/helm package does not support

[2017-12-13 04:21] bgrant0607 commented on #2431
Should this be a proposal rather than a feature?

[2017-12-13 04:26] bgrant0607 opened #3254 "Helm 3: Adopt common application metadata"
The App Def Working Group is attempting to improve interoperability of tools. To that end, it would be useful if Helm participating in defining and adopting a common metadata CRD schema for much of the information currently in Chart.yaml.

#2431 covers use of JSON schema for parameter definition, which I also think would be useful, independent of the substitution syntax/mechanism.

[2017-12-13 04:31] bacongobbler commented on #2431
I think this can be both.

[2017-12-13 04:31] bgrant0607 opened #3255 "Helm 3: Separate concerns within Helm"
For the record...

Previously discussed here:
https://groups.google.com/d/msg/kubernetes-sig-apps/71c1FHem3-Y/i-ue6oWADQAJ

Helm provides multiple high-level functions, such as:
1. Package management -- search, browse, bundle, push, and pull of off-the-shelf application packages and their dependencies.
2. Application lifecycle management -- install, delete, upgrade, rollback -- and pre- and post-

[2017-12-13 05:53] cloudbow commented on #3017
How do we work around this?

[2017-12-13 11:09] sslavic commented on #2091
I don't understand current limitation of `helm create -p`, what value it adds to limit/require that charts can be created only from charts which are themselves stored in "starters" directory. Does it make sense to allow creating a new chart from just about any existing chart, on local filesystem or remote repo (just like install)?

[2017-12-13 13:01] s4nch3z commented on #3208
Same issue, can't upgrade over FAILED deploy

[2017-12-13 14:06] sathieu commented on #3251
All three commands returns:
[code]

[2017-12-13 17:22] bacongobbler commented on #3253
If there are certain areas of the client package that can't work in a thread-safe environment which we can fix, let's make that happen :) feel like taking a crack at a PR?

[2017-12-13 17:23] bacongobbler commented on #3253
labeling this as a feature because nobody (asides @nicolerenee) has used the helm client in a concurrent way before, so this would be introducing new functionality to pkg/helm.

[2017-12-13 17:31] bacongobbler commented on #3254
Thanks. Can you explain the use case more clearly so users who do not know what the app def working group is doing can better understand the end goal?

For what it's worth, I've attended several meetings and I'm *still* confused on the action items required to make apps like Helm inter-operable. I'm also missing the value-add here from the end user's perspective. I just haven't heard anyone from t

[2017-12-13 18:42] mikeln commented on #2578
No movement.

[2017-12-13 19:35] blakebarnett opened #3256 "helm upgrade fails when updating the apiVersion of a resource that's not available anymore"
Helm version: 2.7.2
k8s version: 1.8.5

We're seeing this with 1.8 after `batch/v2alpha1` support is disabled no charts that referenced CronJob with that `apiVersion` can upgrade, we have to `delete --purge` the chart and re-install.  Trying to figure out a good solution for prod to avoid downtime.

Same issue as https://github.com/kubernetes/helm/issues/2885 but it seems the fix only works if bot

[2017-12-13 20:04] nicolerenee commented on #3253
Sure. I'll get started working on a PR for this. Hopefully can get something together without having to change to much in how the client works.

[2017-12-13 20:12] bacongobbler commented on #3256
Yeah, this was a design decision made by the kubernetes devs that one cannot upgrade resources from one apiVersion to the next. We're also having the same concern with tiller in #3234 as well. There does not appear to be a migration patch forward for deprecated api versions, and I'm not sure there's a clean path forward for helm either. This is something we should discuss upstream.

[2017-12-13 20:57] blakebarnett commented on #3256
To avoid downtime for the rest of the resources in charts like this can we make it handle the upgrade by just deleting the v2alpha1 CronJob resource somehow? Surgically remove it from the release configmap or something?

[2017-12-14 17:53] SharpEdgeMarshall opened #3260 "Linting fails when using b64 functions"
Linting is failing in both this situations even if the code works perfectly:

`{{ .Values.config | b64dec | indent 4 }}`
Error: <b64dec>: wrong number of args for b64dec: want 1 got 0

`{{ b64dec .Values.config | indent 4 }}`
Error: wrong type for value; expected string; got interface {}

Helm version: 2.7.2

[2017-12-14 17:57] SharpEdgeMarshall commented on #3260
It was my fault, the value was null, just making it an empty string solves the issue.

[2017-12-14 17:57] #3260 closed

[2017-12-15 00:15] ankushchadha commented on #3084
Continuing the immutability topic -

Is it a good idea not to expose docker image tags as part of values.yaml? Exposing docker image tag as part of values.yaml means that a different version of a docker image can be deployed compared to what's specified as part of a chart. Traceability is lost and from a deployment perspective, it's not immutable.

It probably makes sense to specify docker image t

[2017-12-15 00:44] aelbarkani commented on #3208
Same here using 2.7.2. The first attempt of a release was failed. Then when I tried an upgrade --install I've got the error "Error: UPGRADE FAILED: "${RELEASE}" has no deployed releases".

[2017-12-15 01:13] ankushchadha commented on #2468
Chart license is a bit deceiving. There should be a field such as an 'AppLicense' (similar to chart version vs app version). Note that a chart -
1. Can deploy multiple containerized microservices (there are multiple docker images)
2. A chart can further point to a sub-chart. Maybe there is a need to aggregate all the app licenses.

[2017-12-15 03:18] valentin2105 opened #3261 "[BUG] Tiller cause Worker outage when install big Chart."
Hi !

I found a bug on Helm v2.7.2 that 'cause multiple outage on our Kubernetes workers due of **huge Server Load increasing**.

I wrote a Helm chart for deploy a specific App (Ubiquiti UNMS), here is my folder :
[code]
Before all, Helm work fine on my setup, I got like 15 charts deployed and upgraded every day.

But this one, cause big problems :

[code]

Tiller logs :
[code]

**Worker Load chan

[2017-12-15 10:30] prydonius commented on #3084
Interesting thoughts @ankushchadha, the main reason we decided to make image tags configurable is in cases where I want to point to a mirrored image in a private registry instead of the public one.

[2017-12-15 11:12] unguiculus commented on #3084
@ankushchadha I think we need to distinguish between immutability and configurability. The way you see it, no chart would be immutable because it can always be configured somehow. Even hard-coding the image tag may not help because tagged images can still be updated in the registry. I think immutability should just refer to taking a has from the chart.

[2017-12-15 11:34] sathieu commented on #3251
My bad. I had an error in my shell (which export http_proxy var then call the helm binary). I replaced ```$*``` by ```"$@"```.

No the results are:
[code]

So \<something> is always replaced by <something> (unless something is in ```= , . }```).

I will propose a PR.

[2017-12-15 15:30] cridam opened #3264 "helm package is not idempotent when used for a N-dependencies umbrella chart"
`helm package -u` for the same umbrella chart having more than 1 dependency is not idempotent, that it may generate a binary with a different signature ... (md5)  . Dependencies are unchanged.

Step to reproduce from any where.

For instance using a umbrella chart of the internet (jaeger)
Notice the test fails also, without fetching on every round (instead just `rm -rf jaeger/charts jaeger/*tgz` )

[2017-12-15 17:20] ankushchadha commented on #3084
I agree, that we need to distinguish between immutability and configurability especially for released charts.

If a docker image changes, the app version changes. IMO, the app version should not be treated as a configuration.

From traceability perspective, the image tag part of a chart should be set to a static tag instead of a dynamic tag. The other extreme is to use digest.

[2017-12-15 18:30] chainlink commented on #1579
I've had the same issue. It appears sub objects don't work
ie.
`.Values.blah` is fine, but `.Values.blah.foo` does not work, even if `blah` is defined in values.yaml

[2017-12-15 18:36] jascott1 commented on #3261
Hi @valentin2105

Would it be possible to share the chart ?

[2017-12-15 18:42] bacongobbler commented on #1579
hey @chainlink! Would you mind elaborating a little more on that? Nailing down that specific issue, what the error message is, how your chart is set up etc. would be a good action item to start returning better errors.

[2017-12-15 19:57] AceHack opened #3265 "SolrCloud Helm Chart"
Is there a plan to support SolrCloud with an official Helm Chart?

Know of any examples?

Thanks.

[2017-12-15 20:33] jascott1 commented on #3265
Hi @AceHack

Charts are independently submitted by contributors to the kubernetes/charts repo. You might ask in the Solr community about interest in an official Helm chart for that project. Alternatively if you want to tackle it yourself then Im sure the good folks in the `charts` and `helm` channels on Kubernetes slack will be happy to help!

[2017-12-15 23:25] markhu commented on #1523
I got stuck on this error:

    Error: incompatible versions client[v2.7.2] server[v2.6.1]

Fix/workaround was to run this:

    helm init --upgrade

As faintly hinted by the output of running `helm init` which said.

That parenthetical statement is actually the important part. An additional warning should highlight the version mismatch, and suggest more strongly to run `--upgrade`.

[2017-12-15 23:28] bacongobbler commented on #1523
Am I safe to assume this was on Azure?

[2017-12-16 00:15] markhu commented on #1523
My `incompatible versions` issue was on MacOS where my `kubernetes-helm` was installed via HomeBrew.

[2017-12-16 00:28] bacongobbler commented on #1523
righto, but which cloud provider were you deploying tiller to? :)

[2017-12-16 01:38] markhu commented on #3088
This seems like a major breakage, considering that so many versions have a `-SNAPSHOT` suffix. I can't believe this issue has been un-fixed for over a month. Is there any other workaround besides downgrading the `helm` client? What previous version is recommended?

[2017-12-16 05:35] markhu commented on #1523
AWS.

[2017-12-16 17:10] jgiles commented on #2731
I'm also seeing this issue, using Helm 2.7.2 installed on OSX using `brew install kubernetes-helm`.

I am not using local `file://` charts. As suggested above, my workaround is to delete the lock file before running `helm dep up`

[2017-12-16 17:24] jgiles opened #3267 "Bug/Feature Request: suppress requirements.lock generated timestamp"
Checking in requirements.lock files is a great way to make package generation reproducible.

However, the `generated:` timestamp leads to unnecessary changes in requirements.lock files when invoking `helm dep update`. These changes tend both to obscure the important differences in lock file deltas (the changed subchart versions) and to cause unnecessary merge conflicts in version control.

In the

[2017-12-16 17:31] zuzzas commented on #2243
Would help us immensely as well. @krancour's use case is the most requested one, but we've also had a number of cases with advanced database migrations. That feature seems like a massive undertaking to my inexperienced eyes, but it'll help a lot.

[2017-12-17 08:50] winjer commented on #3208
Same problem here with 2.7.2, `helm upgrade --install` fails with:

    Error: UPGRADE FAILED: "APPNAME" has no deployed releases

[2017-12-17 08:55] winjer commented on #3208
If the release is entirely purged with `helm del --purge APPNAME` then a subsequent `upgrade --install` works ok.

[2017-12-17 11:14] sslavic commented on #2192
Isito port naming convention also requires dashes (see [Pod Spec Requirements](https://istio.io/docs/setup/kubernetes/sidecar-injection.html#pod-spec-requirements)).

[2017-12-17 21:27] valentin2105 commented on #3261
Here is it  : https://github.com/valentin2105/unms-chart

`helm install -n unms --namespace ubiquiti-unms unms-chart/ --debug`

[2017-12-18 06:32] kevin-zhaoshuai opened #3269 "Release new tiller docker image on arm64"
Now tiller image only support X86_64.
https://console.cloud.google.com/gcr/images/kubernetes-helm/GLOBAL/tiller
Do we plan to release tiller image for other architecture?
Tiller image is an essential image for helm user, we need it in project "Kolla-kubernetes".
If you don't have a machine on arm64, we linaro can help to build it.

[2017-12-18 06:52] AceHack opened #3270 "Failed to pull image "gcr.io/kubernetes-helm/tiller:v2.6": rpc error: code = Unknown desc = unauthorized: authentication required"
Error after helm init

This is in Azure aks right after setting up a brand new aks image

container "tiller" in pod "tiller-deploy-5b9675c8d-twl8w" is waiting to start: trying and failing to pull image

[2017-12-18 07:32] AceHack commented on #3270
Found the issue I think.

Docs point to old canary build on windows.
https://kubernetes-helm.storage.googleapis.com/helm-canary-windows-amd64.zip

Would be great if this actually pointed to a recent canary build since zip is a lot easier to deal with on windows in powershell than tar.gz (need external tools like 7zip)

After using recent build, things start working.  Any chance on having this url

[2017-12-18 08:24] kevin-zhaoshuai opened #3271 "get_helm.sh could not get helm on arm64"
Since Helm has released available Helm packages on arm64, ref: https://storage.googleapis.com/kubernetes-helm/

It's better to add support for download arm64 helm binary with get_helm.sh.
Now run get_helm.sh will return:
linux@kolla-k8s-ut:~$ ./get_helm.sh
No prebuild binary for linux-arm64.
To build from source, go to https://github.com/kubernetes/helm
Failed to install helm
	For support, go to h

[2017-12-18 08:41] cridam commented on #3264
My 2p,
i m not familiar at all with golang) , but you might need to sort the dependencies before writing contents

[code]

[2017-12-18 09:19] vedit commented on #3242
I believe this list should be created automatically during a dependency installation with cli

[2017-12-18 09:59] withnale commented on #3242
Maintainers - any update on the following? We have some complex scenarios we are trying to map out regarding parent charts and subcharts and this would really help simplify/encapsulate the 'interfaces' between charts

[2017-12-18 14:19] prein commented on #3208
I'm experiencing the same problem. Combined with [#3134](https://github.com/kubernetes/helm/issues/3134) that leaves no option for automated idempotent deployments without some scripting to workaround.

@winjer just tried deleting with --purge and for me it didn't work although the error changed
/ # helm upgrade foo /charts/foo/ -i --wait
Error: UPGRADE FAILED: "foo" has no deployed releases
/ # h

[2017-12-18 15:39] tcolgate commented on #3208
@prein This is because you have a service that is not "owner" by helm, but already exists in the cluster. The behaviour you are experiencing seems correct to me. The deploy cannot succeed because helm would have to "take ownership" of an API object that it did not own before.

[2017-12-18 16:06] benkeil commented on #2672
This should be added to the documentation.

[2017-12-18 19:41] jascott1 commented on #3242
Hi @withnale

Thanks for the PR. Can you add an example to original proposal showing the values yaml and where the source tree for the dependency is take from? I want to understand how this works in a 3+ tier umbrella chart.

[2017-12-18 19:59] kfox1111 commented on #3242
my $0.02

I think this is a subset of a larger issue. This does solve wanting to map values from a parent chart into differently named things in child charts. +1 for that.

But I also think you may want to map things within the same chart.

ie, you might want to have one value that has a default that two daemonsets use if a more specific value isn't set that is particular to each. you can do that

[2017-12-18 20:51] DanielCorral commented on #2620
I'm on version 2.7.2 and I'm still hitting the issues outlined by @polasekr.
I have an almost identical setup, where the parent chart's requirements.yaml is referencing subcharts and using import-values according to which tags has been specified.
```Warning: ImportValues missing table: no table named "exports" (map[global:map[]])```

[2017-12-19 01:03] AceHack commented on #3270
yes but what I'm saying is the .zip canary is much older than the .tar.gz

https://docs.helm.sh/using_helm/#installing-helm

Please update https://kubernetes-helm.storage.googleapis.com/helm-canary-windows-amd64.zip
to be the same version as https://kubernetes-helm.storage.googleapis.com/helm-canary-windows-amd64.tar.gz

And keep them in sync

[2017-12-19 01:31] msavlani opened #3273 "helm upgrade hungs with helm 2.7.1"
Hi,

we are using following -

**helm : v2.7.1**

Client: &version.Version{SemVer:"v2.7.1", GitCommit:"4aef7fddc8335e0b7b00d9168c04955d903fdbee", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.7.1", GitCommit:"4aef7fddc8335e0b7b00d9168c04955d903fdbee", GitTreeState:"clean"}

**Kubernetes -  1.6.7**

We have seen this multiple times now -
When we run helm upgrade command, it hungs indefi

[2017-12-19 02:38] sylus commented on #2751
Tripped me up as well today, glad to know is an issue :)

[2017-12-19 07:04] bacongobbler commented on #3270
this is a side-effect of CI not having `zip` installed. I filed #3274 to fix that.

[2017-12-19 07:50] jascott1 commented on #3273
@msavlani Not exactly the same but might be related to issue with too many open sockets. Please take a look at https://github.com/kubernetes/helm/issues/3121

[2017-12-19 08:01] jascott1 commented on #3261
Really sorry you having this trouble. Does removing the Tiller pod and letting it re-spawn have any effect?

[2017-12-19 08:23] valentin2105 commented on #3261
Deleting the pod stop the load increase, but if I don't kill the pod, the
worker crash totally (no ssh access) in 2 or 3 minutes.

Le 19 déc. 2017 19:01, "Justin Scott" <notifications@github.com> a écrit :

[2017-12-19 10:44] MattiasGees commented on #3121
Hello We are having the same problem on one of our clusters. I now deployed the tiller with `slicknik/tiller:git-a26100a` and I see that connections are killed in a timely matter. The kubelet still has a big memory buildup. In our case Kubelet uses 2.5GB on a node with 3.9GB. I am happy to test any other fixes, provide any information you need or help in any other way I can.
My knowledge about the

[2017-12-19 11:18] zuzzas opened #3275 "Error: UPGRADE FAILED: no resource with the name "anything_goes" found"
Hi,

We are constantly hitting a problem that manifests itself with this `Error: UPGRADE FAILED: no resource with the name "site-ssl" found`, for example. They can appear after any innocuous update to a template.
Could you, please, help me with understanding the problem. What causes those messages to appear?

I've been unsuccessful in triaging the issue further, it may happen anytime, haven't real

[2017-12-19 15:05] davidnewman commented on #2672
@benkeil Well, it's "kind of" in the documentation. It just isn't very well organized.

https://github.com/kubernetes/helm/blob/master/docs/chart_best_practices/requirements.md

This basically lets you know that you can use `@` or `alias://` for the URL field of the requirements.yaml.

It is not what I would call ideally documented. I may take a stab at updating the docs, but at the same time, it

[2017-12-19 15:36] mattfarina commented on #3084
I think we're getting into the difference between a chart and a chart + passed in configuration. We want charts to be immutable. But, they are configurable. To make this more complicated let's look at an example. A value set on a release of a chart might be the number of replica sets. But, I might also want an outside tool to be able to alter that (e.g., kubectl). How does all of that work?

Since

[2017-12-19 15:36] lenalebt opened #3276 "Allow helm to add external files to chart deployment"
Hello,
currently Helm does not support including files that are not part of the chart to be included in the deployment of the chart (as far as I understand, due to security reasons, and since Tiller only has access to files inside the chart).

Our use case is adding some SSL certificates, as well as some license files, to the helm chart deployment. Our software runs on premises in our customer's d

[2017-12-19 15:38] yanns opened #3277 "cronjob update: cronjob not found"
When upgrading a cron-job, I have the following error:
[code]

But the cronjob exists:
[code]

Surprisingly, we deployed the same helm on 3 difference environments, but I only have this error on one of them.

[2017-12-19 19:09] mgoldenbe opened #3278 "helm-show-kill-ring disregards the selection"
When I select entries (with `C-<SPACE>`) in `helm-show-kill-ring` and press either `Enter` or `F1`, it disregards the selection and yanks the entry currently under cursor. Why would this be the case and how can I cause it to yank all the selected entries?

Versions: Emacs 24.5.1 (minimal configuration), helm-20150626.731

[2017-12-19 19:42] particledecay opened #3279 "[Proposal] `helm test` should perform automatic cleanup (pre-test)"
Currently, executing the `helm test` command runs a number of defined test pods and returns while not removing any of those pods. This is desirable if you need to inspect a pod to find out why a particular test failed. However, when you attempt to run the tests again against the same release, you will inevitably encounter the dreaded `ERROR: pods "awesome-shark-test" already exists`.

Enter the `-

[2017-12-19 19:57] patrious commented on #3088
I am having the same issue.

Client: &version.Version{SemVer:"v2.7.0", GitCommit:"08c1144f5eb3e3b636d9775617287cc26e53dba4", GitTreeState:"clean"}

[2017-12-19 20:15] bacongobbler commented on #3278
Wrong project. You’re looking for https://github.com/emacs-helm/helm :)

[2017-12-19 20:15] #3278 closed

[2017-12-19 20:20] mgoldenbe commented on #3278
Oops. Thanks!

[2017-12-19 21:47] particledecay opened #3282 "Create a new "post-ready" hook"
The `post-install` hook is used to run tasks that happen basically as soon as the `helm install` command returns. If you add the `--wait` flag, helm essentially "hangs" until (I believe) at least one of each resource is in a running/ready state. But that also means that you can't get your prompt back until that happens (go ahead and try deploying an elasticsearch chart and see how long it takes yo

[2017-12-20 01:01] technosophos commented on #3121
This is a summary of some of our recent investigation on this, and some conversations at KubeCon:

To the best we can determine, this is caused by the kubelet itself leaking memory on port forwarding requests. It _should_ be reproducible by merely creating and destroying a few thousand port-forwards with `kubectl`. But it does appear to be beyond our ability to fix in Tiller code, since it's a bug

[2017-12-20 04:55] chenpoyang opened #3284 "duplicate menu while pase php file wiile calling helm-semantic-or-imenu"
i have php file open, and use helm-semantic-or-imenu to lookup the function i define.
the menu is dumplicate like this:

<pre>
Pubilc Methods / index
Public Methods / db
Public Methods / hello
Public Methods / list
Public Methods / read
Public Methods / post
All Methods / index
All Methods / db
All Methods / hello
All Methods / list
All Methods / read
All Methods / post
</pre>
and no issue while o

[2017-12-20 05:58] bacongobbler commented on #3284
Wrong project. You’re looking for https://github.com/emacs-helm/helm :)

[2017-12-20 05:58] #3284 closed

[2017-12-20 06:51] zuzzas commented on #3275
Completely removing release from Helm via `helm delete release` or simply deleting NS from Kubernetes works, but it is not a viable solution.

Why can't Helm just overwrite whatever is currently installed? Aren't we living in a declarative world with Kubernetes?

[2017-12-20 10:01] hobti01 commented on #3136
That's a clear explanation, thank you.

[2017-12-20 10:01] #3136 closed

[2017-12-20 13:46] cr4igo commented on #3276
Hi Lena,

**Current way:**
The current way to implement adding file-content is to use the "--values" n-dimensional-parameter when calling helm install. Placing every file (normal config values, SSL-stuff, license) in a separate YML file should provide better readability.

Lets assume we use "firstspirit" as chart repository name, that provides then the chart(s) to the customer. Then the customer c

[2017-12-20 15:32] lenalebt commented on #3276
Hi Markus,
unsure if we understand each other correctly. To elaborate a little on my use case, this is what my chart contains currently:

    ...
    {{ if .Files.Get "config/fs-license.conf" }}
    file.fs-license.conf:               {{ .Files.Get "config/fs-license.conf"                                | b64enc }}
    {{ else }}
    {{ fail "you need to supply your license file! add 'fs-license.c

[2017-12-20 22:06] ljnelson opened #3286 "When helm deletes something, maybe pass --include-initialized"
Hard to summarize this one.

I happened to install a release into an environment with Istio's [automatic injection](https://istio.io/docs/setup/kubernetes/sidecar-injection.html#automatic-sidecar-injection) in play.

My chart ideally would not be Istio-aware.

Anyway, something about Istio caused my installation to fail.  Specifically, a `Job` created as a Helm hook could not be created.  Helm dut

[2017-12-21 00:33] jascott1 commented on #3277
Hi @yanns

Thanks for reporting the problem. Can you reliably reproduce it in that environment and can you think of any major differences between the environments?

[2017-12-21 00:36] markhu commented on #3088
A similar workaround for the `s3plugin` users is:

    $ aws s3 cp s3://my-helm-charts/index.yaml - | grep myChart.*

[2017-12-21 00:47] yuvipanda opened #3287 "Add ability to have `helm init` get tiller listening only on localhost"
Currently, for users that only use tiller via helm, having tiller listen on all interfaces is insecure - since it allows any user on the cluster to act with the permissions of tiller. Currently, we've to do an extra kubectl step (such as https://zero-to-jupyterhub.readthedocs.io/en/latest/setup-helm.html#secure-helm) to make this happen. It'd be great if this could be a flag to helm init instead.

[2017-12-21 13:59] yanns commented on #3277
I can reproduce it:
- reliably on that environment
- also with a new resource, like a `HorizontalPodAutoscaler`

I tried to check for differences between this environment and others, and could not find any.
I plan to completely destroy the release and re-install from scratch because it's blocking our continuous deployment, unless you have any idea.

[2017-12-21 14:36] yanns commented on #3277
We found out the the same last version is deployed 2 times on the environment that is failing.
(with `helm list --deployed`)

[2017-12-21 15:25] jpoizat commented on #3275
Just got the same thing... quite new for me at it seems to be a new issue. delete the resource will fix it.
v2.7.2 with Kubernetes 1.7.7.
pretty it worked before...

[2017-12-21 15:31] ajtrichards commented on #3275
I had this problem - it was due to a PersistentVolume that i'd created. To resolve, I deleted the PV and PVC. Ran `helm upgrade XXX XXX` and it worked fine. Probably still something that should be investigated as the PV did exist.

[2017-12-21 15:34] jpoizat commented on #3275
I got the feeling it might be related to bad pv... but then the error is quite misleading !
also some weirds logs from tiller... seems that it is working on 2 version at the same time...

just tried with 2.7.1 with no luck...

[main] 2017/12/21 15:30:48 Starting Tiller v2.7.1 (tls=false)
[main] 2017/12/21 15:30:48 GRPC listening on :44134
[main] 2017/12/21 15:30:48 Probes listening on :44135
[main

[2017-12-21 16:12] jpoizat commented on #3275
seems it get confused at doing to release at the same time...

just reapplied the same config twice...

[tiller] 2017/12/21 15:50:46 preparing update for xxx
[storage] 2017/12/21 15:50:46 getting deployed release from "xxx" history
[storage] 2017/12/21 15:50:46 getting last revision of "xxx"
[storage] 2017/12/21 15:50:46 getting release history for "xxx"
[tiller] 2017/12/21 15:50:50 rendering helm

[2017-12-21 16:13] withnale commented on #3242
@kfox1111 - yes there is definitely a need for more flexible mapping of the values tree within charts. This is always a pain point when authoring charts.

However, I tried to write this issue as an incremental change to meet the need whilst mirroring the existing `import-values` functionality.

On a separate note, it would be good to augment the existing best practices with feedback from complex c

[2017-12-21 16:20] jpoizat commented on #3275
might be related to #2941

[2017-12-21 16:28] jpoizat commented on #3275
a said in the other thread, one of the way to fix the issue was to delete the buggy configmaps ... seems to do it for me currently...

[2017-12-21 17:08] Stono commented on #1780
+1 to the comment above, i need dependent charts to run BEFORE the parent because they add pre-reqs like custom api resources.   Any suggestions on how to do this other than another repo?

[2017-12-21 17:14] Stono opened #3289 "Ordering when using custom API definitions"
Hi,
I'm creating a helm chart which has some dependency issues and i'm trying to work around using lots of `if` logic.

The issue is because some of the resources depend on some api extensions to exist first:
[code]

If tiller tries to run the resources which depend on this first (which it does), we get errors like this:
[code]

This could be solved in one of two ways for me:

  - Chart dependenci

[2017-12-21 17:47] Stono commented on #3289
Moving up https://github.com/kubernetes/helm/blob/master/pkg/tiller/kind_sorter.go#L39 to be done first would resolve this too.

[2017-12-21 18:22] bacongobbler commented on #3289
related: https://github.com/kubernetes/helm/issues/2994

[2017-12-21 21:54] zuzzas commented on #3275
That is all fine and dandy. Until that time, when you have to delete something critical from a production namespace. Which, coincidentally, happened to me just now. :c

[2017-12-21 22:30] hemanthavs opened #3290 "Tiller Pod is Crashed when values yaml have issue."
Logs are bellow
[code]

Proposal, Better to have helm lint before installing chart. So Error can be handled gracefully instead of Tiller pod crash

[2017-12-21 23:07] bacongobbler commented on #3290
Thanks @hemanthavs. On one hand I agree that linting the chart may be the right approach, but there may be an edge case or two in which enforcing the linter on all installs could cause certain packages to break so I'm a little skeptical about turning it on in the default case.

Would you mind providing an example chart that can make tiller crash? There's not much in this output to describe what ex

[2017-12-22 06:19] yanns commented on #3277
I purged the deployment and installed the helm char again.
Since then, this issue does not appear anymore.

[2017-12-22 06:19] #3277 closed

[2017-12-22 13:24] peterzandbergen commented on #2064
@vielmetti I would like to know what command you used to find the mentioned log file entry. Cheers

[2017-12-22 16:25] bacongobbler commented on #2159
/lifecycle frozen

[2017-12-22 16:51] bacongobbler commented on #1320
/lifecycle frozen

[2017-12-22 17:48] bacongobbler commented on #1237
/lifecycle frozen

[2017-12-22 17:49] bacongobbler commented on #1237
There was some discussion going on in SIG Apps to bring in a new "kubernetes client for users" in January. It'd be good to take part in that discussion especially since we'll be kicking off the dev summit in late February.

[2017-12-22 21:14] josdotso commented on #3276
I have this exact need. My chart publishes a secret read from file at `/keybase`. This file is deliberately not in the chart.

I believe files for `.Files.Get` should not be assumed to be inside the chart:

 https://github.com/kubernetes/helm/blob/master/pkg/chartutil/files.go#L32

[2017-12-23 06:31] bacongobbler commented on #2015
/lifecycle frozen

[2017-12-23 06:31] bacongobbler commented on #2039
/lifecycle frozen

[2017-12-23 10:17] lenalebt commented on #3276
I am quite sure `.Files.Get` not being able to access the file system arbitrarily is a security feature, so I don't think the current behaviour is wrong - it just does not fulfill all use cases.

[2017-12-23 17:17] bacongobbler commented on #1981
I'd say that including the README and the license agreement in the packaged release packages are intentional. From my point of view, it's [part of the legal requirements](https://github.com/kubernetes/helm/blob/master/LICENSE#L90-L96) for distributing software under the Apache v2 license, so we should not be distributing the software without the license.

Does that make sense?

[2017-12-23 18:37] Stono opened #3292 "Templating advice"
Hey, I'm trying to use a dynamic key in my template to access a subset of data depending on my target environment.  This is being used to generate ConfigMaps which differ depending on the `--set targetEnviroment=<thing>` that is passed.

Imagine in my values.yaml I have:
[code]

And in my template I want to access just the key of `environment` that matches `targetEnvironment`, I'd imagine I'd need

[2017-12-23 21:45] rchakra3 commented on #1534
Is this still required and could I work on it? I'm looking for something to work on as a new contributor :)

[2017-12-24 12:24] Stono opened #3296 "--wait returns true when pod cannot start"
Hi,
I've just observed the fact that `helm install --wait`, which resulted in a pod being in an `ImagePullBackOff` state returned true.

Is this expected behaviour?  Because reading the help about wait it doesn't seem so:

"if set, will wait until all Pods, PVCs, Services, and minimum number of Pods of a Deployment are in a ready state before marking the release as successful."

[code]

[2017-12-24 18:24] bacongobbler commented on #1534
I think https://github.com/kubernetes/helm/pull/2950 handles `helm list` but you could take a look at that PR and port it over to other relevant commands!

[2017-12-24 20:29] rajatjindal commented on #3292
generally we (at my work) have different files based on environment. its easier that way

[2017-12-24 20:44] bacongobbler commented on #3292
You can use the `index` function using this technique. According to the documentation,

So the syntax would be

[code]

[2017-12-24 20:44] bacongobbler commented on #3292
docs: https://golang.org/pkg/text/template/

[2017-12-25 04:04] jubel-han commented on #3275
I've faced the issue as well when we upgrade an release if there are multiple `DEPLOYED` status of this release, Have to fix it with delete those corresponding configmaps.

[2017-12-25 08:14] innovia commented on #3017
same issue with kubernetes 1.8 and helm 2.7.2 the PR mentioned above is merged to 2.7.2

maybe we can use post delete hooks to clean it up?

here's the tiller server logs from the delete:

[code]

[2017-12-25 10:17] Stono commented on #3292
@bacongobbler worked beautifully thank you!  Now go gobble some bacon!

[2017-12-25 10:17] #3292 closed

[2017-12-25 11:03] tetafro commented on #2192
Is there any workaround for setting vars in cli?
[code]

[2017-12-25 11:40] Stono opened #3298 "helm can't handle symlink dependencies"
Hey,
When I'm testing dependencies between things locally it'd be nice to be able to use symlinks:

- some-base-chart

- some-other-chart
  - charts/some-base-chart

- and-another-chart
  - charts/some-base-chart

However when using a symlink:
[code]
I get the following error:
[code]

Presumably as it's treating it like a file rather than following the link.

[2017-12-25 19:24] Mosho1 opened #3299 "getsockopt: no route to host"
I've set up my cluster using kubeadm, with one master and one node and can deploy to it. I installed tiller using `helm init`, which seems to have been successful. However, when I try to run any helm commands like `helm list` I get this:
[code]
Which is the node's internal IP.

These are the pods running:
[code]

Thanks!

[2017-12-25 20:15] Mosho1 commented on #3299
seems to be a problem with my flannel config

[2017-12-25 20:15] #3299 closed

[2017-12-26 08:18] singhpr opened #3300 "helm : helm list crashing with timeout"
Error: Get http://localhost:8080/api/v1/namespaces/kube-system/configmaps?labelSelector=OWNER%3DTILLER: dial tcp [::1]:8080: i/o timeout

[2017-12-26 14:12] peterzandbergen commented on #2064
Sounds familiar. Happens to me all the time. Thanks for replying.

[2017-12-27 15:58] TD-4242 opened #3301 "Client timeout fails deployment even though all resources deploy successfully"
We have an app with a fairly large container with a long startup time.  I can't get it to deploy fast enough to not hit a timeout.  All the resources still get installed in kubernetes but it always marks the helm deployment as FAILED with no way to fix it.

I would expect the client to upload the chart to tiller and tiller would still continue to insure the k8s resources were created and the deplo

[2017-12-27 22:54] bacongobbler commented on #3298
This feature was added in #3113 but has not made it into a release yet. You can test this functionality out using [a canary build of Helm](https://docs.helm.sh/using_helm/#from-canary-builds).

Because this was already tracked at #1639 I'm going to go ahead and close this as a duplicate. Thanks!

[2017-12-27 22:54] #3298 closed

[2017-12-27 22:57] bacongobbler commented on #3287
I'm 99% sure this can be done using the `--override` flag. See https://docs.helm.sh/using_helm/#using-override for more details.

I'm going to close this because we've answered the question, however please let me know if you have any other questions and we'd be happy to re-open the ticket. Thanks!

[2017-12-27 22:57] #3287 closed

[2017-12-27 22:59] bacongobbler commented on #3287
Also FYI if you haven't already seen the documentation for it, but we are recommending to users with "untrusted" users in the cluster to please enable the TLS authentication feature for tiller. That way only trusted users can access and act on behalf of tiller.

More on that here: https://docs.helm.sh/using_helm/#securing-your-helm-installation

[2017-12-27 23:04] bacongobbler commented on #3296
Yes, I believe this is to be expected behavior. IIRC `--wait` was implemented to wait until pods, pvcs, services etc. are all in a non-initial state, whether that be in "ready", "failed" or "errored" states. Feel like making a PR to clarify that assumption?

cc @thomastaylor312, am I right on that assumption?

[2017-12-27 23:07] bacongobbler commented on #3300
Hi @singhpr. Could you please provide more information? Things like

- your kubernetes version
- how you deployed your cluster (GKE, Azure, home-grown solution?)
- your helm/tiller versions
- the output of `kubectl get pods --all-namespaces`
- also the output of `kubectl cluster-info`

Thanks!

[2017-12-28 03:13] raoy1990 opened #3303 "Tiller need to retry when watching the job to be completed"
Recently，I set a long job as hook, then install it. but I got an error _**watch closed before Until timeout**_ when tiller watching the job to be completed,then tiller stop the workflow. I checked the code and find that the tiller does not retry to watch the job when the connection is closed with unknown reason.

[2017-12-28 10:32] mvernimmen commented on #2135
I'm running into the same problem when trying to deploy tiller to a multi-tenant cluster using namespaces, RBAC and quotas. Output from the replicaset:
[code]
 Since the work done on this is from a while ago, could someone please be so kind to provide some insight into the current status of implementing this feature request?
I have a workaround for those running into the same problem:
[code]

[2017-12-28 13:25] AssafKatz3 commented on #1809
Any update about it?

[2017-12-28 13:39] mvernimmen commented on #2464
@bacongobbler I'm having the same issue here, while KUBERNETES_SERVICE_HOST is set correctly:
[code]

To fix the problem I set the KUBERNETES_MASTER in the running tiller pod and tried again, but when doing an install, the problem remains:
[code]

And trying the install with `--kube-context integrations@kube.t.nl02` or with KUBECONFIG set to the path of my .kube/config file did not resolve the pro

[2017-12-28 14:50] Stono commented on #3296
If that is the case, it'd be nice from a CI/CD perspective if we could add `wait-until-running` which waits for things to pass their `readinessProbes`

Thoughts?

[2017-12-28 14:51] Stono commented on #3298
Thank you @bacongobbler
I also like Bacon

[2017-12-28 15:05] kostyrev commented on #3015
@thomastaylor312 I don't get it. What ELB are you talking about?

[2017-12-28 16:07] mvernimmen commented on #2464
I have found 1 possible cause for this problem.
On a cluster set up with kubespray, running version 1.8.3, helm init and helm install work when executed by a user when deploying to a specific namespace. But only when the serviceaccount name is 'tiller'. When using serviceaccount name 'tiller-integrations-acc', the 127.0.0.1 error appears.
I've pasted my steps here: https://pastebin.com/TwCypx4Q
Di

[2017-12-28 17:08] anitakumar opened #3304 "installing helm in a designated namespace does not start the pod"
Hi,

On a kubernetes cluster create a service account name tiller-test and i have a namespace named test.
---
apiVersion: v1
kind: ServiceAccount
metadata:
    name: tiller-test
    namespace: test

---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
    name: tiller-services-test-clusterrolebinding
subjects:
- kind: ServiceAccount
  name: tiller-test
  namespace:

[2017-12-28 17:47] bacongobbler commented on #3304
Hey! Can you check the event logs in the namespace and see why pods cannot be scheduled?

[2017-12-28 23:22] #2977 closed

[2017-12-28 23:37] #1398 closed

[2017-12-29 19:15] Stelminator commented on #2036
+1 looking forward to this for our CI/CD.

[2017-12-29 19:28] bacongobbler commented on #2036
https://github.com/kubernetes/helm/pull/2972 was merged, therefore this is now available in the canary builds. Thanks @jmastr for the PR!

[2017-12-29 19:28] #2036 closed

[2017-12-29 20:59] bacongobbler commented on #2298
pulling off the milestone due to inactivity.

[2017-12-29 21:58] anitakumar commented on #3304
Thanks . this helped to check the logs
kubectl get events -w

my service account name was wrong and now its working

[2017-12-29 21:58] #3304 closed

[2017-12-29 22:29] bacongobbler commented on #3271
I'll tackle this. This should be a relatively quick fix!

[2017-12-29 23:00] bacongobbler commented on #3286
Hmm, sounds a lot like https://github.com/kubernetes/helm/issues/3017. Essentially objects that are related to the installation to the chart but weren't directly tied to the release (in this case, a Job kicked off by a hook) aren't being cleaned up on `helm delete`.

Perhaps we can inject some labels into all objects "installed" by helm, which then we can just use those label selectors to perform

[2017-12-29 23:01] bacongobbler commented on #3301
This is a good proposal for Helm 3 in the form of refactoring tiller into a CRD controller. See #3089 for more info.

[2017-12-30 02:19] ofanged1 opened #3306 "Error: unknown shorthand flag: 'â', when helm init with TLS"
I'm attempting to init helm on a cluster with TLS and I'm getting an error I don't understand, `Error: unknown shorthand flag: 'â' in -–tiller-tls-cert`. I installed the 64bit version for OSx in /usr/local/bin.

Kubernetes Node version
1.7.8-gke.0

helm version
Client: &version.Version{SemVer:"v2.7.2", GitCommit:"8478fb4fc723885b155c924d1c8c410b7a9444e6", GitTreeState:"clean"}

This is the error I

[2017-12-30 04:04] ofanged1 commented on #3306
Resolved by using the documented ssl certificate creation process linked above.
[code]

[2017-12-30 04:04] #3306 closed

[2017-12-31 12:54] Stono opened #3307 "Ability to read the parent Chart.yaml from Dependency"
Hey,
I have a situation where I use a chart dependency as a template for our application deployments:

[code]

I need to be able to access the parent `Chart.yaml` values from `some-template.yaml`, however using `{{ .Chart }}` within `some-template.yaml` is scoped to the `base-application-chart`.

Is there any way I can get access to the parent Chart details from within a dependency?

[2017-12-31 14:53] Stono opened #3308 "default function treats boolean false as not defined, and applies default"
values.yaml:
[code]

in template:
[code]

I would expect this to return `false`, as `someKey` is defined, and its value is false, however it returns true.

[2017-12-31 19:56] bacongobbler commented on #3308
You have the arguments flipped in the wrong direction. It should be `{{ default .Values.somekey false }}`. `default` takes its first argument as the value to check if it exists, then defaults to the second argument if it's not defined.

[2017-12-31 19:56] #3308 closed

[2017-12-31 20:01] Stono commented on #3308
@bacongobbler apologies, i noticed this too but it's still incorrect the other way....

values.yaml
<img width="276" alt="screen shot 2017-12-31 at 20 02 25" src="https://user-images.githubusercontent.com/1486729/34463963-71b57774-ee65-11e7-9285-fb02d9db4769.png">

template:
<img width="455" alt="screen shot 2017-12-31 at 20 02 07" src="https://user-images.githubusercontent.com/1486729/34463960-64

[2017-12-31 20:37] bacongobbler commented on #3308
Ah, I forgot that "empty value" is `false` when in reference to booleans, so I don't think you can use `default` in the way you want to.

https://github.com/Masterminds/sprig/blob/ecbec66c2936b6503e7c9e29123e343be03ac8eb/docs/defaults.md#default

It's probably better to use `{{ if $deployment.enabled }}{{ $deployment.enabled }}{{ else }}true{{ end }}` instead.

[2017-12-31 20:38] Stono commented on #3308
Ahh that clarifies, how annoying!
Thanks dude.

[2017-12-31 22:56] andreychernih opened #3309 "Proposal: ability to save (export) and restore (import) releases"
We are using Helm as the only way to install and update software in the cluster (including system components for monitoring, logging and so on). It would be really good to be able to save the current state of all releases (name, chart, namespace, passed values) into a file (`helm export`). Later, this file can be used for disaster recovery or for creating new environment/cluster.

I know that Ark

[2018-01-01 20:39] YDD9 commented on #1911
kubeadm1.9

When follow https://kubernetes.io/docs/tasks/run-application/run-single-instance-stateful-application/
I got similar error in node when create a PVC:
error processing PVC "default"/"mysql-pv-claim": PVC default/mysql-pv-claim has non-bound phase ("Pending") or empty pvc.Spec.VolumeName ("")
I don't have VolumeName, but if I added, it has a different error
error: error validating "mysql

[2018-01-02 03:33] kevin-zhaoshuai commented on #3271
@bacongobbler  Thanks a lot!

[2018-01-02 16:08] bacongobbler commented on #2774
/lifecycle frozen

[2018-01-02 16:17] vpetersson commented on #1707
+1 for me as well.

[code]
After deploy, I get this:

[code]

I also get `InvalidImageName` upon running `kubectl get pods`.

Appending `| toString` does not appear to make a difference for me.

Using @ipedrazas trick (`\\"6180689\\"`) however does seem to do the trick.

[2018-01-02 16:20] bacongobbler commented on #3307
related: #1892

[2018-01-02 16:23] pierreozoux commented on #3208
I'm also seeing this behavior on a release called `content`:
[code]

I will have to delete this to be able to continue to deploy, let me know if there is anything I can do to help debug this.
(I think we should rename the issue, as it is more about the duplicates?)
(we also run `2.7.2`)

[2018-01-02 16:25] bacongobbler commented on #3309
#3089 might be related to this space. If we refactor tiller as a CRD controller for v3, it would open up the opportunity to save and restore releases. Right now, the common convention is to deploy an "immutable" chart to the cluster, but that might not best reflect the cluster's current state e.g. which versions were deployed, the dependency trees etc.

I know you think it might be overkill, but a

[2018-01-02 16:44] pierreozoux commented on #3208
I actually have another duplicate release on my cluster, if you have any command for me to run to help debug that? Let me know!

[2018-01-02 17:11] kfox1111 commented on #2743
/remove-lifecycle stale

[2018-01-02 17:20] cueBall123 commented on #3173
I just ran into this issue. Is there a work around for this until the fix is in place.

[2018-01-02 19:44] bacongobbler commented on #3256
You could try editing the cronjob out of the latest release's configmap payload, though I'm not 100% sure what the outcome would be. My hunch is that the existing DaemonSet will be orphaned and the new CronJob will appear, so I'd make sure the old CronJob is removed from the cluster before applying an upgrade. You're welcome to give that a shot though and see what happens! :)

[2018-01-02 20:22] bacongobbler commented on #2791
Ah yes. This was fixed in v2.7.2. Please upgrade and see if that fixes it for you. :)

More info here: https://github.com/kubernetes/helm/releases/tag/v2.7.2

[2018-01-02 20:22] bacongobbler commented on #2791
PR that fixed this: https://github.com/kubernetes/helm/pull/3152

[2018-01-02 20:22] #2791 closed

[2018-01-02 22:09] bacongobbler commented on #1606
/remove-lifecycle stale

[2018-01-02 22:09] bacongobbler commented on #1862
/remove-lifecycle stale

[2018-01-02 22:09] bacongobbler commented on #1702
/remove-lifecycle stale

[2018-01-02 22:09] bacongobbler commented on #1702
/lifecycle frozen

[2018-01-02 22:10] bacongobbler commented on #1606
/lifecycle frozen

[2018-01-02 22:10] bacongobbler commented on #1862
/lifecycle frozen

[2018-01-02 22:10] bacongobbler commented on #1979
/remove-lifecycle stale

[2018-01-02 22:10] bacongobbler commented on #1979
/lifecycle frozen

[2018-01-03 10:15] majewsky commented on #1674
/remove-lifecycle stale

I guess...

[2018-01-03 10:19] majewsky opened #3311 "confusing UX when using chart dependencies"
So I saw that some other charts in my team's helm-charts repo use `requirements.yaml` like this:

[code]

I wanted to use that for my own chart as well, so I copied the `requirements.yaml` over into my chart and edited it to refer to the dependencies that I want to pull in. To generate `requirements.lock`, I was told by a colleague to use `helm dependency up`:

[code]

No idea what is going on her

[2018-01-03 10:25] majewsky commented on #3311
After some Ctrl-F on https://docs.helm.sh/developing_charts/, it appears that using `file:///` URLs is undocumented. I find this surprising: When I'm writing documentation, I usually start with the simple case (i.e. that one which does not involve network roundtrips to distributed services) before moving on to more complex stuff.

[2018-01-03 17:14] michelleN commented on #1957
@chrislovecnm @lainosantos This kind of dropped off my radar as I got busy with other things. I can try to get on this in the next month or two.

[2018-01-03 17:34] JamesWojewoda opened #3312 "enhancement: Tiller needs specified request/limit for resources"
Tiller is getting restarted due to no resource commitment if other applications on node are in need of cpu

[2018-01-03 22:45] blakebarnett commented on #3256
I didn't dare for production, I just had everyone remove CronJob resources from their helm charts until after the upgrade. I imagine we'll hit this again someday with some other alpha resource so I'll try to validate a process for manually modifying the configmap on a test cluster.

[2018-01-03 23:00] bacongobbler commented on #990
/remove-lifecycle stale
/lifecycle frozen

[2018-01-04 01:22] gmflau opened #3313 "Helm does not de-provisioning pvc generated through StatefulSets' dynamic storage provisioning"
I was able to use "helm install ..." to deploy my StatefulSets with dynamic volumne provisioning properly.  However, "helm delete ..." does not decommission (remove) the pvc generated through my StatefulSets' dynamic volume provisioning.

[2018-01-04 02:25] tmaier commented on #2347
I prefer to be able to set `--set` or `-f`. The reason is, that it allows me to lint certain scenarios, for example `subchart1.enabled=false,subchart2.enabled=true` or `controller.kind=DaemonSet`.

All this options may generate different sets of YAML files which need to be linted.

[2018-01-04 07:11] #2672 closed

[2018-01-04 07:14] thomastaylor312 commented on #3296
Actually it should be in a Ready state, so this is a bug. If anyone could take a look at this, that would be helpful because I'll be reviewing Helm CFPs 🙂

[2018-01-04 07:17] thomastaylor312 commented on #3015
@kostyrev I was asking if the cluster was running in AWS because we had seen issues with ELBs killing connections from your local Helm client to Tiller running in the cluster

[2018-01-04 07:19] thomastaylor312 commented on #2397
@atombender Our friendly neighborhood bot reminded us that there hasn't been any activity. Are you still having this issue?

[2018-01-04 07:20] thomastaylor312 commented on #2212
/lifecycle frozen

[2018-01-04 07:21] thomastaylor312 commented on #1904
/lifecycle frozen

[2018-01-04 11:40] kenden commented on #2114
/remove-lifecycle stale

[2018-01-04 12:27] kostyrev commented on #3015
yeah, thanks
After some browsing I've figured it out that you were talking about ELB in front of API server.
And that's was the case for me. By default kops sets up 300 seconds. After increasing idle_timeout the problem was solved for me.

[2018-01-04 14:05] withnale commented on #2948
Is there any update on this one? I'm seeing subcharts disappearing just by doing a `helm upgrade --reuse-values` on a parent chart with conditional subcharts

[2018-01-04 14:29] balboah opened #3314 "[proposal] refactor aliases for subcharts"
#### Some background:
I'm having one umbrella chart to manage a "complete deployment". Where instead of a requirements file, I'm using symlinked subcharts (feature merged in https://github.com/kubernetes/helm/pull/3113). This lets me group all my different services into charts where everything is still hosted within the same repository without any external dependency management. Each subchart has

[2018-01-04 15:41] Evesy commented on #2347
Ignoring required values would be my preference.

While `--set` being supported could be useful I'd still like the option to simply ignored required values, as `--set` become less viable when using templates in CI/CD to do generic test/builds

[2018-01-04 16:32] balboah commented on #3276
One alternative solution is to distribute your certs and licences as a separate helm release. Where you put them into config maps with a name that your service deployment knows about, use a configmap/secrets volume mount in your service deployment.

[2018-01-04 16:34] balboah commented on #3276
Maybe that was what @cr4igo already suggested :)

[2018-01-04 16:34] bacongobbler commented on #2894
/remove-lifecycle stale
/lifecycle frozen

[2018-01-04 16:38] bacongobbler commented on #1912
/remove-lifecycle stale
/lifecycle frozen

[2018-01-04 16:38] bacongobbler commented on #1168
/remove-lifecycle stale
/lifecycle frozen

[2018-01-04 16:38] bacongobbler commented on #2708
/remove-lifecycle stale
/lifecycle frozen

[2018-01-04 17:21] michelleN commented on #1952
@thomastaylor312 I don't have any current plans for `helm test`. Originally, I thought we would do this version as an MVP and do a major overhaul. There have been a few feature requests here and there but I don't have the bandwidth to work on those or a major overhaul at the moment.
I'd be interested in having a discussion at SIG Apps about `helm test` to see if we want to do a proposal for a majo

[2018-01-04 19:57] bacongobbler commented on #2588
I'm going to go ahead and close this as the OP's problem has been resolved as noted by others chiming in here.

[2018-01-04 19:57] #2588 closed

[2018-01-04 21:13] djhaskin987 commented on #2918
I too ran into this issue. My chart has hooks as well. In addition, maybe this has to do with upstream? https://github.com/kubernetes/kubernetes/issues/31345

[2018-01-04 21:16] bacongobbler commented on #2918
Which version of draft are you running? Pretty sure the watch flag hasn’t worked for a few releases ever since the UX update in 0.5. :)

[2018-01-04 21:31] djhaskin987 commented on #2918
I don't use draft. Just helm.

[2018-01-04 21:35] bacongobbler commented on #2918
Oh I'm terribly sorry. I was context switching and thought this was the draft issue queue. My bad!

[2018-01-04 22:42] chainlink commented on #1809
Also following

[2018-01-04 22:59] bacongobbler commented on #1809
No update to report. :)

[2018-01-05 11:03] mparry commented on #1707
We've also run into this bug a couple of times.

It seems to me that the change in #2467 was too broad. Certainly I would argue that this problem it has introduced is worse than the problem it solved.

[2018-01-05 12:37] balboah commented on #3221
I like the local charts dir requirement suggestion

[2018-01-05 13:36] kiich commented on #2751
+1 for this issue - we have our "main" chart which all of our charts depend on and would be good to just change the NOTES.txt in that one place.

[2018-01-05 15:29] chainlink commented on #1809
Is there a work around?

[2018-01-05 18:02] technosophos commented on #3314
The workaround we've suggested before is to add one more subdirectory:

[code]

Then you can address them in the values file/set syntax as `groupa.kafka`...

For 1, I think a helmalias file would be fine if we couldn't solve via #3221.

For 2, I think that breaks backward compatibility.

For 3, my only reservation about #3221 (which has come up before) is that it might break backward compatibility

[2018-01-05 18:09] technosophos commented on #3221
That makes sense to me. I would call the current behavior a bug.

After looking a bit at how things are, I also agree with @balboah that we need to improve the way that the `file://` charts are handled in requirements.txt. The two pieces of code that are in conflict in this issue were developed independently (at about the same time), and I think we just need to do a little upkeep to make the exper

[2018-01-05 18:12] technosophos commented on #3313
This was by design. Helm will not manage things that were created by things other than Helm, because Helm is not "authoritative" about those. That is, Helm does not have information about the user's intent when it comes to things that were created by other things. @viglesiasce has some additional insight on why we are really careful when destroying PVCs/PVs in particular, but it boils down to the

[2018-01-05 18:14] technosophos commented on #3312
Is there a sensible default for this?