[2020-04-06 23:40] technosophos commented on #7864
Text would be preferred to screenshots. We cannot copy and paste the text from a screenshot.

Okay, here are the steps I took to reproduce:

[code]

(I am running on `master`)

1. `helm create test-7864`
2. Delete all the default templtes: `rm -rf test-7864/templates/*.yaml test-7864/template/NOTES.* tests`
3. Create a new template called `example.yaml` whose content is `tag: {{.Values.image.tag}}

[2020-04-06 23:43] technosophos commented on #7859
This proposal is not detailed enough. You would need to specify the specific behavior with use cases, and explain how it would work.

[2020-04-06 23:44] technosophos commented on #7857
Are you suggesting that Helm 2 and Helm 3 behave differently, or that both are doing something you did not expect?

[2020-04-06 23:46] technosophos commented on #7856
The place to contribute is here: https://github.com/helm/helm-www

[2020-04-07 00:04] electrocucaracha commented on #7656
Hey there,

I was able to reproduce this issue using a Helm 3 client (I couldn't compile the latest stable version 2) but I just used the version 2 to bootstrap the Tiller server required for OOM.

[code]
The problem occurs when the lint process is executed against the `onap` folder.
[code]
As @kopasiak mentioned, it takes a lot of time to execute the [renderWithReferences](https://github.com/helm

[2020-04-07 00:05] technosophos commented on #7855
I have tested in both Helm 2 and Helm 3, and it seems to work in both.

How I did my test case:

1. `helm create issue7855`
2. Delete everything in `issue7855/templates/`
3. Create a template in `issue7855/templates/example.yaml`

[code]

Next, I created a `values-7855.yaml` file with this content:

[code]

Next, I did `helm template issue7855 -f values-7855.yaml`. It produced this:

[code]

I tes

[2020-04-07 02:48] isaachui opened #7884 "Helm list shows app deployed to `default` namespace, but was deployed to a different namespace"
I deployed an app using helm:
`helm install --kubeconfig /Users/me/.kube/config django-app-dev -f dev.yaml .`
Inside all 4 of my template yaml files I have specified:
[code]
[code]

Running `helm list` gives:
[code]

Running `kubectl get pods -n dev`
[code]

Running `kubectl get pods -n default` show nothing

Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Pla

[2020-04-07 03:10] javonclarke commented on #5595
This issue should be a high priority one seeing that most people use helm in production. I could run the helm install with `--atomic`, but what if I'd like to inspect the reason for failure before deploying? I can inspect and then upgrade because it's stuck.

[2020-04-07 05:09] deekshahegde86 commented on #4915
I see this issue on OC 4.3 with Helm 3 . My helm chart needs to create a SCC. Unable to create with same error. Any idea how to fix?

[2020-04-07 05:56] RomanDvorsky commented on #7880
Ok, I had an impression from azure pipelines (from HelmDeploy@0 task) that it's validated against the cluster - because the task requires the cluster connection even for the dry run but I guess the task does not know whether it is a dry run or not.

@bacongobbler (or any other experienced enough) - hi :) - how the `helm template --validate` works? Does it take the current default cluster connectio

[2020-04-07 06:07] RomanDvorsky commented on #7880
So I did some testing and neither `helm lint` or `helm template --validate` does validate these issues 😞.

however `helm lint` gives me a nice hint instead 😄:
![image](https://user-images.githubusercontent.com/36188474/78635469-99e44680-78a6-11ea-877b-cc4b7e86414c.png)

[2020-04-07 08:41] SimonHeimberg commented on #7419
Thank you. I did not see this in the doc. Now I found it in `content/docs/intro/using_helm.md` since I knew what to look for.

[2020-04-07 09:12] hickeyma commented on #7877
@heckad I hope this has helped to answer your questions? Let me know if you have any other questions.

[2020-04-07 09:39] hickeyma commented on #7884
@isaachui Looking at your description it seems that you have:
- Set an explicit namespace `dev` on each of the k8s resources in the templates
- You then install the chart without passing a namespace, so it will use your current namespace which seems to be `default`

The behaviour then will be:
- The k8s resources will be created in the `dev` namespace in the cluster
- The Helm release metadata wil

[2020-04-07 09:43] nemoo commented on #5595
We are also using upgrade --install for **idempotent** deployment of helm releases. Because that is how automated ci/cd piplines work. We do not plan to manually fiddle around with helm because that would bypass our deployment pipeline.

In an automated deployment pipeline the first deployment will almost always fail. Subsequent deployments must not be triggered differently than the first attempt.

[2020-04-07 09:51] isaachui commented on #7884
@hickeyma
Thanks for the response! The expected behavior seems a little odd, but it seems like you know exactly what's going on. I guess I expected that the Helm release metadata would have caught that there was a namespace specified in the k8s resources.

I looked briefly at the issues you posted and it seems like there's definitely still some discussion. The goal for me in specifying namespaces

[2020-04-07 10:25] hickeyma commented on #7884
I would say don't put the namespace in the templates or  set it is as follows: `namespace: {{ .Release.Namespace }}`

This will use the namespaces passed by Helm when deploying.

[2020-04-07 10:43] finaldzn opened #7885 "Use command line arguments programmatically"
Output of `helm version`: 3.1.2

Output of `kubectl version`: 1.15.5

Cloud Provider/Platform (AKS, GKE, Minikube etc.): local

Hello,
I'm trying to convert a bash deployment script into golang. To do that I'm using the helm library.
I managed to install a chart but I know want to add arguments to my installation. (password for postgresql).

What I'm trying to is this :
`userVals := map[string]int

[2020-04-07 11:09] hickeyma commented on #7885
@finaldzn It is set in the cli [here](https://github.com/helm/helm/blob/master/cmd/helm/install.go#L154)
and passed to the library code [here](https://github.com/helm/helm/blob/master/cmd/helm/install.go#L224)

[2020-04-07 11:10] hickeyma commented on #7885
Let me know if that helps

[2020-04-07 11:35] emre141 commented on #6666
Hi,
I have the direct oppsite issue. In the rabbitmq-ha chart pull my locally and I use it my local path.Although I did not change anything under template yaml or values yaml files but following command show me secret and configmap yaml files will change in each execution

```helm install mqttservice ./rabbitmq-ha/  -f rabbitmq-ha/values.yaml -f rabbitmq-ha/values.${Environment}.yaml --namespace $

[2020-04-07 11:42] finaldzn commented on #7885
Oh okay, so you advice me to use cmd rather than pkg to use helm programmatically ?

[2020-04-07 11:48] hickeyma commented on #7885
No, I am just showing you how the cli passes the values to the library. You can use some of this pattern to do the same.

[2020-04-07 12:03] hickeyma commented on #7572
@xUnholy I am not sure how you would implement this in Helm and if it is within the remit of Helm. The more I think  about this the more I think that this is better suited to a tool around Helm rather than Helm core capability.  It might be worth implementing it as a [Helm plugin](https://helm.sh/docs/topics/plugins/).

Let me know what you think.

[2020-04-07 12:13] polasekr commented on #4915
Try upgrading or downgrading helm

[2020-04-07 12:20] ryu-sato commented on #7857
I'm suggesting that Helm 2 and Helm 3 behave differently.

With Helm 2, running `helm install --dep-up .` installs all charts, including charts those depend on.
However, with Helm 3, running `helm install --dependency-update test .` does not install the dependent charts.

I'm expecting that Helm 3 will install all the charts, including charts those depend on, just as Helm 2 did.

[2020-04-07 12:36] walker-tom opened #7886 "helm install --dependency-update doesn't deploy downloaded charts (again)"
I'm having the same issue as was described in https://github.com/helm/helm/issues/3423. Trying to install a chart using `helm install --dependency-update` with only a `requirements.yaml` file downloads the dependency charts into `charts/` and creates a `requirements.lock` but the install doesn't use these new charts.

Looking at the PR created to resolve the old issue, the fix added to `cmd/helm/i

[2020-04-07 12:56] thesayyn commented on #7337
I'm having this problem as well.

[2020-04-07 13:39] bacongobbler commented on #7337
That’s an intentional design decision from text/template. From the docs:

[code]

https://golang.org/pkg/text/template/

[2020-04-07 13:42] bacongobbler commented on #7886
Duplicate of https://github.com/helm/helm/issues/7857.

[2020-04-07 13:42] #7886 closed

[2020-04-07 13:50] finaldzn commented on #7885
Okay so following up,
Instead of using the flags I went like this :
`userVals := map[string]interface{}{
		"global": map[string]interface{}{
			"postgresql": map[string]interface{}{
				"postgresqlPassword": "test",
			},
		},
	}
	rel, err := iCli.Run(chart, userVals)`

It does the same but I bypass the flag system completly because I couldnt figure out how to use the flags without using cobra.

H

[2020-04-07 13:50] #7885 closed

[2020-04-07 14:26] timothyclarke commented on #7517
I'd imagine that conifg snippet would best sit in `_helpers.tpl`

[2020-04-07 14:30] TBBle commented on #7517
That's where our local chart has the example I pasted above. I haven't created a Helm chart from scratch for a while, so I wasn't sure if there _was_ a _helpers.tpl in the default starter.

[2020-04-07 15:54] Mornster061 commented on #6782
everytime i write my token in a terminal of kali , it shows such error
bash: /usr/bin/ngrok: cannot execute binary file: Exec format error
is there anything i can do about it to solve it???????

[2020-04-07 16:04] Nastradamus commented on #7219
@Vandersteen
@behoof4mind
@Arabus

We had helm 2.9.1 and upgraded our k8s cluster to 1.6.8 from 1.5.3 . After that our Helm-managed projects became broken (failed during upgrade). We converted out releases to Helm3 but still have the same error.

I rewrote some parts of this script to fix "extensions/v1beta1 -> apps/v1" in the deployments.

Example of execution:
[code]
(deployment.yaml - that name

[2020-04-07 16:22] heckad commented on #7877
Why you can't use chaced chart version if a user does not specify chart? More clearly question: Why is the chart a required field, not optional?

[2020-04-07 16:34] bacongobbler commented on #7877
[As mentioned earlier](https://github.com/helm/helm/issues/7877#issuecomment-609642995), Helm does not save the pre-rendered templates from your chart in Kubernetes. The only objects saved are the [rendered manifests](https://github.com/helm/helm/blob/c12a9aee02ec07b78dce07274e4816d9863d765e/pkg/release/release.go#L32-L33), which are needed to compute the delta between the chart you are upgrading

[2020-04-07 16:35] bacongobbler commented on #7877
Since there are no action items to follow up on, I'm going to go ahead and close this. Thank you for your question.

[2020-04-07 16:35] #7877 closed

[2020-04-07 16:39] bacongobbler commented on #7517
closed with #7878.

[2020-04-07 16:39] #7517 closed

[2020-04-07 16:42] kfox1111 commented on #7517
What about the helm package use case?

[2020-04-07 16:56] alexandrsemak commented on #6361
@bacongobbler We faced the same issue with `prometheus-adapter` which exposed custom apiservice and if I failed release with custom apiservice and `kubectl get apiservice` any of this list would be AVAILABLE=false helm no longer able to make any new release even if it not related to custom apiservice:
`err="Could not get apiVersions from Kubernetes: unable to retrieve the complete list of server A

[2020-04-07 17:03] bacongobbler commented on #7517
That is covered in #3555.

[2020-04-07 17:06] bacongobbler commented on #7517
Additionally, `helm package --app-version` already exists and is available in Helm 3.1.2.

[2020-04-07 17:16] kfox1111 commented on #7517
Doh. I missed that somehow. Sorry. Thanks for helping me see it.

[2020-04-07 18:18] thesayyn commented on #7337
I must have missed it. Thank you for the clarification.

[2020-04-07 23:13] Jeskz0rd commented on #7697
I'm facing the same issue mentioned by @framled while updating istio objects. Noticed that behaviour with different objects, VirtualService, Policies, AuthorizaitonPolicies.

[code]

As a workaround, I have to delete the deployed chart (`helm delete -n`...) and redeploy it right after. When I clean up the deployed chart (that shows the error above) then I don't face this issue anymore.

I couldn't

[2020-04-08 00:15] omesser commented on #7537
Hey helm folks, Is anyone looking at this?
This is a real regression in handling of CRDs

[2020-04-08 01:50] nokia-t1zhou commented on #7855
i had test in my env with your example,
value.yaml:
[code]
example.yaml:
[code]
but in the different helm version, the result is different, in helm 2.13.1(Server: &version.Version{SemVer:"v2.13.1", GitCommit:"618447cbf203d147601b4b9bd7f8c37a5d39fbb4", GitTreeState:"clean"}), the  output is:
[code]
but in helm version 2.15.2(Server: &version.Version{SemVer:"v2.15.2", GitCommit:"", GitTreeState:"cle

[2020-04-08 02:29] xlixlixli commented on #6955
How did you solve the problem?
I have the same question now.

[2020-04-08 06:38] kristinnardal2 opened #7888 "Document extra functions"
Helm defines a few functions of its own in pkg/engine/func.go for serializing and deserializing data
https://github.com/helm/helm/blob/b735abe8371359fcf0b37de8014bfafcceb1bcf8/pkg/engine/funcs.go#L50-L57

I use the `toYaml` function quite a lot but I think the only reason I know that it exists is that the default templates when using `helm create` use this function. The main problem I have is that

[2020-04-08 07:44] remiuz commented on #7725
I have exactly the same issue when trying to update a chart that contains a Job definition.
I tested with Helm 3.0.3 and 3.1.1 and it fails with both.

A bug fix would be really appreciable for this issue :crossed_fingers:

[2020-04-08 08:29] amir-hadi commented on #4262
@shal You closed this issue, did the problem disappear for you? I see a similar behavior with `toYaml` which is caused problems for me right now.

[2020-04-08 08:41] shal commented on #4262
Hey @amir-hadi, I temporary resolved this issue by just copying all YAML files as config maps into the helm chart 😄

[2020-04-08 08:53] donggangcj commented on #7836
@hickeyma  could you please review the PR ? thanks!😄

[2020-04-08 09:53] thecrazzymouse commented on #1769
What is the solution for rerunning jobs on helm v3?

[2020-04-08 10:06] danrobdean opened #7889 "Subcharts with clashing global values?"
Say I have two subcharts/dependencies with the following in their `values.yaml` files:
[code]

How can I override each subchart with a different value for `global.image.repository`? It doesn't seem to be possible to set a global value for a specific subchart, unless I'm missing something.

The obvious workaround would be to use a hierarchy like:
[code]
This is a bit clunkier for passing values thr

[2020-04-08 10:42] phakkarainen opened #7890 "helm status (v3) not showing the k8s endpoint etc info like helm v2 did"
I guess that comes from the missing tiller. Is there a workaround in v3?

[2020-04-08 14:34] robg opened #7891 "Post-renderer not receiving chart hook manifests?"
Output of `helm version`:

[code]

Output of `kubectl version`:

[code]

I was experimenting with the `--post-renderer` option and a simple chart that includes one pod:

[code]

and one pre-install hook:

[code]

For the test, I was using a no-op post-renderer:

[code]

When I execute `helm install post-render-test ../chart --post-renderer ./post-renderer --debug --dry-run` I see both the chart ho

[2020-04-08 15:32] midestefanis commented on #7677
I was having the same problem with helm v3.1.2. Please I need this solution. Thank you

[2020-04-08 18:23] lkysow commented on #7447
The workaround for us was to set the weight of the job to be greater than the weight of the service account so that the serviceaccount gets created first. Since the default weight is 0, we set the job to 1.

[code]

[2020-04-08 18:37] isaachui commented on #7884
So in conclusion, I should always specify `--namespace` for helm if I want helm's metadata to show up under `helm list`. If `namespace` is specified in the manifest files it will deploy to the specified `namespace` but `helm list` will show `default`

[2020-04-08 19:39] hickeyma commented on #7219
@curtisr7 @abrenneke @travisghansen @Arabus @TBBle @matfiz @alexandrsemak @behoof4mind  @mr-yakyI @Vandersteen @Nastradamus An update you on where the issue is currently at.

A number of core maintainers have looked at this problem and have not found any good solution to solve it. This is inline with @adamreese feedback in https://github.com/helm/helm/issues/7219#issuecomment-594824635. The issue

[2020-04-08 19:53] travisghansen commented on #7219
@hickeyma I'm 100% on-board with helm doing nothing here...trying to come up with a solution that covers all scenarios etc seems like it would be very brittle and potentially dangerous.

The only thing I can think of would be to document perhaps a series of 'no really, do what I tell you' commands for when people hit this (and/or provide if necessary some additional flags to helm that facilitate t

[2020-04-08 19:58] phumberdroz commented on #7447
That is an awesome followup thanks!

[2020-04-08 21:54] Arabus commented on #7219
Sounds reasonable as this is a rather hard nut to crack. To alleviate the issue one could add extra warnings when using deprecated APIs during helm deployments, try to improve the error messages so it is clear what is actually the issue here and let them link to a documented workaround. In addition some kind of "helm edit" command, that would allow to edit an existing manifest without doing the do

[2020-04-08 23:22] Jean-Baptiste-Lasselle commented on #7838
Hi @mattfarina To follow up the issue, until I close it :
* Thank you so much for mentioning the checksums files format change in Helm v3, I indeed checked it :

[code]
* Now let's check signature of either the binary, or the checksum file :
  * The release mentions a public PGP key, claimed to be the one used to signed the releases assets. So we are looking for the signature, of any file in the r

[2020-04-09 00:00] technosophos commented on #7855
I was testing against 2.16 (well, the candidate for what will either be the next 2.16 or 2.17). Would you mind testing that?

[2020-04-09 00:57] nokia-t1zhou commented on #7855
i will testing it in the new version when the new helm is ready in my lab env.

[2020-04-09 03:56] #7884 closed

[2020-04-09 06:28] singh-brajesh247 opened #7893 "Helm hooks: post-rollback not working."

[2020-04-09 06:33] #7855 closed

[2020-04-09 07:53] dschniepp commented on #4796
I thought about introducing a new flag similar to the `--set-file` like `--set-dot-env-file string       set values from respective .env file specified via the command line.`

[code]

@bacongobbler would you be open for a PR like this?

[2020-04-09 09:11] mkjpryor-stfc commented on #2506
+1

While in general I agree with the principle that the child chart should not know or care about the parent, IMHO having access to the parent chart name in order to set `app.kubernetes.io/part-of` is a case Helm should support.

Perhaps just the parent name and maybe version could be made available at `.Chart.Parent.{Name,Version}`?

[2020-04-09 09:13] mkjpryor-stfc commented on #2506
Then charts could include something like:

[code]

Maybe this could even go into the default template that is generated by the scaffold.

[2020-04-09 09:17] mkjpryor-stfc commented on #2506
I can also envisage cases where you might want to include the name of the parent chart in the `fullname` template.

[2020-04-09 09:45] styk-tv commented on #7418
Perfect example is Hashi Vault

Nice chart, works with v3 only:

1) helm3 upgrade --install Something is not right. I want to wipe it.
2) helm3 list (empty, oh no, f..k)
3) kubectl delete ns vault (but crd's live outside)
4) fix then helm3 upgrade --install (cannot do because not everything got deleted)
5) me angry at helm3 developers,

what is broken here is fully deployed chart (with some minor

[2020-04-09 09:49] hickeyma commented on #7884
When no namespace specified, it will use your current namespace context.

[2020-04-09 09:57] hickeyma commented on #7888
Duplicate of https://github.com/helm/helm-www/issues/489

[2020-04-09 09:57] hickeyma commented on #7888
Closing as a duplicate of https://github.com/helm/helm-www/issues/489. Details added to that issue.
Thanks for raising this @kristinnardal2 .

[2020-04-09 09:57] #7888 closed

[2020-04-09 10:04] namloc2001 opened #7894 "Error: rendered manifests contain a resource that already exists. - extend to include the resource name"
When I run: `helm install my-defectdojo DefectDojo` I get:
`Error: rendered manifests contain a resource that already exists.`

However I cannot find anything via `kubectl get all --all-namespaces` that is related.

If Helm knows there is a resource that already exists, it would be really helpful if it told me what it was so that I knew where it was to remove it. Can this information please be pro

[2020-04-09 10:07] innerpeacez opened #7895 "Why value: "" is gone?"
Output of `helm version`:
v3.0.2
Output of `kubectl version`:
[code]

values.yaml
[code]
deployment.yaml
[code]
do `helm template` result
[code]
do `helm install` result
[code]
why -value is gone? Help please.

[2020-04-09 10:09] hickeyma commented on #7890
@phakkarainen What do you mean by the k8s endpoint? Could you show the Helm v2 status output that you are talking about?

[2020-04-09 10:15] hickeyma commented on #7891
@thomastaylor312 if you get a chance ^^

[2020-04-09 10:20] phakkarainen commented on #7890
Ah, it must be SUSE Cloud Foundry spesific then. :)

When you run
helm status suse-scf
it displays:

The endpoint for use by the `cf` client is
        https://api.apps.example.com

    To target this endpoint run
        cf api --skip-ssl-validation https://api.apps.example.com

and bunch of other stuff I do not currently see
with helm 3 and kubecf.

[2020-04-09 10:48] liuming-tech commented on #7894
LGTM

[2020-04-09 10:59] liuming-tech commented on #7893
cc #7677 #7714

[2020-04-09 11:28] hickeyma commented on #7447
@phumberdroz From [chart hooks](https://helm.sh/docs/topics/charts_hooks/) doc:

The library then loads the hook with the lowest weight first (negative to positive)
The library waits until the hook is “Ready” (except for CRDs)

That mirrors the advice from @lkysow in https://github.com/helm/helm/issues/7447#issuecomment-611115950.

Seems to be working as expected. Let me know if that answers your

[2020-04-09 11:58] hickeyma commented on #2506
@mkjpryor-stfc Would this be covered with #7477 ?

[2020-04-09 12:03] mkjpryor-stfc commented on #2506
@hickeyma

I think the main difference is that what is proposed here would require zero configuration. Charts can assume that the information is either present at the standard location or not present at all.

#7477 covers the more general case of permitting child charts to access values from the parent, from what I can see.

I think it is important that this is something that is standardised. #747

[2020-04-09 12:11] hickeyma commented on #7894
@namloc2001 This is strange that it doesn't show the resource conflict error msg from the k8s Go library. Do you mind checking with the latest [v3.1.2](https://github.com/helm/helm/releases/tag/v3.1.2) to see if the issue shows in it?

We can then look to see how to repeat this as its not showing for me.

[2020-04-09 12:22] namloc2001 commented on #7894
Hi, tried it following upgrade to 3.1.2:

`helm install my-defectdojo DefectDojo`
[code]

helm version
[code]

So that's better. Thanks.

[2020-04-09 12:22] #7894 closed

[2020-04-09 12:37] hickeyma commented on #7890
@phakkarainen It might be worth raising the issue then with the SUSE CF environment.

Going to close this as not Helm core issue.

[2020-04-09 12:37] #7890 closed

[2020-04-09 12:39] hickeyma commented on #7893
@singh-brajesh247 Do you mind providing details about this issue in the description. The title is not enought information to help with it.

[2020-04-09 12:40] hickeyma commented on #2506
I think maybe allowing but not providing as a standard is what @technosophos suggested in https://github.com/helm/helm/issues/2506#issuecomment-307131659?

[2020-04-09 12:44] mkjpryor-stfc commented on #2506
@hickeyma @technosophos

I would argue that in this particular case, we want to standardise as it allows for charts to be built in such a way that they can populate a recommended label (`app.kubernetes.io/part-of`) without further configuration.

See my previous comment:

[2020-04-09 13:24] hickeyma commented on #7895
I tried to reproduce this issue with latest code in master but could not reproduce. I tested it as follows by creating a scaffold chart and adding your template code and values from the description:

[code]

Do you mind testing with the latest version [v3.1.2](https://github.com/helm/helm/releases/tag/v3.1.2) to see if you can reproduce?

[2020-04-09 14:22] mattfarina commented on #7838
@Jean-Baptiste-Lasselle Thank you for pointing out the bad signature. I have verified the issue. I am working to correct the problem.

[2020-04-09 14:47] anshulvermapatel commented on #7796
@marckhouzam , well I think these commands are not too much in numbers so it is less prune to errors. Once we test them thoroughly, I think we can avoid initializing actionConfig where it is not required.

[2020-04-09 15:15] maateen commented on #4251
I am using MacOSX Catalina 10.15.3 and still facing the problems. So, I've replaced the stable repo with the Azure mirror.

Delete the original stable repo:

[code]

Add Azure repo:

[code]

[2020-04-09 15:19] lindhe commented on #7710
I was also surprised by this behavior. Since `helm dependency build --help` says "If no lock file is found, 'helm dependency build' will mirror the behavior of 'helm dependency update'" I expected it to work without adding the dependencies first, since `helm dependency update .` works perfectly.

[2020-04-09 15:27] sbose78 opened #7896 ""display name" in the index.yaml"
Is there a way to add a displayName to the index.yaml ?

[2020-04-09 15:31] bacongobbler commented on #7896
Hi @sbose78. Can you elaborate more on your use case? I'm not sure what you mean by `displayName`.

[2020-04-09 15:55] lkysow commented on #7447
I'm not sure it's working as expected because it seems like the service account isn't submitted to the cluster when it has the same weight as the job.

[code]

You'll need to add a command to the job but I bet when you submit this the job never runs because the service account doesn't exist.

[2020-04-09 15:55] sbose78 commented on #7896
Thank you @bacongobbler !

I would like to display a user-friendly name in a UI rendered based on index.yaml

cc @waveywaves @pedjak @rohitkrai03 @morstad

[2020-04-09 16:11] Jean-Baptiste-Lasselle commented on #7838
@mattfarina I am the one thanking you for your brilliant work on Helm, and the entire Helm Team, and we are thousands thanking you all

[2020-04-09 17:01] mattfarina commented on #7838
@Jean-Baptiste-Lasselle I figured it out. The files themselves are not on GitHub. The downloads and signatures are on two different domains. The files and shas you can get by:

[code]

When I got them from there verification worked.

[2020-04-09 17:06] hickeyma commented on #7447
If same weight applies, its alphabetical order which means the Job tries to be created before the ServiceAccount.

[2020-04-09 17:18] Jean-Baptiste-Lasselle commented on #7838
@mattfarina ok, thank you so very much, I'll check that asap and feed back.

[2020-04-09 17:36] bacongobbler commented on #7447
If the names are identical as demonstrated in your last comment @lkysow, I believe the sorting algorithm takes them in its current order. In your example, the job would be submitted first, then the service account.

Have you tried reversing the order?

I think given that @phumberdroz's original question has been answered, we can probably close this issue out. Is there any other questions you had,

[2020-04-09 17:44] lkysow commented on #7447
In our helm chart they're in different files. Maybe it's doing lexicographical sorting on the files too if the names are the same?

I would have thought this was alphabetical on the name, not the kind of the resource. Perhaps the docs should be updated to say that it's alphabetical on the name and then on the kind?

@bacongobbler I think it'd be pretty hard to sort on the "right" order that wouldn

[2020-04-09 18:08] bacongobbler commented on #7447
Unfortunately, the current behaviour is what's described as Helm's current behaviour, and many users rely on that behaviour. I don't think we can make that change without breaking user's assumptions about how Helm's hook system works.

We could potentially discuss changing this behaviour for Helm 4, but I'm curious how submitting the service account and the job at the same time would solve your is

[2020-04-09 18:18] #7447 closed

[2020-04-09 18:18] Jean-Baptiste-Lasselle commented on #7838
@mattfarina

Right :

* I note that there is no signature distributed through the `get.helm.sh` distribution endpoint :

[code]

* But assuming the `*.asc` from gtihub, do stand for the get.helm.sh endpoint, we have :

[code]
* So okay, now I know how to find the signature of Helm distributed signed binaries, on github.com.
* I think you will now agree that :
  * Yes, the documentation is far from

[2020-04-09 18:22] lkysow commented on #7447
I hear you, makes sense. Just to clear it up though, applying the service account even if it's after the job is submitted does allow the job to run. But because we're waiting for the job to be ready before submitting the service account it will never run. Example:

[code]

[code]

[code]

[code]

[2020-04-09 18:28] phumberdroz commented on #7447
For me the bug report was more about this part: **The command for helm upgrade -i will not exit or fail.**

@bacongobbler

[2020-04-09 18:29] bacongobbler commented on #7896
Thanks for clarifying more on your use case.

Can you describe why this cannot be accomplished at the UI level for your UI project? I'm having a tough time determining why a display name needs to be part of the chart index format.

For most users, the "display name" is the name provided with `helm repo add`. Users can give the repository any name. For example,

[code]

I could also use an alternat

[2020-04-09 18:29] lkysow commented on #7447
Does it not exit after its 5m timeout?

[2020-04-09 18:30] phumberdroz commented on #7447
let me check but I think it was the pipeline limit that killed the job after 60 minutes.

[2020-04-09 18:41] phumberdroz commented on #7447
it timedout.
[code]

So I guess it is working as intended

[2020-04-09 19:35] technosophos commented on #7796
The suggested fix by @anshulvermapatel is the only approach @adamreese and I have vetted as possible. We have uncovered a bug in Kubernetes itself that prevents suppressing the error using the normal means.

While I cannot justify calling this a bug, if you all insist this is something that must be fixed, there currently is no other way until Kubernetes gets its ship in order.

[2020-04-09 19:39] sbose78 commented on #7896
Thanks for explaining Mat!

I'm actually talking about the display name of the chart. As am example, the following chart has a `name` which is typically `my-chart-name` instead of a `My Business friendly chart name` :)

[code]

I was thinking of introducing

[code]

What do you think ?

[2020-04-09 19:40] technosophos commented on #7855
I just looked at the previous error output, and I think there might have been another issue involved. The nil pointer doesn't look right. I see you closed, and am assuming that you've found a satisfactory working case. Let me know if this comes up again.

[2020-04-09 19:42] bacongobbler commented on #7872
Closing

[2020-04-09 19:42] #7872 closed

[2020-04-09 19:44] bacongobbler commented on #7846
As a closing action item for this ticket, please feel free to follow up with the upstream project taking containerd as a dependency (oras). Once that's done we can update oras, and runc will be updated automatically.

As @technosophos alluded to earlier, @jdolitsky may know more about what's involved with a bump to runc.

Thanks!

[2020-04-09 19:44] #7846 closed

[2020-04-09 20:19] technosophos commented on #7857
Thank you for the clarification. I will look into this.

[2020-04-09 20:23] bjayanth commented on #3920
@sc250024 Did you run `helm dependency update` before running `helm lint` on the parent chart? I found that the error you saw goes away after updating the dependencies.

[2020-04-09 21:29] vindvaki commented on #7812
@mattfarina

I believe this caught by our tests while we were looking to upgrade to helm 2.16.5, see all the failures under [this MR](https://gitlab.com/gitlab-org/cluster-integration/auto-deploy-image/-/merge_requests/63).

I set up a [base image with @mattfarina's patch](https://gitlab.com/hfyngvason/helm-install-image) and ran them [against a fork](https://gitlab.com/hfyngvason/auto-deploy-imag

[2020-04-09 21:50] technosophos commented on #7880
Helm does _schema validation_, but does not have the ability to determine if a given value will cause Kubernetes to reject it.

To clear up any confusion:

- `helm install` turns has validation on by default, even when you add `--dry-run`
- `helm template` has validation off by default
- `helm template --validate` turns on validation
- All three of these just call into the same object (`pkg/action

[2020-04-09 22:19] thomastaylor312 commented on #7891
@robg You are correct. I took a look at the code and it does not pass hooks, just the main manifests. I don't think hooks were intended as part of the initial post render work, but neither were they specifically excluded. So I am going to label this as a bug for now.

If someone wants to take this on it shouldn't be too difficult. It won't be elegant, but it shouldn't be too bad. In `renderResourc

[2020-04-09 22:23] technosophos commented on #7857
I'm working on reproducing this. I seem to be getting an error, but it is still not working as desired:

[code]

I'll continue working on this.

[2020-04-09 22:38] technosophos commented on #7857
Okay, spoke too soon. The above error was a typo on my part.

[2020-04-09 23:30] #4431 closed

[2020-04-09 23:37] technosophos commented on #7896
What would set the display name? There is no analogous field on Chart.yaml, which is frozen until Chart v3 is introduced (for Helm 4 or Helm 5). There is a `Description` field, which was designed for this sort of thing. And the `Annotations` field on the chart can be used to add _ad hoc_ fields like this.

[2020-04-09 23:39] technosophos commented on #7895
Also, update your `kubectl` command. You are 9 versions behind your server version, and 11 versions behind current latest.

[2020-04-09 23:40] technosophos commented on #7889
Globals are shared across subcharts by design. Using a tiered (namespaced) strategy as you suggested is fine.

[2020-04-10 00:24] technosophos commented on #5780
@marcadella Did you have a particular use case that broke? Please provide more details.

[2020-04-10 00:50] technosophos commented on #7812
Thanks for the confirmation!

[2020-04-10 01:41] nokia-t1zhou commented on #7855
the root cause is the anchor must be defined before which used,  this usage is right:
[code]
but this is error in helm 2.15(it can working in helm 2.13):
[code]

[2020-04-10 03:08] LvBay opened #7899 "Can helm render other types of files (non-yaml)?"
I want to use helm to render some shell script files ... so i create a test chart and only write a script into the templates dir, like this:

tree
.
├── Chart.yaml
├── charts
├── templates
│   └── mytest.sh
└── values.yaml

the content of templates/mytest.sh is :
`echo {{.Values.Hello}}`

When excute command
`helm template test ./ --debug --dry-run`

Error: YAML parse error on test/templates/mytes

[2020-04-10 04:00] thetruechar commented on #5595
The experience is soooooooo bad, we can't simply delete the whole release, because it's in production!  It will cause the server downtime! How can we deal with this issue in the end?

[2020-04-10 07:32] fortanu82 commented on #7864
I tested it and identified the problem. Your step by step explanation helped a lot.
The problem is not with a --set flag but with the kind of directory structure I have for charts.

while executing the command  **helm upgrade resources-dev resources --set image.tag=72615** from one level up where resources (charts) folder is, it looks for image.tag in "Values.yaml" file of resources folder and not

[2020-04-10 08:35] innerpeacez commented on #7895
Thank you for your reply. @technosophos @hickeyma . I tested it and found that although there is no value: "", the environment variable is still set successfully. I guess it may just be a display problem. I will upgrade the version later and test again.

[2020-04-10 10:35] marcadella commented on #5780
@technosophos I stopped using Helm because of this (and many other issues). But there has been example posted above such as [this one](https://github.com/helm/helm/issues/5780#issuecomment-579667566) describing thoroughly the issue.

[2020-04-10 13:36] lindhe commented on #7219
I understand that this is a fairly tricky issue to solve, and that it might be unfeasible for Helm to fix right now. But would it be possible to detect and give a warning?

[2020-04-10 13:54] #7864 closed

[2020-04-10 13:55] bacongobbler commented on #7895
Closing for now. Please feel free to reopen if necessary. Thanks.

[2020-04-10 13:55] #7895 closed

[2020-04-10 15:27] mattfarina commented on #7868
@bacongobbler `helm init --skip-repos` works for me. I can start dev on this.

[2020-04-10 20:32] smaslennikov commented on #5891
I've got a long-running Job I must deploy. Moving it to a Pod isn't a great option as I need to preserve parallelism. An option for not waiting for a Job to finish would be awesome to have.

[2020-04-10 21:42] jamesla commented on #7824
Sorry I did look there completely missed stringData oops. Thanks for pointing me in the right direction.

[2020-04-10 21:42] #7824 closed

[2020-04-11 01:56] liuming-dev opened #7901 "link URL of helm plugin list page is redirected"
the plugin wiki page [Downloader-Plugins](https://github.com/helm/helm/wiki/Downloader-Plugins)，url: https://docs.helm.sh/using_helm/#downloader-plugins is redirected，could not find the known plugin list page.

[2020-04-11 02:18] bacongobbler commented on #7901
https://helm.sh/docs/topics/plugins/#downloader-plugins

[2020-04-11 02:18] #7901 closed

[2020-04-11 02:31] liuming-dev commented on #7901
it seems that no plugin list info here.

[2020-04-11 02:43] anshulvermapatel commented on #7796
@technosophos , well, it is going to get solved in Kubernetes, then I don't think this is harming someone until Kubernetes gets its ship in order. We can wait till then and have this message as is, as it does not stops the work.

[2020-04-11 04:22] bacongobbler commented on #7901
https://helm.sh/docs/community/related/#helm-plugins

[2020-04-11 04:24] liuming-dev commented on #7901
thanks

[2020-04-11 04:35] waveywaves commented on #7537
@carlpett @omesser @Hedingber I am working on this currently. We are facing the same issue with our Operators.

/assign

[2020-04-11 05:44] lukaszgryglicki commented on #6846
Hi, is it possible to see the exact helm command used for install in current Helm 3.x (non-beta)? Just asking again after half of the year passed...

[2020-04-11 06:04] bacongobbler commented on #6846
No, but feel free to submit contributions! We would happily welcome a patch like this.

[2020-04-11 06:06] lukaszgryglicki commented on #6846
Actually, I can work on this, but where do you think I should put command line info? Some config map?

[2020-04-11 06:19] bacongobbler commented on #6846
https://github.com/helm/helm/issues/6846#issuecomment-548243928

[2020-04-11 08:35] WeetA34 opened #7902 "coalesce.go:196: warning: cannot overwrite table with non table for ...beats (map[port:5044 protocol:TCP targetPort:beats])"
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
[code]
Hello,

when i want to delete a default key by using null override as describe in [documentation](https://helm.sh/docs/chart_template_guide/values_files/#deleting-a-default-key), i get the following error:
[code]
excerpt of the [stable/logstash chart default values](https:

[2020-04-11 15:07] zgfh opened #7903 "should we group command for easy read?"
if we can group command like `kubectl`,it will easy to read,like this
[code]

[2020-04-11 18:49] superstator opened #7905 "With block skipped when value is zero"
When using a `with` block for a value of 0, the entire block is skipped. For example:

[code]

If `deploymentId` is any value but 0, this outputs the expected value. If it is 0, it outputs nothing. 0 is a valid (and required) value, so how can I use `with` to scope a legitimate value of 0?

Output of `helm version`: `version.BuildInfo{Version:"v3.1.2", GitCommit:"d878d4d45863e42fd5cff6743294a11d28

[2020-04-11 19:22] waveywaves commented on #7214
@hickeyma I tried to reproduce this. Didn't get the same error.
[code]

`helm dep build` behaviour is the same as `helm dep update` only if the repo is already added.
If it is not, the addition is not done. I will update the PR to fix this.

[2020-04-12 10:53] halradaideh commented on #2336
is this issue gonna be fixed or implemented ?

[2020-04-12 10:53] halradaideh commented on #2336
/reopen

[2020-04-12 13:04] nemoo commented on #5595
Also, can somebody please remove the question/support label? This issue is not about missing documentation, but about the current behaviour of Helm which is not very supportive towards use in automated deployment pipelines.

[2020-04-12 14:00] bacongobbler commented on #2336
See https://github.com/helm/helm/issues/2336#issuecomment-297839969

[2020-04-12 20:35] meniem opened #7907 "Use Helm 3 for existing resources deployed with kubectl"
Output of `helm version`:
3.2
Output of `kubectl version`:
1.18
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
EKS

Hi everyone,

We used to deploy kubernetes resources using the normal kubectl command for services, deployments, configmap...etc. Now we need to start using Helm 3 and integrate it to our pipelines, but when I try to run the helm upgrade command, it's giving the below error:
`Err

[2020-04-12 21:54] waveywaves commented on #7907
@meniem resources created based on a Release in Helm contain information wrt the revision and the `heritage: Helm` label which allows Helm to distinguish them apart from normal Kubernetes resources.

The solution space to me looks like the following
- allow `--force` to delete the resources to be replaced  on the users behalf and create new ones with the right labels to track the resource as a par

[2020-04-12 22:11] waveywaves commented on #7905
@superstator Have you tried setting the value for `.Values.deploymentId` as a string ? Are you setting it as an int currently ? And is there an if block doing a `{{ if .Values.deploymentId }} ` before this ? `if 0` would return false and it is possible that might be the reason.

If the above is not the case, can you share a chart as an example for this ?

[2020-04-12 22:20] waveywaves commented on #7903
@zgfh This is a good proposition. Currently there is a issue open with Cobra for this https://github.com/spf13/cobra/issues/836
Helm uses Cobra for it's cli, it would be nice to support this after Cobra releases support themseleves.

[2020-04-12 22:56] waveywaves commented on #7902
I was able to reproduce your issue with the following command and output.
[code]

This is definitely a bug as the example given in https://helm.sh/docs/chart_template_guide/values_files/#deleting-a-default-key outlines the same usage and we should be able to be used in the way you are using.

[2020-04-12 23:36] superstator commented on #7905
If the value is a quoted string in the values.json, the `with` executes, but if I pipeline it back to an int it does not. Here's a slightly more involved example:

[code]

values.json:

[code]

Outputs:

[code]

Quoting the Id's in this case changes nothing.

Sample repo:

https://github.com/superstator/helmwith

This is ultimately related to this SO question/answer:

https://stackoverflow.com/que

[2020-04-12 23:47] bacongobbler commented on #7905
It’s a little ambiguous here, but here’s the documentation of the `with` function in text/template:

https://golang.org/pkg/text/template/#hdr-Actions

[code]

With “empty” being defined as a zero value. In other words:

- an empty string
- a zero-value integer
- an empty list
- an empty dictionary

All of these are considered “empty” values from text/template’s point of view.

Note: I am just rel

[2020-04-13 00:10] waveywaves commented on #7905
@superstator considering you are able to fix the issue with quoting the id and passing as a string which also most probably might be the best bet for this working.
This is enforced further by @bacongobbler 's [comment](https://github.com/helm/helm/issues/7905#issuecomment-612693722). it is clear that there isn't much we can do here.

Hope you were able to find the answers you were looking for.

[2020-04-13 06:42] ahmadalli commented on #2507
now that helm 3 doesn't have tiller, is there any alternative image for helm client?

[2020-04-13 07:54] WeetA34 commented on #7902
Hello,
Yep, i also tried this command but i forgot to put it with its result in my message.
Thank you for completing

[2020-04-13 11:25] Xtigyro commented on #5989
Hey folks - any updates on the matter?

[2020-04-13 12:39] atcastel commented on #6214
any updates?  Having the same issue on 3.1.2

[2020-04-13 12:50] towolf commented on #2730
Is this superceded by #7786 now?

[2020-04-13 14:06] bacongobbler commented on #2730
#7649 enables this particular use case. @jlegrone  mentioned a few weeks back that he might look into this.

[2020-04-13 15:35] kikicarbonell opened #7908 "dependencies enable flag not work as doc explain"
Output of `helm version`:
version.BuildInfo{Version:"v3.1.2", GitCommit:"d878d4d45863e42fd5cff6743294a11d28a9abce", GitTreeState:"clean", GoVersion:"go1.13.8"}

Output of `kubectl version`:Client Version:
version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.2", GitCommit:"59603c6e503c87169aea6106f57b9f242f64df89", GitTreeState:"clean", BuildDate:"2020-01-18T23:30:10Z", GoVersion:"go1.13.5", Compi

[2020-04-13 15:39] rjbez17 commented on #7868
For those waiting for this, this is the hack we've used internally to work around the issue. Run before `helm init`

[code]

[2020-04-13 15:44] bacongobbler commented on #7868
@rjbez17 I think `helm init --client-only --skip-refresh && helm repo remove stable` will accomplish the same task, if I'm not mistaken.

[2020-04-13 15:57] rjbez17 commented on #7868
@bacongobbler could you then follow that up with a `helm init` to deploy tiller without issue?

[2020-04-13 16:35] waveywaves commented on #7902
/kind bug

[2020-04-13 16:38] jdolitsky commented on #7899
@LvBay - currently this is not supported. Just curious - what is your intended usage of this script? In order to run within the context of Kubernetes, it would need to be in the format of a ConfigMap which Helm can template

[2020-04-13 16:40] jdolitsky commented on #7902
@WeetA34 - can you try to see the result if using `beats: {}` ?

[2020-04-13 16:46] jdolitsky commented on #6214
cc @waveywaves

[2020-04-13 16:47] jdolitsky commented on #6214
Vibhav (@waveywaves) has started taking a look at this

[2020-04-13 16:50] technosophos commented on #7796
If it is going to get fixed in k8s, we should drop a link in here to the issue/PR.

[2020-04-13 16:57] technosophos commented on #7855
Oh! Thank you for the investigation!

I think it must have been the YAML parser that changed. Each time we upgrade for a new Kubernetes version, it upgrades the YAML library.

[2020-04-13 17:01] bacongobbler commented on #7868
Yep, though if you want to deploy tiller, you can also just omit the `--client-only` flag from the above example. `--client-only` prevents Helm from installing tiller in Kubernetes.

[2020-04-13 17:06] WeetA34 commented on #7902
@jdolitsky
excerpt of user supplied values
[code]

excerpt of computed values
[code]

It merges an empty map with the default service.ports.beats map. So we obtain the default service.ports.beats map.

[2020-04-13 17:37] jdolitsky commented on #7908
Could be functionality lost from Helm 2, switching from requirements.yaml to chart.yaml. May be a bug

[2020-04-13 17:43] technosophos opened #7910 "Proposal: Add Linter rule for making sure subcharts have `dependencies` in Chart.yaml"
This is a proposal to add a new linting rule to `helm lint`. This rule would warn the user on cases where a subchart exists in `charts/` but is not declared in `Chart.yaml`.

Background:

In Helm 2, we added `requirements.yaml` after the major release, and thus had to keep things backward compatible until Helm 3. For that reason, it was possible to add a chart to the `charts/` folder without addin

[2020-04-13 17:50] technosophos commented on #5780
I am aware of several issues, @marcadella, and am in the process of finding and fixing as many as I can. There are actually several intertwined issues that seem to combine in different ways. When I saw your issue above, I thought that perhaps you would like to contribute a problem case so that I could continue my list.

This particular feature was hit hard by the loss of the core maintainer who wr

[2020-04-13 18:41] minelminel opened #7911 "'helm list' command output inserting excess whitespace after "CHART" column"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): n/a, on-prem datacenter

Currently experiencing issues with the printed output of `helm list` inside the Windows Terminal on WSL1. Issue only arises with the default output formatting `-o=table`. No matter the size of the terminal window, the `APP VERSION` column is forcibly wr

[2020-04-13 19:10] bacongobbler commented on #7911
hi @minelminel! Can you first try with a newer version of Helm first to see if it's been resolved in a newer version, like v3.1.2?

The table output formatting comes from another project called [uitable](https://github.com/gosuri/uitable). The code can be found here: https://github.com/helm/helm/blob/22344063d2171d24d08ff8baef32fd3218e0911e/cmd/helm/list.go#L171-L178

Let us know if you find any m

[2020-04-13 19:15] technosophos commented on #7004
In Helm 3, GoVersion and Compiler were intentionally removed as (a) we found no evidence that they were ever used, and (b) they didn't really provide any helpful functionality. (The OS/Arch of the Helm client weren't important, though there was arguably a reason they were important with Tiller).

Platform was probably removed for the same reason (since it was the platform the compiler targeted), w

[2020-04-13 19:49] technosophos commented on #2730
I am moving this off of the 3.2 milestone and onto 3.3 for now.

[2020-04-13 20:59] minelminel commented on #7911
Thanks for the quick reply, I have just upgraded to v3.1.2 and am experiencing the same behavior.
Output of `helm version`:
[code]
Out of curiosity, when I display all invisible characters it does not appear that there is any difference between the 'normal' spacing and the misbehaving one, so I honestly don't even think there's anything to be done on your part...

![image](https://user-images.gith

[2020-04-13 21:52] schollii commented on #1156
I'm not finding how to get all versions of a chart. Eg helm search stable/my-chart only prints the latest. There should be a flag to get all versions. We have multiple deployments that use different versions.

[2020-04-13 21:58] bacongobbler commented on #1156
Use `helm search repo stable/wordpress --versions` if you want to view all versions of a particular chart (`helm search stable/wordpress --versions` if you're on Helm 2).

[2020-04-13 22:33] schollii commented on #1156
Sorry I somehow missed that option to the search command, thanks for info.

[2020-04-13 22:45] Rathgore commented on #1707
Running into this with a large integer value specified in the chart's values file. It is implicitly converted to a float with scientific notation. Just casting the value to an `int` fixed this, and seems much cleaner than some of the other workarounds I've seen:

[code]

[code]

[2020-04-13 22:50] technosophos commented on #1707
That is good to know! That is definitely an easy workaround compared to many of the ones I have seen. Thanks!

[2020-04-13 23:10] technosophos commented on #5595
The #7806 PR has been merged onto master. It will be released in 3.2. I am closing this issue accordingly.

[2020-04-13 23:10] #5595 closed

[2020-04-14 02:14] zhb127 opened #7914 "Is there a way to fix the release status without helm delete release, when helm upgrade --install --timeout --wait timeout"
`helm version`: v3.1.1

`kubectl version`: v1.14.8-aliyun.1

Cloud Provider/Platform (AKS, GKE, Minikube etc.): alicloud

![image](https://user-images.githubusercontent.com/5210208/79178217-370b2600-7e37-11ea-8daf-f4992b649872.png)

- we use: `helm upgrade --install xxx chartName --timeout 300s --wait`
- it happen timeout, but we did not execute: `helm delete xxx`, just fix timeout problem
- now,

[2020-04-14 02:33] yurrriq commented on #7849
+:100: We use helmfile too and have pretty much exactly the use case @acaire describe in detail.

[2020-04-14 03:04] washtubs commented on #4680
It's a bit late but, with nothing official I just decided to make something simple. Took like 10 minutes

As a script:

[code]

Put it in your path and run it with `helm template --dry-run foo ./foo | helm-fan-out out`

As a one liner:

[code]

you can change the out directory to foo-out by changing `-vout=foo-out`

[2020-04-14 05:15] zgfh commented on #7903
@waveywaves  if you allow use package: k8s.io/kubectl/pkg/util/templates for now, I like to make  a PR。 Then when cobra release we can replace it

[2020-04-14 05:24] RomanDvorsky commented on #7880
Thx guys for your comments and especially thx to @technosophos for the detailed explanation - all is clear and I'm closing my question.

[2020-04-14 05:24] #7880 closed

[2020-04-14 05:51] jorgecarleitao opened #7915 "$ does not point to the root in named templates"
Consider the following template

[code]

that is templated with `helm template release . --set name=foo`.

I would expect `$.Release.Name` to be interpolated to `release`, and `.name` to be interpolated to `foo`. However, this yields the error:

[code]

Specifically, even though, in the macro, I am using `$.Release.Name` to point to the root, this root is not the root that I was expecting it to be

[2020-04-14 05:53] waveywaves commented on #7903
@zgfh Please do so if you can.

[2020-04-14 06:04] peterholak commented on #5595
Great! This solves most of our issues with Helm.

What is the current behavior if the first release fails though (no deployed releases yet)?

There was https://github.com/helm/helm/issues/3353 which was addressed by https://github.com/helm/helm/pull/3597 but only when `--force` is used.

`--force` has some issues in Helm 3 though (https://github.com/helm/helm/issues/6378), with a proposal to addre

[2020-04-14 06:20] jorgecarleitao commented on #7915
I believe that this may be related to the fact that we implement `include` as `ExecuteTemplate`, in [line 122](https://github.com/helm/helm/blob/3129b5323c3794e402d4a5621de88f17979311b9/pkg/engine/engine.go#L122), which uses whatever data was passed in the include. As such, the root will be `data`, and not the actual root (as in other parts of the templating in go).

[2020-04-14 06:23] vishnu-anil commented on #4670
I am having the same issue and no way to troubleshoot the same. When i enter help upgrade it just fails with the message "Release failed: no objects visited".

When i run with --debug no XRROR is shown. Is there a solution to this?

[2020-04-14 06:27] avinashkumar1289 opened #7916 "Helm upgrade does not terminate the old POD"
I am facing an issue with the Helm upgrade..I have a POD that has a PVC (not important but i started facing issue when i have added the PVC) .When i do helm upgrade i can see that the OLD POD is not terminated (is still running ) and the new POD is not able to start as it waits for the PVC which is still bound to the earlier OLD pod/container .
I remember the upgrades used to work properly before

[2020-04-14 07:08] Xartos opened #7919 "Override path for helm data"
The only way to specify the path to where data (same for cache and config) are suppose to live is either using the default path (that uses the $HOME variable) or by setting the XDG_DATA_HOME.
This is a problem if you not want to use the default path and can't use the XDG_DATA_HOME override (e.g. because of some dependency that uses the same variable)

Suggestion:
Add a second way of overriding the

[2020-04-14 07:37] zgfh commented on #7903
@waveywaves  done

[2020-04-14 08:21] liuming-dev commented on #7907
Same situation to me

[2020-04-14 08:32] towolf commented on #7907
https://github.com/helm/helm/pull/7649 is supposed to solve this.

You would add some annotations and a label beforehand, and then Helm 3 will not refuse to adopt the objects from the cluster anymore.

[2020-04-14 08:33] vivisidea opened #7920 "helm template rendering wrong output"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):  bare metal

How to reproduce

1. helm create test
2.  open test/templates/ingress.yaml add a comment in front of the file
[code]
3. helm template --set ingress.enabled=true test | less
4. search for the Ingress section
[code]

[2020-04-14 10:04] hickeyma commented on #7907
@meniem Your use case should be solved by #7649 and will be available in the Helm 3.2 release.
If you need the capability in the meantime, you can build from master or use a canary build.

Let us know if this is sufficient. If not, we can re-open the PR.

[2020-04-14 10:04] #7907 closed

[2020-04-14 10:10] hickeyma commented on #5989
@Xtigyro @aperullo A lot of work was done around the `--atomic` and `--timeout` flags in Helm v2 and v3. Do you mind checking out the latest releases and see if the issue still existss?

[2020-04-14 10:51] prein commented on #3045
I guess the suggested way to achieve a wrapper-like functionality would currently be using "post renderer" (since Helm 3.1).

[2020-04-14 11:00] kjozsa commented on #3512
What worked for me is to put any unrelated stuff in the helm chart's directory into `.helmignore`. Now I don't get this error..

[2020-04-14 11:00] kjozsa commented on #7264
What worked for me is to put any unrelated stuff in the helm chart's directory into `.helmignore`. I hope it helps someone here..

[2020-04-14 11:14] w4rgrum commented on #6339
Hello @towolf ,

I don't know if it was the case back when you created this issue, but it seems a kind of workaround is now provided in the default ``_helpers.tpl`` file generated by ``helm create``.
Indeed there is now a ``if`` condition to check if the release name contains the ``$name`` (which is the chart name by default), meaning as a result the double chart name at the beginning of the fulln

[2020-04-14 11:21] vivisidea commented on #7920
I test helm-v3.1.2 this bug still exist

[2020-04-14 11:30] hickeyma commented on #7919
What would be the scenario where one would be unable to use this variable? It is a defined variable of the XDG Base Directory Specification which Helm uses.

[2020-04-14 12:07] Xartos commented on #7919
Let's say that you want to have the location of the helm data to be on a completely separate path (to a mounted volume or something) but you have applications that use the XDG_DATA_HOME that is pointing somewhere else.

[2020-04-14 12:26] KOSSOKO commented on #7697
So what is the actual workaround ?

[2020-04-14 13:09] hickeyma commented on #7919
Ok, so you would like to add a variable when set, overrides the the XDG Base Directory Specification and uses this as the base directory for Helm cache, config and data?

[2020-04-14 13:46] bacongobbler commented on #7907
See also #2730.

[2020-04-14 13:49] bacongobbler commented on #7915
If you change your invocation to `include "baseLabels" $.`, what happens?

Because you invoked this call from within a `with` function call, the value of the dot variable changed to use `.Values` as the root.

[2020-04-14 13:54] bacongobbler commented on #7697
Closing as a duplicate of #7219.

[2020-04-14 13:54] #7697 closed

[2020-04-14 13:58] bacongobbler commented on #7264
Closing as answered. Thanks everyone.

[2020-04-14 13:58] #7264 closed

[2020-04-14 14:00] jorgecarleitao commented on #7915
That leads to an `Error: parse error at (templates/bla.yaml:12): unexpected <.> in operand` (line 12 is the line with `{{- include "baseLabels" $. | nindent 4 }}`)

[2020-04-14 14:01] bacongobbler commented on #7915
Ah sorry, typo on my end. Try passing just `$`?

[2020-04-14 14:11] jorgecarleitao commented on #7915
That compiles, but the `.name` is not interpolated.

One (hackish) solution for this is to add `{{- $_ := set $ "name" .name }}` to after the `with` statement, but this defeats the purpose of a `with` statement.

[2020-04-14 14:22] dellkeji commented on #7891
I have the same question.

i want to inject some label by post-renderer, but not work.

[2020-04-14 15:05] bacongobbler commented on #7915
In your `define`, change `.name` to `.Values.name`. By passing `$` you are passing along the root context, which means you'll have to traverse the tree once more to see that value.

[2020-04-14 15:10] #7915 closed

[2020-04-14 15:29] nareshnayini commented on #5595
@technosophos thanks for the fix. Curious, when would 3.2. release available to install ? Keep getting `app-name has no deployed releases` error on an existing failed release. And it's kind a blocker in CI/CD pipelines.

[2020-04-14 15:38] bacongobbler commented on #5595
@peterholak see #7913.

[2020-04-14 15:48] teoincontatto commented on #7697
IMHO #7219 does not seems to be a duplicate of this issue.

Also IMHO #7649 seems to be a valid solution to this issue.

[2020-04-14 15:51] m0rganic commented on #1707
@Rathgore Casting to an int is perfect when dealing with ints all of the time but in my case the input value needs to be treated as a string but comes in the form of digits (sometimes). For example the shortened 7 length github commit hash, sometimes it's a string and sometimes it's just a string of digits. In this case passing in the value with the `--set-string` option works every time.

[2020-04-14 16:10] bacongobbler commented on #7697
Apologies, you are right. @fr0der1c's issue in the OP has been solved with #7649.

The issue described in https://github.com/helm/helm/issues/7697#issuecomment-595984123 is a duplicate of #7219.

Once Helm 3.2.0 has been merged, attach the following annotations to any resource you wish to adopt into the release:

[code]

Once #2730 is implemented, the process to adopt existing resources into a rel

[2020-04-14 16:22] razorsk8jz commented on #7219
I updated Nastradamus' script to loop through every namespace and fix the history on all releases.

    #!/bin/bash

    set -e
    set -o pipefail

    # This script fixes helmcharts secrets that was deployed with API objects paths, that was deprecated.
    # More info here https://github.com/helm/helm/issues/7219
    # Use it own risks and only if your know what for is this!
    # After exeecuti

[2020-04-14 16:37] michael-bouvy commented on #3481
Thanks @distorhead for the great work!

I'm currently using Helm 3 and have no intention switching to Werf (too many changes): what would be the best option to get kubedog's output (removing `--wait` flag from Helm), but still leverage `--cleanup-on-fail` when kubedog times out?

For instance:

[code]

[2020-04-14 16:58] sgandon commented on #2336
In fact since then the yaml parser has gone up to version 3 and now offers way more information on the parsing like in fact the anchor.
see https://godoc.org/gopkg.in/yaml.v3#Node

[2020-04-14 17:15] dzirg44 opened #7921 "http https proxy + kubeconfig"
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
kubectl works fine
[code]
but helm doesn't work
i set up also env variables
[code]
also i tried with
[code]
but in every case i just received
`Error: Kubernetes cluster unreachable`

debug
[code]
is it possible to work through a proxy?

[2020-04-14 17:38] Rathgore commented on #1707
@m0rganic I haven't tested this, but you could try using `toString` instead of `int` or explicitly setting the type using `!!str`. This isn't needed if you're just using `--set-string` but we need this behavior for values defined in the chart as well.

[2020-04-14 17:44] TomasKohout commented on #7722
Looks like for every kubernetes object new client is created. @jdolitsky could you verify this? :)

[2020-04-14 17:53] bacongobbler commented on #7722
That should not be the case. The kubernetes client is created once per invocation and is shared for the entire install operation.

See https://github.com/helm/helm/blob/59447f850c88251afcca9a67b8ce44131a73c46a/pkg/action/action.go#L225

[2020-04-14 17:57] minelminel commented on #7911
Somewhere upstream a character encoding issue was being introduced independent of this, and I am able to resolve the issue by running `stty sane` at the end of my `.bashrc`

![image](https://user-images.githubusercontent.com/46664545/79257533-c1638200-7e57-11ea-9da1-64c67b301ef3.png)

Hopefully someone else might be able to use this because this haunted me for *weeks*....

[2020-04-14 17:57] #7911 closed

[2020-04-14 18:37] technosophos commented on #7921
I am having trouble reproducing. Helm simply uses the same HTTP client and env vars that `kubectl` does. And the HTTPS_PROXY code is built into the `net/http` library in Go, so even looking through the code I can't find how this could be happening in your case.

Perhaps somewhere the HTTP RoundTripper is being overridden. Or perhaps something changed in 1.18 that is impacting both `kubectl` and `h

[2020-04-14 18:40] technosophos commented on #7920
The `{{- ` is removing the newline between your `if` statement and the `# comment`. Switch it to `{{ ` (no `-`) and you will be fine.

[2020-04-14 18:44] bacongobbler commented on #7920
closing as documented in https://golang.org/pkg/text/template/#hdr-Text_and_spaces

[2020-04-14 18:44] #7920 closed

[2020-04-14 18:47] technosophos commented on #7916
There's not really enough information in your description to know what is going on. But I can at least point you in the right direction.

Helm does not terminate pods unless `--force` is specified (which is usually not recommended). It is _Kubernetes_'s job to terminate pods when it detects that the conditions around a pod are sufficiently different to cause it to recreate the pod.

My guess is th

[2020-04-14 18:48] technosophos commented on #7914
Currently, once `--wait` has marked it `failed`, there is no way to fix it short of directly editing the release secret (which is not recommended).

Try using `--atomic` instead of `--wait`.

[2020-04-14 18:50] technosophos commented on #7908
There is definitely a bug in here that I have been hunting for this week. There are a few related issues tracking similar problems with `enabled`.

[2020-04-14 18:53] technosophos commented on #7905
As this is a behavior of the underlying template engine (not Helm), we have no control over it. So I am gently marking this as "wont fix" and closing it. If you feel strongly about this, you may want to open a bug at the Go project: https://github.com/golang/go

[2020-04-14 18:53] #7905 closed

[2020-04-14 19:05] TomasKohout commented on #7722
Well, here are logs from upgrade action.
[helm3-0-3.log](https://github.com/helm/helm/files/4477213/helm3-0-3.log)
[helm3-1-2.log](https://github.com/helm/helm/files/4477214/helm3-1-2.log)

[2020-04-14 19:17] mehmetekici opened #7922 "tiller crashes"
We have recently upgraded to 2.16.5 version of helm and tiller got started crashing.

kubernetes version : 1.16.7

panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x14e31de]

goroutine 13149 [running]:
k8s.io/helm/pkg/kube.getSelectorFromObject(0x1c00c00, 0xc00076e480, 0xc00076e480, 0x0)
        /go/src/k8s.io/hel

[2020-04-14 19:18] bacongobbler commented on #7787
@waveywaves we do appreciate the help. But, you've assigned yourself to multiple tickets in the queue at this point. Before assigning yourself to another ticket, can you please address the first few tickets you assigned yourself to?

I'm looking specifically at https://github.com/helm/helm/issues/assigned/waveywaves and noticed there are several issues you've assigned yourself to, but haven't addr

[2020-04-14 19:18] avinashkumar1289 commented on #7916
@technosophos Thanks for the update..
But I am using an deployment.yaml for the deployment of POD.I have a deployment and I do a upgrade using Helm.After the upgrade I can see a new POD has come up but the previous/exisiting/OLD pod is still there and not getting terminated. And Since my Pod looks for the volume mount , its keeps on waiting for the volume mount as the volume is mounted with the ex

[2020-04-14 19:21] bacongobbler commented on #7922
closing as a duplicate of https://github.com/helm/helm/issues/7812.

[2020-04-14 19:21] #7922 closed

[2020-04-14 19:22] bacongobbler commented on #7812
#7840 has been merged. Closing!

[2020-04-14 19:22] #7812 closed

[2020-04-14 19:24] bacongobbler commented on #7916
Hey @avinashkumar1289. Without much of a demonstration available, we don't have a way to help you. If you can provide a set of steps using a sample chart scaffolded with `helm create`, that would be much appreciated. That way we can better understand the issue you are going through.

[2020-04-14 19:47] technosophos commented on #6801
Moving to 3.3. Is there any update on this?

[2020-04-14 19:51] TomasKohout commented on #7722
I do not know guys. Maybe new version of kubernetes package? :-)

[2020-04-14 19:52] technosophos commented on #7533
Friendly reminder that 3.2 is right around the bend.

[2020-04-14 19:53] jmlrt opened #7923 ""helm lint --strict" fails for charts created with "helm create" on Helm 2"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): docker-desktop

When running `helm lint --strict` just after creating a chart with `helm create` command, this is failing with `executing "nginx-2.serviceAccountName" at <.Values.serviceAccount.name>: map has no entry for key "name"` error.

Running the same test with Helm 3 is

[2020-04-14 20:02] avinashkumar1289 commented on #7916
Hi @bacongobbler So just an update i was able to fix this issue by adding this in deployment.yaml
[code]
But basically this is just a work around as this strategy will delete all the existing pod and start them.
But I will try to give you a sample chart.Thanks

[2020-04-14 20:14] meniem commented on #7907
@hickeyma yes this is fine. thanks a lot :)

[2020-04-14 20:24] bacongobbler commented on #7722
Thank you for the logs.

I found the [source of the log message](https://github.com/kubernetes/client-go/blob/1be5940d0dd4d7109f11d70994b01a33085829e8/plugin/pkg/client/auth/exec/exec.go#L202-L204). That is definitely code which the EKS authenticator would traverse.

Based on the information provided here, I can only see this as an issue coming from the EKS authenticator, which is outside of Helm'

[2020-04-14 20:25] white-hat opened #7924 "helm2: "related pods" in "helm status" is broken"
I observe this issue with helm 2.16.5 and 2.16.6, it's not reproducible in our old cluster with helm 2.13.1 and k8s 1.12.2

## how to reproduce
* deploy a helm chart with multiple k8s deployments
* run `helm status mychart`
## expected output
all pods from all deployments are listed in `v1/Pod(related)`

## observed output
only pods from one of deployments is displayed in `v1/Pod(related)` and it

[2020-04-14 21:21] technosophos commented on #7916
I will re-iterate what I said before: Kubernetes is responsible for determining when to deploy new pods. Helm allows you to bypass Kubernetes by doing `--force`, but it is recommended that you do this through Kubernetes instead.

If the old pod is there, Kubernetes believes that it is _supposed_ to be there. So something in your deployment.yaml is indicating to it that having multiple pods running

[2020-04-14 23:24] technosophos commented on #7891
I'm optimistically adding this to 3.3 in hopes that someone takes it up.

[2020-04-14 23:34] technosophos commented on #7923
I just successfully reproduced on `dev-v2` following the steps above.

[2020-04-15 00:32] technosophos commented on #2336
It is not clear what you are suggesting @sgandon

[2020-04-15 01:40] technosophos commented on #7860
Closing this, as #7831 was merged.

[2020-04-15 01:40] #7860 closed

[2020-04-15 01:46] liuming-dev commented on #1707
`toString` doesn't work, and in some cases, I couldn't use `!!str`.

[2020-04-15 02:40] zhb127 commented on #7914
Thank you very much for your reply.

`Try using --atomic instead of --wait` still need to exec `helm delete release`, but due to the production env problem, i cannot use `helm delete` to recreate `helm release`.

I'm trying to edit the release secret on my minikube, but the release secret is not base64 encode. Do I need to use the go program to parse or Is there a tool that can be used?

[2020-04-15 06:05] waveywaves commented on #7787
@bacongobbler I working on clearing all the issues I have picked up on priority. Will do that next time I pick up issues.

[2020-04-15 06:05] Xartos commented on #7919
Exactly, either that or one variable for each

[2020-04-15 06:46] listenerri commented on #6517
same issue in v1.18.1

[2020-04-15 07:31] dzirg44 commented on #7921
I figured out what is going on.
Previously with `helm2` we had
```proxyconnect tcp: x509: certificate signed by unknown authority```
but now we have just
[code]
in my opinion it is not so obvious and I hope it will help somebody.

[2020-04-15 09:02] hickeyma commented on #7914
Returns release object: `kubectl get secrets <secret_name> -n <namespace> -o jsonpath='{.data.release}' | base64 -d | base64 -d | gunzip`

Its base64 encoded twice and zipped.

[2020-04-15 09:43] hickeyma commented on #7219
@travisghansen @Arabus @lindhe Pushed PR #7925 to add an improved error message for the user.

[2020-04-15 09:46] zhb127 commented on #7914
Thank you very much.

I tested the parse successfully.

[2020-04-15 10:03] hickeyma commented on #7914
@zhb127 Does this resolve your issue?

[2020-04-15 10:11] zhb127 commented on #7914
Not yet, I'm stll trying, change the secret, `helm list` does not recognize it any more. Maybe something is wrong.

- `kgsec sh.helm.release.v1.echo-server-br-master-20200408.v1 -o jsonpath='{.data.release}' | base64 -D | base64 -D | gunzip > echo-server-br-master.json`
- change the status => deployed
- `cat echo-server-br-master.json | gzip | base64 | base64 > echo-server-br-master.yaml`
-`kubect

[2020-04-15 10:30] hickeyma commented on #7214
@remcohaszing @waveywaves I have retested this issue with the latest code from the `master` branch and it seems to be working now for `helm dep build` as well. Here is output of my investigation using a simple scaffold chart:

[code]

As far as I can tell, it is working without a repo added.

[2020-04-15 10:39] lukaszgryglicki commented on #6846
So I don't have any install receipts stored in `~/.helm/` so basically don't know where should I put installation details.
I'm thinking about something like this:
- I have chart name [here](https://github.com/helm/helm/blob/master/cmd/helm/install.go#L165)
- If everything is OK then chart gets installed [here](https://github.com/helm/helm/blob/master/cmd/helm/install.go#L224) (correct me if I'm wr

[2020-04-15 11:23] waveywaves commented on #7214
@hickeyma I can confirm that this is working with the latest code on master.
@remcohaszing can you confirm this as well ?

[2020-04-15 11:48] korjek commented on #7770
@TomasKohout so what does "Deleting outdated charts" mean in `helm dep update` output?

[code]

[2020-04-15 12:23] hickeyma commented on #7914
What is the output to: `kubectl get secret sh.helm.release.v1.echo-server-br-master-20200408.v1 -o yaml`?  Is the release in your current context namespace?

[2020-04-15 12:53] ml- commented on #7206
I've noticed this a while ago and am surprised that there is no progress or regarding this issue.

It is fairly common to have `$XDG_CACHE_HOME` mounted as *tmpfs* due to various performance benefits. This path is also not meant to hold any data that is relevent or should require user interaction to be recreated.

As already mentioned in this issue, the content could disappear any second without p

[2020-04-15 12:53] waveywaves commented on #7919
I am currently working on https://github.com/helm/helm/pull/7755 . Does this solve your issue ?

[2020-04-15 13:55] zhb127 commented on #7914
It's ok now. I make a mistake before.

- `kgsec sh.helm.release.v1.echo-server-br-master-20200408.v1 -o jsonpath='{.data.release}' | base64 -D | base64 -D | gunzip > echo-server-br-master.json`
- change the status => deployed
- `cat echo-server-br-master.json | gzip -cf | base64 | base64` **this is error before**

I found,  just fix the secret API object `label.status: failed => label.status: depl

[2020-04-15 13:56] zhb127 commented on #7914
Thanks again for your help

[2020-04-15 13:56] zhb127 commented on #7914
Thanks again for your help

[2020-04-15 14:01] #7914 closed

[2020-04-15 14:20] kferrone commented on #7866
I just put all the notes in a tpl function to use them twice. It works fine.

[2020-04-15 14:20] #7866 closed

[2020-04-15 14:41] sgandon commented on #2336
@technosophos , in a previous comment you said

I am suggesting that if you use the yaml parser V3 you will have access to the anchor metadata and can act upon those, that you could not do with the v2 as you mentionned rightfully.

[2020-04-15 15:12] stephan2012 commented on #7812
Thanks for addressing this issue!

[2020-04-15 15:27] remcohaszing commented on #7214
I didn’t test the latest master, since I don’t have a go development setup. Looking from the logs, you posted, the issue appears to be resolved. :smiley:

[2020-04-15 15:51] hickeyma commented on #7214
Ok, thanks for the feedback @remcohaszing @waveywaves. I am going to close this as resolved. We can re-open if you find the issue again when Helm 3.2 is released.

[2020-04-15 15:51] mattfarina commented on #7924
I've replicated the problem and am working on it.

[2020-04-15 16:09] VihanAgarwal97 opened #7930 "helm lint steps"
Is there a way to lint the file in steps? I'm using a for loop in the chart and so I'm not able to determine the exact line where the lint is failing.

Output of `helm version`:
[code]

[2020-04-15 16:40] bacongobbler commented on #7930
this is not currently possible, as far as I understand. There is a feature request in the queu asking for pluggable rulesets for `helm lint`. I'll see if I can find that. Would that help in this regard?

If you could elaborate more on your use case, that would be much appreciated.

[2020-04-15 16:41] bacongobbler commented on #7930
https://github.com/helm/helm/issues/2694

[2020-04-15 16:45] VihanAgarwal97 commented on #7930
Thanks for the quick response. I'm using this with prometheus and have the following `configmap.yaml` -

[code]

When I run this, I get an error with a line number -
[code]
But since this is a for loop, I'm finding it difficult to see which exact line this is.

[2020-04-15 16:51] bacongobbler commented on #7930
Ah, gotcha! Thank you for sharing your use case. I really appreciate it.

OK, so the line numbers are calculated from the fully-rendered YAML manifests *after* they've run through the template engine. In Helm 3.1, it is not possible to view the fully-rendered manifests if they're invalid due to #7088.

That being said, #7556 introduced the ability to dump the invalid YAML manifests with `helm temp

[2020-04-15 17:01] VihanAgarwal97 commented on #7930
This helps in my case. Not sure if the feature of stepping through linting might be in the future. But closing this issue irrespective. Thanks!!

[2020-04-15 17:01] #7930 closed

[2020-04-15 17:02] mattfarina commented on #7924
@white-hat can you please try #7931 as a fix.

[2020-04-15 17:16] #7002 closed

[2020-04-15 17:27] TomasKohout commented on #7770
Helm will take care only of those charts declared in dependencies. So it will download new chart and delete the old one.

[2020-04-15 17:45] technosophos commented on #7921
Oh! That is very helpful. Thank you.

[2020-04-15 17:47] technosophos commented on #7921
It looks like @adamreese has already fixed this for Helm 3.2! I am marking this as closed.

[2020-04-15 17:47] #7921 closed

[2020-04-15 20:28] WarheadsSE commented on #6251
If I may offer an observation: often this is not a bug in Helm, but rather with the rendered template content being invalid according to the K8s specs.

Unfortunately, the message is not clear, and depending on the complexity of the template being rendered, the message could point 10s of lines away.

Case in point, my own. While attempting to add a helper template in a library chart, I inadvertent

[2020-04-15 21:53] technosophos commented on #2336
Oh. Yeah, if someone wants to write a custom YAML traversal to do that, I think we'd accept it as a PR! It is likely to break APIs to the extent that it would have to be a Helm 4 feature. But if there's a way to do it without breaking APIs, it would be a neat feature.

The right first step would be to open an issue marked "Proposal" that would explain how this feature would work and would be imple

[2020-04-15 22:04] jdolitsky commented on #7206
Would this be fixed with https://github.com/helm/helm/issues/7529 ?

[2020-04-15 22:17] #7857 closed

[2020-04-15 22:39] ml- commented on #7206
No, I don't think so. It still requires you to bend your `XDG_*` env vars, which is not a good idea as it might break other applications that rely on those vars.

[2020-04-15 22:46] adamreese commented on #7004
@mmouly What are you using `Platform` for in your chart?

[2020-04-15 22:55] technosophos commented on #7923
Marking closed with #7926

[2020-04-15 22:55] #7923 closed

[2020-04-15 22:59] technosophos commented on #7902
I believe this is fixed by #7743

[2020-04-15 23:00] technosophos commented on #7893
I am closing this. There is not enough information for us to reproduce or test. This doesn't even specify whether the issue is Helm 2 or Helm 3.

[2020-04-15 23:01] technosophos commented on #7889
I think this question has been answered. Closing. Feel free to re-open if there is more.

[2020-04-15 23:01] #7889 closed

[2020-04-15 23:22] technosophos commented on #5595
3.2 will be discussed on the April 16 public dev call. I have triaged it down to just the ones that currently look like they can be wrapped up right away. Then we will start the beta release process (assuming maintainers all agree on the call tomorrow).

[2020-04-16 04:59] gsexton opened #7933 "Helm 3 Upgrade Fails on Previous Invalid Chart"
Output of `helm version`: 3.1.2

Output of `kubectl version`:2.14.3

Cloud Provider/Platform (AKS, GKE, Minikube etc.): Kubernetes on VMWare

Title: Helm 3 Upgrade Fails on Previous Invalid Chart

## Steps to Reproduce:

Using Helm 2 install a chart that contains a validation error. In my particular case, a StatefulSet definition where the volumeClaimTemplate is invalid. The example shown contains

[2020-04-16 05:09] bacongobbler commented on #7933
As I understand it, PersistentVolumes may contain reclaim policies, but not PersistentVolumeClaims.

https://kubernetes.io/docs/tasks/administer-cluster/change-pv-reclaim-policy/

https://kubernetes.io/docs/concepts/storage/persistent-volumes/#persistentvolumeclaims

If you remove the reclaim policy from your template, what happens?

[2020-04-16 06:27] Xartos commented on #7919
@waveywaves Yes, that looks like it could be a solution actually.

[2020-04-16 07:12] iamktm commented on #7599
Just an FYI that Notary is undergoing a pretty big change (see https://www.docker.com/blog/community-collaboration-on-notary-v2/). Can we drop down to gpg in a manner that is backwards compatible for now and then switch to Notary v2 when that is ready?

[2020-04-16 08:14] waveywaves commented on #7599
@iamktm Even if support for Notaryv1 is merged it would mostly be experimental as v1 is not up to the mark compared to what Notaryv2 is going for. https://github.com/helm/helm/pull/7829 has been raised as resurrecting the implementation done by @radu-matei . It would be nice for users to still be able to use this to play around with Notaryv1 to see what the future solution in v2 might resemble.

[2020-04-16 09:20] Telzeng opened #7935 "Helm 3 upgrade overwrite the patched value for endpoint resource."
Output of `helm version`:
version.BuildInfo{Version:"v3.1.1", GitCommit:"afe70585407b420d0097d07b21c47dc511525ac8", GitTreeState:"clean", GoVersion:"go1.13.8"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.3", GitCommit:"435f92c719f279a3a67808c80521ea17d5715c66", GitTreeState:"clean", BuildDate:"2018-11-26T12:57:14Z", GoVersion:"go1.10.4", Comp

[2020-04-16 13:27] gsexton commented on #7933
@bacongobbler I don't think the issue is kubernetes. I did a kubectl get StatefulSet, and verified the reclaimPolicy isn't in the running version. I've also verified it's not in the current chart. Could this be an outcome of the three-way merge?

[2020-04-16 14:06] bacongobbler commented on #7935
The behaviour described above is correct.

[2020-04-16 14:06] #7935 closed

[2020-04-16 14:08] bacongobbler commented on #7933
In your template you pasted above, I see a `reclaimPolicy: Delete`.

[2020-04-16 14:41] gsexton commented on #7933
@bacongobbler Sorry, I'm not being clear enough. Let me start over. In the original helm chart deployed by Helm 2 there was:

[code]
I know this was invalid.

The current running state returned by kubectl get statefulset is:

[code]
In the new chart which I'm attempting to upgrade using Helm 3, the definition is:
[code]
So, I fully understand the original chart was invalid. However, it doesn't sho

[2020-04-16 15:21] bacongobbler commented on #7933
Thank you for sharing.

During an upgrade, Helm loads the previous release manifests to calculate the patch.

When you first installed your chart with Helm 2, it did not validate the manifests against Kubernetes' API schema. Helm 3 now validates manifests against the OpenAPI schema, but we're [only validating new manifests](https://github.com/helm/helm/blob/f860e08f2da24e4764b28f4b63105c820c051939

[2020-04-16 16:36] vbuciuc commented on #5184
@bacongobbler is there any intention of further addressing this in 2.x?

[2020-04-16 19:53] #5184 closed

[2020-04-16 19:59] #7533 closed

[2020-04-16 22:46] technosophos commented on #7933
Helm 3.2.0-rc.1 is out now, so you can test with that.

[2020-04-16 22:51] technosophos commented on #7902
This can be re-tested against Helm 3.2.0-rc.1

[2020-04-16 23:19] arun007amazon commented on #4670
One possible cause is due to pod allocation policy, I have seen this error while deploying more replicas than the number of nodes.

[2020-04-17 01:16] jmcelwain commented on #3141
Opened https://github.com/ghodss/yaml/issues/61 to inquire about possibility of an upgrade path there. Will wait to hear back from them before continuing anything else -- upgrading dependencies is way preferable to other options IMO.

[2020-04-17 06:57] donggangcj commented on #7836
@bacongobbler  could you please review the PR if you are fee.

[2020-04-17 07:22] WeetA34 commented on #7902
Hi @technosophos,
it works fine with 3.2.0-rc.1

[2020-04-17 07:26] WeetA34 commented on #7902
But i still have the following warning i didn't mention. Not sure if it's related.
[code]
default value:
[code]
user supplied value:
[code]

[2020-04-17 08:59] RomanDvorsky commented on #7219
given scripts didn't work for me or I didn't have proper tooling so here is another version of the same.. ;) (used in windows terminal ubuntu)

	#!/bin/bash

	# This script fixes helmcharts secrets that was deployed with API objects paths, that was deprecated.
	# More info here https://github.com/helm/helm/issues/7219
	# Use it own risks and only if your know what for is this!
	# After exeecuting

[2020-04-17 09:42] joncnet opened #7939 "Helm 3 ignores the output format for empty repos list"
Dear team,

The command `helm repo list` returns an error when there are no repositories.
Due to this behaviour, the `-o json` flag is ignored and the same error is returned instead of an empty list `[]`

The expected behaviour would be the same of `helm list` when no installed charts are present

Output of `helm version` (I have tried with both):
version.BuildInfo{Version:"v3.1.2", GitCommit:"d87

[2020-04-17 10:49] himmakam commented on #3971
Hi, can I get a copy of your values.yaml. I would like to have a look at .Values.limes.clusters

[2020-04-17 11:27] himmakam commented on #3971
I have something like this in values.yaml
replicaCount: 1
maasappname: consumer
maasappaliasname: message-consumer
instance_names:
  a: 1
  b: 2
And I have deploymentconfig like below -
{{ range $key, $value := .Values.instance_names }}
kind: "DeploymentConfig"
apiVersion: "apps.openshift.io/v1"
metadata:
  name: "maas-{{$key}}"
  labels:
    apptype: batch
spec:
  template:
    metadata:
      la

[2020-04-17 12:03] antelman107 commented on #3971
@himmakam
when iterating data by range, the context is switched to particular element from .Values.instance_names, so actually in range you are trying to access .Values.instance_names.$key.Values.maasappname.

Try to set .Values.maasappname to variable before range:
`{{ $appName := .Values.maasappname }}`

Then use variable in range:
`app: "{{ $appName }}"`

i have a post on my website about GO te

[2020-04-17 12:03] majewsky commented on #3971
Inside the `range`, `.` refers to the loop variable, i.e. `$value`. The error is that `$value` does not have a `Values` key. To access the global `.Values`, you can write `$.Values`.

[2020-04-17 13:00] ahurtaud opened #7941 "get-helm-3 script download by default the release-candidate"
Hello,

The get-helm-3 script download the latest v3. tags even if they are in release candidate state.
I would expect it to download only the stable releases.

curl -s https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3 | bash

Downloading https://get.helm.sh/helm-v3.2.0-rc.1-linux-amd64.tar.gz

What do you guys think?
Alban

[2020-04-17 14:20] mattfarina commented on #7941
@ahurtaud thanks for catching this.

It appears this was introduced by 0087d838073abcc93fb9ea694256e0b93238ae23. This is the first time we've had a release candidate since then.

[2020-04-17 15:51] #7941 closed

[2020-04-17 16:38] singh-brajesh247 commented on #7893
@technosophos: This issue with Helm3. While installing a new release in kubernetes. post-rollback jobs not creating. Here is a sample of my post-rollback Job

apiVersion: batch/v1
kind: Job
metadata:
  name: {{ template "nginx.fullname" . }}-rollback
  labels:
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    app: {{ templat

[2020-04-17 17:25] technosophos commented on #7893
Re-opened now that we have some more information. Can you paste teh output of `helm version` and `kubectl version`? Thanks.

[2020-04-17 17:34] technosophos commented on #7902
@WeetA34 but the output was correct? That makes sense, because `filters:` (in default values) is equivalent to `filters: null`, which unsets the table. If you do `filters: {}`, I believe that warning would go away.

Essentially, the fix now strongly distinguishes between the null case and the default case (e.g. `foo:` and `foo: ""`. So the number of warnings will go up when `null` tables, strings,

[2020-04-17 17:36] WeetA34 commented on #7902
ok. understood.
Yes, the output is correct.
I saw it's just a warning.
Thank you @technosophos

[2020-04-17 17:39] #7902 closed

[2020-04-17 17:41] bacongobbler commented on #7893
I'm also confused by this statement:

Which to me implies a `helm install` rather than a `helm rollback`, which is when the job is executed. Can you please provide a set of steps that we can use to reproduce the error you see? Thanks!

[2020-04-17 18:01] bacongobbler commented on #7893
Testing with the sample gave me the following error:

[code]

I also noticed that the post-rollback intentionally posted above fails with a non-zero exit code. Why?

Here's what I tested:

[code]

I saw the post-rollback job execute and run to completion.

[code]

Is there some other issue you're experiencing?

[2020-04-17 18:04] hickeyma commented on #7219
To help people with this issue around Helm and removed Kubernetes APIs,:
- Doc PR  https://github.com/helm/helm-www/pull/559 currently is updated and in review again. Please take a look and your feedback is welcome. This hopefully will provide context around Helm and k8s APIs.
- PR #7925 merged with an improved error message for the user (going to be in Helm 3.2 release)
- Helm [mapkubeapis](https

[2020-04-17 18:06] hickeyma commented on #7219
@razorsk8jz @RomanDvorsky Helm [mapkubeapis](https://github.com/hickeyma/helm-mapkubeapis) plugin available as an alternative to scripting it.

[2020-04-17 18:09] jdolitsky opened #7943 "Install script should have a way to verify release signatures"
Related to conversation in https://github.com/helm/helm/issues/7838

[2020-04-17 18:16] bacongobbler commented on #7943
How do you verify a pgp signature you haven’t trusted yet?

This might make sense as a feature flag, as the user would first need to add all of the core maintainer’s public keys to their keyring. I can’t see this being the default without breaking every user that hasn’t added the core maintainers’ public keys to their chain of trust (basically everyone).

[2020-04-17 18:31] mattfarina commented on #7939
I'm going to label this as a bug. It's a behavior change from Helm v2 and I believe it's unintentional. I'm going to poke some of the other maintainers to see if they concur.

[2020-04-17 18:36] technosophos commented on #7939
Agreed. If the output is _supposed_ to be JSON and is not, it is a bug. Consequently, there is no compatibility maintenance issue here.

[2020-04-17 20:28] jmlogan opened #7946 "Proposal: Graceful Handling of Permission Denied"
We are running on a multi-tenant cluster, with users restricted generally by namespaces, with some users having a large set of namespaces.

We would like the ability for users to run a `helm list --all-namespaces` to see what is running on their namespaces, but Helm fails, due to having insufficient permission on other namespaces. We have given users a blanket GET on most resources, such as namesp

[2020-04-17 21:38] bacongobbler commented on #7946
Similar to kubectl's `--all-namespaces` flag, `helm list --all-namespaces` is a cluster-level request, and as such it [requires cluster-level scope](https://helm.sh/docs/topics/rbac/#example-grant-a-user-read-only-access-at-the-cluster-scope) to view those resources. Because of that, the user can either be granted cluster scope access to view releases at the cluster scope, or view releases at the

[2020-04-17 23:36] Jean-Baptiste-Lasselle commented on #7943
hi @bacongobbler , interested n the content of the pukk request, I faéll on your question.

What does "to trust a key " means ?

The answer in 12345 : what does it mean to trust a key at level 3, and what does it means to trust it at level 5?

Answer : Nothing, it is non-sense.
* You do not trust a key, you import it into your keyring.
* level of trust from 1 to 5 ois : Hey Linux, you can trust ar

[2020-04-18 08:41] singh-brajesh247 commented on #7893
**@technosophos : Below are the kubectl and Helm version details**

root@master:~# kubectl version
Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.3", GitCommit:"06ad960bfd03b39c8310aaf92d1e7c12ce618213", GitTreeState:"clean", BuildDate:"2020-02-11T18:14:22Z", GoVersion:"go1.13.6", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"17", GitV

[2020-04-18 09:00] singh-brajesh247 commented on #7893
**@bacongobbler : Thanks for testing and providing the output.**

I was testing post-rollback job with `exit code 1`. Actually, this post-rollback hook can execute a script
(for example - script will check web application HTTP response code 200, if any other response code, hook can initiate auto rollback to last successful revision).
Also, i wanted to avoid manual interaction to perform rollback

[2020-04-18 18:39] kabakaev commented on #7891
@robg, could you please test if the #7948 fixes the issue for you?
[code]

It worked for me with `helm install releasename chartname --post-renderer 'kubectl kustomize /some/directory'.

[2020-04-19 03:02] anshulvermapatel commented on #7939
/assign

[2020-04-19 14:55] jorgecarleitao commented on #5618
I would that this is still relevant: there is no way to pass json strings as values in helm without escaping the whole string.

Is this by design, or is an unintended feature? Specifically, helm trying to interpret strings as json, and having no way to "turn off" this behavior. It is not very obvious nor explicit.

[2020-04-19 16:10] ViktorFefilov opened #7951 "Helm 3. Chart.ApiVersion unavailable in templates"
Dear Team,
I tried to use `.Chart.ApiVersion` and got error.

Output of `helm version`: version.BuildInfo{Version:"v3.1.2", GitCommit:"d878d4d45863e42fd5cff6743294a11d28a9abce", GitTreeState:"clean", GoVersion:"go1.13.8"}

How to reproduce:
1. `helm create mychart`
1.  Add `{{.Chart.ApiVersion}}` in some place. For example `name: {{ include "mychart.fullname" . }}-{{.Chart.ApiVersion}}` in metadat

[2020-04-19 17:31] Shagon94 commented on #3531
hey @bacongobbler not sure if this is still up for grabs, I'd like to work on this issue since I'd like to start contributing to this project

[2020-04-19 20:53] diepes commented on #3980
Hit same error.
helm version
version.BuildInfo{Version:"v3.1.2", GitCommit:"d878d4d45863e42fd5cff6743294a11d28a9abce", GitTreeState:"clean", GoVersion:"go1.13.8"}

upgrade.go:293: [debug] warning: Upgrade "xxxxx-dev" failed: timed out waiting for the condition
upgrade.go:311: [debug] Upgrade failed and atomic is set, rolling back to last successful release
history.go:52: [debug] getting history fo

[2020-04-19 21:58] carnesen commented on #3669
A command-line that invokes the bug is `helm install --upgrade` then hit `Tab` to trigger bash auto-completion
[code]
On my system I installed helm and bash completion on MacOS using Homebrew. If I do `source <(helm completion bash)` in a shell with the brew helm bash completions installed, I still see the bug. If I do that in a shell that does _not_ have the brew helm bash completions installed,

[2020-04-19 22:43] marckhouzam commented on #3669
@carnesen What does `helm version -c` give?

[2020-04-19 23:29] carnesen commented on #3669
[code]

[2020-04-19 23:33] marckhouzam commented on #3669
That's an old version of helm.
Surprisingly you mentioned that brew info showed 3.1.2.

Either way you should upgrade to a more recent version that is compatible with your kubernetes cluster.

[2020-04-20 03:12] bacongobbler commented on #3531
Feel free!

[2020-04-20 03:48] lalala0816 opened #7952 "json schema"
Output of `helm version`:

Output of `kubectl version`:

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

[2020-04-20 03:48] #7952 closed

[2020-04-20 08:22] mmouly commented on #7004
for nodeAffinity , to select the relevant images to a dedicated platform

apiVersion: apps/v1
  kind: Deployment

affinity:
--
  | nodeAffinity:
  | requiredDuringSchedulingIgnoredDuringExecution:
  | #If you specify multiple nodeSelectorTerms associated with nodeAffinity types,
  | #then the pod can be scheduled onto a node if one of the nodeSelectorTerms is satisfied.
  | #
  | #If you specify m

[2020-04-20 08:25] singh-brajesh247 commented on #7893
Also, couple of time i try to create pre/post-rollback hooks but did't created. Is this feature are disabled ? if Not, can you share some example ?

[2020-04-20 08:41] bitfield commented on #3669
If the bug hasn't yet been _fixed_ in any version, what good will upgrading do?

[2020-04-20 08:57] oslet opened #7953 "abc test"
Output of `helm version`:

Output of `kubectl version`:

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

[2020-04-20 08:58] #7953 closed

[2020-04-20 09:14] ldath commented on #3555
I do not understand this discussion at all. Why not giving people the option to use the app version in a way they think is the best fit for them is so much a big issue?

In a current form for me will be best to not have this `APP VERSION` at all. It is bringing only confusion to people in our project. We have >80 services which are using the same helm chart and because it is not possible to easily

[2020-04-20 09:36] renepardon commented on #1769
Same problem with Helm version: version.BuildInfo{Version:"v3.1.2", GitCommit:"d878d4d45863e42fd5cff6743294a11d28a9abce", GitTreeState:"clean", GoVersion:"go1.13.8"}

Jobs are neither deleted nor run on subsequent upgrade commands.

[2020-04-20 09:37] hickeyma commented on #7951
@ViktorFefilov The field is defined internally as `APIVersion`. So you would access it as follows: `{{ .Chart.APIVersion }}`

[2020-04-20 09:57] ViktorFefilov commented on #7951
@hickeyma thank you now it's working! But I have to notice this change from v2 is bit unexpected

[2020-04-20 10:01] hickeyma commented on #7951
Not sure the reason why.

@adamreese Could you shed some light on why this changed from v2? It seems to have been this way since the v3 branch started.

[2020-04-20 11:12] dellkeji commented on #7891
I buid helm bin  from your branch, and use post-renderer with ytt;  but not work.

[code]

use master branch, build helm bin is work.

[2020-04-20 11:23] kabakaev commented on #7891
@dellkeji, thanks for testing it!

There seem to be an empty template on the input. Do you build some public helm chart, so that I can also test it?

[2020-04-20 11:26] EnziinSystem commented on #5567
This is still an issue in v3.1.2+gd878d4d

[2020-04-20 11:27] kabakaev commented on #7891
Ok, I think I know what happened. I forgot to check if the ‘document’ variable is not empty, which may happen with ‘Split()’.
I’ll push the fix in an hour.

[2020-04-20 12:08] himmakam commented on #3971
ok. thanks a lot.

[2020-04-20 12:11] marckhouzam commented on #3669
It's been fixed for a while in both helm 2 and helm 3.
I just confirmed by doing `helm install --upgrade -[tab][tab]` with Bash 3.2 on MacOS with helm 2.15.2 and the master branch (for helm 3).

BTW there is no flag `--upgrade` to the install command. It's the opposite: an install flag to the upgrade command 😀

If you still see an error please provide the command to reproduce, how you enable the l

[2020-04-20 13:10] kabakaev commented on #7891
@dellkeji, how about now with [the new commit](https://github.com/kabakaev/helm/commit/d9e44ad9793e8e3d639416ff9227dffbde768086)?

[code]

[2020-04-20 14:50] jmlogan commented on #7946
I understand the implementation, but am just expressing concern that the permissions required for that are simply unworkable in a shared-tenant cluster. I don't believe the permissions are necessary to provide reasonable functionality if they are not available (ie. don't error, but just show what you can, with a warning that not all namespaces were readable).

Secrets are designed to hold sensitiv

[2020-04-20 15:16] bacongobbler commented on #7946
Fair enough.

If you're interested in investigating this idea further, I'd suggest [writing a plugin](https://helm.sh/docs/topics/plugins/) to try and see if this idea is feasible. We'd be interested to see what you come up with.

Let us know if you run into any issues.

[2020-04-20 15:36] seandilda opened #7955 "lookup function causes lint to fail"
I've added a define to my _helpers.tpl that uses the `lookup` function (https://helm.sh/docs/chart_template_guide/functions_and_pipelines/#using-the-lookup-function).  Now when I run `helm lint` I get the following output:

[ERROR] templates/: parse error at (mariadb/templates/_helpers.tpl:62): function "lookup" not defined

Other than the lint failing, my chart is working great.

Output of `helm

[2020-04-20 17:55] robg commented on #7891
@kabakaev Thanks for putting this patch together, sorry I missed your earlier message.

I just tried d9844ad and received the same error as @dellkeji:

[code]

[2020-04-20 18:47] forainychen opened #7956 "helm upgrade fails with spec.clusterIP: Invalid value: "": field is immutable"
When issue helm upgrade, it shows errors like, ("my-service" change from "clusterIP: None" to "type: LoadBalancer" without field clusterIP)

[code]

However, all other pods with new version are still going to be restarted, except that "my-service" Type does not change to new type "LoadBalancer"

I understand that why upgrade failed because helm does not support changing on some certain fields. But

[2020-04-20 22:10] adamreese commented on #7529
To clarify... The feature request to allow an order precedented lookup for plugins.

For example if running the plugin `helm foo` the first plugin found in `$XDG_DATA_HOME:$XDG_DATA_DIRS:{{os default xdg}}` that is named foo would be selected.

XDG_DATA_DIRS would only be used for path lookup and not exposed

[2020-04-20 23:15] technosophos commented on #7955
I have reproduced and confirmed that this is a bug. It is caused by the conditional inclusion of `lookup` into the function map.

Moreover, a second bug exists in `lookup`: It attempts to contact the Kubernetes API server during `helm template` calls, which is not allowed. And if no KUBECONFIG is set, `lookup` produces a lengthy error message.

In both cases, the correct behavior is for `lookup` t

[2020-04-21 03:15] dellkeji commented on #7891
thanks!

this commit branch is ok,  passed the test of our case.

[code]

[2020-04-21 05:23] gitkent commented on #4157
Hi all,

Mind to share you are you guys attached the dynamic created configmaps to your deployment.yaml?

[2020-04-21 07:04] Shagon94 commented on #3531
I've used the following repo for testing - http://technosophos.github.io/tscharts/
I can see that there is a https redirection on it as to test if redirections are an issue:

[code]

[code]

so we can see that the http client follows the redirects.
The output was a simple

[code]

 added directly above https://github.com/helm/helm/blob/b21b00978539ea8270e6b672bc1e6bc07af61475/pkg/getter/httpgetter

[2020-04-21 08:16] bozaro opened #7957 "Broken `ports` update with multiple same number ports"
# Issue summary
I created simple chart with ports from values (show only related part, link to full file below):
[code]
And install this chart to minicube with values:
[code]
As expected I got pod with 3 ports (`http`, `grpc-look-aside`, `grpc-service`).

After that I upgrade chart with values (remove `grpc-look-aside` port):
[code]

As result deployment became to unexpected state: all 8080 ports

[2020-04-21 08:41] hiddeco opened #7958 "Proposal: improve exposed APIs to better support using Helm as a package"
First of all, thanks for caring about third parties utilizing Helm as a package and not the full fledged `helm` binary by merging #7401.

I have two additional proposals, both aimed at making it easier to consume Helm packages for third party dependents:

- [x] Extend the `getter` package with a timeout option to allow finer grain control over the request when utilizing it (outside an e.g. `downlo

[2020-04-21 09:18] Shagon94 commented on #2916
According to [mimesniff standard](https://mimesniff.spec.whatwg.org/#matching-an-archive-type-pattern) `application/x-gzip` has a byte pattern of `1F 8B 08`, checking that manually:

[code]
We can see that byte pattern `1f8b 0800`; the file in question was created with `tar czvf`.

the line here https://github.com/helm/helm/blob/b21b00978539ea8270e6b672bc1e6bc07af61475/pkg/chart/loader/archive.go#

[2020-04-21 10:05] kabakaev commented on #7891
@robg, please try [9c06aff](https://github.com/kabakaev/helm/commit/9c06aff7eb0b21ec86efd3d3b95d1812f3041a27).

[2020-04-21 11:33] silasdavis commented on #3141
@jmcelwain There is not a large amount of code in https://github.com/ghodss/yaml, the code is MIT licensed, there are unserviced pull requests from 2017: https://github.com/ghodss/yaml/pulls

Is this dependency really pulling its weight? It is a few marshalling helpers but is managing to hold up an issue that could improve the ability to synchronise chart versions with repository versions.

Can I

[2020-04-21 13:28] bacongobbler commented on #3141
I’d prefer to avoid that situation. There is not enough maintainers to maintain both a package manager AND a YAML parser. That would introduce a significant maintenance burden to the team.

[2020-04-21 14:24] robg commented on #7891
@kabakaev that one worked for me.  Thanks!

[2020-04-21 16:42] bacongobbler commented on #7634
FYI, I edited your comment to surround your examples in backticks. Makes it easier to read.

In a `define` function, the root (`$`) will become whatever was passed along from the template. In your first example, you passed the following:

[code]

The scope of the dot variable at that time was the value of `.Values.ServiceConfig`, so that was passed to the template.

In the template, it then looks

[2020-04-21 16:54] #7634 closed

[2020-04-21 16:54] bacongobbler commented on #7634
closing as answered. Please let me know if you run into further issues. Thanks!

[2020-04-21 17:36] technosophos commented on #7957
Please take a look at the Helm docs for how `helm upgrade` deals with values, and take a look at the flags `--replace-values` and `--reuse-values`. If you still believe that you have found a bug after that, please provide the `helm` commands you used (and a minimal chart) for reproducing this. https://docs.helm.sh/docs/

[2020-04-21 17:37] technosophos commented on #7956
Not enough information has been provided to reproduce. Please tell us how to create a reproducible chart, and which Helm commands you used.

[2020-04-21 17:38] technosophos commented on #7955
I am working on a fix.

[2020-04-21 17:41] technosophos commented on #7764
I believe you would have to iterate through the files if you wanted each one to print.

[2020-04-21 17:43] technosophos commented on #7756
There is not enough information in this ticket to reproduce. Please provide an example.

[2020-04-21 17:44] technosophos commented on #7742
I am closing this, as it does not appear to be a Helm-specific question, but an EKS/kubegrunt question. Feel free to re-open if you find a Helm-specific issue.

[2020-04-21 17:44] #7742 closed

[2020-04-21 18:43] NArnott commented on #6081
Visual Studio and lots of other windows tools adds this byte mark, and I just wasted 2 hours trying to figure out why with 2 seemingly identical files, one works and one doesn't.

[2020-04-21 18:44] joelbernstein commented on #6081
It took you 2 hours to work out a single character difference in a pair of
files? If only you'd had a computer handy.

On Tue, 21 Apr 2020 at 19:43, Nathan Arnott <notifications@github.com>
wrote:

--
Kind regards,

Joel Bernstein

[2020-04-21 18:45] joelbernstein commented on #6081
Anyway, sounds like you should report a bug to Microsoft: visual studio
incorrectly adds a BOM to utf-8 files.

On Tue, 21 Apr 2020 at 19:44, Joel Bernstein <joel@fysh.org> wrote:

--
Kind regards,

Joel Bernstein

[2020-04-21 18:48] bacongobbler commented on #6081
@joelbernstein this is a friendly reminder to keep things professional; we abide by the CNCF Code of Conduct and we ask members to follow that code.

Regardless of whether or not Visual Studio injects improper code, if the maintenance burden on our end is minimal, we'd be open to PRs to alleviate that issue. If it's fixed upstream, then it's fixed and it is an effective no-op.

@NArnott would you

[2020-04-21 18:48] NArnott commented on #6081
@joelbernstein  I am just starting to learn helm. I thought I was missing something. And google searching pointed to a lot of different reasons for the error, but none mentioned the BOM issue. Either way, telling Microsoft to fix this issue (whether it's a bug or not on their end) won't go anywhere in any reasonable time.

Side note, you're personally attacks don't solve problems.

[2020-04-21 18:50] joelbernstein commented on #6081
I'm sorry. I didn't intend that as a personal attack, my point was that
computers have very good tools for finding differences between files. I was
surprised at it taking 2h to find. It must've been really annoying, I agree.

On Tue, 21 Apr 2020 at 19:49, Nathan Arnott <notifications@github.com>
wrote:

--
Kind regards,

Joel Bernstein

[2020-04-21 18:51] NArnott commented on #6081
@bacongobbler thanks for your input. I'd love to assist, but I am a .NET developer who is just starting to feel my way in the K8s/Helm world, and have no experience with GO. I'm not sure how I could help.

[2020-04-21 18:54] bacongobbler commented on #6081
Marking this as a good first issue for those who are looking for their first contribution to the project.

[2020-04-21 19:13] VihanAgarwal97 opened #7961 "Render helm subtemplate in addition to parent"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

I have the following format in one of my charts -

`template1.yaml` -
[code]
and `template2.yaml` -
[code]
When I run `helm template` everything works correctly and outputs a new `template1.yaml` in the output dir. How do I get `helm template` to also render the sub-template `template2.yaml` in the same dir? Is there a way to o

[2020-04-21 19:14] technosophos commented on #7700
This comes directly from Go's `time.Time.String()` function. My guess is that it cannot find the appropriate timezone files to figure out what the name of the TZ -0700 is.

[2020-04-21 19:18] technosophos commented on #7703
This is not a Helm client issue, so I am closing.

[2020-04-21 19:18] #7703 closed

[2020-04-21 19:24] technosophos commented on #7704
The linebreak above should not have an impact. I'm actually wondering if this is a case of nested `{{}}` characters. Can you get this down to a minimal template that just shows the issue without the rest of the template code?

[2020-04-21 19:27] technosophos commented on #7710
Just to be clear -- all of you are seeing this behavior _only_ when an `alias` is added?

[2020-04-21 19:32] technosophos commented on #7718
Has anyone experienced this on any other cluster besides OpenShift? Or with any other charts? Helm has successfully been used to install over 1M YAML, so I don't think it is the size. But it could be timeouts on the API server that leave a connection opened. In particular, I have seen cases where the API server closed a network connection, but an intermediate proxy left it open and hanging for up

[2020-04-21 19:36] technosophos commented on #7724
It appears to me that the question has been answered. Marking this as closed. Feel free to re-open if there is more.

[2020-04-21 19:36] #7724 closed

[2020-04-21 19:41] technosophos commented on #7725
The issue is that certain things are considered _by Kubernetes_ to be immutable. You cannot upgrade certain values on certain types of Kubernetes objects. However, Helm doesn't know which values those are, because they are not exposed by the schema. So Helm sends the manifest to Kubernetes, which responds back with a list of fields that are immutable. The deployment fails because the objects canno

[2020-04-21 19:41] #7725 closed

[2020-04-21 19:46] technosophos commented on #7735
This is why we will not change the behavior:

CRD authors can unintentionally cause massive harm to a cluster by being careless. Until Kubernetes provides a better solution that can guard against this, Helm will take a defensive stance on CRDs. Unless you have a proposal that fixes that particular problem, we can't change the behavior without exposing users to high risks.

[2020-04-21 19:48] technosophos commented on #7736
This was fixed in Helm 3.2.0-rc.1

[2020-04-21 19:48] #7736 closed

[2020-04-21 19:55] technosophos commented on #7741
If you don't use --wait, does it work?

[2020-04-21 20:00] technosophos commented on #7689
As @mattfarina pointed out, this isn't really what Helm is designed to do. Helm installs discrete packages, just like apt, RPM, homebrew, etc. Unless I am misunderstanding, it sounds like you want a way to attach fragments of YAML to existing releases (not charts), which is outside of the scope of a package manager, whose unit of work is the chart.

[2020-04-21 20:02] technosophos commented on #7687
I do not think this is a tractable problem. Solving it breaks compatibility, and requires knowledge of how a user thinks the object "ought" to look. If anyone is interested, feel free to file a Helm 4 proposal for how the new feature would work. For now, I am closing this issue because there is nothing actionable on it for Helm 3.

[2020-04-21 20:02] #7687 closed

[2020-04-21 20:03] monotek commented on #7735
If you have a breaking change in your CRD the helm chart major version should have changed too, indicating that there is somethin breaking if you just do the update without reading the docs.

At the moment this can already happen for non crd changes to a helm chart so i don't realy see why this is a reason to not support crd updates?
Otherwise you should not support updates at all, or not?

[2020-04-21 20:03] technosophos commented on #7686
There is no actionable information here. Closing.

[2020-04-21 20:03] #7686 closed

[2020-04-21 20:04] technosophos commented on #7679
Closing this because the question was answered and the issue has been active for a long time.

[2020-04-21 20:04] #7679 closed

[2020-04-21 20:08] edobry commented on #1892
Is there a document somewhere showing how to do this with Helm 3? It still seems to not be possible.

[2020-04-21 20:10] technosophos commented on #7676
If you directly edit the objects in Kubernetes, then the rollback will try to consider those changes when rolling back. (As @mattfarina noted, this is the way the 3-way diff works). Once you've manually edited, rollback will be difficult because essentially it will run the "upgrade" logic with an old release, the current release, and the version you edited.

It is hard for us to be able to say wha

[2020-04-21 20:12] technosophos commented on #7672
If anyone wants to add a lint target for this, PRs are welcome.

[2020-04-21 20:13] technosophos commented on #7669
Closing, as the original question was answered

[2020-04-21 20:13] #7669 closed

[2020-04-21 20:14] technosophos commented on #7667
Should this be filed in the docs repo?

[2020-04-21 20:14] technosophos commented on #7666
The question appears to have been answered. Marking closed.

[2020-04-21 20:14] #7666 closed

[2020-04-21 20:15] silasdavis commented on #3141
@bacongobbler it is _not_ a yaml parser. It uses `gopkg.in/yaml.v2` to do the actual parsing. It's about 900 lines of `reflect` wrapper code around that parser. The problem is that they dont' use `gopkg.in/yaml.v3` that would resolve this issue.

It seems to me the maintenance burden of using this minor intermediate to your actual dependency is a greater burden that maintaining this bit of code.

[2020-04-21 20:19] technosophos commented on #7656
Where is the chart that is causing this problem? I took a quick glance at the ONAP repo and couldn't find a chart that looked like the one described above.

Has anyone reproduced on any other charts? This is the only report I have seen of such excessively long processing time for a `lint`

[2020-04-21 20:20] technosophos commented on #7650
No, there is no such command. If the chart author has not marked a subchart as optional, we assume it is required.

[2020-04-21 20:20] #7650 closed

[2020-04-21 20:21] technosophos commented on #7647
I am marking this as closed. It would need to be added to the upstream YAML library, not to Helm

[2020-04-21 20:21] #7647 closed

[2020-04-21 20:24] technosophos commented on #7637
The error comes from Kubernetes. So we don't know why Kubernetes errored out because of a leader change -- only that it did, and that the error prevented Helm from completing its operation.

[2020-04-21 20:24] #7637 closed

[2020-04-21 20:25] technosophos commented on #7614
Any update on this?

[2020-04-21 20:31] technosophos commented on #7584
`file://` is already supported in the `repository` field. It is not supported for repository protocols (e.g. for network operations), but could be via a protocol plugin.

If you wanted to add this to Helm core, you'd have to give a clear use case for why this would be a desirable feature. We deprecated the `helm serve` command in Helm 2 because nobody used it, and removed it in Helm 3. This would

[2020-04-21 20:50] bacongobbler commented on #3141
As mentioned earlier in the thread, please feel free to propose a PR upstream that would update ghodss/yaml to yaml.v3. If they will not accept it, feel free to fork the project and maintain it if you feel you can take on the maintenance burden.

Let me be clear though: we _will not_ accept pull requests that fork and vendor ghodss/yaml into Helm. We cannot take on the additional maintenance burde

[2020-04-21 20:53] bacongobbler commented on #7667
The Helm v2 docs currently reside under the `docs` folder in the dev-v2 branch. It was not migrated over to the helm-www codebase. We still use the old process to build that site, so it seems fitting to keep it here

[2020-04-21 21:06] asenci commented on #7701
Fixed by PR #7702

[2020-04-21 21:06] #7701 closed

[2020-04-21 21:13] kopasiak commented on #7656
it's in kubernetes directory:

https://github.com/onap/oom/tree/master/kubernetes/onap

I'm not sure how all other people are using helm but what I've noticed in chart library is that charts are usually quite small. In our case, ONAP chart with all "requirements" enabled is really large (thousands of files).

To me it looks like if some operation (search/insert or sth) was done using wrong datatyp

[2020-04-21 21:37] crisfrusu opened #7964 "Wrong image variables in default deployment.yaml"
This is for Helm 3, while creating the default chart template.  In the "templates/deployment.yaml" I have this:

template:
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Chart.AppVersion }}"

It should be this:

          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"

When I try to deploy an app from the Helm cat

[2020-04-21 21:40] silasdavis commented on #3141
@bacongobbler please take a look at my PR here: https://github.com/helm/helm/pull/7963

It is 900 lines of code with the tests included and superfluous functionality removed.

RIght now you are depending on what looks like a relatively unmaintained library with a much larger footprint than what I have added there.

You use all of one function from this entire Go library, and in order to do that yo

[2020-04-21 21:43] technosophos commented on #7580
I believe the question was answered, so am marking this as closed.

[2020-04-21 21:43] #7580 closed

[2020-04-21 21:45] technosophos commented on #7572
This is outside of the core feature set of Helm, which is a package manager. Your best bet is to implement this as a Helm plugin.

[2020-04-21 21:45] #7572 closed

[2020-04-21 21:46] technosophos commented on #7569
I believe the answer given by @mattfarina is correct and complete. Marking this as closed.

[2020-04-21 21:46] #7569 closed

[2020-04-21 21:51] technosophos commented on #7566
Leaving this open as a feature request. Let me know if you want to be un-assigned from it.

[2020-04-21 21:53] technosophos commented on #7563
@mattfarina can you provide an update on this? I can't tell if this is a bug, or if there is some nuance to SemVer that I am not understanding here. But it seems to me that this is a bug.

[2020-04-21 21:55] technosophos commented on #7562
Any update on this? Is it reproducing on Helm 3.2.0-rc.1? (There were changes to STDIN handling in 3.2.0). Also, has this been verified with another pipe operation besides SOPS?

[2020-04-21 21:58] technosophos commented on #7551
The error comes from the YAML parser, which lazily sees `---` as a stream separator. Can you please post the results of using `.Files.Get`? It may be that injecting this into Kubernetes is where the parse error is occurring, in which case we will need to figure out what the right escape sequence is. This should be documented somewhere in the YAML 2 spec. https://yaml.org/spec/

[2020-04-21 22:01] technosophos commented on #7548
Why do you think this is the same problem as #2634? Have you checked your hosts file? Does it have an IP v6 address there?

Somewhere along the line, something external to Helm is telling Helm to use the IPv6 address. If you can find that and fix it, all should work.

[2020-04-21 22:02] technosophos commented on #7545
Should I close this? The issue seems to have lost momentum, but @mattfarina 's suggestion seems to be the proper way forward.

[2020-04-21 22:05] technosophos commented on #7544
Helm does not assume that a direct URL to a chart is backed by a full repo. (In other words, Helm is totally cool with people passing a direct URL to a chart that is not in a repo.) So as things stand now, there is no mechanism to infer a repository from a URL.

[2020-04-21 22:11] technosophos commented on #7528
This will be fixed via support of XDG_DATA_DIRS.

[2020-04-21 22:13] technosophos commented on #7525
I don't think there is any Helm bug here, though there is possibly a documentation error that should be filed in the docs project: https://github.com/helm/helm-www/issues

[2020-04-21 22:13] #7525 closed

[2020-04-21 22:14] technosophos commented on #7522
Should I close this? No core maintainers seem to have expressed a desire to maintain an official image.

[2020-04-21 22:16] technosophos commented on #7519
If there is a bug in the docs, that issue should be opened in https://github.com/helm/helm-www/issues

The present issue seems to be resolved. Marking this as closed

[2020-04-21 22:16] #7519 closed

[2020-04-21 22:19] technosophos commented on #7501
I believe that @omkensey 's response is correct. Closing this due to inactivity.

[2020-04-21 22:19] #7501 closed

[2020-04-21 22:23] technosophos commented on #7493
The answers given above are correct and complete. There is no way to simply override all of the child chart values. This is by design (imagine your example above if someone did NOT intended to globally modify RBAC values).

In Helm's design, if you want to modify child values, you must be explicit about modifying chart values.

[2020-04-21 22:23] #7493 closed

[2020-04-21 22:24] technosophos commented on #7488
I am marking this as closed for inactivity, and since it's on an exceptionally old version of Helm. Feel free to re-open if it reproduces on 3.x or even on a recent 2.x

[2020-04-21 22:24] #7488 closed

[2020-04-21 22:26] technosophos commented on #7487
I don't see any activity on this one, and the reference above is now out of date (due to master shifting). I am closing for inactivity, though if someone wants to pick this up and create a PR, that is fine with me.

[2020-04-21 22:26] #7487 closed

[2020-04-21 22:31] technosophos commented on #7486
I have been trying to hunt this down. My current theory is that there is a timezone file that is missing somewhere on the host OS, but I haven't been able to confirm.

I am closing this as a duplicate of #7700, which is currently more active, so I am closing this in favor of that.

[2020-04-21 22:31] #7486 closed

[2020-04-21 22:32] technosophos commented on #7700
#7486 suggests that this is in some way related to Windows timestamps.

[2020-04-21 22:34] technosophos commented on #7485
This issue appears to be closed. Nobody has reported being able to reproduce. Please re-open iif you can re-produce, and provide a complete template and values.YAML.

[2020-04-21 22:34] #7485 closed

[2020-04-21 22:36] technosophos commented on #7464
What is the chart version in Chart.yaml? Is it v1, v2, or not set?

[2020-04-21 22:38] technosophos commented on #7462
@bacongobbler 's explanation above is correct. `version` is the only version field Helm uses to evaluate differences. If you want to support two appVersions, you MUST create two chart versions. (The other direction is not the case -- one may do multiple chart `version`s for only one `appVersion`.

[2020-04-21 22:38] #7462 closed

[2020-04-21 22:40] technosophos commented on #7461
This issue seems to not be reproducible. Without seeing the index file, it's hard to say what could have been wrong.

I'm closing due to inactivity, but feel free to re-open if you want to provide more info and a reproducible case.

[2020-04-21 22:40] #7461 closed

[2020-04-21 22:41] technosophos commented on #7458
Closing due to inactivity

[2020-04-21 22:41] #7458 closed

[2020-04-21 22:44] technosophos commented on #7450
The tl;dr is that GnuPG decided that one of the fields on my key is not valid, though the spec does not require or suggest erroring out on that field. So I needed to generate new signing keys for my Helm package signatures.

[2020-04-21 22:44] #7450 closed

[2020-04-21 22:45] technosophos commented on #7448
Closing as resolved

[2020-04-21 22:45] #7448 closed

[2020-04-21 22:46] technosophos commented on #7446
@anshulvermapatel any progress on this?

[2020-04-22 00:43] kfox1111 commented on #7522
Do the helm maintainers think its a good idea that someone with possibly nefarious intent could post an official looking image?

If nothing else, maybe take the helm org so no one else grabs it?

[2020-04-22 00:51] tamalsaha opened #7965 "How do I pass multiple image pull secrets to a chart?"
I created a chart using `helm create demo-chart`. Now, I want to pass multiple image pull secret to that using `--set` flag. How do I do that? I tried

[code]

That does not work. Here is my repo: https://github.com/tamalsaha/demo-chart

Output of `helm version`:
version.BuildInfo{Version:"v3.1.2", GitCommit:"d878d4d45863e42fd5cff6743294a11d28a9abce", GitTreeState:"clean", GoVersion:"go1.13.8"}

O

[2020-04-22 01:55] bitdancer commented on #7528
What does desktop environments have to do with helm?  I don't use a desktop, and the concern raised here is for installing helm in a *container*, which certainly doesn't have a desktop.

I don't think support XDG_DATA_DIRS fixes this request.

[2020-04-22 02:02] mraliagha commented on #7485
Sounds good. I couldn't reproduce it as well. Whatever it was, it's fixed. Thanks

[2020-04-22 03:54] forainychen commented on #7956
Hi, here are the reproduce steps
Having two services yaml file as below.

nginx.yaml
[code]
prometheus.yaml
[code]

Then put there two files in helm1/templates/ then install. It shows prometheus service uses clusterIP and nginx version is 1.14.2

[code]

Now update the section for nginx.yaml to new version 1.16
[code]
and prometheus.yaml by changing it to LoadBalancer.
[code]

Now put them as helm

[2020-04-22 05:11] bacongobbler commented on #7965
[As per the documentation](https://helm.sh/docs/intro/using_helm/#the-format-and-limitations-of---set), you can use `--set imagePullSecrets[0].name=s1,imagePullSecrets[1].name=s2`.

Closing as answered. if there is a topic missing in the documentation, please feel free to contribute to the helm-www repo. Thanks.

[2020-04-22 05:11] #7965 closed

[2020-04-22 05:27] Roninchen opened #7966 "kubeconfig mapping"
In My values.yaml:
--------------------------------
kubecoonfig: |-
  apiVersion: v1
  clusters:
  - cluster:
      certificate-authority-data: *****
      server: https://***:6443
    name: ***
  contexts:
  - context:
      cluster: ***
      user: ***
    name: ***
  current-context: ***
  kind: Config
  users:
  - name: ***
    user: ***
      token: ***
-------------------------
In my templat

[2020-04-22 06:02] tamalsaha commented on #7965
Thanks a lot!

[2020-04-22 06:47] bacongobbler commented on #7966
Have you tried using `quote` or `nindent`?

[2020-04-22 06:50] Roninchen commented on #7966
kubectl or go client not allow “” in kubeconfig file

[2020-04-22 06:59] Roninchen commented on #7966
nindent  works, thank you

[2020-04-22 07:04] #7966 closed

[2020-04-22 08:36] DaveOHenry commented on #7704
Well, the linebreak is the main problem. See also https://github.com/go-yaml/yaml/issues/166. Under normal circumstances the linebreak "should" not have an impact, because it is valid yaml in any case. Unfortunately this does not take into account that certain strings (see https://godoc.org/text/template) cannot be split.

However. When using something like this ...
values.yaml:
[code]

templates/

[2020-04-22 09:58] silasdavis commented on #3141
https://github.com/ghodss/yaml/pull/62

[2020-04-22 10:33] rbtcollins commented on #5465
I think the underlying problem is definitional: helm provides a string interpolation language, and it is tempting to think that therefore the problem is that simple. But the domain it is working is a structured domain, and namespaces are an intrinsic property of some API objects.

This means that templated output is not portable in the general case, and users expecting it to be portable are using

[2020-04-22 11:14] qingguee opened #7967 "Rollback "xx" failed: no Endpoints with the name "database-pg" found"
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
kubeadm

## Problem description
Rollback failed, HELM can't find Endpoints

We have two version of a chart, 3.4.0-72 and 3.4.0-73
- v3.4.0-72 : Contains two endpoints.
[code]

- v3.4.0-73: We removed those two endpoints, let SVC create endpoints with label-selector

- The upgrade

[2020-04-22 11:20] razorsk8jz commented on #4423
Very interested in this - my use-case matches @aauren - we were using helm 2 - swapped to helm template with kubectl apply due to moving to tillerless.  We now want to readopt helm 3 but cant due to having to do a destructive action on our production services.

[2020-04-22 12:28] Xtigyro commented on #5989
@hickeyma I haven't been able to reproduce this recently. Probably we can close the issue for now.

[2020-04-22 13:13] hickeyma commented on #5989
Ok, I will close it then @Xtigyro. We can re-open if it is reproducible.

[2020-04-22 13:13] #5989 closed

[2020-04-22 13:57] deads2k commented on #7735
API evolution for kubernetes APIs allows for several kinds of updates.  Most notably, adding new fields is explicitly allowed as long as those fields are optional and their absence doesn't change the semantic meaning of the API resource.

We (apimachinery) are considering how to handle recommendations for things like new defaults, but schema evolution right now is the standard way we handle it.  J

[2020-04-22 13:59] SamyCoenen commented on #7450
@technosophos I can confirm that v3.0.2 works now with signatures!

[code]
Updating the version to anything above that doesn't work unfortunately but maybe they haven't been signed with the valid key?

[2020-04-22 14:06] mvukadinoff commented on #7441
+1

We would also like to see this feature.
It doesn't make sense to package a copy of the referenced charts in the umbrella in case they're used from a repository. This way if one doesn't have a requirement for a strict version one need to build the umbrella chart everytime a sub-chart is updated.

So in case we have:
{code}
- name: sub-chart-inrepo
  version: ^0.0.1
  repository: http://chartmus

[2020-04-22 14:39] gerrnot opened #7968 "deletion of requirements.yaml alters template rendering behaviour"
Output of `helm version`:

Client: &version.Version{SemVer:"v2.16.5", GitCommit:"89bd14c1541fa93a09492010030fd3699ca65a97", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.16.5", GitCommit:"89bd14c1541fa93a09492010030fd3699ca65a97", GitTreeState:"clean"}

Output of `kubectl version`:

Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.1", GitCommit:"7879fc12a63337efff6

[2020-04-22 14:43] bacongobbler commented on #7450
3.1.0, 3.1.1 and 3.1.2 were all signed by another core maintainer, so it’d make sense the signature verification would fail unless you added the other maintainer’s key.

Is this good to close, or is there something else?

[2020-04-22 14:52] bacongobbler commented on #4423
#7649 addresses this issue, which will be available in helm 3.2.0. If someone wants to tackle #2730 to make the process easier, feel free.

Closing as resolved. Let us know if there’s something missing.

[2020-04-22 14:52] #4423 closed

[2020-04-22 15:08] SamyCoenen commented on #7450
@bacongobbler indeed, changing the signing key to https://keybase.io/mattfarina works with the new releases, thanks!

[code]

[2020-04-22 15:41] bridgetkromhout commented on #3724
@mattfarina Do you think this should go into v2 at this point? (Unsure if you agree that it's a bugfix.)

[2020-04-22 16:09] #7955 closed

[2020-04-22 16:17] imriss commented on #3409
@JPWKU, could you please provide some info on how much resources for the tilelr deploy? Thanks

[2020-04-22 16:23] bridgetkromhout commented on #7667
Hi, @mattfarina - which part of the docs were you noticing was missing `--devel`? I see this line:
[code]

It's present on https://v2.helm.sh/docs/helm/#helm-inspect but perhaps another part of the v2 docs also needs it?

[2020-04-22 16:29] BenteleFlorian commented on #7219
@hickeyma
Thanks a lot for providing that documentation, this helped a lot in fixing the issue running on Helm 3.1.2 and recently upgraded the Cluster to Kubernetes 1.16.

As I'm working on a Mac I experienced two minor issues when applying the fix described by you:
1. The plugin didn't seem to find deprecated APIs even though they were visible when decoding it manually. Not sure if this actually

[2020-04-22 16:32] sean-krail commented on #7756
@technosophos here's a chart that reproduces the problem: [helm-7756.zip](https://github.com/helm/helm/files/4517493/helm-7756.zip)

In the root chart directory run:
[code]

`template` works but `lint` doesn't. The chart has a JSON schema that expects two properties `username` and `password`. `username` is set with a default value in `values.yaml`, `password` is set in `lint-values.yaml`.

[2020-04-22 16:56] adamreese commented on #7539
I started looking into this issue yesterday and did find some issues with how we loading the kubeconfig.  I'll work on a patch when I find the exact issue.

[2020-04-22 17:23] bridgetkromhout commented on #7667
(And @bacongobbler tells me there is a different place to look - sidenote, I think we should look into migrating anything we aren't auto-generating, if feasible, into the helm/helm-www repo.)

[2020-04-22 17:47] technosophos commented on #7528
The XDG base dir specification seems to be widely, if not universally, accepted as the new location for what used to be dotfiles in the home directory. https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html

Over the last few years, we have observed most other tools supporting this convention. So we switched as well.

One thing that XDG_DATA_DIRS offers us is a convention for

[2020-04-22 17:49] bacongobbler commented on #7667
The process was completed for Helm 3's documentation, but due to the nuances in how Helm 2's documentation is generated and assembled, unfortunately it's not that simple. I've tried and ran into several roadblocks. We came to a compromise instead: we'll continue maintaining the Helm 2 docs as it were, and maintain the Helm 3 docs on helm-www. This issue will disappear over time once we stop suppor

[2020-04-22 18:25] mattfarina commented on #7964
Using the appVersion landed in d3f0ac934349d19af364297dfdf62608d1e9b8d7. In the just released 3.2.0 the behavior changed a little. Now it does..

[code]

If the image tag is set that will be used. Otherwise, it uses the app version. I believe this would fix the issue.

[2020-04-22 19:27] james-mchugh commented on #5407
On a similar note, setting a YAML dictionary to `null` does not seem to delete the value either, but perhaps this is expected bahavior. I am currently running on Helm 3.2.0, and the following does not work as I expected:
filebeat/values.yaml
[code]
mychart/values.yaml
[code]
configmap.yaml template:
[code]
configmap.yaml out:
[code]

However, I expected configmap.yaml to not be populated.

[2020-04-22 19:31] jdolitsky commented on #7846
I've added a ticket on the ORAS side. Apologies I didnt see this earlier
https://github.com/deislabs/oras/issues/156

[2020-04-22 19:44] wasker commented on #7725
If helm bills itself as a "package manager for Kubernetes", shouldn't it be a bit more helpful in cases like that? Whenever I run into this situation, I have to do uninstall of the release, then reinstall the chart anew. Seems like helm could do that for me with a flag on helm install...

[2020-04-22 19:47] bacongobbler commented on #7725
As mentioned earlier,

If you know of a way to improve the situation, please feel free to submit a patch.

[2020-04-22 20:34] crisfrusu commented on #7964
Thank you for your reply.  I believe it solves the issue.  I will close the ticket after I test the new release.

[2020-04-22 20:43] bacongobbler commented on #7964
Thank you for the response. Let's go ahead close this one out. If the solution in Helm 3.2.0 does not work for you, we can re-open the ticket and investigate further. Thanks.

[2020-04-22 20:43] #7964 closed

[2020-04-22 20:59] technosophos commented on #7725
@wasker There are a variety of flags, including `--force`, `--replace`, and `--atomic`, which can help with specific cases. There are also a number of best practices documented in the charts documentation that provide guidance on naming for things like jobs. But at the end of the day, chart authors will have to know a little about how Kubernetes works and design their charts accordingly.

[2020-04-22 21:12] crisfrusu commented on #7964
Sounds good, thanks.

[2020-04-22 22:31] wasker commented on #7725
According to the [documentation](https://helm.sh/docs/helm/helm_upgrade/), "--force - force resource updates through a replacement strategy".

`helm upgrade blah ../../helmchart/blah --install --atomic --force --other-args` doesn't attempt to replace anything, simply fails when I attempt to upgrade a release with Job resource.

Where the "package management" comes into picture?

[2020-04-22 22:33] #7206 closed

[2020-04-22 22:43] technosophos commented on #7725
I'm not sure what you are looking for as far as an answer goes. Kubernetes does not let you alter the label selectors on Jobs. If you want to write a chart that does this, you'll need to figure out ways to do this.

I understand that you wish Helm did this for you, but we don't have a way to do this. If you would like write a detailed proposal and post it, we'd be happy to discuss.

[2020-04-22 22:55] #6899 closed

[2020-04-22 22:56] bacongobbler commented on #7725
Apologies for the confusion on the docstring, by the way. `--force` submits a PUT request against the Kubernetes API, as opposed to the PATCH request typically submitted by Helm on an upgrade. PUT operations are typically described as an HTTP request to replace that object, but it's up to Kubernetes to respect that PUT request or not. And in some cases (as you have observed), it doesn't.

Please f

[2020-04-22 23:01] wasker commented on #7725
@technosophos I think, #7082 is what I'm looking for (thanks, @bacongobbler!). I thought that `--force` _is_ that, but it looks like the actual "replacement strategy" is missing from helm as it is currently.

Thanks for the pointers, I subscribed to #7082 and will follow up there.

[2020-04-22 23:01] ryaneorth commented on #7697
@bacongobbler - Perhaps I'm misunderstanding, but I'm not seeing the annotations added in the following scenario:

1. Original release performed using Helm < 3.2.0
2. Update (via `helm upgrade --install` ) the release is made using Helm 3.2.0

In this scenario, I do not see the annotations added automatically. Is this expected behavior? Or do we have to manually annotate all resources that were or

[2020-04-22 23:47] technosophos commented on #7756
Excellent! I just reproduced with the chart above. Thank you.

[2020-04-23 01:12] brainwane commented on #4309
Hi all! [Yanking is now supported on PyPI](https://pypi.org/help/#yanked) (see https://github.com/pypa/warehouse/issues/5837 ) -- does that help?

[2020-04-23 01:36] jmcelwain commented on #3141
The other alternative I briefly explored was the possibility of replacing the YAML to JSON conversion via some other dependency or serializing through some intermediate format. I'm not familiar enough with the Go ecosystem to know if this is a viable path -- I was somewhat surprised I couldn't find more serialization-type libs when I looked briefly.

[2020-04-23 03:01] mauriciopoppe commented on #6140
@AlbertoPeon @aaronmell

As a workaround you can download the chart manually to a temp location and then install the chart from the filesystem, in the following example a new temp directory is created for every new chart version

[code]

[2020-04-23 07:03] lindhe commented on #7710
Good that you asked. No, I don't use alias and still get that behavior. Sorry, missed that part the first time I wrote.

[2020-04-23 09:54] TBBle commented on #7735
This is another instance of #5871. In [my comment there](https://github.com/helm/helm/issues/5871#issuecomment-581145634) I proposed a way for Helm to check the backwards compatibility of CRDs and give the user tools to deal with it within Helm.

@munnerz would that flow be sufficient to address your concerns so we could have the CRDs for cert-manager inside the crds/ directory, and get the same b

[2020-04-23 10:05] cablespaghetti commented on #2916
Good detective work @Shagon94. I guess the real question is, why is this intermittent and re-running helps? Sounds like an ordering problem, like the file hasn't been downloaded fully when the check runs.

I thought it might be a problem with the file getting corrupted on download but it is happening too frequently for that I think.

[2020-04-23 10:18] Shagon94 commented on #2916
Hello @cablespaghetti , if you can provide any urls that show these symptoms or steps to reproduce I can look into it further, so far everything seems to be working properly.

[2020-04-23 10:25] cablespaghetti commented on #2916
I'm afraid I've seen only with private s3-based charts so far, using https://github.com/hypnoglow/helm-s3 and when installing multiple instances of the same chart with https://github.com/roboll/helmfile.

My current thinking is that the first call to download the chart begins to download, then the next one starts (in parallel) and because Helm can see a file with the right name in the cache direct

[2020-04-23 12:02] qingguee commented on #7967
I just had a quick scan the source code.  I have some finding.

In client.go, I think the line 198, it return nil. Because some kind of "invalid ownership metadata".
[code]

**During rollback**
- The origin endpoint was created by K8s for v3.4.0-73
- The target endpoint SHOULD be created by HELM3 for v3.4.0-72

But the question is that why the endpoint was not **created** as NEW resource?
Because

[2020-04-23 12:23] qingguee commented on #7967
I had a scan in pkg/kube/client.go
[code]
I think above code has a problem. It does not consider my case.
**During rollback**
- original: Endpoint was created by K8s for v3.4.0-73, but not HELM3
- target:   Endpoint **SHOULD** be re-created by HELM3 for 3.4.0-72

So, it was checking original and find Endpoint was not existed, then it return error.

Then WHY the NEW resource was not identified at l

[2020-04-23 12:47] bitdancer commented on #7528
OK, that doesn't seem crazy :)  I've looked at the XDG spec a bit more (though still not in detail) and the linked PR, and it seems like there are still a couple missing pieces.  I also see that gcloud supports XDG, so it makes sense for helm to do so as well, regardless.

The PR doesn't (yet) contain enough documentation to tell how this is going to work.  If I'm understanding the proposal correc

[2020-04-23 12:48] max-rocket-internet opened #7971 "Feature request: ignore part of a resource in upgrade"
In Helm2, it was possible to use it together with a separate CD system because it would only apply the diff since the last Helm release. But with Helm3, due to the 3-way merge process, this is not possible. For example, if you use a tool like Spinnaker or any other CD tool that is effectively running `kubectl set image xxxxx container=nginx:latest`, now Helm3 will undo this change on the next char

[2020-04-23 12:49] seandilda commented on #7760
I would like to second this.  Having an option to give the current debug output minus the rendered yaml files would be very helpful.

[2020-04-23 13:57] bacongobbler commented on #7971
Have you tried setting the value to `null`, or by matching the current value present in your live state?

https://helm.sh/docs/faq/#improved-upgrade-strategy-3-way-strategic-merge-patches

[2020-04-23 14:20] pc-jedi opened #7973 "plugin install returns success even the installation failed"
The following error occurred in a CI Pipeline so I cannot reproduce it, but I it happen while GitHub had issues with connections timing out.

Below some printout:

[code]

The interesting part is `tar: invalid magic`. This usually indicates a corrupted tar-file.
I think this "error" should be caught the same way as 504:
[code]

Output of `helm version`: 3.1.2
Output of `kubectl version`: 1.18.0

[2020-04-23 14:39] bacongobbler commented on #7973
Are you sure this isn’t coming from the install script that helm-gcs supplies? If so, it would indicate an issue with the plugin not reporting an error code back to helm.

https://github.com/hayorov/helm-gcs/blob/master/scripts/install.sh#L43

[2020-04-23 14:52] dominik-bln commented on #7211
I could imagine trying my hand on implementing this in the near future if a PR for this would be considered. This blocks us from updating some of our releases to Helm 3, but I am not that experienced with Go, so would likely take some time (and wouldn't mind if someone else gets to it first 😉).

Any suggestions on the name for the option? Some ideas:

- `--use-legacy-tiller-release-service`
- `--h

[2020-04-23 14:59] hgibsonqb opened #7974 "Helm SHA doesn't match in get-helm-3 script"
Output of `helm version`:

Output of `kubectl version`: v1.15.5

Cloud Provider/Platform (AKS, GKE, Minikube etc.): EKS

Error message:
[code]

[2020-04-23 15:06] absoutherland commented on #7974
Also experiencing this issue with install script from master.

[2020-04-23 15:15] max-rocket-internet commented on #7971
I have not. So I would install the chart with a dummy value, set it to `spec.template.spec.containers[0].image=null`, upgrade the chart, then this key can be managed outside of Helm? I'll try it 🙂

So we would get the current image, and then add this as a value like: `helm upgrade ingress01 stable/nginx-ingress --values path/to/my/values.yaml --set controller.image.tag=0.29.0`?

Could do this but

[2020-04-23 15:33] bacongobbler commented on #7974
I cannot appear to reproduce the issue.

[code]

In your terminal output, it looks like the version number is missing. Let us know if you can determine why that might be the case.

[2020-04-23 15:45] max-rocket-internet commented on #7971
@bacongobbler thanks for the reply. Regarding that link "Improved Upgrade Strategy: 3-way Strategic Merge Patches", it says there in the example about sidecar containers:

How does Helm decide to let that sidecar remain after the 3 way merge? Is there specific logic for sidecar containers? Or it just allows extra items to remain when they are in an array, like `containers`?

[2020-04-23 15:47] bacongobbler commented on #7971
the latter. As the documentation suggested, live state was not considered in Helm 2, so helm had no idea there was a sidecar container. When the PATCH request comes in, it effectively removed the sidecar. In Helm 3, we have knowledge of that sidecar and can allow that extra item to remain in the array, as the update (the chart from `helm upgrade` does not care about modifying the state of the side

[2020-04-23 15:51] bacongobbler commented on #7967
Hi @qingguee, without a chart to test this behaviour, we cannot help you. Please provide a sample that we can use to verify the behaviour you are describing. Thanks.

[2020-04-23 15:55] bacongobbler commented on #7961
Hi @VihanAgarwal97. I'm not quite sure I understand the issue.

1. Can you please try with a more recent version of Helm 2? v2.16.5 is the most recent version. Please check and confirm this behaviour still exists there first.
2. Please provide a set of instructions to reproduce the problem you are experiencing. I'm not sure what you mean by "When I run helm template everything works correctly and

[2020-04-23 16:00] bacongobbler commented on #7958
Hi @hiddeco. Thank you for sharing.

The timeout feature seems fairly straightforward. On the other hand, I'm curious how that will translate to a new Helm feature. As far as I understand #7950 only introduces it to the package, but it's not integrated with the rest of the CLI. Why is that?

In regards to your second proposal, that might be a harder pill to swallow. Kubernetes 1.18 just introduced

[2020-04-23 16:22] pc-jedi commented on #7973
Looks like you're right. I'll create an issue on there side.

[2020-04-23 16:24] absoutherland commented on #7974
As mysteriously as it cropped up, the issue appears to have resolved itself. I have builds that install helm that failed briefly, but seem to be green now.

Thanks for looking into this!

[2020-04-23 16:25] #7974 closed

[2020-04-23 16:25] #7973 closed

[2020-04-23 16:35] jgoeres commented on #7677
Works with Helm 3.2.0, thank you. :-)

[2020-04-23 16:57] mattfarina opened #7976 "Embedding The Icon"
There is a use case to embed an icon in the chart.

The case is for charts that could be used offline (e.g., airgapped environments).

I can see two ways to accomplish this.

1. Use a [DataURL](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/Data_URIs) and embed it on the `icon` property in the `Chart.yaml` file.
2. Add the ability to have an icon file to the packaged chart.

Thou

[2020-04-23 17:02] jdolitsky opened #7977 "Upgrade Circle to use Go 1.14"
Modify this: https://github.com/helm/helm/blob/master/.circleci/config.yml#L8

[2020-04-23 17:02] bacongobbler commented on #7976
duplicate of https://github.com/helm/helm/issues/2943?

[2020-04-23 17:05] bacongobbler commented on #7976
Given the discussion in https://github.com/helm/helm/issues/2943#issuecomment-331515888, I'm wondering if the chart icon should be part of the chart repository index instead of the chart itself, and if so, perhaps the proposal of a localized icon reference should be part of that discussion.

Then again, that would be a breaking change and would likely warrant a change in Helm 4. Hopefully that giv

[2020-04-23 17:07] jdolitsky opened #7979 "Add automation to notify when KEYS file modified"
The KEYS file contains public keys for maintainers who have signed a Helm release. If that file is compromised things could be bad.

We should add some automation to send an email to the security team if this file is modified.

Apprehensive to do this in GitHub or Circle since a modification of KEYS file indicates some write-level access to the repo, which could mean removing this automation prior

[2020-04-23 17:08] jdolitsky commented on #7979
Possible solutions if we use GitHub actions:

- https://github.com/marketplace/actions/get-changed-files
- https://github.com/marketplace/actions/send-email

[2020-04-23 17:18] hgibsonqb commented on #7974
Yeah it's working now for me too.

[2020-04-23 17:27] nezed commented on #7533
[code]
works since 3.2.0 🎉

[2020-04-23 17:54] aperullo opened #7981 "[Helm 3] [Bug] New Registry/Chart Commands not pulling"
Output of `helm version`:
`version.BuildInfo{Version:"v3.2.0", GitCommit:"e11b7ce3b12db2941e90399e874513fbd24bcb71", GitTreeState:"clean", GoVersion:"go1.13.10"}`

Output of `kubectl version`:
[code]
Issue:

I was trying out the experimental `helm registry` and `helm chart` commands and found I was unable to pull charts if I didn't create them.

[code]
Now compare if I first create and push, then

[2020-04-23 18:00] alokhom commented on #6315
helm $HOME/.helm/ folder needs the tiller cert.pem, key.pem and ca full chain cert. Then only can the helm authenticate into the cluster.

[2020-04-23 18:02] bacongobbler commented on #7968
I'm sorry, but I cannot make sense of the issue described here. What is the expectation? How does this affect you? Can you please provide a clearer explanation of the issue at hand, and perhaps use a more succinct example?

Thanks.

[2020-04-23 18:08] aperullo commented on #7981
Sorry let me clarify, someone else has pushed the chart to the repository in the first example. Its present. I can't pull it.

[2020-04-23 18:09] bacongobbler commented on #7968
I was able to reproduce the same behaviour with Helm 3 as well, for what it's worth.

[2020-04-23 18:10] bacongobbler commented on #7981
Can you demonstrate how that can happen? How did the other user push the chart to the registry? If you can provide more steps to reproduce the issue, that would be most helpful.

[2020-04-23 18:16] aperullo commented on #7981
Yeah we tried both:

[code]
and

[code]
That is to say, we tried both the raw chart (as folders) and the packaged tar you get from `helm package`

[2020-04-23 18:21] bacongobbler commented on #7981
Can you please provide more system information? What version of Helm were each of you using? What operating system? What chart?

The reason I'm asking is that in order to test and confirm this issue, we need to be able to reproduce the same setup (or someone else from the community has to demonstrate the same symptoms using the asme setup). Please provide as much information as you can so that we

[2020-04-23 18:34] dwdraju commented on #7418
It works on v3.2.0.

[2020-04-23 18:47] VihanAgarwal97 commented on #7961
Here is my `config.yaml` -
[code]

Here is my `configmap.yaml` -
[code]

When I run the following command
[code]
I check $workDir and I can see that `configmap.yaml` has been rendered there. However, I don't see `config.yaml` in the directory. It seems as though helm is rendering `config.yaml` into `configmap.yaml` but it doesn't save `config.yaml`

I hope this clarifies things...

[2020-04-23 19:03] jdolitsky commented on #7981
There error message may indicate some corrupted chart cache.. Can you add the output with the `--debug` flag?

You might also try to removing the cache at `/home/ant/.cache/helm`

[2020-04-23 19:05] mattfarina commented on #7976
@bacongobbler I can head over there and comment. It shouldn't be part of the repository because that will not work for OCI registries.

I'll close this as a duplicate.

[2020-04-23 19:05] #7976 closed

[2020-04-23 19:17] technosophos commented on #7961
`config.yaml` has no rendered content. Evaluating that template produces an empty string. Hence nothing will be written to a file. You may want to read up on `define` and `include` in the Helm docs.

[2020-04-23 19:19] aperullo commented on #7981
@jdolitsky I think you are correct. I fixed the cache file and now can't seem to reproduce whatever corrupted it.

[2020-04-23 19:23] bacongobbler commented on #7981
Closing for now. Please feel free to reopen if you happen to reproduce it in some other manner.

[2020-04-23 19:23] #7981 closed

[2020-04-23 19:34] technosophos commented on #7754
I am eager to let people start developing on this. Was anyone else still interested, or is this dead?

For my part, I will revisit after 3.3.0 work is done.

[2020-04-23 19:40] vengam commented on #4157
test
├── Chart.yaml
├── config
│   ├── group1
|     |     |----folder1
|     |     |        |-----file1
|     |     |        |-----file2
|     |     |----folder2
|     |     |        |-----file1
|     |     |        |-----file2
│   │   ├── bar.properties
│   │   └── foo.properties
│   └── group2
│       ├── baz.properties
│       └── qux.properties
├── templates
│   └── configmap.yaml
└── values.y

[2020-04-23 20:01] VihanAgarwal97 commented on #7961
Sorry I left things out for simplicity but there is templating in the actual file. You can add a random value and see that this behavior persists.
Example:
[code]

[2020-04-23 21:03] bacongobbler commented on #7793
If I'm not mistaken, this particular case was resolved with https://github.com/helm/helm/pull/7653, which will be in Helm 3.2.1. A `helm upgrade --install` should just work in this case. Let us know if this does not answer your question.

[2020-04-23 21:04] #7793 closed

[2020-04-23 21:15] jacobreid commented on #6520
+1

[2020-04-23 21:17] bacongobbler commented on #6520
In the interest of preventing spam to users subscribing to this thread, please add a :+1: to the OP instead of commenting "+1". That way we can keep the conversation relevant to the discussion at hand. I've gone ahead and deleted those comments. Thanks! :heart:

[2020-04-23 21:28] bozaro commented on #7957
Minimal chart and helm commands is provided by repo: https://github.com/bozaro/helm-ports-issue
This repository is created specially for this issue.

[2020-04-23 21:32] bozaro commented on #7957
In any case with replace and reuse values I should not lost second port declaration after upgrade.

[2020-04-23 22:56] jkroepke opened #7985 "nil pointer dereference on invalid filepath in `helm lint -f`"
By running

[code]

helm throws an SIGSEGV.
[code]
It doesn't matter if `%` exists.

Output of `helm version`:
[code]

OS: macOS 10.15.4

[2020-04-24 06:48] carrodher opened #7987 ""helm fetch/pull" failing in Helm 3.2.0"
I am trying to fetch a chart using the new Helm 3.2.0 version but I obtain the following error:
[code]
the same issue happens using `pull` instead of `fetch`:
[code]

But, using the latest Helm 3.1.X, the command works as expected:
[code]

----------------------------------
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
GKE

[2020-04-24 06:59] gerrnot commented on #7968
Thanks for reproducing the issue with also with helm 3!

In our ci systems we have the following behaviour:

On jenkins we are both building and deploying (to a dev stage) the umbrella helm chart. As we have the umbrella chart available locally for build we are also deploying the chart from local - yes it has dependencies which we fetch before with dependency update from artifactory. Building mean

[2020-04-24 07:50] carrodher commented on #7987
Not 100% sure, but this PR can be related #7720

[2020-04-24 08:34] rabadin opened #7988 "`index.yaml` are not written atomically"
`index.yaml` files, as generated by `helm repo index`, are not written atomically. As a result files can be half-written when helm or another client reads them.

This is an example of a custom YAML scanner breaking because of a half-written file:
[code]

[2020-04-24 09:04] Mishra-Akash opened #7989 "Validation for IP given in values.yaml"
Hi Experts,

We need some help where I need to do the validation  for IP given in values.yaml.

Is there any function or way where I can validate the given IP is in correct format.
So  in values.yaml IP format is not correct, helm install get failed for complaining the same.

Output of `helm version`:
Client: &version.Version{SemVer:"v2.14.2", GitCommit:"524294565799aba901a242fb7a12cef454c9cb10",

[2020-04-24 09:16] vkropotko opened #7990 "Wrong error message in `helm dep update/build`"
Output of `helm version`:
version.BuildInfo{Version:"v3.2.0", GitCommit:"e11b7ce3b12db2941e90399e874513fbd24bcb71", GitTreeState:"clean", GoVersion:"go1.13.10"}

Chart.yaml:
[code]

In case of Helm can not access `$HOME`, when I run `helm dep update my-chart` I receive next error:
[code]
But it starts to work with  `HOME=/tmp helm dep update my-chart`
Looks like CLI needs additional checks for acc

[2020-04-24 09:22] qingguee commented on #7967
Sure.
I will prepare two example chart and detail reproduce step to help identify the root cause.
I guess this weekend.

BRs,
Fan Liu

[2020-04-24 09:39] max-rocket-internet commented on #7971
Using `null` doesn't work as it's rejected by the k8s API (or a local check), for example:

[code]

I thought I could pre-create the deployment and then install the chart with no `image` set but then I get `existing resource conflict`

@bacongobbler is there another way to manage a deployment with Helm but not the image? Could I manually remove `spec.template.spec.containers[0].image` from the rel

[2020-04-24 10:24] hiddeco commented on #7958
I ran across the lack of control on the timeout while utilizing the `getter` package to fetch and store Helm charts as an artifact for later usage, and not while using `helm` itself. This is something I would expect more projects to do given Helm is a packaging solution, and it seemed thus more useful to me to try to patch it upstream than to copy and modify the `HTTPGetter` (times `n` as I would

[2020-04-24 11:00] omkensey opened #7991 ".Capabilities.KubeVersion should indicate it's fabricated when helm template isn't validating against the cluster"
When I dump the root context in a debugging template with `toYaml $`, I see the following for .Capabilities.KubeVersion:

[code]

However, the actual running cluster is microk8s running 1.18.1 (see kubeversion info below).

Output of `helm version`:

[code]

Output of `kubectl version`:

[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): microk8s

[2020-04-24 11:59] omkensey commented on #7991
Ah, something occurred to me and I see that using either `template --validate` or `install --dry-run --debug` gives the correct Kubernetes version of my actual cluster.  Can the version given when running `template` without validation indicate explicitly (maybe by appending a SemVer-compliant build metadata tag, e.g. "v1.16.0+helm-template-kubeversion") that it's fake somehow?  It's documented tha

[2020-04-24 13:36] bacongobbler commented on #7989
Not that I’m aware of, no.

[2020-04-24 14:24] bozaro commented on #7957
This issue is not values-related. I used values only for simple reproduce.
Looks like helm on upgrade make:
 - try to apply delta between last expected state (not actual state) and new expected state;
 - on removing ports remove all ports with same number.

This is combo:
 - I adds 3 ports with number `A`, `B`, `B` and actual pod state became `A`, `B`, `B`;
 - I remove duplicate `B` and apply stat

[2020-04-24 16:52] phoenixwp commented on #7441
That would be great feature!

@mvukadinoff,
I found, that `helm push ` does mentioned action, pushes chart package without including sub-chart's bodies into package archive, but it doesn't have an option --app-version, like `helm package`. So if you don't need to change appVersion field in Chart.yaml, you can use this way.

But it is not my case. I have to change appVersion and also use library ch

[2020-04-24 18:16] bacongobbler commented on #2998
fixed in https://github.com/helm/helm/pull/6750.

[2020-04-24 18:16] #2998 closed

[2020-04-24 18:17] bacongobbler commented on #7987
sounds like the same report in #2998, though in a different section of the code. Please feel free to submit a patch that fixes this. Have a look through #2998 for a more in-depth rundown of the issue.

`RenameWithFallback` is now part of the project, so this should be a really quick fix. Have a look at https://github.com/helm/helm/pull/6750 for an example.

Marking as a good first issue.

[2020-04-24 18:27] bacongobbler commented on #7987
This should be fixed after https://github.com/helm/helm/pull/7954 is merged.

[2020-04-24 20:56] ghost opened #7992 "etcdserver: request timed out"
Hello team,

I recently started to hit on my k8s cluster "etcdserver: request timed out" issue during deployment with helm.

Is there any option that helm has to be resilient to failure? (ex: retry x times before)

[code]

Output of `helm version`:
[code]

Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.): **OpenStack/kubespray**

Thanks,
Alex

[2020-04-24 21:03] #7539 closed

[2020-04-24 21:03] #7988 closed

[2020-04-24 21:29] technosophos commented on #7958
I would prefer to merge the PR as-is and then evaluate adding it to the Helm client. I have been working with Helm users on various issues with timeouts in `--wait`, and I am _really_ nervous about adding more timeouts right now. I think we'll get there... but I want to play it safe for a bit longer. In the meantime, adding this to API usage would mean that experienced developers will be able to u

[2020-04-25 03:55] #7987 closed

[2020-04-25 04:29] omkensey opened #7993 "Helm dependency handling needs cleanup?"
(Filing subsequent to 4/23 developer call)

Helm dependency handling and the documentation thereof needs a comprehensive look and maybe some code/doc cleanup.

The immediate issue is that when I ran `helm dep up` in my home directory by accident rather than a chart directory, it ate a CPU core and all free memory.  I think this was because it's traversing every directory in sight; using strace on

[2020-04-25 04:43] omkensey opened #7994 "Helm does not see a later version of a chart in a repo that moves the chart apiVersion from v2 back to v1"
In writing a stub chart for some debugging I initially wrote it with `version: 0.1.0` and `apiVersion: v2`.  After I was done and pushed it to the GitHub repo I was using as a Helm repo for it I realized a) I needed a fix to the chart syntax and b) there was nothing Helm-3-specific about the chart, so it wasn't necessary to restrict it to v2 chart API.  I pushed a new version with `version: 0.1.1`

[2020-04-25 04:47] omkensey commented on #7989
In Helm 2 this isn't subject to validation but could the JSON Schema capability in Helm 3 provide this?

[2020-04-25 06:37] lou-lan commented on #7985
/assign

[2020-04-25 15:23] GaramNick commented on #7956
We have the same behavior with v3.2.0, downgrading to v3.1.3 is our temporary fix

[2020-04-25 18:05] avolution opened #7997 "Errors on "helm list" AND "helm install""
**Output of `helm version`:**
version.BuildInfo{Version:"v3.1.2", GitCommit:"d878d4d45863e42fd5cff6743294a11d28a9abce", GitTreeState:"clean", GoVersion:"go1.13.8"}

**Output of `kubectl version`:**
Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.2"}
Server Version: version.Info{Major:"1", Minor:"15+", GitVersion:"v1.15.11-gke.9"}

**Cloud Provider/Platform (AKS, GKE, Minikube

[2020-04-25 18:10] willzhang opened #7998 "spec: Forbidden: updates to statefulset spec for fields other than 'replicas', 'template', and 'updateStrategy' are forbidden"
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
[code]

## what happend
[code]

## how to reproduct it
[code]

why can't i upgrade msyql release use helm?

[2020-04-26 01:13] qingguee commented on #7967
Hi  @bacongobbler

I have create two example chart for reduce this issue. Also describe our use case.

### Get example charts for rollback issue
They can find at
[code]
### Reproduce the issue
[code]

### Diff two chart
- example-0.1.9:
  1.  service.yaml does not have selector (headless service)
  2. ep-for-service.yaml defined for service as endpoint (In this example,  subset is empty.)

- examp

[2020-04-26 02:17] qingguee commented on #7998
StatefulSet does not allow to change thing outside 'replicas', 'template', and 'updateStrategy' .
So have you change anything which not belong/under above?

[2020-04-26 14:17] Mishra-Akash commented on #7989
I haven't found in helm3 as well.

[2020-04-26 14:20] Mishra-Akash commented on #7614
Sorry I forgot to update.

to yaml was working but when I tried to create a Network Policy resource , it got failed due to indent bcoz toYaml  have some issue I have used range function.
We can close it

[2020-04-26 14:43] dguyhasnoname commented on #7604
Script to find deprecated objects: https://github.com/dguyhasnoname/k8s-day2-ops/blob/master/upgrade/k8s-deprecations.sh

[2020-04-26 15:31] #7614 closed

[2020-04-27 00:47] liuming-dev opened #7999 ""failed to create patch: The order in patch list" when helm upgrade using --force"
Output of `helm version`:
version.BuildInfo{Version:"v3.1.2", GitCommit:"d878d4d45863e42fd5cff6743294a11d28a9abce", GitTreeState:"clean", GoVersion:"go1.13.8"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.2", GitCommit:"52c56ce7a8272c798dbc29846288d7cd9fbae032", GitTreeState:"clean", BuildDate:"2020-04-16T23:35:15Z", GoVersion:"go1.14.2", Comp

[2020-04-27 01:50] qingguee commented on #7967
**Root cause**
Endpoint could be created by K8S, not HELM.
Below code will get wrong information when handling endpoints
[code]
**Proposal**
1.  During rollback, When origin does not have endpoint, but target has endpoint, the endpoint should be recreated.

[2020-04-27 03:13] Mishra-Akash commented on #7989
I tried to define a variable to validate IPv4.  And meantime, its working for me.

{{- define "validateIPv4" -}}
{{ $error := "Must be a valid IPv4 address!" }}
{{- range $_, $myIPv4 :=  .Values.systemIPs }}
  {{- if (empty $myIPv4) true }}
    {{ fail ( cat "[" $myIPv4 " ]" $error ) }}
  {{- end }}
  {{- $octetsList := splitList "."  $myIPv4 }}
  {{- if ne ( $octetsList | len ) 4 }}
    {{ fail (

[2020-04-27 05:02] omkensey commented on #7998
I would say this might be the easiest way to troubleshoot:

1. Install a new mysql release as above but first using `helm install --dry-run --debug` to save the manifest to a file -- then do the real install without `--dry-run --debug`.
2. Then try to do the upgrade as above, with `--dry-run --debug` and save to a file.
3. Diff the two files to see what might have changed that isn't allowed to cha

[2020-04-27 05:04] omkensey commented on #7997
Does kubectl work?  Can you create/update/delete resources that way?

[2020-04-27 06:29] himmakam opened #8002 "`tpl` function not performant"
I have a scenario of having one umbrella chart with many sub-charts as dependencies. When I have the templates folder in umbrella chart, helm lint takes more time like almost 30 to 40 minutes. When this folder is not there, helm lint returns very fast. Can I know the reason.running in debug mode not giving any logs. It is helm v3.

[2020-04-27 08:28] hickeyma commented on #7604
@dguyhasnoname Refer to #7219 fr more details on docs and tools.

[2020-04-27 08:38] EPinci opened #8003 "Helm fails to fetch a chart on a different drive"
Latest helm fails to fetch a chart to a local folder on a drive different that the one with the user home folder.

[code]

Output of `helm version`:

[code]

Output of `kubectl version`:

[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): AKS (not relevant)

[2020-04-27 09:00] hickeyma commented on #8002
@himmakam Thanks for raising the issue.

How many sub-charts in the umbrella chart?

I have tested with 30 sub-charts and having a templates folder in the umbrella chart. `helm lint` is running and returning as expected. Would you be able to test with different number of sub-charts to see when the delay starts occurring? Have you nested sub-charts within sub-charts?

[2020-04-27 10:01] avolution commented on #7997
"Does kubectl work? Can you create/update/delete resources that way?"

Yes, this is working

[2020-04-27 10:06] avolution commented on #7997
Here is the output of helm --debug with more details

Error: list: failed to list: stream error when reading response body, may be caused by closed connection. Please retry. Original error: stream error: stream ID 3; INTERNAL_ERROR
helm.go:84: [debug] stream error when reading response body, may be caused by closed connection. Please retry. Original error: stream error: stream ID 3; INTERNAL_ERROR

[2020-04-27 10:08] avolution commented on #7997
The network traffic on that process is on around 30Kb per second until it fails

[2020-04-27 10:47] hickeyma commented on #7219
Thanks for feedback @BenteleFlorian. I will take a look at the plugin and the issue with Mac.

[2020-04-27 12:41] tomassatka opened #8004 "Helm test continue on failure"
Is there a way how to define that all tests provided in /template/tests are executed?
At the moment after first failure other tests wont be executed. So looking for some flag as continue on failure.

Use case: With tests i am validating all egress routes required by installed application and would like to get full status

[2020-04-27 13:41] arnonki opened #8005 "version flags is ignored when installing release with "helm upgrade --install""
Output of `helm version`:
version.BuildInfo{Version:"v3.1.0", GitCommit:"b29d20baf09943e134c2fa5e1e1cab3bf93315fa", GitTreeState:"clean", GoVersion:"go1.13.8"}
Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.8", GitCommit:"211047e9a1922595eaa3a1127ed365e9299a6c23", GitTreeState:"clean", BuildDate:"2019-10-15T12:11:03Z", GoVersion:"go1.12.10", Comp

[2020-04-27 13:42] bacongobbler commented on #8003
Duplicate of #7987.

[2020-04-27 13:42] #8003 closed

[2020-04-27 14:58] chalitha1989 commented on #7997
Are you using the default namespace or a separate one for the Helm deployment?. I faced the same issue with same error log and I recreated the namespace when I observe that helm commands work with other namespaces. It resolved the connectivity issue. Unfortunately I did not dig further to identify the root cause.

[2020-04-27 15:36] liuming-dev opened #8008 "helm list performance, 1k+ release secrets cost 50s"
Output of `helm version`:
version.BuildInfo{Version:"v3.2.0", GitCommit:"e11b7ce3b12db2941e90399e874513fbd24bcb71", GitTreeState:"clean", GoVersion:"go1.13.10"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.2", GitCommit:"52c56ce7a8272c798dbc29846288d7cd9fbae032", GitTreeState:"clean", BuildDate:"2020-04-16T23:35:15Z", GoVersion:"go1.14.2", Com

[2020-04-27 15:41] arianvp commented on #7219
I'm running into this issue on a clean `kind` cluster running `v1.17` whilst installing a helm chart that doesn't have any `v1beta` `Deployment`s as far as I can see. It just crashes with this message.

Is there any way to further debug this? This is a completely clean slate cluster created from scratch with kind and it happens on the first helm chart I install. It would be useful if Helm would te

[2020-04-27 16:13] rjshrjndrn commented on #2798
[code]
You can add
[code]
and will template properly

[2020-04-27 16:17] atotala opened #8009 "helm dep up getting failed - x509: certificate signed by unknown authority"
I am facing the issue with the command 'helm dep up' .. every other command related to helm is working but not the above one. I know there are many issues open similar to this one but Haven't found solution in anyone of them so opening a new one.
Below are the details of configuration. Let me know if anything else is needed for resolving the problem.

Error:

 helm dep up
Hang tight while we grab

[2020-04-27 16:27] bacongobbler commented on #8009
Save error occurred: could not download https://some-chart.com/chartrepo/dev/charts/vault-0.5.0.tgz: Get hthttps://some-chart.com/chartrepo/dev/charts/vault-0.5.0.tgz: x509: certificate signed by unknown authority

In this log message, I notice two things:

1. The first repository URL uses http:// in the name
2. The last URL uses the scheme hthttps://

Can you please check your settings and see if

[2020-04-27 16:57] jan-hudec commented on #2247
I don't think this is actually a good idea (except for maybe helm 3 library charts).

The problem is values. If an application chart depends on, say, redis one, it will be passing specific values to that subchart, and will further assume full control over the deployed instance. It may rely on some specific values, and worse, it may have init containers or something doing specific setup. Such chart

[2020-04-27 17:27] yarax commented on #7501
Have the same issue. spec.ports are defined in values.yaml, but Helm is complaining like could not find it. @omkensey templates could be wrong, but why is the error message then so weird if it has nothing to do with spec.ports?

[2020-04-27 18:05] technosophos commented on #7961
On the line above the `define`, add "hello world" and re-run it. You will see the file, because at that point it will have output. But a `define` does not produce output unless it is called with a `template`, and therefore it will not produce a file.

[2020-04-27 18:09] atotala commented on #8009
@bacongobbler :
ubuntuserver-18-x8664:$ helm repo list
NAME    URL
chart https://some-chart.com/chartrepo/dev
ubuntuserver-18-x8664:$

Output of Chart.yml.
============================
apiVersion: v2
name: chart-umbrella
description: A Helm chart for Kubernetes
dependencies:
- name: vault
  version: 0.5.0
  repository: https://some-repo.com/chartrepo/dev
version: 0.1.0
appVersion: 1.16.0
icon: htt

[2020-04-27 18:49] Gl4di4torRr opened #8010 "Cannot disable openapi validation during helm upgrade"
**Output of `helm version`:**
`$ helm version
version.BuildInfo{Version:"v3.1.2", GitCommit:"d878d4d45863e42fd5cff6743294a11d28a9abce", GitTreeState:"clean", GoVersion:"go1.13.8"}`

**Output of `kubectl version`:**
`$ kubectl version
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.1", GitCommit:"b7394102d6ef778017f2ca4046abbaa23b88c290", GitTreeState:"clean", BuildDate:"2019-

[2020-04-27 19:19] bacongobbler commented on #8010
Is this still an issue with helm 3.2.0?

[2020-04-27 19:36] Gl4di4torRr commented on #8010
@bacongobbler Looks like that did the trick :) 3.2.0 came out 5 days ago. When I was working on this last week, I checked to see if there was an update. Should have checked today :)

[code]

[2020-04-27 19:36] #8010 closed

[2020-04-27 20:11] #7939 closed

[2020-04-27 20:19] technosophos commented on #8009
You can try using `curl -vvv  https://some-chart.com/chartrepo/dev/charts/vault-0.5.0.tgz` to fetch the chart from the command line. It should give you information about whether the TLS certificate is indeed invalid. But that is probably the error.

It may simply be the case that you do not have the root certificates for SSL installed locally. On most Linux distros, this is an extra package to ins

[2020-04-27 20:22] technosophos commented on #8008
You left your cloud provider blank. What Kubernetes provider are you using? Querying is a server-side (Kubernetes API) operation. Helm merely sends the request and gets the response back. So you might be able to tune your Kubernetes API server.

You can also test with `kubectl` by passing the same list of filters.

[2020-04-27 20:23] technosophos commented on #8005
I do not understand this issue. More information is needed.

Please describe your problem in detail, providing example helm commands and an example Helm chart if applicable.

[2020-04-27 20:24] technosophos commented on #8002
Providing a reproducible case would be great. I am currently working this sprint on `helm lint` issues, so I can take a look if someone can point me to a reproducible case.

[2020-04-27 20:26] technosophos commented on #7999
Currently marking this as a bug, rather than Question/Support. I have not attempted to reproduce, though.

[2020-04-27 20:27] technosophos commented on #7998
To be clear, this restriction is from Kubernetes itself, not Helm. So you can read the Kubernetes documentation on StatefulSet if you would like to learn more about why this is the case.

[2020-04-27 20:32] technosophos commented on #7997
I recently saw this behavior on a Kubernetes cluster where one of the Kubernetes API  server proxies was misbehaving, causing Helm to wait for long periods of time before finally giving up with a network connection. I could replicate it using `kubectl` commands that required longer connection times.

Other tests you can try:

- Switch namespaces, and test there
- Try running Helm inside of a pod i

[2020-04-27 20:36] technosophos commented on #7994
This is definitely a path that we have not tested. However, I am unsure why it would have failed to show the new chart. It _should_ show any apiVersion chart equally.

I am marking this as a bug. Can you provide me with steps to reprduce? Is it as simple as `helm create, repo update, edit version, repo update"?

[2020-04-27 20:37] technosophos commented on #7993
I added the bug label since we don't seem to have a better label for this sort of meta issue.

[2020-04-27 20:41] technosophos commented on #7992
Not enough information to reproduce/troubleshoot/etc. You will need to provide substantially more information.

Helm never touches etcd directly. That's a Kubernetes implementation detail that is bubbling up from the Kubernetes API server. You may have to experiment with reproducing this using `kubectl` and trying to pinpoint why etcd is timing out.

[2020-04-27 20:43] technosophos commented on #7991
`helm template` _always_ fakes its data in the following categories:

- Kubernetes version: It is supposed to report the version of Kubernetes that it is compiled for
- Capabilities: It fakes all of this
- Anything that users discovery client: It uses the default discovery set
- `lookup`: It always returns an empty list of objects

I don't really have strong feelings about whether we should munge

[2020-04-27 20:45] technosophos commented on #7989
Use a JSON schema in Helm 3. I'm sure you could write a Go function and contribute it to Sprig for inclusion as a template function. But there is no out-of-the-box support for that currently.

[2020-04-27 20:54] technosophos commented on #7773
Yes

[2020-04-27 20:57] #6477 closed

[2020-04-27 21:16] alita91 commented on #7992
An etcd server is very sensitive to disk latencies. Because I have a slow disk, I can easily reproduce the **etcdserver: request timed out** issue when I try to deploy a service to my cluster, one example is oracle-xe-11g-r2.

This issue can be also reproduced if we deploy the service using kubectl.

I was looking for a solution in helm that is able to recover from such issues and have the ability

[2020-04-27 21:23] bridgetkromhout commented on #2792
Hi @technosophos - looks like https://github.com/helm/community/blob/master/governance/governance.md has plenty of documentation now - is there more to do, or can this issue be resolved? Thanks.

[2020-04-27 21:50] omkensey commented on #7991
One case beyond just reinforcing "this is faked data" would be allowing charts to detect and react to being rendered as part of a `template` run (for example, by putting out diagnostic or explanatory comments) vs. an `install` run.

[2020-04-27 21:52] technosophos commented on #2792
I believe this is not completely superseded by existing documentation. So I am closing. Thanks for the ping.

[2020-04-27 21:52] #2792 closed

[2020-04-27 21:55] omkensey commented on #7994
Pretty much.  If you look at https://omkensey.github.io/helm-contextdump/, that's the repo that the stub chart is in, and index.yaml currently has the 0.1.0 version commented out.  You should be able (I think) to reproduce by putting index.yaml and the two package files in an empty repo with the 0.1.0 version uncommented in the index.

[2020-04-27 23:05] technosophos opened #8012 "Helm 3: The action.ValidName is incorrect"
The `ValidName` regular expression in `action.go` is from a very old version of Kubernetes.

- Allows underscores (_), which are illegal
- Allows capital letters, which are now illegal
- Disallows starting with a number, which is now allowed

The regular expression should be replaced with the current one that `kubectl` says it uses.

[2020-04-27 23:18] marckhouzam commented on #7545
PR #7601 aims to fix this but is still going through review.

[2020-04-27 23:23] technosophos commented on #7672
I have now added a fix for this in #8011.

[2020-04-27 23:41] technosophos commented on #7483
Reproduced by creating a new chart with `helm create` then following instructions in the issue.

I am working on a fix now.

[2020-04-27 23:53] bridgetkromhout commented on #3229
Apologies for the delayed response here, and thank you all for your assistance.

The link originally mentioned - now found at https://v2.helm.sh/docs/using_helm/#installing-helm and pointing to https://v2.helm.sh/docs/using_helm/#using-ssl-between-helm-and-tiller - does now use the content from https://github.com/helm/helm/blob/dev-v2/docs/tiller_ssl.md.

The other links and redirections also work

[2020-04-27 23:53] #3229 closed

[2020-04-27 23:55] technosophos commented on #7483
This appears to be by design.

If `--strict` is set, then the template engine is put in `missingkey=error` mode, which will trigger an error any time a `.Values` lookup does _not succeed_. The purpose of this is apparently to make sure that the default values cover all possible cases.

This does not seem like correct behavior to me, though. Especially not for maps. The documentation for `--strict`

[2020-04-28 00:05] bridgetkromhout commented on #4421
Thanks again for filing this issue. As @technosophos mentioned at the time, it was worked from the `helm/helm-www` issue queue; we resolved it in https://github.com/helm/helm-www/pull/168. You can see this working in the v2 docs: https://v2.helm.sh/docs/helm/#helm_completion - I'll resolve this now.

[2020-04-28 00:05] #4421 closed

[2020-04-28 00:36] liuming-dev commented on #8008
it's my company's private cloud infrastructure, and `kubectl` costs about 2~3s

[code]

[2020-04-28 02:20] ranjith-ka opened #8014 "toToml converstion"
Output of `helm version`: version.BuildInfo{Version:"v3.1.2", GitCommit:"d878d4d45863e42fd5cff6743294a11d28a9abce", GitTreeState:"clean", GoVersion:"go1.13.8"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.2", GitCommit:"52c56ce7a8272c798dbc29846288d7cd9fbae032", GitTreeState:"clean", BuildDate:"2020-04-16T23:35:15Z", GoVersion:"go1.14.2", Comp

[2020-04-28 03:14] TBBle commented on #7754
I'm vaguely interested in this, and @technosophos 's write-up looks good.

We're currently following a consistent pattern of `image` with subkeys for `registry`, `repository`, and `tag`, and multi-images are `XImage` for the non-primary container image.

Since we're building a private system, we have a global `projectImageRegistry` value which all our charts honour to replace the `registry` for al

[2020-04-28 03:42] TBBle commented on #7623
@jdolitsky The SHA is available in the index.yaml of a [Helm chart repository](https://helm.sh/docs/topics/chart_repository/), and in the [metadata of an OCI registry](https://helm.sh/docs/topics/registries/).

@Jean-Baptiste-Lasselle Based on this and #7838, I think you're looking at a different issue, about the digest of a binary release of Helm itself, not of the charts?

[2020-04-28 03:56] bacongobbler commented on #8014
Hi @ranjith-ka. There’s not enough information in this ticket to understand what you are trying to convey. Please provide a more concrete example (with source code and steps provided) to reproduce and demonstrate your use case/issue. Thanks.

[2020-04-28 06:16] smartkuk opened #8015 "revision history location"
Hi~

I have a question.

Where is the release revision history saved after the helm v3 upgrade?
(local? or kubernetes?)

[2020-04-28 08:47] zhangmingld opened #8016 "HELM delete the post-hook directly rather than waiting it to be finished"
Output of `helm version`:
Client: &version.Version{SemVer:"v2.15.1", GitCommit:"bf1a9adb587795da9a165ef411c3b6e1eeca6ffe", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.15.1", GitCommit:"bf1a9adb587795da9a165ef411c3b6e1eeca6ffe", GitTreeState:"clean"}

Output of `kubectl version`:
node-0-10:~ # kubectl version
Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.3", Gi

[2020-04-28 09:25] darshan-karia commented on #7430
This is what I did, and works fine for me (using helm 3.2.0 level sdk code):
**imports**
[code]
**ActionConfig**
[code]
**Usage**
[code]
It is not much different from what @mmailhos originally did, except the initialization of the actionConfig. It could also be that newer version fixed some issues. Let me know if this works for you guys.
@LeeHampton I am also doing something similar to what you're

[2020-04-28 10:57] hickeyma commented on #8015
@smartkuk In the Kubernetes cluster. Helm v3 stores release metadata by default as secrets.

The following command will return the release versions:
`kubectl get secret -l owner=helm,name=<release_name>`

I hope this answers your question.

[2020-04-28 11:26] buremba commented on #6361
Helm 2 with the Terraform provider is broken because of this issue at the moment and. I hope you can also provide a fix for it, it looks like this is a common use-case.

[2020-04-28 13:06] ranjith-ka commented on #8014
config:
  kafka:
      listenaddr: "vnext-kafka-headless.kafka.svc.cluster.local:9092"
      topics: "awesome, testorder"

I need to print the  topics values in toToml, but i need to loop over the root values for toToml ?
`{{ printf "%s = %v" $key ($value | quote ) }}`
Now i dow like this to print on my configmap.

[2020-04-28 13:08] #8015 closed

[2020-04-28 13:09] cablespaghetti commented on #7956
I've got a lot of this with my Helm 2 -> 3 migration. When trying to upgrade the converted Releases for the first time I get a lot of this. This is for Nginx Ingress, Prometheus Operator, Graylog and Jaeger charts so far. Most of them I'm content with just deleting the services and letting Helm recreate them but for Nginx Ingress this isn't an option...

[2020-04-28 13:15] cablespaghetti commented on #7956
Just found this https://github.com/helm/helm/issues/6378#issuecomment-557746499 which explains the problem in my case.

[2020-04-28 13:21] bacongobbler commented on #7956
Closing as a duplicate of #6378. @cablespaghetti found the deeper explanation for this behaviour, which is described in great detail.

Let us know if that does not work for you.

[2020-04-28 13:22] bacongobbler commented on #7956
@GaramNick why would downgrading fix this for you? Can you elaborate more on “what” was fixed by downgrading?

[2020-04-28 13:43] cablespaghetti commented on #7956
@bacongobbler While you're here. Is there any way to fix this situation without deleting the release and re-deploying? I can't seem a way to do that under helm 2 or 3. I want to hack the existing release data so Helm thinks the clusterIP has always been omitted and so no patch is necessary.

[2020-04-28 14:46] #6081 closed

[2020-04-28 14:48] mattfarina commented on #8014
I see. This is a feature request for a `toToml` template function.

[2020-04-28 16:04] bacongobbler commented on #7956
Have you tried `kubectl edit`?

[2020-04-28 16:35] Mishra-Akash commented on #7989
Any help or doc to use a JSON schema in Helm 3. I will check this.

[2020-04-28 16:37] Mishra-Akash commented on #7989
Also one more thing if u can suggest from security point of view, can we do the password complexity verification for the value passed in values.yaml?

[2020-04-28 16:56] bacongobbler commented on #7989
https://helm.sh/docs/topics/charts/#schema-files

[2020-04-28 17:31] n1koo commented on #7956
We have the same issue and downgrading to `3.1.3` fixed it also for us. My guess is that it has to do with the new logic in https://github.com/helm/helm/pull/7649/commits/d829343c1514db17bee7a90624d06cdfbffde963 considering this a `Create` and not an update thus trying to set empty IP and not reusing the populated one

[2020-04-28 17:41] technosophos commented on #7656
I am looking at this problem now. Admittedly, this is a lower-priority issue because it does not seem to impact most users. But I am currently focusing my sprint on `helm lint`, so this fits in with my workload. I might not be able to fix it, but hopefully I will at least be able to diagnose it.

[2020-04-28 17:44] kopasiak commented on #7656
@technosophos
Awesome! Let me know if you need any more details

[2020-04-28 17:46] electrocucaracha commented on #7656
@technosophos correct me if I'm wrong but AFAIK the `.helmignore` files are used to exclude files from the Helm Chart creation right? shouldn't be better to also exclude them from the lint process as well?

[2020-04-28 17:48] technosophos commented on #7656
It might make sense to extend `.helmignore` to linting, yes. I'll look into that.

[2020-04-28 18:02] technosophos commented on #7656
`make SKIP_LINT=true` is failing with:

[code]

Is that really something I need in order to test the linting?

[2020-04-28 18:09] bacongobbler commented on #7956
Interesting find. thank you for investigating.

@jlegrone any chance you might have time to look into this?

[2020-04-28 18:11] mdblr opened #8018 "Question: Is `helm test --logs` incompatible with hook delete policies?"
The output of `helm version`:
[code]
Output of `kubectl version`:

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
N/A

I am running `helm test --logs ....`. I have set a "helm.sh/hook-delete-policy" of hook-succeeded,hook-failed in my tests. According to the Helm docs, the logs flag will "Dump the logs from test pods (this runs after all tests are complete, but before any cleanup)". I believed

[2020-04-28 18:12] kopasiak commented on #7656
You just need to clone including submodules:

```$ git clone --recurse-submodules git@github.com:onap/oom.git```

[2020-04-28 18:24] technosophos commented on #7656
Ah! Thanks. I missed that in the previous set of directions.

[2020-04-28 19:11] odelucca opened #8019 "Can't install dependencies from private Github repository"
Hey guys.

I'm trying to install packages from a private repository I've deployed using `chart-releaser`, but I'm not being able to do it.

Here is what I've done:

1. I've created a new private repository, added a sample chart to it and ran the following commands:
[code]

2. I've created the `index.yaml` with the following command:
[code]

3. I've commit the `index.yaml` to the repo

4. I've adde