[2018-04-27 07:51] jstoja commented on #3980
Would you be able to provide a sample of the chart currently running and the one that you're trying to upgrade with?

[2018-04-27 08:40] #3971 closed

[2018-04-27 11:17] prateekrastogi opened #3983 "Windows; Helm 2.9.0, Error: no available release name found"
Output of `helm version`:
Client: &version.Version{SemVer:"v2.9.0", GitCommit:"f6025bb9ee7daf9fee0026541c90a6f557a3e0bc", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.9.0", GitCommit:"f6025bb9ee7daf9fee0026541c90a6f557a3e0bc", GitTreeState:"clean"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.2", GitCommit:"5fa2db2bd46ac79e5e00a4e6e

[2018-04-27 11:44] oivindoh commented on #3480
Still seeing this on 2.9.0 vs any and all clusters I have deployed on Azure via acs-engine.

E0427 10:11:49.952856   28158 portforward.go:303] error copying from remote stream to local connection: readfrom tcp4 127.0.0.1:36679->127.0.0.1:51582: write tcp4 127.0.0.1:36679->127.0.0.1:51582: write: broken pipe
/helm/2.9.0/x64/helm failed with return code: 0

[code]

[2018-04-27 12:36] tomhau01 commented on #3889
Kubernetes version used:
[code]

[2018-04-27 14:28] gmanolache commented on #3208
This still happens if the install fails.
You need to purge and try again.

`UPGRADE FAILED: "API" has no deployed releases`
then you need to manually purge
`helm delete --purge API`
and it will work.

[2018-04-27 14:30] gmanolache commented on #3353
@rchernobelskiy happens to me as well. Exactly as you describe.

I run into this issue maybe once per day when deploying new apps.
It's a pain!

[2018-04-27 14:34] DonMartin76 opened #3985 "Cannot (properly) connect to helm on an Azure AKS 1.9.6 cluster (2.9.0)"
I have a fresh 1.9.6 Azure AKS cluster (one node). Ran a `helm init --upgrade --force-upgrade` against it to get it to 2.9.0, admittedly without checking whether there was a tiller on it before. I have set `KUBECONFIG` to the configuration file of this cluster, and made sure I can connect to it. Everything works, but `helm` does not, or better `helm version` works, but apparently nothing else.

I

[2018-04-27 14:44] tsloughter commented on #2948
2.10 was released and based on the changelog this is still a bug? I really think the docs should mention it, as a bug, no reason someone reading the docs should get the impression this works and have to find out the hard way it doesn't.

[2018-04-27 15:30] bacongobbler commented on #3208
As of helm 2.9 you can also perform `helm upgrade --install --force` so there's no need to purge. For previous releases:

[code]

[2018-04-27 15:34] bacongobbler commented on #3985
According to the code, if no service account is provided in `helm init` then it does not auto-mount the service account token. https://github.com/kubernetes/helm/blob/4d519a741dd43f8f0c175228dee9e9df951a7c5c/cmd/helm/installer/install.go#L179

Can you try again with v2.8.2 and see if that works as described? https://github.com/kubernetes/helm/pull/3784 was a recent 2.9 feature so it could be a reg

[2018-04-27 15:38] bacongobbler commented on #2948
@tsloughter if you'd like to take a crack at a PR to mention this, we'd really appreciate it. We have very limited resources so we'd really appreciate the help in taking the time to make a PR. :)

[2018-04-27 15:48] bacongobbler commented on #2751
We'd happily accept a PR if someone wants to take this on. This would be a great feature to have, and it shouldn't be too much work. I'll leave this one open as an open opportunity for someone who wants to get their feet wet with Helm.

[2018-04-27 17:00] casualjim opened #3986 "can't connect to 127.0.0.1:8080"
I can't get helm to work on a new minikube install

[code]

[code]

[code]

[code]

Output of `helm version`:

[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

minikube: 0.26.1

[2018-04-27 17:40] stealthybox commented on #3353
@gmanolache We're still on helm 2.7.0 for this reason.
It's unclear to me whether upgrading to use the `--force` flag is safe: [comment](https://github.com/kubernetes/helm/pull/3597#issuecomment-382843932)

If you need to downgrade, here's a good way to do it: [downgrade to 2.7.0](https://github.com/kubernetes/helm/pull/3097#issuecomment-360531987)

[2018-04-27 17:43] stealthybox commented on #3208
@bacongobbler I'm still confused about this behavior.
Would you be able to answer https://github.com/kubernetes/helm/pull/3597#issuecomment-382843932 when you have time?

Thanks for your work on this.

[2018-04-27 17:48] bacongobbler commented on #3208
Sure. I'm AFK at the moment but I can answer later this evening. Fully understand the confusion and I'll try to answer your questions as best as I can. It's just crazy over at the office prepping other stuff for KubeCon EU. :)

[2018-04-27 17:49] stealthybox commented on #3208
I'm open to help hack on this and/or improve docs when we're out there.
Let's definitely meet up :+1:

[2018-04-27 18:32] djzager commented on #3986
Yeah. Running into this issue in our Travis builds [here](https://travis-ci.org/openshift/ansible-service-broker/jobs/372149484#L2466).

On an older version of helm (locally) I do not see this issue.

[code]

Version related info:

[code]

[2018-04-27 18:35] djzager commented on #3986
This issue is similar to #3985

[2018-04-27 19:30] bacongobbler commented on #3981
thanks for catching this, @georgepapas. Looks like we'll have to revert that change.

[2018-04-27 19:48] kfox1111 commented on #2464
I just hit this with the newest version on the newest minikube. :/

[2018-04-27 19:52] kfox1111 commented on #2464
editing tiller-deployment,
spec.template.spec.automountServiceAccountToken and setting it to true (it was false) seemed to help.

[2018-04-27 21:25] milescrabill commented on #2464
I ran into this on a fresh GKE cluster that I manually enabled RBAC on per Google's docs [here](https://cloud.google.com/kubernetes-engine/docs/how-to/role-based-access-control).

I had already installed Helm, so things broke down when I enabled RBAC. After creating a Serviceaccount and ClusterRoleBinding for tiller, upgrading Helm with `helm init --service-account tiller --upgrade` was still prod

[2018-04-27 21:26] andrewgdavis commented on #2464
Alternatively, one is able to install with the default service account specified:
`helm init --service-account default`
which will install tiller to the kube-system namespace.

[2018-04-27 21:36] kfox1111 commented on #2464
looks like minikube in the newest version deploys with rbac enabled. That is another difference.

[2018-04-27 21:48] Chili-Man commented on #3985
We're running into this same issue as well on a kops launched kubernetes (1.9.7) cluster on AWS , but it was working fine with helm 2.8.2

[2018-04-27 22:05] bacongobbler commented on #3985
another workaround for the time being:

[code]

[2018-04-27 22:52] bacongobbler commented on #2464
If you would be so kind as to test #3990, that would be appreciated. Seems like there was a regression in 2.9.

[2018-04-27 22:52] bacongobbler commented on #3985
If you would be so kind as to test #3990, that would be appreciated. Seems like there was a regression in 2.9.

[2018-04-27 22:53] bacongobbler commented on #3986
closing as a duplicate of #3985.

[2018-04-27 22:53] #3986 closed

[2018-04-27 22:53] bacongobbler commented on #3986
FYI if you would be so kind as to test #3990, that would be appreciated. Seems like there was a regression in 2.9.

[2018-04-27 22:59] bacongobbler commented on #2464
alternative PR: #3991

[2018-04-27 22:59] bacongobbler commented on #3985
alternative PR: #3991

[2018-04-27 22:59] bacongobbler commented on #3986
alternative PR: #3991

[2018-04-27 23:39] casualjim commented on #3986
I can confirm that #3991 fixes the issue

[2018-04-28 00:15] jayunit100 commented on #1684
Does that mean that you can install a helm chart in an airgapped network ?

[2018-04-28 03:11] #3153 closed

[2018-04-28 04:53] DonMartin76 commented on #3985
I will try to do that, but I haven't yet built helm myself, so I can't promise it will work out directly - or are there binaries somewhere?

[2018-04-28 05:38] whereisaaron commented on #3353
What is this useful sounding 'helm ledger' diagnostic info and how do we get to it? :smile:

I'm worried the below might be read as moody, it is genuinely just an invitation to for pointers on how we can get diagnostic info when you have a failed deploy. Because it really sounds like I'm missing something. It sounds like the failed state is supposed to have some utility for operators? I trawled th

[2018-04-28 05:43] bacongobbler commented on #3353
`helm help history`

[2018-04-28 08:14] distorhead commented on #3481
Cool, thanks for trying out!

Actually jobs watch is only the first step. The next steps could be support for watching for all other resource besides Job. And this watch code is also should be written as to be used not only to [Watch hooks logs](https://github.com/kubernetes/helm/issues/3481#issue-295845116), but also for [Check release state and show status during checking](https://github.com/kub

[2018-04-28 08:45] distol commented on #3885
Hi! No, `.Files.Glob` is not enough!

For example, we have directory with the following structure:
[code]

And we could not add all dashboards to one ConfigMap, because of the size limit of ConfigMaps, so we hardcode the list of folders, and when we add a new one — we shall not forget to edit templates.
[code]
[code]

[2018-04-28 09:17] #2776 closed

[2018-04-28 13:14] pierreozoux commented on #1650
What is the status of this?

[2018-04-28 22:09] praseodym opened #3992 "Tiller installation fails when restrictive PodSecurityPolicy is configured"
When running `helm init` targeting a Kubernetes cluster which has a restrictive PodSecurityPolicy configured (i.e. one with `runAsUser: rule: MustRunAsNonRoot`), the Tiller container will fail to start with an error (`Error: container has runAsNonRoot and image will run as root`). This is because Kubernetes has no indication that the pod wants to run as root, and will apply the restrictive pod sec

[2018-04-29 03:12] whereisaaron commented on #3353
Thanks @bacongobbler. Ok, I understand that list is what is meant by the ledger. And if you still have the ledger, that you can use `helm get manifest --revision 123` to see what was deployed that failed? That is certainly useful to preserve. And if we `rollback` we don't lose that information.

[code]

If we had `helm upgrade --install --auto-rollback` then both the failed deployment the rollback

[2018-04-29 04:27] jharshman commented on #3816
Seeing this issue in GKE as well.

[2018-04-29 16:42] rhosisey commented on #2224
in case you run  the coammnd  "kubectl create clusterrolebinding tiller-cluster-rule --clusterrole=cluster-admin --serviceaccount=kube-system:tiller "
and you get error below :
Error from server (Forbidden): clusterrolebindings.rbac.authorization.k8s.io is forbidden: User $username cannot create clusterrolebindings.rbac.authorization.k8s.io at the cluster scope: Required "container.clusterRoleBind

[2018-04-29 20:16] miroadamy commented on #2464
The solution presented above by fossxplorer works for version v0.25.2 of minikube, but same sequence seems to be failing for v0.26.1.

[2018-04-30 00:36] viane commented on #3055
Issue appears and the solution mentioned is not working for:

`Kube Client Version: 1.10.1`
`Kube Server Version: 1.10.1`
`Helm Client: "v2.9.0"`
`Helm Server: "v2.9.0"`

Also by executing `helm list` with minikue on, I got error of
`Error: Get http://localhost:8080/api/v1/namespaces/kube-system/configmaps?labelSelector=OWNER%!D(MISSING)TILLER: dial tcp 127.0.0.1:8080: connect: connection refused`

[2018-04-30 01:02] bacongobbler commented on #3055
@viane try `helm init --service-account default`; it's another ticket but it results in the same generic error.

[2018-04-30 08:34] gmanolache commented on #3353
@whereisaaron that would be elegant 👍

[2018-04-30 08:51] minrk commented on #3785
I ran into this upgrading helm from 2.7.2 to 2.8.2 and became suspicious that it might be related to #2941 - multiple deployments marked as deployed, because `helm ls` showed multiple entries for the same deployment. After upgrading helm to 2.8.2, it no longer showed these, but sure enough in the tiller logs:

[code]

After running

[code]

to set `status: SUPERSEDED` (it was incorrectly marked as

[2018-04-30 09:05] thomas-riccardi commented on #3917
Hi @jascott1 ,
I'm not aware of the real constraints for upgrade (e.g. need to first roll-back to a successful state as suggested @helgi). However, as a helm user I just don't understand what really happens and what I have to do to resolve the issue.

If a release needs to be in "SUCCESSFUL" state for helm to accept new upgrades (as it currently seems to be), then the second helm upgrade should ex

[2018-04-30 09:10] thomas-riccardi commented on #3920
Am I missing something? Maybe I am using helm wrong...

Maybe this should be part of the helm 3 discussions?

[2018-04-30 12:34] tdcox opened #3995 "Helm upgrade fails with patch error"
Output of `helm version`: v2.9.0+gf6025bb

Output of `kubectl version`: v1.9.6

Cloud Provider/Platform (AKS, GKE, Minikube etc.): GKE v1.9.3-gke.0

Issue:
Helm upgrade fails to upgrade a statefulset with a persistent volume, as follows:
[code]

[2018-04-30 12:37] bacongobbler commented on #3995
Looks like `mountpath` in your StatefulSet should be `mountPath`. Can you verify that it is indeed the camel-cased type in your templates?

[2018-04-30 12:48] #3981 closed

[2018-04-30 12:50] bacongobbler commented on #3470
We've reverted this change due to breaking the Prometheus charts that expected this behaviour. Because this is expected behaviour we cannot change this, so we're gonna have to keep this one closed as intentional for Helm 2, but keep it open for Helm 3.

[2018-04-30 12:50] bacongobbler commented on #3410
We've reverted this change due to breaking the Prometheus charts that expected this behaviour. Because this is expected behaviour we cannot change this, so we're gonna have to keep this one closed as intentional for Helm 2, but keep it open for Helm 3.

[2018-04-30 12:53] #3985 closed

[2018-04-30 13:27] tdcox commented on #3995
You are correct. How odd, I actually checked that and hallucinated seeing the camel-case correctly because the deployment was working in K8S. Thanks!

[2018-04-30 13:27] #3995 closed

[2018-04-30 14:37] petermetz commented on #3983
Same issue on macOS (kubespray, vagrant).

[2018-04-30 15:12] dazdaz opened #3996 "Helm reports that tiller is already installed in the cluster, but it's not deployed"
$ helm init
Creating /home/myuser/.helm
Creating /home/myuser/.helm/repository
Creating /home/myuser/.helm/repository/cache
Creating /home/myuser/.helm/repository/local
Creating /home/myuser/.helm/plugins
Creating /home/myuser/.helm/starters
Creating /home/myuser/.helm/cache/archive
Creating /home/myuser/.helm/repository/repositories.yaml
Adding stable repo with URL: https://kubernetes-charts.stor

[2018-04-30 15:46] bfin commented on #3055
`helm reset && helm init` didn't work for me, nor did the RBAC solutions above.
Finally got it working again by deleting Tiller and then using the suggestion in https://github.com/kubernetes/helm/issues/3055#issuecomment-385296641:
[code]

[2018-04-30 16:12] farfeduc commented on #2872
I had a similar issue, I had to set KUBERNETES_MASTER=https://yoururl:yourport
with yoururl:yourport obtained from `kubectl cluster-info`
and as it was https, I also had to use my kubeconfig mounted as a read only volume inside the tiller pod.

I do not know why but on version 2.9.0 of helm, tiller does not get the configuration from the default /root/.kube/config values.

[2018-04-30 16:51] jgerardsimcock commented on #3980
@jstoja I am new to this so if I've misunderstood your intentions, please excuse me. We usually redeploy due to updates to our docker image. We don't often update the chart itself.

We are running a modified [jupyterhub](https://github.com/jupyterhub/zero-to-jupyterhub-k8s/tree/master/jupyterhub) cluster.  Below is a copy of their values/config.yml:

[code]

When run `helm upgrade...` I am supplyi

[2018-04-30 18:37] tedmiston commented on #3873
This fix doesn't seem to be working for me using the latest Helm (2.9.0).

[code]

[2018-04-30 21:17] jmcclell commented on #2872
I have this exact same issue on a cluster created via Kops.

[code]

When the clust comes up, my local `kubectl` context is correct and I can interact with the cluster. However, if I install Helm and run `helm init`, the Tiller pod's logs show errors similar to what the client displays.

Here is the output from `helm list`:

[code]

Here is the log from the Tiller pod:

[code]

[2018-04-30 21:42] ethron123 opened #3997 "Issues installing helm and tiller"
I'm trying to get Helm on our VMs that are already set up to run with K8s. Unfortunately, they are not hooked up to the internet so I am having to pull the Docker images manually, tag them and push them to the repo that the VMs read off of.

The problem is that I am unable to pull the image from gcloud. When running docker pull gcr.io/kubernetes-helm/tiller:canary the output is:

Error response fr

[2018-04-30 21:46] bacongobbler commented on #3997
Can you check the image pull policy on tiller? IIRC it's set to Always which would explain why it's still trying to pull them down even after pulling them into the VMs yourself.

[2018-04-30 22:45] tedmiston opened #3998 "How to add an alias to a Helm plugin?"
Hello -

I've created a Helm plugin `delete-all` (source: https://github.com/astronomerio/helm-delete-all-plugin) that is syntactic sugar for `helm list --all --short | xargs -L1 helm delete --purge`.

I'd like to be able to wire it up to support aliases consistent with `$ helm delete`, for example, to be callable with `$ helm del-all` and `$ helm dela`.

I searched the docs for this feature but d

[2018-04-30 22:51] pathcl opened #3999 "README? for grafana/grafana:5.0.4 seems tricky"
Output of `helm version`:
Client: &version.Version{SemVer:"v2.8.2", GitCommit:"a80231648a1473929271764b920a8e346f6de844", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.8.2", GitCommit:"a80231648a1473929271764b920a8e346f6de844", GitTreeState:"clean"}
Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.1", GitCommit:"d4ab47518836c750f9949b9e

[2018-04-30 23:25] bacongobbler commented on #3998
Just an FYI there is already a plugin that performs this task called `[helm nuke](https://github.com/adamreese/helm-nuke)`. :)

To answer your question though, there is no aliasing support available for plugins. However, this would definitely be a nice enhancement if someone wanted to contribute!

[2018-04-30 23:28] bacongobbler commented on #2872
We've already merged a fix into master; we just need to cut a v2.9.1. The core maintainers are all travelling to KubeCon EU at this time so we haven't had the time to cut a release. You can track progress through the GitHub milestone if you'd like. :)

[2018-04-30 23:30] kalbasit commented on #2872
Awesome, thx @bacongobbler.

[2018-05-01 01:10] garystafford commented on #2520
I moved from the latest, `2.9.0`, back to `2.8.2`, and it worked. The problem seems to be with `2.9.0`.

[code]
[code]

Got passed that error...

[2018-05-01 02:47] jim-barber-he opened #4000 "Helm 2.9.0 will not install charts on Minikube"
Output of `helm version`:

[code]

Output of `kubectl version`:

[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

`minikube version: v0.26.1`

If I bring up a fresh copy of minikube and run `helm init --wait` all seems to be fine.
But then if I go to install a chart it fails.
Here is an example of trying to install the stable Memcached chart via the upgrade command and with debug turned

[2018-05-01 06:10] pribor commented on #3920
I agree that this makes it imposibble to use subchart templates that refer to e.g. `.Chart.Name` from parent chart.

[2018-05-01 07:35] rajatjindal commented on #3979
I think you can use helm template --output-dir, and it should omit the empty yaml files automatically

[2018-05-01 09:35] alexvicegrab commented on #3053
Using an annotation to prevent a resource being updated would go a long way, yes. That way in the unusual event when we'd want to recreate the secret, we'd delete it in K8S and then update the chart.

[2018-05-01 12:36] arun-gupta commented on #2520
+1

[code]

Can't even delete Helm:

[code]

Had to delete as:

[code]

Switched to 2.8.1:

[code]

Now encountering https://github.com/kubernetes/helm/issues/3130

[2018-05-01 13:05] andremarianiello commented on #3957
Thanks for your response.

From the help:

[code]

Here 'last release's values' means `computed values` not `user-supplied values`. It does exactly what it says, but what is says is not precise, and led to this misunderstanding.  Perhaps this can be clarified somehow? I can make a PR to update the help text for this if you wish.

I couldn't find anything in the docs that said that the values from

[2018-05-01 13:08] muratsplat commented on #3816
Yes I have same issue on GKE :|
@chenww  Where should define ENV `KUBERNETES_MASTER` on ? on cluster on or local machine which helm calling on ?

[2018-05-01 13:15] bacongobbler commented on #3816
For those seeing this issue, please try

[code]

and see if that works. See #3990 for more context.

[2018-05-01 13:18] arun-gupta opened #4001 "Helm 2.9.0 is giving "connection refused" when deploying charts"
Following up from https://github.com/kubernetes/helm/issues/2520. Filing as a new issue as this is occurring with 2.9.0 only and does not occur with 2.8.1.

[code]

Can't even delete Helm:

[code]

Had to delete as:

[code]

Switched to 2.8.1:

[code]

Kubectl version:

[code]

Cluster created using kops on AWS.

More details at https://github.com/arun-gupta/kubernetes-chaos/issues/2

[2018-05-01 13:29] bacongobbler commented on #4001
Hey there! This issue has been reported several times at this point. Please see #3990 and the related (duplicate) tickets in that thread. There are several described worarounds, and a patch has been applied to the canaries. A v2.9.1 with that patch will follow once the core team has recovered from jet lag ;)

[2018-05-01 13:29] #4001 closed

[2018-05-01 13:33] bacongobbler commented on #3985
@DonMartin76 because the patch has been merged into master you can test following the "From Canary" section in the docs. :)

[2018-05-01 13:34] bacongobbler commented on #4001
For reference, the workaround is here: https://github.com/kubernetes/helm/issues/3985#issuecomment-385105880

[2018-05-01 13:40] bacongobbler commented on #4000
Dupe of #3985.

[2018-05-01 13:40] #4000 closed

[2018-05-01 13:44] bacongobbler commented on #3999
Hey @pathcl, would you mind opening chart-specific questions over at https://github.com/kubernetes/charts? If it's an issue in particular with helm we'd be happy to look into it, but chart-specific questions should be posted there so it's addressed by the right people. Thanks!

[2018-05-01 13:48] bacongobbler commented on #3996
What's the status of the tiller pod? Can you check using kubectl?

[2018-05-01 13:51] bacongobbler commented on #3974
cc @libesz

[2018-05-01 13:59] muratsplat commented on #3816
Thank  you  for the suggestion @bacongobbler but it doest work again..

Helm is more complex more than take care about kubernetes for me . I prefer to  keep simple my case.

[2018-05-01 15:04] dazdaz commented on #3996
The tiller pod is not running, as to why it's not running is not clear.

$ kubectl -n kube-system get po
NAME                                    READY     STATUS    RESTARTS   AGE
heapster-75f8df9884-k8d8w               2/2       Running   0          6d
kube-dns-v20-5bf84586f4-56nh2           3/3       Running   0          6d
kube-dns-v20-5bf84586f4-qm4m7           3/3       Running   0          6

[2018-05-01 16:42] jharshman commented on #3816
@chenww They are suggesting that `KUBERNETES_MASTER` needs to be set on the tiller pod.  However, this doesn't appear to be the case at all.  We have a K8S cluster & helm deployment that works just fine in AWS and that env variable is nowhere to be found.  Only difference between the working deployment of Helm/Tiller and the not working one is the version.

I'm going to roll back to an earlier ver

[2018-05-01 19:15] flah00 commented on #3382
Sorry to resurrect a zombie, but I just ran into this, using helm-2.8.2, tiller-2.8.2, kubectl client 1.9.2 and kubectl server 1.8.4+coreos.0.

[2018-05-01 20:48] ethron123 commented on #3997
Thanks for the quick response!

It is set to Always. I'll change it once the rest of this is sorted out.

I believe the connection issue is due to proxy issues on my side so I've been able to get around that. There are more issues with the nodes that I'm currently working on now, but they are not Helm/Tiller related.

[2018-05-01 22:52] bacongobbler commented on #3460
workaround:

[code]

[2018-05-01 23:09] hendrikhalkow commented on #3460
Doesn't change a thing:

    $ rm -rf ~/.helm/ ~/.kube/
    $ oc login https://my.domain
    Authentication required for https://my.domain.io:443 (openshift)
    Username: myusername
    Password:
    Login successful.

    You have access to the following projects and can switch between them with 'oc project <projectname>':

    * default
        glusterfs
        hello
        kube-public

[2018-05-01 23:12] bacongobbler commented on #3460
it won't work if you ran `helm init` previously. I meant replace `helm init` with `helm init --service-account default`. :)

[2018-05-02 02:55] cookkkie commented on #3460
Hi, after doing `kubectl -n kube-system delete deploy tiller-deploy`, I'm getting `Warning: Tiller is already installed in the cluster.` from the `helm init --service-account default`. Deleting the deployment isn't enough to uninstall tiller?

[2018-05-02 03:15] ptagr commented on #3981
Thanks for fixing this

[2018-05-02 03:56] bacongobbler commented on #3460
yes. you also need to remove the `tiller-deploy` service as well to remove that warning.

[2018-05-02 06:35] rich-zhang commented on #1193
We're also able to reproduce this issue (server v2.8.2) when adding resources to existing helm deployments. Having to delete the deployment and redeploy each time a new resource has to be added will be a big problem in production.

[2018-05-02 06:38] zhangtbj opened #4002 "Cannot clean helm release correctly"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
IBM Container Service

We tesed our helm releases on one kube cluster, recently I found there are two dirty helm releases.

But I found that I cannot clean them correctly.

I have tried:
[code]

You can see although I executed `helm reset`, but there are still two dirty helm re

[2018-05-02 07:00] IdanAdar commented on #3353
Is there an easy way to get the latest working release other than something like ```helm history ${name} | tail -2 | head -1 | awk '{print $1}'```, to be used by `helm rollback`?

[2018-05-02 07:23] IdanAdar opened #4004 "Best practice for installing and/orupgrading a deployed and/or failed release"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
[code]

Partially due to https://github.com/kubernetes/helm/issues/3353, I've been trying to handle various install/upgrade situations for a Chart release. The following is my current approach to handling the lifecycle of a Chart release (a micro-service); I'm seeking some vali

[2018-05-02 07:42] bacongobbler commented on #3353
You can use the `helm last` plugin: https://github.com/adamreese/helm-last

[2018-05-02 08:25] IdanAdar commented on #3208
@bacongobbler does this address #3353 and negate the bunch of code I've written as part of #4004?

[2018-05-02 08:42] hh commented on #3996
I'm getting the same thing on gce and k8s 1.10.1

[code]

[2018-05-02 08:43] hh commented on #3996
[code]

[2018-05-02 08:44] hh commented on #3996
[code]

[2018-05-02 12:12] andrewhowdencom commented on #1650
@pierreozoux maybe checkout the spec for Helm 3.0. Part of that covers this, I believe.

[2018-05-02 12:27] bryanlarsen opened #4005 "Helm on Windows sometimes doesn't pick up .kube/config"
On a fresh install of Windows 10, I installed Docker for Windows and helm.

helm init and helm version work great.   But helm list responds with:

[code]

[code]

Output of `helm version`:

[code]

Output of `kubectl version`:

[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

Docker for Windows

[2018-05-02 12:35] koniiiik opened #4006 "--set-string doesn't seem to handle booleans properly"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
AWS

When trying to install `stable/kubernetes-dashboard` with `nginx.ingress.kubernetes.io/secure-backends: "true"`as an annotation on the ingress, using `--set-string "ingress.annotations.nginx\.ingress\.kubernetes\.io/secure-backends=true"`, the following ends up in the resu

[2018-05-02 12:37] bryanlarsen commented on #4005
Problem was RBAC: https://github.com/kubernetes/helm/blob/master/docs/rbac.md

Might be nice to have a better error message, I'm sure this is a relatively common scenario.

I'll leave it open for that reason, feel free to close.

[2018-05-02 13:52] mhenniges commented on #3889
I am seeing this as well with the 2.9.0 release. This behavior was worked properly in 2.8.1.

[2018-05-02 14:13] innovia commented on #3460
@cookkkie

The service account needs to have a `clusterRole: Admin`  default does not have a cluster admin role

default service account is used at no RBAC clusters.

[code]
Proof that it's working:
[code]

[chekcout my blog post on how to setup tiller per namespace](https://medium.com/@amimahloof/how-to-setup-helm-and-tiller-with-rbac-and-namespaces-34bf27f7d3c3)

[2018-05-02 14:40] lostick commented on #3480
Having the exact same issue with helm-diff & helm 2.9.0

[2018-05-02 14:42] gianrubio commented on #1873
I'm using similar steps from @jasquat to reproduce the issue, here are my scenario

### 1. Create a chart
[code]

### 2. Force a deployment failure using a non existent image

[code]

### 2.1 Verifying that deployment Image was correctly changed to buuuu
[code]

### 3. Upgrade the chart, providing the right image

Giancarlos-MBPro:ddy_charts grubio$ helm upgrade  --set image.repository=nginx   err

[2018-05-02 14:57] gianrubio commented on #3552
@tcolgate maybe your issue is related to #1873

[2018-05-02 15:41] charlesverdad opened #4007 "Disabling chart requirement depending on environment"
This is a feature request.

It would be great if there is a quick way to enable/disable the installation of a chart requirement depending on which environment it is being deployed.

Normally what we do is to wrap all *.yaml files of a chart inside an `if` block like so:
[code]
and then set the `enabled` variable to be different in `production.yaml` and `staging.yaml`.

This method does not work fo

[2018-05-02 15:43] charlesverdad commented on #4007
closing because I just found out about the `condition` feature in requirements.yaml which does what I need.
[code]

[2018-05-02 15:43] #4007 closed

[2018-05-02 16:19] jgerardsimcock commented on #3980
https://github.com/kubernetes/helm/issues/3933
https://github.com/jupyterhub/zero-to-jupyterhub-k8s/issues/653

[2018-05-02 17:41] hayderimran7 opened #4008 "helm CLI doesnt install/fetch specific version when run with "--version" option"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
**Minikube**

**Description**:
When running `helm fetch` or `helm install` to install/fetch a specific versioned chart using `--version=` option, helm CLI doesnt respect the passed version to `--version` and instead always installs latest one.
In other words, `--version=` is no

[2018-05-02 18:47] tcolgate commented on #3552
It might be worth just closing this, but just to try and clarify a little. The cause of this was very simple. The content of the configmap was not compatible with the currently running API (or atleast whatever tiller was built against), reading the configmap caused an error due to the missing selector. There should probably be a better way of fixing this but I did manage to resolve it by doing a "

[2018-05-02 18:47] #3552 closed

[2018-05-02 18:53] yahavb opened #4009 "create helm generates - Readiness probe errored: strconv.Atoi: parsing "http": invalid syntax"
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
AWS

`helm create` create a templates/deployment.yaml with:
[code]
That casuing
[code]

It is not an issue perse but it would be a good idea to add `{{ .Values..... }}` or hardcoded integer.

[2018-05-02 20:11] dpepper commented on #3370
I have the same suggestion. If a pre-installation fails a generic error like:
Error: timed out waiting for the condition
has no value to a user. We should be able to return an error message from the pre-install hook

[2018-05-02 20:39] Stavrus commented on #3691
I ran into this issue today and figured I should leave a response in case others also come across this.

@sdouche, per the [named templates documentation](https://github.com/kubernetes/helm/blob/master/docs/chart_template_guide/named_templates.md) `template` is an action, not a function, so its output cannot be passed to other functions like you're trying to do with `b64enc`. The solution is to us

[2018-05-02 20:40] dpepper opened #4010 "Helm hook does not return proper failure to standard output."
When using a helm hook for a pre-install step I would expect that if the hook fails the user gets an error message from the job indicating what failed. That is not the case, if a pre-install hook fails the only error that is returned is a generic job failure message that the job never completed (Either a backoffLimit or timeout) For example:
helm install <helm-chart>
Error: Job failed: BackoffLimi

[2018-05-02 21:05] jgerardsimcock commented on #3933
I've been unable to update my configmap since the first deployment. I've deleted my config map and run update:

<img width="941" alt="screen shot 2018-05-02 at 11 03 14 am" src="https://user-images.githubusercontent.com/6101444/39549175-9bf47d12-4df8-11e8-99f2-ba87b7e44aee.png">

Below is the values.yml that updates the configmap.

[code]

[2018-05-02 22:02] #4005 closed

[2018-05-02 22:03] adamreese commented on #4008
run with flag `--devel` to fetch unreleased versions

[2018-05-02 22:06] hayderimran7 commented on #4008
@adamreese  still no luck .
[code]

[2018-05-02 23:51] jskulavik commented on #2872
Just FYI @bacongobbler, a very similar issue occurs against ACI.  I ran into it trying to install Brigade
![image](https://user-images.githubusercontent.com/2044176/39554640-4a3de916-4e31-11e8-983a-fde0c0bc0c50.png)

[2018-05-03 00:29] bacongobbler commented on #4006
Copying what I responded in Slack:

Yes, that is completely intentional. `--set-string` does not quote values and as such you will still need to quote rendered values (as booleans or integers) as you would with `--set`. The only difference between `--set` and `--set-string` is that the latter avoids the problem where the yaml parser parses large integer values into scientific notation (#3001). See

[2018-05-03 00:29] #4006 closed

[2018-05-03 00:34] bacongobbler commented on #3889
@mhenniges do you have possibly any repro steps/error logs or container (tiller) logs available to demonstrate what issue you're seeing?

[2018-05-03 00:35] bacongobbler commented on #1650
yes. https://github.com/kubernetes-helm/community/blob/master/helm-v3/003-state.md

[2018-05-03 00:42] jskulavik commented on #2872
No problem! You all enjoy the conference.

[2018-05-03 05:41] consideRatio commented on #3981
#### Explanation of error

The following template code became problematic with #3837.

[code]

Note that all whitespace in between the `{{ toYaml ...` output and the `alerting:` line is chomped by the backward and forward comping by lines in between. As #3837 caused `toYaml` to no longer generate an un-chompable new line in the end of `{{ toYaml ...`'s output, `alerting:` is suddenly overlapping o

[2018-05-03 06:04] dazdaz commented on #3996
I got it fixed, here are the steps which I took.  The tiller container appeared to be stuck in an unknown state.  Let me know if this works for you.

1.
$ kubectl delete service tiller-deploy -n kube-system
service "tiller-deploy" deleted
$ kubectl delete pods tiller-deploy-b6fbf658-57t6t -n kube-system --force=true --timeout=0s
pod "tiller-deploy-b6fbf658-57t6t" deleted
$ kubectl -n kube-system d

[2018-05-03 07:17] benkeil opened #4011 "requirements.lock will not be updated"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): `none`

`helm dependency update .` works like expected and loads the version 2.1.0, but in the `requirements.yaml` is still the old `2.0.2` version written. So its not possible to use `helm dependency build` during CI/CD.

Our `requirements.yaml`:

[code]

It will also not work

[2018-05-03 07:43] #3515 closed

[2018-05-03 07:48] gianrubio commented on #1873
@technosophos I just read [your comment](https://github.com/kubernetes/helm/issues/3685#issuecomment-373758896) above in another issue. Could you clarify if the last helm release manifest is the latest revision in `DEPLOYED`  state or the latest revision even if it's in `FAILED` status?

[2018-05-03 12:02] WHEREINDAWORLDISAMY84 commented on #3470
So what is helm 3

[2018-05-03 12:59] cgebe commented on #3005
same as @hobti01

issue still occurs - `v2.9.0`:
[code]

[code]

[2018-05-03 13:50] bacongobbler commented on #3470
https://github.com/kubernetes-helm/community

[2018-05-03 15:36] dpepper commented on #3338
I hit this error frequently. An install fails and then I make some changes to my config and try to install again but hit errors complaining about how many pods/configmaps etc already exist. When you run helm list it doesn't list any failed or successful deployments so then I have to go and cleanup everything manually. If an install fails it should definitely rollback the changes it has already mad

[2018-05-03 16:01] dmaze commented on #1523
My team is hitting exactly the issue @markhu described above: developers are running `brew upgrade` to get routine updates, getting a newer Helm client package, and then getting messages they don't understand like

[code]

Can Helm make a reasonable effort to interoperate with older versions of itself?  This gets to be a big issue when we have multiple clusters and multiple users and Homebrew is t

[2018-05-03 16:12] adshmh commented on #3918
I have started working on this.

[2018-05-03 16:25] pierreozoux commented on #1650
Should we close this issue then?

[2018-05-03 16:54] ljnelson commented on #3005
Out of curiosity, could you try `--set replicaCount="!!int '1'"`?

[2018-05-03 17:45] adshmh commented on #3918
This can be fixed on the client side by updating the Notes field from Status (I will submit a PR for this)

As a second option, it seems that tiller could return the latest resource string (which seems to be the only "missing" piece of information) as part of the update response and remove the need for a second tiller call from client side. The downside could be that tiller will need to make an ad

[2018-05-03 19:13] jharshman commented on #3816
@muratsplat Works fine with version 2.8.2 this looks like a bug that I hope the developers are aware of.
And for those who are interested here is the list of KUBE related env variables in Tiller.  There is no `KUBERNETES_MASTER` env variable.

[code]

[2018-05-03 19:25] #3225 closed

[2018-05-03 20:26] #1665 closed

[2018-05-03 20:26] #3132 closed

[2018-05-03 21:27] #3218 closed

[2018-05-03 21:39] krishicks commented on #1193
In our case we were adding a configmap to a chart and the chart fails to be upgraded with:

*Note: We're using 2.7.2; on later versions this message has changed to include the type of the resource that can't be found.*

I believe this happens because when helm is determining what has changed it looks for the *new* configmap resource in the *old* release, and fails to find it. See https://github.co

[2018-05-03 22:09] bacongobbler commented on #3816
The original issue is probably something else entirely, so we were trying to do some diagnostic testing. v2.9.0 is a differnt bug altogether that just unfortunately results in the same error. See #3985 for some background context on the bug, the fix, and the workaround (as I described above).

@muratsplat I'm not sure I follow. What do you mean by "it doesn't work again"? How did you apply the wor

[2018-05-03 22:39] jharshman commented on #3816
@bacongobbler where is this `KUBERNETES_MASTER` envvar coming from? I can't find any references to it in the source code.

[2018-05-04 04:34] #3165 closed

[2018-05-04 08:11] muratsplat commented on #3816
Hello @bacongobbler,

If I can have a time to try to again use helm, when it is the time, I will sharing one step one on here.

[2018-05-04 09:54] eastlondoner opened #4013 "helm doesn't work with GKE 'out of the box'"
In the helm docs here: https://docs.helm.sh/using_helm/#gke it says

However if I create a new GKE cluster and then try to use helm it doesn't work:
[code]

I guess I need to do something with RBAC - it would be helpful if this was flagged up in the documentation as being *absolutely necessary* for GKE

Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform

[2018-05-04 10:13] frankh commented on #3625
I'm having the same problem when trying to delete a release that uses rabbitmq as a dependency

In the tiller logs i get:

[code]

[2018-05-04 10:25] bhalothia commented on #4001
This fixed it for me.

`kubectl -n kube-system patch deployment tiller-deploy -p '{"spec": {"template": {"spec": {"automountServiceAccountToken": true}}}}'`

[2018-05-04 11:30] bacongobbler commented on #4013
Good point. IIRC GKE enabled RBAC after this was documented so a amendment to the documentation would be awesome. :)

[2018-05-04 11:33] eastlondoner commented on #4013
This fixed it for me:
[code]

Stolen from here: https://github.com/kubernetes/helm/issues/3055

[2018-05-04 15:27] seaneagan commented on #3943
It looks like in helm 3 the plan is to link resources to their Release CRD via kubernetes ownerReferences:

https://github.com/kubernetes-helm/community/blob/master/helm-v3/003-state.md

In helm 2 it seems the only way to approximate this is via parsing the release manifest yaml blob and extracting resource identifiers.

What about a new gRPC endpoint which just returns the list of resources assoc

[2018-05-04 15:27] atombender commented on #3134
@technosophos Can we please reopen this? The issue still exists on 2.9.0.

As an aside, I have noticed that sometimes this error occurs even when the manifests don't contain any syntactical or semantic errors. However, since Helm is masking the underlying error, there's no way to tell what's preventing the deploy from working. All that is in Tiller's log is:

[code]

[2018-05-04 15:54] atombender opened #4014 "Illegal statefulset patches result in masked error "the server could not find the requested resource""
Output of `helm version`:

[code]

Output of `kubectl version`:

[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): GKE

---

Deploying fails with this:

[code]

Tiller log:

[code]

The real error is the failed attempt to patch the statefulset, but the exposed error, `the server could not find the requested resource`, has nothing to do with this.

[2018-05-04 16:37] atombender commented on #3134
FWIW, another workaround is to patch the last configmap, changing the label `STATUS` to `DEPLOYED`.

[2018-05-04 17:00] bacongobbler commented on #4013
That's a regression in 2.9.0 and will be fixed in 2.9.1, but it doesn't affect the underlying issue raised in the original comment.

[2018-05-04 17:25] adamreese commented on #4002
Helm `reset` uninstalls the helm/tiller components, it does not delete releases.

[2018-05-04 18:52] AmazingTurtle commented on #2464
@miroadamy minikube v0.26.* seems to be broken at all, certificates fucked up. v0.25.2 is safe to use right now

[2018-05-04 19:54] thomastaylor312 commented on #3173
@samchenraising Yes it is. Let's use that as the issue to follow

[2018-05-05 15:51] eastlondoner commented on #4013
If anything I think @atombender is highlighting the issue - if there was clear documentation then we would know what to do...

[2018-05-05 22:15] #3236 closed

[2018-05-05 23:16] #3231 closed

[2018-05-06 03:50] donbecker opened #4016 "How to uninstall Helm on client?"
Working with Helm 2.9.0, and I'd like to uninstall from my client and install 2.8.2 to ensure that an issue I'm having isn't related to the specific Helm version.

[2018-05-06 13:21] mFarghaly opened #4017 "List of maps default values ?"
I have a values file with structure similar to
[code]
where foo is optional. and if foo is supplied both bar and baz are optional.
How to add default value to the list of maps ?
so bar or baz will default to value qux if not given ?

[2018-05-06 18:35] #3158 closed

[2018-05-06 19:36] #3089 closed

[2018-05-07 08:27] mouradmourafiq opened #4019 "Pods stuck on terminating (Terminated: ExitCode)"
**What happened:**

Running the helm command helm del --purge releaseName sometimes deletes volumes before pods, which results in pods stuck in Terminated: ExitCode.

**What you expected to happen:**

I expect the pods to be delete as well without having to manually delete them with --grace-period=0 --force options.

Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provid

[2018-05-07 16:37] discostur commented on #4011
Seeing exact the same issue on our deployments ...

[2018-05-07 17:12] dhawal55 commented on #2722
+1
We are facing issues where `helm update` command succeeds but the changes are not applied. It would be great if we can use helm client for templating existing charts and use kubectl to deploy them.

[2018-05-08 06:02] sta-szek commented on #3173
Hi I have the same issue with helm 2.8.2.
I always deploy 2 pods using RollingUpdate 25%, 25%, always different docker image tag.

Helm seems to be waiting as described:
```--wait                   if set, will wait until all Pods, PVCs, Services, and minimum number of Pods of a Deployment are in a ready state before marking the release as successful. It will wait for as long as --timeout```

but

[2018-05-08 07:10] tamama opened #4020 "Error: Get http://localhost:8080/api/v1/namespaces/kube-system/configmaps?labelSelector=OWNER%!D(MISSING)TILLER: dial tcp 127.0.0.1:8080: connect: connection refused"
Hi there,

I would like to report a bug. Here are the logs.

**helm list -- NOT OK**
[root@london-node-227 ~]# helm list
Error: Get http://localhost:8080/api/v1/namespaces/kube-system/configmaps?labelSelector=OWNER%!D(MISSING)TILLER: dial tcp 127.0.0.1:8080: connect: connection refused

**helm version -- OK**
[root@london-node-227 ~]# helm version
Client: &version.Version{SemVer:"v2.9.0", GitCommi

[2018-05-08 07:10] tamama commented on #4020
Am I missing anything?

[2018-05-08 07:16] tamama commented on #4020
FYI, I installed my k8s cluster via kubeadm v.1.10.2 + Flannel cni

[2018-05-08 07:34] thenano commented on #3512
What is the proposed solution if a chart exceeds the 20Mb limit? I've reached that limit now using stable/prometheus with a bunch of alert rules configured.

[2018-05-08 07:51] bacongobbler commented on #4020
closing as a duplicate of #3985 which was fixed in #3990. For now, please use the following workaround when running `helm init` for the first time: `helm init --service-account default`. Thanks!

[2018-05-08 07:51] #4020 closed

[2018-05-08 07:52] langecode commented on #2735
Unfortunately I do not know how to reproduce either. However we see a behaviour that seems to also fit this. `helm get` show something different that is actually applied to Kubernetes - seeing this both for deployment and config-map resources.

[2018-05-08 07:58] zhangtbj commented on #4002
@adamreese , ok, But do you know how to delete releases on tiller side? Thanks!

[2018-05-08 09:20] zhangtbj opened #4021 "Helm function fail after upgrade from 2.8.2 to 2.9.0"
Output of `helm version`: 2.9.0

Output of `kubectl version`:1.10

I upgraded my helm version from 2.8.2 to 2.9.0, then I also upgraded the tiller version to 2.9.0, after upgrade.  I cannot use my helm correctly, it report:
[code]

I executed on two kube clusters and linux and mac, I also see this error.

My kube cluster is on the IBM Cloud Service, it is not in localhost, I am not sure if helm ha

[2018-05-08 09:28] bacongobbler commented on #4021
Closing as a duplicate of #4020 which is also a duplicate of #3985 :)

[2018-05-08 09:28] #4021 closed

[2018-05-08 09:44] ablekh commented on #2744
Unless I'm totally missing something, it seems that this functionality can be achieved (assuming that a user doesn't mind a preliminary Helm chart install step -- the intent is to install a chart anyway, just with custom values) simply by using standard command `helm get`:

[code]

[2018-05-08 13:29] davidkarlsen commented on #3081
/remove-lifecycle stale

[2018-05-08 14:11] olemarkus commented on #2013
Just experienced the same issue.

[2018-05-08 14:41] omegarus opened #4022 "Error: UPGRADE FAILED: failed to create patch: unable to find api field in struct PodSpec for the json field "resources""
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
AWS

When i’am changing `resources:` field in chart values.yaml and then trying to update release with this chart I got this error: `Error: UPGRADE FAILED: failed to create patch: unable to find api field in struct PodSpec for the json field "resources"`
Same updated chart I ca

[2018-05-08 15:02] Stono commented on #1464
I would also like to have this feature, it's kinda frustrating for us.

[2018-05-08 15:28] omegarus commented on #4022
Sorry it was my fault. Problem was in yaml indents.

[2018-05-08 15:28] #4022 closed

[2018-05-08 15:53] zhangtbj commented on #4021
OK Thanks! @bacongobbler , BTW when will you have the new version to fix this issue?

Right now I install the helm by this way:
[code]

SO I think this is the official version, and we have to use the latest version. Pls help provide the new workable version, soon. Thanks!

[2018-05-08 16:25] mikeln commented on #2578
/remove-lifecycle stale

[2018-05-08 16:25] mikeln commented on #2578
/remove-lifecycle rotten

[2018-05-08 16:59] technosophos commented on #4019
Can you reproduce on a newer version of Helm? 2.7.0 had a few known issues that were resolved in subsequent releases

[2018-05-08 20:37] cguethle commented on #3282
+1

I have a post-ready configuration container/Job that needs to run /rest calls against the service backed by a pod in the install. Pod needs to be 1/1 Running before the configuration container/Job runs.

[2018-05-08 21:28] Tapppi commented on #3883
I expect to see `import-values` pull the values from the child chart but not overwrite explicit configuration in parent's values, i.e. I expect the parent's values to win conflicts during the merge.

Yes, the point of `import-values` is to pull values from the child, but it makes no sense to me that you can't overwrite them in any way. The parent chart knows what it is going to import (and possibl

[2018-05-08 23:29] ashahba opened #4025 "Incorrect parsing of Values.tag when passed in with --set command line option, causes Pods fail to start due to InvalidImageName error."
Currently we use `helm` as the installer for [KVC](https://github.com:ashahba/experimental-kvc) and to install `KVC` from latest commit within the branch I use:

[code]
Most of the times this works fine but some commit ids seem to not be parsed correctly.
However some commit IDs seems to not be parsed correctly and for that reason Pods won't start and show `InvalidImageName`:

[code]

For example

[2018-05-08 23:40] ashahba commented on #4025
Seems like this is not a bug with `helm` it is due to the way `YAML` parsing works.
This has been clearly described here: [values.md](../blob/master/docs/chart_best_practices/values.md)

[2018-05-08 23:40] #4025 closed

[2018-05-09 05:57] somedayiamold commented on #3816
adding ENV KUBERNETES_MASTER works for me
I am using v2.9.0

[2018-05-09 06:07] AndreasBieber commented on #3926
Signing CLA done

[2018-05-09 15:12] Nodraak commented on #3229
Hi!

The page https://github.com/kubernetes/helm/blob/master/docs/tiller_ssl.md still does not appear on helm.sh

What is the status here ? Do you need any help ?

[2018-05-09 15:49] idelix opened #4026 "[Question] Can I reach files outside of chart folder with .Files.Glob"
My current solution (Java Spring Boot) has this dir structure:
[code]

So my charts folder is inside:
c:\solution directory\charts\gs-spring-boot-docker
while the properties file which I'm trying to add to configmap is in:
c:\solution directory\src\main\resources\application-dev.yml

I want to avoid copying application-dev.yml to c:\solution directory\charts\gs-spring-boot-docker and rather just r

[2018-05-09 16:55] nicroto commented on #3529
I think the format @hmagph suggested should not be the way to workaround the issue, but probably a standard to write the charts in first place. Once these fields are being populated from the values.yaml, then there is no issue, right? What would be the procedure to suggest such a standard? (apologies if this is too basic of a question - I am literally writing my first chart)

[2018-05-09 19:57] dsvensson commented on #1804
Would be nice with release binaries as well, compiling on a raspberry pi is kind of boring. Don't have any other machine at hand atm.

[2018-05-09 23:14] technosophos opened #4028 "Update Helm to use Moniker 0.2"
We need to rev Moniker with the new spelling fixes. This should just be a fix to the Glide.yaml file, then a glide up

[2018-05-09 23:28] technosophos commented on #4017
Normally, the values file that is stored in the chart is where you would put default `values.yaml` in the chart. Then they are overridden using `-f` and `--set` on the CLI.

Inside of chart templates, you can use `{{ default "my default value"  ... }}` to set defaults. It takes a little bit of work to check in a template if foo is set, then check if `index 0 .Values.foo` is set, etc. But there are

[2018-05-09 23:31] technosophos commented on #4016
You can safely delete the binary manually. (If you installed with homebrew, you can use homebrew to remove it.)

To delete Helm local data and Tiller remotely, but leave all of your releases intact, you can do `helm reset`. I recommend reading the help text on that first, though.

If you want to destroy all of the local data, too, do `helm home` to find out where that data is stored, then remove t

[2018-05-09 23:34] technosophos commented on #4011
I presume that deleting the lock file and rewriting will add the correct version? Sounds like something is not correctly regenerating the lock.

[2018-05-09 23:38] technosophos commented on #4010
Since hooks are completely kind agnostic, there is no inspection of the failure other than what the Kubernetes API offers up as a failure reason. Since a hook can be applied to anything from configmaps to stateful sets, there's no uniform way to inspect a failure beyond what the API tells us. (And keep in mind that many kinds do not have logs attached)

As a feature, this would likely require quit

[2018-05-10 06:18] benkeil commented on #4011
Your right. The lock file will also be updated if you change the version.

[2018-05-10 12:01] idelix commented on #4026
Thanks for confirmation.

[2018-05-10 12:01] #4026 closed

[2018-05-10 13:10] IvanBiv commented on #3480
`E0510 16:06:06.478944   19746 portforward.go:303] error copying from remote stream to local connection: readfrom tcp4 127.0.0.1:38750->127.0.0.1:41234: write tcp4 127.0.0.1:38750->127.0.0.1:41234: write: broken pipe`

[code]

[2018-05-10 14:05] #2762 closed

[2018-05-10 14:19] maxhov opened #4030 "Provide an option or alternative for --set and/or --set-string to take a value literally"
I am experiencing an escaping problem with Helm. For instance, if I want to set a password in a chart, I run into the problem that `\` characters are removed.

Example:

1. Take a chart that sets a k8s secret where the value of the secret is base64 encoded by Helm (b64enc)
1. Run `helm upgrade --install --set password=Passw\Ord! somechart`
1. The resulting base64 encoded string decodes to `PasswOr

[2018-05-10 14:30] javipolo commented on #3296
I'm also experiencing this problem with Helm v2.9.0 and k8s v1.8.4:

[code]

and then helm exits successfuly

[2018-05-10 14:37] semiria opened #4031 "Tiller upgrade results in Error: forwarding ports: error upgrading connection: unable to upgrade connection: pod not found ("name-of-pod")"
When trying to upgrade tiller, the upgrade fails with the following message:
`Error: forwarding ports: error upgrading connection: unable to upgrade connection: pod not found ("name-of-pod")`

What we notice is that the pod referred in the error message correspond to the pod of the previous version, not of the version we are trying to upgrade to.

Upon inspection after the error message, we see th

[2018-05-10 15:54] rcorre opened #4033 "Failure to delete job with securityContext"
Output of `helm version`:

[code]

Output of `kubectl version`:

[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
AWS

Issue:

1. Create a helm chart with the following template:

[code]

2. `helm install . --name rodencor-job --namespace rodencor`
3. `helm delete --purge  rodencor-job` succeeds
4. `kubectl -nrodencor get jobs` shows the job is still there
5. `kubectl logs -nkube-system

[2018-05-10 17:56] mtherreault commented on #2948
I think we could generalize (not only requirements conditions) this issue to simply state that --reuse-values does not reuse values when they were specified using --set option.
Passing the same values by using values files works well for any value.

[2018-05-10 18:44] vladi-dev commented on #3816
Facing the same issue in gcloud kubernetes engine.

[2018-05-10 20:42] stuartleeks commented on #3675
The underlying issue here is that we tried to transition from `ClusterIP` -> `LoadBalancer` -> `ClusterIP`, and the second transition failed because `nodePort` was configured by `LoadBalancer` and is invalid for `ClusterIP`. The comment from @zaa is useful thinking about this going forwards for this particular case.

However, in terms of the state of the release in helm I believe that there is an

[2018-05-10 21:36] thomastaylor312 commented on #2606
/remove-lifecycle stale
/lifecycle frozen

[2018-05-10 21:49] thomastaylor312 commented on #3018
/remove-lifecycle rotten
/lifecycle frozen

[2018-05-10 21:50] thomastaylor312 commented on #2792
@technosophos @SlickNik was this going to be turned into documentation?

[2018-05-10 22:11] thomastaylor312 commented on #3296
I believe I found the issue with this. I am trying out a fix right now

[2018-05-10 22:18] #3444 closed

[2018-05-11 03:46] cblecker commented on #2792
probably not rotten :)
/remove-lifecycle rotten

[2018-05-11 04:58] mitchellmaler opened #4036 "Combine variable from template and string without quote"
Hello,

I am trying to figure out how to combine a template variable with a constant string.

[code]

I tried the above but it wraps the -string in quotes which does not work.

[2018-05-11 05:05] #4036 closed

[2018-05-11 12:46] bonifaido commented on #3117
We have encountered the same issue here: https://github.com/banzaicloud/banzai-charts/issues/214

[2018-05-11 14:08] OndraZizka opened #4037 "`helm install --replace --name asdf` doesn't work"
I was hoping that `--replace` would replace the installed chart of the same name.
But I got this:

    helm install --replace --name s5f23 --wait --timeout 240 ./csa-application/src/main/helm/charts/csa --set image.tag=5f23264d
    Error: cannot re-use a name that is still in use

I assume this is a bug. If not, what is `--replace` supposed to do, and what do I need to do before installing again,

[2018-05-11 14:33] krishicks commented on #1193
This problem also arises when changing the `name` label of a deployed Service, perhaps other things as well.

I'm changing the name of a Service in a release and it fails to upgrade with:

[2018-05-11 14:50] technosophos commented on #3675
/cc @adamreese

[2018-05-11 15:09] wknapik commented on #4004
Per https://github.com/kubernetes/helm/pull/3597, just call `helm upgrade --install --force` and drop all the extra logic - that's my understanding at least.

And since you're asking about best practices - your calls to `sh` should be one-liners. Don't code in your Jenkinsfiles. It makes you repeat yourself and makes it impossible to run a static analyzer, like shellcheck, or write/run tests again

[2018-05-11 15:34] IdanAdar commented on #4004
Yep. Everything has been removed.

[2018-05-11 15:34] #4004 closed

[2018-05-11 15:40] OndraZizka opened #4038 "`helm lint` documentation is inconsistent"
The page https://docs.helm.sh/helm/ says:

      --namespace string         namespace to install the release into (only used if --install is set) (default "default")

However there is no `--install` amongst the flags. Either it is missing or `--namespace` shouldn't be there.

[2018-05-11 16:47] tiukhtinvladimir opened #4039 "/ issue when using --reuse-values=true"
What happened:

[code]
Ingress:
[code]
values.yaml:
[code]
Output of `helm version`:
[code]

[2018-05-11 16:49] OndraZizka commented on #1994
So how should I use `quote` here:

    command: ["sh", "-c", "mvn -B gatling:test -pl csa-testing -DCSA_SERVER={{ template \"project.fullname\" . }} -DCSA_PORT={{ .Values.service.appPort }}"]

That produces

    [ERROR] templates/: parse error in "collab-services-api/templates/tests/test.yaml": template: collab-services-api/templates/tests/test.yaml:11: unexpected "\\" in template clause

[2018-05-11 16:59] flimzy opened #4040 "Request addition of "auto" TLS option"
I would like to request the addition of some sort of configuration option that automatically acts as if `--tls` is enabled.  As an alternative, the subcommands which do not use the `--tls` flag could silently ignore its presence.

Rationale:

When interacting with helm manually, adding `--tls` on (almost) every command is cumbersome.

The simplest/least intrusive way to add a config option would p

[2018-05-11 17:16] jdotjdot commented on #2575
What about providing a CLI option that would permit connections to a live cluster?  We've run into problems with Helm over and over where the Kubernetes YAML turned out to be incorrect (though valid YAML itself), and when it failed, the k8s error was swallowed by a Helm error, leading to red herrings.  This would have been prevented if we could clearly see from Kubernetes that the YAML wasn't a fu

[2018-05-11 17:17] mattfarina commented on #2071
I think I'm able to reproduce this on ubuntu with Helm 2.9.0.

[2018-05-11 18:10] #4028 closed

[2018-05-11 18:36] technosophos commented on #3134
Re-opening this issue, as it has re-appeared in 2.9.0

[2018-05-11 18:50] atombender commented on #3134
@technosophos Cool. We're still on Kubernetes 1.8 (though I'm personally using `kubectl` 1.9). Is the regression you found only against 1.9?

[2018-05-11 19:18] technosophos commented on #3134
It's in the client library. So it would happen on any Kubernetes server version.

At this point we're pretty confident that it has to do with the missing validation. PR is is #4042.

[2018-05-11 19:33] #3250 closed

[2018-05-11 20:59] thomastaylor312 commented on #3296
Ok, update on the issue. Due to the nature of how k8s handles different versions API objects, the fix for this will be non-trivial, hacky, and likely brittle based on all current observations. I'll be bringing this up in the Helm dev call this next week for further discussion and ideas

[2018-05-11 22:48] bacongobbler commented on #2840
/remove-lifecycle stale

[2018-05-11 22:48] #3420 closed

[2018-05-11 22:49] bacongobbler commented on #2823
/remove-lifecycle stale

[2018-05-11 22:50] bacongobbler commented on #3118
closing as this is being tracked as part of the helm 3 proposals in https://github.com/kubernetes-helm/community/tree/master/helm-v3

[2018-05-11 22:50] #3118 closed

[2018-05-11 23:31] Pneumaticat commented on #3275
Hm, I still get this issue on Helm 2.8.2 (not the latest, but I tried with 2.9.0 and it gives the same error.) Usually deleting the offending resource manually can fix it, though often it cascades into multiple resources that all need deletion before it successfully upgrades.

I have a bit of a large helm chart with nested dependencies; might that be it?

[2018-05-12 03:14] #1915 closed

[2018-05-12 03:18] bacongobbler commented on #4040
https://github.com/kubernetes/helm/pull/3496

[2018-05-12 04:02] bacongobbler commented on #4016
I'm going to close this question as resolved, but please re-open if you need more assistance. Thanks!

[2018-05-12 04:02] #4016 closed

[2018-05-12 04:28] bdowling commented on #3330
Ran into this as well attempting to switch from a quick install of helm to enabling --tiller-tls-certs, had to remove both the deployment and service..

v2.9.0

/remove-lifecycle rotten

[2018-05-12 12:50] #2091 closed

[2018-05-12 14:14] mouradmourafiq commented on #4019
@technosophos I upgraded to helm to "v2.9.0"
[code]
And now I have 2 problems after the `helm del --purge`  command is finished:

  * Pods with status `Running`
  * Pods `Terminated: ExitCode:${state.terminated.exitCode}` even without volumes.

Sometimes this could take up to 50 min to have everything related to the release cleaned up.

[2018-05-12 21:38] davidkarlsen commented on #1754
Linking https://github.com/kubernetes/helm/issues/3276 which seems to be the same issue

[2018-05-13 18:13] mitchellmaler commented on #1796
What is the status of this? Right now in my CICD pipeline if the install fails I have to run a script to get the last successful revision number to rollback too. Which then the rollback is automated on deployment failure.

[2018-05-13 21:13] danvaida commented on #3816
[This](https://github.com/kubernetes/helm/issues/3460#issuecomment-385817429) fixed it for me on v2.9.0

[2018-05-13 22:55] bacongobbler commented on #1796
Afaik nobody in the community is working on this effort

[2018-05-14 02:27] #2468 closed

[2018-05-14 03:07] edwardstudy commented on #1796
Nowadays, I just backup and restore Helm release config data. When I restore releases data, I should run `helm rollback release_name lastest_version` to recreate pods.

[2018-05-14 06:44] nguyenhuuloc304 commented on #3055
I encountered the same issue. then I tried following
[code]
with the
`kubectl patch deploy --namespace kube-system tiller-deploy -p '{"spec":{"template":{"spec":{"serviceAccount":"tiller"}}}}'`
I got the message "Error from server (BadRequest): invalid character 's' looking for beginning of object key string"

and then I tried following commands
[code]
I got the message:
`failed: clusterroles.rbac

[2018-05-14 08:26] sta-szek opened #4044 "Helm creates new version of config map during each upgrade"
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
amazon

I have encountered an issue with config maps.
I have two clusters,
* one (**1**) is more "open", without restrictions, any RBAC,
* the second one (**2**) has more restrictions, there is helm tiller installed in every namespace and it is RBAC secured.

When I deploy new ve

[2018-05-14 08:49] bivas commented on #3470
So far I've managed to workaround this issue by calling `trim` on the `toYaml` output.
By doing something like this:
[code]

I got the following output:
[code]

[2018-05-14 09:03] robinkb opened #4045 "During `helm upgrade`, Tiller chooses the wrong current revision to generate patches from when the previous upgrade failed"
I typed up a long test rapport to find and reproduce the issue, so I'll just copy-paste the relevant stuff here. I had 4 test cases in total, and case 3 turned out to be the one that reproduces the issue.

# Issue

We started from an existing, successful installation. The next installation failed,
because the wrong values were passed to the Helm chart. The tag of a container image was incorrect,
r

[2018-05-14 10:12] consideRatio commented on #3470
My current practice, that I'm quite happy with, is to write...

[code]

trimSuffix resolves this issue, nindent instead of indent adds a new line before the content and that combined with a whitespace left chomp makes the indentation of the template code look good as well.

[2018-05-14 11:55] maxyor6040 commented on #2520
Don't forget to `minikube delete` and `minikube start` after downgrading. Then `helm init` again.

[2018-05-14 12:54] disha94 commented on #2520
Facing the same issue, what is the fix for the same?

[2018-05-14 14:06] maxyor6040 commented on #2520
@disha94

I'm on macbook pro 2017 with high sierra.
This solved the issue for me:

1. Downgrade helm to 2.8.2
2. `minikube delete`
3. `minikube start`
4. `helm init --force-upgrade`

[2018-05-14 14:10] bacongobbler commented on #2520
Also see #3985 for a (few) workarounds. I'm just coming off vacation today and will see what I can do about getting a v2.9.1 out today.

[2018-05-14 15:42] flimzy opened #4047 "Hide "unauthenticated users" warning when 'helm init' is called securely"
After a successful run of `helm init`, the following message is displayed:

    Please note: by default, Tiller is deployed with an insecure 'allow unauthenticated users' policy.
    For more information on securing your installation see: https://docs.helm.sh/using_helm/#securing-your-helm-installation

I took this to mean that my specific installation was insecure, even after following the specif

[2018-05-14 15:47] bacongobbler commented on #4047
This seems like an easy issue to tackle should someone want to get their feet wet with Helm. :)

[2018-05-14 15:55] flimzy commented on #4047
I'll take a crack at it if someone can confirm which condition(s) should disable the warning. Is the `--tiler-tls-verify` the key?  That along with `--service-account`?

[2018-05-14 15:57] bacongobbler commented on #4047
Yes, I'd say that with the TLS flags enabled that should be more than enough to suppress the warning, since then only users with the TLS client cert can authorize tiller to install resources.

[2018-05-14 16:52] disha94 commented on #2520
@maxyor6040 Thanks a lot for your help. But I am facing the issue while deploying on a Kubernetes cluster and not in minikube. But looks like upgrade might help.
@bacongobbler , is this solution specific to Azure?? As in my case cloud provider is AWS.

[2018-05-14 16:59] bacongobbler commented on #2520
it's not specific to Azure. I'l update the title to reflect that. Thanks for pointing that out. :)

[2018-05-14 17:33] flimzy opened #4050 "`helm init` doesn't support `--tls-cert` and related flags"
When issuing `helm init --wait --tiller-tls`, it may be desirable to use the `--tls-ca-cert`, `--tls-cert` and `--tls-key` flags. At present, this is not supported, requiring that the proper TLS PEM files exist in `~/.helm`.

    $ helm init \

    Error: unknown flag: --tls-cert

Output of `helm version`:

    Client: &version.Version{SemVer:"v2.9.0", GitCommit:"f6025bb9ee7daf9fee0026541c90a6f557

[2018-05-14 17:54] flimzy opened #4051 "`helm init --wait` doesn't appear to work with TLS"
When I run:

    helm init \
        --wait \
        --tiller-tls \
        --tiller-tls-cert ${tmp}/tiller.cert.pem \
        --tiller-tls-key ${tmp}/tiller.key.pem \
        --tls-ca-cert ${HELMHOME}/ca.pem \
        --tiller-tls-verify \
        --service-account=tiller

I get the following error:

Output of `helm version`:

    Client: &version.Version{SemVer:"v2.9.0", GitCommit:"f6025bb9ee7d

[2018-05-14 18:44] nicolasgnr commented on #3964
@jascott1 Shouldn't it be labeled as `bug`?

[2018-05-14 19:08] bacongobbler commented on #3460
The root issue for this has been fixed in helm v2.9.1. Thanks everyone!

@mrene if there's a doc issue where we create a service account with `automountServiceAccountToken` set to `false` by default, could you please open a new ticket/PR for that? Thank you so much. :)

[2018-05-14 19:08] #3460 closed

[2018-05-14 19:09] bacongobbler commented on #3816
This has been fixed in Helm v2.9.1. Thanks everyone!

https://github.com/kubernetes/helm/releases/tag/v2.9.1

[2018-05-14 19:09] #3816 closed

[2018-05-14 19:10] bacongobbler commented on #3997
ping @ethron123, any update on this ticket or is this something we can close?

[2018-05-14 19:11] bacongobbler commented on #3423
/remove-lifecycle stale

@rocky-nupt, since you contributed `--dep-up` would you mind taking a look into this? Thanks!

[2018-05-14 19:14] bacongobbler commented on #3384
/remove-lifecycle stale

Hey! Sorry for not following up on this ticket. This might be due to the Homebrew formula [compiling Helm from source](https://github.com/Homebrew/homebrew-core/blob/7ade79f13b4bbcc6126803245594d97b2abbe2fa/Formula/kubernetes-helm.rb), whereas the compiled release binaries are compiled with Go 1.10. Can you try the static binary releases (or [GoFish](https://gofi.sh) via `

[2018-05-14 19:17] bacongobbler commented on #2464
This has been fixed in helm v2.9.1, which is available here: https://github.com/kubernetes/helm/releases/v2.9.1

Thanks everyone!

[2018-05-14 19:18] bacongobbler commented on #4021
This has been fixed in helm v2.9.1, which is available here: https://github.com/kubernetes/helm/releases/v2.9.1

Thanks everyone!

[2018-05-14 19:19] bacongobbler commented on #4020
This has been fixed in helm v2.9.1, which is available here: https://github.com/kubernetes/helm/releases/v2.9.1

Thanks!

[2018-05-14 19:19] bacongobbler commented on #4001
This has been fixed in helm v2.9.1, which is available here: https://github.com/kubernetes/helm/releases/v2.9.1

Thanks everyone!

[2018-05-14 19:19] bacongobbler commented on #3986
This has been fixed in helm v2.9.1, which is available here: https://github.com/kubernetes/helm/releases/v2.9.1

Thanks everyone!

[2018-05-14 19:19] bacongobbler commented on #3981
This has been fixed in helm v2.9.1, which is available here: https://github.com/kubernetes/helm/releases/v2.9.1

Thanks everyone!

[2018-05-14 19:46] dhawal55 commented on #2722
@Ilyes-Hammadi I'm using `helm fetch` to fetch the remote chart first:
[code]

[2018-05-14 20:46] julianvmodesto commented on #2722
Please see the Helm v3 design proposal:

https://github.com/kubernetes-helm/community/blob/master/helm-v3/000-helm-v3.md

[2018-05-14 20:49] atombender opened #4053 "When resource already exists, first attempt fails, second attempt works"
Output of `helm version`:

[code]

Output of `kubectl version`:

[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): Docker for Mac

I have a chart that needs to overwrite a configmap installed by Kubernetes itself (or rather, KubeDNS, which comes with Docker for Mac). I was hoping Helm would silently adopt the resource, but it fails:

[code]

However, the release *is* created by Helm, and

[2018-05-14 21:05] louismunro commented on #4031
It looks to me like a possible race condition between installer.Upgrade() and ping().

I.e. installer.Upgrade() is called at line 303 in cmd/helm/init.go, which results in a Put to the API for the new deployment. But since that call is not synchronous (i.e. the call does not block while the deployment is replacing the old one) we call watchTillerUntilReady() before setting up a new tunnel to tille

[2018-05-14 22:15] ethron123 commented on #3997
You can go ahead and close it

On Tue, May 15, 2018, 4:10 AM Matthew Fisher <notifications@github.com>
wrote:

[2018-05-14 22:47] #3997 closed

[2018-05-15 00:09] ramyala commented on #3275
I'm seeing the same issue with clusterrolebinding. I added the new resource to my chart and `upgrade` as well as `upgrade --install` would fail with `Error: UPGRADE FAILED: no ClusterRoleBinding with the name "test-clusterrolebinding" found`

[2018-05-15 00:14] rocky-nupt commented on #3423
Sorry, I forgot it last time. I will see it this weekend. @bacongobbler

[2018-05-15 00:53] rocky-nupt commented on #3423
I find the dependency downloaded does not be added to chart. It should be a bug. I will fix it this week. @steven-sheehy @bacongobbler

[2018-05-15 03:16] joaocc commented on #3189
/remove-lifecycle stale

[2018-05-15 03:45] edwardstudy commented on #2409
Reproduce:
[code]

[2018-05-15 04:27] yunghoy commented on #3480
E0515 11:25:06.883101  170075 portforward.go:303] error copying from remote stream to local connection: readfrom tcp4 ***** write tcp4 127.0.0.1:38769->127.0.0.1:36224: write: broken pipe

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.7", GitCommit:"dd5e1a2978fd0b97d9b78e1564398aeea7e7fe92", GitTreeState:"clean", BuildDate:"2018-04-19T00:05:56Z", GoVersion:"

[2018-05-15 07:26] benkeil commented on #3480
+1

[2018-05-15 08:18] sta-szek commented on #4044
Moreover helm does not use **microservice-template.vX** versions for config map. It still uses old one -- **microservice-template** which is causing configuration issue. Any ideas?

[2018-05-15 08:56] dsvensson opened #4054 "Room for installation documentation improvement?"
I had to run the following commands to get tiller working on my Raspberry Pi.

First to get the tiller pod running at all:
[code]

Then a service account, which is slightly mentioned in the documentation, but could perhaps be explained in more detail?
[code]

Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Helm/Tiller built from source, as no binaries available. Kubernetes f

[2018-05-15 09:01] dsvensson opened #4055 "Arm binaries/images"
When experimenting with this project on a Raspberry Pi 3 I had to build Helm and Tiller from source, and then create a Docker image based on your Dockerfile, but with busybox instead of Alpine as there is no arm image for Alpine.

https://hub.docker.com/r/arm32v7/busybox/

It would be great if binaries were part of the official builds.

[2018-05-15 11:21] snedi opened #4056 "helm throws no route to host error"
ENV

Minikube version : v0.26.1
OS : CentOS Linux 7 (Core)
VM Driver : none
kubectl version: v1.10.0
helm version: v2.8.2

`helm ls` throws an error

[code]
Steps to reproduce
1. `minikube start --vm-driver=none`
after all pods are running
2. `helm init`
3. `helm ls` - throws an error listed above
checking with kubectl
4. try `kubectl get po -n kube-system` - all pods are created and running, OK.

[2018-05-15 12:17] sheerun commented on #3409
this still happens in tiller 2.9.2

[2018-05-15 12:26] sheerun commented on #3409
Also: this happens immediately after helm says "Release "xxx" has been upgraded. Happy Helming!". It happens without `--wait` flag (with wait flag it seems OK), and far before timeout (300s timeout, fails after 100s).

[2018-05-15 12:26] KavinduZoysa opened #4057 "Can replace string in a file?"
Hi,
I am having an issue when I am trying to deploy a configmap using helm. Issue is explained as follows.
Lets assume I have helm chart which has the folder structure as follows.

├── charts
├── Chart.yaml
├── conf
│   └── tee.xml
├── templates
│   └── ConfigMap.yaml
└── values.yaml

tee.xml is shown below.

ConfigMap.yaml is shown below.
[code]
part of the values.yaml is shown below.
`from: Shas

[2018-05-15 12:33] huang-jy commented on #3409
@sheerun did you try with the version above?

[2018-05-15 13:05] bacongobbler commented on #4056
"no route to host" typically means there's a networking error between your client and the API server. Can you check and confirm if you can actually communicate with the k8s cluster with kubectl?

[2018-05-15 13:07] bacongobbler commented on #4044
This is intentional by design. Helm creates a ledger of config maps, one for each release. You can limit the number of releases tiller stores with the TILLER_RELEASE_MAX variable IIRC. It should be in the documentation. :)

[2018-05-15 13:33] snedi commented on #4056
Yes, here is kubectl output

[code]

вт, 15 мая 2018 г. в 16:06, Matthew Fisher <notifications@github.com>:

[2018-05-15 13:35] snedi commented on #4056
Kubectl output

[code]

[2018-05-15 15:27] s-spindler opened #4058 "<CHARTNAME> is not replaced in hidden files"
When using a custom starter via `--starter` the `<CHARTNAME>` placeholder is not replaced in hidden files like `.helmignore` or any custom dot-file.

Helm version: 2.9.0

[2018-05-15 15:36] s-spindler opened #4059 ".gitignore cannot be part of starter"
If the `.helmignore` file in a starter contains a line with `.gitignore` (as is the case for the default starter) the `.gitignore` file will be missing from the created chart directory.
This means you will either have to accept not having a `.gitignore` file in your starter or remove the line from `.helmignore` which would mean always having to add it again manually or having helm package it.

Is

[2018-05-15 15:43] s-spindler opened #4060 "Allow custom Chart.yaml in starters"
As per the [docs](https://github.com/kubernetes/helm/blob/master/docs/charts.md#chart-starter-packs) the Chart.yaml in a starter is overwritten:

Is there any reason for this limitation?

The current behaviour is especially confusing as helm _does_ require a Chart.yaml to be present:
[code]

Helm version: 2.9.0

[2018-05-15 17:01] adamreese commented on #3675
I paired with @technosophos on this and found two issues beings discussed in this thread.

The first one is a bug that was introduced in the refactor on kubernetes v1.10 that no longer validated objects against a schema. Fixed now in #4042.  This should capture all the examples listed in the issue.

The second issue is how we handle releases in a failed state.  When a failure occurs during a relea

[2018-05-15 17:39] meetri commented on #4014
looks like helm is having problem deleting statefulsets as well,

`
[kube] 2018/05/15 17:35:34 Starting delete for "search" StatefulSet
[kube] 2018/05/15 17:35:34 Using reaper for deleting "search"
[kube] 2018/05/15 17:35:34 the server could not find the requested resource
`

tried with the latest version as well
`
Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e

[2018-05-15 17:53] numbsafari commented on #3275
I'm experiencing the same issue as @ramyala with ClusterRole. The ClusterRole exists, but creating the RoleBinding fails with that error.

[2018-05-15 18:32] sudermanjr opened #4063 "helm init --upgrade does not apply entire manifest"
When performing an update of the tiller, only certain fields are updated.  This causes an issue when you want to change some settings in the tiller that were set using the --override or other flags.

Looking here: https://github.com/kubernetes/helm/blob/master/cmd/helm/installer/install.go#L61 it would appear that only the image, pull policy, and service account are checked when doing this operati

[2018-05-15 19:27] jgleonard commented on #4058
Dotfiles are ignored on purpose, but I'm not sure why...

The rule added in the call to `AddDefaults` sourced in `pkg/ignore/rules.go` seems to be the root cause here.

I can create a PR with the change, but I'm not sure it's the RightThing to remove.

[2018-05-15 22:33] sheerun commented on #3409
More news: tiller crashes also with `--wait` flag. The reason seems to be too much revisions because it crashes after following logs. Also, for now I can only try v2.5.1 because I use old kubernetes and tillers downgrades itself automatically.

[code]

I didn't find solution for this one. I needed to migrate to new cluster.

[2018-05-15 22:35] bacongobbler commented on #3409
2.9.2 doesn't exist... did you mean 2.8.2 or 2.9.1?

[2018-05-15 22:39] sheerun commented on #3409
Yes 2.9.1, but it turned out tiller on Azure automatically downgraded to 2.5.1 so I don't know if it's still an issue on 2.9.1. The bug was most likely due to too many revisions (more than 600).

[2018-05-16 03:41] GKTheOne commented on #3141
What does this do to the comments/etc in the archive package? eg, are they stripped or left alone or ??

Currently I'm trying to do the same thing with [`yq`](https://github.com/mikefarah/yq) but it just dumps the final values after processing. ie, all the comments, blank lines for organisation, etc are gone.

[2018-05-16 03:45] KavinduZoysa commented on #4057
Hi,

I was able to find the solution to above issue by using "replace". I have attached the relevant helm files below.

ConfigMap.yaml
[code]
tee.xml
[code]

Part of values.yaml
`
from: Cigra`

By running helm install we can create the config map which is replaced the key "<from>John</from>" from the word "Cigra"

[2018-05-16 03:45] KavinduZoysa commented on #4057
Solved

[2018-05-16 03:58] KavinduZoysa opened #4065 "Does helm support xpath?"
Hi,

Currently, I am working on creating configMaps using helm. I am facing an issue that I cannot replace a value of xml file using xpath. I have explained my task below

I have a xml file called tee.xml which should be added to my config map.

The folder structure of helm chart is shown below.

├── charts
├── Chart.yaml
├── conf
│   └── tee.xml
├── templates
│   └── ConfigMap.yaml
└── values.yam

[2018-05-16 04:56] bacongobbler commented on #4057
If it works, it works. Using `replace` to replace every instance of a substring within the string sounds sensible to me.

[2018-05-16 04:59] bacongobbler commented on #3141
#3471 stripped all the comments out, which is why we needed to back that PR out. See https://github.com/kubernetes/helm/pull/3471#issuecomment-381779783 for more info

[2018-05-16 06:17] przemolb opened #4066 "map has no entry for key "fullnameOverride""
Output of `helm version`: v2.9.0

Output of `kubectl version`: v1.10.1

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

[code]

[2018-05-16 06:29] przemolb commented on #4066
I have just upgraded my helm to v2.9.1 but still have the same error.

[2018-05-16 07:29] SlickNik commented on #4057
I agree -- using `replace` sounds like a pretty good option in this case.

@KavinduZoysa given this solution works, let me go ahead and close out this issue. Feel free to re-open if this didn't work quite as expected or if you have any  other related questions. Thanks!

[2018-05-16 07:29] #4057 closed

[2018-05-16 07:50] SlickNik commented on #4058
Hi @jgleonard, thanks for reporting this!

Taking a closer look it looks like this is likely by design -- the idea being to not interpret the dotfiles as YAML when loading templates since tools and OSes may create random dotfiles (more context at: https://github.com/kubernetes/helm/issues/1018 and the linked PR).

[2018-05-16 08:01] SlickNik commented on #3675
@adamreese Thanks for the update and the fix!

Given that we have the fix for this in #4042 and are planning to further address this reconciliation with our Helm 3 design, should we go ahead and close out this issue? Or would you prefer to keep it open to validate the Helm 3 design against?

[2018-05-16 08:25] edwardstudy commented on #2409
@rabbitfang Hi, I upgraded helm but got same error:

[code]

[2018-05-16 08:30] svidrascu commented on #3889
This is still happening in 2.9.1

Client Version: version.Info{Major:"1", Minor:"9+", GitVersion:"v1.9.2-eks.1", GitCommit:"e6c42d312ce5a80461ce10e6543e8fe0346bf065", GitTreeState:"clean", BuildDate:"2018-02-16T21:41:28Z", GoVersion:"go1.9.2", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.4", GitCommit:"9befc2b8928a9426501d3bf62f72849d5

[2018-05-16 08:36] dsvensson commented on #4054
Yep. Not sure what level the documentation should be wrt knowing about single k8s scheduling default settings. I'm very new to this, so it took a while to figure out the taint part. Now that I rechecked the documentation, what I did wrt tiller role ought to be equivalent to what is described here:

https://docs.helm.sh/using_helm/#role-based-access-control

..which I did read, but obviously gave t

[2018-05-16 08:44] SlickNik commented on #4045
Thanks for the write up of the issue and the detailed root-cause analysis, @robinkb!

[2018-05-16 08:47] svidrascu commented on #3889
Seems the problem arises when using helm 2.9.1 with a kubernetes cluster older than 1.10.

The deletion worked fine when doing it on a 1.10.2 cluster.

[2018-05-16 09:09] sta-szek commented on #4044
ok, thanks for TILLER_RELEASE_MAX -- i will use it!
also we tried to reproduce that but we couldn't.
i think we can close this issue.

[2018-05-16 09:09] #4044 closed

[2018-05-16 11:06] jgleonard commented on #4058
@SlickNik Thanks, based on the reasoning in there, I closed up #4064 but at least it got me familiar with the codebase.  I'll poke at another issue instead to start contributing.

[2018-05-16 11:46] huangyuqi commented on #3985
the issue can be fixed just by exec
`kubectl -n kube-system patch deployment tiller-deploy -p '{"spec": {"template": {"spec": {"automountServiceAccountToken": true}}}}'`

[2018-05-16 12:59] bacongobbler commented on #3985
It's also been fixed in 2.9.1. :)

[2018-05-16 13:00] thomas-riccardi commented on #3171
I still reproduce the issue with helm 2.9.0.

[2018-05-16 13:02] bacongobbler commented on #3171
We still need to bump cobra to bring in this fix. Re-opening!

[2018-05-16 13:04] bacongobbler commented on #2409
Is it possible ./scripts/helm_mac is using a different client? You call both that script and helm directly in that example.

[2018-05-16 14:31] bacongobbler commented on #2409
That makes sense then... As it's been mentioned a few times in this thread now, the Helm 2.8.2 client does **not** have this fix. You need to use the 2.9 client if you want to use `helm get manifest`. The fix was purely client-side.

[2018-05-16 20:09] wstrange commented on #3857
I think we are hitting a variant of this issue with an NFS provisioned storage volume. What I think is happening:

helm delete is run on the deployment that has a PVC
The pod is deleted, but it does not terminate immediately
The pvc is deleted, but the pod deletion is still in progress..

This leaves the pod in a permanent pending termination state. It must be deleted using --force. The kubelet lo

[2018-05-16 23:30] mattfarina commented on #2751
@teaguecole Did you start working on this one?

[2018-05-16 23:33] teaguecole commented on #2751
@mattfarina I have not... I was going to, but I probably have taken too much on my plate from another SIG... If you want to snatch it from me, you can take it.  Thanks for reminding me, I was going to release it to the wild in case others want to jump on it.

[2018-05-16 23:34] teaguecole commented on #2751
I am not opposed to working on it, I would just need guidance as it would be my first PR and I am not familiar with the code base.

[2018-05-16 23:43] mattfarina commented on #4030
It appears this is the expected escape behavior. For the code location see https://github.com/kubernetes/helm/blob/b6660cd5c9a9ee35ff24034fcc223b7eaeed3ee2/pkg/strvals/parser.go#L309

For Helm 2 we should document this as changing it would cause a backward incompatibility.

[2018-05-16 23:56] yenicapotediaz commented on #4038
I'll take this one

[2018-05-17 00:25] bacongobbler commented on #4030
labelling this as a good first issue if someone wants to do a deep dive around the --set parser and document their findings.

[2018-05-17 01:17] edwardstudy commented on #2409
@bacongobbler Sorry, I missed that `get manifest` command was using v2.8.2.

[2018-05-17 07:39] abhishenator opened #4073 "Ability to cross reference subcharts"
Here are my requirements:
-- I m creating an umbrella chart where subcharts services need to refer each other(eg: Kafka depends on zookeeper). The subcharts are independently developed.
-- I want to refer to the service name created in one subchart in another subchart's "values". (I dont think this is possible as values.yaml cannot be templatized. This enforces us to modify subcharts templates.)
-

[2018-05-17 07:41] SlickNik commented on #4058
@jgleonard No worries, thanks for taking a stab at it! You probably already knew this but good starter issues are tagged with `good first issue` -- just something to look at which might help with picking another issue. Thanks!

[2018-05-17 09:01] edwardstudy opened #4074 "Tiller and its node down when delete one node"
Hi,

I just deleted one node manual, and this node 10.177.53.20 was `SchedulingDisabled`:

[code]

After my pods on node 10.177.53.20 recreated, node 10.177.53.20 removed.
[code]

After a while, node 10.177.53.45 was not ready so tiller was down.
[code]

---------------------------

Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube e

[2018-05-17 09:32] edwardstudy commented on #4074
And broken node had stopped Kubelet.

[code]

[2018-05-17 09:53] Adiqq opened #4075 "Artifactory - insufficient error description"
This is issue related to https://github.com/kubernetes/helm/issues/3858
There are 3 types of repositories for helm in Artifactory: local, remote and virtual. Artifactory requires to use virtual repository for downloading charts.
It would be nice to inform user, when he uses incorrect repository type, because currently I received error below, when trying to use local repository instead virtual.

[c

[2018-05-17 09:58] WesleyCharlesBlake commented on #2868
one thing be sure to do is run `helm repo update` to refresh the repo of changes

[2018-05-17 10:46] #3264 closed

[2018-05-17 14:33] tomislater commented on #3275
On Helm `2.9.1` I have encountered the same issue:

[code]

While I see this ConfigMap on my cluster.

[2018-05-17 15:13] tomislater commented on #4066
It only occurs if I use `helm lint --strict`. Without `--strict` flag it works fine.

[2018-05-17 15:44] schollii commented on #1809
Some k8s resources like Service get the release name prepended so that multiple releases can coexist (otherwise nameclash would occur and prevent installation).

[2018-05-17 15:45] przemolb commented on #4066
Ok - will try without `--strict` then. But shouldn't it pass all the tests  even with `--strict` ;-)

[2018-05-17 15:49] tomislater commented on #4066
If you use `--strict` flag it will fail on lint warnings. I assume that it is a warning.

[2018-05-17 16:48] michelleN opened #4076 "plugin discoverability"
Output of `helm version`:

Output of `kubectl version`:

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

[2018-05-17 17:00] omkensey opened #4077 "Helm needs a complete template function reference"
A very common issue users have writing charts is not knowing what chart functions are available, how to call them, and what their behavior is.  It would be good to have a nicely formatted complete reference:

* Functions by category with an alphabetical index
* Arguments they take and their types
* Expected output
* Examples of how they could be used in charts (example arguments, a template snippe

[2018-05-17 18:36] adshmh commented on #2742
I can submit a PR for this. But the release RPC endpoint already returns the whole Info struct, of which Notes is a member (via Status field):

https://github.com/kubernetes/helm/blob/b6660cd5c9a9ee35ff24034fcc223b7eaeed3ee2/pkg/tiller/release_status.go#L59-L63

Should I just reuse that in the new Helm CLI feature, i.e. helm notes, or add a new RPC endpoint? @bacongobbler would appreciate your adv

[2018-05-17 19:30] bacongobbler commented on #2742
I think it's best to re-use existing RPC endpoints where possible :)

It's been a while since I've dug into the code, but if I recall we should be able to re-use all of `helm status`'s RPC endpoints, just returning the Notes struct from the release Info object.

[2018-05-17 20:15] CourseraStudent58 commented on #3189
Another possible use case:  A large project has charts used by multiple apps placed in common directory.  One of these  common charts might contain a configMap, defined once, but referenced by all instances of apps that require that common chart.

[2018-05-18 07:56] stefanthorpe opened #4080 "Error: failed to download "stable/nfs-server-provisioner""
Trying to run a simple install but suddenly getting this message.

``helm install stable/nfs-server-provisioner```

I've previously installed other packages.

[2018-05-18 09:08] #3273 closed

[2018-05-18 09:49] adshmh opened #4082 "helm Template command unit tests leak output to stdout during build"
During build, the unit tests of Template command leak output to stdout:

[code]

[2018-05-18 09:52] cpnielsen opened #4083 "Implicitly include values without override on update/install"
This is regarding the helm library, **not** the command-line client.

When installing or updating a chart, values from the chart `values.yaml` are not included unless you pass `helm.UpdateValueOverrides` or `helm.ValueOverrides`, regardless of whether you have overrides or not.

Example:

[code]

In cases where no overrides are necessary (in my case I do automated deployment from a service), I ass

[2018-05-18 09:54] rmfish opened #4085 "Dose Helm support invoke istioctl create rule file"
We use `helm push/upgrade`  in CI/CD jobs.
The CI job add some relational istio RouteRule files in the release chart.
Dose helm support  invoke `istioctl create  rule file`  while `helm install/upgrade` ?

[2018-05-18 11:49] gintautassulskus commented on #3785
I am getting the same issue with 2.9.1 despite the existing deployment running in that namespace.
[code]

[2018-05-18 12:32] mbelang commented on #3173
Is there somebody that had a combination of Helm version + + k8s version + k8s api version that actually work with the helm --wait?

[2018-05-18 15:04] Stono opened #4086 "Concurrency issues when namespace doesn't exist"
Please see https://github.com/roboll/helmfile/issues/149 for more information, but at a very high level it'd be great if when `helm install --namespace` results in a namespace being created, if that namespace gets created before helm attempts to execute the command, and results in a `namespace already exists`, helm shouldn't really fail.

This is replicated via concurrency of running two `helm ins

[2018-05-18 15:47] ritazh commented on #3675
Thanks everyone for chiming in and fixing this bug!!! 👏  If it's ok with everyone, let's keep this issue open so we can validate how we handle releases in a failed state against Helm 3.

[2018-05-18 17:13] OndraZizka opened #4087 "get_helm.sh doesn't work"
Right now I have downloaded get_helm.sh, and while I use the exact arguments it suggests, it claims they are inalid:

[code]

Output of `helm version`:
Does not matter, but the installed is 2.8.0

Output of `kubectl version`:
Doesn't matter, but:
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.2", GitCommit:"5fa2db2bd46ac79e5e00a4e6ed24191080aa463b", GitTreeState:"clean", Build

[2018-05-18 18:17] Cryptophobia opened #4089 "Helm release naming can be a bit rude"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): Minikube

[code]

ugly-monkey? The release is NOT an ugly monkey. This isn't the first time helm has disrespected. We don't have to take that from helm!

[2018-05-18 18:27] nerumo commented on #3275
I experience this issue if I have a multiple resources with hooks in one file

[2018-05-18 18:51] Stono opened #4090 "Renaming a deployment resulted in a failed helm upgrade"
Hola,
Helm: 2.9.1, k8s 1.9.7.

We had a bunch of deployments that had `metadata.name: app`, which resulted in our pods all being called `app-deployment-id`, which was kinda poor from a visualisation perspective.

We edited the helm charts to be `metadata.name: something-else`, but then the `helm upgrade` failed with an error about there being no deployment with the name `something-else`.

We then

[2018-05-18 19:29] vielmetti commented on #1804
@dsvensson - i can get you a 64-bit Arm system through the Works on Arm project. See https://github.com/worksonarm/cluster/issues/new to fill out a request.

[2018-05-18 19:32] bacongobbler commented on #1804
ARM client release binaries are available, just not tiller releases.

e.g. for 2.9.1 it's available [here](https://storage.googleapis.com/kubernetes-helm/helm-v2.9.1-linux-arm.tar.gz) ([checksum](https://storage.googleapis.com/kubernetes-helm/helm-v2.9.1-linux-arm.tar.gz.sha256))

[2018-05-18 19:51] kfox1111 commented on #1804
tiller would be nice. any plans on that? being able to hand out cheep kubernetes single node clusters that fit in your pocket that support helm would be pretty cool. :)

[2018-05-18 20:03] thomastaylor312 commented on #3173
@mbelang It works for me with `apps/v1` on k8s 1.10 and Helm 2.9

[2018-05-18 20:19] mbelang commented on #3173
@thomastaylor312 This is good news. Now we need to figure if it will work with `apps/v1beta2`. According to this it should: https://github.com/kubernetes/helm/pull/3407

[2018-05-18 21:44] cristifalcas commented on #3208
In my case ``helm upgrade --install --force`` did a ``delete --purge`` and after that an install.

Is this the expected behaviour? I've almost lost 2 months of work because of this. When did ``force`` started to mean ``delete``?

[2018-05-18 23:33] alexvicegrab opened #4092 ""helm create" command and best practices regarding "template" and "include""
I noticed that when I use the helm create command, the deployment, service and ingress objects make use of the "template" keyword in favour of "include", even though the latter is suggested as preferred.

https://github.com/kubernetes/helm/blame/master/docs/chart_template_guide/named_templates.md#L262

Using "include" exclusively in the simple example created by "helm create" would make the chart

[2018-05-18 23:45] alexvicegrab commented on #4092
Created pull request with proposed changes:

https://github.com/kubernetes/helm/pull/4093

[2018-05-19 03:32] stealthybox commented on #3208
^ I had some conversations with folks at kubecon and found that quite a few teams are pinned to v2.7.0 because of this behavior change.

I agree that `upgrade install` should never ever be destructive.
@bacongobbler, sorry I wasn't able to meet up when we were out in CPH.
Is there documentation behind the rationale for changing the behavior to not allow upgrading a failed release?
The old behavior

[2018-05-19 03:43] bacongobbler commented on #3208
See the second comment in https://github.com/kubernetes/helm/issues/3353 for background context on why we had to make that change

I'm really curious to hear what is the proposed path going forward. We cannot back out #3097 because of the problems demonstrated in #3353, so I'd love to hear what the community thinks is the right path forward to fix this issue. We can back out #3597 but from what I'

[2018-05-19 03:46] bacongobbler commented on #3208
I know we're working on re-working the apply logic for Helm 3 but that's a long way out

[2018-05-19 03:52] jaredallard commented on #1193
I'd be willing to create a PR to fix this behavior, but I'd like to know what the intended or suggested way of handling this. Even a CLI flag that allows --force to take precedence would be great.

[2018-05-19 09:26] gintautassulskus opened #4095 "Upgrading releases with immutable resources (e.g. persitentVolume)"
Is there a way to perform a release upgrade with a modified `persistenVolume`? Even if I delete the volume in the cluster, I still get:
`Error: UPGRADE FAILED: PersistentVolume “postgres-data” is invalid: spec.persistentvolumesource: Forbidden: is immutable after creation`

I understand that some resources or their properties are immutable after creation. However, there must be a way to update suc

[2018-05-19 17:01] jstoja commented on #4087
I just tried this on my local machine and it worked perfectly.
What OS are you using, which version and which version of `curl` and `openssl` are you using?

[2018-05-20 03:31] stealthybox commented on #3208
Thanks for linking that @bacongobbler :)
Your suggestion here sounds like a reasonable approach:

This would allow us to back out #3597 since the only failure case (nothing to diff against) would be addressed.
This makes `upgrade --install` non-destructive again and more similar to `kubectl apply`.

[2018-05-20 10:49] openthings commented on #4020
I have updated to V2.9.1,But problem still existed.
[code]
I am using:
[code]

[2018-05-21 09:39] OndraZizka commented on #4087
Os Linux, Ubuntu 18.04.
[code]

[2018-05-21 09:40] OndraZizka commented on #4087
This looks more like the attributes handling issue FWICT.

[2018-05-21 10:04] nick4fake commented on #2399
/remove-lifecycle rotten

[2018-05-21 11:34] jstoja commented on #4087
I just tried it right now on a new box and I have no issues, that's why I think there's something else going on.

[code]

[2018-05-21 12:35] gintautassulskus opened #4097 "Print --debug information before yaml validation"
When running
[code]

I receive the following error:

[code]

The `line 84` provided in the error message most probably points to a line in the final yaml file.
The `deployment.yaml` template file is complex and full of Helm control structures. Therefore `line 84` does not necessarilly correspond to the same line in the template and the final yaml files.
I find it difficult to debug yaml validation

[2018-05-21 13:04] viroos commented on #2918
I have  the same error:
helm init --tiller-image gcr.io/kubernetes-helm/tiller:v2.7.2
kubectl rollout status deployment/tiller-deploy --namespace kube-system --watch=true"
Waiting for deployment spec update to be observed...
Waiting for deployment spec update to be observed...
Waiting for rollout to finish: 0 out of 1 new replicas have been updated...
Waiting for rollout to finish: 0 of 1 updated

[2018-05-21 13:04] viroos commented on #2918
/remove-lifecycle stale

[2018-05-21 14:10] v1k0d3n commented on #1998
@technosophos, this is a pretty old issue but maybe it could be retitled for the federation-v2 model? most everyone is well aware of this work already, but for those who aren't it can be found [at this link](https://github.com/kubernetes-sigs/federation-v2).

[2018-05-21 14:10] OndraZizka commented on #1707
Seeing this bug too with Helm 2.9.1

[2018-05-21 14:46] OndraZizka opened #4098 "`helm lint` doesn't support `--set-string`"
Following htting issue #1707 , I have switched everything to `--set-string`.

    + helm lint ./csa-application/src/main/helm/charts/collab-services-api --set-string image.tag=57e15901
    + helm install --replace --name h4452 --wait --timeout 600 ./... --set image.tag=44526276

What a surprise when I get this:

    Error: unknown flag: --set-string

This should be consistent; how else can `helm l

[2018-05-21 14:47] rmfish commented on #4085
fixed.

[2018-05-21 14:47] #4085 closed

[2018-05-21 15:02] OndraZizka opened #4099 "`helm lint` doesn't verify the image name"
`helm lint` should check the image name and tag format. That doesn't need a connection, just a regex match.

For instance, Docker documentation says:

And yet, `helm lint` didn't catch an invalid image:
[code]

[code]
The problem is that issue #1707 turns this to `image: ...:4.4526276e+07` and then `helm install fails`.
Regardless of the bug, the resulting pod "recipe" is invalid.

Not sure if it'

[2018-05-21 15:03] OndraZizka commented on #1707
I wonder why `helm lint` doesn't catch this? See #4099

[2018-05-21 18:15] chirangaalwis commented on #4065
@KavinduZoysa +1 for the request.

[2018-05-21 18:24] mattfarina opened #4100 "Convert docs to gitbook"
[gitbook](https://www.gitbook.com/), which we can host on our own, would be a good option to move our docs to for 3 reasons:

1. Search right in the docs
1. Can do multi-lingual (we should head there)
1. We could stop maintianing our custom business logic (like [this example](https://github.com/helm/helm-www/blob/00d09fbe6fcc73096bb6b025584a551a48577e7d/docs.helm.sh/gulpfile.js#L227))

A downside

[2018-05-21 18:26] mattfarina opened #4101 "Document Specs"
We currently have 2 specs and with Helm 3 we're going to iterate on versions. These are the repo and the chart. We should document these so that others can write things that interact with them knowing what they're getting.

[2018-05-21 18:38] deadishlabs commented on #3055
@nguyenhuuloc304 I ran into the same issue. I had to make the `cluster-admin` ClusterRole.

[code]

[2018-05-21 19:13] jgleonard commented on #4087
@OndraZizka you may want to make sure that your ca-certificates package is up to date and you're able to use TLS 1.2

https://githubengineering.com/crypto-removal-notice/

Github deprecated older protocols and the curl error that you're seeing is indicative of a TLS protocol issue.

[code]

[2018-05-21 19:41] mattfarina opened #4102 "Document using gotpl"
In the Kubernetes Application Survey 2018 numerous people noted that gotpl + sprig isn't well known or documented anywhere. IMHO, the gotpl isn't well documented. For Go developers this is sorta ok because they know how to navigate Go. For those coming from other languages and are just using Helm this is a practical problem.

We should document using the templating system so that users who don't k

[2018-05-21 19:46] mattfarina opened #4103 "Multi-lingual Helm text"
Kubernetes, and a lot of other things, work in multi-lingual environments. Helm's output is currently English. Is it time to go multi-lingual? We could start with the tools and find people interested in translating.

[2018-05-22 00:17] brbarnett commented on #2680
I have the same issue as @dotw, specifically with cert-manager. I've forked cert-manager and even added the crd-install hook annotation to the issuer CRD, but I still get `apiVersion "certmanager.k8s.io/v1alpha1" in app/templates/issuer.yaml is not available`

[2018-05-22 07:30] Dean-Coakley commented on #4099
I'm happy to take a look at this. Could someone validate that this issue is within the scope of `helm lint`?

[2018-05-22 07:34] mcfedr commented on #4039
Seeing this same issue when trying to upgrade any charts with `--reuse-values`

Version

[code]

if I add `--set some=thing` then its fine, and the upgrade works.

[2018-05-22 07:38] Dean-Coakley commented on #4063
I'm going to take a look into this. First Time Contributor, so if anyone wants to state the obvious: what explicitly should/shouldn't be updated, etc. That would be appreciated.

[2018-05-22 07:52] bacongobbler commented on #4099
I think this is better served upstream where the kubectl API is applied here

[2018-05-22 08:19] eranreshef commented on #3910
Any news on this issue?

[2018-05-22 09:07] bcorijn commented on #3208
Intuitively, that is what I would expect a `upgrade --force` to do: don't do a diff-and-patch operations but just apply the complete template, ignoring what is in place at the moment. I can't really think of any technical reasons why this would not be possible, but I am not familiar with the inner workings of Helm either.
It can still be a dangerous operation but anyone using a `--force` flag norm

[2018-05-22 11:32] DoctorZK commented on #1950
/close

[2018-05-22 13:04] robermorales commented on #1193
Agree on the importance.

This problem can be weird when you cannot simply delete a deployment.

[2018-05-22 13:34] sudermanjr commented on #4063
@Dean-Coakley That's awesome.  I can't think of a reason why we wouldn't just want the entire manifest applied, but perhaps someone else here can think of something else.

[2018-05-22 13:42] dsvensson commented on #1804
@vielmetti @bacongobbler I would have expected to find the Helm binaries here:

https://github.com/kubernetes/helm/releases

[2018-05-22 14:43] vielmetti commented on #1804
@dsvensson - there is a set of Tiller and Helm builds (unofficial) for mulitarch, including arm, at https://github.com/jessestuart/tiller-multiarch from @jessestuart .

[2018-05-22 15:08] wackerman commented on #2071
I am gettting this error as well
Hang tight while we grab the latest from your chart repositories...
...Unable to get an update from the "local" chart repository (http://127.0.0.1:8879/charts):
	Get http://127.0.0.1:8879/charts/index.yaml: dial tcp 127.0.0.1:8879: connect: connection refused
...Successfully got an update from the "cassandra" chart repository
...Unable to get an update from the "st

[2018-05-22 15:31] thomas-riccardi opened #4107 "Duplicate keys in values.yaml are silently ignored"
Output of `helm version`:
[code]

Duplicate keys in values.yaml are silently ignored: only the last value is used, no warning or error is raised.

Scenario:
[code]

Expected behavior: raise an error on duplicate key, or at least a warning.
Actual behavior: silent override `image` with latest value.

Silently overwriting the first key value can hide errors (for example a subtree copy/past with typo

[2018-05-22 16:37] owenhaynes opened #4108 "Helm dependency build fails when single version with multi meta tags"
Owen fault delete me using some helm code to generate index, but weirdly helm coverts to json first

[2018-05-22 17:46] jasoncarreira opened #4109 "invalid version/constraint format: improper constraint"
I'm having  a problem with what should be a simple task. I have a Helm chart with no templates and this for requirements.yaml:

dependencies:
- name: keycloak
  repository: http://storage.googleapis.com/kubernetes-charts-incubator
  version: "0.4.0"

Running my script gives this:

[code]

I've tried this with the name incubator/keycloak as well and with the version quoted, not quoted, and absent.

[2018-05-23 01:13] RyanHartje commented on #4089
While funny, this project doesn't have a short to do list. Are you jesting, or requesting that the community focus on obstructing certain randomized name combinations? If you are kidding, it would probably be appreciated if you closed this issue.

[2018-05-23 02:36] Cryptophobia commented on #4089
![infinite_monkey_typewriter](http://jeffa.tech/content/images/2014/05/ChimpAtTypewriter-2006679863.jpg)

Nothing in this life is truly random. With [infinite monkey theorem](https://en.wikipedia.org/wiki/Infinite_monkey_theorem) we will create a greater release tool then helm or maybe we will create tools that will come up with names for software releases that represent what the software actually

[2018-05-23 04:43] michaelfig commented on #3053
Rather than an annotation to prevent updates, could we have an annotation on the source template to say it shouldn't overwrite anything?

[2018-05-23 07:11] anemptyair opened #4110 "Could i add a tag in deployment to separate which deployments would be installed to "dev" stack, which would be installed to"qa" stack."
Output of `helm version`:2.8.1

Output of `kubectl version`:1.9.5

Cloud Provider/Platform (AKS, GKE, Minikube etc.): AKS

Using unique charts template , how to separate deployments from different stack, could i add a tag in deployment to separate which deployments would be installed to "dev" stack, which would be installed to"qa" stack ?

[2018-05-23 07:34] bacongobbler commented on #4089
This is not the place for trolling, @Cryptophobia. Please conduct yourself in a professional manner as per the Kubernetes' Code of Conduct. You have been warned. :)

https://github.com/cncf/foundation/blob/master/code-of-conduct.md

The random name generator comes from [moniker](https://github.com/technosophos/moniker) so if someone wants to fire a quick PR upstream that'd be a good place to start

[2018-05-23 07:59] #4108 closed

[2018-05-23 08:29] hummelo commented on #2947
same issue exsits with version 2.9.1

[2018-05-23 09:04] krogon opened #4111 "Proposal: labeling releases"
My proposal is to introduce labels on releases, as similar to kubernetes ecosystem.
This would allow easier filtering the releases or marking as "managed" by 3rd party applications.

## Proposal examples below.

### Listing
[code]
### Filtering
[code]
### Deleting
[code]

[2018-05-23 09:11] jstrachan opened #4112 "create alpha/beta helm 3 binary downloads?"
We'd love to move to the 3.x helm ASAP on Jenkins X.

I wonder if its time to add a set of helm 3 release binaries so folks can try it out? Its fine to be in alpha/beta a while but still have binaries?

[2018-05-23 09:22] jstrachan commented on #4112
wonder if until helm is GA we call the binary `helm3` for now - so folks can try out helm 3.x while keeping `helm` around for their 2.x uses?

[2018-05-23 09:37] alnhk opened #4113 "any helm template to scale up storage container for "/" mount point"
Output of `Helm version`:
Client: &version.Version{SemVer:"v2.8.2", GitCommit:"a80231648a1473929271764b920a8e346f6de844", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.8.2", GitCommit:"a80231648a1473929271764b920a8e346f6de844", GitTreeState:"clean"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.0", GitCommit:"fc32d2f3698e36b93322a34

[2018-05-23 09:41] omerlh commented on #3785
Is there an update on this issue? I'm experiencing the same issue...

[2018-05-23 11:20] mf-lit opened #4114 "remote error: tls: bad certificate"
I'm relatively new to k8s and helm, but have been happily running with both for a few weeks now. I use TLS to secure my helm-tiller connection.

Yesterday, I did a kops rolling-update on my cluster (in AWS) in order to increase the instance size of my nodes, which caused a few niggles but fundamentally worked, all my resources remained on-line and are operational. But suddenly my helm client can't

[2018-05-23 14:16] bacongobbler commented on #4113
Hey, I think this is best suited as a ticket over at kubernetes/charts as an enhancement request to the MySQL chart. Thus doesn't appear to be a  issue with helm but with the chart itself. Would you mind opening a ticket there? Thanks :)

[2018-05-23 14:37] jfillo commented on #4066
I just ran into this as well with helm version 2.9.0.

The log line from przemolb's original report indicates that this is an error, not a warning.

[2018-05-23 15:21] Cryptophobia commented on #4089
I have submitted the PR to remove "smelly" and "ugly". Thanks. https://github.com/technosophos/moniker/pull/10

[2018-05-23 15:22] agill17 opened #4115 "Subchart order of execution in an umbrella chart"
I have an umbrella chart with multiple sub-charts, I simply want to make sure that subchart1 runs before subchart2, etc. How can we define the order of subchart execution?

Seems like hook-weights only apply relative to the chart that declares them.

Helm Version:
Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}
Server: &version.

[2018-05-23 16:15] #4013 closed

[2018-05-23 16:16] bacongobbler commented on #4013
It's good for now. We'll have to take a good long look at the docs for helm 3 but that shouldn't stop us from documenting the right things for Helm 2 users. Thanks!

[2018-05-23 17:49] agill17 commented on #4115
Realized that this is not possible, closing this.

[2018-05-23 17:49] #4115 closed

[2018-05-23 19:43] AmazingTurtle commented on #2464
Upgraded vom v2.7.2 to v2.9.1 using `helm init --upgrade` (also tried `helm init --service-account default --upgrade`). Still had to apply fix https://github.com/kubernetes/helm/issues/2464#issuecomment-381101015 (automountServiceAccountToken helped).

Worth to mention: Running minikube with rbac enabled (https://gist.github.com/F21/08bfc2e3592bed1e931ec40b8d2ab6f5)

[2018-05-23 20:18] sfudeus commented on #3384
I observe the same issue with helm 2.9.0 from homebrew. Using the official release binary for 2.9.0 there is no certificate warning.

[2018-05-23 21:08] sfudeus commented on #3384
Your suggestion to uninstall helm, update go and reinstall helm didn't do the trick for me. I had been at go 1.10.2 already anyway, so there was nothing to upgrade. Additionally, helm seems to be installed as precompiled bottle anyway, and not compiled locally with whatever go version was installed there.

I'd agree that there isn't much that can be done here. I suppose the issue should be opened

[2018-05-23 22:42] DarthFennec commented on #3557
I figured I'd add my thoughts on the memory efficiency issue.

Would there be much downside to switching to an `index.json` instead of a YAML? I don't think there's anything in the index that can't be properly represented in JSON, and index files aren't exactly meant to be read or edited directly by humans anyway (which afaik is the main reason to use YAML). I'm seeing `encoding/json` in @mattfari

[2018-05-24 00:15] bacongobbler commented on #3557
Yes I think that's in line with what @mattfarina's been proposing in past helm dev calls (and what kickstarted the yamlbench repo). Adding index.json support to the chart repository spec as well as the Helm client may be a viable approach, then we can start figuring out if sharding's still necessary. I'd prefer we start with simpler, smaller wins and work our way up to more advanced scenarios like

[2018-05-24 02:51] krishicks commented on #1193
I found our issue was because of a failed deploy.

Helm doesn't attempt to clean up after a failed deploy, which means things like the new ConfigMap I added above get created but without a reference in the failed deploy. That means when the next deploy occurs, helm finds the resource in k8s and expects it to be referenced in the latest deployed revision (or something; I'm not sure what exact logic

[2018-05-24 03:42] jaredallard commented on #1193
@krishicks Yes, this is one way to repro it. A failed deploy + a never created resource (i.e invalid configmap) can also cause this as well i've noticed

[2018-05-24 04:09] bacongobbler commented on #4113
Closing as https://github.com/kubernetes/charts/issues/5730 has been opened

[2018-05-24 04:09] #4113 closed

[2018-05-24 05:58] #4089 closed

[2018-05-24 07:46] rmt commented on #4033
Is this perhaps related to https://github.com/kubernetes/kubernetes/issues/43168?

[2018-05-24 10:12] octplane opened #4117 "Extend the template lookup path when rendering"
Hello,

this is a feature request and I want to know the community advice before moving to a PR and/or help me figure out if my use of Helm is reasonable:

- We use Helm to `template` 10+ Charts for our infrastructure and in each of these Charts, we reuse some common parts with some slight configuration in each case: labels are normalised and applied to all objects, some specific CRDs are shared a

[2018-05-24 12:49] frankh opened #4118 "Proposal: Add an option for helm test to run in parallel"
At the moment helm tests run in serial, however as each test is a separate pod there seems to be a clear use-case for running them in parallel

I suggest a flag, `--parallel` on `helm test` to run the tests in parallel

[2018-05-24 13:15] worldsayshi commented on #1311
For some reason the `$root` workaround seemed to work for me momentarily but now it's choking on it:
`Error: UPGRADE FAILED: unable to recognize "": no matches for /, Kind=Deployment`
I didn't work on the project for a while. I have no idea what changed in between. It works when I specifically remove the $root assignment (and also the range iteration).

[2018-05-24 13:22] worldsayshi commented on #1311
Ok, so it started working again when I removed the `-` resulting in `{{- $root := . }}`. I don't understand why yet.

[2018-05-24 13:53] metral commented on #2013
/remove-lifecycle stale

[2018-05-24 13:58] jgleonard commented on #4110
You may want to add a var into `values.yaml` and then wrap the differences in a conditional against that var...
[code]

https://github.com/kubernetes/helm/blob/master/docs/chart_template_guide/control_structures.md

[2018-05-24 14:34] jessfraz opened #4120 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-24 15:51] mf-lit commented on #4114
So I'm an idiot, my tiller and helm certs happened to have expired on the same day that I did this rolling-update.

To help fellow idiots, I've added some more details to the TLS guide in the docs (as the existing suggested commands for signing certs default to just 30 days)

https://github.com/kubernetes/helm/pull/4121

[2018-05-24 15:52] bacongobbler commented on #4114
closed via #4121

[2018-05-24 15:52] #4114 closed

[2018-05-24 17:07] michelleN commented on #4120
Hey @jessfraz! We report security vulnerabilities to cncf-kubernetes-helm-security@lists.cncf.io. Given that the vulnerability reporting process for Helm works a little bit differently than for the rest of the Kubernetes project, should we create a SECURITY_CONTACTS file in the root of our project and add a description of our process there instead of what is currently in the template?

[2018-05-24 17:13] drekle commented on #1996
Just for others reference, you should just untar the chart to debug why its so big.  My problem is that my charts stored previous versions of themselves.

[2018-05-24 17:15] mattfarina commented on #3557
I like the idea of simpler wins. Given some of the non-standard library parsers claim to be better on memory I'll do some analysis on those to see if we can avoid sharding. With CI systems creating just so many releases we want to make sure the v2 solution scales the way continuous deploy's do.

[2018-05-24 17:38] jessfraz commented on #4120
We will probably still get reports to us by people who are unfamiliar with
that process so it would be helpful to know who to escalate to

On Thu, May 24, 2018 at 1:08 PM Michelle Noorali <notifications@github.com>
wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022 BFF3
pgp.mit.edu <http://pgp.mit.edu/pks/lookup?op=get&search=0x18F3685C0022BFF3>

[2018-05-24 17:47] michelleN commented on #4117
Oh that's so interesting! If I'm understanding this correctly, templates in `k8s/templates` passed in via the `-i` flag contains libraries of common template libraries you use across charts which makes lots of sense. I'll let @prydonius and @technosophos weigh in here because they did quite a bit of work a while back around patterns from common templates used across charts.

I think this feature c

[2018-05-24 18:11] michelleN commented on #4110
+1 to @jgleonard's answer. In addition to the docs that @jgleonard provided, here is an example: https://github.com/kubernetes/charts/blob/bfd531cfa1ad85de2d29c8953201ad7000000d78/stable/owncloud/templates/apache-pvc.yaml

[2018-05-24 18:12] michelleN commented on #4110
Let us know if that answers your question @anemptyair

[2018-05-24 18:19] bacongobbler commented on #4111
related: https://github.com/kubernetes/helm/issues/2734

[2018-05-24 18:21] michelleN commented on #4109
hey @jasoncarreira - that issue has to do with the version constraint specified in the Chart.yaml file of your chart. It will return that error if the version is not parseable. What does the version in the chart look like?

For more info: https://github.com/Masterminds/semver

[2018-05-24 18:21] bacongobbler commented on #4111
oh, also some other tickets that touch on a similar problem are https://github.com/kubernetes/helm/pull/2907, https://github.com/kubernetes/helm/pull/2631, https://github.com/kubernetes/helm/issues/2450 and https://github.com/kubernetes/helm/pull/2671, which was merged into Helm 2.7.

[2018-05-24 18:30] bacongobbler commented on #4112
I just ran `make` and `make build-cross` from the tip of the dev-v3 branch and it seemed to work, so I don't see why we couldn't start tossing them in CI to make it easier to test out the latest changes.

[2018-05-24 18:37] bacongobbler commented on #3384
Let's keep this open for visibility. I updated the title to reflect the issue at hand. Thanks!

[2018-05-24 18:47] #4112 closed

[2018-05-24 18:51] ivandov commented on #2055
Any updates or workarounds here?

[2018-05-24 18:53] bacongobbler commented on #4112
Done. Canary releases of helm3 can be found at

- [macOS amd64](https://storage.googleapis.com/kubernetes-helm/helm-dev-v3-darwin-amd64.tar.gz) ([checksum](https://storage.googleapis.com/kubernetes-helm/helm-dev-v3-darwin-amd64.tar.gz.sha256))
- [Linux amd64](https://storage.googleapis.com/kubernetes-helm/helm-dev-v3-linux-amd64.tar.gz) ([checksum](https://storage.googleapis.com/kubernetes-helm/he

[2018-05-24 18:59] bacongobbler commented on #1804
I've added all permutations of the release artifacts into #3975, which we can start documenting when we cut new releases of Helm. We have builds available for the following architectures:

- MacOS amd64
- Linux amd64
- Linux i386
- Linux arm
- Linux arm64
- Linux ppc64le
- Windows amd64

There are no current plans to release multi-arch images for Tiller, though in helm 3 tiller's being removed so

[2018-05-24 19:20] bacongobbler commented on #2055
This issue was labeled as a wontfix on kubernetes' side, so there will not be a way to identify the name of the kubernetes cluster through the API.

However, perhaps there may be a way to fetch the name of the current context we are using from `~/.kube/config` to connect to the cluster and supply that to the cluster.

[2018-05-24 19:21] bacongobbler commented on #2055
a similar ticket with some background context: https://github.com/kubernetes/helm/issues/2613

[2018-05-24 19:22] bacongobbler commented on #2939
closed via #4124

[2018-05-24 19:22] #2939 closed

[2018-05-24 19:33] jstrachan commented on #4112
yay thanks!!!

[2018-05-24 19:39] jasoncarreira commented on #4109
It's `0.1.0-SNAPSHOT`

I guess `-SNAPSHOT` is not a valid semver?

[2018-05-24 20:02] bacongobbler commented on #4109
It's valid semver, but the hypen notes that it's a pre-release as per [section 9 under semver law](https://semver.org/#spec-item-9).

After running that command, would you mind posting the output of requirements.yaml and Chart.yaml? I noticed in the output that there's a `echo "  version: " >> requirements.yaml` under the `make preview` target. Just wanna check if something odd is being injected i

[2018-05-25 00:01] whithajess opened #4125 "Generic Helm Chart / Common Chart - Usage"
I want to get some Direction from the community around the usage of generic/common helm charts.

It seems the current ethos is that a helm chart should be created on a per application basis, I want to challenge this and also get direction around what people should do in the use-cases that I have.

We run microservices, from a chart perspective these are almost exactly the same the main difference

[2018-05-25 04:13] johngmyers commented on #2506
/remove-lifecycle stale

[2018-05-25 07:30] mmack commented on #2013
Same issue here... It makes helm practically unusable if one tries to create namespaces and default resources (like default ingress per NS, default http backends) for "customers". If you add a new NS to the config - the upgrade fails, so does a install. Kinda stalled there...

[2018-05-25 08:41] octplane commented on #4117
Thanks for your quick feedback @michelleN !

Building a complete chart artifact it this case seems more complicated, indeed and using subchart could maybe be a nice in between solution.

I have been able to reproduce the intended behaviour using a mostly empty subchart and a requirements which has the form:

[code]

So far, this seems to do the trick for locally shared includes. Of course, if you

[2018-05-25 09:41] wemu opened #4126 "Proposal: removing "_helpers.tpl""
Hello

we currently introduce helm to our development teams and constantly see people stumble over the "_helpers.tpl" file.

What we understood from the docs and some talks is that the "values.yaml" file is sort of the API for a chart and everything that needs to be configurable is put in there. Either due to multiple deployments of the chart in the same cluster (Chart release name in tiller) or m

[2018-05-25 12:41] jgiles commented on #3414
@pierreozoux did you mean to close this issue? It looks like #3454 is still open.

I just got bit by this today; we have multiple clusters where the number of configmaps is becoming a real problem (e.g. it causes the Kubernetes dashboard to crash, see https://github.com/kubernetes/dashboard/issues/3052).

[code]

[2018-05-25 17:59] michelleN commented on #4080
hey @stefanthorpe! The nfs-server-provisioner chart is being downloaded from the `stable` repo. The first thing you'll want to do is make sure that the `helm repo list` has the following line:
[code]

If you do not see the `stable` repo listed, you can add it via `$helm repo add stable https://kubernetes-charts.storage.googleapis.com`

Can you try that out and let me know what you see?

[2018-05-25 18:02] michelleN commented on #4082
Thanks @adshmh - I wouldn't be surprised if this is happening in more than one place. It'd be great to refactor these tests to capture output but not display on stdout.

[2018-05-25 18:05] #3548 closed

[2018-05-25 18:45] adshmh commented on #4082
Yes, I see output from several unit tests during a build (some are intentional, as `Logf` has been used). I previously submitted a PR for this single case: #4084

For a more general refactoring, is there currently a preferred method for capturing the output? If so, I can submit a PR for that.

[2018-05-26 06:17] kevin-zhaoshuai commented on #3269
@vielmetti Great! I appreciate your work

[2018-05-27 11:42] #2135 closed

[2018-05-27 15:58] upolymorph opened #4128 "unable to install helm"
**Output of `helm version`:**
vagrant@k8sceph-01:~$ helm version
Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}

_but not returning (i.e. hanging without giving me back to prompt)_

**Output of `kubectl version`:**
kubectl version
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.8", GitCommit:"c138b8517815601

[2018-05-27 17:49] bacongobbler commented on #4128
How is it now? It takes some time for tiller to come up as the container is being pulled into the cluster. It shouldn't take more than a minute or two on a decent internet connection.

[2018-05-27 20:04] DrEsteban commented on #3275
+1, this is happening again with 2.9.1.  Please reopen.

[2018-05-27 20:10] redbaron commented on #2333
/remove-lifecycle stale

[2018-05-27 20:22] rpiotrow opened #4129 "Helm does not create initContainers annotations for kubernetes cluster in version 1.5.x"
When installing stable/prometheus chart in latest version (6.7.0) in Kubernetes cluster version 1.5.1 or 1.5.3 helm does not create init containers that are defined in [server-deployment.yaml](https://github.com/kubernetes/charts/blob/master/stable/promtheus/templates/server-deployment.yaml).

According to Kubernetes documentation initContainers are working in version 1.5, but need to be defined a

[2018-05-27 22:38] whithajess commented on #4125
Seems this has been talked about already here: https://www.youtube.com/watch?v=HzJ9ycX1h0c

[2018-05-28 05:35] upolymorph commented on #4128
this is still the same after 1 h and helm version command should not be hanging but returning to prompt

[2018-05-28 05:47] anemptyair commented on #4110
@michelleN it's helpful,thanks.

[2018-05-28 05:47] #4110 closed

[2018-05-28 06:26] bacongobbler commented on #4128
can you show the output of `kubectl -n kube-system describe pod tiller-deploy-7ccf99cd64-sjwmx`?

[2018-05-28 08:34] licarth commented on #2848
@dvdmuckle Me too. My workaround is to use `helm install -f values.yaml` with values being :
[code]

I end up having proper `"true"` as expected in the resulting YAML.

[2018-05-28 10:22] KavinduZoysa opened #4131 "Linking external files to the values.yaml"
Hi,

Currently, I am working on deploying MySQL using helm package. In that scenario, I want to add some custom configuration files and initialization SQL file. According to the details which are provided on GitHub, we have to paste the content of all the configuration files and all the initialization SQL files into the values.yaml file. But in my case, I have a very big initialization SQL file an

[2018-05-28 10:27] bighnaraj commented on #2030
Still shows error:
Fetched stable/mysql to mysql-0.6.0.tgz
Error: release dapper-flee failed: error validating "": error validating data: found invalid field initContainers for v1.PodSpec

[2018-05-28 10:27] so0k commented on #3134
I'm still getting this error on Helm 2.9.1:

[code]

I'm using the following chart - https://github.com/so0k/flask_app_k8s/tree/master/chart/flask-app

How to reproduce:

[code]

Running helm upgrade with `--reuse-values` flag hits this error
[code]

But without the `--reuse-values` flag, there is no error
[code]

[2018-05-28 10:31] maorfr opened #4132 "Search and Fetch return different versions of the same chart"
Hello,

We have a chart museum where we store our charts (through gitlab ci pipelines).
When executing 'helm search' it seems the result is the latest chart version, while 'helm fetch' returns the latest stable version (x.x.x, not x.x.x-something).

Is this by design? I would expect search and fetch to return the same chart version.

Here is some example output:

maor@lappy:~/helm$ helm search mus

[2018-05-28 11:01] bastianeicher commented on #3764
Hi guys, we (@andreasbieber, @typusomega) have also run into this issue.
I see there's been an open pull request to fix this for about a month. Anything blocking it being merged?

[2018-05-28 13:45] mattjmcnaughton commented on #4086
@Stono thanks for reporting this! Happy to take a stab at fixing - will release a pr soon :)

[2018-05-28 13:53] Mumrau opened #4133 "Sprig manipulation template in Helm"
Hello,

The docs suggests that :

Nonetheless, I do believe that it would be quite great to import what's left (or at least file a properly detailed handbook for what's available). Some pretty essential functions that are desperately needed in order to handle a proper global configuration (for example a deployment configuration in which you just substitute the values files for every microservice y

[2018-05-28 13:54] ssavrim opened #4134 "`helm upgrade --install` does not return error code when deployment fails"
**`helm version`:** v2.8.2+ga802316
**`kubectl version`:** v1.8.3
**Cloud Provider/Platform (AKS, GKE, Minikube etc.):**  Internal Kubernetes Cluster

`helm upgrade --install ...` returns systematically an exit code to 0 even if the status is FAILURE.
Is there an option to the command which allow returning an error code ? Or do we need to parse the output of the command ? We need this to detect fa

[2018-05-28 14:09] #3764 closed

[2018-05-28 14:11] bacongobbler commented on #2030
@bighnaraj you might be using an older version of kubernetes that doesn't support init containers.

[2018-05-28 14:12] bacongobbler commented on #4131
https://docs.helm.sh/chart_template_guide/#accessing-files-inside-templates? :)

[2018-05-28 16:50] upolymorph commented on #4128
Still no logs at all

vagrant@k8sceph-01:~$ kubectl -n kube-system get po
NAME                                 READY     STATUS    RESTARTS   AGE
etcd-k8sceph-01                      1/1       Running   1          1d
kube-apiserver-k8sceph-01            1/1       Running   1          1d
kube-controller-manager-k8sceph-01   1/1       Running   1          1d
kube-dns-6f4fd4bdf-tbztg             3/3

[2018-05-28 17:07] bacongobbler commented on #4128
@upolymorph that's why I asked for `kubectl describe` instead of `kubectl get` or `kubectl logs`; it shows the resource events including why it failed to come up. :)

[2018-05-28 18:03] bacongobbler commented on #3873
This seems related to #3384, where the bottled formula of Helm is compiled against an older release of Go. If you try using the "official" release artifacts rather than `brew install` you shouldn't see this issue. [GoFish](https://www.gofi.sh/) fetches down the release binaries if you prefer using a package manager.

[2018-05-28 18:07] bacongobbler commented on #3873
Yeah, downgrading to Helm 2.8.2 will also work because it's compiled against Go 1.8, bypassing the breaking change Go 1.9 introduced as @technosophos mentioned .:)

[2018-05-28 18:15] bacongobbler commented on #2611
re-opening as someone else hit this in https://github.com/Azure/brigade/issues/483.

[2018-05-28 18:55] upolymorph commented on #4128
Sorry I read too quickly your comment :S .

here is the output

 kubectl -n kube-system describe pod tiller-deploy-7ccf99cd64-5k9wh
Name:           tiller-deploy-7ccf99cd64-5k9wh
Namespace:      kube-system
Node:           <none>
Labels:         app=helm
                name=tiller
                pod-template-hash=3779557820
Annotations:    <none>
Status:         Pending
IP:
Controlled By:  Repli

[2018-05-28 19:44] bacongobbler commented on #4128
Looks like there's your answer :) doesn't seem like there's a node available to schedule tiller. I'd dive into your cluster's state and figure out why the node is unresponsive/ready for scheduling.

[2018-05-28 22:12] bacongobbler commented on #2071
@wackerman that looks like a separate issue; likely there might've been some downtime on Google Cloud Storage or something. Does it work now?

@mattfarina can you provide steps to reproduce this issue? I thought this was Windows-specific :)

[2018-05-29 00:18] #3301 closed

[2018-05-29 00:18] #3286 closed

[2018-05-29 03:49] KavinduZoysa commented on #4131
Closing this issue since we are discussing the issue [here](https://lists.cncf.io/g/cncf-kubernetes-helm/topic/linking_external_files_to_the/20396688?p=,,,20,0,0,0::recentpostdate%2Fsticky,,,20,2,0,20396688).

[2018-05-29 03:49] #4131 closed

[2018-05-29 04:55] upolymorph commented on #4128
Should you be able to give me some tips/guide to dive into my cluster state ?
Thanks in advance

[2018-05-29 05:17] upolymorph commented on #4128
here is the state of the node

vagrant@k8sceph-01:~$ kubectl describe node k8sceph-01
Name:               k8sceph-01
Roles:              master
Labels:             beta.kubernetes.io/arch=amd64
                    beta.kubernetes.io/os=linux
                    kubernetes.io/hostname=k8sceph-01
                    node-role.kubernetes.io/master=
Annotations:        flannel.alpha.coreos.com/backend

[2018-05-29 11:05] mduft opened #4137 "'Undelete' of a release not possible"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
kubeadm-dind-cluster with 2 nodes.

I want to use Helm to deploy our software. Unfortunately this software has some history, and is more like the opposite of cloud native :) This means that rolling upgrade and other cloud buzzwords simply don't match. So: we need to take the ap

[2018-05-29 11:40] thomas-riccardi commented on #3170
/remove-lifecycle stale
/lifecycle frozen

[2018-05-29 11:57] mduft commented on #4137
Saw that there is a way newer release, so re-setup the cluster with Helm/Tiller 2.9.1. Exactly the same behaviour:

mduft@fril0041 /ssd/other/wamas-docker/wamas-helm-new $ helm list -a
NAME      	REVISION	UPDATED                 	STATUS  	CHART           	NAMESPACE
productive	1       	Tue May 29 13:50:07 2018	DEPLOYED	wamas-helm-5.8.0	default
mduft@fril0041 /ssd/other/wamas-docker/wamas-helm-new $

[2018-05-29 12:38] mduft commented on #4137
Found this, which describes the same issue: https://www.bountysource.com/issues/56292958-rollback-of-a-deleted-release-fails-in-helm-v2-8-2

[2018-05-29 13:23] ryane commented on #3145
there is a pending fix for this in #3556 that's just waiting for a review

[2018-05-29 13:52] bacongobbler commented on #4137
Hey, because this is a duplicate of #3722 let's close this and follow up there so we're working off a single ticket. Thanks!

[2018-05-29 13:52] #4137 closed

[2018-05-29 13:55] mduft commented on #4137
Sure. Somehow I was unable to find the other issue :) good to see there is one already :D

[2018-05-29 14:35] frankh opened #4138 "BUG: `helm upgrade --install` fails if first deployment failed"
If the first helm deployment of a release fails for any reason, any subsequent `helm upgrade --install` will fail with `Error: UPGRADE FAILED: "RELEASE_NAME" has no deployed releases`

I would expect it to work the same way as if the first deployment succeeded

[2018-05-29 15:52] frankh commented on #1707
I'm curious why this was solved by adding `--set-string`, instead of fixing what seems to me to be an obvious bug in `--set`.

Is it likely that anyone is intending numbers to get coerced to scientific notation in their yaml files?

[2018-05-29 17:26] bacongobbler commented on #1707
We can change how the [`--set` parser coerces integer values](https://github.com/kubernetes/helm/blob/1c2592975b21b78389c57aee07c9c6d962998d84/pkg/strvals/parser.go#L340-L345) in Helm 3, but generally speaking we've opted to prevent changing the expected behaviour of core functionality like `--set` since there are so many users running Helm in production. We can't also coerce all values in `--set`

[2018-05-29 17:33] bacongobbler commented on #4098
Same here:

[code]

I'm going to close this since it appears to be there as intended on `helm install`, `helm lint` and `helm template` but let us know if there's somewhere else the flag should exist. Thanks!

[2018-05-29 17:33] #4098 closed

[2018-05-29 19:35] elritsch commented on #2848
Hi @bacongobbler, according to your comment in https://github.com/kubernetes/helm/issues/4006#issuecomment-386161617, `--set-string` only affects long integers and is not supposed to have any effect on boolean types. This contradicts https://github.com/kubernetes/helm/issues/2848#issuecomment-376557547 just above, so, I think this issue was closed prematurely. Would you agree?

However, I've creat

[2018-05-29 19:40] bacongobbler commented on #2848
yes, I think that patch is the right approach. If you could PR that it'd be much appreciated. Thanks!

[2018-05-29 19:42] bacongobbler commented on #1638
/remove-lifecycle rotten
/lifecycle frozen

[2018-05-29 20:59] jasoncarreira commented on #4109
I've been playing with it and it's a little different now, but I'm getting the same error. Here's Chart.yaml:
[code]

[2018-05-29 22:23] jasoncarreira commented on #4109
Looks like it's working for me now. Changed it so the Chart.yaml version is like this: 1.1.0-SNAPSHOT-39

[2018-05-29 22:42] bacongobbler commented on #4109
cool yeah develop-24 is definitely not valid semver so that error message seems right to me. Is there a particular action item we can extract from this ticket or does this seem good to close?

[2018-05-29 23:04] kennethaasan commented on #1771
This worked for me:

[code]

[2018-05-29 23:34] macropin commented on #3382
We're seeing this as well with helm v2.8.2, tiller v2.8.2, kubectl v1.9.7, kubernetes v1.9.8.

[2018-05-29 23:46] liggitt commented on #3382
On every patch request, or occasionally on contentious resources?

[2018-05-29 23:49] macropin commented on #3382
We're using helm to deploy a custom application. It appears to happen on every deployment.

[2018-05-30 00:08] liggitt commented on #3382
What are the custom resources involved? What component is submitting patches for those custom resources? Do you have details of the API requests (body, url, submitted content-type) that are returning this error?

[2018-05-30 00:31] jasoncarreira commented on #4109
Should be good to close. I think the script I was using was messing up copying the version

[2018-05-30 01:17] #4109 closed

[2018-05-30 02:55] stefanthorpe commented on #4080
That's the odd thing I have it and have used several other stable charts:
[code]

[2018-05-30 03:03] estahn commented on #1873
It seems we're running into this issue with the `stable/prometheus` chart.

The manifest shows `DEPLOYED`, the YAML output of `helm upgrade ...` shows the correct information (image change) but the image is not updated. But, a change in `replicaCount` is reflected.

![image](https://user-images.githubusercontent.com/362174/40696533-9265d940-6409-11e8-9faf-63de3f7e995c.png)

[2018-05-30 11:13] antran89 commented on #3130
@ykfq Thanks a ton, it works!

[2018-05-30 12:11] lypanov commented on #4138
This is a duplicate of https://github.com/kubernetes/helm/issues/4045

[2018-05-30 13:44] rcorre opened #4143 "Add "namespace" label to configmaps"
I'm in a situation where I have to migrate tiller and some subset of its releases (specifically, releases within certain namespaces) into a new namespace. For times when you have to dig in to the underlying storage, I think a `namespace` label on configmaps (or secrets) could be an incredibly useful piece of metadata. Right now you have to decode the configmap data to determine the namespace.

In

[2018-05-30 13:59] mattjmcnaughton commented on #4143
Hi @rcorre ! Thanks for bringing this up.

Currently, `helm` doesn't include configmap/secrets in the template files it creates with `helm create`. So I'm not sure if there's a path (right now) for baking in the use of `namespace` via helm defaults.

However, I wonder if it would make sense to add comments to `helm/docs/chart_best_practices` suggesting the addition of namespaces?

[2018-05-30 14:43] rcorre commented on #4143
Hi @mattjmcnaughton, sorry for the confusion. I'm not talking about configmaps/secrets in a template, but rather the configmaps/secrets tiller uses as a storage backend.

[2018-05-30 15:09] frankh commented on #4118
That's good to hear, I'm not super confident in my go so I thought maybe I'd made some obvious mistakes

[2018-05-30 15:48] bacongobbler commented on #4143
I'm confused. The namespace already part of the metadata of a configmap, and that's given to us through the kubernetes API.

[code]

Could you perhaps explain a little more concretely on what you are trying to do so I can better understand the issue at hand? Thanks!

[2018-05-30 16:27] rcorre commented on #4143
@bacongobbler in your example, what namespace was `example-python` released in to? To answer this question, you have to decode the release data. If instead there was a `NAMESPACE` label on `example-python.v1`, one could determine the release namespace without decoding the configmap data.

Tiller already adds the following labels:

- MODIFIED_AT
- NAME
- OWNER
- STATUS
- VERSION

I'm wondering if a

[2018-05-30 17:29] jmreicha commented on #1804
@bacongobbler Any timeline on when Helm 3 will be ready?

[2018-05-30 17:42] bacongobbler commented on #1804
We're currently in code cleanup mode and haven't made any significant changes to helm 3 other than removing tiller and a few other things knocked off the proposals. We have not committed to a timeframe for when helm 3 is planned to be released. :slightly_smiling_face:

[2018-05-30 19:22] rmorrise commented on #4134
Have you tried using the `--wait` option? Not sure whether this satisfies your need.

[2018-05-30 20:10] frankh commented on #4118
@michelleN would you mind taking a look at the pr? https://github.com/kubernetes/helm/pull/4144

[2018-05-30 20:43] vhosakot commented on #3409
I saw the `Error: transport is closing` error too when I ran `helm install`, and after doing `rm -rf ~/.helm`, the error was not seen anymore. Guess deleting the helm cache (`rm -rf ~/.helm`) may resolve the error.

[2018-05-30 20:49] vhosakot commented on #3448
I saw the `Error: transport is closing` error too when I ran `helm install`, and after doing `rm -rf ~/.helm`, the error was not seen anymore. Guess deleting the helm cache (`rm -rf ~/.helm`) may resolve the error.

[2018-05-30 20:49] vhosakot commented on #2983
I saw the `Error: transport is closing` error too when I ran `helm install`, and after doing `rm -rf ~/.helm`, the error was not seen anymore. Guess deleting the helm cache (`rm -rf ~/.helm`) may resolve the error.

[2018-05-30 20:49] vhosakot commented on #1183
I saw the `Error: transport is closing` error too when I ran `helm install`, and after doing `rm -rf ~/.helm`, the error was not seen anymore. Guess deleting the helm cache (`rm -rf ~/.helm`) may resolve the error.

[2018-05-30 20:50] vhosakot commented on #1085
I saw the `Error: transport is closing` error too when I ran `helm install`, and after doing `rm -rf ~/.helm`, the error was not seen anymore. Guess deleting the helm cache (`rm -rf ~/.helm`) may resolve the error.

[2018-05-30 23:08] csaroff commented on #2401
Just as an idea for future releases would you consider changing the name of the environment variable as well?  As @olalonde pointed out, the `DEBUG` env variable is used pretty heavily in logging for node.js.  Maybe something like `HELM_DEBUG` instead?

[2018-05-30 23:13] bacongobbler opened #4145 "rename DEBUG to HELM_DEBUG"
See conversation in https://github.com/kubernetes/helm/issues/2401

[2018-05-30 23:13] bacongobbler commented on #2401
good idea. https://github.com/kubernetes/helm/issues/4145

[2018-05-30 23:35] csaroff commented on #4145
@bacongobbler Looks like maybe this was actually already implemented?
https://github.com/kubernetes/helm/search?q=helm_debug&unscoped_q=helm_debug

[2018-05-31 01:48] ElijahGlover commented on #4019
Also seeing the same problem

`Client: &version.Version{SemVer:"v2.9.0", GitCommit:"f6025bb9ee7daf9fee0026541c90a6f557a3e0bc", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.9.0", GitCommit:"f6025bb9ee7daf9fee0026541c90a6f557a3e0bc", GitTreeState:"clean"}`

[2018-05-31 02:08] jurgenweber commented on #3702
I am having this issue also with the 'kubernetes/charts/stable/prometheus' chart. The 'prometheus-server' deployment is not updating the image tag, but the values and the `helm upgrade --debug` show the updated value.

[2018-05-31 02:12] estahn commented on #3702
This maybe related: https://github.com/kubernetes/helm/issues/1873#issuecomment-393015455

[2018-05-31 02:14] so0k commented on #3134
@technosophos - should I create a new issue for my previous comment?

[2018-05-31 03:43] dene14 commented on #2916
@bacongobbler can we please reopen this issue?

[2018-05-31 03:50] bacongobbler commented on #2916
Uhh, this issue was never closed to begin with :)

[2018-05-31 04:38] wushuzh commented on #3749
Hi @jascott1 @andresguisado

Would you please confirm my init operations of helm (tiller) is correct if my minikube does not have the internet connection but only available with artifactory proxy ?

[code]

[2018-05-31 06:16] whereisaaron commented on #1556
Just been banging my head against this with helm 2.8.2. You can now have multiple '--set' arguments, so the old comma syntax can (or should) be deprecated. It was always clunky and I stopped using it as soon as multiple '--set' worked. However it is still the case that as soon as I have a comma in the value helm splits it and borks the deployment. No amount of quoting seems to work around it.

Cou

[2018-05-31 06:32] whereisaaron commented on #1556
Although I couldn't find any mention or example in the document, reading the improved parsing code, you can 'escape' a comma, e.g. `pass\,word` and bypass the splitting. So `--set 'my.password=pass\,word'` will work until the comma splitting can be deprecated.

[2018-05-31 11:30] anhpham1509 commented on #3797
@thuandt Can you check the Reclaim Policy of that PV? If it's `Delete`, then the PV will be deleted when no PVC bind to that PV.

[2018-05-31 12:38] jgleonard commented on #2751
@bacongobbler can you take a look at #4088 for this?  Realizing that the patch is in Tiller, it may need some other changes for Helm3... Thoughts?

[2018-05-31 13:36] Pallav-Reactiveworks opened #4147 "how to create separate values.yaml files for deployment, service and configmap?"
can we create separate values.yaml files for deployment, service and configmap?

[2018-05-31 15:48] bacongobbler commented on #4145
It's a transitive dependency that's reading DEBUG. I can still reproduce this with v2.9.1.

[code]

[2018-05-31 15:53] bacongobbler commented on #2916
I think @rochaporto is on the right track though. By default we use go's default HTTPClient which as @dene14 suggested, respects headers and adapts the output. It should be a pretty simple change under NewHTTPGetter to return a http.Client using a http.Transport with the DisableCompression flag set to true (and the associated unit test to cover that).

Marking this as a good first issue if someone

[2018-05-31 16:15] pavlos163 opened #4148 "Moving a release that's receiving traffic to another namespace"
I am trying to find a way to move a deployment that's receiving traffic in production in another namespace. The deployment is currently in default, and I want to move it to namespace `new-namespace`.

However, when I try to do:
`helm upgrade --install some-deployment ... --namespace new-namespace ...`

I receive the following warning:
[code]

And the release is instead deployed to `default`. I don

[2018-05-31 17:29] scjody opened #4149 "--tls-verify fails with "cannot validate certificate for 127.0.0.1""
Output of `helm version`:

[code]

Output of `kubectl version`:

[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): GKE

### Problem encountered

I configured Tiller with TLS following the instructions at https://docs.helm.sh/tiller_ssl/ .

When I run `helm ls --tls --tls-verify`, a certificate validation error is returned instead of the expected list:

[code]

### Certificate information

[2018-05-31 22:11] ssalaues commented on #3480
Just was dealing with similar issue and doing `helm init --upgrade --history-max=0` seemed to fix it for me.

error:
[code]
[code]

[2018-05-31 23:15] jespino commented on #4145
Looks like it comes from github.com/docker/spdystream, more concretely from here: https://github.com/docker/spdystream/blob/master/utils.go#L9

[2018-06-01 01:07] Nowaker commented on #3427
@jascott1 Sorry I missed your response. I think a hybrid solution would work best. YAML validation and alike, anything that has a predictable time of completion, should be performed inline, and a failure communicated to Helm client as it occurs. Non-predictable actions like scheduling workloads should go to background. And yes - Tiller would have to store the result of the previous `helm install/u

[2018-06-01 03:02] ykfq commented on #3130
@antran89
If you use the official [tiller installation instruction](https://github.com/kubernetes/helm/blob/master/docs/install.md#installing-tiller), you'll have to do so:
- Create a serviceaccount for tiller
- Bind a role for the ServiceAccout created above (cluster-admin role is needed)
- Make a ClusterRoleBinding for ServiceAccout
- Patch the deployment created when using `helm init`

So, ther

[2018-06-01 06:41] jianzi123 commented on #3857
@wstrange I agree with you, I would like to change code in helm, but the work is too busy.

[2018-06-01 08:36] henrynash commented on #4145
I'll take a look at this, fix and submit a pull request

[2018-06-01 09:28] brunoban commented on #3710
@shamalco Did you figure out how to stop the chart from creating namespaces? I'm running into a similar problem with Concourse and was not too keen on granting Tiller a ClusterRole permission.

[2018-06-01 10:52] christhomas opened #4152 "Rename templates directory or make configurable"
Just looking at helm for some projects where I work and I'm having a hard time understanding why the directory "templates" was used and it's not configurable in any way.

The problem is that "templates" is a really generic name and used for way more things than helm, such as html templates, javascript templates, old websites use "templates" for their php scripts, etc, etc.

It seems like its a nam

[2018-06-01 11:32] oivindoh commented on #3480
@ssalaues I think that only fixed your "Error: UPGRADE FAILED: "dev" has no deployed releases" issue (I'm guessing you only had a Failed release of "dev" before), not the portforward message, which appears to be very intermittent.

[2018-06-01 12:43] frankh commented on #4148
I think the way to do with would be to deploy a new release to the correct namespace, migrate any persistent data across (if needed) and then update the ingress to switch to the new release

[2018-06-01 12:54] pavlos163 commented on #4148
I can't deploy the new release to the correct namespace because of the reason I mentioned in the initial comment.

[2018-06-01 13:05] jonsalvas commented on #3792
I can confirm that the issue not fixed in 2.9.1.  Still getting this error message when trying to pass a cert over --ca-file option.

[2018-06-01 13:30] frankh commented on #4148
Don't upgrade, deploy a new release (with a new name), so you'll have 2 running at once until you've finished moving it, then delete the old release

[2018-06-01 13:33] pavlos163 commented on #4148
I am going to give that a try, thanks.

[2018-06-01 13:43] mattjmcnaughton commented on #4149
Hi @scjody !

I think the issue is that you are attempting to connect to `127.0.0.1`, but I presume your certificate is signed with a different domain name. The verification step notices this discrepancy and raises an exception.

Instead of connecting with `127.0.0.1`, you could use the domain name you used when signing the certificate. I think the `--host` string controls this.

Although one thin

[2018-06-01 13:46] mattjmcnaughton commented on #4147
Hi @Pallav-Reactiveworks !

`helm install` allows you to specify multiple values files with the `-f` flag. So you could have `deployment-values.yaml`, `service-values.yaml`, etc... and then run `helm install -f deployment-values.yaml -f service-values.yaml ...`

Although, I'm a little curious about the use case behind this. My understanding is that "standard" helm practice is to keep everything in

[2018-06-01 14:37] scjody commented on #4149
@mattjmcnaughton Thanks for the suggestions!

The certificate above has a CN of  `tiller stage`, which obviously isn't a valid hostname. Based on your suggestion I tried `tiller-server`, which is what the docs use, and I also tried `127.0.0.1` and `localhost`.

I also tried telling helm to connect to localhost but that hangs: `helm ls --tls-verify --host localhost`. Is there another command you ha

[2018-06-01 14:40] bacongobbler commented on #3710
You don't need to grant tiller Cluster role permissions, but you will need to create the namespaces tiller has access to create resources within it beforehand.

[2018-06-01 14:45] bacongobbler commented on #3792
@jonsalvas can you try with a canary release instead? I don't think this patch made its way into 2.9 after reviewing #3258.

[2018-06-01 16:14] natcho commented on #4008
We are facing exactly the same problem where helm is handling versions incorrectly when the difference in versions is in the build metadata (even though the build metadata is sortable in the expected order). This applies to helm search, helm fetch, helm install.

[2018-06-01 16:34] nicroto opened #4154 "How does one pass k8s secrets to black-box subcharts?"
I thought I should somehow get them evaluated in my top-level values.yaml, but later learned values don't get expanded/templated.

So the question I have is - if I have a black-box dependency chart (I wan't to keep it like that) like Concourse or PostgreSQL, how do I pass credentials that I'have stored as k8s Secret objects in the cluster?

For my charts, I would expose secrets as env vars in my c

[2018-06-01 16:54] huang-jy commented on #3409
@vhosakot I believe that wipes helm's state

[2018-06-01 16:56] ssalaues commented on #3480
@oivindoh The strange thing is that I was getting the same portforward error regardless if I was doing a fresh helm install of a new deployment with new release name or trying to helm upgrade (which is what led me to this thread since it was stalling my work). In the particular case that I pasted in my previous message it was while testing a helm upgrade attempt (you're right had an issue with the

[2018-06-01 17:18] bacongobbler commented on #3409
That just wipes your local state but not tiller's state. Not sure how that fixes the issue but if it works, that's great

/shrug

[2018-06-01 18:42] DazWilkin opened #4155 "docs.helm.sh has multiple broken links"
Tried using latest Chrome|Firefox (on Linux)

https://docs.helm.sh/
https://docs.helm.sh/using_helm/#quickstart
![image](https://user-images.githubusercontent.com/1022400/40857649-96fb50d8-6590-11e8-8f54-6ad68d334ab8.png)

These links don't appear to do anything: perhaps the anchors are broken?
https://docs.helm.sh/using_helm/#quickstart-guide
https://docs.helm.sh/using_helm/#installing-helm
https

[2018-06-01 19:15] bacongobbler commented on #4155
Might be relevant since we changed a few things in https://github.com/helm/helm-www/pull/93

[2018-06-01 20:05] pv93 opened #4156 "helm init fails to create a tiller pod on GKE"
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.): GKE

Steps to reproduce:

1) Run `helm init --service-account tiller`
2) Run `kubectl get deploy tiller-deploy -n kube-system`. Get the following output:

[code]

3) Run `kubectl describe deploy tiller-deploy -n kube-system`. Get the following output (selected most interesting pa

[2018-06-01 20:11] bacongobbler commented on #4156
Does kubernetes give more information on why the pod failed to create?

[2018-06-01 20:12] pv93 commented on #4156
I'm not sure where to look for that information besides `describe deployment`

[2018-06-01 20:15] bacongobbler commented on #4156
try `kubectl -n kube-system rollout status deployment/tiller-deploy`

[2018-06-01 20:16] pv93 commented on #4156
One thing I should note is that I initially ran `helm init`, but I got permissions errors so then I ran `helm init --upgrade --service-account tiller`. Then these problems started arising so I ran `helm reset --force`, and have been trying the above ever since.

[2018-06-01 20:35] pv93 commented on #4156
[code]

[2018-06-01 20:47] pv93 commented on #4156
It looks as if the --service-account parameter is what's breaking it.

[2018-06-01 21:00] pv93 commented on #4156
So I figured it out. This was a fresh cluster and did not have the tiller ClusterRoleBinding or SA created, as such:

[code]

Sorry about that. I suppose Kubernetes could do a better job of informing me of that though.

[2018-06-01 21:01] #4156 closed

[2018-06-02 03:17] gavinmead commented on #3159
Been crazy busy with work.  I have some free time now.  Apologies for the delay.

[2018-06-02 03:17] gavinmead commented on #3159
/remove-lifecycle stale

[2018-06-02 03:52] sparty02 opened #4157 "How to iterate through folders in chart"
Given a chart that looks like this:

[code]

I'd like to generate a config map that looks like this:

[code]
Note that this provides a simple convention for filling the config/ directory with folders that have the name of config maps, and files that have the config map contents in them.

However, I can't figure out how to iterate through the folders in the config directory.  I got somewhat close b

[2018-06-02 04:10] sparty02 commented on #4157
Wondering if this could be implemented by a new template function that leveraged the [filepath.Walk function](https://golang.org/pkg/path/filepath/#Walk)

[2018-06-02 04:16] sparty02 commented on #4157
Just spitballing a potential template API:

[code]

[2018-06-02 06:36] samwelkey opened #4158 "wrong timestamp when using 'helm package'"
!-- If you need help or think you have found a bug, please help us with your issue by entering the following information (otherwise you can delete this text): -->

Output of `helm version`: v2.9.2
Output of `kubectl version`: 1.7.6

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

When using 'helm package my-chart' to pack my chart. The archive seems to be okey. But when I try to unzip that arc

[2018-06-02 08:38] erwbgy commented on #3456
/remove-lifecycle stale

[2018-06-02 10:11] thuandt commented on #3797
@anhpham1509 I use stable grafana charts and as I said I upgrade this grafana release many times without problem.

Does `helm upgrade` will change PV `reclaim policy`?
Its deleted PV/PVC and create new one, NOT reuse i think.

[2018-06-02 12:04] #1674 closed

[2018-06-02 13:33] mattjmcnaughton commented on #4158
Great catch! You are totally right. I'll work on a pr to fix this :)

[2018-06-02 13:44] fox1t commented on #3055
I think it is really important to add this somewhere in the guide. AKS on azure doesn't provide default cluster-admin role and a user has to create it.

[2018-06-02 14:44] mattjmcnaughton opened #4162 "Add optional Makefile target for running `test-style` in container"
Is there any interest in having a containerized version of `test-style` available through the `Makefile`. I imagine it as `make containerized-test-style` or something similar. For me, the main benefit would be not having to download all of the linters to my global go environment.

Let me know if anyone other than me would use this, and I'll submit a pr :)

Thanks!

[2018-06-02 18:22] frankh commented on #4138
For anyone getting here from google, using `helm upgrade --install --force` works

[2018-06-02 18:24] roldancer opened #4163 "Question: Helm multitenant support"
Hi All, I would like to know if Helm support chart installation on different namespaces based on the client permission, we have several namespaces, each namespace has an admin user.

Any idea?

Thanks.

[2018-06-03 00:16] #3256 closed

[2018-06-03 01:49] qiangli commented on #3536
Mine is stuck in ERROR status and upgrade did not seem to help.

[2018-06-03 03:18] magicalbanana commented on #4129
Same issue with mine. Trying to add init containers as an annotation to a deployment spec and it's not getting applied.

[2018-06-03 03:30] magicalbanana commented on #4129
👍 anyone care to help us out?

[2018-06-03 18:08] #3601 closed

[2018-06-03 18:09] gsemet commented on #3601
not reproduce with 2.9

[2018-06-04 05:56] jonsalvas commented on #3792
@bacongobbler nope, did not work either..

`helm repo add --ca-file=C:\Dev\myurl.pem nexus https://my.url.net/nexus/repository/Helm/
Error: Looks like "https://my.url.net/nexus/repository/Helm/" is not a valid chart repository or cannot be reached: Get https://my.url.net/nexus/repository/Helm/index.yaml: x509: certificate signed by unknown authority`

[2018-06-04 06:13] mduft opened #4166 "Problem expanding in .Files.Glob().AsConfig"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
kubeadm-dind cluster with 2 nodes.

There is some strange behaviour when expanding config files into a ConfigMap. I have this template:

[code]

and this values.yaml:

[code]

Now in a file `log4j-standard.xml` I have this snippet somewhere

[code]

`helm template .` (and `helm

[2018-06-04 09:13] brunoban commented on #3130
@ykfq I don't like the idea of giving Tiller full cluster admin privileges, but nothing else worked for me. I tried following this [example](https://github.com/kubernetes/helm/blob/master/docs/rbac.md#example-deploy-tiller-in-a-namespace-restricted-to-deploying-resources-in-another-namespace). I was trying to restrict Tiller to acting only on namespaces I let it act.

But always ran into this issu

[2018-06-04 10:01] frederic-loui opened #4167 "sudo helm init --debug --service-account tiller k8s (EDIT globally helm command don't work)"
/kind bug

Output of `helm version`:
2.9.1
Output of `kubectl version`:
1.10.2 and K8s cluster is using containerd 1.1.0 with calico 3.1.1 (Nota that this is a working cluster)
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
VMs on OpenStack

[code]

Of course RBAC profile has been created before (for cluster access as an example)

[code]

Sorry if this is a duplicate I searched the issue/bug b

[2018-06-04 10:06] frederic-loui opened #4168 "helm documentation not well rendered in non mobile context via browesr"
/kind bug

Output of `helm version`:

Output of `kubectl version`:

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

Tested: Chrome Firefox on MACOS 10.12.6, working on mobile. (mobile is strangely rendered also)
[INSTALLATION FAQ bug on desktop browsers](https://docs.helm.sh/using_helm/#installation-frequently-asked-questions)

[2018-06-04 11:06] faheem-cliqz commented on #3503
I wish to add custom labels to namespaces, or maybe the default best practices one will suffice as well. Currently don't know of a way to do it with namespace being created by helm automatically i.e. using ``--namespace``. Nor I believe I can add a namespace manifest like [here](https://kubernetes.io/docs/tasks/administer-cluster/namespaces-walkthrough/) to helm charts. My use-case is this: https:

[2018-06-04 11:38] nicroto commented on #4154
I think I've answered this one for myself - the subchart needs to provide a way for it. Either:

 * a `secretName` setting should be provided and then a fixed names for the expected secret property names should be used (so the subchart finds the correct values in it) or;
 * to allow to get the setting as yaml, so it is evaluated in the subchart's template - i.e. this could be in deployment.yaml:

[2018-06-04 11:50] s-rogers opened #4169 "Helm ls of non-existent release from 2.8.2 to 2.9.1 server produces error"
Output of `helm version`:

Client: &version.Version{SemVer:"v2.8.2", GitCommit:"a80231648a1473929271764b920a8e346f6de844", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}

Output of `kubectl version`:

Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.0", GitCommit:"fc32d2f3698e36b93322a

[2018-06-04 12:44] anhpham1509 commented on #3797
@thuandt Are you using `stable/grafana` when do `helm upgrade`? If yes then maybe there were changes in the chart that make the PV lost.

Also, it's recommended to use a database instead of sqlite while working with grafana.

I also worked with grafana and did not use PV. Instead, I used an AWS RDS instance.

[2018-06-04 15:08] thuandt commented on #3797
@anhpham1509 thanks for your comment.
I just want to understand what's cause PV lost during `upgrade`.
I'm already use Grafana with PostgreSQL since April.

[2018-06-04 19:33] royjs opened #4170 "Allow returning specific exit code for helm plugins"
We are looking into returning different exit codes in the helm-diff to simplify some CI scenarios (See databus23/helm-diff#54)

The issue is that Helm considers any non zero exit codes from the plugin to be an error and will always exit with `1`. We need to be able to return a specific exit code to the caller.

E.g. we want the `helm diff upgrade` command to return with exit code `2` if no error o

[2018-06-04 20:04] jascott1 commented on #3221
/remove-lifecycle rotten

[2018-06-04 21:03] coderanger commented on #2334
Given that Helm 3 is planning to get rid of Tiller (I think?), this does seem less and less likely to be addressed every day :)

[2018-06-04 21:11] bacongobbler commented on #2334
Yes, the current dev branch removed tiller

[2018-06-04 21:29] ae-dg commented on #3549
/remove-lifecycle stale

[2018-06-04 21:52] coderanger commented on #2334
We should probably close this out then, unless someone is going to put a lot of resources into Helm 2, this will likely not happen?

[2018-06-04 22:12] dberuben opened #4171 "helm i/o timeout"
Output of `helm version`:

[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
`AKS`

[code]
[code]
[code]

[code]

i'm using terraform  + terraform as kubernetes provider.

i'm not able to deploy with helm in my k8s cluster.

[2018-06-05 02:58] mkornacker opened #4173 "String value cut off after comma during template expansion"
Output of `helm version`:
Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.2", GitCommit:"81753b10df112992bf51bbc

[2018-06-05 06:36] zedtux commented on #1911
Any update on this issue?

[2018-06-05 08:40] nmiculinic opened #4174 "Error: UPGRADE FAILED: cannot re-use a name that is still in use"
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
GKE

I got the following error during `helm upgrade`:
```Error: UPGRADE FAILED: cannot re-use a name that is still in use```

It'd be nice knowing which name is that, and of what type.

[2018-06-05 09:31] nicroto commented on #3282
+1

[2018-06-05 14:52] MichaelPanchenko opened #4177 "upgrade --force does not work as described"
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
[code]

```helm upgrade --force release chart``` should work as
```helm delete release && helm install --replace -n release chart``` but it does not - using the former resources are not redeployed if no change happened.

Steps to reproduce: create some dummy helm chart and then:

[2018-06-05 15:34] qrevel commented on #2680
/reopen exactly the same problem than @brbarnett

[2018-06-05 16:56] lypanov commented on #4138
You can also use helm delete --purge FWIW and then upgrade again. I'm unsure how to fit either one of them into our CI pipeline though, they seem to be far from the Right Way (more downright scary...). Waiting to see any guidance on the main issue.

[2018-06-05 18:43] bgehman opened #4178 "Creating namespaces with custom labels"
Is it possible to create a namespace, and add our own custom labels to that namespace?  We are in the process of migrating our JINJA based templates over to Helm and having issues...

YAML:
[code]

Errors running `helm install`:
[code]

Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
docker-edge

[2018-06-05 19:02] edburns commented on #3873
As far as I know, one still  needs to use Docker for Mac Edge Version 18.03.0-ce-mac58 (23607) to have this not be a problem.

[2018-06-05 19:06] tedmiston commented on #3873
I haven't tried upgrading to latest yet myself since this.  Each upgrade so far has broken my Kubernetes setup and required rebuilding the cluster.  It can be time-consuming when one has deadlines to hit.

[2018-06-05 19:56] lkt82 commented on #1811
We are also running Kubernetes 1.9.6 and have this issue when we use the helm upgrade --install command

[2018-06-06 07:20] macknight opened #4181 "kube-system tiller-deploy-f9b8476d-zkln4 always pending by failed scheduling"
how to fix this?

Output of `helm version`:
Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.3", GitCommit:"2bba0127d85d5a46ab4b778548be28623b32d0b0", GitTreeState:"clean", BuildDate:"2018-05-21T09:17:39Z", GoVersion:"go1.9.3", Com

[2018-06-06 07:28] macknight commented on #2295
what you've done with more detail? @yan234280533  @lixiaobing1 , I am using ubuntu in virutial box and is installing helm.

[2018-06-06 07:29] macknight commented on #2295
I am having the same problem showing failed scheduling cause tiller always pending. @bacongobbler

[2018-06-06 07:52] munnerz commented on #3555
/remote-lifecycle stale

[2018-06-06 07:59] munnerz commented on #3555
Bringing this up again as it was raised in https://github.com/kubernetes/charts/pull/5919

Copying over parts of my recent comment:

[code]

[2018-06-06 08:09] muehlburger commented on #3045
#2399 does not mention on how to omit child templates in a parent chart. I'd like to omit a child template and reimplement it in the parent chart. How would this be possible?

[2018-06-06 11:37] kostyrev opened #4182 "function Chart is not defined"
I'm trying to use this template for Ingress
[code]
helm template says:
[code]
but docs say:

Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
AWS

[2018-06-06 11:52] bacongobbler commented on #4181
Not sure but your node is indicating that it is unreachable therefore it cannot schedule pods.

[2018-06-06 12:54] grebois opened #4183 "Helm lint should fail with "cannot convert int64 to string" on unquoted ints"
Considering this resource:

[code]

helm lint pass with no errors;

[code]

even dry-running the chart works fine, but when deploying:

[code]

Also, if I test the template with kubeval it does complains about the error:

[code]

This is related to https://github.com/kubernetes/helm/issues/1694

[2018-06-06 13:27] mattjmcnaughton commented on #4182
Hmm, this is very interesting! Could you post the contents of `operator-ui`?

[2018-06-06 13:48] mattjmcnaughton commented on #4177
I think I understand why this is happening - @bacongobbler can you confirm the requested behavior in the issue (i.e. delete and recreate) is preferred? If so, I'll submit a pr :)

[2018-06-06 15:34] macknight commented on #3790
how can you check your kubernetes version?
kubernetes -v ? @gzcf

[2018-06-06 16:04] a1dutch commented on #3480
i've seen this error just running `helm list`

[2018-06-06 16:17] #4171 closed

[2018-06-06 17:29] FrenchBen opened #4184 "Helm Documentation is a mess"
Why is the documentation such a mess?
https://docs.helm.sh/using_helm/#installing-helm

* Layout is wrong (extra content at the bottom)
* None of the named anchor links work
* Empty titles (etc.)

Is this a deployment gone bad?

[2018-06-06 18:16] subbu05 commented on #2466
Resolved the issue. After going though the Glide code understood the root cause. Its not the glide issue. Glide must have flag to ignore server certificates.
Solution: Get Common CA certificates
Ubuntu - https://launchpad.net/ubuntu/xenial/+package/ca-certificates
Similarly search for other OS and install and try.

[2018-06-06 18:17] kostyrev commented on #4182
[code]
[code]
[code]

Actually, I was able to render template using $.Chart.Name
[code]

[2018-06-06 19:19] scotthew1 opened #4186 "helm does not consider pre-release package versions when installing / upgrading"
this appears to be a bug in the semver library helm uses. i opened an [issue in that repo](https://github.com/Masterminds/semver/issues/77), but wanted to make it known here as well.

[code]

[2018-06-06 19:38] bacongobbler commented on #3790
`kubectl version`

[2018-06-06 21:58] diversario commented on #3480
Seeing this after upgrading from 2.7.2 to 2.9.1:

[code]

in a 1.8.4 cluster. It didn't seem to affect the deploy, at least this time, but I'd rather not see errors in the deploy log if they're not relevant to the deploy.

[2018-06-06 23:13] devinacosta opened #4187 "Incubator/vault Consul Service (strangeness)"
Output of `helm version`:
Client: &version.Version{SemVer:"v2.8.1", GitCommit:"6af75a8fd72e2aa18a2b278cfe5c7a1c5feca7f2", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.8.0", GitCommit:"14af25f1de6832228539259b821949d20069a222", GitTreeState:"clean"}

Output of `kubectl version`:

Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.5", GitCommit:"f01a2bf98249a4db38356044

[2018-06-06 23:14] dimm0 commented on #3710
I have a namespace "gitlab" which tiller is deployed to and has access to, and still getting this error
`namespaces is forbidden: User "system:serviceaccount:gitlab:default" cannot create namespaces at the cluster scope`

[2018-06-07 01:31] jaygorrell commented on #4184
Came to post just this. I'm almost certain it was fine within the past couple weeks.

I also can't even scroll to the left here -- there is content that just isn't accessible at all.
![screenshot 2018-06-06 21 31 20](https://user-images.githubusercontent.com/12174604/41073377-fbe55432-69d0-11e8-8dd0-68cb8b27634d.png)

[2018-06-07 01:51] bacongobbler commented on #4184
There's something up at the CDN caching layer. From my end I see the site perfectly fine.

Let's follow up in https://github.com/helm/helm-www/issues/99

[2018-06-07 01:51] #4184 closed

[2018-06-07 01:53] bacongobbler commented on #3710
Does the gitlab chart create the namespace itself? What's the output of `helm template`

[2018-06-07 02:13] bacongobbler commented on #4155
Closing as a duplicate of helm/helm-www#99

[2018-06-07 02:13] #4155 closed

[2018-06-07 04:03] CharlieKuharski commented on #2064
@vielmetti
Thanks!  - I can confirm "minikube addons enable registry-creds" was the fix for my tiller pod not starting.

[2018-06-07 04:47] PureWhiteWu commented on #4186
I don't think that's a bug.
You have said that it's a pre-release, so it should not be included when you don't specify the version.
For example, npm 5.7.0

[2018-06-07 04:52] bacongobbler commented on #4186
Yep. If you want to install pre-releases charts use the --devel flag with `helm install`.

Closing as we have answered this question in previous issues as well. Thanks! :)

[2018-06-07 04:52] #4186 closed

[2018-06-07 04:57] PureWhiteWu commented on #4163
You can install multi tillers, one per namespace.
That's the multitenant solution for me.

[2018-06-07 04:59] PureWhiteWu commented on #4169
Helm client and tiller server should **ALWAYS** be the same version.

[2018-06-07 05:00] PureWhiteWu commented on #4169
Because helm client interacts with tiller server using grpc and protobuf.

[2018-06-07 06:55] SlickNik commented on #4163
Hi @roldancer -- good question! Like @PureWhiteWu mentions above, one common way to achieve this is by installing a separate tiller for each namespace. The blog post at http://technosophos.com/2017/11/20/securing-helm.html (esp. point 4) talks a little about how to go about doing this.

Let us know if you have any further questions!

[2018-06-07 06:58] PureWhiteWu commented on #4163
@SlickNik Thank you for confirming this!

[2018-06-07 07:02] SlickNik commented on #4187
Hi @devinacosta - thanks for reporting this issue!

I think this would be better reported under the kubernetes/charts repo (https://github.com/kubernetes/charts), since this issue seems specific to the vault chart -- and the chart maintainer(s) would know more about the details and would be in a better position to help out.

[2018-06-07 09:03] moritzheiber commented on #2520
Would it be good to re-open this issue? It appears to be happening in a reproducible way.

[2018-06-07 09:44] markusdresch commented on #3104
/remove-lifecycle rotten
got the same issue after upgrading azure AKS cluster to 1.9.6
the error also appears when using kubectl logs and exec or in general anything that calls nodes:proxy. why is my user system:anonymous?

[2018-06-07 10:13] s-rogers commented on #4169
I'm sorry - I'm not sure I understand this - so how are upgrades supposed to work?  Are we saying there is NO guarantee that previous client versions work with new server versions, and an outage is to be expected on every release of helm?  Our previous observations are that we can upgrade the server from one point - e.g from our operator systems, and our build systems/deployed apps that use the ol

[2018-06-07 10:16] jamesbroadhead commented on #3801
Hi @ReSearchITEng - I'm afraid that I don't follow your final comment here.
If a Chart wants to support both kubernetes 1.9 and 1.10, but not 1.8 or below, what kubeVersion value should be used?

[2018-06-07 11:01] #3303 closed

[2018-06-07 11:41] iorlas commented on #3938
Damn guys, I feel like I'm working with node js crappy libraries. I got a plugin for gs, but still have an error you had before:

[debug] Created tunnel using local port: '62874'

[debug] SERVER: "127.0.0.1:62874"

[debug] Original chart version: ""
Error: Get gs://kubernetes-charts/nginx-ingress-0.20.1.tgz: unsupported protocol scheme "gs"

What am I supposed to do?

[2018-06-07 12:13] banyaszb commented on #3130
helm init --upgrade --service-account tiller

[2018-06-07 12:18] shruthibhaskar opened #4189 "Error: release test2 failed: Deployment.apps "test2-my-new-nodeapp" is invalid: spec.template.spec.containers[0].env[1].valueFrom.configMapKeyRef.key: Required value"
Output of `helm version`:
Client: &version.Version{SemVer:"v2.8.1", GitCommit:"6af75a8fd72e2aa18a2b278cfe5c7a1c5feca7f2", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.8.1", GitCommit:"6af75a8fd72e2aa18a2b278cfe5c7a1c5feca7f2", GitTreeState:"clean"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.0", GitCommit:"6e937839ac04a38cac63e6a7a

[2018-06-07 12:22] innovia commented on #3130
@brunoban helm v3 will remove tiller so from what i understood the permissions will be by the user who apply it

[2018-06-07 12:52] bgehman commented on #3622
Bump -- seeing the same issue.  `.helmignore` should work exactly like `.dockerignore` and `.gitignore` -- which allows the whitelist approach instead of the blacklist approach.  All my `.dockerignore` and `.gitignore` are set up to specifically whitelist (how can you ever predict what might show up on build / CI systems?)

My `.helmignore`:
[code]

Gets error:
[code]

/remove-lifecycle stale

[2018-06-07 13:29] bgehman opened #4191 "Helm comments broken, greedily eating pre/post whitespace"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
[code]

Helm comments, described at: https://docs.helm.sh/chart_best_practices/#comments-yaml-comments-vs-template-comments, are broken.  Example:

[code]

Is being rendered into something like:
[code]
Note the: `description: A Helm chart for Kubernetesname: test`
Where the lin

[2018-06-07 13:34] markusdresch commented on #3104
as as temporary workaround i logged into the node and changed /etc/defaults/kubelet to --authorization-mode=AllowAll instead of WebHook, then i reinstalled tiller, now the error disappeared from helm, but that doesn't feel like a real solution.

[2018-06-07 13:39] bgehman commented on #4191
Perhaps a clearer example.
[code]
Edit the pre-generated `deployment.yaml` and add a comment anywhere inside:
[code]

[code]

Shows:
[code]

[2018-06-07 13:48] mattjmcnaughton commented on #4182
Ah ok, I think I found the source of the issue. The original ingress.yaml has `{{ Chart.Name }}`. However, what you actually want to use is `{{ .Chart.Name }}` (note the `.` as a prefix). That is similar to how `.Values` and `.Release` also have a `.` as a prefix.

Hope that helps :)

[2018-06-07 14:06] kostyrev commented on #4182
Yep, that's it!
Thanks!

[2018-06-07 14:06] #4182 closed

[2018-06-07 14:11] scotthew1 commented on #4186
ahhh i missed this option. thanks for the clarification. i was very confused why `Constraint("*")` didn't match any version

[2018-06-07 14:35] PureWhiteWu commented on #4169
Yes, helm client's version should be the same as the server's, or it may break.
You can upgrade  in  these steps:
1. upgrade your helm client
2. upgrade your tiller using `helm init --upgrade`
If helm client's version is not the same as tiller's, the protobuf they use may be different, which cause client cannot interact with tiller.

[2018-06-07 15:11] s-rogers commented on #4169
Thanks for the response, but just to be clear as this is a huge deal for us, are you saying that it is 100% not supported in any situation to run older clients against a new server version?  That there is no consideration for backwards compatability in new server versions whatsoever, and we have just been lucky so far?  Is there somewhere in the docs that confirms this?

We have multiple places al

[2018-06-07 15:26] PureWhiteWu commented on #4169
If the protobuf model is not changed, I suppose it may work well. For example, you can use v2.8.1 helm client with v2.8.2 tiller server since the protobuf  model is not changed.
If the protobuf model is changed, it will be broken. For example, you cannot use v2.8.2 helm client with v2.9.0 tiller server.
It's suggested that you should use the same version of client and server, or there's no guarant

[2018-06-07 15:31] PureWhiteWu commented on #4169
It's not designed to only be used by a single client. It is supposed easy to change the helm client's version in your environments.
Sorry my english is bad. Welcome to ask me if you have further questions.

[2018-06-07 15:42] SlickNik commented on #4169
Hi @s-rogers. Thanks for reporting this!

Helm is meant to be backwards compatible across minor and patch versions, so you should definitely be able to use a v2.8.1 client against a v2.9.2 server. We follow semver (https://semver.org/) so backwards-incompatible changes are only made across major versions.

That said, I haven't had the change to look into why this issue might be occurring; the chan

[2018-06-07 16:17] bacongobbler commented on #2520
We're pretty sure this has been fixed in 2.9.1 with e clean install. Can you confirm?

[2018-06-07 16:20] bacongobbler commented on #3938
What version of helm are you running? This should be fixed in 2.9.1

[2018-06-07 17:06] rcorre commented on #2494
@bacongobbler should https://github.com/kubernetes/helm/blob/master/docs/chart_best_practices/labels.md#standard-labels be updated to stop recommending a `chart={{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}` label? Seems like anyone following the "best practices" will encounter this issue.

[2018-06-07 17:10] rcorre commented on #2494
Is `--purge` overkill? I'm not sure how wiping out your release history would help -- just deleting should remove the deployment and reset helm's internal state.

[2018-06-07 17:27] moritzheiber commented on #2520
No, unfortunately I cannot confirm this is resolved with 2.9.1. On a new cluster, provisioned with kops, this remains an issue.

[2018-06-07 17:48] flynnduism commented on #4155
Caching issues with blob storage have been resolved - all the rendering issues should now be purged and resolved.

[https://docs.helm.sh/using_helm/#quickstart-guide](https://docs.helm.sh/using_helm/#quickstart-guide)

[2018-06-07 17:59] booninite opened #4193 "helm create doesn't work with nested template directories"
Output of `helm version`:

Client: v2.9.1+g20adb27
Tiller isn't involved with this issue

Output of `kubectl version`:

`kubectl` isn't involved in this issue.

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

No cloud provider involved in this issue.

Description:

If you create a starter chart that has a `templates/tests` directory containing some test templates, move that starter chart to `h

[2018-06-07 19:09] bacongobbler commented on #4193
Potentially related https://github.com/kubernetes/helm/pull/3567

[2018-06-07 19:21] iorlas commented on #3938
@bacongobbler

$ helm version
Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}

$ helm plugin list
NAME	VERSION	DESCRIPTION
gcs 	0.2.0  	Manage repositories on Google Cloud Storage

$ helm install stable/nginx-ing

[2018-06-07 20:07] bjamet opened #4194 "string interpreted as float in values.yaml"
Output of `helm version`: 2.9.1

Hello
a value this form in a values.yaml file :
<pre>
tag: 0e1234
</pre>
is interpreted by tiller as the number 0 instead of the string value "0e1234" (in my case this is a git commit ).
The reason I think is that the version of gopkg.in/yaml.v2 is this one in glide.lock :
  version: 53feefa2559fb8dfa8d81baad31be332c97d6c77 (date of version 2015-09-24)
when this is

[2018-06-07 21:34] thangbn opened #4195 "Question: Switching between different K8s clusters"
I'm working with multiple k8s clusters at the same time. To switch helm context to a different cluster, I have to do a **kubetcl config use-context \<context name\>** and then do **helm init** again.

Is there any easier way to do this in Helm?

Tried to do search through the issues and Google and found nothing.
If no such feature is there already. I think it would be a great thing to be added to

[2018-06-07 22:01] dimm0 commented on #3710
I can't figure out how to get the template. The docs for gitlab helm chart show how to install the remote chart, but template requires the local folder. If I pull the https://gitlab.com/charts/gitlab-omnibus repo and run `helm template` in it, it complains that it needs gitlab-runner, which is a separate helm chart.

[2018-06-07 22:52] bacongobbler commented on #3710
You can use `helm fetch` to fetch it locally or use `helm install --dry-run --debug` to get the output. The latter might be easier since it'll fetch that remote chart and render it.

[2018-06-07 23:04] sneko commented on #4019
Same as @ElijahGlover

[2018-06-07 23:14] dimm0 commented on #3710
Hm.. Ok, yes, it does try to create other namespaces. I guess then it's a question to helm chart developers?

[2018-06-08 02:41] Damien-DeZurik commented on #3911
I'm all for this but, from what I understand tiller is going away so I guess this feature would be of no use.

[2018-06-08 02:47] Damien-DeZurik commented on #4195
Hmmm, `helm init ...` isn't what you should use every time you switch contexts...
I agree, though, it is a pain with tiller to have to change $TILLER_NAMESPACE every time you change context.  You could start using `--tiller-namespace xyz` with your `helm` commands and skip changing the environment variable every time.  I suppose you could also make an alias or short script that changes both k8s co

[2018-06-08 03:51] bacongobbler commented on #4195
You can use the --kube-context=context-name global flag to switch the context on-the-fly.

[2018-06-08 03:52] ssubramanian123 opened #4197 "Build multiple charts using single chart and push to Repo"
Need Help / Suggestion:

Output of `helm version`: "v2.9.1"

Output of `kubectl version`: 1.9

Cloud Provider/Platform (AKS, GKE, Minikube etc.):  AWS

I have 70+ application and most of them uses same deployment. So I created one General Chart and it is available in our S3 Repo. When I want to deploy any application, I use this general chart override application name with respective image and dep

[2018-06-08 03:58] bacongobbler commented on #3911
Yes, but we'll still need to connect to a kube cluster so the context is still necessary. ;)

This sounds like a good feature if someone wants to tackle this. We have previous work that ties into the kube context's configured namespace via #2808 and #1400 so there's some historical context (ha) here.

[2018-06-08 04:43] thangbn commented on #4195
@Damien-DeZurik I think the **--tiller-namespace** option is to specify the namespace that tiller will be installed
@bacongobbler yeah, we can do that but it quite cumbersome to include that every command, something like **kubectl use-context** would be awesome

[2018-06-08 05:47] bacongobbler commented on #4195
okay. Re-marking this as an enhancement proposal since this functionality does not exist.

[2018-06-08 05:53] bacongobbler commented on #4191
So the syntax behind `{{-` and `-}}` (notice the hyphen) is that they strip any whitespace either before the statement (`{{-`) and after the statement (`-}}`). So, the documentation should probably use the following form:

[code]

Can you try messing around with removing one of the hyphens and see what you come up with?