[2022-10-12 13:08] randywatson1979 commented on #5602
Excellent, this is what I needed to set the contents from an enviroment variable. Thnx.

[2022-10-12 13:09] zachary-povey opened #11435 "Helm sometimes marks failed revisions as "superseded""
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):  GKE

# Issue
Potential duplicate of https://github.com/helm/helm/issues/2832; in most normal cases, revisions are only ever marked as `superseded` if they were previously marked as `deployed` (i.e. they were successful revisions of the release). This holds true for most cases

[2022-10-12 15:39] bamsammich commented on #10733
@bacongobbler could we get this issue reopened? This is still an issue.

Use case: Building chart testing using kind which has a standard SC with WaitForFirstConsumer. Chart includes a backup cronjob that backups up to a PVC, but the cronjob doesn't run during chart installation, thus hanging the install waiting for the PVC.

[2022-10-12 17:27] eddiezane commented on #11306
This appears to be an upstream Go issue.

https://github.com/golang/go/issues/52839

[2022-10-12 21:35] robin-carry commented on #11422
Did I understand you correctly - Either the resource has to be of `kind: deployment` or because my resources which are getting deployed have no `probes` defined, that is why the `helm-hooks` can't wait for them as they can't identify?

If either of the above understanding is true - is it possible to update the documentation too with it (I might do it too, but not a native english speaker & clearly

[2022-10-12 22:38] joejulian commented on #11422
These are the resources that helm knows how to wait for:
https://github.com/helm/helm/blob/main/pkg/kube/wait.go#L109-L145

If they're not in that list, no waiting is done. You can't really wait for a configmap to be ready or a secret, and the same is true for any custom resource. There's just no standard that's enforced by the kubernetes api server.

[2022-10-12 22:59] joejulian commented on #10814
Should "helm push" work with ChartMuseum? According to the CM docs, you upload with either curl or the plugin: https://chartmuseum.com/docs/#uploading-a-chart-package

[2022-10-12 23:35] robin-carry commented on #11422
Above ⬆️ reply clarifies where I was going wrong. So custom-crds are not in scope of helm-hooks I guess.

Can this be a feature request? Wait for `crd` of type `x` for `helm-hooks`?

[2022-10-13 08:11] nessa829 opened #11437 "cannot"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
AWS EKS

=============

Our helm chart structure is like :
**├── service-a**
│   ├── Chart.yaml
│   ├── templates
│   │   ├── NOTES.txt
│   │   ├── _helpers.tpl
│   │   ├── deployment.yaml
│   │   ├── hpa.yaml
│   │   ├── ingress.yaml
│   │   ├── namespace.yaml
│   │   ├── serv

[2022-10-13 08:40] #11070 closed

[2022-10-13 12:50] zoobab commented on #7584
"why this should be in Helm core"

I need to be able to use Helm in a corporate environment which is not connected to the Internet, and where I don't have the ability to run a local webserver.

Ideally I should be able to use Helm by just shipping a git repository with everything stored in there (including TGZs).

[2022-10-13 20:44] fastlorenzo commented on #11287
I can confirm doing that worked for me as well, took a minute for the upgrade/install to happen, no disruption or loss of data.

[2022-10-14 03:04] lazychanger commented on #2133
I submitted a plugin to override values.yaml with additional templates.

[helm-viv](https://github.com/lazychanger/helm-viv)
[example](https://github.com/lazychanger/helm-viv/tree/master/example/simple-example)

[2022-10-14 05:30] bekker commented on #8729
For those who seeking the exact parameter name: `--kube-insecure-skip-tls-verify`
It works for Helm 3.10.0

ex)
[code]

[2022-10-14 10:12] jamoflaw commented on #9136
@joejulian - I believe https://github.com/helm/helm/pull/11440 should fix this bug - looks like an bug where null keys are preemptively removed before subcharts are processed which causes the subcharts to merge their keys back into the parent chart again.

[2022-10-14 10:49] sstarcher commented on #10664
@antoinedeschenes that does not really seem feasible to me.
Example
* K8S 1.23
* Helm 3.8.0

Helm lint will still respond with
`batch/v1beta1 CronJob is deprecated in v1.21+, unavailable in v1.25+; use batch/v1 CronJob`

Even though batch/v1beta1 cronjob will work fine in 1.23.  Any deprecation will fail.  You are not suggesting a person should run with Helm that supports 1.21 even though they are

[2022-10-14 11:36] igorzamyslov commented on #9136
It seems to be a duplicate of #9027

[2022-10-14 13:34] bartwitkowski opened #11441 "Helm post-renderer used in powershell core"
Hey,

Is it possible to use Helm and `--post-renderer` flag running on powershell core?
All (except one) examples I have found uses bash. The only one solution does not work.
Whatever I try I always get:

`helm template prometheus prometheus-community/prometheus --post-renderer=./kustomize.ps1 --dry-run --debug`
`install.go:178: [debug] Original chart version: ""`
`install.go:195: [debug] CHART PA

[2022-10-14 13:38] renat1sakenov commented on #9789
We're also affected by this problem. As a workaround one could copy the inital Chart and add "-2" to its name, but hopefully that would only be temporary.

[2022-10-14 18:07] jamoflaw commented on #9136
Yeah I'd agree - looks like the behaviour I replicated in that PR, it should resolve that issue too

[2022-10-14 22:17] joejulian commented on #11437
Two normal ways of handling this:

The most common I've seen is to use a wrapper chart that sets that value for each of its subcharts (or use [global](https://helm.sh/docs/chart_template_guide/subcharts_and_globals/#global-chart-values) and configure your subcharts to override the local value with the global value if it exists).

The other way would be to use helm's post-renderer to do some substi

[2022-10-14 22:27] joejulian commented on #11441
I don't know much about using Windows anymore (I haven't used windows in almost 20 years, and omg I feel old saying that now). Does your .ps1 file have a shebang? I think you'd need something like `#! /usr/bin/env pwsh` to do it that way. If not, the other way seems to be
[code]

[2022-10-14 22:29] joejulian commented on #11422
That would need to go into k8s first. They'd need to provide a standard for communicating how a custom resource's status would be considered "ready".

[2022-10-14 22:35] joejulian commented on #10892
This says that at your url, the `index.yaml` file could not be unmarshalled into a [IndexFile struct](https://github.com/helm/helm/blob/d83dd95cae27ef95792ebfa0f4dc5ca6d9fda538/pkg/repo/index.go#L81-L93). This suggests that the url might be returning something other than what's expected.

See what happens if you use curl:
[code]

[2022-10-14 22:39] joejulian commented on #9136
Closing this one. Let's continue to track this in #9027. Thanks!

[2022-10-14 22:39] #9136 closed

[2022-10-14 22:45] joejulian commented on #10664
All the bits are there to do this. It should be a fairly easy task. See https://github.com/helm/helm/pull/8608/files#diff-ff8663c8d26f14679a0274ccb7dab29b04bd17084581c573ca06d8fb82d1d154R63-R65 where I call the upstream deprecation library.

[2022-10-14 22:47] joejulian commented on #10664
Sorry, I totally missed that there's a PR open already.

[2022-10-14 22:55] robin-carry commented on #11422
Cool... I would say this question has been answered. And I have understood the challenge behind it. As of now there isn't any way - so I will depend on the `k8s-scheduler` for a failing pod to killed/restarted.

[2022-10-14 22:55] #11422 closed

[2022-10-16 00:22] #11038 closed

[2022-10-16 05:01] protosam opened #11443 "expose the root cobra cli to embed helm as a subcommand?"
Already did the work of doing it in [this fork](https://github.com/protosam/helm). This would make it possible to embed helm as a subcommand of vendored toolkits. Similar to how [kubectl can be consumed](https://github.com/kubernetes/kubectl/blob/92206a7303970ac055539a8ba6f93775d5f7643f/pkg/cmd/cmd.go#L96).

This shouldn't break existing functionality and doesn't seem sophisticated enough to requi

[2022-10-16 08:00] sirantd opened #11444 "Command line and values option to lock chart to be applied only to the specific K8s context"
I'm looking for something that is similar to the terraform's `[allowed_account_ids] - (Optional) List of allowed AWS account IDs to prevent you from mistakenly using an incorrect one (and potentially end up destroying a live environment).`

It would be nice if I could specify in the my-values.yaml some K8s context and if it differs from some I am currently on - it would fail to apply with an error

[2022-10-17 00:16] BEvgeniyS commented on #10748
Can this issue be re-opened?
This happened to us when we were migrating our external secrets to new operator

When we update the template in helm chart from
[code]

to
[code]

It creates the new one, but keeps the old one, which causes the conflicts of ownership

[2022-10-17 06:36] shanthkumar079 commented on #8271
We are having a stateful set with a rolling update strategy, also the rollme and timestamp in the template annotations,  The pods are not getting re-created without the re-create-pods flag.

[2022-10-17 07:18] #11180 closed

[2022-10-17 10:26] BobDu commented on #6251
@technosophos Sorry, I had the same problem.
Although the end result is that I wrote the wrong values.yaml
But, the helm debug sure can not ouput error yaml.

So it's very hard to debug, I can not ensure is a bug in helm, At least not consistent with the behavior you describe.

My helm debug output like this.  No effective info for render yaml.

[2022-10-17 14:55] prashathsenthil commented on #11422
@robin-carry I'm facing a similar issue, so the resolution is that when helm-hook annotations are added to the resources that uses CRD then at this time its not supported... is that a correct understanding?

I have a resource that uses a CRD to create ClusterRole and ClusterRoleBinding, basically I want this to get deployed first, so I added pre-install, pre-upgrade hooks hoping that it go's in fi

[2022-10-17 16:45] robin-carry commented on #11422
It is not like it is `not supported`. It is like `it can't be supported` as of now, because `k8s` gives no way to understand when a custom resource can be marked ready. And hence the current implementation of `helm` can only identify limited set of `k8s-resources` for which `Helm-Hooks` are applicable.

From the [code base](https://github.com/helm/helm/blob/main/pkg/kube/wait.go#L109-L145), we can

[2022-10-17 20:31] prashathsenthil commented on #11422
Thank you, it makes sense. Appreciate the quick response

[2022-10-18 00:24] #11056 closed

[2022-10-18 00:24] #11052 closed

[2022-10-18 02:55] PauloFerreira25 commented on #3276
+1

[2022-10-18 03:30] calvin0327 opened #11447 "helm is not find the corresponding chart"
<img width="770" alt="企业微信截图_5c76aeaf-b93f-4512-98bc-e12d44850a14" src="https://user-images.githubusercontent.com/45745657/196328568-a254fffc-320c-424b-a6e6-15e9667524af.png">

When I specify an explicit version, helm doesn't seem to pull the corresponding package.
Is there a problem with the cache?

Output of `helm version`:
`version : 3.6.1`

Output of `kubectl version`:
`v1.20.11`

Cloud Provid

[2022-10-18 03:38] zanhsieh opened #11448 "Document / Feature on how to intercept namespace creation / modification"
Hi,

I would like to know if there is any way or work around to intercept helm creating / modifying namespace, which means it shall be compatible with:

- `helm install <chart_name>`
- `helm install <chart_name> -n <given_namespace> --create-namespace`
- `helm upgrade <chart_name>`
- `helm upgrade <chart_name> -n <given_namespace>`

My scenario relates to k8s v1.25+ PSP deprecation. My plan:

1. A

[2022-10-18 03:38] cloorc opened #11449 "lookup function won't work"
Output of `helm version`:

Output of `kubectl version`:

Client Version: version.Info{Major:"1", Minor:"24", GitVersion:"v1.24.0", GitCommit:"4ce5a8954017644c5420bae81d72b09b735c21f0", GitTreeState:"clean", BuildDate:"2022-05-03T13:46:05Z", GoVersion:"go1.18.1", Compiler:"gc", Platform:"windows/amd64"}
Kustomize Version: v4.5.4
Server Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.

[2022-10-18 07:19] cloorc commented on #11449
Sorry, it works. What result in this `issue` is the usage about `:=` to reassign the variable `$exist`, it should be `=` instead.

[2022-10-18 07:19] #11449 closed

[2022-10-18 07:48] hickeyma commented on #11447
@calvin0327 Do you mind showing the command you are running? Also, what version you expect?

[2022-10-18 09:14] hemanthmoorthy opened #11450 "unable to install helm on minikube-redhat linux"
$ curl -fsSL -o get_helm.sh https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3
$ chmod 700 get_helm.sh
$ ./get_helm.sh

Error message: Helm v3.10.1 is installed helm not found.Is /usr/local/bin on your $PATH?
 Failed to install helm

Please help on this

[2022-10-18 10:43] antaloala commented on #10899
@bacongobbler , @mattfarina could you comment?
I think we should revert the non-backward-compatible change introduced in Helm behavior from 3.8.2 onwards (because of the merged PR closing #9940) as soon as possible.
The proposed PR #1162 for that is still providing a solution for the people asking for a different behavior, so when this PR being merged we will

- get again the previous behavior (so

[2022-10-18 12:14] kbirger commented on #3276
Do you know go? This IS an open source tool. Not a maintainer, but I'm sure they'd be happy to review a pr

[2022-10-18 12:18] PauloFerreira25 commented on #3276
@kbirger PR is already open here
https://github.com/helm/helm/pull/8841

[2022-10-18 12:19] alexpirine commented on #3276
Let’s stop making software and grow potatoes instead, so we can stop blaming each other and rather express our frustrations to gods of rain and sunshine.

[2022-10-18 12:35] stephan2012 opened #11451 "Repository configuration file permissions too wide"
Output of `helm version`: `version.BuildInfo{Version:"v3.10.1", GitCommit:"9f88ccb6aee40b9a0535fcc7efea6055e1ef72c9", GitTreeState:"clean", GoVersion:"go1.18.7"}`

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): `kubeadm`

I just noticed that Helm creates `~/.config/helm/repositories.yaml` with POSIX file permissions `0644`, which is probably not appropriate

[2022-10-18 12:36] alexpirine commented on #3276
I myself wanted this back in 2018 and commented here. I gave up on waiting anything.

I can only give a very general unsolicited advice: just find out another way to do things.

You can’t wait for another five years. Helm might very well be dead by that time and replaced by something newer and fancier (there are already 2 or 3 good candidates).

And we will have other issues. We are constantly cre

[2022-10-18 12:56] Eeemil commented on #3276
I sometimes I wish I was a farmer instead. :man_farmer:

I managed to circumvent my need for including files by using a symlink to whatever file I needed (outside of the chart) and then reference it with  `{{ tpl (.Files.Get "symlink-to-directory-with-stuff/snippets/very-secret-thing.yaml") . -}}`. It's a rather ugly hack and it probably only ever works when referencing a chart on the local file s

[2022-10-18 13:06] PauloFerreira25 commented on #3276
@Eeemil
This is a great solution when you have a local helm.
But for helm in a repository, it won't really work.
Thank you so much for sharing your "workaround".

[2022-10-18 17:08] joejulian commented on #11444
This sounds like it could be able to be implemented as a plugin. You might give the [plugins guide](https://helm.sh/docs/topics/plugins/) a look and see if you can implement something there. Could be a good project.

[2022-10-18 17:14] joejulian commented on #11448
The only way I can think of doing this would be to use the `bitnami/kubectl` image in a pre-install hook Job to `kubectl label` the namespace.

[2022-10-18 17:15] joejulian commented on #11450
Is `/usr/local/bin` on your $PATH?

[2022-10-18 20:48] joejulian commented on #11158
This was answered and there's been no further follow up by the issue creator. Closing.

[2022-10-18 20:48] #11158 closed

[2022-10-18 20:55] joejulian commented on #11157
@kitianFresh is correct. A job that's run as a post-delete hook will run with the default service account for that namespace. If you wish the job to run with elevated privileges, you'll need to also add hooks for the rbac resources needed for those privileges and use that serviceaccount in your job.

[2022-10-18 21:28] joejulian commented on #10875
You can solve this by checking the output:
[code]

[2022-10-18 22:07] zanhsieh commented on #11448
@joejulian Yes I did try that way but no luck. Here is my Job manifest under a test `foo` chart (hanging forever):

[code]

[2022-10-19 00:21] #10786 closed

[2022-10-19 02:44] ksankeerth commented on #11451
/assign

[2022-10-19 05:18] mgacamedica commented on #8994
we are also facing this issue on v3.2.4. Please reopen this issue.

[2022-10-19 11:54] sirantd commented on #11444
It could work but require adding an alias to the helm command to call the helm with the plugin name instead. I don't see other ways how to call some plugin each time if it's just installed.

Anyway, thx for the idea, will check how to implement it.

[2022-10-19 15:14] Hammond95 opened #11452 "How to add AWS ECR oci repo"
Output of `helm version`: `version.BuildInfo{Version:"v3.10.0", GitCommit:"ce66412a723e4d89555dc67217607c6579ffcb21", GitTreeState:"clean", GoVersion:"go1.18.6"}`

Output of `kubectl version`:

Cloud Provider/Platform (AKS, GKE, Minikube etc.):  `AWS`

============

AWS ECR gives you a way to push helm charts and use it as repo for charts via OCI support.

I am able to push helm charts on ECR, as

[2022-10-19 15:32] Hammond95 commented on #11452
I see that also the issue #10892 has a similar problem, and the root cause may be AWS not providing an index.yaml endpoint as stated in this comment https://github.com/helm/helm/issues/10892#issuecomment-1279544202, and somehow confirmed by this open issue on aws roadmap https://github.com/aws/containers-roadmap/issues/1603.

[2022-10-19 15:38] Hammond95 commented on #11452
I am still wondering if there is a workaround 🤔

[2022-10-19 20:01] mateuszdrab commented on #10304
I also think it should be possible to make helm take ownership over a resource with some sort a `--force` flag instead of needing workarounds or downtime inducing changes

[2022-10-19 20:04] joejulian commented on #10786
I've reviewed the automated close. The correct way to do this is to specify multiple values files when using the helm cli.

[2022-10-20 00:07] zanhsieh commented on #11448
@joejulian I got some initial success:

[code]

[code]

[code]

Pass some of requirements:

[code]

[2022-10-20 08:16] ba32107 commented on #4262
This doesn't work for me. The single quotes are just carried over to the final output :(

None of the proposed solutions work if you don't control the chart you are using. In my case it's:
https://github.com/argoproj/argo-helm/blob/main/charts/argo-cd/templates/extra-manifests.yaml

This allows adding any extra K8s object to the chart, but without quotes it's proving to be very challenging :/

[2022-10-20 08:39] Ysgorg commented on #10607
This is still reproducible with helm v3.10.1

[2022-10-20 09:46] derpsteb opened #11454 "Private dependencies on Chart preventing marshalling dependencies"
Hey everyone,
I am trying to send a chart with local dependencies over the wire. To do so I tried marshaling the chart with `json.Marshal`. Since the `dependencies` field in the [Chart](https://github.com/helm/helm/blob/main/pkg/chart/chart.go#L56) type is private, the field is not marshalled. Currently using v3.9.4.

What is the intended way of marshaling a `Chart` object?

Looking at [helm packa

[2022-10-20 12:44] mindw commented on #4262
Not being able to keep the type of the original yaml is a very surprising behavior. One expects the string `"1"` to stay a string and not turn into a yaml integer `1`:
The issue seems to be in "sigs.k8s.io/yaml" package in the `Unmarshal` function as the following program will demonstrate:
[code]
The reference go-yaml v2 & v3 program (with the `"e"` addition) keeps the quotes just fine.

[2022-10-20 14:01] vlushn commented on #3276
git repositories support symlinks, though unsure how well they are supported outside of *nix.

[2022-10-20 14:53] bstrdsmkr commented on #8040
Still not stale...

[2022-10-20 16:55] nodesocket opened #11457 "Helm dependency update recursive"
How can I run `helm dependency update` recursively in the top level directory instead of having to do:

[code]

This step is very slow and pulls down the Bitnami common chart over and over again.

[2022-10-20 19:13] joejulian commented on #11452
I know you can `helm install asdf https://charts.redpanda.com/redpanda-2.2.1.tgz`, can you do the same using `oci://...`?

[2022-10-20 21:50] jwhitaker-swiftnav opened #11458 "`snakecase` template function turns `abc_123_def` into `abc_123__def`"
As per the title, running
[code]
in my template gives`abc_123__def`. I would expect it to give `abc_123_def`.

I've tracked down the issue to an indirect dependency and raised a PR - https://github.com/huandu/xstrings/pull/52 . However I still want to raise this in helm directly to track until it's fixed and updated.

Thanks!

Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cl

[2022-10-21 00:20] #11063 closed

[2022-10-21 01:44] ryancastle commented on #11130
This is still an issue, but there are work-arounds for template authors who cannot guarantee the quoting semantics of input YAML.

For values with are _always_ integers:

[code]

For values which are _somtimes_ integers (Hashes, IDs etc):

[code]

## Test
### values.yaml

    samples:
      alwaysIntegerBare: 325255969
      alwaysIntegerQuoted: "325255969"
      sometimesIntegerBare: 325a255969

[2022-10-21 06:43] #11146 closed

[2022-10-21 08:14] Hammond95 commented on #11452
The `helm install --help` says the following:

[code]

So I think the answer is yes. But I perform the installation using helmfile, never tried with helm directly.

[2022-10-21 13:26] lubojr commented on #10398
As a developer of charts with linked values schemas I would also want to not prevent my users from failing to install the script when not having internet connection. :+1: for this feature request.

[2022-10-21 19:04] wibobm commented on #11415
Seeing same here.

[2022-10-21 19:45] p33t opened #11461 "Chart generator puts hard-coded port 80 in resulting deployment.yaml"
The `deployment.yaml` template created from `helm create ...` works but port 80 is hard-coded. This impacts deployment of apps that use non-80 port internally (e.g. React apps on 3000). Changing the port used in `values.yaml` prevents the pod from launching because liveness and ready endpoints are incorrect.

Based on my very limited knowledge of Helm/Go, it appears [line 315 of pkg/chartutil/crea

[2022-10-21 20:10] rinormaloku commented on #8085
PING.

This flag `--reset-then-reuse-values` would make the other (IMHO stupid) flag `--reuse-values` almost make sense. But still, not, as it's really a silly flag.

[2022-10-21 23:21] jtyr commented on #10169
I'm also not able to push into AWS ECR if the repository name contains `/` (e.g. `helm/test`):

[code]

But if I create ECR repository without `/` (e.g. `test`), it works just fine:

[code]

I'm using Helm v3.10.0.

Does somebody know why it doesn't work?

[2022-10-21 23:21] joejulian commented on #11457
Can you just make a wrapper chart do which all of those are dependencies?

[2022-10-21 23:38] nodesocket commented on #11457
@joejulian thanks for the reply. I'd prefer not to have to create a wrapper chart. All the above charts are 3rd party and auxility support applications needed for our core applications. Our core applications are a series of Helm charts, not a single.

[2022-10-21 23:43] joejulian commented on #11167
`containers` should be a list

[2022-10-21 23:49] joejulian commented on #11448
Looks ok to me. I'd still use the bitnami container (and I do). I'm surprised the 1.9 kubectl works.

[2022-10-21 23:53] joejulian commented on #11454
I don't see any reason why not.

[2022-10-22 00:02] #11448 closed

[2022-10-22 00:04] joejulian commented on #8040
I think this needs to be a contribution from the community. If someone would like to pick it up and open a PR, that would be fantastic.

Otherwise, when the next stale label comes around, I'm going to suggest that there's not enough interest and there's a sufficient workaround in just running `helm rollback` as a second step to close this issue. Sorry, as I know that folks can be pretty passionate

[2022-10-22 00:18] joejulian commented on #11415
It looks to me like helm is never receiving a response.

[2022-10-22 00:22] joejulian commented on #11457
The only other idea I can think of would be to set up a pull through caching proxy. That way even though it's pulling the bitnami core, it's doing it locally.

[2022-10-22 02:40] nodesocket commented on #11457
@joejulian interesting about setting up a caching proxy. Can you elaborate or have any links on setting this up? Is it possible using just [Caddy](https://caddyserver.com/)?

[2022-10-22 02:53] joejulian commented on #11457
I haven't done so in a long time. Last time I did it was using squid to manage my (now 28 year old) son's internet access.

[2022-10-22 06:20] delca85 opened #11463 "Install action does not install anything if ran previously with ClientOnly flagged"
With the current Action Go package APIs, I am having an issue with the [install action](https://github.com/helm/helm/blob/f08db5c899c4e312c72ae863acbb90ac8a4747ed/pkg/action/install.go#L487).

The issue I am facing is that if I run two install actions, the first with `ClientOnly` flag set to `true`, also the second one does not reach the cluster.

Here's the code of the 1st action that runs to pro

[2022-10-22 10:58] genofire commented on #10989
Not solved

[2022-10-22 17:04] delca85 commented on #11463
From my understanding, the issue is [this line](https://github.com/helm/helm/blob/d79ae9f927c00069ec39571501e82a9a8d0697ef/pkg/action/install.go#L224) that assign to the shared `KubeClient` a fake one.

The workaround I came up with is to reinitialize it:
[code]

This line makes the install action able to install the release.

I'd like to know if this is the expected behaviour.

[2022-10-23 00:23] #11067 closed

[2022-10-23 01:06] yxxhero commented on #11458
@hickeyma  we need to upgrade https://github.com/Masterminds/sprig if https://github.com/huandu/xstrings/pull/52 has been merged.

[2022-10-23 16:06] ssrahul96 commented on #8203
added upstream to winget https://github.com/microsoft/winget-pkgs/pull/86104

[2022-10-24 10:14] #11461 closed

[2022-10-24 10:22] hickeyma commented on #11458
@yxxhero would you like to push a PR to https://github.com/Masterminds/sprig?

[2022-10-24 10:23] yxxhero commented on #11458
@hickeyma yes. if https://github.com/huandu/xstrings is released. I will push a PR for this issue.

[2022-10-24 10:52] atcvetkov commented on #7007
we also need this option!

[2022-10-24 12:08] aslafy-z commented on #9710
@andreaskaris Can you please re-open this issue?

[2022-10-24 12:29] yxxhero commented on #9710
@aslafy-z reopened

[2022-10-24 14:02] aslafy-z commented on #9710
@yxxhero Can you assign (or ping) some (active) reviewers to the [associated PR](https://github.com/helm/helm/pull/9713)? That would be awesome!

[2022-10-24 14:13] ValentinOzanne opened #11464 "Helm release secret storage optimization ?"
Hello,

We are facing some issues with helm release storage in k8s in a growing project. We encounter such error :
`Error: UPGRADE FAILED: create: failed to create: Secret "sh.helm.release.v1.xxxxxxxxxx.v16" is invalid: data: Too long: must have at most 1048576 bytes`

After analysis the content of the secret, I would like to share some optimization suggestion regarding the content of this secret:

[2022-10-24 14:31] tculp commented on #10416
Un-stale

[2022-10-24 15:05] ssrahul96 commented on #8203
i have submitted the package name as `Helm.helm`, is this correct or it should be `Kubernetes.helm` ?

[2022-10-24 15:55] stuartdrennan commented on #11292
It looks like https://github.com/helm/helm/pull/11401/files may fix this

[2022-10-24 19:11] dmvariphy commented on #11415
Issue created with Google as well: https://issuetracker.google.com/issues/255248281

As a workaround, you can manually timeout the command and retry it, e.g.

[code]

[2022-10-25 00:20] joejulian commented on #11463
IMHO, I'd say the issue is at https://github.com/helm/helm/blob/d79ae9f927c00069ec39571501e82a9a8d0697ef/pkg/action/install.go#L127-L134

I would expect that a "New" anything should be creating a completely new independent resource. The cfg shouldn't just be a link to the configuration that was passed to it, it should be a copy.

I'm going to triage this as a bug and see if anybody disagrees.

[2022-10-25 00:25] joejulian commented on #11463
A workaround, of course, is to pass NewInstall a copy of the Configuration struct.

If I were to write a PR to address this, I think I would add a DeepCopy method for the Configuration struct and then use it in NewInstall for setting cfg.

[2022-10-25 06:36] joejulian commented on #11464
It's not actually double base64 encoded. When you `kubectl get secret` it's output base64 encoded. Try it out:

[code]

[2022-10-25 06:45] dcristobalhMad opened #11466 "Flags in helm package command"
To improve the CI/CD system, would it be possible to set values as variables and the chart version in cli? OCI approach. Example:

`helm package ./test-chart --version 1.2.3 --set repository.image=nginx:latest`

I believe that this facilitates the software life cycle and could be a standard in the future.

[2022-10-25 07:38] delca85 commented on #11463
Yes, I totally agree. What I meant in the issue description is that the behaviour was due to that line, that makes totally sense in order to perform a mock call, but shouldn't be spread across all the actions created after that one.

@joejulian May I take this issue?

[2022-10-25 08:35] nguemechieu opened #11467 "azure-kubernetes-service-helm.yml"
After a long trying and check over internet I'm unable to fix this issue .Please help me!
//Below are error message from GitHub action
Run azure/k8s-bake@v2.1
/usr/bin/unzip -o -q /home/runner/work/_temp/c58f4f02-bd3c-41e5-82b0-341281d63bf6
Running helm dependency update command..
/opt/hostedtoolcache/helm/3.10.1/x64/linux-amd64/helm dependency update ./tradeadviser/charts/chart.yaml
Error: only u

[2022-10-25 09:29] ckfahad commented on #7656
`sudo apt install make SKIP_LINT=TRUE`

i am trying to add a local helm repo

`Unable to locate package SKIP_LINT` i am getting this error

please guide

[2022-10-25 11:17] derpsteb commented on #11454
Thanks for the answer :)

I found [chartutil.Save](https://pkg.go.dev/helm.sh/helm/v3@v3.10.1/pkg/chartutil#Save) by now, which pretty much does exactly what I needed. Reading the chart with a slightly modified version of loadDir and then putting it into `Save` gives me the .tgz I needed.

[2022-10-25 11:17] #11454 closed

[2022-10-25 13:34] joejulian commented on #11466
This isn't something that helm supports. You might be able to write a [helm plugin](https://helm.sh/docs/topics/plugins/) to get that behavior.

[2022-10-25 13:38] joejulian commented on #11467
`helm dependency update ./tradeadviser/charts/chart.yaml` should probably be `helm dependency update ./tradeadviser/charts`. Also, `chart.yaml` should be `Chart.yaml`.

[2022-10-25 13:51] joejulian commented on #10989
The question was asked, it was answered with documentation. An alternative solution was suggested.

The question has been raised several times regarding templating values.yaml and there's been a clear message from the core maintainers that that kind of complexity will not be added.

Please try out genofire's suggestion or consider writing a [helm plugin](https://helm.sh/docs/topics/plugins/) that

[2022-10-25 13:51] #10989 closed

[2022-10-25 13:54] bsloan-icl opened #11468 "Option to recreate pods as part of the --atomic flag"
Is it possible to recreate pods if a helm upgrade fails? We currently have Jenkins installed on AKS via the helm chart and it would be useful to automatically rollback the release if the upgrade fails. For example, after running helm upgrade there could be an imagepullbackoff error. When using the --atomic flag the release will be rolled back but the pods remain in the imagepullbackoff state. It c

[2022-10-25 13:59] dcristobalhMad commented on #11466
Hey @joejulian, there seems to be a PR solving this, right? #11460  Sorry if I have misunderstood something

[2022-10-25 14:20] joejulian commented on #11466
Ah, I wasn't aware. Thanks!

[2022-10-25 17:49] Shiva19908 opened #11469 "Does Helm support adopting K8S resources created during the upgrade/rollback process, for example, a resource created by a helm hook job"
Hi Guys,
Does helm adopt resources created by a helm hook, for example, a resource created by a helm pre-upgrade hook? We are getting below error during the upgrade:
`upgrade.go:434: [debug] warning: Upgrade "abc" failed: no Service with the name "abc-headless" found
Error: UPGRADE FAILED: no Service with the name "abc-headless" found
helm.go:84: [debug] no Service with the name "abc-headless" fou

[2022-10-25 17:51] Shiva19908 commented on #11469
It seems here in this function call the "adoption" will happen

https://github.com/helm/helm/blob/7ed9d16dc764a5b94b378a7e217865efaa0d9ac8/pkg/action/upgrade.go#L299

after that line in same function, the pre-upgrade hooks would be executed by this function https://github.com/helm/helm/blob/7ed9d16dc764a5b94b378a7e217865efaa0d9ac8/pkg/action/upgrade.go#L330

i think that if a hook creates resource

[2022-10-25 20:09] pdmack commented on #5550
For other travelers who find themselves here...
This can also be caused by certain unprintable chars/bytes making their way into your YAML, say when going through certain editors. YMMV.

[2022-10-25 21:10] dmvariphy commented on #11415
@jonjohnsonjr I think it hangs indefinitely.

[2022-10-25 21:48] nguemechieu commented on #11467
Thanks for quick answer. This is what I found.
- On azure when using automated deployment,github action require to have the another Chart.yaml in the specify directory without replacing or removing the first file Chart.yaml that was created at init .
- After Adding my Chart.yaml in the templates directory ,everything  started working.
- Here the final output
Run helm upgrade --wait -i -f ./tradead

[2022-10-25 21:48] #11467 closed

[2022-10-26 07:50] AssafKatz3 opened #11471 "Add supporting of output flag at helm get manifest"
Hi,

The idea is to use a similar code (or the same) as `kubectl get`, so it will be possible to get the list of all managed resources of a specific release. This will be useful for examing the current status of resources that were created by release.
The command will be for example:
`helm get manifest kafka -o name`
This will be backward compatibility by defining the default value to be yaml (unl

[2022-10-26 08:17] ValentinOzanne commented on #11464
Hello @joejulian

Regarding Data encoding suggestion, I was talking about the following encoding workflow of a helm release stored in a secret

1. gzip compress - Helm zipping
2. base64 encoding  - Helm encoding :  **?? necessary ??**
3. base64 encoding (again) - Kubernetes secrets encoding

cf. https://gist.github.com/DzeryCZ/c4adf39d4a1a99ae6e594a183628eaee

=> It seems your example is showing a

[2022-10-26 08:58] dcristobalhMad commented on #11466
Hey @joejulian , no worries. After put my comment I saw it xD. Anyway I am going to close this issue, It does not make sense right now. Thanks!!

[2022-10-26 08:58] #11466 closed

[2022-10-26 09:31] epierotto opened #11472 "Helm pull fails if repo URL contains Azure Blob SAS token"
Output of `helm version`:
[code]

Output of `kubectl version`:
Not applicable

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
Helm repo on Azure Blob with SAS token

We use Azure Blob as Helm repo.
To authenticate we issue SAS tokens with required permissions.
This works perfectly fine if you add the Helm repo
[code]

You can also pull charts by referencing the added Helm repo
[code]

What doe

[2022-10-26 09:38] virtualpeter opened #11473 "[Suggestion] macOS release binaries are not Code-signed with a developer or team ID"
Referring to the apple developer Codesigning in particular, but similar consideration could be made for binaries intended to run on Windows11

Looking at released macOS binaries for v3.10.1:
* The arm64 binary has an 'ad-hoc' signature
* The x86_64 binary is not signed

So, they are not even consistently signed, but also not signed in a way that is useful for desktop software today.

It seems like

[2022-10-26 18:02] clintmod commented on #10115
reopen

[2022-10-26 18:05] clintmod opened #11474 "stop using stale bot"
There are a bunch of issues that are valid that get "closed" by stale bot

[2022-10-26 18:05] jonjohnsonjr commented on #11415
I am not able to reproduce this. I've been running helm 3.10.0 in a loop pulling from us-west1-docker.pkg.dev for ~an hour without any hanging. Where are you running this from? Are you behind any kind of proxy?

[2022-10-26 18:07] clintmod opened #11475 "Helm template post-render doesn't work if set --output-dir"
https://github.com/helm/helm/issues/10115

[2022-10-26 18:07] clintmod commented on #11475
Creating duplicate issue that's open because the stupid stale bot closed it.

[2022-10-26 18:08] clintmod commented on #11475
I can confirm that this is still a problem with:

[code]

[2022-10-26 18:38] loganmzz commented on #9214
I think better option is to have an addtionnal field in `.Chart` which contains original name.

[2022-10-26 18:48] loganmzz commented on #9214
@consideRatio  For your specific use case, can't you rely on a specific Chart annotation ? May be with some random (e.g. UUID v4) value ?

Note: I know it's not the right place, but not sure if PR/issue will be the best place to "suggest" solution.

[2022-10-26 19:10] AndiDog opened #11476 "apt package installation of Helm not possible from IPv6-only host since baltocdn.com is IPv4-only"
I'm trying to set up an IPv6-only Kubernetes cluster. To install the desired CNI, I want Helm. To install Helm, I want to [install it via apt](https://helm.sh/docs/intro/install/#from-apt-debianubuntu) in order to get updates automatically. But because the host only has a IPv4 record, it cannot be reached.

You'd get an error like

[code]

DNS record lookup:

[code]

Can the Debian/Ubuntu packages

[2022-10-26 21:47] dmvariphy commented on #11415
Thanks for taking a look @jonjohnsonjr.  It's interesting you aren't seeing the issue; that's another data point in figuring out what's going on here..

I can see the issue both when running helm locally on my workstation, as well as part of a build pipeline running on a (not local) VM.  The requests would come out of separate networks in those two scenarios.

As far as I know, I'm not behind a pr

[2022-10-27 00:17] #11051 closed

[2022-10-27 07:03] joejulian commented on #10115
According to this code, it is written to both the output-dir and the post-renderer:

This writes to the output-dir: https://github.com/helm/helm/blob/8199db309ae73d745b983fb7ea2bfdd944a834ae/pkg/action/action.go#L198-L216
This calls the post-renderer: https://github.com/helm/helm/blob/8199db309ae73d745b983fb7ea2bfdd944a834ae/pkg/action/action.go#L218-L223

What it does not do, nor can it, is to ta

[2022-10-27 07:04] joejulian commented on #11475
Closing this and responded in the original. This is not something that can be done in helm.

[2022-10-27 07:04] #11475 closed

[2022-10-27 07:31] joejulian commented on #11476
I think you have two options. One is to host a mirror of the baltocdn apt repo on an ipv6 host, or add a nat64 gateway. For some reason the world still, after all these years, isn't ready for IPv6.

[2022-10-27 07:36] joejulian commented on #11469
You are correct, it's too late. The adoption is checked before any resources are applied in order to prevent part of the manifest from being applied only to find out part way through that one of the resources already exists and can't be adopted.

[2022-10-27 07:40] joejulian commented on #11471
`helm get manifest` already outputs all the resources in yaml. If you could add come context around what your end-goal is, perhaps there's a way to accomplish it already.

[2022-10-27 07:44] joejulian commented on #11473
Everyone that might be able to so much as comment on this is at Kubecon this week.

[2022-10-27 07:44] AssafKatz3 commented on #11471
Hi,
I want to pass specific resources type to kubectl wait, today I need to parse the output YAML, and then I can use it. In addition, I want to know the resources in which the microservice (=release) is used, and it is hard to do it with YAML. In other words, I want to pass a list of resources to kubectl subcommands, and it is hard to do it currently.
Thanks

[2022-10-27 07:52] joejulian commented on #11474
If we could get some more folks to manage the issue queue and answer questions and follow up on stale issues, I'd be happy to champion that. Right now we have two volunteer that do issue triage in our spare time and it's hard to just keep up with the new issues of the day.

Come on in! Join the weekly meeting, say hi! We're nice folks and happy to help you help us, even if it's as little as one is

[2022-10-27 07:56] joejulian commented on #11468
As long as your apps/v1 resource changes, the rollback should change it back, ie. if your Deployment changes because your image tag changed, when it rolls back it'll revert that tag change, which will change the Deployment and cause Kubernetes to scale down the errant ReplicaSet and create a new one.

If that's not happening, I think it's only possible if your app resource is a hook. Hooks are a b

[2022-10-27 08:04] joejulian commented on #11471
I do that with `yq` filtering, ie:
[code]

[2022-10-27 08:10] AssafKatz3 commented on #11471
Hi,
I don't have yq in my image so I used python for it, I still think that it is useful enough for adding it to HELM itself.
Thanks

[2022-10-27 08:10] joejulian commented on #10180
Your error was because you used the whole string as the name of the binary. It looked for the command, spaces and all, as the name of the command. You need to split that between `--post-renderer` and `--post-renderer-args`. See https://helm.sh/docs/helm/helm_install/#options

[2022-10-27 08:13] joejulian commented on #11415
Time to break out wireshark. :grin:

[2022-10-27 08:21] MichaelMorrisEst commented on #10586
Hi @joejulian
I am interested in contributing a fix for this issue as per your suggestion. I will create a PR with the code changes.
This is my first contribution to the helm project so if I am missing anything in terms of the process for contributing then please let me know

[2022-10-27 08:36] joejulian commented on #11471
So if you wanted to add this, I would probably see if there's a way to just use the output library from kubectl, that way you could get all the different formats:
[code]
I'd start by looking here: https://github.com/helm/helm/blob/7ed9d16dc764a5b94b378a7e217865efaa0d9ac8/cmd/helm/get_manifest.go#L57

If you need any help, come ask at the weekly developer meeting. There's always someone willing to

[2022-10-27 08:37] scndel commented on #10555
For us too, it would be really useful to have a **post hook** not blocking `helm upgrade`.
Here's our use case to show something concrete about the need : after upgrading one instance, we need eventually to update some data with an external api. Depending on the amount of entries, the job duration can significantly vary : from seconds to minutes.

[2022-10-27 08:39] joejulian commented on #10586
Also if you need any help, normally I'd suggest coming to the developer meeting but this week is cancelled because most everyone's at Kubecon. Next week should be good though.

[2022-10-27 09:19] wvengen commented on #2247
Another script to do a recursive `helm dep list` when a chart is missing. This one does a refresh of the repositories once only when there is a missing dependency.

[code]

[2022-10-27 10:50] Shiva19908 commented on #11469
hi @joejulian thanks for the confirmation :)

[2022-10-27 11:18] michelesr commented on #7891
Now that skaffold v2 switched to use `--post-renderer skaffold`, running development environments when there are hooks it's impossible, as skaffold can't set the image tag for the hooks correctly. :-(

[2022-10-27 12:22] bsloan-icl commented on #11468
Jenkins uses a stateful set and when using the --atomic flag it does revert the faulty tag change but the stateful set isn't scale down. Looking at the docs https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#forced-rollback it looks like this is a k8s issue rather than helm.

[2022-10-27 13:12] Adaendra opened #11477 "Fix FR documentation"
FIx the FR documentation. Some markdown links are not setup correctly (cf https://helm.sh/fr/docs/)

Output of `helm version`:

Output of `kubectl version`:

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

[2022-10-27 13:15] joejulian commented on #11468
Or it's a Jenkins chart issue if it doesn't need OrderReady (I don't know if it does). OrderReady is the default but maybe it could work with Parallel? If it could, I think that wouldn't need the same manual intervention.

The manual intervention need for OrderReady STS is valid. If all the pods were rolled, you could lose quorum and potentially lose data. You definitely don't want Helm forcefully

[2022-10-27 13:16] #11477 closed

[2022-10-27 14:28] bsloan-icl commented on #11468
Hmm interesting idea. I'll have to do some digging and see if parallel is something we could use. Thanks a lot for your help joejulian. I'll go ahead and close this issue.

[2022-10-27 14:28] #11468 closed

[2022-10-27 14:33] creiche commented on #11095
I would love to see this working since ran into this issue in a recent project.  Trying to use an umbrella chart to deploy many services where they cross reference each other's helpers.

[2022-10-27 14:43] CarpathianUA commented on #9027
Pain in the ass for me as well :(

[2022-10-27 15:01] Shiva19908 commented on #11469
hi @joejulian thanks for the confirmation :)

[2022-10-27 15:18] max-rocket-internet commented on #10935
I also find it frustratingly slow compared to everything else on k8s:

[code]

[2022-10-27 15:22] max-rocket-internet opened #11478 "A release that is `deployed` is not show in `helm list`"
We have a release and the status is `deployed`:

[code]

But it doesn't show in `helm list`:

[code]

I can see the Helm release secrets though:

[code]

And helm history works:

[code]

But still doesn't show in `helm list`, that's a bug, right?

Output of `helm version`:

[code]

Output of `kubectl version`:

[code]

Cloud Provider/Platform: AWS EKS

[2022-10-27 16:04] keskad commented on #7584
That's my use case. I'm using ArgoCD to deploy massively those kustomization.yaml files to allow teams to decide by themselves what they deploy. That approach would allow them to deploy a custom helm chart from their repository without publishing it to artifactory.

[code]

[2022-10-27 16:48] zoobab commented on #7584
By the way, i had to fix the file plugin here:

https://github.com/zoobab/helm_file_repo

[2022-10-27 17:34] esune commented on #10180
@joejulian I am not sure I follow you: there are no arguments in my call, just the path to the executable to be used as renderer, which is consistent with the documentation.
The reported issue is not that the command doesn't work, but that it ONLY works under Linux and not in other bash-compatible shells such as Git bash due to Go relying on the architecture of the underlying OS to spawn the proce

[2022-10-27 18:30] jouve commented on #11385
as a side effect, this breaks [helmfile/helmfile](https://github.com/helmfile/helmfile/) template

[2022-10-28 11:39] ethcero opened #11481 "Missing RBAC resources when templating using --output-dir option"
RBAC resources are not rendered in a very specific case when they reside in the same template file that another resource with hook annotations and we use `--output-dir` option.

Data to reproduce:

**templates/dummy.yaml**
[code]

Run helm template command:
[code]

Rendered file:
[code]

If I remove the `"helm.sh/hook": post-install` from annotations, the file is rendered correctly and all RBAC re

[2022-10-28 14:56] rpf3 opened #11482 "Invalid Manifest Pushing to AWS ECR"
I am using Helm to push a chart to Amazon ECR.  However it appears that the chart manifest is missing metadata that is expected by AWS.  After hearing back from the AWS ECR team, they suggested opening an issue here to continue the debugging.  The full thread is [here](https://github.com/aws/aws-sdk/issues/193) but the short of it is that the payload to AWS is missing the `imageManifestMediaType`

[2022-10-28 15:33] Argelbargel opened #11483 "Improve documentation/template-guide about dependencies to global values"
Hi there,

While following the template-guide i ran in to an error when running my subchart after adding a global value to its template. I had expected that helm would "look up" in the directory structure until it finds the "main chart" (that being the chart/directory whose parent-directory does not contain a Chart.yaml) and its values.yaml to provide the global values to the subchart even when ru

[2022-10-28 16:03] Argelbargel commented on #11483
After further consideration and reading the Chart-topic at https://helm.sh/docs/topics/charts/ i think that is just a problem of the accessability of the documentation. At least in my case the "Topics" seemed to be far to in-depth for an beginner so i started learning helm with the template-guide. After reading the Chart-Topic and  if i understand that correctly, in helm one generally "executes" t

[2022-10-28 19:15] patrikbeno opened #11484 "broken naming/rendering of aliased subcharts"
Experimenting with
- multiple levels of subcharts
- aliased dependencies: same subchart included multiple times with different alias

Findings:
- same subchart, multiple aliases work OK
- unless such subchart has other dependencies
  - naming is broken (mixed aliases/chart names, i.e. 1st subchart is rendered with aliases, second uses chart name instead of alias)
  - see [bug1.zip](https://github.

[2022-10-28 20:56] learnitall opened #11485 "helm template --api-versions does not support comma-separated values"
## TL;DR

Hello! I noticed that the `--api-versions` flag for `helm template` uses a [StringArrayVar](https://pkg.go.dev/github.com/spf13/pflag#StringArrayVar) flag. `StringArrayVar` doesn't support separating given values by commas, treating any value with one or more commas as-is. Support for using CSVs for `--api-versions` in a backwards-compatible way can be added by switching `StringArrayVar`

[2022-10-28 21:09] delca85 commented on #11463
@joejulian I am looking into this and I am wondering about the approach to follow, to be as more compliant as possible with the project. I think there are several paths that might be followed:

1. to use an external library (e.g. [https://github.com/mohae/deepcopy](https://github.com/mohae/deepcopy), [https://github.com/ulule/deepcopier](https://github.com/ulule/deepcopier), [github.com/mitchellh/

[2022-10-28 21:48] joejulian commented on #10180
[code]
is caused by `--post-renderer "/bin/bash -c envsubst/envsubst.sh"` as you've told it the name of the file you're trying to run is that entire string, spaces and all.

Try `--post-renderer /bin/bash --post-renderer-args -c --post-renderer-args envsubst/envsubst.sh`

[2022-10-28 21:49] joejulian commented on #11478
Do you happen to have a way to reproduce this issue?

[2022-10-28 22:46] genofire commented on #10989
I do not have any suggestion. I just tried to understand, what @meyerkev means.

[2022-10-29 00:14] #11096 closed

[2022-10-29 00:14] #11097 closed

[2022-10-29 00:14] #11065 closed

[2022-10-29 00:31] yxxhero commented on #11481
@franco87 this is an interesting issue. I will see this.

[2022-10-29 05:35] yxxhero commented on #11485
@learnitall PR is welcome.

[2022-10-29 10:05] moozooooo opened #11486 "upgrade by helm: spec.containers[0].ports[5].hostPort: Duplicate value: "TCP//10044""
I want to mofiy hostPort to containerPort：
Before:

           - hostPort: 10044
              containerPort: 4990
              protocol: TCP

I want to change 4990 to 8000, like this:

           - hostPort: 10044
              containerPort: 8000
              protocol: TCP

But upgrade by helm, get this wrong:

**spec.containers[0].ports[5].hostPort: Duplicate value: "TCP//10044"**.

Why does

[2022-10-29 11:06] jouve commented on #9285
#9950 fixes this issue for me too :)

[2022-10-29 11:43] yxxhero commented on #11486
@moozooooo
please try use:

[code]

[2022-10-29 11:57] yxxhero commented on #11481
@franco87 I can reproduce this issue. confirmed.

[2022-10-29 13:06] yxxhero commented on #11481
@franco87 please try to move the hook resource to a single yaml file. it will be ok.

[2022-10-30 00:18] #11099 closed

[2022-10-30 08:38] yxxhero commented on #11458
see: https://github.com/Masterminds/sprig/pull/348

[2022-10-30 08:39] yxxhero commented on #11458
@mattfarina ping

[2022-10-30 14:10] fschmied commented on #10279
@bacongobbler @hickeyma  Would it be possible to reopen this issue (and mark it not stale) as long as the bug is still not fixed? That would enable us to subscribe to the issue in order to be notified when it is fixed.

[2022-10-31 00:18] #9788 closed

[2022-10-31 02:21] isyinun opened #11488 "The helm data type is automatically converted"
Output of `helm version`:v3.7.1

Output of `kubectl version`:v1.20.8

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

The helm package xxx package command creates packaging and compression 1.0, 2.0 et. are automatically converted to 1, 2 et.

![image](https://user-images.githubusercontent.com/46102310/198916511-6d29a029-245e-4a5f-b112-02c2b61361e6.png)

![image](https://user-images.githubuserc

[2022-10-31 09:39] moozooooo commented on #11486
tks, I try this, but,find another problem:

`Error: UPGRADE FAILED: failed to replace object: Service "service-clusterip" is invalid: spec.clusterIPs[0]: Invalid value: []string(nil): primary clusterIP can not be unset`

because, in the chart template, there is service-clusterip.
why service-clusterip got this wrong? what should I do?

[2022-10-31 12:21] aventi-lasith commented on #11306
I had the same issue and it was because of a different network interface I had with a static IP I set which didn't have internet. Changed it to dhcp and Helm started working. Seems like Helm is using non-prioritized network interface.

[2022-10-31 12:57] ResPhantom commented on #10304
Bruh, when you have to manually delete over 54 services in 2 production clusters (over 108 - helm 2 deployments) with service NodePorts, because no patch...And then redeploy all 108 services and add new NodePorts to the loadbalancer pools.

(Don't ask me why they we're using NodePorts for routing and  manual setups, I was just there for 2 months...)

[2022-10-31 16:44] esune commented on #10180
I will give a try your suggestion, however to be 100% clear my initial command 9see opening post) was:
[code]

This works on Linux, will not work in Windows under a bash-compatible shell. No spaces in the post-renderer argument in this case.

[2022-10-31 19:35] keskad commented on #3141
I made a temporary workaround using Helm SDK.

https://medium.com/@keska.damian/helm-inside-your-code-helm-sdk-51c0e023f872

[2022-10-31 21:34] jonjohnsonjr commented on #11415
Yeah if it's possible to reproduce this with `curl` or get a packet capture, I could look into this further.

[2022-10-31 22:46] joejulian commented on #11483
@helm/helm-org-maintainers Please move to helm-www

[2022-10-31 22:49] joejulian commented on #11484
Not a duplicate of #9214

[2022-10-31 23:01] joejulian commented on #11484
I'd walk this with a debugger and see if you can find the problem. https://github.com/helm/helm/blob/7ed9d16dc764a5b94b378a7e217865efaa0d9ac8/pkg/chartutil/dependencies.go#L93-L115.

[2022-10-31 23:07] joejulian commented on #11488
This is because `2.0`, in json, is a float. Normally folks don't see this because they use full semantic versions, ie 2.0.0 which is a string. If you want a two position version, you'll need to enclose it in quotes:
[code]

[2022-10-31 23:08] joejulian commented on #11191
This has been answered.

[2022-10-31 23:08] #11191 closed

[2022-10-31 23:09] joejulian commented on #11176
No response since July.

[2022-10-31 23:09] #11176 closed

[2022-10-31 23:13] joejulian commented on #11486
It looks like the upgrade is merging the lists where the values initially installed with the chart and the new values are two distinct list items, causing that duplicate value (without names, that will happen). The solution is probably to use `--reset-values` which will completely replace the values with those in your values file. Be sure this is what you want to happen (it sounds to me like it pr

[2022-10-31 23:16] joejulian commented on #10180
Does envsubst.sh have a [shebang](https://en.wikipedia.org/wiki/Shebang_(Unix)) to inform the library function what program to execute the script with? Clearly without it windows is trying to interpret text as a binary.

[2022-10-31 23:27] joejulian commented on #11463
I lean toward the third option but that does create a (small) maintenance burden and a pretty easy failure path should the struct be updated but the contributor doesn't realize they need to change the DeepCopy.

Mitch's library is likely to remain stable and maintained, and has a compatible license.

If I were going to use a generator, I'd use [controller-gen](https://github.com/kubernetes-sigs/co

[2022-11-01 04:50] sureshdsk commented on #10884
@yxxhero @zonggen @joejulian  who is the right person to review this and merge?  https://github.com/helm/helm/pull/10913

[2022-11-01 05:42] isyinun commented on #11488
Yes, I also found what you said thanks!But is it necessary for helm to optimize not to convert 2.0 to 2?

[2022-11-01 06:48] itsmethemojo commented on #11284
@joejulian PR is ready for a while now. anything i missed in the progress?

[2022-11-01 08:37] MaesterZ commented on #3276
This would be great also because in some cases, you create helm charts to have a whole software stack setup the right way and have the end user bring his own configuration (BYOC maybe? 😅), a bit like the BYOL model. Would allow to bring a "flat" file, potentially templated out from another software. Kubernetes is already complex enough for most people, if you add Helm, the step to get into the eco

[2022-11-01 10:49] blaghed commented on #7207
From reading the upstream ticket, I interpret the result as "serviceName is optional".
Should that be reflect here now? Is there a different ticket for it, or should this one be re-opened?

[2022-11-01 11:01] #11488 closed

[2022-11-01 15:00] joejulian commented on #11488
No, that's the job of the yaml parser and it's doing that job correctly.

[2022-11-01 15:01] joejulian commented on #7207
Helm doesn't validate resources. That error is coming from kube-apiserver.

[2022-11-01 15:07] joejulian commented on #11284
No, you're good. It needs to be reviewed by a core maintainer. I've added it to a milestone so it'll either get reviewed by that milestone deadline, or they'll bump it to the next one. Thanks for your contribution!

[2022-11-01 15:39] blaghed commented on #7207
Odd... much like the original description in this ticket, if I make use of `kubectl` or use the UI directly, then they simply accept the input; I could only see it happening with helm.
Is there a particular API call that helm does that requests for validation from kube-apiserver, or how can there be difference in this behaviour?

[2022-11-01 16:28] joejulian commented on #7207
I was mistaken. This comes from the kubectl validator that checks resources against the openapi spec.

https://github.com/helm/helm/blob/269dd247d092ebc8f3ed486a4468aac2b48e6aaa/pkg/kube/client.go#L193-L216

https://github.com/kubernetes/kubectl/blob/4da03973dd2fcd4645f20ac669d8a73cb017ff39/pkg/cmd/util/factory_client_access.go#L145-L166

[2022-11-01 17:05] esune commented on #10180
Yes, it does have a shebang identifying `bash` as the interpreter/executor for the script.

[2022-11-01 17:48] felipecrs commented on #11404
Is there any workaround for the moment?

[2022-11-01 19:32] felipecrs commented on #11404
Ok, here is the LoC:

https://github.com/helm/helm/blob/269dd247d092ebc8f3ed486a4468aac2b48e6aaa/pkg/kube/ready.go#L275

So it's indeed because of the maxunavailable setting, and has nothing to do with subcharts. I suggest we close this issue as duplicate of https://github.com/helm/helm/issues/8660

[2022-11-01 19:43] felipecrs commented on #8660
My deployment has `replicas: 1`, `maxUnavailable: 1` and my PDB has `maxUnavailable: 1` as well. Still, `kubectl get deployment` does not mark the deployment as ready until 1 replica is up.

[2022-11-01 20:16] wmessiassilva commented on #10004
Problema:
Image do tiller
Imagem com problema: gcr.io/kubernetes-helm/tiller:v2.9.1
gcr.io/kubernetes-helm/tiller:v2.17.0 - em alguns casos essa imagem que estava
Imagem que resolveu o problema: ghcr.io/helm/tiller:v2.17.0

Cenário:
Tem um tiller deployado em cada um dos namespace listados aqui:

Captura de Tela 2022-11-01 às 16 55 51

Kubectl edit deploy e trocar a imagem do contêiner na mão.
Ou

[2022-11-01 21:56] #11404 closed

[2022-11-02 00:06] joejulian commented on #10180
Well I'm stumped. Someone with a similar question asked [here](https://github.com/helm/helm/issues/11441#issuecomment-1279537991) and it worked for them. Maybe there's a nugget there that I'm just missing.

[2022-11-02 01:10] tculp commented on #10733
@bacongobbler Just ran into this issue too, the official GitLab helm chart can be set to deploy a backup cronjob with persistence. I would also like this issue reopened

[2022-11-02 03:26] alan-czajkowski commented on #10988
@hickeyma I strongly disagree that bundling non-sensitive environment-specific values within a package is bad practice

here's 2 scenarios:

option 1: do not bundle environment-specific values inside package
- you must explicitly provide these environment-specific values outside of the package

option 2: bundle environment-specific values inside package
- have the option to reference which values

[2022-11-02 03:28] Wonong opened #11492 "plugin install command needs git"
It looks that `helm plugin install` command needs git to be installed.
When I execute command in machine where git is not installed, i found error message like link below
https://github.com/snapcrafters/helm/issues/15

because of this issue, `snapcratfers` developers updated their required packages configuration.
https://github.com/snapcrafters/helm/pull/51/files#diff-56759910381a014fecfd7556dd72d

[2022-11-02 04:26] sachinms27 commented on #9805
Still a problem.

[2022-11-02 04:28] sachinms27 commented on #9805
Can someone suggest a workaround please? Retries aren't helping us as we have a VPN between our on-prem network and the cloud V-Net  which can become choked for many hours.

[2022-11-02 08:51] dvcanton commented on #11352
@makkes Any update on thoses issues?

[2022-11-02 09:10] elops-od opened #11493 "release secret size optimization"
hi
we started to get an error `Too long: must have at most 1048576 bytes` when tried to install victoria-metrics-k8s-stack.
investigation shows that if we install victoria-metrics-k8s-stack chart, decode **sh.helm.release.v1** secret has size 6.56MB(encode secret size:  840924 bytes) and structure
![image](https://user-images.githubusercontent.com/75570519/199446043-ae058a4d-b174-4ad3-b626-b9d75e7

[2022-11-02 09:38] max-rocket-internet commented on #11478
I don't think so, I just noticed it randomly. Is there any commands I can run to collect some debug? There was nothing interesting in `-v9` argument.

[2022-11-02 12:25] yxxhero commented on #11492
@Wonong PRs is welcome. thanks very much.

[2022-11-02 13:38] userbradley opened #11495 "Helm create uses old HPA Version"
[Jump to issue](#issue)

Output of `helm version`:

[code]

Output of `kubectl version`:

[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):  GKE, v1.24.3-gke.2100

# Issue

When creating a new helm chart using `helm create <chart>` the HPA is using an old outdated and soon to be deprecated version

<details>
<summary>Warning</summary>

_note: Task is just a better version of makefile, the

[2022-11-02 15:22] blaghed commented on #7207
Ok, could confirm that, I just had the validation turned off when I ran the `kubectl` commands.
How can I disable this validation from helm side?

[2022-11-02 16:50] kbriggzi commented on #1171
oh sadness broken link

[2022-11-02 17:26] esune commented on #10180
@joejulian in the other question they are using a `ps1` script (Powershell) in Powershell on Windows. Powershell is part of the OS architecture in windows.

Since I would like my script to be portable, I used bash and am using Git Bash as interpreter in Windows. Bash is not part of the OS architecture in windows.

Quoting one of my previous replies:

[2022-11-02 17:52] stevehipwell opened #11496 "Support Sigstore keyless signing"
I'd like to be able to use Sigstore keyless signing to generate the provenance file for my Helm charts.

Would it be possible to use [gitsign](https://github.com/sigstore/gitsign) from Helm with minimal changes?

[2022-11-02 18:11] cmaahs commented on #11415
For me it hangs for 300 seconds, and the problem appears to be in the package that helm uses to interface with OCI registries.

[2022-11-03 00:17] #11103 closed

[2022-11-03 02:24] yxxhero commented on #11496
@stevehipwell good idea. Could you describe this feature in more detail?

[2022-11-03 06:04] jkroepke commented on #10866
Thanks for the Information

[2022-11-03 09:27] clcc2019 opened #11499 "UPGRADE FAILED could not get information about the resource"
UPGRADE FAILED: could not get information about the resource: proto: wrong wireType = 5 for field ContentEncoding

I can get this resource，It is normal when I delete this deployment

Output of `helm version`:
v3.9.0

Output of `kubectl version`:
v1.22.11

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
Self

[2022-11-03 10:16] thisisommore commented on #7139
Is this fixed, I am still getting this issue

[2022-11-03 14:06] delca85 commented on #11463
Yes, it would be great to receive some input from anyone within @helm team. @yxxhero , can you help here? Thanks!

[2022-11-03 14:12] stevehipwell commented on #11496
@yxxhero I'd like to be able to use the `helm package --sign` command with Sigstore keyless so the Helm provenance doesn't need a GPG key and can be validated against Rekor (I plan on using [helm-sigstore](https://github.com/sigstore/helm-sigstore) and don't want to deal with a GPG key). I expect this would be possible to be implemented directly in the Helm client using Sigstore libraries and that

[2022-11-03 14:20] delca85 commented on #11463
@yxxhero I am sorry 😞
I'd be more than happy to raise a PR to solve this issue, I am only aiming to receive some input about the best approach to follow to fix this.

[2022-11-03 16:29] makkes commented on #11352
We're in the process of collecting all necessary information to move this forward. The goal is to align all CLI commands in terms of the flags they provide. This is a bigger effort but we'll hopefully get to a point where we can come up with concrete steps forward very soon.

[2022-11-03 20:23] martinounap opened #11505 "helm package removes quote from version"
Hi

We would like to use semver for our versions.
Inside Chart.yaml we have version: "X.Y.Z+SOMETHING.Y" but after helm package (version 3.10.1) in side tgz file it is version: X.Y.Z+SOMETHING.Y

It might be bug?

[2022-11-03 20:26] imanushin commented on #7563
To continue the discussion.

I found that `chartrepo.go` has the following code:
[code]

And `index.go` does exact match if it can. Therefore it seems like if version `X` was requested and `X` is available in index then `X` should be selected, not `X+abc`.

I created PR #11502, however it seems like helm selects exact version it is was requested though command line.

Question: if repository has ve

[2022-11-04 00:24] joejulian commented on #11495
A fix for this should include a test that fails if any resource [here](https://github.com/helm/helm/blob/main/pkg/chartutil/create.go) receives a deprecation warning.

[2022-11-04 00:26] joejulian commented on #7207
Use the `--disable-openapi-validation` flag: https://helm.sh/docs/helm/helm_template/#options

[2022-11-04 00:28] sabre1041 commented on #10644
/not-stale

[2022-11-04 00:29] joejulian commented on #1171
It was no longer relevant.

[2022-11-04 00:33] joejulian commented on #11499
What kubernetes version?

[2022-11-04 00:36] joejulian commented on #11505
This is normal. The quoted string unmarshals to a string. Unless there's ambiguity about it being a string, the yaml marshaller will not wrap it in quotes. 1.2 could be a float, so that would be wrapped in quotes. 1.2.3 could not be a number, it can only be a string. No quotes are necessary for that.

Your semver cannot be anything but a string, so the yaml marshal function will not wrap it in quo

[2022-11-04 00:45] joejulian commented on #11482
According to their documentation:

Since the OCI spec requires the mediaType field and helm provides it, I don't understand why they would be expecting their non-standard property.

[2022-11-04 01:18] kabakaev opened #11506 "reject the chart install/upgrade in presence of different chart in the same namespace with the same release name"
TL/DR: helm silently deletes all resources of another chart deployed with the same release name in the same namespace, including PVC!
Helm should ether reject installation if it conflicts with existing release of another chart, or include the chart name as a release secret prefix/suffix to prevent the conflict in the first place.

Luckily, I had a full backup, [but some other guy lost data because

[2022-11-04 01:21] clcc2019 commented on #11499
kubernetes v1.22.11

[2022-11-04 04:50] yxxhero commented on #11506
@kabakaev Thanks for your issue. but could you tell me why you install releases with the same release name but the chart is not the same? why not use the new release name?

[2022-11-04 04:52] yxxhero commented on #11496
@stevehipwell PRs is welcome.

[2022-11-04 05:16] joejulian commented on #9805
Maybe run helm from a pod or vm that doesn't cross a vpn?

[2022-11-04 05:20] joejulian commented on #11493
This would be a breaking change and would need to go into a major version change.

[2022-11-04 06:01] hzliangbin commented on #11495
@joejulian I am interested in this issued, may i take it?

[2022-11-04 08:56] mac2000 opened #11507 "docker feed: quay.io empty search results"
**steps:**
- add quay.io docker feed to octopus cloud
- press save and test
- try search for any image

**expected:** search results found something

**actual:** empty results

<img width="727" alt="image" src="https://user-images.githubusercontent.com/88868/199929249-82744f70-6aa4-41f8-888f-08a44e61cc2e.png">

[2022-11-04 09:10] yxxhero commented on #11507
@mac2000 sorry. I can't find anything about helm?

[2022-11-04 11:58] stevehipwell commented on #11496
@yxxhero if someone could give me a couple of pointers to the relevant sections in the code and call out any gotchas I'd give opening a PR for this a go.

[2022-11-04 12:49] sabre1041 commented on #11496
@stevehipwell There is the overarching issue for supporting additional signing methods into Helm that you opened earlier in 2022 (https://github.com/helm/helm/issues/10644). It would be great if we would be able to move forward on this task and discuss the supply chain security feature in general through a HIP. This would enable us to assemble all of the requirements that would be needed to suppor

[2022-11-04 13:01] joejulian commented on #11495
@hzliangbin please do, yes.

[2022-11-04 13:22] phil9909 commented on #11472
I don't think `https://testhelmrepos.blob.core.windows.net/test/upstream/?sp=rl&st=2022-10-26T06:27:46Z&se=2022-10-26T14:27:46Z&spr=https&sv=2021-06-08&sr=c&sig=6AFsNmWcqdm25UeIzOyvfoqPLk3iJjPClu6J6C93rOk%3D/nginx-12.0.3.tgz` would be correct behavior here.

I think it should be `https://testhelmrepos.blob.core.windows.net/test/upstream/nginx-12.0.3.tgz?sp=rl&st=2022-10-26T06:27:46Z&se=2022-10-26T

[2022-11-04 13:41] stevehipwell commented on #11496
@sabre1041 I had taken the disinterest to #10644 and other similar issues as a signal that Helm wasn't intending to define a holistic supply chain security strategy. This issue covers an alternative implementation of existing functionality so I thought it was something which could improve the current state without needing widescale buy in.

I'd be very happy to collaborate on a HIP to cover the su

[2022-11-04 13:46] phil9909 commented on #11499
Can you provide some reproductions steps?

[2022-11-04 14:16] mac2000 commented on #11507
Oh my gosh how stupid I am 🤷‍♂️

I was believing I am creating issue in octopus deploy repository

Sorry

[2022-11-04 14:16] #11507 closed

[2022-11-04 14:16] mac2000 commented on #11507
Oh my gosh how stupid I am 🤷‍♂️

I was believing I am creating issue in octopus deploy repository

Sorry

[2022-11-04 15:11] tmsdce opened #11509 "`helm dependency update/build` behavior - Performance concerns"
Output of `helm version`:

`version.BuildInfo{Version:"v3.10.1", GitCommit:"9f88ccb6aee40b9a0535fcc7efea6055e1ef72c9", GitTreeState:"clean", GoVersion:"go1.18.7"}`

Hello

When I run `helm dependency update` (or `build`) for a chart specifying one or more dependencies, I expected the command to only update the relevant helm repositories as defined in my `Chart.yaml` file. However, the command fetc

[2022-11-04 15:22] JvD-Ericsson commented on #10398
Hello,
I made an attempt to solve this problem. This is my first time contributing so, please let me know if anything is wrong so I can fix.

[2022-11-04 15:50] kabakaev commented on #11506
I tried to do it our of convenience.

Most public charts use the release name as prefix for resource names.
Although, I can (and did) choose different release names for charts, the resulting names are ugly.

Which of the following pod names would you prefer?

Variant 1: have to avoid the release name conflicts, as is now:
[code]

Variant 2: different charts may have the same release name:
[code]

[2022-11-04 16:14] stavros-k opened #11511 "Aliased dependencies cannot build. Neither render."
Output of `helm version`:
`version.BuildInfo{Version:"v3.10.1", GitCommit:"9f88ccb6aee40b9a0535fcc7efea6055e1ef72c9", GitTreeState:"clean", GoVersion:"go1.18.7"}`

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
`k3s`

Consider this:
`Chart.yaml`
[code]

`values.yaml`
[code]

After `helm dependency build .`
[code]
`/charts` contains only 1 file `common-10.7.7.tgz`

`helm template .`
Renders onl

[2022-11-04 16:24] ShivamTyagi12345 commented on #10416
This is interesting. I will take this

/ assign

[2022-11-04 16:56] cmaahs commented on #11415
Some additional troubleshooting info.  I replaced using Helm's PULL functionality, with a couple of simple GAR / Docker V2 API calls:

GET [https://us-docker.pkg.dev/v2/](https://www.google.com/url?q=https://us-docker.pkg.dev/v2/&sa=D&source=buganizer&usg=AOvVaw26pEK01mi3ZEMP8iE7Qany)<project>/<repository>/manifest

Retrieve the digest for media type: application/vnd.cncf.helm.chart.content.v1.tar

[2022-11-04 17:41] patsevanton commented on #6737
Somebody have example ensure that subchart is installed before the parent chart ? Thanks!

[2022-11-04 18:17] sabre1041 commented on #11496
@stevehipwell apologies on the delay on this entire initiative. Unfortunately, the lack of traction was not due to a lack of interest, but instead a lack of availability. It is important that discussions surrounding this space continue to discuss the future of helm in this space.

I will share a Google Doc here shortly for us to collect our initial thought

[2022-11-04 20:38] zachwalton commented on #10394
Not saying Helm should necessarily provide this (though I googled this because I hoped it did), but:

https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#pausing-and-resuming-a-deployment

[2022-11-04 23:48] #11385 closed

[2022-11-05 00:16] #11116 closed

[2022-11-05 00:16] #11115 closed

[2022-11-05 00:16] #11114 closed

[2022-11-05 00:16] #11092 closed

[2022-11-05 00:16] #11085 closed

[2022-11-05 00:16] #11082 closed

[2022-11-05 00:16] #11047 closed

[2022-11-05 00:16] #11073 closed

[2022-11-05 00:16] #11039 closed

[2022-11-05 00:16] #11030 closed

[2022-11-05 00:16] #11010 closed

[2022-11-05 00:16] #10993 closed

[2022-11-05 00:16] #10991 closed

[2022-11-05 00:16] #10985 closed

[2022-11-05 00:16] #10977 closed

[2022-11-05 00:16] #10968 closed

[2022-11-05 00:16] #10459 closed

[2022-11-05 00:25] yxxhero commented on #11506
@kabakaev I got you. you should use `helm install`.
[code]

[2022-11-05 01:34] hzliangbin commented on #11495
/assign

[2022-11-05 07:32] epierotto commented on #11472
Hi @phil9909,
I agree that the query part of the URL should be at the end.

I've set up a new storage account so you can use it for your tests.

[code]

[code]

And you can also reach it with `curl` if necessary
[code]

[2022-11-05 08:56] patsevanton commented on #6564
@marcadella  Hello! Could you share you hook of sub-chart? Thanks a lot!

[2022-11-05 09:42] Dentrax commented on #11116
/reopen

Hey @bacongobbler, I've worked on a demo a few months ago by introducing `--wait-ignore-unschedulable` for backward compatibility. See the commit on my fork: https://github.com/Dentrax/helm/commit/b2ac9fa7d253d93f1300afe78bff074e38b61cb2 Then I decided to hold this due a known-bug in `--wait` flag, see the related fix here: https://github.com/helm/helm/pull/10920 I'll be got into it again

[2022-11-05 09:43] Dentrax commented on #11116
/remove-lifecycle stale
/open

[2022-11-05 09:54] patsevanton opened #11512 "helm pre-install/hook-weight hook does not wait ready recources of subchart"
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
[code]

I have main chart and subchart cassandra. Repository: https://github.com/patsevanton/hook-weight-for-subchart

For all recources subchart added annotation:
[code]

But main pod don`t wait of ready cassandra:
[code]

Helm template: https://gist.github.com/patsevanton/a8abf

[2022-11-05 14:56] alexef commented on #11170
@skhamkar-tibco have you figured out why does this happen? I'm facing the same issue

[2022-11-05 15:06] alexef commented on #11170
I figured it out: without `apiVersion: v2`, helm assumes this is a `v1` chart, and therefore intentionally removes the dependencies: https://github.com/helm/helm/blob/e80ab00108c82a0331209872629c4ff4422a50c4/pkg/chartutil/save.go#L158

[2022-11-06 00:17] #11008 closed

[2022-11-06 05:45] jsitu777 opened #11513 "Helm release stuck in uninstalling"
My helm chart got stuck in uninstalling and it can never get deleted.
`helm status kubeflow-istio-resources`
[code]

`helm uninstall kubeflow-istio-resources`
[code]

`helm history kubeflow-istio-resources`
[code]
I think it got interrupted during the uninstalling process. is there a force uninstall command?

[2022-11-06 11:27] stavros-k commented on #11511
Note: this only happens when the aliased dependency is a `type: library`, if it's `type: application` it works

[2022-11-06 18:09] websi96 commented on #11437
here is what I did to share values between subcharts:

Assume this mongodb dependencies in my Parent Chart.yaml
[code]

  Here I pass the auth values from the mongodb subchart to the global values of my parent chart.
  Then I can set the auth settings in values.yaml of the parent chart like so:

[code]

  In any other Sub Chart I can then access the users like os:

[code]

My only problem is, that

[2022-11-06 18:36] websi96 opened #11515 "Allow import-values to accept arrays, single and whole chart values!"
Hi I am currently struggeling with importing values from subcharts.

Here is what I did to share values between subcharts:

Assume this mongodb dependencies in my Parent Chart.yaml
[code]

  Here I pass the auth values from the mongodb subchart to the global values of my parent chart.
  If I then add auth settings for the subchart in values.yaml of the parent chart like so:

[code]

  I can use th

[2022-11-06 23:56] imperialguy commented on #2055
How about cluster ID? Can I read cluster ID using helm and pass it to (say) a pod?

[2022-11-07 00:16] #11124 closed

[2022-11-07 00:16] #11121 closed

[2022-11-07 00:16] #11117 closed

[2022-11-07 00:16] #10984 closed

[2022-11-07 03:32] liang1000 opened #11516 "Question about helm upgrade."
##

Output of `helm version`: v3.9.3

Output of `kubectl version`: v1.20.5

Cloud Provider/Platform (AKS, GKE, Minikube etc.): EKS

first, I deployed with command: kubectl apply -f ....

then I replace the command, using helm upgrade --install

but I get the error:
Error: rendered manifests contain a resource that already exists. Unable to continue with install: Deployment "x" in namespace "xxx" e

[2022-11-07 08:32] tomasaschan commented on #9813
@joejulian Could you provide an example of how to do that?

[2022-11-07 10:07] giuliocalzolari opened #11517 "Proposal for a new Cryptographic function: randBytes"
a function `randBytes` can improve the helm usage and avoid workaround. In a Cryptographic context is very common to have bytes as input

e.g.
[code]

[2022-11-07 14:47] pbusko opened #11518 "Import-values do not override default values"
Following the import-values example described [on the official website](https://helm.sh/docs/topics/charts/#importing-child-values-via-dependencies), we can't get the result shown on the page. If the parent chart has default values and the same value gets imported from the child chart, it's not overridden. Attached a packaged chart with the example from the documentation.
[test-import-0.1.0.tgz](h

[2022-11-07 16:19] fe-dagostino opened #11519 "helm list -A does not show the correct namespace"
Output of `helm version`:
    v3.10.1+g9f88ccb

Output of `kubectl version`:
    Client Version: v1.25.3
    Kustomize Version: v4.5.7
    Server Version: v1.25.0

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
    minikube version: v1.27.0
    commit: 4243041b7a72319b9be7842a7d34b6767bbdac2b

---
How to see the problem:
- suppose to have a chart named "mychart"
- create a file  namespace.yaml

[2022-11-07 19:51] parak opened #11520 "Three way merge for configmap data"
Hey all,

I'm trying to figure out if three way merge is supposed to work in any manner for live changes to configmap data values. For example, if I have some starting data populated via a helm template in a configmap such as:

[code]

I then via `kubectl edit` change this in live deployment to something like so:

[code]

During a helm upgrade, the data appears to get reset to the first example. I

[2022-11-07 23:50] lhriley opened #11521 "SIGSEGV with OCI chart reference using helm template --dependency-update"
Summary:

When generating helm templates using `helm template --dependency-update`, and no dependency charts have been previously downloaded, helm produces a SIGSEGV. Non-OCI dependencies download without issue in the same `Chart.yaml` definition.

Example command:
[code]

Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): n/a

[2022-11-08 00:17] #11127 closed

[2022-11-08 09:54] emike922 opened #11522 "Printf receives wrong data type from YAML parser?"
Given the following template directive:

[code]

Helm renders either `"80"` when supplied with `--set port=80` or `"%!d(float64=80)"` when supplied with `port: 80` via values.yaml

Output of `helm version`:
version.BuildInfo{Version:"v3.10.1", GitCommit:"9f88ccb6aee40b9a0535fcc7efea6055e1ef72c9", GitTreeState:"clean", GoVersion:"go1.18.7"}

[2022-11-08 10:55] djmcgreal-cc commented on #8137
I'd suggest an e.g. `template --lookup-mocks <(kubectl get all)`. That way I'm deciding what to expose, and I can build test cases around it. Could use https://github.com/ryane/kfilt as the backend for the lookups.

Or, I'd be happy simply with a `.Release.IsTemplate` or so that'd allow me to provide a sensible default that allows templating to proceed, but still `fail` during installs or upgrades

[2022-11-08 11:45] verovec commented on #7725
Hi everyone,
In addition to all of the above responses you can check in the side of helm-hooks : https://helm.sh/docs/topics/charts_hooks/
I solved my issue thanks to @distnie and its second point which suggests to use `ttlSecondsAfterFinished`. The purpose of my job was to fill the database with seeds and in addition I have covered all potential issues by only allow job running with `post-install

[2022-11-08 12:57] dbackeus commented on #3854
Still an issue in that, why put users through the trouble of adding `| trim` to avoid unnecessary blank space in the YAML output?

My personal question would be why put users through the trouble of indenting at all. The obvious thing to do is to automatically indent to the same level as the `{{ toYaml }}` is being run in. Eg. I would expect this to "just work":

Input:

[code]

Output:

[code]

If

[2022-11-08 13:34] consideRatio commented on #3854
@dbackeus I've adopted the following pattern and and are now currently very happy about the current situation. I'd advice to skip `trim` stuff and go for this pattern.

[code]

[2022-11-08 16:22] just1900 commented on #9570
still valid
Same issue here, this seems like a bug since #7649 is trying to adopt resources with specific annotation and labels.

[2022-11-08 20:54] joejulian commented on #11509
What if you set `HELM_HOME=$(mktemp -d)` so it doesn't use the local repo cache?

[2022-11-08 21:00] joejulian commented on #11512
The default value of maxUnavailable is 1. Since you only have 1 replica, Kubernetes reports your statefulset as ready. Closing this as a duplicate of #8660

[2022-11-08 21:00] #11512 closed

[2022-11-08 21:06] joejulian commented on #11513
There isn't. There probably should be. I think your best bet is to do a `helm upgrade --dry-run ... | kubectl delete -f -` then delete the release secret when it's done. You'll probably get a bunch of errors about things missing, but that's fine. Those are the things the previous uninstall actually uninstalled.

The other option I can think of would be to do the helm upgrade and then delete it onc

[2022-11-08 21:14] joejulian commented on #11511
I believe what you're describing is because

- https://helm.sh/docs/chart_template_guide/named_templates/

Which seems to explain what you're saying with relation to library charts, unless I'm just misunderstanding.

[2022-11-08 21:19] joejulian commented on #11515
Happy to have a contribution to address this. Probably should start with a [HIP](https://github.com/helm/community/blob/main/hips/hip-0001.md) also take a look at the [contributing](https://github.com/helm/helm/blob/main/CONTRIBUTING.md) doc.

[2022-11-08 21:22] joejulian commented on #11516
As it says, you have resources defined in the chart manifest that already exist and are not owned by helm.

Don't deploy with kubectl.
The way to recover from this is to `kubectl delete -f ...` then `helm upgrade --install ...`

[2022-11-08 21:22] #11516 closed

[2022-11-08 21:23] joejulian commented on #11517
Happy to have a contribution to address this. Probably should start with a [HIP](https://github.com/helm/community/blob/main/hips/hip-0001.md) also take a look at the [contributing](https://github.com/helm/helm/blob/main/CONTRIBUTING.md) doc.

[2022-11-08 21:26] Ornias1993 commented on #11511
Yeah this is correct.
We've worked around this by now, by making an empty `type: applications`.
That worked flawlessly :)

Thanks for that link though, for some reason google was a pain and not showing that one 👍

[2022-11-08 21:48] joejulian commented on #11518
Nice repro. I get the same with your test chart. I think we'll need input from a @helm/helm-core-maintainers on this one.

[2022-11-08 21:52] joejulian commented on #11519
This is the correct behavior. You're installing the helm release in `default` by not specifying a namespace for the release. The kubernetes resources are installed in the namespaces you specified in the templates/values, but the _helm release_ is in `default`.

To verify this, check out `kubectl -n default get secrets` and see the release secret that is stored there.

[2022-11-08 21:52] #11519 closed

[2022-11-08 22:01] joejulian commented on #11520
That is correct, helm is the owner of that file and any changes should be overwritten by what's in your templates.

If you look at the output of `helm template`, you'll see the resources that are applied. The updater creates a patch for any resources that differ from what's expected and applies that patch to repair those entries. See [pkg/kube/client.go updateResource](https://github.com/helm/helm

[2022-11-08 22:09] joejulian commented on #11522
Try
[code]

[2022-11-08 22:16] joejulian commented on #10988
Happy to have a contribution to address this. Probably should start with a [HIP](https://github.com/helm/community/blob/main/hips/hip-0001.md) also take a look at the [contributing](https://github.com/helm/helm/blob/main/CONTRIBUTING.md) doc.

[2022-11-08 22:19] joejulian commented on #11478
I can only guess that it was some environmental situation that caused this. Someone hit ctrl-c, or lost connection, or forgot something was happening in one window and ran helm again in another. Without the sequence of events, I don't think there's any way to figure out what happened.

With no way to reproduce this, I'm going to have to close this issue. Please feel free to file a new one if you f

[2022-11-08 22:19] #11478 closed

[2022-11-08 22:23] joejulian commented on #10180
Again, I can only give you hints to what worked for someone else. Ultimately, this is for helm support and what you seem to need is operating system support. If you think it's Go's os/exec, perhaps you need to visit Gopher's slack. Maybe write a small go program and see if you can run your script from there. If it works, maybe that'll shine some light on this issue.

[2022-11-08 22:30] joejulian commented on #11506
I'd install the two charts in different namespaces. If that's not possible, you might be able to work around it by using kustomize as a [post renderer](https://helm.sh/docs/topics/advanced/#post-rendering)

[2022-11-08 22:32] joejulian commented on #11437
closing this as aswered

[2022-11-08 22:32] #11437 closed

[2022-11-08 22:57] joejulian commented on #11472
I used your `repo add` command and could fetch it with `helm pull --destination . --version 4.3.0 gh11472/nginx-ingress`

[2022-11-08 23:15] joejulian commented on #9813
Sorry about that. I meant to include the doc link: https://helm.sh/docs/topics/advanced/#post-rendering

Personally, I've never used it so I don't have any ready examples.

[2022-11-09 02:10] Garrett-R commented on #11103
@yxxhero I think you mentioned you'd try to submit a PR to optimize this logic, is that still on the roadmap?  No worries if not though!

[2022-11-09 02:24] yxxhero commented on #11103
@Garrett-R sorry. I haven't started working on it yet, but this issue doesn't affect usage.

[2022-11-09 02:28] Garrett-R commented on #11103
True, no prob!

[2022-11-09 03:06] fe-dagostino commented on #11519
Dear Joe,
         thanks so much for your answer! however, this not explain the inconsistency, may be I didn't explain well enough, so let's try again and hopeful this time you will get the point.

chart name  my-chart

file: namespace.yaml
apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Values.namespace }}
  labels:
    istio-injection: enabled

values.yaml
...
namespace: my-ns
....

then e

[2022-11-09 03:12] falser101 commented on #11484
/assign

[2022-11-09 05:55] wanglongzhong opened #11523 "How does the mustRegexMatch returns an error?"
I am trying to using the helm function  mustRegexMatch to validate a timeout values from value.yaml.
it seems I can't get any errors.
 but from the https://helm.sh/docs/chart_template_guide/function_list/#regexmatch-mustregexmatch  documentation  "regexMatch panics if there is a problem and mustRegexMatch returns an error to the template engine if there is a problem."

my yaml file as below
{{- $c

[2022-11-09 05:56] wanglongzhong commented on #11523
1

[2022-11-09 07:48] emike922 commented on #11522
Well, unfortunately that doesn't solve my problem as in actuality I am passing multiple args to printf, something like "%s %s:%d". I just wanted to share a minimalistic way to reproduce.

[2022-11-09 08:59] papanito commented on #2205
This request is still desired. Please do not close this.

[2022-11-09 09:14] tmsdce commented on #11509
Thanks for the suggestion @joejulian . Setting `HELM_CONFIG_HOME=$(mktemp -d)` indeed "works".
However in an ArgoCD context (which is my primary use-case), this is not applicable as this variable is statically set on the repo-server. Moreover, ArgoCD automatically add the repos as soon as it detects a new one so, this won't do anyway. In the end, I don't want to get rid of the declared repos as I

[2022-11-09 12:09] sigurdblueface opened #11525 "Question regarding configuration drift while dealing with failed releases."
Hello. I have a couple of questions regarding helm release secrets.
As I found out, secrets hold last applied configuration, but not the actual result of applying configuration.

My case is as follows:
At first, I had a successful `deployed` release, then upgraded it with a chart version, which brings `spec.selector` changes (immutable field).
After that upgrade release became `failed`, while sele

[2022-11-09 18:12] parak commented on #11520
Thanks @joejulian - I'm still a bit confused though as to whether or not three way merge is happening at all. I'm not using --force, and it does work when I add something like a label via edit, leaving that label in place. Or is my particular scenario where configmaps are modified manually after initial deployment, and expected to stay that way during upgrades, not a functionality that is currentl

[2022-11-09 18:13] brunocascio commented on #9150
Is there any plan to include it soon?
I'm facing this issue too :(

[2022-11-09 19:04] andymartin-sch commented on #10272
+1 , it would be great if this could be implemented

[2022-11-09 20:50] stevehipwell commented on #10644
@sabre1041 I think that I can summarise this issue into the following in-scope requirements.

- Sign Helm charts with cosign
- Support Helm chart verification from cosign (including provenance?)
- Optimise Helm to make secure practices easier

We can exclude the following out of scope requirements.

- Image verification
- SBOMs

The first two in-scope requirements are pretty self explanatory and t

[2022-11-09 20:52] stevehipwell commented on #10644
@sabre1041 leaving the contentious point for a separate comment but I can't see how Helm can be considered a package manager, let alone a secure one, without the ability to check for updates?

[2022-11-10 01:31] loganknecht commented on #2205
This request is still desired. Please do not close this.

[2022-11-10 01:59] joejulian commented on #11523
The wording on that is pretty confusing. This comes from the sprig library: https://github.com/Masterminds/sprig/blob/3ac42c7bc5e4be6aa534e036fb19dde4a996da2e/regex.go#L12
This is just a wrapper for https://pkg.go.dev/regexp#MatchString the only difference being that regexMatch throws away the error and mustRegexMatch doesn't.

If you write and invalid regex mustRegexMatch with throw an error:
[co

[2022-11-10 05:42] #11523 closed

[2022-11-10 05:43] yxxhero commented on #11522
@emike922 Please show your whole example.

[2022-11-10 07:05] emike922 commented on #11522
@yxxhero, I shared the minimal steps you need to reproduce the behavior, now whether I add a few %s before or after %d should not make any difference whatsoever!?

But to comply with your request, you can assume I have a situation as illustrated below, and a consumer that depends on the exact format specified in printf:

values.yaml
[code]

templates/pod.yaml
[code]

[2022-11-10 08:02] mitar commented on #7377
Unstale.

[2022-11-10 08:33] dhanvi commented on #4782
bump

[2022-11-10 08:55] pbusko commented on #11518
We've opened a PR with a potential fix at https://github.com/helm/helm/pull/11527

[2022-11-10 10:02] ksa-real opened #11528 "DELETE ME"
Wrong repo, please ignore or delete

[2022-11-10 10:11] ksa-real commented on #11528
BTW for context. I was beating my head about why integration with slack stopped working after the upgrade. I dug into the oncall engine code and figured out there is a FEATURE_SLACK_INTEGRATION_ENABLED variable. Then from Helm chart I figured out it is false by default. Then I looked through the git history and checked it was added later and was backward incompatible change. Also, the [integration

[2022-11-10 12:04] #11528 closed

[2022-11-10 12:07] yxxhero commented on #11522
@emike922 and the render result and expected result?

[2022-11-10 12:11] emike922 commented on #11522
[code]

I am expecting to get the latter, `"abc def 80"`, not `"abc def %!d(float64=80)"`

[2022-11-10 12:17] yxxhero commented on #11522
@joejulian try:
[code]

[2022-11-10 12:18] yxxhero commented on #11522
@joejulian Or
[code]

[2022-11-10 14:28] Blaimi commented on #10749
Why is this request closed? I have the same problem :(. I want to get the version of the chart of a installed release. It's not easily possible to extract the version from "chart" because semver allows `-` and the chartname allows numbers.

current state of `helm list --filter='monitoring' -n monitoring -o json`:

[code]
my proposal (to be downwards-compatible)
[code]

[2022-11-10 15:24] joejulian commented on #11525
1. Yes it's expected. Yes you can validate against the state of the cluster using the dry-run flag before that initial upgrade. I should be able to show you the failures. You could also use the `--atomic` flag to roll back to the last known good release. Lastly, when you had an error without using atomic, you would then roll back `helm rollback` to go back to the last known good release allowing t

[2022-11-10 15:44] Tasteful commented on #6192
I was autogenerating the release name based on multiple parameters and was getting validation errors on the name. The regex in previous comment is correct but it does not take the length limit on the name for 53 characters into account, see below code section. Was ending up in this post after some search and I think it is good to have it written here for other that may end up in the same situation

[2022-11-10 16:02] whatthefrog commented on #3308
In some cases it may be usefule to also add the `"true"` string to the checked list

`list nil true "true" | has .Values.vaultEnabled`

[2022-11-11 01:36] andykcfung commented on #4262
After trying for an hour to stop toYaml from removing the quotes that I wanted to keep, I found a solution for my specific usage:

To begin, I have this entry in my values.yaml (block 1)
<pre>
global:
  properties:
     mad:
       person: 'My id: 1234'
</pre>
where "1234" should actually come from another entry in my values.yaml (note that I hard coded the id "1234" above but this will be address

[2022-11-11 02:36] wujunwei commented on #11521
https://github.com/helm/helm/blob/main/cmd/helm/install.go#L238-L250

[2022-11-11 03:17] joejulian commented on #4262
If your string has to have the single quotes, you could also use the squote filter

With a value of:

[code]

this template:
[code]

produces:
[code]

[2022-11-11 03:24] joejulian commented on #3308
I do:
[code]
Which looks in .Values for the key, "somekey". If it's there, it uses that value. If it's not, it uses (in the above example) true as the default.

[2022-11-11 03:40] joejulian commented on #11509
Not that it tells us much, but here's where skip-refresh was added: https://github.com/helm/helm/issues/2019

Looks like the behavior to download the whole list is from the original support for dependencies.

I can only guess it's to avoid recursion into a nested tree of chart dependencies. Looks like it would be a good change to contribute, but it doesn't look like it's easy enough for the good-f

[2022-11-11 03:43] joejulian commented on #11509
The change belongs in https://github.com/helm/helm/blob/9a5eb70320c1c1b7b6f1c5a6f0f5420cb1c934a0/pkg/downloader/manager.go#L153

[2022-11-11 03:45] joejulian commented on #11520
Perhaps this is a better answer? https://helm.sh/docs/faq/changes_since_helm2/#improved-upgrade-strategy-3-way-strategic-merge-patches

[2022-11-11 03:49] joejulian commented on #11522
This is an upstream issue: https://github.com/kubernetes-sigs/yaml/issues/45

[2022-11-11 04:15] roubles commented on #7197
Not sure why this was closed when the code was never merged. This is a glaring hole for CI tools.

Anyway, one way to address this in the absence of helm behaving correctly is as follows:
[code]

Hat tip to this stack overflow post: https://unix.stackexchange.com/a/724430/45761

[2022-11-11 07:41] slamgundam commented on #768
TOML is way easier to understand than YAML, please undeprecate TOML and deprecate YAML

[2022-11-11 07:54] emike922 commented on #11522
Thanks @yxxhero for the workaround and @joejulian for the upstream reference.
So I presume this isn't going to be fixed and will close the case for the time being.

[2022-11-11 07:54] #11522 closed

[2022-11-11 09:17] benydc opened #11530 "Question regarding plugin install and locking plugin version for helm charts"
1. Does helm support plugin version locking per chart?

2. For example, we have a helm chart repo where we use a couple of plugins like helm-docs and helm-secrets, when we share the repo with someone new and they have a different plugin version, there will be issues due to big version differences.

3. If this is not a feature already, I'm happy to contribute to helm source code and maybe others wi

[2022-11-11 09:41] wcynice opened #11531 "A small problem about range function"
When I use range, I find that the output after rendering is not what I expected
The template is as follows：
  apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  labels:
    {{- range .Values.labels }}
      label: {{ . }}

      wcy: {{ . }}
    {{- end }}

values.yaml is as follows:
  labels:
  label: wcy66
  add: "yes"
  wcy: niu

But why is the result like this:
metada

[2022-11-11 13:03] salarai opened #11532 "Ability to specify a different values.yaml file from inside the chart"
Idea: When packaging helm charts, I want to be able to have multiple values.yaml file depending on the environment I want. This file can be addresses through a command line parameter (maybe?) and if not specified, the default values.yaml file is used.

What needs to change:

- multiple values file in the chart
- helm command line to be able to specify not only default, but another file inside the

[2022-11-11 15:22] strunzo opened #11533 "Writing to Stderr broke our Azure pipelines!"
OS: Ubuntu 22.04
helm 3.10.2 x64

In Azure devops pipelines we have some basic helm commands in powershell tasks. As of 3.10.2 these are writing to stderr and will result in the whole task failing with an error (unless I ignore stderr which I prefer not to). The basic task is like so:

[code]

The output of this script is like so:

[code]

I'm not sure of the context for [this changeset](https://g

[2022-11-11 19:24] gjenkins8 commented on #11533
Thanks for the link to the change. I think @jouve will need to comment here.

A possibility is to redirect the stderr output to stdout for the `helm registry login` command. I'm not familiar with powershell, but I think that should be a possibility, rather than ignoring.

[2022-11-11 19:34] gjenkins8 commented on #11531
hi @wcynice 👋 -- I don't believe yaml preserves ordering for dictionaries. If you want ordering, an array is needed.

[2022-11-11 20:42] jouve commented on #11533
hi, those lines broke helm commands using structured --output (json, yaml) and helm template (#11385).

as a workaround, I guess you can redirect stderr to stdout  (`2>&1`)

[2022-11-11 23:45] yxxhero commented on #11532
@salarai you can specify a different by -f flag.
[code]

[2022-11-12 00:16] #11081 closed

[2022-11-12 05:02] wcynice commented on #11531
thank you! can i interpret what you said as,only when Values in ”values.yaml“are some arrays, The labels generated in the results will be sorted automatically.

[2022-11-12 06:52] joejulian commented on #11530
I don't see anything in https://github.com/helm/helm/blob/704bf4fa867a8e8bac8e42ae323889f880be5281/cmd/helm/load_plugins.go

How would that work?

[2022-11-12 06:57] joejulian commented on #11533
Perhaps those should only go to stderr when using structured output?

[2022-11-12 07:00] joejulian commented on #11532
closing as duplicate of #4782

[2022-11-12 07:00] #11532 closed

[2022-11-12 07:01] joejulian commented on #11282
closing as duplicate of https://github.com/helm/helm/issues/4782

[2022-11-12 07:01] #11282 closed

[2022-11-12 09:50] yxxhero commented on #11518
@joejulian I think we need to bring up the issue at the developer meeting.

[2022-11-12 11:04] consideRatio commented on #4929
For reference for other `helm` chart developers that run into this. This is the kind of data .Capabilities were populated with.

[code]

With that, you can avoid issues either like...

[code]

Or like this...

[code]

[2022-11-12 11:05] consideRatio commented on #8113
For reference, this is the kind of corrupt data .Capabilities were populated with.

[code]

But even with such data, you can avoid issues with...

[code]

[2022-11-13 00:15] #11145 closed

[2022-11-13 00:15] #11144 closed

[2022-11-13 00:15] #11137 closed

[2022-11-13 03:47] anhongyang125 opened #11535 "The duration of waiting for each resource should be variable"
When the help chart contains a large number of resources and the network is bad, an error often occurs: timed out waiting for the condition
I think we should improve the timeout settings , For example, in the following code

[code]
If you adjust here, there will be no error

Output of `helm version`: v3.5.2
Output of `kubectl version`: v1.19.16
Cloud Provider/Platform (AKS, GKE, Minikube etc.): ku

[2022-11-13 20:39] philomory commented on #11506
Many charts (though certainly not all) allow you to override the release name with a value, so you could do something like `helm upgrade --install ... nc-syncthing k8s-at-home/syncthing --set nameOverride=nc` (that's just an example, I don't know if that specific chart supports such an override).

[2022-11-14 07:29] thernstig commented on #9865
unstale

[2022-11-14 15:44] phil9909 commented on #11530
I could think of two approaches:

- Extend `Chart.yaml` with a `plugins` section:
[code]
  Rendering would fail, if the plugin:
  - is not installed
  - is installed, but the version does not match the given semver range (could be an optional field)
- Extend the [`.Capabilities` builtin object](https://helm.sh/docs/chart_template_guide/builtin_objects/#helm) to include a list of plugins (e.g. `.Ca

[2022-11-14 15:59] phil9909 commented on #11535
The `2*time.Second` passed to `PollImmediateUntil` is the polling interval, the timeout is passed to the `context.WithTimeout` method and it is already configurable with the `--timeout` flag.

Do you really need the polling interval to be configurable or will the timeout work for you?

[2022-11-14 17:02] cartucciam opened #11538 "Handle EKS token refresh when using this as a library"
Hi there, how do you handle token refresh for deployments taking more than 15 minutes?

All I can think of is using the ExecProvider in rest.Config to invoke the aws cli, is there a way to do that with the aws sdk instead?

[A couple of years ago](https://github.com/helm/helm/pull/8855/files) this code used to call the factory the user provides instead that the `c.getKubeClient()` directly which w

[2022-11-14 17:28] Ornias1993 commented on #4269
Still a thing in 2022

[2022-11-14 17:50] gouthamMN commented on #10977
I still face this issue? Was there any solution?

[2022-11-14 18:03] nuno-caro-feedzai opened #11539 "Feature proposal: Allow referencing values on dependencies archive"
We are defining a chart that contains several dependencies in order to orchestrate a deployment of a product containing several Kubernetes manifests.

In the umbrella chart, Helm allows us to define multiple values files that we can use to deploy to Kubernetes, but all that gets lost once we package and publish the chart. What is odd is that those alternate values files are still in the archive, b

[2022-11-14 20:17] jslay88 commented on #7012
This should be reopened, as it still persists as an issue with `Chart.yaml`

[2022-11-14 20:26] jslay88 opened #11540 "`helm create --starter` remarshals `Chart.yaml`"
Trying to create a new starter chart set for my company for use with `helm create --starter`. However, I am running into an issue, where `Chart.yaml` appears to be getting parsed and remarshalled, stripping comments and new lines from the resulting `Chart.yaml`.

This looks very similar to #7201, #6951 and #7012

Output of `helm version`: 3.9.0

Output of `kubectl version`: 1.24.0

Cloud Provider/

[2022-11-14 23:22] ikegentz commented on #4026
This worked like a charm, thank you! For anyone reading this, as @trash-80 mentioned, `base64` is necessary for getting this to work. Even if your file is unencrypted (e.g. just a configmap or something) take care to still perform `| base64 -w 0 -` on the `cat` operation

[2022-11-15 00:36] joejulian commented on #11535
There are so many things that can go wrong if you try to use a packaging tool with unstable infrastructure I think it's just a bad idea. If it were me and I had such a bad connection that I couldn't trust it to stay up long enough to install a helm chart over an h2 connection, I'd just spin up a cloud instance and operate from there. Heck, you could even run from a pod inside the cluster.

[2022-11-15 00:38] joejulian commented on #11538
I had that problem once. I just created a serviceaccount and used it's token for authentication.

[2022-11-15 00:40] joejulian commented on #11539
closing as duplicate of https://github.com/helm/helm/issues/4782

[2022-11-15 00:40] #11539 closed

[2022-11-15 00:50] joejulian commented on #11540
This is working as written. The values and templates are used, but the Chart.yaml is defaulted: https://github.com/helm/helm/blob/9a5eb70320c1c1b7b6f1c5a6f0f5420cb1c934a0/pkg/chartutil/create.go#L520

[2022-11-15 00:55] joejulian commented on #10487
Please track this upstream https://github.com/Masterminds/semver/issues. This is not a helm issue.

[2022-11-15 00:55] #10487 closed

[2022-11-15 03:00] jslay88 commented on #11540
So there is no way for me to have comments in my starter scaffold chart's Chat.yaml?

[2022-11-15 06:12] zalsader commented on #8137
What you can do is:
[code]

Which should fail with a message containing the result of the lookup.

[2022-11-15 09:18] japoch commented on #9358
Hey, same issue happens to me. It looks like #5711

[2022-11-15 10:14] thernstig commented on #10542
unstale

[2022-11-15 11:10] RomanBats commented on #10013
The issue is closed as completed, but I haven't found this to be implemented. Am I missing something?

I have a similar issue. Dev, Stage, and Prod environments use different registries and dev cannot access prod (and visa versa) so previously I used an alias to reference a base chart from the repository added to my environment. But with OCI I would need to build and push a chart 3 times with a di

[2022-11-15 11:44] cartucciam commented on #11538
I suspect my use case needs something more flexible that this, during the pod lifespan there are multiple instances of Helm targeting different clusters in other accounts

[2022-11-15 14:43] bstrdsmkr commented on #9266
I would also like to see this reopened. Perhaps @bacongobbler ?

[2022-11-15 14:55] pdrost-sonrai opened #11542 "Helm 3.10.2 has 2 high vulnerabilities"
Running a trivy image scan against an image with helm 3.10.2 installed results in a couple high vulnerabilities:

`usr/local/bin/helm3 (gobinary)

Total: 3 (UNKNOWN: 1, LOW: 0, MEDIUM: 0, HIGH: 2, CRITICAL: 0)

┌───────────────────┬─────────────────────┬──────────┬────────────────────────────────────┬───────────────────────────────────┬─────────────────────────────────────────────────────────────┐

[2022-11-15 15:36] alan-marcinkowski opened #11543 "Azure DevOps Helm task receives 403 from releases"
##[warning]Cannot get the latest Helm info from https://api.github.com/repos/helm/helm/releases. Error Error: Unexpected HTTP response: 403. Using default Helm version v3.1.2.

Output of `helm version`:

Output of `kubectl version`:

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

[2022-11-15 15:37] consideRatio commented on #9903
## Background discussion

It seemed like a bug that `helm repo add` was required for `helm dep build` based on a Chart.lock that had explicit URLs in it, generated from a Chart.yaml also having explicit URLs in.

But, then there was this inline comment I managed to find via #9840:

https://github.com/helm/helm/blob/9a5eb70320c1c1b7b6f1c5a6f0f5420cb1c934a0/pkg/downloader/manager.go#L176-L183

Activ

[2022-11-15 15:58] red8888 opened #11544 "How do I render library charts to view the output of my functions during development?"
Somewhat related to this question: https://github.com/helm/helm/issues/8895

I know library charts are not installable, but I would really like a way to see the output of their functions without having to add it as a dependency to another chart.

As I am developing a library chart I'm writing functions with logic based on set params. How can I run a values file against my library chart to view the

[2022-11-15 18:08] joejulian commented on #11542
These are both server issues. Helm does not host a server so these issues are not relevant.

[2022-11-15 18:10] joejulian commented on #11543
Seems to have been a temporary issue as it's working now.

[2022-11-15 18:47] red8888 commented on #11544
Apart from limiting users from installing the chart what does making a chart a library chart do for you?

I get that enforcing correct usage is good, but it'd be great if the tooling supported library charts better. I would expect lint or template commands to have special behavior for the library chart type to support dev workflows. Otherwise it's harder for me to use than regular application char

[2022-11-15 21:28] lhriley commented on #11521
Thanks for working on a fix for this @wujunwei, @joejulian, et al! 🥂

[2022-11-15 22:47] jas-atwal commented on #10659
I am also encountering this issue when attempting to push to an insecure registry:

helm push helmdemo-0.1.0.tgz oci://xxxxxxxxxxxxx.eu-central-1.elb.amazonaws.com/charts/jatwal-dev/helmdemo

Error: failed to do request: Head "https://xxxxxxxxxxxxx.eu-central-1.elb.amazonaws.com:443/v2/charts/jatwal-dev/helmdemo/helmdemo/blobs/sha256:f91d89943511d230c849088ea20cf8c357d61a4a55b9f9ebc23fa9c5bbe4fc48

[2022-11-16 00:09] joejulian commented on #11540
Short of copying it in after the create command, I don't see any way.

[2022-11-16 00:13] joejulian commented on #9358
iirc, you don't have to repeat the whole stanza, just the value you want to change and the `name`:
[code]

[2022-11-16 00:16] joejulian commented on #9358
As for the question about updates, no. A core maintainer said it's working as intended and laid out a path for a contribution. Unless someone's willing to step up and contribute, there won't be any updates from the core maintainers until, possibly, there are enough breaking feature requests to start on helm v4.

[2022-11-16 00:19] joejulian commented on #11538
I wonder if running your credential refresh in another window would work.

Otherwise, if you could run from an instance inside the same aws account, you could use an instance role that wouldn't expire.

[2022-11-16 00:25] jslay88 commented on #11540
Could the code not be updated to change this behavior? Is there some need
to do it in its current state?

On Tue, Nov 15, 2022 at 17:09 Joe Julian ***@***.***> wrote:

[2022-11-16 14:51] treyhendon commented on #11543
This appears to have broken again this morning at 9:07am EST.  (We had dozens of success deploys leading up to that timestamp and then from 9:07am EST forward, all fails.)

[2022-11-16 16:01] jwomeara commented on #1413
Sadly, this is still and issue for us.  I guess it's nice to have the option to write the config to SQL, but I would prefer not to need an external dependency to get around this issue.  If you're not willing to split the release across multiple configmaps, would you consider adding the ability to write the config to a file in a persistent volume instead?  That way we wouldn't have to rely on an ex

[2022-11-16 16:17] cartucciam commented on #11538
One thing I could do is having a goroutine periodically overriding `rest.Config` which is passed by reference to the Helm configuration but this would simply be bad.

I understand that the mentioned PR change fixed an issue but that very issue could have been fixed without removing from the user the ability to implement `getKubeClient()` in the factory.

This change is biased towards the use case

[2022-11-16 20:55] parak commented on #11520
Yeah, I've seen that documentation, and that's exactly what I'm trying to understand better. Specifically the section "Upgrades where live state has changed". Why does this functionality seem to work as intended and as documented for something like a change to a label or annotation, but not to a data section of a configmap?

[2022-11-16 22:09] joejulian commented on #11543
Almost sounds like github restoring data

[2022-11-16 22:16] joejulian commented on #11520
because `data["somefield.json"]` is a defined field in the template. When the change is applied, it overwrites the string in that key. If you added `data["someotherfield.json"]`, which is not in the template, that key wouldn't be replaced and that would be used in the merge.

[2022-11-16 22:18] alan-marcinkowski commented on #11543
As a work around you can pin the version in the task ... but it's not optimal.

[2022-11-17 00:16] #11154 closed

[2022-11-17 03:29] joejulian commented on #11540
Feel free to open a PR. I'm just triaging issues and offering support. I'm not a core maintainer, so don't take my suggestion as an approval for the behavior change.

According to [HIP-0004](https://github.com/helm/community/blob/main/hips/hip-0004.md) that behavior change will need to be guarded.

[2022-11-17 03:30] joejulian commented on #11538
I was digging through client-go. It looks like it might try to reload tokens every minute. Did you try updating the kubeconfig in the background?

[2022-11-17 07:36] mabdh commented on #9027
I exactly faced the same issue with this. Trying to overriding livenessProbe that has a default value.

[2022-11-17 08:14] RomanDvorsky commented on #7219
@danports - you cannot! once the api is deprecated you cannot even uninstall anything!

[2022-11-17 09:12] basvs opened #11546 "Feature: config-only upgrades"
We sometimes only want to update the values of a helm chart and not upgrade a helm chart to the latest version from its repository. We then currently have to lookup the chart version first, and then upgrade the chart with this same version. It would be nice to have a `--values-only` flag for `helm upgrade`.

The full chart is probably not stored in Kubernetes. It is not a problem if the new chart

[2022-11-17 10:00] NicolasTobias commented on #10026
We were facing the same problem, the missing possibility to add variables to values.

[2022-11-17 10:20] bjw-s commented on #11544
Thanks for the ping! I pretty much do the same thing as @red8888: I either (temporarily) add in a hacky `{{ <whatever template I want to test> }}` or `{{ .Values }}`, or I leverage my local instance of [my app-template chart](https://github.com/bjw-s/helm-charts/tree/main/charts/other/app-template) to see what the output is with a real-life set of values.

Additionally I have a set of unit tests (

[2022-11-17 10:42] yxxhero commented on #11546
@basvs you can try to use the fixed of your chart version.

[2022-11-17 10:54] basvs commented on #11546
@yxxhero , it is indeed possible to pin the version to a specific version, but when you have multiple maintainers on the same pre-production cluster, all developers need to specify the same version when they want to do a minor tweak on the configured values.

For example:
Maintainer 1 updates his (ansible) scripts to use the new minor version x, with intention to run the new chart version on the p

[2022-11-17 11:02] yxxhero commented on #11546
@basvs  I know what you mean, but I have a feeling that your current problem may be a problem with environmental management. What do you think? But any additional features for helm are welcome. Thanks very much.

[2022-11-17 13:00] basvs commented on #11546
If it were the production cluster, I would agree that management of the cluster should be a lot more strict. But for development clusters, test clusters and pre-production clusters, one would like to be a bit more flexible in management.

I'm not very familiar with the Go language, but I think something like this would add this feature:
[code]

[2022-11-17 13:33] wujunwei opened #11550 "some bugs about `helm template` and coupled code in install/upgrade action"
when I look into the code of `helm template` , I found some code about `--output-dir` is in the file `action.go` which used by `install` and `upgrade`. as the code below shows method `renderResources` have 9 parameters, 4 of them are set for `helm template`
https://github.com/helm/helm/blob/82a2a2e85ccd9f83455b211ac2a7c7c887ffb9bd/pkg/action/action.go#L100-L105
 they are **TIGHTLY COUPLED**, and t

[2022-11-17 13:41] wujunwei commented on #11550
I offer a PR about it, I hope everyone can actively participate in this refactoring! :)

[2022-11-17 15:51] danports commented on #7219
@RomanDvorsky The procedure I described worked for me when I upgraded a Helm release containing a `PodSecurityPolicy` on a cluster that had been upgraded from Kubernetes 1.24 to 1.25 after the release had been installed - `PodSecurityPolicy` was removed in 1.25 and `helm uninstall` spit out a warning about that IIRC, but the uninstall worked. Perhaps Helm fixed something in the last couple of year

[2022-11-17 18:27] slashben opened #11552 "Feature: Helm output mapping the output lines to the input lines"
There are multiple debugging/scanning tools working on the output of Helm. These tools find potential problems in Kubernetes objects. In order to assist the users, these tools would not just only want to show the problematic parts in the Kubernetes objects, but point them to the original source files and lines.

Helm does not give information about which output line is coming from which input line

[2022-11-17 19:10] Apollorion commented on #10392
This should still be open, I too am running into this problem.

[2022-11-17 21:28] red8888 commented on #11544
@bjw-s thanks for responding! Not a huge deal just curious if there was some new fangled native way to do this. I played with unit-test a while back maybe thats what I want.

When you say "temporarily" do you mean you switch the chart type to application, add a template, then remove the template and switch back to library? Or do you just use the application chart type?

[2022-11-17 22:54] leblancmeneses opened #11553 "helm uninstall with --keep-history then upgrade --install results in UPGRADE FAILED "chartname" has no deployed releases"
Output of `helm version`:
[code]

Output of `kubectl version`:

[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): EKS

Context:

I'm creating a dashboard where I want to preserve history for a helm chart.

This would allow me to know when a chart was first installed (after potential uninstalls) using the helm history command.

Reproduce Steps:

[code]

I can only reinstall if I drop the i

[2022-11-18 00:03] yxxhero commented on #11546
@joejulian

[2022-11-18 05:11] yxxhero commented on #11553
@leblancmeneses show the debug output by adding --debug flag.

[2022-11-18 05:46] yxxhero commented on #11553
@leblancmeneses I can reproduce this issue. I can't ensure if it is a bug. @joejulian WDYT?

[2022-11-18 05:49] yxxhero commented on #11553
when run `helm -n xyz uninstall devactions --keep-history`, the history release labels is:

[code]

but for upgrade, it require:

[code]

[2022-11-18 09:23] robertluoxu opened #11554 "Error: INSTALLATION FAILED: chart requires kubeVersion: < 1.25.0-0 which is incompatible with Kubernetes"
![image](https://user-images.githubusercontent.com/52069259/202667373-85705836-02b2-4c46-8ec7-5b5281b6b0a3.png)

Output of `helm version`:
version.BuildInfo{Version:"v3.9.4", GitCommit:"dbc6d8e20fe1d58d50e6ed30f09a04a77e4c68db", GitTreeState:"clean", GoVersion:"go1.17.13"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"24", GitVersion:"v1.24.6+k3s1", GitCommit:"a8e0c6

[2022-11-18 16:50] leblancmeneses commented on #11553
I used upgrade or install ```upgrade --install```  it should, ?, have been picked up by the install flag.

[code]

[2022-11-18 21:46] gjenkins8 commented on #11554
I suspect the presence of the build version is confusion the semver comparison (ie. the `+k3s1` part of the version string)

[2022-11-18 22:10] gjenkins8 commented on #11554
Source: https://github.com/helm/helm/blob/49819b4ef782e80b0c7f78c30bd76b51ebb56dc8/pkg/action/action.go#L116

Notably, it seems that `caps.KubeVersion` is empty

[2022-11-19 00:28] gjenkins8 commented on #11552
Thanks for joining the call yesterday @slashben, and for creating the issue.

I think this is a nice idea. I think some details around how this might be achieved would be a good start. In particular, as mentioned on the call, `helm` uses golang's [text/template](https://pkg.go.dev/text/template). We suspect the `text/template` would need to support (somehow) emitting the source's details for this

[2022-11-19 10:52] leonid-lm commented on #11306
The same issue appears, and I cannot find a way to fix it, I've tried:

- reinstalled helm using other methods
- cleaned up kubeconfig
- checked DNS configuration for weird names

Result:
- kubectl is working
- helm is still broken
`Kubernetes cluster unreachable: Get "https://xxxxx.k8s.xxxxx.com/version": dial tcp: lookup 73846a57-6706-xxxxx.k8s.xxxxx.com on 10.188.0.1:53: read udp 10.188.146.229

[2022-11-19 14:31] markussiebert opened #11556 "Feature: Add an option to add annotations and labels to the manifests generated via helm template"
UseCase:

When you setup Talos k8s it's possible to add manifests on node bootstrap time - before kubernetis is really running and the nodes are ready. But you can only apply manifests, not helm charts. In my special case, it's the cilium cni.

https://www.talos.dev/v1.2/kubernetes-guides/network/deploying-cilium/#method-3-helm-manifests-hosted-install

The documentation generates the manifest via

[2022-11-19 22:26] jonnylangefeld commented on #2730
I agree with the last comment. Why not even just call the flag `--adopt`. When set a resource that already exists on the cluster just gets the helm annotations and doesn't have to be deleted and recreated, which could mean downtime for production services.

The flag expresses intentionality and the current behavior would be untouched and there would be no braking changes to helm users of the curre

[2022-11-20 00:09] jonnylangefeld commented on #8040
I wanted to add to this conversation, the described behavior only happens upon `SIGSTP` (keyboard shortcut `C-z` or <kbd>Ctrl</kbd>-<kbd>z</kbd>) and not on `SIGINT` (keyboard shortcut `C-c` or <kbd>Ctrl</kbd>-<kbd>c</kbd>).

### Cancelling with <kbd>Ctrl</kbd>-<kbd>c</kbd>:

If you have a chart upgrading or installing with `--wait` or `--atomic` and hit <kbd>Ctrl</kbd>-<kbd>c</kbd> (`SIGINT`) whi

[2022-11-20 03:43] yxxhero commented on #11556
@markussiebert I think it is a feature.

[2022-11-20 07:17] markussiebert commented on #11556
I found a workaround via kustomization Patches and Posttender - but think it would be a usefull feature.

[2022-11-20 09:17] ash2k commented on #11169
Still relevant, PR open, nobody cares :)

[2022-11-20 09:23] jkroepke commented on #8040
Its not a bug, its a feature, e.g. a default filter. In that case, use `helm ls --all`

[2022-11-20 16:26] bstrdsmkr commented on #8040
@joejulian I don't disagree on the community contribution, but I disagree on pretty much all the rest :grin:

This can be the root of many problems that aren't immediately obvious and can take quite some skill to track down. In our case, we're using Gitlab CI runners on Kubernetes with preemptible pipelines, very similar to above:

So when a pipeline is terminated, Gitlab asks kubernetes to kill t

[2022-11-21 08:51] pmorch commented on #10265
Ping to avoid going stale.

On Mon, Nov 21, 2022 at 1:15 AM github-actions[bot] <
***@***.***> wrote:

[2022-11-21 10:25] srinivasev opened #11557 "(Question) Where do the helm downloads tgz files during helm install execution"
**Question** - Where do the helm install command stores the charts which are intended to install ?. Or helm install works without downloading the chart into local machine ?.

Or helm install internally invokes helm pull command for downloading the chart into local machine and use this for installing ?.

Output of `helm version`: `version.BuildInfo{Version:"v3.6.3", GitCommit:"d506314abfb5d21419df8

[2022-11-21 10:28] SaeidAshian commented on #11338
I almost have the same situation but did not succeed to handle. My case is to parameterize the Redis (version 6 or 7) installation from the values file.
here is my chart.yaml
[code]

I have tried with both condition and tags but the problem is, when I do template, it will create both version and set the replica always to the latest redis7, even I did set it false in my values.yaml file
[code]
Not

[2022-11-21 11:09] GSeibt commented on #9027
Using Helm `version.BuildInfo{Version:"v3.10.2", GitCommit:"50f003e5ee8704ec937a756c646870227d7c8b58", GitTreeState:"clean", GoVersion:"go1.18.8"}` and the Traefik `20.3.0` chart as a dependency. I can't remove `traefik.updateStrategy.rollingUpdate` when setting `type` to `Recreate`. The Helm doc does not suggest that this is not possible...

[2022-11-21 12:14] salzig opened #11558 "Option to send Deprecation Warnings and/or Errors to Sentry, "plugin" or Script"
Hej,
we have quite some deployments on a not so insignificant number of clusters. So it's "hard"/time consuming to always keep an eye on the output generated by helm.

Would it be a good idea to integrate some form of callback in Helm to signal/notify senty/slack/etc about deprecation warnings, or also errors, in a standardized way?

[2022-11-21 12:44] cartucciam commented on #11538
Thanks, I'll try

[2022-11-21 16:11] E11esh commented on #5145
Now Helm templates seems to provide template function named [lookup](https://helm.sh/docs/chart_template_guide/functions_and_pipelines/) to access `kubectl get` API

[2022-11-21 19:13] phil9909 commented on #11557
The charts are stored in the `repository` directory within the cache path.
The cache path can be configured using the `HELM_CACHE_HOME` environment variable. If it is not explicitly configured it uses some Operating System specific default:

Operating System | Cache Path
-- | -- |
Linux | $HOME/.cache/helm
macOS | $HOME/Library/Caches/helm
Windows | %TEMP%\helm

See https://helm.sh/docs/faq/uninst

[2022-11-21 22:17] BrennanAyers commented on #11533
@jouve Is there a fix for Helm template output?

[2022-11-22 00:28] joejulian commented on #11558
I don't think it's a bad idea at all.

Today, `helm lint` will show the warnings. You can scrape those.

To improve this, `lint` would need machine-readable output and would need the ability to [set the kubernetes version](https://github.com/helm/helm/issues/10664) that you're linting against.

[2022-11-22 01:23] wujunwei commented on #11338
could you whos your file directory structure？ I don't know your `redisCache` in values.yaml mean.

[2022-11-22 02:02] wujunwei commented on #11338
@SaeidAshian   as your case shows , same name in `dependencies` have bug in current helm version,   it works well in my [PR](https://github.com/helm/helm/pull/11396)

so you can wait maintaners merge it ( please add thumb up to my pr ,let them know you faced the same bug.) or just add alias to solve this problem like below shows.
[code]

[2022-11-22 03:19] joejulian commented on #11546
Interesting idea. The logic would need reworked to reduce the cyclomatic complexity and you cannot change the Upgrade struct (api changes would have to wait for Helm 4), but other than that I don't see anything wrong with it.

[2022-11-22 03:22] joejulian commented on #11553
Yeah, looks like a bug to me.

[2022-11-22 03:33] joejulian commented on #11554
This is retrieved by client-go:
https://github.com/kubernetes/client-go/blob/1ac8d459351e21458fd1041f41e43403eadcbdba/discovery/discovery_client.go#L566-L578
Is k3s not providing the /version api?

[2022-11-22 03:36] #11246 closed

[2022-11-22 03:41] joejulian commented on #11169
I care, I just have no authority.

[2022-11-22 07:11] antoniodiazroman opened #11559 "How to prevent PVCs from being deleted when uninstalling a Helm release"
Greetings,

I'm dealing with bringing a deployed Helm release (**Hazelcast**) to **Argo CD**, and in order to do that, I must first **uninstall** the release with Helm and reinstall it using Argo CD.

The thing is that when I uninstall the release, **the Management Center PVC is also removed**, and that's something I do not desire because this PVC contains data that I need to keep. My intention is

[2022-11-22 08:31] salzig commented on #11558
Maybe it's a good think to improve lint too, but to be honest i would prefer "the real deal" and signal while(/after) applying.

Linting is already done in our pipelines to check if those charts "work", and I'm fine with change requests having failing lint jobs cause someone missed something - and i prefer not to see those errors in sentry or else where. But when those lint pipelines are green, th

[2022-11-22 09:12] SaeidAshian commented on #11338
@wujunwei your suggest for alias works as expected. hopefully they will accept your merge soon :)

[2022-11-22 09:41] thernstig commented on #8702
@bacongobbler could this be re-opened? I also got struck by this and it is clearly a huge time sink if missing the key point about global vs root. I think the docs could be clearer as well.

[2022-11-22 11:59] piratf commented on #8386
Exactly the same problem.

[code]

[2022-11-22 18:28] bhat-ganesh commented on #11416
This seems to be the behaviour on newer version of `helm`. Earlier versions of helm would indicate a warning on the `nil` filed. The new version just errors out.

**This is a big change in behaviour with helm. Is there an option to not error out and just stay with warning?**

Can this be considered a bug?

I ran into this exact issue with my postgres deployment. Here is the behavior change with th

[2022-11-22 21:04] dfl-erik opened #11560 "SemVer Check Incorrectly Flags SemVer as Invalid Because of Build Number After Major.Minor.Patch-"
Output of `helm version`: version.BuildInfo{Version:"v3.10.1", GitCommit:"9f88ccb6aee40b9a0535fcc7efea6055e1ef72c9", GitTreeState:"clean", GoVersion:"go1.18.7"}

Output of `kubectl version`: Client Version: version.Info{Major:"1", Minor:"25", GitVersion:"v1.25.3", GitCommit:"434bfd82814af038ad94d62ebe59b133fcb50506", GitTreeState:"clean", BuildDate:"2022-10-12T10:57:26Z", GoVersion:"go1.19.2", Com

[2022-11-22 22:35] victorlapshev commented on #7891
Any updates or temporary workaround?

[2022-11-22 23:49] joejulian commented on #11559
What about adding the `helm.sh/resource-policy` to the pvc, running an update manually, then uninstalling?
You could probably just delete the release secrets and let helm reclaim ownership of the resources.
You could add a finalizer to the PVC to prevent it being deleted.

That's what I've got off the top of my head. LMK if any of that's helpful.

[2022-11-22 23:53] gjenkins8 commented on #11560
Strictly `3.0.0-0659850` is not valid semver I think:

https://semver.org/#spec-item-9

Also note, for semver, generally the form is:
[code]

If you want to specify a "build version", you should use `+<build>`, rather than `-<pre-release>`

[2022-11-23 00:02] gjenkins8 commented on #11535
https://github.com/helm/helm/pull/11348 looks to begin to changing the wait mechanism to use watches. This might be a better approach overall, as I think watching would allow resuming during the timeout period (if there was intermittent network issues)

[2022-11-23 00:19] joejulian commented on #11560
Surprisingly, this works: [Go Playground](https://go.dev/play/p/wrz2MQBY-SS)
But this doesn't: [Go Template Playground](https://repeatit.io/#/share/eyJ0ZW1wbGF0ZSI6Int7IHNlbXZlciAudmVyc2lvbiB9fSIsImlucHV0IjoidmVyc2lvbjogMS4wLjAtMDEyMzQiLCJjb25maWciOnsidGVtcGxhdGUiOiJ0ZXh0IiwiZnVsbFNjcmVlbkhUTUwiOmZhbHNlLCJmdW5jdGlvbnMiOlsic3ByaWciXSwib3B0aW9ucyI6WyJsaXZlIl0sImlucHV0VHlwZSI6InlhbWwifX0=)
The sprig

[2022-11-23 00:26] gjenkins8 commented on #11540
From a quick note, it seems to be because `Chart.yaml` needs to contain the chart's name. The code today  generates a new `Chart.yaml` via encoding the internal golang struct as yaml (rather than e.g. templating from a starter's existing `Chart.yaml`)

[2022-11-23 00:34] joejulian commented on #8386
Crashing pods after an upgrade is not something that helm can predict or solve. This seems like it's either a chart problem or it's something to do with how the sidecars are injected, based on the very limited descriptions. There's not enough information to consider reopening this issue.

[2022-11-23 00:36] joejulian commented on #8702
The docs are in the [helm-www](https://github.com/helm/helm-www/issues) repo. Please file an issue there.

[2022-11-23 00:39] #11262 closed

[2022-11-23 00:45] joejulian commented on #11416
Can you narrow it down to which exact release changed this behavior? If we can find the commit, I can change this to a bug.

[2022-11-23 01:09] jlubawy opened #11561 "Dependency charts with same library chart, but different version, have unexpected behavior"
Output of `helm version`: v3.10.2 (macOS/arm64), I also went back as far as v3.8 and it is still an issue
Output of `kubectl version`: N/A
Cloud Provider/Platform (AKS, GKE, Minikube etc.): N/A

I have a collection of charts with the following dependency structure:
- `issue-x-apps` (application chart)
  - `issue-x-app-1` (application chart)
    - `issue-x-lib` (library chart, version 1.0.0)
  - `i

[2022-11-23 01:16] jlubawy commented on #11561
It seems to be related to the template name, if I give each version of the `library` chart a unique template name it works as expected: https://github.com/jlubawy/helm/compare/jlubawy/issue-x...jlubawy:helm:jlubawy/issue-x-workaround

[2022-11-23 09:55] JiayangZhou opened #11562 "Helm Install Failed: cannot unmarshal number into Go struct field XXX of type string"
My helm install on a helm chart has been working but out of a blue the helm install (command used: helm install release_name .)stops working and complains the error as such:
`Error: INSTALLATION FAILED: CronJob in version "v1" cannot be handled as a CronJob: json: cannot unmarshal number into Go struct field EnvVar.spec.jobTemplate.spec.template.spec.containers.env.value of type string`

Under the

[2022-11-23 09:57] thernstig commented on #8702
Done: https://github.com/helm/helm-www/issues/1399

[2022-11-23 10:11] juan-vg opened #11563 "Not able to dynamically override map"
Output of `helm version`: 3.x

## Context

When using a 3rd party Chart there's no way (or at least I've not been able to find it) to override all attributes. Default and provided values are merged. If there's a need to replace all the default map-attributes with the new provided ones, it can't done in a dynamic way. It's true each attribute can be nulled if they're known, but it would be better t

[2022-11-23 10:20] JiayangZhou commented on #11562
[code]

this solved it

[2022-11-23 12:14] ankitjain28may commented on #8208
I am having the same issues, do we have any updates here?

[2022-11-23 13:34] dfl-erik commented on #11560
Thank you for the replies. I agree with your assessment and consider what I reported to be incorrect.

[2022-11-23 13:34] #11560 closed

[2022-11-23 14:19] yxxhero commented on #11562
@JiayangZhou Thanks for your issue and answer.

[2022-11-23 14:19] #11562 closed

[2022-11-23 14:41] JiayangZhou commented on #11562
Thank you, however, is helm's behavior in the first scenario expected though?
I would naturelly think if the value of `test` is quoted in value files, the below should just work, not requiring the `value: {{ .Values.test | quote}}`

[code]

[2022-11-23 15:14] DanTulovsky opened #11564 "helm3 deleted CRDs with uninstall"
Hi,

The docs (https://helm.sh/docs/topics/charts/#limitations-on-crds) say:

[code]

I just did a `helm delete` on a chart (kubernetes-external-secrets) and it completely deleted the CRDs (which then deleted the ExternalSecrets - these themselves are in a different chart).

I did this via the lens ide (https://k8slens.dev/) by clicking their delete button under helm releases. (I am assuming this

[2022-11-23 15:19] hickeyma commented on #11564
@DanTulovsky Helm doesn't automatically delete CRDs in Helm 3. It did in Helm 2.

This would only be possible if configured in the chart(s) that you used or perhaps from the environment you are running on. I suggest checking the chart you ran or with the chart maintainers.

[2022-11-23 17:16] jlubawy commented on #11561
Reading the documentation this seems like semi-expected behavior: https://helm.sh/docs/chart_template_guide/named_templates/

This is the behavior I see, "whichever one is loaded last will be the one used". If I modify this line to un-reverse template sorting it will use the 2.0.0 version of the template (because it is then Parsed last): https://github.com/helm/helm/blob/main/pkg/engine/engine.go#

[2022-11-23 17:53] hickeyma commented on #11564
It could be a number of things:

- The CRDs maybe created a templates in the chart `template` directory instead of the `crds/` directory. If this is the case and the CRD chart is a dependency on the chart you `helm uninstall` with then it will remove the CRD.
- If you are using Helm v2
- The environment you are using. For example, this "lens ide"

[2022-11-23 18:18] #11520 closed

[2022-11-23 21:42] mcascone commented on #7275
This was very helpful! I changed it to not delete the line entirely, but mask the secret itself:

[code]

future enhancement would be to enable multiple secrets to be masked in one go.

[2022-11-23 23:55] yxxhero commented on #11562
@JiayangZhou yeah. it's expected.

[2022-11-24 00:40] joejulian commented on #11562
It's expected because `{{ .Values.test }}` produces `14` (without quotes). When interpreted by the the yaml unmarshaller, that `14` is interpreted as an int. The value cannot be an int, so it fails. By adding the `quote` function, the output is `"14"` which is unmarshalled as a string.

[2022-11-24 00:47] joejulian commented on #11563
I totally get what you're saying but, unfortunately, yaml doesn't allow for that possibility. If you don't want a full set of defaults, your best bet is to file an issue with the chart maintainer to not provide those defaults in the chart.

Commonly this is done like:

[code]

[2022-11-24 01:06] joejulian commented on #10265
It looks like this happens only with subcharts because [this bit of the dependencies merge](https://github.com/helm/helm/blob/663a896f4a815053445eec4153677ddc24a0a361/pkg/chartutil/dependencies.go#L251) and upgrades are the only actions that use the `CoalesceTables` function.

To get this in template (or install) some additional check would need to be made that isn't being made today. I'm not sure

[2022-11-24 08:34] RomanDvorsky opened #11565 "Stucked with pending upgrade"
Our upgrade has been stuck so I did rollback however the upgrade remains in "pending-upgrade" and we are not able to deploy any new version:
![image](https://user-images.githubusercontent.com/36188474/203732200-41e06e38-b063-4e0d-85f3-6127b6f55ba9.png)
Unable to deploy new version:
![image](https://user-images.githubusercontent.com/36188474/203732254-35635744-03f4-4a33-aa84-7f36a8c53f04.png)

any

[2022-11-24 09:26] stamak opened #11566 "Helm tries to deploy container image instead of helm chart"
The root cause -  container images and helm charts are kept the `same` ECR repo and hence
helm tries to deploy container image instead of helm chart because it does not take into account `artifactMediaType` attribute.
Helm charts have "artifactMediaType" set to `"application/vnd.cncf.helm.config.v1+json"`
Container images have "artifactMediaType" set to `"application/vnd.docker.container.image.v1+

[2022-11-24 12:39] mindw commented on #7117
A lot of people still use helm on windows 😉

[2022-11-24 13:54] zarnovican commented on #8040
if you came to this issue because cancelled Github Action helm leaves release in `pending-upgrade` state, read on..

[code]

Github correctly sends SIGINT, SIGTERM "to the step's entry process" as [documented](https://docs.github.com/en/github-ae@latest/actions/managing-workflow-runs/canceling-a-workflow#steps-github-takes-to-cancel-a-workflow-run).

The problem is that `run:` action starts a bash

[2022-11-24 14:13] mikkelblanne commented on #11533
We just had all our pipelines fail for the same reason. I can see why the change was made, but printing success messages on stderr is not the greatest idea, and it will cause endless issues if left in this state. Redirecting output for that particular command is a workaround, not a solution.

We're not using structured output, so only using stderr in that case would fix it for us. Without really k

[2022-11-24 14:58] tonyqui opened #11567 "Cannot nullify values of a subchart template"
Greetings helm community,
I'm a bit puzzled about how values are effectively evaluated when a chart references, as its dependency, another chart.

Here's a practical example:

`helm template chart/charts/loki-2.12.2.tgz --set securityContext=null`

this generates:

`      securityContext:
        null
`

Now, if I create a chart having loki as dependency:

[code]

the helm template command

`helm

[2022-11-24 15:43] Jiehong commented on #11179
May be stale, but still valid.

[2022-11-24 17:44] drivera-armedia opened #11568 "Certificate expired in CircleCI tests"
The following error is shown while [this PR](https://github.com/helm/helm/pull/11071) is being [tested](https://app.circleci.com/pipelines/github/helm/helm/4571/workflows/814befa8-ce95-49de-b42a-e22a67481b1b/jobs/16143):

[code]
This seems to be related to the test environment's certificate having expired in August and not being updated.

[2022-11-25 05:29] gjenkins8 commented on #11565
One observation is that the helm version here is very old: `v3.0.2` (~Dec 2019)

It might be worth retrying with an up to date version.

[2022-11-25 05:30] ravijkyada commented on #7971
I am also Stuck with the same feature, Please Update if any feature or Work Around is available for the same,

I Want to ignore HPA While. we do helm upgrade in the CI/CD

[2022-11-25 06:22] RomanDvorsky commented on #11565
Hi, we had to proceed so we removed the service and install it again there was little outage but it was only solutions, however thx we are going to upgrade to latest version. In case situation occurs again I'm going to reopen the case

[2022-11-25 06:22] #11565 closed

[2022-11-25 16:14] gjenkins8 commented on #11533
@jouve -- perhaps we should consider reverting the stderr change? And consider one of the options above (only use stderr when doing structured output, or don't have these messages logged when doing structured output? Or something else?)

[2022-11-26 00:55] yxxhero commented on #11568
@drivera-armedia try to rebase your code.

[2022-11-26 00:56] #11568 closed

[2022-11-26 07:25] zainabmirkar commented on #11118
Hey, I'm new to helm, can you refer me to any resources that can help me tackle this issue?

[2022-11-26 08:07] rowi1de commented on #11000
If you use ArgoCD there is a solution now https://github.com/argoproj/argo-cd/issues/9528#event-7895266106

[2022-11-26 08:33] FernandoMiguel commented on #11000
Pretty good find.
I'll see if terraform and aws gallery support that graph query and wildcard.
If so, I could restore my old functionality of discovering the latest version of Karpenter.

[2022-11-27 09:07] hajovonta commented on #9407
I can see there are pull requests to this issue. No activity on those since half a year though. While this doesn't seem like a critical priority item, it would be nice to see some resources allocated to it.

[2022-11-27 11:22] ErezArbell commented on #2205
I also need this feature.

[2022-11-28 01:31] robmoore-i opened #11577 "Charts should be able to read the permissions associated with the installation user who is invoking Helm"
Feature request: As a Chart author, I would like to be able to access, through an object like `.InstallationUser` or `.Permissions`, the RBAC configuration associated with the installation user i.e. the k8s service account user who has invoked e.g. `helm install`.

In my particular case, this is because I'd quite like to save that info to a ConfigMap for use in debugging a failed installation. Thi

[2022-11-28 06:18] shubham1172 commented on #10627
@bacongobbler can you please re-open this?

[2022-11-28 07:23] wujunwei commented on #11495
@joejulian   It's hard to judge a resource rendered by a helm manifest is deprecated or not. it was affected by the version of users' k8s .we should handle it like ingress.
https://github.com/helm/helm/blob/3974136b6eba92f17a821aac52a80b59a9fa1202/pkg/chartutil/create.go#L223-L229
@hzliangbin  If you are too busy to fix it, I'd like to do it for you :-)

[2022-11-28 08:49] #11492 closed

[2022-11-28 09:05] shubham1172 commented on #10627
Thanks @hickeyma. We should also do the same exercise for "volume".

[2022-11-28 11:03] alfsch commented on #6901
For me this issue is still open

[2022-11-28 12:33] jglick commented on #6901
Yes it was closed simply due to lack of activity.

It seems https://github.com/helm/helm/blob/21e694e0f9575700f16f6c87002c6ccdc434edc4/.github/workflows/stale-issue-bot.yaml#L9 has not been updated to pick up https://github.com/actions/stale/issues/789 which would at least let it show up in grey rather than purple. Maybe #11498 would fix that.

[2022-11-28 12:59] max-rocket-internet commented on #7971
/reopen

[2022-11-28 14:06] joejulian commented on #11495
True, but for testing purposes we can use the [linter deprecations](https://github.com/helm/helm/blob/main/pkg/lint/rules/deprecations.go).

[2022-11-28 15:00] jdmaguire commented on #9407
The trouble @hajovonta on the PR is that the code is done but getting the attention of a maintainer has failed (we've tried a few times).

[2022-11-28 15:22] Callek opened #11578 "Cannot install helm, invalid checksum"
[code]

It does seem that the file I'm getting from the releases page does not match the checksum displayed therein...

[code]

[2022-11-28 15:38] max-rocket-internet commented on #7971
I don't think it's possible to reopen an issue closed by the stale bot unless you're a maintainer. The issue was open for almost 2 years with no resolution anyway.

[2022-11-28 15:44] morremeyer commented on #7971
This is also nothing helm is made for. Helm in my eyes is a tool to template resource definitions (and apply them).

For complex use cases like that, I deem tools like ArgoCD the much better option.

On November 28, 2022 3:39:09 PM UTC, Max Williams ***@***.***> wrote:

[2022-11-28 16:30] jdmaguire commented on #9407
I don't particularly blame them. The PR is on page eight. They probably get dozens or hundreds of notifications a day. This is one of the downsides of opensource. Completed work can sit waiting in a PR for an indefinite amount of time because there can be an order or two orders of magnitude more contributors than there are people with write access.

[2022-11-28 16:41] Callek commented on #11578
Looks related to #10950

[code]

[2022-11-28 16:44] Callek commented on #11578
Looks like it works if I do `--version v3.10.2` perhaps there should be logic that checks for the `v` and add it if missing?  Or some better error message when its not found...?

[2022-11-29 00:04] joejulian commented on #11567
duplicate of #9027

[2022-11-29 00:04] #11567 closed

[2022-11-29 00:14] joejulian commented on #11577
You could probably use the lookup function in a similar way to how https://github.com/rajatjindal/kubectl-whoami/blob/master/pkg/k8s/tokenreview.go does it.

[2022-11-29 00:16] joejulian commented on #11578
Good suggestion. Care to offer a PR?

[2022-11-29 00:19] joejulian commented on #11556
I think you could also use a helm install dry run instead of template to get the results you're looking for.

[2022-11-29 00:21] joejulian commented on #11558
I wonder if you could implement such a thing using a plugin or post-renderer

[2022-11-29 00:23] joejulian commented on #7275
This seems like it should be easy to solve using the post-renderer.

[2022-11-29 00:27] joejulian commented on #11566
Helm adheres to the OCI spec. Supporting AWS-specific features would need to be done external to helm. Perhaps it could be implemented with a helm plugin?

[2022-11-29 00:30] joejulian commented on #8040
Nice find, @zarnovican!

[2022-11-29 00:34] joejulian commented on #11179
I think this could be implemented as a post-renderer or plugin, pretty easily.

[2022-11-29 00:42] joejulian commented on #11118
@zainabmirkar The code snippet linked above is what needs patched. The [contributing doc](https://github.com/helm/helm/blob/main/CONTRIBUTING.md) is also a riveting read. :wink:

[2022-11-29 00:48] joejulian commented on #5825
I can't speak to the validity from the core-maintainers standpoint, but unless the community steps up to write a HIP and offer a solution, the timeline is not predictable. The core maintainers are all very busy with their day jobs and those day jobs are no longer full-time helm.

[2022-11-29 00:50] joejulian commented on #9407
Not just that, but they've all got day jobs that are not full-time helm. We just need more folks to become core maintainers (I'm not one of them, I just triage the issues).

[2022-11-29 07:29] wujunwei commented on #11495
I have tried it, we can't use lint releative package in  [create.go](https://github.com/helm/helm/blob/main/pkg/chartutil/create.go),it will cause `import cycle not allowed in test`

[2022-11-29 07:58] luisdavim commented on #10987
This is not stale, I'm waiting for feedback on my PR.

[2022-11-29 10:16] orle opened #11579 "helm upgrade doesn't work when KUBECONFIG env var contains multiple files"
Output of `helm version`: version.BuildInfo{Version:"v3.10.2", GitCommit:"50f003e5ee8704ec937a756c646870227d7c8b58", GitTreeState:"clean", GoVersion:"go1.18.8"}

Output of `kubectl version`: Client Version: version.Info{Major:"1", Minor:"24", GitVersion:"v1.24.3", GitCommit:"aef86a93758dc3cb2c658dd9657ab4ad4afc21cb", GitTreeState:"clean", BuildDate:"2022-07-13T14:30:46Z", GoVersion:"go1.18.3", Com

[2022-11-29 11:16] stamak commented on #11566
interesting debug logs when helm pushes charts to ecr with command
`helm --debug push chart-name-0.1.7.tgz oci://123123123123.dkr.ecr.us-west-2.amazonaws.com`
[code]

hence seems helm sets "artifactMediaType" to "application/vnd.cncf.helm.config.v1+json", isn`t it?

[2022-11-29 11:23] rufreakde commented on #2798
IMHO this thread was closed to early. Just because a workaround was found for something that should be enabled in helm itself via some metadata like
[code]
Where both of this evaluate to "" ofc.

Yes - there are workarounds but the original creator of this thread asked for a configuration for helm not a workaround for strings to trick helm. And I think it would be a great addition.

Its a feature

[2022-11-29 16:27] alfsch commented on #9027
Struggling on the same issue with kube-prometheus-stack subcharts

[2022-11-29 18:28] cjabrantes opened #11581 "Multiple Values files - keys are overwritten not merged"
Hi,

helm version
version.BuildInfo{Version:"v3.2.3", GitCommit:"8f832046e258e2cb800894579b1b3b50c2d83492", GitTreeState:"clean", GoVersion:"go1.13.12"}

I was not able to find it in the documentation, if its the expected behaviour or may be a bug when using multiple values files, i was expecting that the values would be merged with the ones with lower prio or overwrite if already exists.

If i ha

[2022-11-29 19:12] yiranyao commented on #11306
I had same issue of getting time out running helm list. I'm on Ventura 13.0.1 using M1 Max chip.
Helm version:
`version.BuildInfo{Version:"v3.10.2", GitCommit:"50f003e5ee8704ec937a756c646870227d7c8b58", GitTreeState:"clean", GoVersion:"go1.19.3"`

[code]

Upon investigation, it ended up being my local DNS server cannot resolve the EKS API endpoint `https://E3863601D07724962CDAB73D0D74AA55.gr7.us-w

[2022-11-29 20:30] holyspectral commented on #8085
For anyone waiting for that https://github.com/helm/helm/pull/9653 being merged, I hit this issue today and https://github.com/helm/helm/issues/8085#issuecomment-674190314 's method works perfectly.

[2022-11-29 20:39] hlavki commented on #9358
This is true and false at the same time. It works only if you don't have any array value properties in parent array.

[2022-11-30 00:20] joejulian commented on #2798
@rufreakde Since this is actually just how the go template engine works, perhaps file an issue there. The solutions offered in this thread are the only ways to do it with go templates.

[2022-11-30 00:22] joejulian commented on #11579
@orle Does kubectl work any differently?

[2022-11-30 00:49] joejulian commented on #11566
This has surpassed my familiarity with this. Let's see if I can ping in @makkes.

[2022-11-30 03:04] wujunwei commented on #11495
[linter deprecations](https://github.com/helm/helm/blob/main/pkg/lint/rules/deprecations.go) depends on LDFLAGS  which is not set when test uint case, it's 1.20 by default. it will lead to `autoscaling/v2beta1` is not regarded as deprecated.
https://github.com/helm/helm/blob/7838fb769d00f53c858d994a873f42c2960a7d25/pkg/lint/rules/deprecations.go#L30-L34
If we set ldflags when testing , `helm templ

[2022-11-30 08:04] cjabrantes commented on #11581
Hi,

But in the templates how do you deal with the fact that the number of servers is not static? Meaning it can be multiple 1 or 3 or N? With the previous approach I can used range, how can you have the same with this values format?

Thanks for your time.

[2022-11-30 08:17] orle commented on #11579
@joejulian doesn't seem like it's kubectl related. It's most likely an helm3 related issue.
The issue can be mitigated by:
1. setting a single path in KUBECONFIG env var
2. using a single file as in /.kube/.kubeconfig
3. using --kubeconfig /path/to/kubeconfig/file in the helm upgrade command

helm3 should definitely continue to support multiple helm paths in KUBECONFIG env var in my opinion.

[2022-11-30 11:54] cjabrantes commented on #11581
Hi,

for some reason the range was failing when i change it to map instead of collection (hope i m calling the right names :) ).

I guess i can archive the same with:
[code]

[2022-11-30 12:56] cschlesselmann commented on #9027
Running into this issue as well, we deploy all our stuff with ArgoCD via helm dependencies and this is really makes some deployments impossible

[2022-11-30 14:12] joejulian commented on #11579
Sure, my question is about whether the behavior between the two matches. They both use k8s.io/client-go so the behavior should be the same.

[2022-11-30 16:20] webdz9r commented on #3786
this above is still a good solution in 2022 - unless there is an official support for this, it's pretty lightweight and useful

[2022-11-30 17:28] justinmchase commented on #9407
It looks like they just blocked the main PR as "not backwards compatible" and so it needs to go into helm 4 :(

https://github.com/helm/helm/pull/9611#pullrequestreview-1197206147

[2022-11-30 17:35] rcousineau-xandr commented on #9407
the classic wait 18 months then request changes

[2022-11-30 18:12] sgandon commented on #11236
Same issue for any other resources that you create for your tests.
I need to create a Role and RoleBinding for my tests to work and when using the `--logs` I get an error as helm considers those resources as pods !!!

[2022-11-30 18:19] hickeyma commented on #9407
@rcousineau-xandr  Apologies that it only got reviewed now. This doesn't however mean that we push in a change without reviewing it properly.

[2022-11-30 19:29] veleek opened #11583 "helm upgrade is using an unexpected value for namespace"
I'm running a helm upgrade step in Github Actions that has previously deployed.  The existing deployment uses the `default` namespace.

I'm not passing in a namespace, and I can't identify anything anywhere that is passing in a namespace, but it seems like an implicit namespace of `github-actions-runners-github-com` is getting set SOMEWHERE, but I can't for the life of me figure out where it's com

[2022-11-30 19:39] justinmchase commented on #9407
@hickeyma Beautiful, I misunderstood. That is a completely reasonable request.

[2022-11-30 22:25] apiwoni opened #11584 "Elegant way to skip templating for some files"
Is there a way to skip template rendering engine for some files which is less instrusive than the following options?

1.  Using {{\` \`}} or "{{ printf "{{ *** }}" }}"
2. Using .Files
3. Using [post renderer](https://github.com/thomastaylor312/advanced-helm-demos/tree/master/post-render) or [Helm + Kustomize](https://github.com/argoproj/argocd-example-apps/tree/master/plugins/kustomized-helm)

Opt