[2019-07-19 16:39] atombender commented on #3308
The issue has been [reported in Sprig](https://github.com/Masterminds/sprig/issues/111).

[2019-07-19 16:48] KnicKnic opened #6048 "helm should not urldecode urls"
helm --debug repo add t7 "http://localhost/some%2Fpath/test"
Error: Looks like "http://localhost/some%2Fpath/test" is not a valid chart repository or cannot be reached: Failed to fetch http://localhost/some/path/test/index.yaml : 404 Not Found

notice how  "some%2Fpath" gets translated into "some/path"

This is not expected. It is expected that helm leaves the url alone and that "some%2Fpath" gets

[2019-07-19 18:12] bacongobbler commented on #5654
@karuppiah7890 ping RE: an update on this. I'm currently diving into what's causing the underlying issue but if you have more information to share I'd love to hear about your findings.

[2019-07-19 18:37] YingjunHu commented on #2378
Any luck on this?

[2019-07-19 19:55] pgporada opened #6050 "helm history grpc trying to send message larger than max"
[code]

I need to roll back to a previous deployment, but can no longer find what a working deployment was from the history list due to the grpc error.
[code]

[2019-07-19 20:20] bacongobbler commented on #5654
I was able to reproduce the issue with both the cert-manager and prometheus-operator charts, however, it looks like it's just a short-lived temporary error. It takes some time for the CRDs to register with the API server. It took a few minutes on my test cluster. Once they were established, I could install both cert-manager and prometheus-operator.

For cert-manager, I used the following steps: ht

[2019-07-19 20:27] bacongobbler commented on #6041
Have you checked the issue queue for duplicate issues reporting the same error? Most error reports I've seen have some internal networking issues. https://github.com/helm/helm/issues/5843 https://github.com/helm/helm/issues/4171 for example.

[2019-07-19 20:28] bacongobbler commented on #6041
What happens if you run the following?

[code]

And in another terminal:

[code]

[2019-07-19 20:30] bacongobbler commented on #6042
Seems to work on later versions of Helm. Please upgrade to a more recent version. Thanks.

[code]

[2019-07-19 20:30] #6042 closed

[2019-07-19 20:40] bacongobbler commented on #6043
There appears to be a hidden character in your backend.yaml file. Fix that and your chart should work.

Use this instead:
[charts.zip](https://github.com/helm/helm/files/3412665/charts.zip)

[code]

[2019-07-19 20:40] #6043 closed

[2019-07-19 20:42] bacongobbler commented on #6044
@AndiDog feel free to contribute a fix if you manage to determine the issue.

[2019-07-19 20:43] bacongobbler commented on #6044
cc @ian-howell. Would you mind taking a look into this?

[2019-07-19 20:46] bacongobbler commented on #6050
https://github.com/helm/helm/issues/4865

[2019-07-19 20:47] pgporada commented on #6050
Ah, thanks!

[2019-07-19 20:49] #6050 closed

[2019-07-19 21:08] yhrn commented on #5654
But there's got to be more to it. I couldn't even run helm template with a CR in my chart.

[2019-07-19 21:34] kbirger commented on #4578
I'm aware of this behavior. It's just not always desirable, such as in the case presented above.

I think it has already been proposed, but an annotation that would allow you to assign a rank value to a particular resource might be a nice, flexible solution.

[2019-07-19 21:34] ian-howell commented on #6044
It looks like this happens when there's an instance of `": "` in the important bit of the error message. I'll take a closer look and get a fix in

[2019-07-20 00:03] bacongobbler commented on #5654
`helm template` uses the default APIVersions that are available for a given version of client-go. It doesn't connect to a cluster to determine what APIVersions are available for the chart.

That's the primary reason for https://github.com/helm/helm/pull/6049: it connects to the kubernetes cluster to fetch available GroupVersionKinds (e.g. CRDs registered with the cluster).

[2019-07-20 02:18] 4ydx opened #6051 "Signing Key 6EA5 D759 8529 A53E - Where can I get it?"
6EA5 D759 8529 A53E

I cannot seem to find this key being used to sign releases.

[2019-07-20 02:51] bacongobbler commented on #6051
cc @hickeyma

[2019-07-20 09:00] yhrn commented on #5654
Ok, but `helm install --dry-run` also failed the same way for me with a CR for which the CRD had been installed in the cluster for days. This was roughly two weeks back and I had just downloaded the latest v3 build.

[2019-07-20 10:05] marcinma commented on #3308
Lets start with obvious test:
[code]
Although false is defined it is not used in any case.
At lest helm documentation should describe this behavior until fixed here:
https://github.com/helm/helm/blob/master/docs/chart_template_guide/functions_and_pipelines.md#using-the-default-function

Not sure how this can be fixed yet this bug shouldn't be closed.

[2019-07-20 15:20] rajeshaz203 commented on #6043
Thanks its working now.
What was the hidden character in it and am keen to know how did you figured it out?
I am still figuring out the difference between backend.yaml files(one which i sent you and the one which you sent me back)
I compared the two files and I was not able to find any difference as such.

[2019-07-20 18:05] bacongobbler commented on #6043
Neither was I. `helm template` identified the indentation issue though.

[2019-07-21 08:29] karuppiah7890 commented on #6048
That's a weird URL. But yeah, bug's a bug 😅 I'm working on fixing this

[2019-07-21 09:47] karuppiah7890 commented on #6048
This issue is also present in other versions of helm. I'm fixing it and adding tests for v2.11.0 (for which issue has been raised). I'll also do the same for v2.14.2 and v3

[2019-07-22 00:02] howardjohn opened #6057 "helm lint documentation misleading"
Output of `helm version`:
[code]

`helm lint --help` shows this documentation:
[code]

However, this seems wrong. When I run `helm lint ...`, I get no output. When I run with `helm lint --strict ...` I get error messages.

My expectation is that I get warnings, an that if I enable `--strict` those result in an exit code of 1. But the warnings should always show up!.

Demo with https://github.com/i

[2019-07-22 00:04] howardjohn commented on #6057
Same with v2.14.2

[2019-07-22 10:16] hickeyma commented on #6017
cc @jdolitsky

[2019-07-22 10:18] hickeyma commented on #6057
I think this is related to #5992 and overall issues with linting.

[2019-07-22 10:52] fr34k8 commented on #3622
+1

[2019-07-22 10:55] suszig opened #6058 "Incorrect error message "This command needs 2 arguments: release name, chart path""
HELM version: 2.14.1
Cloud Provider:  AZURE DEVOPS

I have two helm upgrade commands:

this one is failing with error message saying **_"This command needs 2 arguments: release name, chart path"_**
[command]C:\hostedtoolcache\windows\helm\2.14.1\x64\windows-amd64\helm.exe upgrade --namespace ci --install --recreate-pods --reset-values --force --set image.repository=acmedevacr.azurecr.io/build/myac

[2019-07-22 11:07] hickeyma commented on #6058
@suszig Cannot see any obvious difference. Maybe you could check the following:
- Did the release upgrade/install regardless of the error?
- Can you run the failing command with `--dry-run` to see if it provides more details on what is failing?

[2019-07-22 11:11] suszig commented on #6058
I found it - unintentional space :-/
appVersion= 0.4.0

is there a way to output parsed values / parameters to log before running the upgrade ?

[2019-07-22 11:19] hickeyma commented on #6058
Note sure. `--dry-run` is probably your best option and just parse out to log what you want.

[2019-07-22 12:10] #6058 closed

[2019-07-22 15:12] jdolitsky commented on #6017
@mtelewicz I'm not sure where those proxy env vars come into play, it isn't something I believe that Helm recognizes.

What you can do is override the stable URL with the `--stable-repo-url` flag.

I've tested this works with basic auth as well, for example running a chartmuseum on port 8080 with basic auth:
[code]

I can then do:
[code]

I would guess this should work for your proxy URL as well,

[2019-07-22 15:26] matsonkepson commented on #2224
The error message  broad me here

 but actually I found a solution here

In my case gcloud user has to be assigned with Owner privileges in the IAM console

[2019-07-22 15:32] jdolitsky commented on #5752
Hi all, this should essentially be fixed with #6059 . Please reach out directly (slack etc.) if needed

[2019-07-22 15:33] jdolitsky commented on #5752
@muehlburger if you're interested in development on the registry side, let's chat further

[2019-07-22 16:30] karuppiah7890 commented on #6048
@KnicKnic we are fixing this in the `master` branch and it will get released in a patch version like - `v2.14.x` or in minor version `v2.15.0`

[2019-07-22 18:06] lodejard opened #6061 "tiller nil reference with `helm upgrade --install --atomic ...`"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): aks-engine

In a continuous deployment scenario a `stable/prometheus-operator` chart with fairly default values is rolled out with `helm upgrade --install --atomic` switches. There are fairly regular transient failures - but just this morning one of the failures produced a faul

[2019-07-22 18:21] bacongobbler commented on #6061
https://github.com/helm/helm/pull/5395 may be relevant here.

[2019-07-22 18:30] lodejard commented on #6061
Some additional details. On the cluster in question `helm list --all` shows this release is PENDING_ROLLBACK.

[code]

Other deployments like `external-dns` appear to be fine.

[code]

However fetching history of `prometheus-operator` seems to be able to cause the pod to terminate.

this worked
[code]

this failed
[code]

the tiller pod stops suddenly when history without `--max` is requested
[cod

[2019-07-22 19:16] jordansissel opened #6062 "YAML anchor handling changed"
Between Helm v2.12.3 and v2.14.1, YAML anchor handling changed. I don't know the YAML spec, but in Helm v2.12.3, a yaml anchor could appear _after_ an alias and it worked. In Helm 2.14.1, yaml anchors must appear _before_ an alias.

Example:

Template:

[code]

Values file:

[code]

Helm v2.12.3:

[code]

Helm v2.14.1

[code]

If I move the `mydefaults` anchor above any aliases, it works:

[code]

[2019-07-22 19:33] mnsudhan commented on #6036
Are we doing something wrong in our chart due to which helm is still keeping reference to service account in deployment even after rollback? Any help would be appreciated.

[2019-07-22 19:52] bacongobbler commented on #6062
It's possible that a regression made its way into ghodss/yaml. Let us know if you find something.

[2019-07-22 19:56] lodejard commented on #6061
Hi @bacongobbler - thanks for the note but I'm not sure if it's related. I'm beginning to suspect that the tiller pod's memory limit is too low (150Mi) and it is being terminated while executing the history request.

If that's the case - there is still a valid helm client-side bug here. If it gets an err other than not-installed when listing history then shouldn't proceed with the upgrade. It will

[2019-07-22 20:03] joelanford commented on #5827
I haven't had a chance either. I've been on vacation for a few weeks and I'm busy this week. But I should have more time to take a look next week. If it looks straightforward, I'll send up a PR.

[2019-07-22 20:06] lodejard commented on #6061
I see you've added a `question/support` label to this issue. But there is actually a helm client-side bug at https://github.com/helm/helm/blob/master/cmd/helm/upgrade.go#L199 that will let err cases through resulting in a nil `releaseHistory` which will crash later in the function.

[2019-07-22 21:20] tecnobrat commented on #5915
I can confirm we saw this with:

[code]

We changed the docker image from for example:
`service:a`
then:
`service:b`
and then back to:
`service:a`

It never went back to `service:a` and stayed at `service:b`, even tho if I do a `helm get release-name` I get a chart that has `service:a` in it.  the deployment is still showing `service:b`

[2019-07-22 21:24] tecnobrat commented on #5915
We also cannot go to 1.14 yet since we're on AWS EKS which doesn't yet support 1.14.

[2019-07-22 21:54] TonyApuzzo commented on #4670
This issue prevents causes the tutorial here: https://helm.sh/docs/chart_template_guide/#a-first-template to fail.

[code]

[2019-07-22 22:17] tecnobrat commented on #5915
I followed up with the k8s slack and was told that we can run helm 2.14.x on our 1.13 cluster.  I upgraded helm and I was able to repro it.

I went from `a => b => a` and the image never changed from b => a, even tho `helm get` says b.

[2019-07-22 22:55] thomastaylor312 commented on #5915
It very well could be a k8s issue as well @tecnobrat. Thanks for the repro steps and I'll give it a try

[2019-07-23 03:24] joejulian opened #6065 "CRDs and data retention"
I had a user complain that he lost all his records that were associated with a CRD when a release was deleted. We changed his chart and set the `crd-install` hook. Later, this same user complained that he couldn't delete and reinstall the same chart because it failed to create the CRD (it was already there). Deleting the CRD via kubectl was not an option as it would lose all the records associated

[2019-07-23 08:05] hickeyma commented on #5871
From @joejulian in #6065:

I had a user complain that he lost all his records that were associated with a CRD when a release was deleted. We changed his chart and set the crd-install hook. Later, this same user complained that he couldn't delete and reinstall the same chart because it failed to create the CRD (it was already there). Deleting the CRD via kubectl was not an option as it would lose a

[2019-07-23 08:08] hickeyma commented on #6065
This seems like a good discussion point for #5871. We are discussing many use cases in that proposal, so I added your description which have are some great points.

I am going to close this issue as a duplicate. I hope you will jump in with your thoughts in #5871.

[2019-07-23 08:08] #6065 closed

[2019-07-23 09:51] bric3 commented on #3767
Hoping it can help some, I had this kind of setting in some of our legacy app.

[code]

And I want to make the keys tree / object configurable, thanks to @djablonski https://github.com/helm/helm/issues/3767#issuecomment-376769054, I was able to craft the configmap this way :

[code]

Once we fixed the yaml parser of the app, it didn't like the keys to be quoted, we could revert to something more r

[2019-07-23 14:03] #6037 closed

[2019-07-23 14:42] jdolitsky commented on #5999
New repo created: https://github.com/helm/acceptance-testing

[2019-07-23 16:47] ian-howell commented on #6044
So the `text/template` package does some pretty nasty things when it runs into an error while running a function. For example, this template:

[code]

creates the following error:
[code]

That message has a ton of redundancy, but unfortunately no way to parse out the important bits without possibly treading on a user's toes (e.g. parsing on colons).

I've submitted [a Pull Request](https://github.

[2019-07-23 18:19] muehlburger commented on #5752
@jdolitsky sure, what would be the best part to work on? I'd also be happy to contribute on improving tests to get to know the codebase better.

[2019-07-23 18:24] jdolitsky opened #6068 "Helm 3: Registry blob storage to follow OCI Image Layout Spec"
Currently the charts are stored in custom fashion in `${HELM_HOME}/registry`:

[code]

Instead, Helm should adhere to the [OCI Image Layout Specification](https://github.com/opencontainers/image-spec/blob/master/image-layout.md):
[code]

cc @jzelinskie @bacongobbler

[2019-07-23 21:42] bacongobbler commented on #5752
fixed via #6070

[2019-07-23 21:42] #5752 closed

[2019-07-23 22:15] jdolitsky commented on #5752
Thanks @bacongobbler !

@muehlburger - I've reached out via email to discuss further

[2019-07-23 23:13] jsmilani opened #6071 "Repo added with https reverts to http"
I am struggling with a mysterious behavior. I added a private helm repo that requires https but when it comes to running the helm upgrade it seems to revert to http and ultimates gets blocked by our firewall.

    [root@9f0ffe5bdc1d photo-uploader-service]# helm repo add private https://helm.private.ops
    [root@9f0ffe5bdc1d photo-uploader-service]# helm upgrade --debug --timeout 600 --install --

[2019-07-23 23:32] jsmilani commented on #6071
Oh yeah, helm search seems to work:

    [root@9f0ffe5bdc1d photo-uploader-service]# helm search compose
    NAME                 	CHART VERSION	APP VERSION	DESCRIPTION
    private/docker-compose  0.0.55
    stable/docker-compose	0.0.55

Something must be partially working as expected. Is it a bug specific to the upgrade command?

If you are wondering about the 'stable' being the same and private

[2019-07-23 23:55] thavlik commented on #4685
I was following this guide and arrived at the same error output:

https://medium.com/@elijudah/configuring-minimal-rbac-permissions-for-helm-and-tiller-e7d792511d10

Only one of my nodes has tiller running. Not sure how to remedy that from within helm.

Thank you

[2019-07-24 01:22] divyangjp opened #6072 "Helm deploy deletes all deployments if helm server is not up!!"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): Openstack on-prem

I deployed a chart with subcharts earlier. The chart/subchart are built locally and stored on local helm web server.
Today, I forgot to start helm server on my local machine before running `deploy` again.
When I ran `helm deploy`, it just DELETEd the chart an

[2019-07-24 01:59] bacongobbler commented on #6072
`helm deploy` isn't a command available in the core CLI. Is this a plugin?

[2019-07-24 02:07] divyangjp commented on #6072
Yes. It's a plugin from ONAP software. I think this bug might be invalid for helm project.
Will raise with plugin writers.

[2019-07-24 04:56] #6072 closed

[2019-07-24 06:35] xavierzhao commented on #6041
Output of `kubectl -n kube-system port-forward svc/tiller-deploy 44134:44134`

[code]

[2019-07-24 06:43] darmenliu commented on #3447
hi，same issue for me，also with calico.

[2019-07-24 06:44] darmenliu commented on #3447
[storage/driver] 2019/07/24 06:30:48 list: failed to list: Get https://10.96.0.1:443/api/v1/namespaces/kube-system/configmaps?labelSelector=OWNER%3DTILLER: dial tcp 10.96.0.1:443: i/o timeout
[storage] 2019/07/24 06:30:48 listing all releases with filter
[storage/driver] 2019/07/24 06:31:18 list: failed to list: Get https://10.96.0.1:443/api/v1/namespaces/kube-system/configmaps?labelSelector=OWNER

[2019-07-24 08:50] hickeyma commented on #6071
I did a quick check against the OOTB installed `stable` repo which uses HTTPS and it is work as expected.

[code]

Can you try this and see if this works:
`helm install –repo https://helm.private.ops docker-compose`

[2019-07-24 08:53] hickeyma commented on #6041
@xavierzhao Now that you have Tiller/Server running locally from https://github.com/helm/helm/issues/6041#issuecomment-514500631, open another terminal and run Helm command against this local server (as @bacongobbler mentioned in https://github.com/helm/helm/issues/6041#issuecomment-513366911):

[code]

What output do you get from the command?

[2019-07-24 09:29] xavierzhao commented on #6041
@hickeyma It works, thanks for your help!

[code]

[2019-07-24 09:29] #6041 closed

[2019-07-24 10:46] Tobag opened #6073 "--kubeconfig flag is ignored"
Hi,

the --kubeconfig flag is ignored in the helm3 alpha2 release.

Best regards,
Tobi

Output of `helm version`: version.BuildInfo{Version:"v3.0.0-alpha.2", GitCommit:"97e7461e41455e58d89b4d7d192fed5352001d44", GitTreeState:"clean", GoVersion:"go1.12.7"}

[2019-07-24 11:27] hickeyma commented on #6073
This should have been fixed by #6025. @ian-howell could you take a look pls.?

[2019-07-24 11:31] deitmerit commented on #3804
There is a typo in "resurces" in charts/test/values.yaml. If this is really your file's content, that would explain the problem.

[2019-07-24 11:57] RezzakulHaider commented on #6031
We are also facing the same kind of issue.
`helm upgrade --namespace monitoring -f config.yaml central-monitoring stable/prometheus-operator --version 6.1.1 --force  --debug
[debug] Created tunnel using local port: '53905'

[debug] SERVER: "127.0.0.1:53905"

[debug] Fetched stable/prometheus-operator to /Users/xxxx/.helm/v2.14.1/cache/archive/prometheus-operator-6.1.1.tgz

UPGRADE FAILED
Error: ki

[2019-07-24 12:24] fbertola opened #6074 "Tiller should, by default, tolerate any taints as a kube-system service"
Tiller should tolerate any taints on nodes, as other `kube-system` services do. It could be easily accomplished changing the k8s template with these lines:

[code]

I think that applying any special toleration should be an exception and the default case should be as stated.

[2019-07-24 12:49] hickeyma commented on #6074
@fbertola Thanks for raising this. Do you mind providing some practical use cases for this capability in Tiller?

[2019-07-24 13:08] Tobag commented on #6073
I probably should have mentioned that I was using the command
_helm install ... --kubeconfig_

I am not sure if I should have used it with the init command instead.

[2019-07-24 14:05] ian-howell commented on #6073
I'm unable to reproduce. @Tobag could you provide further details?

For reference, here is how I tested this.

Using `~/.kube/config`:
[code]

Using `~/.kube/kind-testing-cluster-config`:
[code]

[2019-07-24 14:18] rubensayshi commented on #1580
@ptagr @anandsinghkunwar it seems `required` always fails in `_helper.tpl` ?

[2019-07-24 14:39] Tobag commented on #6073
Hi @ian-howell ,

I just tried it out again and you are right, the install command is working fine. The upgrade command is the one that is not working correctly:

`

NAME	NAMESPACE	REVISION	UPDATED	STATUS	CHART

NAME	NAMESPACE	REVISION	UPDATED	STATUS	CHART

Release "wordpress" does not exist. Installing it now.

NAME     	NAMESPACE	REVISION	UPDATED                              	STATUS  	CHART
word

[2019-07-24 14:42] vlado-github opened #6075 "helm template won't generate output if that yaml is ignored by .helmignore"
I have a following case where I am trying to generate single yaml file from a template:
[code]
I receive an error message:
[code]
And my .helmignore is set so I don't include this yaml in deployment package:
[code]

However, when I remove templates/artifacts from .hemlignore where this yaml resides, everything works and I receive the output. I expected .helmignore will only ingore those files when

[2019-07-24 15:06] jsmilani commented on #6071
@hickeyma Trying the same thing.

    [root@e56387bedfb8 photo-uploader-service]# helm repo list
    NAME  	URL
    stable	https://helm.private.ops
    local 	http://127.0.0.1:8879/charts
    private https://helm.private.ops

    [root@e56387bedfb8 photo-uploader-service]# helm install docker-compose --repo https://helm.private.ops
    Error: failed to download "http://helm.private.ops/docker-comp

[2019-07-24 15:15] hickeyma commented on #6071
@jsmilani That could be the problem. Would you be able to investigate this?

[2019-07-24 15:22] jsmilani commented on #6071
That was the source of the problem. The index.yml was returning the full URL for each chart/version and they were http instead of https. After updating that to https it started working.

It was obviously a problem on our side. I don't see anything helm could have done better other than call out that the url it was trying was not derived from the repo name but instead pulled from the index.yml. I d

[2019-07-24 15:22] #6071 closed

[2019-07-24 15:37] mattfarina commented on #6015
@technosophos might I suggest the KEYS file be at helm.sh/KEYS and get.helm.sh/KEYS for someone to fetch. Also, the keys themselves should be in a 3rd party system like keybase and the keyserver network

@jkroepke keybase is different from the keyservers. What are your thoughts on keybase?

[2019-07-24 17:22] bacongobbler commented on #6001
slating this for 3.0.0 to evaluate whether or not this behaviour is in line with Helm 2, or if this is a regression that needs to be fixed prior to the final release.

[2019-07-24 21:46] ian-howell commented on #6073
@Tobag So this was a doozy. There was definitely a problem here. These lines here are working on the persistent flags of the root command: https://github.com/helm/helm/blob/dev-v3/cmd/helm/root.go#L118-L122. The problem is that helm passes all of `os.Args` to this `Parse` function, however that particular `FlagSet` only has the flags added during the call to `settings.AddFlags(flags)`. This causes

[2019-07-25 06:16] imohamedibrahim commented on #5986
yes @mattfarina thanks for your explanation.

[2019-07-25 07:30] hickeyma commented on #5986
Closing as issue is resolved.

[2019-07-25 07:30] #5986 closed

[2019-07-25 09:12] andytom opened #6079 "Helm v3 - linting multiple charts depends on the order of the charts"
Output of `helm version`:
[code]

Output of `kubectl version`:

N/A

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

N/A

----
When linting multiple charts using helm3 the order that the charts are passed in matters. The following was done using the, at time of writing, latest commit on the master branch of the charts repo https://github.com/helm/charts/commit/8fb57b472e7a9d5117734566146f272eb

[2019-07-25 09:56] adrian commented on #3296
Is this still a problem? I've been testing with Helm v2.12.3 and Kubernetes v1.15.0 and haven't seen any issues.

[2019-07-25 12:16] hobti01 commented on #2918
@agronholm this issue is fixed in `kubectl` but not in Helm/Tiller which do not use kubectl.

For us the error also still occurs and looks like:
[code]

This happens in any Kubernetes cluster, it is not cloud-provider-specific.

If you run Tiller locally, like we do, then firewall/load balancer timeouts cause an error here https://github.com/helm/helm/blob/master/pkg/kube/client.go#L820-L842

If I

[2019-07-25 12:23] agronholm commented on #2918
Ah, so this needs to be fixed on the Tiller side? Getting that fix into Tiller could be problematic given that Helm 3 will not have a Tiller component.
But thank you for letting me know! :+1:

[2019-07-25 12:32] hobti01 commented on #2918
20/20 hindsight 😨
https://github.com/helm/helm/pull/4734#pullrequestreview-161769635

And it would be great if Helm 3 could be changed before forward-porting this issue:
https://github.com/helm/helm/blob/dev-v3/pkg/kube/client.go#L431

I'm going to boldly invoke @adamreese as he authored the original code 😄

[2019-07-25 13:07] hickeyma commented on #6051
@4ydx Sorry about the delay in getting back to you. I have now updated the release adding the link to where you can get the key.

[2019-07-25 13:07] #6051 closed

[2019-07-25 13:22] mot256 opened #6081 "UTF-8 BOM in a resource template fails deployment"
When installing or upgrading a helm chart with a file that is encoded as UTF-8 BOM (Byte Order Mark) the deployment fails with the following message:
Error: release <name> failed: the server could not find the requested resource

You can find an example chart here: https://www.dropbox.com/s/y9qxzd1m73v6fak/test-bom-0.1.0.tgz?dl=0
Note the service.yaml is encoded in UTF-8 with BOM

A UTF-8 BOM is u

[2019-07-25 13:48] hickeyma commented on #2918
@bacongobbler @adamreese Do you think this should be updated as suggested above using `UntilWithSync` instead of `UntilWithoutRetry`. If so, I can push a PR if you like.

[2019-07-25 14:23] nce commented on #6015
Well in the end we'd like a way to verify the releases. And in some way there is a manual step required in the verification process.

If we get the keys manually from either git, keybase or helm.sh, we don't care. But i'd strongly recommend to put the keys on a public available keyserver, as it would be possible to automate the keysearch via gpg. And then it would be compliant (for us).
With Keys

[2019-07-25 15:01] mattfarina commented on #6075
@vlado-github The `.helmignore` is doing what it is intended to do. It tells Helm what files to ignore.

`helm template` should create the same output for the same input that Helm does with a `helm install` operation.

If you want differences you can set a value in the `values.yaml` file and check for that when rendering a template using an `if` statement.

[2019-07-25 15:54] bacongobbler commented on #5780
closed via #6084

[2019-07-25 15:54] bacongobbler commented on #6001
closed via #6084

[2019-07-25 15:54] #6001 closed

[2019-07-25 16:36] fbertola commented on #6074
Sure! It's common to taint apply taints when the node(s) needs to be reserved for special workloads. This, and given that there is still some confusion between NodeSelectors, Node(Anti)Affinity and Taint and Tolerations, I think this will reduce friction and ensure resiliency.

[2019-07-25 16:57] hickeyma commented on #5907
@mattfarina @bacongobbler I can work on this if it is open to be done?

[2019-07-25 16:59] bacongobbler commented on #5907
Sure!

[2019-07-25 18:32] PaulGobin commented on #3986
I am also running into this issue: Ubuntu
steps:
$ curl -LO https://git.io/get_helm.sh
$ chmod 700 get_helm.sh
$ ./get_helm.sh

helm version:
:~$ helm version
Client: &version.Version{SemVer:"v2.14.2", GitCommit:"a8b13cc5ab6a7dbef0a58f5061bcc7c0c61598e7", GitTreeState:"clean"}
Error: Get http://localhost:8080/api/v1/namespaces/kube-system/pods?labelSelector=app%3Dhelm%2Cname%3Dtiller: dial tcp [::

[2019-07-25 21:55] thomastaylor312 commented on #3296
I am not sure if it is for Helm 2, but it has been completely fixed in the latest Helm 3 alpha

[2019-07-25 22:27] JasonCarter80 commented on #5897
And I have it again, deployed everything worked fine, ran the EXACT same deployment, got the error.

[2019-07-25 22:30] rafagonc commented on #5897
@JasonCarter80 I had to helm delete my chart in the previous versions and install in 2.14, I know sometimes we cannot simply delete in production but it will resolve this issue.

[2019-07-25 22:57] JasonCarter80 commented on #5897
I did that 2 days ago due to a MongoDB subchart and i upgraded to 2.14.2 and still the same.

What i noticed is it didn't start again until my revision count got quite high, so I removed and reinstalled Tiller with MAX_COUNT=10.

Another thing I've noticed is when i do helm history MYCHART, it throws an grpc error that:

But when I delete a few of the helm config maps for my chart, both my history

[2019-07-26 04:01] karuppiah7890 opened #6086 "How do Core maintainers get paid?"
Just curious

[2019-07-26 06:23] surajssd commented on #5465
Here are you saying that template should not hardcode a namespace value or it should not use `namespace: {{ .Release.Namespace }}` value?

We cannot compare barebones kubernetes omitting namespace value and helm omitting namespace value they are slightly different.

- When you want to define namespace value in kubernetes configs they are hardcoded, they cannot be parameterized, which is not the ca

[2019-07-26 07:34] ebcFlagman opened #6087 "Schema-Registry JAAS config not set"
Output of `helm version`:
Client: &version.Version{SemVer:"v2.13.1", GitCommit:"618447cbf203d147601b4b9bd7f8c37a5d39fbb4", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.13.1", GitCommit:"618447cbf203d147601b4b9bd7f8c37a5d39fbb4", GitTreeState:"clean"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.0", GitCommit:"e8462b5b5dc2584fdcd18

[2019-07-26 07:44] hickeyma commented on #6074
@fbertola Would you like to push a PR for this?

[2019-07-26 08:21] hickeyma commented on #6086
@karuppiah7890 Generally Contributors (which also include core maintainers) are either paid by the company they are employed by to contribute to a community or contribute in their own spare time.

I think a question like this could be asked in one of the Helm channels. It is not an issue.

[2019-07-26 08:21] #6086 closed

[2019-07-26 08:54] AnitaNayak opened #6088 "helm v2.12.3 return `.Release.IsUpgrade` false for `helm rollback` operation"
helm v2.12.3 return `.Release.IsUpgrade` false for `helm rollback` operation.
As per doc `.Release.IsUpgrade` should return true for both `helm upgrade/rollback` operations.
Its returning true for `helm upgrade` operation. But returns false for rollback.

[code]
Cloud Provider/Platform (ICP):
Is there any other environment value or any other factor that affects this helm property?

[2019-07-26 09:05] karuppiah7890 commented on #6086
Ah. My bad. I'll put up questions in the channel! Thanks!

On Fri, Jul 26, 2019, 1:52 PM Martin Hickey <notifications@github.com>
wrote:

[2019-07-26 09:14] hickeyma commented on #6086
@karuppiah7890 No need for putting in the channel as well, as the question is answered. I meant in future questions can be just asked in the Slack channels.

[2019-07-26 09:20] hd-rk opened #6089 "Helm 3: "helm repo add" only uses HTTP getter to download repository index"
In Helm 3, `helm repo add` does not use the correct `getter.Getter` provided by helm plugins to retrieve the `index.yaml` file.

For example, https://github.com/hayorov/helm-gcs works with Helm 2 but fails in Helm 3 with the following error:

[code]

Output of `helm version`:
[code]
Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): Not relevant

[2019-07-26 09:26] artbegolli commented on #6013
Picking this up if it isn't done yet.

[2019-07-26 09:33] hickeyma commented on #6013
@artbegolli AFIK, @prashantyadla is working on this.

[2019-07-26 09:41] artbegolli commented on #6013
Any update @prashantyadla?

[2019-07-26 10:13] hickeyma commented on #5304
This issue was brought to my attention by an Istio community member. I have unfortunately been unable to get more concrete details on the use case.

[2019-07-26 10:56] cc-stjm commented on #5184
This is supposed to be in 2.14.2 - but I can't get it to work.

I'm following a very similar example to that at the top of the issue - the only difference I can see is that I'm trying to delete a value set in a subchart (in my case, logstash).

I have tried:
- setting logstash.livenessProbe.httpGet to `null`, `~` and `{}` in the main chart's values.yaml, or on the command line. In both cases, "hel

[2019-07-26 11:21] luisdavim commented on #2013
any updates on this?

[2019-07-26 12:27] prashantyadla commented on #6013
@artbegolli You can take it up. I'm not working on it anymore.

[2019-07-26 13:14] bacongobbler commented on #5184
The patch was cherry-picked into 2.14.2 according to the release notes so it should be available.

[2019-07-26 13:18] hickeyma commented on #6088
@AnitaNayak You seem to be using a non community version of Helm. Could you try it with latest version of Helm and see if the issue still occurs?

[2019-07-26 13:25] hd-rk commented on #6089
Closed by #6090

[2019-07-26 13:25] #6089 closed

[2019-07-26 14:24] mattfarina commented on #6015
Here's an outline of tasks that need to be accomplished:

- [ ] Create a KEYS file
- [ ] Put the KEYS file in get.helm.sh alongside downloads
- [ ] Have everyone who has signed a release put their public keys in the KEYS file and in the keyserver network
- [ ] In the maintainers guide document how to add a key to the KEYS file and put the key in the keyserver network
- [ ] Document, for consumers,

[2019-07-26 14:54] mumoshu commented on #5853
At least on K8s 1.15.0, `converter.ConvertToVersion(info.Object, groupVersioner)` which is the body of `asVersioned` doesn't return an error or an "unstructured" object, but `apiextensions/v1beta1.CustomResourceDefinition`.

I've submitted #6092 that fixes the issue by handling that.

[2019-07-26 16:01] mattfarina opened #6094 "helm repo add fails for custom home"
Running `helm --home ./deleteme repo add incubator https://kubernetes-charts-incubator.storage.googleapis.com/` results in the error:

[code]

But, when running this command without a `--home` being set it works just fine.

Output of `helm version`:
[code]

The commit is e8ddb526bf0d7c12b8176896530ea31408074d7f

Output of `kubectl version`:

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

[2019-07-26 16:10] hickeyma commented on #6094
@mattfarina Would this be related to #6089 by any chance?

[2019-07-26 16:12] hickeyma commented on #6094
Nvm. Sorry now see the commit in the description.

[2019-07-26 16:33] timothydowney commented on #4965
I'm seeing same when doing something like this:

[code]

I'm basically try to deal with a situation using common templates where I take sections of the values and push them to the top level to pass into the templates.  What is odd is that it stopped working only after using it multiple times when rendering an overall chart (i.e. i used it to build the StatefulSet and a Service, but now it blows up

[2019-07-26 19:07] ericabr commented on #5797
I can replicate with an earlier version of helm. `v2.12.3`

[2019-07-26 21:00] beravelli opened #6099 "helm3 install not working in "amd64" but works well in "darwin""
helm install not working in "amd64" but works well in "darwin", while helm search <chart> gives me the output fine in both platforms. Not sure if it is a platform specific issue.

Output of `helm version`:
helm version: v3.0.0-alpha.2+g97e7461

Output of `kubectl version`:

kubectl version: Client Version: v1.13.5

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
Native Kubernetes Cluster

[2019-07-26 21:17] bacongobbler commented on #6099
Hi @beravelli. Can you provide the error output? What kind of behaviour are you observing?

[2019-07-26 21:23] beravelli commented on #6099
Hi,

while the helm search get me the release versions... and when I issue the same install command on the mac it works, but not in amd64.

Install command used:
helm install --version "0.1.0"  "<chartname>"

Error I get in amd64:

Error: failed to download "<chartname>"

[2019-07-26 21:48] beravelli commented on #6099
So, I ran it debug and it gives me the below error...

printer.go:84: [debug] Original chart version: "0.1.0"
Error: scheme "local" not supported
helm.go:76: [debug] scheme "local" not supported
helm.sh/helm/pkg/getter.Providers.ByScheme
	/go/src/helm.sh/helm/pkg/getter/getter.go:117
helm.sh/helm/pkg/downloader.(*ChartDownloader).DownloadTo
	/go/src/helm.sh/helm/pkg/downloader/chart_downloader.go:

[2019-07-27 02:03] hd-rk commented on #6094
Confirm this happens in `v3.0.0-alpha.2` too

[code]

[2019-07-27 04:03] infolock commented on #4685
`helm init` (without any additional options) was the ticket for me which installed/setup tiller.  all is well after that.

[2019-07-27 07:33] hd-rk commented on #6094
One more thing, `--home` works fine if the path is absolute.
Does Helm support relative paths for `--home`?

[2019-07-27 09:53] bacongobbler commented on #6099
I'm confused. You are providing helm a chart with no name, so the expected output of `helm install --version 0.1.0 ""` should be 'failed to download ""'.

Please provide a full end-to-end example of what you are attempting to do, and what is the expected output. Thanks.

[2019-07-27 12:09] beravelli commented on #6099
I will reopen it post analysis. Thanks for your time.

[2019-07-27 12:09] #6099 closed

[2019-07-27 12:33] TheNotary commented on #5897
I'm experiencing this bug as well.  I just rolled out 2.14 for my org to use, in the hopes I would have more bug fixes than bugs, but apparently I got unlucky this time.  Is anyone able to re-open this issue @rafagonc perhaps?

[2019-07-27 14:30] nwsparks opened #6101 "helm v3a2 helm template --replace fails with cannot re-use a name that is still in use"
Output of `helm version`:

`version.BuildInfo{Version:"v3.0.0-alpha.2", GitCommit:"97e7461e41455e58d89b4d7d192fed5352001d44", GitTreeState:"clean", GoVersion:"go1.12.7"}`

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):  `eks`

Attempts to render templates for a helm chart that is already installed fail with `Error: cannot re-use a name that is still in use`

[2019-07-27 18:41] vinnytheviking opened #6102 "Upgrade times out waiting for condition."
Output of `helm version`: v2.14.2

Output of `kubectl version`: v1.13.5

Cloud Provider/Platform : AKS

I'm trying in deploy my helm chart using azure devops ci-cd. The initial install is successfull but every subsequent deployments fail with

[code]
My k8s cluster uses istio and because of that any namespace has to have a label istio-injection=enabled

As suggested I created a Job that labels the

[2019-07-27 19:53] vinnytheviking commented on #6102
On first run I can see this in the tiller log

deleting pre-install hook label-ns for release 0.1.88 due to "hook-succeeded" policy

[2019-07-27 20:04] vinnytheviking commented on #6102
On my upgrade release it looks like it's timing out because it can't find label-ns job, because it's already deleted. it looks like it goes into a loop because the hook failed

[code]

[2019-07-28 07:31] Aisuko commented on #6057
I hit this issue on the helm v3 which I make a build from source code.

[2019-07-28 20:27] bacongobbler commented on #5654
If you can provide steps to demonstrate the issues you're experiencing, I can look into it this week. Otherwise I think this issue can be closed.

[2019-07-29 03:29] hangyan commented on #5994
https://github.com/alauda/captain

I have upload the codes and add some intro docs,  it's welcome you guys can give some thoughts about it

@mattfarina how can add this project to this page https://helm.sh/docs/related/ ?

[2019-07-29 04:11] bacongobbler commented on #5994
Make a PR against https://github.com/helm/helm/blob/master/docs/related.md

[2019-07-29 04:12] hangyan commented on #5994
@bacongobbler Ok, thanks very much

[2019-07-29 04:13] bacongobbler commented on #5994
@hangyan just noticed this was a helm 3 related project. Please check my edit above^

[2019-07-29 04:14] hangyan commented on #5994
@bacongobbler OK, thanks

[2019-07-29 05:39] #5994 closed

[2019-07-29 07:03] xh4n3 opened #6103 "Feature Request: Pass username and password to plugin"
Output of `helm version`:
[code]

Currently helm does not pass username and password to plugins, only certFile, keyFile, caFile are passed.
See https://github.com/helm/helm/blob/master/pkg/getter/plugingetter.go#L67

I'm thinking about adding it. I can adding more args here, or I can pass username and password via environment variables in https://github.com/helm/helm/blob/master/pkg/getter/pluging

[2019-07-29 07:29] manikantabandaru commented on #3493
I am also facing same issue , is there any way to resolve the issue? what things i need to check inorder to debug the helm chart ?

[2019-07-29 09:19] yhrn commented on #5654
Sorry, but it seems like I got things confused somehow because now it seems to behave like you say - `helm install` (with or without `--dry-run`) works if the CRD is installed but `helm template` fails.

With alpha 2 `helm template --validate` succeeds though thanks to #6049 but I find it unexpected that `helm template` without `--validate` still fails. In my opinion the expected behavior would be

[2019-07-29 10:36] hickeyma commented on #6103
@xh4n3 Can you push a PR and we can seen then when reviewing.

[2019-07-29 14:06] jglick commented on #2706
No, #2708 only covers the first item, not

[2019-07-29 14:28] junneyang opened #6104 "does helm support nested variable reference?"
i have 2 enviroment(dev/test):

values.yaml:
   `
envType: dev

envs_dev:
    PARAMS_AAA: "123456_dev"
    PARAMS_BBB: "654321_dev"

envs_test:
    PARAMS_AAA: "123456_test"
    PARAMS_BBB: "654321_test"
`

deployement.yaml:
`
        env:
         {{- range $key, $value := .Values.envs_{{ ..Values.envType }} }}
         - name: {{ $key }}
           value: {{ $value | quote }}
         {{- end }}

[2019-07-29 15:17] bacongobbler commented on #6104
Yes, this is a fairly common pattern. I'd suggest looking at the helm/charts repository to determine best practices here. :)

[2019-07-29 15:20] bacongobbler commented on #5654
Feel free to suggest a PR that registers unknown API types with the Kube client. As far as I know that's not possible. I would be happy to be proven wrong.

Closing!

[2019-07-29 15:20] #5654 closed

[2019-07-29 16:14] ragarcia26 commented on #4456
Do you mean a helm chart containing resources/subcharts that need to be applied to different namespaces? ultimately we ended up breaking the charts apart to avoid different ns's

[2019-07-29 16:29] hickeyma commented on #5907
Here are the tasks required:

- [ ] Update scaffold chart to be "v2"
- [ ] Update linting to handle new dependencies and annotations
- [ ] Update documentation to specify "v2" as default version and "v1" for specific scenarios

[2019-07-29 17:47] #5853 closed

[2019-07-29 17:50] thomastaylor312 commented on #5853
We just merged @mumoshu's fix and will be cutting 2.14.3 with this release soon. Thanks to everyone who helped dig into the issue

[2019-07-29 18:32] hickeyma opened #6107 "Style conformance broken"
The style conformance is broken which means tests will not run in a dev environment.

[code]

[2019-07-29 18:34] vinnytheviking commented on #6102
I managed to resolve the issues by ensuring that my ci-cd pipeline uses a consistent name for the Release. for example (namespace name)

this resolved my issues

[2019-07-29 18:34] #6102 closed

[2019-07-29 19:36] hickeyma commented on #6107
PR #6108 now merged

[2019-07-29 19:36] #6107 closed

[2019-07-29 21:03] thomastaylor312 commented on #6044
Resolved in #6066

[2019-07-29 21:03] #6044 closed

[2019-07-29 21:18] ian-howell commented on #6101
This problem extends to `helm install` as well.

[2019-07-29 21:41] trash-anger opened #6109 "Bug with the `--output` flag"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
[code]
----------------
Hi,

There's a bug when using the --output flag.
[code]

This is quite bothering for script automation :
[code]

[2019-07-30 01:56] mumoshu commented on #5853
@thomastaylor312 Thanks a lot for your quick response!

Also big kudos to @karuppiah7890 for sharing the detailed research on current code-base and what was going on under the hood. It took only a little time thanks to your awesome work 🙏

[2019-07-30 04:08] xh4n3 commented on #6103
@hickeyma Sure！
Please see https://github.com/helm/helm/pull/6110

[2019-07-30 10:58] junneyang commented on #6104
![image](https://user-images.githubusercontent.com/6802322/62124020-cbf6df00-b2fb-11e9-8c76-4c860b345f13.png)
@bacongobbler
thanks, but i mean if i can ref {{ ..Values.envType }} in {{- range ?
this is netsted reference.

thanks for your help

[2019-07-30 11:06] SeMeKh opened #6112 "`--set` is ignored when `--reuse-values` is used during helm3 upgrade"
Issuing a `helm3 upgrade --reuse-values --set "someKey=someValue"` command does not update the `someKey` value as expected.

Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): N/A

[2019-07-30 11:22] InsOpDe opened #6113 "helm v3.0.0-alpha.2 doesnt support lack of trailing slash in repo url"
Output of `helm version`:
`version.BuildInfo{Version:"v3.0.0-alpha.2", GitCommit:"97e7461e41455e58d89b4d7d192fed5352001d44", GitTreeState:"clean", GoVersion:"go1.12.7"}`

In former versions like `v2.14.2` the missing trailing slash  was supported when executing following command:
`helm fetch tekton --repo https://storage.googleapis.com/chartmuseum.jenkins-x.io`

Now with helm3 I get following erro

[2019-07-30 12:16] cc-stjm commented on #5184
In which case, I'm not sure this bug is fixed - should it be re-opened or a new issue created? Can someone else have a look at the chart I attached to the above and see if they see different?

[2019-07-30 12:41] PeterIttner commented on #6081
Another error message that could occur is:

[code]

Tiller-Version: 2.9.1

Somehow the tiller cannot deal with the BOM and interchanges namespace, resource etc.

[2019-07-30 13:05] caarlos0 commented on #5853
awesome, thanks everyone!

[2019-07-30 13:10] marckhouzam commented on #3170
The completion of releases names has been done in #5562 for v2 (but I don't think it has made it to a release yet) and #5829 for v3.

Still more dynamic completions can be added, such as charts, as suggested in this issue.

[2019-07-30 13:19] marckhouzam opened #6115 "Tests for helm completion"
Unless I'm wrong, there is currently no way to test command-line completion for helm.

Although completion is handled quasi-automatically by Cobra, there is code residing in the Helm project directly.  It has happened that completion was broken for helm such as #5072 #5406 .  And there are feature requests as well as bug reports in the completion area such as #3693 #3170 #3171 .  As more completio

[2019-07-30 13:34] DanGolding commented on #2321
Try

[code]

[2019-07-30 13:55] karuppiah7890 commented on #6113
I think it's more of required feature than a nice feature. We'll surely fix this. Will raise a PR for this

[2019-07-30 14:37] dimitarKiryakov opened #6116 "Helm template throws stack overflow error"
**Describe the bug**
We have the following example values.yaml file for helm chart:
[code]
If I want to pass them through `helm template  --set` command stack overflow error is thrown.

Helm command:
[code]
Error thrown:

[code]

It can be tested with any chart. This error does not depend on the chart itself.
The issue is not reproducible if parameters are separated by commas in one --set paramete

[2019-07-30 15:31] bacongobbler commented on #6113
Perhaps we need to port over https://github.com/helm/helm/pull/4956.

[2019-07-30 15:36] bacongobbler commented on #6104
You may want to use the `index` function for that. Usage instructions can be found in the [text/template documentation](https://golang.org/pkg/text/template/#hdr-Functions), and you can find examples in the [helm/charts repo](https://github.com/helm/charts/blob/595f51dda8d6cfee73aff5da3dbe9c7258995f3b/stable/anchore-engine/templates/enterprise_ui_config.yaml#L23).

[2019-07-30 15:36] #6104 closed

[2019-07-30 16:01] bacongobbler commented on #6109
I don't see this output. Those logs look like tiller may be running in the background.

[code]

Notice how the same log output is displayed in tiller's logs:

[code]

Closing as this is a local setup issue. Thanks.

[2019-07-30 16:01] #6109 closed

[2019-07-30 18:20] marckhouzam commented on #3171
This can be closed.
Cobra has been updated a couple of time since this was a problem.
I believe this was fixed when #4913 was merged.
It is part of Helm 2.12 if I'm not mistaken.

[2019-07-30 18:32] #3171 closed

[2019-07-30 18:35] bacongobbler commented on #6113
fixed via #6121.

[2019-07-30 18:35] #6113 closed

[2019-07-30 22:38] PsyonixBarrett opened #6123 "Helm upgrade fails with ManagedCerts from networking.gke.io/v1beta1"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):  `GKE`

---

### The Issue

* When installing a chart which contains a manifest template for a [ManagedCertificate for a Google Load balancer on GKE](https://cloud.google.com/kubernetes-engine/docs/how-to/managed-certs), everything works perfectly.
* If I attempt to run `helm u

[2019-07-30 23:23] bacongobbler commented on #3805
Whew! @thomastaylor312 and I think we've landed upon a solution. #6124 implements a three-way merge patch strategy for Helm 3. We've tested it at this point and have found that upgrades and rollbacks now take the live state into consideration. For example, if an environment variable is changed via `kubectl edit` after the initial release and you call `helm rollback` or `helm upgrade` to reset the

[2019-07-30 23:27] yashs-dev opened #6125 "Bad error message from helm upgrade force when chart is invalid."
Adding --force switch in helm upgrade command results in bad error message.

**With --force switch:**
$values | helm upgrade my-release .\Helm\my-release --install **--force** --values - --wait
Error: UPGRADE FAILED: a released named my-release is in use, cannot re-use a name that is still in use

**After removing --force switch:**
$values | helm upgrade my-release .\Helm\my-release --install --va

[2019-07-30 23:28] bacongobbler commented on #1873
I believe the issues laid out in this ticket may be resolved once #6124 is merged. #6124 takes live state into consideration during an upgrade or a rollback, which should solve many of the issues raised in this thread.

If I'm missing any cases, please let me know. Thanks! :)

[2019-07-30 23:29] bacongobbler commented on #1873
@nickdgriffin I think that's a separate issue altogether than the ones laid out earlier in this thread. Would you mind opening a separate ticket for that and we can label it correctly? Seems like a usage/documentation question more than a bug

[2019-07-30 23:33] yashs-dev opened #6126 "Install switch does not work without force switch with helm upgrade command."
Install switch does not work without force switch with helm upgrade command, when release doesn't exist.

**Without --force switch, upgrade fails to install:**
$values | helm upgrade my-release .\Helm\my-release --install --values - --wait
Error: UPGRADE FAILED: "my-release" has no deployed releases

**With --force switch, upgrade installs successfully:**
$values | helm upgrade my-release .\Helm\m

[2019-07-31 07:20] nce opened #6127 "Bad GPG Signature on current 2.14.3 stable Release"
Thanks for signing the Releases.
With the current stable Release we have problems verifying the signature.

[code]
The Key is showing the correct fingerprint, so i suspect the signing process went somewhere wrong. We are verifying signatures/helm-v2.14.3-linux-amd64.tar.gz.asc:
[code]

Can you reproduce the issue?

[2019-07-31 08:41] sboardwell commented on #3805
@bacongobbler - fantastic news! Great work, and I can understand the need for a brain break 😄.

Re: rollback / upgrade to reset.
Would you need to rollback to a previous version, or upgrade to a new version? Or would a reset type action be possible by executing a "pseudo-rollback/upgrade" using the current version?

[2019-07-31 09:36] acondrat commented on #3362
+1 for this feature!
Many other projects have that. A good example is Terraform - https://www.terraform.io/docs/modules/sources.html#generic-git-repository
This would also facilitate forking instead of copy-pasting code into your local repo when the upstream chart needs to be adjusted.

[2019-07-31 10:56] enver commented on #3910
Still issue with v2.14.1.
I'm running pre-install hook and when I specify `"helm.sh/hook-delete-policy": "hook-succeeded"` pod is created and immediately terminated (without running hook task)

[2019-07-31 13:02] KaLyanRv opened #6128 "Unable to --set timeZone using helm"
Unable to set timezone using helm.

--set timeZone=Europe/Stockholm (Doesn't work)

Is it possible to override the timezone of all containers from UTC to CET/Europe/Stockholm

helm version :
Client: &version.Version{SemVer:"v2.12.2", GitCommit:"7d2b0c73d734f6586ed222a567c5d103fed435be", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.12.2", GitCommit:"40665d0724368cb0581288773844b61bdf92

[2019-07-31 13:36] rnkhouse opened #6130 "Release "prometheus-operator" failed: rpc error: code = Canceled"
**Describe the bug**
When I try to install prometheus operator on AKS with `helm install stable/prometheus-operator --name prometheus-operator -f prometheus-operator-values.yaml` I am getting this error:

I checked with history:

    helm history prometheus-operator -o yaml
    - chart: prometheus-operator-6.3.0
      description: 'Release "prometheus-operator" failed: rpc error: code = Canceled d

[2019-07-31 13:41] KaLyanRv opened #6131 "Unable to --set timeZone using helm"
Unable to set timezone using helm. [BUG]

--set timeZone=Europe/Stockholm (Doesn't work)

I tried adding this parameter explicitly in the helm chart and it didn't work.

Is it possible to override the timezone of all containers from UTC to CET/Europe/Stockholm

helm version :
Client: &version.Version{SemVer:"v2.12.2", GitCommit:"7d2b0c73d734f6586ed222a567c5d103fed435be", GitTreeState:"clean"}
Serv

[2019-07-31 14:05] bacongobbler commented on #6131
Closing in favour of #6128.

[2019-07-31 14:05] #6131 closed

[2019-07-31 14:09] bacongobbler commented on #3805
Either/or. The value just needs to be something different than what's in the live state.

We've tested the following. All three role back to its intended state:

- rolling back to an older release
- rolling back to the current release (i.e. `helm uograde`, `kubectl edit`, then `helm rolback`)
- calling `helm upgrade`

[2019-07-31 15:43] nickdgriffin commented on #1873
@bacongobbler : I agree, I think it's the same case - I'll post over there, thanks!

[2019-07-31 15:45] nickdgriffin commented on #4045
I think the same case occurs when it comes to Deployment resources though and failures caused by their ReplicaSets, for example:

1. Helm installs a chart successfully, everything is fine and it gets marked as "DEPLOYED" - the Deployment has maxUnavailable set to 50%
1. An upgrade is carried out which makes changes to both the Deployment to set maxUnavailable to 25% and the Pod template with a new

[2019-07-31 16:34] fifoome opened #6132 "Upgrading with third party crd"
I have a chart that contains certificates from cert-manager. `helm install` works fine and the certificates are getting installed.
However `helm upgrade` will fail with this error message:
[code]

Any ideas that could help me?

Thanks.

Note:
- `oc apply` and `kubectl apply` won't fail.

Output of `helm version`:
[code]
Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Miniku

[2019-07-31 16:49] karuppiah7890 commented on #6112
I'm able to reproduce the issue with this chart and setup:

1. Get this - [issue-6112-chart.zip](https://github.com/helm/helm/files/3452983/issue-6112-chart.zip)

[code]

helm version:
[code]

kubectl version:
[code]

Me and @nandhae will try to fix this bug and raise a PR 😄

[2019-07-31 16:59] bacongobbler commented on #6132
duplicate of https://github.com/helm/helm/issues/6123

[2019-07-31 16:59] #6132 closed

[2019-07-31 18:19] bacongobbler commented on #5907
Additional TODO:

- [ ] Helm 2 should fail to load a chart with an `apiVersion` field of anything other than `v1` or the empty string (Helm 2 doesn't validate the `apiVersion` field, so those charts are assumed to be compiled against `apiVersion` v1

[2019-07-31 18:24] bacongobbler commented on #6068
Hye @jdolitsky where are we with this?

[2019-07-31 18:33] jzelinskie commented on #6068
IIRC @stevvooe mentioned that there is a library in containerd that abstracts this away. I have no idea if it'll work alongside your XDG_HOME/CONFIG PR, though.

[2019-07-31 18:33] bacongobbler commented on #6127
Thanks. Currently looking into my local setup to see where I goofed up.

[2019-07-31 18:43] bacongobbler commented on #6068
upstream ticket: https://github.com/deislabs/oras/issues/107

[2019-07-31 18:44] bacongobbler commented on #6068
Thanks for the heads up @jzelinskie! I'll do some digging in containerd and see what comes up.

[2019-07-31 19:04] bacongobbler commented on #6112
closed via #6134

[2019-07-31 19:04] #6112 closed

[2019-07-31 19:07] gabordk commented on #3308
@tw0517tw Did you found any solution to this?

[2019-07-31 19:26] bansalrajat commented on #1055
how do i change the starting point of the range  so to start from a custom index .
like i want to run the loop from 50 -100 rather than 0-100.

[2019-07-31 20:54] jdolitsky commented on #6068
Hi, hoping to have this land upstream in ORAS early next week.

On Wed, Jul 31, 2019 at 1:44 PM Matthew Fisher <notifications@github.com>
wrote:

[2019-07-31 23:30] aeijdenberg commented on #5184
@cc-stjm @bacongobbler - I am able to reproduce the issue, and I think this test demonstrates it:

[code]

The problem, so far as I can tell, is that `CoalesceValues()` results in more than one call to the underlying function that coaleces the values:
https://github.com/helm/helm/blob/e04fa72f6f211cae68c362f9b7c62f06dc51493e/pkg/chartutil/values.go#L164-L180

ie line 173 above is called with the `

[2019-08-01 00:43] tonyg4864 commented on #3186
@cgebe but this overrides the app name not the release name. Do you know how to override the release name of a sub chart ?

[2019-08-01 01:50] joelanford commented on #5827
@bacongobbler It looks like #6008 solves the problem by introducing a constructor that sets `rawValues` directly. That solves the original problem, but not in a way that decouples the SDK and CLI.

I think I prefer the approach you described (where `MergeValues` returns a `map[string]interface{}`), but I think that would mean removing `rawValues` from the `ValuesOptions` struct, which would also m

[2019-08-01 04:35] tw0517tw commented on #3308
@gabordk No I didn't find any.

[2019-08-01 05:31] bacongobbler commented on #5827
as long as functionality remains the same, SGTM! This is the opportunity to make breaking changes to the API. :)

[2019-08-01 08:12] hickeyma commented on #5907
Thanks @bacongobbler for the heads up in https://github.com/helm/helm/issues/5907#issuecomment-516963275. I have added it to the task list in https://github.com/helm/helm/issues/5907#issuecomment-516063552.

[2019-08-01 12:51] smoyer64 opened #6137 "The sha512 for the 2.14.3 release don't match the linked file"
This appears to be the same issue as #5787 and #5777 but for the latest release.  For the AMD64 build, the displayed checksum is ``9f50e69cf5cfa7268b28686728ad0227507a169e52bf59c99ada872ddd9679f0`` while the contents of the file are ``38614a665859c0f01c9c1d84fa9a5027364f936814d1e47839b05327e400bf55``.

[2019-08-01 12:55] woodcockjosh commented on #4796
This would be awesome. Having separate types of configuration files for environment variables just for kubernetes is really broken. I don't think k8s team will support this anytime soon but it can be done much more appropriately with helm without many big changes to the k8s core.

[2019-08-01 13:28] jarvisuser90 commented on #1455
I'm getting the exact error too

[2019-08-01 13:29] anusreePrakash commented on #6116
I am able to reproduce this issue using these steps:

[code]

helm client version
[code]

I am working on a PR to fix this issue

[2019-08-01 14:17] aaronmell opened #6140 "EOF when loading the same chart concurrently"
We have a bunch of microservices that use the same helm chart. We are using the terraform provider for helm, which deploys all of our microservices concurrently. We randomly see EOF errors returning from the provider. I've traced the issue into the LoadFile function inside the chartutil by adding logging to the terraform provider.

Failed to load chart from path /var/lib/jenkins/.helm/cache/archiv

[2019-08-01 14:42] karuppiah7890 commented on #6140
I have actually run into this too in our pipeline. Never thought of submitting the issue. Triggering pipeline solved the problem. There was one more regarding some "pipe broken" issue. I assumed it was some port forward issue or something and again pipeline retrigger solved it.

I think I should start checking all such issues and submit it.

Regarding this issue, I'll try to find a proper way to r

[2019-08-01 14:43] karuppiah7890 commented on #6140
I have actually run into this too in our pipeline. Never thought of submitting the issue. Triggering pipeline solved the problem. There was one more regarding some "pipe broken" issue. I assumed it was some port forward issue or something and again pipeline retrigger solved it.

I think I should start checking all such issues and submit it.

Regarding this issue, I'll try to find a proper way to r

[2019-08-01 14:55] jarvisuser90 commented on #2463
I'm having exactly the same problem. Any solution?

When I do the following request:
`GET https://192.168.0.10:6443/api/v1/namespaces/kube-system/pods/tiller-deploy-59988697b6-j47w7/portforward`

I get the following response:

[code]

which ultimately results in my original command ` kubectl -n kube-system port-forward $(kubectl -n kube-system get pod -l app=helm -o jsonpath='{.items[0].metadata.n

[2019-08-01 15:20] jdolitsky opened #6141 "Helm 3: OCI - Move metadata to manifest annotations, expand layers"
Currently, charts stored in a registry are divided into the following 2 layers:

- `application/vnd.cncf.helm.chart.meta.layer.v1+json`
-  `application/vnd.cncf.helm.chart.content.layer.v1+tar`

Ideally, metadata should be stored on the manifest config as annotations. Additionally, the charts layers should be a collections of the components that compose a chart, for example:

- README.md -> `appli

[2019-08-01 15:36] bacongobbler commented on #6137
the linked shasums have been removed. Addressing #6127 now so the shasums available on Azure blob storage are properly verified with the correct key.

[2019-08-01 15:36] #6137 closed

[2019-08-01 15:52] bwillusibmcom commented on #5825
Has there been any update on this issue?

I am seeing the following problem.

I use the reproducing repo listed above, but I have 2 versions:
version1 only has the pre-install hook defined (no pre-rollback hook)
version2 has both hooks defined.

If I helm install version1, then upgrade to version2, and then rollback to version1, I don't seen the pre-rollback hook being created.

If I do the opposi

[2019-08-01 16:01] bacongobbler commented on #6127
Okay, this should work now. Verified using the following steps:

[code]

Let me know if you see further issues. Apologies for the goof. Thanks!

[2019-08-01 16:01] #6127 closed

[2019-08-01 16:29] smoyer64 commented on #6137
Thanks ... that may save someone else a step (or mis-step).  I'm updated to the latest but appreciate that you publish the checksums in the release notes (it's much easier to copy/paste than to download/open/copy/paste).

[2019-08-01 18:55] sgillespie commented on #5184
In fact, I just upgraded 2.14.0 => 2.14.2. Not only does the `null`ed key still exist, but it also contains the previous value. The previous behavior just made it null, so I believe this has actually regressed.

[2019-08-01 19:00] bacongobbler commented on #5184
@aeijdenberg can you please look into @sgillespie's inquiry? If there's a regression, then we need to back that PR out unless you can determine a fix.

[2019-08-01 19:32] mattfarina commented on #6141
I said this in the meeting today but wanted to get it on the ticket.

How we break things up impacts signing and provenance. We should still support signing. Right now the the tar is what is signed and hashed. If things are broken up it impacts how and what is signed.

[2019-08-01 19:39] mattfarina opened #6144 "Proposal: Helm v2 support plan once v3 is released"
In the Helm developer call we discussed the Helm v2 support plan once v3 is released. Given the time table we are looking at there are migration issues for uses due to the holiday shopping season and tax season. We want to try to take that into account.

With that in mind here is the proposal once Helm v3.0.0 is released:

* Helm v2 is supported for bugs for the next 6 months. All new features wil

[2019-08-02 02:18] reasonerjt commented on #6141
Josh, thanks for engaging me in this topic.

I totally agree moving metadata of a chart to `config`, I slightly prefer putting it in a json and package into a layer, rather than putting the data in annotations.  Such that it may contain more complicated structures.

I don't have a strong opinion in regards to whether the different components of a chart should go to different layers.  What're the b

[2019-08-02 03:11] wu105 commented on #5430
I have a similar problem with helm v2.14.1: deployed prometheus, then upgraded to the same version with one additional --set, which resulted in a different deployment manifest among other changes.  The desired change is reported by the 'helm get' command, but k8s still use the old definition.  There was no 'kubectl edit' on any related resources.

Here is the new deployment reported by helm, with

[2019-08-02 05:49] karuppiah7890 commented on #6144
Some questions I have is
1. There are so many issues being reported for v2, and many old issues still remain, will they be completely closed after an year?

2. What's the plan to communicate this with the community ? Since this is big. Many people use helm v2, some very very old minor versions of v2. They need to know it won't be supported after one year, meaning no bug fixes including security is

[2019-08-02 07:09] bacongobbler commented on #6144
If they're relevant for Helm 2 (i.e. gRPC proto errors), then probably yes. If they're relevant for Helm 3 then they should stay open. Others may have opinions here but I believe that once support has been dropped for Helm 2, we should prune the issue queue.

We will be sharing more communication about Helm 3 in the coming weeks, though any major communications about dropping support for Helm 2 sh

[2019-08-02 07:43] aeijdenberg commented on #5184
@bacongobbler , while I haven't explictly tested 2.14.0, what @sgillespie matches the behaviour I referred to in <https://github.com/helm/helm/issues/5184#issuecomment-517059748>. Sadly I think it's a case of the unit tests passing, but the end to end failing - as the individual components are being used in series, which makes removing a key in an earlier stage makes it have no effect in later sta

[2019-08-02 08:28] ivanilves opened #6148 "Exit with non-zero error code from template code"
Hi guys,

_I know probably it's wrong and it should not be done inside Helm chart, but ..._

**Can I trigger a non-zero exit inside helm template?**

Something like this:
[code]

Thank you!!!

[2019-08-02 09:26] zakkg3 opened #6149 "Pre-delete hook does not wait and start deleting things straight away."
Related with #2777 there is no doc on how to delete resources created in pre-install hooks.
resources that are no tracked with helm.

I am trying to delete those by running a pre-delete hook with
[code]
Using the api https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.10/#delete-209

As documented, pre-delete:` Executes on a deletion request before any resources are deleted from Kuber

[2019-08-02 10:44] dhineshbabuelango opened #6150 "Helm without internet"
I am trying to use helm in AWS eks but all the document says to use the below command to install tiller

helm init --service-account tiller

The above command is downloading the package from Internet but in our prod environment we don’t have Internet, I can download the image and put this in ecr but where will u mention the ecr image path as the above command is not an yaml file also is it recomme

[2019-08-02 12:14] mattfarina commented on #6015
While the consumer docs and scripting to help still need to be written, the foundational pieces are in place. The KEYS are now available at https://get.helm.sh/KEYS and changes are tracked in the Helm git repo.

If anyone wants to start using this stuff now, even before the docs and the rest are in place feel free. If you encounter any issues please let us know.

[2019-08-02 12:21] mattfarina commented on #6150
@dhineshbabuelango You can use the `--tiller-image` flag on init to set an alternate location to pull the image from. You can use this to set it to your location in ecr. Will that work?

[2019-08-02 12:25] mattfarina opened #6151 "Document charts v2 specification"
Helm has been following specification by implementation with the charts v1 spec. With the charts v2 spec we should write a specification so that more than one tool can interact with charts by simply following the specification.

This was born out of #6117 where there is a conversation on handling requirements. Right now v2 charts handle requirements the v1 way and the v2 way. None of this is docum

[2019-08-02 13:18] dhineshbabuelango commented on #6150
@mattfarina thanks for your reply, this will work for us, I can give a try in this. But if there is any update in the tiller image, can we run the same tiller command specifying the new image name ?

[2019-08-02 13:18] ivanilvescmp commented on #6148
Found it http://masterminds.github.io/sprig/flow_control.html 😄

[2019-08-02 13:19] ivanilves commented on #6148
Found it: http://masterminds.github.io/sprig/flow_control.html 😄

[2019-08-02 13:19] #6148 closed

[2019-08-02 14:28] jdolitsky commented on #6141
@reasonerjt thanks for yourinput. I think I need clarification by what you mean -

Do you mean expand the contents of the config object vs. annotations visible on manifest? For example:

[code]

resulting manifest (notice size=613 vs. size=3):
[code]

This would work fine as well. Is one method easier for a registry to reason over on the backend? cc @SteveLasker @sajayantony

If each piece of the

[2019-08-02 14:32] hickeyma commented on #6150
@dhineshbabuelango yes but add the `--upgrade` flag.

[2019-08-02 14:41] tyranron commented on #6126
Facing the same issue with Helm version:
[code]

[2019-08-02 15:08] AndrewLvov opened #6153 "Helm eating away newlines when using `--set-file` and deploying to container"
There is a strange issue with Helm eating away newlines when the file is being imported into variable and then used in volumes to be stored as a file on container being deployed.
Please check repo: https://github.com/AndrewLvov/test-newlines
It has a full reproducible chart and a description.

In short - if you import a file's content via `--set-file` and then put into container as a file using `v

[2019-08-02 15:13] hickeyma opened #6154 "Proposal: Migrate Helm v2 releases in-place to v3"
# 1. Overview

Helm v3 introduces quite a lot of change in the underlying architecture and plumbing from the previous release, Helm v2. One key change is around Release storage. The changes includes the Kubernetes resource for storage and the release object metadata contained in the resource. Releases will also be on a per user namespace instead of using the the Tiller namespace (for example, v2 d

[2019-08-02 15:19] dhineshbabuelango commented on #6150
Thanks mattfarina for your help

[2019-08-02 15:20] hickeyma commented on #5892
Proposal for migrating Helm v2 releases in-place to v3: https://github.com/helm/helm/issues/6154

[2019-08-02 15:24] #6150 closed

[2019-08-02 15:27] hickeyma commented on #5398
Closing this as it is covered by #5892

[2019-08-02 15:27] #5398 closed

[2019-08-02 15:51] dosentmatter commented on #2192
If anybody is wondering, this seems to work as of helm and tiller `v2.14.2`.

[code]

[2019-08-02 16:01] mattfarina opened #6155 "Support index.json in addition to index.yaml in repositories"
`index.yaml` files that grow large in size can use significant resources to parse. Some time ago I produced some benchmarks at https://github.com/mattfarina/yamlbench. This project was originally showcased by some at jFrog at the first helm summit.

As a feature addition, we could add an `index.json` file alongside the YAML file. JSON uses significantly fewer resources when being parsed. For older

[2019-08-02 16:09] bacongobbler commented on #6155
SGTM. This definitely sounds like a feature addition where we could fallback to the original request.

[2019-08-02 16:10] hickeyma commented on #6154
First shot at this folks. Appreciate your comments.

/cc @adamreese @bacongobbler @mattfarina @michelleN @prydonius @SlickNik @technosophos @thomastaylor312 @jdolitsky @henrynash @rimusz

[2019-08-02 16:16] bacongobbler commented on #6154
+1 to writing this as a standalone project.

Re-using [related backup and restore tools](https://helm.sh/docs/related/#related-projects-and-documentation) like [helm-backup](https://github.com/maorfr/helm-backup) and [helm-restore](https://github.com/maorfr/helm-restore) would be useful here as it would cut down on development time significantly. You could probably re-use helm-backup as-is and jus

[2019-08-02 16:18] thomastaylor312 commented on #6154
I am not entirely sure on what these three points in section 3.2 are referring to:

Isn't the goal of the tool to _not_ modify the current state of the Kubernetes resources as stated in section 3? Just want to make sure it is clear for those reading it

As far as I know, `--install` does still work from my testing with v3. However, could you clarify how this relates to building this tool?

Otherwi

[2019-08-02 16:36] rimusz commented on #6154
+1 to reuse tools like `helm-backup` and `helm-restore` and it should only do the releases history migration not touching underlying kubernetes resources.

[2019-08-02 16:55] hickeyma commented on #6154
re https://github.com/helm/helm/issues/6154#issuecomment-517760517 Thanks @bacongobbler for "heads up" about tools from @maorfr. I will take a lot and it and go for re-use where possible.

[2019-08-02 17:03] karuppiah7890 commented on #6155
I would love to give this a try! Are there any special requirements other than what's mentioned above?

In terms of code, I'm thinking - I'll check every place where index yaml file is used/parsed, and try to add support for json too if json file is present, or fallback to yaml. Write index.json related tests in all places which has tests regarding `index.yaml` files

[2019-08-02 17:11] hickeyma commented on #6154
@thomastaylor312 When doing PoC, I used the [upgrade function](https://github.com/helm/helm/blob/dev-v3/pkg/action/upgrade.go#L69) to add the mapped v2 releases to v3. This function also adds the underlying Kubernetes resources. Do we have a function that just add the release only or do we need to update this function with a flag? Same applies for the v2 [delete function](https://github.com/helm/h

[2019-08-02 17:14] thomastaylor312 commented on #6154
@hickeyma if you use the `helm.sh/helm/pkg/storage` package, it allows you to just save the release without the rest of the process of installing

[2019-08-02 17:15] maorfr commented on #6154
I would love to help on this effort!
@hickeyma feel free to involve me :)

[2019-08-02 17:15] bacongobbler commented on #6154
Yep. `pkg/storage` is where you want to look. https://github.com/helm/helm/blob/d360705c83ab1d8de6408c16e8334d384c7a3721/pkg/storage/storage.go#L50-L52

[2019-08-02 17:16] hickeyma commented on #6154
Deadly, thanks @thomastaylor312. Gotta love PoCing,  nearly always taking the long road!

[2019-08-02 17:16] hickeyma commented on #6154
Sure @maorfr, thanks. Let me get it kicked off first.

[2019-08-02 19:12] robmcelvenny commented on #3480
I can confirm `export HELM_TLS_HOSTNAME=<tiller-deployment-name>` works sufficiently, I didn't get the broken pipe error. :)

[2019-08-02 23:17] smartpcr opened #6157 "helm corrupted on mac"
I am having the following error when run `helm init`, is there a easy way to fix it? I have tried reinstall helm via `brew` and cleared `./heml/` directory. thanks!

[code]

[2019-08-02 23:32] bacongobbler commented on #6157
Do you have `$TILLER_NAMESPACE` set in your environment somehow? Check the output of `env` and see if anything interesting shows up.

[2019-08-02 23:34] bacongobbler commented on #6157
If that is indeed the namespace you want to install Tiller into, run `kubectl create namespace 8998b851784e4e7162bbfba59a87a890` first before running `helm init`.

[2019-08-02 23:36] bacongobbler commented on #6126
Usually that means all releases deployed in your cluster are in a failing state. What's the output of `helm history`?

[2019-08-02 23:37] bacongobbler commented on #6125
Let us know if you can determine what causes this error. I haven't the foggiest.

[2019-08-03 02:37] smartpcr commented on #6157
thanks, unset env fixed the problem.

[2019-08-03 02:37] #6157 closed

[2019-08-03 09:29] cforce commented on #3480
Dp you mean the name of the pod, like "tiller-deploy-d8cbf88b8-dcvjk".
But that changes on each deployment, how should i set this fixed?

[2019-08-03 12:45] fredleger commented on #3684
Just for reference here in case you are landing to this issue, the documented way is working . as long as you are using `template` as mentioned by @bacongobbler :

[code]

[2019-08-03 15:31] towolf commented on #5861
@bacongobbler

Gitlab works too! I've successfully tried it, the only problem is the UI.

I've opened this issues for that:
https://gitlab.com/gitlab-org/gitlab-ce/issues/65559

[2019-08-03 17:17] sajayantony commented on #6141
From an OCI perspective - these decisions are upto the owners of the respective artifacts. For e.g. Singularity prefers the file to be a single verifiable file and uses the registry( the distribution project) as way for their runtime to acquire the image from.
So again no specific concern either way. - The only thing that make is easier is that the `config.mediaType` indicating the main artifact m

[2019-08-03 22:27] jdolitsky commented on #6141
@sajayantony thanks, and any take on metadata? (annotations vs. part of the
config json)

On Sat, Aug 3, 2019 at 12:17 PM Sajay Antony <notifications@github.com>
wrote:

[2019-08-04 01:56] longility opened #6159 "after helm install expecting to show in helm list"
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.):  AKS

I'm new to helm, and I decided to go straight to v3 alpha.

I did the following:
1. `helm install ingress-nginx stable/nginx-ingress -n ingress-nginx --set rbac.create=true`, which resulted in the installation of the nginx ingress controller. Tested and it is working.
2. `h

[2019-08-04 02:26] karuppiah7890 commented on #6159
@longility I think you probably missed the namespace name. According to your `helm install` command, you have installed in `ingress-nginx` namespace. Could you try `helm list -n ingress-nginx` ?

[2019-08-04 02:39] karuppiah7890 commented on #6153
@AndrewLvov thanks for helping reproduce the issue. I'm able to see the bug too in helm version -
[code]

[2019-08-04 03:17] longility commented on #6159
@karuppiah7890 Perfect! Thank you so much. That was it. This leads me to probably using `helm list --all-namespaces` for convenience.

[2019-08-04 03:17] #6159 closed

[2019-08-04 11:15] zakkg3 commented on #6149
@bacongobbler i think this is a bug not a question/support. Whats the point on executing previous to delete any resources but not wait to ensure this condition could be exploited?

[2019-08-04 11:27] ygnr opened #6160 "Helm Upgrade fails: watch closed before UntilWithoutRetry timeout"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):  `AKS`

Helm upgrade fails with the following error on `post-install` job. It is a long-running job (around 50 min). Everything works well if the job finishes within 30 min. I have set timeout flag to 2 hours though.

[code]

[2019-08-05 06:07] sajayantony commented on #6141
@steveLasker has the last update from the OCI call. Distribution OSS implementation and Spec should be the driving factor here. Annotation are lose but can always be promoted to the config. Annotations AFAIK are comments in a structured form and hence doesn't yield itself to things like schema validations which is what config with a mime-type can give. So my vote would be for config enhancements p

[2019-08-05 08:05] jc5201 opened #6161 "render error with (tpl .Files.Glob().AsConfig .)"
I have problem rendering configuration file using tpl function.

Here is 3 files I'm dealing with.

[code]
[code]
[code]

when I install this chart, I get this error
[code]

I guess this error comes from '\n' in {{ ... }} block.
But I don't know why '\n' is generated and this should not change result.

I can place some space in conf/env.sh and supress error, but I don't want to do these meaningles

[2019-08-05 11:34] knoxi opened #6162 "error creating Image Pull Secrets"
I get an error when I'm try to create Image Pull Secrets from [tips & tricks](https://github.com/helm/helm/blob/master/docs/charts_tips_and_tricks.md#creating-image-pull-secrets).

Executing the helper template in tips & tricks
[code]
results in following error:
`Error: render error in "imagePullSecret.yaml": template: imagePullSecret.yaml:2:62: executing "imagePullSecret" at <.Values.imageCredent

[2019-08-05 12:07] yarinm commented on #2798
you can also use printf for that:

`{{ printf "{{ some value }}" }}`

[2019-08-05 12:18] Tobag opened #6163 "helm3: deleted in release info has strange default"
I just did a `helm install wordpress stable/wordpress` with helm3-alpha2.
Then I looked at the release secret `k get secret wordpress.v1 -o jsonpath="{.data.release}" | base64 -D | base64 -D | gzip -d | jq`

`
{
  "name": "wordpress",
  "info": {
    "first_deployed": "2019-08-05T13:52:08.317608+02:00",
    "last_deployed": "2019-08-05T13:52:08.317608+02:00",
    "deleted": "0001-01-01T00:00:00Z",

[2019-08-05 12:45] mattfarina opened #6164 "Chore: Move the KEYS and sync script to the dev-v3 branch"
Relates to  #6015

[2019-08-05 13:21] Zebradil commented on #5979
I spend some time to find a workaround for this, so, this might be useful for someone:

[code]

Inside the nested template the global context of the parent template is accessible as usual through dot, the `range` variables are accessible like `.key`, `.value`.

[2019-08-05 14:21] Sylordis commented on #4390
Little bump on this issue.

[code]

I just created a `mother-chart` and a `child-chart` (with `helm create <...>`) that I put in `mother-chart/charts/`.
[code]

My `requirements.yaml`:
[code]

Is this possible to put without repository? Because I do not have any and I'm not getting two children, only the normal one without alias.

[2019-08-05 14:28] zakkg3 commented on #6149
Any feedback here?

[2019-08-05 16:59] karuppiah7890 commented on #6140
@aaronmell After quite some thinking and checking cases when this error occurred, you are right that this occurs only when loading same chart concurrently. We have faced similar issues too. On digging further, I found that the chart is downloaded if it's not present. Now when the download happens, if another helm command is run concurrently, and if it finds that the helm chart tar ball is present

[2019-08-05 17:05] karuppiah7890 commented on #6140
I also wrote a test to validate this in this file

https://github.com/helm/helm/blob/master/pkg/chartutil/load_test.go

[code]

It's only a simulation of the above speculation. If I'm missing anything, or you think there's a different issue here, let me know 👍

[2019-08-05 21:15] nullck commented on #3053
try to use these annotations:
[code]

reference:  https://medium.com/nuvo-group-tech/move-your-certs-to-helm-4f5f61338aca

[2019-08-05 22:15] aaronmell commented on #6140
That seems reasonable.

[2019-08-05 23:16] benbuzbee opened #6165 "Helm seems to apply custom resource before CRD"
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
Amazon EKS

The following mini-repro creates a CRD for Kind=Test2 and then creates an object of type Kind=Test2. When executed in the correct order, the YAML is valid. However, when applied with helm, it appears as if the object is created before the CRD which defines it

The fo

[2019-08-06 00:47] ento commented on #5766
@bacongobbler From what I can tell, #5654, which has been closed, is about the same issue as this. Do you want to close this one as well?

For anyone watching or stumbled upon this issue: adding the `--validate` flag to `helm template` is the workaround for now. More details in the other issue

[2019-08-06 02:10] archelangelo commented on #6165
I'm not sure if helm installs resources according to a particular order. But just to be safe, you might want to use a `crd-install` [hook](https://github.com/helm/helm/blob/master/docs/charts_hooks.md#the-available-hooks). This ensures the CRD definitions be applied prior to its resources.

[2019-08-06 02:16] benbuzbee commented on #6165
Good pointer archelangelo.
Order is supposed to be guaranteed here https://github.com/helm/helm/blob/9ad53aac42165a5fadc6c87be0dea6b115f93090/pkg/tiller/kind_sorter.go#L133

and an unknown resource kind should be ordered last, which makes this repro seem like a bug unless I am missing something.

Although it does appear crd-install hooks are meant to solve this problem, I am surprised they would b

[2019-08-06 02:29] archelangelo commented on #6165
Ah! That's interesting. I didn't know this, though it makes perfect sense. I worked with CRD installation in helm couple weeks ago and clearly remember this kind of error are thrown pretty frequently (not to mention `helm delete --purge` doesn't remove CRDs). The only cause I can think of then is that the CRDs won't be ready right after being applied?

[2019-08-06 03:21] bclouser commented on #1413
Even just a check that lets a user know sooner would be nice. Something at the beginning of a `helm install` that prompts with something like: "Hey there, this won't work because your chart is over 1MB, and if you continue you will have to remove this deployment manually (which is a gigantic pain), are you sure you want to continue?"

[2019-08-06 03:23] bclouser commented on #4574
adding .git into my .helmignore fixed this for me. My git history was 3.4MB :grimacing:

[2019-08-06 05:54] bacongobbler commented on #5766
Yeah, after looking more closely at OP's and the follow-up commenter's issues, I think they're bumping into the same issues laid out and demonstrated in #5654. I think this can be closed as a duplicate, so I'll do that now. If, however, there's a use case I missed that this issue raises, please do let me know and we can re-open to discuss further. Thanks!

[2019-08-06 05:54] #5766 closed

[2019-08-06 07:05] waveywaves commented on #6079
Hello Team ! I would like to start working on this bug.
Anything to keep in mind before I get started ?

[2019-08-06 07:23] reasonerjt commented on #6141
@jdolitsky

Yes.

[2019-08-06 09:24] karuppiah7890 commented on #6079
@waveywaves you can start off and comment here if you have any questions while implementing 😊

[2019-08-06 12:04] girishramnani commented on #5584
https://github.com/helm/helm/pull/5614 was merged, I think this issue should be closed now

[2019-08-06 12:47] hickeyma commented on #5584
Thanks @girishramnani for reminding me. Closing as #5614 closed.

[2019-08-06 12:47] #5584 closed

[2019-08-06 16:07] bacongobbler commented on #4491
closed via #5443

[2019-08-06 16:07] #4491 closed

[2019-08-06 17:47] thomastaylor312 commented on #5853
Hey all! Could any of you who were having this issue see if it occurs with the latest dev-v3 code? I was working on porting @mumoshu's fix and I couldn't duplicate the bug now that Helm 3 uses a 3 way merge strategy. Just want to double check and make sure I am not missing anything!

[2019-08-06 17:57] bacongobbler commented on #3805
closed via #6124.

[2019-08-06 17:57] #3805 closed

[2019-08-06 17:57] bacongobbler commented on #1873
closed via #6124

[2019-08-06 17:57] #1873 closed

[2019-08-06 19:12] caarlos0 commented on #5853
I just tested with the latest released version and it works fine... can't test master right now :(

[2019-08-06 19:33] thomastaylor312 commented on #5853
@caarlos0 Sorry! I wasn't very clear. I meant the latest Helm 3 version (which is the dev-v3 branch). I am making sure we don't re-break people when Helm 3 comes out

[2019-08-06 19:42] winromulus commented on #3186
@tonyg4864 If you change the name of the subchart as @cgebe mentioned, you don't have conflicts. You cannot override the release name since that is your umbrella release. So if you have mysql1 and mysql2, both will be under "some-release" release (which is basically your umbrella).

[2019-08-06 20:04] woodcockjosh commented on #4697
yo! still broken? so broken :-(

[2019-08-06 20:55] waveywaves commented on #6079
Cool @karuppiah7890 Thanks for that :)

[2019-08-06 21:14] monotek commented on #4697
Try helm 2.14.3. They had some crd fixes...

[2019-08-06 21:16] woodcockjosh commented on #4697
Yeah just saw it. All the chart owners still have to re-add the CRD's to main helm charts. Epic fail. https://github.com/helm/helm/releases/tag/v2.14.3

[2019-08-06 21:37] hickeyma commented on #6154
First draft of the [plugin](https://github.com/hickeyma/helm-2to3) . Look forward to the feedback.

**Note: It is still WIP and requires lot more testing. I just thought it was worth getting it out there to get some reviews on it.**

[2019-08-07 00:06] benbuzbee commented on #6165
Im closing this because I think the issues are pretty well covered by #4697
Really this whole situation seems pretty messy. Will continue there.

[2019-08-07 00:06] #6165 closed

[2019-08-07 00:11] arundeepkurni commented on #4910
any update on this??

[2019-08-07 00:11] benbuzbee commented on #4697
It seems @mortent has a very good grasp on the issues here, but the upshot seems to be it is impossible to add a CRD to a chart along with a CR that consumes it without breaking the upgrade path.

What is the recommendation? How can users upgrade a chart that has added a CRD/CR? Do they have no choice but to delete and re-install? That path breaks sane rolling-updates.

[2019-08-07 00:14] woodcockjosh commented on #4697
Upgrades should obviously ignore CRD's

[2019-08-07 01:11] nicholasrobertm opened #6169 "Question: Passing values.yaml in a packaged chart"
Hi there!

I was wondering if when using helm package to package a version of the chart (let's call this example.tgz) if you could pass a values file that's in that package to helm install. The install looks similar too:

`helm upgrade --install example https://path_to_chart.com/example.tgz`

Right now, but ideally I'd like to be able to have the values file contained in that chart (which is insid

[2019-08-07 05:51] ChaosCodes opened #6170 "tiller could not be ready in minikube"
Output of `helm version`:
Client: &version.Version{SemVer:"v2.14.3", GitCommit:"0e7f3b6637f7af8fcfddb3d2941fcc7cbebb0085", GitTreeState:"clean"}
Error: could not find a ready tiller pod

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"11+", GitVersion:"v1.11.9-dispatcher", GitCommit:"e3f5193e8f1091a162af7e17a781e6a3129bcfd0", GitTreeState:"clean", BuildDate:"2019-03-28T

[2019-08-07 06:49] bacongobbler commented on #6170
Can you show the output of `kubectl -n describe pod tiller-deploy-548fd5dc4f-n8ntf`? It should tell you why the image is failing to pull.

[2019-08-07 06:51] bacongobbler commented on #6169
dupe of https://github.com/helm/helm/issues/4782

[2019-08-07 06:51] #6169 closed

[2019-08-07 06:52] bacongobbler commented on #6160
dupe of #2918?

[2019-08-07 06:54] maorfr commented on #6154
@hickeyma glad you found the [plugin-utils](https://github.com/maorfr/helm-plugin-utils) useful! ;)

[2019-08-07 08:26] hickeyma commented on #5853
@thomastaylor312 Is there a correlation between this issue and #4697?

[2019-08-07 08:40] hickeyma commented on #6154
Nice work @maorfr. It helped simplify the implementation a lot. Let me know what you think and how we can improve it.

[2019-08-07 09:21] rimusz commented on #6154
@hickeyma
Regarding the `Delete the v2 release versions as Secrets or ConfigMaps` we should have an extra flag to keep the v2 release or vice versa to delete v2 release.
As well when all v2 releases are converted to v3, we can just delete all releases configmaps/secrets in tiller namespace.

[2019-08-07 09:46] hickeyma commented on #6154
@rimusz Good suggestion. How about a flag like `--keep-v2-releases` which is false by default? Should the delete all releases be part of the plugin or documentation on how to?

[2019-08-07 09:54] rimusz commented on #6154
+1 for the flag `--keep-v2-releases` and we should document that very clearly that by default v2 releases get deleted if that flag is not used.
I do not see a point for the delete all releases be part of the plugin, we should just document that option with good examples.

[2019-08-07 10:04] hickeyma commented on #5653
Closing as implemented in #5560.

[2019-08-07 10:04] #5653 closed

[2019-08-07 10:13] IronCore864 commented on #2947
Still exists, client/server v2.14.2, even with upgrade --install --force, can't make it work. In my case it's a configmap.

[2019-08-07 10:54] hickeyma commented on #6073
So, from testing this . it seems to be an issues when the install flag `-i` is used with an `upgrade`. Here is some output from my testing:

[code]

[2019-08-07 11:04] woodcockjosh commented on #4697
@benbuzbee what I mean is that CRDs that already exist should just be ignored on updates. Helm should be able to determine whether or not a CRD exists. Any new CRDs should obviously be added.

[2019-08-07 11:14] hickeyma commented on #6073
Closing as #6076 now merged.

[2019-08-07 11:14] #6073 closed

[2019-08-07 12:47] fredgate commented on #3173
helm (version 2.14.3) does not seem to wait that a deployment with one replica be ready.
The condition seems suspect :
[code]
With one replica, and a default maximum unavailability of 25% down rounded (i.e. one), the condition is always true, so helm does not wait for this deployment. There should be at least one replica that is ready.

[2019-08-07 13:13] hickeyma opened #6172 "Helm upgrade with install flag output is not same as upgrade or install output"
Output from `helm upgrade` with install flag `-i` is very terse one sentence output when it is doing an install. It does not mirror the output for an upgrade or an install.

Output of `helm version`:
$ helm version
version.BuildInfo{Version:"v3.0+unreleased", GitCommit:"6bf5ef83c6f37bf12a59c108a094a8f3f93c83e1", GitTreeState:"clean", GoVersion:"go1.12.7"}

[code]

[2019-08-07 13:36] ChaosCodes commented on #6170
kubectl describe pod tiller-deploy-548fd5dc4f-n8ntf
Error from server (NotFound): pods "tiller-deploy-548fd5dc4f-n8ntf" not found

~ kubectl get pods
No resources found.

it seems that it can not find the pod

[2019-08-07 14:19] bacongobbler commented on #6170
Okay. Please check the output of `kubectk get` again and use `kubectl describe` on the tiller pod currently available please.

[2019-08-07 14:31] ChaosCodes commented on #6170
$ kubectl get

You must specify the type of resource to get. Use "kubectl api-resources" for a complete list of supported resources.

error: Required resource not specified.
Use "kubectl explain <resource>" for a detailed description of that resource (e.g. kubectl explain pods).
See 'kubectl get -h' for help and examples.

$ kubectl api-resources
NAME                              SHORTNAMES   APIG

[2019-08-07 14:35] bacongobbler commented on #6170
I meant `kubectl get pods --namespace kube-system`. I want you to figure out the name of the tiller pod and to run `kubectl -n describe pod <name of pod>` against it.

[2019-08-07 14:46] ChaosCodes commented on #6170
Sorry, but it's weird that I get the name of the tiller pod but it still can not find it. Here are my outout below.

➜ ~ kubectl get pods --namespace kube-system
NAME                               READY     STATUS              RESTARTS   AGE
coredns-6967fb4995-g4tnq           1/1       Running             0          32h
coredns-6967fb4995-g8qjr           1/1       Running             0          32

[2019-08-07 14:49] bacongobbler commented on #6170
That's because the namespace is missing. Sorry. Use `kubectl -n kube-system describe pod tiller-deploy-548fd5dc4f-n8ntf`.

[2019-08-07 14:57] ChaosCodes commented on #6170
oho, I get the error message, I seems that I fail to pulling the image

➜  ~ kubectl -n kube-system describe pod tiller-deploy-548fd5dc4f-n8ntf
Name:               tiller-deploy-548fd5dc4f-n8ntf
Namespace:          kube-system
Priority:           0
PriorityClassName:  <none>
Node:               minikube/10.0.2.15
Start Time:         Wed, 07 Aug 2019 13:20:39 +0800
Labels:             app=helm

[2019-08-07 15:09] bacongobbler commented on #6170
Are you in a region where gcr.io is blocked? For example we've heard reports from people in China that gcr.io is unavailable behind the firewall.

[2019-08-07 15:33] benbuzbee commented on #4697
I interpreted what @mortent said as "crd-install is required for charts that also install the custom-resource that requires the crd"

And also "crd-install is ignored on upgrades"
Seems to be true, crd-install is run here, before pre-install hooks
https://github.com/helm/helm/blob/2b7221b5b721035b91691a90be3910a11e6df022/pkg/tiller/release_install.go#L168

But not here, during upgrade
https://gith

[2019-08-07 15:43] ChaosCodes commented on #6170
Yeah, the gcr.io is blocked. But I can access part of the Internet outside through my VPN. Do you have any idea about that.

[2019-08-07 15:52] thomastaylor312 commented on #5853
@hickeyma I don't think so. That is more about ordering

[2019-08-07 16:10] thomastaylor312 commented on #3173
@fredgate It looks like it works just fine with Helm 3 right now, I haven't had chance to look at it for Helm 2. Would you mind opening an issue with the steps you used to reproduce?

[2019-08-07 16:24] morsok opened #6174 "Helm V3 alpha 2 Segmentation fault"
Hello,

Been using alpha 1 for some time, tried V2 with our standard workflow (we were already using the --wait flag so we wanted to see the difference with alpha2).

Sadly first deployment was installing and then panic :

[code]

What information would you need to help you debug that ?

[2019-08-07 16:52] bacongobbler commented on #6174
`--wait` did not work in alpha.1 which is probably why you didn't see any stack traces.

cc @thomastaylor312

[2019-08-07 17:00] thomastaylor312 commented on #6174
Thanks for reporting this @morsok! Anyway you could provide me the chart you were using that caused this panic to occur?

[2019-08-07 17:04] morsok commented on #6174
This is a custom chart for a symfony app that has rabbitmq-ha / redis-ha /
postgresql (master slave replication) / mailhog and mercure from the stable
repository.

Ping me tomorrow on slack and I'll send you the full chart,nothing fancy
the custom part is a deployment with some hook for database fixtures and
migrations.

Le mer. 7 août 2019 à 19:01, Taylor Thomas <notifications@github.com> a
écrit

[2019-08-07 17:49] thomastaylor312 commented on #6174
@morsok I actually think I was able to figure it out just from the stack trace. Can you please give #6175 a try and see if it fixes the issue for you?

[2019-08-07 18:57] jdolitsky commented on #5757
Note: this issue is actually due to nested directories under `templates/` and nothing to due with dependencies

[2019-08-07 18:58] jdolitsky commented on #5757
Upon removing the `wordpress/templates/tests/`, everything works as expected and mariadb chart .tgz is present on export

[2019-08-07 19:27] bacongobbler commented on #5757
@jdolitsky are you planning to PR a fix this week? If you want to ship a fix for the beta, you're more than welcome to, but if you're not planning on PR'ing a fix I'd like to de-prioritize this and move it to the 3.0.0 milestone. Bugfixes shouldn't hold up the beta release; those can be fixed during the beta release cycle. :)

[2019-08-07 20:07] jdolitsky commented on #5757
@bacongobbler I'm planning to, but we shall see where I get (I'm not sure how involved it might be). If it appears to be too much, I'll switch the milestone asap.

Maybe related to this TODO from 2016? https://github.com/helm/helm/blob/dev-v3/pkg/chartutil/save.go#L205

[2019-08-07 20:31] jdolitsky commented on #5757
may have figured it out...

[2019-08-07 21:44] woodcockjosh commented on #4910
Need this

[2019-08-08 05:38] subravi92 commented on #4020
Hi Tamama, could u pls let me know the solution. I am facing the same issue. Helm version is v2.14.2

[2019-08-08 06:00] tamama commented on #4020
That was ages ago... :(

This did the trick for me last time...
helm init --service-account default
helm list

[2019-08-08 06:11] ChaosCodes commented on #6170
I found a mirror to help me get the image. Thanks for telling me the reason.
And there is my solution:

$ docker pull gcr.azk8s.cn/kubernetes-helm/tiller:v2.14.3

Now it works.

[2019-08-08 06:11] #6170 closed

[2019-08-08 08:19] morsok commented on #6174
Sadly when testing with the dev branch (helm.sh/helm/internal/version.gitCommit=ad9c0c440b9f0bd84548ba82c35a9ec7958cdab8) all I got was :

[code]

[2019-08-08 10:02] guysports opened #6178 "Tiller docker image v2.14.3 has vulnerability CVE-2019-14697"
The rootfs/Dockerfile is based from `alpine:3.10` and has currently built image `gcr.io/kubernetes-helm/tiller:v2.14.3`

We have detected the following vulnerability in the image

CVE-2019-14697

musl libc through 1.1.23 has an x87 floating-point stack adjustment imbalance, related to the math/i386/ directory. In some cases, use of this library could introduce out-of-bounds writes that are not pre

[2019-08-08 10:29] tretos53 opened #6179 "Endpoints are not being updated with new IP address of a pod."
Output of `helm version`:

[code]

Output of `kubectl version`:

[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): `AWS EKS`

The problem:

After jenkins upgrade the Endpoints are no longer updated. Basically when the pod is restarted with a new IP the endpoints are no longer point to it. They are blank.

[code]

I have to then find jenkins pod IP address, delete both endpoints and create

[2019-08-08 13:00] woodcockjosh commented on #2192
It really doesn't make sense to allow dashes in chart names if you don't allow dashes in values. The reason is that sometimes values are chart names. For example I have sub-chart.value which I want to specify in the parent chart values.yaml file to override child's values. I also want to use that same value in the parent template.

[2019-08-08 13:56] Leekao commented on #4685
This issue happens to me every time I try to switch from cluster to cluster by using "config set-context", the Kubernetes changes context just fine but helm does not, instead it emits "Error: could not find tiller", when I try "helm init" I get "Warning: Tiller is already installed at the cluster".
If I change back the context helm works again. not sure if relevant but the cluster it's working on

[2019-08-08 14:05] hickeyma commented on #6154
Re https://github.com/helm/helm/issues/6154#issuecomment-519016427 retain v2 releases, done: https://github.com/hickeyma/helm-2to3/issues/4

[2019-08-08 15:30] thomastaylor312 commented on #6174
@morsok That looks like a different bug. Did you get the same panic and stack trace or did something else happen?

As for the repo add, that is now the intended behavior on Helm 3, especially because the stable URL is likely to be changing

[2019-08-08 15:45] morsok commented on #6174
@thomastaylor312 No I didn't get the same panic I had the failed pre-install instead.

Thanks for the heads up i'll adapt my scripts to add the stable URL.

[2019-08-08 15:52] thomastaylor312 commented on #6174
So I think it is a different issue then @morsok. You ok if I close this issue then? If the other bug is still giving you problems, feel free to open another issue and we'll take a look

[2019-08-08 15:56] morsok commented on #6174
It would be best if someone can test with a chart that has a statefulset in it's dependencies but yeah i'm ok to close this one i'll open another right away, thank you :)

[2019-08-08 15:56] #6174 closed

[2019-08-08 15:57] mattfarina commented on #6178
@guysports Thank you for your concern. In the future could you please contact the [security list](https://github.com/helm/community/blob/master/SECURITY.md) with things like this.

Tiller does not use libc. The image is created with a [make target](https://github.com/helm/helm/blob/v2.14.3/Makefile#L84). If you follow that you will see that cgo is disabled. Tiller is started from the entrypoint ra

[2019-08-08 15:58] morsok opened #6182 "Helm V3 : failed pre-install"
When testing with the dev branch after #6174 (helm.sh/helm/internal/version.gitCommit=ad9c0c440b9f0bd84548ba82c35a9ec7958cdab8) all I got was :

Deploying new release...
Release "RELEASENAME" does not exist. Installing it now.
Error: failed pre-install:

Not sure if gitlab ate the rest of the error (seeing some weird issues since I upgraded it) or if this is all I got.

I'm willing to take time on

[2019-08-08 16:27] bacongobbler commented on #6178
As far as I can remember, the reason scratch never caught on in the past was due to production debugging utilities. Back then there wasn't a whole lot of tooling available to debug networking issues in a container, so you needed to `exec` into the container and install networking utilities using `apk` to debug the container.

+1 to making a case for why this may have an impact on the security mail

[2019-08-08 16:27] #6178 closed

[2019-08-08 16:28] bacongobbler commented on #6182
Hi @morsok, please feel free to reach out on slack. I'm @bacongobbler on Slack, and @thomastaylor312 is oftaylor. Having an example would be great to debug this issue further. Thanks!

[2019-08-08 17:08] DarkIsDude commented on #6024
@Saurabh-16 I have an issue when I try to get dependency `go: finding k8s.io/cli-runtime v0.0.0`.

I think it's this one `"k8s.io/helm/pkg/helm/portforwarder"`

Here:
[code]

I use go module but maybe it's not the best one.

[2019-08-08 17:36] JustDoItSascha commented on #5513
Is there any fix in sight?

[2019-08-08 17:55] nimakaviani opened #6184 "Proposal: Pluggable templating engines for Helm"
**Author(s):**
Nima Kaviani @nimakaviani (IBM) , Dmitriy Kalinin @cppforlife (Pivotal)

**Helm Version:** 3.0+

**Motivation**

We have recently open sourced ytt (https://get-ytt.io) - the YAML templating tool - which we believe improves on current ways to template YAML. Helm currently uses Go's text templating (text/template package) for templating configuration. Given the rising popularity of di

[2019-08-08 18:32] bacongobbler commented on #6184
Hi @nimakaviani, thanks for writing this up. Do you have a reference implementation of this available somewhere?

I'm a little concerned about the user needing to install a plugin for `helm install` to work. This seems detrimental to the end-user: If I as a user want to install a chart, I now need to

1. determine what engine is being used, and at what version
1. determine how to retrieve that eng

[2019-08-08 19:45] nimakaviani commented on #6184
very good question @bacongobbler ...

For the purpose of this proposal, we meant to limit the scope and have the user go through the steps you described above in order to download and install an engine. Helm can help with providing information on where to find the plugin and how to download it if it realizes an engine is missing.

If we want to extend it further and make it more seamless to the us

[2019-08-08 20:08] mattfarina opened #6186 "Make `helm search` work against monocular search"
When the stable repository was removed from Helm v3, people lost the ability to search out of the box. The idea is to enable default search to use the Helm Hub (an instance of monocular). Options would allow search to be pointed at another instance of monocular or to fall back to repositories stored locally. OCI based storage search isn't known yet as OCI distributions don't provide a standard sea

[2019-08-08 20:32] technosophos commented on #6184
This looks to me like it would just lead to fragmentation of which helm charts can be installed by what tools. This is why the Helm 3 proposal called for the TPL engine to be embedded in the chart using Lua. And that feature is delayed until after Helm 3.0 is released.

[2019-08-08 20:55] bacongobbler commented on #6186
slating this for the beta, though we could let it slip into beta.2 if required.

[2019-08-08 21:01] WarheadsSE commented on #3533
Will this ever be addressed?

[2019-08-08 21:18] mattfarina commented on #6184
@nimakaviani and @cppforlife thanks for the proposal.

There are a few things going here.

1. There is a potential for dependency problems here. Imagine you have chart A depend on chart B depend on chart C and depend on chart D (i.e., A -> B -> C -> D). Now, imagine that each of the charts uses a different engine. Now Helm would need to warn people about all the missing plugins and a user has to i

[2019-08-08 21:36] bacongobbler commented on #4718
Please see how `helm template` uses `pkg/action` (which uses `pkg/engine`) to run the template engine.

[2019-08-08 21:36] #4718 closed

[2019-08-08 21:49] nterry commented on #4685
After a LOT of beating my head into a wall, i figured out why I was seeing this issue... According to the aws documentation for EKS [HERE](https://docs.aws.amazon.com/eks/latest/userguide/helm.html), you set the TILLER_NAMESPACE environment variable to tiller. This was causing the helm binary to deploy tiller in the tiller namespace.

After unsetting that variable and re-deploying, all was well...

[2019-08-08 21:50] SteveLasker commented on #6141
Sorry for the delay. Was enjoying some summer time - ok other house projects.
This had more thought than a quick comment, so I wrote this post for discussion: [OCI Artifact Authoring: Annotations &amp; Config.json](https://stevelasker.blog/2019/08/08/oci-artifact-authoring-annotations-config-json/)

[2019-08-08 22:06] waveywaves opened #6189 "APIServer error when trying to install chart on Openshift"
After runing the following on Openshift 3.11 got an error wrt to the APIs.

[code]

Output of `helm version`:
version.BuildInfo{Version:"v3.0.0-alpha.2", GitCommit:"97e7461e41455e58d89b4d7d192fed5352001d44", GitTreeState:"clean", GoVersion:"go1.12.7"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.0", GitCommit:"e8462b5b5dc2584fdcd18e6bcfe9f1e4d

[2019-08-08 22:30] jdolitsky commented on #6141
@SteveLasker good thoughtful post, thanks Steve.

Given that, and since Chart.yaml contains several nested fields, I think we will stick with just config for now. If the need for annotations arises we can add them later on. I am interested in how this will play into, for example, displaying chart name in a registry UI

[2019-08-08 22:36] bacongobbler commented on #6189
Are you able to determine why kubernetes is unable to handle the request?

[2019-08-08 22:37] wongma7 opened #6190 "kubernetesVersion doesn't work for kubernetes prereleases"
Error: Chart requires kubernetesVersion: >=1.13.0 which is incompatible with Kubernetes v1.15.3-beta.0

v1.15.3-beta.0 is newer than 1.13.0. I expected helm to detect this.

Consider using the version code directly from kubernetes when comparing kubernetes versions https://github.com/kubernetes/apimachinery/blob/master/pkg/util/version/version.go#L290 rather than the semver library https://github.

[2019-08-08 22:38] wongma7 commented on #6190
Workaround is to use kubeVersion: ">=1.13.0-0"

[2019-08-08 22:58] SteveLasker commented on #6141
As we enable registry support, the question could be, is the repo name the chart name?
Do we need yet another name?
repo name = chart
tag = version

[2019-08-08 23:05] bacongobbler commented on #5757
fixed in #6177

[2019-08-08 23:05] #5757 closed

[2019-08-08 23:07] bacongobbler commented on #6141
removing from the beta milestone as https://github.com/helm/helm/pull/6185 has been PR'd, which means this discussion can move forward without blocking the release.

Yes, a chart name should match a repository name, and the tag should equate to a version. We've taken steps to ensure that when saving a chart in https://github.com/helm/helm/pull/6070.

[2019-08-08 23:08] bacongobbler commented on #6068
removing from the beta milestone as #6185 has been PR'd, which means this discussion can move forward without blocking the release.

[2019-08-08 23:09] bacongobbler commented on #6020
removing from the beta milestone as #6185 has been PR'd, which means this discussion can move forward without blocking the release.

[2019-08-08 23:14] nimakaviani commented on #6184
Thanks for the comments @technosophos and @mattfarina

@mattfarina,

On your first point, sure chart dependency can become complicated. that's why in my [next comment](https://github.com/helm/helm/issues/6184#issuecomment-519661204) I suggested the idea of trusted engines for which helm acts automatically, potentially pulling the engines before templating the charts. The idea with the proposal was

[2019-08-09 00:15] bacongobbler commented on #6182
Fixed in #6191

[2019-08-09 00:15] #6182 closed

[2019-08-09 03:25] septyy opened #6192 "Naming rules of helm release name"
hi Authors，
 I want to know the regular expression of helm chart release name ? Or naming rules. Could you please share it? Thanks.

[2019-08-09 09:08] morsok commented on #6182
Trying with the latest dev branch i now get this :

[code]

Is this the same issue or another one ? Any way to know what is the condition that it waits for ?

[2019-08-09 09:43] Tarkleigh opened #6194 "Helm3: Helm Status does not show components of a chart"
Hey guys,

I am testing the latest alpha of Helm 3 and noticed that "Helm Status" now longer shows the status of the kubernetes primitives inside the installed chart. Instead, the output looks like this:

Is this by design? The help text of helm status reads like it should give me more information. Am I missing a parameter?

Best regards,
Tarkleigh

[2019-08-09 12:50] NGTOne opened #6195 "Requirements alias not working"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): GKE

Exactly what it says on the tin. My `requirements.yaml` looks like this:
[code]

The resulting `requirements.lock` looks like this:
[code]

Output from `helm dep up`:

[code]

After this, my `charts` subdirectory only contains `mcrouter-1.0.0.tgz`. My understanding is that

[2019-08-09 13:51] mattfarina commented on #6184
@nimakaviani I have some more questions...

There are two situations I'm aware of people encountering and I'm curious how a system like this would work with them. The situations are:

1. Environments cut off from the public Internet. The chart, images, and helm are on on the network and work.
2. Security conscious environments where management doesn't want things pulled down from the Internet that

[2019-08-09 14:25] janvdvegt commented on #6130
We have the same issue on minikube so it does not seem to be specific to AWS.

[2019-08-09 15:05] mortent commented on #4697
It's been a while since I was looking at this, but I think the best suggestion is to avoid mixing CRDs and CRs in the same chart. This allows CRDs to be installed without using the crd-install hook which should make it easier to update the CRD. Note that updating CRDs must be done very carefully as there are many ways to break existing CRs/controllers when updating a CRD. This is not specific to H

[2019-08-09 16:04] moduspwnens commented on #4697
We're currently building an application that makes use of [Metacontroller](https://metacontroller.app). To configure it with a new "controller" to send events to, you create an instance of a resource defined by their CRDs (e.g. DecoratorController, CompositeController), and our application has many instances of those resources. We're wanting to distribute our app as a single chart to end users wit

[2019-08-09 16:14] benbuzbee commented on #4697
Our use case is similar - we are using helm mostly as an internal product release manager, and we need to create a custom operator that we then use. Adding multiple charts just for this case would be a bit round-about.

Doing some looking, it seems even the canonical operator example, [prometheus](https://github.com/helm/charts/tree/master/stable/prometheus-operator), does this.  The chart can be

[2019-08-09 16:15] bacongobbler commented on #4697
related: #5871

[2019-08-09 18:58] nimakaviani commented on #6184
good questions @mattfarina

I think this is similar to the situation where they want to use some stable charts internally. or to use some plugins internally. The probably end up cloning them and storing them in a repo local to their networks. They should be able to do the same for the engine too. It certainly won't be as smooth but it won't be impossible.

yeah trust is a difficult thing to achiev

[2019-08-09 19:39] archelangelo opened #6198 "Proposal: Integrating test with upgrade"
It would be nice to have a command that does `helm test` and `upgrade` only when the test passed. Currently we do a separate step where a temporary release of a new version is installed into a temporary namespace and being tested while the original pods continues providing normal services to the outside. If the test went through we do an upgrade. I'm not sure if there is already such a feature or

[2019-08-09 20:59] waveywaves commented on #6189
Seems like a problem with my api server.
[code]

Thank you for the hint :)

[2019-08-09 21:00] #6189 closed

[2019-08-10 05:52] gnalsa commented on #5915
I am hitting this issue as well with one of our complex internal charts. I am unable to reproduce the issue with a simple chart. I will keep trying to reproduce the issue, but I guess it is caused by some specific combination of resources.

running v1.11.5 k8s and v3.0.0-alpha.2 helm
`
Server Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.5", GitCommit:"753b2dbc622f5cc417845f0ff8a7

[2019-08-10 16:21] woodcockjosh commented on #6005
Agreed. Since we have the full repository url there is no need to make the user manually add it. Should be able to download a chart without having to add the repo first.

[2019-08-10 22:47] magicalbanana commented on #6018
@alexandruivan you have a typo on 'dependencies'

[2019-08-10 22:49] waveywaves commented on #6186
@mattfarina Can I give my hand at <2> or <3> is that is fine with you. Once #6187 gets merged ?

[2019-08-11 01:26] prasanthj commented on #2573
@coolduebtn following worked for me
[code]

[2019-08-11 06:08] bacongobbler commented on #6005
We would happily accept PRs to support this.

[2019-08-11 09:26] waveywaves commented on #6079
After reproducing the issue I have been trying to debug this for the past few days.
[code]
@karuppiah7890 Seems lke the issue is around https://github.com/helm/helm/blob/dev-v3/pkg/action/lint.go#L61-L73

I checked if there is anything wrong within `lintChart` because of which this might be taking place but had no luck finding anything. After checking with the `2.14` branch I can tice that there a

[2019-08-12 09:35] kesselborn commented on #1707
if you need a work around that works without prefixing the tag with a `:` and removing it later, you can use this one (tl;dr: when tag is a number, use printf to print it, otherwise print the string you got)

[code]

[2019-08-12 10:23] waveywaves commented on #6172
@hickeyma I have submitted a PR #6202 Do check :)

[2019-08-12 14:17] mattfarina commented on #6184
@nimakaviani to continue this...

As I think about this I'm finding several things come to my mind...

* Who does the work of certifying engines and keeping up on this? As in, which people. Open source is about contributions and people need to do this leg work. If it were merged into core, the way a new addition to the `EngineYard` would be, it would follow along with the way gotpl is
* Part of th

[2019-08-12 15:20] tretos53 opened #6206 "Error: This command needs 2 arguments: release name, chart path"
Output of `helm version`:

[code]

Output of `kubectl version`:

[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): `AWS`

What am I doing wrong?

Format: `helm upgrade [RELEASE] [CHART] [flags]`

Command: `helm upgrade kube-prometheus local/kube-prometheus -f values.yaml -f prometheus-rules.yaml --namespace monitoring –-dry-run --debug`

Error: `This command needs 2 arguments: release nam

[2019-08-12 15:47] bacongobbler commented on #5907
all of the PRs for the tasks have been merged so this can now be closed :)

[2019-08-12 15:47] #5907 closed

[2019-08-12 15:54] thomastaylor312 commented on #5915
@gnalsa Please let me know if you do find something! The new three way merge should definitely prevent this kind of stuff from happening

[2019-08-12 16:38] bacongobbler commented on #6172
fixed in #6202

[2019-08-12 16:38] #6172 closed

[2019-08-12 16:50] bacongobbler commented on #6194
It looks like `rel.Info.Resources` isn't being populated, as that should display the resources live on the cluster. Marking as a bug.

https://github.com/helm/helm/blob/ac43d9faf23e86185c9256574c63f7c6ccf24927/pkg/action/printer.go#L41-L47

[2019-08-12 16:50] waveywaves commented on #5958
@staticdev I ran the commands for reproducing this.
[code]
I got the below error
[code]
I am trying to work with `Kind`s on this one to get the storage class APIs. As only k8s.io/api/storage/v1beta1 is vendored in and I don't want to increase the vendoring unnecessarily, so I am trying to write in such a way that we can support storage classes dynamically from certain APIs such as this one. What d

[2019-08-12 17:08] waveywaves commented on #6198
@archelangelo In this case I suppose the resources would get created and if all of them ARE created and are in the running or healthy state, they would get purged from the test namespace with the output notifying the user if the test release was successful or not.

The command could be something along the lines of
[code]
[code]
$ helm upgrade --test release-2 stable/testrelease

[code]
helm instal

[2019-08-12 17:15] nimakaviani commented on #6184
@mattfarina, very valid points.

totally understood.

Complexities of dealing with trust was one of the reasons we went down the path of the already existing plugins model. The idea was that Helm leaves it to the users to decide whether or not they want to trust an engine. similar to how plugins are treated currently.

Running templating engines / plugins in a container I would say solves half of

[2019-08-12 19:30] mattfarina opened #6209 "Convert search to action pkg format"
Many of the commands in the `cmd/helm` package were reformatted to use an action package in `pkg/action`. Search was one that was not reformatted and follows the older style. It should be reformatted to be consistent with the others.

[2019-08-12 20:21] archelangelo commented on #6198
@waveywaves Hi Thanks for the response! Yes, but not only that it sees all the resources being successfully deployed, it also does an automatic `helm test` to ensure the new release passes the acceptance test defined by the helm chart developer.

[2019-08-12 23:44] waveywaves commented on #6015
Where does the documentation for this need to be given ?

[2019-08-13 02:11] rodriguez-facundo commented on #4558
Same:

[code]

[2019-08-13 04:01] zhihuiwu opened #6214 "Helm 3: 'helm chart push/pull' can't fetch oauth token"
Output of `helm version`:
version.BuildInfo{Version:"v3.0.0-alpha.2", GitCommit:"97e7461e41455e58d89b4d7d192fed5352001d44", GitTreeState:"clean", GoVersion:"go1.12.7"}

I setup a docker registry (container, image is registry:2) and an auth sever(other container, image is cesanta/docker_auth:latest)

And I enabled token auth on the registry. The auth configuration of the registry container is as fo

[2019-08-13 06:14] daixiang0 opened #6215 "Error: no repository definition for https://kubernetes-charts.storage.googleapis.com/, https://kubernetes-charts.storage.googleapis.com/. Please add them via 'helm repo add'"
I use azure charts as stable, and want to update dependency with local files:
[code]

But helm need  `https://kubernetes-charts.storage.googleapis.com/`, i do not get it from any docs.

What only can i do is add it:
[code]

Then update succeed:
[code]

I have some question:

1. why update dependency with local files need to connect network? All i want is to update locally, why no option support th

[2019-08-13 08:11] adrianmatei-me commented on #5257
See [this link](https://github.com/helm/helm/blob/ecef026b68a23f0c1399d98425134ce837126831/docs/using_helm.md#customizing-the-chart-before-installing)

[2019-08-13 10:26] tretos53 commented on #6206
Unless helm requires release to be upgraded only from a repo that it was installed originally?

I also tried below, but I get the same error:

`helm upgrade --namespace monitoring –-dry-run --debug -f values.yaml -f prometheus-rules.yaml kube-prometheus local/kube-prometheus`

`helm upgrade kube-prometheus ./kube-prometheus-0.0.106.tgz -f values.yaml -f prometheus-rules.yaml --namespace monitoring

[2019-08-13 10:26] vadasambar commented on #3986
What worked for me was deleting the tiller deployment in kube-system namespace

[code]

And run helm init to initialize the tiller deployment again

[code]

helm init might take a couple of seconds.

[2019-08-13 10:55] malinoff commented on #4573
Coming from ansible, it feels like `{{ .Values.foo.bar.baz.xxx.yyy | default something }}` has to result in to `something` regardless of what intermediate values are `nil`. Why should users of a chart care about the exact structure of values if they don't care about changing the defaults at all?

[2019-08-13 12:21] ghost opened #6216 "Error: forwarding ports: error upgrading connection: unable to upgrade connection: pod does not exist"
[code]

Helm is configured using following commands
[code]

[2019-08-13 15:45] bacongobbler commented on #6215
duplicate of https://github.com/helm/helm/issues/6005.

[2019-08-13 15:45] #6215 closed

[2019-08-13 16:07] jdolitsky commented on #6068
closed via https://github.com/helm/helm/pull/6205

[2019-08-13 16:07] #6068 closed

[2019-08-13 16:08] jdolitsky commented on #6141
closed via https://github.com/helm/helm/pull/6205

[2019-08-13 16:08] #6141 closed

[2019-08-13 21:48] #2159 closed

[2019-08-13 21:48] bacongobbler commented on #2431
closed in #5350

[2019-08-13 21:48] #2431 closed

[2019-08-13 21:51] bacongobbler commented on #3162
@mattfarina do you know the context behind this change? Is this still needed or can we close this?

[2019-08-13 21:55] bacongobbler commented on #3511
library charts have been implemented in Helm 3 via https://github.com/helm/helm/pull/5295

[2019-08-13 21:55] #3511 closed

[2019-08-13 21:56] bacongobbler commented on #4406
closing as a duplicate of #4030 so we can keep the conversation all in one place. Thanks!

[2019-08-13 21:56] #4406 closed

[2019-08-13 22:34] bacongobbler commented on #5461
closed via #5597

[2019-08-13 22:34] #5461 closed

[2019-08-13 22:35] bacongobbler commented on #5286
closed via #5719

[2019-08-13 22:35] #5286 closed

[2019-08-13 22:37] bacongobbler commented on #5499
fixed in #5539

[2019-08-13 22:37] #5499 closed

[2019-08-13 22:47] bacongobbler commented on #5695
closing as the milestones have been created for tracking these milestones. Please follow the [beta.1](https://github.com/helm/helm/milestone/65) and the [3.0.0](https://github.com/helm/helm/milestone/69) milestones. Thanks!

[2019-08-13 22:47] #5695 closed

[2019-08-13 23:07] bacongobbler commented on #5732
Are there action items we should be addressing for Helm 3, or is this safe to close with the sprig bump?

[2019-08-13 23:08] bacongobbler commented on #5732
perhaps this should be closed in favour of #5733 if that's the last action item to close this one out.

[2019-08-13 23:20] bacongobbler commented on #5800
Yeah, this is an issue with us disabling CGO in the build pipeline, which will not cause Helm to not use the /etc/resolver DNS resolution as mentioned in golang/go#12524.

CGO is disabled by default when cross-compiling to generate statically generated binaries. This used to be quite important for Tiller as it was running inside a container where the underlying infrastructure is unknown. Perhaps w

[2019-08-13 23:23] bacongobbler commented on #5775
@jdolitsky can you confirm if this has been fixed in more recent versions?

[2019-08-13 23:24] bacongobbler commented on #5776
@jdolitsky do you think this use case has been fixed, or is this still an issue in core?

[2019-08-13 23:25] bacongobbler commented on #5779
dupe of #5826

[2019-08-13 23:25] #5779 closed

[2019-08-13 23:26] bacongobbler commented on #5827
fixed in #6142

[2019-08-13 23:26] #5827 closed

[2019-08-13 23:26] archelangelo commented on #6198
As @waveywaves suggested, the command could look like `helm upgrade --test release-name chart-path`

More specifically, I think this proposal needs two new features: one to implement a temporary release installation and test, the other to add a new annotation to specify unnecessary resources for the test (such as the ingress, which is not needed for the test job running inside the cluster). Corres

[2019-08-13 23:35] bacongobbler commented on #5934
@Somefive if you have some time, would you mind going through and finding any gaps we need to address to make your use case possible? I'm going to be away for 3 weeks so I won't be able to work on anything any time soon, but I'd love to see any proposals to support this use case!

[2019-08-13 23:37] bacongobbler commented on #5990
Seems to be fixed.

[code]

[2019-08-13 23:37] #5990 closed

[2019-08-13 23:39] bacongobbler commented on #6094
The `--home` flag no longer exists with #5443 so these issues no longer occur. Closing!

[2019-08-13 23:39] #6094 closed

[2019-08-13 23:39] bacongobbler commented on #6101
fixed in #6122

[2019-08-13 23:39] #6101 closed

[2019-08-13 23:41] bacongobbler commented on #6186
closed via #6211. Let's address OCI search once that's actually a part of the OCI spec. Right now that doesn't exist.

[2019-08-13 23:41] #6186 closed

[2019-08-13 23:42] bacongobbler commented on #5912
fixed in #6219

[2019-08-13 23:42] #5912 closed

[2019-08-14 01:55] Somefive commented on #5934
OK, look into it and see if there's anything I can help.

[2019-08-14 11:49] asychev commented on #2247
+1

[2019-08-14 14:57] allen-servedio commented on #5513
Has anyone tried using `--atomic` with this to see if that addresses the issue (by doing an automatic rollback on a failed deploy)?

[2019-08-14 15:36] karuppiah7890 commented on #6079
@waveywaves I checked the issue with a fresh look, also I didn't entirely understand the things that you mentioned as I have never seen the linting code before. So I checked it out. I debugged it using the IDE then and saw the issue with `vals` that you mentioned. You are right about the change https://github.com/helm/helm/commit/2b81eea1e289da0c0aa1f2f1ca1dca705fa07f70#diff-a3b833d32c8c6c71b4cfd6

[2019-08-14 15:40] bacongobbler commented on #6079
Yeah, it's always best to cover issues with a unit test when possible. Certain parts of the codebase are notoriously hard to unit test (`pkg/kube` for example), but `pkg/chartutil` should be easy to write a test for.

[2019-08-14 15:50] #3804 closed

[2019-08-14 15:52] bacongobbler commented on #990
Closing this issue as stale for over a year. If you're interested to work on this, please comment here and we can re-open this. Thanks!

[2019-08-14 15:52] #990 closed

[2019-08-14 15:53] bacongobbler commented on #1098
closing as having been stale for over a year.

[2019-08-14 15:53] #1098 closed

[2019-08-14 15:57] kfox1111 commented on #990
The sad thing is, kube-dashboard is finally getting a plugin framework soon. So it may  be possible in the near future to integrate finally. I think that was the major thing holding up this issue.

[2019-08-14 16:03] bacongobbler commented on #5184
This might've been fixed in https://github.com/helm/helm/pull/6080. That PR fixes the case where coalesceDeps is called twice. Can someone confirm with master?

[2019-08-14 16:06] skinenbayev commented on #2918
Keep in mind that Auto DevOps requires port 5000 be exposed in Dockerfile and your app listening on it.

[2019-08-14 16:07] bacongobbler commented on #1354
https://github.com/helm/acceptance-testing

[2019-08-14 16:07] #1354 closed

[2019-08-14 16:08] bacongobbler commented on #1638
https://github.com/helm/helm/pull/5176

[2019-08-14 16:08] #1638 closed

[2019-08-14 16:11] bacongobbler commented on #1464
In Helm 3, Helm no longer creates the namespace (see #5753 for more background). Because of this, it is no longer the responsibility of Helm to clean up the namespace on `helm delete`, similar to other tools like kubectl.

[2019-08-14 16:11] #1464 closed

[2019-08-14 16:13] bacongobbler commented on #1811
this should be fixed in Helm 3 with #6124. Please feel free to test out the alpha and let us know if you run into issues with this case. Thanks!

[2019-08-14 16:13] #1811 closed

[2019-08-14 16:14] bacongobbler commented on #1811
see also https://github.com/helm/helm/issues/5915

[2019-08-14 16:14] bacongobbler commented on #1862
we're not going ahead with this given that Tiller has been removed in Helm 3. Closing!

[2019-08-14 16:14] #1862 closed

[2019-08-14 16:19] bacongobbler commented on #1911
okay, so this appears to be an upstream issue pertaining to PVCs, so it doesn't look like there's anything actionable on our end. I think this is safe to close on our end. Please comment here if I'm mistaken and we can reopen this. Thanks!

[2019-08-14 16:19] #1911 closed

[2019-08-14 16:23] bacongobbler commented on #1968
closing as all the TODOs on the list are either implemented or closed as irrelevant for Helm 3. If there are things we can improve with the CI system, please open a new ticket. Thanks!

[2019-08-14 16:23] #1968 closed

[2019-08-14 16:32] bacongobbler commented on #1998
closing as stale. Please feel free to comment here if you're working on federation support. Thanks!

[2019-08-14 16:32] #1998 closed

[2019-08-14 16:36] bacongobbler commented on #2013
Closing. Helm 3 no longer creates the namespace as part of `helm install` (see #5753 for background context on why we changed this behaviour - this issue being one of those reasons). Thanks.

[2019-08-14 16:36] #2013 closed

[2019-08-14 16:38] thomastaylor312 commented on #1702
Would using an annotation on the object (like described in the [docs](https://helm.sh/docs/charts_tips_and_tricks/#automatically-roll-deployments-when-configmaps-or-secrets-change)) be a better and more declarative way to do this? I think trying to make it soft restart to meet everyone's specific use case will just lead to pain for everyone

[2019-08-14 16:44] bacongobbler commented on #4642
https://github.com/helm/helm/issues/2196

[2019-08-14 16:44] #4642 closed

[2019-08-14 17:09] mattfarina opened #6226 "Add `helm env` command to get details of the environment"
With the move to XDG paths for file locations and the removal (coming soon) of `helm init` there is no method to discover the directories helm is storing files in or other environment details. We should add a command to see these details.

[2019-08-14 18:30] danchirillo opened #6227 "helm install Throws Timeout Error"
**Output of `helm version`:**
Client: &version.Version{SemVer:"v2.14.3",
Server:&version.Version{SemVer:"v2.14.3",

**Output of `kubectl version`:**
Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.2",
Server Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.2",

**Cloud Provider/Platform (AKS, GKE, Minikube etc.):**
Environment is a 3-node cluster -- built with k

[2019-08-14 20:06] jdolitsky commented on #5775
@bacongobbler yes, this substitution has been removed! closing

[2019-08-14 20:06] #5775 closed

[2019-08-14 20:09] danchirillo commented on #6227
As a workaround, I tried starting over with helm by following this process:
1. ` helm reset -f`
2.  `rm -rf ~/.helm`
3.  Created a tiller service account exactly as shown in [Example: Service account with cluster-admin role](https://helm.sh/docs/using_helm/#example-service-account-with-cluster-admin-role) and re-inited helm
4.  Tried running `helm install `again.  Same symptom.
[tiller2.log](https

[2019-08-14 20:10] jdolitsky commented on #5776
@bacongobbler just tested it out, this issue is still present on push

[2019-08-14 20:46] bacongobbler commented on #3480
This error should not be present in Helm 3 as Helm no longer relies on the portforwarder logic in Kubernetes to acquire a connection to Tiller (because Tiller has been removed).

I'm going to close this as resolved, however if there's a fix we can apply to Helm 2 to improve the situation that'd be great to hear and we'd love a PR. Thanks!

[2019-08-14 20:46] #3480 closed

[2019-08-14 20:47] #6160 closed

[2019-08-14 20:47] bacongobbler commented on #2918
@hickeyma sure!

[2019-08-14 20:50] bacongobbler commented on #2998
due to inactivity, I had to close #5038. If anyone else feels like taking this across the finish line, please feel free!

[2019-08-14 20:51] bacongobbler commented on #3134
Is this issue still present on more recent versions of Helm 2 (e.g. 2.14.3)?

@juliohm1978 what would you suggest we change the title to?

[2019-08-14 21:23] bacongobbler commented on #3553
From Helm's perspective, this doesn't really make sense for a couple reasons:

- templates from `helm template` can already be installed in a particular namespace (as shown above)
- we break the rule of least surprise when rendering templates
- injecting metadata into user's objects is a computationally expensive ordeal
- Helm does not gain any added functionality by doing this (in fact, Helm beco

[2019-08-14 21:23] #3553 closed

[2019-08-14 21:36] bacongobbler commented on #2735
consolidating this into #5915. Helm 3 recently has implemented a three-way merge patch strategy which should alleviate some of the issues here. Please follow up with that ticket so we can keep the conversation relevant and all in one place. Thanks!

[2019-08-14 21:36] #2735 closed

[2019-08-14 21:38] bacongobbler commented on #3141
[implemented in Helm 3](https://github.com/helm/helm/blob/130f7934ffb7dc63e41e66273cf0875d521e1ec7/cmd/helm/package.go#L107). Closing!

[2019-08-14 21:39] bacongobbler commented on #2378
Nope. Are you working on an implementation?

[2019-08-14 21:46] bacongobbler commented on #2247
In the interest of preventing spam to users subscribing to this thread, please add a 👍 to the OP instead of commenting "+1". That way we can keep the conversation relevant to the proposal at hand. Thanks! ❤️

[2019-08-14 21:49] bacongobbler commented on #2247
As an update, https://github.com/helm/helm/pull/4468 was the latest proposal to add this functionality, but there were several design flaws in the implementation.

I'd encourage others interested in this proposal to have a look at implementing this for Helm 3; most of the core maintainers are only looking at security issues/bug fixes for Helm 2, so it's unlikely we'll be able to look at implementi

[2019-08-14 21:55] bacongobbler commented on #3282
In the interest of preventing spam to users subscribing to this thread, please add a 👍 to the OP instead of commenting "+1". That way we can keep the conversation relevant to the proposal at hand. I've gone ahead and deleted those comments. Thanks! ❤️

[2019-08-14 21:56] YingjunHu commented on #2378
Not yet since I wasn't sure if there's any ongoing fix. I'll try to implement it if it's not planned for both helm2 and 3

[2019-08-14 21:57] bacongobbler commented on #2378
AFAIK nobody's working on this. Feel free to work on an implementation!

[2019-08-14 21:58] bacongobbler commented on #3854
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-08-14 21:58] #3854 closed

[2019-08-14 21:59] bacongobbler commented on #3179
Fixed in Helm 3 now that Helm no longer creates the namespace as part of `helm install --namespace`.

[2019-08-14 21:59] #3179 closed

[2019-08-14 22:02] bacongobbler commented on #3279
This has now been implemented in Helm 3. Test hooks can have the `hook-deletion-policy` annotation attached where it will clean itself when the tests succeed, similar to other hooks. See #6054 for more info.

[2019-08-14 22:02] #3279 closed

[2019-08-14 22:04] bacongobbler commented on #3149
`--atomic` rolls back the release when an upgrade fails. See #5143 and #6011. Closing!

[2019-08-14 22:04] #3149 closed

[2019-08-14 22:09] bacongobbler commented on #3176
Improvements to Daemonset and statefulset `--wait` support was implemented in #5971.

cc @thomastaylor312 to determine if this may be a good improvement to consider in the future for Helm 3

[2019-08-14 22:10] bacongobbler commented on #5219
can this be closed with #5971?

cc @thomastaylor312

[2019-08-14 22:35] thomastaylor312 commented on #5219
@bacongobbler yep, with the latest daemonset status objects and the updates from #5971, this can be closed!

[2019-08-14 22:35] #5219 closed

[2019-08-14 22:45] thomastaylor312 commented on #3176
I would still be open to this idea; however, I think it would still require about the same amount of code (between bootstrapping and running the process) and another dependency we need to pull in. From a UX standpoint, the logging we have in now can provide a very clear picture about what it is waiting for and why and we won't have that control with using the rollout library. I also think waiting

[2019-08-14 23:07] waveywaves commented on #6226
Please assign this to me @mattfarina I will work on this.

[2019-08-15 01:20] daixiang0 commented on #6215
@bacongobbler hi, not only this, but question one has no answer.

[2019-08-15 04:46] adamreese commented on #6226
I found this plugin too https://github.com/adamreese/helm-env

[2019-08-15 06:42] cbanek commented on #3403
Just hit this same problem today (trying the example and being confused):

[code]

[2019-08-15 07:14] liorfr commented on #6116
@anusreePrakash I also has an issue with this. Any updates regarding this PR ?

Thanks
Lio

[2019-08-15 08:15] tuantranf commented on #5915
@thomastaylor312 I'm not quite sure if it may help for someone
I have the same issue on
[code]
Running `helm upgrade` did not update my configmap so i tried a work around with adding a label with timestamp
[code]
 and it works for me.

[2019-08-15 08:29] edbighead opened #6230 "Documentation markdown wrongly displayed in Github"
Github is wrongly displaying `toml` markdown in [accessing_files.md](https://github.com/helm/helm/blob/master/docs/chart_template_guide/accessing_files.md)

![toml_md](https://user-images.githubusercontent.com/16245796/63082792-d21dca00-bf4f-11e9-92cf-1651d26b5cec.png)

[2019-08-15 08:36] karuppiah7890 commented on #6023
@hickeyma Were you able to reproduce the issue? I'm not able to. I tried with

[code]

[code]

I'm not sure about which version of prometheus-operator chart was used that lead to the issue. @segator Could you tell the version of the chart? If not we can't reproduce and fix it

[2019-08-15 08:40] #6230 closed

[2019-08-15 09:52] planetf1 commented on #5780
I cloned the helm repo and rebuild dev-v3 (as of today).
I then retried the deployment of a chart which worked ok with helm2

I hit the same problem as originally reported.

[2019-08-15 10:09] planetf1 commented on #5780
I built from dev-v3 and can confirm the issue is fixed

[2019-08-15 17:00] kav commented on #5517
I'm seeing a related issue; when I specify `helm repo update --home ./` I get
helm reports it can't find
`.helm/repository/cache/.helm/repository/cache/stable-index.yaml`
This repos on v2.14.0 and v3.0.0-alpha.2

My guess is someone tried to fix the pathing issue but missed a double set of the `.helm/repository/cache/.` directory. Happy to investigate and fix if someone else is seeing similar and

[2019-08-15 19:20] akashshinde commented on #6226
@adamreese Is this compatible with `helm-3` ? since we are using `XDG` paths ?

[2019-08-15 20:14] thomastaylor312 commented on #5958
@staticdev After looking at this more (in conjunction with @waveywaves' PR), I don't think this would be something we could bring into Helm directly. There are two main reasons for this:

1. There is nothing in the `StorageClass` spec or documentation that indicates anything to wait for on a storage class.
2. Based on the example chart you gave, it looks like the desired functionality is to watch

[2019-08-15 20:14] #5958 closed

[2019-08-15 20:31] sgillespie commented on #5184
This does indeed seem to fix the issue. A quick naive test:

Subchart values:
[code]

Parent chart values:
[code]

Output as expected is `{}`

[2019-08-15 21:00] drone-cloud commented on #3215
@ninadpage - could you please share your solution as how did you used dict passed to the called template. Not able to wrap my head around!

[2019-08-16 01:51] karuppiah7890 commented on #6226
Actually, currently it shows envs with "HELM" , "TILLER" word in it. Doesn't show XDG ones yet. But it shouldn't be a tough change to make. Just add an extra thing to the grep if you see the code

[2019-08-16 03:35] adamreese opened #6232 "feat(cmd/helm): Lazy create config and cache directories"
Running the command `helm init` in v3 is only creating the directory structures that helm expects.  This can be done lazily when running commands like `helm repo add`.

[2019-08-16 04:07] akashshinde commented on #6226
@karuppiah7890 @adamreese But I would prefer having `helm env` as internal command over  installing any external plugins.

[2019-08-16 07:03] yevgenypats opened #6233 "Suggestion: Continuous Fuzzing"
Hi, I'm Yevgeny Pats Founder of [Fuzzit](https://fuzzit.dev) - Continuous fuzzing as a service platform.

We have a free plan for OSS and I would be happy to contribute a PR if that's interesting.
The PR will include the following
- [go-fuzz](https://github.com/dvyukov/go-fuzz) fuzzers (This is generic step not-connected to fuzzit)
- Continuous Fuzzing of master branch which will generate new corp

[2019-08-16 08:39] daixiang0 commented on #6215
@bacongobbler any input?

[2019-08-16 08:59] karuppiah7890 commented on #6194
I was able to reproduce the issue with this:

[code]

Looking into the issue

[2019-08-16 13:22] jdolitsky opened #6237 "Helm 3: helm list shows no error when disconnected from internet"
No internet:
[code]

Internet:
[code]

[2019-08-16 14:41] ssalaues commented on #5891
@bacongobbler Seeing the same behavior with a nearly identical looking Job definition (using post-install Helm hooks). A regular helm install without the `--wait` flag will still wait for the Job completion before the command completes.
[code]
Helm Version
[code]
Kubernetes Version
[code]

[2019-08-16 15:35] thomas-melville commented on #6192
Hi @septyy

I was actually just discussing this today in my own work, and we found out by passing in an invalid release name.
The regex is in the error output as you can see from the terminal snippet below. I've included the version I'm on.

[code]

[2019-08-16 16:31] karuppiah7890 commented on #6079
@waveywaves Were you able to work on this?

[2019-08-16 16:59] endzyme opened #6238 "Helm 3: Missing values from debug output"
As discussed in Developer Call on 2019-08-15: I think a refactor of how releases are printed may have removed the `COMPUTED VALUES:` and `USER-SUPPLIED VALUES:` sections of the output.

Helm 2: https://github.com/helm/helm/blob/f4a55985b6d101409583067ca69018cd014cbf28/cmd/helm/printer.go#L33-L35 (Is used [by template](https://github.com/helm/helm/blob/master/cmd/helm/template.go#L185) and [by inst

[2019-08-16 17:04] endzyme opened #6239 "Feature Request: Machine Readable Output"
I think it would be beneficial to have a global flag that could render all output as machine readable.

Initially it would be a nice start if `template` supported it, mostly for my purposes of reading `COMPUTED VALUES` and `USER-SUPPLIED VALUES` as json.

Happy to help here where I can, but not sure if this should first be implemented in helm 2 or just looked at for helm 3. There are lots of diffe

[2019-08-16 17:52] salowenh opened #6240 "MountVolume.SetUp failed for volume “secret” : invalid character '\r' in string literal"
`helm version`:
[code]

`kubectl version`:
[code]
Cloud Provider/Platform: `AKS`/`Azure`

I'm trying to move from manual deployment to helm.
After I've configured all my charts and fixed some issues, I've got to a point where after deployment the pods report the following error:
[code]
`secret` is a `flexVolume` pointing to Azure Key Vault, here is the deployment.yaml:
[code]
So at first I thought

[2019-08-16 17:53] mattfarina commented on #5871
Currently, Helm v2 does not handle CRDs. We are working to fix this before beta that will carry a new way to handle CRDs in Helm v3. Here is the proposal we are working on...

1) CRDs will go in a new directory in a chart. Helm will attempt to install CRDs if they are not present in the cluster before rendering templates or generating the details for Capabilities within templates. In the Helm v2 c

[2019-08-16 20:02] waveywaves commented on #6079
@karuppiah7890 I figured it out some time ago only. Got really confused while debugging this. Will continue with this and let yu know if I need any help. Thank you so much :)

[2019-08-16 21:05] krancour opened #6242 "Surprising inconsistency between helm search and helm install"
The brigade team released a beta release today. The chart is versioned as `1.3.0-beta.1`. When you `helm search brigade`, this is what you see. _You see a pre-release version._

If you then `helm install brigade/brigade`, you get the latest _stable_ version-- `1.2.0`, unless, of course, you also use the `--devel` flag.

The thing that is probably surprising to many users here is that the first sea

[2019-08-16 21:07] thomastaylor312 commented on #6242
@adamreese Should we bring this in during the beta period? Or would it be too breaking?

[2019-08-16 21:39] aturco41 commented on #949
Bump.

[2019-08-16 22:30] thomastaylor312 commented on #5871
See #6243 for an implementation

[2019-08-17 18:06] MirtoBusico commented on #4903
Sorry, for me i didn't work.
After deleting tiller-deploy helm init gives the X509 error
[code]
Any hint?

[2019-08-18 09:15] kamiKAZIK opened #6245 "Helm v3 bindings for other languages"
Since Tiller was removed from Helm v3, I have a question how to develop a client for Helm for JVM languages like Java, Scala, Groovy, etc.?

Before I could use Kubernetes Java client to create port-forwarded connection and communicate with Tiller using gRPC, but since Tiller is gone in v3, this is no longer possible. Are there any plans to add support for other languages or any suggestions?

[2019-08-18 14:30] karuppiah7890 commented on #6245
Me and my team wrote an opinionated tool on top of Helm. At first we used NodeJs and used to do execute helm shell commands using nodejs standard libs, to do installs/upgrades. It was okay, things worked good. Whatever output the helm command gave, we bubbled it up to the user.

But now that we have moved to golang, things are smoother, we have more fine grained control and can reuse the helm pack

[2019-08-18 14:35] karuppiah7890 commented on #6194
I checked more into the issue. Some of my findings are -

In v2 , it works by using the release manifest and then doing a kubernetes client get call to get the resources and show them in human readable format and in a sorted manner. This looks almost like what's shown in a `kubectl get <resource>` call with age and stuff

In v3, I'm yet to see any such code for `status` command. And I also haven't

[2019-08-18 15:36] kamiKAZIK commented on #6245
I need to prepare for an upgrade of backend REST API that is used to interact with helm to install and remove predefined chart releases. With Tiller and gRPC all was working splendid, but since Tiller was dropped from v3, I might even consider the worst case scenario - rewrite backend in golang and reuse helm and kubernetes Go packages...

[2019-08-18 15:46] karuppiah7890 commented on #6245
That or for a minimal effort you could do shell exec call from your backend and do installations and deletions. Extra thing is - have helm binary installed with kube config configured.

[2019-08-18 17:39] andytom opened #6246 "Helm v3 - lint error messages contain a malformed string"
Output of `helm version`:
[code]

Output of `kubectl version`:
N/A

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
N/A

When linting a chart if there are any errors the message printed out contains a malformed string.

Steps to reproduce:
[code]

[2019-08-18 17:58] andytom commented on #6246
I think the problem might be in https://github.com/helm/helm/blob/dev-v3/pkg/action/lint.go#L70

The value of `err` is `nil` and we are appending this `nil` to the returned `result.Errors` however I'm not sure what the expected behaviour is here.

[2019-08-18 18:16] andytom opened #6247 "Helm v3 - Linting multiple charts merges the error messages together"
Output of `helm version`:
[code]

Output of `kubectl version`:
N/A

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
N/A

When linting multiple charts in helm3 all error messages are merged together making it hard to work out which chart caused a failure.

[code]

I'm not sure if this is the expected behavior of the lint action or not but this change makes it difficult to work out what failed co

[2019-08-18 18:37] stevebail opened #6248 "Helm3: No --set-file support"
Hi
Helm2 supports -set-file flag
Helm3 does not. Does anyone know why Helm 3 does not support --set-file?
How do you specify a filename (or path to a filename) as a value with Helm 3?

[2019-08-19 03:44] dhineshbabuelango opened #6249 "Helm 3.0 helm config file location"
Hi All,
We are using helm in aws EKS. The current helm version is 2.14.3 which is using tiller pod which has some security concerns because of the privilege we are giving to tiller. We saw this has been fixed in helm 3.0, we tried using 3.0 but we have some queries and need help.

1. We are not able to mention the name for all helm commands as it is saying --name is invaidoption.

2. In the older

[2019-08-19 08:43] lindhe commented on #5546
Related to #6005 ?

[2019-08-19 08:48] abdul-jabbar01 opened #6250 "helm "and" condition is not working as expected"
If I'm having following code in the `yaml` file,
[code]
then, **If my first condition is false**, then it **should not check for the second condition**. But here, helm is checking both of the conditions either the first condition is true or false.

Can you please confirm that i**s it the expected output?** Because normally in all of our programming languages, if first condition is not true, then i

[2019-08-19 08:56] chinglinwen opened #6251 "helm v3.0 mapping values are not allowed in this context"
Same charts helmv3 got error, helmv2 is ok.

## error logs
[code]

[code]

[code]

## helmv2 is ok

[code]

Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
non-cloud

## attachment
[php-0.1.0.tgz.zip](https://github.com/helm/helm/files/3514949/php-0.1.0.tgz.zip)

[2019-08-19 09:30] irajdeep commented on #1904
@technosophos I am planning to work on this if no one else is currently working on it :)

[2019-08-19 10:05] kierenj opened #6252 "Error: UPGRADE FAILED: failed to create patch: unable to find api field in struct HorizontalPodAutoscalerSpec for the json field "metrics""
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

GKE

Template: https://gist.github.com/kierenj/c6862d35eb36fa416f0c2d3fbb09ef0a

I'm trying to do an upgrade, whereby I've changed the `spec.metrics.resource.target.averageUtilization` on a `HorizontalPodAutoscaler` value.

I get:

` Error: UPGRADE FAILED: failed to create pat

[2019-08-19 11:57] nApucco commented on #6123
We seem to have the same issue when using Helm 3 with OpenShift and their CRD for "DeploymentConfig", "Route" and other OpenShift resources.

The error only occures when an existing installation is being upgraded:
[code]

We don't know if it is related, but in the same error we also get additional ValidationErrors, where Helm seems to have issues validation some optional fields in the custom resou

[2019-08-19 12:06] bakito commented on #6123
I can confirm the comment of @nApucco
We are facing the same issues with OpenShift Resources DeploymentConfig and Route.

helm3 version: version.BuildInfo{Version:"v3.0.0-alpha.2", GitCommit:"97e7461e41455e58d89b4d7d192fed5352001d44", GitTreeState:"clean", GoVersion:"go1.12.7"}

OpenShift:
openshift v3.9.68
kubernetes v1.9.1+a0ce1bc657

[2019-08-19 15:21] thomastaylor312 commented on #1904
@irajdeep Sounds great! I would target Helm v3 as we are mostly focusing on bug fixes for v2

[2019-08-19 15:38] irajdeep commented on #1904
sounds cool, I will start working on it then

[2019-08-19 15:38] irajdeep commented on #1904
/assign

[2019-08-19 22:09] waveywaves commented on #6237
@jdolitsky I have worked on this already.
Can you assign this to me ?

[2019-08-20 01:37] ygnr commented on #3701
I ran into this as well, any better solutions other than deleting the chart?

[2019-08-20 09:03] aftouh commented on #6123
We are facing the same issue with Istio VirtualService CRD.

`Error: UPGRADE FAILED: unable to decode "": no kind "VirtualService" is registered for version "networking.istio.io/v1alpha3" in scheme "k8s.io/client-go/kubernetes/scheme/register.go:65"`

Helm version: version.BuildInfo{Version:"v3.0.0-alpha.2", GitCommit:"97e7461e41455e58d89b4d7d192fed5352001d44", GitTreeState:"clean", GoVersion:"go1

[2019-08-20 16:57] mward29 commented on #5628
good work all. I ran into this messing around with Alpha.2. Looks like its been fixed for next alpha release. Just wanted to say Thanks.

[2019-08-20 17:13] mattfarina commented on #6238
This should not have been removed. PRs welcome to restore it.

[2019-08-20 17:23] sukruthakittur commented on #6240
I am running into the exact same issue. I opened up a ticket with Az flex.

[2019-08-20 17:27] mattfarina commented on #6245
There are a few options that could be pursued.

1. Run Helm as a controller in a cluster accessible via an API. There are a couple projects looking to do this
2. Shell out to helm and execute commands. This can be wrapped in an API in other languages
3. We'd need to create a spec for Helm interactions (it's on the todo list) and than create an implementation in another language

I would suggest on

[2019-08-20 17:45] mattfarina commented on #6247
I think this is a UX bug. PRs welcome to fix.

[2019-08-20 17:46] mattfarina commented on #6248
This was added to v2 after the v3 development branch was started and it has not been ported for v3, yet. This needs to be ported. PRs welcome to do so.

[2019-08-20 18:05] mattfarina commented on #6249
A `.helm` directory is created but it now follows [XDG for the base directory](https://standards.freedesktop.org/basedir-spec/basedir-spec-latest.html). #6244 has been opened to provide a command that will show the locations.

This setup will require Internet to connect to the Kubernetes cluster. The Kubernetes cluster will need internet access to pull any images. Helm currently does not pull imag

[2019-08-20 18:15] mattfarina commented on #6250
`and` is part of Go templates. You can read about it at https://golang.org/pkg/text/template/#hdr-Functions. You can read the code for Go 1.12 at https://github.com/golang/go/blob/release-branch.go1.12/src/text/template/funcs.go#L309

[2019-08-20 18:30] mattfarina commented on #6252
Looking at the template you shared, `spec.metrics.resource.target.averageUtilization` is not valid. `spec.metrics` is an array.

How are you trying to do an upgrade?

[2019-08-20 18:33] kierenj commented on #6252
Humm, just the normal way, via helm upgrade. I dont understand how normal deploy would work but upgrade wouldn’t?

[2019-08-20 18:53] mattfarina commented on #6252
I see. `metrics` is not available on that resource version.

Take a look at the v2beta1 version of the spec ([here](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.11/#horizontalpodautoscalerspec-v2beta1-autoscaling)) and compare it to the v1 version of the spec ([here](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.11/#horizontalpodautoscalerspec-v1-autoscaling)

[2019-08-20 19:03] kierenj commented on #6252
No - all I did was install my chart, then change the averageUtilization value and upgrade. Weird!

[2019-08-20 19:09] marckhouzam commented on #6115
This is now available in the `acceptance-testing` repo (dynamic completion testing is still pending).
#6256 would allow to run these tests from the Helm repo.

[2019-08-20 19:09] #6115 closed

[2019-08-20 20:28] sukruthakittur commented on #6240
@mattfarina  - The agent node logs are pretty good and gave me enough information to debug the issue. In my case I had the wrong client secret.

[2019-08-20 20:31] salowenh commented on #6240
I'm still having this issue, there is no error on `kubectl describe pods`

[2019-08-20 21:26] Ch3atToW1n commented on #3055
None of the above solutions worked for me, but the instructions at the following link did.

https://scriptcrunch.com/helm-error-no-available-release/

[2019-08-21 02:54] Veitor opened #6257 "The result of command Helm get values don't include comments"
I have a values file `values-production.yaml` with comments such as:
[code]

And I use command `helm install -n=test --values=values-production.yaml some-chart` to deploy application on my Cluster. But, when I used command `helm get values test`, the result just like this:
[code]
There is no any comments. Where is my comments? How to keep comments?

---

Output of `helm version`:
[code]

Output of

[2019-08-21 06:39] innerpeacez opened #6260 "Can I keep pvc when I execute 'helm uninstall'?"
I want to keep the data when I delete the chart resource, so I set the reclaimPolicy of the storageClass to Retain, then I execute 'helm uninstall', but helm will delete the pvc when the resource is deployment, what should I do to keep the pvc? Could you help me? ,Thank you

Output of `helm version`:
[code]
Output of `kubectl version`:

[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.):

[2019-08-21 06:50] fallenangelblog opened #6261 "How to helm uninstall without delete pvc"
Output of `helm version`: v3.0.0-alpha.2

Output of `kubectl version`:v1.14.0

#### Hey guys. I have these files in my chart. Can I use `helm uninstall` without delete `pvc`?
├── Chart.yaml
├── README.md
├── templates
│   ├── NOTES.txt
│   ├── _helpers.tpl
│   ├── configmap.yaml
│   ├── deployment.yaml
│   ├── ingress.yaml
│   ├── pvc.yaml
│   ├── service.yaml
│   └── serviceaccount.yaml
└── value

[2019-08-21 08:37] LessMo commented on #3587
If I have only 1 tag, the chart is loaded when tag is missing in values.yaml
[code]

When I have 2 tags, the chart is not loaded when 1 tag is false and another tag is missing.

[code]

[code]

It's really confusing. 🙃

[2019-08-21 09:53] andytom commented on #6079
Looks like this was fixed by #6241.

[2019-08-21 09:53] #6079 closed

[2019-08-21 15:48] mattfarina commented on #6260
A commend recently left on https://github.com/helm/helm/issues/6261#issuecomment-523472128 provides a possible solution for you.

[2019-08-21 15:54] mattfarina commented on #6257
There are a couple things going on here. This may be difficult if not impossible to do.

First, the yaml parsers used by the Go community do not support comments. They are ignored and lost on write. The one golang yaml parser I'm aware of that handles comments is https://github.com/mozilla-services/yaml

Second, when the comments are the same or different above a field how will those be merged int

[2019-08-21 15:55] mattfarina commented on #6252
@kierenj  I wonder if the extra fields were silently ignored. Did you try changing the `apiVersion` to see if that works?

[2019-08-21 16:12] jayunit100 commented on #1174
For folks looking for the simplest answer to this , just run `helm list`, find the *name* of your installed chart, and delete it -  `helm delete xyz `

[2019-08-21 16:26] shamil commented on #5806
I'm experiencing exactly same problem with one of the CRDs, is there any workaround found for this problem?

[2019-08-21 18:04] kevensen opened #6262 "Chart Test Question"
Is it possible to have Helm test charts in sequential order via `helm test ...`?

[2019-08-21 18:08] oscar-martin commented on #5806
We were forced to use an older version of helm (and tiller) due to this.

[2019-08-21 19:09] yevgenypats commented on #6233
@mattfarina  ping. also you can see our latest integrations with other cncf projects [coredns](https://github.com/coredns/coredns), [prometheus](https://github.com/prometheus/prometheus). cheers.

[2019-08-22 00:26] Veitor commented on #6257
I'm using Cloud Provider/Platform called (Alibaba Cloud)[https://www.alibabacloud.com/en](maybe you heard that).

I deploy application through GUI panel, I can write values content with comments on GUI, then click deploy button and it will do. when I finish deploying, I execute `helm get values` on my localhost, the result is my content with comments written on GUI pannel. That means Tiller stored

[2019-08-22 00:31] stevebail opened #6264 "How to create ConfigMap from files provided at helm install"
Hi
I would like to create a ConfigMap from 2 files provided at helm install using the --set-file flag.

This is what I have in my ConfigMap template:

[code]

Helm 2 is returning the following error:
$ helm install <chart-name> --name <release-name> --set-file firstFilename=abc.xml --set-file secondFilename=cdf.xml

Error: YAML parse error on rc-oam/templates/rc-oam-cm.yml: error converting YAML t

[2019-08-22 00:35] innerpeacez commented on #6260
thanks a lot

[2019-08-22 02:34] nscozzaro commented on #5580
I just wanted to add my datapoint that I started getting this error when I switched on GKE from
`--machine-type n1-standard-2 --num-nodes 1` to `--machine-type f1-micro --num-nodes 4`. Not sure why that would cause the issue though.

[2019-08-22 07:42] karamsahu commented on #1455
@maximestevenot thanks for your solution. It worked for me. The error is gone now.

[2019-08-22 12:54] anusreePrakash opened #6267 "Helm 3 template throwing error"
Output of `helm version`:

[code]

Issue: this issue is related to https://github.com/helm/helm/issues/6116

[code]

[2019-08-22 14:25] sc250024 commented on #2492
Does anyone know how to do this when setting something for an `affinity` rule? For example, on the NGINX Ingress chart at `stable/nginx-ingress`, I want to set the `controller.affinity` value to be the following:

[code]

If I just use `{{ tpl .Values.controller.name }}` for the `component` section it works, but I also need the `app` and `release` portions.

[2019-08-22 16:20] mattfarina commented on #6262
By default Helm v2 is supposed to run them in serial. There is a `--parallel` if you want to run them in parallel. What problem are you having?

[2019-08-22 16:41] kevensen commented on #6262
Hi @mattfarina Thanks for the answer.  I am not having any problems :-).  I am just trying to understand the behavior.  What determines the order?

[2019-08-22 17:11] mattfarina commented on #6264
`--set-file` is a variant of `--set` to handle setting values (e.g. for the values files). This isn't a place to pass in custom files. You'll need to take a different path to import the contents of the file.

[2019-08-22 17:37] mattfarina commented on #6262
If I understand it right, and I might not because this is nested deep in Helm, when a release is created a set of YAML manifests is created and sent to Kubernetes. The tests are run in the order in which the manifests appear in the generated output. The generated manifests are sorted. For example, they are sorted by kind using a custom sorter (code [here](https://github.com/helm/helm/blob/df5ca23a

[2019-08-22 17:42] kevensen commented on #6262
Fair enough.  Thanks for the insight.

[2019-08-22 17:42] #6262 closed

[2019-08-22 18:13] stevebail commented on #6264
Hi Matt
Any suggestions to import instance-specific config files into ConfigMap?

-Steve

[2019-08-22 20:15] winromulus commented on #5915
The timestamp workaround did not work for me.
Unless I delete the configmap and apply it again, helm upgrade does nothing.

`helm version`
[code]

`kubectl version`
[code]

[2019-08-22 23:05] dylburger opened #6269 "[Airflow chart] proper use of git secret for init-container / private git repo"
Hi y'all,

I'm encountering an issue with the `stable/airflow` chart and was hoping someone may be able to point me in the right direction.

I'm currently using the following `values.yaml` file:

[code]

in the attempt to pull DAGs from a private git repo, as noted in [the `init-container` instructions for the chart](https://github.com/helm/charts/tree/master/stable/airflow#use-init-container). I'

[2019-08-23 01:23] stevebail commented on #3403
Same problem both with latest Helm 2 and 3
Both .Files.Get and .Files.Glob are not returning any data.
Example:
data:
  config1: |-
{{ (.Files.Glob "/config/*").AsConfig | indent 4 }}
  config2: |-
{{ .Files.Get "data.xml" | indent 4 }}

Results:
data:
  config1: '{}'
  config1: ""

[2019-08-23 02:32] ericsuhong opened #6270 "helm upgrade --wait should fail when pods are still stuck at init state"
For example, I am installing a prometheus chart using this command:

`helm upgrade --install --atomic --wait --timeout 2700 ...`

Sometimes, some pods do not actually finish installing, and they are stuck in "init" state (due to failing to get PVC claim):

kube-system    prometheus-server-bfdc4794-jjkm8               0/3     Init:0/2            0          6m1s

However, helm still thinks the chart

[2019-08-23 07:45] robinelfrink commented on #6130
We have the same issue on kubespray-deployed clusters.

[2019-08-23 08:03] ternes3 opened #6273 "installation of tiller 2.14.3 failed"
I currently try to install helm on our Kubernetes master. But it doesn't work, because tiller failed.
[code]

When I try to pull it with docker pull:

[code]

docker pull hello-world works fine.  zip is installed.

Output of `helm version`:
[code]

Output of `kubectl version`:

[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
own plattform based on proxmox (vm: ubuntu server 18.04.03 via

[2019-08-23 12:16] mumoshu commented on #2492
@sc250024 Hey! Where do you define the `nginx-ingress.name` template in your values.yaml template?

It needs to be defined beforehand with `{{define ...` as explained in https://golang.org/pkg/text/template/#hdr-Actions

[2019-08-23 12:23] mumoshu commented on #2492
Also - `{{.Release.Name}}` works only within strings under `releases[].values` in `helmfile.yaml`.

This should work:

[code]

This doesn't work:

[code]

I think it worth a dedicated feature request if you need one of those.

[2019-08-23 12:24] sc250024 commented on #2492
@mumoshu it's not defined in my values file, it's something that's included in the NGINX Helm chart located at `stable/nginx-ingress`. That's my point actually, I'm trying to use that template that's already in that chart.

For the record, I'm not using `stable/nginx-ingress` as a subchart in a chart I'm developing; I'm just using it directly to deploy NGINX ingress.

[2019-08-23 13:18] mumoshu commented on #2492
Unfortunately It's impossible as Helmfile (values) templates works independently from Helm (chart) templates, and `nginx-ingress.name` is a template defined within the Helm chart for use in chart templates.

Probably the only way would be to copy the `{{define "nginx-ingress.name"}}` block defined in the nginx chart into your helmfile values template `values.yaml`?

[2019-08-23 13:33] mattfarina commented on #6269
The warning you received was a YAML merging error:

[code]

`secret` has a default value of `{}`. You can see it [here](https://github.com/helm/charts/blob/02f24b0e556af7bcd724b3b2811e6fdeacc8b83a/stable/airflow/values.yaml#L446). In your YAML you have a string.

It looks like the proper format should be a string. You can see the usage [here](https://github.com/helm/charts/blob/02f24b0e556af7bcd72

[2019-08-23 13:49] mattfarina commented on #6273
There appears to be a checksum failure. I am unable to reproduce.

Do you have a proxy between you/your cluster and gcr?

[2019-08-23 14:05] hickeyma commented on #5907
Thanks @bacongobbler for the doc PR.

[2019-08-23 15:19] dylburger commented on #6269
Great, thank you @mattfarina . Just to confirm, you're saying the default value of `dags.git.secret` should be:

[code]

Is that right?

I can definitely file a PR. Thanks for the quick help.

[2019-08-23 15:26] C0conuts opened #6275 "Missleading linting error message when no values.yaml file is provided for a chart"
Hi!

 ### The summary

In the chart of my project, I'm using several values files such as:
- `values-staging.yaml`
- `values-production.yaml`

Despite the chart successfully deploying, the linter would throw an error I could not understand:

[code]
 ### How to reproduce

Create a test chart with the following files:
* `Chart.yaml`

[code]
* `values-staging.yaml`

[code]

And two templates:

- `fir

[2019-08-23 16:06] hickeyma commented on #6023
@karuppiah7890 try running the cmd in the description

[2019-08-23 17:05] zodraz opened #6276 "Config map from an INI file"
Hi,

I am trying to create a configmap from an INI file like this:

INI file contents below:

TEST_ENVIRONMENTVARIABLES1=TENV1VAL
TEST_ENVIRONMENTVARIABLES2=TENV2VAL
TEST_ENVIRONMENTVARIABLES3=TENV3VAL

And the configmap on the helm chart is:

apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "env.configmap.fullname" . }}
  namespace: {{ .Release.namespace }}
  labels:
    app: {{ templ

[2019-08-23 18:34] bianpengyuan opened #6277 "Remove global value does not take effect in dependency chart"
This happens when running `template` command, not sure if it happens to other commands. When removing a value from global using `null`, it does not remove that value from subchart if it is declared as dependency. Using `docs/examples/alpine` as an example to reproduce:
[code]

Run `helm template --set global.key=null --debug alpine`, output is:
[code]

Output of `helm version`:
Client: &version.Ve

[2019-08-23 18:36] bianpengyuan commented on #6277
Also note this only happens when subchart is declared as dependency. Removing `requirements.yaml` makes helm work as expected.

[2019-08-23 20:54] Airwise opened #6278 "Helm3: Does not work with AWS s3 plugin - unsupported protocol scheme "s3""
The hypnoglow s3 repo plug-in installs fine and I can use it to initializes a helm repo in AWS s3, but when attempting to add the repo to helm I get:
[code]

It looks like the plug-in (https://github.com/hypnoglow/helm-s3) has been inactive for about 10 months so if there was some change in how plug-ins work or register supported protocols in helm3 (vs helm2) that could be the culprit.  But I'm ju

[2019-08-23 21:30] dreic opened #6279 "BUG: Annotation value breaks helm deployment"
Output of `helm version`: v2.14.3

Output of `kubectl version`:

Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.3", GitCommit:"5e53fd6bc17c0dec8434817e69b04a25d8ae0ff0", GitTreeState:"clean", BuildDate:"2019-06-06T01:44:30Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"windows/amd64"}
Server Version: version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.8", GitCommit:"a89

[2019-08-23 21:33] Airwise commented on #6279
Looks like the annotation expects a string.  Have you tried quoting the hash value in your template?
I.e.
```git.commit-hash: "{{ .Values.git.commit_hash }}"```

[2019-08-23 21:37] dreic commented on #6279
Unfortunately no, just prepended value with sha-, didn't have time to debug.

[2019-08-24 00:58] karuppiah7890 commented on #6023
I tried that actually and I wasn't able to reproduce the issue

On Fri, Aug 23, 2019, 9:37 PM Martin Hickey <notifications@github.com>
wrote:

[2019-08-24 06:27] joelanford opened #6280 "Proposal: repair command to reset resources have been changed outside helm"
If a release's resources are changed outside of Helm, it is desirable to repair them, effectively resetting them back to the latest release manifest without actually performing an upgrade or otherwise changing the release state. This has the nice property of being idempotent.

I found #3805, saw that `helm upgrade` was updated to use a strategic three-way merge in #6124, and remembered that I had

[2019-08-25 08:40] andytom commented on #6246
Looks like this was fixed as part of #6241.

[2019-08-25 08:40] #6246 closed

[2019-08-25 12:38] Leekao opened #6281 "Can I run a job pre-deploy?"
Not really an issue, I'm trying to get helm to run a job in the middle of an install, the job should run after the configmaps were set but before the pods are starting to deploy, is it even possible using current hooks? is there a pre-deploy hook or something like that?

[2019-08-25 17:25] radu-matei commented on #5670
FYI - I've been playing around with this idea of using TUF - https://github.com/helm/helm/pull/6282

[2019-08-25 19:18] towolf commented on #6281
That's one of the most common usages of hooks.

Add to both ConfigMap and Job `helm.sh/hook: pre-install`.

Add to Job `helm.sh/hook-delete-policy: hook-succeeded`.

[2019-08-26 02:01] zffocussss commented on #4020
@subravi92  me too.I am using 2.14.2.
It works in my local PC.but when in bitbucket pipeline,it fails

+ echo 'Error: Get http://localhost:8080/api/v1/namespaces/kube-system/pods?labelSelector=app%3Dhelm%2Cname%3Dtiller: dial tcp [::1]:8080: connect: connection refused'
Error: Get http://localhost:8080/api/v1/namespaces/kube-system/pods?labelSelector=app%3Dhelm%2Cname%3Dtiller: dial tcp [::1]:8080

[2019-08-26 02:49] mfilotto commented on #2918
I also have this issue on long running hooks
Kubernetes v1.13.5
Helm v2.10.0

[2019-08-26 05:31] ternes3 commented on #6273
Yes I am behind a enterprise network. I set proxy via env and via systemd (docker).
Until now I haven't any problem with those settings.

[2019-08-26 09:43] #4199 closed

[2019-08-26 10:08] MirtoBusico commented on #4903
[SOLVED] It was an helm problem

I solved completely eliminating tiller from the cluster

First I removed the helm snap

[code]

Then I removed tiller compnents from the cluster (awaiting operations completion)

[code]

Then I installed helm from the helm site
Created the tiller service account (created file helm-rbac.yaml)
[code]
Then installed helm
[code]
Created the ~/.kube/config file
At this

[2019-08-26 10:15] ThilinaManamgoda opened #6283 "Sub-chart deleting order"
Is there a way to control the sub chart deleting order?. For example lets' assume the chart **A** is a dependency for chart **B**. When we execute `helm del <RELEASE_NAME>`, instead of deleting both charts **A** and **B** at the same time, delete chart **A** before chart **B**.

Output of `helm version`:
[code]

Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.):

[2019-08-26 13:24] mattfarina commented on #6275
This would be a great feature addition. PRs welcome.

[2019-08-26 13:34] drewwells opened #6284 "lines with multiple {{ tpl }} cause arg formatting errors"
Output of `helm version`:
2.14.3
Output of `kubectl version`:
1.15.3

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
N/A

[code]

This seems okay except when passed through toYaml to tpl. For example,
[code]

[code]

[2019-08-26 13:38] mattfarina commented on #6283
There is not. There are other tools built on top of Helm that allow ordering to be controlled. For example, OpenStack needs ordering controlled and they use Armada that last I looked.

Kubernetes is declarative. In theory order should not matter. This is the case often argued. Some applications do require ordering and some tools have been created to help with that.

[2019-08-26 13:38] mattfarina commented on #6281
You can learn about the hooks at https://helm.sh/docs/charts_hooks/#hooks

[2019-08-26 13:51] drewwells commented on #6284
workaround: remove tpl from Values.yaml

[2019-08-26 13:55] mattfarina commented on #6278
Can you test this against the latest on the dev-v3 branch. From the looks of it, this is a bug.

[2019-08-26 13:58] drewwells commented on #6284
Quotes without tpl also cause the formatting errors
`url: "http://{{ .Values.endpoint.sub }}.{{ .Values.endpoint.domain }}/"`
[code]

`

[2019-08-26 17:36] ThilinaManamgoda commented on #6283
@mattfarina Thanks for the response. Although order doesn't matter In Kubernetes we can still control the order with Init containers. For example it is possible to wait until database getting ready before starting the main application. It would be better if we can have the similar approach for deleting the stack(delete database at last).

[2019-08-26 19:21] dreic commented on #6279
Yeah it looks so, so quotes are required to force value as string.

[2019-08-26 19:21] #6279 closed

[2019-08-26 21:16] pmkc opened #6287 "could not find repository file in helm3.0.0-beta1"
Error:
[code]

`helm add repo` seems to work fine

I tried deleting ~/.helm, running `helm init`, using an instatllation that I had started with the alpha. nothing worked.

Output of `helm version`:
version.BuildInfo{Version:"v3.0.0-beta.1", GitCommit:"f76b5f21adb53a85de8925f4a9d4f9bd99f185b5", GitTreeState:"clean", GoVersion:"go1.12.9"}

[2019-08-26 23:16] i850899 opened #6288 "version"
Output of `helm version`:

Output of `kubectl version`:

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

[2019-08-26 23:51] eightnoteight commented on #3156
shouldn't this be part of helm? using helm in production needs diff and I feel like using helm according to the plugin release cycle doesn't feel right

[2019-08-27 01:28] karuppiah7890 commented on #6116
@liorfr we are still debugging it, I think we'll soon raise the PR. Also, could you tell us what command you ran, helm version and the output you got? It might help with more data for debugging :smil

[2019-08-27 01:42] monchaio commented on #6287
Found same issue.

helm repo update
Error: couldn't load repositories file (): open : no such file or directory

[2019-08-27 01:42] karuppiah7890 commented on #6288
@i850899 Could you please post more details in the issue ? Like what command was executed and the issue along with the details in the template

[2019-08-27 06:16] zodraz commented on #6276
Hi,

I'd like to happen the first scenario. End up in a configmap reformatted as YAML like this:

data:
  a: a
  b: b

Cheers

[2019-08-27 07:32] wilmardo opened #6290 "Helm v3 template command is missing flags that v2 have"
Output of `helm version`:

[code]

Helm 2:

[code]

Helm 3:

[code]
Use cases:

- With helm v2 it is possible to specify the Kubernetes version when generating templates with `--kube-version`. This flag is missing in Helm v3, is this a design choice?
Is it possible to set the Kubernetes version to generate for?

Over at ceph/ceph-csi I am working on a PR where the yaml deployments are generated fr

[2019-08-27 09:42] rimusz commented on #6287
facing the same issue, it breaks usage of `helm3.0.0-beta1`

[2019-08-27 10:22] izinovik opened #6291 "Non working zsh autocompletion script"
Looks like helms completion script for zsh does not work properly.

[code]

[code]

Output of `helm version`:
[code]

[2019-08-27 10:56] hickeyma commented on #6287
Closing as PR #6292 merged.

[2019-08-27 10:56] #6287 closed

[2019-08-27 10:57] hickeyma commented on #6287
Thanks for the fix @akashshinde

[2019-08-27 12:53] karuppiah7890 commented on #6275
If the templates are not rendered with the default values.yaml , shouldn't we throw an error? I do understand that there are different values yamls that works for users, but there's no default in this case, so if anyone uses the chart with no values yaml, then it would fail which should be explicit and the same should happen for linting or templating with no values yamls.

A better way to tackle s

[2019-08-27 15:06] karuppiah7890 commented on #6275
To add to the above, if linting should not fail without passing values yamls, a default values yaml should be present in the chart and it's a good practice to have default values yaml, so that anyone can easily install the chart with sane defaults - it's okay even if it's not prod values which could be drastically different

[2019-08-27 15:11] hickeyma commented on #6278
@Airwise This maybe fixed in the [beta1 release](https://github.com/helm/helm/releases/tag/v3.0.0-beta.1) from yesterday. Can you test against it?

[2019-08-27 15:29] waveywaves commented on #5733
I would like to work on this.
Can you assign this to me ?

cc @hickeyma  @mattfarina @bacongobbler

[2019-08-27 18:18] Silvest89 opened #6297 "Helm v3 helm repo update cannot load repositories file [MAC]"
I am using helm 3 beta1
Somehow helm tries to load an empty path string?
[code]

[code]

[2019-08-27 19:00] akashshinde commented on #6297
@Silvest89 this issue is already been fixed here https://github.com/helm/helm/pull/6292

[2019-08-27 19:07] andytom commented on #6247
Have done some initial work on this in https://github.com/helm/helm/pull/6296, will continue to work on this.

[2019-08-27 19:29] amnk commented on #6252
I faced this issue on GKE, where Google apparently modifies hpa with some admission webhook.

[2019-08-27 20:01] hickeyma commented on #6297
Closing as fixed in #6292

[2019-08-27 20:01] #6297 closed

[2019-08-27 20:50] hickeyma commented on #6291
@izinovik Can you test with the latest version of Helm to see if it is fixed for you?

[2019-08-28 02:06] RyanSiu1995 commented on #5628
Thank you the work from you guys. In beta version, the namespace flag has been respected.
In helm 2, if we specify a namespace that isn't existed, helm will try to create that for us.
But in helm 3 beta version, I just realized that the namespace will not be autocreated. Is it an intended behaviour?

[2019-08-28 05:48] bakito commented on #6123
I tried with beta v1 and it solves my problems too.
version.BuildInfo{Version:"v3.0.0-beta.1", GitCommit:"f76b5f21adb53a85de8925f4a9d4f9bd99f185b5", GitTreeState:"clean", GoVersion:"go1.12.9"}

[2019-08-28 07:44] izinovik commented on #6291
I installed helm 2.14.3 for Linux and completion script works without any troubles.

[2019-08-28 07:44] #6291 closed

[2019-08-28 08:13] regentov opened #6304 ""helm get" should show details from Chart.yaml"
[Documentation](https://github.com/helm/helm/blob/master/docs/helm/helm_get.md) on "helm get" states that you can retrieve "The chart used to generate the release".

This is not completely true since the contents of Chart.yaml can not be retrieved (and even is not stored in appropriate TILLER-NAMESPACE's configmap).

The Chart.yaml often contains important info such as "description", "home", "sour

[2019-08-28 09:03] hickeyma commented on #5628
@RyanSiu1995 This is intended behaviour to mimic the same behaviour as `kubectl create --namespace foo -f deployment.yaml`. Namespaces are a global cluster resource and the user installing resources into that namespace may not have the proper administrative rights to install the namespace itself. Therefore, Helm 3 now requires for the namespace to be created in advance. It is described in more det

[2019-08-28 09:05] hickeyma commented on #6123
Closing following confirmation in https://github.com/helm/helm/issues/6123#issuecomment-525563269 and https://github.com/helm/helm/issues/6123#issuecomment-525593936. Thanks @ento and @bakito. We can re-open the issue if need be.

[2019-08-28 09:05] #6123 closed

[2019-08-28 09:08] tleveque commented on #6287
I have same issue.

helm repo update
Error: couldn't load repositories file (): open : no such file or directory

Is there any workaround except waiting for new beta2 release ?
Thanks

[2019-08-28 09:12] hickeyma commented on #6287
@tleveque You can do a build from the `dev-v3` branch.

[2019-08-28 10:00] rimusz commented on #6287
we should cut a new release of beta 2 ASAP, as beta 1 is useless as no charts can be installed

[2019-08-28 10:01] hickeyma commented on #6304
It does provide most details of the chart templates that deploy the release. There are probably some fields that could be displayed that are stored but not shown. @regentov  Would you like to work on a PR to extend the output?

[2019-08-28 10:04] hickeyma commented on #6287
Sure @rimusz, we will look to do it asap.

[2019-08-28 10:16] rimusz commented on #6287
as we want good UX, and most of the users will not build it themselves :-)

[2019-08-28 10:22] hickeyma commented on #6287
I agree @rimusz . I was just giving @tleveque a work around in the meantime.

[2019-08-28 10:27] regentov commented on #6304
As far as I understand, not a single "optional" field from [Chart.yaml docs](https://helm.sh/docs/developing_charts/#the-chart-yaml-file) is stored.

So they should be (1) stored and (2) displayed.
Cannot do the PR.

[2019-08-28 10:51] waveywaves opened #6305 "`helm template` does not have -x flag"
Upon running `helm template traefik/ -x templates/deployment.yaml`. I get the following output
`Error: unknown shorthand flag: 'x' in -x`

Output of `helm version`:

version.BuildInfo{Version:"v3.0+unreleased", GitCommit:"27e70c8f1da5be31a27512b97dc4bda2a9b7c90a", GitTreeState:"clean", GoVersion:"go1.12.6"}
Output of `kubectl version`:

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

[2019-08-28 10:53] waveywaves commented on #6305
Seems that `helm template` wasn't properly ported over from helmv2. It makes sense to have to for templating individual resources.

[2019-08-28 10:57] hickeyma commented on #6290
The template flags seem to have been removed in 2571dbf82feb2697c9434bd6b2a69c4491b74100. @adamreese any reason why they were removed> Should some/all of them be added back in?

[2019-08-28 11:02] hickeyma commented on #6305
Closing as duplicate of #6290

[2019-08-28 11:02] #6305 closed

[2019-08-28 11:04] hickeyma commented on #6288
@i850899 What is the output of `helm version`?

[2019-08-28 11:07] hickeyma commented on #6284
@mattfarina maybe you might be able to provide some insight?

[2019-08-28 12:14] ikulis commented on #5891
I have same problem in never version
[code]

[code]

[2019-08-28 12:18] KaLyanRv commented on #6128
Did you anyone used this helm command and failed?

[2019-08-28 12:55] dominik-ba commented on #4876
For me it looks like this does not work with values.
This example just prints out `ports:` and nothing else ...
[code]

values.yaml contains this
[code]
Am I doing something wrong or is this not supported?

[2019-08-28 14:04] salowenh commented on #6240
thank you @sukruthakittur but unfortunately we've moved on with kubectl for now. we might get back to Helm as we replace FlexVolume with InitContainer

[2019-08-28 14:04] #6240 closed

[2019-08-28 14:23] wilmardo commented on #6290
@hickeyma This is now somewhat of a catchall issue, for example #6305 isn't a dupe, it is related to #5887

[2019-08-28 14:34] waveywaves commented on #6290
I would like to work on this can you assign this to me ?

[2019-08-28 14:37] hickeyma commented on #6305
Better to say that this issue and other flags missing are in the catchall issue #6920

[2019-08-28 14:39] hickeyma commented on #6290
@waveywaves I would like to get feedback first from @adamreese and then can assign it.

[2019-08-28 14:46] waveywaves commented on #6290
@wilmardo Thanks for that.
@hickeyma I understand that the piece of functionality does not exist due to https://github.com/helm/helm/pull/5888 and design decisions based off of lua, but it made it convenient for someone like me who works with kustomize and helm together and uses helms templating capabilities for individual file. It makes sense to just block a functionality while the other is execu

[2019-08-28 14:58] itaied246 commented on #1707
The bug also happens with `helm ... -f myval.yaml`

[2019-08-28 16:31] kdorosh opened #6307 "Rendering helm chart locally side-effects its dependencies, preventing re-render of the same chart"
`helm version`: v2.13.0 (from Gopkg.toml)

Using the golang helm client to render charts locally, we see the following behavior:

1. call [render](https://github.com/helm/helm/blob/master/pkg/renderutil/render.go#L45) on a chart with subcharts
1. render loads and checks requirements (compares the provided subcharts to the values in requirements.lock), impl [here](https://github.com/helm/helm/blob/

[2019-08-28 17:05] alexandrsemak commented on #6297
Hello,

hm i got the same with new beta1 release:

[code]

[code]

[2019-08-29 01:41] ygqygq2 commented on #4876
@dominik-ba
![image](https://user-images.githubusercontent.com/17672440/63903750-33aa6200-ca41-11e9-891c-3e589a11b2c7.png)

[2019-08-29 02:07] stevebail opened #6311 ".Files.Get returns empty string"
With both Helm 2 (latest version) and Helm 3 (latest version), .Files.Get returns an empty string instead of returning the content of a file.

Example:

apiVersion: v1
kind: ConfigMap
metadata:
  name: cm
data:
  config1: |-
{{ .Files.Get "data.yaml" | indent 4 }}

The data.yaml files exist in the root directory. It has a few values.

$ kubectl get cm app-1-cm -o yaml
apiVersion: v1
data:
  config

[2019-08-29 02:08] stevebail commented on #6311
labels=bug

[2019-08-29 02:08] #6311 closed

[2019-08-29 02:09] stevebail opened #6312 ".Files.Get returns empty string"
With both Helm 2 (latest version) and Helm 3 (latest version), .Files.Get returns an empty string instead of returning the content of a file.

Example:

apiVersion: v1
kind: ConfigMap
metadata:
  name: cm
data:
  config1: |-
{{ .Files.Get "data.yaml" | indent 4 }}

The data.yaml files exist in the root directory. It has a few values.

$ kubectl get cm app-1-cm -o yaml
apiVersion: v1
data:
  config

[2019-08-29 04:22] github4es commented on #3447
Post https://abc.us-west-2.eks.amazonaws.com/api/v1/namespaces/kube-system/configmaps: dial tcp IP:443: i/o timeout

  on modules eks_nodes.tf line 17, in resource "kubernetes_config_map" "aws_auth":
  17: resource "kubernetes_config_map" "aws_auth"

has anybody experienced this?

[2019-08-29 04:55] mingfang commented on #3553
I don't agree.
If the `--namespace` is optional then the user setting that option knows what they are doing.
Do not assume you know better than the user.

[2019-08-29 05:11] dominik-ba commented on #4876
Ok that was embarrassing... :D thanks alot!
Maybe it would be good if there was an error instead of nothing printed in this case...
Thanks anyways :)

[2019-08-29 06:59] waveywaves commented on #6304
I will be working on this @hickeyma :)
Do assign this to me.

[2019-08-29 08:14] csupi opened #6313 "Helm upgrade with conditional dependencies"
requirements.yaml:
[code]

values.yaml:
[code]

With `helm install chart --name examplerelease --values values.json` the mysql subchart is not installed.

Then `helm upgrade examplerelease chart --reuse-values` ignores the `mysql.enabled=false` value and installs the mysql subchart which is not the expected behavior.
In contrast, with `helm upgrade examplerelease chart --reuse-values --set mysql.e

[2019-08-29 10:51] alexandrsemak opened #6314 "Helm v3 beta 2 --debug don't show rendering template"
Output of `helm version`:

`version.BuildInfo{Version:"v3.0.0-beta.2", GitCommit:"26c7338408f8db593f93cd7c963ad56f67f662d4", GitTreeState:"clean", GoVersion:"go1.12.9"}`

Output of `kubectl version`:

[code]

Hello,

`helm upgrade --install --debug` don't show rendered template.

[code]

[2019-08-29 12:39] danielbjornadal opened #6315 "helm ls - Error: Unauthorized"
Many `helm` commands returns `Unauthorized`. I`m not sure what to do, or where to start debugging?

Example:
[code]

Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
On premise, Debian 9. Kubernetes installed with RKE (Rancher)

[2019-08-29 14:17] #6250 closed

[2019-08-29 15:01] woshifudayun commented on #2071
I'm experiencing the same issue here. Getting ` open /Users/yun/.helm/repository/cache/local-index.yaml: no such file or directory` even when the file is there as I can find it.