[2017-09-25 06:02] egeland opened #2966 "Feature request: Tolerations and node affinity on tiller"
It would be good if it was possible to supply tiller with a (for example)
`--toleration="key=value:taint"` to allow it to tolerate taints (so it can run on master nodes, for example) and `--node-affinity="key=value"`, so we can prefer to schedule tiller onto non-spot instances in AWS, for example.

I'm a Go novice, but I can try to implement, if someone more knowledgable  can assist, especially wi

[2017-09-25 12:01] gayanjay commented on #2422
@sky-big, Did you find a way to make this work? Do you have this issue yet?

[2017-09-25 13:12] cristifalcas opened #2967 "errors between tiller and helm when using ssl"
Hello,

I have tiller configured with ssl, but when I'm trying to install a chart, this is what the server is reponding to helm:

    2017/09/25 13:11:16 grpc: Server.Serve failed to complete security handshake from "127.0.0.1:51418": tls: first record does not look like a TLS handshake

Any ideas what I'm doing wrong?

Best regards,
Cristian

[2017-09-25 13:15] mattfarina commented on #2722
@JeanMertz would `helm-template` plus `kubectl` provide a similar set of functionality to what you have in kubecrt?

@BugRoger Do you ever have the case where you need to switch computers or have multiple members of a team manage lifecycle of an app? Note, I really like that list. It would be great if the charts guide talked about more of this.

[2017-09-25 13:28] mattfarina commented on #2937
@mcwienczek I would start in the repo package...

https://github.com/kubernetes/helm/blob/eea32faaadf8891f6882b00f0dfe828e5cbe8e0e/pkg/repo/chartrepo.go#L111-L115

Instead of trimming a suffix and just appending the index file name, you might update this to use the `url` package manipulate the url and generate a valid string.

[2017-09-25 16:13] mattfarina opened #2968 "Update Roadmap wiki"
The roadmap wiki, linked in the README, is out of date. It should likely link to the milestones and explain them. It currently talks about features back in the 2.3.0 timeframe when a roadmap wiki page was required for incubation.

[2017-09-25 16:18] bacongobbler commented on #2968
This was noted in https://github.com/kubernetes/helm/issues/694#issuecomment-322363075 so we should definitely update the documentation to point at the github milestones at the very least.

[2017-09-25 16:55] gdmello commented on #2827
Got this issue as well. Here's my setup-
kubernetes: 1.7.1
AWS
Client: v2.5.0
Server: v2.6.0

i'll have to try @philchristensen suggestion.

[2017-09-25 17:49] bacongobbler commented on #2967
Hey @cristifalcas, can you show the documentation and steps you followed on how you set up tiller with HTTPS? Also how are you connecting to tiller? Are you using HELM_HOST? WHat command are you running to get this error?

[2017-09-25 18:09] aegixx commented on #1436
Very similar issue here - had a bad helm template syntax that I fixed and I _think_ maybe an upgrade attempt happened while one was already in-progress.  Right now, if I run a `helm delete`, I get the same old syntax error that is no longer present: ```
╰─⚡ helm delete kapacitor-provisioning --purge
Error: error validating "": error validating data: [found invalid field env for v1.PodSpec, found i

[2017-09-25 18:26] snavien opened #2969 "Helm Chart: auto string-ize integers"
While trying to install my helm chart, I have received this error:
`[debug] Created tunnel using local port: '63163'
[debug] SERVER: "localhost:63163"
[debug] Original chart version: ""
[debug] CHART PATH: /hermes-1.1.4-dev19.tgz
Error: release hermes-deploy failed: DaemonSet in version "v1beta1" cannot be handled as a DaemonSet: [pos 626]: json: expect char '"' but got char '9'`

Not only did tha

[2017-09-25 19:11] jascott1 commented on #2966
Hi @egeland

We have some expanded init options coming in 2.7 including the ability to `--set` arbitrary keys and values in the Tiller deployment manifest. Hopefully this will address your needs but please let me know if there are any gaps.
https://github.com/kubernetes/helm/pull/2557

[2017-09-25 19:42] bacongobbler commented on #2969
This is something I know we definitely documented in Chart Best Practices. When developing charts, it is best to [make the type very explicit](https://docs.helm.sh/chart_best_practices/#make-types-clear), as YAML is not very clear on type as opposed to other markup languages like JSON or TOML.

I agree though that the debug information you received from Helm is less helpful than it should be. The

[2017-09-25 20:23] JeanMertz commented on #2722
@mattfarina I explained in https://github.com/kubernetes/helm/issues/2722#issuecomment-331733367 why I don't think it does. But, I have to investigate more to know for certain 👍

[2017-09-25 20:32] rcorre commented on #2655
I just discovered the hard way that `helm.ReleaseListFilter(name)` matches any part of the name, so my suggestion above doesn't work. Back to scraping strings ...

[2017-09-25 21:10] bacongobbler commented on #2722
Yes this is outdated. It was meant to be just a debugging tool but others have discovered its usefulness as a deployment tool as well (in combination with kubectl).

Helm has a concept called [umbrella charts](https://docs.helm.sh/developing_charts/#complex-charts-with-many-dependencies) which also solves this use case, however alternative tooling works too. It's just that these concepts already w

[2017-09-25 22:40] bacongobbler commented on #2935
When you say

How are you creating the chart manually, and are you supplying the directory name to `helm install`? Can you please provide steps on how you installed the Helm client? As far as I understand kubespray it only sets up tiller which is the server-side side of helm, which is not required for `helm create`.

For example, you should be able to do the following:

[code]

And it should insta

[2017-09-25 23:19] egeland commented on #2966
Sounds promising - I added a note requesting documentation examples, to the ticket you linked to 😀

[2017-09-26 00:06] jdolitsky commented on #1896
@ahawkins @alonl ChartMuseum provides an alternative approach to this problem, similar to the solution @technosophos described above. It does not offer some of the nice features of app-registry (channels etc.), but it works natively with the Helm CLI
https://github.com/chartmuseum/chartmuseum

[2017-09-26 05:54] cindy06 commented on #1723
same issue at here:
helm version --debug
Client: &version.Version{SemVer:"v2.6.1", GitCommit:"bbc1f71dc03afc5f00c6ac84b9308f8ecb4f39ac", GitTreeState:"clean"}
[debug] context deadline exceeded
Error: cannot connect to Tiller

[2017-09-26 07:22] JeanMertz commented on #2722
Thanks for the pointers @bacongobbler. I do believe that Helm templating + umbrella charts could replace `kubecrt` for us. I have to dig into this some more, but some questions that pop up into my head (no need to answer them, I'll find the answers once I dig into this at a later point in time, but just wanted to write them down nonetheless):

* Can I use Helm's (and Sprig's) templating functional

[2017-09-26 07:30] gowthamsadasivam opened #2970 "Cannot connect to Tiller - context deadline exceeded"
I have a three (1 master + 2 minions) nodes Kubernetes cluster up and running on Cent OS 7.

**Kubernetes Version**: `v1.5.2`

**Kubernetes Config** :

**Kubernetes Cluster Info** :

I've just followed the Helm installation steps from the documentation. After downloading the "helm" binary to the system path I did : `# helm init`

I can see `Tiller` pod is running : `# kubectl get pods -o wide --al

[2017-09-26 14:11] arehmandev commented on #2947
To add to this, if the configmap generated by helm is too big, it will not store the 'release', but it will deploy things. So you have to manually delete resources via kubectl delete

[2017-09-26 14:42] kevinchee opened #2973 "`helm template` not usable in v2.6.1"
As I understand, the `helm template` command should be available in `v2.6.1`. Am I missing something here?

[code]

[2017-09-26 15:01] paulczar commented on #2133
I have similar issues as well.  I am trying to pass in a k8s dns for cassandra child package which is dependent on {{ .Release.Name }} and {{ .Release.Namespace }}.

[2017-09-26 15:20] MaksymTrykur commented on #2956
Also experiencing this issue with the latest helm version.

[code]
Steps to reproduce:

[code]

[2017-09-26 15:35] bacongobbler commented on #2973
The command is implemented as a plugin and was only recently merged to master. It will be int v2.7.0.

To add the plugin, use `helm plugin install https://github.com/technosophos/helm-template`.

[2017-09-26 15:35] #2973 closed

[2017-09-26 18:00] mattfarina commented on #2968
@bacongobbler seems I have edit access to the wiki. Is there a review process to update it? I'm happy to do it.

[2017-09-26 18:19] bacongobbler commented on #2968
Oh hey, so do I! :)

No, I don't think there's a formalized review process to update the wiki. Since it's largely been eclipsed with https://docs.helm.sh I think we can change it at-will. I'll fire off a quick PR to update the README.

[2017-09-26 18:41] Stelminator opened #2975 "relative path home directory doesn't work"
I was trying to use a relative path home directory with [mcuadros/terraform-provider-helm](https://github.com/mcuadros/terraform-provider-helm) so that it would be portable to my CI system (currently Terraform Enterprise) and work for other developers.  I discovered that relative paths for helm's home directory did not work as expected when I attempted to work around https://github.com/mcuadros/te

[2017-09-26 19:00] bacongobbler commented on #2975
I opened a similar ticket at https://github.com/kubernetes/helm/issues/2839. Someone is working on it at #2862.

[2017-09-26 19:07] Stelminator commented on #2975
@bacongobbler I saw your #2839, but missed #2862.  I am uncertain if everything I've mentioned would be fixed by #2862.  Close this one if you wish.

[2017-09-26 22:27] bacongobbler commented on #2970
looks like a duplicate of #2409. Can you please comment on that ticket? It doesn't seem like a cloud provider specific problem if it's happening on different deployments.

[2017-09-26 23:41] rprobotics commented on #2975
@Stelminator I'll go through this issue, and fix up any cases that I've missed in my PR. Sounds like the other issue you linked is beyond the scope of my PR. I can look into that issue as well, but most likely I won't be able to get started on it for at 2-3 weeks.

[2017-09-27 00:40] Stelminator commented on #2975
@rprobotics if `--home=` works with relative paths, I think my workaround for https://github.com/mcuadros/terraform-provider-helm/issues/23 would actually work.  There may yet be a better solution to that one, but, either would unblock me from combining helm and Terraform Enterprise.

[2017-09-27 03:01] spesnova commented on #1896
@jdolitsky Hi! I saw ChartMuseum yesterday and it's awesome. It looks ChartMuseum doesn't have AuthN yet. Do you have a plan to implement AuthN to it? or Is there way to enable auth for ChartMuseum now?

[2017-09-27 03:20] jdolitsky commented on #1896
@spesnova thanks! Currently no built-in authentication/authorization. Please file an issue on the repo describing your needs. One option (for now) is to put ChartMuseum behind something like Nginx that will handle this piece for you

[2017-09-27 09:35] Smana commented on #2634
I faced the same issue there and we use the workaround by setting localhost to the ipv4 loopback.
However that'd be preferable to disable ipv6 from helm.

[2017-09-27 12:30] redbaron commented on #2885
Proposed fix in https://github.com/kubernetes/helm/pull/2976 works for us. Tested with recent prometheus-operator update where deployment apiversion changed

[2017-09-27 12:57] goostleek opened #2977 "Error installing from provided script"
Installation [from script](https://github.com/kubernetes/helm/blob/master/docs/install.md#from-script):
[code]
fails with the message:
[code]

#### UPDATE 1:
The command succeeds only when performed directly on `root`, `sudo` is not enough and also fails.

#### UPDATE 2:
Debug output:
[code]

#### Update 3:
The problem occurs if the script was executed by `root`, then the `root` removed installed

[2017-09-27 13:36] goostleek commented on #2977
The problem occurs if the script was executed by `root`, then the `root` removed installed `helm` binaries and another user reruns the installation script. The reason is that the script does not perform `/tmp` directory cleanup. There are temporary files written with different rights and subsequent installation script execution by a different user fails to overwrite it. **Manual `sudo rm -rf /tmp/

[2017-09-27 17:04] bacongobbler commented on #2941
This is definitely unexpected behaviour. Only the most recent release should be in a "DEPLOYED" state.

From another person's deployment I was looking at this morning, this just looks to be a visual/API bug and not a production issue. Kubernetes only has the latest version deployed even if an older release shows in `helm history` as DEPLOYED.

Can the next person that hits this bug please show the

[2017-09-27 19:33] rguthriemsft opened #2979 "error calling eq: invalid type for comparison"
I was going through the getting started and in the section on flow control and if a value is commented out in my values.yaml (in this case the drink attribute), adding flow control eq operator throws an error like below when I run:

`helm install --debug --dry-run <My Chart>`

Output:
`Error: render error in "mychart/templates/configmap.yaml": template: mychart/templates/configmap.yaml:9:8: execut

[2017-09-27 19:42] bacongobbler commented on #2979
This is a side effect of Go's text/template package. If a value is unset, it is returned as a nil value. So really what you want to do in this case is

[code]

If values are considered "optional", the chart should check and determine if the value is unset first.

Hope this helps!

[2017-09-27 19:44] bacongobbler commented on #2979
Alternatively, if that value is required in order to render the chart, then you would want to use the [required function](https://docs.helm.sh/developing_charts/#know-your-template-functions).

[2017-09-27 20:28] rguthriemsft commented on #2979
I was able to get it working with your help with a slight modification:

  {{ if **( .Values.favorite.drink )** and eq .Values.favorite.drink "coffee" }}mug: true{{ end }}

How do I submit a documentation update as this was pulled from https://docs.helm.sh/chart_template_guide/#getting-started-with-a-chart-template in the section on if/else?

[2017-09-27 21:50] bacongobbler commented on #2979
Making a change to https://github.com/kubernetes/helm/blob/master/docs/chart_template_guide/getting_started.md in the form of a PR will update https://docs.helm.sh :)

[2017-09-27 22:04] Stelminator commented on #2975
@rprobotics @bacongobbler #2862 and removing the lines below seems to fix my issue.  #2862 fixes the repro above, then removing these lines makes everything seem to work.  I'm not sure about the backwards compatibility mentioned above them, though.
https://github.com/kubernetes/helm/blob/8cf72adf521311225274fa835a2b04060eeb781a/pkg/repo/chartrepo.go#L136-L138

[2017-09-27 22:53] thoyt commented on #2941
@bacongobbler, here's the configmap. It looks like it's here as deployed.
[code]

[2017-09-28 02:17] thomastaylor312 commented on #2318
Closed in #2849

[2017-09-28 02:17] #2318 closed

[2017-09-28 04:34] #2968 closed

[2017-09-28 07:56] gowthamsadasivam commented on #2409
I'm also having this problem. I have a bare-metal three (1 master + 2 minions) nodes Kubernetes cluster up and running on Cent OS 7.

**Kubernetes Version**: `v1.5.2`

**Kubernetes Config** :

**Kubernetes Cluster Info** :

I've just followed the Helm installation steps from the documentation. After downloading the "helm" binary to the system path I did : `# helm init`

I can see `Tiller` pod is r

[2017-09-28 08:01] gowthamsadasivam commented on #2970
Hello @bacongobbler

Thanks for the comment & suggestion. I'm running on bare-metal, not a cloud provider specific problem. I just commented this at #2409 thread and will follow up from there. Closing this issue now.

[2017-09-28 08:01] #2970 closed

[2017-09-28 10:37] #2865 closed

[2017-09-28 12:40] Starefossen commented on #2060
I was very disappointed when I found out that Helm does not adhere to the concept of identifying releases based on their name and namespace. In my opinion this does not follow the design principles of Kubernetes where resources are unique within their respective namespace (with exception of some global resources).

As other posters have commented in this thread we have have multiple environment-su

[2017-09-28 13:11] Starefossen commented on #2347
Any update on this? Would like to use required in my custom charts, but that breaks all my CI/CD builds 😕

[2017-09-28 14:43] tjquinno opened #2983 "`helm delete` reports "lost connection to pod" "Error: transport is closing" despite apparent success"
helm 2.6.1 client and server
k8s 1.7.4 (same behavior with 1.7.0 also)

I have seen several issues discussing "lost connection to pod" but none that I recognize as matching our case.

When I run `helm delete --purge _releaseName_`  helm reports
[code]
Yet the `delete` seems to have succeeded. All the k8s resources defined by the chart are cleaned up as expected. The tiller log looks like this:
[co

[2017-09-28 16:16] seh commented on #2962
You could narrow the "apiGroups" set on the "pod-lister" _Role_ above.

[2017-09-28 17:08] naphthalene commented on #2909
Please include the full YAML. Its impossible to debug parse errors.

Sometimes there's no line number included either, making it even harder:

[code]

[2017-09-28 17:14] #2717 closed

[2017-09-28 17:16] bacongobbler commented on #2909
There is a new feature being rolled out in the 2.7 release called `helm template` which should assist in debugging these issues. You can try out one of the canary releases if you feel like giving it a shot!

[2017-09-28 17:18] bacongobbler commented on #2909
Given that `helm template` was rolled into core in #1887 I think we can call this issue closed.

For anyone using older clients, you can use the `helm template` plugin via `helm plugin install https://technosophos/helm-template`.

[2017-09-28 17:18] #2909 closed

[2017-09-28 18:35] naphthalene commented on #2909
Thank you @bacongobbler !

[2017-09-28 18:40] thoyt commented on #2941
I'm running into this again today but this time it's a bit worse. We have two revisions marked as deployed, but this time the corresponding deployment objects in kubernetes belong to the old revision. I had to delete the old deployments before the upgrade successfully created the deployments for the new revision.

Just as above, the helm revision metadata in the configmap shows the revision as dep

[2017-09-28 18:52] bacongobbler commented on #2941
Yes this seems more like an actual bug so let's mark it as such.

[2017-09-28 22:00] jondlm commented on #1796
I can confirm that rolling back to revision `0` works.

`kubectl rollout undo deployments <name> --to-revision = 0` works the same way.

[2017-09-28 22:16] bacongobbler commented on #1796
I think I've mentioned it a few times in Slack... Not sure how this issue skipped past my view. Yes, this has been a feature since #1248 was first introduced a year ago from today :)

I recall a long time ago (as seen in #1248), calling `helm rollback <release-name>` would imply a revision of "0", causing a rollback to the previous release. It appears the version is now a mandatory argument for `h

[2017-09-29 04:53] ipedrazas opened #2985 "expose port 44135 in tiller deployment"
Right now the `tiller` deployment only exposes port `44134` (as you can see [here](https://github.com/kubernetes/helm/blob/master/cmd/helm/installer/install.go#L141)).

Tiller exposes probes and metrics in `44135`. Because tiller doesn't expose that port and does not contain any Prometheus annotations, making Prometheus scrape tiller is a bit more complex.

By adding port `44135` we can automatica

[2017-09-29 08:25] bcorijn commented on #1796
Strange enough last time I tried this, Helm gave as output it rolled back successfully but I saw no changes in my cluster. It has been on my todo list to look into, but I was expecting it might have just been removed from Helm as this feature was never documented.

[2017-09-29 17:20] bacongobbler commented on #2963
`--set` overwrites existing fields in a chart's values *after* it has already been parsed by the YAML parser, so how this behaviour occurs makes sense.

There have been several questions around how users can reference fields elsewhere in values.yaml using the go template engine, but I think it'd be better if we can support native YAML syntax. Perhaps we can fix this in core, but one way to test th

[2017-09-29 17:25] Stelminator commented on #2975
This turned out to not be necessary.  See https://github.com/kubernetes/helm/pull/2862#issuecomment-332975515

[2017-09-29 17:26] bacongobbler commented on #2985
I'm certain this was due to security concerns over exposing metrics to the entire cluster and turning this on by default for all users, but I wasn't present at the time when this decision was made. There must have been a specific reason why this wasn't enabled by default.

#2171 has the original discussion/design around this feature. Specifically https://github.com/kubernetes/helm/pull/2171#issuec

[2017-09-29 17:30] bacongobbler commented on #2958
This looks like a chart upgrade issue rather than a Helm issue, per se. The behaviour on how the chart was named was changed in https://github.com/kubernetes/charts/commit/1b2ad923ae111bdff761d85c14da7f62a91cea6f#diff-df86d0f1c7721d7866b0319ac74efe55, so it looks like it's working as it was originally intended. I would open an issue at http://github.com/kubernetes/charts unless it's actually a cor

[2017-09-29 17:30] #2958 closed

[2017-09-29 17:45] bacongobbler commented on #2983
This looks like https://github.com/kubernetes/helm/issues/2025 if it's well below the default timeout (5 minutes). Can you check on the load balancer fronting your kubernetes master API, and comment on that issue? That way we can keep the discussion all in one place. Thank you! ❤️

[2017-09-29 17:45] #2983 closed

[2017-09-29 17:47] ChristianWeyer commented on #2795
I am having the exact same problem.
Is there already any solution?

Thanks!

[2017-09-29 17:55] bacongobbler commented on #2795
Hi @ChristianWeyer. Can you please explain your issue in more detail?

- How did you install minikube?
- What option flags were sent with `minikube start`?
- What version of minikube/helm?
- What is the output of `cat ~/.minikube/config/config.json`?

[2017-09-29 18:00] bacongobbler commented on #2795
You can also try to run the following to help diagnose the issue:

[code]

And in another terminal:

[code]

[2017-09-29 19:07] dcwangmit01 commented on #2848
FYI... I think the escape workaround only works depending on the application.  I've tried all permutations of escaping, including "!!str true", and it still doesn't work for nginx-ingress-controller.    It looks like I might have to fork the chart this point.

[2017-09-29 19:12] dcwangmit01 commented on #2848
I'm curious if the fix for this issue:
  https://github.com/kubernetes/helm/issues/1449

Has created the bug in this thread.

[2017-09-29 19:53] jascott1 commented on #2887
@furuholm Just realized I was seeing a separate issue with `file://` paths and conflated it with yours (sorry about that).  `requirements.yaml` specifies the source for the chart, so Im not sure that it makes sense to have source and destination (charts/) be the same.

[2017-09-29 20:08] danielyinanc opened #2987 "Golang requirement is actually >= 1.7, stated as 1.6 on Developer Guide"
Go 1.6.0 or later is claimed to be Prequisite, however 1.6 goLang build attempts result in this error:
vendor/k8s.io/client-go/rest/request.go:21:2: cannot find package "context" in any of:

context package is added as of 1.7, hence effective minimum version of GO required to build helm is actually 1.7 and above.

[2017-09-29 20:12] bacongobbler commented on #2987
A lot of the core maintainers just always use the latest version of Go. We should just document that you should be using the latest version of Go on HEAD because there are a few new features like type aliases and test helpers which we might be using soon, and those are both Go 1.9 features. https://github.com/kubernetes/helm/pull/2126#issuecomment-325397035

[2017-09-29 20:18] danielyinanc commented on #2987
@bacongobbler that is a good idea however there may be some package dependencies relying on earlier versions of Go in the future.

Also a small number of us (including myself) are actually building it to deploy via binaries to solve some infrastructure type of problem preventing 'helm init' to work correctly. These folks need some stable version of Go to build as they need  to support infrastructu

[2017-09-29 20:41] bacongobbler commented on #2987
That hasn't ever been a problem (and if it is, we'd love to hear about it!). Go 1.x has always been backwards compatible with older releases, so compiling packages that "rely" on older versions of Go will still work the same on later releases. The only time this will break is when Go 2.0 comes out.

Go follows semantic versioning very carefully and should be considered a gold standard when it come

[2017-09-29 20:58] khenidak opened #2989 "Tiller does not correctly verify apiserver cert"
If Kubernetes default service ip (first ip of service cider) is not in the cert used by apiserver tiller will not complain, leaving tiller subject to man in the middle attacks.

[2017-09-30 08:13] ChristianWeyer commented on #2795
Seems like I had one or more outdated components - most likely Helm.
Thanks for your help! It now works :-)

[2017-09-30 09:14] furuholm commented on #2887
I think it’s perfectly resonable to disallow charts as the source directory. But I also think it is reasonable to assume that many users will put them there when starting using relative charts. I think a better error message is the way to go.

[2017-09-30 11:09] ipedrazas commented on #2985
Metrics are exposed by default, but the port is not defined. I would understand metrics not being enabled by default and to have a flag to enable/disable this feature, as the comments in #2171 say. But that's not the case.

Right now, we expose the metrics but in order for Prometheus to scrape them, we have to manually modify the tiller manifest. I'm not very keen on this way of working since it b

[2017-09-30 14:11] mcwienczek commented on #2937
Thank you for the heads up @mattfarina. I have posted first draft of PR. Could you please review it for me? Thank you in advance for help.

Unfortunately I have a feeling that URL string is overused in the repository. I decided, though, not to refactor half of the application just to use URL struct, as it might break some backward compatibility. Therefore I decided to go with bugfix for current ve

[2017-10-01 08:48] flyer103 opened #2991 "add vendor pkgs into the repo"
Though it's convenient to use `glide` to do package management,  fetching vendor packages may be a problem due to various reasons such as the [GFW](https://en.wikipedia.org/wiki/Great_Firewall) alike in some countries where network accessing has some restrictions.

If the repo could add the vendor packages, it will reduce some burden of making contributions to helm for developers:

* the project c

[2017-10-01 09:59] flyer103 commented on #2987
Maybe using `golang image` other than golang binary on every developers' environment could make building helm uniform.
Example: https://github.com/thockin/go-build-template/blob/master/Makefile#L81

[2017-10-01 19:59] omkensey opened #2993 "Can't refer to aliased subcharts by alias names in master chart"
I have a chart with two subcharts in progress.  The subcharts have hyphenated names, so to avoid working around hyphens in YAML keys, I aliased them to non-hyphenated names.  However, when I try to use the alias names in the parent chart's templates, I get a render error if the values.yaml has the unaliased names for the subchart value keys; if the aliased names are used, then the subchart value k

[2017-10-02 03:01] spesnova commented on #1896
@jdolitsky

I see, thanks!

[2017-10-02 07:53] lachie83 opened #2994 "CRDs not being applied correctly"
I'm seeing the following when installing the chart in this PR https://github.com/kubernetes/charts/pull/2369

[code]

If I render the files with CRDs manually using `helm template` and install using `kubectl create -f` they work just fine.

[code]

[2017-10-02 07:59] lachie83 opened #2995 "Helm hooks not being processed in correct order"
I'm having issues ordering the creation of the following resource in this PR - https://github.com/kubernetes/charts/pull/2369.

I have a bunch of CRD pre-install resources with a weight of 1 and a bunch of custom resources with a hook weight of 2. I expect the resource with a weight of 1 to be installed first. Instead I see the behaviour works some of the time and other times results in

[code]

T

[2017-10-02 08:00] lachie83 commented on #2995
Seeing the following in tiller logs
[code]

[2017-10-02 09:47] redbaron commented on #2994
Look at prometheus-operator, helm is not waiting for third party resource to become fully registered, therefore one off install hook is necessary

[2017-10-02 13:59] danielyinanc commented on #2987
That can help, due to docker DNS requirements, had to build it for ubuntu servers, a lot of enterprise folks will have similar issues... found some abandoned docker images to support projects.

Anything that can make the build process standardized and easier, can assist in adoption of Helm big time IMHO.

[2017-10-02 14:42] bacongobbler commented on #2987
Once https://github.com/kubernetes/helm/pull/1929 has been merged that workflow will become available. I would open a separate ticket as that discussion is separate from the OP.

[2017-10-02 14:53] lachie83 commented on #2994
In this chart the services aren't creating the CRDs. The chart itself creates the CRDs. I've used hooks to order the creation but helm is having trouble applying them to Kubernetes

[2017-10-02 15:04] bacongobbler commented on #2995
The proper annotation is actually `helm.sh/hookWeight`, not `helm.sh/hook-weight`. Your hooks don't have a weight assigned to them :)

Perhaps this is something we should capture in `helm lint` as I've seen this occur more than once.

[2017-10-02 15:05] bacongobbler commented on #2995
https://github.com/kubernetes/helm/commit/05d0fcb774d8134b49e60587f4dd7db98c8ef7b7

[2017-10-02 15:07] bacongobbler commented on #2994
Is this a cascading failure from #2995? Let's try the proposed fix in that issue first and see if that fixes things.

[2017-10-02 15:48] kwilliams057 commented on #1996
+1 for updating this to a bug.
I ran into the same problem. The charts were orphaned and i had to manually delete all the resources helm created and couldnt do a helm delete --purge

[code]

[2017-10-02 16:27] lachie83 commented on #2995
Let's update the docs too -- https://github.com/kubernetes/helm/blob/master/docs/charts_hooks.md

[2017-10-02 17:06] tjquinno commented on #2025
As @bacongobbler suggested I'm summarize my experience with the same problem here.

helm 2.6.1 client and server
k8s 1.7.4 (same behavior with 1.7.0 also)

When I run `helm delete --purge xxx` helm reports

[code]
Yet the delete seems to have succeeded. All the k8s resources defined by the chart are cleaned up as expected. The tiller log looks like this:

[code]
That's the end of the log. It conta

[2017-10-02 18:52] unguiculus commented on #2995
`helm.sh/hook-weight` is correct. The mentioned commit above is the original one in the PR. It was changed by my review.

https://github.com/kubernetes/helm/pull/2157#issuecomment-290982046

https://github.com/kubernetes/helm/blob/master/pkg/hooks/hooks.go#L27

[2017-10-02 19:32] lachie83 commented on #2994
This didn't help. I believe there's some funniness when using CRDs/TPRs with hooks. https://github.com/kubernetes/helm/issues/2680

[2017-10-02 19:46] ysh7 commented on #2989
Yes doesn't verify tls by default, you need to configure tls while running [helm init](https://github.com/kubernetes/helm/blob/master/docs/helm/helm_init.md).

[2017-10-02 20:02] bacongobbler commented on #2995
Huh, so it did. My bad. https://github.com/kubernetes/helm/commit/b9ef8dbe563e6626c047d1cf91b1367ac7f087c2#diff-4ce0c4408808dad0b46844b92388f205

[2017-10-02 21:40] omkensey commented on #2993
I believe the attached file is a minimal reproducer for showing the issue -- from what I understand, it should work, but instead throws a render error.

[testchart-0.2.0.tar.gz](https://github.com/kubernetes/helm/files/1350498/testchart-0.2.0.tar.gz)

[2017-10-02 22:24] jascott1 commented on #2887
I agree an error for that situation would be an improvement. Its confusing because you can just put charts into charts/ dir and not use requirements.yaml and that works.

[2017-10-02 22:25] jascott1 commented on #2887
@furuholm Im going to close this since we understand the problem but please open an issue for a better error if you feel strongly about it. Thanks!

[2017-10-02 22:25] #2887 closed

[2017-10-03 04:08] lachie83 opened #2996 "Helm unable to print InitializerConfiguration"
Kubernetes 1.7.5 with Helm 2.6.1. Chart found here -- https://github.com/kubernetes/charts/pull/2369
[code]

[2017-10-03 05:23] bacongobbler opened #2997 "consider switching to dep"
As per [the latest release of glide](https://github.com/Masterminds/glide/releases/tag/v0.13.0), it would seem that it'd make sense to migrate over to [dep](https://github.com/golang/dep) as that is starting to be absorbed into the core Go toolchain [according to their roadmap](https://github.com/golang/dep/wiki/Roadmap).

[2017-10-03 09:42] nsitbon opened #2998 "helm dependency update fails after helm upgrade"
Hi

I'm using Helm from Concourse pipeline I just upgraded Helm to 2.6.1 (from 2.4.2) and my pipeline doesn't work anymore.
The culprit line seems to be https://github.com/kubernetes/helm/blob/v2.6.1/pkg/downloader/manager.go#L220
[code]
I cannot change the path used by Concourse  but if I do the same command manually on my mac from my home directory (i.e not from /tmp) it works:
[code]
As far as

[2017-10-03 10:36] sabbour commented on #949
This is a needed feature. Another use case:
Web frontend running in a service talking to multiple microservices over the internet (Javascript calls) deployed in their own services.

I need a way to be able to find out what's the public IP of a specific service from within the container.

Currently DNS exposes the service.namespace (which is internal), and the environment variables expose the inter

[2017-10-03 12:10] Morriz commented on #2013
yeah...why is it not using the specified namespace on upgrade? anybody can explain?

[2017-10-03 13:43] mattfarina commented on #2997
If there are issues switching to dep please file an issue with that project so they can correct the problem.

[2017-10-03 13:47] sstarcher commented on #2956
Seen this again with other failure cases.

[2017-10-03 13:54] MaksymTrykur commented on #2956
Actually it may be stuck in Pending for any failed update.

https://github.com/kubernetes/helm/blob/master/pkg/tiller/release_update.go#L158
Second argument most certainly should be true, because updatedRelease is already created at line 45.

[2017-10-03 17:08] redbaron commented on #2956
will be solved once https://github.com/kubernetes/helm/pull/2960 is merged

[2017-10-03 17:44] #2933 closed

[2017-10-03 17:44] #2934 closed

[2017-10-03 17:46] bacongobbler opened #3000 "write index file atomically"
Creating a ticket to track discussion around re-implementing #2449 due to #2938. We need a way to prevent clients from seeing half-written index files. On POSIX systems, renaming a file is an atomic operation.

[2017-10-03 17:49] bacongobbler commented on #1639
re-opening due to #2938. The PR that fixed this ticket introduced a library that uses a BSD+patents license which is in direct conflict with Apache v2's license.

A good writeup on the situation is here (on React, but the discussion is also relevant for Helm): http://writing.jan.io/2017/08/19/understanding-the-facebook-vs-asf-license-kerfuffle.html

[2017-10-03 17:59] #2794 closed

[2017-10-03 18:57] mcwienczek commented on #2937
UPDATE: I think I've been able to find the code that is responsible for that bug and fixed the issue at the root. I have also added one test. I hope that is enough to fix that bug.

[2017-10-04 04:35] macropin commented on #2257
@technosophos can we please have this labeled as a bug

[2017-10-04 06:12] redbaron commented on #2998
It seems that either source or destination is mount point, therefore rename doesn’t work. If you change your concourse pipeline so that both source and destination are on the same mount point it should work

[2017-10-04 06:58] redbaron commented on #2257
I am sorry, but solution is also well understood and was mentioned multiple times: store SUCCESS/FAILURE states per individual resource, rather than whole manifest. then generate patches  against last successful resource version, not last manifest irregardless of its version like it is happening now.

[2017-10-04 07:21] nsitbon commented on #2998
I know and like I said I'm just a Concourse user I cannot change how it works and how it mounts directory. However I expect Helm working whatever the configuration like before.

[2017-10-04 12:54] bacongobbler commented on #2998
This should be a relatively quick fix. I know what’s causing this. I’ll make a PR this morning.

[2017-10-04 12:55] bacongobbler commented on #2998
For now you should downgrade to v2.5.x.

[2017-10-04 13:30] bacongobbler commented on #2257
@redbaron, please be nice.

I assume this is the key point in the discussion here that is blocking it from happening:

If this assumption is wrong and you have a patch that fixes it to save state from each individual resource, please feel free to contribute a fix!

[2017-10-04 14:23] nsitbon commented on #2998
This is exactly what I did. Thx @bacongobbler

[2017-10-04 16:35] beeradb opened #3001 "Helm converts integers to scientific notation even when quoted"
### What happened

Our build uses git commit hashes for container tags during the build and then runs our helm chart tests using all the build containers for that specific commit. We had an instance this morning where the tag was completely numeric. As such, the tag got converted to scientific notation.

I was able to find some documentation on this at https://docs.helm.sh/chart_best_practices/#ma

[2017-10-04 16:55] bacongobbler commented on #3001
closing as a duplicate of #1707.

[2017-10-04 16:55] #3001 closed

[2017-10-04 22:09] ljnelson opened #3004 "Code consolidation opportunity in pkg/chartutils/requirements.go?"
I think—I am not sure, and am no kind of Go expert, so feel free to close this issue if I am mistaken—that [this block in `coalesceValues`](https://github.com/kubernetes/helm/blob/v2.6.1/pkg/chartutil/values.go#L281-L303) can simply become a call to [`coalesceTables`](https://github.com/kubernetes/helm/blob/v2.6.1/pkg/chartutil/values.go#L310-L332), reducing duplication.

Filed per @jascott1's req

[2017-10-04 22:14] jascott1 commented on #3004
@ljnelson Thanks for pointing this out during your investigation of the code base. Im going to label as refactor so we can take a look and see if we can remove some code.

[2017-10-04 23:23] #2885 closed

[2017-10-04 23:53] arthurlm44 opened #3005 "argument and yaml parsing type errors"
Since upgrading to helm 2.6.1, from 2.5.1 I've been encountering this issue:

[code]

The helm command is:
[code]

and the chart starts with:
[code]

This worked fine in 2.5.1 but is broken in 2.6.1

I've tried from file via `-f` flag but get the same type error.

Strings are parsed fine, but integers (which used to be automatically converted to floats, which in itself was a bug) are no longer com

[2017-10-05 05:49] gladiatr72 commented on #2963
Hrm... well, according to the [YAML 1.2 spec](http://www.yaml.org/spec/1.2/spec.html) under Section 2.2 (Structures):

given example:
[code]

Meh.  Definitely not a solution, per-se.  I'm sure there is some quite valid reasons for patterning kubernete's config schemas after XML (c'mon... lists of single-element dictionaries for environment variables?)

**actual question**

With `values.yaml` conta

[2017-10-05 05:54] gladiatr72 commented on #2963
Hrm.  One solution would be to provide a gotpl function to run the `{k:v, kn: vn} ->[{name: k, value: v}, {name: kn, value: vn}]` transform.  It would then be at the discretion of the user (rather than an incompatible change).

If it were to allow for the designation of the target structures key names, it would even be generically useful considering how consistently `[{}, {}]` patterns appear to h

[2017-10-05 08:40] odino opened #3007 "Unable to create symlinks"
Ahoi!

Since 2.6.2 we are unable to create symlinks in the charts anymore -- any idea?

If we add a symlink on the root of the chart (ie. `ln -s /tmp env`) and try to install the chart I'll get an error:

[code]

The same chart would work alright with 1.6.1.

PS. I have a test chart to reproduce the issue if you want to have a look, but you can literally just `ln -s` in an existing chart to reprod

[2017-10-05 10:10] redbaron commented on #3007
Yes, going to be interesting how that feature can be reimplemented without looking "too similar" to the  implementation which facebook had.

[2017-10-05 14:05] bacongobbler commented on #3007
Yes, I mentioned the reasoning behind this in the v2.6.2 release notes. The previous ticket has been re-opened.

Let’s keep the discussion rolling along in #1639. Thanks!

[2017-10-05 14:05] #3007 closed

[2017-10-05 14:06] bacongobbler commented on #3007
Release notes: https://github.com/kubernetes/helm/releases/tag/v2.6.2

[2017-10-05 15:21] bacongobbler commented on #3005
To give others some background on why the chart uses a float-point value instead of an int, it's due to some issues with the --set parser with ints being converted to scientific notation in some cases as seen in #1707.

We've attempted a multitude of --set attempts over slack with @arthurlm44 yesterday afternoon:

[code]

None of the above worked. Regardless of the argument whether replica count s

[2017-10-05 17:01] k8vance88 commented on #1769
I downloaded Helm v 2.6.2 and looked at the source and "helm.sh/hook-delete-policy": hook-succeeded doesn't seem to be in there.  Do you know when this will make it into a release?

[2017-10-05 17:10] thomastaylor312 commented on #1769
@k8vance88 This will be landing in 2.7. We will be releasing an RC of it soon once we have the k8s 1.8 support merged in

[2017-10-05 18:12] lachie83 opened #3009 "Helm install with specific chart names not working as expected."
k8s 1.7.6
helm 2.6.2

[code]

[code]

[code]

[2017-10-05 18:19] lachie83 commented on #3009
Looks like there's an issue in determining the latest version. Using --devel works

[code]

[2017-10-05 18:19] lachie83 commented on #3009
cc @viglesiasce

[2017-10-05 18:20] djhaskin987 commented on #2762
I also think one way we might solve this is alter helm so that it simply uses the first "C" that it sees. This is how maven works, and it works pretty well. That way there would only be one "C" deployed.

[2017-10-05 18:56] lachie83 commented on #3009
I worked with @mattfarina on looking into this. The dash in the version denotes a pre-release and hence won't be captured by a default install. Using the --devel tag will install all pre-releases.  We need to go back to the drawing board on how we symver this chart.

[2017-10-05 19:10] ldemailly commented on #3009
thanks for looking into this, is there another character that is allowed and works differently ?
I suppose once the helm works well you can drop the -chartN and it becomes "final" for that istio release

there will be a 0.2.8 soon after 0.2.7 on istio side

or we drop the sync completely and use 1.0.N for helm ?

or maybe you can support 4 digits ? 0.2.7.1 0.2.7.2... ?

[2017-10-05 20:07] holybit commented on #1643
Can we re-open this issue? It's not fixed.

In my case, seeing this below on `--set image.tag=5997578`:

[code]

[code]

[2017-10-05 20:09] bacongobbler commented on #1643
Hey @holybit! #1707 tracks the issue where --set parses integers as scientific notation. Would you mind tacking on your comment there? Thanks!

[2017-10-05 20:31] holybit commented on #1707
In my case, seeing this below on `--set image.tag=5997578`:

[code]

[code]

[2017-10-05 21:16] mattfarina opened #3010 "Expose appVersion in search"
Some charts have the appVersion property. This is now being exposed in monocular (see https://kubeapps.com for examples). Where information about a chart is display (starting with search) can we expose appVersion.

/cc @lachie83

[2017-10-05 22:12] lachie83 commented on #3009
Take a look at semver v2 spec. http://semver.org/ That's what helm implements for chart versioning

[2017-10-05 22:22] ldemailly commented on #3009
I need to write a v3 when I get around to it :-)

in the meantime let's do -pre1 -pre2 ... until the next version of istio is almost ready and we promote the last -preN chart to stable
(but then if it turns out to have even 1 small helm specific bug, we're toast...)

that or decouple the 2 but using a very different version range for helm than istio to try to avoid confusion (to be honest I don't

[2017-10-05 23:04] hobti01 commented on #3005
I have a related issue without using set, Helm v2.6.2.  Thanks for the hints here to get a workaround.

Does not work:
values.yaml
[code]
templates/test.yaml
[code]
Output:
[code]

Does work:
values.yaml
[code]
templates/test.yaml
[code]

[code]

[2017-10-06 01:10] thomastaylor312 commented on #1401
I believe this was added in #1997. Closing.

[2017-10-06 01:10] #1401 closed

[2017-10-06 01:15] thomastaylor312 commented on #2859
This was closed in #2860

[2017-10-06 01:15] #2859 closed

[2017-10-06 01:15] thomastaylor312 commented on #2624
This was fixed with #2860

[2017-10-06 01:15] #2624 closed

[2017-10-06 01:21] thomastaylor312 commented on #2575
Putting this back on the backlog milestone until someone takes it on

[2017-10-06 01:23] thomastaylor312 commented on #2495
It looks like there is some work on this in a fork, but there is no PR yet so I am going to bump it to 2.8

[2017-10-06 01:31] thomastaylor312 commented on #1947
It looks like work has stalled on this so I am bumping back on the backlog milestone. If someone would like to take this on, let us know.

[2017-10-06 01:36] thomastaylor312 commented on #1960
Moved back to Upcoming - Minor

[2017-10-06 01:41] thomastaylor312 commented on #2355
This has been bumped several times, so I am bumping to Upcoming - Minor. @adamreese would like your opinion on if this is a breaking change or something we can pull into a minor version. I think this should be just fine to pull in, but wanted to be sure

[2017-10-06 01:41] thomastaylor312 commented on #1968
This is a meta issue, so I am going to pull it off of any milestone

[2017-10-06 01:53] thomastaylor312 commented on #2994
Related: #2925

[2017-10-06 05:25] unguiculus commented on #3009
I would just decouple the two versions and use normal semantic versioning, but I guess my opinion is not very popular here. Maybe we need to better explain `appVersion` vs. `version`. I think Istio is the only chart that is doing this -chartN suffix thing. I've always found that weird.

[2017-10-06 08:31] hobti01 commented on #2133
We are also having this issue to create "fully qualified" names for subcharts that are known to the parent and child.  We can workaround this by (re)creating all the charts ourselves, but this defeats the purpose of packaged and shared charts.

[2017-10-06 14:59] #2937 closed

[2017-10-06 15:51] matt-deboer opened #3012 "helm init installs incompatible version of tiller"
**Helm Client**: 2.6.2
**OS**: OSX 10.12.3

Running `helm init ...` results in tiller version `2.6.1` being installed, which is not entirely compatible with client `2.6.2`.
(Helm install will fail for users without permissions to create/put in kube-system)

[2017-10-06 18:12] jipperinbham commented on #2797
I'm seeing the same issue and do not have the version prefixed with `v`.

[code]

[code]

[2017-10-06 18:18] prat0318 opened #3013 "Add patch field to .Capabilities.KubeVersion"
There is a use-case where cadvisor endpoint has changed between pre 1.7.2 and post 1.7.3. I want to put prometheus endpoints accordingly. We have `major` and `minor` fields, it will be useful to also get `patch` field.

[2017-10-06 18:25] bacongobbler commented on #3013
Hey! This is a great idea, but it would have to be contributed upstream as kubernetes's core libraries only provide [the major and minor](https://github.com/kubernetes/apimachinery/blob/3b05bbfa0a45413bfa184edbf9af617e277962fb/pkg/version/types.go#L22-L32) version in the API. Would you mind opening a ticket upstream first? Once that's been implemented, we can then take advantage of that new featur

[2017-10-06 18:31] bacongobbler commented on #3012
Thanks @matt-deboer! I'll see if I can verify this and get back to you.

[2017-10-06 21:42] bacongobbler commented on #3012
Hmm, I was unable to reproduce this. I just booted a fresh minikube cluster and ran `helm init` with v2.6.2 and got a v2.6.2 tiller.

<img width="711" alt="helm-version" src="https://user-images.githubusercontent.com/1360539/31299688-86e96bbe-aaa4-11e7-9f0e-fdfa71cb0629.PNG">

Can you demonstrate your setup and/or try again? `helm reset && helm init` should do the trick.

[2017-10-07 05:43] matt-deboer commented on #3012
you're right; my mistake

[2017-10-07 05:43] #3012 closed

[2017-10-07 14:44] hobti01 opened #3015 "Error: transport is closing"
I've seen a few issues with similar timeout situations, but no resolution.

I cannot reproduce this 100%, but it happens regularly on our CI system.  What additional data can I gather to isolate the cause of this issue?

I do not think this is a timeout issue, the error seems to happen right away.

[code]

[code]

[code]

[2017-10-07 18:50] jipperinbham commented on #2797
@bassam I think the issue we're hitting is the result of the charts having a `-suffix`. Similar issues are described in https://github.com/kubernetes/helm/issues/3009 where it's explained you have to use the `--devel` flag when trying to install a chart with the `-suffix` and not providing the `--version``.

[2017-10-07 19:01] thomastaylor312 commented on #2991
@technosophos This may be an interesting one to discuss in the dev call. What do you think?

[2017-10-07 19:05] thomastaylor312 commented on #2993
@omkensey Thanks for doing the due diligence to reproduce this one. I'll try to get around to fixing this. If it isn't a huge blocker, we may wait until 2.7.1 to fix

[2017-10-07 19:08] thomastaylor312 commented on #2994
As a note, we are going to pull the ordering part of this into 2.7

[2017-10-07 19:09] thomastaylor312 commented on #2996
Well this is an interesting one. Marking as a bug

[2017-10-07 19:10] thomastaylor312 commented on #2998
@bacongobbler Did you end up opening a PR for this? Is it a bug that should be pulled into 2.7?

[2017-10-07 19:12] thomastaylor312 commented on #3009
So is there any outstanding fixes or feature adds here? Want to make sure this gets tagged appropriately 🙂

[2017-10-07 19:13] thomastaylor312 commented on #3010
@mattfarina Is this tied in to the discussion that is part of #3009?

[2017-10-07 19:14] thomastaylor312 commented on #3015
@hobti01 Can you give me a few more details about what environment your cluster is running in? We had the same problem in CI and it turned out to be a problem with AWS ELB timeouts

[2017-10-07 19:51] bakkerpeter commented on #1038
Anyone who is looking for a S3 plugin: https://github.com/hypnoglow/helm-s3
I haven't tested it but looks promising

[2017-10-07 19:53] bacongobbler commented on #2998
Sorry didn’t get around to making a PR last week, but I’ll have some free time on Monday. Thanks for the ping :)

[2017-10-07 19:53] bacongobbler commented on #2998
This was a bug introduced in a new feature for 2.6 so yeah it should be slated for 2.7.

[2017-10-07 19:59] lachie83 commented on #2996
This is actually coming from kubectl. Stay tuned

[2017-10-07 20:05] flyer103 opened #3017 "related Job objects won't be deleted when Cronjob object is deleted"
I have created a chart which will run a `CronJob` but after `helm delete`, `Job` objects created by `CronJob` won't be deleted.

The sample chart could be downloaded from [here](https://o6qv1ipxn.qnssl.com/mycronjob.tgz) (The tgz file should be decompressed firstly and then could be installed).

Install the chart:
<img width="842" alt="image" src="https://user-images.githubusercontent.com/829039/3

[2017-10-07 20:20] lachie83 commented on #3009
Thanks Taylor. The referenced ticket is what needs to happen.

[2017-10-07 20:30] omkensey commented on #2993
I think I have a workaround I can use for now, and can PR it to something cleaner later.

[2017-10-07 23:09] ljnelson opened #3018 "Another code consolidation opportunity in pkg/chartutils/requirements.go"
I believe that the lines here (https://github.com/kubernetes/helm/blob/v2.6.2/pkg/chartutil/requirements.go#L261-L293) can be drastically, drastically simplified.

Unless I am missing something (always possible, since I am no kind of Go programmer), this block:

* "sets aside" subcharts that aren't referenced in a `requirements.yaml` in a new list, `chartDependencies` (seemingly as a fix for #2830

[2017-10-08 07:22] hobti01 commented on #3015
Our CI is GitLab.com.  Helm deployment is from the GitLab shared runners in Digital Ocean and our own dedicated runners within our Kubernetes cluster(s) in AWS.

After many trials with different timeout settings for helm and the ELB and more tiller log analysis...

- The job relies upon a ConfigMap that is created during the deployment, but the job is a `pre-install` job. This issue is already ide

[2017-10-08 13:10] charlesverdad commented on #2596
Unfortunately, k8s initializers are still in alpha and won't run in GKE for more than 30 days :( https://cloud.google.com/container-engine/docs/alpha-clusters

[2017-10-09 06:59] redbaron commented on #2998
Marking it as a bug means, that any use of `os.Rename` is a bug "because of concourse". Atomic rename of a `.tmp` folder into final destination next to it is a well known, widely use pattern, there is nothing wrong with it.

@nsitbon , concourse gives you full control over final mounts and file locations.

[2017-10-09 07:21] nsitbon commented on #2998
@redbaron I disagree with "widely use pattern" I mean you should not make any assumptions on the filesystem or impose anything. By the way I don't find anything in the concourse documentation giving me access to the final mounts and file location as concourse is using docker to run its tasks it makes sense to mount the result from one task to another via mount points. Anyway  Concourse or not I do

[2017-10-09 09:06] prat0318 commented on #3013
I have cut an issue upstream #kubernetes/kubernetes/53582

[2017-10-09 11:09] hansharhoff commented on #2004
Is there a way to have helm output the bad yaml so we can debug?

[2017-10-09 16:06] jstriebel commented on #2702
Same here when using `spec.initContainers` in an CronJob. Changes are not reflected in Kubernetes when upgrading. Requesting to change the label of this issue to __Bug__.

Example:
[code]

[2017-10-09 16:40] bacongobbler commented on #2004
https://github.com/technosophos/helm-template

[2017-10-09 21:00] ultimateboy commented on #2013
The easiest way I know how to reproduce the issue is:
[code]

[2017-10-09 21:06] technosophos commented on #2013
Likely, it is querying the namespace to prepare diffs, and the namespace doesn't exist. So no resource diffs can be generated. And it dies with an error.

On an install, we don't have to perform any queries on a namespace until after the namespace is created.

[2017-10-10 00:08] pietromenna commented on #2071
May I give it a try to this issue?

[2017-10-10 00:26] bacongobbler commented on #2071
Sure. Not sure when I self-assigned this but give it a go :)

[2017-10-10 00:49] thomastaylor312 commented on #2071
Removing help wanted since @pietromenna is taking it on

[2017-10-10 01:10] thomastaylor312 commented on #2004
☝️ Which has been merged into master and is coming out in 2.7

[2017-10-10 01:13] thomastaylor312 commented on #3015
@hobti01 If you would like to see some better error messages, feel free to open a specific feature request for it and tag me in it (or ping on slack). I'll close this for now. Thank you for getting back to us!

[2017-10-10 01:13] #3015 closed

[2017-10-10 01:14] thomastaylor312 commented on #2993
@omkensey That would be great! If you don't get around to it, let me know and I'll try to take it on

[2017-10-10 01:18] thomastaylor312 commented on #3009
Ok, thanks for letting me know. Are people in this issue ok with closing this in favor of #3010 or would you like to me keep this open?

[2017-10-10 01:25] thomastaylor312 commented on #3018
Thanks for submitting this! I'll mark as a refactor and help wanted in case anyone would like to do this

[2017-10-10 04:08] ljnelson commented on #3018
Who knows; if I get my confidence together and decide I want to start breaking things in Go maybe I'll take a crack at it!

[2017-10-10 04:48] jdolitsky commented on #1896
@spesnova just following up, ChartMuseum now has support for both basic auth and TLS

[2017-10-10 08:29] BrendanBall commented on #1707
I am also experiencing the same problem on helm 2.6.2.
[code]

[2017-10-10 09:51] theangrydev opened #3020 "Using --wait suppresses debug logs"
This makes it very hard to investigate what is going on with a bad helm upgrade

[2017-10-10 10:25] worldfirst1 commented on #2409
Hi All, I am facing this issue on v2.6.2 and I am running my local kubernetes using minikube.

Has anyone been able to resolve this error ?

[2017-10-10 11:01] spesnova commented on #1896
@jdolitsky Thank you for telling me about!

[2017-10-10 17:14] lachie83 commented on #3009
This can be closed Thanks @thomastaylor312

[2017-10-10 17:14] #3009 closed

[2017-10-10 17:38] bacongobbler commented on #2998
I also disagree, though for different reasons. I was calling out the fact that [we are not utilizing `os.TempDir()`](https://github.com/kubernetes/helm/pull/2790#discussion_r133293551) as an issue, not the fact that using `os.Rename` is a bug. If Concourse sets up and utilizes $TMPDIR correctly, this shouldn't be an issue moving forward, especially since we use `ioutil.TempDir` everywhere else in

[2017-10-10 17:40] bacongobbler commented on #2998
#3021 is the proposed fix. @nsitbon if you have some time and are able to build helm from scratch, would you mind testing that fix? Thanks!

[2017-10-10 19:00] redbaron commented on #2998
It is a fact. It is only way to create a directory with it's content in an atomic way. Every good behaving program creates directories with populated content in this way.  What you are asking is essentially to ban `rename(2)` syscall when called with  directories as an argument. This alone should set alarms off and begs the question is it a right thing to ask. Just search github for `os.Rename`, e

[2017-10-10 20:03] bacongobbler commented on #2998
Right; my PR won't resolve the issue when re-naming directories across devices which is the original issue. I was talking about moving the files from the local directory over to /tmp as it should've been done in the first place, which is actually the wrong way to go about it anyways.

Pulling out of v2.7.0 and tagging as question/support.

[2017-10-10 23:30] #2299 closed

[2017-10-11 00:08] thomastaylor312 commented on #2994
Pulling this out of 2.7 in favor of #2925

[2017-10-11 00:24] thomastaylor312 commented on #3020
@theangrydev Can you give a few more details? Helm and k8s versions, logs without and with `--wait`, etc. will all be helpful

[2017-10-11 07:52] #2642 closed

[2017-10-11 08:19] nsitbon commented on #2998
@redbaron I may not have been clear what I mean by not a "widely use pattern" is not the use of os.Rename but more the fact that you are making assumptions about the layout of the filesytem. Feel free to use whatever syscalls you need for your the data you own but not for the data owned by other. From my point of view it's a regression as my code was working before and now it doesn't. Are you goin

[2017-10-11 08:37] Nin-0 opened #3023 "Invalid data type"
If you run `helm upgrade --install ` and provide a different datatype for an existing value, helm breaks the deployment.

Example:

You have an existing deployment which is running. It contains

values.yaml
[code]
which is refered in a deployment file:

deployment.yaml

[code]

If values and deployment file are changed to:

values.yaml

[code]
deployment.yaml

[code]
Helm breaks the next deploymen

[2017-10-11 09:25] redbaron commented on #2998
Problem is helm "owns" both source and destination of os.Rename.  If you hijack one of them by making it a mount point, it is not a helm problem.

[2017-10-11 09:34] nsitbon commented on #2998
I disagree the creator is the owner so helm is not owning the source.

[2017-10-11 15:31] karthik-ir commented on #2762
I too have almost similar requirement
I have 4 charts A,B,C,D
C Depends on A,B
D depends on A,B

Now if i run `helm upgrade --install {{NAME}} ./C` it works I get ABC working
now the same when I run a next jenkins job for D I’ll be running the same command `helm upgrade --install {{NAME}} ./D` but then this removes C and has ABD installed.

I want all of these under a single name, Because A and B

[2017-10-11 16:47] JeanMertz commented on #2722
Thanks, I'll do that 👍

Yes indeed, but in our case, the `charts.yml` file contains both:

https://github.com/blendle/kubecrt#charts-configuration-file

[2017-10-11 17:05] andreychernih commented on #2947
I think we are having a similar problem, but with `ServiceAccount`. We do have a _single_ copy of a ServiceAccount resource in our chart. When we do `helm upgrade --install` for the first time, we are getting the following error:

[code]

[code]

Subsequent runs of the same command succeed.

[2017-10-11 21:33] bacongobbler commented on #3017
Interestingly enough this also appears to be the default behaviour for kubectl:

[code]

I wonder if this was done on purpose, and if so then perhaps this should be filed as an upstream bug.

[2017-10-11 21:50] arschles opened #3026 "helm lint fails on a chart with a 'fail' directive in a template"
If you do the following:

1. run `helm create failchart`
2. Add the following label to the `templates/deployment.yaml` manifest:

[code]

3. run `helm lint failchart`

The `helm lint` command returns a failure that looks like:

[code]

I believe that the linter shouldn't fail if there is a `fail` directive in the template, since it is still a valid template.

I've attached a `failchart.zip` that r

[2017-10-11 22:51] gordyf commented on #1723
I'm having a problem with Helm v2.6.2 running in a Docker container:

[code]

However, if I manually create the tunnel:

`kubectl port-forward --namespace kube-system tiller-deploy-1936853538-mzps3 44134:44134&
Forwarding from 127.0.0.1:44134 -> 44134`

Then I can sorta get it to work, by connecting to 127.0.0.1:

[code]

But not by connecting to localhost:

[code]

I am able, however, to telnet t

[2017-10-12 00:06] kylebyerly-hp commented on #1723
Does your dns server have someone using localhost.searchdomain? Some go binaries and I believe alpine/muslc seem to honor the lookup of localhost.searchdomain first, then localhost to 127.0.0.1. That's, unfortunately, a valid hostname and the 'correct' behavior. There's a draft RFC to make this behave as expected: https://tools.ietf.org/html/draft-west-let-localhost-be-localhost-06

Couple solutio

[2017-10-12 00:31] gordyf commented on #1723
Oh man, that's exactly what it is. Who decided that was a good idea?! :) Thanks so much for that tip.

[2017-10-12 02:26] flyer103 commented on #3017
@bacongobbler I have tested the `kubectl delete` behavior on k8s-v1.7.3 and k8s-v1.8.0 and always get the behavior that Job objects are deleted after the CronJob object is deleted until I use `kubectl delete --cascade=false`.

[2017-10-12 02:50] bacongobbler commented on #3017
@flyer103 yeah I rescind that last thought; I also found that same behaviour after a fresh cluster. Must’ve been stale jobs from my `helm delete` testing.

[2017-10-12 05:37] nikolay commented on #2577
`<?xml version="1.0" encoding="UTF-8"?><rant><![CDATA[`
[Jsonnet](http://jsonnet.org/) is not a new project - it's been around for years, and Google used it for a thing or two but decided not to use it in Kubernetes or other projects as far as I know. Although it is better than static JSON, it's not better than the simplest embedded interpreter out there - Lua (via [eLua](http://www.eluaproject.ne

[2017-10-12 06:02] nikolay commented on #2577
See, I even forgot [TOML](https://github.com/toml-lang/toml) - the number of choices is getting overwhelming!

[2017-10-12 08:20] dkellner commented on #2941
I run into the same issue. Is there a recommended way to recover from this, preferrably without deleting the release?

[2017-10-12 15:26] bacongobbler commented on #3026
This also occurs when `required` is in the chart too. #2347

[2017-10-12 15:30] bacongobbler commented on #2941
You could manually edit the old configmap to be in a SUPERSEDED state... Though fair warning, I haven't done this myself.

[2017-10-12 15:52] theangrydev commented on #3020
helm version:
[code]

docker --version:
[code]

Logs with --wait and --debug:
[code]

Logs without --wait and with --debug:
[code]

This was happening when the deployed container was in a CrashLoopBackOff state.

[2017-10-12 17:01] thomastaylor312 commented on #2196
I am going to pull this out of 2.7 since the PR only partially implements this

[2017-10-12 17:06] #2925 closed

[2017-10-12 17:36] pbc commented on #2320
For those who stumbled onto a similar issue but in a different context, you will also get the same error if you specify incorrect version using the "--version" option.

[2017-10-12 17:52] bacongobbler opened #3027 "add docs on the release process"
So far only myself and @adamreese have managed to cut a Helm 2 release. We should document the process so that others can also do the same.

[2017-10-12 17:53] bacongobbler opened #3028 "write documentation for the new secrets backend"
see #2721.

[2017-10-12 18:00] bacongobbler commented on #3017
One other thought that came up - Helm 2.6.2 does not target kubernetes 1.8 support. Perhaps this behaviour will be fixed once #3008 is merged, since after that is merged we will have 1.8 support. I'll test this chart on that branch and verify that thought.

[2017-10-12 18:22] bacongobbler commented on #3017
nope; this is still an issue on master.

[code]

Version information for when I tested:

[code]

[2017-10-12 22:59] adawolfs opened #3030 "helm upgrade is not recreating pod"
Hello

I'm updating my deployment to add or remove a container with a flag but the deployment isn't recreated
My deployment looks like this
[code]
and the command that I'm using is like this
**````helm upgrade <deployment> <chart> --set filebeat.enabled=True````**

I read some issues and I've found that it was a bug in earlier versions but I'm using the last one
[code]

[2017-10-12 23:30] migueleliasweb opened #3031 "[Question] Are there plans to release an SDK for creating custom clients for Tiller ?"
Hi guys,

I recently came across Helm and immediately I found it awesome. Although it's awesomeness and the fact it comes with plugin support it would be good to have a way to create custom clients with an SDK instead of just running it through the CLI. Don't you guys agree ? Are there plans to release an SDK for Tiller ?

[2017-10-13 00:38] magicalbanana opened #3032 "throw more specific invalid repo url error during helm dep up"
So I'm running this:

`helm dep up`

and it's returning an error:

`No requirements found in /Users/momo/src/github.com/momo/common-helm-charts/storage/postgresql-postgis/charts.`

Here's my chart:

[code]

`charts/` is empty.

[2017-10-13 01:33] thomastaylor312 commented on #3020
Ok, that is much clearer, thank you for the details!

[2017-10-13 02:20] nikolay commented on #2577
So, now that Google released [Skylark](https://github.com/google/skylark), which it uses internally, there's yet another option! 😄

[2017-10-13 05:16] anguslees commented on #2577
I see the <rant> tags, but I will point out that (as you have noticed) jsonnet is not javascript.  jsonnet is side-effect-free (referentially transparent) and closer to lambda calculus.  This brings a bunch of nice (formalised) properties for config template expansion, but can be restrictive in a general-purpose programming language.

A number of the others you list (XML, TOML, JSON5, etc) are not

[2017-10-13 14:48] nolith commented on #3031
I was thinking the same, but given that `helm` interacts with `tiller` through gRPC, you should be able to build your own client using `_proto` folder.

The question is more about long/mid-term stability of the gRPC api.

[2017-10-13 15:55] bacongobbler commented on #3031
For people writing their apps in Go, `k8s.io/helm/pkg` has been very stable in terms of backwards compatibility. Multiple projects like [Draft](https://github.com/Azure/draft) and [chartmuseum](https://github.com/chartmuseum/chartmuseum) have been using Helm's packages with great success.

There have not been any other client libraries released in differing languages like Ruby, but @nolith is on t

[2017-10-13 15:56] bacongobbler commented on #3031
Marking this as "help wanted" so it's clear to others that this should be a community effort. We don't pretend to know how to write good client libs for scala/rust for example. :)

[2017-10-13 16:20] bacongobbler commented on #2436
IIRC this was fixed in later releases of Helm. If I attempt to install a poorly formed manifest I can see the file and line number which failed:

[code]
You don't even need to specify --debug to get this functionality either.

[code]

So as far as "debugging poorly malformed charts", we've vastly improved this area and can now nail it down to the exact file which is poorly malformed. Closing this,

[2017-10-13 16:20] #2436 closed

[2017-10-13 20:01] spearsem commented on #2192
How would you use dash names in a control structure, such as a `with` or `range` block?

[code]

[2017-10-13 20:25] bacongobbler commented on #2192
@spearsem I think the above comment has got the right workaround for that problem. I think this should work:

[code]

[2017-10-13 20:28] spearsem commented on #2192
@bacongobbler Does this also work for `with`? I am not familiar with the implementation of `with` to know if it can utilize the result of another function evaluation as "the context".

[2017-10-13 20:58] ultimateboy commented on #2332
I couldn't wait until 2.7 landed - my tiller was crashing with OOM because of way too many configmaps. I wrote this script to clean up old releases. Use with caution, but it unblocked me until 2.7 lands.

[code]

[2017-10-13 21:47] bacongobbler commented on #2192
[text/template](https://golang.org/pkg/text/template/) appears to say that it should work with any structure, so I would assume yes.

[2017-10-14 17:30] Noah-Huppert commented on #2672
Perhaps the error message and docs should be clearer to indicate the value needs to be a url.

[2017-10-15 04:30] berni7schiefer commented on #1413
1MB does seem constraining in the 21st Century.  Does the community agree that this limit should be lifted?   What is it that makes it hard to lift this limit to something MUCH higher?    I do think there is value in keeping Helm charts of modest size so lifting this limit should not be construed as encouragement to build ever larger Helm charts.

[2017-10-15 22:53] migueleliasweb commented on #3031
Hey guys ! Thanks for the awesome feedback !

I started digging to the gRPC implementation is "fairly" easy to use. I think the case in here would be creating some documentation for creating custom clients using this approach. Do you guys want some help with that ? After uncovering all the secrets I could write a small  "first-steps" to create custom implementation for Tiller clients =]. What do y

[2017-10-16 12:19] #2221 closed

[2017-10-16 12:30] sheerun commented on #2507
could you add helm client to official image?

[2017-10-16 13:07] vongohren commented on #2746
@jascott1 @technosophos any progress on this choice? Maybe possibilites?

[2017-10-16 15:15] michelleN commented on #3032
@magicalbanana What version of helm are you running?

[2017-10-16 15:16] magicalbanana commented on #3032
I figured it out. The issue was that I wasn't using the right repository URL. I just wish it returned a meaningful error.

[2017-10-16 15:31] michelleN commented on #3032
@magicalbanana glad you figured it out.
What would you wanted the error to say for you to debug faster?

[2017-10-16 15:33] magicalbanana commented on #3032
Invalid repository URL would be nice.

[2017-10-16 15:35] michelleN commented on #3032
Alrighty and what version of helm are you running?

[2017-10-16 15:36] magicalbanana commented on #3032
[code]

[2017-10-16 15:45] bacongobbler commented on #2746
no progress but feel free to pick this one up! It's been labeled as "help wanted" so if you want to take this one on, go for it! :)

[2017-10-16 15:51] vongohren commented on #2746
I would love to, but got alot of pressing issues right now :(

[2017-10-16 16:22] mattfarina commented on #2507
1. Why is the image on gcr.io rather than hub.docker.com? Curious on what's driving it to be there.
2. Should the binary be in the tiller binary or separate? Given the purposes are different I'd want a separate image.
3. Is the only blocker the CI timeout?

[2017-10-16 17:09] mcwienczek opened #3037 "helm upgrade doesn't throw error when run in different namespace"
`helm upgrade` doesn't throw the error when run with `--namespace` parameter that does not match release namespace.

This looks like a breaking change and can probably be tackled in version 3 of helm.

[2017-10-17 03:29] gyliu513 opened #3038 "Release goes to failed state but not rollback"
- Install a chart that specifies a NodePort. For my example, I used ibm-microservicebuilder-pipeline, but really this should be the same for any chart.
- Specify a NodePort that already exists (the default is 31000 in MSB and if you don't change it, the second deployment will have a conflict).
- Because the NodePort already exists, then `helm install` will be failed.
- But after changing the port,

[2017-10-17 04:26] macropin commented on #2814
I don't believe this was resolved with PR #2808 I'm having this exact issue with v2.6.1

eg `helm upgrade --install --namespace andrew -f foo.yaml andrew .` installs into the default namespace.

[2017-10-17 04:29] macropin commented on #3037
Related #2814?

[2017-10-17 05:00] bacongobbler commented on #3037
Nope, separate issue.

[2017-10-17 05:02] bacongobbler commented on #2814
@macropin I could not reproduce this issue.

[code]

[2017-10-17 05:34] macropin commented on #2814
@bacongobbler after further investigation it looks like my issue is actually #3037. Helm reuses the namespace from the first revision of the release. `helm delete <release>` does not remove this reference. `helm delete <release> --purge` must be used before releasing into a different namespace.

I'm not sure if this is further evidence of a bug, or my misunderstanding of how helm retains configura

[2017-10-17 06:34] bacongobbler commented on #2814
This isn’t the first time I've heard about the confusing behaviour between `helm delete` with and without the `—purge` flag. It is working as intended, though “as intended” does not seem to match many user’s understanding.

You are absolutely right in that you were bitten by #3037. Let’s carry the conversation there. :)

[2017-10-17 07:57] nolith commented on #3031
hi @migueleliasweb did you find a way to handle `kubectl port-forward` without using `kubernetes-client-go` or `kubectl` binary?

I did [this](https://gitlab.com/nolith/hapi-helm) in ruby but given the very tight schedule I have at the moment I decide to put it on hold and move my first iteration for `tiller` integration wrapping `helm` binary calls.

[2017-10-17 11:06] shnassar commented on #2419
@Cryptophobia been playing around with this and found you are indeed correct. I have an AWS LB in front of my apiserver and noticed when I fixed the certs there (since kops doesn't install any) helm stopped working.

Just found I could fix this by changing the LB's listener protocol from HTTPS to SSL. With that saved (took couple takes damn AWS) helm was happy again and stopped throwing those erro

[2017-10-17 12:09] erikbsap commented on #2223
I actually checked that in the source code. Helm calls an underlying library to first call ipv6 and then ipv4 if it fails. But because it just reraises any error it encounters instead of filtering what is reasonable, the error is listed. It is actually not an error but expected behavior. In most other languages that would be considered a bug.

[2017-10-17 12:23] Vrtak-CZ commented on #1639
Is there any chance to get symlink support back in 2.7.x ?

[2017-10-17 12:40] andrewhowdencom commented on #1650
Now that CRD has been stabilised, it might be worth revising this. Additionally, if it can be sufficiently abstracted, it might serve to develop a standard entity for "applications", and help with the kubernetes dashboard integration.

[2017-10-17 14:03] michelleN commented on #3030
Hey @adawolfs. Thanks for submitting your issue. Let's see what's going on.
Does the Deployment manifest in the output of `helm get manifest <release>` look correct to you as in it has the updated configuration?

[2017-10-17 14:23] michelleN commented on #3030
Oh I see what might be going on here. I tried to run this and got a YAML error. I indented this section:
[code]
and then it worked fine for me.

You might want to check to see if it's an indentation issue.

If it's not an indentation issue, what error are you seeing when you run the `helm upgrade` command?

[2017-10-17 14:29] michelleN commented on #3037
From the helm help text, it looks like the `--namespace` flag should only be used in conjunction with `--install` flag. See text copied below:
[code]

Helm should probably throw an error if a user is trying to use the `--namespace` flag without the `--install` flag. Were you using both flags? @mcwienczek

[2017-10-17 14:32] michelleN commented on #3032
Alrighty. Thanks for submitting your issue. We can look into throwing a more specific error in this case as you suggested. I'll edit the name of this issue and label correctly. Thanks again.

[2017-10-17 15:13] michelleN commented on #3038
Hey @gyliu513 - thanks for submitting this issue.

There are two ways of handling this kind of situation. If you'd like to re-use that release name, you can:
1. Use the `--replace` flag when re-installing an initially failed chart. Your command would look like this: `helm install mychart --name <release-name> --replace`
From the helm install help test:
[code]

2.  You can upgrade a failed release

[2017-10-17 16:14] ausov commented on #1896
For large repositories, would it be easier to split repository into repo per chart (subfolders similar to maven repo)? This can practically prevent collisions since CI/CD pipelines for the same chart are usually sequential.

[2017-10-17 16:31] kenden commented on #2226
(Now possible in helm 2.5)

[2017-10-17 17:33] bacongobbler commented on #2058
This is now possible using the following syntax:

[code]

This is documented [here](https://github.com/kubernetes/helm/blob/master/docs/using_helm.md#the-format-and-limitations-of---set).

[2017-10-17 17:33] #2058 closed

[2017-10-17 18:04] mcwienczek commented on #3037
Repro steps:
1. Install helm package using `helm install stable/mysql `
output:
[code]
2. `helm delete wandering-parrot`
3. `kubectl create namespace different`
4. `helm upgrade --install --namespace different stable/mysql`

Output:
[code]

Is this the expected behaviour?

[2017-10-17 18:33] ipedrazas commented on #2985
any ideas/suggestions? /cc @lachie83 @prydonius

[2017-10-17 19:05] michelleN commented on #3037
Ah that's interesting. So, that's happening because there is still an underlying configmap associated with the release name still around. Because there is already a release with that name (in the deleted state), helm is skipping the install step and going straight to the upgrade in [which it uses the namespace in the last release ](https://github.com/kubernetes/helm/blob/master/pkg/tiller/release_

[2017-10-17 19:24] bacongobbler commented on #2998
dep has a convenient function called [`RenameWithFallback`](https://github.com/golang/dep/blob/5b1fe9e6d89372487d0aac78d9c5362a517857e7/internal/fs/fs.go#L103-L118) which will fall back to a copy-and-remove operation in the case of a cross-device link error. This should be a relatively quick fix if someone wants to take a crack at it!

[2017-10-17 19:49] gordyf commented on #2611
I'm also encountering this as well. Specifying "upgrade --install --tiller-namespace foo" when tiller is running under a service account that lacks permission to the default namespace leads to an error.

[2017-10-17 20:59] bacongobbler commented on #2718
closing this issue due to inactivity, but please reopen if you can get back to this. Thanks!

[2017-10-17 20:59] #2718 closed

[2017-10-17 21:02] bacongobbler commented on #2956
closing since #2960 has now been merged but please re-open if this isn't true. Thanks!

[2017-10-17 21:02] #2956 closed

[2017-10-17 21:03] bacongobbler commented on #2921
ping @zioalex, any update on this one? :)

[2017-10-17 21:05] bacongobbler commented on #2611
@gordyf that would make sense as tiller checks against the namespace for existing releases performing the upgrade. We could make an exception to skip the check on the first release. Feel like making a PR? :)

[2017-10-17 21:05] bacongobbler commented on #2611
@justinclayton I'd open a new issue. Thanks!

[2017-10-18 02:52] Cryptophobia commented on #2419
@shnassar, this is great to know! Such a simple fix. We will try it out and get back to this thread. Thanks for putting your fix here.

[2017-10-18 03:38] gyliu513 commented on #3038
Thanks @michelleN , it works!

[2017-10-18 03:38] #3038 closed

[2017-10-18 06:32] migueleliasweb commented on #3031
What's up @nolith ! I'm not that far with the implementations but I hope within a couple days I can wrap up what I have learned so far into some kind of step-by-step markdown and share with you guys !

[2017-10-18 14:13] ausov commented on #1896
Isn't it an already implemented mechanism in Helm that would utilize ETag or Last-Modified headers for conditional HTTP PUT request? Then it would be sufficient to reload updated index and retry PUT if remote version changed. Why is additional locking needed then?

[2017-10-18 14:34] zioalex commented on #2921
Matthew, not yet, I was dragged on a different project.

On Tue, Oct 17, 2017 at 11:03 PM, Matthew Fisher <notifications@github.com>
wrote:

[2017-10-18 17:19] jascott1 commented on #1570
@sbezverk Closing this due to inactivity and some solutions being provided. Please let me know if need to open it again.

[2017-10-18 17:19] #1570 closed

[2017-10-18 17:59] jascott1 commented on #2033
@jayme-github Do you still experience this issue now that you are over the "breaking changes in 2.5"?

[2017-10-18 20:27] rowleyaj commented on #2731
Hey @jascott1,

I've been using 2.5.1 today and testing out dependency management. I'm experiencing similar problems to @azazi-sa.

My understanding is that `helm dep build` does one of two things dependant on the presence of a `requirements.lock` file. If the file is there is uses it to pull the version specified, if not is uses `requirements.yaml` to pull the version specified.

`helm dep update

[2017-10-18 23:54] thomastaylor312 commented on #1639
@Vrtak-CZ If someone is willing to write up some code to handle it, we would love to merge that in, but it will probably difficult for anyone from the core team to get to it

[2017-10-19 15:20] mcwienczek opened #3043 "Documentation about how to use helm with RBAC"
As RBAC went RTM with kubernetes 1.8 I think it's reasonable to create documentation on how to use helm with RBAC, especially when roles and serviceaccounts are restricted to namespaces.

[2017-10-19 15:35] bacongobbler commented on #3043
https://docs.helm.sh/using_helm/#tiller-namespaces-and-rbac goes into detail on how to set this up. :)

[2017-10-19 15:35] #3043 closed

[2017-10-19 15:36] bacongobbler commented on #3043
more in-depth examples can be seen in https://github.com/kubernetes/helm/issues/2962.

[2017-10-19 15:36] robertlabrie opened #3044 "support for .json files in templates and environments"
I'm probably opening an old can of worms here, but is there any possibility of treating `.json` files as first class citizens in helm? I prefer JSON over YML and while I can put valid JSON in `whatever.yaml` when I mentioned it one of my colleagues suggested that "anyone who does that should be taken out back and shot"

[2017-10-19 15:37] bacongobbler commented on #2962
@seh correct. I had #2721 in mind when writing this example. :)

[2017-10-19 15:39] bacongobbler commented on #2962
@alapidas does that help answer your question, or is there something else you'd like to know?

[2017-10-19 15:40] bacongobbler commented on #3044
related ticket with a larger amount of background context: https://github.com/kubernetes/helm/issues/2577

[2017-10-19 15:41] josdotso opened #3045 "Feature Request: Ability to override/omit subchart templates."
I’ve written a helm parent chart to wrap a stable public chart.  The public chart didn’t provide for the creation of a basic auth secret, and so my wrapper chart adds that.  This works well.

However, now I’d like to see some features added to the child chart — such as anti-affinity, more than 1 replica, and so on.

Is there any way from a parent chart to override/omit the child chart templates, b

[2017-10-19 18:44] alapidas commented on #2962
That probably does it - I haven't had a chance to test this, but let's close this out for now.  Thanks!

[2017-10-19 19:11] ljnelson opened #3046 "Minor docs issue: a chart must have at least one template or subchart"
The [documentation for the chart file structure](https://docs.helm.sh/developing_charts/#the-chart-file-structure) implies that a chart may legally consist of a `Chart.yaml` and a `values.yaml` and nothing else.  But this makes Tiller fail on installation (complains of `no objects visited`).

Perhaps this is covered in `helm lint`; not sure, but the documentation probably needs a tweak.

[2017-10-19 20:24] sbuliarca commented on #2828
@jascott1 Are there any plans to include this feature in the near future?

[2017-10-19 22:24] shanecorcoran commented on #2036
+1 For this

[2017-10-20 10:06] Vlaaaaaaad commented on #2568
+1 for this. The default behavior works, but an extra switch for this would be great.

See http://blog.lwolf.org/post/how-to-create-ci-cd-pipeline-with-autodeploy-k8s-gitlab-helm/ meanwhile for an alternative when doing CI/CD with helm.

Instead of `if`s I'd like to be able to simply do `helm upgrade --install --values values.yaml --release-name myRelease charts/mychart`

TL;DR:
[code]

[2017-10-20 17:52] jascott1 commented on #2731
HI @rowleyaj

I cannot reproduce this with Helm 2.5.1 or 2.6.2. In my manual testing the requirements.lock gets updated. Could there be anything else going on?

[2017-10-20 19:29] leo-baltus opened #3050 ".helmignore and .Files.Get"
We use `{{ .Files.Get "foo/bar" }}` to read information from files we use during install and upgrade we do not want to package these files however on `helm package` so we add them to `.helmignore` . It seems however that if `foo/` is in `.helmignore` it no longer is available for .Files.Get.

I can tell you it took me some time to figure this out. So I assume this is a bug not a feature?

In anywa

[2017-10-20 19:54] jkamenik commented on #2494
I have this situation in a production deployment.  Is there a combination of steps I can perform to change the `.spec.selector` along with the `.spec.template.metadata.labels` to fix this.

[2017-10-20 20:57] mattfarina opened #3051 "Ruleset for helm lint"
As a potential feature for `helm lint` in v3 is to move to a ruleset. Using a ruleset is common in linters to enable some amount of configuration to linting. For example, see the ESLint [config file](https://eslint.org/docs/user-guide/configuring#extending-configuration-files) and [rules](https://eslint.org/docs/rules/).

Note, this is a follow-up from the Helm meeting on Oct. 19, 2017.

cc: @mich

[2017-10-20 23:33] jascott1 commented on #3045
Hi @josdotso,

Its true that we should fork as a last resort but if the chart is not terribly complex then it might be the correct decision. Charts are generally not complex and update much less often than the actual images they install. That being said, `wrapper` charts that can re-compose the pieces (templates) of sub-charts is an interesting idea.

Im going to tag as a 'feature' with 'help want

[2017-10-22 19:50] withnale opened #3053 "Problems with randAlphaNum and upgrades"
There are problems with using randAlphaNum in charts when upgrades occur. I'm sure this is working as expected right now, but is problematic and it should at least be documented if there is no alternate implementation right now.

If you consider the current stable/redis chart, if you don't specify a password in your values when creating the chart a random one is created using the following data bl

[2017-10-22 22:32] iamrandys commented on #2672
👍

[2017-10-23 10:41] pranayhasan commented on #2795
`helm init --upgrade` show resolve this.

[2017-10-23 11:25] mparry commented on #2492
Someone above has already referred to the `tpl` function that was fairly recently added. I may be misunderstanding some complexities that are involved here, but for my use case and some others described above, all that seems to be required is an implicit pass over values evaluating them via `tpl` or equivalent, prior to rendering templates. (I guess you would potentially need to keep doing passes

[2017-10-23 11:37] mparry opened #3054 "Use of tpl function breaks .Template"
The `tpl` function (added in #1978) seems to break `.Template`, leaving `BasePath` empty and `Name` set to 'aaa_template'.

[Here is a minimal chart](https://github.com/kubernetes/helm/files/1406896/tpl-bug.zip) that demonstrates the problem. Here's the output:

[code]

If you remove L4 (ie. `triggerBug`) in configmap.yaml then you get more sensible output:

[code]

Incidentally, `tpl` doesn't see

[2017-10-23 13:06] iamrandys commented on #2762
👍

It looks like I too will have to start using degasolv.  I have charts that all depend on some of the same charts and I only need the dependency to be included once.  Tags and conditions for requirements.yaml files really don't solve this.

[2017-10-23 14:08] eicnix commented on #3054
@mparry I wrote the `tpl` function and can take a look at it in the next days.

[2017-10-23 14:43] #2795 closed

[2017-10-23 15:20] mattfarina commented on #3050
According to the docs:

I wouldn't expect `.Files.Get` to impact files being listed there.

But, it appears that files in the `.helmignore` are filtered out. See the source of the [`chartutil.LoadDir` function](https://github.com/kubernetes/helm/blob/1aafaf84fb2dbed0a24e24e7b5a6a0f0a1454dc5/pkg/chartutil/load.go#L219). What's loaded here appears to be what [`.Files.Get`](https://github.com/kuberne

[2017-10-23 16:28] vincbe commented on #2702
Same problem here.
I got an init-container and at least two containers ,
both the init-container and container #1 are set to use the same image defined by parameters:
`image: {{ .Values.Image }}:{{ .Values.ImageVersion }}`

So when I do update ".Values.ImageVersion" with a new version, the container #1 does use a new version but not the init-container!!

That's a real problem and bug!!
The init-co

[2017-10-23 17:12] vincbe commented on #2702
Having the init container definition in double with the beta annotation is a work around that works for me to wait Kubernetes 1.8:
https://github.com/kubernetes/kubernetes/issues/47264#issuecomment-311584187

[2017-10-23 19:17] jrefi commented on #2133
This issue is also affecting me in a similar manner to those above. I am trying to create a meta-package and need to pass a base host name to all subcharts to use to define their Ingress resources. Looks like I will have to rewrite all the charts I want to use myself.

[2017-10-23 19:17] zavalit opened #3055 "Error: no available release name found"
Hi folks
i just don't have any clue what is going wrong.

after the first time trying to run:
[code]
i "disabled" RBAC
[code]

but nothing have changed:
[code]

kubernetes
[code]

helm
[code]

helms repos
[code]

tiller pod
[code]

tiller log
[code]

[2017-10-23 19:28] bacongobbler commented on #3055
Kubernetes 1.8 support was only recently added in helm v2.7.0 so I wouldn't expect Helm v2.6.2 to work with 1.8 cluster. Can you try the v2.7.0-rc1 release and see if that works? Installing the v2.7.0-rc1 binary locally and running `helm reset && helm init` should do the trick. Thanks! :)

[2017-10-23 20:36] mattfarina opened #3056 "Proposal: Add url to chart maintainer details"
There are times you want a URL to a package maintainer.

For example, in Monocular (as seen on Kubeapps.com) the name is taken and turned into a url to a location on GitHub (see [issue about it as a bug](kubernetes-helm/monocular/issues/382)). This doesn't work for a variety of reasons.

It would be nice to use a URL to a maintainers chosen location. This could even be used as an alternative to an

[2017-10-23 20:53] bacongobbler commented on #3056
I could see the value in a URL field like "report-bugs-to". I've seen that format used in other places where the maintainers want to point users to file bug reports or further discussion over, such as a mailing list or a forum.

For example, [PEP 1](https://www.python.org/dev/peps/pep-0001/) describes the "Discussions-To" field in PEPs as

Would that help resolve the issue for monocular?

[2017-10-23 20:56] bacongobbler commented on #3056
Another valid use case:

We (as the former Deis team) set up an engineering@deis.com email address for users to file bug reports with the charts to satisfy this field. However, we would prefer to point users over to https://github.com/deis/workflow/issues instead.

Does that seem to satisfy the requirements? :)

[2017-10-23 22:33] #3028 closed

[2017-10-23 22:40] whithajess commented on #2062
I really think the release name should respect `--namespace` and let you deploy the same name under two seperate namespaces.

[2017-10-23 22:43] bacongobbler commented on #2062
slating this as a good discussion point for Helm 3.

[2017-10-23 22:50] kraney opened #3057 "relative URL in index.yaml"
Index.yaml currently requires all of the source URLs to be full URLs. When sources are hosted locally on the same webserver, it should be possible to just specify a relative URL. For example
[code]
would imply
[code]

This would make much more sense than having a relative path cause helm to look under the local filesystem, as it does now.

[2017-10-24 06:10] DonMartin76 commented on #1769
@thomastaylor312 Did this land in 2.7?

[2017-10-24 06:17] bacongobbler commented on #1769
yes, everything currently in master landed in 2.7.

[2017-10-24 06:36] TimJones commented on #2941
@bacongobbler @dkellner To confirm, I am also seeing this bug. I made the manual change to the configmap but I still have the multiple revisions in `DEPLOYED` state.

[2017-10-24 08:22] cristi- commented on #2967
Hi,

 We have the same issue when running **helm list** (helm install works fine).
 I'm not too familiar with Golang but it seems the difference is that the package for install uses the certificates while the list doesn't actually use them.

Install: https://github.com/kubernetes/helm/blob/8fc88ab62612f6ca81a3c1187f3a545da4ed6935/cmd/helm/install.go#L102-L125
List: https://github.com/kubernetes/he

[2017-10-24 08:23] cristifalcas commented on #2967
Installation:

    helm init --tiller-tls --tiller-tls-verify --tls-ca-cert /etc/kubernetes/pki/ca.crt --tiller-tls-cert /etc/kubernetes/pki/tiller.crt --tiller-tls-key /etc/kubernetes/pki/tiller-key.pem --tiller-image external/tiller:v2.6.2
    kubectl create serviceaccount --namespace kube-system tiller
    kubectl create clusterrolebinding tiller --clusterrole=cluster-admin --serviceaccount=kub

[2017-10-24 08:24] dkellner commented on #2941
@TimJones Thanks for sharing your experience, I did not try it myself yet. I guess I will wait until someone with more knowledge about the inner workings of Helm confirms that this is the way to address this.

[2017-10-24 09:28] Draiken commented on #2702
Yes, this is what worked for me too. I have the same init container as a beta annotation and as initContainer on the spec and it works. As stated it's a workaround but I don't feel this will get fixed so quickly

[2017-10-24 10:09] Tsuki opened #3058 "helm upgrade not detecting replicaCount value change"
When i updated replicaCount in value.yml.
`helm upgrade dta ./helm -i --reuse-values --namespace default`
Which is not effective
Howevet i using
`helm upgrade dta ./helm -i --reuse-values --namespace default --set replicaCount=2`
It work.
[code]

[2017-10-24 10:11] prydonius commented on #3056
Just to add some context, the reason we point to a GitHub profile was to provide a better experience than a mailto link in the case of the stable/incubator repos. The Charts team decided on using GitHub IDs for maintainer names, but this is being implemented gradually and so we currently have some broken links.

I do feel that a URL field will be useful and agree with @bacongobbler's usecases. +1

[2017-10-24 10:36] herrsebi commented on #2948
I think this might be a more general issue with using --set on nested values. Setting one value appears to remove the entire subtree and only append the set node, even when using --reuse-values.

[2017-10-24 11:17] rowleyaj commented on #2731
Thanks for looking into it @jascott1. The example in the repo was using local file based charts, could that make a difference? Could you share how you tested this and I can try and get it working from that.

If I can produce both a working and non-working example then I might be able to work out whats going wrong.

[2017-10-24 14:26] mattfarina commented on #3057
@kraney A couple questions...

1. Since the index.yaml file is generated does it matter if it's relative or absolute? Or, do you have a different use case than using helm or something like chartmuseum to generate the index.yaml file?
2. Helm supports the package not being in the same location as the index. How would you propose differentiating between the two?

[2017-10-24 15:48] leo-baltus commented on #3050
In fact I am populating secrets with it. Sorry for not being clear about that.

[2017-10-24 17:36] mattfarina commented on #3050
@leo-baltus To restate, you have files in the chart you don't want to be packaged but you want to read the contents of them into secrets. Is that right?

If that is the case, it might be worth adding a `read` function that uses something like [`ioutil.ReadFile`](https://golang.org/pkg/io/ioutil/#ReadFile) to [sprig](https://github.com/masterminds/sprig).

@technosophos any thoughts?

[2017-10-24 18:09] jascott1 commented on #2731
@rowleyaj I used the chart you linked and followed the same steps except my lock file gets the updated 0.2.0 version. Im at a loss as to what could be different in your env.

[2017-10-24 20:35] kraney commented on #3057
For my use case, it makes a difference. I have a build pipeline that will package the charts and create index.yaml. Later, this is deployed to an S3 bucket. I don't know the URL for the bucket at the time the index.yaml is generated. I only find out later.

Differentiating between a package in the same location as the index and being elsewhere is simple. If it's elsewhere, you need to use a full U

[2017-10-24 22:06] josdotso commented on #2192
The variable method doesn't seem to work for me. . The error just happens a line later.

[2017-10-24 23:30] josdotso commented on #2993
I just hit this problem majorly.  I'm wrapping a wrapper chart and the hyphens in the upstream chart name are killing me.  Fixing this would logically fix the fact that range ops don't appear to work any better using "index".. Re: https://github.com/kubernetes/helm/issues/2192

[2017-10-24 23:37] josdotso commented on #2993
This also seems to indicate that aliasing two of the same upstream chart for different purposes with unique alias-named values.yaml trees is impossible.  I would go so far as to say the default at values.yaml should be the alias if alias exists.  If alias DOES exist, then canonical name shouldn't work IMHO -- because collisions. (Unless we intelligently scope (and fall through) "global" usage of a

[2017-10-25 02:20] Tsuki commented on #3058
After i add
`-f helm/values.yaml`
I can update the value. It seems it will not update the value in chart

[2017-10-25 02:20] #3058 closed

[2017-10-25 07:20] eicnix commented on #2577
I did some prototyping around this issue and implemented a simple jsonnet template engine.
Currently I am not convinced that jsonnet is the right way to improve templating inside helm.

Here is a list of issues I've encountered:
* Template files would need to follow certain conventions like start with a top level function to pass values, chart metadata, etc.
* Size limits of ConfigMaps preventing

[2017-10-25 09:11] eicnix commented on #3050
@leo-baltus The templating process of helm is executed at the backend using Tiller. Therefore Tiller needs all files that should be loaded via `.Files.Get`.
If you add a File to `.helmignore` it will neither be packaged nor send to Tiller for processing and can therefore not be loaded with `.Files.Get`.

If you don't want to package this file you could pass the contents as a file as a value during

[2017-10-25 11:18] jstrachan commented on #1583
I've noticed charts often solve this these days by allowing PVC storage annotations & sizes to be configured in the values.yaml - which seems a reasonable solution to me.

[2017-10-25 11:30] prydonius commented on #1583
Yes, I don't believe this is needed anymore with the abstractions PVCs and StorageClasses provide. I think we can close this out.

[2017-10-25 11:47] jstrachan opened #3063 "nicer UX when using`helm install` and missing `required` fields"
It would be nice to provide a better UX if a user misses required values from a chart when trying to install it. e.g.

[code]

thats quite a verbose output that takes a user a while to parse. It might be better to have a more clear set of output to help users. e.g. something vaguely like:
[code]

We could even have an interactive mode that prompted the user to enter the missing values interactivel

[2017-10-25 11:51] jstrachan commented on #2869
I like the requirements idea; particularly for kubernetes version.

I wonder if the memory/CPU requirements could be determined by looking at the deployment(s) - then it'd encourage folks to properly add requirements + limits into the underlying Deployments/pods?

BTW I just raised https://github.com/kubernetes/helm/issues/2765 which is kinda related; but on the required values and optionally allo

[2017-10-25 11:52] eicnix commented on #3063
There is a proposal to add a JsonSchema to the values of a Chart: https://github.com/kubernetes/helm/issues/2431

Having a schema would make the validation of values before the rendering process possible.

[2017-10-25 13:13] grebois commented on #2795
@pranayhasan @bacongobbler this is still not working;

[code]

[2017-10-25 13:30] seh commented on #2577
Why would implementing a new template engine break compatibility with existing charts?

The idea we've discussed in the past is to separate the interpolation of templates ("rendering" in Helm parlance) from the application of in-memory Kubernetes objects, where by "objects" here I mean instances of the Go structs that define those objects' GVKs. One could argue that JSON is actually the most faith

[2017-10-25 14:10] #1583 closed

[2017-10-25 15:52] omkensey commented on #2993
As I understand it, that's how aliasing is supposed to work, actually -- see #2508.

The workaround I've been using is to set a variable at the top of the template, e.g.:

`{{- $newname := index .Values "hyphenated-name" -}}`

Then further down you can refer to $newname.whatever.

@thomastaylor312 that's the workaround I was referring to above; I've not got the coding chops to actually fix this in

[2017-10-25 17:51] jascott1 commented on #2869
A PR to specify k8s compatibility is already in the works    https://github.com/kubernetes/helm/pull/2784

Personally I would need more convincing before supporting the rest of this proposal. This duplicates info already in the manifests and controls already present in the system. I think chart user would get 90% of this if the chart developer just listed this information in the README and/or NOTE

[2017-10-25 20:06] omkensey commented on #2993
Over in my chart PR kubernetes/charts#1719, unguiculus just said

So maybe that's the issue with what I (and @josdotso?) am doing -- but if that's the case, IMHO directly-added charts should be aliasable just like charts retrieved dynamically, so I'd argue there's still a bug here.

[2017-10-25 21:29] josdotso commented on #2993
Absolutely @omkensey !

Ranging on the index-based variable wasn't working for me last night when I tried it.  Are you ranging over any such variables?

[2017-10-25 22:36] bonhamjp commented on #2744
I can give this a shot, if nobody minds

[2017-10-26 00:19] bacongobbler commented on #2744
I think a more clear and concise document on the design choices/rational would be helpful before going ahead. It’d also be good to rally some feedback from the community as a first step to see if this is useful, or what other common idioms others are doing to work around this. I wouldn’t want you to spend time working on a feature only to be shot down because there are existing (or possibly better

[2017-10-26 00:45] kfox1111 commented on #2744
@bacongobbler do you have anyone in mind to ask?

I requested the feature, as I've seen this specific use case several times at my site. So, thats at least one community member. :)

[2017-10-26 00:48] kfox1111 commented on #2744
btw, anyone who wants to experience the issue should try the following workflow:

helm search <something>

pick a something.

try to figure out what configuration options are needed for the release:
helm install stable/<something>

[2017-10-26 01:15] philipbjorge opened #3066 "Incomplete Changelog"
https://github.com/kubernetes/helm/pull/2636
I'm pretty sure this made the cut for 2.7.0 but is not listed in the changelog.

https://github.com/kubernetes/helm/commit/734b1245772ff4e8319e3648646e1c0f1d797d87
Hook delete policy also got missed.

These are some of the biggest features IMO.

[2017-10-26 03:23] philipbjorge commented on #3031
grpc is fairly easy to use.

For anyone looking to generate grpc for python:
[code]

The armada project is a really great example of building custom tooling around helm.
https://github.com/att-comdev/armada

[2017-10-26 05:31] bacongobbler commented on #3066
Indeed there were a lot of changes that were missed.

Full changelog is available here: https://github.com/kubernetes/helm/compare/v2.6.2...v2.7.0

I'm not on the machine that was used to generate the changelog but I'll post the command here tomorrow. We can then come up with a better git alias for future releases and document it via #3027.

[2017-10-26 05:51] bacongobbler commented on #2744
It's a rough idea at this point, but bear with me here...

I've noticed that we have introduced a LOT of (great) features to Helm recently. While I love the amount of work that's being put into the project and the current velocity, we don't have very coherent documentation for a lot of these new features, and that has led to a large influx of basic questions about new features that are missing sig

[2017-10-26 07:49] hobti01 opened #3067 "Deployment of sub-charts from requirements.yaml"
We're seeing some unexpected behaviour from Helm when deploying Charts with dependencies and sub-dependencies: could the expected behaviour please be documented?

Given the following Chart structure (Chart A `requirements.yaml` contains B, C, D, Chart B contains C with an alias)
[code]

We observe:
- All instances/aliases of Chart `C` are deployed - `C (1)`, `C (2)`, and `C (3)` are deployed in pa

[2017-10-26 08:29] tlyng commented on #2133
Also affecting me. I am having nginx-ingress as a dependency for one of my charts and I want to set up tcp forwarding, but the nginx-ingress require to know the service name upfront which I am not able to provide in values.yaml.

[2017-10-26 09:39] tcolgate opened #3068 "Helm upgrade -i will "succeed" after failing on duplicate resource."
## What happens

create a service named myservice in a cluster.

create a chart that attempts to create/manage a service named myservice.

`helm upgrade -i ./chart mychart`

First run will fail. The release status will be "FAILED". No pods or other resources will be created.

Now run `helm upgrade -i ./chart mychart` again. The deploy now succeeds, but myservice is not updated and does not match t

[2017-10-26 13:17] grebois commented on #2409
+1

[2017-10-26 13:19] grebois commented on #2795
@bacongobbler could you please re-open this issue:

[code]

[2017-10-26 13:21] grebois commented on #2795
@bacongobbler could you re-open this, its not yet working with the latest version;
[code]

and there are many related reports of this issue:

https://github.com/kubernetes/helm/issues/2921
https://github.com/kubernetes/helm/issues/2827
https://github.com/kubernetes/helm/issues/2409

[2017-10-26 14:15] bacongobbler commented on #2795
Can you please provide more information about your deployment? I can’t determine if this is the right ticket to track your issue.

[2017-10-26 14:21] grebois commented on #2795
[code]

[2017-10-26 14:29] bacongobbler commented on #2795
What’s the output of `kubectl -n kube-system get po`

[2017-10-26 14:32] xforze commented on #1873
Any news on this ?
I notice the same issue "Looks like there are no changes for Deployment" but debug output from helm definitively differs from current deployment.
Version: 2.7.0

[2017-10-26 15:41] #2841 closed

[2017-10-26 15:44] bacongobbler opened #3069 "switch `tiller` to `tiller serve`"
As part of #2841, one of the discussion points for 3.0 was to change the execution of `tiller` to `tiller serve`. That way we can introduce new commands like `tiller version` due to the limitations of spf13/cobra.

[2017-10-26 15:48] #2706 closed

[2017-10-26 15:48] bacongobbler commented on #2706
closing in favour of #2708.

[2017-10-26 15:53] kfox1111 commented on #2744
It does. and would come in handy to have those documents around for when a helm v3 gets implemented, so you don't drop important features by mistake.

[2017-10-26 18:15] zavalit commented on #3055
@bacongobbler  thanks for a hint, but didn't change that match

[code]

and when i try it again:
[code]
with the following log:
[code]

[2017-10-26 18:56] omkensey commented on #2993
No, I'm not ranging anything in my chart.

[2017-10-26 19:11] zavalit commented on #3055
ok...
i replaced **flannel** though **calico** and it get running

[2017-10-26 19:11] #3055 closed

[2017-10-26 23:10] tomdavidson opened #3070 "more docs on config of required charts"
Hi, I am trying to find more thorough documentation  dealing with the configuration of required charts - this [short blurb](https://docs.helm.sh/developing_charts/#complex-charts-with-many-dependencies) is all I can find. It implies that I can require a chart (not a subchart) and configure it with my value.yml, but I am trying to require stable/jenkins and when i run `helm template` the config.yml

[2017-10-27 03:51] migueleliasweb commented on #2505
I'm not sure if this was just your mistake. I'm having similar problem when trying to call Tiler from a custom client. Basically if we don't set the version within the context, Tiller yields an error on the logs..

Example:

Gopkg.toml
[code]

[code]

main.go
[code]

Tiller errors from logs (kubectl --namespace=kube-system logs -f {tiller-pod-name})
[code]
Btw, the installed grpc version installed

[2017-10-27 05:05] bacongobbler commented on #2505
You need to import pkg `k8s.io/pkg/helm/client` and switch your context from `context.Background()` to `helm.NewContext()` as seen [here](https://github.com/kubernetes/helm/blob/6643a21271b193db067700b8fe49b2825d0fcc9e/pkg/helm/option.go#L425-L429). Essentially tiller cannot authorize your request because no api compatibility flag was sent from the client so it has no idea if it can handle the inc

[2017-10-27 05:06] bacongobbler commented on #2505
@ZhenyangZhao is right though. Sending a context using that metadata pairs to specify `x-helm-api-client` will get it working.. Or just use the existing package that already sets that up for you. :)

[2017-10-27 05:15] migueleliasweb commented on #2505
Thanks @bacongobbler !

I was digging into the code and found this client ( `k8s.io/helm/pkg/helm.Client` ) that would simplify things a lot. You could see from my previous comment I tried to install helm using `dep` but seems like I have an inconsistent build right now.

Right now, after finding about this client, what I'm trying to do is this:

[code]

But I got this error: `vendor/k8s.io/helm/p

[2017-10-27 05:25] bacongobbler commented on #2505
AFAIK we need to stick to an older version of GRPC due to [kubernetes' reliance on grpc v1.3](https://github.com/kubernetes/kubernetes/blob/94e77bd4cab597b4cf978ed4c1726c93b01de295/Godeps/Godeps.json#L2917-L2919), but I forget the reasoning now.

You'll have to specify the deps defined in helm's glide.yaml into your Gopkg.toml. You can use https://github.com/Azure/draft/pull/385 as a reference.

[2017-10-27 06:12] leejian0612 commented on #2687
Per jayunit100 's advice, add  `cluster-admin` role to `kube-system:default` works for me, below is the cmd.

[code]

[2017-10-27 10:40] grebois commented on #2795
[code]

[2017-10-27 12:35] seh commented on #2687
Why are you running Tiller with the "default" service account?

[2017-10-27 13:47] balboah commented on #1776
It seems this is still an issue in
[code]

Adding `.*` to my .helmignore results in `(Chart.yaml) missing` error.

[2017-10-27 14:22] Starefossen commented on #2941
We are experiencing the same bug. The release persists even after deleting the release from tiller.

[2017-10-27 16:14] polasekr commented on #1413
+1 to re-open this ticket
This limitation is a significant road block for helm to be used in broad spectrum of applications. Usually I package all the individual pieces ( front-end, back-end, database etc.) as a single helm chart to create a single command deployment for our application. I am having way to many issues hitting the limit of storing deployment configmap. In the example below I have o

[2017-10-27 16:21] bacongobbler commented on #1413
This (1MB configmap limit) is not something that can be directly resolved in helm. The limitation is made upstream, so we can't really do anything to change that limitation.

The better approach would be to discuss alternative approaches in a design document as I described [here](https://github.com/kubernetes/helm/issues/2744#issuecomment-339558845) so that when Helm 3 development begins, we can d

[2017-10-27 16:38] thomastaylor312 commented on #2993
@omkensey I think that the comment from unguiculus was correct. The requirements file doesn't care what you have explicitly put in your `charts` directory and so that would be why you can't alias. So I don't think that is necessarily a bug in this case, but more of a feature add (I admit that is kind of splitting hairs)

@josdotso So you are having this issue even with dynamic deps?

[2017-10-27 16:41] josdotso commented on #2993
@thomastaylor312, Yes -- I believe so. I'm using requirements.yaml and `helm dependency build` on a clone.  I'll try to further confirm from scratch, but the dep build just pulls a tgz named for the canonical package with a directory in it named for the canonical package.  It seems like the deps should be pulled to tgz of alias + canonical version name, instead.  However, there's no mutating of th

[2017-10-27 16:42] thomastaylor312 commented on #1873
@xforze Do you have a chart we can replicate this with?

[2017-10-27 16:46] thomastaylor312 commented on #2993
@josdotso It actually only does the "renaming" inside of helm when putting together the manifests to send to tiller

[2017-10-27 19:38] cjauvin opened #3072 "Support for repo URL with path is broken"
When you have a repo URL with a path (e.g. `http://example.com/helm`) along with a chart URL (defined in `index.yaml`) which is relative (e.g. `charts/foo-1.2.3.tgz`), the resulting download URL is wrong: `http://example.com/helmchart/foo-1.2.3.tgz`.

This is due to the path concatenation logic in the `ResolveChartVersion` function, which has been altered by this commit:

https://github.com/kubern

[2017-10-28 06:26] ausov commented on #1896
Just wanted to share our solution for Google Could Storage using object version and conditional PUT:

[code]

[2017-10-28 18:43] #3046 closed

[2017-10-28 18:49] thomastaylor312 commented on #3054
Looks like this is a bug based on the PR. Tagging as a bug and pulling into 2.7.1

[2017-10-28 19:08] thomastaylor312 commented on #3069
I think this would be a great idea. We could even bring it in now if we can have the root level `tiller` just be an alias for `tiller serve` until we hit Helm 3

[2017-10-29 00:37] migueleliasweb commented on #2505
FYI, I kept digging and turns out the whole issue was due Golang's Dep is not ready yet for merging dependencies-of-dependencies atm. The problem with the version was due to the fact Dep does not check recursively dependencies-of-dependencies for extra version contraints. I raised an issue about this on Dep's repo and the guys are working on solving it in a near future.

Dep issue: https://github.

[2017-10-29 04:20] sdboyer commented on #2505
to clarify rq - dep _does_ read `Gopkg.toml` constraints for **all** projects - the root/current project, direct dependencies, and transitive dependencies. while we do automatically convert metadata files from other tools (e.g. `glide.yaml`, `Godeps.json`, `vendor.json`, `vendor.conf`) during `dep init` as a one-time hint, that's only done for the root project's old metadata file. we do not, durin

[2017-10-30 03:16] luckyfengyong opened #3074 "helm repo add --cert-file does not work with self-signed certification"
I have a helm repo server based on nginx with self-signed certification configured. I failed to run `helm repo add --cert-file` to add the repo. It returns error message of `x509: certificate signed by unknown authority`.

However when I add the cert into OS by following command

- RHEL
  - `cp ./cacert.pem /etc/pki/ca-trust/source/anchors`
  - `update-ca-trust enable; update-ca-trust extract`
- U

[2017-10-30 08:12] balboah commented on #1776
I haven't dug deep into it but the difference between me and the previous bugfix might be that I'm a heavy user of subcharts. Maybe it doesn't filer out paths one level deeper?

[2017-10-30 09:47] qiujian16 commented on #3074
--ca-file should be used, --cert-file and --key-file is used for tls client auth. But it should have a better error message. Current error msg is confusing.

[2017-10-30 10:52] leo-baltus commented on #3050
@eicnix setting `--set=secretfile=...` would not eliminate the need to read the file at some point, since it won't be in tiller, it can't be read I suppose.

I saw that there was work done to support secrets in helm natively. A pointer to how to use this would be useful to me.

[2017-10-30 13:41] luckyfengyong commented on #3074
Oh, I thought I use --ca-file, but it is not.

[2017-10-30 16:15] ljnelson commented on #3005
This just occurred to me out of the blue and I thought I'd at least capture it here.  Would something like this work:

    --set replicaCount="!!int '1.0'"

…?  `!!int` applied to a YAML scalar is supposed to coerce it.

[2017-10-30 16:25] bacongobbler commented on #3005
Assuming https://github.com/ghodss/yaml supports it, yes.

[2017-10-30 17:01] #3056 closed

[2017-10-30 17:37] bacongobbler commented on #2962
Actually I'm going to re-open this as an action item to put this in the documentation. I've referenced it on several occasions, so it's probably best to get this enshrined in the docs.

[2017-10-30 20:41] #3010 closed

[2017-10-30 20:53] adamreese commented on #2985
@ipedrazas can you open a PR for your fix.  We can revisit a disabling flag later.

Thanks!

[2017-10-30 21:14] joanrieu commented on #2679
The use of Base 64 encoding is not related to Helm itself though, that's the way Kubernetes secrets work right now.

[2017-10-30 21:50] bacongobbler commented on #2679
This was intentional, but for different reasons than what @seh and @joanrieu imply (though they are correct what they're discussing). It's a very common practice in software engineering to encode files as base64-encoded strings to ensure it's transmitted correctly from one end to the other.

For a little background history, base64-encoding is a way of taking binary data and turning it into text so

[2017-10-30 22:23] jayme-github commented on #2033
No. As soon as the lock is updated, everything works as intended.

[2017-10-30 22:44] #2033 closed

[2017-10-31 02:26] diegows commented on #2149
Same problem here, but updating the "replicas" value. Statefulset doesn't get updated.

[2017-10-31 04:21] thomastaylor312 commented on #2779
Closed in #3076

[2017-10-31 04:21] #2779 closed

[2017-10-31 10:26] previa commented on #1186
Sorry,  I am new to golang and helm. I didn't understand the meaning of the following code.

{{- $name := default .Chart.Name .Values.nameOverride -}}
=> is this mean $name would be .Chart.Name by default and allow to be overwritten by .Values.name ?
{{- if ne .Chart.Name .Release.Name -}}
=> Is this mean  if .Chat.Name and .Release.Name is not equal ?

I have spend some time on document especiall

[2017-10-31 10:39] tommysitu opened #3077 "Release failure or error logs"
I am using Helm version 2.6.1.

When a release is failed, how can I see more details about the failure?
Running `helm history <release-name>` won't give me the full description:
REVISION	UPDATED                 	STATUS	CHART                              	DESCRIPTION
1       	Tue Oct 31 10:28:08 2017	FAILED	my-chart	    Release "my-chart" failed: Servic...

I can't find any command or flag that cou

[2017-10-31 10:50] prydonius commented on #1186
@previa yes, both of your assumptions are correct

[2017-10-31 13:39] #2879 closed

[2017-10-31 14:42] #2985 closed

[2017-10-31 16:55] bacongobbler commented on #694
closed via #2974. Anyone wanting to comment on the roadmap should either file a new ticket or file a PR. Thanks!

[2017-10-31 16:55] #694 closed

[2017-10-31 17:01] bacongobbler commented on #856
#2577 is related to this discussion and brought up a good point. We should make the decision to either allow competing template engines in tiller or enforce the yaml template engine.

Marking this as a discussion point for Helm 3.

[2017-10-31 17:03] bacongobbler commented on #949
If someone would write up a design document with a reference implementation on how this could be solved, that would be incredibly helpful. We're not sure how to best express this in Helm, so perhaps someone from the community may know more.

[2017-10-31 17:11] bacongobbler commented on #1038
chartmuseum also has documentation on [basic authentication support for chart repositories](https://github.com/kubernetes-helm/chartmuseum#basic-auth). Same with [CoreOS' app registry](https://coreos.com/blog/quay-application-registry-for-kubernetes.html) via `helm registry login`.

Given that there are multiple reference implementations, I think this can be closed as resolved via documentation su

[2017-10-31 17:11] #1038 closed

[2017-10-31 17:12] bacongobbler commented on #1079
closing, please follow up at helm-whatup. :)

[2017-10-31 17:12] #1079 closed

[2017-10-31 17:13] bacongobbler commented on #1125
alternative proposal: #2730

[2017-10-31 17:21] bacongobbler commented on #1331
closing as resolved/inactive as TPR/CRD support was merged into helm 2.7 via #3019. Please re-open if this doesn't accomplish the original goal of this ticket. Thanks!

[2017-10-31 17:21] #1331 closed

[2017-10-31 17:21] bacongobbler commented on #1354
#2846 should resolve this issue.

[2017-10-31 17:32] bacongobbler commented on #1404
The feature requests listed here have all been solved with [chartmuseum](https://github.com/kubernetes-helm/chartmuseum) which I think is the repository server we want to recommend moving forward. It autogenerates the index.yaml based on the packages uploaded to the chart repository, removing the need to manage an index.yaml at all.

I'm going to close this as resolved as this project is now an of

[2017-10-31 17:32] #1404 closed

[2017-10-31 17:34] bacongobbler commented on #1186
We should definitely add @sstarcher's suggestion to `helm create` so that this becomes the de-facto for charts moving forward. If anyone wants to take a crack at a PR, please go for it! This is a fantastic feature to get your feet wet with helm. :)

[2017-10-31 17:37] bacongobbler commented on #1432
related issues: https://github.com/kubernetes/helm/issues/2792

[2017-10-31 17:39] bacongobbler commented on #1638
This is an action item for Draft at https://github.com/Azure/draft/issues/396. Let's see if we can find a way to get plugins to work for Draft, then propose a new system for Helm 3.

[2017-10-31 17:44] bacongobbler commented on #1810
For anyone interested in looking for this workflow, They should look at https://github.com/Azure/draft. It uses Helm under the covers but provides convenience commands around a helm release such as `draft logs`, and `draft connect`.

[2017-10-31 17:46] #1773 closed

[2017-10-31 17:47] bacongobbler commented on #1741
#2585 should fix this.

[2017-10-31 18:09] bacongobbler commented on #1834
`helm package --version` sets the version on the chart and was introduced in https://github.com/kubernetes/helm/pull/1706, finishing off all the asks in this issue. https://github.com/kubernetes/helm/issues/2932 covers the last ask, so I'm closing this as resolved/duplicate. In the future, let's try to open separate tickets for multiple feature requests. That way we can track individual tickets an

[2017-10-31 18:09] #1834 closed

[2017-10-31 18:11] bacongobbler commented on #1873
ping

[2017-10-31 18:11] #1875 closed

[2017-10-31 18:15] bacongobbler commented on #1881
Closing this ticket as inactive. I haven't seen any activity from the OP since January. It's *very* likely that  Helm, Kubernetes **or** GKE itself has fixed this issue since then.

Please re-open if this issue is still seen against the latest version of Helm, and if so, please provide a reference implementation or a reproducible test case so we can test against this bug. Thanks! :)

[2017-10-31 18:15] #1881 closed

[2017-10-31 18:21] bacongobbler commented on #1896
Given the workaround @ausov mentions for `helm repo index` and with [chartmuseum](http://github.com/kubernetes-helm/chartmuseum)'s introduction as an incubator project for Helm (along with other implementations like app registry), should we consider this ticket as resolved?

[2017-10-31 18:23] hausdorff commented on #856
@bacongobbler How should an outsider seeking to get involved in this discussion proceed? Just by monitoring that issue?

[2017-10-31 18:31] bacongobbler commented on #856
Yup! That or they can attend the helm developer's summit in January as there will quite likely be a few groups interested in discussing Helm 3 topics during the summit. We're still figuring out the logistics of that event so stay tuned in #helm-users (on Slack)!

Regardless of the outcome of that discussion at the summit (if it even happens), monitoring this ticket or #2577 would be a good way to

[2017-10-31 18:33] lastonoga opened #3080 "File not found when doing local install from folder"
Hey there,

helm version
[code]

I cant do local install at all. From repos it works good.

For example i try to make that one
[code]

There is an error
[code]

But `ls helm/prometheus-operator` shows
[code]

[2017-10-31 18:34] bacongobbler commented on #1933
We cannot introduce breaking changes to users unless it's for a **very** good reason (case in point: compliance issues with facebook's Go libraries introduced in Helm 2.5). We can set up a deprecation notice to eventually bring this in, but I wouldn't go full steam ahead with breaking existing users' workflows, even if it's the "right" way to fix the problem.

[2017-10-31 18:35] hausdorff commented on #2577
@eicnix I'm not sure what you mean when you say go-jsonnet doesn't allow custom importers. `jsonnet.Importer` is an interface, and you can implement your own, and pass that to the go-jsonnet runtime. I _believe_ this should accomplish your goals.

If that does not accomplish your goals, I (and, I'm sure, @sparkprime) happy to talk about what you do need, and whether it would be reasonable to add i

[2017-10-31 18:36] bacongobbler commented on #1915
https://github.com/kubernetes/helm/pull/2950 introduces the --format flag to `helm list`, so it should be relatively simple issue to pick up if anyone wants to give this a shot!

[2017-10-31 18:38] bacongobbler commented on #3080
Can you try `./helm/Prometheus-operator` instead? Helm recognizes `./` as a reference to a local file path. Let me know if that works.

[2017-10-31 18:39] bacongobbler commented on #3080
I also noticed that your client version is **very** out of date. Try updating that to v2.7.0 and try again.

[2017-10-31 19:06] bacongobbler commented on #1950
@vinayagg that was added in https://github.com/kubernetes/helm/pull/2557. :)

As for the original issue, I'm starting to dislike `helm init` being our documented process for configuring a tiller instance and I would push back on adding features like `--label` moving forward.

`helm init`'s original goal was to be a very simple command to install a tiller instance for developer's  ease of use, not

[2017-10-31 19:10] bacongobbler commented on #1960
related discussion: #2694

[2017-10-31 19:14] bacongobbler commented on #1961
I think this has been resolved via #2845, but #1186 would definitely improve the situation.

[2017-10-31 19:15] #1971 closed

[2017-10-31 19:16] bacongobbler commented on #1990
related: #2694

[2017-10-31 19:22] bacongobbler commented on #1998
no ballpark ETA on this. There is an experimental backend for tiller at https://github.com/kubernetes-helm/rudder-federation which @nebril is working on, but there are no plans on adding this to the roadmap any time soon. Please feel free to give that a shot.

I know your comment was from March, but from what I've seen, federation support was just pulled out of kubernetes core into https://github.

[2017-10-31 19:28] lastonoga commented on #3080
@bacongobbler  I tried, no results. Well, i searched the whole universe and did not found how to update client (there is a part in documentation only about updating tiller)

[2017-10-31 19:30] eicnix commented on #2577
@hausdorff I tried to write an implementation for the `ImportData` function inside the helm project but the fields of the `ImportedData` are private and cannot be set from the helm package.

Am I missing something here?

[2017-10-31 19:32] bacongobbler commented on #3080
Just fetch one of the releases from https://github.com/kubernetes/helm/releases and put in in your path, Alternatively, if you're on macOS try `brew install kubernetes-helm`.

[2017-10-31 19:40] lastonoga commented on #3080
@bacongobbler Thanks, now everything is perfect!

[2017-10-31 19:43] #3080 closed

[2017-10-31 19:43] bacongobbler commented on #3080
No problem :)

[2017-10-31 20:12] bacongobbler commented on #1999
closing this as inactive/resolved via chartify. If that doesn't fix the issue there's an ongoing proposal at https://github.com/kubernetes/helm/issues/2730 which I would suggest taking a look at if you're interested :)

Thanks!

[2017-10-31 20:12] #1999 closed

[2017-10-31 20:16] bacongobbler commented on #2026
closing. Tickets related to the spinnaker chart should be followed up at https://github.com/kubernetes/charts.

[2017-10-31 20:16] #2026 closed

[2017-10-31 20:19] bacongobbler commented on #2036
@jmastr I noticed you have a fork of helm with some commits that add --namespace, --set and --values to `helm lint`. Is this in a workable state to be PR'd upstream or do we have permission to use your code?

[2017-10-31 20:22] bacongobbler commented on #2048
IIRC this was fixed in future releases of Kubernetes since 1.4. I'd try helm 2.7 with k8s 1.8 and see if this can be reproduced.

I'm going to close this, but please feel free to re-open if this is still an issue for you. Thanks!

[2017-10-31 20:22] #2048 closed

[2017-10-31 20:23] bacongobbler commented on #2052
closing this issue as resolved but please re-open if the answer provided by @technosophos does not solve your question. Thanks! :)

[2017-10-31 20:23] #2052 closed

[2017-10-31 20:27] bacongobbler commented on #2057
We should go ahead and close this. Tools like [draft](https://github.com/Azure/draft) should be able to solve the use case, but I don't think this is something we're going to implement in helm. If anyone knows of a helm plugin that does this, please let us know!

[2017-10-31 20:27] #2057 closed

[2017-10-31 20:28] jmastr commented on #2036
@bacongobbler The PR is here: #2972

[2017-10-31 20:28] bacongobbler commented on #2060
Targeting this as a discussion point for helm 3. It appears there is a huge amount of demand for this.

[2017-10-31 20:29] bacongobbler commented on #2036
Ooh thanks! I forgot about that PR; I'm just triaging issues at the moment but I'll be happy to take a look at it in a second.

[2017-10-31 20:36] jmastr commented on #2036
@bacongobbler np, #2495 might be a duplicate.

[2017-10-31 20:37] davidkarlsen opened #3081 "feature/proposal: let linter discover old templating for "fullname" and provide guidance"
See: https://github.com/kubernetes/helm/pull/2845 for a background.
There was a change in how the naming is done and the default generated _helper.
Maybe the linter should detect the old scheme and warn so that existing charts can move forward to the newer style - this would increase awareness and help on consistency.

[2017-10-31 20:43] #2125 closed

[2017-10-31 20:43] bacongobbler commented on #2125
closing as inactive.

[2017-10-31 20:44] bacongobbler commented on #2122
closing this as inactive. Please re-open if you have more info to share. Thanks!

[2017-10-31 20:44] #2122 closed

[2017-10-31 20:51] bacongobbler commented on #2083
This should now be possible (encryption of the entire set of release data) via the new secrets storage backend in #2721. If anyone has feedback on this storage backend, please open a new ticket or file PRs against the documentation on how one may encrypt the release data, perhaps using the experimental [encryption at rest](https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/) feature

[2017-10-31 20:51] #2083 closed

[2017-10-31 20:52] bacongobbler commented on #2081
This has been fixed in helm 2.7 as part of #2636.

[2017-10-31 20:52] #2081 closed

[2017-10-31 20:57] bacongobbler commented on #2066
Is this something we want to discuss for Helm 3 or should we consider this something as "working as intended"? I'm not too familiar with this side of the codebase, so I'll defer to someone else to make the call.

[2017-10-31 21:30] bacongobbler commented on #2141
[chartmuseum](https://github.com/kubernetes-helm/chartmuseum) allows for pluggable storage backends and regenerates index.yaml based on the contents from that backend. I think we can consider this closed and users who are interested in doing this should use chartmuseum as their repository server instead of `helm serve`. `helm serve` was never meant to be anything more than a basic web server for d

[2017-10-31 21:30] #2141 closed

[2017-10-31 21:33] bacongobbler commented on #2183
I think this has been resolved with feature flags like [helm install --dep-up](https://github.com/kubernetes/helm/pull/2880) and with tools that use Helm like [draft](https://github.com/Azure/draft), so we can consider this one closed. Please re-open if these don't solve your use case though. Thanks! :)

[2017-10-31 21:33] #2183 closed

[2017-10-31 21:34] bacongobbler commented on #2185
closing as inactive.

[2017-10-31 21:34] #2185 closed

[2017-10-31 21:36] bacongobbler commented on #2195
closing as a duplicate of #2575.

[2017-10-31 21:36] #2195 closed

[2017-10-31 21:36] bacongobbler commented on #2196
closing since #2721 has now been merged.

[2017-10-31 21:39] bacongobbler commented on #2202
closing as a wontfix since this is working as intended. If you want to lint a chart, it needs to be uncompressed and on the local filesystem. It's not intended to be used on packaged charts that (should) have already gone through the linting process.

[2017-10-31 21:39] #2202 closed

[2017-10-31 21:42] bacongobbler commented on #2207
Closing as this looks like something solved through alternative tooling like [brigade](http://brigade.sh/) or with a DIY "rudder" implementation, which #2079 has since been merged into helm.

[2017-10-31 21:42] #2207 closed

[2017-10-31 21:43] bacongobbler commented on #2211
closing as resolved/inactive, but please re-open if the answer provided by @thomastaylor312 does not work for you. Thanks!

[2017-10-31 21:43] #2211 closed

[2017-10-31 21:46] bacongobbler commented on #2216
closing, please file bugs in kubernetes/charts as recommended by @technosophos in https://github.com/kubernetes/helm/issues/2216#issuecomment-294037962.

related follow-up for anyone interested: https://github.com/kubernetes/helm/issues/3081

[2017-10-31 21:46] #2216 closed

[2017-10-31 21:47] bacongobbler commented on #2218
closing as resolved/inactive. Please re-open if this does not work for you. Thanks!

[2017-10-31 21:47] #2218 closed

[2017-10-31 21:54] bacongobbler commented on #2243
I wonder if this is something we should consider out of helm's scope and instead turn users to tooling like [brigade](http://brigade.sh/) to handle these complex use cases. @technosophos any further opinion on this?

[2017-10-31 21:58] jemc commented on #1961
As far as I can tell, #2845 only works around one small aspect of this issue.

[2017-10-31 22:00] bacongobbler commented on #2249
can anyone bump this thread and let us know if this is still relevant for k8s 1.8/helm 2.7? I haven't seen any activity on this issue since April and Google Cloud SDK's now at 177.0.0.

[2017-10-31 22:10] bacongobbler commented on #2252
`helm repo add` failing on windows should be resolved with https://github.com/kubernetes/helm/pull/3024 so I'm going to close this as a duplicate of https://github.com/kubernetes/helm/issues/2071. If there are separate windows-related tickets, please open a new issue so we can triage and label it as such. Thanks!

[2017-10-31 22:10] #2252 closed

[2017-10-31 22:14] bacongobbler commented on #2257
I'm going to close this issue as helm uses the kubernetes 1.8 client libraries, so the issue OP mentioned was fixed a long time ago.

For anything else, please open a new issue so we can track that discussion separately. Thanks.

[2017-10-31 22:14] #2257 closed

[2017-10-31 22:15] bacongobbler commented on #2258
closing as inactive, but please reopen if this is still an issue.

[2017-10-31 22:16] bacongobbler commented on #2269
slating this as a Helm 3 discussion topic.

[2017-10-31 22:21] bacongobbler commented on #2277
closing as resolved.

[2017-10-31 22:21] #2277 closed

[2017-10-31 22:21] bacongobbler commented on #2249
closed as resolved in https://github.com/kubernetes/helm/issues/2277.

[2017-10-31 22:21] #2249 closed

[2017-10-31 22:25] bacongobbler commented on #2326
@libesz it's been a long time since this issue has been last updated. Can you possibly try to articulate the issue more in-depth? I'm not quite sure I understand what needs to change in Helm to accommodate this. Sorry!

[2017-10-31 22:27] bacongobbler commented on #2319
closed via https://github.com/kubernetes/helm/pull/2849.

[2017-10-31 22:27] #2319 closed

[2017-10-31 22:28] bacongobbler commented on #2298
ping, any update? Just checking whether we can expect the feature in time to review for 2.8 or if we should hold off on targeting specific milestones. Thanks! :)

[2017-10-31 22:36] bacongobbler commented on #2293
closing this as inactive. Please re-open this issue if you're still seeing this. Thanks!

[2017-10-31 22:36] #2293 closed

[2017-10-31 22:42] bacongobbler commented on #2334
Closing this discussion as inactive and "too big to close" since there's nothing actionable described in this issue (and yes, release locking was implemented in recent releases of Helm).

If there are additional points where tiller's HA story is lacking, Please feel free to write up design documents and/or PRs to fix any issues you see. Thanks!

[2017-10-31 22:43] bacongobbler commented on #2963
related discussion around go-yaml's parser: https://github.com/kubernetes/helm/issues/2963

[2017-10-31 22:49] thomastaylor312 commented on #2243
@bacongobbler That would actually be probably the best idea. I know we have talked about trying to make sure that Helm doesn't become a full lifecycle management tool over a package manager

[2017-10-31 22:51] bacongobbler commented on #2363
yes.

[2017-10-31 22:51] #2363 closed

[2017-10-31 22:52] thomastaylor312 commented on #2196
@bacongobbler #2721 only partially implemented this by creating the secrets backend so I think it should stay open for now

[2017-10-31 22:52] #2360 closed

[2017-10-31 22:53] bacongobbler commented on #2196
sounds good. :)

[2017-10-31 22:56] bacongobbler commented on #2243
Cool. I'm going to aggressively close this as something we will not implement in Helm, but we can re-open this for further discussion if there's disagreement on Helm's scope. Thanks everyone!

[2017-10-31 23:00] thomastaylor312 commented on #856
@hausdorff We still need to figure out how we will handle discussing these topics. I'll be working on how we will go forward with it

[2017-10-31 23:01] thomastaylor312 commented on #2792
@technosophos Have we accepted and gone ahead with this or do we still need to do some discussion?

[2017-10-31 23:04] thomastaylor312 commented on #2437
@blakebarnett Do you have a link to the "discussed elsewhere" you referred to?

[2017-10-31 23:06] bacongobbler commented on #2347
@Starefossen please feel free to implement a fix! We are incredibly busy so we haven't been able to get to this. Please feel free to hack up a PR though! This should be a relatively simple fix, so I'm labelling it as a starter issue.

[2017-10-31 23:08] bacongobbler commented on #2340
closing as inactive. Please re-open if this is reproducible. Thanks!

[2017-10-31 23:08] #2340 closed

[2017-10-31 23:09] #2380 closed

[2017-10-31 23:13] bacongobbler commented on #2403
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2017-10-31 23:13] #2403 closed

[2017-10-31 23:14] bacongobbler commented on #2404
should we slate this as a discussion topic for helm 3?

[2017-10-31 23:17] #2426 closed

[2017-10-31 23:17] thomastaylor312 commented on #2404
Yeah, let's bump this out to the major milestone and slate it for Helm 3

[2017-10-31 23:20] bacongobbler commented on #2412
looks like this has been fixed in recent releases. Closing this, but please re-open if this isn't true on helm 2.7 with k8s 1.8 or later.

[2017-10-31 23:20] #2412 closed

[2017-10-31 23:20] bacongobbler commented on #2419
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2017-10-31 23:20] #2419 closed

[2017-10-31 23:20] bacongobbler commented on #2422
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2017-10-31 23:20] #2422 closed

[2017-10-31 23:20] SlickNik commented on #2404
Agreed -- let's push this out to the next major milestone (Helm 3).

[2017-10-31 23:21] blakebarnett commented on #2437
Yeah I couldn't find it earlier, but it's here:  https://github.com/kubernetes/helm/issues/2341

There are various other issues and PRs that reference this problem also in different ways, here's a couple:
https://github.com/kubernetes/helm/issues/2333
https://github.com/kubernetes/helm/issues/2346

[2017-10-31 23:22] bacongobbler commented on #2435
I'm going to close this ticket due to inactivity since helm 2.5 was released several months ago, but please re-open if this still needs to be addressed. Thanks!

[2017-10-31 23:22] #2435 closed

[2017-10-31 23:27] bacongobbler commented on #2463
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2017-10-31 23:27] #2463 closed

[2017-10-31 23:28] #2466 closed

[2017-10-31 23:28] bacongobbler commented on #2466
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2017-10-31 23:36] bacongobbler commented on #2479
Closing this as a wontfix. @jascott1 is right; this is working as intended both for Openstack and for Deis users alike (both charts of which are maintained by ourselves, so we understand the scope of the proposed change here).

Umbrella chart conditional requirements are intended to be parsed at the umbrella chart's level, not of the subcharts. Changing this behaviour would be a breaking change an

[2017-10-31 23:36] #2479 closed

[2017-10-31 23:41] bacongobbler commented on #2504
closing as a duplicate of https://github.com/kubernetes/helm/issues/1534

[2017-10-31 23:41] #2504 closed

[2017-10-31 23:42] bacongobbler commented on #2495
closing this as a duplicate of #2036.

[2017-10-31 23:42] #2495 closed

[2017-10-31 23:43] bacongobbler commented on #2036
thanks for pointing that out! :)

[2017-10-31 23:45] bacongobbler commented on #2494
deployment spec selectors are no longer mutable as of apps/v1beta2 and this is noted upstream in https://github.com/kubernetes/kubernetes/pull/50719. Short of `helm delete --purge myrelease` and running `helm install` again on your chart, there is no way to mutate the selector labels.

[2017-10-31 23:46] bacongobbler commented on #2494
closing as a wontfix/working as intended according to upstream.

[2017-10-31 23:46] #2494 closed

[2017-10-31 23:49] bacongobbler commented on #2493
There is no way to workaround other than delete/reinstall, sadly. upstream doesn't want you to change label selectors after the initial release, and we have no control over that. We're going to have to close this as "working as intended", unfortunately. Sorry!

[2017-10-31 23:49] #2493 closed

[2017-10-31 23:50] bacongobbler commented on #2470
If someone wants to write a plugin to dump and restore the configmaps helm creates, go nuts! This would be an awesome plugin to see.

[2017-10-31 23:51] bacongobbler commented on #2514
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2017-10-31 23:51] #2514 closed

[2017-10-31 23:52] bacongobbler commented on #2516
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2017-10-31 23:52] #2516 closed

[2017-10-31 23:52] bacongobbler commented on #2526
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2017-10-31 23:52] #2526 closed

[2017-10-31 23:53] bacongobbler commented on #2539
should we close this ticket and point users to try out https://github.com/kubernetes-helm/rudder-federation if they want to try federated support for Helm?

[2017-10-31 23:54] bacongobbler commented on #2551
I'm going to close this ticket as it might've been fixed in a future release, but please re-open if this still needs to be addressed. Thanks!

[2017-10-31 23:54] #2551 closed

[2017-10-31 23:59] bacongobbler commented on #2554
I think we should close this as something out of helm's scope similar to #2243. I know that `helm template` generates the templated chart manifests which then users perform post-processing on their own. I think that is the right approach to stop us from writing a tool that is said to be turing complete.

If I'm wrong and there's still value in adding this feature and/or it's a relatively simple PR

[2017-10-31 23:59] #2554 closed

[2017-11-01 00:03] bacongobbler commented on #2574
This is something out of scope for helm, but I know of other tooling where this would make sense, e.g. [brigade](http://brigade.sh/).

[2017-11-01 00:03] #2574 closed

[2017-11-01 00:03] bacongobbler commented on #2576
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2017-11-01 00:03] #2576 closed

[2017-11-01 00:11] bacongobbler commented on #2578
possibly related: https://github.com/kubernetes/helm/issues/2025

[2017-11-01 00:13] bacongobbler commented on #2579
Closing this as a duplicate of #1534 since that issue also asks about returning "structured output" for further post-processing.

[2017-11-01 00:13] #2579 closed

[2017-11-01 00:14] bacongobbler commented on #2587
closing as out of scope for helm. A plugin or another project would be better suited for this sort of work.

[2017-11-01 00:14] #2587 closed

[2017-11-01 00:15] bacongobbler commented on #2590
@Smana were you able to resolve this issue?

[2017-11-01 00:16] bacongobbler commented on #2593
I think this was fixed in later releases of helm, but please re-open if this was not. Thanks!

[2017-11-01 00:16] #2593 closed

[2017-11-01 00:18] bacongobbler commented on #2596
related issue which I just closed as out of scope for helm (read: other things like k8s initializers are better suited for this task): https://github.com/kubernetes/helm/issues/2554

Alternatively, one can take the output of `helm template` to perform post-processing before installing the manifests. Hope this helps!

[2017-11-01 00:18] #2596 closed

[2017-11-01 00:21] bacongobbler commented on #2604
closing as a duplicate of #1079.

[2017-11-01 00:21] #2604 closed

[2017-11-01 00:30] bacongobbler commented on #2606
Yes, it should allow duplicate entry elements with the same name. What it *should not* allow are duplicate entry elements with the same name **and** the same version.

I think this question is out of date now since type ChartRepo uses [type *Entry](https://github.com/kubernetes/helm/blob/c5c6e6375b5e9f475bd65309f74af89e430db6b9/pkg/repo/chartrepo.go#L46) whereas type IndexFile uses a type [map[str

[2017-11-01 00:32] bacongobbler commented on #2613
closing as a duplicate request. See https://github.com/kubernetes/helm/issues/2055

[2017-11-01 00:32] #2613 closed

[2017-11-01 00:34] bacongobbler commented on #2620
That was a bug which was fixed in helm v2.6.1: https://github.com/kubernetes/helm/releases/tag/v2.6.1

I'd suggest upgrading and trying again, @polasekr :)

[2017-11-01 00:35] bacongobbler commented on #2622
ping, any update on this one @Onlinehead? Were you able to fix your issue through some workaround?

[2017-11-01 00:36] bacongobbler commented on #2623
I'm going to close this ticket due to inactivity as this hasn't popped up in several months, but please re-open if this still needs to be addressed. Thanks!

[2017-11-01 00:36] #2623 closed

[2017-11-01 00:39] bacongobbler commented on #2638
@weiwei04 did you ever come around to writing this API
? Would be neat to see what you came up with.

[2017-11-01 00:40] bacongobbler commented on #2640
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2017-11-01 00:40] #2640 closed

[2017-11-01 00:42] bacongobbler commented on #2647
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2017-11-01 00:42] #2647 closed

[2017-11-01 00:55] fhemberger commented on #1079
@bacongobbler Are you still working on it?

[2017-11-01 01:17] bacongobbler commented on #2670
closing as this is working as intended.

[2017-11-01 01:17] #2670 closed

[2017-11-01 01:46] egeland commented on #2334
Seems like a counter-productive thing to do, closing this issue when there's still no HA for tiller...?

Or did I miss something (that might do well to be mentioned here)?

[2017-11-01 02:05] bacongobbler commented on #2334
Yes, in hindsight this was closed this a little too soon, but I did have my reasons for closing it :)

The problem with opening a generic issue like "make tiller HA ready" is that it does not provide any feedback to the community or to the maintainers on *what* needs to be done to make tiller HA ready. In my mind it's the same as opening a ticket stating that [mongodb is web scale](https://www.you

[2017-11-01 02:08] coderanger commented on #2334
If mutex-ing on release changes is in place, it sounds like the next step would be to put in an option to `helm init` to generate the deployment with more than one replica, maybe with some anti-affinity settings if we're feeling super fancy?

[2017-11-01 02:10] coderanger commented on #2334
It's also worth noting that while the deployment has only a single replica, if Tiller (or the node it is one) fails, it should get restarted automatically so we should probably establish what kind of failure models this is for. I wouldn't normally consider Tiller being down for a few seconds to be something worthy of notice.

[2017-11-01 02:36] ljnelson commented on #2606
Thanks for your input.  I think, perhaps, you misunderstood my question, or I asked it badly.

So: I understand that an `index.yaml` may have many entries in it, each of which refers unambiguously to a chart with a particular name and version.  For example, the stable one is here: kubernetes-charts.storage.googleapis.com/index.yaml  Indeed, there are several entries for `wordpress` at various vers

[2017-11-01 02:58] onlydole opened #3083 "Helm Homebrew Binary - Context Deadline Exceeded Error"
When using the Helm `v2.7.0` binary from the Homebrew package manager, the following error message is seen below. Yet, installing the binary via the "From Script" method allows for regular use without any issue.

[code]

[2017-11-01 03:00] thomastaylor312 commented on #3077
@tommysitu Helm doesn't provide the logs for you. You have to debug it using `kubectl logs` if you'd like to see the logs. There is some work to stream back logs with Helm, but it is only for hooks (see #2342). Does that answer your question?

[2017-11-01 03:02] thomastaylor312 commented on #2437
Thanks @blakebarnett!

[2017-11-01 03:03] weiwei04 commented on #2638
@bacongobbler at first I try to create a grpc-server implement all tiller api(see https://github.com/weiwei04/compass/blob/develop/pkg/compass/compass.go) stand in front of tiller proxy all the request to tiller and do the download stuff at the grpc-server, but the tiller api did not fit into our current http based infrastructure, so I write another poc, defined a new set of grpc api and use grpc-

[2017-11-01 09:54] tommysitu commented on #3077
I can't use `kubectl logs` because my Helm release failed at creating k8s service, which is before creating any pods.  I think Helm must have kept the log somewhere, hence the description `Release "my-chart" failed: Servic...` which is truncated with ellipsis, and there is no way to see the full description.

[2017-11-01 14:08] iamrandys commented on #2751
👍

[2017-11-01 15:22] brosander commented on #2492
@eicnix Thanks for the suggestion!

I was unable to get the pipeline in template.yaml working but the below workerd for me (with values.yaml above):

template.yaml
[code]

[2017-11-01 15:41] mattfarina opened #3084 "Question: should charts be mutable?"
Repository `index.yaml` files contain a `digest` (hash) for a package. This works with provenance.

But, nothing stops an `index.yaml` file from updated to a new hash for a version and an updated package at the same version that matches. There's no checking or, and please correct me if I'm wrong, tracking of the hash for a version of a package.

I know systems like npm enforce immutable packages.

[2017-11-01 16:01] technosophos commented on #2243
After some discussion with @krancour in Slack, I am re-opening this. It's still a relevant problem we need to solve.

[2017-11-01 16:18] splisson commented on #3020
What error do you put in the helm upgrade to have it fail and reproduce the bug?

[2017-11-01 17:05] labeh commented on #2149
Same Problem here, but with Kubernetes 1.8.x this should be allowed: https://kubernetes.io/docs/tutorials/stateful-application/basic-stateful-set/

[2017-11-01 17:21] bacongobbler commented on #3083
seems related to #2409. What cloud provider are you using for your kubernetes cluster?

[2017-11-01 17:25] bacongobbler commented on #2683
I'm going to close this ticket as answered, but please re-open if this still needs to be addressed. Thanks!

[2017-11-01 17:25] #2683 closed

[2017-11-01 18:37] onlydole commented on #3083
Hey @bacongobbler (Ha! Great name) - I’m using AWS for this cluster. It does work when not using the Brew binary too.

[2017-11-01 18:37] bacongobbler commented on #2606
From the pkg side yes, but from the [CLI side no](kubernetes-charts.storage.googleapis.com). This logic should be rolled into the package, though. :)

I'll re-open this as a good starter refactor if anyone wants to get their feet wet with `pkg/repo`. :)

[2017-11-01 18:40] bacongobbler commented on #3083
Okay, if it doesn't seem related to the CLI then I think we can rule this as a duplicate of #2409. Would you mind following that ticket instead? Thanks!

[2017-11-01 18:40] #3083 closed

[2017-11-01 18:42] JonMontgo opened #3085 "Docker repo gcr.io/kubernetes-helm/tiller does not tag latest"
I tried to do a docker pull gcr.io/kubernetes-helm/tiller and found latest doesn't exist.

[2017-11-01 18:42] onlydole commented on #3083
@bacongobbler - This is related to the binary and should be checked / updated I believe as I can reproduce. This is not a duplicate of #2409 (as it's a different cloud, though it is the same Golang error response).

[2017-11-01 18:42] ljnelson commented on #2606
Thanks.  For posterity, my takeaway is: **duplicate entries should not be permitted in a `repositories.yaml`** via any mechanism.  I'll double-check that I'm enforcing that in [microbean-helm](https://microbean.github.io/microbean-helm/apidocs/org/microbean/helm/chart/repository/ChartRepositoryRepository.html#fromYaml-java.io.InputStream-).

[2017-11-01 18:45] bacongobbler commented on #2606
Correct. :)

[2017-11-01 18:50] bacongobbler commented on #3085
The latest release (master) uses the :canary tag. Try pulling that instead. :)

[2017-11-01 18:50] #3085 closed

[2017-11-01 18:51] bacongobbler commented on #3083
We've started to pile in separate cloud providers into the same issue (minikube and AWS users alike have piled onto that issue). We're trying to keep all issues related to that error in the same issue so we can track bug reports all in the same issue rather than in many different issues. It's hard to track many different conversations around the same bug reports in separate tickets so we try to ke

[2017-11-01 18:51] bacongobbler commented on #3083
I'll update that ticket to make it clearer.

[2017-11-01 18:55] bacongobbler commented on #2409
From looking at [kubernetes' issue queue](https://github.com/kubernetes/kubernetes/search?q=context+deadline+exceeded&type=Issues&utf8=%E2%9C%93), one possible reason why this error comes up is due to a bug with the docker daemon running on the node hosting tiller.

It might be good to see the docker daemon logs from the host running tiller, if anyone has those available.

[2017-11-01 18:55] onlydole commented on #2409
Is anyone experiencing this error after installing Helm with HomeBrew? I'm seeing success when installing directly with the "From Script" method in the wiki.

[2017-11-01 18:56] onlydole commented on #3083
@bacongobbler Ahhh! Got it 👍 Thank you

[2017-11-01 18:57] bacongobbler commented on #2827
closing this as a duplicate of #2409. Let's keep issues related to this error all in one ticket so we can collaborate and work together to solve this problem. Thanks so much for your reports!

[2017-11-01 18:57] #2827 closed

[2017-11-01 19:03] bacongobbler commented on #2409
FYI @onlydole I made a comment above that might help give you more insight into the error.

I don't think the difference between the CLI installed with homebrew and with the install script method will matter too much but it's definitely an interesting data point since homebrew [builds from source](https://github.com/cblecker/homebrew-core/blob/0f403053c61e6e5d404ba4fa16a165c8cc6deb14/Formula/kuber

[2017-11-01 19:06] bacongobbler commented on #2684
Is this relevant on Helm 2.7? I'm pretty sure this might've been related to the bug introduced in helm 2.6 which was fixed in 2.6.1.

[2017-11-01 19:07] bacongobbler commented on #2687
this sounds related and will likely be closed via the proposed documentation in https://github.com/kubernetes/helm/issues/2962.

[2017-11-01 19:08] bacongobbler commented on #2716
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2017-11-01 19:09] bacongobbler commented on #2705
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2017-11-01 19:09] #2705 closed

[2017-11-01 19:10] bacongobbler commented on #2702
Sounds like this is an upstream issue which we have no control over, unfortunately. I'd suggest following up at kubernetes/kubernetes if there are further issues with updating init containers. Sorry we can't help you with this!

[2017-11-01 19:10] #2702 closed

[2017-11-01 19:11] bacongobbler commented on #2700
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2017-11-01 19:11] #2700 closed

[2017-11-01 19:19] bacongobbler commented on #2699
So to solve that issue, there are certain cloud providers like Azure Container Services which are proposing convenience functions like `az acs kubernetes install-helm` via https://github.com/Azure/azure-cli/pull/4113. That way you can get a version of helm that matches your tiller instance running on their infrastructure.

So far we have guaranteed that the version of tiller will match the client

[2017-11-01 19:23] bacongobbler commented on #2699
I've updated the title to reflect the new proposal.

[2017-11-01 19:24] bacongobbler commented on #2698
I'm going to close this so we can continue tracking effort at helm/helm-www#56. Thanks!

[2017-11-01 19:24] #2698 closed

[2017-11-01 19:24] bacongobbler commented on #2697
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2017-11-01 19:24] #2697 closed

[2017-11-01 19:26] bacongobbler commented on #3051
It turns out that this request already existed in the form of #2694, so I'm going to close this in favour of the older ticket. We can track discussion over there moving forward :) Thanks for bringing this up @mattfarina!

[2017-11-01 19:26] #3051 closed

[2017-11-01 19:35] bacongobbler commented on #2731
I'm going to close this support ticket due to inactivity, but please re-open if this still needs to be addressed. I'd suggest trying the latest version of Helm and see if that fixes things first before re-opening so we can try again. Thanks!

[2017-11-01 19:39] bacongobbler commented on #2736
closing this as an upstream issue as there's nothing actionable we can do here, unfortunately. I'd suggest following up in https://github.com/kubernetes/kubernetes/issues/48069 as @binoculars has done, which then kubernetes fixes should make into later releases of Helm. Thanks!

[2017-11-01 19:39] #2736 closed

[2017-11-01 19:40] bacongobbler commented on #2741
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2017-11-01 19:40] #2741 closed

[2017-11-01 19:42] bacongobbler commented on #2745
labelling this as a starter bug. This should be relatively simple to fix.

[2017-11-01 19:46] bacongobbler commented on #2748
Yes, this is possible through [chart dependencies](https://docs.helm.sh/chart_template_guide/#subcharts-and-global-values). You can define a chart to be as simple as you like. An auth proxy would typically be fronting the application, which means that there's typically a service and a deployment involved at the very least. That would be a chart, which can then be a subchart for your other charts.

[2017-11-01 19:46] #2748 closed

[2017-11-01 19:53] bacongobbler commented on #2773
Giving the same response as in #2616:

So as far as I remember what we discussed in the developer call, we are not going to move forward with hosting "package-manager-specific" code in Helm core. We cannot keep up with the maintenance of an endlessly sprawling number of ways to install Helm. However, third party package managers are more than welcome to create repositories at [kubernetes-helm](htt

[2017-11-01 19:53] #2773 closed

[2017-11-01 19:55] bacongobbler commented on #2775
ping @danallraj, were you able to get this working?

[2017-11-01 19:58] bacongobbler commented on #2783
this sounds more like a doc request, which should be closed out with #2962. Am I correct with that assumption?

I don't think we're going to change `helm init` from deploying anything other than a deployment and a service any time soon... Unless the infrastructure significantly changes in helm 3.

[2017-11-01 20:02] bacongobbler commented on #2797
yes, that is indeed the issue. development charts are not exposed by default unless you explicitly add the --devel flag to `helm install`. Good catch, @jipperinbham.

I'm going to close this as working as intended, but please re-open if there's some action item that I'm missing which we need to address. Thanks!

[2017-11-01 20:02] #2797 closed

[2017-11-01 20:03] #2812 closed

[2017-11-01 20:03] bacongobbler commented on #2807
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2017-11-01 20:03] #2807 closed

[2017-11-01 20:04] bacongobbler commented on #2815
slating as a discussion point for Helm 3.

[2017-11-01 20:05] bacongobbler commented on #2820
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2017-11-01 20:05] #2820 closed

[2017-11-01 20:05] bacongobbler commented on #2821
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2017-11-01 20:05] #2821 closed

[2017-11-01 20:08] bacongobbler commented on #2833
@dshulyak looks like items 1 and 2 have been completed. Are you looking into item 3 any time soon? :)

[2017-11-01 20:09] bacongobbler commented on #2842
thanks @flyer103. Yeah, this was merged in and should be available in v2.7.0. :)

[2017-11-01 20:09] #2842 closed

[2017-11-01 20:10] bacongobbler commented on #2843
ping @technosophos, any clue on this bug?

[2017-11-01 20:12] bacongobbler commented on #2852
@navin-rajan this hasn't been slated for a milestone or discussed in the dev channel. If you feel like writing up a design document or a PR for this, go nuts! :)

[2017-11-01 20:13] bacongobbler commented on #2853
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2017-11-01 20:13] #2853 closed

[2017-11-01 20:13] bacongobbler commented on #2858
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2017-11-01 20:13] #2858 closed

[2017-11-01 20:14] seh commented on #2783
For now, my Helm chart that installs Tiller honors an option to elide the _Deployment_ and just deploy a pod directly with a predictable name. As I said, it trades reliability for security. Should the node hosting Tiller's pod fail, there's no supervising object to schedule a replacement elsewhere.

[2017-11-01 20:14] kfox1111 commented on #2748
@bacongobbler I think this does raise an interesting point. Several times I've fronted containers with sidecar proxies. like oauth2_proxy for auth, or haproxy for ssl termination or connection tracking...

So far, I've had to tweak the chart of everything I've needed to do this on.

It would be good if there was a generic mechanism in helm charts to allow end users to slide in with some kind of ge

[2017-11-01 20:21] bacongobbler commented on #2861
So #2962 (and @seh's answer above) answers the question about how to grant tiller access to create resources in a RBAC-enabled environment. I'd say we should still keep this ticket open to fix the issue where Helm returns an unclear error message when RBAC is enabled:

[2017-11-01 20:22] bacongobbler commented on #2866
ping @MostAwesomeDude, were you able to resolve this issue eventually? This seems like an external actor is causing this behaviour from my perspective. I've never heard of a Deployment scaling up on its own unless there was some horizontal pod autoscaler enabled on your cluster.

[2017-11-01 20:23] libesz commented on #2326
@bacongobbler Okay, let me put it this way: my insight is currently that the chart rendering logic is cut into two halves, but is shouldn't be. The first half is done already on the client side (in helm CLI binary), which is to exclude the parts of the chart, which are disabled by conditions (see the second link in the opening post). That makes sure that only the actually needed parts will be sent

[2017-11-01 20:24] bacongobbler commented on #2872
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2017-11-01 20:24] #2872 closed

[2017-11-01 20:25] bacongobbler commented on #2873
I'm going to close this ticket as resolved, but please re-open if this still needs to be addressed. Thanks!

[2017-11-01 20:25] #2873 closed

[2017-11-01 20:27] bacongobbler commented on #2326
Can you provide a chart reference implementation which can be used to test against for anyone interested in picking this up?

[2017-11-01 20:28] bacongobbler commented on #2883
this was merged in and is in helm 2.7.

[2017-11-01 20:28] #2883 closed

[2017-11-01 20:29] bacongobbler commented on #2884
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2017-11-01 20:29] #2884 closed

[2017-11-01 20:29] bacongobbler commented on #2893
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2017-11-01 20:29] #2893 closed

[2017-11-01 20:30] bacongobbler commented on #2895
were you able to figure out a solution for this? :)

[2017-11-01 20:30] bacongobbler commented on #2916
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2017-11-01 20:31] bacongobbler commented on #2914
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2017-11-01 20:40] bacongobbler commented on #2913
Hey, finally coming back to this issue after being on the road for a few weeks. Sorry about that!

I completely understand the frustration you're having with the error message. The problem is that YAML's spec is a very complex beast, so parser errors like this are very common and are not very intuitive to the user on how they should fix this. I actually ranted about this a little in https://github

[2017-11-01 20:40] #2913 closed

[2017-11-01 20:42] bacongobbler commented on #2908
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2017-11-01 20:42] #2908 closed

[2017-11-01 20:42] bacongobbler commented on #2902
closed via #2930.

[2017-11-01 20:42] #2902 closed

[2017-11-01 20:42] bacongobbler commented on #2921
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2017-11-01 20:42] #2921 closed

[2017-11-01 20:44] bacongobbler commented on #2931
related discussion: #856

[2017-11-01 20:44] bacongobbler commented on #2935
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2017-11-01 20:44] #2935 closed

[2017-11-01 20:47] bacongobbler commented on #2945
This is an upstream issue with upgrading statefulset affinities so there's nothing we can do here, unfortunately. I'm sorry we're unable to help you here, but I would suggest opening a ticket or searching for existing tickets at https://github.com/kubernetes/kubernetes to resolve this issue. Thanks!

[2017-11-01 20:47] #2945 closed

[2017-11-01 20:49] bacongobbler commented on #2945
To add, StatefulSets are an alpha object (now-beta for 1.8), so there's no guarantee that these resources can be reliably upgraded in helm. We try to make it easy to upgrade unstable resources in kubernetes, but sometimes it's just out of our control due to backwards-incompatible changes and that's just the nature of the beast. Sorry!

[2017-11-01 20:51] bacongobbler commented on #2959
can you try v2.7.0 and see if it's been fixed? The logs you posted are no longer available so I don't have an idea on what the original issue was. Sorry!

[2017-11-01 20:53] bacongobbler commented on #2967
this might be related to #2791.

[2017-11-01 20:54] danallraj commented on #2775
Yes, it was my bad in the end... I deleted the NOTES and helper files which the yaml file was referring to. It worked when I copied to a new template directory because those two files were I  there.

[2017-11-01 20:54] #2775 closed

[2017-11-01 20:55] bacongobbler commented on #2966
#2557 seems to solve this with --override and --node-selectors, so I'm closing this. Thanks!

[2017-11-01 20:55] #2966 closed

[2017-11-01 20:55] bacongobbler commented on #2969
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2017-11-01 20:55] #2969 closed

[2017-11-01 20:57] bacongobbler commented on #2989
@khenidak is there something actionable here that the flags provided in `helm init` doesn't provide already?

[2017-11-01 21:00] bacongobbler commented on #2991
We are using a package manager to *not* do this. It's generally considered bad practice to vendor in your dependencies. have a look at the mess that kubernetes is in because they vendor in k8s.io/apimachinery and other packages, and see what [helm has to do](https://github.com/kubernetes/helm/blob/master/scripts/setup-apimachinery.sh) to fix that. I'm very against this idea.

[2017-11-01 21:05] bacongobbler commented on #2996
ping

[2017-11-01 21:09] bacongobbler commented on #3023
What did you provide with `helm upgrade --install`? I think you have to discard the old values you provided and use `--set image=myrepo:tag` to fix this.

[2017-11-01 21:09] bacongobbler commented on #3030
ping

[2017-11-01 21:11] technosophos commented on #3084
My view is that a chart+version _should_ be immutable, and any system that formalizes tracking of packages may comfortably proceed accordingly. (The provenance system was designed for this scenario and will NOT work in a mutable environment). More specifically, when `foo-1.2.3.tgz` is released, that version string is forever allocated to the snapshot of the contents of that file. If a package main

[2017-11-01 21:11] bacongobbler commented on #3067
Yes, this behaviour is as designed. We do this because certain resource types in kubernetes rely on others being set up, e.g. if you deploy a deployment before a service is up, the environment variable SERVICENAME_SERVICE_HOST will not be present in the deployment's pods.

[2017-11-01 21:13] bacongobbler commented on #3077
When you first ran `helm install`, the logs should have been displayed in full to you. Did that not happen for you?

Try and see if `helm status <release-name>` shows any more information. If not, https://github.com/kubernetes/helm/pull/2950 would be a good one to pull in for `helm status`.

[2017-11-01 21:48] danielkrainas commented on #2948
Having a similar problem. We install a master chart (with many subcharts) and a large value set with `-f staging.yaml` and our CI does a `--set subchart.image.tag=HASH --reuse-values` on the master's release to update individual subcharts without needing access to *staging.yaml*. What happen after upgrade is the resulting `helm get values RELEASE` is *only* the values set by the CI:

[code]

As th

[2017-11-01 23:46] #2658 closed

[2017-11-01 23:51] #3057 closed

[2017-11-01 23:51] #3072 closed

[2017-11-02 00:52] magicalbanana opened #3087 "Question: Install chart using chart name only"
Is it possible to release a chart without generating a random name or having the need to specify a name:

**Requested Feature:**
[code]

[code]

[code]

Because right now, it would assign it a random value, like `magic-mike` or if I specified the `--name=moo` it would be `moo-moo`.

[2017-11-02 04:04] MostAwesomeDude commented on #2640
Hi, this is just to say that, for whatever reason, with the latest k8s releases on GKE and IBM Cloud, I am no longer able to reproduce any of my Helm problems. Thank you so much for your hard work.

[2017-11-02 06:09] odino commented on #2748
@bacongobbler actually the auth service runs as a container in every pod that's reachable via HTTP, so it doesn't have its own service etc. It's a container we run in each and every deployment (thus it doesnt have a chart on its own).

[2017-11-02 08:53] hobti01 commented on #3067
I don't follow.  This is not an issue of resource types, but an issue of Chart hierarchy and ordering.

If sub-charts are deployed before parents - then `C1` and `C2` should be deployed before `B`, but `C3` should not.
If the order in `requirements.yaml` matters, then `B` should be deployed before `C3`.

Unfortunately, the ordering is unclear - can you clarify or point to the documentation describ

[2017-11-02 11:05] tommysitu commented on #3077
`helm status` only shows that the release is failed, not quite useful for debugging. `helm install` will print the log at the time you run it, but in our environment upgrading Helm releases are triggered by  background jobs. So it would be more useful to have `helm status` or `helm history` to return the reason of failure.

[2017-11-02 12:08] jayste commented on #1707
+ 1

Stripping YAML down to JSON removes a lot of information, most type related. Means you can't type check values pre-deploy.

I guess this can be resolved by moving to a different yaml library. Maybe this one: https://github.com/go-yaml

[2017-11-02 15:00] vincbe commented on #2895
I did separate the NFS service in a distinct chart that has to be installed (with its IP defined) before to install my app chart. This NFS IP is a variable required for my app chart.

[2017-11-02 15:18] bacongobbler commented on #2895
That's basically the same approach I'd suggest. Helm doesn't perform any explicit bindings between charts, nor do I think it should to separate concerns between a package manager and a orchestration platform.

[Kubernetes services](https://kubernetes.io/docs/concepts/services-networking/service/#discovering-services) provide environment variables for every exposed port in its manifest to all pods

[2017-11-02 15:21] bacongobbler commented on #3087
This is not possible, however the `moo-moo` name is an ongoing discussion on how to properly fix this. See https://github.com/kubernetes/helm/issues/1186#issuecomment-317856790 for a fix which you can apply to your chart.

[2017-11-02 15:31] sbuliarca commented on #2828
Excellent, thank you. I'll give it a go.

[2017-11-02 16:20] bbaribeau opened #3088 "helm search error with prelease versions that contains upper case characters"
running ```helm search local/foo --versions``` fails when any of the versions contains upper case characters in the prerelease identifier.

To reproduce, use the following index.yaml:
[code]

Running ```helm search local/foo --versions``` gives the following:
[code]
According to [SemVer](http://semver.org/) rules the prerelease identifier is allowed to contain upper case characters.

[2017-11-02 16:21] bacongobbler commented on #3088
can you try `helm search local/foo --versions --devel`? That stack trace is something we should fix up, but I know pre-release versions of charts won't show up unless you explicitly add the `--devel` flag.

[2017-11-02 16:22] bacongobbler commented on #3088
Oh nvm, that's just on `helm install`.

[2017-11-02 16:26] #2987 closed

[2017-11-02 16:31] burdiyan opened #3089 "Proposal: Create helm/tiller operator"
Right now there is no easy and blessed way for configuring a set of Helm releases to be deployed in Kubernetes cluster. There is no way to express the desired state of a release.

Although there are tools like https://github.com/roboll/helmfile and https://github.com/eneco/landscaper that allow to achieve something similar, these are not ideal.

I propose to create an Operator for Helm/Tiller that

[2017-11-02 16:32] kfox1111 commented on #2748
I'm more and more thinking it would be good to have a common library where stuff like this could land?

Maybe have a macro for a http frontend sidecar, and leave it blank by default. allowing the end user to override its contents with their chosen container/options?

[2017-11-02 16:35] burdiyan commented on #3089
What I think also great about this approach, it would be very easy to run a chart repository inside the cluster, that will be not exposed to the world. So Kubernetes users don't need to have access to the chart repository. They only would need access to create normal Kubernetes resources, and the Operator is the one who is authenticated agains the chart repository.

[2017-11-02 16:36] neil-ca-moore opened #3090 "Dead link in side bar at https://docs.helm.sh"
If you visit https://docs.helm.sh and then click on "Helm Commands" followed by "Helm List" it doesn't work. The link is to https://docs.helm.sh/helm/#helm-rep-**listo** which doesn't exist.

I can't figure out how this is generated, not sure it is possible for me to fix it with a PR. I can't find any instance of the string "listo" anywhere

[2017-11-02 17:03] khenidak commented on #2989
I think - could be wrong? - helm init parameters refer to client auth certs, not tiller=>api-server

I believe that helm should be secure by default. as in validate the cert by default unless the user deliberately override the behavior.

@lachie83

[2017-11-02 18:04] bacongobbler commented on #3089
There was a similar discussion raised in the [application definition working group](https://github.com/kubernetes/community/tree/master/wg-app-def). If you have ideas, I'd suggest joining that working group!

[2017-11-02 18:05] bacongobbler commented on #2748
That type of chart exists in the chart incubator as https://github.com/kubernetes/charts/tree/master/incubator/common.

[2017-11-02 18:09] bacongobbler commented on #3089
Also for what it's worth, this is exactly how tiller works today. The only difference is that tiller also acts as the templating engine and spits out configmaps containing release information, after which tiller reconciles the deployment.

The only thing imperative about the workflow is the helm CLI itself, which waits for the deployment status to change from DEPLOYING to SUCCESS/FAILURE depending

[2017-11-02 18:21] sparkprime commented on #2577
I actually added this support *for* helm back in early 2016 :)  Designing templates that way is a little bit more verbose at first but brings productivity benefits for people trying to read them, because the parameterization is more explicit.  This is important when multiple files are involved, because the threading of parameters is explicit and modules can be understood from the outside.

There a

[2017-11-02 20:29] technosophos commented on #2577
Just to clear up a misunderstanding here, Helm does still have support for alternative template engines. Nobody has written any, though.

The selectable engine interface is still there (grep for EngineYard). Selectable template engines are still supported in Chart.yaml. The Rudder gRPC scheme even makes it possible to implement a remote template renderer. So somebody just has to go through the wor

[2017-11-02 20:30] technosophos commented on #2577
And I might also note that since nobody has used that facility, there may be a few bugs we have yet to unearth. It's been a feature since Alpha.1, but the template rendering system has had some minor tweaks and changes over the subsequent 20+ releases.

[2017-11-02 20:37] technosophos commented on #3089
I presume that by Operator you mean Controller?

There was a major effort to implement this about a year ago, and it ultimately failed for a wide number of reasons. We agreed to re-visit it during Helm 3 planning. As @bacongobbler points out, the relevant starting point is #1650. Tamal's PR there shows how far they got, and why it ended up not working.

[2017-11-02 21:25] sparkprime commented on #2577
Thanks for the clarification, looks like this is the interface:
https://github.com/kubernetes/helm/blob/master/pkg/tiller/environment/environment.go#L92

It returns a string -> string map, what is the format exactly?

[2017-11-02 21:46] bacongobbler commented on #2577
Here is the actual rendering engine: https://github.com/kubernetes/helm/blob/dbb84a1b9e57d14b816ff9c70c82c5232a8d0d89/pkg/engine/engine.go#L57-L76

[The unit tests](https://github.com/kubernetes/helm/blob/dbb84a1b9e57d14b816ff9c70c82c5232a8d0d89/pkg/engine/engine_test.go) should give you an idea on the output of `Render()`.

[2017-11-02 21:51] hausdorff commented on #2577
What is the process for proceeding here?

[2017-11-02 21:56] apeschel opened #3092 "Extremely High Risk of Password Leakage on Private Repositories"
At the moment, password management for private repositories is far too primitive, and causes the username and password to be exposed in far too many places. Every place the private repository URL is used, the username and password must also be included. This means the following places require a copy of the username and password:

On a client:

1. `requirements.yaml`
2. `requirements.lock`
3. helm

[2017-11-02 22:02] hausdorff commented on #2577
And, separately: one thing that causes me to hesitate before putting in this work is that it's not clear where templating is going for Helm v3. I gather that they way to observe these discussions is on the issue tracker, but I have not yet seen this discussion happen. So, it would be awesome if someone could say in broad strokes whether this work is likely to be used in Helm 3.

[2017-11-02 22:07] craiganderson opened #3093 "[Question] Support for custom template functions in Helm?"
If I have a need for custom template functions (beyond what's included in Go template language and the Sprig library), is modifying my Helm source code the only option? Or could such custom template functions be implemented in a Helm plugin or within a Helm chart?

Thanks.

[2017-11-02 22:19] burdiyan commented on #3089
@technosophos I was meaning Operator in a sense of CoreOS' Operator concept (https://coreos.com/operators/), which is indeed a Controller essentially.

I'll take a look at Tamal's PR. Thanks a lot!

[2017-11-02 22:26] bacongobbler commented on #3050
The secret storage backend won't fix this since the process to install a chart is the same as it is with the default storage backend (configmap).

@mattfarina that's exactly how [`.Files.Get` works](https://github.com/kubernetes/helm/blob/d815310928b0ea77382e34b3b49a425adcea5f77/pkg/chartutil/files.go#L62-L70) :)

@eicnix's suggestion is the best way to approach this. How we used to pass in "secre

[2017-11-02 22:29] bacongobbler commented on #3070
Can you give an example chart so that we can better assist you on how to move forward? Thanks.

[2017-11-02 22:29] bacongobbler commented on #3090
https://github.com/helm/helm-www is the repository that generates the site, if you want to take a shot at fixing this bug.

[2017-11-02 22:33] burdiyan commented on #3089
As far as I understood, the mentioned PR was trying to implement storage backend for Tiller using Third Party Resources in Kubernetes (which is something I always was thinking about).

Maybe instead of implementing another storage backend, this Operator/Controller could just watch the custom resource, and then interact with Tiller as if it were Helm CLI. This way no changes for Helm/Tiller would b

[2017-11-03 00:32] jaytaylor opened #3095 "Use of `dict` leads to rendering errors"
Passing a dict into a named helm `include` or `template` fails.

Failure example:

[code]
Produces the following render error:

[code]

However, passing a dict via pipe works just fine.

Successful example:

[code]

## Failing test case

If you paste this test into pkg/engine.go:
[code]

Running the test yields the following output:

[code]

[2017-11-03 01:05] adawolfs commented on #3030
Hi everybody, thanks for your comments, I've found that my issue here was because in my original chart I've specified the namespace into the metadata and when run the upgrade a new deploy was created to the default namespace, but after remove the namespace definition it worked
I'm not sure if I was clear, please ask any question about it if you have doubts

[2017-11-03 07:14] neil-ca-moore commented on #3090
Thanks. See https://github.com/helm/helm-www/pull/62

[2017-11-03 07:46] davidkarlsen commented on #1754
Would love to see this feature!

I’ve developed my generic helm chart for our apps (they basically all extend the same base dockerimage, and place in some config files via configmaps). But .Files read files within the chart - and need to be able to post in arbitrary files via cmd line with helm and get them added to the configmap.

[2017-11-03 13:23] balboah commented on #2149
I had a similar error when adding a 2nd container (k8s 1.7.8). Solved it by manually deleting without deleting running pods: `kubectl delete sts --cascade=false dev-kafka`

then running helm upgrade succeeded and it automatically starter rolling up the old pods.

[2017-11-03 14:31] #3090 closed

[2017-11-03 15:22] danielkrainas commented on #2948
Our problem was on our end. It was a combination of misunderstanding what `helm get values RELEASE` is meant to display and a misconfigured CI script; things seem to be working as expected now and `--all` gave us the value output we desired.

[2017-11-03 18:05] jascott1 commented on #3092
I agree the security situation needs improvement but since it is functioning "as designed" right now I labeled this issue as Feature.

[2017-11-03 18:05] apeschel commented on #3092
@jascott1 Makes sense to me.

[2017-11-03 18:08] jascott1 commented on #3093
@craiganderson Other than creating additional helper templates, yes you are limited to the existing functions unless you hack in your own (not recommended).

[2017-11-03 18:10] bacongobbler commented on #3095
This is actually how text/template works, though I understand it can be confusing at first. A template pipeline takes every argument as an argument to the function. In your case, `dict` was passed as an argument to `include` instead of the output of `dict` being the argument supplied, which is how the pipe works. If you want the output of `dict` to be the input of `include`, you'll want to wrap th

[2017-11-03 18:12] craiganderson commented on #3093
Thanks, that answers my question.

[2017-11-03 18:12] #3093 closed

[2017-11-03 18:31] thoyt commented on #1996
I ran into this as well and it took quite a while to realize it's because I had a scratch file in the chart directory. A better error message would be greatly appreciated.

[2017-11-03 18:41] jaytaylor commented on #3095
Ah!  I thought I had tried wrapping it in parenthesis yesterday, however I just tested now and it works!

Thank you for your help @bacongobbler!!!  And for helm, it's super cool and useful imho.

[2017-11-03 18:41] #3095 closed

[2017-11-03 21:48] omkensey opened #3098 "Document RBAC conventions for charts"
With the move toward RBAC being on by default in more and more cluster installers, the convention seems to have appeared to control RBAC-related templates as follows:

[code]

(see e.g. coreos/alb-ingress-controller#146)

This is not yet documented in Chart best practices, and it should be.  I'm happy to do the doc PR, but wanted to file an issue first to probe for consensus on whether the default

[2017-11-03 22:09] bacongobbler commented on #3098
I just updated the title to reflect that this is for charts and not for tiller as seen in #3094.

[2017-11-03 22:12] omkensey opened #3099 "`helm create` conflicts with documentation on imagePullPolicy"
[Documentation about chart best practices](https://docs.helm.sh/chart_best_practices/#imagepullpolicy) says:

However, the example chart from `helm create` sets `image.pullPolicy` to IfNotPresent, which seems like a much more sensible default value.  Which is correct?  If the docs need updating I'm happy to submit that PR.

[2017-11-03 22:43] dvdotsenko opened #3100 "`helm init` creates bad Deployment image url - missing minor version `.0` - 2.7.0 release"
As a result, Tiller pod fails to start:
`kube-system   po/tiller-deploy-756866f6f4-4rhz9          0/1       ImagePullBackOff   0          2h`

[code]

[code]

[code]

[2017-11-03 23:06] bacongobbler commented on #3100
Hey, can you explain how you got the helm client? I can't reproduce.

[code]

I've seen this happen when users run `go build` from source rather than `make build` which populates `helm version` metadata correctly.

[2017-11-03 23:09] bacongobbler commented on #3100
This seems to happen when a user builds from source. In those situations it's best to supply the tiller image you built with `helm init -i` or `helm init --canary-image`.

[code]

[2017-11-03 23:31] dvdotsenko commented on #3100
"Linux AMD64" link https://kubernetes-helm.storage.googleapis.com/helm-canary-linux-amd64.tar.gz
off https://docs.helm.sh/using_helm/#installing-helm

[code]

[2017-11-03 23:37] dvdotsenko commented on #3100
A side note. While trying to work around that version thing by extracting yaml, editing it and applying it by hand, realized that  `helm init -o yaml` does not output `Service` yaml.

There is also no `ServiceAccount` / `ClusterRoleBinding` or anything similar. Without `helm list` barks about lack of permissions to list. `ServiceAccount` must go into `Deployment`, so adding it manually after also

[2017-11-03 23:52] dvdotsenko commented on #3100
Indeed a cannary-specific issue. After downloading a 2.7 release bin (Linux) from here https://github.com/kubernetes/helm/releases - `helm init -o yaml` has properly resolved image url : `image: gcr.io/kubernetes-helm/tiller:v2.7.0`

I consider this issue addressed on my side - i should not be using cannary.

Thank you.

[2017-11-03 23:53] bgrant0607 commented on #2577
For Helm v3, I would like the template expansion/rendering mechanism to be moved to external plugins -- no built-in template formats.

[2017-11-04 00:08] bgrant0607 commented on #2577
FWIW, Helm classic approach:
https://github.com/helm/helm-classic/blob/master/docs/generate-and-template.md#the-helmgenerate-header

[2017-11-04 00:18] bgrant0607 commented on #2431
+1 to JSON Schema

[2017-11-04 02:16] #3100 closed

[2017-11-04 09:47] mcwienczek commented on #1865
I think it's very important to introduce `helm apply -f`, but for different reason. Right now there is no way to declaratively (through file) define a release. This is a critical feature for CI/CD systems and automated deployments. I would like to work on that once I get a buy-in from core contributors.

[2017-11-04 16:58] unguiculus commented on #3081
/cc @mattfarina

[2017-11-04 18:04] xech3l0nx commented on #1911
having the same problem too, any help?

[2017-11-04 23:18] luckyfengyong commented on #3074
Reopened with updated description and possible root cause

[2017-11-05 00:27] burdiyan opened #3102 "Proposal: Handle private repos with Authorization tokens"
Right now a user can specify TLS credentials when doing `helm repo add` by using `--ca-file`, `--cert-file` and `--key-file` flags.

It would be great if user could also specify an authorisation token, so that Helm would pass it in every request to the repo.

This may simplify a lot dealing with private repos. A repo can be plain GCS or S3 bucket (non-public), which accept Bearer authorization tok

[2017-11-05 00:30] burdiyan commented on #3102
I guess this can also help to solve this one: https://github.com/kubernetes/helm/issues/3092.

[2017-11-05 03:34] migueleliasweb opened #3103 "Move helper template functions from main to chartutil pkg to enable reusability"
Hey guys !

Currently these [cmd/helm/printer.go](https://github.com/kubernetes/helm/blob/master/cmd/helm/printer.go) are internal functions and this makes them impossible to import them from other Go projects...

It would be great if they were moved to _charutils_ pkg and were _exported_. This would help people trying to implement custom client solutions for helm =].

What do you guys think ?

[2017-11-05 15:41] jrnt30 commented on #2702
As a [newer comment on the thread](https://github.com/kubernetes/kubernetes/issues/47264#issuecomment-339137300), it looks like explicitly setting the annotations to `null` will also have the desired effect of only looking at the spec.

[2017-11-05 20:20] jascott1 commented on #3099
@omkensey Good point. Its tricky since there is no one-size-fits-all. Rather then absolutely prescribe something we might explain more about the implications of setting a default and explain that `required` could be used.

[2017-11-05 22:23] jrnt30 commented on #2066
I think this should be closed, having gotten to know the project better I see value in the inherit dependencies present in the `/charts`.