[2019-11-28 06:47] RiflerRick commented on #6646
the bulk of the code is in https://github.com/helm/helm/blob/e29ce2a54e96cd02ccfce88bee4f58bb6e2a28b6/pkg/action/upgrade.go#L192

*Here is how helm is creating target and current resource lists:*

* current is coming from the current release
* target is coming from the manifest we provided

*The possible cause*

* it then creates an existingResources array containing each element of current corres

[2019-11-28 06:54] Antiarchitect commented on #6646
I also believe, that possible reason could be Ctrl+C on helm deploy while using --atomic and trying to deploy after. Could it be Helm does not mark objects created by it (or does not form the release) until some phase and objects created before Ctrl+C are not recognized by Helm afterward?

[2019-11-28 07:59] guru1306 commented on #7069
Thanks Matt.

Here is my directory structure.

[code]

Here is the content of the preinstall.yaml file

[code]

This job runs successfully as a pod. In some examples the "Files.Get" is not there in the command. In my environment it works only if I add the "Files.Get". Is this normal or am I doing something wrong? Is there a way to run this scripts outside the context of pod?

[2019-11-28 08:37] rimusz commented on #7069
you doing it right, helm will not run the scripts outside the context of pod.

[2019-11-28 08:42] dastrobu commented on #6343
@mattfarina PR is waiting for review - comments are welcome.

[2019-11-28 08:56] vazul commented on #7088
Created pull request #7094 in which helm will dump the yaml content that cannot be unmarshalled. It will dump only one yaml content in case yaml files has multiple document:
[code]

[code]

[2019-11-28 09:13] waynekhan commented on #6130
I tried on chart v8.2.4: if `prometheusOperator.admissionWebhooks=false`, `prometheus.tlsProxy.enabled=false` too.

Also, like what vsliouniaev said, what does `--debug` and `--dry-run` say?

[2019-11-28 09:59] Roadrunner67 opened #7102 "HowTo not working"
Being new to Helm, I followed the guide on https://docs.bitnami.com/kubernetes/how-to/create-your-first-helm-chart/

I think my issues are related to having installed Helm v3.0.0.

--name in the helm install examples was invalid - that was an easy catch though.

When trying to do the todo exercise in Step 3, I ran into a problem:

Although clearly defining tag 1.0.0 for image prydonius/todo, the i

[2019-11-28 10:01] yuanyaosmile commented on #6473
i also face this issue and i use the command in #6374  which is "helm init --service-account tiller --output yaml | sed 's@apiVersion: extensions/v1beta1@apiVersion: apps/v1@' | sed 's@  replicas: 1@  replicas: 1\n  selector: {"matchLabels": {"app": "helm", "name": "tiller"}}@' | kubectl apply -f -" , although helm problem will be get solved, but it also has some effects , for example minikube sta

[2019-11-28 10:01] yuanyaosmile commented on #6473
i also face this issue and i use the command in #6374 which is "helm init --service-account tiller --output yaml | sed 's@apiVersion: extensions/v1beta1@apiVersion: apps/v1@' | sed 's@ replicas: 1@ replicas: 1\n selector: {"matchLabels": {"app": "helm", "name": "tiller"}}@' | kubectl apply -f -" , although helm problem will be get solved, but it also has some effects , for example minikube start p

[2019-11-28 10:05] shubhambhattar commented on #6844
How to use `-v` flag? Is it documented anywhere? I am just trying with values from `1` to `10`. Or I can't even figure out if higher numbers are more verbose of the range of numbers which it'll accept?

[2019-11-28 10:07] remcohaszing opened #7103 "Add method for replacing releases"
### Problem

I use Helm to deploy review environments in GitLab CI for every merge request. Such a job looks like this:

[code]

After this deployment, another job runs which provisions the deployed environment.

This works like a charm, except for one thing: If not everything works correctly (provisioning failed half way, new commits are pushed to the merge request branch, etc.), the review envir

[2019-11-28 10:10] hickeyma commented on #7092
@djklim87 The k8s resources you are creating are independent of the Helm chart and as such unknown to the chart. The Helm release therefore doesn't manage these resources which includes removing the resources.

You would need to declare in your chart, what resources you want deployed.

[2019-11-28 10:34] guru1306 commented on #7069
Thanks @rimusz

[2019-11-28 10:34] #7069 closed

[2019-11-28 10:36] djklim87 commented on #7092
@hickeyma Is there a way to do that? Maybe I can use some labels/metadata which Helm understands and receives? Or some callback, or another way? Or Helm has no ability to do that?

[2019-11-28 11:02] hickeyma commented on #7102
@Roadrunner67 The scaffold chart example deploys an `nginx` server of a particular version. The change introduced in #5662 was to use the `AppVersion` to correspond to the version of the app being deployed. In this case it is `nginx` version `1.16.0`. This is working as expected.

The issues you are encountering is that the guide you are following is unfortunately not in sync with Helm 3.

The Hel

[2019-11-28 11:02] hickeyma commented on #7102
Closing as working as expected.

[2019-11-28 11:02] #7102 closed

[2019-11-28 11:06] vsliouniaev commented on #6130
@truealex81 Since helm3 is meant to give more information about this, can you please post verbose logs from the install process?

[2019-11-28 11:07] hickeyma commented on #7092
It might be worth taking a look at using [kustomize](https://github.com/kubernetes-sigs/kustomize) in conjunction with Helm. There currently is a proposal open in Helm #5276 which might provide some background.

[2019-11-28 11:25] hickeyma commented on #7101
@jurgenweber Good catch, thanks. Was able to reproduce as per description. Raising as a bug.

[2019-11-28 12:45] towolf commented on #7103
@bacongobbler in # you wrote that this is the expected behaviour. Why is that?

I'd really love to know why Helm is refusing to replace existing resources.

I think `install --replace` or maybe `install --replace --force` should say "these names are mine now, going to replace them".

Our scenario is, we were not using `helm install` before, due to tiller, and now want to "adopt" the existing k8s r

[2019-11-28 12:46] stefankip commented on #7010
@Innocentzsy to be honest, this is a really bad ticket. The title tells nothing about the issue you're having and the description too... If you want good help, create a good ticket, because sh*t in == sh*t out.

[2019-11-28 12:49] stefankip opened #7104 "Improve docs regarding helm chart name and release name"
I had some issues and talked on the slack channel with @hickeyma.
In the end the problem was me, not understanding the helm chart name and the release name.

So I had the following situation:
I didn't know in the beginning that the release name had to be unique within a namespace. I used the helm chart name as component name (copy, content, seo, orders etc.) and the release name *initial* for thos

[2019-11-28 12:59] marckhouzam commented on #6844
@shubhambhattar I believe level 10 will print the most output.

The `-v` flag is currently only used to increase debug printout when helm talks to kubernetes.  So if you want to see it in action you can try something like `helm list --all-namespaces -v 10`

[2019-11-28 13:56] hickeyma commented on #7010
@stefankip The tone and language you used in https://github.com/helm/helm/issues/7010#issuecomment-559481565 is not how we behave in the Helm community. The Helm community adheres to the [CNCF Code of Conduct](https://github.com/cncf/foundation/blob/master/code-of-conduct.md). I suggest the following:

1. Read the  [CNCF Code of Conduct](https://github.com/cncf/foundation/blob/master/code-of-condu

[2019-11-28 14:00] stefankip commented on #7010
Well I don't see the problem? I'm not attacking anyone, I'm just suggesting that a better described problem will receive better help. If it's about the word *sht* then I could change it into "garbage in, garbage out (GIGO)", but I wasn't aware of that variant and didn't know *sht* is a 'bad' word which we may not use :-)

[2019-11-28 14:05] karuppiah7890 commented on #7004
Oh, yes. I'll create an issue in docs repo? And link to the PR and issue? So that once the PR is merged, we can update the docs

[2019-11-28 14:13] marcadella commented on #7093
This is not a question, this is a bug report. [Here](https://github.com/helm/helm/files/3901950/helmTest.tar.gz) is an archive containing a minimal chart reproducing this error.
It defines a `main` chart and it's two sub-charts `child` and `child2`. Both sub-charts are identical. The difference is that `child2` is aliased as `childalias`.
Unpack the archive, then in `build.sh`, set a repo name, ur

[2019-11-28 14:25] hickeyma commented on #7004
Thanks @karuppiah7890. Probably check if the current doc is correct also. It maybe slightly inaccurate.

[2019-11-28 14:27] karuppiah7890 commented on #7010
@stefankip The GitHub issues, slack and other places where Helm users, maintainers and contributors talk are all places where communication happens to help people. When someone is asking for help, someone else sees the query and either helps if they can, in any way, or they don't. I don't see a reason for people to put their opinions and hurt people asking for help, or do anything else, that doesn

[2019-11-28 14:35] stefankip commented on #7010
I respect your opinion, and @hickeyma his opinion, and so I have my own opinion.
You may think I'm not trying to help, but in reality I am... I'm trying to create some awareness for @Innocentzsy that the issue can be improved and I think that's an understatement.
No intention to hurt anyone, why would I? And I strongly disagree with you that one is only allowed to reply when he or she is helping o

[2019-11-28 14:43] karuppiah7890 commented on #7004
Sure! I will check it out sometime :)

[2019-11-28 15:01] revkovvi opened #7105 "Helm doesn't work with local mirror of stable repo"
Output of `helm version`:
[code]

I've configured JFrog Artifactory as a mirror of stable helm repo https://kubernetes-charts.storage.googleapis.com
Helm client was configured to work with that mirror and I can successfully search charts there.
Unfortunately, I can't fetch any charts and install them because when I try to do so helm behaves like he wants to get this chart not from our mirror, but

[2019-11-28 15:35] bacongobbler commented on #7105
Was the index.yaml updated to reflect the new URLs as well?

helm install fetches down the index, looks up the chart name in that index which returns a URL to fetch. I’m nearly certain it’s because those URLs were not updated.

https://helm.sh/docs/topics/chart_repository/

[2019-11-28 15:46] bacongobbler commented on #7103
‘—replace’ pertains to replacing the release ledger. It doesn’t relate to live resources being replaced. I can understand that the name is a little unclear.

[2019-11-28 15:58] mattfarina commented on #7010
@Innocentzsy I'm sorry you are experiencing this here. The Helm community is usually a kind place.

@stefankip The [CNCF Code of Conduct](https://github.com/cncf/foundation/blob/master/code-of-conduct.md), which Helm follows, notes that "Trolling or insulting/derogatory comments" are considered "unacceptable behavior by participants".

It is possible to point out actionable ways someone can improv

[2019-11-28 16:06] towolf commented on #7103
So there's no way to replace existing resources in the cluster when a new Helm release is installed, yes?

[2019-11-28 16:10] sheerun commented on #6646
I cannot update deployments to api v1 without removing them manually... Can you please fix it?

[2019-11-28 16:17] bacongobbler commented on #6646
I am locking this thread for the time being. [As explained above](https://github.com/helm/helm/issues/6646#issuecomment-558798785), this thread and #6850 are separate issues. Please follow up in that thread. I want to be respectful of others who originally raised this issue, which has since been resolved. Thanks.

[2019-11-28 16:21] bacongobbler commented on #7103
That's correct. Please see the discussion in https://github.com/helm/helm/issues/4423. Hopefully that helps provide some context here. :)

[2019-11-28 16:26] salaboy commented on #6606
@howardjohn did you manage to get the right dependencies for Helm 2? I am currently struggling with that.. and it looks like you manage to get it working by hacking the deps.

[2019-11-28 16:26] sheerun commented on #6850
I get this error when trying to change api version of deployment to `apps/v1` from deprecated `extensions/v1beta1`. Helm refuses to deploy without me manually removing old deployment.

[2019-11-28 16:29] Apollon77 commented on #7103
I'm one of the affected "managers" by this design decision. I have read the linked issue and think you refer to:

So in general I understand that. But in practice: Which cases does it mean? Will it happen with each helm major release? Or also for minor releases? How often this will be? Once a year? More often?

While completely understanding it from the infrastructure perspective I have a big prob

[2019-11-28 16:31] bacongobbler commented on #6850
@sheerun did you see my answer in regards to `apiVersion` changes in this comment: https://github.com/helm/helm/issues/6646#issuecomment-547650430?

The tl;dr is that you have to manually remove the old object in order to "upgrade". The two schemas are incompatible with each other and therefore cannot be upgraded from one to the next in a clean fashion. Are you aware of any tooling that handles th

[2019-11-28 16:31] towolf commented on #4423
@technosophos and how about `--replace --force` doing the right thing?

[2019-11-28 16:48] sheerun commented on #6850
This doesn't really help because I still need to manually remove old resources. I'd expect that flag for `helm update` command like `--force` would automatically remove and add resources that have api-incompatibility, but it's not the case. This makes upgrades of apps in kubernetes clusters very cumbersome. If `--force` is not responsible for this then other flag would be useful.

It's very import

[2019-11-28 16:48] bacongobbler commented on #7082
Helm 2 used to delete and re-install the resource on a PATCH failure, which led to a lot of cases where things like spurious client timeouts causing the patch to fail would delete the resource... Not exactly what you'd call a great experience.

In Helm 3, the behaviour of `--force` was refactored to better align with its intent: to force a PUT operation (an overwrite) when the user requests. This

[2019-11-28 16:54] bacongobbler commented on #6850
I see your point... We could potentially support a new flag for that.

If you have suggestions, we'd love a PR with tests, docs, etc. It's certainly cropping up more and more especially with the 1.16 release, so we'd be happy to look at proposals to handle that case.

[2019-11-28 16:56] karuppiah7890 commented on #6606
I have done it for Helm 2, including the latest v2.16.1 with Kubernetes 1.16.x . It was one crazy day 🙈😅 but I got it done. I can share the go.mod and go.sum file in a gist if you want. But it will be very specific to what modules we imported from helm v2 and from other projects. But it could serve as a good reference may be :?

[2019-11-28 17:20] salaboy commented on #6606
@karuppiah7890 thanks a lot for the answer.. but looking around everyone is saying that helm 2 is not good for use as a library because of all that pain and dependencies hell.. so I found another alternative.. which in the end is more appropriate at least for my use case (using Tekton Pipelines to trigger helm installs and helm deletes, and avoiding using the client altogether) . I hope to be able

[2019-11-28 18:09] heckad opened #7106 "How to configure cluster url?"
I use minik8s and it uses 16443 port for Kubernetes cluster. How to tell helm to use 16443 port instead of 8080? Thanks

Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

[2019-11-28 18:24] bacongobbler commented on #7106
Similar to kubectl, Helm uses your local Kubernetes config to load connection information.

See https://kubernetes.io/docs/concepts/configuration/organize-cluster-access-kubeconfig/ for more information.

Does this help?

[2019-11-28 18:35] heckad commented on #7106
Unfortunately not. minik8s  doesn't have a config(`~/.kube/` contains only 2 folders). Mybe I didn't find it. Are you planning to add another configuration method?

[2019-11-28 18:50] jonasrutishauser commented on #7105
You must use a virtual Repository in Artifactory (see https://www.jfrog.com/confluence/display/RTF/Helm+Chart+Repositories#HelmChartRepositories-ResolvingHelmCharts).

[2019-11-28 19:48] heckad commented on #7106
I made `microk8s.kubectl config view > $HOME/.kube/config` and now IP address ok, but the error remained.
Verbose log
[code]

If evaluate curl command then all ok. Why helm got the error?

[2019-11-28 21:27] jurgenweber commented on #7101
Thank you for confirming I am not going mad. :)

[2019-11-29 00:34] diist commented on #7097
I'm having the same issue. This is a clear regression from helm 2, deterministic output is a must in a world of config as code and diffs.

[2019-11-29 00:37] diist commented on #6843
Especially since `helm` 2 _is_ deterministic. I'm sure a lot of people rely on this.

[2019-11-29 00:37] diist commented on #7097
Dup of https://github.com/helm/helm/issues/6843

[2019-11-29 02:10] karuppiah7890 commented on #7004
@hickeyma , @PYLochou pointed out a problem in `Capabilities` doc and I checked it. Raised issue https://github.com/helm/helm-www/issue/414 and PR https://github.com/helm/helm-www/pull/415 for it. And I think docs PR for #7004 issue can be raised after #7062 is merged

[2019-11-29 03:02] djklim87 commented on #7092
Ok, as I understand Helm stored data of installed charts inside, not in Kubernetes? Or he synchronizes this data with cluster, and after make some actions like removing or updating? If it synchronizes I can just add some labels to my pods and Helm will think that it's own?

[2019-11-29 04:42] WeihanLi opened #7108 "question: is there some samples on how to configure dependencies"
Output of `helm version`:

helm 3.0.0

version.BuildInfo{Version:"v3.0.0", GitCommit:"e29ce2a54e96cd02ccfce88bee4f58bb6e2a28b6", GitTreeState:"clean", GoVersion:"go1.13.4"}

[2019-11-29 05:09] bacongobbler commented on #7108
Hey @WeihanLi. Have you checked the documentation on this subject? https://helm.sh/docs/topics/chart_best_practices/dependencies/

[2019-11-29 05:45] WeihanLi commented on #7108
yeah, I'd checked for the document first, but seemed not so helpful for me, I'd like to add some dependencies(like redis/mysql etc) for my app chart, but I don't know how to add a dependency and
add custom config for the dependency(like specific port etc), could you please share me with a simple sample with helm v3?

[2019-11-29 05:58] gogovan-vincentngai opened #7109 "Question : About Security in helm3"
I am using GKE , and i am using jenkins as cicd tools
I have a question about helm3 security, while as i know the one key point migrate from v2 to v3 is about security improvement

while helm 2 ---->tiller --->service account----> target actions
while helm 3 --- > your account /service account ---> target actions

if it is local user deployment via local machine trigger helm3 cmd
then it should re

[2019-11-29 06:31] Roadrunner67 commented on #7102
So you could never have an app pulling multiple images, or you expect all images to be the same version as your app?

[2019-11-29 06:53] bappr commented on #2149
Facing this issue with 3.0.0

[2019-11-29 06:57] bappr commented on #2149
Not working with `3.0.0`.
I have
[code]
and still getting
[code]

Doing the `delete sts` workaround is not possible on my end.

[2019-11-29 07:04] revkovvi commented on #7105
And your supposition was right.
Artifactory actually doesn't update these URLs for some reason.

Yes, with a virtual repository it works correctly.

Thanks for the help!

[2019-11-29 07:04] #7105 closed

[2019-11-29 07:35] pather87 commented on #6130
I am receiving the same issue deploying 8.2.4 on Azure AKS.

Helm Version:
`version.BuildInfo{Version:"v3.0.0", GitCommit:"e29ce2a54e96cd02ccfce88bee4f58bb6e2a28b6", GitTreeState:"clean", GoVersion:"go1.13.4"}`

Helm --debug produces this output:
[code]
I can reproduce this reliably. If there is a way to get more verbose logs, please let me know and i post the output here

[2019-11-29 08:54] Antiarchitect commented on #3050
@bacongobbler Can this be reopened. I have a big project with files that need to be read by template functions to form Secrets and Configmaps but their paths can be dynamic and sophisticated and there are big extra files in those folders that just exceed the release size. Anyway, I do not want a directory content to be packed into release, but I want to form my Secrets and CM from those files.

[2019-11-29 08:59] hickeyma commented on #7106
Can you run a `kubectl` commands ? What is the output to the following commands:
- `kubectl config view`
- `kubectl get all --all-namespaces`

[2019-11-29 09:01] lenalebt commented on #3276
Hey @vladfr - I partly agree, but not 100% :). I am talking about the certificates use-case now, and it is purely based on personal experience, which means that it may not be widely applicable. For an internal project, I'd agree. You *want* to store your certificates in something like vault. Writing a script that fetches data from there and simply adds the base64-coded value via parameters is fine

[2019-11-29 09:07] heckad commented on #7106
I found solution in my another [question](https://github.com/ubuntu/microk8s/issues/833#issuecomment-559615751). Thank you all for your help.

[2019-11-29 09:07] #7106 closed

[2019-11-29 09:19] jakethedogg commented on #7088
Hey @zwwhdls !
I tried to install your variant of chart and it works for me too! But I still have a question, why it doesn`t work with env variables?
I did one more research, so in case if remove second line in template "{{ $sshkey := "ssh-key.pem" }}" and do not use .File.Get function it works and installing the chart with no problem!
This is how chart look like:

[code]
The values.yaml file stay

[2019-11-29 09:20] hickeyma commented on #7109
In Helm 3, security is on a per user basis. It is delegates to K8s user cluster security. It will work similar to using `kubectl` authentication and authorization..

A good reference is a talk at Helm summit by @bacongobbler on securing Helm:  https://sched.co/S8tr

[2019-11-29 09:22] hickeyma commented on #7102
No necessarily. Its just in the scaffold example it is `nginx` server being deployed and makes sense to set the `AppVersion` in this scenario to it.

[2019-11-29 10:15] scbizu opened #7110 "pkg/chartutil: LoadDir and LoadFile has been removed since Helm3 ?"
Output of `helm version`:

[code]

Output of `kubectl version`:

[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

MiniKube

Hi there, I read the [draft](https://github.com/Azure/draft) codebase for some helm-based dev inspiration these days , but I find that some useful chart operation function has been removed from Helm 3, such as `LoadDir` or `LoadFile`. I wonder that if there is any

[2019-11-29 10:45] algorunescu opened #7111 "Helm template throws stack overflow error when trying to use file checksum"
Output of `helm version`:
version.BuildInfo{Version:"v3.0.0", GitCommit:"e29ce2a54e96cd02ccfce88bee4f58bb6e2a28b6", GitTreeState:"clean", GoVersion:"go1.13.4"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.1", GitCommit:"b7394102d6ef778017f2ca4046abbaa23b88c290", GitTreeState:"clean", BuildDate:"2019-04-08T17:11:31Z", GoVersion:"go1.12.1", Comp

[2019-11-29 10:51] vsliouniaev commented on #6130
@pather87 thanks a lot!

Here's the order of what's meant to happen in the chart:
1. CRDs are provisioned
2. There is a pre-install;pre-upgrade job which runs a container to create a secret with certificates for the admission hooks. This job and its resources are cleaned up on success
3. All the resources are created
4. There is a post-install;post-upgrade job that runs a container to patch the cr

[2019-11-29 10:51] VincentDehaye commented on #6002
Had the same problem with the following output
[code]

Some names in the $setElementOrder list were duplicated. Instead of having my elements order following the order of last apparition, reordering them to the first apparition order fixed the problem.

@henres it might work if you put your MAILER_URL element after your APP_COMMIT_SHA

[2019-11-29 10:56] KaushikRout opened #7112 "Error: forwarding ports: error upgrading connection: error sending request:"
Error: forwarding ports: error upgrading connection: error sending request: Post https://<ip:port>/

Output of `helm version`:
Client: &version.Version{SemVer:"v2.13.1", ...
Error: forwarding ports: error upgrading connection: error sending request: Post https://<ip:port>/api/v1/namespaces/kube-system/pods/<pod-name>/portforward: unexpected EOF

Output of `kubectl version`:
Client Version: version

[2019-11-29 11:01] vladfr commented on #3276
@lenalebt thanks for describing this use case in such detail. I agree, in this case it's cumbersome. I still feel this should be handled outside helm, but if the maintainers feel otherwise, I'd be happy to take a stab at implementing this.

[2019-11-29 11:19] VincentDehaye opened #7113 "Helm version does not return server version in v3.0.0"
Hi, I was surprised not to get the error message

when running ```helm version``` on my client. It actually only returned the client version (cf. output below).

Is this the expected behaviour? Downgrading helm back to 2.16 fixed the problem, so it was indeed a version incompatibility issue, and it would have been informative to get the error message.

<details>
<summary>Output of helm version:</s

[2019-11-29 11:59] zwwhdls commented on #7113
Hi, tiller in Helm v3 is deleted.

[2019-11-29 12:12] juliohm1978 commented on #3276
Thank you, @vladfr.

I'm siding with @lenalebt on this one. It's possible to work around this, but if you are actually selling a product based on k8s/helm, the added complexity to the end solution could render negative points to your show case. You either demand the customer to handle some technical details manually, or hide them behind wrapper scripts or GUI interface that ammount to maintenance

[2019-11-29 12:22] hickeyma commented on #7110
@scbizu There has been a lot of refactoring under the hood in Helm 3 from Helm 2. These functions should be equivalent to Helm 2 functions your are looking for:

- `pkg/chart/loader/archive::LoadFile()`: load archive file
- `pkg/chart/loader/load::LoadFiles()`: load files
- `pkg/chart/loader/directory:LoadDir()`: for charts from directory

[2019-11-29 12:29] hickeyma commented on #7112
Can you connect with the Kubernetes cluster using `kubectl`?  What is the output to the following commands:
- `kubectl config view`
- `kubectl get all --all-namespaces`

[2019-11-29 12:33] hickeyma commented on #7113
As @zwwhdls mentioned, Tiller is removed and from Helm 3 onwards, it is a client only architecture. You will get more details in the docs and differences from Helm 2 in https://helm.sh/docs/faq/#changes-since-helm-2. It is worth checking out the docs because of the changes from Helm 2.

[2019-11-29 12:35] hickeyma commented on #7113
Closing as issue answered. FYI @VincentDehaye re questions, it is probably worth asking in the `helm-users` slack channel first.

[2019-11-29 12:35] #7113 closed

[2019-11-29 12:56] zwwhdls commented on #7111
/assign

I have found an error about recursive. I will create a pr to fix it. 😊

[2019-11-29 13:02] hickeyma commented on #7111
Reproduced the stack trace. Thanks for find this @algorunescu.

@zwwhdls It would be great if you can work on the PR. I assigned the issue to you.

[2019-11-29 13:39] willsilvano commented on #6130
Same here when install prometheus-operator:

[code]

`Error: rpc error: code = Canceled desc = grpc: the client connection is closing`

[2019-11-29 13:41] pather87 commented on #6130
@vsliouniaev thanks for your answer!

1. There are no jobs laying around after the deployment.
2. Deployments and services are present in the Cluster after the deployment, see kubectl output:

kubectl get all -lrelease=prometheus-operator
[code]

[2019-11-29 13:59] willsilvano commented on #6130
Installation with **debug**:

[code]

After, then I execute: `kubectl get all -lrelease=prometheus-operator -A`

[code]

[2019-11-29 13:59] KaushikRout commented on #7112
apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: DATA+OMITTED
    server: https://xx.xxx.xxx.xxx:xxxx
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: kubernetes-admin
  name: kubernetes-admin@kubernetes
current-context: kubernetes-admin@kubernetes
kind: Config
preferences: {}
users:
- name: kubernetes-admin
  user:
    client-certificate-data: REDACTED

[2019-11-29 14:00] marckhouzam commented on #7109
We use Jenkins as well. You are right that Jenkins needs some account to connect to your GKE cluster. If you use a service account for Jenkins then as you say the audit will only know about the Jenkins account, not the user who triggered Jenkins.

You could define a way to use a specific user kubeconfig file for their Jenkins build.
Or you could add annotations to your deployments indicating the u

[2019-11-29 14:26] hickeyma commented on #7092
You would need to update the release data store in the cluster.

Here are a some ways you could do that:

1.
In Helm 3, it is stored as secrets in the namespace of the release. You can find them as follows:
`kubectl get secrets -l "owner=helm" --all-namespaces`
There will be a secret per release version/revision.

You can then the Helm release object with command similar to the following:
`kubectl

[2019-11-29 14:27] pather87 commented on #6130
What I've also discovered by trying to work around this: The issues persists, if i delete the chart and the CRDs afterwards, but the issue does not persist, if i do not delete the crds.

I tried out and installed the crds beforehand, and do a `helm install --skip-crds`, but still the issue persists. This somewhat confusing.

[2019-11-29 14:29] hickeyma commented on #7112
On system that you ran `kubectl`, can you run: `helm init --upgrade` or equivalent that suits your security setup.

[2019-11-29 14:34] KaushikRout commented on #7112
bash-4.2$ helm init --upgrade
bash-4.2$ helm init --upgrade
$HELM_HOME has been configured at /home/xxxxx/.helm.

Tiller (the Helm server-side component) has been upgraded to the current version.
Happy Helming!

After runnig this also the, I see the same issue

[2019-11-29 14:38] KaushikRout commented on #7112
Just to add.. This was working fine a few days back on another box/setup. Today I setup a new box with the same user and it stopped working on the older setup as well. (the directory /home/xxxx/ is common for a given user)

[2019-11-29 14:38] bacongobbler commented on #7112
Behind the scenes, helm initialized a `kubectl port-forward` to tiller. Can you try establishing a connection to tiller manually using `kubectl port-forward -n kube-system NAME-OF-TILLER-POD 44134:44134`? Sometimes the cluster hasn’t been properly configured to handle those requests.

[2019-11-29 14:40] hickeyma commented on #7112
something like this: `kubectl -n kube-system port-forward $(kubectl -n kube-system get pod -l app=helm -o jsonpath='{.items[0].metadata.name}') 44134 `

[2019-11-29 14:42] KaushikRout commented on #7112
Its just hung there now. No output...

[2019-11-29 14:47] KaushikRout commented on #7112
bash-4.2$ kubectl -n kube-system port-forward $(kubectl -n kube-system get pod -l app=helm -o jsonpath='{.items[0].metadata.name}') 44134
error: error upgrading connection: error dialing backend: dial tcp xx.xxx.xx.xxx:xxxxx: getsockopt: connection timed out
bash-4.2$

[2019-11-29 14:50] bacongobbler commented on #7112
Okay. It would appear that the backend supporting the `kubectl port-forward` APIs is not configured properly. You’ll have to look into Kubernetes’ troubleshooting documentation and see if there’s anything to help diagnose this issue. There’s nothing on our end that we can do here, unfortunately.

Once you have that fixed, helm should work again.

[2019-11-29 14:51] KaushikRout commented on #7112
Could it be because I am on VPN connection... by any chance

[2019-11-29 14:51] bacongobbler commented on #7112
I can’t say that for certain, but it could be a factor.

Let us know how you fixed the issue once it’s resolved. Thanks!

[2019-11-29 14:52] KaushikRout commented on #7112
Okay .. thanks for your time.

[2019-11-29 15:00] #6935 closed

[2019-11-29 15:00] cristiklein opened #7115 "Non-determinism with multiple objects per file"
Output of `helm version`:

[code]

Output of `kubectl version`:

[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):  **No provider required to trigger bug.**

It seems like `helm template` is non-deterministic if multiple objects are defined in a single file (i.e., YAML seperated by `---`). See [this commit](https://github.com/cristiklein/helm/commit/fc4d1f51b4d0c9e5e0ddda6ef7ca9d6283a424d

[2019-11-29 15:08] #7097 closed

[2019-11-29 15:09] bacongobbler commented on #7115
Closing as a duplicate of #6843. In the future, please make sure to check for existing issues first before opening a new ticket. Thanks!

[2019-11-29 15:09] #7115 closed

[2019-11-29 15:27] cristiklein commented on #6843
I started working on this. Here is a [commit with a test](https://github.com/cristiklein/helm/commit/fc4d1f51b4d0c9e5e0ddda6ef7ca9d6283a424d9) that fails due to non-determinism.

[2019-11-29 15:34] githubvick commented on #7095
Got it, but what would be the value to define inside of values.yaml file? Should it be in plain text?

mysecret:mypassword

[2019-11-29 15:37] joshhsoj1902 commented on #4863
I don't think that anyone necessarily believes that this issue is fixed, but this issue as it is described is not really as valid when it comes to Helm 3.

https://v3.helm.sh/docs/topics/chart_best_practices/custom_resource_definitions/

The docs do a good job explaining the options for CRD's, they document that using a separate chart for CRDs is essentially the best way for now.

[2019-11-29 15:37] #4863 closed

[2019-11-29 15:46] vsliouniaev commented on #6130
The next log line I would expect after this is about post-install,post-upgrade hooks, but it does not appear in your case. I'm not certain what helm is waiting on here

[code]

[2019-11-29 16:20] cridam commented on #6896
Deployment, and Service columns have also disappeared. Will 2.16.2 fix ?
i.e
before 2.16.x
==> v1/Service
NAME              TYPE       CLUSTER-IP    EXTERNAL-IP  PORT(S)   AGE
mymicroservice  ClusterIP  xxx <none>       8443/TCP  25d
after
==> v1/Service
NAME  AGE
mymicroservice  25d

[2019-11-29 16:32] bacongobbler commented on #6843
Might also want to check out #6842

[2019-11-29 18:17] githubvick commented on #7095
I was able to finally get it working by defining as above in the values.yaml file, but doesn't it defeat the purpose of all the encryption. sops.yaml file and encryption happened to prevent storing the password in plain text isnt it?

[2019-11-29 20:55] truealex81 commented on #6130
Manual CRDs creation helps at least on Azure.
Firstly create crds from this link https://github.com/coreos/prometheus-operator/tree/release-0.34/example/prometheus-operator-crd
"kubectl create -f alertmanager.crd.yaml" and so on for all files
Then
helm install prometheus-operator stable/prometheus-operator  --namespace monitoring  --version 8.2.4  --set prometheusOperator.createCustomResource=fals

[2019-11-29 21:14] paulbdavis opened #7116 "Upgrade command cannot accept process substitution for values file"
Doing the following results in the template command working as expected but the upgrade command does not use any values file:

[code]

Using a real file for the upgrade command results in the expected behavior:

[code]

EDIT: Helm v2 properly handled process substitution for values files on the upgrade command

Output of `helm version`:

[code]

Output of `kubectl version`:
[code]

Cloud Provider/

[2019-11-29 21:27] jdolitsky commented on #7046
@hswimelar when you have a moment, can you share a sample of metadata that is valid w/ GitLab?

We're trying to closely follow the OCI spec, and not necessarily using all the same metadata and fields as a typical "docker push" would.

[2019-11-29 21:30] jdolitsky commented on #3557
Since we've decided not to invest more effort into helm repos (instead into OCI registries) going to close this issue. I appreciate everyone's  enthusiasm about these topics.

For the subject of search, this is still an issue, and should be discussed in the appropriate OCI forum.

[2019-11-29 21:30] #3557 closed

[2019-11-29 21:33] bacongobbler opened #7117 "Windows support for Helm plugin installers"
Helm's plugin install hook system relies on `/bin/sh`, regardless of the operating system present. Windows users can work around this by using Helm under WSL, but it would be great to have true Windows support out of the box.

Example use case as demonstrated in https://github.com/helm/helm-2to3/issues/55:

[code]

[2019-11-29 21:33] bacongobbler commented on #7117
ref: https://github.com/helm/helm/blob/22e00bebdf0cb247f4a4fe534026a352f228f450/cmd/helm/plugin.go#L56-L60

[2019-11-29 21:34] jdolitsky commented on #5776
This issue appears to be fixed in Helm 3.0.0+:

[code]

[2019-11-29 21:34] #5776 closed

[2019-11-29 21:58] jdolitsky commented on #7087
@ywk253100 - if I recall correctly, you were an early adopter of the registry features. Several weeks ago we made a breaking change, switching from a custom layer mediatype to `application/tar+gzip`

My assumption is that you've upgraded from some v3-beta to 3.0 and are using the same cache. The simple solution is to simply remove the cache:
[code]
(we should add a `HELM_REGISTRY_CACHE` value to `

[2019-11-29 22:02] jdolitsky commented on #6977
@oneoneonepig thanks for opening, we will need to improve the parsing of the ref to allow for this.

[2019-11-29 22:11] jdolitsky commented on #6982
This is much needed. What's unclear is how we shall determine if the ref is to be treated as a 1.) local dir 2.) remote repo-based chart 3.) locally cached/remote registry-based chart

We could require a prefix such as `oci://` but that seems like too much

Alternatively, we could require that a tag be provided. Then we can check for the `:` (colon) character. This is probably my preference, since

[2019-11-29 22:14] jdolitsky commented on #7032
@mathieu-benoit I think it probably makes sense for several of the flags on `helm package` to make their way into `helm chart save`

[2019-11-29 22:14] cristiklein commented on #6843
Thanks @bacongobbler

Assuming stable `helm template` output is a feature that will only exist in Helm 3.1, we have an opportunity to come up with a specification of the ordering of entries. What would the community prefer?
1. Sort entries by kind (as per InstallOrder / UninstallOrder), then by kind alphabetically, then by **filename**, then by **index** within the file (as in #6842).
2. Sort entr

[2019-11-29 22:51] jrkarnes commented on #3555
@iorlas

I took a couple of weeks to think about this statement and I'm 100% in agreement with you. Additionally, I now understand where our difference in opinions originates from...

I follow a development and deployment philosophy that you should be building a system out of small components that do a suite of things incredibly well (think UNIX); however, modern systems may treat an "application"

[2019-11-30 04:27] tfreiling-livongo commented on #6711
Is there a way to modify this parameter to allow more than 1048576 characters?

[2019-11-30 05:35] bacongobbler commented on #6711
etcd has a 1MB size for objects. You could look into how to modify those settings, but it's not something that can be tuned within Helm or Kubernetes.

see also #4865

[2019-11-30 06:51] zwwhdls commented on #7101
@hickeyma Hi,

I have found that when the dependencies describe the chart version as "^0.1.0", "helm update" will download a specific version of chart to dir "charts/" and then the specific version will overwrite the version in Chart.lock. Therefore, the digest of Chart.lock changed.

I have created a pr to fix it. 😊

[2019-11-30 08:18] AndiDog commented on #6843
It should be clear that InstallOrder should be considered first, while remaining items should be sorted in a consistent way. I implemented 1) because it looks consistent to humans – if I write a template with entries A, B, C (no matter what their `.metadata.name` is), I expect them to come out as A, B, C. Especially in large outputs, reordering things as compared to the source code is surprising.

[2019-11-30 11:27] scbizu commented on #7110
Thanks ~

[2019-11-30 11:27] #7110 closed

[2019-11-30 13:02] prafull01 opened #7120 "Facing the error x509: certificate signed by unknown authority when running helm fetch inside the pod"
Output of `helm version`:
Client: &version.Version{SemVer:"v2.15.2", GitCommit:"8dce272473e5f2a7bf58ce79bb5c3691db54c96b", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.15.2", GitCommit:"8dce272473e5f2a7bf58ce79bb5c3691db54c96b", GitTreeState:"clean"}

Output of `kubectl version`:
prafull@prafull-ThinkPad-E470:~/Trilio$ kubectl version
Client Version: version.Info{Major:"1", Minor:"15"

[2019-11-30 14:24] zwwhdls commented on #7095
@githubvick Hi, I think you can use the encrypted password as secret value in values.yaml. 😁

[2019-12-01 08:43] olivierchatry opened #7121 "`helm status` does not display the same thing in version 3 and version 2"
Helm 2 use to display a list of what is deployed on the cluster when using `helm status` in 'table' mode.
Helm 3 just displays deployment status now. ( it does return information in YAML or JSON mode ).

Would be cool if helm 3 can display the same informations as helm 2 ( or have an output mode to do so ).

[2019-12-01 10:33] rgl commented on #6708
Oh this problem also exists in helm 3:

[code]

Happens when installing with:

[code]

[2019-12-01 10:37] rgl commented on #7023
This is also happening to me, it seems https://github.com/helm/helm/issues/6708 also exists in helm 3:

[code]

Happens when installing with:

[code]

[2019-12-01 15:24] marckhouzam commented on #7121
Thanks for the report.
Duplicate of #5952 where you can find information on the reasons behind this change.

[2019-12-01 15:53] olivierchatry commented on #7121
Thanks a lot. I guess my search skills are becoming dull :(. Sorry for the duplicate, closing this one. Make sense to remove the code of it is duplicate.

[2019-12-01 15:53] #7121 closed

[2019-12-01 21:45] icanhazbroccoli commented on #6708
@rgl this is a slightly different problem, which goes as deep as golang text/template internals. In a nutshell: comparison functions expect operands to come in compatible formats. Once it gets a int-like and float-like argument tuple, it panics. Maybe this ref would be helpful: https://golang.org/src/text/template/funcs.go#L513.

I would suggest using an explicit type casting here (using int and f

[2019-12-01 21:56] rgl commented on #6708
@icanhazbroccoli how do I do an explicit type casting from the helm cli?

[2019-12-01 22:01] icanhazbroccoli commented on #6708
@rgl either ```--set auditLog.level=3.0``` or it's the templates that have to be modified :-(

[2019-12-02 01:58] ywk253100 commented on #7087
@jdolitsky Removing the cache directory works for me, thanks.

[2019-12-02 02:20] djklim87 commented on #7092
Thanks)

[2019-12-02 02:20] #7092 closed

[2019-12-02 03:17] parjun8840 opened #7123 "White space trimming issue with array and map"
White space trimming is not behaving similarly for array and map in helm template rendering.

Output of `helm version`: `version.BuildInfo{Version:"v3.0.0", GitCommit:"e29ce2a54e96cd02ccfce88bee4f58bb6e2a28b6", GitTreeState:"clean", GoVersion:"go1.13.4"}`

Output of `kubectl version`: NA, as it seems related to the template

There are 2 input files
1. **values.yaml**
[code]
2. mod_values.yaml
[cod

[2019-12-02 03:36] asthasr commented on #7019
It's now actually displaying on `stderr`, and isn't showing up when I pipe it through `less` or `pbcopy`. I'm not sure what the difference is, as my installed version of `helm` hasn't changed. I _have_ restarted my shells; could it have been configuration that was not picked up when I upgraded from Helm 2 to 3 and still had shells open? In any case, given that it's filterable now, I will close thi

[2019-12-02 03:36] #7019 closed

[2019-12-02 03:44] githubvick commented on #7095
@zwwhdls Thanks for your inputs.

The secrets.yaml inside helm_vars has the below value

mysecret: ENC[AES256_GCM,data:W/s38F5gQ/M=,iv:Ekpf6AX/hyHFGjUvaTPH6HncMNRYFgB3C5cJquZ8HPU=,tag:iCq1Pkf0axazh9mGyBcUPA==,type:str]

I think W/s38F5gQ/M= is the encrypted data. Tried using

mysecret:W/s38F5gQ/M=

inside of values.yaml. The resulting container only has the env value of W/s38F5gQ/M= instead of myp

[2019-12-02 03:51] zwwhdls commented on #7095
@githubvick , I believe you can try this:

templates/secret.yaml:
[code]

values.yaml:
[code]
where "bXlzZWNyZXQK" is base64 encode of "mysecret".

deployment.yaml:
[code]

[2019-12-02 04:04] zwwhdls commented on #7123
Hi @parjun8840 ,

For Q1 Array:

Delete '-' in '{{- $item }}', like the follows. And have a try:
[code]

For Q2 Map:

Delete '-' in '{{- $config.enabled }}', and have a try:
[code]

Have a fun 😁

[2019-12-02 04:09] zwwhdls commented on #7123
The '{{- xxx }}' in go template means 'trim the white space' as follows:

[code]

reference: [https://golang.org/pkg/text/template/](https://golang.org/pkg/text/template/)

[2019-12-02 04:14] githubvick commented on #7095
I believe you asked me to use the base64 value of the actual password value. bXlzZWNyZXQK decodes to "mysecret" instead of mypassword.

Nevertheless, I tried both ways, to use the base64 encoded value of mysecret in values.yaml file and mypassword. Both times its just the encoded value that is set as env variable inside the container.

[code]

[2019-12-02 05:19] zwwhdls commented on #7095
@githubvick  Hi, I just tried the secret but it works well. Here are my files:

templates/pod.yaml
[code]

templates/secret.yaml:
[code]

values.yaml:
[code]

Then helm install the chart:
[code]

Get the env in pod test:
[code]

[2019-12-02 09:01] marcadella commented on #7093
Anyone having a look at this issue?

[2019-12-02 09:59] marcadella opened #7124 "Condition on dependency not respected"
Setting a condition on a dependency in `Chart.yaml` does not work in Helm v3. [Attached](https://github.com/helm/helm/files/3910568/helmTest2.tar.gz) is an example where a chart has Minio as dependency with the condition `minio.enabled`, which by default is set to `false` in `values.yaml`. When executing `helm template`, Minio resources are present in the output.

Output of `helm version`:
version

[2019-12-02 10:35] hickeyma commented on #7087
@ywk253100 Closing this issue as @jdolitsky has explained that it is because of a breaking change from Helm 3 beta version and not an issue in Helm 3 GA. Josh also provided a workaround so that you can progress.

[2019-12-02 10:35] #7087 closed

[2019-12-02 11:35] willsilvano commented on #6130
Thanks @truealex81 ! That works on Azure.

[2019-12-02 11:54] huang-jy commented on #4294
Nudging this ticket to see if we have any progress on this feature?

[2019-12-02 12:26] hickeyma commented on #4294
@huang-jy Would you like to create a proposal on solution(s)?

[2019-12-02 12:28] huang-jy commented on #4294
Sure, I made some suggestions in the opening post of this issue and this has been tagged as a `feature` since last year, so I'm just wondering if anything has happened since then?

[2019-12-02 12:32] hickeyma commented on #4294
@huang-jy Looks like no but lots of changes in last year with Helm 3 now GA. Might be a good time to revisit and drive it on if you like?

[2019-12-02 12:33] huang-jy commented on #4294
Will do.

On Mon, 2 Dec 2019 at 12:32, Martin Hickey <notifications@github.com> wrote:

[2019-12-02 12:58] dastrobu commented on #7082
@bacongobbler thanks for explaining this difference between Helm 2 and Helm 3. I agree that the way Helm 3 works with --force updates is very good for most use cases, since no unnecessary recreation of resources happens, which could cause trouble.
However, I assume that it will be problematic for some resources, that no --force update is possible anymore without manual intervention. So I would sug

[2019-12-02 13:13] nniikkoollaaii opened #7125 "invalid path for --kubeconfig parameter causes exit without any output"
Output of `helm version`:
version.BuildInfo{Version:"v3.0.0", GitCommit:"e29ce2a54e96cd02ccfce88bee4f58bb6e2a28b6", GitTreeState:"clean", GoVersion:"go1.13.4"}

Output of `kubectl version`:
irrelevant
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
irrelevant

The following command
`helm install chartname ./dir/to/chart --kubeconfig kubeconfig-name`
fails without any error output if the path to

[2019-12-02 14:04] marckhouzam commented on #7125
Thanks for the report.
Duplicate of #6863
There is an attempt at a fix in #6915

[2019-12-02 14:34] hickeyma commented on #7125
Closing as duplicate

[2019-12-02 14:34] #7125 closed

[2019-12-02 15:01] hickeyma commented on #7111
@algorunescu Fix #7114 has been merged for this issue.  Closing the issue.

[2019-12-02 15:24] SpamapS opened #7126 "Error: UPGRADE FAILED: create: failed to create: Secret "sh.helm.release.v1.chart-name.v20" is invalid: data: Too long: must have at most 1048576 characters"
Output of `helm version`: `version.BuildInfo{Version:"v3.0.0", GitCommit:"e29ce2a54e96cd02ccfce88bee4f58bb6e2a28b6", GitTreeState:"clean", GoVersion:"go1.13.4"}`

Output of `kubectl version`: `Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.3", GitCommit:"b3cbbae08ec52a7fc73d334838e18d17e8512749", GitTreeState:"clean", BuildDate:"2019-11-18T14:56:51Z", GoVersion:"go1.12.13",

[2019-12-02 15:28] henrikb123 commented on #5595
@bacongobbler
I hit this with helm3. History is completely empty when this happens, although broken k8s resources are there since attempt 1.

Reproduction seems really easy:
1. helm upgrade --install <something with a pod that has a container that exits with error>
2. correct what caused the container to exit, e.g. value with invalid arg for the executable inside container, and try again
-> Error:

[2019-12-02 16:03] hickeyma commented on #7111
Port to v2 in PR #7128

[2019-12-02 16:04] hickeyma commented on #7111
Re-opening as need fix in v2 also.

[2019-12-02 17:43] bacongobbler commented on #7126
duplicate of https://github.com/helm/helm/issues/6711.

[2019-12-02 17:43] #7126 closed

[2019-12-02 17:46] bacongobbler commented on #7082
it might be worth considering a new feature flag that forces a deletion of the object on an upgrade. Something like `--recreate`, perhaps.

[2019-12-02 17:51] bacongobbler commented on #4294
In general terms, we don't usually go out and implement features requested by the community unless we explicitly say we'd like to expedite the feature. If you'd like to see something in Helm, we'd be happy to help you get started so you can implement the feature yourself, and we can help out through the process. :)

For starters: https://helm.sh/docs/community/developers/

[2019-12-02 17:54] huang-jy commented on #4294
Well, I'm not that good at Go yet. But at least this gives me a reason to learn it ^_^

[2019-12-02 20:08] phillycheeze opened #7129 "Upgrading a non-Helm resource into Helm (without deleting)"
### Summary

Currently, there is no way to take existing resources and "import" or "map" them into a Helm release. The workaround for version 2 of Helm was to try and initially install or upgrade the release. In this workaround, you would get an error (resource conflict) error on the first try but then it would work on the second try. This was due to a release being created after the error but bei

[2019-12-02 20:34] davi5e commented on #3555
I read all comments and don't have a fully qualified opinion on the matter.

I arrived here because my company maintains a private Helm repository and 90% of our charts are mainly one deployment which has one container spec. In these cases, if we could use `appVersion` to list the image's tag, we'd avoid duplicating a variable and we'd be able to see this version running `helm version`.

After rea

[2019-12-02 20:56] wmiller112 commented on #5979
I seem to be running into the same issue here and cannot figure out how to apply @Zebradil workaround
values.yaml:

[code]

templates/roles.yaml

[code]

templates/_helpers.tpl
[code]

[2019-12-02 20:57] SpamapS commented on #6711
The title of this maybe should be updated to reflect 3.0.0, since it persists after beta. Also it seems like this one is confirmed and pretty deep, dunno if there's a tag for that, but, seems to me it is entirely workable right now.

[2019-12-02 22:20] gmaghera opened #7130 "Invalid kubectl context results in helm3 commands failing without output."
If the current Kubernetes context is set to something invalid, helm commands silently fail, even `helm version`.

I though there was a problem with my helm3 installation, based on the lack of output from `helm version`.  We should be able to query helm for its version regardless of what kubectl context is set to.

[2019-12-02 22:43] stefansedich commented on #7002
Bit by this too, thanks @giggio will try out your solution to get us by, was interesting as the install just worked tooked me a bit to figure things out.

[2019-12-03 01:29] marckhouzam commented on #7130
Thanks for the report.
Duplicate of #6863
There is an attempt at a fix in #6915

[2019-12-03 06:31] daixiang0 opened #7131 "Does helm do verification before CRDs install"
Refer to [doc](https://helm.sh/docs/topics/charts_hooks/), after CRDs create, helm do verification then renders templates.

Is it right or missing in docs?

[2019-12-03 06:37] #7130 closed

[2019-12-03 08:45] invidian opened #7132 "crds directory can create any resources"
It seems that `helm` allows to create any kind of resources using `crds` directory, which will be created, but won't be part of the release. That for example, allows to put a **`Namespace`** and RBAC resources there, which allows to actually create a namespace for the release when doing `helm install`. I'm pretty sure this is unintended behavior.

Attaching example chart which can be used to repro

[2019-12-03 09:51] henrikb123 commented on #5595
Seems the --atomic flag may be a way forward in my (CI/CD) scenario. Since it cleans out initial failing release completely as if it never happened, I don't hit this issue on next attempt.

[2019-12-03 09:53] WeihanLi commented on #7108
Hi @bacongobbler , I'd made a helm chart here <https://github.com/WeihanLi/ActivityReservation/tree/dev/k8s/reservation-server>
That's an asp.net core application depends on redis/mysql, but for now, the application would start without waiting for the mysql ready,
so is there some methods to let the application chart start not before all child charts started?

[2019-12-03 10:42] wondering639 opened #7133 "--all-namespaces not listed in flags"
Output of `helm version`:
version.BuildInfo{Version:"v3.0.0", GitCommit:"e29ce2a54e96cd02ccfce88bee4f58bb6e2a28b6", GitTreeState:"clean", GoVersion:"go1.13.4"}

Flag `--all-namespaces` is not listed in the usage when only calling helm:
[code]
Found `--all-namespaces` via Google, but would have been nice to see it on the usage :-)

[2019-12-03 11:27] hickeyma commented on #7133
@wondering639 This is because `--all-namespaces` flag is only relevant to some of `helm` commands. Commands like `helm ls`.

[2019-12-03 11:28] hickeyma commented on #7133
Closing as working as expected.

[2019-12-03 11:28] #7133 closed

[2019-12-03 11:39] wondering639 commented on #7133
OK, but isn't it the same for --namespace, which is listed at the usage?

[2019-12-03 11:40] doandzhiFt opened #7134 "If statement is executed despite being commented"
**Output of `helm version`:**

Client: &version.Version{SemVer:"v2.16.0", GitCommit:"e13bc94621d4ef666270cfbe734aaabf342a49bb", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.16.0", GitCommit:"e13bc94621d4ef666270cfbe734aaabf342a49bb", GitTreeState:"clean"}

**Output of `kubectl version`:**

Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.7", GitCommit:"8fca2ec50a6

[2019-12-03 11:46] Sh4d1 opened #7135 "Namespace flag of the Install/Upgrade action not working correctly on the sdk"
Helm sdk version: 3.0.0

Currently the `Namespace` https://github.com/helm/helm/blob/master/pkg/action/install.go#L78 flag is not passed down to the kube client. So when specifying it on a `Install` action and then running this action, all the object without specified namesapce will be created either in the `default` namespace or in the namespace retrieved by the `RESTClientGetter`.

One solution

[2019-12-03 14:18] karuppiah7890 commented on #7124
Thanks for trying out helm and reporting this issue. On checking this is what I noticed:

The `values.yaml` content is this
[code]

and `Chart.yaml` mentions condition in dependency as:
[code]

But I think that's not going to work. Like, yaml keys with dot cannot work (even though it's a valid yaml key), as helm uses the dot notation for the path of the nested keys. So, for above condition, the `v

[2019-12-03 14:45] bacongobbler commented on #7134
Helm uses Go’s text/template library for template execution. I think this may be a better question for upstream.

https://golang.org/pkg/text/template/

[2019-12-03 15:37] koreansh4632 opened #7137 "Adding the service protocol with same port during a helm upgrade"
I only use TCP as port 80, then add UDP to port 80 and do helm upgrade.
But when I check svc, I can only see either TCP or UDP.
If I do a new delete / install, I can see all TCP and UDP protocols for port 80.
Why can't I see two ports when upgrading?

ex)

kind: Service
metadata:
  name: my-service
spec:
  selector:
    app: MyApp
  ports:
    - name: tcp
      protocol: TCP
      port: 80

i can

[2019-12-03 15:37] cppforlife commented on #6930
+1

[2019-12-03 17:40] githubvick commented on #7095
@zwwhdls Thanks for your time and responses.

I finally figured that you dont need to mention the secrets and passwords inside the values.yaml file, you can pass the secrets.yaml file through the command and it will refer from there.

helm secrets install testsec -f testsec/helm_vars/secrets.yaml --name=test

[2019-12-03 21:38] johnmcollier opened #7139 "[Helm 3] improper RBAC setup causes release to be stuck in `pending-install` status despite installing fine"
I tried deploying a simple Go application with a Helm chart using Helm 3, running on Kubernetes. You can find the helm chart [here](https://github.com/johnmcollier/gotemplate). The application installs fine, without error and even reports a status of `deployed`.
[code]

However, it does not show up in the list of releases when I run `helm list`. If I run `helm list --all` it shows up with a status

[2019-12-03 21:51] johnmcollier commented on #7139
The debug logs also didn't indicate anything wrong:
[code]

[2019-12-03 21:54] johnmcollier commented on #7139
Could this be an issue running on Kubernetes? If I deploy the application with Helm 3 on my laptop it's fine, but not if I deploy from within Kubernetes.

[2019-12-03 21:57] jurgenweber commented on #2916
I have been talking to bitbucket support and we made a feature request; https://jira.atlassian.com/browse/BCLOUD-19694 vote for it!

[2019-12-03 22:11] jmcelwain opened #7140 "Cannot install chart on private Artifactory registry with self-signed cert"
We are using the Artifactory Helm plugin on Artifactory version `6.13.1`. When installing a chart in a repository via `helm install`, the following error occurs:

[code]
This repository was added with a specified CA file:

[code]

This is confirmed by checking `~/.helm/repository/repositories.yaml`.

By changing the following to be hard coded, I can get past this error:
[code]

Output of `helm ver

[2019-12-03 22:56] bacongobbler commented on #7140
What happens if you run `helm install --generate-name helm-virtual/foo --ca-file /tmp/artifactory.crt`?

Can you show what's in your repositories.yaml? I recall there being a similar ticket raising that helm wasn't loading configuration from repositories.yaml, so that configuration wasn't being loaded.

[2019-12-03 22:59] bacongobbler commented on #2916
@jurgenweber I don't believe #4165 was ported over to Helm 3. If you feel like porting the fix over to Helm 3, please feel free!

Re-opening for the moment.

[2019-12-03 23:17] trondhindenes opened #7141 "helm repo update doesnt respect --repository-cache"
Output of `helm version`:
`version.BuildInfo{Version:"v3.0.0", GitCommit:"e29ce2a54e96cd02ccfce88bee4f58bb6e2a28b6", GitTreeState:"clean", GoVersion:"go1.13.4"}`
Output of `kubectl version`:
N/A
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
N/A

Running `helm repo update` with the `--repository-cache` parameter seems to still fill the "default" cache path, and not the one specified in the par

[2019-12-03 23:21] jmcelwain commented on #7140
Adding the `--ca-file` doesn't appear to help, unfortunately. Here's the output:

[code]

Here's my lightly edited `repositories.yaml`:

[code]

[2019-12-04 08:05] marcadella commented on #7124
Sorry my bad! However I am not sure what you mean with the condition expression. `condition: minio.enabled` works fine.

[2019-12-04 08:05] #7124 closed

[2019-12-04 08:12] marcadella commented on #7093
There was a mistake in the .tar.gz which is fixed now and solve some of the issues raised in the post above (which is updated).

[2019-12-04 08:47] pxLi commented on #5156
would be nice to just honor PV's `reclaim policy` :)

[2019-12-04 09:36] SripriyaMenon opened #7145 "v3.0.0 SHA sum error while installation on eks cluster"
Hi,
I have seen multiple issues with this error and all of them mentioned to use export DESIRED_VERSION ( which i have rightly used here). But still I keep getting these errors. I am not sure what is it that i am doing wrong. I am trying to install this on my kubernetes cluster. It already had a tiller installed for v2, that i have now uninstalled.

Is there an easier wary to upgrade v2 to v3 on t

[2019-12-04 09:54] amitripshtos commented on #1892
I'm having this issue also, and can't find a good solution to it rather doing something hacky such providing a ConfigMap from the parent chart and let the subchart use that.

Anyone has a solution ?

[2019-12-04 10:24] andrewm41 opened #7146 "helm 3 empty list after install"
Hello, I'm trying to install a chart to baremetall kubernets (it is ceph-csi https://github.com/ceph/ceph-csi if it is important), after install I can't see any info about it

[code]

[code]
[code]

[code]

[code]

[2019-12-04 10:34] hickeyma commented on #7146
@andrewm41 Can you try using `--all-namespaces` flag with the commands?

[2019-12-04 10:38] andrewm41 commented on #7146
@hickeyma
thank you, my mistake, it is there, everything is correct
[code]

[2019-12-04 10:38] #7146 closed

[2019-12-04 11:59] patvdleer commented on #7023
Can confirm:

[code]

[code]

[2019-12-04 14:25] #7101 closed

[2019-12-04 15:30] PankajWorks opened #7149 "helm template command does not add a newline when used with range"
Output of `helm version`: `Client: &version.Version{SemVer:"v2.14.3", GitCommit:"0e7f3b6637f7af8fcfddb3d2941fcc7cbebb0085", GitTreeState:"clean"}`

Output of `kubectl version`:` Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.2", GitCommit:"c97fe5036ef3df2967d086711e6c0c405941e14b", GitTreeState:"clean", BuildDate:"2019-10-15T23:43:08Z", GoVersion:"go1.12.10", Compiler:"gc",

[2019-12-04 17:08] wantdrink opened #7150 "Get error message '(or `helm init --client-only` if tiller is already installed)' while pushing chart"
Hi there,

I was trying to push chart to my local harbor (v1.9.3) repo but get below error message:

I installed helm push plugin from https://github.com/chartmuseum/helm-push and add the local Harbor repo. Then try to push a chart for testing as:

The error message is:
Error: Couldn't load repositories file (/root/.helm/repository/repositories.yaml).
You might need to run `helm init` (or `helm in

[2019-12-04 17:18] karuppiah7890 opened #7151 "use sigs.k8s.io/yaml instead of gopkg.in/yaml.v2 in cmd/helm/repo_add.go"
Output of `helm version`:

[code]

https://github.com/helm/helm/blob/4d6a2461f394f171d871e4680b4dfd439c97961e/cmd/helm/repo_add.go#L32

Everywhere we use `sigs.k8s.io/yaml`, I think we could use the same consistently over here too. Will raise a PR for the same!

[2019-12-04 17:43] jhvhs opened #7154 "An image referencing convention"
We, as well as other members of the community, are facing the following issues:
1. It is difficult or even impossible to automatically extract all the image references from a given helm chart. This is important for security, scanning and license checking purposes.
2. It is difficult for the end user to easily install an existing helm chart using images that have been re-located to a private regist

[2019-12-04 18:30] dastrobu commented on #7129
I cannot provide an answer, but currently we discuss the same issue with our team: how to migrate form a non-helm-managed release into a helm managed one without downtime. Any hint how to do this in a proper way would be welcome.
@paddycarey can you explain your second method, how do you "force the creation of the release" and tell Helm to delete and create objects?

[2019-12-04 18:47] dastrobu commented on #7082
Certainly one could keep the "recreate" strategy separated from the force flag and let the user decide.
I could think of adding a recreate flag in the flowing alternative ways:

1. `--recreate` always does a delete and create and thus is an alternative to the standard upgrade (PATCH) and the `--force` upgrade (PUT).
2. `--recreate` implies `--force` and trys PUT first and does a recreate on failur

[2019-12-04 19:34] jmcelwain commented on #7140
I've identified the location for the fix and will submit a patch today, if that's okay with y'all.

[2019-12-04 20:47] bacongobbler commented on #7140
SGTM!

[2019-12-04 22:38] rbutola commented on #6864
I was getting the same error when trying to install from a tgz file.
The issue as it turned out was -- helm was expecting the file name as "Chart.yaml" .
However the way archive file was packaged , chart was packaged as "dir/Chart.yaml".
This was causing the mismatch failure "Chart.yaml" != "dir/Chart.yaml"
leading to error Error: validation: chart.metadata is required

[2019-12-05 00:16] james-r-smith opened #7155 "[Helm 3] helm package requires argument"
According to the description for `helm package`:

Chart.yaml file, and (if found) build the current directory into a chart.

But this is not the case, shown by running `helm package`:
[code]

Recommended solution, rather than throwing an error if no args are provided, append to `args`:
[code]

Should be an easy enough PR. 😉 Only one change to the tests should be needed. I don't have `golangci-lint

[2019-12-05 00:50] onedr0p commented on #4020
This solved it for me

[code]

[2019-12-05 00:51] onedr0p commented on #3870
This solved it for me

[code]

[2019-12-05 02:17] zwwhdls commented on #7155
Hi,

As "helm template" and "helm template ." did, I think it's better to update the cmd "helm package" description instead of appending the default arg to follow cmd behavior continuity.

Besides, whatever recommends are accepted, I would like to create a pr to fix it. 😺

[2019-12-05 02:33] zwwhdls commented on #7137
Hi, "helm upgrade" calls PATCH resource api of apiServer. I have another try for it. When I use command "kubectl edit svc " to add a UDP port with the same port of TCP, I can still only see either TCP or UDP.

[2019-12-05 03:38] zwwhdls commented on #7095
@githubvick Hi,

Does the command you gave above really works? I can't find "helm secrets" in cmd list, neither in codes.

[2019-12-05 03:42] Dlarmor opened #7156 "helm3 install error"
$ helm install jenkins https://hub.helm.sh/charts/stable/jenkins --version lts
Error: file '/home/ubuntu/.cache/helm/repository/jenkins' does not appear to be a gzipped archive; got 'text/html; charset=utf-8'

$ helm install kanister-mysql  kanister/kanister-mysql --version 0.22.0
Error: unable to build kubernetes objects from release manifest: [unable to recognize "": no matches for kind "Deploym

[2019-12-05 05:09] bacongobbler commented on #7155
A change to the help string to fix this inconsistency in the docs would be much appreciated. Thanks!

[2019-12-05 06:43] GaykarSanket opened #7158 "[Helm 3] Rollback to last successful release fails with --atomic flag in helm3"
Output of `helm version`: helm version
version.BuildInfo{Version:"v3.0.0", GitCommit:"e29ce2a54e96cd02ccfce88bee4f58bb6e2a28b6", GitTreeState:"clean", GoVersion:"go1.13.4"}

Output of `kubectl version`: kubectl version
Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.3+coreos.0", GitCommit:"f96beb2e925b0bb4e6ac0de746c7155dcd8fdc10", GitTreeState:"clean", BuildDate:"2017-11-13T10

[2019-12-05 07:31] bierhov commented on #6130
myenv:
k8s 1.11.2 helm 2.13.1 tiller 2.13.1
prometheus-operator-5.5  APP VERSION 0.29 is OK!!!

but:
prometheus-operator-8  APP VERSION 0.32 hava same problem:
"context canceled" or "grpc: the client connection is closing"!!!

i guess the lastest version of prometheus-operator is not compatible?!!!

[2019-12-05 07:47] dotw commented on #1950
we also need this feature since we install the same chart for different users and we'd like add labels to the instances to let Prometheus collect monitoring resources.

[2019-12-05 08:57] vsliouniaev commented on #6130
@bierhov please can you post the resources in the namespace after a failure?

[2019-12-05 09:03] bierhov commented on #6130
yes!
shell execute "helm ls" i can see my prometheus-operator release status "failed",but the namespace where prometheus-operator i installed have all prometheus-operator resourses
but,
promethues web can't get any data!

[2019-12-05 09:26] dastrobu opened #7159 "cannot install service account token due to install order"
Given a chart containing the following template
[code]
Helm will install the service account token (Secret) first and Kubernetes will instantly delete this secret, since no service account is available for this secret (see [Token Controller](https://kubernetes.io/docs/reference/access-authn-authz/service-accounts-admin/#token-controller)).
Then Helm installs the service account, but the token is g

[2019-12-05 09:36] vsliouniaev commented on #6130
Can you please post the resources though?

[2019-12-05 10:26] bierhov commented on #6130
sorry,i cant reappear,unless i remove my stable helm env and do it again!

[2019-12-05 10:37] vsliouniaev commented on #6130
@bierhov do you have any failed jobs left after the install?

[2019-12-05 11:35] damodhar22 opened #7160 "helm upgrade failed with error has no deployed releases"
I tried to do an helm upgrade it failed saying: has no deployed releases. The expected behavior is that it should install the chart as the option **--install** is provided

**helm upgrade --install --force myapp ./test
Error: UPGRADE FAILED: "myapp" has no deployed releases**

Output of `helm version`:v3.0.0

Output of `kubectl version`:v1.15.0

Cloud Provider/Platform (AKS, GKE, Minikube etc.): E

[2019-12-05 11:41] bierhov commented on #6130
my k8s version is 1.11.2 helm an tiller version is 2.13.1
if i install prometheus-operator version 8.x
shell exec command "helm ls",the job status is failed
but i install prometheus-operator version 5.x
shell exec command "helm ls",the job status is deployed!!!

[2019-12-05 11:46] ruaridhnewman opened #7161 "helm init with TLS getting "Error: could not ping Tiller: context deadline exceeded""
## Issue

I am trying to install helm in an AWS eks cluster, with TLS enabled. To do this, I have followed the steps outlined in [this blog post](https://medium.com/google-cloud/install-secure-helm-in-gke-254d520061f7):

 - using openssl to generate
    - `tiller.cert.pem`
    - `tiller.key.pem`
    - `ca.cert.pem`
 - run the following commands to initialise helm and tiller:

[code]

The cluster r

[2019-12-05 11:53] damodhar22 opened #7162 "Add --dependency-update flag to the helm upgrade command"
Output of `helm version`:v3.0.0

Output of `kubectl version`:v1.15.0

Cloud Provider/Platform (AKS, GKE, Minikube etc.): EKS

[2019-12-05 13:09] marckhouzam commented on #7160
I've seen this when there is a failed release. Try doing: `helm list --all-namespaces -a`
That -a flag is important.

[2019-12-05 13:34] marckhouzam commented on #7156
For the installation of Jenkins error, you cannot install directly from helm hub. The maintainers are working to allow that but I don't believe it's ready. You should instead use `stable/jenkins` (after adding the standard stable repo).

For the other two failures, it looks like the charts use custom resource definitions (crds), which were not installed yet.  I know helm 3 handles crds differently

[2019-12-05 14:10] ehernandez-xk commented on #6833
I have the same issue, I tired to rename the repo, but the same issue, I think is related that the chart url is stored as `local://hello-chart/hello-chart-0.1.0.tgz`

[code]
I have no idea how the `local` got there.

[2019-12-05 14:15] marckhouzam commented on #7141
I can confirm this.
I believe it's because the cache path is semi hard-coded here:
https://github.com/helm/helm/blob/a626f279ba227886bb94bd77b0fb1e3a994e051f/pkg/repo/chartrepo.go#L75

@trondhindenes do you want to take a stab at fixing this?

[2019-12-05 14:18] ehernandez-xk commented on #6833
The issue only happens when I add the local-repo and does not happen with virtual-repo
We should use the virtual repo created in the Artifactory

no issue:
[code]
there is issue:
[code]

[2019-12-05 14:39] james-r-smith commented on #7155
My reasoning for the suggested fix is because `helm lint` behaves the same way with no arguments. Is there any reasoning for not adding this functionality? I think a default path of current directory isn't a bad option, but again, it's just a recommended solution. 😊 👍

[2019-12-05 15:11] ehernandez-xk commented on #6833
Not sure but I think we should configure 2 repositories, local to push and virtual to get charts

Configure 2 helm repositories
[code]
[code]
Push to the local repo
[code]
pull/install the chart using virtual repo
[code]

[2019-12-05 15:13] cdrage opened #7163 "Too many log options in helm --help output."
Output of `helm version`: N/A
Output of `kubectl version`: N/A
Cloud Provider/Platform (AKS, GKE, Minikube etc.): N/A

See the current global flags:

[code]

Many of these options are seldom used, especially related to:

[code]

IMO, this should be truncated into a more standarized / minimal output:

[code]

This can be easily setup using a custom template file with cobra13.

Alternatively, the ex

[2019-12-05 15:27] trondhindenes commented on #7141
thanks for confirming. I'm not a go dev, but let me poke around a bit. I'll report back if/when I give up :-)

[2019-12-05 16:09] #7055 closed

[2019-12-05 16:10] rbren opened #7165 "Godoc badge link broken"
The godoc badge on the readme leads to a 404.

I'd like to use Helm programmatically from a Golang app, was hoping to find some docs there.

[2019-12-05 16:23] trondhindenes commented on #7141
Tricky. This is probably not the place for me to learn go. I see that I can add a `cachePath` parameter like so, and fill it from `repo_update.go`:

`func NewChartRepository(cfg *Entry, getters getter.Providers, cachePath string) (*ChartRepository, error) {`,
but that breaks all other kinds of functionality so I think I'd better leave it to the pros. Giving up :-)

[2019-12-05 16:28] mattfarina commented on #7165
Godoc does not know how to handle Go modules so we should switch to pkg.go.dev. A link for that is https://pkg.go.dev/helm.sh/helm/v3. PR's welcome.

[2019-12-05 16:31] mattfarina commented on #7163
I like the change to more groupings. It makes the flags easier to skim. We cannot disable them as it would break backwards compatibility and we should not remove them from display as people need to learn about them.

I would like to see a PR for this.

[2019-12-05 16:37] trondhindenes commented on #7141
so, I goofed around a bit. It works, but I have no idea if its the "correct" way to implement things.

[2019-12-05 17:33] karuppiah7890 opened #7167 "Proposal: Mention about Helm slack channels first thing in the readme"
If there's a focus on building the community to discuss and talk about helm more then we could do something that https://github.com/instrumenta/conftest repo does. They put their slack channel as the first thing in the readme. Inspired by this, we could do something similar, if not exactly the same. Just a thought 😄

[2019-12-05 18:29] tredmon commented on #4030
Want to add that this just bit me. I needed to set a string value obtained via REST call that held a JSON object. `{"key": "value"}` it instead ended up as `["key": "value"]` which of course failed during my service's attempt to parse as JSON.

I tried to fix using the `--set-file "myKey=<(printf %s "$JSON_OBJECT")"` using bash to generate a file descriptor, but helm failed to read the file. It se

[2019-12-05 18:34] bacongobbler commented on #4030
Did you try escaping the brackets via `\{"key": "value"\}`? You could also try `--set-string` if that doesn't work for you.

https://helm.sh/docs/intro/using_helm/#the-format-and-limitations-of-set notes that `{1,2,3}` is the format for setting array values, so that seems in line with the documentation.

[2019-12-05 18:52] tredmon commented on #4030
I run helm in an automated fashion (CI/CD), and as I said the JSON_OBJECT is the result of a REST call. I suppose I could escape the brackets and commas using `sed`, but that could get complex if string values within the JSON contain brackets or commas.

[2019-12-05 19:04] belitre commented on #6833
Hi @richardwhiuk

Looks like you are using artifactory for your Helm repo, if you are using artifactory then this has nothing to do with helm.

As @ehernandez-xk commented before this is related with how artifactory manages the helm repositories (local and virtual). If you want to pull charts from artifactory you need to add the virtual repo, the local one won't work, you can read more about this

[2019-12-05 19:20] bacongobbler commented on #6833
Thanks everyone for your input and support getting to the bottom of this! Looks like this can now be closed given the amount of in-depth answers provided here. There doesn't appear to be anything on our end; looks like it's a point of confusion on how artifactory local and virtual repositories work with Helm, and these are documented over on their site. Thanks @belitre and @ehernandez-xk for chimi

[2019-12-05 19:20] #6833 closed

[2019-12-05 19:48] tatchiuleung opened #7168 "helm v3 unable to force recreate immutable resource"
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
GKE

In Helm v2, I used to be able to do `helm upgrade --force` to upgrade helm charts with immutable resources, such as Job. For example, if the docker image tag is changed, the helmv2 upgrade with `--force` will recreate the resource.

Now in Helm v3, I can no longer do this an

[2019-12-05 19:49] tatchiuleung commented on #7168
The error in helm v3 is
[code]

[2019-12-05 19:50] tatchiuleung commented on #7168
The workaround is to run `helm uninstall <release>` and deploy, but this involves manual intervention which I didn't have to in helm v2.

[2019-12-05 20:07] bacongobbler commented on #7168
duplicate of https://github.com/helm/helm/issues/7082

[2019-12-05 20:07] #7168 closed

[2019-12-05 20:17] tatchiuleung commented on #7082
Option #3 gives us greatest flexibility but I think user already understands why `--recreate` is needed in the first place, thus I believe option #2 covers most scenarios.

[2019-12-05 20:27] phcollignon opened #7169 "No more installation instructions in Helm 2 doc"
Hello,

There is no more installation instructions in the default Helm 2 documentation for latest Helm 2 release
(https://v2.helm.sh/docs/using_helm/#installing-helm)

It is still there for 2.14 but not for 2.16.

Regards,

[2019-12-05 21:48] rbren commented on #7165
Thanks for the pointer, PR opened!

[2019-12-05 21:49] Tchoupinax opened #7172 "Secret is not correctly set"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.): Minikube

Hello :) !

i met a strange issue when trying to use a docker-registry with helm.

My command is the following:
[code]

Then, i tried to login to this registry but it always answered a 401. I decided to explore why, because i'm sure that i did all things as the good wa

[2019-12-05 22:04] githubvick commented on #7095
yep.

helm secrets

Available Commands:
  enc           Encrypt secrets file
  dec           ......
  install       wrapper that decrypts secrets[.*].yaml files before running helm install

So, it essentially uses the secret for that chart.

[2019-12-06 01:14] bacongobbler commented on #7095
Can you run a `helm plugin list` for us? `helm secrets` is provided by a third-party plugin. It’s not a command provided by helm.

[2019-12-06 03:31] solacens commented on #3276
Please consider implement it. Even `kustomize` is providing command line flag to allow external files to be accessed.

[2019-12-06 07:40] daixiang0 commented on #7131
@hickeyma Hi, mind have a look?

BTW, i find that if still put crds under `template` and no `crds` dir, crd still can be created/deleted, my helm version:
[code]

[2019-12-06 10:22] marrobi commented on #5571
I hit this today. Anybody got a work around/solution?

[2019-12-06 11:14] Dimpison opened #7173 "Helm 3 upgrade failed - Immutable field."
When any of immutable fields was changed in template, `helm upgrade` fails because it can't update resources (output below).

Steps to reproduce:
`helm create chart`
`helm upgrade --install nginx ./chart --wait --timeout 300s --atomic --cleanup-on-fail --force`
[code]
`vim chart/templates/_helpers.tpl` (and add a couple of symbols into line number 50, in order to change label selector)
[code]
`hel

[2019-12-06 12:32] erpel opened #7174 "helm3: repo add no longer interactively asks for password"
Output of `helm version`: version.BuildInfo{Version:"v3.0.0", GitCommit:"e29ce2a54e96cd02ccfce88bee4f58bb6e2a28b6", GitTreeState:"clean", GoVersion:"go1.13.4"}

With helm v2, passing --username myname to helm repo add caused helm to interactively ask for a password which is positive for security reasons (not having a password show up in process lists and shell histories, the password being shadowe

[2019-12-06 12:44] bacongobbler commented on #7174
This was likely introduced to helm 2 after the fork. It shouldn’t be too difficult to port over to helm 3. Want to take a crack at porting it over?

[2019-12-06 14:32] jlyheden commented on #6361
We are also hit by inconsistent behaviour on delete. For example

1. We helm install purposely misconfigured metrics-server
1a. resources get created but metrics-server pod ends up in crashloopbackoff (expected)
2. We helm delete metrics-server
2a. We get back "Error: uninstallation completed with 1 error(s): could not get apiVersions from Kubernetes: could not get apiVersions from Kubernetes: una

[2019-12-06 15:07] githubvick commented on #7095
Sorry, missed to mention that I did install a plugin

helm plugin install https://github.com/futuresimple/helm-secrets

helm plugin list
NAME    VERSION DESCRIPTION
secrets 2.0.2   This plugin provides secrets values encryption for Helm charts secure storing

Found it while searching for the mechanism to use helm secrets.

[2019-12-06 15:26] hswimelar commented on #7046
@jdolitsky We're discussing supporting helm charts (and OCI images) more broadly issue here, but we haven't settled on a solution yet: https://gitlab.com/groups/gitlab-org/-/epics/2281

Right now though, it looks like we access, `digest`, `blobSum`, `mediaType`, `size`, and `created`:
[code]

[2019-12-06 15:30] cdrage commented on #7163
@mattfarina I'm on it :)

[2019-12-06 15:36] Keyproco commented on #6031
Ah, i finally understood why this error repeats even when we delete the service account.
What really happens is when you apply your file with

`helm upgrade -f`

He assigns the first service account without any problem, that whyit takes some delay to respond, then he moves to assign the next one but surprise, here k8S finds that the service account is already there, so to fix this, simply don't de

[2019-12-06 15:41] cdrage opened #7175 "Re-enable fejta-bot"
Output of `helm version`: N/A

Output of `kubectl version`: N/A

Cloud Provider/Platform (AKS, GKE, Minikube etc.): N/A

@fejta-bot has been useful in the past with regards to issues getting out of hand. There's over 880 open issues now, perhaps this should be re-enabled?

[2019-12-06 16:00] ruaridhnewman commented on #7161
For anyone who is stuck on the same issue, I ended up following the [flux documentation](https://docs.fluxcd.io/projects/helm-operator/en/latest/tutorials/get-started.html) and using [`cfssl`](https://github.com/cloudflare/cfssl) to create the certificates.

I ran this command to initialize helm:

[code]

and it installed it correctly. If I ran the above command with the `--wait` flag, I had the s

[2019-12-06 16:16] bacongobbler commented on #7175
I've advocated against the stale issue bot in the past. Often, feature requests are left open for a community member to implement. Over time, we were marking more issues as "keep open" than letting them go stale. The stale issue bot became more of a hindrance than a helpful tool.

On that same note, often times an issue can go stale without a true resolution. This leads to people requesting for an

[2019-12-06 16:17] technosophos commented on #6361
The PR that fixed this was here: https://github.com/helm/helm/pull/6908 See the additional discussion around whether there still remains one additional case.

[2019-12-06 16:19] bacongobbler commented on #7161
thanks for the resolution @ruaridhnewman. Closing!

[2019-12-06 16:19] #7161 closed

[2019-12-06 16:22] #7165 closed

[2019-12-06 16:24] paddycarey commented on #7129
@dastrobu think you've tagged the wrong person perhaps?

[2019-12-06 16:34] erpel commented on #7174
I'm not opposed but it might be a while before I get the time to look at even setting up a dev environment for helm.

[2019-12-06 16:37] bacongobbler commented on #7174
FYI: https://helm.sh/docs/community/developers/

[2019-12-06 16:38] bacongobbler commented on #6930
closed via #7138

[2019-12-06 16:38] #6930 closed

[2019-12-06 16:38] hickeyma commented on #7162
@damodhar22 Can you provide more context and details on the feature you are requesting/

[2019-12-06 16:43] mtougeron commented on #6930
@GrahamGoudeau Thanks for adding this functionality!

[2019-12-06 16:45] bacongobbler commented on #7173
Kubernetes marks certain fields of objects as immutable. Once the object has been created, those fields cannot be changed. This is something out of Helm's control as per the normal patch operations.

In your particular case, please see https://github.com/helm/helm/issues/6378#issuecomment-557746499 for an in-depth write-up on the behaviour. I guess that same practice should be applied to the defau

[2019-12-06 16:53] bacongobbler commented on #7172
Looking at the chart itself, it appears that the value is passed as-is to the resource.

https://github.com/helm/charts/blob/7f2ce76723049b2b1ce6c5011b83264b761a653a/stable/docker-registry/templates/secret.yaml#L12-L14

Transferring to helm/charts as a support question about a particular chart. This doesn't appear to be an issue from Helm's end, as the following example works for me:

[code]

base

[2019-12-06 17:00] bacongobbler commented on #3276
Seems like there's more than enough consensus for this feature. We are looking for volunteers willing to put the time forward to implement this. @solacens would you be willing to put in the time to implement this?

[2019-12-06 17:04] bacongobbler commented on #7169
Hi @phcollignon. I'm confused about your question. Can you please point out the specific area in the documentation you are raising an issue about? I don't see anything specific about 2.16 or 2.14. The installation instructions for both should be the exact same: install helm using your favourite package manager.

[2019-12-06 17:05] bacongobbler commented on #7167
Good suggestion. We mention them in the [CONTRIBUTING doc](https://github.com/helm/helm/blob/master/CONTRIBUTING.md#support-channels), but higher visibility in the project README is good too.

[2019-12-06 17:18] rjminchuk commented on #7163
Is there any documentation on these logging options? I'm trying to understand how these work/where helm might log to, and I haven't found anything substantial. I'm happy to read through the source code to try and make sense of it if someone could point me where to look.

[2019-12-06 17:31] bacongobbler commented on #7159
After triaging this with @bridgetkromhout, it looks like the behaviour seems in line with Kubernetes' expected behaviour. It's unclear for the reasoning behind the ServiceAccount being created after the Secret. I think it should be safe to re-arrange the install/uninstall order to create the ServiceAccount first. I think it may be worthwhile to do a bit of digging first to see if there was a reaso

[2019-12-06 17:37] bacongobbler commented on #7158
Hey @GaykarSanket, can you please provide a reproducible test case where we can test this?

A contributing factor may be your version of Kubernetes. It's unclear whether this could be a bug due to the cluster's current state. 1.8 is currently unsupported, so it's possible there may be an interaction with Helm and Kubernetes that we cannot predict here. Helm currently supports n-3 releases back, wh

[2019-12-06 17:44] #7151 closed

[2019-12-06 17:48] bacongobbler commented on #7150
Hi @wantdrink. Neat handle name. ;)

It looks as though this plugin currently supports Helm 2, and hasn't been updated to support Helm 3 at this time. @jdolitsky may have more context on this particular issue.

I'm going to go ahead and close this as a duplicate of https://github.com/chartmuseum/helm-push/issues/37. Please go ahead and follow up there. Thanks!

[2019-12-06 17:48] #7150 closed

[2019-12-06 17:54] bacongobbler commented on #7149
This appears at first glance to be intentional. When you add a hyphen to the block quotes (i.e. `{{-` on line 2), text/template strips all preceding whitespace before that block quote. My suggestion would be to play around with the hyphens from the first few block quotes to prevent all whitespace from being removed:

[code]

See https://golang.org/pkg/text/template/ for more information on how the

[2019-12-06 17:57] bacongobbler commented on #7145
Please change DESIRED_VERSION to use a lowercase "v". `export DESIRED_VERSION=v3.0.0` should work for you. Thanks!

[2019-12-06 17:57] #7145 closed

[2019-12-06 18:01] bacongobbler opened #7177 "`scripts/get` and `scripts/get-helm-3` should validate input from the user"
In certain cases like #7145, a user would provide invalid input, causing the script to error out with a misleading error. We should see if there's a way to validate the input against the github releases page to ensure that the desired version is available, and error out if it does not exist or is invalid. Bonus points if it can also display valid input (i.e. `v3.0.0` instead of `V3.0.0`).

[2019-12-06 18:09] bacongobbler commented on #7135
Were you able to identify the issue? Helm correctly passes the namespace parameter to the kubernetes client such that resources are installed in the specified namespace. I'd look inot how Helm initializes the kube client to see where the issue arises.

If you can provide a sample, that would be useful to identify the issue you are trying to point out. Thanks!

[2019-12-06 18:12] Sh4d1 commented on #7135
@bacongobbler yes, issue identified, PR done to fix it. doesn't have the code right now but it's due to the fact that `--namespace` only works via the cli. Via the SDK, the kube namespace in only get from the kube client, and can't be changed (without changing the kube client). And when there is no kubeconfig, it's very easier juste to pass the `Namespace` flag to the action

[2019-12-06 18:21] bacongobbler commented on #7139
Hi @johnmcollier. Would you be willing to volunteer your time to improve the error reporting? We'd happily accept PRs to improve this experience for others.

[2019-12-06 18:27] bacongobbler commented on #7132
I know @technosophos had a conversation with a community member at Helm Summit EU about this behaviour in a hallway discussion, but I cannot remember if the conversation resolved to determine if this behaviour was intentional or not. I'll defer to the other maintainers on this one.

[2019-12-06 18:31] bacongobbler commented on #7131
Yes, this is true. Resources are validated against Kubernetes' OpenAPI validation. See https://github.com/helm/helm/blob/f388224186dd22f402622541c65cf977626722ee/pkg/kube/client.go#L126

[2019-12-06 18:31] #7131 closed

[2019-12-06 18:32] technosophos commented on #7132
It was intended behavior, with side benefits being that you could create namespaces as well. We debated naming the directory `unmanaged/`, but decided that since the base case was CRDs, and we didn't really want to encourage people to put namespaced things in there, we would just label it `crds/`.

[2019-12-06 18:33] bacongobbler commented on #7129
Hi @phillycheeze, because this issue has been raised before and is still open as #2730, I'm going to go ahead and close this as a duplicate. Let's keep the conversation going on in the same ticket so we're not having the same conversation twice. Thanks!

[2019-12-06 18:33] #7129 closed

[2019-12-06 18:35] bacongobbler commented on #7082
re-labeled and re-titled the issue to reflect the ask.

[2019-12-06 18:35] bacongobbler commented on #7129
See also https://github.com/helm/helm/issues/7082.

[2019-12-06 18:35] #7132 closed

[2019-12-06 18:42] bacongobbler commented on #7120
Perhaps you need to install the `ca-certificates` package in your container?

[2019-12-06 19:03] phcollignon commented on #7169
Hi @bacongobbler
The Installation section in v2.16.1 doc has dissapear : https://v2.helm.sh/docs/using_helm/#installing-helm
In v2.14.0 it is still available : https://v2-14-0.helm.sh/docs/using_helm/#installing-helm

[2019-12-06 19:14] vladfr commented on #3276
@bacongobbler I'd like to take a stab at it. I've been looking for a good first issue to start contributing.

[2019-12-06 19:25] bacongobbler commented on #7169
rebuilding the site seemed to do the trick. https://v2.helm.sh/docs/using_helm/#installing-helm now works. Thanks for raising this.

[2019-12-06 19:25] #7169 closed

[2019-12-06 19:27] bacongobbler commented on #3276
I'd check in with @ankul to make sure nobody's stepping on each other's toes. He messaged me on Slack earlier today expressing interest in implementing the feature as well.

[2019-12-06 20:38] cdrage opened #7180 "Update the labels used in Helm in order to organize the many issues submitted"
Output of `helm version`: N/A
Output of `kubectl version`: N/A
Cloud Provider/Platform (AKS, GKE, Minikube etc.): N/A

There are issues which are seldom used in this project  as well as a few which are either way too weighted (question/support) or no longer used due to no longer using the k8s bot / CI / etc.

### Statistics:

| Label | Number |
| ----  | -----   |
| question/support | 417 open iss

[2019-12-06 21:01] cdrage commented on #7175
IMO my reasoning is that there are over 400+ support issues opened. Most of which could be closed using the bot.

A lot of which are seldom closed after a user has found a solution. The inevitable:

![image](https://user-images.githubusercontent.com/6422176/70356071-916cf800-1841-11ea-89ed-412d1c1a1d0c.png)

[2019-12-06 21:17] fritzb commented on #6715
@oforero Probably something like:
1. value files gets loaded first
2. new directory called environment/ will host all the environment values which will override the default [1]. The name of the environment parameter could be the environment file name. Ie. europe_dev.yaml
3. pass the environment string to all dependencies charts and recurse.

All the above steps need to work even if the chart is st

[2019-12-06 21:20] bacongobbler commented on #7180
Hi @cdrage. Thanks for providing your thoughts on this topic.

I had a few comments/questions about your proposal.

In general, what is the intended goal for these proposed changes? It would be helpful to clarify the intent behind this proposal so we can better understand its intent.

I don't necessarily perceive this to be an issue. Having a large chunk of the issue queue as support questions see

[2019-12-06 22:57] clintmoyer opened #7182 "Helm fetch untar needs conflict management"
Fetching and extracting charts to the local system does not currently warn the user when the chart name conflicts with an existing file or directory. Instead it has ambiguous behavior depending on the conflict.

Two ambiguous conflicts:

1. File exists in `$PWD` with same name

   Download fails with error message
[code]

2. Directory exists in `$PWD` with same name

   Download succeeds but gets

[2019-12-06 23:49] koreansh4632 commented on #7137
Thank you for the reply !
Do you know any workaround or solution?
If not, Should I need to delete and re-install?

[2019-12-07 05:00] karuppiah7890 commented on #7182
I think we should stop the command immediately and show the error that a file or directory with that name already exists and that we cannot proceed further

[2019-12-07 05:13] karuppiah7890 commented on #7182
The same issue occurs even with helm v3

`version.BuildInfo{Version:"v3.0.1", GitCommit:"7c22ef9ce89e0ebeb7125ba2ebf7d421f3e82ffa", GitTreeState:"clean", GoVersion:"go1.13.4"}`

We can mark this as both v2 and v3 issue. I also see this as a bad UX as the error that shows up is not clear as to what's the problem when there's already a file in that name. And the latter - existing directory with same

[2019-12-07 05:56] zwwhdls commented on #7137
Deleting svc with kubectl and reinstalling your chart will help.

[2019-12-07 07:44] hzxuzhonghu commented on #6629
I have seen the same error after i run `helm install ` and it successfully installed, but using `helm list`, there is nothing there.

[2019-12-07 08:02] hzxuzhonghu commented on #6629
My mistake, i did not specify `-n namespace`.

[2019-12-07 12:57] marckhouzam commented on #7163
This is really nice!

To continue the discussion along the lines of hiding the logging flags: every help message still 'dumps' a lot of text for global/logging flags, and users must scroll up to read the actual help for the command in question.

We could go the route `kubectl` has gone, and extract the global flag list into its own command.
So `kubectl <anything> -h` does not show the global flags

[2019-12-07 16:01] zwwhdls commented on #6116
Hi, I have already found out what's wrong and have a simple solution to fix it. I will create a pr for it and will write a test case for this issue.

[2019-12-07 17:07] wantdrink commented on #7150
Thanks @bacongobbler  totally understand now.

[2019-12-07 17:25] karuppiah7890 commented on #7167
We do mention it in the readme, at the end https://github.com/helm/helm#community-discussion-contribution-and-support , I just wanted to say we could mention it as the first thing

[2019-12-07 18:33] rgl commented on #6708
Doing `--set auditLog.level=3.0` brakes the rancher installation somehow. Will push for the templates to be changed instead. Thanks for the pointer!

[2019-12-08 02:33] mattfarina commented on #7182
I agree that we should stop with an error immediately if a file or directory with that name already exists. Does someone want to create a PR for this?

[2019-12-08 02:40] mattfarina commented on #7175
In the Helm project we have done this on a repo by repo basis. For example, the charts repo uses Probots stale issue closer. On Helm I suspect we would use Probot instead of Feta bot.

That being said, we are very  slow to close issues that are support ones. We should do something about those but we have been tentative in adding automation that closes out issues prematurely. If we want to do somet

[2019-12-08 03:43] zwwhdls commented on #7182
@mattfarina Hi, I think we should distinguish the existed file and directory. I would like to take the chance to create a PR for this. 😁

[2019-12-08 04:34] karuppiah7890 commented on #7182
@zwwhdls I see you raised a PR against `master` branch for Helm v3, could you also raise a PR for Helm v2 in `dev-v2` branch? 😄

[2019-12-08 06:30] zwwhdls commented on #7182
@karuppiah7890 of course! I'd like to do this!

[2019-12-08 10:11] amit-k-yadav commented on #3512
You are godsend!!! 🙏

[2019-12-08 14:57] #7137 closed

[2019-12-08 16:22] aaronmell commented on #7160
I'm curious if this is the correct behavior. If a release is in a failed state it cannot be upgraded. This seems to differ from helm v2, where it was possible to upgrade a failed release.

Upgrading a release calls this code
https://github.com/helm/helm/blob/65bdd0c48ec77918060aaccb1223d58977eb94ea/pkg/storage/storage.go#L133

and it only queries for releases in a deployed state. So any releases i

[2019-12-09 02:10] daixiang0 commented on #7131
@bacongobbler is it normal:
i find that if still put crds under `template` and no `crds` dir, crd still can be created/deleted, my helm version:
[code]

[2019-12-09 02:22] bacongobbler commented on #7131
Yes

[2019-12-09 02:27] daixiang0 commented on #7131
So the `crds` dir is recommended not necessary?

[2019-12-09 05:22] GaykarSanket commented on #7158
Thanks @bacongobbler. I've tested this behavior on minikube with kubernetes version 1.14.1 and it's working fine. Release gets rolled back to previous successful release after a failed upgrade.

<img width="647" alt="helm4" src="https://user-images.githubusercontent.com/29541659/70407830-d4121880-1a6b-11ea-8edf-7eef63fd67cd.PNG">

Steps to reproduce this error:

1.  Login to kubernetes cluster wit

[2019-12-09 06:30] damodhar22 commented on #7162
@hickeyma helm install has an option --dependency-update, which can download all the dependencies
provided in Charts.yaml without explicitly running helm dep update command.

I am using the below command to both install and update helm charts
helm upgrade --install myrelease mychart
Here I had to run  helm dep update command as the helm upgrade command do not have --dependency-update option.

[2019-12-09 08:13] hickeyma commented on #7167
@karuppiah7890 The README is quite small and the slack channel information seems obvious enough. Also, I would think its best to give an overview of the project first.  I am happy enough with the flow of the doc also as its is pretty concise and succinct.

What do other people think?

[2019-12-09 12:22] rudolphjacksonm commented on #7091
@sheerun I'm seeing the same issue on my end. We have ~15 secret template files with different certificates/passwords scattered throughout. I'm hesitant to go through and add some logic to set a default if the value is empty to get around this so we can move to v3.

[This is the function](https://github.com/helm/helm/blob/master/pkg/kube/client.go#L124-L136) that is receiving the error, then passe

[2019-12-09 12:57] marckhouzam commented on #7167
I believe the Helm README currently follows standard README formats.

Wanting to help the community find the slack channels is a good goal but we also have many newcomers looking to the README for information about what Helm is about.

Personally, I think that if someone has reached the point of wanting to communicate with the project, they will take the time to read the README far enough to find

[2019-12-09 13:11] damodhar22 commented on #7160
If upgrading a failed state is not a correct behavior, it should allow install the release as we are giving the option --install

[2019-12-09 13:17] karuppiah7890 commented on #7167
I'm all into standards. I just wanted to put it as the first thing so that people don't have to search much. I wouldn't put a lot of burden on a user trying to join the community 😅 anyways, just upvote or downvote on the issue.

Let's close it soon. I'm okay with either options. Was just proposing.

Also, it rings a bell for me that recently we had someone join our Helm developer call (idk how the

[2019-12-09 13:26] dlisin commented on #6361
@here can we backport this fix to v2?

[2019-12-09 14:15] bacongobbler commented on #7158
All right. Given that our support contract is for support 3 versions back from the latest, we urge you to upgrade to a newer version of Kubernetes. No action to take on our end here. Thanks.

[2019-12-09 14:15] #7158 closed

[2019-12-09 14:48] cdrage opened #7190 "More issue templates."
To elaborate on PR: https://github.com/helm/helm/pull/7181 this is the discussion issue with regards to adding multiple issue templates.

I propose that we add the following issue templates:

- Bug report template
- Documentation template
- Enhancement template
- Support template

The benefits include:

- Automatic labeling, so no need for maintainers to get involved.
- Directing the user to appro

[2019-12-09 15:32] faizanbashir opened #7191 "helm3: metadata.name Invalid value"
I was following the article on [helm](https://helm.sh/docs/intro/getting_started/) section 'A FIRST TEMPLATE' and when I ran the command `helm install ./chartone --generate-name`, I got this error:
`Error: create: failed to create: Secret "sh.helm.release.v1.chartOne.v1" is invalid: metadata.name: Invalid value: "sh.helm.release.v1.chartOne.v1": a DNS-1123 subdomain must consist of lower case alph

[2019-12-09 15:38] bacongobbler commented on #7191
What is the content on your Chart.yaml?

[2019-12-09 15:49] faizanbashir commented on #7191
`apiVersion: v2
name: chartone
description: A Helm chart for Kubernetes

# A chart can be either an 'application' or a 'library' chart.
#
# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
#
# Library charts provide useful utilities or functions for the chart developer. They're included as
# a dependency of application charts to inject

[2019-12-09 16:10] dastrobu commented on #7129
autocompletion fooled me. I corrected it (thanks for letting me know).

[2019-12-09 16:20] bacongobbler commented on #7191
Can you identify where in your chart “chartOne” is being used? That capital “O” in your chart name is what’s causing the issue.

[2019-12-09 16:32] hickeyma commented on #7191
@faizanbashir It could be in one of the template files in the chart directory `chartone`. Might be worth doing a search for it?

[2019-12-09 16:40] dastrobu commented on #7159
@bacongobbler I did a quick research. The order Secret vs. ServiceAccount in the current helm source originates in https://github.com/helm/helm/pull/1238 discussed in https://github.com/helm/helm/issues/1228.

https://github.com/helm/helm-classic/blob/master/action/install.go#L18 was mentioned as source for the proposed order. The order was refactored in https://github.com/helm/helm-classic/pull/2

[2019-12-09 16:48] #7033 closed

[2019-12-09 16:58] bacongobbler commented on #2333
Closing due to inactivity over the past 2.5 years. Please open a new ticket against Helm 3 if this persists. Thanks!

[2019-12-09 16:58] #2333 closed

[2019-12-09 16:59] bacongobbler commented on #2399
related: #5276

[2019-12-09 17:00] bacongobbler commented on #2578
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:00] #2578 closed

[2019-12-09 17:02] bacongobbler commented on #2611
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:02] #2611 closed

[2019-12-09 17:05] bacongobbler commented on #2861
Closing as the original issue raised by the OP was likely fixed in Helm 3. Please comment if this issue persists with Helm 3. Thanks!

[2019-12-09 17:05] #2861 closed

[2019-12-09 17:06] bacongobbler commented on #2914
Rolling this ticket into https://github.com/helm/helm/issues/7082 to keep the conversation all in one plare RE: recreating objects on an upgrade. Thanks.

[2019-12-09 17:06] #2914 closed

[2019-12-09 17:08] bacongobbler commented on #3104
Closing as answered.

[2019-12-09 17:08] #3104 closed

[2019-12-09 17:09] bacongobbler commented on #3109
fixed in Helm 3.

[2019-12-09 17:09] #3109 closed

[2019-12-09 17:10] faizanbashir commented on #7191
Couldn't find the capital "O". I deleted and re-created the chart, it's working fine now.

[2019-12-09 17:10] bacongobbler commented on #3163
duplicate of #2759.

[2019-12-09 17:10] #3163 closed

[2019-12-09 17:11] bacongobbler commented on #3164
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:11] #3164 closed

[2019-12-09 17:12] bacongobbler commented on #3230
duplicate of #2606

[2019-12-09 17:12] #3230 closed

[2019-12-09 17:14] bacongobbler commented on #3311
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:14] #3311 closed

[2019-12-09 17:14] bacongobbler commented on #3396
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:14] #3396 closed

[2019-12-09 17:16] bacongobbler commented on #3396
Note: use the `crd-install` hook for Helm 2, or the `crds/` directory in Helm 3 when installing CRDs going forward. These features handle some of the odd edge cases around CRD creation that pre-install hooks cannot accomodate.

[2019-12-09 17:16] bacongobbler commented on #3428
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:16] #3428 closed

[2019-12-09 17:17] bacongobbler commented on #3428
https://helm.sh/docs/topics/charts_hooks/#hook-resources-are-not-managed-with-corresponding-releases

[2019-12-09 17:19] bacongobbler commented on #3523
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:19] #3523 closed

[2019-12-09 17:19] bacongobbler commented on #3541
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:19] #3541 closed

[2019-12-09 17:20] bacongobbler commented on #3546
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:20] #3546 closed

[2019-12-09 17:20] bacongobbler commented on #3549
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:20] #3549 closed

[2019-12-09 17:20] bacongobbler commented on #3551
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:20] #3551 closed

[2019-12-09 17:21] bacongobbler commented on #3602
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:21] #3602 closed

[2019-12-09 17:21] bacongobbler commented on #3617
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:21] #3617 closed

[2019-12-09 17:22] bacongobbler commented on #3620
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:22] #3620 closed

[2019-12-09 17:22] bacongobbler commented on #3644
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:22] #3644 closed

[2019-12-09 17:23] bacongobbler commented on #3654
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:23] #3654 closed

[2019-12-09 17:24] bacongobbler commented on #3668
This was fixed in more recent versions of Helm. Please upgrade to receive the fix. Thanks.

[2019-12-09 17:24] #3668 closed

[2019-12-09 17:24] bacongobbler commented on #3689
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:24] #3689 closed

[2019-12-09 17:25] bacongobbler commented on #3702
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:25] #3702 closed

[2019-12-09 17:25] bacongobbler commented on #3714
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:25] #3714 closed

[2019-12-09 17:25] bacongobbler commented on #3725
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:25] #3725 closed

[2019-12-09 17:26] bacongobbler commented on #3732
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:26] #3732 closed

[2019-12-09 17:26] bacongobbler commented on #3761
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:26] #3761 closed

[2019-12-09 17:26] bacongobbler commented on #3779
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:26] #3779 closed

[2019-12-09 17:27] bacongobbler commented on #3797
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:27] #3797 closed

[2019-12-09 17:28] bacongobbler commented on #3893
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:28] #3893 closed

[2019-12-09 17:28] bacongobbler commented on #3917
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:28] #3917 closed

[2019-12-09 17:29] bacongobbler commented on #3932
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:29] #3932 closed

[2019-12-09 17:29] bacongobbler commented on #3952
Closing as answered/inactive.

[2019-12-09 17:29] #3952 closed

[2019-12-09 17:30] bacongobbler commented on #3972
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:30] #3972 closed

[2019-12-09 17:30] bacongobbler commented on #3977
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:30] #3977 closed

[2019-12-09 17:30] bacongobbler commented on #3979
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:30] #3979 closed

[2019-12-09 17:30] bacongobbler commented on #3980
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:30] #3980 closed

[2019-12-09 17:30] bacongobbler commented on #3983
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:30] #3983 closed

[2019-12-09 17:31] bacongobbler commented on #4002
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:31] #4002 closed

[2019-12-09 17:31] bacongobbler commented on #4017
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:31] #4017 closed

[2019-12-09 17:31] #7191 closed

[2019-12-09 17:33] bacongobbler commented on #4065
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:33] #4065 closed

[2019-12-09 17:33] sawpresto opened #7192 "Helm force with deployment doesn't update code"
I'm using Helm and the Helm Deploy task in Azure Pipelines (have submitted a bug for a task-specific issue already) to deploy to GKE, and I'm running into an issue where it seems like the code isn't updated in helm even though running `helm ls` shows the latest deployment. It seems like something changed in Helm itself and separately with the task which is causing errors.

1. I have a Helm chart t

[2019-12-09 17:33] bacongobbler commented on #4037
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:33] #4037 closed

[2019-12-09 17:33] bacongobbler commented on #4056
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:33] #4056 closed

[2019-12-09 17:37] bacongobbler commented on #7192
duplicate of #7082

[2019-12-09 17:37] #7192 closed

[2019-12-09 17:37] bacongobbler commented on #4074
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:37] #4074 closed

[2019-12-09 17:37] bacongobbler commented on #4080
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:37] #4080 closed

[2019-12-09 17:37] bacongobbler commented on #4090
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:37] #4090 closed

[2019-12-09 17:38] bacongobbler commented on #4095
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:38] #4095 closed

[2019-12-09 17:38] bacongobbler commented on #4128
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:38] #4128 closed

[2019-12-09 17:38] bacongobbler commented on #4147
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:38] #4147 closed

[2019-12-09 17:38] bacongobbler commented on #4148
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:38] #4148 closed

[2019-12-09 17:38] bacongobbler commented on #4154
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:38] #4154 closed

[2019-12-09 17:40] bacongobbler commented on #4166
Closing as answered. Thanks!

[2019-12-09 17:40] #4166 closed

[2019-12-09 17:40] bacongobbler commented on #4167
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:40] #4167 closed

[2019-12-09 17:40] bacongobbler commented on #4177
Closing as answered.

[2019-12-09 17:40] #4177 closed

[2019-12-09 17:41] bacongobbler commented on #4187
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:41] #4187 closed

[2019-12-09 17:41] bacongobbler commented on #4189
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:41] #4189 closed

[2019-12-09 17:41] bacongobbler commented on #4197
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:41] #4197 closed

[2019-12-09 17:42] bacongobbler commented on #4198
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:42] #4198 closed

[2019-12-09 17:42] bacongobbler commented on #4203
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:42] #4203 closed

[2019-12-09 17:42] bacongobbler commented on #4204
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:42] #4204 closed

[2019-12-09 17:43] bacongobbler commented on #4212
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:43] #4212 closed

[2019-12-09 17:43] bacongobbler commented on #4217
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:43] #4217 closed

[2019-12-09 17:43] bacongobbler commented on #4225
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:43] #4225 closed

[2019-12-09 17:43] bacongobbler commented on #4226
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:43] #4226 closed

[2019-12-09 17:43] bacongobbler commented on #4234
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:43] #4234 closed

[2019-12-09 17:43] bacongobbler commented on #4236
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:43] #4236 closed

[2019-12-09 17:44] bacongobbler commented on #4238
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:44] #4238 closed

[2019-12-09 17:44] bacongobbler commented on #4242
`helm serve` has been removed in Helm 3. Closing as inactive/fixed through removal.

[2019-12-09 17:44] #4242 closed

[2019-12-09 17:45] bacongobbler commented on #4264
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:45] #4264 closed

[2019-12-09 17:46] bacongobbler commented on #4269
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:46] #4269 closed

[2019-12-09 17:46] bacongobbler commented on #4270
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:46] #4270 closed

[2019-12-09 17:46] bacongobbler commented on #4280
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:46] #4280 closed

[2019-12-09 17:46] bacongobbler commented on #4282
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:46] #4282 closed

[2019-12-09 17:46] bacongobbler commented on #4288
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:46] #4288 closed

[2019-12-09 17:47] bacongobbler commented on #4300
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:47] #4300 closed

[2019-12-09 17:47] bacongobbler commented on #4303
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:47] #4303 closed

[2019-12-09 17:47] bacongobbler commented on #4308
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:47] #4308 closed

[2019-12-09 17:47] bacongobbler commented on #4311
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:47] #4311 closed

[2019-12-09 17:47] bacongobbler commented on #4316
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:47] #4316 closed

[2019-12-09 17:48] bacongobbler commented on #4319
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:48] #4319 closed

[2019-12-09 17:48] bacongobbler commented on #4328
Closing as implemented via `--atomic`. Thanks

[2019-12-09 17:48] #4328 closed

[2019-12-09 17:48] bacongobbler commented on #4331
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:48] #4331 closed

[2019-12-09 17:51] sawpresto commented on #7192
@bacongobbler Thanks for pointing to the open feature. As a temporary workaround, if I uninstall Helm 3 and install Helm 2, should that work to avoid this specific issue?

[2019-12-09 17:54] bacongobbler commented on #7192
Unfortunately, the storage backends are incompatible with each other. If you're starting from scratch, it's possible. If you want to take a crack at implementing the `--recreate` flag for Helm 3, that would be a good contribution to get started since that'd directly impact your work.

[2019-12-09 17:55] #4359 closed

[2019-12-09 17:55] #4361 closed

[2019-12-09 17:55] #4368 closed

[2019-12-09 17:55] #4375 closed

[2019-12-09 17:55] #4376 closed

[2019-12-09 17:55] #4377 closed

[2019-12-09 17:56] #4382 closed

[2019-12-09 17:56] bacongobbler commented on #4382
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:56] bacongobbler commented on #4386
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:56] #4386 closed

[2019-12-09 17:56] bacongobbler commented on #4387
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:56] #4387 closed

[2019-12-09 17:56] #4389 closed

[2019-12-09 17:57] bacongobbler commented on #4389
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:58] bacongobbler commented on #4391
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:58] #4391 closed

[2019-12-09 17:58] bacongobbler commented on #4409
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:58] #4409 closed

[2019-12-09 17:58] bacongobbler commented on #4430
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:58] #4430 closed

[2019-12-09 17:59] #4435 closed

[2019-12-09 17:59] #4439 closed

[2019-12-09 17:59] bacongobbler commented on #4442
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 17:59] #4442 closed

[2019-12-09 18:27] #4488 closed

[2019-12-09 18:28] #4479 closed

[2019-12-09 18:28] bacongobbler commented on #4467
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 18:28] #4467 closed

[2019-12-09 18:28] #4463 closed

[2019-12-09 18:28] bacongobbler commented on #4450
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 18:28] #4450 closed

[2019-12-09 19:30] bacongobbler commented on #7109
Closing as answered

[2019-12-09 19:30] #7109 closed

[2019-12-09 19:32] bacongobbler commented on #4494
Use `nindent` if you rely on multi-line input. Closing!

[2019-12-09 19:32] #4494 closed

[2019-12-09 19:32] #4495 closed

[2019-12-09 19:33] bacongobbler commented on #4498
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 19:33] #4498 closed

[2019-12-09 19:33] bacongobbler commented on #4504
Closing as answered

[2019-12-09 19:33] #4504 closed

[2019-12-09 19:34] bacongobbler commented on #3251
Answered in https://github.com/helm/helm/issues/4504#issuecomment-440416138. Closing.

[2019-12-09 19:34] #3251 closed

[2019-12-09 19:34] #4508 closed

[2019-12-09 19:35] bacongobbler commented on #4511
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 19:35] #4511 closed

[2019-12-09 19:35] bacongobbler commented on #4520
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 19:35] #4520 closed

[2019-12-09 19:36] vrubiolo commented on #4409
Hi there, I will check against Helm3 and will report if the issue still exists there. Note that I expect to stay on Helm2 for some time though before we migrate.

[2019-12-09 19:36] bacongobbler commented on #4539
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 19:36] #4539 closed

[2019-12-09 19:36] bacongobbler commented on #4541
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 19:36] #4541 closed

[2019-12-09 19:37] bacongobbler commented on #4544
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 19:37] #4544 closed

[2019-12-09 19:37] bacongobbler commented on #4552
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 19:37] #4552 closed

[2019-12-09 19:37] bacongobbler commented on #4553
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 19:37] #4553 closed

[2019-12-09 19:37] bacongobbler commented on #4554
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 19:37] #4554 closed

[2019-12-09 19:37] bacongobbler commented on #4555
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 19:37] #4555 closed

[2019-12-09 19:43] bacongobbler commented on #4603
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 19:43] #4603 closed

[2019-12-09 19:43] bacongobbler commented on #4601
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 19:43] #4601 closed

[2019-12-09 19:44] bacongobbler commented on #4591
Moving forward, please use the `crds` directory instead of the `crd-install` hook, which was deprecated in Helm 3. Closing!

[2019-12-09 19:44] #4591 closed

[2019-12-09 19:44] bacongobbler commented on #4587
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 19:44] #4587 closed

[2019-12-09 19:44] bacongobbler commented on #4580
Closing due to inactivity. Please open a new ticket against Helm 3 if this issue persists. Thanks!

[2019-12-09 19:44] #4580 closed

[2019-12-09 19:45] #4575 closed

[2019-12-09 19:48] bacongobbler commented on #4060
Yes. Chart.yaml is overwritten through CLI arguments provided via `helm create`. For example, if a user invokes `helm create --starter mystarter foo`, they expect the chart to be named `foo`.

Hope this helps.

[2019-12-09 19:48] #4060 closed

[2019-12-09 19:49] bacongobbler commented on #4246
duplicate of #4701.

[2019-12-09 19:49] #4246 closed

[2019-12-09 19:50] #4610 closed

[2019-12-09 19:50] bacongobbler commented on #4610
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 19:51] bacongobbler commented on #4615
I'm pretty sure this has been addressed in later revisions of Helm.

I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 19:51] #4615 closed

[2019-12-09 19:51] bacongobbler commented on #4632
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 19:51] #4632 closed

[2019-12-09 19:51] bacongobbler commented on #4634
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 19:51] #4634 closed

[2019-12-09 19:52] bacongobbler commented on #4645
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 19:52] #4645 closed

[2019-12-09 19:52] bacongobbler commented on #4658
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 19:52] #4658 closed

[2019-12-09 19:52] bacongobbler commented on #4665
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 19:52] #4665 closed

[2019-12-09 19:53] bacongobbler commented on #4688
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 19:53] #4688 closed

[2019-12-09 19:53] bacongobbler commented on #4695
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 19:53] #4695 closed

[2019-12-09 19:53] bacongobbler commented on #4699
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 19:53] #4699 closed

[2019-12-09 19:54] bacongobbler commented on #4727
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 19:54] #4727 closed

[2019-12-09 19:54] bacongobbler commented on #4732
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 19:54] #4732 closed

[2019-12-09 19:54] bacongobbler commented on #4735
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 19:54] #4735 closed

[2019-12-09 19:54] bacongobbler commented on #4739
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 19:54] #4739 closed

[2019-12-09 19:55] cdrage commented on #7012
Duplicate of https://github.com/helm/helm/issues/6951 @bacongobbler

[2019-12-09 19:55] bacongobbler commented on #4767
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 19:55] #4767 closed

[2019-12-09 19:55] bacongobbler commented on #4770
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 19:55] #4770 closed

[2019-12-09 19:55] bacongobbler commented on #4811
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 19:55] #4811 closed

[2019-12-09 19:57] bacongobbler commented on #4833
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 19:57] #4833 closed

[2019-12-09 19:57] bacongobbler commented on #4835
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 19:57] #4835 closed

[2019-12-09 19:57] bacongobbler commented on #4840
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 19:57] #4840 closed

[2019-12-09 19:58] bacongobbler commented on #4849
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 19:58] #4849 closed

[2019-12-09 19:58] cdrage commented on #6951
Ping @joelanford

Any idea what set of code introduced this bug? I'm digging into helm code now (and slowly learning) so I could push a PR, but as of right now, I'm unsure where to start.

Thought I may ping you to see if you're already working on it or not! :+1:

[2019-12-09 19:59] bacongobbler commented on #7012
different code path, same result

[2019-12-09 20:01] #4874 closed

[2019-12-09 20:01] bacongobbler commented on #4875
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:01] #4875 closed

[2019-12-09 20:01] bacongobbler commented on #4879
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:01] #4879 closed

[2019-12-09 20:01] #4886 closed

[2019-12-09 20:02] bacongobbler commented on #4895
Fixed in Helm 3 by removing Tiller.

[2019-12-09 20:02] #4895 closed

[2019-12-09 20:02] #4908 closed

[2019-12-09 20:03] bacongobbler commented on #4923
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:03] #4923 closed

[2019-12-09 20:03] bacongobbler commented on #4931
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:03] #4931 closed

[2019-12-09 20:03] bacongobbler commented on #4973
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:03] #4973 closed

[2019-12-09 20:04] bacongobbler commented on #4994
duplicate of #1892.

[2019-12-09 20:04] #4994 closed

[2019-12-09 20:04] bacongobbler commented on #5003
fixed in Helm 3. Closing.

[2019-12-09 20:04] #5003 closed

[2019-12-09 20:05] bacongobbler commented on #5005
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:05] #5005 closed

[2019-12-09 20:05] bacongobbler commented on #5007
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:05] #5007 closed

[2019-12-09 20:05] bacongobbler commented on #5008
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:05] #5008 closed

[2019-12-09 20:06] bacongobbler commented on #5012
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:06] #5012 closed

[2019-12-09 20:06] bacongobbler commented on #5045
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:06] #5045 closed

[2019-12-09 20:06] bacongobbler commented on #5047
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:06] #5047 closed

[2019-12-09 20:07] bacongobbler commented on #5052
We are no longer accepting new features for Helm 2. With the removal of Tiller in Helm 3, this is no longer needed. Closing!

[2019-12-09 20:07] #5052 closed

[2019-12-09 20:07] bacongobbler commented on #5053
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:07] #5053 closed

[2019-12-09 20:07] bacongobbler commented on #5068
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:07] #5068 closed

[2019-12-09 20:07] bacongobbler commented on #5078
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:07] #5078 closed

[2019-12-09 20:08] #5080 closed

[2019-12-09 20:08] bacongobbler commented on #5088
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:08] #5088 closed

[2019-12-09 20:08] bacongobbler commented on #5098
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:08] #5098 closed

[2019-12-09 20:09] bacongobbler commented on #5104
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:09] #5104 closed

[2019-12-09 20:09] bacongobbler commented on #5107
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:09] #5107 closed

[2019-12-09 20:09] bacongobbler commented on #5129
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:09] #5129 closed

[2019-12-09 20:09] bacongobbler commented on #5135
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:09] bacongobbler commented on #5173
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:09] #5173 closed

[2019-12-09 20:10] bacongobbler commented on #5200
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:10] #5200 closed

[2019-12-09 20:10] bacongobbler commented on #5209
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:10] #5209 closed

[2019-12-09 20:12] #5257 closed

[2019-12-09 20:12] bacongobbler commented on #5261
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:12] #5261 closed

[2019-12-09 20:12] bacongobbler commented on #5262
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:12] #5262 closed

[2019-12-09 20:12] bacongobbler commented on #5270
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:12] #5270 closed

[2019-12-09 20:13] bacongobbler commented on #5312
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:13] #5312 closed

[2019-12-09 20:13] bacongobbler commented on #5327
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:13] #5327 closed

[2019-12-09 20:14] bacongobbler commented on #5351
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:14] #5351 closed

[2019-12-09 20:14] bacongobbler commented on #5367
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:14] #5367 closed

[2019-12-09 20:14] bacongobbler commented on #5389
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:14] #5389 closed

[2019-12-09 20:14] bacongobbler commented on #5435
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:14] #5435 closed

[2019-12-09 20:15] bacongobbler commented on #5449
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:15] #5449 closed

[2019-12-09 20:15] bacongobbler commented on #5450
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:15] #5450 closed

[2019-12-09 20:16] bacongobbler commented on #5463
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:16] #5463 closed

[2019-12-09 20:17] bacongobbler commented on #5493
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:17] #5493 closed

[2019-12-09 20:17] bacongobbler commented on #5495
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:17] #5495 closed

[2019-12-09 20:17] #5497 closed

[2019-12-09 20:18] #5510 closed

[2019-12-09 20:18] bacongobbler commented on #5515
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:18] #5515 closed

[2019-12-09 20:18] bacongobbler commented on #5521
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:18] #5521 closed

[2019-12-09 20:18] bacongobbler commented on #5522
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:18] #5522 closed

[2019-12-09 20:19] bacongobbler commented on #5522
Most users generate a value at runtime and pass that to the templates/values using `--set`.

Hope this helps.

[2019-12-09 20:20] bacongobbler commented on #5525
https://kubernetes.io/docs/tasks/debug-application-cluster/audit/

[2019-12-09 20:20] #5525 closed

[2019-12-09 20:20] bacongobbler commented on #5533
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:20] #5533 closed

[2019-12-09 20:20] bacongobbler commented on #5536
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:20] #5536 closed

[2019-12-09 20:20] bacongobbler commented on #5541
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:20] #5541 closed

[2019-12-09 20:21] #5575 closed

[2019-12-09 20:22] bacongobbler commented on #5577
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:22] #5577 closed

[2019-12-09 20:22] bacongobbler commented on #5578
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:22] #5578 closed

[2019-12-09 20:22] bacongobbler commented on #5580
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:22] #5580 closed

[2019-12-09 20:22] bacongobbler commented on #5586
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:22] #5586 closed

[2019-12-09 20:22] bacongobbler commented on #5589
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:22] #5589 closed

[2019-12-09 20:23] bacongobbler commented on #5617
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:23] #5617 closed

[2019-12-09 20:24] bacongobbler commented on #5618
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:24] #5618 closed

[2019-12-09 20:24] bacongobbler commented on #5623
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:24] #5623 closed

[2019-12-09 20:24] bacongobbler commented on #5626
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:24] #5626 closed

[2019-12-09 20:24] #5633 closed

[2019-12-09 20:24] bacongobbler commented on #5638
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:24] #5638 closed

[2019-12-09 20:25] bacongobbler commented on #5667
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:25] #5667 closed

[2019-12-09 20:26] bacongobbler commented on #5687
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:26] #5687 closed

[2019-12-09 20:27] bacongobbler commented on #5688
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:27] #5688 closed

[2019-12-09 20:27] bacongobbler commented on #5689
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:27] #5689 closed

[2019-12-09 20:27] bacongobbler commented on #5697
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:27] #5697 closed

[2019-12-09 20:27] bacongobbler commented on #5710
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:27] #5710 closed

[2019-12-09 20:27] bacongobbler commented on #5711
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:28] bacongobbler commented on #5720
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:28] #5720 closed

[2019-12-09 20:35] bacongobbler commented on #5805
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:35] #5805 closed

[2019-12-09 20:36] bacongobbler commented on #5799
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:36] #5799 closed

[2019-12-09 20:36] bacongobbler commented on #5794
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:38] bacongobbler commented on #5793
Looking at Helm 3:

https://github.com/helm/helm/blob/357d265de0e72f02c493701cdbee9ecc6eb0a016/pkg/action/upgrade.go#L260-L272

So the post-upgrade hooks are invoked after all the pods are ready if `--wait` is invoked, otherwise it is invoked as soon as the deployment object is created/updated.

Hope this helps.

[2019-12-09 20:38] #5793 closed

[2019-12-09 20:38] bacongobbler commented on #5774
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:38] #5774 closed

[2019-12-09 20:39] bacongobbler commented on #5744
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:39] #5744 closed

[2019-12-09 20:39] bacongobbler commented on #5811
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:39] #5811 closed

[2019-12-09 20:39] bacongobbler commented on #5833
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:39] #5833 closed

[2019-12-09 20:40] bacongobbler commented on #5835
Not planning to implement this for non-production software. Closing.

[2019-12-09 20:40] #5835 closed

[2019-12-09 20:41] bacongobbler commented on #5858
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:41] #5858 closed

[2019-12-09 20:42] bacongobbler commented on #5866
closing as per discussion in #5872.

[2019-12-09 20:42] #5866 closed

[2019-12-09 20:43] bacongobbler commented on #5877
Closing as answered/inactive. Please re-open if there are follow-up questions here. Thanks!

[2019-12-09 20:43] #5877 closed

[2019-12-09 20:45] bacongobbler commented on #5921
Working as intended. The user knows best in this situation. If they want to override the packaged version, that's up to them. Other third-party packages like chartmuseum and harbor can take alternative opinions on this approach, as this is just an opinion of `helm repo index`.

Closing as intended.

[2019-12-09 20:45] #5921 closed

[2019-12-09 20:45] bacongobbler commented on #5926
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:45] #5926 closed

[2019-12-09 20:46] bacongobbler commented on #5927
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:46] #5927 closed

[2019-12-09 20:47] bacongobbler commented on #5870
Once a chart has been packaged, it cannot be modified using Helm. Other tooling may provide this functionality as a plugin, but it's not currently a part of Helm.

Hope this helps!

[2019-12-09 20:47] #5870 closed

[2019-12-09 20:48] bacongobbler commented on #5883
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:48] #5883 closed

[2019-12-09 20:49] bacongobbler commented on #5951
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. I'm fairly certain this workflow has been fixed in Helm 3 with the new three-way strategic merge patch logic. Thanks!

[2019-12-09 20:49] #5951 closed

[2019-12-09 20:51] bacongobbler commented on #6002
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:51] #6002 closed

[2019-12-09 20:51] bacongobbler commented on #6003
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:51] #6003 closed

[2019-12-09 20:52] bacongobbler commented on #6017
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:52] #6017 closed

[2019-12-09 20:52] bacongobbler commented on #6022
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:52] #6022 closed

[2019-12-09 20:52] bacongobbler commented on #6024
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:52] #6024 closed

[2019-12-09 20:53] bacongobbler commented on #6027
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Please make sure to test with Helm 3 and see if this has been fixed in the latest release. Thanks!

[2019-12-09 20:53] #6027 closed

[2019-12-09 20:55] bacongobbler commented on #6036
Seems to be a result of https://github.com/helm/helm/issues/7159. Closing in favour of that ticket. Thanks.

[2019-12-09 20:55] #6036 closed

[2019-12-09 20:55] bacongobbler commented on #6061
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:55] #6061 closed

[2019-12-09 20:55] bacongobbler commented on #6061
Note: with the removal of Tiller in Helm 3, this codepath has likely been removed/fixed.

[2019-12-09 20:56] bacongobbler commented on #6074
We are no longer accepting new features for Helm 2, and with helm 3 removing Tiller, this is no longer needed. Thanks!

[2019-12-09 20:56] #6074 closed

[2019-12-09 20:56] bacongobbler commented on #6075
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:56] #6075 closed

[2019-12-09 20:57] bacongobbler commented on #6125
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:57] #6125 closed

[2019-12-09 20:57] bacongobbler commented on #6126
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:57] #6126 closed

[2019-12-09 20:57] bacongobbler commented on #6128
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 20:57] #6128 closed

[2019-12-09 21:02] bacongobbler commented on #6149
In Helm 3, the pre-delete hook is invoked and waited until we receive a response before deleting those resources. I'm 99% sure this is identical to Helm 2's expected behaviour.

https://github.com/helm/helm/blob/357d265de0e72f02c493701cdbee9ecc6eb0a016/pkg/action/uninstall.go#L98-L119

If you can identify the issue in Helm 2, we'd be happy to take a closer look.

If you can provide a test case tha

[2019-12-09 21:03] bacongobbler commented on #6161
Were you able to identify and resolve the issue?

[2019-12-09 21:03] #6190 closed

[2019-12-09 21:04] bacongobbler commented on #6190
Working as intended. Pre-releases are masked by `1.13.0`. Adding the prefix modifier allows pre-releases to be evaluated.

[2019-12-09 21:04] bacongobbler commented on #6206
I'm going to close this ticket due to inactivity, but please re-open if this still needs to be addressed. Thanks!

[2019-12-09 21:04] #6206 closed

[2019-12-09 21:05] bacongobbler commented on #6216
Were you abnle to resolve this issue?

[2019-12-09 21:05] bacongobbler commented on #6245
Closing as answered

[2019-12-09 21:05] #6245 closed

[2019-12-09 21:07] bacongobbler commented on #6252
Closing as the original question raised by the OP has been answered. @sudermanjr feel free to open a new ticket if you're still experiencing issues. Thanks!

[2019-12-09 21:07] #6252 closed

[2019-12-09 21:07] #6261 closed

[2019-12-09 21:13] bacongobbler commented on #6264
What you're asking for has been proposed in https://github.com/helm/helm/issues/3276. I'd suggest looking at that ticket for current ideas, and we'd love to see contributions/ideas from the community on this topic.

In your particular example, you can use `.Vaules.firstFilename` in place of `$files.Get` to access the content of the file passed with `--set-file firstFilename=abc.xml`. In other word

[2019-12-09 21:13] #6264 closed

[2019-12-09 21:14] bacongobbler commented on #6273
Were you able to eventually resolve this issue @ternes3? Trying to determine if this issue can be closed at this time. Thanks.

[2019-12-09 21:17] bacongobbler commented on #6276
Poor output formatting resulting in malformed YAML. In other words, the rendered template is invalid YAML, and therefore cannot be installed.

Can you demonstrate your use case and the issue you're running into? Have you tried with helm 3?

[2019-12-09 21:35] bacongobbler commented on #7175
I spent some time in the issue queue today, triaging [anything labeled as question/support](https://github.com/helm/helm/issues?q=is%3Aissue+is%3Aopen+label%3Aquestion%2Fsupport).

The end result: ~260 issues were closed. Many questions were already answered and the author forgot to close the issue, or the core maintainers had responded and were waiting for a response from the author.

After going

[2019-12-09 22:16] jamct commented on #6214
Do you need any help on this problem? I can reproduce it in my setup and can do some research and invest some time.
@jdolitsky Are you working on this issue?

[2019-12-09 23:22] alex88 commented on #5595
Same here, I don't see how using `delete` or `--force` can be advised especially when there are persistent volumes in place, I've already lost all grafana dashboards because of this once, not doing it again :)

[2019-12-09 23:46] cmeyertons commented on #5135
@bacongobbler i still think this still should either to be addressed or a more valid reason for not implementing other than y’all haven’t got around to it :/

[2019-12-09 23:56] iamaverrick commented on #5100
and 2 moths and 1/2 your explanation is still being helpful thank you very much for taking the time out of your busy schedule to be detailed and helpful. @m-abramovich  unlike @bacongobbler

[2019-12-10 00:25] marckhouzam commented on #5100
The person who closed this issue was the person who opened it. Clearly they felt the issue was resolved.

Furthermore, the original description asked for the proper link to the  role-based access control documentation, which was provided without closing the issue.

Finally, @bacongobbler took the time to provide the requested information on December 25th, which for many is an important holiday.  I

[2019-12-10 01:38] bacongobbler commented on #5595
@alex88 can you provide the output from `helm history`? I need to know how others are hitting this case so we can try to nail down the root cause and find a solution.

[2019-12-10 01:40] alex88 commented on #5595
@bacongobbler sure I would really love to see this fixed as I'm really cautious of using helm because of having lost persistent volumes a couple times (probably my fault tho)

[code]

basically I've tried multiple times to run the upgrade to change some env variables and since while there was the deploy error the env variables changed anyway I kept doing so ignoring the error

[2019-12-10 01:53] #7108 closed

[2019-12-10 01:55] bacongobbler commented on #5100
Wow. I don't even remember answering to this thread... Been a while.

@marckhouzam's assumption here is correct: the issue was opened on Christmas Day. I happened to be with my family that day, but I saw this quick question from the OP:

So I figured I'd shoot a quick answer with the correct link and get back celebrating Christmas. The next day, the OP closed the issue, so I assumed no further fol

[2019-12-10 01:59] bacongobbler commented on #5595
how did you get into a state where every release has failed?

[2019-12-10 02:10] alex88 commented on #5595
changing env variables (had to do multiple changes) and running an upgrade every time, it was changing the env variables but I had no idea on how to fix the persistent volume error

[2019-12-10 05:47] jc5201 commented on #6161
As I described in previous message, I think this issue occurs because of '\n' appears in intermediate string.
But I didn't tried debugging because I don't have go development environment. sorry.

[2019-12-10 07:17] alanmoment commented on #2916
I got same error.

My helm repo is in S3 bucket. When I doing `helm s3 reindex <repo_name>` and I got error below message
[code]

[2019-12-10 08:55] creinig commented on #5184
Not trying to rain on your parade, but I'm still seeing this with helm v3.0.1

version.BuildInfo{Version:"v3.0.1", GitCommit:"7c22ef9ce89e0ebeb7125ba2ebf7d421f3e82ffa", GitTreeState:"clean", GoVersion:"go1.13.4"}

When trying to install stable/ignite I have to unset a value, but helm appears to just set the value to null/nil, causing k8s to balk in the validation step.

To reproduce, save this as

[2019-12-10 09:21] prafull01 commented on #7120
Yes, I have resolved that using installing ca-certificates in my package. This can be closed.

[2019-12-10 09:21] #7120 closed

[2019-12-10 10:17] arolls commented on #5135
Agreed with @cmeyertons this is a problem Helm wide and is a problem for anyone trying to link together charts which have their own dependencies.

[2019-12-10 10:59] turkenh commented on #7083
This is also a valid scenario for us, we want to add some labels to CRDs by templating or conditionally install/skip some of the CRDs based on values provided.

I personally think, templating is the most powerful feature of helm and I don't think introducing limitations for this is a good idea since everyone has different use cases.

[2019-12-10 11:04] gadelkareem commented on #6850
any updates on this?

[2019-12-10 11:08] hickeyma commented on #5100
@iamaverrick To provide a link to documentation is not uncommon when responding to an issue. This is not being unhelpful but a belief in our documentation which we as a community invest a lot of time on. if the documentation is inadequate then the person usually responds and this then give the responder the opportunity to provide more context. It also makes us aware that the doc needs improvement.

[2019-12-10 11:20] m-abramovich commented on #5100
Guys, please take it easy.
We're all software developers, share same values in life. We have much more in common that you even can think about. Let's respect each other please.

[2019-12-10 12:17] rudolphjacksonm commented on #6986
@jan25 am I right in assuming the errors I'm seeing on #7091 is coming from the same lib dependency? Is that pinned to a specific version on Helm v2 and thus why we don't see it on that version?

[2019-12-10 13:01] gadelkareem opened #7193 "Proposal: Add annotations to all chart manifests"
I need to be able to add metadata labels and annotations to all the k8s objects that will be installed with helm from the chart.
for ex:
[code]

Is that possible without modifying the chart?

[2019-12-10 13:03] gadelkareem commented on #7193
Might be related to https://github.com/helm/helm/issues/1950

[2019-12-10 13:09] iamaverrick commented on #5100
@marckhouzam  inappropriate ? In no shape or form have I disrespected anybody with my comment. I simply stated the facts from my perspective. This comment was directly mentioned @bacongobbler not everybody else who put in there 2 cents. I appreciate @bacongobbler for pasting the link on a holiday.      The original question states he was having issues and needed guidance not a link. Guys if you ca

[2019-12-10 14:33] hanks opened #7194 "[Question] How to render dynamic key in template with --set option"
Here is my secret template yaml:

[code]

and values.yaml

[code]

when I run command:

[code]

The output is:

[code]

But I want it to be:

[code]

It looks like need to render `{{ .Values.HELM_SECRET_password }}` twice to get the final value. Is it possible to do things like this? Thank you for you time.

Output of `helm version`:
Client: &version.Version{SemVer:"v2.14.3", GitCommit:"0e7f3b6637

[2019-12-10 15:07] TheDukeDK commented on #6545
Well, I am running into this also. But I need the GKE cluster to be in alpha mode to test some work. Anyone know how to work around this?

[2019-12-10 15:22] karuppiah7890 commented on #6921
@bacongobbler I don't think wrapping in quotes is possible as mentioned here - https://github.com/helm/helm/issues/6921#issuecomment-553063280 . I mean, yaml lib takes code and converts it into yaml string, and if it knows that the value looks like a string, it will not put quotes around it, but if it looks like `"72225e2"`, then it will put quotes around it, so that later it is read as `"72225e2"

[2019-12-10 15:35] joelanford commented on #6951
I could be wrong, but I don't _think_ anything in #6142 caused this change. The `-f`, `--set`, `--set-string`, and `--set-file` flags were already present on the `package` subcommand before #6142. That PR simply changed the SDK API such that the final merged values are passed in with the `Run` function rather than handled in an unexported field.

[2019-12-10 16:05] bacongobbler commented on #6850
#7082 should handle this case if someone wants to start working on that feature.

[2019-12-10 16:07] harry-uglow opened #7195 "Import helm 3 in go with dep"
I'm trying to use this library to install helm charts from a Go application. Our project's dependencies are managed by dep, but since the move from k8s.io to helm.sh, adding any package in this repository to the project fails. For example, when running `dep ensure -add helm.sh/helm/v3/pkg/action` I receive the error:
[code]
Importing a package through `k8s.io/helm` also no longer works as code in

[2019-12-10 16:26] hickeyma commented on #6715
I am in agreement with @karuppiah7890 with regard to " environment specific configuration" in Helm core. I am still to see the overall benefit from general Helm users view point. Helmfile (when it updates to support Helm 3) provides the capability to satisfy different environment configuration while keeping the Helm configuration  interface simple and clear.

@bacongobbler @mattfarina @thomastaylo

[2019-12-10 16:49] thomastaylor312 commented on #5952
@towolf Are you looking more for a "these are the resources contained in the chart" or are you looking for actual resource statuses? I am more inclined to the former because it is pretty easy to print the object kind and type without lots of overhead

[2019-12-10 16:50] oforero commented on #6715
@hickeyma depending on what you mean by general Helm users. Anyone who needs this flexibility without the extra complexity from using one more tool would benefit. I understand this seems very specific for in-house projects, but I suspect internal projects probably outnumber publicly available uses of Helm. Helm already supports Umbrella charts, this just enables a very simple use case for umbrella

[2019-12-10 16:56] thomastaylor312 commented on #7091
So from what people have commented here, it is looking like something with OpenAPI validation steps. I'll need to check if we are doing something incorrectly with the libraries or if this is an upstream bug

[2019-12-10 16:57] oforero commented on #6715
@fritzb what I am proposing is not to pass another file that gets parsed and then the parsed values are passed to Helm. But to pass a file name to Helm, and Helm looking for that file inside the Chart and if it exists reading the file and overriding the values.yaml
The PR wrote for it works for umbrella charts, it passes the file name to each of the requirements if the sub chart does not contain a

[2019-12-10 16:58] thomastaylor312 commented on #5276
As an FYI, I have a working post-render step branch that could do this. I am working on writing a full proposal and creating a nice kustomize example

[2019-12-10 17:07] towolf commented on #5952
@thomastaylor312 the former would be ok as it would display the most important infomation, the latter would be better, since it would be even more informative.

[2019-12-10 17:12] fritzb commented on #6715
@oforero In my explanation it was the environment string/argument which will be passed recursively to the sub/dependency chart.

@hickeyma I agree with @oforero. There is no way to drive which value files to use in Umbrella's subchart. IMO this is a basic building block for Umbrella deployment in the real world.

[2019-12-10 17:20] tomislater commented on #2397
I have encountered the same issue in Helm 3:

[code]

I have run `helm upgrade --install`, so the namespace is nearly empty...

[2019-12-10 17:37] technosophos commented on #2397
@tomislater We need a little more information to debug that. Is the secret managed as a hook, or as a regular resource? If you can give us content of the secret's `metadata`, that might be helpful in figuring out why it is not upgrading. But if it is a hook, its behavior is subject to all the caveats described in the manual. Attempting to install over an existing secret that was created by a hook

[2019-12-10 18:11] technosophos commented on #6361
If anyone is available to test the Helm 2 fix, it's here: #7196

[2019-12-10 18:47] giggio opened #7197 "Helm search should have the option to exit with 1 if no results found"
`helm version`: `version.BuildInfo{Version:"v3.0.1", GitCommit:"7c22ef9ce89e0ebeb7125ba2ebf7d421f3e82ffa", GitTreeState:"clean", GoVersion:"go1.13.4"}`

`helm search repo` and `helm search hub` should have an option to exit with `1` when nothing is found. This is useful in automation scripts. Something like `--fail` or `--fail-if-no-results-found`.

[2019-12-10 20:36] jabielecki opened #7198 "CI failing for master branch"
Last few PRs off master all fail with:

[code]

[2019-12-10 20:37] nick4fake commented on #3208
Why is it still closed? 2.16.1 is still affected

[2019-12-10 20:41] tirelibirefe commented on #4251
the problem is still exists.
Windows10 1909
version.BuildInfo{Version:"v3.0.1", GitCommit:"7c22ef9ce89e0ebeb7125ba2ebf7d421f3e82ffa", GitTreeState:"clean", GoVersion:"go1.13.4"}

[2019-12-10 20:48] thuandt commented on #3797
This maybe related to https://github.com/helm/helm/issues/3208

[2019-12-10 20:49] heydonovan commented on #6290
Can we add this to the documentation? It caused all our builds to fail :/

https://helm.sh/docs/topics/v2_v3_migration/

[2019-12-10 20:50] bacongobbler commented on #6290
Which flag in particular?

[2019-12-10 20:51] bacongobbler commented on #7198
will be fixed with #7199

[2019-12-10 20:53] cdrage commented on #6951
Yeah, that's what I was getting confused at on the PR... I'll try to figure out what happened, but honestly, with Christmas coming up + my PTO, I wouldn't be able to work on it.

[2019-12-10 20:53] heydonovan commented on #6290
@bacongobbler That `--execute` was removed. We receive `Error: unknown flag: --execute`.

[2019-12-10 20:54] bacongobbler commented on #6290
`--execute` has now been implemented as `--show-only`. https://github.com/helm/helm/issues/6290#issuecomment-557292287

We'd certainly appreciate a PR to add that to the documentation.

[2019-12-10 21:04] marckhouzam commented on #7198
Closed by #7199

[2019-12-10 21:04] #7198 closed

[2019-12-10 21:07] heydonovan commented on #6290
@bacongobbler Thanks! I'll work on that. Missing `Error: unknown flag: --name` too. :v:

[2019-12-10 21:15] bacongobbler commented on #6951
In Helm 2, `helm package` didn't handle CLI flags like `-f`, `--set`, `--set-string` and `--set-file`. The values were loaded into memory twice (once as raw content, then as marshalled data), then saved as a tar/gzip archive using the raw file content:

https://github.com/helm/helm/blob/0ca95341c19fcaf9cecdf50caef1693568835a84/pkg/chartutil/save.go#L49-L55

In Helm 3, `SaveDir` reads `.Values` and

[2019-12-10 21:21] bacongobbler commented on #6951
found the culprit... #3471. This PR sneaked its way into the Helm 3 branch after we forked from the Helm 2 development branch, and it was reverted as per https://github.com/helm/helm/pull/3471#issuecomment-381779783. I think it's safe to remove these flags as this was never intended to make its way into Helm 3.

[2019-12-10 21:35] jurgenweber commented on #2916
well you acn fix that in s3, change the metadata, etc.

[2019-12-10 21:52] bacongobbler commented on #6290
https://github.com/helm/helm/issues/6290#issuecomment-558184227

[2019-12-10 22:00] alex88 commented on #3208
@nick4fake I think it's a duplicate of https://github.com/helm/helm/issues/5595

[2019-12-10 22:41] heydonovan opened #7203 "helm template generates duplicate manifests"
[code]

We are migrating from helm v2 to helm v3, and we originally had this command:

[code]

However, `-x` has been replaced with `--show-only`, but it doubles up on the amount of output (triple for the configmap.yaml) one:

[code]

The chart is the exact same. Anyone run into this before? Any suggestions?

[2019-12-11 00:29] a1exus commented on #5100
I apologize for not proving my answer with greater details as I sort of hinted the answer in my question and then @bacongobbler confirmed my answer, followed by great comment by @m-abramovich

I really do appreciate everyone's help and/or input and I will try to do better job next time, I promise!

[2019-12-11 01:08] davi5e commented on #6858
As a side question, I also need to use Helm to install charts in a Python client.

Another way I'm trying to do this is to make a system call and be done with it (if it'd work). The thing is, I can't make the Helm Client ([v2.16.1](https://get.helm.sh/helm-v2.16.1-linux-amd64.tar.gz)) talk to Tiller...

Whenever I use a `python:3.6-alpine` container and use `helm <options> --tls --host tiller-depl

[2019-12-11 03:40] donaldguy commented on #3501
this seems like not a crazy extension of the existing stuff exposed in `Capabilities`; I ran afoul of this not realizing (cause its not documented ¬_¬) I needed to set a value in e.g. https://github.com/kubevault/operator/blob/0.2.0/chart/vault-operator/values.yaml#L89  (though admittedly the webhook seems to maybe still work without?)

[2019-12-11 04:07] mvandervliet opened #7205 "b64enc returns nil on empty string"
Output of `helm version`:

[code]

Output of `kubectl version`:

[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

OKE, Docker Desktop

## Description

When specifying data with default to an empty string in `kind: Secret` templates, an error is thrown:

As an example: `my-secret.yaml` secret template

[code]

[2019-12-11 06:01] glianyi commented on #6910
mark

[2019-12-11 07:24] RaspiRepo commented on #3529
This is best solution for AWS ECR pull from outside of  AWS such as BareMetal

Also make sure
create k8s secrets from .docker/config.json like below

`kubectl create secret generic <image.pullSecret_name>     --from-file=.dockerconfigjson=~/.docker/config.json     --type=kubernetes.io/dockerconfigjson -n <namespace>`

[2019-12-11 08:04] hickeyma commented on #7111
v2 back port in #7128 merged. Closing.

[2019-12-11 08:04] #7111 closed

[2019-12-11 08:27] stefanandres commented on #6926
This is especially disturbing when using stable/nginx-ingress and now need to force a downtime of all applications that are connected to it and even get a completely new LoadBalancer IP because of it.

[2019-12-11 09:23] okulev opened #7206 "XDG cache dir can be deleted at any time"
Helm 3 uses the XDG base dir specification and this is very nice. [The specification](https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html) states that `$XDG_CACHE_HOME` dir contains "user specific non-essential data files". To my surprise what is not stated is that cache dir can be cleaned up by user at any time. All caches (should) work like this.

In Helm 3.0.1, the cach

[2019-12-11 10:46] nerzhul commented on #5853
@thomastaylor312 i have the same problem on helm 3.0.1, did you forget to backport the patch ?

[2019-12-11 11:31] youurayy opened #7207 "Helm 3.0.1 wrongly insists on StatefulSet having serviceName defined"
1. according to https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#stable-network-id:
"... A StatefulSet **can** use a Headless Service to control the domain of its Pods. ... "

2. the https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.15/#statefulsetspec-v1-apps:
..does not explicitly state that the field is Optional, but,

3. `kubectl apply` (as well as prevoius

[2019-12-11 12:39] okulev commented on #7206
More info can be found in https://askubuntu.com/a/681177

[2019-12-11 14:36] hickeyma commented on #6858
@davi5e If you use the Helm client (`helm`), what commands are you running  and what is the output/error?

[2019-12-11 15:00] tomislater commented on #7093
You can check `--dry-run --debug`. In `COMPUTED VALUES` section I have found too many dependencies :o

For instance (let's say that it is `myapp` chart):
[code]

`myapp.myrabbitmq.enabled` because I include `myapp` chart in `stack` chart for example. Then I want to to disable `myrabbitmq`. `values.yaml` in `stack` chart:

[code]

When I run `helm upgrade --dry-run --debug etc.` I can find in `COMP

[2019-12-11 15:08] tomislater commented on #2397
@technosophos You are right, my issue is connected to https://github.com/helm/helm/issues/7093

Sorry for interruption!

[2019-12-11 15:10] tomislater commented on #7061
Is it not connected to https://github.com/helm/helm/issues/7093?

[2019-12-11 15:18] davi5e commented on #6858
In my current configuration, Tiller is installed in a namespace called `tiller`:
[code]

And I can connect from my machine.
[code]

Now if I do the same from a container, I get a timeout...

[code]

And this is the output
[code]

So I'm pretty lost. How would I start to debug and/or trace the connection to check what's wrong?

[2019-12-11 15:33] tomislater commented on #6699
Hmm, but you can do that even now... by `{{ tpl value $ }}`.

For instance we use such mechanism for generating environment variables and save them in `ConfigMap` object.

`values.yaml` file:
[code]

Then, in `ConfigMap`:
[code]

[2019-12-11 15:35] hickeyma commented on #7203
@heydonovan Thanks for finding this. I was able to repeat then when using more than your `--show-all` flags. It seem to work when only one such flag applied. Can you confirm this or not?

[2019-12-11 15:42] tomislater commented on #2993
@MPV Yeah, I have found the same issue here: https://github.com/helm/helm/issues/7093#issuecomment-564584708

[2019-12-11 15:55] bacongobbler commented on #7207
Coming straight from the OpenAPI spec itself for 1.15.4:

[code]

https://raw.githubusercontent.com/kubernetes/kubernetes/v1.15.4/api/openapi-spec/swagger.json

[2019-12-11 15:55] #7207 closed

[2019-12-11 15:56] bacongobbler commented on #7207
Closing as this is correct from upstream's point of view. Please open a ticket upstream if a `serviceName` should be considered optional.

[2019-12-11 16:52] Jimmyjim123 opened #7209 "Which version of helm to use with Kubernetes 1.15?"
Not a bug, just want to know which version of helm works with kubernetes 1.15?

[2019-12-11 16:56] MarkRosen commented on #4733
Please consider specifying the namespace where tiller is running.
For example:
[code]

[2019-12-11 16:58] mvandervliet commented on #7205
This forces a workaround like the following:

[code]

[2019-12-11 17:03] evalsocket commented on #4050
@bacongobbler @cpanato i want to work on that issue. Can you explain me what has to be done ?

[2019-12-11 17:07] #6974 closed

[2019-12-11 17:15] przemolb commented on #5522
Generating a value at runtime is additional step. It looks simple but ... when you have to deploy more then a few helm charts it becomes tedious to run additional steps before the actual `helm install ...`.

[2019-12-11 17:40] thomastaylor312 commented on #5853
@nerzhul The code had changed in such a way that it shouldn't have been required. What is your k8s version?

[2019-12-11 17:44] bacongobbler commented on #7205
Can you open a ticket upstream? [sprig](https://github.com/Masterminds/sprig) is the library that provides functions like `b64enc`. Perhaps there's a bug where empty string values are interpreted as nil.

https://github.com/Masterminds/sprig

[2019-12-11 17:45] bacongobbler commented on #7209
The latest versions of Helm 2 and Helm 3 are compatible with Kubernetes 1.15.

Hope this helps!

[2019-12-11 17:45] #7209 closed

[2019-12-11 18:26] novoxudonoser opened #7210 "helm3 - --timeout flag ignored"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
Minikube, self-hosted Kubernetes

I have such job:
[code]

I install chart with:
[code]

After 60s no matter what in the timeout flag I get:
[code]

[2019-12-11 18:27] novoxudonoser commented on #7210
@bacongobbler can you help with reviewing this issue?

[2019-12-11 18:50] ekristen commented on #6894
This is still broken.

[2019-12-11 19:06] pbecotte commented on #3053
Just as a reminder, nullck's solution works- so long as the secret never gets deleted/has to be recreated.

[2019-12-11 19:15] jkirkham-ratehub opened #7211 "[feature] add option to force/override "Release.Service" back to "Tiller""
This is an issue that blocks upgrades of StatefulSets that use the lable `heritage=Tiller`.  In Helm v3 the value of `Release.Service` has changed to `Helm`, but these fields in a StatefulSet must be immutable.
See this chart issue for a specific instance of the underlying issue, though I am now seeing many more charts with this problem.  https://github.com/helm/charts/issues/19231

To Reproduce:

[2019-12-11 19:47] grebois commented on #6894
but why?
![image](https://user-images.githubusercontent.com/1569751/70654781-4bf06680-1c57-11ea-9410-e2e6205b6eff.png)

sorry, yes, im getting the same errors, this is still broken and should be re-open @thomastaylor312

[2019-12-11 19:52] openJT commented on #4174
+1 on @illinar 's answer, I also had to remove config maps and services.

Thanks!

[2019-12-11 20:06] bacongobbler commented on #6894
Can you please demonstrate the issue you are experiencing more clearly? Perhaps opening a new ticket would be helpful. For example, your issue may result in the same error message, but it may be caused by something other than what #6897 resolved (which was due to a breaking change in the Kubernetes client).

A more clear explanation would be more helpful for us to help diagnose your issue better.

[2019-12-11 23:27] aauren commented on #4423
@technosophos @bacongobbler (adding you as well since you were active in other threads on the same subject) We're in the same boat as some of the other posters in this thread. Because we could not run tiller securely we were using `helm template` in conjunction with `kubectl apply` to process our helm deployments. We now have a cluster with many Kubernetes services running in them that were deploy

[2019-12-11 23:32] KevinHaisol opened #7212 "Helm upgrade command is throwing an error"
Output of `helm version`:
Client: &version.Version{SemVer:"v2.14+unreleased", GitCommit:"fb2cbb001986b28dec5303f5acad65390a1a8118", GitTreeState:"clean"}
Server: &version.Version{SemVer:"canary+unreleased", GitCommit:"7ca75251d60995f866c7f77a41ae8f258fb8ab53", GitTreeState:"clean"}

Output of `kubectl version`:
Client: &version.Version{SemVer:"v2.14+unreleased", GitCommit:"fb2cbb001986b28dec5303f5

[2019-12-12 00:36] bacongobbler commented on #7210
have you looked at #2025? Most issues related to timeouts closing early are due to some external factor. In most cases it's the load balancer fronting the Kubernetes API server closing the connection.

Let us know if you find something.

[2019-12-12 00:51] ekristen commented on #6894
I ran into this on a 1.16 cluster using 2.16.2 and the latest Minio chart. I can try on a fresh cluster just to verify

[2019-12-12 00:59] jdolitsky commented on #6214
@jamct I havent had a chance - anything more you can add here would be very helpful.

It may be that its actually an issue in the underlying library ORAS (or even containerd): https://github.com/deislabs/oras

[2019-12-12 01:23] kevinsingapore commented on #4733
i had upgrade the helm version to v3.0.0
v3 does not need tiller.

[2019-12-12 02:45] topikachu commented on #6864
Hi, I meet this problem of the stable/metrics-server

When I use a local repo cache it works.
helm repo add stable https://kubernetes-charts.storage.googleapis.com
helm install metrics-server stable/metrics-server

However, when I try to use --repo I meet the problem
helm install metrics-server metrics-server  --repo https://kubernetes-charts.storage.googleapis.com
Error: validation: chart.metadat

[2019-12-12 03:22] rbutola commented on #6864
@topikachu  - Works fine for me
~/go/src/helm.sh/helm/bin$ ./helm install metrics-server metrics-server --repo https://kubernetes-charts.storage.googleapis.com
NAME: metrics-server

[2019-12-12 07:44] damodhar22 opened #7213 "helm install not validating if version of the dependency in Chart.yaml and the dependency in /chart folder is same"
Output of `helm version`:v3.0.0

Output of `kubectl version`:v15.0.0

Cloud Provider/Platform (AKS, GKE, Minikube etc.): EKS

[2019-12-12 08:05] jamct commented on #6214
Thanks @jdolitsky for this useful hint. I installed oras command line tool and investigated it further. I believe I found the problem:
When oras wants to push, it needs two auth scopes for the repository: push and pull.  In the process of ordering the token, it combines them with a space char. The scope looks like:
`repository:test/test-artifact:pull repository:test/test-artifact:pull,push`

The o

[2019-12-12 08:53] remcohaszing opened #7214 "Dependency build without added repos"
When running `helm dependency build` or `helm install --dep-up`, I need to add a repository using `helm repo add <repo_name> <url>`. As far as I can think of, this makes sense for 2 situations:

- Commands that depend on `<name>` (I.e. `helm install <release_name> <repo_name>/<chart_name>`
- Chart repositories that require specific security requirements.

However, this seems like an unnecessary st

[2019-12-12 09:02] jamct commented on #6214
OK, I read the specs and oras is working correct. It is not very useful to repeat the name of the repository, but it's correct, as you can see in the specs:

[https://github.com/docker/distribution/blob/1b9ab303a477ded9bdd3fc97e9119fa8f9e58fca/docs/spec/auth/scope.md#authorization-server-use](distribution spec)

I opened an [https://github.com/cesanta/docker_auth/issues/268](issue #268 for cesanta

[2019-12-12 09:31] dns2utf8 opened #7215 "helm 3 does not ship default repo"
Hi all

I am new to helm but I noticed, that `helm install stable/...` does not work because the repo is not installed by default (anymore?)

A simple fix is to add it by hand:
[code]

Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
kubernetes on ubuntu 18.04.3 LTS

[2019-12-12 10:23] novoxudonoser commented on #7210
@bacongobbler had locked in #2025 it is not it. First I am running this installation on local minikube what and there cant be any issues with the network (during all my interaction with it there weren't any).

Second, my error message is `Error: failed pre-install: watch closed before UntilWithoutRetry timeout` what says about pre-install hook timeout. And more - it happens directly after 60s what

[2019-12-12 10:35] krysennn opened #7216 "helm install can't catch the name when args are given"
Hi,

I have an issue with helm install when i want to override some values with cli.

This command throw an error `must either provide a name or specify --generate-name`
[code]

I inspected the code and i found [this](https://github.com/helm/helm/blob/master/pkg/action/install.go#L558):
[code]
Args doesn't not always contain two values because `--set` values are stored in it.
So the statement are

[2019-12-12 11:24] hickeyma commented on #7210
@novoxudonoser This looks like it might be the same issue as #2918. It looks like that fix delivered in PR #6014 for Helm 2 was not ported to Helm 3. I have pushed #7217 for Helm 3 fix.

[2019-12-12 11:36] okulev commented on #7206
Here is a plan for migration:
1. New plugins and repositories are downloaded to `$XDG_DATA_HOME/helm/unpacked-plugins` and `$XDG_DATA_HOME/helm/repositories`.
2. `$XDG_CACHE_HOME` is no longer used for plugins management. The symbolic links to `$XDG_CACHE_HOME/helm/plugins` continue to work.
3. `$XDG_CACHE_HOME/helm/repository` is virtually merged with `$XDG_DATA_HOME/helm/repositories` when list

[2019-12-12 12:29] krysennn commented on #7216
It's problem with my syntax.
Closed.

[2019-12-12 12:29] #7216 closed

[2019-12-12 13:27] marckhouzam commented on #7206
Thanks for bringing this up. I think you are right that we need to make sure Helm handles cache deletion properly.

To my knowledge, the information for repositories that is stored in the cache can be recreated.  I haven't tried but I believe that if I delete the cache and then try to work with repositories, helm will indicate the repository *-index.yaml file is missing and it will direct the user

[2019-12-12 13:45] hickeyma commented on #7213
@damodhar22 Do you mind adding an example of this so show how to reproduce?

[2019-12-12 13:48] faisalburhanudin opened #7218 "Why error message only show in debug ?"
so today I tried the helmet for the first time, when I ran it didn't output at all, after I checked the code, the output error only came out in debug.

May I know why the error message is only available in debug?

[code]

https://github.com/helm/helm/blob/3d04c6c5ce5d019e3a1f58354ab9f67453a83f8a/cmd/helm/helm.go

[2019-12-12 13:55] hickeyma commented on #7215
Yes, that is correct. This is inline with Helm chart repository deprecation timeline: https://github.com/helm/charts#status-of-the-project

As you mentioned, this is the command to add the Helm chart repository.

The Helm docs cover adding the repo also: https://helm.sh/docs/intro/quickstart/#initialize-a-helm-chart-repository

[2019-12-12 13:55] hickeyma commented on #7215
Closing as answered.

[2019-12-12 13:55] #7215 closed

[2019-12-12 14:05] hickeyma commented on #7218
@faisalburhanudin Can you provide more details what you ran? Did you use the CLI or the SDK? What was the error you got? What version of Helm?

Some more details is helpful in getting an idea of your issue.

FYI, there is PR #6909 opened about this.

[2019-12-12 14:06] mgcrea commented on #7160
Encountering this as well today, I have a release deployed through helm a few weeks ago and today the release can't be found. Nothing in `helm list --all-namespaces -a`, but the release is properly running.

[2019-12-12 14:16] GramozKrasniqi commented on #6130
Not reproducable using:

Kubernetes version: ```v1.13.12"```
Kubectl version: ```v1.16.2```
Helm version: ```3.0.1```
Prometheus-operator version: ```8.3.3```

1. Install CRDs manually:

[code]

2. Configure operator to not create crds in Values.yaml or when installing using

```--set prometheusOperator.createCustomResource=false```

``` prometheusOperator: createCustomResource: false ```

[2019-12-12 14:24] novoxudonoser commented on #7210
The #7217 fixes this issue. @bacongobbler you were right the issue was about TCP timeout of the load balancer, but still, it was a bug cause no "heartbeats" while waiting for hook where send.

[2019-12-12 14:30] dns2utf8 commented on #7215
Ah, I see.

Do you think it is a good idea to add it to the [install instructions](https://helm.sh/docs/intro/install/)?

[2019-12-12 15:02] yoshz commented on #6969
Another solution is to add the following argument to `/etc/kubernetes/manifest/kube-apiserver.yaml` when you are running Kubernetes 1.16 or 1.17:
[code]

[2019-12-12 15:43] vsliouniaev commented on #6130
@GramozKrasniqi
What if you don't create CRDs manually? That's one of the workarounds for the issue

[2019-12-12 16:26] davi5e commented on #6858
Well, I made it work... Turns out I was missing `kubectl`. Good news is `kubectl` don't need any configuration if it's running inside a Pod.

I also needed to update the Pod's ServiceAccount to enable [port forwarding to another namespace](https://medium.com/@ManagedKube/kubernetes-rbac-port-forward-4c7eb3951e28) (a ClusterRole) and Helm now works, hence the system call from Python is viable.

[2019-12-12 17:06] curtisr7 opened #7219 "no matches for kind "Deployment" in version "apps/v1beta1""
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
minikube

--------------

Over the past few months there have been numerous issues opened for this very issue[1] and in the end they were mostly closed as "working as designed" / "this is a k8s problem". When looking at the k8s issues linked, k8s also seems to be "working as desi

[2019-12-12 17:22] GramozKrasniqi commented on #6130
@vsliouniaev  if you dont create them you will get the error.
But in the original issue in Additional Info @rnkhouse  stated that he was creating the CRDs manually.

[2019-12-12 18:44] faisalburhanudin commented on #7218
So I using minikube without vm

`sudo minikube start` (minikube need root for run without vm)

Then I run helm cli using command such as:

[code]
no output

than check helm code and run debugger.

![image](https://user-images.githubusercontent.com/5812819/70739008-7a01a380-1d48-11ea-90db-3fdbca190d79.png)

there is error permission, but no error message in console.

so I check debug code

[code]

[2019-12-12 19:18] marckhouzam commented on #7218
Duplicate of #6863

[2019-12-12 19:18] #7218 closed

[2019-12-12 19:19] marckhouzam commented on #7218
You are right @faisalburhanudin  that the error message should be shown all the time. There is a PR that will soon fix that I hope.

[2019-12-12 19:22] marckhouzam commented on #7218
Sorry @hickeyma, I missed that you had already identified a possible PR for this.

[2019-12-12 19:25] marckhouzam commented on #7160
@mgcrea did you deploy your release with helm 3 or helm 2?  Helm 3 doesn't see the releases of helm 2, or vice versa.

[2019-12-12 19:27] mgcrea commented on #7160
@marckhouzam it was with helm 3, maybe I did something funky trying to upgrade it. Had a release name === namespace name, not sure if it can cause such kind of issues.

[2019-12-12 19:37] Hiruma31 opened #7220 "Regression with `helm package`"
Hello,

There seem to be a bug that was reintroduced in Helm3

Running `helm package mychart/ -d ./` produces a .tgz archive. However, when extracting it...
`tar -xzf mychart.tgz` I get warning such as
`tar: mychart/Chart.yaml: implausibly old time stamp 1969-12-31 19:00:00`

This is happening in both 3.0.0 and 3.0.1.
It also seem to have been fixed last year
https://github.com/helm/helm/issues/41

[2019-12-12 21:29] placaze commented on #6964
It was easier than I originally thought.

Here are the results (comparing v3.0.0-beta4, v3.0.0-beta5 and v3.0.1):
[code]

[2019-12-12 21:32] techmexdev commented on #6850
If you are having to use these workarounds: https://github.com/helm/helm/issues/6646#issuecomment-546603596, you can use the following script I crated to automate that process: https://gist.github.com/techmexdev/5183be77abb26679e3f5d7ff99171731

[2019-12-12 21:32] kav commented on #6699
That approach assumes you wrote or control the configmap and it isn't in a chart referenced via requirements. Doesn't really help my use case though it may help others here. Seems like being able to use requirements without drastically complicating chart end users lives is the largest issue here.

[2019-12-12 22:29] anukul commented on #3276
For the proposed `--include-file=foobar-license.conf` flag:

- Do we expect users to collect all files in one directory and name them appropriately? If so, how are appropriate names communicated to the user?
Quoting from https://github.com/helm/helm/issues/1754#issuecomment-271381902

    In this approach, filenames would now be an arbitrary input to the chart.

- Should we have a `files` construc

[2019-12-13 05:06] liurd commented on #6896
Are you going to build 2.16.2 to fix the issue?

[2019-12-13 06:20] bluebeach commented on #2798
it works, thx

[2019-12-13 07:44] damodhar22 opened #7221 "helm delete is not honoring --timeout, it exists even before that"
Output of `helm version`:v3.0.0

Output of `kubectl version`:v15.0.0

Cloud Provider/Platform (AKS, GKE, Minikube etc.): eks

Example:
Create pods with the below command

`helm install myrelease mychart --wait --timeout 10m0s`

`helm delete myrelease --timeout 10m0s`

the expectation is that delete command will exit after all the resources are deleted or after the timeout is up.

But the actual be

[2019-12-13 08:33] hickeyma commented on #7160
@mgcrea There are breaking changes if releases were deployed using pre GA versions of Helm 3 like alphas, betas, rcs

[2019-12-13 09:55] hickeyma commented on #6964
@bacongobbler @thomastaylor312 Would you be able to test this on a Windows environment?

[2019-12-13 10:00] hickeyma commented on #7221
@damodhar22 Can you add details on the issue in he decsripotion field?

[2019-12-13 10:21] hickeyma commented on #7215
@dns2utf8 That might be a good idea. Would you like to push a PR to https://github.com/helm/helm-www (repo with docs for Helm 3) for the update?

[2019-12-13 10:31] PumpkinSeed opened #7222 "Helm3 warning in case of missing values.yaml"
**Problem**

It's mostly my own stupidity, but maybe it can help the future users of helm. So I renamed my `values.yaml` to `values-old.yaml`, and I created a value.yaml. Then I run `helm template .` and it's throw me issues it can't find the .Values.xxx however I double check the variable many times and they must correct. As a new helm user I thought something with my layout of the value.yaml. Th

[2019-12-13 11:02] damodhar22 commented on #7213
Steps to reproduce
Create a chart with the below dependency
dependencies:
- name: kube-state-metrics
  version: ~**2.2.3**
  repository: https://kubernetes-charts.storage.googleapis.com/

In the charts folder of your chart place the different version of dependency chart
helm/charts/kube-state-metrics**-2.4.1**.tgz
       /Charts.yaml
      /Charts.lock

now execute helm install myrelease ./helm

E