[2019-06-05 01:47] zhanglijingisme commented on #5816
@hickeyma Thanks for yoru help. There is no other question for me, and I'll close this.

[2019-06-05 01:47] #5816 closed

[2019-06-05 09:07] #5810 closed

[2019-06-05 10:33] nvtkaszpir commented on #2347
Maybe just add `.lint.yaml` file to the chart/<chart-name> with example values so that linter picks it up in when executed?
Otherwise it requires customizations in CI/CD per chart.

[2019-06-05 11:13] blackhair3000 opened #5843 "helm list --debug get a timeout issue"
Error: Get https://10.96.0.1:443/api/v1/namespaces/kube-system/configmaps?labelSelector=OWNER%!D(MISSING)TILLER: dial tcp 10.96.0.1:443: i/o timeout

my vmware master ip is 192.168.196.128 and I can ping the 10.96.0.1,but the https timeout .

I can't figure out what's the problem , could some body help me?

[2019-06-05 11:55] tcbjc commented on #5838
Got it. Thanks @hickeyma

[2019-06-05 13:09] madonius opened #5844 "Custom helm charts path"
In case the charts, listed as dependencies, are already present on the machine, a way to point helm to this directory would be helpful.
Currently, the only way to use those charts, is to symlink them to the corresponding subdirectory.
I would propose something similar to a environment variable `HELM_CHART_PATH`

[2019-06-05 13:58] pulpbill commented on #5750
Does anyone knows how to prevent gitlab pipelines to use helm:latest? We are deploying everything via our laptops since gitlab uses 2.14. It's taking us lots of time.

[2019-06-05 14:00] sylr commented on #5788
I've tested with kubectl 1.14.2 and helm 2.13.0 and I can still reproduce:

[code]

[2019-06-05 14:06] CDingerdis commented on #3275
Is there an idea if this is going to be in the next release, and if it does when it is coming?

[2019-06-05 15:01] allamand commented on #4440
I like the idea of the cli option --no-hooks to re-install with leaving existing crd in place

[2019-06-05 15:41] karuppiah7890 commented on #5843
@blackhair3000 I tried to reproduce the issue. I have kubernetes running using minikube. To reproduce the issue, I stopped k8s and did this

`$ helm --tiller-connection-timeout 1 --debug ls`

and got this error

[code]

not exactly the same as your's but a time out issue. Can you give the output of `helm version` , `kubectl config view` and also `kubectl version` ?

And I am confused about how the

[2019-06-05 15:42] bacongobbler commented on #5788
If you're using kubectl 1.14, please use helm 2.14 as that is compiled against client-go with Kubernetes 1.14 support. You're likely bumping into the same problem; 1.13 and 1.14 are incompatible with eachother.

[2019-06-05 15:46] bacongobbler commented on #3275
#5460 was merged 2 months ago, which means it should be in helm 2.14.0.

[2019-06-05 16:07] gabrielfsousa opened #5846 "can we define release name on values.yaml instead on command line ?"
Output of `helm version`: 2.14
Output of `kubectl version`: 1.12.7
Cloud Provider/Platform (AKS, GKE, Minikube etc.): Azure

can we define release name on values.yaml instead on command line ?

[2019-06-05 16:19] bacongobbler commented on #5846
Hi! This is not possible today. Helm accepts a release name through `--name`, or it will auto-generate a name for you if not present.

[2019-06-05 16:26] bacongobbler commented on #5844
This is currently possible by specifying a file path in your requirements.yaml. You can specify them by using the following syntax:

[code]

[2019-06-05 16:26] #5844 closed

[2019-06-05 16:28] madonius commented on #5844
The matter is that in that way pulling the dependency properly is not an option. The Environment varaible would allow for a temporary override

[2019-06-05 16:38] karuppiah7890 commented on #5750
@pulpbill How do you install or get the helm client in GitLab ? Do you download from releases? or use a docker image? And you want to install `2.13.1` right?

I tried to find a docker image for helm, but couldn't find any official ones. If you want, you could build a docker image by downloading and putting helm binary in it and then you can use that image in gitlab ci config. You can find the url

[2019-06-05 16:41] bacongobbler commented on #5750
Let's try to keep the topic on subject. @pulpbill if you don't mind sending an email to the helm-users mailing list or by asking the gitlab team directly that'd be great; this seems like an issue with gitlab moreso than with Helm, and it doesn't seem related to the issue present here.

[2019-06-05 16:49] mitchellmaler commented on #5750
AutoDevops downloads helm when it runs the deploy job if you take a look here: https://gitlab.com/gitlab-org/gitlab-ce/blob/master/lib/gitlab/ci/templates/Jobs/Deploy.gitlab-ci.yml#L472
I think if you set the env var HELM_VERSION in the cicd variables it might allow you to override it but  am not sure.

[2019-06-05 17:01] shaneramey commented on #5505
I was getting this error until I signed the Tiller server cert with the IP SAN 127.0.0.1.

[2019-06-05 17:09] bacongobbler commented on #5505
I'm closing this issue as the original submitter has not provided any follow-up information to assist them in this matter. An issue like "Helm hangs indefinitely" can be a number of things, and as we've seen in the comments it's ranged from incorrect TLS setup, improper RBAC permissions or outbound network conditions. ;)

If others are having issues, please open a new ticket so we can track that d

[2019-06-05 17:09] #5505 closed

[2019-06-05 19:27] sfudeus commented on #5844
What we are trying to solve is this use-case:
a) When developing a helm-chart with dependencies, sometimes it is necessary to change the chart and those it depends on (in the git repo structure where they are maintained), local references besides symlinks would be great there.
b) When using a helm chart with dependencies during production application deployment, we'd like to pull the charts from t

[2019-06-05 20:15] #5846 closed

[2019-06-05 20:45] bacongobbler commented on #5530
So, at a high level, please check out https://github.com/docker-library/faq#why-does-my-security-scanner-show-that-an-image-has-so-many-cves.

On the specifics of this CVE, it only affects `udhcpc`, which I really have a hard time believing Tiller uses this (it's a DHCP client).

Please follow up with the alpine linux image maintainers for further follow up, but this CVE doesn't appear to affect T

[2019-06-05 20:45] #5530 closed

[2019-06-05 20:56] bacongobbler commented on #5826
IIRC this was an intentional design decision from a code sanity point of view. As I recall the discussion with @adamreese, there were architectural design issues with exposing and allowing other packages the ability to customize the engine prior to the rendering stage, so for the time being it was decided to make the template functions private, making the `.Render()` function the only publicly acc

[2019-06-05 20:57] codebind-luna commented on #5836
@hickeyma is anyone working on it?

[2019-06-05 20:59] bacongobbler commented on #5836
not that I'm aware of no. This may be fixed with the 2.14.1 release as this seems to be a side-effect of #5750.

[2019-06-05 22:00] bacongobbler commented on #5750
Helm v2.14.1 has been released: https://github.com/helm/helm/releases/tag/v2.14.1

[2019-06-05 22:00] #5750 closed

[2019-06-06 01:30] blackhair3000 commented on #5843
yesterday, i have found that it was my calico.yaml  CALICO_IPV4POOL_CIDR part configured at a same network with my virtual machines that caused the problem.

so I changed the calico.yaml network part to "172.16.0.0/16" , than kubeadm init --pod-network-cidr 172.16.0.0/16 after the kubeadm reset. it's ok for me now.

there is a link Create a single-host Kubernetes cluster part about it:
https://doc

[2019-06-06 01:36] Hokwang commented on #1809
Oh, I need change release name only..

[2019-06-06 02:29] bacongobbler commented on #1809
Changing the release name also affects how the templates can be rendered as many charts rely on `{{ .Release.Name }}`, hence the high risk.

[2019-06-06 02:32] #5843 closed

[2019-06-06 04:07] mikhail-arundo commented on #3933
Is this a feature or a bug? When moving between clusters, having the values maintained instead of overwritten by the defaults is desirable in my case. I can always purge the release and install instead of upgrade to change those.

[2019-06-06 06:09] hickeyma commented on #5836
@codebind-luna Go ahead and work on it if it is still a bug in master as @bacongobbler mentioned in https://github.com/helm/helm/issues/5836#issuecomment-499253464.

[2019-06-06 06:20] Lastcysa opened #5850 "Will helm template support chart reference or other expressions?"
Hi,

Currently `helm template` only supports local chart, which means if I want to `helm template` a chart reference or url, I must `helm fetch` to local first, if I understand correctly.  Will `helm template` support direct access to chart reference? If not, what is the concern?

Thanks!

[2019-06-06 06:37] bacongobbler commented on #5850
This is supported in Helm 3. #5809 addresses this for Helm 2.

Closing as a duplicate of #5773

[2019-06-06 06:37] #5850 closed

[2019-06-06 10:48] HeyHugo commented on #3933
@mikhail-arundo  Bug, `helm upgrade` should by default upgrade any existing resources according to the supplied values

from [the docs](https://helm.sh/docs/helm/#helm-upgrade) of `helm upgrade`

This is the only case where existing values should possibly be reused I think.

[2019-06-06 11:53] markmssd commented on #5515
@yunzshi did you end up finding a solution?

[2019-06-06 12:20] pniederlag opened #5851 "helm 3: --namespace troubles"
Output of `helm version`:

`version.BuildInfo{Version:"v3.0.0-alpha.1", GitCommit:"b9a54967f838723fe241172a6b94d18caf8bcdca", GitTreeState:"clean"}`

Output of `kubectl version`:

`Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.1", GitCommit:"b7394102d6ef778017f2ca4046abbaa23b88c290", GitTreeState:"clean", BuildDate:"2019-04-08T17:11:31Z", GoVersion:"go1.12.1", Compiler:"gc"

[2019-06-06 12:25] hlascelles commented on #2735
We are seeing this with non-errored `DEPLOYED` releases being upgraded with a change in values. Helm says all went well, but the DaemonSet was not updated. Specifically, this was via Weaveworks Flux (some Google keywords there for anyone looking for this problem), and we spent some time thinking it was that that was not pushing on changes.

[code]

[2019-06-06 13:05] bacongobbler commented on #5851
See #5628.

[2019-06-06 13:05] #5851 closed

[2019-06-06 15:13] shiva075gowda opened #5852 "Not working: Create configmap with data importing from json file"
I want to Create a sample configmap with data set from a json file.

**application.json**
[
 {
    "clientName": "sample",
    "protocol": "gmail",
    "Access": "public",
    "clientPolicy": {
                   "Action": ["allow_login"],
     }
  }
]

**templates/sample.yaml**
apiVersion: v1
kind: ConfigMap
metadata:
  name: sample-configmap
  Sample: {{ toJson (.Files.Get "application.json") }}

[2019-06-06 18:43] muehlburger commented on #5752
@jdolitsky thank you for your feedback. So there are the following requirements:

1. Do not allow "latest" tag but enforce semantic versioning based on `version` field in Chart.yaml
2. If tag is missing, source it from `version` field in Chart.yaml

What if `version` field in Chart.yaml is missing? I guess this is an invalid chart?

[2019-06-06 20:45] caarlos0 opened #5853 "can't upgrade charts with crd changes"
I have a custom chart for an operator we're writing.

The operator is under development, so it receives several changes... now, we needed to add a new non-required boolean field to the CRD.

When trying to upgrade it, I got this error:

[code]

The only things changed are the new field on the CRD and the image tag.

If I remove the new field from the CRD and upgrade it works.

What can I do to avo

[2019-06-06 20:48] caarlos0 commented on #5853
I tried to update the crd with `kubectl apply`, still helm fails...

[2019-06-07 04:34] shiva075gowda commented on #5852
@bacongobbler , is it like json files can be imported using .Files extension ?

[2019-06-07 04:39] bacongobbler commented on #5852
Perhaps this may help: https://helm.sh/docs/chart_template_guide/#accessing-files-inside-templates

[2019-06-07 04:47] shiva075gowda commented on #5852
Thanks @bacongobbler . These links I already went through and some more issues are filed related to this. But I couldn't find anything useful pertaining to my usecase.
Though plain create configmap command works fine with given file input as json file.

[2019-06-07 04:56] shiva075gowda commented on #5852
Similar issues:
https://stackoverflow.com/questions/53429486/kubernetes-how-to-define-configmap-built-using-a-file-in-a-yaml
https://github.com/helm/helm/issues/2004

[2019-06-07 05:26] janotav commented on #3486
I'm a bit confused. The open end of this thread gave me the impression that this merging thing is still missing in helm. After trying it out (we do helm upgrade ... -f basic.yaml -f profile_extends_basic.yaml), it seems to work correctly. At least for me the #4806 seems to have nailed it.

[2019-06-07 09:54] nphmuller commented on #5752
I'd be fine with using the `version` field from `Chart.yaml`. Seems like a fine solution!

@muehlburger According to the spec in https://helm.sh/docs/developing_charts/ (not sure how much it changes for v3), version would be required, so my guess would be the chart is invalid.

[2019-06-07 10:45] dimmel82 commented on #1193
The issue is closed, by I thought to add a comment about how to deal with the issue without having to delete the helm release.

So, I reproduced the issue with the following steps:
1. Install chart `test-chart-failure` with a service template.
2. Add a subchart with a service template that has a string (e.g. "test") in the service's port
3. Upgrade the chart. It will fail with error `Service in ve

[2019-06-07 12:02] #5127 closed

[2019-06-07 13:43] hickeyma commented on #5758
Closing as #5759 merged.

[2019-06-07 13:43] #5758 closed

[2019-06-07 16:13] hickeyma opened #5857 "Helm 3: Failed to install chart in a namespace with a release name already used in a different namespace"
When I try to install chart with a release name unique to a namespace, it errors as follows:

[code]

Environment is setup as follows with release `nginx-ingress` already deployed to namespace `nginx-ingress`:
[code]

Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
kubeadm-dind-cluster

[2019-06-07 16:53] bacongobbler commented on #5827
So after having a face-to-face, there definitely seems to be some open design questions about how values are merged from the CLI and how those values should be handled when being passed into the SDK.

From a first glance it seems like `MergeValues` and the three input parameters should be a concern of the CLI, but not a concern for the SDK user. If we could refactor `MergeValues` to return a `map[

[2019-06-07 17:02] bacongobbler commented on #5857
I believe this is the same design as it is in Helm 2, right? If a resource has already been created by an external entity (either another `helm install` or a `kubectl create`), `helm install` will not "adopt" that resource and will fail instead. However, the release is still created, but ends in the `FAILED` state

I believe this may be a similar report of #3319.

[2019-06-07 17:04] joelanford commented on #5827
Thanks @bacongobbler! That sounds like an even better idea.

[2019-06-07 17:06] codebind-luna commented on #5836
@hickeyma here I am posting my findings with the latest master
`helm version`
`Client: &version.Version{SemVer:"v2.14+unreleased", GitCommit:"2ca025d48222d6fa188653e2ca5eda6ed799145c", GitTreeState:"dirty"}
Server: &version.Version{SemVer:"canary+unreleased", GitCommit:"2ca025d48222d6fa188653e2ca5eda6ed799145c", GitTreeState:"clean"}`

[2019-06-07 17:37] tedescomicchidev opened #5858 "Helm - tiller: intermitted communication error"
Output of `helm version`:
Client: &version.Version{SemVer:"v2.14.1", GitCommit:"5270352a09c7e8b6e8c9593002a73535276507c0", GitTreeState:"clean"}

Server: &version.Version{SemVer:"v2.14.1", GitCommit:"5270352a09c7e8b6e8c9593002a73535276507c0", GitTreeState:"clean"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.2", GitCommit:"66049e3b21efe110454d

[2019-06-07 19:14] schollii commented on #2776
I believe this will only work if there is no overlap between the root elements of the various yaml files. Using -f list of files does not have this limitation.

[2019-06-08 14:11] karuppiah7890 opened #5861 "OCI: Not able to push chart to <insert registry>"
Output of `helm version`:
version.BuildInfo{Version:"v3.0.0-alpha.1", GitCommit:"b9a54967f838723fe241172a6b94d18caf8bcdca", GitTreeState:"clean"}

[code]

When I tried to debug, the response from Docker Hub said -

[code]

and digging more, I saw that the manifest json looks like this -

[code]

and layers struct looks like this -

[code]

And I tried the same by tagging the chart too, for example

[2019-06-08 15:46] bacongobbler commented on #5861
Most cloud providers whitelist certain media types. Usually that means they only support docker images. The only two that we know that work at this time with `helm chart push` are Azure Container Registry and vanilla docker/distribution, but we're working with the OCI to figure out how to get Helm's published media types to be whitelisted.

cc @jdolitsky

[2019-06-08 16:05] karuppiah7890 commented on #5861
Ah. I did guess if media type might be an issue, but I saw people saying they could push (in a different issue) so excluded it. But yeah, the other issues showed example of pushing to azure.

I just tried with docker/distribution in local, it does work 😄

[2019-06-08 16:07] karuppiah7890 commented on #5861
Should I close this issue? Or keep it open to track whitelisting of Helm's media types ?

[2019-06-08 16:42] karuppiah7890 commented on #5853
@caarlos0 I tried debugging this, looks like more information is needed to debug why exactly this happened. Information about your CRD and the new field that you mentioned.

Let me put here what I found/guessed based on the details in hand - we know it's a CRD and we know the error message :

This is the place where the error occurs:
https://github.com/helm/helm/blob/0d81d92a01c20a908d045c8067d04e

[2019-06-08 16:43] karuppiah7890 commented on #5853
I think it will be possible to debug more if we see the CRD and it's structure and the field you mentioned. But I can't say for sure though

[2019-06-08 17:34] caarlos0 commented on #5853
hey! thanks for looking into this!

here is the CRD:

[code]

The field added is the `spec.cache`.

Let me know if you need any more info.

PS: this CRD was generated by kubebuilder, if it helps with anything...

[2019-06-08 23:44] jsmilani opened #5862 "Add support for BoundServiceAccountTokenVolume kubernetes feature"
This is probably going to be irrelevant for helm 3.0 if tiller goes aways, but as of 2.14.1 I am unable to use the BoundServiceAccountTokenVolume feature-flag due to the service account token permission changes.

Feature Background: https://github.com/kubernetes/kubernetes/issues/70679

BoundServiceAccountTokenVolume basically adds rotating service account tokens. This means services must be able

[2019-06-09 06:05] karuppiah7890 commented on #5853
Okay, I am able to reproduce the issue by installing this chart - [issue-5853-chart.zip](https://github.com/helm/helm/files/3269265/issue-5853-chart.zip) and then upgrading with this chart - [issue-5853-new-chart.zip](https://github.com/helm/helm/files/3269266/issue-5853-new-chart.zip)

And to confirm my guess (the flow of code execution), I added some logs to code and deployed the modified tiller

[2019-06-09 11:57] sdake opened #5863 "Helm does not handle extra whitespace in the command line properly"
Output of `helm version`:

(not running tiller - using extensively `template` mode)
[code]

Output of `kubectl version`:

[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
helm `template` mode does not use a cloud provider directly.

Extra whitespace in the command line to helm `template` and helm `install` result in broken behavior.  The expectation is that extra whitespace in the comman

[2019-06-09 14:33] caarlos0 commented on #5853
awesome, thanks @karuppiah7890 .

let me know if I can help in any way

[2019-06-09 15:46] karuppiah7890 commented on #5853
Sure @caarlos0 👍 I'll debug it and let you know. For now looks like the code flow is right. The comment about CRDs and `StrategicMergePatchType` - looks like what they meant in comments was about resources of type `xyz` which is a CRD, but here we are trying to upgrade a resource of type `CustomResourceDefinition` which is a known object and has structure which is clear from the code as `isUnstruc

[2019-06-09 19:30] mobsikx opened #5864 "Cannot build helm"
build k8s.io/helm/cmd/helm: cannot load k8s.io/cloud-provider/features: cannot find module providing package k8s.io/cloud-provider/features

https://pastebin.com/EETwzS6p

[2019-06-10 05:38] shiva075gowda commented on #5852
Myself resolved this issue. I was referring this configmap created from above files inside a kubernetes Job by mounting it.
During helm upgrade, if a Job with given name is already present, it was failing with above error which is not correct.
Before every upgrade or a fresh install, If I delete the Job if present, then it would succeed.
Dont no, what is the reason for this kind of behaviour, but

[2019-06-10 09:24] hickeyma commented on #5864
@mobsikx What command did you run?

[2019-06-10 09:28] devops-team-92 commented on #3130
Follow below Command:-

helm init --service-account tiller --upgrade -i registry.cn-hangzhou.aliyuncs.com/google_containers/tiller:v2.14.0 --stable-repo-url https://kubernetes.oss-cn-hangzhou.aliyuncs.com/charts

[2019-06-10 09:29] hickeyma commented on #5836
@codebind-luna Feel free to push a PR then.

[2019-06-10 10:44] #5852 closed

[2019-06-10 12:26] jpninanjohn opened #5866 "Dependency charts with multiple versions being overridden in tar balls"
[issue.zip](https://github.com/helm/helm/files/3271903/issue.zip)

Output of `helm version --client`:
[code]

**Actual:**
When trying to install a chart with multiple versions of the same dependency, we see that the tarball created has only one version of the dependency. (The chart used is attached as a zip file).

If we try to install this release only the one dependency is created.

`helm instal

[2019-06-10 13:00] mobsikx commented on #5864
It's cleary visible in the pastebin link https://pastebin.com/EETwzS6p even with the whole log.
Not sure what else can I provide you with.
`glide install --strip-vendor
make build`

[2019-06-10 13:07] hickeyma commented on #5857
It probably makes most sense to follow the same practice as per Helm 2 by setting the release to `FAILED` state when resources are already created.

If this is undocumented, we might need to document about already created resources especially now that we are allowing charts to be installed with the same release name in different namespaces. Users will now probably get caught out by charts where th

[2019-06-10 13:10] hickeyma commented on #5864
can you try: `make bootstrap build` ?

[2019-06-10 14:12] Aisuko commented on #4865
So, We should be waiting for Helm3 was released 😅

[2019-06-10 15:53] karuppiah7890 commented on #5864
Also, @mobsikx What changes did you make in the git repo? In the logs I see this log

[code]

where `GitTreeState` says it's `dirty` which means some changes were made in the repo

[2019-06-10 18:04] kmurthy0 commented on #3701
I'm running into this issue as well - helm 2.10.0 and k8s 1.11.6. One of the environment variables in deployment doesn't get updated. The workaround I've found is to do `helm delete` followed by a `helm upgrade --install` again. Has anyone found a workaround that doesn't require `helm delete` ?

[2019-06-10 18:08] andresiraola commented on #4721
2.14.1 hasn't been yet push to chocolatey

[2019-06-10 18:09] bacongobbler commented on #4721
@synax is there a way for the community to help contribute PRs when a new release of Helm is out, similar to how the community manages the homebrew package?

[2019-06-10 18:23] hco opened #5868 "Potential malicious link in issue"
I am currently not on a computer, so sorry if I am wrong about this, but wanted to let you know asap.

I received a notification about this comment on an issue:  https://github.com/helm/helm/issues/3130#issuecomment-500352585

I havent checked the contents of that link, but it somehow felt like it might be something bad.

Sorry if creating an issue was the wrong way to address this.

[2019-06-10 18:46] bacongobbler commented on #5868
No problems here. It's a link to a chart repository. Thanks for the report though!

[2019-06-10 18:46] #5868 closed

[2019-06-10 19:09] kmurthy0 commented on #3701
Answering my own question, the workaround I've found to work is to manually edit deployment following which, `helm upgrade` appears to work correctly.

[2019-06-10 19:12] jdolitsky commented on #5752
@muehlburger @nphmuller this all sounds correct. The version/tag should be sourced from Chart.yaml and should be a valid semantic version (there is already code that validates this field).

An option `--version` override flag can be discussed, such as the one that exists on `helm package` (Helm 2):
[code]

However, this can come later on. Feel free to ping me on CNCF slack to discuss further: http

[2019-06-11 04:14] fengshunli opened #5870 "chart.yaml中name和version参数如何做自定义校验"
chart包上传的时候,如何控制name和version参数一样会覆盖的问题,目前的解决方案是对tag包进行解压缩,社区这块有针对这块做调整吗

[2019-06-11 04:35] bacongobbler commented on #5870
If I translate this message, it looks like you are asking about changing the version of a chart once it has already been packaged using `helm package`. Is that right?

The idea of a chart is that once it has been packaged, the manifest should not be tampered with. If you want to update the chart version, you need to have access to the source code. You can then call `helm package --version` to chan

[2019-06-11 04:36] bacongobbler commented on #5870
Can you explain what is the problem you are facing, and why you need to re-tag the package before uploading it?

[2019-06-11 05:16] fengshunli commented on #5870
通过harbor的api上传chart包的时候,需要对chart包中的name属性以及version做校验,如果重复的话就会覆盖,如果通过吧tag包进行解压缩的话比较麻烦,所以想问下支持chart包中的参数自定义不

[2019-06-11 05:20] procyclinsur commented on #4527
made a shell function of the workaround provided by @RehanSaeed for anyone interested.

requires: vim

[code]

[2019-06-11 06:33] bacongobbler commented on #4527
Fixed in Helm 3 via #5171. Closing!

[2019-06-11 06:33] #4527 closed

[2019-06-11 14:52] burizz commented on #1844
We encountered the same problem. Updating a variable in Helm deployment template does not get updated when executing.

helm upgrade test123 ./test123 --recreate-pods

It worked after manually removing the deployment with kubectl than re-running helm upgrade.

We use AWS EKS service with Kubernetes 1.12.6 and Tiller 2.13.1 versions.

[2019-06-11 14:57] mattfarina opened #5871 "Proposal: Manage CRDs"
I have to give credit to @prydonius for this idea. I'm just writing it up here. Can do a proposal to community if this needs to move forward. Not entirely sure what is feasible yet.

**The idea:**

Have a `crd` directory alongside the `templates` directory. Helm would then check for missing CRDs and attempt to install them. If it cannot install them and they are missing it would stop, explain why

[2019-06-11 14:59] mattfarina commented on #5871
cc @technosophos @adamreese @bacongobbler @hickeyma @michelleN @viglesiasce @thomastaylor312 @SlickNik

[2019-06-11 15:57] bacongobbler commented on #5871
I agree that there is a common wrapper logic being used for all CRDs in Helm 2 recently.

I would love to see a practical example! It seems like it's an idea worth investigating. I'm having a hard time conceptualizing this, so having a practical example to play with and understand the solution might be a good way forward to see if this is feasible or not (as well as provide feedback on the design)

[2019-06-11 15:59] mayankpundir27 commented on #3997
![Screenshot from 2019-06-11 21-26-59](https://user-images.githubusercontent.com/47808826/59287792-034bf680-8c90-11e9-88ac-152a9b231fb4.png)

[2019-06-11 16:00] mayankpundir27 commented on #3997
how do i resolve this?

[2019-06-11 16:01] bacongobbler commented on #3997
check and see what image is being used for the tiller deployment.

[2019-06-11 16:53] technosophos commented on #5871
As I see it, we have four major problems to sort out with CRDs:

- Install order: CRDs have to be installed in a separate operation from any _usage of_ (instances of) that CRD.
- Compatibility detection: If a CRD exists, and a request to install the CRD comes in, but the api versions are different, what do we do?
- Update process: CRDs are possibly global, while most other kinds that appear in Hel

[2019-06-11 17:22] mattfarina commented on #5871
Just [spitballing](https://www.merriam-webster.com/dictionary/spitball)...

The CRD directory would make it easy to figure out where they were to install them first. We would not need to parse all the templates first. This could extend to the whole dependency tree.

This is the hard one. [There is a whole page in the docs on versioning CRDs](https://kubernetes.io/docs/tasks/access-kubernetes-api/c

[2019-06-11 22:29] ravi-k-sinha commented on #3616
@iainlbc , could you please elaborate about IAM permission issue.  I have tried associating various IAM roles with the EC2 instance, but traefik as Loadbalancer remains forever in <Pending> state. Describing the service shows no interesting information.

[2019-06-11 22:52] bacongobbler commented on #4011
duplicate of #2731.

[2019-06-11 22:52] #4011 closed

[2019-06-12 01:35] pankajmt opened #5875 "helm install --atomic - repeat run purges the chart"
Output of `helm version`:
Client: &version.Version{SemVer:"v2.13.1", GitCommit:"618447cbf203d147601b4b9bd7f8c37a5d39fbb4", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.13.1", GitCommit:"618447cbf203d147601b4b9bd7f8c37a5d39fbb4", GitTreeState:"clean"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.1", GitCommit:"b7394102d6ef778017f2c

[2019-06-12 01:44] bacongobbler commented on #5875
There should probably be a check in place for the first release.

cc @cleac

[2019-06-12 06:50] bennya1 commented on #5580
Encountered the same behavior on AKS, i believe it origins in the latest version of Helm, since nothing has changed except the client version which was automatically updated.

To resolve in my staging environment i also added `--upgrade` to update tiller automatically.
For production would probably keep the previous Helm client version (not tested yet).

[2019-06-12 07:45] hickeyma commented on #5580
If the client version is a later version to the server version (Tiller) this can lead to intermittent problems. It is recommended to have client and server versions the same (ideal situation) or server version later than the client version.

The `--upgrade` flag with `helm init` command will update the server (Tiller).

[2019-06-12 09:55] z00314736 opened #5876 "helm upgrade problem"
I installed a release with helm , after that, my chart changed, for example , added a deployment template or service template,  Then I want to use `helm upgrade` to upgrade the installed release, But it cannot work .  it says that the added  resource does not exists.   Is there any solution to solve my problem?

Output of `helm version`:
`Client: &version.Version{SemVer:"v2.14.1", GitCommit:"52703

[2019-06-12 09:56] z00314736 commented on #5876
How to resolve this problem?

[2019-06-12 09:57] arielb135 opened #5877 "Best practice question - best way to use a value from different helm deployment?"
I was wondering, let's say i have 2 helm charts:

- First one is RabbitMQ, which contains an admin user (and password) i'd like to use, and some other parameter i want to reuse across applications.
- Second one, is my app, and i require to use that user to create some queues, and use the other value for my deployment.

Besides making sure the same value exists in all charts, is there anyway or rec

[2019-06-12 10:07] hickeyma commented on #5876
@z00314736 Can you show the error message returned by the `helm upgrade`?

[2019-06-12 10:20] z00314736 commented on #5876
embarrassing...

The old versions of helm has this problem.  I just downloaded helm v2.14.1,  It can work normaly with this situation.  sorry for the carelessness , I close this issue.

[2019-06-12 10:20] #5876 closed

[2019-06-12 11:19] jianzzz opened #5878 "helm install successfully while resources already exists"
Output of `helm version`:
Client: &version.Version{SemVer:"v2.13.1", GitCommit:"618447cbf203d147601b4b9bd7f8c37a5d39fbb4", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.13.1", GitCommit:"618447cbf203d147601b4b9bd7f8c37a5d39fbb4", GitTreeState:"clean"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.0", GitCommit:"ddf47ac13c1a9483ea035

[2019-06-12 11:57] gitirabassi commented on #5864
I'm having the same problems as you, in the pastebin is clear that go mod is enabled and that's most likely the problem

[2019-06-12 12:47] andrvin commented on #2025
Still getting this error when tries to upgrade helm release with --wait option.

[code]

[code]

The only workaround that I found is to add your tiller service address as --host option:

`helm upgrade release-name app --wait --host=10.104.4.82:44134`

[2019-06-12 12:49] cristian04 commented on #3996
It's also useful to take a look on the ns events.
[code]

[2019-06-12 13:07] naseemkullah opened #5879 "helm create - Make it easier to do the right thing, part i: serviceaccount"
Hello,

Helm create should add options to create `serviceaccount`, enabled by default imho, as it is a known best practice to run every workload with its own service account, by including the option to create a service account, we are making it easier to do the right thing.

cc @bacongobbler @unguiculus @scottrigby @rimusz

[2019-06-12 13:11] naseemkullah opened #5880 "helm create - Make it easier to do the right thing, part ii: securityPolicy"
Hello,

Helm create should add options to create security policies, as it is a known best practice to enable security policies, notably, to run as non root, to have a read only file system , drop linux capabilities and so on.
By adding the option to create security policies we are making it easier to do the right thing.

cc @bacongobbler @unguiculus @scottrigby @rimusz

[2019-06-12 13:24] karuppiah7890 commented on #5864
@gitirabassi ah. that makes sense, since it says `go: finding ...` when build runs. To confirm this, @mobsikx can you paster your `go env` here? or just `go env GO111MODULE`?

[2019-06-12 14:09] #3996 closed

[2019-06-12 15:46] naseemkullah commented on #5880
If we add it, would should be enabled by default?
So far, `runAsNonRoot` is a good option.

What about?
Drop all linux capabilities?
runAsUser? default value to 1000, or 10001?
readOnlyFilesystem? on or off by default?

[2019-06-12 15:50] oxynux commented on #5800
I have sometimes this issue too (helm v2.14.1 installed via brew), it's also happened with kubectl.

My workaround :
[code]

It's probably an underlying issue from golang on macOS.

See :

- https://github.com/kubernetes/kubernetes/pull/64219

- https://github.com/kubernetes/release/issues/469

- https://github.com/golang/go/issues/12524

[2019-06-12 18:28] prydonius commented on #5871
Placing CRDs in a specific directory in the chart package gives us a more reliable way to handle them separately. For example, we could render all the CRDs in the chart and sub-charts first and then install them before installing the rest (just an example, the idea is we can use it to make the right decisions). I guess there's no reason we can't do this with the current `crd-install` hook, but I'm

[2019-06-12 20:34] caarlos0 commented on #5853
is there a way I can "force fix" this? just so my deploy scripts work again without me deploying manually 🙇‍♂️

[2019-06-12 20:35] synax commented on #4721
Hey, Sorry for this happening again. The current setup is fully automated. This is how the setup is today: Github Releases RSS Feed > Zapier > AppVeyor > Chocolatey. I trigger a Zap using the Releases RSS feed on Github, which in turn triggers appveyor. When v2.14.1 got released, the pipeline failed because my script got confused with the helm v3.0.0-alpha-1 release :)  https://ci.appveyor.com/pro

[2019-06-12 21:48] #4721 closed

[2019-06-12 22:01] jb-sean commented on #3005
I got around this by piping the variables to [`int64`](http://masterminds.github.io/sprig/conversion.html).

For instance, to check whether my hpa's max number of replicas was less than or equal to the number of credentials I had, I did this:
[code]

This workaround isn't pretty, but it works for me.

[2019-06-13 00:12] paulczar commented on #5871
`Have a crd directory alongside the templates directory`   - is this necessary?  We know that a CRD has the following top level items in their declaration:

[code]

would it be within Helm's scope to look at the apiVersion/kind of resources and act on them based on the resource type?  If we know its a CRD by the apiVersion/kind then we can treat it as a CRD, however we decide to treat them.

[2019-06-13 07:51] Dare2python opened #5882 "Helm 3: Cannot build k8s.io/helm w/o helm.sh/helm"
Output of `helm version`:
-bash: helm: command not found
Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.2", GitCommit:"66049e3b21efe110454d67df4fa62b08ea79a19b", GitTreeState:"clean", BuildDate:"2019-05-16T18:55:03Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.1

[2019-06-13 08:42] hickeyma commented on #5882
@Dare2python Are you building Helm v3? If so then build will fail if not running from the path `$GOPATH/src/helm.sh/helm`. Refer to doc for more details: https://github.com/helm/helm/blob/dev-v3/docs/install.md#from-source-linux-macos

[2019-06-13 08:51] adharmawan opened #5883 "helm upgrade deletes Deployment causing downtime"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
[code]

Due to a bug in [yq](https://github.com/mikefarah/yq/issues/245)
[code]

The upgrade command
`helm upgrade staging-api api --install --force --reset-values --namespace staging --values api/staging-values.yaml --wait --debug`

the `helm upgrade` failed and deletes a `Depl

[2019-06-13 08:57] Dare2python commented on #5882
@hickeyma Thanks!
Apparently, I've got confused of change to k8s.io in master which still v2
https://github.com/helm/helm/blob/master/docs/developers.md

[2019-06-13 08:57] #5882 closed

[2019-06-13 09:00] hickeyma commented on #5882
Thats ok. Yes, v2 is still and will remain under `k8s.io`.

[2019-06-13 09:05] hickeyma commented on #5883
@adharmawan Can you show the output of the `helm upgrade` command with `--debug --dry-run` flags? This will show the rendered manifest without actually doing the upgrade

I am trying to understand why it deletes the deployment. Is it because the deployment template is removed in the chart when doing the upgrade?

[2019-06-13 09:06] adharmawan commented on #5883
My bad, I accidentally click the `Submit Issue` button without providing all the info

[2019-06-13 09:32] adharmawan commented on #5883
here's the [gist](https://gist.github.com/adharmawan/4ef5f0c5ff61c4ae71fd0195eeca2317)

[2019-06-13 12:23] jianzzz commented on #5878
anyone?

[2019-06-13 13:19] karuppiah7890 commented on #5866
cc @hickeyma

[2019-06-13 14:29] bacongobbler commented on #5878
looks like a duplicate of #3319.

[2019-06-13 14:31] bacongobbler commented on #3319
@DanHoerst feel free to give #3477 a try and see if that fixes the issue for you.

[2019-06-13 16:03] hickeyma commented on #5550
@Saurabh-16 Looking at this again I am finding an issue during install when I use required. Output from my investigation as follows.

[code]

Looks like this might be a bug.

[2019-06-13 16:06] andytom opened #5886 "Helm 3: "required" template function breaks linter"
Output of `helm version`:
[code]

Output of `kubectl version`:
N/A

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
N/A

If a chart uses the `required` filter with no default value running `helm lint` over the chart will fail, this does not happen in helm 2.

An example chart that will reproduce this issue is as follows:

**Chart.yaml**
[code]
**values.yaml**
[code]
**templates/foo.yaml**
[code

[2019-06-13 16:23] andytom opened #5887 "Helm 3: helm template no longer has an execute flag"
Output of `helm version`:
[code]
Output of `kubectl version`:
N/A

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
N/A

The helm template command in helm 3 no longer has a `-x` or `--execute` flag, however this is still mentioned in the help.

[code]

[code]

I am not sure what the expected behavior is here, I assume the `-x` flag has been accidentally removed but it might have been removed for

[2019-06-13 16:24] bacongobbler commented on #5886
The patch was never brought over to Helm 3 prior to the removal of Tiller. Should be as simple as porting that patch over to the dev-v3 branch. Feel like taking a crack at that?

[2019-06-13 16:28] bacongobbler commented on #5887
There was an intentional design decision to remove the `-x` flag from Helm 3. There were design concerns around partial template execution in charts, as with the introduction of library charts, those templates may rely on others. See https://github.com/helm/helm/pull/5365#discussion_r265172112 for past discussion.

[2019-06-13 17:06] #5887 closed

[2019-06-13 17:08] mattfarina commented on #5834
Here's my concern with this. We could have a features that is only available at the command line and cannot be captured in stored configuration. That limits the ability to store everything in custom values files and just use those. For the times you would want this you would have to know to use a flag.

This limits consistent usage of the tool in automation scripts.

Not really sure what it would

[2019-06-13 17:09] scottrigby commented on #5834
@mattfarina here was the quick thought I mentioned at the end of the meeting. If someone needs to continue to unset a key without using the CLI - instead of saying you "can't do that", could an option be to include a Lua function to remove the key post-render?

[2019-06-13 18:09] mattfarina commented on #5871
@paulczar If Helm is to read the `apiVersion` and `kind` of each object and know how to act on them it's a new level of introspection and ordering.

So, let's say you have a CRD that needs to be installed, then a controller to work on those CRDs, and then some CRs you have a definite ordering thing. You have to know a fair amount of intent. Do we need to tell people to break these into two charts?

[2019-06-13 18:34] prydonius commented on #5871
Well FWIW Helm already defines the operation order per kind (https://github.com/helm/helm/blob/bed4054c412f95d140c8c98b6387f40df7f3139e/pkg/tiller/kind_sorter.go), so perhaps extracting the CRDs is not a terrible approach.

Not sure that the apiVersion matters that much, at least for core resources we can pretty much assume the kind name won't change or clash with anything (at least from beta onwa

[2019-06-13 18:40] andytom commented on #5886
I've opened a PR, the dev-v3 and master branch have drifted a bit but I think I've got everything across.

[2019-06-13 20:50] KidA001 commented on #2620
@polasekr can I ask what is in your main `Chart.yaml` file? I'm trying to replicate what you have setup, but I'm unclear what that file contains?

[2019-06-13 20:58] mattfarina commented on #5732
@technosophos So... everyone is using `.Release.Time.Seconds` which is seconds in UTC since the unix epoch. There is no golang format pattern to get this. So, we need a different way to handle this.

If we add a function to sprig there will be many using a version of Helm that doesn't support this. Sadly, lots of people use old helm versions. Not sure if they are using this part of release.

I cre

[2019-06-13 22:59] thangbn commented on #1809
Very bad call to use the release name within templates, are we looking to change this in helm 3 as we can afford to put in breaking changes

[2019-06-14 04:07] MaRuifeng commented on #944
#982 by implementing option 2 solves the problem partially as it's not secure to pass in secret environment variables in that way. Below command would leak the secret information in the output of the `ps` command. It would be great to have either option 3 or option 4 such that secret information can be passed in from a different pipe.

[code]

Secret management is well requested in #2196 with grea

[2019-06-14 05:20] shivakumargowda12 opened #5891 "Helm install/upgrade keeps on waiting for Job to complete"
Have created a Job with the following template definition which is part of an existing chart.
I want this Job to run a bootstrap python script on fresh install or upgrade.

**Problem:** helm upgrade keeps on waiting for the Job to complete, inturn python script has to  complete (Its taking 10min to complete).

apiVersion: batch/v1
kind: Job
metadata:
  name: bootstrap
  annotations:
    "helm.sh/h

[2019-06-14 10:46] hickeyma opened #5892 "Migration: Helm 2 to Helm 3"
This feature is to cover migration from Helm 2 to Helm 3.

The key changes in Helm 3 which will directly affect Helm 2 are as follows:
- Release state storage. The changes includes the Kubernetes resource for storage and the release object metadata contained in the resource. Releases are now on a per user namespace instead of default namespace like `kube-system`.
- Charts deployed per user namespa

[2019-06-14 11:11] hickeyma commented on #5892
Investigations currently underway and progress shown in WIP doc PR #5582. In conjunction with the doc, there will be tools needed for the migration process.

One of these tools will be for migrating Helm 2 release objects to Helm 3. The tool was previously mentioned in https://github.com/helm/community/issues/67#issuecomment-448045222.

From yesterdays dev weekly meeting, it’s suggested to write a

[2019-06-14 14:17] #5878 closed

[2019-06-14 14:23] hickeyma commented on #5892
I will attach the proposal when ready.

[2019-06-14 14:55] paulczar commented on #5871
So putting `crd` at the top of the sort order would be a good start.  Maybe helm can then check if the crd already exists with the `name` and `apiVersion`, and if so skip it, if not install it.   We could potentially do a equivalent of `kubectl auth can-i create crds` to validate the user has permissions to install crds, and have a friendly error.

In a larger picture we could also check each reso

[2019-06-14 15:08] CayoM opened #5893 "HELM3: namespace flag for scope is not working. default namespace is always used"
Output of `helm version`:
helm version
version.BuildInfo{Version:"v3.0.0-alpha.1", GitCommit:"b9a54967f838723fe241172a6b94d18caf8bcdca", GitTreeState:"clean"}

Output of `kubectl version`:
kubectl version
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.3", GitCommit:"5e53fd6bc17c0dec8434817e69b04a25d8ae0ff0", GitTreeState:"clean", BuildDate:"2019-06-06T01:44:30Z", GoVersion:"

[2019-06-14 15:18] CayoM opened #5894 "HELM3: its not possible to install a helm chart with helm upgrade anymore"
Output of `helm version`:
helm version
version.BuildInfo{Version:"v3.0.0-alpha.1", GitCommit:"b9a54967f838723fe241172a6b94d18caf8bcdca", GitTreeState:"clean"}

Output of `kubectl version`:
 kubectl version
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.3", GitCommit:"5e53fd6bc17c0dec8434817e69b04a25d8ae0ff0", GitTreeState:"clean", BuildDate:"2019-06-06T01:44:30Z", GoVersion:

[2019-06-14 15:21] CayoM opened #5895 "HELM3: --atomic flag doesnt exist anymore"
Output of `helm version`:
 helm version
version.BuildInfo{Version:"v3.0.0-alpha.1", GitCommit:"b9a54967f838723fe241172a6b94d18caf8bcdca", GitTreeState:"clean"}

Output of `kubectl version`:
kubectl version
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.3", GitCommit:"5e53fd6bc17c0dec8434817e69b04a25d8ae0ff0", GitTreeState:"clean", BuildDate:"2019-06-06T01:44:30Z", GoVersion:

[2019-06-14 15:31] bacongobbler commented on #5871
One of the problems with CRDs today stems from the fact that the CRD and its children (the CRs) are defined within the same chart. During resource validation, the CRs fail API validation because the CRD does not exist yet therefore there's no API endpoint that can accept those CRs. #2994 and @mattfarina's earlier comment summarizes the issue fairly well here.

Throwing CRDs earlier in the sort ord

[2019-06-14 15:35] bacongobbler commented on #5895
The --atomic flag is a very recent change to Helm 2, and was not ported over as a patch to Helm 3. We'd appreciate a PR to port it over to Helm 3.

[2019-06-14 15:35] bacongobbler commented on #5895
cc @cleac

[2019-06-14 15:37] bacongobbler commented on #5893
duplicate of #5628. Please make sure to search existing issues before opening new ones. Thanks!

[2019-06-14 15:37] #5893 closed

[2019-06-14 15:37] mattfarina commented on #5871
Detecting if a CRD is installed and installing if not present is the easy problem to solve or bike shed on. Can we look at the hard problems instead? The things that don't have easy solutions.

For example, how do we handle updating CRDs? For example, A CRD is installed and there's an operator using it in one namespace. Now, someone is installing a second operator for the same thing in a different

[2019-06-14 15:44] bacongobbler commented on #5628
To clarify, this is not a breaking change, but a bug in the current alpha release. We have had several race condition issues raised in Helm 2 where settings weren't being read properly from the environment (or in some cases, being ignored entirely), so we're taking the time to re-work that piece of the architecture.

Right now, we are working out how to read settings from multiple different locati

[2019-06-14 15:48] bacongobbler commented on #5628
See https://github.com/helm/helm/pull/4657, https://github.com/helm/helm/pull/2690 and https://github.com/helm/helm/pull/2682 for a few past examples why we're re-working the architecture for this piece.

[2019-06-14 15:52] mattfarina commented on #5875
This has to do with the `--atomic` flag. The description reads:

Looks like we should not purge if something else with the same name already exists.

[2019-06-14 15:55] bacongobbler commented on #5753
As far as I understand, the change to remove the creation of the namespace during `helm install` was intentional. This was made to mimic the same behaviour as `kubectl create --namespace foo -f deplyoment.yaml` - namespaces are a global cluster resource and the user installing resources into that namespace may not have the proper administrative rights to install that namespace.

There have also be

[2019-06-14 15:57] mattfarina commented on #5894
In both Helm v2 and v3 you need the `--install` flag set to install when using upgrade. Can you try it with that flag.

[2019-06-14 15:57] bacongobbler commented on #5891
How are you installing the job? Can you provide more information on how you install the chart?

[2019-06-14 16:03] mattfarina commented on #5877
Two thoughts come to mind...

1. This is a bit of config management rather than package management (helm's sweet spot)
2. They could share a secret with the credentials. The name of the secret from the RabbitMQ chart could be passed into the apps chart.

[2019-06-14 16:19] bacongobbler commented on #5871
Absolutely. Thank you for calling us out on that.

Ooh, good one. Yeah, this is a semi-common use case today where two applications rely on the same CRD. It's a good case of sharing common resources between multiple apps: how do the two reconcile a shared resource without stepping on eachother's toes?

If I'm not mistaken, this particular problem applies to all global resources including CRDs. For

[2019-06-14 16:44] patrickmslatteryvt opened #5896 "`helm list --failed` returning failed releases from history"
If I filter the list of currently deployed releases with grep I get the expected list of failed deploys:
[code]

However if I use the command `helm list --failed` it will spit out a list of all failed deploys that exist in the history (HELM_TILLER_HISTORY_MAX=10):
[code]

I expected that `helm list --failed` would return the same list as what `helm list | grep "REVISION\|FAILED"` did.
Is there som

[2019-06-14 17:40] CayoM commented on #5894
thanks for pointing it out. I overlooked it.

Works as designed.

[2019-06-14 17:40] #5894 closed

[2019-06-14 22:07] matthiasak commented on #5766
@karuppiah7890 is there any movement on fixing the issue of using CRDs with Helm 3?

[2019-06-14 22:24] rafagonc commented on #5876
I recommend reopening this issue because it is still happening even with the prettier error message on 2.14.1

I have a chart  with 5 subcharts. Added a secret to my master chart, the first helm upgrade runs fine, but the second time it fails and keeps failing on the next tries.

root@master:~#` helm upgrade processei processei-1.1.tgz
Release "processei" has been upgraded.
LAST DEPLOYED: Fri Jun

[2019-06-14 22:30] rafagonc opened #5897 "Helm upgrade failing since 2.12"
Helm keeps failing since 2.12 when you add a new resource to an existing chart, it succeeds first time but it fails sequentially after the first `helm upgrade`. On 2.14.1 the error message is prettier but the error continues.

helm upgrade processei processei-1.1.tgz
Release "processei" has been upgraded.
LAST DEPLOYED: Fri Jun 14 22:15:26 2019
NAMESPACE: default
STATUS: DEPLOYED

RESOURCES:
==> v

[2019-06-15 03:26] karuppiah7890 commented on #5766
@matthiasak I don't know actually, but I see there's a proposal discussion going on for CRDs - https://github.com/helm/helm/issues/5871

[2019-06-15 04:10] bacongobbler commented on #5897
Have you tried doing what the error suggests? What is the result?

[2019-06-15 04:19] karuppiah7890 commented on #5897
@rafagonc Let me know if I am reiterating the issue correctly

1. you created a chart with some resources
2. installed the chart - release got created
3. added some resources to chart
4. upgraded the release - it worked
5. upgraded again - it failed

is that the case? if yes, I am not able reproduce it with 2.14.1

[2019-06-15 04:31] karuppiah7890 commented on #5896
@patrickmslatteryvt Can you also show the output of `helm ls` ?

[2019-06-15 04:35] karuppiah7890 commented on #5896
And show the output of `helm history dev-app-prs-mwg-ecm-search`? I want to see what's the current status of the release and what are it's previous statuses

[2019-06-15 06:15] shivakumargowda12 commented on #5891
helm upgrade bt-namespace-bootstrap helm/bootstrap  --namespace bt-namespace
**Release name**: bt-namespace-bootstrap
**Chart name**: bootstrap
**Namespace**: bt-namespace
"custom-bootstrap-image" image has a python script which takes 10 minutes to complete it.
So, the above command waiting that much time to return success. It waits till the Job state is complete.

[2019-06-15 18:30] Stolr opened #5899 "Ignore some line with function"
--- Question / help ----

Hey ,

I am trying to create a config file with some gotpl function inside.

Here is the configmap definition :

[code]

As you can see in the .host line , I use a function call `getenv`.

This function will be use by my container with a  gotpl bin which allow me to use this getenv function.

I don't want Helm to consider this line and to just put it as is in my config fi

[2019-06-15 21:39] hlascelles commented on #4899
It's just `helm version --client`.

[2019-06-16 01:23] rafagonc commented on #5897
I have this problem specially when the chart has subcharts. My chart was installed on helm 2.12 I tried to update with 2.14, I did not want to but I will delete and install a brand new chart on 2.14 and try to update with 2.14.

[2019-06-16 05:52] AssafKatz3 commented on #1809
@thangbn We are using release name for labeling the objects in order to associate them with release (they are creating through operator so we cannot use other options)

[2019-06-16 07:21] bacongobbler commented on #5899
Try `.host = "{{ "{{" }} getenv "BACKEND_VARNISH" "backend" {{ "}}" }}";`. Encapsulating your angle brackets will escape the evaluation.

[2019-06-16 16:41] pc-rshetty commented on #3933
This problem is not just in configmaps. I changed the initialDelaySeconds in the Deployment it worked but when i revert it it doesnt work.

[2019-06-16 17:02] pc-rshetty commented on #3933
also 1 thing to notice is .. during helm upgrade i give some parameters in the command line like the image tag  and some in the -f values<myoverride>.yaml  . The command line config got effected but the one specified in the -f values<myoverride>.yaml is not getting changed (sometimes)

[2019-06-16 23:09] torstenwalter commented on #5628
@bacongobbler I think this code is actually fine:
https://github.com/helm/helm/blob/658c66dc66684a85be787a066c8434ac5212648c/cmd/helm/helm.go#L108-L113

If the kubeconfig here would be initialized with the correct values then it would work
https://github.com/helm/helm/blob/658c66dc66684a85be787a066c8434ac5212648c/cmd/helm/helm.go#L101-L106

It looks ok, but settings are not parsed at that point in

[2019-06-16 23:14] rafagonc commented on #5897
When the installation occurs on 2.12 and upgrade on 2.14 it has the same bug, but when I installed using 2.14 the nexts updates was running fine.

[2019-06-16 23:14] #5897 closed

[2019-06-17 01:26] karuppiah7890 commented on #5897
That looks like a bug we don't want. I will try to reproduce this. I don't
think people should be deleting and reinstalling to just upgrade from 2.12
to 2.14 and use the new version without any issues

On Mon, Jun 17, 2019, 4:44 AM Rafael Gonçalves <notifications@github.com>
wrote:

[2019-06-17 02:28] rafagonc commented on #5897
#3275

[2019-06-17 05:01] karuppiah7890 opened #5900 "Show better error when trying to install non-CRDs with crd-install hook"
Output of `helm version`:
[code]

This is related to the issue - https://github.com/helm/helm/issues/5756 . It's a case where people used `crd-install` hook to install resources which are not CRD. It worked before, but it doesn't work in helm > v2.14.0 as you can see in the above issue. The solution is not use `crd-install` hook to install resources which are not CRD, and we can inform the user ab

[2019-06-17 09:15] hickeyma commented on #5863
@sdake I did some investigation into this using a simple chart. I was unable to reproduce the issue. Here is the output of my testing.

[code]

[2019-06-17 09:17] hickeyma commented on #5863
@sdake Just wondering what I might be missing here?

[2019-06-17 09:22] flyisland commented on #3411
@vorsprung thanks, this tips save me a lot of time!

[2019-06-17 09:29] Stolr commented on #5899
Seems to work fine !

Thanks for your support

[2019-06-17 09:29] #5899 closed

[2019-06-17 11:09] hickeyma commented on #5677
PR #5678 now merged.

[2019-06-17 11:09] #5677 closed

[2019-06-17 14:03] #5879 closed

[2019-06-17 17:50] patrickmslatteryvt commented on #5896
Requested commands against the current state of the cluster
[code]

[code]

[code]

[code]

[2019-06-17 21:52] paulczar commented on #5871
If we take a stance of A helm chart being a standalone package, then we probably shouldn't try and handle two apps sharing a resource, instead we would make it three apps.

In this case where the shared resource is a CRD, then the CRD would be the third app, and would have its own method of install ( whether it being a helm chart that's installed first, or some other method ).

That would make our

[2019-06-17 22:48] bacongobbler commented on #5871
From Slack, courtesy of @jzelinskie:

[2019-06-18 01:14] airhorns commented on #5628
FWIW I think this is the cause of https://github.com/jetstack/cert-manager/issues/1744 if anyone else is trying to figure that out. Good case for testing the fix?

[2019-06-18 01:30] bacongobbler commented on #5628
Different issue, but it is related to namespaces.

[2019-06-18 07:49] cleac commented on #5895
@bacongobbler thanks for mentioning me, I can do this in a day or two. Is it ok?

[2019-06-18 08:05] cleac commented on #5875
That's a bit weird thing. I presume that issue was caused by the fact that you are trying to install an already installed chart. That is a bit weird thing by definition, but I agree here, this _must not_ be destructive operation in this case.

There should be placed a workaround to handle such cases.

[2019-06-18 09:21] hickeyma commented on #5896
@patrickmslatteryvt `helm list` will show the releases with their current revision, state etc.
`helm list --failed` will show all releases that failed. This means it pulls from current and history.

It is hard to tell exactly as the current state of your cluster seems to have changed from the original issue description but it would look like that when you did `helm list` one of the releases at tha

[2019-06-18 09:24] zioproto commented on #5861
This works for me on GCR (Google Cloud Platform, Google Container Registry).

[code]
Here my steps:

[code]

[2019-06-18 11:02] zioproto opened #5906 "helm chart pull requires explicit default tag `latest`"
Output of `helm version`:
version.BuildInfo{Version:"v3.0.0-alpha.1", GitCommit:"b9a54967f838723fe241172a6b94d18caf8bcdca", GitTreeState:"clean"}

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
GKE

Steps to reproduce:
[code]
It should use the default `latest` tag but it actually does not and it fails.

If adding `:latest` it works:

[code]

[2019-06-18 11:08] zioproto commented on #5752
I have the same problem here with Google Container Registry (GCR).
I dont care having `latest`, but can anyone clarify how to run `helm chart push` and have a pushed chart in the registry with a tag ?
Because without any tag I am not able to `helm chart pull`.
Thanks

[2019-06-18 12:36] hickeyma commented on #5906
@zioproto This should be covered by #5752. Closing as a duplicate and adding this as a comment to #5752.

[2019-06-18 12:36] #5906 closed

[2019-06-18 12:39] hickeyma commented on #5752
@nphmuller @jdolitsky @muehlburger Would  `helm chart pull` also be covered by this?  Refer to #5906

[2019-06-18 13:57] mattfarina opened #5907 "apiVersion still v1 in Helm v3"
The `apiVersion` in charts for Helm v3 is `v1`. Yet, there have been some chart changes including:

- dependencies moved to the `Chart.yaml` file
- `requirements.lock` is now `Chart.lock`
- annotations added to the `Chart.yaml` file

I understand that Helm v3 works for both the older and newer setups. But, external tools that work with charts don't know about the changes.

Should we move the `apiV

[2019-06-18 14:20] mattfarina commented on #5871
@bacongobbler Thanks for chasing that down. Two thoughts...

While I'm glad people are thinking through the addon elements to CRDs, [Brendan documented multiple use cases for these in a PR](https://github.com/kubernetes/enhancements/pull/833) of which addons was only one of the cases.

How does this all work for the operator pattern? Take for example, the etcd operator. What if it is installed int

[2019-06-18 15:28] fabianhjr commented on #5265
Hi @tylerstapler-wf, per #5695, it looks like tiller secrets storage is about to be deprecated.

[2019-06-18 15:29] tylerstapler-wf commented on #5265
@fabianhjr, Thanks for the update!

[2019-06-18 16:06] bacongobbler commented on #5265
It is not planned to be deprecated.

[2019-06-18 16:47] phillycheeze commented on #5868
Did anyone actually check the contents of the chart repository? It's coming from a fishy domain. Additionally, there is no reason to install tiller from another chart repo for the purposes of that discussion.

[2019-06-18 17:50] patrickmslatteryvt commented on #5896
I was hoping to find some helm command that I had overlooked that would give me a reliable list of current failed deployments, unfortunately this does not seem possible with the current release since it pulls from history as will as the current list of deployments.
Thanks for the help!

[2019-06-18 17:50] #5896 closed

[2019-06-18 18:29] bacongobbler commented on #5868
Yes. I've checked the contents and it's a standard chart repository.

That invocation does not install tiller from another chart repository. It tells helm to use that URL as an alternative stable chart repository. AWS and Google services are blocked in China, so many users in China have set up unofficial chart repository mirrors.

Please see https://github.com/helm/charts/issues/14607 for more con

[2019-06-18 18:33] sudermanjr commented on #5753
I think delegating namespace creation to a different tool (or the user), is a great idea.  More and more cluster-wide policies are being defined using namespace annotations and labels, which falls firmly outside the scope of a deployment tool such as helm.

That being said, the current UX with the namespace flag is quite troublesome.  In my initial cursory testing I am also seeing that the namespa

[2019-06-18 18:41] bacongobbler commented on #5753
That's great feedback, thank you @sudermanjr.

Yeah, we're tracking that discussion in #5628 :)

[2019-06-18 18:55] phillycheeze commented on #5868
Awesome, thanks for the context and reply!

[2019-06-19 01:17] pisymbol commented on #5628
This work around does not work for me. I am still getting the dreaded:

`
Error: the namespace from the provided object "kube-system" does not match the namespace "foobar-ns". You must pass '--namespace=kube-system' to perform this operation.
`

I'm trying to install seldon-core using helm3.

[2019-06-19 01:47] k opened #5912 "helm create on helm 3 alpha.1 it makes some files executable"
When I use a starter whose values.yaml and Chart.yaml are *not* executable after running a `helm create -p starter-example test` the `Chart.yaml` and `values.yaml` files show up as executable.

This did not happen before on helm2, furthermore I just copied the starters from helm2 home folder to helm3 home folder.

Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

[2019-06-19 03:29] k commented on #5654
Any update on this? This is likely blocking many users of prometheus-operator from using helm3.

[2019-06-19 05:42] bacongobbler commented on #5628
@pisymbol that's the same issue as reported above by @airhorns. Please see https://github.com/jetstack/cert-manager/issues/1744 for more info.

[2019-06-19 07:12] hickeyma commented on #5896
@patrickmslatteryvt You will get the current list of failed deployed releases with: `helm list | grep "REVISION\|FAILED"`. `helm list --failed` returns all current and historical failed releases.

[2019-06-19 12:23] pisymbol commented on #5628
@bacongobbler I understand that. However, the work around you outlined above does not work! i.e. helm3 right now is unusable which makes me sad.

[2019-06-19 12:25] sburton84 opened #5913 "Support verification of PGP trust signing"
The [page on provenance signing](https://github.com/helm/helm/blob/master/docs/provenance.md) mentions that part of the reason that OpenPGP was chosen was for its decentralised model, yet the decentralised trust model of PGP does not seem to actually be used when verifying signatures. As long as the corresponding public key is in the given keyring then the signature verifies successfully, regardle

[2019-06-19 12:28] mdeknowis opened #5914 "helm/hooks fail on OpenShift 4.1: failed install perform step: unknown (get configmaps)"
We are currently failing to deploy helm charts on OpenShift 4.1, using hooks. We can verify the issue using helm 2.11.0 and 2.14.1:

[code]

If we remove all hooks, the helm chart is working fine, but if there is any hook in place, it fails hard:

[code]

So we created a very simple example haveing a hook config map and a normal config map and try to deploy it:

[code]

So as you can, it fails aft

[2019-06-19 13:30] mattfarina commented on #5913
@sburton84 thank you for bringing this up.

Looking this over there are two parts to signing.

1. Did the content come from who it claims to have. If someone signs it and you verify it than you can trust it came from them
2. Do you trust the signer?

The first one is what Helm does and is the more common feature used in PGP. The second, where you have to decide how much you trust the signer, is a

[2019-06-19 13:39] mattfarina commented on #5914
To troubleshoot this we may have to use the openshift starter (see [here](https://www.openshift.com/products/pricing/)). OpenShift origin/OKD appears to be on version 3.11.

[2019-06-19 13:52] benjamin-hg commented on #5853
I'm getting the same error. Any updates on this?

[2019-06-19 14:44] karuppiah7890 commented on #5853
I didn't get the time to check more on this 🙈 but one good point that
Carlos gave was that it works with kubectl apply. I was checking how it
works there but not here. Still checking it, looks like the only current
workaround is to do kubectl apply manually. Will try to work on this and
post what can be done to mitigate the issue!

[2019-06-19 15:00] sburton84 commented on #5913
It looks like, for Docker container signing, OpenShift uses a separate [JSON config file](https://github.com/containers/image/blob/master/docs/containers-policy.json.5.md) to specify which keys are trusted. So they don't use PGP's web-of-trust features but they do have an alternative method for explicitly trusting specific keys.

[2019-06-19 15:16] sudermanjr commented on #5628
I have been testing the Helm3 alpha.1 release and setting the default namespace in my Kube context works for me.  You can see my testing example here: https://github.com/helm/helm/issues/5753#issuecomment-503258306

Note that the chart gets installed in the `sudermanjr` namespace which is set in my Kube context.

[2019-06-19 15:29] bacongobbler commented on #5628
We will eventually take a look at it, however there are larger priority items on the alpha milestone that we need to address first like the OCI integration and the removal of `helm init`. We should be able to take a look at that one once we're in beta.

If someone from the community wants to take a look at what's causing that issue, we'd be happy to review PRs though.

[2019-06-19 16:13] michelleN commented on #5647
Hey @jan25 - this seems like a great idea. Checking out how `helm test` for v3 works in[ this PR](https://github.com/helm/helm/pull/5911) would be a good place to start.  Feel free to take this on. The first step is to come up with a design for this feature. Is this going to be a flag? How do you figure out which tests are available? That sort of thing. Ping me if you wanna chat or need help.

Che

[2019-06-19 17:05] thomastaylor312 opened #5915 "Helm not updating Kubernetes objects properly"
Many users are still reporting issues with manifests being updated with a new value, but then those changes do not get applied to the actual Kubernetes objects. A common theme seems to be when you change a value from A to B and then B to A, things do not update correctly. However, there seem to be varied circumstances for when this happens and it has been hard to duplicate consistently for the cor

[2019-06-19 17:07] thomastaylor312 commented on #1844
Thanks for all of the feedback from people. I am going to lock this issue as we have created a new issue to capture similar bugs. Please continue discussion on that issue: #5915

[2019-06-19 17:09] thomastaylor312 commented on #3933
Thanks for all of the feedback from people. I am going to close and lock this issue as we have created a new issue to capture similar bugs into a single issue. Please continue discussion on that issue: #5915

[2019-06-19 17:09] #3933 closed

[2019-06-19 17:10] thomastaylor312 commented on #5915
As a note, I have taken this on and am trying to debug it based on all the examples provided in other issues

[2019-06-19 17:40] thomastaylor312 commented on #5915
If anyone has a chart they can share that reliably has this issue, please do

[2019-06-19 18:05] xaka opened #5916 "PriorityClass resources should be installed first before any pod-providing resources"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
[code]

---

If I've got a DaemonSet that uses a particular PriorityClass, then Helm install/upgrade fails with:
[code]

I've checked the source code and PriorityClass isn't part of https://github.com/helm/helm/blob/master/pkg/tiller/kind_sorter.go

[2019-06-19 18:10] xaka commented on #5916
Given there will be many more of such cases in the future as k8s is being actively developed, I think it might make sense to add a special annotation so users of Helm could specify an order/weight of k8s resources themselves.

As a workaround, such resource could be converted into a hook, but it's kind of dirty and I'd rather have a more official solution. Problem with hooks is resources aren't de

[2019-06-19 18:17] erismaster commented on #5915
https://github.com/mattermost/mattermost-helm/tree/master/charts/mattermost-team-edition

Making a change to the configJSON section of values.yaml (Which generates a configmap), does not apply new values without deleting the configmap prior to running `helm upgrade`

[2019-06-19 19:22] thomastaylor312 commented on #5915
Awesome. Thank you @erismaster I'll give it a whirl

[2019-06-20 15:06] archelangelo commented on #949
One use case would be setting up the upstream DNS service for `kube-dns` using the `stubDomains` configuration. The `stubDoamins` destinations can only be IP addresses of upstream DNS services. It would be great if the IP address assigned to a service can be referred to during the helm installation so that this `stubDomains` configuration can be done in the same helm chart. See [here](https://kube

[2019-06-20 15:40] zarbis opened #5920 "Expand effect of <CHARTNAME> to file names"
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform: GKE

I'm working on creating starter for applications that are intended to have multiple deployments within  a single release. Intended `values.yaml` for such app looks like this:
[code]

Corresponding templates access those variables just fine: `{{ index .Values "<CHARTNAME>-worker" "args" }}`.
But I wan

[2019-06-20 16:25] fabianhjr commented on #5265
Sorry I misread, it is going to be decoupled from helm?

[2019-06-20 16:57] nitrag opened #5921 "`helm package` overwrites previous"
`helm version`: `2.14`

I am attempting to create a CD pipeline for Helm to deploy a private registry to AWS S3.

My directory structure is as follows:
[code]

I have a deploy script as follows:
[code]

**Concern**: `helm package` will overwrite **existing** _packaged_ versions, changing the `digest` in `index.yaml` (after `helm repo index .`).

Is this a bug? Would the `digest` change have any ef

[2019-06-20 17:24] bacongobbler commented on #5265
Helm still needs to store release metadata. The removal of tiller just moves the rendering into the Helm CLI itself. It doesn't remove Tiller's functionality.

More info here: https://helm.sh/blog/helm-3-preview-pt2/

[2019-06-20 17:33] thomastaylor312 commented on #5915
@erismaster I can't seem to reproduce with that chart. I have tried modifying both the chart `values.yaml` and passed an extra values file. I also have used those files to switch back and forth between values. Each time, it updates the `Secret` object without a problem. In my case, I was changing the email settings with

[code]

Is there something else I should be modifying to make it work?

[2019-06-20 18:54] erismaster commented on #5915
@thomastaylor312 I tried to reproduce myself again and am not able to repro anymore. Perhaps the bug was in the helm chart itself and not with helm.
The chart was at [this tag ](https://github.com/mattermost/mattermost-helm/blob/mattermost-team-edition-3.3.0/charts/mattermost-team-edition/values.yaml) when I was experiencing the issue last.

[2019-06-20 19:18] thomastaylor312 commented on #5915
@erismaster Hmmm...doing the same thing as before and it is still working ok. Can you still reproduce the issue with that chart version? Also, what version of Helm and k8s are you using?

[2019-06-20 20:12] jan25 commented on #5647
Hey @michelleN thanks! I went through how we do `helm test` in v3 tag, also your PR was very helpful. Also, came across this https://github.com/helm/community/pull/40 proposal. So, i suppose this feature won't be implemented for helm2, but for v3 only?

Currently, i'm thinking of ways to add this as a new flag(`--name`) to `helm test` command which selects test manifests based on the name in metad

[2019-06-20 20:53] erismaster commented on #5915
@thomastaylor312 When I reported the bug in the previous issue it was against v1.14.1 (this cluster is on prem deployed with kubespray). Helm at that time was

`helm version Client: &version.Version{SemVer:"v2.13.1", GitCommit:"618447cbf203d147601b4b9bd7f8c37a5d39fbb4", GitTreeState:"clean"} Server: &version.Version{SemVer:"v2.13.1", GitCommit:"618447cbf203d147601b4b9bd7f8c37a5d39fbb4", `GitTreeSt

[2019-06-20 21:03] erismaster commented on #5915
@thomastaylor312 I can confirm that on the existing cluster the issue is no longer present. I was able to modified a value and have it successfully update the secret.
Helm has been upgraded from v2.13.1 -> v2.14.0
From what I can deduce it would seem the Helm update from v2.13 to 2.14 (either server or client), has resolved this issue.

[2019-06-20 21:16] thomastaylor312 commented on #5915
@erismaster Thanks for digging into it! Glad it is working for you, I'll keep trying to dig around to see if I can duplicate it

[2019-06-20 22:02] ltagliamonte-dd commented on #2639
I'm using terraform and passing all the values of `values.yaml` dynamically via terraform helm provider.
In this way the checksum of the file doesn't change, even if the confimap gets successful updated with the new values the pods in my deployment don't get bounced.

[2019-06-21 11:53] wxdao commented on #5184
Hi @scottrigby . May I know which release will include #5185's fix? I just encountered this problem when trying to remove resources definitions on istio chart.

[2019-06-21 12:29] NandoTheessen opened #5923 "Helm installation caught in limbo after pre-install-hook failure"
Output of `helm version`: 2.14.1 client & server

Output of `kubectl version`: 1.15

Cloud Provider/Platform (AKS, GKE, Minikube etc.): AWS EKS

Hi! I've been experimenting with the pre-install hook and encountered a failure during `helmsman apply` (I know this is the helm repo, but I figured it's only a very small abstraction over it).

My hook:
`apiVersion: batch/v1
kind: Job
metadata:
  name: a

[2019-06-21 13:57] mattfarina opened #5924 "Helm v2 detect v3 charts and message it cannot run them"
Helm v3 charts are different enough from v2 that v2 cannot run them. We should detect these charts and display a message to the user that they cannot be run with some further instruction. This should also handle the whole dependency tree.

PRs welcome if someone wants to try to write this.

[2019-06-21 14:44] vrobinho commented on #3173
According to the documentation, the `--wait` has a limited scope:

I might had overlooked it but I don't find the definition of the storage in the chart. Does it get created by the operator?

If yes, I don't see any readiness probe defined in the Deployment (/pod). A readiness probe based on the availability of the created artifacts could be handy here?

[2019-06-21 16:03] #5375 closed

[2019-06-21 17:59] JasonCarter80 commented on #5897
I've been getting this constantly on 2.13.1,   just upgraded to 2.14.1 and it seems to have gone away.

[2019-06-21 18:16] gkarthiks opened #5925 "h3 oc login"
Output of `helm version`:

Output of `kubectl version`:

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

[2019-06-21 18:17] #5925 closed

[2019-06-21 18:21] gkarthiks opened #5926 "h3 returns x509: certificate signed by unknown authority"
Output of `helm version`:

Output of `kubectl version`:

Server Version: version.Info{Major:"1", Minor:"11+", GitVersion:"v1.11.0+d4cacc0", GitCommit:"d4cacc0", GitTreeState:"clean", BuildDate:"2019-01-14T00:24:11Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}

Cloud Provider/Platform (AKS, GKE, Minikube etc.):  OpenShift 3.11

This x509 was not an issue with the helm v2. When I s

[2019-06-21 18:34] #5753 closed

[2019-06-21 18:47] bacongobbler commented on #5926
Can you please provide more information on your setup? That way community members can try to reproduce the issue for you and see if they can come to the same conclusion. Thanks.

[2019-06-21 22:45] pulpbill opened #5927 "Chart not recreating rs / pods"
Output of `helm version`:
`Client: &version.Version{SemVer:"v2.14.1", GitCommit:"5270352a09c7e8b6e8c9593002a73535276507c0", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.14.1", GitCommit:"5270352a09c7e8b6e8c9593002a73535276507c0", GitTreeState:"clean"}
`
Output of `kubectl version`:
`Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.4", GitCommit:"9befc2b8928a9426501d

[2019-06-22 04:10] bacongobbler commented on #5927
Have you tested this against a more recent version of Kubernetes? 1.7 is quite old at this point... It was release in 2017. We can't guarantee compatibility with a version of Kubernetes that old.

[2019-06-23 08:43] jan25 opened #5929 "Consider types in yaml when rendering charts"
Helm render uses `yaml.Unmarshal` to read yaml files, and then we manually traverse the yaml structure to convert to `chartutil.Values` which is of type `map[string]interface{}`. So any float64 values in yaml will be stringified as is without looking at their types.

PR https://github.com/helm/helm/pull/5928 breaks a test to reproduce this issue.

This issue manifested from https://github.com/book

[2019-06-23 11:17] karuppiah7890 commented on #5929
Check https://github.com/helm/helm/issues/5768 . I think this can be closed. I also commented in https://github.com/bookingcom/shipper/issues/102 about a similar solution

[2019-06-23 13:21] karuppiah7890 commented on #5853
@caarlos0 @benjamin-hg I have found what's causing the issue and how it works in kubectl. In kubectl code, MergePatchType happens based on the `IsNotRegistered` error, but in helm StrategicMergePatchType happens and it errors out when it's not able to create a patch. This is the code in helm:

https://github.com/helm/helm/blob/0d81d92a01c20a908d045c8067d04e3bb10be443/pkg/kube/client.go#L595-L614

[2019-06-23 15:29] Saggi432 opened #5930 "Tiller timing out every 30 sec"
### we are recently observing this issue with the tiller timing out every 30 seconds with below error for `helm init/upgrade/install` commands. Although other commands such as `helm init` and `helm list` works fine. i have even tried removing the `--wait` option as well but that does not appear to be the issue:

`[tiller] 2019/06/23 15:18:57 warning: Upgrade "xx" failed: Failed to recreate resourc

[2019-06-23 18:05] palashgoel7 opened #5932 "Unable to resolve .Release in ingress file"
Output of `helm version`:
`Client: &version.Version{SemVer:"v2.14.1", GitCommit:"5270352a09c7e8b6e8c9593002a73535276507c0", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.14.1", GitCommit:"5270352a09c7e8b6e8c9593002a73535276507c0", GitTreeState:"clean"}`

Output of `kubectl version`:
`Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.3", GitCommit:"5e53fd6bc17c0dec84

[2019-06-24 02:09] karuppiah7890 commented on #5932
Inside the `range`, the `.` refers to every element in the array `.Values.ingress.hosts`, and looks like the array contains strings which are hostnames, so when you say `.Release.Namespace` it won't work, instead you can do this which I have seen my team mates do

[code]

and it will work

[2019-06-24 05:20] palashgoel7 commented on #5932
Worked like magic. Thanks a lot!!

[2019-06-24 05:20] #5932 closed

[2019-06-24 05:25] amoury commented on #5584
@hickeyma Can I open a PR for this?

[2019-06-24 05:45] bacongobbler commented on #5584
looks like $5614 was already opened to address this.

[2019-06-24 05:47] amoury commented on #5584
Ok thanks for letting me know 👍

[2019-06-24 06:45] dubauski commented on #3486
@jonatav The #4806 addressed deep merge for the upgrade scenario. This issue was about merging values during normal install.

[2019-06-24 07:15] mdeknowis commented on #5914
@mattfarina Is there any chance, that we could increase any log outputs?

[2019-06-24 10:56] jan25 commented on #5929
@karuppiah7890 hey thanks!
I still think this is a bug we should fix and not stringify unmarshalled values as is. Lets wait for one of members to comment

[2019-06-24 11:55] Somefive opened #5934 "v3 plugin protocol bug"
Output of `helm version`:
version.BuildInfo{Version:"v3.0+unreleased", GitCommit:"6b96d2158b0db94f1e1792df2a0e5e7dfa6674b0", GitTreeState:"dirty", GoVersion:"go1.12.5"}

Output of `kubectl version`:
This issue is not directly related to kubectl's version.

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
Minikube. But again, seems not relative.

The bug happens to the use of plugins. In latest h

[2019-06-24 13:58] Stono opened #5935 "Helm upgrade broken when CRD is missing"
Helm `2.14.1`:

Take the following scenario:

`chart1`:
  - creates `CRD1`
  - creates `CRD2`

`chart2`:
  - creates instance of CRD1, and CRD2

`chart1` deprecates `CRD2`, so the CRD is removed during the `helm upgrade`.  This is fine, however when you come to remove the CR from `chart2`, you'll get an error as it appears helm is trying to do a `GET` first on the resource, but as the CRD has been

[2019-06-24 16:25] hickeyma commented on #5929
Hey @bacongobbler, you might be best to respond as you have provided an insight in #1707.

[2019-06-24 16:41] bacongobbler commented on #5929
Yeah, given this is the same point being made in #1707 I think this is a duplicate of the same issue.

As @technosophos mentioned in #1707, during the conversions to and from JSON done by `ghodss/yaml`, integers are being cast into float64s to represent Javascript's numeric type. This is causing all integers above a certain value to be represented in scientific notation.

Closing as a duplicate.

[2019-06-24 16:41] #5929 closed

[2019-06-24 16:49] hickeyma commented on #5934
@Somefive Could you provide the plugin commands that are failing and the errors returned?
I have been unable to reproduce when doing the following testing:
[code]

[2019-06-24 16:53] bacongobbler commented on #5934
I can take a look at this as I'm currently re-working the getter package. After pouring over the code for the last week it would require some internal refactoring in order for helm plugins to pull from a chart repository, so I'm marking this as a feature. @Somefive has pointed out one area, but there are a few others (like in `pkg/downloader`) where we'd need to address this as well.

https://gith

[2019-06-24 16:55] bacongobbler commented on #5934
@hickeyma this is in reference to allowing plugins registered as protocol downloaders for fetching charts. Have a look here: https://helm.sh/docs/plugins/#downloader-plugins

[2019-06-24 16:57] bacongobbler commented on #5935
#5871 seems relevant to this discussion, as we've talked about whether or not charts should be able to manage resources that can affect other charts (such as CRDs). See https://github.com/helm/helm/issues/5871#issuecomment-502157387.

[2019-06-24 17:00] hickeyma commented on #5934
Thanks for "heads up" @bacongobbler.

[2019-06-25 01:44] Somefive commented on #5934
@hickeyma The problem happens to plugins providing other protocols. For me here, I was using Alibaba's **acr** protocol and the error happens to `g.Get` function and returns `unsupported protocol scheme`.
As @bacongobbler said, I also find there is some other TODO which will cause similar problems.
The fix here I provided is effective to `helm repo add` command but for `helm pull` or other things,

[2019-06-25 03:53] gkarthiks commented on #5926
@bacongobbler  sure, apologies for the delay.

The step to reproduce is very simple. Have a kubernetes cluster with self-signed certificate. (I have OCP with Self Signed certificate)

From your local machine (i am using Mac), do helm init. When trying execute an install or list command, the x509 error will be thrown.

[2019-06-25 03:56] Somefive opened #5936 "Same bug with v2.9.0 in helm v3"
Output of `helm version`:
3.0.0

Output of `kubectl version`:
Skip.

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
Skip.

This problem seems to be the same problem in #3881 which has been already fixed in #3915 but again appeared in helm v3. Location `helm.sh/helm//pkg/downloader/chart_downloader.go`, Line 179.
[code]
It should swallow the error thrown here.

[2019-06-25 03:56] bacongobbler commented on #5926
Can you provide your setup instructions? There's 1,000,001 ways to setup a k8s cluster, each potentially ending in different results. If we can provision an identical cluster setup then we can start to nail down the issue.

[2019-06-25 03:59] gkarthiks commented on #5926
So sorry @bacongobbler. This is our corporate cluster. Unfortunately I have no access/ idea how its been setup. But I think its an playbook installation.

[2019-06-25 05:48] peay commented on #5915
@thomastaylor312 not quite sure if this is related, but I couldn't find clear documentation on the topic/expected behavior:

- I have used `kubectl edit` to change a volume mount and add a node selector to a `Deployment` deployed with Helm.
- I have then run `helm upgrade` with my original chart. I was expecting my manual changes to be reverted, but they did not. I have `timestamp: "{{ date "20060

[2019-06-25 07:18] Stono commented on #5853
Also being hit by this!
`Error: failed to create patch: merging an object in json but data type is not struct, instead is: map`

[2019-06-25 09:45] hickeyma commented on #5864
Ping @mobsikx, did you manage to build?

[2019-06-25 09:47] stylianosrigas commented on #5864
I was facing the same issues. Managed to overcome the problem by using dep instead of go mod.

[2019-06-25 09:55] hickeyma opened #5937 "Helm 3: style conformance broken"
The style conformance is broken which means tests will not run in a dev environment.

[code]

[2019-06-25 10:42] hickeyma commented on #5915
@thomastaylor312 Some feedback that might be relevant:
- When Helm does an upgrade, it uses the Kubernetes [Patch API](https://github.com/kubernetes/cli-runtime/blob/master/pkg/resource/helper.go#L141). However, not all Kubernetes objects are handled by patch, and in such a scenario it will think that no change has occurred and will not apply the update. This is the reason why updates seem to occu

[2019-06-25 11:23] newwdles opened #5939 "Helm upgrade not upgrading deployment when time out waiting for condition"
Hello,

When helm upgrade fails because of a timeout while waiting for the deployement, subsequent upgrade seems to generate a delta between the data stored in helm ConfigMap and what's truly deployed in kube, resulting in an impossibility to deploy a change.

Step to reproduce :

1. Initial deployement (everything ok)
`helm upgrade --install --namespace mynamespace --kube-context mykubecontext --

[2019-06-25 12:57] hickeyma commented on #5936
@Somefive I failed to reproduce this. I have shown my testing below. Maybe you can provide more details on your testing?
[code]

BTW, `elasticsearch-operator` seems to no longer have dependencies:
[code]

[2019-06-25 13:12] Somefive commented on #5936
@hickeyma
Go to `elastic-stack/requirements.yaml`, change the repository of logstash to `https://apphub.aliyuncs.com/` and it will show
[code]

[2019-06-25 13:32] hickeyma commented on #5936
@Somefive I would expect this to fail as the repo is not added to the repo list. The error message is slightly different in v2 but still the same logic.

[code]

[2019-06-25 13:37] Somefive commented on #5936
@hickeyma You are right. I skipped one step. Actually, you can run `helm repo add apphub https://apphub.aliyuncs.com/` first and then you can get the same scenario to #3881.

[2019-06-25 13:37] tombh commented on #2956
I'd just like to offer a different perspective on this, that isn't mentioned elsewhere. Whilst it is frustrating that Helm doesn't offer more help here, I've found that I'm usually able to get myself out of this situation by making a few tweaks myself. Eg; recently an upgrade failed because I had put some secrets in the correct namespace, once I'd corrected that issue Helm eventually sorted itself

[2019-06-25 13:48] kri5 commented on #5628
I found out where is located the issue with namespace enforcement.

[code]

If the `RequireNamespace` is not called, it relaxes the namespace enforcement, which is described as follow in the [here](https://github.com/kubernetes/cli-runtime/blob/d2b904cc6da9f9451038e4bf255c76803e7472ee/pkg/resource/builder.go#L494)
[code]

I am not familiar with all of this, and on what should be done.

[2019-06-25 13:50] ds-ms opened #5941 "Helm init timeout"
When trying to run `helm init` I get the following error:

[code]

Although, it succeeded afterward when I tried `helm init --force-upgrade`.

It is kind of ironical, the warning says that `Tiller is already installed` but the error says `Tiller was not found`.

I was going through the code and noticed that the error which was thrown by the `installer.Install()` call was getting [masked](https://g

[2019-06-25 13:51] hickeyma commented on #5936
@Somefive Can you show the command and the full output of the command when you run it?

[2019-06-25 13:53] ds-ms commented on #5941
I raised a PR to print some extra `[INFO]` logs when `--debug` is enabled.

[2019-06-25 14:05] Somefive commented on #5936
@hickeyma
[code]

This problem roots in the inconsistency of request url `https://apphub.aliyuncs.com/charts/logstash-1.13.0.tgz` and repo index provided url `charts/logstash-1.13.0.tgz` which I think is caused by chartmuseum's indexing url generation. I think the solution in #3915 is the easiest way to solve it.

What do you think? Could you reproduce it or get other result?

[2019-06-25 14:50] hickeyma commented on #5936
@Somefive Thanks for the feedback. I am able to reproduce now.

[2019-06-25 14:51] hickeyma commented on #5936
Closing as #5940 merged.

[2019-06-25 14:51] #5936 closed

[2019-06-25 15:15] thomastaylor312 commented on #5915
@peay Yep, that comment is correct. We are working on a new merge strategy for Helm 3 stuff

@hickeyma re: the patch API, my thinking is something along those lines as well. Most people were reporting problems with `Deployment` and `ConfigMap` objects though, which are patch-able. Let me take a look at that example and give it a whirl

[2019-06-25 15:48] apozgaj commented on #2620
Currently I'm using helm client/server 2.14.1 and I've setup my folders the exact same way as @polasekr did for different environments.

I haven't seen any warnings with this version.

[2019-06-25 16:14] #5673 closed

[2019-06-25 16:16] bacongobbler commented on #5937
closed via #5938

[2019-06-25 16:16] #5937 closed

[2019-06-25 16:21] #5864 closed

[2019-06-25 16:57] charuni2018 opened #5943 "Access issue while accessing kuberntes dashboard"
Output of `helm version`: nothing

Output of `kubectl version`:services \"https:kubernetes-dashboard:\" is forbidden: User \"system:anonymous\" cannot get resource \"services/proxy\" in API group \"\" in the namespace \"kube-system\"",
  "reason": "Forbidden",

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

[2019-06-25 17:01] charuni2018 commented on #5943
I am trying to provide namespace access to the development team hence I am trying to have another config which I can share with them just for the namespace.
Below are the steps I followed.
1. Namespace creation
2. Give default account access performed role binding & cluster binding
3. kubectl describe secret default-token-xXXX --namespace=demo
4. Add user token to .kube/config file and removed the

[2019-06-25 17:10] bacongobbler commented on #5943
Why is this a Helm issue?

Please open an issue over at https://github.com/kubernetes/dashboard if you're having troubles with the kubernetes dashboard. If you're having troubles with a particular chart, please contact the maintainers of that chart and ask for their assistance. Thanks.

[2019-06-25 17:10] #5943 closed

[2019-06-25 18:01] BatmanAoD commented on #2060
@technosophos

I'm trying to understand how Helm v2 interacts with namespaces and how v3 will be different, and one of your old comments in this thread confuses me:

It sounds like releases deployed from Helm v3 will in fact be namespaced; is that correct? Do you know how the RBAC issue has been resolved? The only resolution I can think of that would avoid the issue you pointed out is for Helm v3

[2019-06-25 19:55] jlegrone commented on #5647
We might be able to use a label selector which would be more flexible than name (helm would need to compute all the labels for test pods/jobs before applying them to the cluster, then use a user-specified label selector to figure out which ones to run).

[2019-06-25 22:45] gnydick commented on #2060
All we really need is for us to be able to use the namespace parameter and
name parameter as a compound key to identify a release rather than affixing
a namespace onto a name.

I haven't read the proposal for helm v3, but the sensible thing to do is
adopt the selector pattern that k8s already uses and there's no need to
support any specific fields.

On Tue, Jun 25, 2019, 11:01 AM BatmanAoD <notifi

[2019-06-26 02:12] alexkreidler opened #5944 "`helm prune`: purge old deleted releases"
It might be nice to have a `helm prune` command to `purge` all your old releases that you've deleted and no longer need. It would be similar to the `docker prune` command, which removes old stopped containers and other resources.

It would effectively do this:
[code]

[2019-06-26 02:19] alexkreidler commented on #5944
[This StackOverflow thread](https://stackoverflow.com/q/47817818) describes multiple methods for deleting (and/or purging) all releases.

Another reason for a `helm prune` command would be that it would encourage a flexible `delete` and `rollback` workflow. It would discourage `helm delete --purge` on the first go by providing an alternative for later. This would allow users to `rollback` deletes

[2019-06-26 03:54] astleychen commented on #2247
Wanted.

[2019-06-26 08:04] hickeyma commented on #4759
Ping @masterdrdark @sam-cogan. Any update on this?

[2019-06-26 08:08] hickeyma commented on #5200
Ping @justanr. Any progress with this?

[2019-06-26 08:11] IamGabrielWu commented on #3275
I fixed the issue by
1. delete those resources that complained by "helm upgrade". (It says Not found but actually it can be found). Don't delete the whole release, otherwise if in production you will be screwed completely.
2. redo helm upgrade. Now this time it should be "Happy Helming" shows up. :)

[2019-06-26 08:22] #5880 closed

[2019-06-26 08:30] hickeyma commented on #2060
@BatmanAoD  @gyndick In Helm v3, charts are installed in the user context. This means it is installed in that user namespace and will use the RBAC of the user. Release names are on a namespace basis also.

You can try it out with the Alpha.1 release: https://github.com/helm/helm/releases/tag/v3.0.0-alpha.1 or build from the `dev-v3` branch.

[2019-06-26 08:38] hickeyma commented on #5944
@alexkreidler Would you like to try a PR for this?

[2019-06-26 09:49] jinleileiking opened #5946 "give a pdf version for doc :)"
Output of `helm version`:

Output of `kubectl version`:

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

[2019-06-26 10:00] hickeyma commented on #5946
@jinleileiking What is the use case for a PDF version of the docs?

[2019-06-26 10:20] Stono commented on #5853
cc. @bacongobbler - sorry to tag you explicitly but we have a bunch of pipelines that are now unable to deploy because of this bug.  Wondering if you have any ideas how we can work around it?

[2019-06-26 10:37] masterdrdark commented on #4759
I'm sorry for the late reply, I totally missed the updates on the issue.

As of today we're using helm 2.14.1 and I wasn't able to reproduce this behavior.

Thank you!

[2019-06-26 10:41] hickeyma commented on #4759
Thanks for feedback @masterdrdark. I will close the issue then.

[2019-06-26 10:41] #4759 closed

[2019-06-26 11:57] jinleileiking commented on #5946
I want to read all helm things on kindle :)

[2019-06-26 11:57] jinleileiking commented on #5946
And seems there are a lot of solution to get pdf/mobi from md files.

[2019-06-26 12:19] alexkreidler commented on #5944
Sure, I will if I get some time. Thanks!

[2019-06-26 12:56] hickeyma commented on #5946
@jinleileiking I am not sure that providing the docs in PDF format so you can read them on a kindle is a use case worth pursing. I think the web docs are the best format for everyone to use.

Thanks for raising the request.

[2019-06-26 12:56] #5946 closed

[2019-06-26 13:19] Borlay commented on #5149
If i want to install elastic search with command:
helm install --name elasticsearch elastic/elasticsearch

Can someone explain how to set nodeSelector? Because i have windows and linux nodes and i need to run it on linux node with node selector:
"beta.kubernetes.io/os"="linux"

If it's some kind of template, where i can find it and change?

[2019-06-26 13:25] bacongobbler commented on #5944
I think this may be a valuable plugin. It has a niche use case where we may not want to roll it into core, but it is useful enough in certain cases. A plugin similar to helm-diff could be useful.

[2019-06-26 13:43] pytimer commented on #5149
@Borlay You can refer to https://github.com/helm/charts/blob/master/stable/chartmuseum/values.yaml, but it require your chart templates support nodeSelector. Hope it can help you.

[2019-06-26 13:44] alexkreidler commented on #5944
I'm working on this right now, it seems like a very basic implementation that just calls out to other library functions, namely `ListReleases` and `DeleteRelease`, and would not add any technical debt to the core. The basics are adding a `cmd/helm/prune.go` file for the command and adding a `PruneReleases` function to `pkg/helm/client.go`, and then if we wanted to keep the options from the delete

[2019-06-26 13:53] #5941 closed

[2019-06-26 13:56] jinleileiking commented on #5946
Thanks too

[2019-06-26 14:47] justanr commented on #5200
No progress, continuing to use the default value of `0.0.0.0/0` doesn't look like any commits or PRs are attached to this issue either. Not sure what is expected of me in this situation, not familiar enough with Go to confidently attempt to address the issue myself.

[2019-06-26 14:57] gnydick commented on #2060
I will not be using helm v3. Every operations team has different
constraints and ways of doing things. Operational tools should be simple,
single purpose utilities i.e. Unix philosophy compatible.

My scripting, logic, etc live outside of my package manager.

TLDR;

The most important aspect of being Unix philosophy compatible is the
ability to provide escape hatches between steps.

Having a long,

[2019-06-26 15:33] BatmanAoD commented on #2060
@hickeyma Thanks for the reply! I'm actually not wondering so much about how Helm's operations will be access-controlled (though that's a related issue) as whether Helm itself will still be able to perform global operations such as creating ClusterRoles in v3.

[2019-06-26 15:43] hickeyma commented on #2060
@BatmanAoD That should work as they are cluster-scoped resources. It might be wrth trying it out if you get a chance.

[2019-06-26 16:25] bacongobbler commented on #2731
Fixed in Helm 3 via #5874. Closing!

[2019-06-26 16:25] #2731 closed

[2019-06-26 16:56] Saggi432 commented on #5930
The timeout happened due a web hook which was preventing the deployment for configurations.. so closing the issue for now.

[2019-06-26 16:56] #5930 closed

[2019-06-26 18:13] wieslaw-decent opened #5948 "Helm upgrade doesn't wait for Job to complete"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): GKE

I'm installing a chart that consists of a single Kubernetes `Job`. Since I want it to run on every `upgrade`, I've given it a name that changes each time:
`name: keycloak-migrations-{{ now | date "20060102150405" }}`

The problem is that Helm doesn't seem to wait for the `

[2019-06-27 03:56] mfilotto commented on #5948
I'm afraid Jobs are not managed by helm

[2019-06-27 03:57] mfilotto commented on #5948
I tried to set the Job as a hook but then I have the error "failed: no objects visited"
#4670

[2019-06-27 05:18] hickeyma commented on #5948
@ Jobs are managed by Helm. The discussion in #4670 mentions the use of hooks which are "un-managed" and if you have a chart which has everything marked as a hook then there is nothing to install (https://github.com/helm/helm/issues/4670#issuecomment-472896695).

[2019-06-27 05:21] hickeyma commented on #5948
@wieslaw-decent Can you show the job so I can get a better understanding of the situation?

[2019-06-27 06:20] nicorikken commented on #5358
@crubier the proposal you outlined would suit are use-case and looks very ergonomic. I too tried this, assuming that would work, but no.
When it comes to combining charts, Helm is missing some key features. We need these features to start sharing and combining more templates in the community, rather than everyone having to build their own.

[2019-06-27 06:47] nicorikken commented on #2492
I too want to template in my values.yml Mostly to stack complexity and specific configuration using charts. So I start with the generic chart, build my own chart on top having most configuration and leaving some final details to be defined when deploying. YAML anchors are not sufficient: they cannot replace inside YAML values (like a multiline configuration-file string), and lack the Helm dependen

[2019-06-27 07:54] wieslaw-decent commented on #5948
@hickeyma sure! here you go:
[code]

No annotations are present, so it shouldn't be treated as a hook.

[2019-06-27 08:06] mumoshu commented on #2492
@nicorikken Sry for the shameless plug but I'd suggest trying [helmfile](https://github.com/roboll/helmfile) for templating values and layering templated helm releases and [helm-x](https://github.com/mumoshu/helm-x) for modifying charts without forking, and even the combination of helmfile + helm-x.

I agree that we need something to deal with issues you've mentioned. On the other hand I don't wan

[2019-06-27 08:18] qist opened #5949 "helm list -n Parameter failure"
Output of `helm version`: version.BuildInfo{Version:"v3.0.0-alpha.1", GitCommit:"b9a54967f838723fe241172a6b94d18caf8bcdca", GitTreeState:"clean"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.0", GitCommit:"641856db18352033a0d96dbc99153fa3b27298e5", GitTreeState:"clean", BuildDate:"2019-03-25T15:53:57Z", GoVersion:"go1.12.1", Compiler:"gc", Pla

[2019-06-27 09:22] bacongobbler commented on #5949
What is the expected output? I can't tell from the information provided what I should expect to see, as well as how to reproduce the issue. If you can provide that information then perhaps we can better understand the problem you are seeing.

[2019-06-27 09:23] bacongobbler commented on #5949
Oh. I see now.

Closing as a duplicate of #5628. Please make sure to check the issue queue first before opening an issue. Thanks.

[2019-06-27 09:23] #5949 closed

[2019-06-27 14:03] withnale commented on #3242
bump.

I've come back to using helm subcharts after some time away and there still doesn't seem to be a clean way of doing this other than what I proposed. Any chance if I clean this up it will get a merge?

[2019-06-27 14:34] PacoDu commented on #1811
We face the same issue: replicasets are not removed after a helm upgrade (for harbor helm chart)

Kubernetes version:
[code]

Helm version:
[code]

[2019-06-27 14:46] hickeyma commented on #5915
@thomastaylor312 Sure, just wanted to add about cases which are not patchable. This adds to the mis-understanding.

Issue #1811 might also be worth a look. If applicable, maybe add details to this and close out that issue?

[2019-06-27 15:26] kfox1111 commented on #3242
I still really suffer from not having a way to map variables too. so, I gotta do stuff like this, or worse constantly:
[code]

[2019-06-27 16:40] astleychen commented on #3732
It seems not to work. How do I send TLS client cert to the server when doing `helm dep up`?

[2019-06-27 17:21] jowparks commented on #1760
I just ran into this issue as well, it seems counter intuitive that you need two sets of comments to prevent rendering. Don't you think it makes more sense to not render anything in a comment?

[2019-06-27 17:36] limscoder opened #5950 "Helm 3 does not see to respect the --kubeconfig flag"
Output of `helm version`:

version.BuildInfo{Version:"v3.0.0-alpha.1", GitCommit:"b9a54967f838723fe241172a6b94d18caf8bcdca", GitTreeState:"clean"}

Output of `kubectl version`:

Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.1", GitCommit:"b7394102d6ef778017f2ca4046abbaa23b88c290", GitTreeState:"clean", BuildDate:"2019-04-08T17:02:58Z", GoVersion:"go1.12.1", Compiler:"gc", P

[2019-06-27 17:58] pragyamehta opened #5951 "Helm3 : helm rollback with multiple replicas does not work as expected"
Repro steps:
1. helm install chart
Chart has only one deployment file :
[code]

2 pods will get created, both with crashloopbackoff

2. Update the deployment file's image name to a working image e.g. murph15/pingapp

3. helm upgrade the release

4. 2 pods are now running successfully with the new image

5. Now, helm rollback to revision 1

6. **Expectation** : 2 pods both with image hello-world sh

[2019-06-27 17:58] limscoder commented on #5950
it appears that setting KUBECONFIG works as expected.

[2019-06-27 18:50] pragyamehta opened #5952 "Helm3 : helm status does not show k8s resource names that were deployed as part of release"
helm status in Helm2 used to show a list of deployed kubernetes objects like deployments/pods/ingresses/services etc. Helm3 does not show that. It does however show the manifest. I was wondering if there are any plans to add the deployed object names like Pods to Helm3's status command

[2019-06-27 19:40] kv0824 commented on #3558
I don't know why @eicnix eicnix is not taken. This question firstly misled me. Finally I figured out the tpl function should help. I copied the Helm Document: The tpl function allows developers to **evaluate strings as templates inside a template**.

Though we cannot get .Release.Name in value.yaml file. But the value in value.yaml will be consumed in  ConfigMap in this question. And then .Release

[2019-06-27 20:02] bacongobbler commented on #1760
The rendering order is

1. text/template (evaluating the `{{`)
2. YAML

Because the template engine runs before it's serialized into YAML, the second pair of comments are necessary.

You could wrap the entire line in an `{{ if` block to prevent rendering comments if that's what you mean.

[2019-06-27 21:54] limscoder opened #5953 "Helm 3: Does not allow charts with resources in multiple namespaces"
Output of `helm version`:

v3.0.0-alpha.1

Helm errors when the chart contains a resource in a different namespace than the current kube-context, even when the user has cluster-admin access.

[code]

This prevents charts with resources in multiple namespaces from being installed.

[2019-06-28 03:31] IamGabrielWu opened #5954 "objects deleted but helm release still there"
I manually deleted some namespaces.
And there were some release installed in those namespaces by helm.
When i do "helm ls" i can see those releases still exist.

Is there a way i can update helm database so that "helm ls" doesn't show the deleted resources ?

[2019-06-28 05:20] bacongobbler commented on #5954
`helm delete --purge RELEASE_NAME`?

[2019-06-28 05:40] stevegore commented on #2064
If anyone else arrives at this point because you're scripting up a `helm install` followed by a `helm upgrade --install`, the good news is you can now use the `wait` command to wait for the pod to be ready before you do the upgrade. In the below I'm using labels to select the right pod:

[code]

[2019-06-28 07:21] IamGabrielWu commented on #5954
@bacongobbler No, I mean do it in a batch.
For example i have thousands of releases in 10 namespaces, and i deleted 10 namespaces now i don't want to run "helm delete --purge RELEASE_NAME" one by one. I want to refresh helm database so that  it's updated to reflect latest status.

[2019-06-28 08:47] Dhananjay-J-P opened #5955 "Need a way to order sub charts deployment specified in requirement.yaml"
Is there any way we can set order in which subcharts will be deployed. Currently, I have a chart with some subcharts, lets say chart a, chart b, chart c ... chart n.

can I set order so that unless until chart a's container is up chart b won't be launched?

[2019-06-28 08:56] hickeyma commented on #5954
@IamGabrielWu When you are deleting the releases in the first place, use `--purge` flag and they will be removed from the history. Then, you will not need to refresh.

[2019-06-28 09:29] IamGabrielWu commented on #5954
I didn't delete releases. I mean i deleted namspaces, use "kubectl delete namespace x1, x2, x3". I' seeking a way to also update helm release databases, in a batch .

[2019-06-28 10:00] AuroreM commented on #4030
Hi @maxhov and @bacongobbler !
Is a contribution about adding a --litteral option is still welcomed ? I would be glad to work on this as a first PR :)

[2019-06-28 10:10] hickeyma commented on #4030
@AuroreM I'd say go for it. We can see then when reviewing the PR.

[2019-06-28 10:22] hickeyma commented on #5952
@pragyamehta Thanks for raising this.

In v2:

[code]

In v3:

[code]

[2019-06-28 10:30] hickeyma commented on #5954
Ah, see what you mean. There is no batch delete capability but it is easy to script it using Helm commands. Here is an example using bash:

`helm delete $(helm ls --all --short --namespace <namespace>) --purge`.

Hope this helps.

[2019-06-28 10:52] IamGabrielWu commented on #5954
@hickeyma wonderful. Thanks very much 👍

[2019-06-28 11:06] hickeyma commented on #5954
Not a bother.

[2019-06-28 11:06] #5954 closed

[2019-06-28 11:26] hickeyma commented on #5950
Thanks @limscoder. This seems to be a bug alright.

I tested it as follows:

[code]

[2019-06-28 11:40] hickeyma commented on #5953
@limscoder https://github.com/helm/helm/issues/5628 is opened which covers not being able to specify namespace instead of using the user kube context namespace.

WRT multi-namespaced charts, @bacongobbler @adamreese are they on  the agenda for Helm 3.

[2019-06-28 12:55] hickeyma commented on #5951
I tested this with a scaffold chart and it works using replica set changes from 2 to 3 and rollback. This when using the same image.

@pragyamehta Does it work as expected when the image is the same for the replicas?

[2019-06-28 13:01] hickeyma commented on #5955
Closing as a duplicate of https://github.com/helm/helm/issues/5723.

[2019-06-28 13:01] #5955 closed

[2019-06-28 13:02] hickeyma commented on #5723
Some context on ordering also  in https://github.com/helm/helm/issues/1780

[2019-06-28 13:07] hickeyma commented on #5723
Ping @ameymehta.

[2019-06-28 14:08] timgentonzo opened #5956 "Bug when failed deployment that adds new resources"
The bug is a little obscure. You can reproduce easily with instructions in this repo - https://github.com/timgent/helm-bug-demo - it also gives a full description of what happens

Broadly the bug occurs if you new resources get added during a deployment that fails. When you then fix the reason for that failure it will fail to roll out the new fix.

Output of `helm version`:
[code]

Output of `kube

[2019-06-28 17:19] pragyamehta commented on #5952
I don't think if I'll be able to rely on
export POD_NAME=$(kubectl get pods -l "app=mychart,release=mychart" -o jsonpath="{.items[0].metadata.name}")

This is because this query relies on the labels app and release which are optional labels that can be removed from the chart.
Is there any plan of Helm3 status command having the same output as that of Helm2 status command?

[2019-06-28 17:25] pragyamehta commented on #5951
Yes, it works when using the same image with varying pod instances. It fails when I change the image.
You can try this scenario using the same image names as I have mentioned with the same repro steps. The images are public images. (Please note, I do not change the replica count during the repro, it is always 2)

[2019-06-28 18:33] jaytaylor commented on #5916
I've also observed cases where cluster-action is blocked due to priorityClass being absent after a `helm install --upgrade`.

For example:

[code]

A manual workaround (temporary) solution is published here: https://gist.github.com/jaytaylor/451c5caf27780ec0009494bf6baf979a

[2019-06-29 07:27] jan25 commented on #5950
Thanks for raising this issue! Looks like we load flags first and then overwrite them with environment variables, its here in [root.go](https://github.com/helm/helm/blob/dev-v3/cmd/helm/root.go#L120)
@hickeyma would you know if that is desired behaviour? I suppose they should be ordered other way around to fix this issue.

[2019-06-29 09:06] jan25 commented on #5950
Thanks for raising this issue! Looks like this is a problem with all [EnvSettings](https://github.com/helm/helm/blob/dev-v3/pkg/cli/environment.go#L53) flags.

The apparent reason is we initialise the rootCmd in root.go after setting up [kube client](https://github.com/helm/helm/blob/dev-v3/cmd/helm/helm.go#L68) in helm.go. And the flags are only [parsed](https://github.com/helm/helm/blob/dev-v3/c

[2019-06-29 23:42] OJFord commented on #5950
Nor perhaps any flag?

At least `helm install --namespace` is ignored too, so everything is deployed to `default`.

[2019-06-30 13:27] vitobotta opened #5957 "Applying a manifest before installing sub chart"
Hi, I am experimenting with umbrella charts/sub charts, and am trying to create a chart that installs cert-manager and then creates issuers etc. so I can install the thing with one helm command instead of several manual commands. However before installing the cert-manager chart, a yaml manifest needs to be applied to create the required CRDs (see https://github.com/helm/charts/tree/master/stable/c

[2019-06-30 14:54] staticdev opened #5958 "[feature] helm install --wait does not wait for storageclass"
Output of `helm version`: 2.14.1

Output of `kubectl version`: Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.0", GitCommit:"e8462b5b5dc2584fdcd18e6bcfe9f1e4d970a529", GitTreeState:"clean", BuildDate:"2019-06-19T16:40:16Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"linux/amd64"}

Cloud Provider/Platform (AKS, GKE, Minikube etc.): Kubeadm

To reproduce just try the scrip

[2019-06-30 14:55] staticdev commented on #3173
@vrobinho You are right, I created a separate issue to address the storageclass scope for --wait:
https://github.com/helm/helm/issues/5958

[2019-07-01 06:57] sanbaideng commented on #4906
i have the same problem,

[2019-07-01 08:17] jonatasbaldin opened #5959 "Best practices: should I keep the "full" version of the values.yaml in my repository or just the changes?"
Hey there 👋

When deploying Helm charts in a private organisation using private repositories, is it a best practice to have a full copy of the provided `values.yaml` file into my private repository (with all options/comments – changing just what I need) or should I create a file with just my changes and commit that?

In one side, having the whole content (even keeping 95% of defaults) is good for

[2019-07-01 08:33] hickeyma commented on #5952
@pragyamehta I have raised it as a bug in v3.

[2019-07-01 08:41] nicorikken commented on #2492
@mumoshu Thanks for the plug. I saw it mentioned earlier as a potential solution. I'll have a look at it. It will bring the cost of additional tooling, which we might have to integrate with Argo-CD as well (is that even possible?). For now I've forked the repo and parameterized the namespace, and make a PR to the upstream stable charts repo. Let's see what the maintainers make of it.

[2019-07-01 09:13] mumoshu commented on #2492
@nicorikken Thanks for replying!

I think I understand the cost of additional tooling. But on the other hand I'm questioning myself - if there was a huge tool that covers all the helm + helmfile + helm-x use-cases, would it be easy to learn/use?

IMHO it's almost documentation issue. If the additional tool has good-enough documentation to integrate it with the upstream tool and third-party tool(he

[2019-07-01 12:56] agronholm commented on #2918
If it has been fixed, why am I still seeing this on Kubernetes 1.14.0 on AKS (westeurope)? It's a freshly created cluster too.

[2019-07-01 16:15] alexkreidler opened #5960 "`helm dep build` tries to open my contacts files on Mojave when run in the home folder."
On MacOS Mojave 10.14.5, I ran `helm dep build` in my `$HOME` folder accidentally. This was not a chart repository, so it did not have a `Chart.yaml` or a `requirements.yaml`.

However, iTerm2/the MacOS privacy system gave me a popup saying that a process was requesting access to my contacts info, which I denied.

This then resulted in `helm dep build` giving the output: `Error: open /Users/alex/L

[2019-07-01 17:05] pragyamehta commented on #5952
Thanks Martin!

[2019-07-02 09:44] nicorikken commented on #2492
For the specific use-case of specifying the namespace, I've made an upstream PR to the Jenkins Helm chart https://github.com/helm/charts/pull/15202 This adds an `namespaceOverride` parameter. I hope this pattern will be adopted more broadly, to enable cluster-wide Helm chart deployments.
I'll have to take some time to look more into Helmfile. It certainly seems to fill our requirement by enabling

[2019-07-02 12:44] whmzsu opened #5962 "Example in doc helm/docs/chart_template_guide/values_files.md return error"
Output of `helm version`:
Client: &version.Version{SemVer:"v2.14.0", GitCommit:"05811b84a3f93603dd6c2fcfe57944dfa7ab7fd0", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.14.0", GitCommit:"05811b84a3f93603dd6c2fcfe57944dfa7ab7fd0", GitTreeState:"clean"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.2", GitCommit:"66049e3b21efe110454d6

[2019-07-02 14:47] de-code commented on #2998
A simple workaround for me (which I didn't see above), was to just remove the `charts` directory - or add it to something like `.dockerignore` to not copy it in the first place (if it's part of a Docker build). May not work for everyone.

[2019-07-02 19:44] bacongobbler commented on #5956
Pretty sure this is a duplicate of #1193 which was fixed with the `--cleanup-on-fail` flag added in Helm 2.14.0. Please upgrade to the latest release and use that flag going forward when adding new resources to your chart. See #1193 for more information on the bug and its behaviour. Thanks!

[2019-07-02 19:44] #5956 closed

[2019-07-02 19:47] bacongobbler commented on #5957
The only way to do this would be to merge the two charts as a single chart rather than a child/parent dependency tree. That way, resources are created in the expected order before the issuers and secrets are created.

The umbrella pattern only works if the child dependencies don't rely on each other to be installed in a particular order.

Hope this helps!

[2019-07-02 19:49] bacongobbler commented on #5958
I'm missing the context here. Is this an ask for the `--wait` flag to wait for storage classes to become available?

@thomastaylor312 what do you think about this?

[2019-07-02 19:50] bacongobbler commented on #5959
hey @jonatasbaldin, have you tried reaching out to the #helm-users channel on Slack? general questions about best practices are probably better served there. Most users are hanging out there rather than reading the issue queue :)

[2019-07-02 19:57] bacongobbler commented on #5962
Yes. The proper syntax (as per [the format and limitations of --set](https://helm.sh/docs/using_helm/#the-format-and-limitations-of-set)) is `--set livenessProbe.exec.command={cat,docroot/CHANGELOG.txt}`. Can you try that?

[2019-07-02 20:16] staticdev commented on #5958
@bacongobbler Exactly! I am running into problems for automating helm installations that create storageclasses. Because I set --wait and can't patch the class for example to be default after this scripted installation.

[2019-07-02 21:11] IRobL opened #5963 "--tiller-image unknown location"
I'm using helm from a k8s cluster that requires all images come from a private docker registry.  It's unclear to me where the "official" tiller images are located so I can cache them privately.  I think I found them here though at [alpine/helm](https://hub.docker.com/r/alpine/helm/tags).  Is that the official spot?  If so, it would seem as though the automation isn't working because gh shows a rel

[2019-07-02 21:26] bacongobbler commented on #5963
The images are stored on Google Container Registry. The image name is embedded in the source code [here](https://github.com/helm/helm/blob/8494d133bf1847e246205b005433972c7630c5a9/cmd/helm/installer/options.go#L28). For the lazy, it's `gcr.io/kubernetes-helm/tiller`.

To reference helm 2.14.1, use the tag `gcr.io/kubernetes-helm/tiller:v2.14.0`:

[code]

[2019-07-02 21:26] #5963 closed

[2019-07-02 22:57] thomastaylor312 commented on #5958
@staticdev to clarify, is this needed because your chart _also_ has a PVC that is using the newly created storage class or is it creating the storage class as a pre-req before running other steps/releases down the road?

[2019-07-02 23:28] staticdev commented on #5958
@thomastaylor312 second option: it creates a storage class that is needed for next steps.

[2019-07-03 05:46] bacongobbler commented on #5311
Yes, actually if you'd like to take this work on that'd be great. I started going down the path in #5448 but got sidetracked with higher priority work so I was unable to finish it.

If you'd like to work on this, we'd need:

- the actual work of exposing the cobra commands in a consumable package (like `pkg/cli`)
- adding unit tests around how a user would consume this package, as well as cases ar

[2019-07-03 07:05] movikbence opened #5964 "helm install fails customresource definition already exists"
I am trying to deploy two instances of a service in separate namespaces in a kubernetes cluster.
The helm chart contains CustomResourceDefinition, which as I know can not be deployed in a namespace, just the custom resource as described here:
https://stackoverflow.com/questions/51424073/why-are-kubernetes-custom-resource-definitions-cluster-wide
However the first installation succeeds, the second

[2019-07-03 07:08] bacongobbler commented on #5964
Seems like a good discussion point for #5871. Use cases such as this one are being discussed in that ticket. We'd love to hear your thoughts and to help weigh in there.

I'm going to close this as a duplicate of that issue. If you wouldn't mind weighing in on the discussion, that would be great. Thanks!

[2019-07-03 07:08] #5964 closed

[2019-07-03 07:11] bacongobbler commented on #5935
closing as a duplicate of #5871.

[2019-07-03 07:11] #5935 closed

[2019-07-03 07:12] bacongobbler commented on #5964
see also https://github.com/helm/helm/issues/5935

[2019-07-03 07:35] AnjanaAK opened #5965 "“Error: forwarding ports: Upgrade request required” Error in helm of a kubernetes cluster"
I have a kubernetes cluster in my DC built using **kubespray** and imported to **Rancher**.

The nodes are configured with

- OS: CentOS Linux 7 3.10.0-957.12.1.el7.x86_64
- Docker version : 18.9.5
- Kubelet version : v1.14.1
- Tiller version : v2.14.1 ( got this version from the tiller pod's image gcr.io/kubernetes-helm/tiller:v2.14.1 )

I am running the kubectl commands from my windows local mac

[2019-07-03 08:12] jonatasbaldin commented on #5959
hey @bacongobbler, thanks for the tip, will reach people there :)

[2019-07-03 08:20] adityaguru149 commented on #5221
Hey @bacongobbler

So you could recreate the issue by following:
1 Make a deployment where there is atleast one pod failure (say ImagePullBackOff)
2 Try to helm upgrade --install --force on that release.

You would expect the old release to be removed or updated with versioning(preferably).

[2019-07-03 09:10] remcohaszing commented on #3134
I keep running into this issue.

`helm upgrade --install` works for me, but actually I need to use `helm install --replace`, because I want to fully reset my installations for review environments.

I read a lot of comments that this error really just hides a template issue, but I don’t think this is the issue for me, since `helm upgrade --install` works.

Is `helm install --replace` really broken

[2019-07-03 10:03] andytom commented on #5886
Fixed by #5889.

[2019-07-03 10:03] #5886 closed

[2019-07-03 12:47] qrilka opened #5968 "Incorrect link on the website"
https://helm.sh/docs/using_helm/#creating-your-own-charts has a link to  https://helm.sh/docs/using_helm/#charts for "Chart Development Guide" while looking at the sources in https://github.com/helm/helm/blob/master/docs/using_helm.md#creating-your-own-charts it looks that the link should point to https://helm.sh/docs/developing_charts/#charts

[2019-07-03 13:07] whmzsu commented on #5962
Got another error

[code]

[2019-07-03 13:40] IRobL commented on #5963
Are those docs I linked managed somewhere in this repo?

[2019-07-03 14:47] #5959 closed

[2019-07-03 14:49] bacongobbler commented on #5965
Are you able to use `kubectl port-forward`? Under the hood, Helm starts a `kubectl port-forward` tunneled connection to Tiller. That error typically indicates that the kubernetes API server cannot handle that type of request.

[2019-07-03 15:24] thomastaylor312 commented on #5958
Hmmm...that is interesting. I'll take a look at possibly adding it. To be honest, I might add it just to Helm 3 because the logic has been completely cleaned up there and is still a bit of a mess in Helm 2

[2019-07-03 16:06] bacongobbler commented on #5965
See also https://github.com/helm/helm/issues/1455.

[2019-07-03 17:44] jzelinskie commented on #5871
This is something that has been flip-flopped on a bunch in the past development of OLM. At first, we tried to follow the target of least privilege. This meant that namespaces would each get their own instances of operators but OLM would manage conflicts with installing CRDs at the cluster-scope. Eventually, we were finding that many people cared about cluster-scoped operators, which have their own

[2019-07-03 20:10] blackstar257 commented on #5825
👍

[2019-07-03 20:43] staticdev commented on #5958
@thomastaylor312 I see no problem at all. I am pretty enthusiastic about Helm 3 and looking forward for stable version ASAP =)

[2019-07-04 06:26] govindKAG commented on #4685
Any update on this?

[2019-07-04 08:31] AnjanaAK commented on #5965
No. I am not able to do a port-forward. It gives the same error.

[2019-07-04 08:52] withlin opened #5974 "an error occurred forwarding 44294 -> 44134: error forwarding port 44134 to pod ....Temporary failure in name resolution"
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]

[code]

[code]

[2019-07-04 10:15] bacongobbler commented on #5965
Okay, so something about your Kubernetes cluster's setup is causing that part of the API to fail, resulting in the error. There's not much help we can do here in this situation unfortunately. I would file a support ticket upstream with Kubernetes to see how to resolve your issue. Once the `kubectl port-forward` APIs work for you, Helm should work again.

Because there's no action item for us to ta

[2019-07-04 10:15] #5965 closed

[2019-07-04 13:30] sc250024 commented on #3558
@eicnix  How would this work for `affinity` rules? For example, in the `nginx-ingress` chart, they have the following for the `affinity` block: https://github.com/helm/charts/blob/master/stable/nginx-ingress/templates/controller-deployment.yaml#L187-L190

I would like to populate a soft `podAntiAffinity` using the following in my `values.yaml` file:

**values.yaml**
[code]

However, this gives an

[2019-07-04 13:40] Ravenwater opened #5975 "How to clear Tiller from a cluster?"
I have a Docker Desktop with K8s that is in an inconsistent state, blocking any helm commands.

Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
`Docker for Windows`

Tried to force the reset:
PS C:\WINDOWS\system32> helm reset --force
Error: could not find tiller

Looked at the k8s state and tried to delete the deployment di

[2019-07-04 14:22] mmz opened #5976 "Doesn't work with value of the nodeGroup other than 'master'"
values.yaml:

Logs from elasticsearch:

java.net.UnknownHostException: six-master-headless

Output of `helm version`:
Client: &version.Version{SemVer:"v2.13.1", GitCommit:"618447cbf203d147601b4b9bd7f8c37a5d39fbb4", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.13.1", GitCommit:"618447cbf203d147601b4b9bd7f8c37a5d39fbb4", GitTreeState:"clean"}

Output of `kubectl version`:
Client Version

[2019-07-04 14:23] mmz commented on #5976
sorry, not here

[2019-07-04 14:23] #5976 closed

[2019-07-04 14:25] NandoTheessen commented on #4670
So, we do have a scencario in which we'd like to run a pre-install hook and not create a resource in the same workload:

During deployment, we're using a chart that gets values from hashicorp vault & creates secrets from them (using vault & consul-template). We do not want to integrate this into the charts themselves as we'd have to use custom charts then, which we'd have to maintain.
So a pre-ins

[2019-07-04 14:35] NandoTheessen commented on #4670
Making this behavior optional, would be great!

[2019-07-04 15:07] damien-roche commented on #3460
Considering Helm (3) is moving away from Tiller is it about time we forget it exists? I've had nothing but problems and it seems like a huge security issue to jump through RBAC hoops and give it unnecessary control over the cluster.. to manage releases?

I've started using `helm template ..`, `kubectl apply` and have no intention of using Tiller ever again. I'd highly recommend those above who hav

[2019-07-04 20:04] yhrn opened #5977 "[Helm3] helm template fails for custom resources"
Output of `helm version`:
`version.BuildInfo{Version:"v3.0+unreleased", GitCommit:"8d1590016c847f1ae8aa4e0c0ff8c7cc37789896", GitTreeState:"clean"}`

Output of `kubectl version`:
`Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.0", GitCommit:"e8462b5b5dc2584fdcd18e6bcfe9f1e4d970a529", GitTreeState:"clean", BuildDate:"2019-06-19T16:40:16Z", GoVersion:"go1.12.5", Compiler:"gc",

[2019-07-04 22:01] bacongobbler commented on #5975
If you're seeing errors when trying basic `kubectl` commands like `kubect delete`, it's likely that your cluster is in an unhealthy state.

This is the error I'm referring to in particular:

I'd suggest determining what's causing the underlying issue with your Kubernetes cluster. This report is the equivalent of an application failing to write to disk because of an underlying disk failure. Once yo

[2019-07-04 22:04] bacongobbler commented on #5974
Are you able to `kubectl port-forward` to tiller manually? Try the following:

[code]

And in another terminal:

[code]

[2019-07-05 06:53] nicorikken commented on #5358
I've been able to work around this by introducing an `namespaceOverride` value in a chart https://github.com/helm/charts/pull/15202 ,picked up by the `_helpers.tpl`. I combine this with the `alias:` option in the `values.yaml` of the main chart to duplicate the subcharts under different names as to configure them differently.

[2019-07-05 09:17] MaDeG opened #5979 "Tpl funcion does not work in range"
I am pretty new to Helm and not really sure this is indeed an issue or an intended behaviour since I haven't managed to find enough documentation about the `tpl` function.

I am trying to use the `tpl` function in a `range` over a list of objects like the following one:
[code]
I want that for each object a string like `{{ .name }}` is evaluated giving as result "Ciao" at the first iteration and "M

[2019-07-05 11:25] iulianbaranai commented on #3742
Same problem was also described in issue [5531](https://github.com/helm/helm/issues/5531) - now closed as duplicate.
Two pull requests are opened at the moment: [3987](https://github.com/helm/helm/pull/3987) and [3422](https://github.com/helm/helm/pull/3422).
A workaround is described in [above comment](https://github.com/helm/helm/issues/3742#issuecomment-383095917).

[2019-07-05 11:43] prostil commented on #1455
helm does not work with the folowing K8S cluster
1) OS Ubuntu 18.04
2) Total of 2 VM's
3) 1 running as a master and one as a worker
4) helm pod is deployed on the worker
Error: forwarding ports: error upgrading connection: unable to upgrade connection: pod does not exist

[2019-07-05 15:39] bacongobbler commented on #5979
At runtime, the rendering engine needs to know the path of the original template as well as the name of the template, both of which cannot be inferred ahead of time. `tpl` checks those values in order to know which template it is modifying. Looking at the code, that seems like the intended behaviour. The issue here is the `range` function: when inside a `range` function, the scope of dot (`.`) is

[2019-07-05 16:09] devinrsmith commented on #1804
I'm able to install the arm build of helm, but the default tiller image didn't seem to be compatible with arm (after using `helm init`).

[code]

To fix this, I had to run `helm init --tiller-image=jessestuart/tiller` (https://github.com/jessestuart/tiller-multiarch).

For reference:

[code]

[code]

[2019-07-05 20:59] NandoTheessen commented on #5948
I believe this does not only count for hooks but also secrets, jobs and a few others! You can read more about it in the issue #4670 where there is a full list.

[2019-07-06 02:28] withlin commented on #5974
Thank you for your reply. this is my k8s cluster net problem.

[2019-07-06 02:28] #5974 closed

[2019-07-06 04:34] karuppiah7890 commented on #5977
Duplicate of #5766 and #5754

[2019-07-06 04:50] #5977 closed

[2019-07-06 13:01] OJFord opened #5981 "v3 'could not find a repo containing the given URL'"
[code]

Reproduce:
[code]
[code]

[2019-07-06 13:35] d4nyll opened #5982 "helm rollback is rolling back by number of revisions, instead of to a specific revision number"
In Helm v3, the `helm rollback` subcommand is rolling back counting back _the number of revisions_ rather than to a _specific revision number_.

[code]

This should have rolledback to revision version `1`. Instead, it's rolledback to revision version `3` (1 behind `4`, the current revision version when that command was ran).

To confirm it's not a one-off, I tried rolling back to revision number `

[2019-07-06 18:31] karuppiah7890 commented on #5981
This is a duplicate of https://github.com/helm/helm/issues/5936 and it's fixed in this b9878bd912ffc18a9addd373ec8c78f81f6baf84 commit by this https://github.com/helm/helm/pull/5940 PR.

To get the latest binary with the fix, you can clone the repo at `$GOPATH/src/helm.sh/helm`, checkout `dev-v3` branch and build it. I can't think of any other way

[2019-07-06 18:53] OJFord commented on #5981
Ah, sorry I missed that one.

I worked around it by downloading manually, that's good enough for me until next release.

Cheers.

[2019-07-06 18:53] #5981 closed

[2019-07-07 15:58] dorsany opened #5984 "how to pass chart version from father chart to sub chart"
There is any way to pass the ```.Chart.version``` from the father chart to my sub chart?
if i'm using in my sub chart inside one of the templates using the variable ```{{ .Chart.Version }}``` I'm getting the Chart version of my sub chart and not of my father chart.
I'm trying to avoid from using a **global** variable with a static version

Output of `helm version`:
v2.14.1

Output of `kubectl vers

[2019-07-08 07:05] imohamedibrahim opened #5986 "Getting "can't evaluate field connectors in type interface {}" when using multiple exists check condition using "and""
Hi,
    my values.yaml looks something like this.
[code]
and my condition looks like :
[code]
and this works with above values.yaml
but when my values.yaml looks like :
[code]

"can't evaluate field key2 in interface {}." -> this is the error when tried.
And i tried with multiple if check and it works as expected don't understand why "and" fails here.
i used helm template command to test this.

[2019-07-08 07:33] yhrn commented on #5766
As I understand it #5871 is a proposal to improve on Helm's CRD management, including and maybe especially, when the CRDs, are/may need to be installed as part of a chart. The problem reported here, and more generically formulated in #5654, is more of a pure regression bug imo - it's no longer possible to include any CRs in a chart, at least if the CRD is not included in the chart but known to be

[2019-07-08 10:23] beinnova opened #5987 "Deploy 2 different k8s services"
I don't know if this place is the right place to make a question. In case, sorry about that.

I am trying to deploy 2 different services for the same application. The application has got 2 different containers and needs 2 services the 1st as `ClusterIP` and the 2nd as `LoadBalancer`.

Now what I tried so far is to add the second template spec to the `service.yaml` file using an `if`statement and a

[2019-07-08 11:54] nmerdan opened #5988 "Tiller installation docs"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
On-prem

When following https://helm.sh/docs/using_helm/#example-deploy-tiller-in-a-namespace-restricted-to-deploying-resources-only-in-that-namespace, I end up with the problem of:
[code]
I have of course adjusted 'foo' to be used instead of 'tiller-world' in the example. Runn

[2019-07-08 12:04] nmerdan commented on #5988
The debug shows either:
[code]

[2019-07-08 16:23] #5558 closed

[2019-07-08 16:44] aperullo opened #5989 "Helm install --atomic always fails to deploy by timeout"
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.): Deployed on appliance hosting virtual machines.

We are attempting to deploy via `helm install --atomic` and are finding that the option always causes a timeout.

It waits for the timeout, then fails.
[code]

Now removing the atomic option. It almost immediately installs flawless

[2019-07-08 16:53] hickeyma commented on #5948
@thomastaylor312 You have been looking into the `--wait` capability lately.  You might be best placed to comment on this?

[2019-07-08 18:10] thomastaylor312 commented on #5948
Ok, so the behavior here is correct. Helm only waits for Jobs that are hooks. However, the `--wait` flag does not support waiting for jobs, so I think this would correctly be classified as a feature request. Is that fair @wieslaw-decent?

[2019-07-08 18:51] damien-roche commented on #1579
^^ exactly same issue RE values.yml instead of values.yaml. Kudos to `helm lint` suggestion!

[2019-07-08 19:17] IRobL commented on #1957
I really like how the verbose switch works in `kubectl`.  It probably makes development on kubernetes itself go a little bit faster because it's easier to see what's going on by adding `-v9` and be able to view all the REST requests being made against the cluster.

Does anyone know off-hand what REST calls are made for `helm version`?  I'd like to be able to detect if tiller is installed in a name

[2019-07-08 19:26] bacongobbler commented on #1957
Helm and Tiller communicate via gRPC, so it's not an HTTP request being made to Tiller, but the RPC call is listed [here](https://github.com/helm/helm/blob/master/_proto/hapi/version/version.proto).

[2019-07-08 19:53] mattfarina commented on #5982
@d4nyll How could you tell which version it rolled back to?

When a rollback occurs Helm takes the old version and creates a new version based upon it. It then creates a new release based on the old one. You can follow the code at https://github.com/helm/helm/blob/dev-v3/pkg/action/rollback.go. This is how it did things in v2 ([see here](https://github.com/helm/helm/blob/master/pkg/tiller/release_

[2019-07-08 20:00] mattfarina commented on #5984
I don't believe the information on the parent is currently available.

What is it you're trying to do?

[2019-07-08 20:04] bacongobbler commented on #5988
I believe that line should be `helm install stable/nginx` rather than `helm install nginx`. Would you like to fix that?

[2019-07-08 20:08] mattfarina commented on #5986
For the YAML there is no schema. So, `key2` is entirely unknown. There is no `key2` to be evaluated by the [golang builtin and function](https://golang.org/pkg/text/template/#hdr-Functions). You might need to create a default value when there isn't one or use a different check like empty. See https://masterminds.github.io/sprig/defaults.html

Does this help?

[2019-07-08 20:11] dorsany commented on #5984
I have a pod which deploy another helm chart that based on the version of the parent chart

[2019-07-08 20:16] mattfarina commented on #5987
A chart can contain multiple services. You can use multiple files with a different service in each file. You don't need an if statement unless you have logic that would call for an if. If you want both services deployed all the time you can just include them.

[2019-07-08 20:18] mattfarina commented on #5989
I wonder if this is related to #5395

[2019-07-08 20:20] mattfarina commented on #5984
@dorsany I think you will need to pass that in yourself. It is not automatically available.

[2019-07-08 20:35] dorsany commented on #5984
Got it. Thanks

[2019-07-08 20:35] #5984 closed

[2019-07-08 21:19] gnalsa opened #5990 "helm v3 test failure returns exit code 0"
I believe there is a regression as this was previously fixed: https://github.com/helm/helm/pull/2425

[code]

[2019-07-08 21:49] bacongobbler commented on #5990
#2425 was merged in for Helm v2.4.2 - well before Helm 3 was even discussed so I don't think that patch will fix the issue. That being said, we should definitely look into this.

[2019-07-08 22:28] schollii opened #5992 "lint vs lint --strict confusing"
Output of `helm version`:

2.11.0

I created a chart and wanted to find out if any of my templates were referring to non-existing values (due to typos). So after I created the chart, I purposely created a typo reference via `{{ .Values.someMap.doesNotExist` and ran helm lint:
[code]
This showed no error:
[code]

Then I tried
[code]
and this failed because nameOverride and fullnameOverride are not

[2019-07-09 09:34] HamzaK8s commented on #1892
@bacongobbler I really need it on Helm v2 do you any work-around to let my child chart inherit files from the parent templates ?

[2019-07-09 09:39] ivanfoo opened #5993 "helm3: upgrade command does not apply changes"
Hi there,

We think we've found a big issue while testing helm3. The install command works fine (so far) but the upgrade one is not working properly. Changes made directly to the templates are correctly applied, but modifying parameters into the `values.yaml` file or via `--set` does not take any effect. The template command is working fine, so maybe is some kind of misbehaviour in the parameters

[2019-07-09 09:55] hangyan opened #5994 "About Helm controller and crd"
Hello, This is a proposal about Helm Controller and the CRDs.

We have implement an example Controller based on the Helm3 code (with a little modification) and define the HelmRequest and Release crd. Here is an example HelmRequest crd

[code]

A few notes:
1. most of the spec field is similar to helm cli, for example namespace/chart/values...
2. repo info is stored in a configmap, same format as h

[2019-07-09 10:06] anapsix commented on #1892
@HamzaK8s how about using `tpl` functions? See example in [stable/keycloak](https://github.com/helm/charts/blob/master/stable/keycloak/values.yaml#L138-L140)

[2019-07-09 11:32] fabiosantoscode commented on #3370
I also hit this UX issue while using a `post-upgrade` hook to run some functional tests against the environment the chart is deployed in. The use case is for a closed-source app being deployed on our own k8s cluster.

Currently we have to manually inspect the logs out-of-band using Google Stackdriver which isn't very accessible for the junior devs. It would be nicer to have these logs either strea

[2019-07-09 11:44] bacongobbler commented on #5993
Are you testing against the latest commit in dev-v3? At first glance this seems like a duplicate of #5792.

[2019-07-09 12:13] whyvez opened #5995 "Loosing sync"
I'm using helm in tillerless mode using the `helm-tiller` and in some cases losing sync with my releases. I can see a release in Minikube via k9s but `helm list` doesn't return any releases.

Where is tiller state saved?

Any suggestions on how I could either troubleshoot this or fix the issue altogether?

Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platfo

[2019-07-09 12:30] polasekr commented on #2620
@ KidA001
I don't have access to the chart anymore, but there was absolutely nothing special about Chart.yaml file. It was same as generated by "helm create"

[2019-07-09 12:59] hickeyma commented on #5995
I would suggest opening an issues in [Tillerless Helm](https://github.com/rimusz/helm-tiller) as it is independent of Helm.

[How Helm Uses ConfigMaps to Store Data](http://technosophos.com/2017/03/23/how-helm-uses-configmaps-to-store-data.html) provides detailed information on Helm state.

[2019-07-09 13:00] hickeyma commented on #5995
Closing as Tillerless helm issue.

[2019-07-09 13:00] #5995 closed

[2019-07-09 13:06] hickeyma commented on #5992
I agree that there are issues around the 'linting'.  Do you feel like writing a PR to fix this?

[2019-07-09 13:07] sboishtyan opened #5996 "helm list revision duplicates."
Output of `helm version`:
{Client: &version.Version{SemVer:"v2.10+unreleased", GitCommit:"118896b07d48cd064fac0a3f0ac902c0b83050c2", GitTreeState:"clean"}
{Server: &version.Version{SemVer:"v2.10+unreleased", GitCommit:"633faf3f74eb961265d5b3687c3e843c2c2ed1ae", GitTreeState:"clean"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.0", GitCommit:"6e9

[2019-07-09 13:41] hickeyma commented on #5996
@sboishtyan That seems peculiar and a duplicate as you mentioned.

I have been unable to reproduce using the latest ode in master. Investigation as follows:

[code]
Would you be able to upgrade to the latest version of Helm `2.14.1` and see if the issue can be reproduced then?

[2019-07-09 13:52] sboishtyan commented on #5996
I can't upgrade helm now. I realized that behavior seems peculiar and happens not in 100%.
All I want to know that behavior is wrong. And I need an update or ad-hoc this before the update.

[2019-07-09 13:52] 2ZZ commented on #4753
Still getting this on Tiller 2.14.0, although very rarely
[code]

[2019-07-09 14:04] hickeyma commented on #5996
Ok, understand. Behaviour seems wrong.

[2019-07-09 14:06] aaronmell opened #5997 "Context Deadline Exceeded Errors when using helm with TLS"
After enabled TLS, we are getting random Context Deadline Exceeded Errors. No information in the logs that would help us track down the error either.

Output of `helm version`:
Client: &version.Version{SemVer:"v2.12.3", GitCommit:"eecf22f77df5f65c823aacd2dbd30ae6c65f186e", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.13.1", GitCommit:"618447cbf203d147601b4b9bd7f8c37a5d39fbb4", GitTree

[2019-07-09 14:09] com30n commented on #3555
@filipre Could you please say: what happens with the PR? Looks like PR has no move half of month

[2019-07-09 16:51] metal3d commented on #5258
@bacongobbler this is not a "duplicate", to be able to use data url encoded image is not the same as using the string as "image" IMHO

[2019-07-09 17:08] bacongobbler commented on #5258
it's the same use case: the user wants to embed an icon in the chart metadata. Whether that's packaged as part of the chart or base-64 encoded as a string doesn't make much difference from an implementation standpoint.

[2019-07-09 18:11] mattfarina commented on #5994
@hangyan Thanks for reaching out. Would you be interested in demoing this at a [Helm Developer Call](https://github.com/helm/community/blob/master/communication.md#meetings).

If you do make something readily available we have a related projects page this could be listed on at https://helm.sh/docs/related/

I know weaveworks has done some work in this space. I'm not sure. Are you aware of their wo

[2019-07-09 18:13] mattfarina commented on #5997
Have you tried using the `--debug` flag to get verbose output? Can you share those logs?

[2019-07-09 18:57] jdolitsky opened #5999 "Helm 3: Add acceptance test suite"
A suite of acceptance tests should be added to verify that a built version of Helm works as expected. For example, make sure a `helm install` works on multiple versions of Kubernetes.

CC @thomastaylor312

[2019-07-09 21:55] dannybitgo commented on #5144
Where do you set this?

[2019-07-09 23:03] hangyan commented on #5994
@mattfarina Thanks for you response.  Love to demo it at the developer call. I have checked the schedule and it seems like it's only a few hours left, i will do some preparing before the demo.

We will discuss about open source as soon as possible,  it also require a lot of documenting work.

I haven't heard about from weaveworks's work. But i will check out, surely  we can learn from each other a

[2019-07-10 04:35] hangyan commented on #5994
@mattfarina Sorry to bother you, i have check the meeting time, it's 12:30 wed in Beijing Time, But nobody is online, is the meeting delayed or something?

[2019-07-10 08:20] hd-rk commented on #5780
This issue happens even for dependencies specified in `Chart.yaml`. I have set up an example at https://github.com/hd-rk/helm-examples/tree/develop/v3-condition.

I took a look at the code, it might be because the function for processing sub-chart conditions/tags is not called in `action.Install.Run`
https://github.com/helm/helm/blob/ff818fceca20a4a5414fa26bcf63a305c6ef9343/pkg/chartutil/dependenc

[2019-07-10 08:25] distorhead commented on #3481
Happy to announce, that [kubedog library](https://github.com/flant/kubedog) has been improved a lot since last notification. There are some new features which available out of the box right now:

* Track multiple resources at the same time.
* Give user realtime logs and other service messages about all resources being deployed.
* Give periodical "status reports" about overall rollout picture and a

[2019-07-10 10:14] hd-rk opened #6001 "Helm 3: `helm install` and `helm upgrade` import values differently for aliased sub-charts"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): GKE

Sample Helm project https://github.com/hd-rk/helm-examples/tree/develop/v3-alias-values

In this setup, `parent` chart has `child` as a sub-chart under the alias `childzzz`. I observed there's a discrepancy in how `helm install` and `helm upgrade` import values to be used

[2019-07-10 10:18] henres opened #6002 "Hello, I have problem to update a deployment"
I have a problem with helm deployment.
When I add a new environment variable to the deploymemt. When I do a helm update, I have this error.
Maybe it's not a bug, but I don't understand what is the problem.

[code]

Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
GKE

[2019-07-10 10:23] hd-rk commented on #6001
This issue is likely due to the fact that `ProcessDependencies` (which calls `getAliasDependency`) is not called in `helm install`, while it is called in `helm upgrade`.

https://github.com/helm/helm/blob/ff818fceca20a4a5414fa26bcf63a305c6ef9343/pkg/chartutil/dependencies.go#L27-L32

[2019-07-10 10:28] hickeyma commented on #6002
@henres What error is returned by the `helm update` command? What output do you get from `helm update --debug --dry-run`?

[2019-07-10 10:33] hickeyma commented on #6001
@hd-rk can you provide more details on how this shows itself? Maybe some details on the output to get better idea of the issue?

[2019-07-10 11:00] eumoh1601 opened #6003 "deployment failed while deploying to kuberntes"
error gotten when i tried to deploy a service fails at deployment to Kubernetes through Jenkins CI/CD:
Error: Get https://46FD186CCDF8FB42C11F1F7A6A72B7F8.sk1.eu-west-1.eks.amazonaws.com/api/v1/namespaces/kube-system/pods?labelSelector=app%3Dhelm%2Cname%3Dtiller: dial tcp: lookup 46FD186CCDF8FB42C11F1F7A6A72B7F8.sk1.eu-west-1.eks.amazonaws.com on 172.20.0.2:53: no such host
[Pipeline] }
[Pipeline]

[2019-07-10 11:06] hickeyma commented on #6003
@eumoh1601 This seems to imply that there is a connection issue to the cluster. Is there a way you can troubleshoot the connection to the cluster? Can you run the deployment manually? Can you run any `kubectl` commands against the cluster?

Trying to narrow down where the issue might be.

[2019-07-10 11:36] d4nyll commented on #5982
@mattfarina

It tells you which version it is rolledback to in the `DESCRIPTION` column of `helm history`. I ran `helm rollback prometheus 2` but it says `Rollback to 3`

The logic in the code you linked seems fine, perhaps it's something upstream?

[2019-07-10 12:08] hd-rk commented on #6001
@hickeyma I can briefly explain here, you can also take a look at the sample project and the README in it.

I have a `parent` chart that depends on a `child` chart with an `alias`
[code]
`child` has a `ConfigMap` template:
[code]
I deploy `parent` using `helm install test charts/parent -f values.override.yaml` with the values file:
[code]
The deployed `ConfigMap` looks like this, you can see `{{ .

[2019-07-10 12:48] henres commented on #6002
I have no error in my dry-run

[2019-07-10 13:14] marcelmeulemans commented on #2941
We are also still seeing multiple releases marked as DEPLOYED with 2.14.0. We have a build cluster doing the deployments and sometimes multiple deployment jobs to the same cluster are running at the same time from different machines (i.e. so multiple `helm upgrade some-chart` calls). Could it be a race condition? I will try to verify my hunch in the coming days.

[2019-07-10 13:48] #5996 closed

[2019-07-10 15:03] bacongobbler commented on #6002
This is not an error I'm familiar with. Is this possibly an error being raised by the chart itself?

[2019-07-10 16:54] mattfarina commented on #5994
@hangyan checkout https://github.com/fluxcd

You don't need to feel pressure to demo this week. This is a regular meeting. You can demo in the future.

[2019-07-10 17:53] vitobotta commented on #5957
Hi @bacongobbler , sorry for the delay but I've been buried by emails/notifications. I solved for now by using a hook that ensures the CRDs are installed first. Downside is that when I update cert-manager I will have to update the CRDs file with the hooks.  Thanks :)

[2019-07-10 17:53] #5957 closed

[2019-07-10 19:06] lodejard opened #6005 "proposal: `helm dependency update` might not require `helm repo add`"
I understand the reason a `requirements.yaml` uses the repo URL as the canonical location identifier. That seems like a good idea. I was surprised however when packaging a chart on a CI server that `helm repo add <name> <url>` must also be done before a subchart on a public repo can be used.

Steps to reproduce:

### requirements.yaml
[code]
### actual
[code]
### expected
behavior of `--dependency

[2019-07-10 19:13] stevebail opened #6006 "Why Helm release name is a DNS label with max length of 53 characters?"
Helm documentation states the following:
-1) (k8s) metadata.name is restricted to a maximum length of 63 characters because of limitations to the DNS system
-2) For that reasons, release names are (DNS labels that are) limited to 53 characters

Statement 1) is not correct.
k8s does not impose a max length of 63 characters on resource names.
The actual max length for a resource name is 253 characte

[2019-07-10 20:00] PaulFlorea opened #6007 "Feature request: detailed error when certificates have expired"
Output of `helm version`:
Client: &version.Version{SemVer:"v2.14.1", GitCommit:"5270352a09c7e8b6e8c9593002a73535276507c0", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.14.1", GitCommit:"5270352a09c7e8b6e8c9593002a73535276507c0", GitTreeState:"clean"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.7", GitCommit:"4683545293d792934a7a7

[2019-07-10 20:58] bacongobbler commented on #6006
Long ago Kubernetes service names were restricted to 53 characters. More recent versions of Kubernetes allow longer service names, though there was a time that some users were using the older version of Kubernetes so we couldn't relax the constraint. We can probably relax that constraint now.

[2019-07-11 02:41] hangyan commented on #5994
@mattfarina  It's ok, i cal the local time wrong..  I will check out the fluxcd project.

[2019-07-11 04:41] beinnova commented on #5987
Thanks, @mattfarina for the quick reply. I'll give it a try.

[2019-07-11 04:41] #5987 closed

[2019-07-11 07:38] ivanfoo commented on #5993
hey @bacongobbler probably not, let me check if it works fine with the last commit

[2019-07-11 08:45] dvlato commented on #3353
Hi,
In our case the initial release did not really fail... It's just either that our application was not completely up when the install timeout elapsed or some other strange issue that was fixed. In any case, the application is running perfectly fine, and thus having to delete it would be a problem for us (we have some persistent storage attached that would be also removed!!) .

Is there any worka

[2019-07-11 08:47] djuarezg commented on #3742
Experiencing this as well. Painful as hell, causes ugly workarounds.

[2019-07-11 12:08] pakhomov-passteam commented on #5915
+1 same issue with my chart's configmap

[2019-07-11 12:34] Sylordis opened #6009 "Output of helm install --debug not on standard streams"
Hi,

I'm running on Debian 9. After running a `helm install mychart --dry-run --debug`, the output is not redirected on consistent streams:
Content of STDOUT:
[code]
Content of STDERR:
The actual files, operations and errors.

I think that everything which is not an error should be outputed on STDOUT, while all errors should be on STDERR.
Same goes for the exit status of the dry-run debug, which i

[2019-07-11 15:16] nerz commented on #5997
I'm currently seeing a similar issue on AKS. I have done some troubleshooting as a result and have narrowed it down to the TLS verification.

When setting the `--tiller-tls-verify` flag I am unable to execute any helm commands such as `helm ls --tls`. Regardless of the command I am seeing the same error (**Error: context deadline exceeded**). When running `--debug ` flag, I am not seeing any usefu

[2019-07-11 17:40] thomastaylor312 commented on #5915
@pakhomov-passteam do you have a chart I can use to duplicate? I've been trying for weeks and cannot duplicate the issue

[2019-07-11 17:54] haywoood commented on #5915
Just to add, I'm currently running into this issue where one of my SecretClaims (and subsequent container environment variables) is not reflected in the deployed yaml. `--debug` and `helm template` show the correct output, but the env var is left off. I can't delete this deployment, unfortunately.

The SecretClaim does exist in `k get secret -n my-ns`

[2019-07-11 18:31] thomastaylor312 commented on #5915
@haywoood What are your Helm and Kubernetes versions?

[2019-07-11 18:44] haywoood commented on #5915
@thomastaylor312

[code]

The secret in question lives in a list of secret definitions in `values.yaml`, which are then iterated over and placed in the manifest. I tried hardcoding this secret into my template, but no dice. It's hard to pin down what exactly is different about this secret, as it's apart of a larger list of secrets that exist no problem.

[2019-07-11 18:45] adamzyg commented on #4171
I found the routes is missing for every container.

[2019-07-11 18:56] thomastaylor312 commented on #5915
@haywoood Hmmm...that is an older version of Helm and Kubernetes. It seems like most people aren't seeing the issue with the latest version of Helm and k8s. Makes it kinda hard to see what caused it

[2019-07-11 18:58] alexkreidler commented on #3054
Any updates?

[2019-07-12 02:05] abhijitherekar commented on #4242
Facing the same issue, but adding the repo made it work. Seems a little surprising.

[2019-07-12 04:35] hangyan commented on #5994
I'm on the meeting. Still no one?

[2019-07-12 04:54] bacongobbler commented on #5994
The meeting was at 9:30AM Pacific Standard.

[2019-07-12 05:02] hangyan commented on #5994
@bacongobbler I have check to local time is Friday 12:30AM in Beijing, am i cal wrong  again ?

[2019-07-12 08:06] hickeyma commented on #5994
@hangyan I think the time would be 01:30 am Friday (Beijing)

[2019-07-12 08:59] hangyan commented on #5994
Yes ,that make more senses. But i didn't know why google give me that answer.

[2019-07-12 09:00] hickeyma commented on #5994
Possibly didn't take daylight savings into account?

[2019-07-12 09:03] hangyan commented on #5994
Thanks for pointing it out. Didn't familiar with that before... Guess it will be next week.

[2019-07-12 10:44] wilalalee opened #6012 "containers.livenessProbe.httpGet.httpHeaders missed when helm generate manifest"
Output of `helm version`:
Client: &version.Version{SemVer:"v2.13.1", GitCommit:"618447cbf203d147601b4b9bd7f8c37a5d39fbb4", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.13.1", GitCommit:"618447cbf203d147601b4b9bd7f8c37a5d39fbb4", GitTreeState:"clean"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.5", GitCommit:"2166946f41b36dea2c462

[2019-07-12 11:10] Ravenwater commented on #5975
@bacongobbler thanks for the guidance. After several days of experimenting with Docker on Windows, reinstalling it, troubleshooting it and getting nowhere on this specific laptop. I have just given up on Docker on Windows as I can't get K8s to come up.

[2019-07-12 11:10] #5975 closed

[2019-07-12 11:55] kbaegis opened #6013 "Feature Request: JSON support for helm search"
Presently, json is not supported by helm-search. Would like to be able to parse json to select/list versions of a particular chart.

[2019-07-12 12:51] djuarezg commented on #2247
We would love to have this.

[2019-07-12 13:48] mattfarina opened #6015 "Have a PGP KEYS file for release verification"
Releases of Helm are PGP signed. But, anyone who tries to verify the signatures will have to hunt down the right keys.

We should follow a model, like Apache, where the keys are readily available. [On the apache project there is a KEYS file with directions on using it ](https://www.apache.org/dev/release-signing.html#keys-policy)and the keys for those who have signed releases. It is easy to import

[2019-07-12 15:07] technosophos commented on #6015
Agree. I would like to just include the keys file in Git if there isn't a concern about some sort of Git-based attack. Option B might be to host it off of a Keybase web page.

[2019-07-12 15:17] bacongobbler commented on #6007
@PaulFlorea feel like taking a crack at improving the error message? :)

[2019-07-12 15:41] mtelewicz opened #6017 "Proxy that requires authentication not working with helm init"
Hello, I just started using Helm.  I've run into an issue.  My organization's proxy requires authentication, and I've set up my environment variables like so:
[code]

When I try to execute `helm init`, I get the following:
[code]

It looks like Helm is assuming my password is the proxy port since it follows a colon, but that's just conjecture.  Any ideas?

Output of `helm version`:
[code]

Output

[2019-07-12 16:48] alexandruivan opened #6018 "helm dep update doesn't download charts"
Output of `helm version`:

[code]

Output of `kubectl version`:

[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
aks-engine

I have this requirements file:

[code]

When I run
[code]

I get this output:

[code]

I would expect the chart dependency to be downloaded.

[2019-07-12 16:57] AndiDog opened #6019 "Helm 3 changed release name parameter of `helm template`"
Helm 2:
[code]

Helm v3.0.0-alpha.1:
[code]

This makes usage incompatible:

[code]

and having two positional (= unnamed) arguments is not a good idea in general since the order can be mistaken. I recommend reintroducing `{-n,--name}`.

[2019-07-12 17:33] karuppiah7890 commented on #6019
@AndiDog First off, I think it's pretty fine for it to be incompatible considering the version change is a major version change v2 -> v3

About the order being mistaken, for me it doesn't sound like a solid reason. And even if it's considered as a solid reason, there will be some set of people saying otherwise - to use arguments instead of flags. The helm maintainers cannot satisfy everyone with b

[2019-07-12 17:51] nvtkaszpir commented on #3348
the same issue affects `helm test` pods.
So currently using ` {{ .Release.Revision }}` in pod name is advised.

[2019-07-12 18:53] garciarodrigor commented on #2247
Any update about this feature????? I think a package manager should have this feature as mandatory.

[2019-07-12 20:06] bacongobbler commented on #6019
The release name was made mandatory as part of Helm 3. Helm will not auto-generate a name for you unless you use the `--generate-name` flag.

So, to replicate the same behaviour, use `helm template --generate-name ...`.

[2019-07-12 20:06] #6019 closed

[2019-07-12 20:33] jlegrone opened #6020 "Helm 3: Test Enhancement Proposal"
## User-Facing Changes

### Features

- [x] Support defining tests as `Jobs` (#6054)
- [x] Enable the management of resources (eg. service accounts, network policy, configmaps) to be made available during test execution (#6054)
- [ ] Stream execution logs & events with a flag (eg. `--verbose`) -- see issues #2298 and #3481
- [x] Enable control over resource deletion behavior on a per-resource basi

[2019-07-13 07:08] arielb135 opened #6022 "Ability to duplicate an already installed helm release without the charts? (with different parameters)"
My use case is as follows:

1. I'm deploying a helm application
2. in some point, the application is stressed, and it needs to be splitted between a duplicate of the helm application - so i want to run a helm install based on the previous chart (with maybe some other parameters).

is it possible to do it? does tiller save enough information to duplicate a deployment?

[2019-07-13 13:56] katsew commented on #5137
@alphabt

I think you should provide a service account with role binding to delete pvc.

e.g.

[code]

[2019-07-13 15:16] jeremy-donson commented on #6020
In general, moving testing, dependency mgt, change management, etc
to standard command features will give helm HUGE steps forward.

I would gladly discuss any and all,
and this bears broad discussion across languages and services.

[2019-07-14 16:27] jkroepke commented on #6015
From: https://www.apache.org/dev/release-signing.html#keys-policy

If you are using option A your keys should also on major pgp servers.

[2019-07-14 17:37] segator opened #6023 "panic: runtime error: invalid memory address or nil pointer dereference"
command executed
[code]

Error get
[code]

prom_values.yaml
[code]

Output of `helm version`:
2.14.2
Output of `kubectl version`:
[code]
RKE baremetal

[2019-07-14 17:58] prashantyadla commented on #6013
@kbaegis I would like to take up this issue!

[2019-07-15 06:45] maxh8086 commented on #4659
Hello team,

i am getting below error

Please guide

helm  repo add rancher-stable https://releases.rancher.com/server-charts/stable
Error: Looks like "https://releases.rancher.com/server-charts/stable" is not a valid chart repository or cannot be reached: Get https://releases.rancher.com/server-charts/stable/index.yaml: Forbidden

[2019-07-15 07:30] hickeyma commented on #5267
#5748 now merged.

[2019-07-15 07:30] #5267 closed

[2019-07-15 08:07] #6012 closed

[2019-07-15 09:34] alexandruivan commented on #6018
I deleted requirements.yaml and re-created it and then it worked. Still not understanding what was wrong.

[2019-07-15 09:34] #6018 closed

[2019-07-15 13:04] Saurabh-16 opened #6024 "Connecting to kubernetes cluster using helm go client"
I am using helm go client to install the release. The link is https://github.com/helm/helm/tree/55193089e67207363e6f448054113b5a36649d74/pkg/helm

What I didn't get , how can I give my kubeconfig file to this go client so that my client can communicate with the kubernetes cluster. I went through documentation but doesn't has the details on the same.

Is there any other way to connect to cluster fr

[2019-07-15 15:58] thomastaylor312 commented on #5950
Closed by #6025

[2019-07-15 16:04] #5950 closed

[2019-07-15 20:38] thomastaylor312 commented on #6024
Unfortunately, Helm 2 is not the best to use as a library. You can see how Helm itself is setting things up here: https://github.com/helm/helm/blob/55193089e67207363e6f448054113b5a36649d74/cmd/helm/helm.go#L244

The actual place where the client is created is here: https://github.com/helm/helm/blob/55193089e67207363e6f448054113b5a36649d74/cmd/helm/helm.go#L329

[2019-07-16 02:49] imeredith opened #6027 "helm repo add sometimes hangs"
Recently I have been having an issue with the command

`helm repo add jenkinsx http://chartmuseum.jenkins-x.io` which is being run every time I start an app to make sure it is added I guess.

Probably 4/5 times this command never completes and I end up ctrl-c'ing. 1/5 of the time it completes in about a second.

I'm using WSL2 to run Debian on windows which possibly is an issue.

I'm not sure how

[2019-07-16 09:01] alexellis commented on #3555
This would be very useful. I ran into something where I need to pin to version 0.6.0 of an app, and the chart version has no relation to the app version.

[2019-07-16 10:42] ivanfoo commented on #5993
As you said, everything works fine with the last commits. I'm closing this.

Sorry!

[2019-07-16 10:42] #5993 closed

[2019-07-16 10:59] Saurabh-16 opened #6029 "go get k8s.io/helm/pkg/kube is failing because of missing packages"
I am importing a package k8s.io/helm/pkg/kube  in my go file.
When I am doing go get k8s.io/helm/pkg/kube in my local , it is complaining about two missing packages.

../../../k8s.io/cli-runtime/pkg/kustomize/k8sdeps/factory.go:24:2: cannot find package "sigs.k8s.io/kustomize/pkg/factory" in any of:

../../../k8s.io/cli-runtime/pkg/kustomize/k8sdeps/factory.go:24:2: cannot find package "sigs.k8s.i

[2019-07-16 12:34] Constantin07 commented on #5783
It looks like Kubertnetes does this conversion, not `helm`.
Just deployed an `hpa.yaml` file with CPU resource and `apiVersion: autoscaling/v2beta1` using `kubectl` and got `apiVersion: autoscaling/v1` in the dump of the object back.

[2019-07-16 14:41] bacongobbler commented on #6027
Are there connection issues to the repository? `helm repo add` makes a few GET requests to the server to fetch the index when `helm repo add` is invoked.

[2019-07-16 14:56] bacongobbler commented on #5783
Internally, Kubernetes stores HPA objects in the same way regardless of which apiVersion you used to create them. When you fetch them back from the server, the API server converts the internal representation to the version requested. If no version is specified, the latest is used.

This appears to be a duplicate of https://github.com/helm/helm/issues/4976. Please follow up in that issue. Thanks!

[2019-07-16 14:56] #5783 closed

[2019-07-16 15:00] bacongobbler commented on #6029
Currently, Helm's master branch is built against kubernetes 1.14. By using `go get`, you are fetching a newer version of Kubernetes. Kubernetes does not make backwards compatibility guarantees with their SDK.

I suggest using a proper package manager like [dep](https://github.com/golang/dep) instead of `go get`. That way you can fetch the proper version. Thanks.

[2019-07-16 15:00] #6029 closed

[2019-07-16 15:01] #5988 closed

[2019-07-16 15:26] chihebdk opened #6030 "pods"
Output of `helm version`:

Output of `kubectl version`:

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

[2019-07-16 15:39] Saurabh-16 commented on #6024
@thomastaylor312 :- I tried using the functions you told in my go file . While I am able to set the path for kubeconfig and name for kubecontext  but after invoking (InstallRelease) https://github.com/helm/helm/blob/master/pkg/helm/client.go#L78 , I am facing an issue with message `'context deadline exceeded' .`

This is coming when a call to this method is invoked https://github.com/helm/helm/blo

[2019-07-16 15:51] bacongobbler commented on #6030
I'm going to go ahead and close this as there's no information provided here to go on. Once you update the ticket with your question we can happily reopen this for you. Thanks!

[2019-07-16 15:51] #6030 closed

[2019-07-16 18:49] gvenka008c commented on #2025
We are also seeing similar issue when we do helm install/upgrade/delete/ls. Any fix?

For Example:

[code]

[code]

[2019-07-16 19:56] bacongobbler commented on #2025
@gvenka008c have you had a look at https://github.com/helm/helm/issues/2025#issuecomment-447348731?

[2019-07-16 20:33] gvenka008c commented on #2025
@bacongobbler Yes, checked that. We have one node where helm is installed and tiller runs on our k8 cluster nodes (3 nodes). we do all helm install from this server which talks to k8 cluster. Not sure if our proxy is blocking the traffic or timing out. Let me check on that. Thanks.

[2019-07-16 21:58] imeredith commented on #6027
I don't think so. I don't have any issues with anything else and I'm seeing this problem from 2 locations on different ISP's.

Is there a way to trace the GET requests?

[2019-07-17 02:14] aaronmell commented on #5997
It looks like its blowing up most of the time when I call this method.
res, err := client.ReleaseContent(name)

[2019-07-17 08:33] danie1sullivan opened #6031 "Helm upgrade fails the release after adding a new resource"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Scenario:
1. Helm install a chart with resources X, Y, and Z (it doesn't seem to matter which).
2. Helm upgrade chart to add resource W (in this case a CronJob) - success
[code]

3. Helm upgrade again, with or without changing anything - failure
[code]

I can delete the CronJob (or whatever resource was added) with `kubectl` an

[2019-07-17 09:32] astorath opened #6033 "Feature proposal: add plugin source data to plugin environment"
### Problem:

1. I have forked some helm plugin project
2. To test it all over, I want to install a forked version from my own repository
3. Installation script (install/update hook) does not know, which source I'm using

So I have to alter the installation script to use my own repository and later revert it to make a pull request.

### Proposal:

Add two env variables to hook scripts:
* `HELM_PLU

[2019-07-17 11:14] liukeyou opened #6034 "how to escape % symbol in values.yaml"
Output of `helm version`:
Client: &version.Version{SemVer:"v2.11.0", GitCommit:"2e55dbe1fdb5fdb96b75ff144a339489417b146b", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.11.0", GitCommit:"2e55dbe1fdb5fdb96b75ff144a339489417b146b", GitTreeState:"clean"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.0", GitCommit:"ddf47ac13c1a9483ea035

[2019-07-17 11:14] liukeyou opened #6035 "how to escape % symbol in values.yaml"
Output of `helm version`:
Client: &version.Version{SemVer:"v2.11.0", GitCommit:"2e55dbe1fdb5fdb96b75ff144a339489417b146b", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.11.0", GitCommit:"2e55dbe1fdb5fdb96b75ff144a339489417b146b", GitTreeState:"clean"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.0", GitCommit:"ddf47ac13c1a9483ea035

[2019-07-17 11:29] #6035 closed

[2019-07-17 11:29] liukeyou commented on #6034
%%

[2019-07-17 11:29] #6034 closed

[2019-07-17 13:18] loganmzz commented on #5953
It makes impossible to have chart which create rolebinding to external namespace (and more specially against system roles).

[2019-07-17 13:51] MaikuMori commented on #5797
Can confirm that it doesn't work. Rather annoying :(

[2019-07-17 14:54] hickeyma commented on #6022
@arielb135 `helm rollback` would bring you back to the previous revision alright.  You could do the rollback and then upgrade with the chart version that you deployed the app before it became distressed?

[2019-07-17 14:56] hickeyma commented on #6023
@segator Are you able to install any other charts? Could you try installing the scaffold chart (`helm create`)?

[2019-07-17 15:42] hickeyma commented on #6031
@goodman-sullivan I tried to reproduce the issue but it seems to work OK for me. Here is the output of my investigation:

[code]

[2019-07-17 15:54] mnsudhan opened #6036 "helm rollback unsuccessful with service account"
**Description:**
We had a helm chart installed which didn't have service account created.
We later did a helm upgrade of the chart with service account included.
When we did a helm rollback of the chart to original revision (which didn't have service account), pods are in crashLoopBackoff trying to mount the service account token which was deleted during rollback.

**Steps to reproduce:**
1. Insta

[2019-07-17 16:16] mattfarina commented on #5200
@justanr Have you tried doing a set like, `--set service.allowed_cidrs=`? There is nothing to the right of the `=`.

[2019-07-17 16:27] MWilkin12 commented on #5915
I am seeing the same issue - kubernetes (v1.11.7), helm (v2.12.2)

We have found that when we are doing an **upgrade** on a **failed release** if environment variables exist with the same value  as the **successfully deployed release** then they are not being passed into the container. For example: This a test example

Revision 1: **Helm get values** (successfully deployed release)
      ENVIRONME

[2019-07-17 16:53] segator commented on #6023
helm create test
helm install test
works

[2019-07-17 17:02] hickeyma commented on #6023
@segator Is it any issue with the `stable/prometheus-operator` chart only?

[2019-07-17 17:10] wieslaw-decent commented on #5948
Thanks for looking into it, @thomastaylor312 sounds fair enough to me!

[2019-07-17 17:12] hickeyma commented on #5200
Thanks @mattfarina, good suggestion.

[2019-07-17 17:46] segator commented on #6023
yes but anyway I dont expect helm crash if the chart have something wrong

[2019-07-17 19:39] diwenshi commented on #3486
Yes. This is feature is needed. Another use case is to specify/merge/override a subset of environment variables across different deployment environments.

[2019-07-17 20:01] abdennour commented on #1754
--set-file override the default values and does not extend them. I am already searching a solution here: https://stackoverflow.com/questions/57083220/helm-install-set-file-option-does-not-extend-the-default-values

[2019-07-17 20:54] abdennour commented on #3220
@fejta-bot  please stop closing issues without assessing its value! This issue raises one of the best features that is now missing.

[2019-07-18 01:07] justanr commented on #5200
@mattfarina that would work if I was invoking helm directly. However it's being managed by terraform so I'm not sure it's possible. I'll give it a whack and see but I don't think terraform will be happy getting an empty string when it's expecting a list.

[2019-07-18 01:14] DavidLei08 commented on #5200
Like this one

[2019-07-18 03:42] liuliqiang opened #6037 "helm3 value.yaml ingress path is a string?"
### Output of `helm version`:

[code]
### Output of `kubectl version`:

[code]

### Cloud Provider/Platform (AKS, GKE, Minikube etc.):

- Cluster build with kubeadm

### Problem

Hello, In helm2，i found a pr https://github.com/helm/helm/pull/4703/files which change `ingress.path` in **value.yaml**  from a stirng to list，but in helm3-alpha，https://github.com/helm/helm/blob/dev-v3/pkg/chartutil/crea

[2019-07-18 03:57] bacongobbler commented on #6037
Yes, that would be a good patch to port over. Feel like patching that?

[2019-07-18 03:59] liuliqiang commented on #6037
@bacongobbler  i would like to do that, i will take a patch now.

[2019-07-18 06:57] tomassundvall commented on #3555
I agree, I also think this would be very useful. Any updates?

[2019-07-18 07:58] hickeyma commented on #6023
Good point @segator. Can you narrow down what is causing the crash? Then we can see what the bug is in Helm.

[2019-07-18 08:31] stan-sz commented on #3522
Thanks @rakelkar and @bacongobbler. Indeed, when `$HOME` isn't set, `$HELM_HOME` becomes a relative path. The error message is misleading, though. Should helm warn on `$HOME` not set, given that it has downstream effects?

[2019-07-18 09:52] soumyakantiroychowdhury commented on #2656
/reopen

[2019-07-18 09:54] soumyakantiroychowdhury commented on #2656
I am seeing this issue in the following version:

[code]
Here is the output:

[code]

Although from subsequent `helm ls` command I can see that the release is deleted, so are pods and services.

[2019-07-18 09:55] soumyakantiroychowdhury commented on #2656
/remove-lifecycle rotten

[2019-07-18 10:19] MWilkin12 commented on #5915
I have replicated the above on kubernetes kubernetes (v1.11.7), helm (v2.14.2)

[2019-07-18 10:23] jsravn commented on #5144
@dannybitgo
[code]

[2019-07-18 10:42] prashantyadla commented on #6013
helm search dashboard -v 1.7.1
instead of this do you want something like this?
helm search --json { name: "dashboard", "version": "1.7.1"}
@kbaegis @bacongobbler

[2019-07-18 11:07] segator commented on #6023
In my first message there are all you need to reproduce the error :)

[2019-07-18 12:36] hickeyma commented on #6023
I think this should be handled better than crashing.

[2019-07-18 12:55] hickeyma commented on #5915
@MWilkin12 Helm currently uses Kubernetes 1.15. Would you be able to upgrade to version near to this?

[2019-07-18 13:29] MWilkin12 commented on #5915
Unfortunately not, we are using KOPS and the latest version we can go to v1.12.x

[2019-07-18 14:03] Constantin07 commented on #6031
We are experiencing the same issue but with HPA resource.
EKS version: `1.11`
Helm version:  `2.14.2`

While trying to update the deployment with a new version of chart with added HPA resource, we are getting:

[code]

Removing manually the HPA resource and re-running the deployment fixes the situation but is not acceptable for production.

[2019-07-18 14:24] DBarthe commented on #2777
Any update on this ?

[2019-07-18 14:30] bacongobbler commented on #3555
See https://github.com/helm/helm/pull/5492#issuecomment-509662190.

[2019-07-18 14:35] bacongobbler commented on #6013
No. This is a feature request for `helm search --output json`, in which the output is a JSON object rather than a table.

[2019-07-18 16:20] michelleN commented on #6020
Excellent write up @jlegrone. I think you've come up with an excellent proposal and I appreciate your perspective as an end user. It's a good evolution from what `test` is doing now and lays a solid foundation for evolving the `test` experience in the future. I can see where we might also be able to evolve this into support for test suites or even running single tests as has been requested recentl

[2019-07-18 16:23] bacongobbler commented on #5907
slating to get this done before we release the first beta.

[2019-07-18 16:25] bacongobbler commented on #5895
closed via #6011.

[2019-07-18 16:25] #5895 closed

[2019-07-18 16:26] bacongobbler commented on #5892
slating this for the 3.0.0 final release. It's a low priority to sort this out while we're still refactoring the internals, but we should certainly have a set of documentation available once 3.0 is ready to be released.

[2019-07-18 16:29] hickeyma commented on #5892
Sure @bacongobbler. Was distracted but working on this at the moment.

[2019-07-18 16:29] bacongobbler commented on #5827
@joelanford have you had a chance to take a closer look at this and see if the proposed changes in my previous comment seems feasible? I've been busy with other work so I haven't been able to take a closer look at this. I'd love to get your eyes on this if possible, given you're ultimately the end user consuming the API you'd be more well-equipped to determine if the end result works for you. :)

[2019-07-18 16:54] dannybitgo commented on #5144
@jsravn Thank you

[2019-07-18 17:21] bacongobbler commented on #6020
Thanks for the write-up @jlegrone. As discussed in the call, it may make sense to work on the infrastructure to support these use cases so we can avoid delaying a 3.0 release. Laying out the groundwork would be a good first step, then we can start discussing feature additions proposed, such as log streaming support, Job support, etc. in a future 3.x release.

Are you looking to do this work yourse

[2019-07-18 17:23] bacongobbler commented on #6020
I also want to make sure that we have a story for users migrating from Helm 2 to Helm 3. What's changed, why we're changing it, how to migrate etc.

[2019-07-18 17:37] hangyan commented on #5994
Guess i have missed the meeting again, it should be 0:30 am Friday in my local time (Beijing)...Sorry guys, next week...

[2019-07-18 18:01] jdolitsky commented on #5999
Closing, will be moving this to a new repo cc @bacongobbler @mattfarina @thomastaylor312

[2019-07-18 18:01] #5999 closed

[2019-07-18 18:06] diegosoek commented on #5915
Same error here:

`Error: configmaps "app.job-config.beta-app" already exists`

Helm version: v2.14.1
Kube version:
Client: v1.14.0
Server: v1.13.7-gke.8

My ConfigMap:
[code]

[2019-07-18 18:12] jlegrone commented on #6020
@michelleN

We'll support whatever is supported by hooks in helm 3. I wouldn't mind switching entirely to jobs but that would be a pretty major change so it's probably best to continue supporting both.

This should be possible with the `helm.sh/hook-delete-policy` annotation. Eg. always leave resources around for inspection:

[code]

Or only skip cleanup on failure:

[code]

The proposed `--skip-h

[2019-07-18 18:50] mozai opened #6040 "helm install bash script with "--no-sudo" raises an error"
Helm version: n/a

Steps to reproduce:
- `[ $(id -u) != 0 ] && echo "I Am Not Root"`  #  I Am Not Root
- `curl -LO https://raw.githubusercontent.com/kubernetes/helm/master/scripts/get`
- `chmod 0700 get`
- `./get -h`  # "[--no-sudo]  ->> install without sudo
- `./get --no-sudo`

Expected outcome:
Gets the appropriate "helm" binary for my OS and arch, puts it either in cwd or in the first writable

[2019-07-18 19:53] thomastaylor312 commented on #5915
@diegosoek I am not sure if that is the same issue. The behavior we've seen is that the release "updates" but the values in an object are not actually updated

[2019-07-18 21:51] bacongobbler commented on #6040
https://github.com/helm/helm/pull/4649 was provided by a community member. If you can figure out the proper way to fix this, that'd be great.

You could also try [setting $USE_SUDO to "false"](https://github.com/helm/helm/blob/88bb48bc6f573e21909147792a16daad7665e45f/scripts/get#L23).

[2019-07-18 22:43] bacongobbler commented on #5084
Thought I should update the community on this work.

Many users have been asking for an accelerated timeline for Helm 3.0. However, we don't want to corner ourselves in a wall where we disregard the use cases the proposals intend to solve. So, we're compromising.

Right now, we're trying to take the approach of a 3.0 minimum viable product: instead of implementing all of the features the v3 propos

[2019-07-18 22:59] bacongobbler commented on #5814
@thomastaylor312 is this safe to close now that #5961, #5970 and #5971 have been merged?

[2019-07-18 23:04] bacongobbler commented on #5952
That info should be printed out if it's part of the release info.

https://github.com/helm/helm/blob/2c397b6879ca3ddee955b4f4f349647e6c3791b9/pkg/action/printer.go#L44-L50

Can you check and confirm if this object is empty after calling `helm install`?

[2019-07-19 00:58] bacongobbler commented on #5752
ping, anyone planning to work on this? We're planning to cut the first beta by mid-August so it'd be great if we could take a closer look at these design issues.

[2019-07-19 03:15] jdolitsky commented on #5752
Hi, I can take a look in the coming days

[2019-07-19 08:21] xavierzhao opened #6041 "helm : helm ls crashing with timeout"
Output of `helm ls`：
[code]

Output of `curl`
[code]

Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.):

`Self-built Kubernetes on my local centos machine.`

Output of `kubectl get node`:
[code]

Output of `kubectl get pods --all-namespaces`:
[code]
also the output of kubectl cluster-info：
[code]

[2019-07-19 09:57] mcon-gr opened #6042 "Looks like --execute option of `helm template` is broken"
Hi helm folks,

It looks to me as if the `--execute` option of `helm template` is broken (at least on Windows when using Windows helm in WSL).

In particular, the below produces empty output, despite "./templates/deployment.yaml" being a valid template file (I'm running this from the root of the Helm Charts repo).
`helm.exe template ./stable/minio/ --execute ./templates/deployment.yaml`

Trying to

[2019-07-19 10:04] rajeshaz203 opened #6043 "Error: validation failed: unable to recognize "": no matches for kind "Deployment" in version """
Output of `helm version`:
Client: &version.Version{SemVer:"v2.14.2", GitCommit:"a8b13cc5ab6a7dbef0a58f5061bcc7c0c61598e7", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.14.2", GitCommit:"a8b13cc5ab6a7dbef0a58f5061bcc7c0c61598e7", GitTreeState:"clean"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.11", GitCommit:"637c7e288581ee40ab4c

[2019-07-19 10:27] AndiDog opened #6044 "`required` function swallows message until first colon (`:`)"
Output of `helm version`:

[code]

Example issue (note escaping of `$` is for the shell):

[code]

This will fail with a truncated error message:

[code]

Once you remove the `:` from the custom error message (`printf "%s <colon removed here> something is missing" $myvar`), the error output is as expected:

[code]

[2019-07-19 10:31] AndiDog commented on #6044
This code looks really suspicious:

[code]

[2019-07-19 11:12] vbehar commented on #4753
same here with helm 2.14.1:

[code]

[2019-07-19 11:13] IamGabrielWu opened #6045 "what's the difference between --values and -f"
Hi Sorry maybe this sounds stupid.
I don't understand what's difference between -f and --values.

[2019-07-19 12:05] AndiDog commented on #5628
The breaking change doesn't make any sense: `helm template --namespace xyz` should use `xyz`, but uses `default`. Why would it access a kubeconfig _at all_? When rendering a manifest, there's no need to access a cluster. I had thought that's the goal of Helm 3 – getting rid of the server component and only provide a tool that does one thing well: rendering templates and managing releases without t

[2019-07-19 12:28] hickeyma commented on #6045
They are the same parameter flag. You can use `-f` or `--values`.

[2019-07-19 12:28] #6045 closed

[2019-07-19 12:41] timja commented on #5628
It's not a breaking change it's a bug, if you read up it should be clear

[2019-07-19 12:46] muehlburger commented on #5752
@jdolitsky I can also take a look in the coming days.

[2019-07-19 13:40] bacongobbler commented on #6042
Can you try this against a newer version of helm? 2.9.1 was released a year ago.

[2019-07-19 13:57] AndiDog commented on #5628
---

In the above comment https://github.com/helm/helm/issues/5628#issuecomment-502159599, @bacongobbler says:

which means the developers still intend to keep both sources for determining the namespace automatically. Or did I misunderstand? That is the confusing part here. Which source gets precedence must be absolutely clear, and `helm template` should IMO be a tool that works only with the inpu

[2019-07-19 13:59] timja commented on #5628
The namespace value just isn't being passed through properly. So it uses whatever your active namespace is, workaround is to change your active namespace before deploying...

[2019-07-19 13:59] kbirger commented on #4578
I'd like more visibility on this. I'm coming with the exact same use case here.

@Ryan-Git - I'm not sure what you mean, could you link to an example?

[2019-07-19 14:25] pkobielak commented on #5628
@timja It does not solve the problem if you are deploying resources to many namespaces from a single chart.

[2019-07-19 14:30] marcinma commented on #3308
Why this is closed? Issue still exists

[2019-07-19 14:38] bacongobbler commented on #5628
@pkobielak please follow #5953 for the discussion around multiple namespaces from a single chart. This issue and #5953 are separate discussions. Thanks.

RE:

I think you're misunderstanding. Helm will continue to respect general CLI conventions here. We're just adding an additional configuration source where we can read the namespace parameter from. If you don't want to read your namespace parame

[2019-07-19 14:42] bacongobbler commented on #3308
What issue are you seeing @marcinma? What's your recommendation for a fix?

[2019-07-19 14:44] bacongobbler commented on #4578
If the Kind is unknown, it is at the bottom of the sort list.

See https://github.com/helm/helm/blob/d953c6875cfd4b351a1e8205081ea8aabad7e7d4/pkg/tiller/kind_sorter.go#L138-L159

[2019-07-19 14:50] mirr254 commented on #4456
What about a situation where you have 2 resources that should go in different namespaces??

[2019-07-19 15:46] bacongobbler commented on #5953
#6046 implements a fix for this. Please feel free to give that a shot. I've tested this against several charts and I'm fairly confident this fixes that particular issue.

[2019-07-19 15:49] bacongobbler commented on #5953
closed via #6046

[2019-07-19 15:49] #5953 closed

[2019-07-19 15:50] thomastaylor312 commented on #5814
Yes. Sorry I missed this issue. @jeremyje please let me know if you see any more problems

[2019-07-19 15:50] #5814 closed

[2019-07-19 16:38] atombender commented on #3308
That's [wrong](https://masterminds.github.io/sprig/defaults.html). `default` takes the default value as its first argument, and the value to be tested as the second. I use this all the time. Yes, the order is weird, but the OP is right.

There's a bug here and this needs to reopened.