[2017-01-24 09:02] whitecolor commented on #1053
This probably should be out of scope of helm, and implemented via scripts.

[2017-01-24 17:26] technosophos commented on #1858
Did you do `make bootstrap` first?

[2017-01-24 18:24] rothgar commented on #1163
I'm also late to the conversation (brought in via slack) but I'm curious if tests can be run pre-deployment.

This would be useful when charts make assumptions about a cluster
e.g.
- dynamic disk provisioner available
- loadBalancer available for service

I think charts should make as few assumptions about a cluster as possible but should present data to the user before deploying to let the user k

[2017-01-24 19:07] technosophos commented on #1856
The reason this began to fail is that there was a bug in Glide's `master` that caused it to mis-label the build directory as the home directory. It was fixed upstream.

[2017-01-24 19:07] #1856 closed

[2017-01-24 19:10] technosophos commented on #1847
I'm at a loss to explain how `glide init` would have produced a local repo cache with a name other than `stable`. The names are hard-coded into `cmd/helm/init.go` as far as I can tell.

[2017-01-24 20:29] technosophos commented on #1837
I am in favor of this proposal. I think it very cleverly solves some real-world problems that have surfaced several times.

I have a few specific comments on specific issues you raised.

### List vs Switch

Regarding _list vs. switch, I'm slightly in favor of switches because it does make it easy to manage. With lists, there's always a question of whether the intent is to replace the list or modif

[2017-01-24 20:43] kfox1111 commented on #1837
Two thoughts. Kolla-kubernetets is using a nested value sturcture now to make it easy to set a value more generically and hit a bunch of subcharts, and then set values more specifically to affect fewer.

This ends up with a search path like:
if defined at Values.foo, use that.
if defined at globals.kolla.mysubchart.foo, use that.
if defined at globals.kolla.allcharts.foo use that.

So it would be

[2017-01-24 21:05] alanmeadows commented on #1840
@technosophos The real wish here is to be able to point at artbitrary Github (or whatever) URLs for charts and simply specify tags, branches, whatever makes sense.  I see a lot of similarities to what Berkshelf implemented (https://sethvargo.com/berksfile-magic/) which makes one wonder whether this belongs in helm or a companion tool, but given helm specifies urls for dependencies, I am inclined t

[2017-01-24 22:12] technosophos commented on #1824
We moved from Travis to CircleCI because of the resource restrictions on the Kubernetes org (we had to wait up to 3 hours for a build to even start). We toyed with going back not too long ago.

But... no, there is no reason why we can't switch to another CI provider.

[2017-01-24 22:30] ravishivt opened #1862 "Build and release cross-platform tiller images"
Now that we have cross-platform binaries being built, it would be great if helm also built and released cross-platform tiller images.  See https://github.com/kubernetes/kubernetes/blob/d9aed2c5ab47c581ed1f9c5dccd07402fe055f05/cluster/images/hyperkube/Makefile for an example Makefile that uses QEMU to do cross-platform docker builds.

[2017-01-25 01:13] migmartri opened #1864 "Dependency update command does not delete previous versions"
Hi,

I have run into an usability issue in which Helm was instantiating a dependent chart that I thought I had already updated.

Let's say I have a chart with two dependencies:

[code]

Resolving:

[code]

Then I update my dependencies by doing `helm dependency update` and getting a new version of the MariaDB chart.

[code]

The issue is that the updater has not removed my previous version of the

[2017-01-25 01:47] blakebarnett opened #1865 "helm apply command"
It would be nice if a `helm apply` command replaced and augmented the current `helm upgrade --install` behavior.  Perhaps based on the diffing code for `kubectl apply`.

Mainly it just needs to support installing newly added resources to an existing release, and removing resources that no longer exist.  When doing an upgrade in production it's not great that we need to delete the current release t

[2017-01-25 05:53] jascott1 commented on #1837
@technosophos By using globals we have been able to create nested values structure that results in the following except I have added the enabled and rabbitmq properties (but they are doable).

[code]

[2017-01-25 10:03] iamzhout commented on #1864
Since your updater can work during certain CI stage, is it possible to first remove (rm) the charts directory and then run `helm dependency update`?

[2017-01-25 12:42] whitecolor opened #1873 "Helm doesn't updated resource though Chart's template changed"
Client version "v2.1.3"

I'm using customized `nginx-lego` chart from a folder.

First I installed it as it is, then adde arguments here:
https://github.com/kubernetes/charts/blob/master/stable/nginx-lego/templates/nginx-deployment.yaml#L38

So in charts templates I have changed arguments:
![image](https://cloud.githubusercontent.com/assets/736697/22290925/66e5947e-e325-11e6-8aeb-885c8d6cdbf2.png)

[2017-01-25 16:45] #1704 closed

[2017-01-25 16:45] #1755 closed

[2017-01-25 16:46] #1482 closed

[2017-01-25 17:11] technosophos commented on #1837
So in the `condition` field, `,` would be treated as an OR?

This is the situation I was thinking about when I suggested that we might want some operators, since I could also imagine someone wanting to specify an AND or NOT condition there. And maybe it would be as simple as considering ',' to be OR, '^' to be NOT ('!' is a control character in YAML), and '&' to be AND.

One thing to keep in mind

[2017-01-25 18:30] technosophos commented on #1873
Can you confirm for me whether this is a duplicate of #1844 ?

[2017-01-25 18:32] technosophos commented on #1865
Helm 2.2.0 will have this functionality as part of `helm upgrade`. /cc @adamreese

[2017-01-25 18:36] whitecolor commented on #1873
Well probably I can not be sure, I just say that I have updated args of `container` in `deployment` template, and helm doesn't update deployment while `upgrade` operation, that is all I can confirm.

[2017-01-25 21:16] jascott1 commented on #1837
@technosophos Good point about globals. Also I like the simple logic operator idea. Here are some examples

[code]

[code]
[code]

[code]

In my original work, loading a chart is only skipped when the path exists and value is actual false. This means unless explicitly disabled, charts always load. Now though if we have above logic, a condition such as "^key1" (NOT key1) would mean what if key1=tru

[2017-01-25 21:53] thomastaylor312 commented on #1837
@jascott1 With that third example, it would probably be clearer to require parens. So `^(key1,key2)`. As you have it written, it seems like `NOT key1 exists or key2 exists`

[2017-01-25 22:00] kfox1111 commented on #1837
@technosophos: What I was suggesting is something different then an or for ','

Say you have these values:
globals:
  kolla:
     all:
        enabled=true
     mythingIcareabout:
         enabled=false

ordering the list like:
globals.kolla.mythingicarabout.enabled,globals.kolla.all.enabled

I want the value of mythingicareabout to be the value, as it exists. if its true or false, thats the value

[2017-01-25 23:15] jascott1 commented on #1837
@thomastaylor312 I did mean "NOT key1 exists or key2 exists" as an example to think thru. kfox1111 and others have also suggested parens, what do you think this style?

[code]

@kfox1111 not sure im getting you on last comment. what you said is the same as how we've been defining OR.

[code]

[2017-01-25 23:36] kfox1111 commented on #1837
so, or would be first defined value, not the logic, true if a or b is true? What if someone wanted a logical 'or' operator?

I'm a little worried this will turn into its own language all on its own. would it be better to just use a gotl macro? Then we can reuse the whole gotl engine for logic.

[2017-01-25 23:59] InAnimaTe commented on #990
Hey all, just wanted to see if there was any January updates on this? Moving from Rancher into Kubernetes and starting to play with helm really mimic's their rancher-catalog idea: composable repeatable templates that are easy to engage with. Having Helm support in the UI would further make deployment super easy and fun. Furthermore, providing the ability to fill in certain variables or other field

[2017-01-26 04:57] jascott1 commented on #1837
@kfox1111 Right, OR on key existence not key value was the original idea. Maybe shows some of the confusion we might get when users try to grok it. Im also worried about the increase in complexity. By  "What if someone wanted a logical 'or' operator?" i take you mean operate on the value. If we start down that road then we would have to discuss "truthiness/falseness". ( in a "post truth" era :)

Y

[2017-01-26 06:22] jascott1 commented on #1837
@technosophos Although the tpl approach has those downsides you mentioned is it possibly the lesser of two evils for conditions here? We don't have to invent/write/preach another system and tpl is documented and full featured (we are already using it for conditions).
Tags: I think we want nested tags for the complex use case and it seems like we could re-use the nested globals approach, is that th

[2017-01-26 09:27] jascott1 commented on #1733
file:// could also be used to satisfy URL requirement but it does tie the dependencies to local system.

[2017-01-26 11:37] whitecolor opened #1875 "Removal of Persistent Volumes"
I understand that it is quite expected behavior of helm to delete all the resources that were created while installation, but isn't unsafe to remove persistent volumes (and claims as well)?

Maybe after release deletion I would like old volumes to be assosiated with newly created resources. What do you think?

[2017-01-26 16:43] alanmeadows opened #1877 "Feature Request: Create #openstack-helm Slack Channel on kubernetes.slack.com"
What

The kubernetes organization on slack should have an #openstack-helm channel.

Why

There is a growing community of those trying to orchestrate OpenStack using helm.  It would help community exchange and collaboration to have a place for that group as a wider community to speak about issues specifically facing OpenStack orchestration using helm.

Issues then requiring helm specific improvemen

[2017-01-26 16:49] dzavalkinolx opened #1878 "Add `--reuse-values/--set/-f` merge feature to upgrade"
I have a CD server on separate server somewhere which doesn’t have `values.yaml` used to create chart. Also it has new image tag (artefact id). Now I need this script to update only one value in already running helm chart.

There is already function `reuseValues`: https://github.com/kubernetes/helm/blob/master/pkg/tiller/release_server.go#L334-L349 but it will be called only id no values are provi

[2017-01-26 17:03] v1k0d3n commented on #1877
@lachie83 maybe you could weigh in on this? your thoughts?

[2017-01-26 17:19] ohaiwalt opened #1879 "Many concurrent requests kill tiller"
running kubernetes v1.5.1 on AWS

[code]

logfile w/stack traces
https://gist.github.com/ohaiwalt/5fd80336964e20a38875f745a0c58c61

[2017-01-26 18:53] technosophos commented on #1879
We are looking into this.

[2017-01-26 18:55] technosophos commented on #1878
So what you would like is to have `reuse-values` merge any provided values into the existing values?

In the short term, the work-around I have suggested for CI in the past is to `helm get values`, then append the replacement value to the end, then `helm upgrade` with the new values.

[2017-01-26 19:01] technosophos commented on #1877
I'd be strongly in favor of this. The OpenStack + Kubernetes + Helm discussions have really taken on a life of their own. Often, the conversations are very domain specific ("here's a very advanced case, how can we take the collective toolset and solve it").

Does anyone know who the gatekeeper is on the Kubernetes Slack? I don't have permissions to create new channels.

[2017-01-26 19:04] technosophos commented on #1875
I was under the impression that we did not remove the underlying volume/claim. Is that right @viglesiasce ?

[2017-01-26 19:07] technosophos opened #1880 "Document "resource-policy keep""
I can't find any documentation on resource policy.

See #1875

[2017-01-26 19:10] technosophos commented on #1862
This would definitely be good to have.

[2017-01-26 19:12] technosophos commented on #1864
Yeah, this definitely sounds like a bug. I am going to look into it. For the time being, I am going to throw it onto 2.2.0 because it could provide some fairly major issues in certain conditions.

[2017-01-26 19:13] technosophos commented on #1848
I am closing this version, then, so we don't have to track this issue twice. Thanks to both of you!

[2017-01-26 19:13] #1848 closed

[2017-01-26 19:22] technosophos commented on #1844
Okay, we've divided this bug up into a few chunks to track down internally. I'll try to address @tback's points while @adamreese is looking into some of the other deployment problems.

Currently, the upgrade will compare the last Tiller release to the just-submitted chart. Only the differences are sent on to Kubernetes. So in your example above, are any differences sent?

Yes, this is intentional.

[2017-01-26 19:22] ravishivt commented on #1862
I just looked at tiller's Dockerfile.  We can ignore the QEMU approach since there are no docker `RUN` commands in the Dockerfile.  We just have to side-load the cross-compiled binaries onto a architecture-specific docker base image.  [hypercube's Makefile](https://github.com/kubernetes/kubernetes/blob/d9aed2c5ab47c581ed1f9c5dccd07402fe055f05/cluster/images/hyperkube/Makefile#L33) might a good ref

[2017-01-26 19:40] #1805 closed

[2017-01-26 19:46] TamalSaha commented on #1586
I wanted to give a quick update on our status. @saumanbiswas has implemented update & rollback release feature to TillerC. He is also updating [our forked Helm](https://github.com/appscode/helm) to use the kube apiserver instead of proto server. We hope to have a e2e working cli and TillerC ready soon.

[2017-01-26 20:18] whitecolor commented on #1875
you mean anotation to PVC resource? But it is not very convenient with 3rd party charts right? For example what should be done with this chart https://github.com/kubernetes/charts/tree/master/stable/mongodb ?

[2017-01-26 20:22] technosophos commented on #1145
Unfortunately, we've had to remove this from the 2.2.0 milestone because of backward compatibility issues. This would cause unwanted upgrades, which in some cases will break existing installations. Since there is a solid alternative (do this in templates), we are simply removing this from the 2.2.0 milestone.

[2017-01-26 20:35] technosophos commented on #1840
Helm Classic actually used the model you lay out above. We moved from that to the present model because we wanted (a) guaranteed reproducibility, and (b) strong cryptographic integrity checking. But I can't deny that the old model had some real niceties.

If it has to be done client-side, this is _exactly_ the thing we had envisioned for plugins. CNR, for example, is implementing their repo tool t

[2017-01-26 21:08] mikejk8s opened #1881 "Large install/upgrade occasionally doesn't give full output"
* k8s version: 1.5.2
* Helm version: 2.1.3

I've got a helm chart that has around 60 yaml files, some of which contain 3-4 k8s objects (so let's say about 130-150 total items being deployed by Helm) and 1 out of every 10 or so install and/or upgrades results in the output after an install or upgrade only showing a couple of items, always the same items. No pods, deployments, etc are displayed.

Th

[2017-01-26 21:42] nandant commented on #1793
@adamreese , does this pruning work when the we reduce the number of replicas in a deployment? I just tested this for a deployment where I reduced replicaCount of the managed pods from 3 to 1, but the helm upgrade did not delete the other 2 pods.

[2017-01-26 21:48] seanknox commented on #1826
In this particular case, I think this might be related to a job that executes as a `post-upgrade` hook. The chart in question is for a Rails app and runs a [DB migration](http://guides.rubyonrails.org/active_record_migrations.html) on release upgrades. At some release point in the past, the job pod had issues and never completed successfully.

During this below chart upgrade, all new k8s objects w

[2017-01-26 21:58] technosophos commented on #1881
Is there anything in the Tiller logs? Specifically, are there any errors related to receiving bad data from Kubernetes API server?

[2017-01-26 22:07] mikejk8s commented on #1881
There are not.

This is a tillerlog with one of the tiny-outputs, specifically the one in my example in OP - what's interesting is that the last item is a pod that isn't in the output;

[code]

I have another upgrade that worked fine right after this, and the difference I see is this is missing;

[code]

[2017-01-26 22:46] technosophos commented on #1833
@iamzhout Thanks for the detailed troubleshooting on that.

@Masber so are things good at this point?

[2017-01-26 22:49] technosophos commented on #1826
That makes sense. Jobs have bitten us before for this same reason.

[2017-01-26 22:50] #1818 closed

[2017-01-26 22:50] technosophos commented on #1811
Any news on this one?

[2017-01-26 22:52] technosophos commented on #1804
Closed via #1722 and #1839

[2017-01-26 22:52] #1804 closed

[2017-01-26 23:00] technosophos commented on #1793
@nandant So you increased the replica count by changing a value in the helm chart, then later reduced the replica count in the helm chart? Or were you doing some of these steps with kubectl?

[2017-01-26 23:09] technosophos commented on #1773
Today we merged support for the `--wait` flag, which is probably as close as we will get in the near future.

Using `helm install --wait` will now keep Helm running until the entire release has been deployed.

[2017-01-26 23:10] technosophos commented on #1770
Any update on this?

[2017-01-26 23:12] alanmeadows commented on #1840
@technosophos That is interesting, I never really ramped up on classic. Isn't reproducibility solved by not only a git pointer but one with specific tags or commit references? I have tools that have operated over a period of years with this approach.

The other challenge, integrity checking is a little harder to solve for -- some integrity is guaranteed with https but obviously, its not as in-dept

[2017-01-26 23:17] technosophos commented on #1754
@syhol I'm not sure I see the difference between the `/values` proposal and simply using `{{ .Files.Get }}`

I do like the idea of a `--file-set`, since it prevents an unexpected injection, but still provides the ability to dump an entire file into a variable.

[2017-01-26 23:20] technosophos commented on #1749
It looks like this was fixed in upstream Go. I'm marking this as closed.

[2017-01-26 23:20] #1749 closed

[2017-01-26 23:20] #1742 closed

[2017-01-26 23:21] technosophos commented on #1723
I guess I'll close this one for now. Feel free to re-open if necessary.

[2017-01-26 23:21] #1723 closed

[2017-01-26 23:27] adamreese commented on #1793
@nandant the pruning done by a 'reaper' object which queries for related resources using label selectors and removes them.  This is kubernetes native and helm doesn't add any functionality on top.

https://github.com/kubernetes/kubernetes/blob/0ebedded7d3e711bd7a286c83b2f44764874afbf/pkg/kubectl/stop.go#L415

[2017-01-26 23:51] thomastaylor312 commented on #1878
I think a good way to do this would be to add a `--reuse-values` flag to `upgrade`. I don't think the default behavior should be to merge the values because that might lead to some confusion. What do you think?

[2017-01-26 23:56] technosophos commented on #1726
This was fixed in 2.1.3. Assuming we have a template like this:

[code]

We can pass in multiple labels like this:

[code]

And the output will be:

[code]

You can quote strings, too. The easiest way is to use single quotes:

[code]

For double quotes, use backslash escapes:

[code]

[2017-01-26 23:56] #1726 closed

[2017-01-26 23:58] sarahnovotny commented on #1877
the helm to deploy openstack use seems to fit in two sigs already... sig-apps and sig-openstack.  we're trying to right size our conversation sharding as much as possible.    why do you want another #channel ?

[2017-01-27 00:07] seanknox commented on #1826
Roger. Thanks @technosophos!

[2017-01-27 00:07] #1826 closed

[2017-01-27 00:10] jascott1 commented on #1878
@dzavalkinolx you might look at this plugin https://github.com/skuid/helm-value-store

[2017-01-27 00:18] technosophos commented on #1733
For the sake of CI systems, I would be okay with adding a convention with something like:

[code]

But both of these significantly damage the portability of the `requirements.yaml` file since they bind resolution to the arbitrary configuration of a local system. So I would then recommend that most people not use them, and encourage the Kubernetes Charts repo to explicitly disallow using either of

[2017-01-27 00:21] technosophos commented on #1713
Closing for now. Re-open if necessary.

[2017-01-27 00:21] #1713 closed

[2017-01-27 00:22] technosophos commented on #1712
@bacongobbler are you still working on migrating the tunnel logic to a separate package?

[2017-01-27 00:26] technosophos commented on #1696
Was this just a case of two helper templates being called? Is this still a problem?

[2017-01-27 00:30] technosophos commented on #1798
Duplicate of #1690

[2017-01-27 00:30] #1798 closed

[2017-01-27 00:31] bacongobbler commented on #1712
Yep! I actually have a working implementation. Lemme PR that.

[2017-01-27 00:32] technosophos commented on #1688
Because we want to allow charts to share common template definitions with each other, I believe the convention should be `chartname.fullname` (or `chartname-fullname` or something).

[2017-01-27 00:33] gtaylor commented on #1712
Happy to test and help review this weekend!

On Jan 26, 2017 4:31 PM, "Matthew Fisher" <notifications@github.com> wrote:

[2017-01-27 00:35] technosophos commented on #1663
Plugins should now make it possible to address/fix a number of these problems. I've filed a request to ask @databus23 to make Schelm a helm plugin, and I've written the `helm template` plugin to make it easier to debug templates during development: https://github.com/technosophos/helm-template. And it looks to me like @ahawkins could probably package that Ruby script as a helm plugin, too.

[2017-01-27 00:36] jascott1 commented on #1733
@technosophos Sounds reasonable. Kolla has aspirations to be in charts/stable though so that would preclude us from using this. If we could us file://, we think we could remove the script that does dep build and dep up on all the charts, which would be nice since it it needs to be run for each install/upgrade after local changes are made. @kfox1111 can probably add some insight into the usefulness

[2017-01-27 00:37] technosophos commented on #1649
Anyone have an update to this? I agree that it would be nice to have it build in regular homebrew. But I don't have the time to get this done.

[2017-01-27 00:37] kfox1111 commented on #1878
I think there are a few different use cases I can think of here.

User wants to 'upgrade' a helm package in a way, such as:
package has a configmap version value. its initially set to 1. it has a bunch of other values the user wants to keep.
user uploads configmap version 2.
user: 'helm upgrade <releasename> foo --set configmap_version=2'

but, maybe the use case could be:
helm update <releasename

[2017-01-27 00:41] jascott1 commented on #1733
Should also add that @qwangrepos is working on proposal for this.

[2017-01-27 00:42] bacongobbler commented on #1712
#1882 :)

[2017-01-27 00:44] kfox1111 commented on #1733
the use case is covered in #1639

Do you need more info?

[2017-01-27 00:49] mikejk8s commented on #1881
Just a quick update, I did a fresh install of this on a minikube node to take my cluster out of the equation and immediately had the same issue with the very first install.

[2017-01-27 00:50] kfox1111 commented on #1733
@technosophos I disagree with the portability assertion.

The current url scheme makes some assumptions too that damage portability:
1, that you can access the same url the dev used (enterprise firewall issues/mirrors need to be used)
2, that if using localhost:<someport>, that your <someport> matches the devs's <someport>

And semi related, requires a version field. Which makes sense for remote s

[2017-01-27 01:00] sbezverk commented on #1696
looks clean so far, closing it..

[2017-01-27 01:16] syhol commented on #1754
The benifit of ´/values´ is that the contents end up in ´.Values´. Thats lets us nicely implement default files, while still allowing injection/overriding using existing or new methods (´--set --values --file-set´).

It comes back to my original use case. I want a default key file in the chart, but for staging/prod deploys I want to specify a custom key file instead.

Also the cases I linked to in

[2017-01-27 01:35] v1k0d3n commented on #1877
i think this is a great/fair question. i think sig-openstack today was intended for kubernetes workloads on openstack, because at the time...that was the real challenge for openstack users. i'm thinking about the early days of ingress, lbaas issues with kubernetes, magnum CaaS, etc. if that group is willing to evolve into _anything_openstack...i'm all for it. i will continue to work with the opens

[2017-01-27 01:38] sarahnovotny commented on #1877
thanks for the info.  I've created #openstack-helm.

[2017-01-27 01:38] #1877 closed

[2017-01-27 10:01] majewsky commented on #1829
We're not doing it manually anymore, but yes, that's what I mean: https://github.com/sapcc/kubernetes-operators/tree/master/helm-garbagecollector

The rationale is the same as with the `revisionHistoryLimit` on a Kubernetes Deployment object. We deploy a quite large chart (https://github.com/sapcc/openstack-helm), and once a few hundred releases had accumulated in our staging env, many Helm operat

[2017-01-27 10:21] databus23 commented on #1649
Seems line this fixed itself: https://github.com/Homebrew/homebrew-core/blob/master/Formula/kubernetes-helm.rb

[2017-01-27 18:25] kfox1111 opened #1883 "parent values"
In kolla-kubernetes we have a common library, kolla-common. It has no templates that don't start with '_' (no non macro charts).

This code is used by parent charts to launch k8s objects. This allows us to share large swaths of code between all the various packages/objects we have.

One fairly big maintenance burden we have seen though is that because the macro is called in objects in the parent c

[2017-01-27 18:39] jascott1 commented on #1883
@kfox1111 in this case would just using existing library chart values with a 'parent' key that gets merged up suffice?

[2017-01-27 18:43] qwangrepos opened #1884 "Proposal: support local path in requirements.yaml"
## Problem Statement
Currently Helm only support fetching dependency charts in requirements.yaml from a helm repository, which can be run locally or remotely. This limitation requires chart developers serving a helm repository and pushing the dependency charts to the repository and fetching the dependency charts into the charts/ folder. This is a pain point for chart developers in the CI process.

[2017-01-27 18:54] kfox1111 commented on #1884
Looks really good, but needs a bit of clarification.

file:// vs file:/// meaning. file:// is the root dir of the local fs where Charts.yaml is stored?, while file:/// would search from the root of the fs? Would disallowing file:/// be good? (I think?)

'../' in the file:// needs to be explicitly allowed. so, file://../../foo should look two directories up from this chart for a chart dir named foo

[2017-01-27 18:56] kfox1111 commented on #1883
that could work too, if there wasn't charts in existence that had a 'parent' key. Don't know if those exist.

[2017-01-27 19:01] sbezverk commented on #1883
How about adding a keyword --parent-values which could be a list of yaml files to merge before using chart's own values.yaml.
In this case we we can specify arbitrary location of parent value files and it is sequence will be also an order of precedence.  1st mentioned file will be overridden by 2nd etc. Thoughts?

[2017-01-27 19:13] kfox1111 commented on #1883
the trouble with that would be it would require the user to do that on every 'helm package <parent>' command. which might be too onerous.

But the idea of a list is interesting. If you wanted to be explicit, we could add it as a flag in requirements?

Or have a child_values.yaml file in the parent that specifies what child values to pull in?

May be more trouble then its worth though. not sure. th

[2017-01-27 19:15] sbezverk commented on #1883
@kfox1111 I do not see it as a issue when variable with that list is used, like we do for common_vars, then the user just need carefully set it up once and then refer to it from all subsequent commands.

[2017-01-27 19:25] jascott1 commented on #1883
@sbezverk In my mind that flag would be a further addition to the parent key/parent_values solution but I would like to see this work without CLI params if possible. To me the parent key approach seems the least invasive if it would serve our needs and not wreck existing charts.

[2017-01-27 19:29] sbezverk commented on #1883
@jascott1 I understand your point,  but having keyword always helps in scripting. Hiding this in a file, does not help much for scripting purposes but makes it makes it much more difficult.

[2017-01-27 19:38] jascott1 commented on #1883
@sbezverk Ok that confused me, we are talking about merging a child's values up to parent thus allowing child library chart to be loaded with its values and used by parent. What scripting are we talking about?

[2017-01-27 19:43] sbezverk commented on #1883
@jascott1 ok I was thinking about different direction, using parent's values in child's chart and the scripting was launching child chart. I guess it is a different topic then.. apologies..

[2017-01-27 19:54] kfox1111 commented on #1883
To me, it is kind of the same thing as saying, we don't need a requirements.yaml file, and a helm deps up command, as you could:
cp -a ../../microservice/foo charts/; cp -a ../../microservice/bar charts;
helm package .

Having the list be part of the chart makes it easier for users to not have to maintain that info outside of helm somehow.

Having the list as part of the chart means they don't hav

[2017-01-27 21:34] kfox1111 commented on #1883
Another possibility:

Say you have a lib with a single subchart, but it contains a dozen or so macro's that the parent can use.

Perhaps the parent wants to pull in just the values associate with the macro's it chooses to use?

So, what about this:
the subchart gets a directory called parent_values/
With individual files in there, such as: foo.yaml, bar.yaml.

The parent chart then has a list of c

[2017-01-27 22:23] jascott1 opened #1885 "update contributing doc to point to CNCF CLA"
The helm docs still point to the Google CLA instead of the CNCF CLA but afaik this should be changed now (as predicted in https://github.com/kubernetes/helm/issues/663)
https://github.com/kubernetes/helm/blob/master/CONTRIBUTING.md

[2017-01-27 22:48] jascott1 commented on #1884
On the optional version idea, i'm not so sure. We could match the requirements entry's version to the one in the local dir. Sure its a pain but at least it forces consistency, otherwise it would be easy to drift far away from reality thinking you have version 1.12 (as listed in requirements) but are in fact dealing with 1.13 with all the breaking changes. Not a huge deal to me but with many many c

[2017-01-27 22:52] thomastaylor312 commented on #1844
Ok, here is what is going on with deployments on our end. Here is a manifest that we are using:
[code]

After creation there is one pod and one replica set:
[code]

After adding an env variable to the template and upgrading, there are duplicate pods and replica sets, even though I have `type: Recreate` set:
[code]

Also, when I look at the definition of the deployment, replica set, and pod, they a

[2017-01-27 22:56] kfox1111 commented on #1884
If its optional, if you want the consistency check, you just add the version. if you don't want to version them separately, you skip adding the version to the parents deps. It handles both use cases I think?

I just don't think that if you have a single git repo, with two packages, A and B, you will hit a case very often where you update A to an incompatible version from what B expects. They are i

[2017-01-30 10:19] munnerz opened #1886 "Tiller crashes when deployment with name containing '/' created"
Hi there

Whilst developing some tooling around helm, I've noticed that when creating a resource with a name containing a '/' in it, the local helm client exits with `Error: transport is closed`, and the Tiller pod crashes (although recovers once k8s restarts it).

I wouldn't expect Tiller to support `/` characters in names, but I would expect a more helpful error message at some point during the

[2017-01-30 17:28] whitecolor commented on #1875
@technosophos ?

[2017-01-30 19:19] kfox1111 opened #1887 "Merge `helm template` plugin into core Helm"
I'm trying to add helm package rendering validation to some of our lightweight gate jobs. Finding the following issues:
 * helm install xxx --dry-run --debug produces the yaml to be loaded, but also some non yaml at the beginning that is nontrivial to parse out. There maybe needs to be another flag to say, "only give me the yaml that will be uploaded"
 * helm install xxx --dry-run --debug requires

[2017-01-30 20:14] technosophos commented on #1884
We would pretty much have to follow the spec for how `file:` URIs are treated. See https://en.wikipedia.org/wiki/File_URI_scheme (which links to the RFCs)

[2017-01-30 20:17] technosophos commented on #1884
I would not be in favor of dropping the `version:` requirement. But this is a case where using version matching (instead of exact versions) would be preferable.

In fact, I would be in favor of version constraint checking for any charts included by `file:///`. This is actually a good feature to have for those who are using multiple VCS repos, as it will provide a way of flagging when a user's loca

[2017-01-30 20:18] technosophos commented on #1886
Can you provide the crash log's stack trace? You are right that this should not cause a crash.

[2017-01-30 20:22] technosophos commented on #1881
Thanks for all of the additional info. I'm adding it to the queue to be fixed.

[2017-01-30 20:57] technosophos commented on #1883
What if we could provide a way for the top-level chart to identify portions of subchart configuration that it wants to import? I've been working on a prototype for this, though it's really early.

The idea would be that the top level chart could basically say "augment my `values.yaml` with the values in /charts/foo that match the pattern `foo.parent.*`".

I'm very reluctant to allow subcharts to m

[2017-01-30 21:04] technosophos commented on #1865
Okay, I was just re-reading this issue. I might have misled you with the earlier answer.

First, `helm upgrade` already handles doing pretty much all of the things that you mention in the second paragraph (and we certainly don't advocate deleting before upgrading). What actually happens is that we generate a diff of the existing release and the newly sent chart, and then modify the release based o

[2017-01-30 21:11] technosophos commented on #1468
@AmandaCameron can you give any more info about this failure?

I do know of the case where you cannot install a TPR and use one of the TPRs resources in the same chart (without using a hook). For example, if you declare a TPR "example.com/foo" and then try to use a resource with "apiVersion: example.com/foo" in the same chart, you will see an error. The reason for this is that the TPR is not fully

[2017-01-30 21:18] viglesiasce commented on #1875
When using StatefulSets the PVCs will be left alone.

If using the PVC template in the chart then it will be deleted. We should add resource-policy: keep to the charts where we think it should be implemented although deleting the release is an indication that you want all of the resources to be deleted.

[2017-01-30 21:22] kfox1111 commented on #1883
@technosophos yeah, I think thats kind of the direction the comment directly above yours may be going. The parent chart in its dependencies lists which chunks of the child's values it wants to include.

I wasn't thinking wild cards, but that could work too.
I was thinking something like:

parent requirements.yaml file:
dependencies:
  - name: kolla-common
    repository: http://localhost:10191

[2017-01-30 21:26] technosophos commented on #1875
I guess the suggestion, then, is to fork charts and modify them on your own.

[2017-01-30 21:29] viglesiasce commented on #1875
...and then submit that change back as PR to the charts repo.

[2017-01-30 21:30] AmandaCameron commented on #1468
I mean in "consumer" charts. For example, I have a chart that can provision postgres database users/passwords in a legacy system, and I'd like to be able to insert instances of the "PostgresDatabase" TPR that it uses for the creation of this provisioning. This fails because it chokes on the idea of a resource it does not understand. The actual creation of this TPR is handled by the go program that

[2017-01-30 21:32] technosophos commented on #1878
Just to quickly explain the current logic:

On upgrade:

- if `--set` or `-f` are specified, those values are sent as the new values, and old values are ignored.
- if _no_ values are sent, the existing values are simply re-used unmodified
- if no values are sent, and `--reset-values` is supplied, the upgrade will revert to the chart's built-in values

There is currently no way to tell Tiller to me

[2017-01-30 21:45] blakebarnett commented on #1865
Interesting, so if a developer makes a change to a hook in a chart repo, that change will never get applied to any users that use that chart?  Maybe there should just be another hook annotation like `pre-deploy`?   It *seems* like using both `pre-install,pre-upgrade` should work in combination with `helm upgrade --install` but it didn't for me.

[2017-01-30 22:11] jascott1 commented on #1837
re: Tags

Anyone have any problems with the following statement:

"A chart will be loaded if at least one of its tags evaluates to true, unless overridden by a condition which evaluates to false"

[code]
[code]

In above example subchart2 chart is effectively enabled since the "subchart2" tag is true despite its other tag "back-end" being false. If the condition "subchart2.enabled" evals to false

[2017-01-30 23:24] technosophos commented on #1879
Having not found the problem based on the stack trace, I'm trying to reproduce the issue by doing stuff like this:

[code]

Do you have a more reliable way of reproducing this?

[2017-01-30 23:37] technosophos commented on #1886
Having trouble reproducing. Here's my template:

[code]

So this will generate names like `name: foo/quaffing-panda`.

Now if I run it, I get:

[code]

And if I look at the Tiller logs, I see:

[code]

This is on Helm 2.1 and Kubernetes 1.5.2.

Can you provide me a little more data to try to debug?

[2017-01-31 03:02] ohaiwalt commented on #1879
I haven't found the magic incantation to reliably repro this yet, but I'm still running into it about once a day. I'll see if I can narrow it down a bit more.

A bit more context on my setup, the the jobs are ~15 `helm upgrade` commands being kicked off in parallel from Jenkins. This particular environment is usually only deployed to once a day, and the behavior I observe is the first parallel set

[2017-01-31 11:51] alban23 opened #1891 "Chartutil refers to non-existing dependency"
Hi,

apologies if I got it wrong.

In line 31 in https://github.com/kubernetes/helm/blob/master/pkg/chartutil/capabilities.go the code tries to get the version of kubernetes.
Import:
[code]
Access:
[code]
However, the current version of the referenced package does not have anything with a KubeVersion object. See https://github.com/kubernetes/kubernetes/tree/master/pkg/version

Also see https://git

[2017-01-31 16:03] andrewhowdencom opened #1892 "Feature request: Allow inheriting files from parent templates"
At the moment, children templates can inherit values in the parent `Values.yml` file if that file includes the value, prefixed by the chart name. For example,

[code]

There is no such inheritance allowed for files. It appears that values are being explicitly passed down the stack in the following snippet:

https://github.com/kubernetes/helm/blob/c8af660b181daf4000aca87e19e583fd1abec0b3/pkg/engine

[2017-01-31 16:06] thomastaylor312 commented on #1844
@adamreese To clarify, are you saying to add the exact same set of labels as a selector or something else?

[2017-01-31 17:39] mcameron opened #1893 "Getting ImagePullBackOff status from tiller install after helm init"
Might be a dupe of: https://github.com/kubernetes/helm/issues/355

[2017-01-31 17:40] mcameron commented on #1893
Or: https://github.com/kubernetes/helm/issues/623.

I'm on v2.1.3.

[2017-01-31 19:48] technosophos opened #1894 "Add the Croc Hunter video to related.md"
This video should be added to the related.md doc.

https://www.youtube.com/watch?v=NVoln4HdZOY

[2017-01-31 19:50] technosophos commented on #1891
Doing `make bootstrap` should fix that for you.

I recommend using Glide. But I'm highly biased: I also wrote Glide.

[2017-01-31 19:56] bacongobbler commented on #1893
Can you please provide logs as well as a more thorough explanation on what's going on? There's not a whole lot of information to go on here.

[2017-01-31 20:00] #1885 closed

[2017-01-31 20:01] #1880 closed

[2017-01-31 20:04] sbezverk commented on #1883
I do not like the idea of wildcards, as 1 it will kind of forces naming 2 if by mistake somebody uses a part of name which is in wildcards, some values could accidently being leaked into charts. Going with section name of included values sounds like a more reliable option.

[2017-01-31 22:22] foxish commented on #1163
@michelleN, any update on this issue? Is it blocked on something else?

[2017-01-31 23:52] ttrahan opened #1895 "Quick start guide references functionality in future release"
The instructions in the [Quick Start guide](https://github.com/kubernetes/helm/blob/master/docs/quickstart.md#initialize-helm-and-install-tiller) provide a tip to use the `helm init --upgrade` command to automatically upgrade Tiller on the server. This flag is not available in Helm CLI yet (v2.1.3 is latest available) and appears to be slated for v2.4 per https://github.com/kubernetes/helm/issues/

[2017-02-01 00:04] #1661 closed

[2017-02-01 00:38] thomastaylor312 commented on #1844
After some troubleshooting with @adamreese, we found that if your pod template spec labels change between releases, it can orphan the old replica sets. That addressed my issues with Deployments

[2017-02-01 00:56] technosophos commented on #1824
I am told that Docker fixed this in 1.13.1. The first RC is here: https://github.com/docker/docker/releases/tag/v1.13.1-rc1

If anyone has a chance to test that and confirm the fix, please let me know. Otherwise, we'll probably wait until the 1.13.1 final release comes out in a week.

[2017-02-01 01:00] technosophos commented on #1844
This is on the 2.2.0 roadmap to be fixed, but it's starting to look like the fix is really a matter of chart authorship, not a code change. Am I right in that assessment?

If that's the case, I think we should turn this into a documentation fix, and add it to the chart FAQ or something, since we've seen this issue come up in several forms.

[2017-02-01 01:08] prydonius commented on #1824
Just upgraded to 1.13.1-rc1 and can confirm it's fixed:

[code]

[2017-02-01 01:11] adamreese commented on #1879
I looks like the kuberenetes library for caching clients is not thread-safe.  I am working on an upstream patch that I will post in here when PR'ed

[2017-02-01 05:29] thomastaylor312 commented on #1844
@technosophos I am not sure if this will also address the problem @jayme-github initially opened this issue with

[2017-02-01 12:37] ahawkins opened #1896 "Locking Chart Repository Design"
I'm opening this issue to test my sanity regarding chart repo hosting. I understand that a chart repo is a web server that serves `GET /index.yml`. `index.yml` is the complete list of all charts and their appropriate metadata and download location. The documented approach to publishing a chart is to download the complete `index.yml`, merge in additional packages, and push back to the server. `helm

[2017-02-01 16:09] tazjin commented on #1896
I guess the issue here is logic-less reposervers, i.e. people who just push their repo into a GCS or S3 bucket. There wouldn't really be anything that can run the required index generation code.

[2017-02-01 17:21] ahawkins commented on #1896
Correct, but then only a single user can push at a time.

[2017-02-01 19:05] bcorijn commented on #980
What is the current status of this? Can I set the namespace in my chart through a value or will Tiller override this?

I tried finding some more information in the docs, but there's not much reference to namespaces in there. Nor on setting them explicitly through the chart, or how the value of .Release.Namespace is set.

[2017-02-01 20:02] technosophos commented on #1896
Our intention regarding repositories is that Helm itself would place only minimal requirements on a repository, and then provide a bare-bones implementation for developers to use. We figured that at some point we or others would build better tools outside of Helm. Notably, we figured we (or others) would build a custom repository server that would support a full lifecycle workflow (Push/Pull, for

[2017-02-01 20:56] technosophos opened #1897 "bug: helm search is sometimes returning old versions"
It appears that under one set of circumstances, Helm's index function and Helm's search function have different expectations about the index file format. Specifically, search expects that the entries are ordered (newest to oldest) while the index function does not appear to always to that.

Helm search should sort by version before building its search index.

[2017-02-01 20:57] libesz opened #1898 "Proposal: move downloader and resolver package to /pkg"
I am planning to create an alternative tiller client, which is not CLI based, but for example has REST/JSON NBI for further integration with e.g. a web front-end, which is not capable to handle gRPC directly. The client would have limited capabilities comparing to helm, like install/upgrade/fallback. As chart fetching and dependency resolution is on the client side (from tiller's perspective) I wo

[2017-02-01 22:17] technosophos commented on #1898
The only requirement I'd place on this is that nothing in `pkg` should assume that `os.Stdout` is the correct destination to write something to. I think there are some places in those packages that may still do `fmt.Print...`.

Otherwise, I'm in favor of moving anything re-usable into `pkg`.

[2017-02-01 22:45] marun opened #1899 "Chart installation failure on OpenShift: mkdir /.kube: permission denied"
Helm version: 2.1.3
OpenShift version: 1.5.2-alpha.2

Attempting to install a chart on OpenShift (tested with a single node cluster deployed with ``oc cluster up``) results in the following failure:

[code]

cc: @technosophos

[2017-02-01 22:47] marun commented on #1899
It looks like OpenShift does not grant permission for the tiller to write to ``/`` in its container.

[2017-02-01 23:24] marun commented on #1899
I got it working by giving the system accounts on both the ``kube-system`` and target namespaces full privileges:

[code]

The requirement for cluster-admin rights is problematic, but as per @technosophos the next release of helm will support ``helm init --helm-namespace=`` which should allow the tiller and its enhanced privileges to be restricted to a single namespace.

[2017-02-01 23:28] #1899 closed

[2017-02-02 00:03] xsgordon commented on #1877
Just for future time travelers the scope of sig-openstack is "a special interest group co-ordinating contributions of OpenStack-related changes to Kubernetes." [1]. Whether those are workload or deployment focused depends on what issues folks have and who shows up to work on them. The right place to propose expansion of scope is the mailing list [2].

[1] https://github.com/kubernetes/community/tr

[2017-02-02 00:59] Masber commented on #1833
No, I am still troubleshooting. I think I will have to open a case with calico...

[2017-02-02 04:53] ahawkins commented on #1896
This is why I opened the issue. I want to understand more of the future trajectory to see if it's worth taking on this work.

I think we'll put something together for this then. We need this for our process. We're happy to contribute it as a separate open source project (Given are skill set is not with go).

[2017-02-02 16:27] technosophos commented on #1896
That would be fantastic! Please let us know if there's anything we can do to help, and if at some point you want to demo your work, we'd love to see it at the dev standup, and probably SIG-Apps

[2017-02-02 16:29] michelleN opened #1902 "add last test suite run results to helm status output"
cc/ @vdice

[2017-02-02 17:04] technosophos opened #1904 "Optimize scanReposForURL function"
Per #1855, there is probably a way to optimize the traversal algorithm (maybe with a cache) that is used by scanReposForURL()

[2017-02-02 17:07] technosophos commented on #1824
Yes! Fantastic!

[2017-02-02 17:15] technosophos commented on #1844
@tback and @jayme-github : If you have time to check in on this issue, here's where we are:

- We've determined that deployments that don't have a `selector` defined will often (silently) abandon replica sets
- We've found that deployments are particularly sensitive to label changes, and (if I understand it correctly) will on occasion silently ignore updates if labels are changed. This can be a pr

[2017-02-02 17:18] technosophos commented on #1838
After some investigation, I'm closing this as a duplicate of #1824.

The current work-around is to use Docker >= 1.13.1-RC1, which fixes the bug in Docker 1.13.0

[2017-02-02 17:18] #1838 closed

[2017-02-02 17:23] technosophos commented on #1879
I am taking this out of the 2.2.0 milestone because it is an upstream Kubernetes issue, and there will be no k8s release between now and the 2.2.0 target release date. For now, I'll move it to 2.3.0 in hopes that we get it into a patch release.

Recent evidence suggests that a Kube patch takes 8 weeks from submission to merge... so... this one could take a while just to go through the process.

[2017-02-02 17:24] technosophos commented on #1886
@munnerz anything you can add to this? I'm stalled out because I can't reproduce. If you can help me, I will push to get this into the next release.

[2017-02-02 17:29] #1897 closed

[2017-02-02 19:01] krancour commented on #1468
@technosophos: @arschles, @lachie83, and myself have run into this as well.

To be clear, when we say we're "installing a TPR," we're talking about creating a resource of an existing TPR type.

We've tried with a variety of cluster versions and helm versions. Consistently, I am finding that the problem occurs only with helm 2.1.0+. 2.0.0 - 2.0.2 all worked fine for this purpose.

[2017-02-02 21:33] technosophos commented on #1884
I believe that @qwangrepos is currently working on a PR to add this feature. I've added it to the 2.2.0 roadmap.

[2017-02-02 22:23] michelleN commented on #1163
@foxish no blockers. the PR is in review

[2017-02-02 23:31] kfox1111 commented on #1884
@technosophos yeah, I'd be ok with version matching instead of exact, so you could at least say, version >= 1.x, version <= 2.x. Wouldn't be a huge burden then.

[2017-02-03 00:07] #1824 closed

[2017-02-03 00:07] #1845 closed

[2017-02-03 00:07] #1846 closed

[2017-02-03 00:15] technosophos opened #1906 "Add OWNERS file"
The trend in Kubernetes files is to have an OWNERS file at the project root that has two broad categories: `reviewers` and `approvers`. We should probably add one of these in Helm.

[2017-02-03 03:56] ahawkins commented on #1896
Roger that command. I'll get the code written and you help me navigate the kubernetes ecosystem/community :bow:

[2017-02-03 05:20] spesnova commented on #1897
Thanks 👍

[2017-02-03 08:18] javiercr commented on #1769
I ran into this problem today too. I found out about Helm Hooks recently and I thought it would be perfect to implement pre-upgrade database migrations (`rake db:migrate`, for those of you familar with Rails). But then I found that Helm does not clean up completed jobs, so this doesn't work on a CI environment.

I'm probably missing something, but what's the point of having a job executed in a pre

[2017-02-03 09:23] libesz commented on #1898
Thanks!
I did not find any direct os.Stdout or fmt.Print* usage. The majority returns the say in the form of errors. The rest (like [warnings](https://github.com/kubernetes/helm/blob/master/cmd/helm/downloader/chart_downloader.go#L108)) is printed to the Out io.Writer field of the package's main data struct, so that it is configurable.

[2017-02-03 17:10] KeithTt opened #1911 "pvc is pending"
OS: centos7.2
k8s version: 1.5
[code]
[code]

[2017-02-03 17:37] errordeveloper commented on #1580
I'd suppose we could just define an array of required values in `Chart.yaml`.

Also, may be there is a way to hack around this in `_helpers.tpl`? Basically, I really need this.

[2017-02-03 17:45] technosophos commented on #1911
Can you create a PVC with `kubectl` and see it go out of the `Pending` state?

[2017-02-03 17:51] keith4743 commented on #1911
there are some other PVCs in my cluster
[code]

[2017-02-03 20:47] krancour commented on #1468
Spent some time troubleshooting with @technosophos. Here are some pieces to the puzzle.

cluster: 1.5.2
kubectl: 1.5.2
helm: 2.1.3
tiller: 2.1.3

Given the following TPR definition:

[code]

I can try to create a resource of that type. Like this one, for example:

[code]

If the above is included in a chart, helm will fail to install that chart with an error like the following:

[code]

If, howeve

[2017-02-03 21:42] victortrac opened #1912 "tiller-deploy crashes when deployment defines a spec.template.metadata.annotations that checksums itself"
I have a deployment template that looks like this:
[code]
This works fine.

When I change it to this (adding in checksum of the deployment.yaml file itself, tiller-deploy crashes:
[code]

Logs from tiller-deploy:
[code]

I'm running `gcr.io/kubernetes-helm/tiller:v2.1.3`.

[2017-02-03 22:53] technosophos commented on #1912
Crashing is definitely a bug, and I'll look into it.

If you put quotations around both the annotation name and the value, does that fix it?

[code]

[2017-02-03 22:55] technosophos commented on #1911
If you do `helm install stable/jenkins --dry-run --debug` it will print out the YAML. Can you take the PVC from that YAML and run it through `kubectl create` and get a PVC?

I'm trying to determine if the problem is in the generated manifest, the cluster, or Helm.

[2017-02-04 00:09] lachie83 opened #1915 "(feat/cmd/helm): Add support for longer table column wides using `-o wide`"
See #1914

Example

Without `-o wide` - Table colum wide ~30
[code]
With `-o wide` - Table colum wide ~60
[code]

[2017-02-04 00:31] lachie83 commented on #1915
This appears to differ from kubectl behavior (`-o wide` in kubectl doesn’t change the column width
it adds more columns and prints them if they are returned) https://github.com/kubernetes/kubernetes/blob/d6f7ae2ffbdc1d5cd89181666e62cf0208830f85/pkg/kubectl/resource_printer.go#L511-L512

[2017-02-04 03:06] victortrac commented on #1912
@technosophos quoting the annotation name and value still crashes (also crashes as a label instead of an annotation).

[2017-02-04 03:12] keith4743 commented on #1911
[code]
[code]

[2017-02-05 05:33] bzub commented on #1893
I see this also.

When I do a kubectl describe on the tiller pod I see:
[code]

Also tried this:
[code]

The issues @mcameron cited show similar issues where the tag/image was mistakenly set to private.

[2017-02-05 05:49] bzub commented on #1893
Oh, looks like a change in Docker is the culprit.  v1.13.1 fixes it.

This issue is probably a dupe of #1824 which is closed so it's not easily identified by new users.

[2017-02-06 08:40] iamzhout commented on #1912
tried to reproduce this issue locally, and seems the root cause is the `include` template directive inside deployment for the yaml itself which caused an infinite loop and stack overflow.

I think the possible solution to this problem maybe:
* avoid such use practice of using 'include' manifest yaml with itself
* introduce new template directive maybe `include_once` to avoid infinite parsing loop

[2017-02-06 12:04] tamalsaha opened #1918 "Proposal: Authentication and Authorization support for Tiller"
# Goal
For Tiller to execute all of its API operations "as" the user. So that (a) Tiller is not a "superuser" and (b) users' own ids, etc. are attached to operations.

# Architecture
The general idea is Helm cli will forward user’s auth info from kubeconfig to Tiller gRPC server via HTTP Header. Tiller gRPC server will call various Kubernetes authN/Z apis to perform authentication  and authorizati

[2017-02-06 12:10] fiunchinho opened #1919 "Question: recursive dependencies"
If the ChartA has a requirements.yaml file saying that it depends on ChartB, and ChartB has a requirements.yaml file saying that it depends on ChartC, should I get ChartC when installing ChartA? When testing this locally, I get ChartB but I don't get ChartC. The charts folder inside ChartA contains a ChartB gzip file.

[2017-02-06 12:26] TamalSaha commented on #1586
Hi,
After a long conversation with @liggitt , it is clear that TPR controller will not be able to perform authZ required by Tiller. The recommendation is to use an api server and perform auth using Kube apiserver. You can read the full conversation [here](https://docs.google.com/document/d/1L2yfF8J4-TjJtbvx1aR9rAjixClNeZQb9Eit9n6x1_E/edit#bookmark=id.itn88eciyobe).

Later I had offline conversatio

[2017-02-06 12:26] #1586 closed

[2017-02-06 18:23] vdice opened #1920 "add `--cleanup` flag to `helm test` cmd"
As an option to automatically clean up test pods after test suite completion.  See https://github.com/kubernetes/helm/pull/1777#discussion_r99491030

(Requires https://github.com/kubernetes/helm/pull/1777)

[2017-02-06 18:31] eduardobaitello opened #1921 "Wrong flag in v2.1.3 Documentation"
The example `helm rollback` command in v2.1.3 Documentation uses a `--version` flag, which does not actually exist in this version.
Link to doc session: https://github.com/kubernetes/helm/blob/v2.1.3/docs/using_helm.md#helm-upgrade-and-helm-rollback-upgrading-a-release-and-recovering-on-failure

The syntax that is correct is `helm rollback RELEASE_NAME REVISION_VERSION`

[2017-02-07 00:33] larryrensing commented on #1563
i'll take this one on

[2017-02-07 00:34] technosophos commented on #1563
Assigned to @larryrensing . GitHub is not cooperating, so I temporarily assigned to myself.

[2017-02-07 00:54] iamzhout commented on #1891
@alban23 `KubeVersion *version.Info` is [golang struct](https://golang.org/pkg/go/doc/#Example) means the `KubeVersion` is the struct member name, while `*version.Info` is for member type, so you should not lookup KubeVersion inside kubernetes code which will have no result.

[2017-02-07 23:56] technosophos opened #1924 "Proposal: Tiller "Release Modules" to create pluggable backends"
# Proposal: Tiller Release Modules

A _release module_ is a pluggable Tiller component that can take a set of Kubernetes resource definitions and release them into a cluster. Release modules can replace Tiller's built in release mechanism, providing additional functionality or features.

- A release module is implemented as a gRPC server.
- A release module registers itself with Tiller
- `Chart.ya

[2017-02-08 00:10] #1921 closed

[2017-02-08 00:33] technosophos commented on #1918
I very much like this proposal.

I would imagine doing this as four separate PRs:

- Adding the authentication mechanisms
- Adding the SubjectReview
- "Discovering Tiller Server" (could be done any time)
- Adding the TPR for release (possibly delayed a bit)

Okay, a few other comments:

- For the "Discovering Tiller Server" feature, we could also look into storing config data in a flat file in $HE

[2017-02-08 00:49] pigmej commented on #1924
cc @nebril

[2017-02-08 01:19] technosophos opened #1925 "search_test unit test breaking master intermittently"
On occasion, this is happening.

[code]

Initially reported by @larryrensing

[2017-02-08 01:25] technosophos commented on #1886
If anyone can reproduce this, please let me know (and please provide an example). I can't reproduce, and I'll have to pull this off of the 2.2.0 milestone in a few days.

[2017-02-08 05:17] #1925 closed

[2017-02-08 14:49] sstarcher commented on #1468
This causes a similar issue with helm 2.1.x and Kubernetes 1.4.x.  You can no longer use PetSets if you upgrade helm to 2.1.x

[2017-02-08 15:40] michelleN opened #1927 "add hook for asserting test failure"
Currently you can define tests on your charts that assert success. We also want to be able to assert that a test will fail. For that reason, we need a hook type called test-failure to compliment the current hook `test-success`. You should be able to define a test that should fail and throw this hook annotation on it. When running tests, if this test fails, that would indicate a successful test res

[2017-02-08 17:13] technosophos commented on #1919
`helm dep up` is not recursive. This is mainly because the design of the package format requires that a packaged chart contains all of its dependencies, and `helm dep` was intended to be used for fetching packaged charts.

[2017-02-08 17:16] #1864 closed

[2017-02-08 17:38] fiunchinho commented on #1919
Thank you for your reply! You mean it's like that by design, and it's not expected to work otherwise? Wouldn't be better to fetch dependencies when packaging the chart so when another chart downloads it, it gets the chart and its dependencies?

[2017-02-08 17:49] bacongobbler commented on #1919
Intentional by design. It is expected that a chart contains all of its dependencies as @technosophos mentioned.

[2017-02-08 17:55] fiunchinho commented on #1919
We could keep that design decision but change how `helm package` works. If `helm package` runs `helm dp up` before packaging, when the chart is made, the gzip package will contain the dependencies. That way, when installing the package, I'd get the dependencies too. Right?

[2017-02-08 17:55] bacongobbler commented on #1919
requirements.yaml allows fuzzy semver strings (e.g. `v0.1.x`), so if that were to be supported then subsequent calls to `helm package` could end up with differing results. It would also cause chart repositories to balloon like crazy when uploading charts (having to save the same chart for every chart that depends on it, rather than just referencing it in a requirements.yaml).

[2017-02-08 18:09] technosophos commented on #1832
Closed by #1850

[2017-02-08 18:09] #1832 closed

[2017-02-08 18:35] #1712 closed

[2017-02-08 18:36] gtaylor commented on #1712
Thanks for your work, @bacongobbler !

[2017-02-08 19:48] jascott1 commented on #1837
The above PR #1917 introduces basic functionality for tags and conditions, each of which is in its own function. If we are happy with the approach it should be easy to add more advanced processing. Currently for conditions it only does 'first valid path wins' from comma delimited list of YAML paths. For tags, only the top parent's values is considered and only the root key "tags:". Tags under "glo

[2017-02-08 19:54] jascott1 commented on #1837
Also, only requirements.yaml is searched for tags and conditions, Chart.yaml is not currently used (a change from original implementation). If requirements.yaml is supposed to represent developer intent (version choice etc) then it seems appropriate to only use that file and leave chart alone.

[2017-02-08 22:30] #1902 closed

[2017-02-09 00:01] technosophos commented on #1468
Since there will be no 2.1.4, moving this to 2.2.0

[2017-02-09 05:27] foxish commented on #1762
For someone running into this, it may also because newer versions of git don't automatically follow 301 redirects.
`git config --global http.https://gopkg.in.followRedirects true` restores the old behavior

[2017-02-09 07:48] jfelten commented on #1833
same issue here on Centos 7.3 using weaveworks as the network provider:
kubectl apply -f https://git.io/weave-kube

Will switch to flannel.

[2017-02-09 11:24] Ladicle opened #1931 "`helm init` was completed but tiller status is Error"
`helm init` was completed.
[code]

But, the tiller pod status is Error.
[code]

According to the log, connection refused error has occurred.
[code]

## Versions
* kubernetes
[code]
* helm
[code]

[2017-02-09 16:57] TamalSaha commented on #1918
I think supporting it via a service in Kube will be better because, users don't need to worry about one more extra config.

I think there is a "security" benefit of using TPR. As things work today, it is possible for someone to overwrite coinfigmaps and then rollback to deploy a bad version. With TPR, cluster admins can restrict regular users from writing Tiller TPR but allow them to edit configma

[2017-02-09 17:12] technosophos commented on #1931
Tiller is unable to connect to the Kube API server. There's some discussion on that here: https://github.com/kubernetes/helm/blob/master/docs/install_faq.md

[2017-02-09 17:17] TamalSaha commented on #1924
Hi,
I have major reservation about how proposal allows modifying the gut of Tiller. I see the value of extensibility but IMHO the downsides are many.

Fragmentation of Charts: We would like Helm project to define and tightly control the UX for application deployment. But that breaks down with this proposal. Now, someone can write a Chart that works with a particular module. This will be bad for UX

[2017-02-09 17:43] kfox1111 opened #1933 "'helm delete' and PVCs"
So, I created a pvc of my own, as I can't use the dynamic provisioner for a particular use case.

I then enabled the pvc setting on stable/grafana and launched it:
helm install stable/grafana --name grafana --values grafana-values.yaml
Error: release grafana failed: persistentvolumeclaims "grafana-grafana" already exists

helm delete --purge  grafana then ends up deleting the pvc, even though the

[2017-02-09 17:48] kfox1111 commented on #1933
So, actually repeating the procedure, the error is printed and the release enters "failed" state, but the server came up and bound to the existing pvc anyway. So, not sure if it is really a bug that "Error" really should be "Warning" and status really should be DEPLOYED, or if it should not be trying to delete the pvc on delete.

[2017-02-09 20:09] goruha commented on #1696
Bug is still there

We expect that two consecutive runs would have essentially the same output (~almost idempotent), with exception of dynamically generated fields (e.g. passwords and dates).

What we observe is that this is not the case. the order of the resources are entirely different. this has the negative consequence: `_helpers.yaml` in umbrella charts which may define blocks might not be cal

[2017-02-09 20:10] goruha commented on #1696
@sbezverk please reopen this issue

[2017-02-09 20:35] technosophos commented on #1933
During a `delete` helm operation, Tiller will send the same batch of manifests created with `install` or `upgrade` to Kubernetes API. In this case, the labels for the PVC in the chart must have matched the labels on the existing PVC.

Can you by any chance send us the labels for those two so that we can reverse engineer this a bit?

[2017-02-09 20:43] kfox1111 commented on #1933
I created:
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: grafana-grafana
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi

the chart tried:
https://github.com/kubernetes/charts/blob/master/stable/grafana/templates/pvc.yaml

There was no lablels on the pvc I created.

Even if they did match perfectly, the user might have done that to try and get

[2017-02-09 20:52] goruha commented on #1696
The first error should be here
https://github.com/kubernetes/helm/blob/c1e6683233537c24c99b3228cb690c18c6d0f9c7/pkg/tiller/release_server.go#L750

[code]
http://stackoverflow.com/questions/9619479/go-what-determines-the-iteration-order-for-map-keys
https://blog.golang.org/go-maps-in-action

Right workaround

[code]

The second must have behaviour is to have templates started with _ be rendered the

[2017-02-09 21:13] sbezverk commented on #1696
as per goruha''s request reopen the issue

[2017-02-09 22:16] foxish commented on #1920
+1 but aside from this, it seems like we should also have a new test run clobber the old completed pod perhaps?
For example, the below result was unexpected:

[code]

Or maybe we should have the test pods use some auto-generated name suffix? Thoughts?

[2017-02-10 00:00] vdice commented on #1920
@foxish the current plan/implementation in the linked PR (https://github.com/kubernetes/helm/pull/1935) is to enable this functionality explicitly from the user via a flag, e.g. `helm test --cleanup <release>`.  If it's decided we'd rather have cleanup be the default, it should be a simple change.

As for naming test pods with, say, a random suffix, I believe we've decided to leave that up to the

[2017-02-10 14:24] ineu commented on #1742
Sorry for posting to the closed issue, but could you please clarify how I should write down boolean annotations? Neither of the following works:

It always throws

[2017-02-10 14:33] #1919 closed

[2017-02-10 14:46] felipejfc commented on #1742
@ineu it is tricky indeed and sadly not documented, I had a hard time trying to get it to work, this is how its done:

router:
  deployment_annotations:
    router.deis.io/nginx.serverNameHashBucketSize: "'128'"
    router.deis.io/nginx.proxyRealIpCidrs: "'0.0.0.0/0'"
    router.deis.io/nginx.useProxyProtocol: "'true'"
  service_annotations:
    service.beta.kubernetes.io/aws-load-balancer-proxy-p

[2017-02-10 16:24] technosophos commented on #1933
So did the full name match `grafana-grafana`? I'm wondering if the actual delete logic in k8s just deletes based on name, not name + labels.

[2017-02-10 16:47] kfox1111 commented on #1933
Yeah. the full name matched. The labels didn't so I think your right.

[2017-02-10 16:48] technosophos commented on #1163
At what point do we mark this issue as closed?

[2017-02-10 16:50] technosophos commented on #1844
We seem to be stalled out on verifying whether the fix above solves this problem. I'll leave the issue open for a bit longer, but I'm planning on closing it when I release 2.2.0.

[2017-02-10 19:50] #1468 closed

[2017-02-10 21:01] technosophos commented on #1468
To test this on master:

- Download the canary Helm client: https://github.com/kubernetes/helm/blob/master/docs/install.md#from-canary-builds
- Install the canary version of tiller: `helm init --canary-image`

We've been testing by installing the TPR with `kubectl`, then using a Kind from that TPR in a chart. If you want to store the TPR in the chart, make sure you flag it as a `pre-install` hook

[2017-02-10 21:05] technosophos commented on #1844
Quick update: After updating the internals for TPR support, we tested Deployment scenarios for the 2.2.0 candidate code. We tested adding, modify, and removing env vars on the template spec. All seems to work now _provided_ you use a selector as described above.

To test:

- Install the latest Helm canary client: https://github.com/kubernetes/helm/blob/master/docs/install.md#from-canary-builds
- R

[2017-02-10 21:05] #1844 closed

[2017-02-10 21:17] #1898 closed

[2017-02-10 22:03] thomastaylor312 commented on #1163
@technosophos Do we want to split the validation idea out into its own issue?

[2017-02-10 22:34] technosophos commented on #1918
Just want to record that I have been getting a lot of supportive feedback in Slack and in other places about this particular feature as defined here. This is something a wide variety of users are asking for in the 2.3.0 release.

[2017-02-10 23:43] InAnimaTe opened #1944 "Release.Revision is empty :("
Utilizing the built-in `Release.Revision` for a label causes an empty label ;(

[code]

Yields:

[code]

[2017-02-11 00:10] technosophos commented on #1944
We added .Release.Revision in Helm 2.2.0, which will officially get released next week. I updated the docs early, so they were misleading. Sorry about that.

[2017-02-11 00:19] InAnimaTe commented on #1944
You are awesome. I'm not even mad br0 ;)

Closing.

[2017-02-11 00:19] #1944 closed

[2017-02-11 08:30] ahawkins opened #1946 "RFC: Helm Webinar Outline"
This issue is an RFC on my outline for a helm webinar I'm doing. You can find more details on my [blog](http://blog.slashdeploy.com/2017/02/11/real-world-kubernetes-webinar-series/). I'd like some feedback on my outline and to make sure the maintainers (@technosophos, @adamreese, @michelleN ) have input into how their project is marketed and things they think prospective users should know/understa

[2017-02-12 02:39] scottrigby opened #1947 "Proposal: add dependency define command"
When a kubernetes chart version bumps, it's dependency in other charts must also be bumped. This however (as I found out in kubernetes/charts/pull/619) is rather tedious.

I temporarily wrote a quick [dependency version bump utility script](https://gist.github.com/scottrigby/4cba8b7454c3ecb38a1136cd06261092) that works well enough for now, but this is of course not ideal.

I looked at the `helm de

[2017-02-12 09:07] luxas opened #1948 "Please provide -ARCH tiller images"
Now that this is an official Kubernetes project (whohoo :tada:!!), it should comply with the multi-platform guidelines Kubernetes: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/multi-platform.md

I see there has been great progress on this lately, and I think there's only one piece missing.

Please push tiller images for the Kubernetes server platforms: https://

[2017-02-12 17:20] alban23 commented on #1891
I see. Thanks for feedback. I shall then close the issue.

[2017-02-12 17:20] #1891 closed

[2017-02-13 02:46] sstarcher commented on #1468
Tested Helm canary against Kubernetes 1.4.8 and I was able to deploy a PetSet.

[2017-02-13 11:20] kdada opened #1949 "Proposal: add a templates function to provide a short and unique ID"
Sometimes, we create a chart which has some dependencies. If some subcharts have same name, it will fail when we install the chart. Because we usually use the template as k8s resource name:
[code]
If we have an unique ID, we can use `{{ .Release.Name }}-{{ .Chart.Name }}-ID` as  the name of k8s resource. It ensures that all resource won't conflict.

In sprig, I find some related functions:
[code]

[2017-02-13 11:42] DoctorZK opened #1950 "Add --label flags to add new label pairs during installation"
For developers using public repository and templates, they might want to add labels about the release during "helm install *", in which way, developers can characterize his own releases without modifying the template files in the template directory. We have two approaches in mind to solve this problem:
1, patching metadata.labels.$key with $value after release installation
2, rendering  the templa

[2017-02-13 17:55] smarterclayton opened #1951 "Helm fails when podsecuritypolicy is on"
I was doing some testing of Helm under OpenShift and Kube with pod security policy to flush out any assumptions that don't make sense in a multi-tenant environment.  One of the first ones I hit was that it looks like the helm assumes that it can run containers as root on the cluster:

[code]

A restrictive pod security policy (that doesn't allow running as root) will catch this - since I assume ti

[2017-02-13 17:58] #1894 closed

[2017-02-13 18:14] #1563 closed

[2017-02-13 18:18] #1567 closed

[2017-02-13 18:22] technosophos commented on #1951
Bumped this to the next patch release.

[2017-02-13 18:28] technosophos commented on #1947
I'd definitely accept a PR for this feature. It would be useful for sure.

Probably the ARGV line would look like this: `hem dep define DEPENDENCY REPOSITORY -v VERSION -f (or -c) PATH_TO_CHART (default: ".")`

That would make VERSION and PATH_TO_CHART optional, which seems right to me.

[2017-02-13 18:30] michelleN commented on #1163
@technosophos this can be closed. All follow up tasks in separate issues already.

[2017-02-13 18:30] michelleN commented on #1163
+1 to splitting validation idea out into its own issue

[2017-02-13 18:33] technosophos commented on #1163
Closing this as resolved. YAY!

[2017-02-13 18:33] #1163 closed

[2017-02-13 18:34] technosophos commented on #1886
Alright, with no new information and a pending release tomorrow, I'm moving this off of the 2.2.0 milestone. Sorry.

[2017-02-13 18:56] thomastaylor312 opened #1952 "Proposal: Add release validation"
This is an offshoot of the work started in #1163.

With the testing framework recently added, there is now a way to test whether a chart is working once it is deployed. However, for future evolution, there may be a need for two types of "tests"

**Tests**
These would test things that a specific user might not care about, but are important to make sure the Chart will work in every way it is intende

[2017-02-13 18:56] thomastaylor312 commented on #1163
Validation [issue](https://github.com/kubernetes/helm/issues/1952)

[2017-02-13 18:57] thomastaylor312 commented on #1952
@michelleN Your feedback, when you have some time, would be very useful here

[2017-02-13 22:20] #1920 closed

[2017-02-13 22:24] #1884 closed

[2017-02-13 22:48] #1837 closed

[2017-02-13 22:50] technosophos commented on #1952
I'm changing the title from "deployment" to "release" so people don't think this is about Deployment objects.

[2017-02-13 23:08] bacongobbler commented on #1951
@smarterclayton can you elaborate more on his pod security policy? How is tiller running as non-root in your cluster? I'm curious to see how one could reproduce this issue so we can test against it.

My assumption is that the `mkdir /.kube` error stems from the kubernetes codebase, where if $HOME is not set then the schema is written to the root filesystem. I'd try setting $HOME to `/tmp` and see

[2017-02-13 23:49] michelleN opened #1957 "add --verbose flag to helm test"
When set to true, this flag will stream the test pod logs in the output

cc/ As per our discussion @foxish @erictune @vdice

[2017-02-14 00:42] thomastaylor312 commented on #1952
Good point @technosophos

[2017-02-14 04:17] Ladicle commented on #1931
Thank you for your comment.
My k8s cluster is build by hyperkube.
According to the log, tiller try to connect to localhost:8080.
Another normal tiller(not hyperkube) has connect to `kubernetes.default.svc.cluster.local.`.
Where does tiller get k8s api server address?

[2017-02-14 08:55] Ladicle commented on #1931
The caused was lack of rslave option of hyperkube.
https://github.com/kubernetes/kubernetes.github.io/pull/634
Therefore, Tiller pod can not generate token.
https://github.com/kubernetes/client-go/blob/5fe6fc56cb38d04ef4af601a03599c984229dea2/tools/clientcmd/client_config.go#L476

[2017-02-14 08:55] #1931 closed

[2017-02-14 09:45] nebril commented on #1924
Hi,

@technosophos Do you think there is a possibility for two different charts to use two different backends in a single release? I think such situation shouldn't be allowed, how do we mitigate it?

@TamalSaha what if modules themselves were charts and could be deployed in each cluster "automagically"?

I can see that happening to AppController.

The only problem I see is that these charts could

[2017-02-14 12:51] peay opened #1958 "Adding `--force` to `helm upgrade`"
`helm upgrade` seems to use `patch`. For some use cases, applying patches can fail (e.g., for services, because `clusterIp` is immutable).  Maybe there's a better solution, but at the moment I have to delete and re-install the full release.

`kubectl apply` has a `--force` option which allows to give up on trying to patch if it fails, destroy and re-create the resource. This would be great if `hel

[2017-02-14 13:18] pigmej commented on #1924
Maybe instead we should somehow define a subset of features that Release Module has to support. It would behave then in similar way as CRI, where you have subset of features that you *have to* support, and all "unique" features for each runtime implemenation is still working (outside of CRI though). I know that this proposal describes such interface but I think allowing selection of *given* module

[2017-02-14 16:54] naphthalene opened #1959 "Running tiller in namespace other than kube-system"
The kubernetes cluster we are using has special authorization built in that restricts access to the kubernetes API to another namespace. I was able to manually deploy tiller by generating a manifest and changing the namespace, but now when I run helm commands it says it cannot find tiller. Is there a way to configure the namespace when doing helm init?

[2017-02-14 18:31] #1927 closed

[2017-02-14 18:44] vdice opened #1960 "helm test: add lint rule for incorrect helm test hook types"
When I purposely supply an incorrect/unsupported test hook, I'd expect to see a subsequent `helm test` invocation supply an error specific to this situation.

Changing the `docs/examples/nginx/templates/service-test.yaml` to the following:
[code]

(Only test hooks supported as of this writing are `test-success` and `test-failure`, as seen [here](https://github.com/kubernetes/helm/blob/5d909d8c30f0

[2017-02-14 18:47] redbaron opened #1961 "Provide a "nestable" alternative to `.Release.Name`"
Given that helm by design allows multiple copies same chart to coexist in a dependency tree of a top level chart, every well-behaving chart need to provide a way to override it's resource names, ones in `kubernetes/charts/stable` seem to adopt `.nameOverride` pattern:

[code]
which not only requires an extra effort from chart authors, but also chart users: then need to override names for every dup

[2017-02-14 20:16] prydonius opened #1963 "Add deprecated field to chart metadata (Chart.yaml)"
We want to be able to add metadata in the chart that can be used to determine whether a particular chart is deprecated or not. This metadata should live in the Chart.yaml file, such as:

[code]

The field should be optional, and default value `false` so that non-deprecated charts can simply omit the field.

One issue with this approach is that the Chart.yaml is tied to a specific version of the ch

[2017-02-14 21:09] technosophos opened #1964 "Add "Workflow Umbrella Chart" article to related.md"
Add this to docs:

https://deis.com/blog/2017/workflow-chart-assembly/

[2017-02-14 22:02] technosophos commented on #1963
Should `helm install/upgrade` issue a warning if a user installs a deprecated chart?

[2017-02-14 22:08] technosophos commented on #1961
I like this idea. We might need to get slightly more creative to work around an edge case.

Say we have a chart like this:

[code]

By my reading of the spec, both MySQL charts would be given the name "mysql-2", which would lead to two resources getting (potentially) the same set of labels.

Potential other options would be:

- chart name plus 4 characters of hash of chart path (`sha256 foo/charts

[2017-02-14 22:11] technosophos commented on #1959
In Helm 2.2.0, see the `--tiller-namespace` flag and `$TILLER_NAMESPACE` environment variable.

[2017-02-14 22:12] technosophos commented on #1958
/cc @adamreese

[2017-02-14 22:13] technosophos commented on #1957
Would this be different in kind to supporting the already global `--debug` flag?

[2017-02-14 22:14] technosophos commented on #1957
@michelleN if this should go in 2.3.0, feel free to add it. For now, I'll drop it into triage.

[2017-02-14 22:14] redbaron opened #1965 "RFC: add an option to export values from a chart"
# Summary
I propose to add `exports.yaml` which is templated, available to the rest of templates and accessible from parent charts.

# Motivation
Currently when chart `A` depends on `B` it includes it as a subchart and then uses resources provided by `B`. Current way for `A` to address resources created by `B` is for both of them follow same convention in naming. This limits the way how services f

[2017-02-14 22:34] redbaron commented on #1961
4 bytes hash is probably best alternative, namespace-like path can potentially grow quite large,and given that often this value is used in DNS names,  truncated values might be not-unique.

how would you call this variable? Will it be a field of a `.Release` builtin on be something else?

[2017-02-14 22:45] technosophos commented on #1950
In the past, we've talked about doing it this way:

- Render templates
- Inject the labels into every resource definition
- Save and install the modified manifests

But there are a couple of difficulties:

1. If the template already defines a label that is passed in with `--label`, which do we prioritize?
2. On resource types that have multiple label paths (Deployments, RS, RC), do we only patch t

[2017-02-14 22:51] technosophos commented on #1949
Somewhat related to #1961 (subchart naming) and #1186 (built-in naming function)

`uuidv4` is very, very, very likely to generate a universally unique ID. So if that is all you need, you might consider just using that. As Wikipedia notes:

https://en.wikipedia.org/wiki/Universally_unique_identifier

[2017-02-14 22:52] jascott1 commented on #1965
Why not just use existing child values.yaml and allow parent to access that? This is being discussed here https://github.com/kubernetes/helm/issues/1883

[2017-02-14 22:52] technosophos commented on #1961
See also #1186, which we might be able to do together with this one.

[2017-02-14 22:57] technosophos commented on #1946
Depending on whether you're targeting chart _developers_ or just chart _users_, you might want to add a segment on the template language.

Ideas for other things you might consider covering (depending on your audience):

- Helm deployment lifecycle (install, get, status, upgrade, history, rollback, delete)
- Hooks
- The brand new `helm test` stuff
- Helm starter packs (`helm create --starter`)
- C

[2017-02-14 22:58] technosophos commented on #1933
Updated title to make it more evident what the problem is

[2017-02-14 22:59] technosophos commented on #1933
I think that what we need to decide for this is whether we are going to override Kubernetes' own deletion logic, perhaps by explicitly using label selectors.

[2017-02-14 23:02] technosophos commented on #1924
On option would be to simplify the system this way:

- Tiller only allows _one_ release backend
- That backend must handle all deployments
- The client has no way of specifying a backend

In that way, it'd basically make it possible to replace the default deployment logic, but only with a single backend that would be required to handle any chart.

Does that get us any closer to the desired feature

[2017-02-14 23:04] redbaron commented on #1965
Correct me if I a wrong, but child `values.yaml` is not templated, therefore they can not have things like `{{ Release.Name}}` in  there

[2017-02-14 23:06] technosophos commented on #1918
I've added this to the 2.3 milestone. @TamalSaha I am assuming this is a feature you are planning on leading.

[2017-02-14 23:09] jagregory opened #1966 "Can't remove keys defined in values.yml"
Since the introduction of deep merging (#1620), it's now not possible to remove keys from `values.yml` entirely.

For example, the [telegraf values](https://github.com/kubernetes/charts/blob/master/stable/telegraf/values.yaml) has a default entry for `single.config.inputs.influxdb` (see: [L340](https://github.com/kubernetes/charts/blob/master/stable/telegraf/values.yaml#L340)). There's no way to c

[2017-02-14 23:10] technosophos commented on #1912
Ah! Yeah, that would cause it alright.

 I could see implementing an `include_once` (though I'm not sure what we'd do if we detected inclusion loops). Loop detection would also be good for that function. Thanks for tracing that one @iamzhout

[2017-02-14 23:15] technosophos commented on #1911
Did you figure out how to get the missing plugin to work?

[2017-02-14 23:16] technosophos commented on #1896
I'm marking this as "support" since we currently don't have a category for this type of issue.

[2017-02-14 23:23] technosophos commented on #1895
This feature is now released in 2.2.0. We need to figure out a better solution to documentation.

[2017-02-14 23:25] technosophos commented on #1893
I'm closing this in light of the last comment. Please re-open if this continues to occur.

[2017-02-14 23:25] #1893 closed

[2017-02-14 23:25] jascott1 commented on #1965
No values file is templated and that idea has been shot down repeatedly. Imo the exports file seems like heavy lifting for this but perhaps I am missing something.

[2017-02-14 23:29] #1895 closed

[2017-02-14 23:29] apenney opened #1967 "Docs: Merging indexes"
I'm making an issue rather than a straight patch, as I'm not sure if I'm correct.

In https://github.com/kubernetes/helm/blob/master/docs/chart_repository.md there's:

[code]

I was using this `helm repo index .` and having issues.  Soon as I changed that to `helm repo index fantastic-charts` it was able to correctly build the index.  Is this a genuine docs or did something else, perhaps my local

[2017-02-14 23:30] technosophos commented on #1887
I could see doing this, since it actually is only a tiny bit of new code. I believe this would also be fairly easy to do, so I am marking this as a starter.

[2017-02-14 23:36] technosophos commented on #1881
Bumping this up to 2.2.1

[2017-02-14 23:42] technosophos commented on #1875
I think we should probably make it a best-practice to add this annotation to every chart that uses a PVC:

[code]

Or, if we prefer, the default can be "delete". But the idea is to make it so that there is always a clear path for the user to toggle this.

[2017-02-14 23:44] redbaron commented on #1965
I can't see that `values.yaml` is templated:

my `values.yaml`
[code]

my `templates/cm.yaml`
[code]

Running helm 2.2.0:  `helm install --dry-run .`

expected result:
[code]

Actual result:
[code]

[2017-02-14 23:47] kfox1111 commented on #1933
The inconsistency to me, was helm didn't create the object, errored but continued though reported failed state, and then deleted it on removal.

I think it would be much more consistent if it did any of:
1. errored on creation. entered failed state. didn't delete the pv on deletion of the failed release.
2. warned on creation but continued. state=ok, delete doesn't delete the pv because it didn't

[2017-02-14 23:52] technosophos commented on #1873
Is this fixed in 2.2.0?

[2017-02-14 23:54] technosophos commented on #1865
I could see adding a `pre-release` (since `release` is what we call the deployment in order to avoid confusion with Kubernetes' Deployment type).

How would it work in this case?

[2017-02-14 23:58] prydonius commented on #1963
I think that would be great, and may even drop the need for adding a notice in NOTES.txt.

[2017-02-15 00:04] technosophos opened #1968 "Meta: Build system changes"
There are a number of requests and PRs for adding new build targets, artifacts, and so on. This is a meta-issue to bring all of those together and maybe open a discussion on making some bigger changes to the CI/CD pipeline.

The high-level requirements are:

- Developer builds (on local workstations) should not require cross-compiles
- CI/CD builds for PRs should take fewer than 10 minutes
- Canar

[2017-02-15 00:04] jascott1 commented on #1965
So sorry, bad grammar on my part. Should have written "none of the values.yaml files are templated"

[2017-02-15 00:05] technosophos commented on #1862
We need to come up with an overall strategy for rebuilding the CircleCI deployment. At this point we have too many competing requests for these features.

I just created #1968 to track the big picture. Would you mind weighing in on that issue?

[2017-02-15 00:06] technosophos commented on #1858
The issue seems to have gone silent. Closing. Reopen if you still need support.

[2017-02-15 00:06] #1858 closed

[2017-02-15 00:06] technosophos commented on #1854
I know I am _really, really_ late to weigh in on this, but I believe this issue should be filed on Kubernetes Charts instead of here.

[2017-02-15 00:10] technosophos commented on #1847
Okay, I _think_ it's safe to close this issue. Please let me know if you see it again.

[2017-02-15 00:10] #1847 closed

[2017-02-15 00:11] technosophos commented on #1841
I'd be open to a PR that added this for `--dry-run`. I think I can safely mark it as a starter.

[2017-02-15 00:17] technosophos commented on #1840
@redbaron also brought up this issue today. He also had some ideas about how it might be implemented.

And, yes, we'd have to supply a compelling alternative to signing packages, as well as thoroughly solving the issue of supporting multiple versions of the same chart in a way that's easily searchable, etc.

It's definitely worth looking at how Homebrew tried to solve this (and mostly faltered, IM

[2017-02-15 00:18] technosophos commented on #1834
Marking this as support since we don't have another category for it right now.

[2017-02-15 00:19] technosophos commented on #1833
Okay. If you don't mind keeping us updated... we're tracking this though we're not sure what we can do at this point.

[2017-02-15 00:22] technosophos commented on #1829
Okay, I'm dropping this onto the 2.3.0 release and we'll fix the history request.

The secondary issue of limiting revision history is one we should also explore, but that probably won't make it into the 2.3.0 release.

[2017-02-15 00:23] technosophos commented on #1811
Did Kube 1.5 solve this one?

[2017-02-15 00:25] technosophos commented on #1802
I'm going to close this one for now, but if you manage to reproduce it again, feel free to re-open.

[2017-02-15 00:25] #1802 closed

[2017-02-15 00:28] technosophos commented on #1800
Okay, I'm closing this in favor of #1950 simply because that one is closer to the top of the queue and is thus more likely to get done. ;-)

There are a few open questions on that one that we need to figure out in order to implement this feature, but I think it is possible.

[2017-02-15 00:30] technosophos commented on #1950
This now supersedes #1800

Also, with Helm 2.2.0, the new changes to the `pkg/kube` are done, which means this fix is much easier now than it was a month ago.

/cc @sbezverk  @kfox1111 and @intlabs

[2017-02-15 00:30] kfox1111 commented on #1968
sounds good to me.

[2017-02-15 00:31] #1800 closed

[2017-02-15 00:33] technosophos commented on #1796
I think that at least the core functionality of `helm rollback LAST` is fairly trivial, so I am marking this as a starter

Just to summarize where I think we are:
Today you can do `helm rollback MyRelease 2` to rollback to version 2. But it would be nice to have a shorthand way of just rolling back to the last version _that was not a FAILED release_.

[2017-02-15 00:34] technosophos commented on #1793
Given the built-in behaviors in Helm 2.2.0 and Kubernetes >= 1.5.1, is there anything left to do for this issue?

[2017-02-15 00:37] technosophos commented on #1781
I'm currently thinking that the requirement for this one would be:

`helm upgrade --debug` would output a diff of old-to-new

Adding to the 2.3.0 milestone

[2017-02-15 00:39] technosophos commented on #1770
Closing for inactivity. Please feel free to re-open if this is still occurring.

[2017-02-15 00:39] #1770 closed

[2017-02-15 00:42] technosophos commented on #1769
That's why we recommend appending a random string to a job name if you know for sure you are going to re-run a job again.

[2017-02-15 02:28] kdada commented on #1949
Thanks for your reply. I'm clear that the uuid can generate unique ID ( 36 charactors ). But the ID is too long to used in resource name which is limited with 63 charactors.
I think my demand is like #1961 . Need a short unique ID for every chart. It seems that the work is going on.

[2017-02-15 04:03] ahawkins commented on #1946
@technosophos I think it will be a little of both. I may do `helm create` to create a simple chart the install it on a cluster. The goal is to educate people on how they can use helm to deploy _their_ applications and everyone else's. I didn't know about `helm test`. I need to look into the change log!

[2017-02-15 07:51] keith4743 commented on #1911
No...need some support

[2017-02-15 08:43] alanchchen opened #1969 "Resolve dependencies recursively"
`Helm 2.2.0`

I have charts as following
[code]

`my-chart-1`, `my-chart-2` and `my-chart-3` require `my-base-chart`
`all-my-charts` is an empty chart but it requires `my-chart-1`, `my-chart-2` and `my-chart-3`

When I run
[code]

There're warnings if I didn't run `helm dep up all-my-charts`

However the `helm dep up all-my-charts` didn't update dependencies for `my-chart-1`, `my-chart-2` and `my-

[2017-02-15 09:37] javiercr commented on #1769
I see, I'm not sure I like the approach of leaving behind a new successful job for every deployment. Right now what I've done is adding a new step to our deployment script that does `kubectl delete job db-migrate-job --ignore-not-found` before our `helm upgrade`.

[2017-02-15 10:18] pigmej commented on #1924
I think it allows us to do some useful stuff. It will be more or less equal to CRI. @nebril what do you think?

In case of AC it should allow us to integrate, and still add functionality to Helm.

[2017-02-15 11:17] nebril commented on #1924
@technosophos how would activating release backend work in the simplified case? Would it be set as an argument during `helm init`?

[2017-02-15 13:06] eduardobaitello opened #1971 "--recreate-pods tag and statefulsets upgrade"
The `--recreate-pods` tag is supposed to recreate the pods of statefulsets?

I'm trying to update a statefulset with a NEWCHART, which describes a new image for my statefulset. The only difference with the deployed release is the new image and the chart version.
I run `helm upgrade RELEASE NEWCHART --recreate-pods`, which upgrades my statefulset, but their pod still uses the old image.
If I manual

[2017-02-15 16:33] ineu commented on #1742
Thank you @felipejfc

[2017-02-15 16:39] jchauncey opened #1972 "helm version should have a shorter timeout"
If you try and run `helm version` with no available server it can take almost 30 seconds for the command to return. It seems like it would be a better user experience if the timeout was something much shorter like 5 seconds.

[2017-02-15 16:40] jchauncey commented on #1972
[code]

[2017-02-15 16:43] AmandaCameron opened #1973 "helm test returns an exit code of non-zero when there's no tests in the release to run."
This seems counter-intuitive for a CI standpoint, as it means that any charts that are tested which don't have any tests will instantly fail the build. While it oculd be argued this is desirable, I'd prefer at least a flag of some kind to indicate that this is not, for instance, if there's no way to test that a deployment succeeded, it'd be nice to have CI still be possible.

[2017-02-15 16:46] AmandaCameron opened #1974 "helm litters CWD if the path in $HELM_HOME/repositories/repository.yaml is not absolute."
When I run `helm dep up` I'm getting various `-index.yaml` files littered in my CWD, I'm told these should be going into the `HELM_HOME` however I don't have that set, so it seems something's not respecting the default properly.

[2017-02-15 16:59] technosophos commented on #1741
Server-side validation went live with 2.2.0 yesterday (as part of `helm install|upgrade`). Resources are validated during the prepare phase, which means `--dry-run` will go through validation.

Right now we will not add this to `helm lint` because Lint is an offline operation which doesn't currently need a Kube API server. We can't change that without breaking backward compatibility.

I'll toss th

[2017-02-15 17:01] technosophos commented on #1733
The `file:///` support was added in 2.2.0.

If anyone wants to push forward the `alias:` support, I can leave this open. Otherwise, I'll close it out.

[2017-02-15 17:05] technosophos commented on #1719
Is this a duplicate of or alternative to  #1883? If not, would you mind clarifying the different use cases?

[2017-02-15 17:07] technosophos commented on #1707
Another workaround we have used is to do stuff like this:

[code]

Then in the template:

[code]

[2017-02-15 17:09] kfox1111 commented on #1719
Looks like a dup. closing.

[2017-02-15 17:09] #1719 closed

[2017-02-15 17:14] technosophos commented on #1696
Hmmm... we've never guaranteed that ordering would remain the same on `--debug` output, but I'd accept a patch if someone commits it.

Since manifests get sorted elsewhere later in the install process (by resource type), any sort operation that happens _specifically for debug_ should be wrapped appropriately.

It's possible that we inadvertently fixed this in 2.2.0, since we changed the datastruct

[2017-02-15 17:17] technosophos commented on #1694
I'm going to close this as a duplicate of #1707, since fixing one will fix both.

[2017-02-15 17:17] #1694 closed

[2017-02-15 17:20] technosophos commented on #1690
Added to meta issue #1968

[2017-02-15 17:21] databus23 commented on #1707
Yuck! 😷

[2017-02-15 17:22] technosophos commented on #1688
This should get tracked in https://github.com/kubernetes/charts/issues/44

[2017-02-15 17:42] mboersma commented on #1974
I am seeing similar behavior although I'm running `helm repo up` and my `$HELM_HOME` is set:
[code]

[2017-02-15 17:50] technosophos commented on #1733
@qwangrepos has asked to claim this one for 2.3.0, and will provide a spec.

[2017-02-15 18:16] mboersma commented on #1974
As a workaround, removing `$HOME/.helm` and starting from a new `helm init` seems to fix things.

[2017-02-15 18:20] naphthalene commented on #1959
:100: thanks!

[2017-02-15 18:20] #1959 closed

[2017-02-15 18:22] AmandaCameron commented on #1974
That seems to have been the key: my existing repositories.yaml contains:

[code]

the new one has absolute paths.

[2017-02-15 19:08] technosophos commented on #1974
I have located the issue. A change to the SSL subsystem also had a change to the way paths were generated for the repo file. I didn't catch it during code review. Fixing now.

[2017-02-15 19:42] whitecolor commented on #1811
I think it did. Closing.

[2017-02-15 19:43] whitecolor commented on #1873
Havent tried this yet with 2.2.0, will try.

[2017-02-15 20:39] libesz commented on #1038
I would like to use OpenStack Swift object store as a Chart repo. Not familiar with the S3 in details, but I guess it is stg similar. Swift uses token based authentication in a form of http headers. Some [details here](https://prosuncsedu.wordpress.com/2014/02/26/accessing-object-store-with-curl/).
If the downloader package would be somehow pluggable with customized http/generic clients [here](htt

[2017-02-15 21:22] technosophos commented on #1650
Just to provide a brief update based on recent discussions: The Helm team has decided that we will no longer use alpha and beta Kubernetes features because of the high probability of serious breakages.

Doesn't really impact this issue, since it's on the 3.x roadmap. But I wanted to capture it here anyway.

[2017-02-15 21:24] technosophos commented on #1663
I just noticed the request for bash completions. That does already exist in Helm. `helm completion`.

[2017-02-15 21:25] TamalSaha commented on #1650
+100 from me.

[2017-02-15 21:26] technosophos commented on #1649
Marking this closed, since Homebrew fixed it.

[2017-02-15 21:26] #1649 closed

[2017-02-15 21:34] technosophos commented on #1585
I believe this is now effectively resolved with the new tags/conditions addition in Helm 2.2.0:

https://github.com/kubernetes/helm/blob/master/docs/charts.md#tags-and-condition-fields-in-requirementsyaml

Feel free to re-open if I misunderstood.

[2017-02-15 21:34] #1585 closed

[2017-02-15 21:35] technosophos commented on #1583
We have yet to figure out a way to do this programmatically. It does not appear that Kubernetes gives any cues about how the PV/PVC subsystem is setup.

[2017-02-15 21:37] technosophos commented on #1580
What if we added a `require` function in the template so that you could do things like:

[code]

If `.foo` evaluates to an empty value, bail out of template rendering with the error message.

[2017-02-15 21:57] technosophos commented on #1568
I believe the core of this proposal is now easily accomplished with conditions and tags (Helm 2.2.0).

https://github.com/kubernetes/helm/blob/master/docs/charts.md#tags-and-condition-fields-in-requirementsyaml

[2017-02-15 21:57] #1568 closed

[2017-02-15 22:07] sputnick commented on #1580
In the template or Values.yaml?

[2017-02-15 22:11] technosophos commented on #1531
Okay, Helm 2.2.0 fixed the errors of the type `Error: unable to decode "": no kind "Alertmanager" is registered for version "monitoring.coreos.com/v1alpha1"`

However, we have no way of ensuring that just because a TPR installed into Kubernetes correctly, it is available for usage. So we don't have any other suggestions for installing TPRs other than to use `pre-install` hooks and hoping that Kube

[2017-02-15 22:11] #1531 closed

[2017-02-15 22:13] technosophos commented on #1498
I believe this is now closed with the `helm test` function in 2.2.0. Please re-open if I misunderstood this.

[2017-02-15 22:13] #1498 closed

[2017-02-15 22:17] technosophos commented on #1464
Again, one of the design goals with hooks was to give people the ability to create things that Helm does not manage. So deleting these subverts that goal.

The new `{{.Release.IsInstall}}` can be used now for any cases where you want to declare something only at install, but have it fully managed by Helm.

[2017-02-15 22:18] technosophos commented on #1442
Closing this in favor of #1918, which contains a full proposal for this.

[2017-02-15 22:18] #1442 closed

[2017-02-15 22:19] technosophos commented on #1432
Add @thomastaylor312 to the list above.

[2017-02-15 22:20] technosophos commented on #1432
Related to #1906

[2017-02-15 22:21] technosophos commented on #1495
This needs a proposal, if anyone wants to write one. The idea would be to make it possible to flag a plugin as containing a linting rule.

[2017-02-15 22:28] technosophos commented on #1401
This might be slightly harder than the average starter, but it requires switching from a single-directory walk to a recursive walk in `pkg/repo.IndexDirectory`.

[2017-02-15 22:32] technosophos commented on #1398
Could we add this onto the `helm version` command, so that if they did something like `helm version --debug` it would print out the Helm, Tiller, Kubernetes versions, and any other info we need (like maybe iterate through the list of supported API objects or something)?

[2017-02-15 22:32] technosophos commented on #1358
This was closed with #1850

[2017-02-15 22:32] #1358 closed

[2017-02-15 22:35] technosophos commented on #1331
Okay, so we have ThirdPartyResources support basically done in 2.2.0. In 2.2.0 we also added support for any object type that the Kubernetes API definitions know about (instead of just the core ones).

Can someone verify that this is all that is needed to accomplish the goal of this ticket?

[2017-02-15 22:41] technosophos commented on #1125
@kuroneko25 I believe that was roughly the intent.

[2017-02-15 22:43] technosophos commented on #1079
This might also be something that could be done more easily as a stand-alone plugin.

[2017-02-15 22:45] smarterclayton commented on #1918
Are you expecting tiller to have a different set of client certificates than the kubernetes master?  Or the same?

In this case tiller is acting as an authenticating proxy - would be good to make sure we have a checklist for the sorts of things that are "safe" and are audited.  Such as never storing the token, never writing it to logs, etc.  Some of the bearer tokens will be very powerful (cluster

[2017-02-15 22:46] technosophos commented on #1050
2.2.0 now validates all manifests using the kubectl validator before anything is installed. Marking this closed.

[2017-02-15 22:46] #1050 closed

[2017-02-15 22:47] smarterclayton commented on #1918
If you have the user's token, why do you need to do SubjectAccessReview for mutations?  The Kube APIs will already do that.

@liggitt re: use of impersonation or not.

[2017-02-15 22:49] #914 closed

[2017-02-15 22:52] technosophos commented on #980
The problem here comes from the way the Kubernetes library works. It requires you to give it a single namespace that it can manage. If you give it a resource with an alternate namespace, it will happily _create_ that resource, but then subsequent queries for that object will not show the object (because it's in a namespace that differs from the one you gave it).

So essentially:

- You can create

[2017-02-15 22:54] technosophos commented on #990
The definitive source on this is now https://github.com/kubernetes/dashboard/pull/1332

This ticket is just here for the linkage. Note also that the Helm Monocular project (web UI to repositories) is well underway.

[2017-02-15 22:55] technosophos commented on #1002
This feature is now provided by Helm 2.2.0's `helm test` command.

[2017-02-15 22:55] #1002 closed

[2017-02-15 22:57] TamalSaha commented on #1918
No.

Sgtm.

Calling `SubjectAccessReview` before doing any mutation will avoid failing in the middle of a release. Also, if TPRs are used to store Release data (instead of configmaps), I think SubjectAccessReview will be needed to enforce authZ.

[2017-02-15 22:58] technosophos commented on #1038
As of Helm 2.2.0, client-side SSL auth to a repository is now supported.

For special authentication protocols (S3, GCS, Swift), these should be done as plugins.

[2017-02-15 23:05] technosophos opened #1977 "Helm Plugin Management"
A new set of commands are to be added to Helm (client-side) to manage plugins.

[2017-02-15 23:17] technosophos opened #1978 "Helm `tpl` template function"
There has been some interest in supporting an in-place template feature:

[code]

And to be able to embed templates into values:

[code]

And to render templates inside of files:

[code]

This is a very tricky case, but can be done in late binding like `include`.

[2017-02-15 23:17] technosophos commented on #1973
/cc @michelleN

[2017-02-15 23:19] technosophos commented on #1971
Yeah, we need to cover this in the docs

[2017-02-15 23:29] technosophos commented on #1969
I would be okay with implementing a very limited version of this feature with a `--recursive` flag on `helm dep up`. But this was not the intended usage of this command.

To implement proper recursive dependency resolution, yet remain compliant and backward compatible with Tiller, we'd need to:

- Hide the behavior behind a `--recursive` flag (to not break existing scripts)
- **NOT** run dependenc

[2017-02-15 23:47] bacongobbler opened #1979 "remove dirname constraint on `helm package`"
When I run `helm package` on a directory that contains chart information, for example `chart/`:

[code]

This is inconsistent with `helm install`, as I can install any arbitrary directory:

[code]

From a conversation on Slack, there's no technical reason why this is a limitation other than technical debt that wasn't removed before helm v2.0.0 was released. For Helm 3.0, I propose this limitation

[2017-02-15 23:57] bacongobbler commented on #1979
One workaround for others is to tar/sign the package yourself outside of `helm package`.

[code]

The provenance file can be created following this doc: https://github.com/kubernetes/helm/blob/master/docs/provenance.md#the-provenance-file

[2017-02-16 02:40] alanchchen commented on #1969
I think this feature might need more discussion.
To make things simpler, writing a plugin would be better.
Thanks @technosophos .

[2017-02-16 02:45] iameli commented on #1979
Would this actually need to wait until 3.0? It doesn't seem to be backwards-breaking.

[2017-02-16 03:16] iameli opened #1981 "could the `helm` binary be made available as a standalone download?"
I find myself downloading tools in the kubernetes universe a *lot*. I help people set up kube stuff, and I also put them in a lot of Docker containers for build processes.

kubectl is the best:
[code]

minikube is not so bad, there's a redirect in there so you need `-L`...
[code]

helm... not so fun.
[code]

Always takes me twice as long to put together that command in my head. Any chance we could

[2017-02-16 07:04] nmakhotkin commented on #1971
@eduardobaitello By kubernetes convention, pods need to be created with specific labels and selectors. Later they should be referenced by those selectors. See more at https://kubernetes.io/docs/user-guide/labels/

[2017-02-16 07:07] nmakhotkin commented on #1971
@eduardobaitello may be it should be done more accurate than how it is done now. I mean the selecting right pods for restart/recreate.

[2017-02-16 10:55] urzds opened #1982 "Error: deletion completed with 2 error(s)"
I have three releases in Tiller, which I find myself unable to delete:
[code]

[2017-02-16 14:46] eduardobaitello commented on #1971
@nmakhotkin, thanks for reply.

I'm using a chart with a .yaml file that describes a _nginx-slim:0.7_ image for my statefulset (created with `helm install`)
Then I run a `helm upgrade --recreate-pods`  with another chart version that have a .yaml file with _nginx-slim:0.8_ image defined.

The defined selector is like this, but the pod is not deleted in the upgrade process:
[code]

Am I missing som

[2017-02-16 17:04] nstires opened #1983 "[Feature Request] Local global variable support"
Perhaps this solution already exists, and I've been unable to bring it to light. My attempts have thus far been in vain. What I have is a custom application that I'm deploying to k8s via Helm. This application is primarily deployed to a custom namespace, and hosts a number of dependencies. Both the application and the dependencies have variables that should support local overrides. I've been unabl

[2017-02-16 17:20] technosophos commented on #1947
@larryrensing is working on this.

[2017-02-16 17:48] scottrigby commented on #1947
From [Slack](https://kubernetes.slack.com/archives/helm/p1487266071012948):

@larryrensing is up for collaborating on this together.

Do you want to add me as an assignee?

I've been planning on working on this together with @rabellamy too (specifically as I'm currently learning Golang… finally).

I'm in the Helm public dev meeting now so we can talk about how to best collaborate (we can also alwa

[2017-02-16 18:00] jascott1 commented on #1883
In this idea are the 'chunks to pull in' always root keys or we want arbitrary paths?

[2017-02-16 18:05] kfox1111 commented on #1883
I think one level of grouping is probably sufficient, and paths are maybe overkill?

so, parent -> group -> stuff

where the user specifies the groups to include.

[2017-02-16 18:09] prydonius commented on #1947
+1 this will be a great step in automating updating chart dependencies, which I suspect @bitnami-bot will find useful :)

cc @sameersbn

[2017-02-16 18:17] wilkers-steve commented on #1580
@sputnick Sounds like it'd be for the templates.  I don't think that's a terrible approach until we can find a better approach aligning with @technosophos's initial vision with parsing yaml files.  This would be a good start, and shouldn't be difficult for 2.3.  I can look into this if you think this is the approach we'd like to take.

[2017-02-16 19:07] technosophos commented on #1969
I thought about this a lot last night. With the addition of the `file://` protocol that @qwangrepos did for 2.2.0, it actually might make sense to do some recursive building on any chart that uses the `file://` protocol.

@qwangrepos if you have a moment to offer an opinion on this, it would be helpful.

Basically, I don't want to break backward compatibility, but if we could safely improve the de

[2017-02-16 19:08] qwangrepos opened #1985 "[Proposal]support aliases of repo names in requirements.yaml"
## Use case
If a repository has been added to the repository index with its repo name and URL, and the following command "helm repo list" outputs the mapping from the repo name to the repo URL, the full repository URL given in requirements.yaml should be able to be replaced with its repo name as an alias. The use of repo name as an alias will be a more effective and perceptive way to represent the

[2017-02-16 19:17] technosophos commented on #1950
I'm marking this as "help wanted", but we do need to answer those few open questions before beginning to implement this.

[2017-02-16 19:19] technosophos commented on #1983
- Local variables can only be passed downward from a parent chart to a subchart.
- Global variables are available to all charts (always at `.Values.global.NAME`), and the precedence order is top-down (in the order --set, -f, parent values.yaml, subchart values.yaml)

By design, there is no way for a child chart to override values in a parent chart, as this would open up some frustrating edge cases

[2017-02-16 19:41] nstires commented on #1983
Yes, I am passing them down. The local variables file (myvals.yaml) is attempting to provide the global variables, which are called in the `--values=myvals.yaml`.

The issue seems to be that you can't identify global variables, at any level, without having them embedded in the chart's (or parent chart's) variable definition file. The local global variables aren't being called.

[2017-02-16 21:29] jascott1 commented on #1883
Does child need to explicitly allow using `parent:` in its own values? Why cant parent use `include-values:` in requirements.yaml to pick and choose any key from child? Parent could import anything from child without the need to alter the child.

[2017-02-16 21:35] kfox1111 commented on #1883
yes. not all values in the child may be of interest to the parent. So tagging them explicilty into a parent: section, and making group for the parent to consume allows the child to make changes to the non parent values, or add additional groups to the parent: section without risking breaking parent charts.

[2017-02-16 22:01] technosophos commented on #1985
The implementation described above sounds great to me. If you would prefer to only implement one of `alias:` and `@`, that is fine. I will leave that up to you.

This would satisfy the last request in #1733.

[2017-02-16 22:33] jascott1 commented on #1883
I get the more explicit contract idea but disagree with the assertion that it prevents parents from breaking. It would have its own section but any changes to it are likely to still break the parent.

Further would counter that child doesn't always know what is of interest to parent. Most importantly (imo) requiring `parent:` means that to get this out of the box, all charts maintainers have to do

[2017-02-16 22:39] qwangrepos commented on #1969
Current support of `file://` protocol compresses the subchart directory into a tgz files and save it into the `charts/` folder. This can be twisted to save the subchart directory. If the subchart has a requirements.yaml, run the `helm dep up` logic for the subchart. It continues until all dependencies have been resolved.
For it is supported by using `file://` for chart development, it shouldn't to

[2017-02-16 22:54] kfox1111 commented on #1883
So, are you thinking there isn't any changes required to the child. all the vars are just specified as normal,
then in the parent you do an import-values: with a list of paths to include, rooted at the path?

so, like values in child:
foo:
  thing:
    bar: baz
    wark: tros
    things:
      - 1
      - 2
      - 3
other:
  stuff: 1

with a parent deps:
 include-values:
    - foo.thing

becomes:

[2017-02-16 23:00] jascott1 commented on #1883
Yes. I also suspect we would need a path like in your example.

[2017-02-16 23:02] pluttrell opened #1987 "Pass Array values through --set"
Please add the ability to pass Array values through `--set`.

For example, the stable/aws-cluster-autoscaler Chart must receive the following:

[code]

If this is already possible, please do tell.. And update the docs to show how.

[2017-02-16 23:05] #1974 closed

[2017-02-16 23:05] #1564 closed

[2017-02-16 23:09] jascott1 commented on #1883
Could use a dict in requirements so could be reparented in parent values but maybe thats too much complication for the simple case?

[code]
[code]

[2017-02-16 23:15] kfox1111 commented on #1883
The latter suggestion has one drawback I can see.

Some day, helm should have a way to crawl a chart and show all the default values that are there, to make it easier to tweak them.

# helm show values some chart
[code]

When if done with an explicit marking with globals, it could return something like:
[code]
If the child chart doesn't have any values defined but a parent section, it can skip the

[2017-02-16 23:19] jascott1 commented on #1883
Nothing prevents someone/project following `parent:` convention. I just don' think its worth it to require it. To my last example though, I don't think you can have . in yaml key?

[2017-02-16 23:20] kfox1111 commented on #1883
Yeah, the dict include-values idea would be by far the most flexible option. I'm unsure if that level of flexibility would ever be needed though.

Though, I think that could be added later, without changing the api, as one could be a list of strings, and the other would be a dict. So we could implement one before the other if we wanted to support a simple and and advanced version.

[2017-02-16 23:22] jascott1 commented on #1883
True I was also thinking about using both and would be happy to implement :)

[2017-02-16 23:23] kfox1111 commented on #1883
yeah, I don't think it can be '.'

It could be solved like k8s does,

[code]

then key could be '.' or ''

[2017-02-16 23:25] technosophos commented on #1987
Array values can be specified using curly braces: `--set foo={a,b,c}`. This will translate to the YAML:

[code]

Maps have to be passed like this: `something.key=value,something.key2=value2`, which will translate to the YAML:

[code]

The full documentation for `--set` is buried in this document: https://github.com/kubernetes/helm/blob/master/docs/using_helm.md#the-format-and-limitations-of---set

[2017-02-16 23:29] jascott1 commented on #1883
Maybe make it more clear which is which?

[code]
or

[code]

etc.

[2017-02-16 23:32] technosophos commented on #1983
If you run `helm install --dry-run --debug` on your chart (above), what do you see in the Values section? It should show you the result of the merged values.

[2017-02-16 23:37] jascott1 commented on #1883
@technosophos Do you think we are on the right track here?

[2017-02-16 23:37] kfox1111 commented on #1883
hmm... yeah. that looks better.

child/parent is clearer I think.

[2017-02-16 23:38] kfox1111 commented on #1883
if we don't make parent: section required though, then you will have to use the more advanced selector to get values out of it, as it would require mapping?

[2017-02-16 23:42] technosophos commented on #1983
Example:
[code]

The Computed Values section should show you what your top-level chart has access to.

[2017-02-16 23:42] jascott1 commented on #1883
no we just interpret a simple list

[code]

as

[code]
right?

[2017-02-16 23:46] technosophos commented on #1580
@wilkers-steve I'm "assigning" to you.

Option 1: Add it in `engine.go` where functions like `include` get defined

Option 2: If it seems really general purpose, you can contribute it to the upstream Sprig library. I sorta feel like this is special-purpose enough to keep local to Helm.

[2017-02-16 23:47] technosophos commented on #1580
@sputnick As far as creating a _real_ schema, I'm looking at maybe generating an external schema off of the `values.yaml` file. I'd like to pick a relatively common schema type. Maybe JSONSchema?

This is assuming that the YAML parsers don't get fixed soon.

[2017-02-16 23:51] technosophos commented on #1918
Assigned this to @TamalSaha as the feature owner.

[2017-02-16 23:51] kfox1111 commented on #1883
I  think its still valuable to tag stuff as intended for parent so it can be excluded in the values list like I mention above. Also, I'm expecting to pull in a lot of values most of the time, so 1-1 mapping by default would be painful.

Cleanest default I can think of then would be:

[code]

could default to be:

[code]

[2017-02-16 23:52] jascott1 commented on #1883
so `.` is root of parent?

[2017-02-16 23:54] technosophos commented on #1982
After `helm delete --purge foppish-sasqua`, what is the output of `helm ls --all`?

[2017-02-16 23:57] kfox1111 commented on #1883
yeah.

[2017-02-17 00:01] technosophos commented on #1981
Adding to the meta issue about reworking our build/package system. #1968

We were under the impression that it was required to distribute the Apache license with the binary. If anyone knows the "official" stance on that for CNCF, can you comment here?

The relevant portion of the Makefile is this target: https://github.com/kubernetes/helm/blob/master/Makefile#L35

[2017-02-17 00:04] jascott1 commented on #1883
...
"By default import-values will look up each YAML path in the list and add its contents to the root of the parent's values"

Works for me.

[2017-02-17 00:06] jascott1 commented on #1883
Ok. Errors. If import paths are not found, what shall we do? Im on the fence at the moment.

[2017-02-17 00:06] wilkers-steve commented on #1580
@technosophos Sounds good.  I started with Option 1 already and agree that it makes sense to keep this local to Helm for now.

[2017-02-17 00:09] kfox1111 commented on #1883
you mean a dangling import-values?
[code]

or an empty list?
[code]

[2017-02-17 00:09] kfox1111 commented on #1883
oh. or like, if the user specifies one, and its not in the child chart at all?

[2017-02-17 00:09] technosophos commented on #1979
It is "breaking" in the sense that it violates the chart spec, which specifies that a directory name must match the name. `helm package` _must_ create charts that follow the spec.

One of the reasons to not drift from the spec is that it is reasonable to assume that an unpackaging tool may follow this logic:

- get package foo
- untar the file
- cd into directory foo
- read the Chart.yaml

It is w

[2017-02-17 00:12] jascott1 commented on #1883
Exactly. If user wants to import a value and it doesn't exist. Seems like fail or warn?

[2017-02-17 00:14] kfox1111 commented on #1883
ah. I could go either way.

Maybe that should be asked of the other helm developers? There probably is a convention for values that aren't defined that should probably be followed.

[2017-02-17 00:18] technosophos commented on #1966
Yeah, this appears to be true. Any suggestions about how we might support that?

[2017-02-17 00:23] jascott1 commented on #1883
I may have set the convention in last PR :) or at least followed it unknowingly. But in tags and conditions it was to be minimally invasive so it only warns when things aren't there. We have our use case, what would you want to see if common lib didn't get loaded right?

[2017-02-17 00:24] jascott1 commented on #1883
Just a thought but could always introduce yet another dimension with

`-required-child:`

[2017-02-17 00:25] technosophos commented on #1965
Phew... lots to digest here.

Generic stuff:

- We might have figured out a way to support rendering templates in values files: https://github.com/kubernetes/helm/issues/1978 @jascott1
- Unfortunately, none of the YAML parser

[2017-02-17 00:30] liggitt commented on #1918
Not necessarily, there are plenty of other reasons requests could fail. You need to handle partial success already.

[2017-02-17 00:34] kfox1111 commented on #1883
I guess a warning is probably fine. Maybe we just go with that for now and during the code review others can poke at that. It shouldn't be hard to switch if people feel its better the other way.

[2017-02-17 00:34] technosophos commented on #1883
Man, you guys are on a roll today.

FWIW, you can include dots in YAML names if you quote the name:

[code]

[2017-02-17 00:37] technosophos commented on #1965
@kfox1111 Have you looked at this issue? I'd be curious to hear your opinion.

[2017-02-17 00:39] technosophos commented on #1949
Oh! Okay. That makes sense. Mind if I link this to #1961, and then close this one out as a duplicate?

[2017-02-17 00:39] technosophos commented on #1961
See also #1949, which suggests why this need can't easily be met by existing tools.

[2017-02-17 00:40] jagregory commented on #1966
A few options come to mind:

  * A flag to indicate the values you're supplying *replace* the values from the chart. `helm install -f my-values.yml --overwrite`
  * A special value in the yaml to indicate not to merge, perhaps a `null`. e.g. *Null means delete this key*

 **Meta:** the reason this is a problem is because Telegraf doesn't have an explicit `enabled` property you can set, so the pres

[2017-02-17 00:40] jascott1 commented on #1883
Oh we were so close I thought :) If those are the only required key quotes in the system will we get hate email?

[2017-02-17 00:41] technosophos commented on #1911
I'll ask in Slack for some help.

[2017-02-17 00:44] kfox1111 commented on #1965
yeah, seems similar to the other issue. allowing values to be templated and imported into the parent is interesting. Though I think that may be a more general case of allowing values to itself be templated. Which I do think would be useful but might be a separate thing? Should we consider those two use cases separately in two different issues?

[2017-02-17 00:44] technosophos commented on #1892
I think we could do this, provided we have a good convention. Maybe along side `charts/` we have something like an `overrides/` directory that could contain information like this. It might get tricky. For example, how do I override `mychart/charts/wordpress/charts/mysql/my.cnf` but not `mychart/charts/drupal/charts/mysql/my.cnf`?

[2017-02-17 00:45] kfox1111 commented on #1883
you can include dots in the key, but I don't think you can have only a dot?

[code]

[2017-02-17 00:53] jagregory commented on #1966
Prior art for my last little ramble: [grafana.ini](https://github.com/kubernetes/charts/blob/master/stable/grafana/values.yaml#L174)

[2017-02-17 01:05] technosophos commented on #1883
@jascott1 I think we use them on occasion to do annotations, which often have a . in the key. But @kfox1111 may be right about only ".".

Are there cases where we'd want to work with these using --set? Because in that case, `--set foo.\"bar.baz\"=zed` kinds of things might get annoying.

[2017-02-17 01:12] technosophos commented on #1966
I wouldn't be opposed at all to an `--overwrite` flag. That makes sense.

Some work did make it into Helm 2.2.0 which will allow subcharts to be switched on and off based on conditions. But it will likely take the charts repository a while to catch up on those.

[2017-02-17 01:22] iameli commented on #1979
All of that seems reasonable, but this ticket could still be accommodated without modifying the resulting `tgz` files -- `helm package` would just ignore the name of the chart directory, and package its contents into the appropriate subdirectory within the archive. `helm package ./chart` would package `./chart/*` into `chart-name/*` within the tar archive.

I understand how that's slightly less co

[2017-02-17 01:54] mozzymoz commented on #1893
I'm sorry I don't understand, why is the image not repushed, since not docker is the problem but the imag mime type?

[2017-02-17 02:04] kdada commented on #1949
@technosophos

ok

[2017-02-17 02:19] DoctorZK commented on #1950
For your questions:

1,If the template already defines a label that is passed in with --label, which do we prioritize?
  The value that is passed in --label should be prioritized, since developers might use this --label to update the label, which is similar with --set

2, On resource types that have multiple label paths (Deployments, RS, RC), do we only patch the top-level labels (metadata.labels)

[2017-02-17 06:29] TamalSaha commented on #1918
Yes. Even the diff computation can fail. Is there any technical reason to avoid SubjectReview calls if possible (say, too much traffic for apiserver, etc.)?

[2017-02-17 07:49] pluttrell commented on #1987
@technosophos Many thanks for responding.

After reading the referenced doc, I still don't see how to reference the following via `--set`:

[code]

Is  there a way to do this?

[2017-02-17 08:12] nmakhotkin commented on #1971
There is a bug somewhere, I think.

[2017-02-17 08:13] nmakhotkin commented on #1971
I mean the bug in the logic of recreating pods in helm.

[2017-02-17 08:53] urzds commented on #1982
[code]

[2017-02-17 11:01] redbaron commented on #1965
What I don't like about pumped values, as it turns one-directional channel into bi-directional, we use same method to pass config downstream AND to lift final values from them, which is not very easy to model and will have confusing ordering issues

[2017-02-17 11:25] redbaron commented on #1965
@technosophos ,

 1. it is already the case,but worse: both charts need to follow convention to be able to coexist.
 2. changing values is not a prolem with `exports.yaml`, in fact it is exactly the reason I am proposing them: even if value changes, parent chart always use the right value,not just silently breaks

[2017-02-17 12:24] andrewhowdencom commented on #1892
If I was to choose an API, I would try and model it after the inheritance behaviour of .Values.yml. So, instead of

[code]

You would have

[code]

So, the format would be something like

[code]

If I understand correctly, .Values.yml inherits along a simliar syntax

[code]

[code]

[2017-02-17 16:28] libesz commented on #1038
Agreed. Maybe my wording was bad. I would create the swift version of the chart downloader  in a standalone/plugin manner. But isn't it so that if I want to be aligned with the helm behavior (which is in case of chart fetching the dependency resolution logic, downloading also the subcharts, respecting the directory structure, etc.), the best way is to import and reuse some packages from the core h

[2017-02-17 16:32] InAnimaTe commented on #980
Yeah so I've been playing with this a bit. @technosophos is absolutely right. If your chart includes different objects which you want to exist in different namespaces, that isn't going to work the way you think it does.

Helm seems to have its own concept of namespace based solely on which namespace it implicitly launches on (the default) or which is explicitly passed in at runtime (this is reflec

[2017-02-17 16:34] bcorijn commented on #980
@InAnimaTe that is how I am doing it now as well, but from @technosophos his answer I could not really deduct if this manual overriding of the Helm `Release.Namespace` is actually supported or it might break at any moment.

[2017-02-17 17:21] technosophos opened #1990 "Add lint rule for spec.matchLabels on Deployment"
Resources like Deployment, ReplicaSet, and DaemonSet should, as a best practice, declare `selector.matchLabels` rules in their pod template:

https://kubernetes.io/docs/concepts/tools/kubectl/object-management-using-declarative-config/#defining-controller-selectors-and-podtemplate-labels

Doing so prevents a number of odd-ball cases where pods are not appropriately updated.

We should write a lint

[2017-02-17 17:23] smarterclayton commented on #1951
PodSecurityPolicy is a Kube beta API that prevents users from running operations that allow container escape unless they have a certain level of privileges.  By default, OpenShift runs with this on (no user is allowed to run as root, access the host filesystem, access the host network, etc).  I'll send you a yaml dump later, but effectively the PodSecurityContext field is set with a high non-root

[2017-02-17 17:57] #1964 closed

[2017-02-17 18:20] kragniz opened #1992 "Add --url option to helm serve"
This will do the same as `--url` on `helm repo index`.

[2017-02-17 18:34] technosophos commented on #980
Helm does not have it's own concept of namespace. We follow Kubernetes' conception very carefully. The problem is that Kubernetes clients connect _to a specific namespace_ and do their operations from within that namespace. If you tell Helm that you deployed a release to namespace `foo`, it will connect to that namespace to learn about the release.

However, it is possible to connect to one namesp

[2017-02-17 19:24] jascott1 commented on #1883
Im not sure `--set` would be used much here other than setting the final values in parents (not the child/parent paths from requirements). Sounds like we need to go with child/parent keys in list.
Heres an updated example based on our discussion:

Example with simple list
[code]
[code]

[code]

[code]

Example with child/parent key

[code]

[code]

[2017-02-17 19:29] sbezverk commented on #1883
+1 child/parent key approach as it give better visibility to imported values in parent's values.

[2017-02-17 19:30] jascott1 commented on #1883
@sbezverk we are discussing supporting both simple list and child/parent. Are you against including simple list?

[2017-02-17 19:31] kfox1111 commented on #1883
Yeah, the dot in the key names would only be used in the dependencies file. It would not have any effect on --set or the users values files.

[2017-02-17 19:32] sbezverk commented on #1883
I do not like simple list approach, at least I would not use it as it might bring confusions.

[2017-02-17 19:36] kfox1111 commented on #1883
the simple list is just a "here,  just grab all the things" I think this is going to be the common use case we will hit.

with all the common stuff in kolla-common, I'd much rather have:
import-values:
  - common
  - api-python-deployment
  - pv

or something like that then:
import-values:
  - child: parent.common
    parent: .
  - child: parent.api-python-deployment
    parent: .
  - child: paren

[2017-02-17 19:36] technosophos opened #1993 "Add basic "Best Practices" guide"
We've been meaning to do a best practices doc for a long time. I think we may start with a guide in the `docs` folder here, and gradually build it up over time.

[2017-02-17 19:39] jascott1 commented on #1883
I would point out that we would still support

[code]
so will still get those questions :) but at least we can hide it if we choose.

[2017-02-17 19:39] technosophos commented on #1987
I believe that the most straightforward way to do that would be to alter the structure of values.yaml into something like this:

[code]

That strategy will simply make it easier to reference them from `--set`, while also being pretty easy to work with in templates.

As you probably noticed from the documentation, there is no way in the current `--set` syntax to access an array value by index. So w

[2017-02-17 19:40] kfox1111 commented on #1883
right. I think that long hand would probably only be used by folks that were needing the flexible dict based approach for other things. so they already will have to have figured out how it works/accepted the complication.

[2017-02-17 19:43] jascott1 commented on #1883
Cool. And as far as errors we were circling around Warning when an import path does not exist in child. Does anyone have any strong feelings about Warn vs Fail? Other than that I think if we can get a blessing I can implement.

[2017-02-17 19:59] mcandre opened #1994 "install and lint chokes on escaped double quotes"
# Summary

YAML officially supports `\"` within double-quoted string values, but Helm actually chokes when presented with one.

# Steps to reproduce error

In a `deployment.yaml`, present a string value that contains escaped double quotes.

[code]

Then `helm install --debug --dry-run`... This reports no warnings or errors, and produces valid YAML output according to the YAML spec.

http://yaml.or

[2017-02-17 20:01] kfox1111 commented on #1883
@sbezverk with the shorthand, we can basically just take all the package specific stuff out of kolla-kubernetes all_values, and take the rest and put it in kolla-common/values.yaml under the 'parent' key.

Then in each microservices chart, we put in
[code]

Should then be able to get rid of all the values logic out of prebuild entirely and make it just do localpath deps and then it becomes just li

[2017-02-17 20:04] jascott1 commented on #1883
Since they are both lists I think we can allow mixing of simple and child/parent formats. Thoughts?

[2017-02-17 20:04] sbezverk commented on #1883
@kfox1111 that would be great, one step towards more helm native way..

[2017-02-17 20:05] kfox1111 commented on #1883
@jascott1 yeah, I guess thats true. mixing would work as one's a string and the others a dict.

[2017-02-17 20:48] jascott1 commented on #1883
On more thing, if path already exists in parent who wins the merger?

[2017-02-17 20:53] kfox1111 commented on #1883
in order of priorities:
first entry in include-values gets lowest priority
second entry in include-values gets next priority
.....
values from parent chart gets next priority
values specified by user gets highest priority.

highest priority wins.

[2017-02-17 20:56] jascott1 commented on #1883
so parent values win over child values with `--set` winning overall?
if effective duplicates exist in import-values, the last one wins.

[2017-02-17 20:57] kfox1111 commented on #1883
yeah. that way if the parent knows it wants to override a default that makes more sence in its particular case, it can easily do so. and the user gets total control in the end to override anything.

[2017-02-17 20:58] jascott1 commented on #1883
Pretty sure we cannot order the actual requirements loading so two conflicts from different sub-charts in the same requirements would be non-deterministic.

[2017-02-17 21:12] jascott1 opened #1995 "proposal: allow import of child values via optional requirements field 'import-values'"
# Problem

When working on complicated nested charts developers would like to create 'library charts' that contain common values that need to be accessible from the parent chart but there is no mechanism to do this. Developers resort to workarounds such as build scripts that merge values files which add more steps and are not helm native.

# Proposed Solution

Allow the import of a child's values

[2017-02-17 21:13] jascott1 commented on #1883
OK boiled all this down to new proposal for readability https://github.com/kubernetes/helm/issues/1995

[2017-02-17 21:18] kfox1111 commented on #1995
Also, this should suggest a convention that child charts place stuff under the "parent" section. The parent section can then be automatically excluded nicely when used by chart introspection tools.

[2017-02-17 21:20] redbaron commented on #1995
what would be example of data passed this way in real-life?

[2017-02-17 22:32] kfox1111 commented on #1995
ok. so maybe a more concrete example would help. in kolla kubernetes, we would use this feature like so I think:

in kolla-common/values.yaml, we would have something like:
[code]

Then in chart: neutron-create-db-job
its requirements.yaml would have:
[code]

and then it sould behave the same way as if the following was in neutron-create-db-job values.yaml.
[code]

[2017-02-17 23:37] smarterclayton commented on #1951
Yes, setting HOME fixed that particular issue.

[2017-02-19 00:26] iameli opened #1996 "`release: not found` when I do `helm install` on a chart with some weird properties"
Came across this while doing some mad science on directories that are both Helm charts and Javascript modules. [Minimal repro case is here](https://github.com/streamplace/weird-chart-bug). The end result is that Helm successfully deploys a chart and immediately forgets that it did, like so:

[code]

It does actually create the relevant Deployment object, but it doesn't know anything about the `tes

[2017-02-19 05:15] liggitt commented on #1918
can't assume the login name is identical to the authenticated username. some auth systems allow multiple logins (bob, BOB, bob@domain) to map to a single username. Also, to impersonate, you need to obtain and impersonate *all* the user info: username, group membership, and "extra" data (could hold scope info, other info used by the authorizer, etc). I'm not sure how you plan to obtain that info fr

[2017-02-19 08:55] TamalSaha commented on #1918
Great feedback, @liggitt ! The wip pr is here: https://github.com/kubernetes/helm/pull/1932/files#diff-8f4541a8ec0fb2b3143ca168f7083f17R171

This is new information to me. How does Kube api server handle it?

Yes. Is there a better way when users are using client cert auth?

Is this referring to storing the resolved user information (username, groups, extra data, etc) or the user credentials thems

[2017-02-19 19:12] liggitt commented on #1918
The ways the kube api server accepts basic auth info:
* the --basic-auth-file (where the presented login name *is* the username), and the file contains the user's groups
* via an auth proxy, where the proxy resolves the user info using the presented credentials and passes username/groups/extra fields to kube via headers

Tiller would need to resolve user info from basic auth credentials using the

[2017-02-19 19:47] TamalSaha commented on #1918
I see. I was hoping that we could avoid reimplementing the full auth process of kube api server. Is there any easy way to achieve this? Like use the kube api server auth process as a library so that we don't have to re-implement it.

I agree with you. But without sending the client private key how can we create an authenticated Kube Client using user's credential in Tiller?

So, the user info is u

[2017-02-20 01:56] TamalSaha commented on #1918
I had another round of conversation with @liggitt . You can find the transcript here: https://docs.google.com/document/d/19Bxu1TMEOErP81E4kUt6zIoms0_3_O5lvPhEbzxYdQ8/edit?usp=sharing

**Clarifications:**
- Tiller can use super user credentials for initial authN/Z and actual release operations will be performed as user.
- Only username will be stores in configmaps for record keeping.
- Everything n

[2017-02-20 21:59] podollb opened #1998 "Support federated k8s cluster"
It seems that helm is unable to work with k8s federated clusters. Is getting that working on the roadmap?

[2017-02-20 23:13] TamalSaha commented on #1924
I just saw this:
http://blog.slashdeploy.com/2017/02/16/introducing-await/

[2017-02-21 05:49] tonyaw opened #1999 "How to upgrade from a helm-less system to a helm controlled system"
Hi Helm experts,
We're running a system which is using Ansible to do Kubernetes resource deployment, and we want to run an upgrade to change the Kubernetes resources deployment to be under helm's control .
Is there some introduction for how to upgrade a helm-less system to a helm controlled system?

I found I can add the manifest of the existing resource to the chart, and run "helm upgrade" twice

[2017-02-21 08:33] DoctorZK commented on #1950
For the third question : "During upgrade, how we merge the labels that were specified in the install with the labels specified in upgrade."
We find an effective approach to solve this problem. We drop the specified label pairs through "--label" during installation if we use traditional upgrade method. And we change tiller to support users specify the "--labels" to redefine the label pairs if they

[2017-02-21 08:48] qiujian16 commented on #1992
@technosophos I would like to create a PR if no one is working on it.

[2017-02-21 09:14] kragniz commented on #1992
@qiujian16 go for it! I'm not currently working on it

[2017-02-21 09:36] terlar opened #2001 "Install/upgrade a chart with SemVer including metadata `0.1.0-beta.1+metadata'"
It seems this version is not compatible with the regex specified for labels that gets applied based on the version. So I get a bunch of:

[code]

The only workaround I have been able to do so far is by omitting the metadata. It is clearly due to the `+` not being allowed inside the regex validating labels. So either the labels applied would need to omit the `+` or include it in the regex, not sure

[2017-02-21 10:16] pigmej commented on #1924
@TamalSaha how it's related? Await is "just" a cli tool which waits for condition ;) It's a tool that could be used in init-containers to kinda orchestrate some stuff, but this approach is hard to debug and see dependencies between components.

[2017-02-21 14:42] naphthalene opened #2003 "`helm install --wait` Error transport is closing"
Hello,

I've created a helm chart that contains a post-install hook. In the event the hook fails, the helm install command times out and errors out with the following error:

[code]

I suspect this happens because if the job/hook fails, it spins up a new pod to retry the job, killing the old one.

I am running helm v2.2.0. Please let me know if more details are needed.

[2017-02-21 14:50] wilkers-steve commented on #1968
Let me know if I can help with this @technosophos.  Issue #1690 in particular would be helpful for CI purposes on our end.  I'd like to be able to help with enabling CICD processes in general, so happy to help here.

[2017-02-21 15:43] TamalSaha commented on #1924
@pigmej I was not thinking about their solution. I was point to the fact that they were having issues AppController trying to address in their Helm chart.

[2017-02-21 15:45] pigmej commented on #1924
ah got it :)

[2017-02-21 15:52] TamalSaha commented on #1924
@pigmej , @nebril Have you got a chance to look at the latest comment on Auth work? https://github.com/kubernetes/helm/issues/1918#issuecomment-280970015

Thinks got complicated . This affect how auth works in a backend module context.

[2017-02-21 16:07] wilkers-steve commented on #1969
I think this is better suited as a plugin.  It feels very shortsighted to me to only apply this logic to one particular method of referring to requirements (file:// versus declaring required charts in a repository).  A plugin address this particular use case perfectly, and implementing a plugin doesn't add additional conditional debt to Helm by applying to one specific method of declaring dependen

[2017-02-21 16:21] Rurouni opened #2004 "Error converting YAML to JSON could not find expected ':'"
I have just run into very curious bug with `(.Files.Glob "configOverrides/*").AsConfig`
Suddenly one of my services charts started to fail on helm upgrade with obscure
[code]
But the weird thing was that other almost identical chart was succeeding.
Both of them have pretty standard
[code]
both of them incude appconfig.json file that is valid json and encoded with UTF-8 without BOM
and the only dif

[2017-02-21 16:59] bacongobbler commented on #1951
For the reason why this is failing, I'm fairly certain it's because tiller uses k8s `pkg/client/api/validation` to validate the schema. Because the schema does not exist initially, pkg/client writes it to `$HOME/.kube/schema` so that a user of pkg/client (in this case, tiller. Usually kubectl) can validate data client-side before uploading it to the server. When it writes it to disk, $HOME is not

[2017-02-21 17:08] technosophos commented on #1924
Summary of the Tiller Backend Working Group

Agreed that:

- Any satisfactory backend must be able to deploy any standard chart
- We wanted to support **just one** release backend at a time
- CLI/Chart should not be able to "specify a backend". Tiller will always use the one configured backend

But we still have open issues on:

- Should the backend be compiled into Tiller (like Storage Backends),

[2017-02-21 17:13] pigmej commented on #1924
I think we may use Kubernetes to solve that problem by spawning Tiler and module in single pod and then using localhost to communicate. Then all AuthN/AuthZ is still in Tiler, and it's still safe to use it.
(that was just fast thought)

I strongly believe that it's possible :)

[2017-02-21 17:20] TamalSaha commented on #1924
If backend runs as a compiled binary, then Tiller's auth will take care of it. If backend modules run as separate gRPC services, then one option will be to use the Tiller's[ auth proxy option](https://github.com/kubernetes/helm/issues/1918#issuecomment-280970015). This is the recommended approach for compatibility for UAS-es. Basically there is a separate client cert auth happens between Tiller an

[2017-02-21 17:26] #1967 closed

[2017-02-21 18:02] TamalSaha commented on #1924
@pigmej / @nebril  Some questions about AppController:

- I think more clarifications are needed for `Any satisfactory backend must be able to deploy any standard chart`. If all backends are "same", then why will users use a different backend? I noticed that AppController introduces new labels for Deployments/ RCs like ike  [`success_factor`](https://github.com/Mirantis/k8s-AppController/blob/adcf

[2017-02-21 18:13] pigmej commented on #1924
@TamalSaha

ad1. AC offers much more than `success_factor`. And it will have more and more stuff. It's kinda obvious that when you create unified interface on top of something, you're pretty much bound to minimal shared subset of functionalities.

ad2. We will need to support all of objects ;-) Simple as that. AC shouldn't limit Helm possibilities, AC and any other module *have to* support all obj

[2017-02-21 18:30] TamalSaha commented on #1924
I think you get the center of my main concern: `fragmentation`. If some charts need functionality to properly install apps that are not available in the "minimal shared subset of functionalities", will those Charts be accepted in the https://github.com/kubernetes/charts repo?

Also, how does Tiller's default implementation evolve over time? Given dependency detection is implicit, one can send a pa

[2017-02-21 18:37] pigmej commented on #1924
Well, no ‎the integration will be limited to 'common subset'. It's the same for any library which supports different backends for doing xyz, same for cri, same for any db implementation etc.

All unique features will be not supported in this integration. User will need to enable them later in post deployment or sth. 

Adding patch that does dependency 'in helm directly' is I think out of scope for

[2017-02-21 18:41] TamalSaha commented on #1924
I disagree. If this is a common enough problem for Helm's users, then Helm core is ought to solve in its default implementation.

[2017-02-21 18:42] TamalSaha commented on #1924
@pigmej , I think you missed my question. Will any chart that uses "unique" features of a backend be accepted into the official Chart repo?

[2017-02-21 19:19] bacongobbler commented on #1331
ping @jstrachan ^^

[2017-02-21 19:46] rcarlson8974 commented on #1998
This is our #1 issue right now.  To get HA, we need to be in multiple regions and zones.  To deploy once, we need Federated clusters.  Without this getting implemented, we have to do something kludgy like running a helm command per cluster, which is less than ideal or dropping down to kubectl which also has limitations.  I would love to see this added to the road map.

[2017-02-21 19:51] InAnimaTe commented on #1875
I do the like the model of letting the user define this via annotation. I think we might want to make the default to keep them around unless the annotation is set. The other question is how to handle a `--purge` here, as I'd think most users would expect EVERYTHING to be forcibly removed on purge. Although, what if I want all the rollback configsets removed but not my PVC?

[2017-02-21 20:08] technosophos commented on #2004
That is a peculiar bug. With the problematic JSON, have you run it through a JSON linter just to be sure there isn't some hidden character causing a problem? Otherwise, it sounds like we might have an error in the upstream YAML parser.

[2017-02-21 20:15] technosophos commented on #2003
Yeah, that is probably a timeout (assuming Tiller didn't crash). You can use the `--timeout` flag to give it more time if you think the main issue is time-related. You can also use `kubectl` to (a) tail the Tiller log, or (b) check on the actual resource you are trying to deploy.

[2017-02-21 20:18] technosophos commented on #2001
The root of this is that Kubernetes disallows `+` in a label value. One option is to do something like this in your template: `{{ .Chart.Version | replace "+" "_" }}`.

[2017-02-21 20:24] technosophos commented on #1999
I believe AppsCode released a tool that helps with exporting existing manifests to Helm charts: https://github.com/appscode/chartify /cc @TamalSaha

What you are seeing is basically the expected outcome. The first run, the upgrade has no record of the objects, so it fails to install them. The second time, it has a record that you tried to install those objects, so it attempts to upgrade the existi

[2017-02-21 20:28] technosophos commented on #1998
We would _love_ to add this feature. We talked about it during the last KubeCon, but honestly we need some help.

Tiller can talk to exactly one Kubernetes API server right now. If that API server can make the federation transparent, Helm could probably work.

I'd need to look at the docs, but if the control plane provides a Kubernetes API server, it might be possible to deploy Tiller into the con

[2017-02-21 20:29] technosophos commented on #1996
Can you get the output of Tiller's logs using `kubectl`? Also, if you do `kubectl get configmap --namespace kube-system`, do you see a config map with that release name (e.g. `test`)? THat's where it stores its deployment record.

[2017-02-21 20:31] technosophos commented on #1994
Can you upgrade your client to 2.2.0 and retry?

[2017-02-21 20:37] pigmej commented on #1924
@TamalSaha no unique features shouldn't exists from Helm point of view.

[2017-02-21 20:44] pigmej commented on #1924
@TamalSaha also release module in theory may do more than just during "deployment". I'm speaking about some leader reelection stuff, or mysql-multi-slave and slave propagation etc. These actions are unknown for helm and they probably should remain unknown/out of scope.

[2017-02-21 21:03] technosophos commented on #1994
I can definitely reproduce the case where I pass in a quoted string in `values.yaml` and it gets decoded and loses its escaping.

values.yaml
[code]

templates/deployments.yaml
[code]

And when I run `--dry-run --debug` I see this:

[code]

But the above is not valid YAML. You would need to fix the template to either quote/escape the value or use YAML heredoc syntax:

[code]

[2017-02-21 21:14] #1951 closed

[2017-02-21 21:37] michelleN commented on #1973
@AmandaCameron Great point. Do you think that `helm test` should just exit cleanly if no tests were defined with a message indicating that instead?

[2017-02-21 22:06] AmandaCameron commented on #1973
Yes that would be acceptable, or at least a well-defined (different) exit code that a CI system could be poked into ignoring if wanted.

[2017-02-21 22:23] naphthalene commented on #2003
I think you're right, its not really a helm issue. Thanks for the tips. (Tiller definitely doesn't crash).

As a followup though, once the release times out, I have an issue where I can't reuse the name of the release or delete it:

[code]

[2017-02-21 22:44] technosophos opened #2005 "Add `await` to related.md document"
We should add @ahawkins 's await tool to the docs/related.md document:
http://blog.slashdeploy.com/2017/02/16/introducing-await/

[2017-02-21 23:00] technosophos commented on #2003
Do `helm delete --force ...`

[2017-02-22 01:59] iameli commented on #1996
Ah, looks like you got it, Tiller complains that it can't create the ConfigMap:

[code]

[2017-02-22 02:15] payal-hshah opened #2006 "--wait does not work as expected with helm version 2.2.0 install/upgrade/rollback"
It is expected for `helm install/upgrade/rollback` to wait before coming back  to make sure all the pods are up and running for a given release.. But, seems like it does not wait and comes back right away .. Logging an issue after conversation with @technosophos

[2017-02-22 03:01] TamalSaha commented on #1924
Agree. I will again say that the pure dependency feature belongs in the core.

[2017-02-22 03:07] #2003 closed

[2017-02-22 09:24] nebril commented on #1924
@TamalSaha what do you mean by "pure dependency"? Dependencies within the charts? I think this can be discussed here, as it is connected. In the end though we will need a whole new proposal which will have e.g. chart format changes (for specifying dependencies).

[2017-02-22 12:43] TamalSaha commented on #1924
I meant the type of dependency AppController is handling. That should be handled in core as all the information is already in Chart.

[2017-02-22 13:18] ahawkins commented on #2001
@technosophos you can close this issue.  2e0f949d4 fixes the issue. Our template was generated before this commit.

[2017-02-22 14:10] nebril commented on #1924
AppController could handle dependencies in chart and between charts. So I am not sure what should be handled in core in your opinion.

[2017-02-22 16:26] thomastaylor312 commented on #2006
I am going to take a look at this. @payal-hshah was this with every chart you installed or was it only with a specific one?

[2017-02-22 16:28] thomastaylor312 commented on #2006
And just to be thorough, are you running tiller at version 2.2.0? And what version of kubernetes are you using?

[2017-02-22 17:53] payal-hshah commented on #2006
@thomastaylor312 I have tried it with one chart as of now and also I have tried running both `helm install` and `helm upgrade` .. Seeing the same behavior .. Also, my tiller is upgraded to use `v2.2.0`

`helm version
Client: &version.Version{SemVer:"v2.2.0", GitCommit:"fc315ab59850ddd1b9b4959c89ef008fef5cdf89", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.2.0", GitCommit:"fc315ab59850

[2017-02-22 19:36] TamalSaha commented on #1924
Ideally both "dependencies in chart and between charts".

[2017-02-22 19:45] TamalSaha commented on #1924
The issue is Helm should decide what are necessary minimal features that should come with Helm (as the default feature set). Those features can be implemented as backend modules (same binary, separate grpc service). That is a technical question and my vote is for simplicity, hence same binary.

But the bigger question is these minimal necessary features sets needs to be part of the Helm community

[2017-02-22 19:57] michelleN commented on #1960
Two semi related pieces concerning this:

1. We don't necessarily have this type of user experience precedent with any of the other hook types. For example, we don't provide errors on pre and post update or install hooks if you mis-typed them, so I'm hesitant about changing it up the experience for the test hook.

2. Currently, all unknown hooks get skipped/thrown away while processing hooks on `h

[2017-02-22 21:54] thomastaylor312 commented on #2006
Looks like this is related to when we added support for TPRs in Helm. We build every `resource.Info` type as Unstructured, which breaks type casting used in the `--wait` flag and with `--recreate-pods`. /cc @adamreese

[2017-02-23 07:42] peay commented on #1958
I am considering contributing a PR if we can agree on a design for this.

[2017-02-23 07:54] peay opened #2013 "`helm upgrade` does not re-create namespace when it is gone"
When the namespace of a release had been deleted, `upgrade` fails:

[code]

This is arguably a special situation, but I would expect helm to re-create the "resources that do not already exist" (https://github.com/kubernetes/helm/blob/master/pkg/kube/client.go#L201), including namespaces.

How about calling `ensureNamespace` there in `Update`, as is done in `Create`? I can try and send a PR for thi

[2017-02-23 08:22] tonyaw commented on #1780
Hi,
Could you please help to explain why all charts are grouped together including the dependency?
In my opinion, the dependency chart should be created first, and after it is created successfully, its parent chart should be started to create.

[2017-02-23 10:32] sunnybi opened #2014 "can't delete the release name from the kubernetes"
After I use helm install a ETCD cluster, I want to delete it and reuse the same name to install again, but failed. It complains the release name already exits. But if I delete the release name, it complains the release name is already deleted. Below is my procedure.

1) I create a ETCD cluster using helm chart.

[root@foss-ssc-8 subi]# helm install ./etcdcluster.v0 --name etcd-cluster
NAME:   etcd

[2017-02-23 12:35] Ladicle commented on #2014
I think that ConfigMap is left.
Please check with `kubectl get cm -n kube-system|grep etcd`.

ConfigMap of the release will remain so that the history can be referenced.
You need the `--purge` option If you want to delete it completely.

[2017-02-23 14:27] nebril commented on #1924
@TamalSaha AppController is going to join K8s incubator soon, with aim of becoming official K8s project. I hope this will ensure you that it's "safe" to use.

[2017-02-23 15:51] TamalSaha commented on #1924
@nebril That is good to hear!

Assuming Tiller takes a nginx/apache module approach, how does new modules are added to Helm without each module having to become a Kubernetes incubator project?

[2017-02-23 16:19] austinmoore- opened #2015 "Support RBAC resources in hooks"
RBAC resources (like ClusterRole) do not have a status like "Ready", so Tiller will time out when this resource is created even though the resource was successfully created.

[2017-02-23 16:54] Rurouni commented on #2004
It worked fine in online linters I tried. I thought initially that it was related to BOM, but both files(working and not working) did not have it.  I have attached minimal chart that is causing it for me:
[chart.zip](https://github.com/kubernetes/helm/files/797126/chart.zip)

running
`helm upgrade dev-seed-worker /app/bin/worker/kube --install --debug --namespace seed-dev --dry-run`
results in
[co

[2017-02-23 17:27] technosophos commented on #2014
You can also use the `helm install --replace` flag after a regular `helm delete`. That will have the effect of appending the new release versions to the existing history for that version.

[2017-02-23 17:28] technosophos commented on #2013
Is the namespace explicitly declared in the chart?

[2017-02-23 17:30] technosophos commented on #2015
Ooo... glad you pointed that out.

@thomastaylor312 do you think we could switch the hook logic to use your new and improved wait code? Would that fix this problem?

[2017-02-23 17:48] thomastaylor312 commented on #2015
I think it probably would with a small refactor to support RBAC resources. I might need to clarify with you @technosophos exactly where the problem is in the code.

[2017-02-23 19:00] peay commented on #2013
Good point, it is not. This is still slightly inconsistent with the behavior of install though, but that is a good workaround.

[2017-02-23 19:47] kozikow opened #2017 "Save helm chart state to yaml"
I wrote a HN comment about this feature request (https://news.ycombinator.com/item?id=13716835), but I realized maybe bug would be better.
I personally would find it useful if helm would provide way of saving the template to yaml. E.g. only install helm "locally", but when deploying to prod just use plain yaml files based on config created via helm.

Why I would want it:
- Easier to do minor tweak

[2017-02-23 20:48] technosophos commented on #2015
Pretty sure it is right here: https://github.com/kubernetes/helm/blob/master/pkg/kube/client.go#L459

[2017-02-23 20:52] technosophos commented on #2017
The `helm-template` plugin does this. We're talking about rolling that feature into Helm.

Importantly, though, rendering templates client-side has disadvantages. Helm charts often have logic that is dependent on the cluster itself (`{{.Capabilities}}` objects, `{{.Release.IsInstalled}}`, PV setup, and naming). Rendering these client-side will produce lower-fidelity results.

[2017-02-23 20:53] technosophos commented on #2013
You're right. Just trying to figure out how best to re-create the problem. Thanks!

[2017-02-23 20:54] technosophos commented on #2006
On the community meeting today, it was requested that I drop this on the 2.2.1 release.

[2017-02-23 20:58] technosophos opened #2018 "Add Cog repo to docs/related.md"
Add to the docs: https://github.com/ohaiwalt/cog-helm by @ohaiwalt

[2017-02-23 21:09] thomastaylor312 commented on #2015
Ah yes, that code. I can take a look at it next week and try to refactor.

[2017-02-23 22:02] technosophos commented on #1918
This issue seems to have diverged substantially from the original proposal. I think we'll need to re-assess whether this is feasible in the 2.3.0 timeframe.

Okay... I'll clear up a few details:

1. Helm 2.3.0 is not considered backwards compatible with Kubernetes 1.4. It _will_ be considered compatible with Kubernetes 1.5
2. Any implemented solution _still_ must provide users with the option to r

[2017-02-23 22:13] peay commented on #2013
Actually, I am wondering if including the namespace in the chart necessarily works: is it guaranteed to be applied first? I guess if it is not, we could still get the issue above.

[2017-02-23 22:46] #1624 closed

[2017-02-23 22:47] #2005 closed

[2017-02-23 22:57] technosophos commented on #1960
Moving to 2.3.0, since this doesn't appear to be a simple bug fix. We can move it to 2.2.2 if that ends up being better.

[2017-02-23 23:47] kfox1111 opened #2019 "helm dep up pull"
'helm dep up' does an automatic 'helm update'. This is desirable in the general case, but if you are building a large number of packages, doing dep up for each package cause the repo's to be refreshed over and over greatly slowing down the process. There needs to be a flag that disables the repo refresh, or a way to only do it if the cache is older then some amount of time.

[2017-02-24 00:04] technosophos commented on #2019
How about if we do a `helm dep up --skip-refresh` option?

[2017-02-24 00:05] kfox1111 commented on #2019
perfect. :)

[2017-02-24 00:22] kfox1111 opened #2020 "local path repo verbose"
The new local path code is working well, but it prints out a lot of lines like:
Archiving xxx from repo file://../../microservice/xxx
and
Repository from local path: file://../../microservice/xxx

This information is nice but not needed most of the time and sometimes obscures more important info. Can we hide them under the --debug flag?

[2017-02-24 02:08] sunnybi commented on #2014
Thank you @Ladicle and @technosophos. It works now after I use --purge option.

[2017-02-24 10:00] kdada opened #2022 "A question about naming rule"
In kubernetes, an object name should be up to maximum length of 253 characters and consist of lower case alphanumeric characters, -, and . .
refer to :
[kubernetes doc](https://kubernetes.io/docs/user-guide/identifiers/)
[kubernetes design doc](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/identifiers.md)

In helm, there is a regexp of release name:
[code]
And I

[2017-02-24 11:44] wjkohnen commented on #1844
Yet another fellow of @tback and @jayme-github checking in. Sorry the long delay. I've tried to reproduce and clarify our problems.

- [x] We did not specify `.spec.selector.matchLabels` in our deployments, as that seemed to be redundant and volatile. This resulted in all kinds of weird behavior, because we use helm template variables in `.spec.template.metadata.labels`. As recommended I've tested

[2017-02-24 16:53] TamalSaha commented on #1918
I have put what I understood from my discussions with @liggitt in the above comment. We are still working based on the original proposal. I think we might come up with some follow up tasks based on the above comment for future versions of Kubernetes. So, I think auth should be possible in time for 2.3 release.

Great! Then there are no Kube api availability related issues as far as I see.

Agree.

[2017-02-24 17:04] #1973 closed

[2017-02-24 17:08] #2006 closed

[2017-02-24 17:50] technosophos opened #2023 "add KubeCon 2016 video(s) to related.md"
There were a few videos from the last KubeCon that we should add to the `related.md` docs.

[2017-02-24 18:37] technosophos commented on #2022
I don't think we will change the current requirements for chart name or for release name. Neither field is necessarily "guaranteed" to make a safe `name:` field. Convention has opted to use those values in those fields, and the template language is expressive enough to protect you from naming violations (for example, with `{{ lower .Release.Name }}`). Probably, that ought to be added to official K

[2017-02-24 18:39] technosophos commented on #2020
Would that be pretty easy to do @qwangrepos ?

[2017-02-24 18:44] technosophos commented on #2017
@kozikow Can you verify for me that this issue is basically what you'd like to see in Helm core? https://github.com/kubernetes/helm/issues/1887

[2017-02-24 18:45] technosophos commented on #2014
Okay. I'm going to close this for now. Feel free to re-open if you find another issue.

[2017-02-24 18:45] #2014 closed

[2017-02-24 18:46] technosophos commented on #2001
Cool. Thanks.

[2017-02-24 18:46] #2001 closed

[2017-02-24 18:49] technosophos commented on #1998
I'm trying to gauge interest in this feature. Please weigh in here (even if it's just a 👍 ) so that I can figure out how important this is to people.

[2017-02-24 18:51] technosophos commented on #1996
Ah! So the chart is too large to get stored. IIRC, there's a limit in Kubernetes 1.5 that no resource can be larger than (approximately) 1M. We do gzip the chart, but it probably still pushed beyond that limit.

[2017-02-24 18:53] qwangrepos commented on #2020
@technosophos I just checked the dependency commands and the debug flag is not currently implemented in the command structure. It is okay to modify the structure for "--debug"?

[2017-02-24 18:55] technosophos commented on #1982
Hmmm... in rare cases, re-running the `delete --purge` will fix it.

But in this state you _might_ have to use `kubectl delete pod -n kube-system bilging-numbat`

[2017-02-24 18:59] rcarlson8974 commented on #1998
👍 👍 👍 👍 👍 👍 👍 👍 👍 👍

[2017-02-24 19:01] technosophos commented on #1971
@nmakhotkin can you reproduce that issue?

[2017-02-24 19:23] podollb commented on #1998
Agree. It's pretty important IMHO, especially now that people are starting to move to federated k8s deployments (so it's a fork in the road, to continue to use helm, with no support to deploy to a federated k8s with helm).

[2017-02-24 20:01] technosophos commented on #1875
Yeah, I think we'd have to assume that if you say you want to keep the PVC, that means you don't ever want Helm to delete it.

[2017-02-24 20:02] technosophos commented on #1834
Writing up how Kolla did its chart building would make a great blog post and addition to the docs for the project.

[2017-02-24 20:34] mcandre opened #2024 "Trouble overriding ENTRYPOINTs"
The Kubernetes docs say that configuring a custom `command` value should be sufficient to override a Docker image's ENTRYPOINT, but in practice, Helm seems to be appending the `command` to the `ENTRYPOINT` rather than replacing it.

https://kubernetes.io/docs/concepts/configuration/container-command-args/

Can someone reproduce?

[2017-02-24 21:38] mcandre commented on #2024
I can't reproduce the issue with a minimal Dockerfile + Helm chart, so I assume my cause lies elsewhere.

[2017-02-24 21:38] #2024 closed

[2017-02-24 21:43] pluttrell opened #2025 "Helm Installs Don't Honor Timeout"
I have tried to install Spinnaker via Helm many times. Most fail. A lot of them with this error:

[code]

Note that they fail in just a couple of minutes, not the 25 minutes specified. Shouldn't they be honoring the specified timeout?

[2017-02-24 22:41] pluttrell opened #2026 "Helm Installs of Spinnaker Periodically Fail with PersistentVolumeClaim Issues"
I'm attempting to install Spinnaker via Helm and they fail a high percentage of the time with the following issues:

Minio Deployment:
[code]

Redis Deployment:
[code]

When this happens they never appear to recover, so I delete the release with Helm if it shows up, or delete all resources manually if it does not.

Sometimes trying it again will just work.

[2017-02-24 22:54] pluttrell opened #2027 "Helm Incorrectly Reporting Release "Deployed""
During deployment of the stable/spinnaker chart, Helm reports it is deployed:

[code]

But part of the deployment failed. Observe in the following that the Redis replica set has zero running pods:

[code]

[2017-02-25 14:50] nmakhotkin commented on #1971
@technosophos I try to reproduce it soon and then tell about results here.

[2017-02-25 23:00] kragniz commented on #1992
Closed via #2002

[2017-02-25 23:00] #1992 closed

[2017-02-26 07:01] iamzhout commented on #1998
wanted +1 :+1:

[2017-02-26 12:18] iamzhout commented on #2022
@kdada According to this PR(https://github.com/kubernetes/kubernetes/pull/29523), the length limit for service is 63 characters, and there do have different length limit for different kind of resources in k8s, so 63 chars limit is a safe bet for now I think.

[2017-02-26 17:53] bacongobbler commented on #2022
yep. Pods can have names up to 253 characters, but services created with the pod name via `kubectl expose` are truncated to 63 characters. The name length limitation differs from resource to resource.

[2017-02-27 03:36] kdada commented on #2022
@technosophos
Should remind users of these limitation in doc?

[2017-02-27 05:35] colemickens opened #2030 "Error: file "helm install stable/nginx-ingress" not found (and mysql doesn't work either)"
So, I'm following the Quick Start Guide: https://github.com/kubernetes/helm

Neither `stable/nginx-ingress` nor `stable/mysql` work.

[code]

Version info:

[code]

[2017-02-27 05:36] colemickens commented on #2030
Hm, looks like deleting `~/.helm` and starting over helped. (And removed the `deis` source , which is fine and makes sense)..

Closing for now, I guess y'all know if it's expected that users would need to take this remediation action.

[2017-02-27 05:36] #2030 closed

[2017-02-27 05:37] bacongobbler commented on #2030
~~can you check `helm search` and confirm if there's a stable/mysql package?~~

Yep, that'd do the trick. :)

[2017-02-27 08:08] tonyaw commented on #1999
Matt,
Thanks for your response very much.
I will study your info, and will consult you again with further questions. :-)

Thanks,
Tony

[2017-02-27 10:27] syhol commented on #1978
This also ties into an issue I created a while back, specifically the comment I left on Jan 16th showing that people are injecting and templating files within the chart.

https://github.com/kubernetes/helm/issues/1754#issuecomment-272911132

[2017-02-27 13:27] jayme-github opened #2033 "requirements.lock is out of sync with requirements.yaml"
Starting with v2.2.0 `helm dependency build <CHART>`  returns `requirements.lock is out of sync with requirements.yaml` for the following combination:

requirements.yaml
[code]

requirements.lock
[code]

helm v2.1.3 is okay with those files. `--debug` does not print any details.

[2017-02-27 19:12] qwangrepos commented on #2033
run `helm dep update` to generate an updated requirements.lock file.
This may relate to a new feature #1917 since the new lock file contains condition/tag.
@jascott1

[2017-02-27 20:01] solarce opened #2035 "Amending the Chart spec so that the an (optional) application version can be including, for display usage in things like monocular"
I opened a [monocular GH issue](https://github.com/helm/monocular/issues/192) about having it / https://kubeapps.com show the application version (where helpful) along with the Chart version. @migmartri indicated that this would need some upstream change(s) in Helm itself and requested I file an issue to start a discussion.

My, admittedly naive, understanding is that the addition of a key like `a

[2017-02-27 20:25] technosophos commented on #1918
How come proxying the SSL cert is frowned upon? Keep in mind that we already have SSL/TLS security between Helm CLI and Kube API. And can also enable HTTP/2 (with TLS) on the gRPC.

[2017-02-27 20:34] liggitt commented on #1918
Requiring uploading a private key is not proxying, and it compromises the confidentiality of the credential in a way that runs counter to what most PKIs would expect.

We should allow each credential to be used against tiller in its natural form... for bearer tokens and basic auth, that allows tiller to replay that credential. For client certificates, it does not.

[2017-02-27 20:40] technosophos commented on #2035
I'd be okay with adding this.

I was under the impression that a wide variety of charts allow this to be set by the user (by overriding the right tag or image value in the values file). But as a purely informational field, I think we could add it.

/cc @migmartri @prydonius

[2017-02-27 20:42] technosophos commented on #2033
/cc @larryrensing - we were talking this IRT the `omitempty` annotation.

[2017-02-27 20:52] technosophos commented on #2027
The design of Helm is that it is responsible for deploying _to the Kubernetes API server_. Once the server has accepted the resources for running, Helm considers the resource to be `DEPLOYED`. (Really, we probably should have called it `INSTALLED`, because it's more analogous to installing an application versus actually running the application. But that was confusing in regard to upgrades).

To pu

[2017-02-27 20:54] technosophos commented on #2026
This error is bubbling up from Kubernetes' PVC system. @lachie83 do you have any experience on these errors? I don't know what they mean.

[2017-02-27 20:55] technosophos commented on #2025
I wonder if the port forwarder also needs to be given the timeout window. @adamreese do tunnels close if idle for some amount of time?

[2017-02-27 20:58] #2018 closed

[2017-02-27 21:06] lachie83 commented on #2026
By default the minio chart uses persistence which needs to backed by a PV that matches the requirements or use a dynamic provisioner. Have you manually created a PV or are you expecting to use the dynamic provisioner? @pluttrell

[2017-02-27 21:09] mikeln opened #2036 "Helm lint Does Not Support Same Arguments as Install/Upgrade"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): lint, --set, --namespace, --value

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**Helm version** (use helm version):
Client: &version.Version{SemVer:"v2.2.0", GitCommit:"fc315ab59850ddd1b9b4959c89ef008fef5cdf89", GitTreeSt

[2017-02-27 21:23] migmartri commented on #2035
Ideally, I'd prefer to add the field to the chart.yml spec so:

1 - From Monocular's side, It will require less effort to extract that info.
2 - Adding linting support for both field SemVer(If applicable) and existence should not be difficult
3 - Will make Chart maintainer's review easier since the value will be enforced and clearly marked.

@prydonius what do you think?

[2017-02-27 21:33] jascott1 commented on #1995
@technosophos Id like to implement this week. Do you have any reservations or required changes for this feature? Thanks!

[2017-02-27 21:37] prydonius commented on #2035
In general, I think it's useful to separate these two versions. Over in the charts project, we are seeing a mix of maintainers keeping the chart version tied to the application, or just ignoring the application version entirely. This often leads to confusion about what a chart version should be bumped to, and also leads to incorrect use of semver (e.g. https://kubeapps.com/charts/stable/chaoskube)

[2017-02-27 21:47] technosophos commented on #1918
Yeah, I suppose I agree that this really is not the intended use case for a PKI architecture. But the proposed solution seems unduly complex, and still doesn't quite solve the problem.

The confusion here is that the client _can_ authenticate to Tiller with an SSL certificate (via gRPC, though appears to be disabled at the moment. I'll check on it.). We don't need a second mechanism to achieve tha

[2017-02-27 22:02] technosophos commented on #2036
This makes sense to me. it would definitely make lint a better tool for finding problems introduced by parameters even when the base chart seems to work fine. It would also make it easier to do better testing of various combinations for parameters.

[2017-02-27 22:09] technosophos commented on #2035
Okay, this is starting to get clearer. So for the sake of simplicity, let's say that this version is roughly "the version of the default image"

What do we do with charts that have multiple images?

Say we have a fictional chart that deploys Drupal with a local memcached cache (deployed as a second container in the same pod).

- Option 1: Force user to pick "the most relevant"

[code]
- Option 2:

[2017-02-27 22:11] liggitt commented on #1918
No, kube has declined to act as a token issuer for tokens representing end users.

[2017-02-27 22:42] technosophos commented on #2036
/cc @migmartri is this something you'd be interested in doing? If not, I'll put it in the general pool and see if someone else wants to do it.

[2017-02-28 07:16] redbaron commented on #1995
@jascott1 , can you please have a look at  https://github.com/kubernetes/helm/issues/1965 and check if it solves you problem. It is more generic, seems to cover your case too.

[2017-02-28 08:09] jayme-github commented on #2033
Thanks for the help.
What is the desired workflow for helm dependencies then? We have the `requirements.yaml` and `requirements.lock` checked in to the git repository and run `helm dep build` in the CD pipeline to (re-)build the content of the `charts/` directory during deployment.
I my understanding creating the `requirements.lock` should be a planned step done by the developers rather that the C

[2017-02-28 10:03] redbaron opened #2039 "Provide signed binaries. EOM."

[2017-02-28 14:11] vbmade2000 commented on #1841
Can I try working on this issue

[2017-02-28 14:55] bacongobbler commented on #2039
It appears checksums are uploaded along with the binaries. It's just not in the release notes. See https://github.com/kubernetes/helm/blob/master/scripts/ci/deploy.sh#L47

Does that work for you?

[2017-02-28 14:58] bacongobbler commented on #2039
e.g. the checksum for the linux binary is at https://storage.googleapis.com/kubernetes-helm/helm-v2.2.1-linux-amd64.tar.gz.sha256

[2017-02-28 17:09] technosophos commented on #1918
Alright. Let's proceed with the implementation _without support for client SSL/TLS certs_, and we'll tackle that as a separate issue.

This will allow us to work through the rest of the implementation details without the burden of a major architectural change. The gRPC SSL work that @fibonacci1729 is doing may later serve as the foundation for integrating SSL-based auth into this mechanism.

[2017-02-28 17:10] technosophos commented on #1918
And thank you, @liggitt, for so diligently helping @TamalSaha and I work through this issue.

[2017-02-28 17:47] jascott1 commented on #1995
Im aware of #1965 but don't agree its 'more generic' and personally don't like having and exports file. The historic idea is that requirements.yaml expresses user intent (versions, repo, conditions/tags etc). What advantages do you perceive your approach has over the one in this proposal? I'd like to get this sorted so we can implement something asap.

[2017-02-28 18:13] #2023 closed

[2017-02-28 18:44] vdice commented on #1960
@michelleN thank you for the background; indeed, as this appears to be a specific instance of a more general issue, I think a `helm lint` rule might be the right course of action.

[2017-02-28 18:49] migmartri commented on #2036
This seems a great addition to the linter.

@technosophos, to your question. Either @prydonius or I will work on this issue next week.

[2017-02-28 20:35] kfox1111 commented on #1965
So, one of the use cases seems to be passing templated values from the child to the parent?

That can be solved today by calling a macro defined in the child and called from the parent. We use this pattern in kolla-kubernetes.

Is that functionality enough to skip implementing it here? Are there other use case for it?

How does this interact with child macro's? Can you call a child's macro's (or a

[2017-02-28 21:22] technosophos commented on #1038
Yeah, that is something we're interested in doing.

[2017-02-28 21:23] technosophos commented on #1442
Re-opening this to track @fibonacci1729 's progress on enabling TLS for gRPC, which was a separate issue that 1918 did not capture.

[2017-02-28 22:05] gerardo8a opened #2043 "helm --wait option crash tiller server when deploying same chart."
After upgrading helm/tiller to latest version 2.2.1 , tiller started to crash whenever an existing deployment with the same chart gets deployed using the --wait option.

$ helm version
Client: &version.Version{SemVer:"v2.2.1", GitCommit:"db531fd75fb2a1fb0841a98d9e55c58c21f70f4c", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.2.1", GitCommit:"db531fd75fb2a1fb0841a98d9e55c58c21f70f4c", G

[2017-02-28 23:14] thomastaylor312 commented on #2043
I duplicated this and am taking a look

[2017-02-28 23:42] technosophos commented on #1995
@kfox1111 What if we suggested a convention where the child chart could declare things it thought were exportable.

Rather than using `parent` it'd do something like this:

[code]

Then the parent chart's requirements could import all of the exported variables at once:

[code]

And @jascott1 would it be easier to simplify the re-parenting aliasing by doing:

[code]

So in the above case, if I want

[2017-02-28 23:46] dsteffy-yahoo opened #2044 "verbose option for --wait"
Can there be a verbose option for the new --wait option, so the user can see what is happening during longer deployments?

Perhaps a new --status_updates option that behaved like this:

[code]

[2017-02-28 23:48] bacongobbler commented on #2044
I could see this being bubbled up with --debug enabled, if this was possible.

[2017-02-28 23:56] technosophos commented on #1965
I'm looking at whether we can add a template function that would pass a string through the current instance of the template engine.  #1978 Does that get close to addressing some of the desires here to embed a template in a value?

It would allow you to do this:

[code]

And then render the template inside of another template like this:

[code]

Which would set `$calculatedValue` to something like

[2017-03-01 00:02] dsteffy-yahoo commented on #2044
Yes, bubbling up with the --debug option would be great!  It would certainly meet our use case.

[2017-03-01 00:52] technosophos commented on #1924
Okay, below is an attempt to substantially revise the proposal. This one still uses gRPC, which currently still seems to be easier to deal with (from a code-management POV) then compiling the module directly in.

# Proposal: Tiller Release Modules

This document describes a plugin model for Tiller. Specifically, it defines a modular interface for changing the _release (deployment) backend_. This i

[2017-03-01 00:58] dsteffy-yahoo commented on #2043
Hi!  Thanks for looking into this @thomastaylor312.  Really appreciate it.  Do you know when 2.2.2 is scheduled to go out?

[2017-03-01 01:02] bacongobbler commented on #1924
From an outsider's perspective with no idea what this is trying to solve, what does this proposal accomplish for the end-user? Just trying to get some bearings on the issue at hand to see if this is relevant to my efforts or not.

[2017-03-01 01:15] thomastaylor312 commented on #2043
We may cut a release because of this bug, but the PR is open to fix it

[2017-03-01 01:21] jascott1 commented on #1995
@technosophos Im fine with changing parent to exports but the reason we settled on the list with `child` and `parent` fields was because we have to quote the key if it has a dot in it in the simple key-value example.

[2017-03-01 01:28] thomastaylor312 commented on #2043
Also huge thanks to @gerardo8a for bringing this up!

[2017-03-01 01:32] kfox1111 commented on #1995
@technosophos

s/parent/exports/ works for me.

include-values:
 - memcached.exports seems verbose to me though. the include values is on the repo subsection, so specifying it again feels redundant. exports itself is also redundant I think as 99% of the time I think you will want to include just the groups of values inside. I think in kolla-kubernetes case, (and probably other libs), there will be

[2017-03-01 07:05] redbaron commented on #2039
@bacongobbler , having checksum isn't enough as it doesn't protect from silent code/tarball replacement. Ideally there should be a signature  file for every `.sha256` file. Public key  for signature verification should be published outside of regular code sharing/distribution infrastructure,so no github or CDN. publish it to keybase.io or to any GPG keyserver

[2017-03-01 07:14] redbaron commented on #1995
@jascott1 ,

Advantage is that not only you can share input values for the chart like in this proposal, you can explicitly export output values, ie final value of service name after all templating was done, therefore you are actually sharing precise values, not just inputs + naming conventions, which are error prone

[2017-03-01 07:25] redbaron commented on #1965
Calling macro which both parties agree on is just another form of sharing by convention, same as "lets name all our services `{{- printf "%s-%s" .Release.Name $name | trunc 24 -}}` so that we can 'see' them from each other", but "lets use this macro name to name our services". If everybody follows pattern, it the time for a tool to embed it and provide facilities so that it just works.

Having `ex

[2017-03-01 07:35] redbaron commented on #1965
@technosophos embeddable templates help to solve certain problems, but it has nothing to do with passing state information from one chart to another.

I think best way forward is to implement a PR for your consideration so that it will be something more tangible that just ideas, I'll try to do it this week

[2017-03-01 09:26] skevy commented on #2006
This issue seems to still be happening on 2.2.1.

[code]

When I run `helm upgrade`, it exits immediately with output saying "Available" == 0.

[code]

Any ideas? Am I doing something wrong?

[2017-03-01 11:04] nebril commented on #1924
@bacongobbler currently helm installs a release by grabbing all object manifests and creating them in k8s. This is fine for stateless apps, but not all applications are stateless. This proposal is about figuring out how to define pluggable release backends which will install a release that needs more sophisticated orchestration - like waiting for dependency charts to be ready.

[2017-03-01 15:05] peay commented on #1558
@technosophos can you say a few words about what is the final solution to this issue implemented by #1576? I've been having the same issue in `v2.1.0`.

[2017-03-01 16:11] technosophos commented on #1995
@jascott1 and @kfox1111: Okay, I'm convinced of the value of the child/parent thing. In looking at the way the `env` section of the pod template is designed (which uses `name:`/`value:`), I see we get the additional possibility of introducing few features over time since the data is more structured.

[2017-03-01 16:32] technosophos commented on #1558
@peay we are still tracking the float issue in #1707. There are a few hacky work-arounds there, but we don't have a final solution yet.

[2017-03-01 16:45] kfox1111 commented on #1995
@redbaron I'm a little concerned how passing the values down, then back up, and then maybe back down? will work in practice. Can you explain how that would work when you have multiple layers of templates N, where N > 3?

I think that use case can still mostly be handled by calling macro's from the child in the parent templates to get the processed values? We're doing that now in kolla-kubernetes.

[2017-03-01 17:18] technosophos commented on #1965
There are two features suggested here:

1. Make it possible to export a variable from a subchart to a parent chart
2. Make it possible to template values

Let's treat them as separate problems for a moment.

Regarding (1): I don't have a problem with a _parent chart_ asking to access the values of a _subchart_. But I do not want a system that automatically injects subchart variables to the top lev

[2017-03-01 17:21] technosophos commented on #2039
I agree that we should be doing this. After all, we can cryptographically sign charts, but we don't cryptographically sign Helm itself.

Once we have the build system reworked (#1968), we should be able to accomplish this.

[2017-03-01 17:25] #2019 closed

[2017-03-01 17:37] mcandre opened #2048 "helm delete sometimes silently fails with minikube"
Sometimes, `helm delete <release>` reports success, but in fact, `kubectl get pods,pv,pvc` continues to show leftover resources.

# Workaround

It's crude, but `minikube delete && minikube start [--kubernetes-version "<version>"] && helm init` and redeploying the desired resources helps to work around this issue.

# System

I'm not sure if the root cause of this conflict is wholly in helm's camp,

[2017-03-01 18:11] mattymo opened #2049 "Create helm client container"
Many other popular kubernetes apps distribute not only a binary, but a lightweight container with their client tools. Can you either include helm client in the tiller container or create a separate helm container based on Alpine Linux?

I'm creating this issue as a possible solution to the CoreOS dilemma where you need to obtain a statically compiled socat in order to deploy Helm. The shortcut sol

[2017-03-01 18:59] thomastaylor312 commented on #2006
@skevy I have been using it multiple times now without a problem, so I am not quite sure what is happening. Your pods all have readiness probes, correct?

[2017-03-01 19:18] bacongobbler commented on #2049
See #1929

[2017-03-01 20:33] peay commented on #1558
Ah, hadn't found this one. The replace workaround should do the job, thanks!

[2017-03-02 01:39] #2020 closed

[2017-03-02 07:16] pluttrell commented on #2027
Thanks for the info and clarification. I also understand the naming dilemma.

[2017-03-02 07:16] #2027 closed

[2017-03-02 07:21] pluttrell commented on #2026
I wasn't sure what to expect. Early on in my attempts to deploy this chart I created a bunch of PVs manually evenly spread across the AZs but then noticed they weren't being used. Instead of smaller ones were getting auto created and used. I was unable to find clear Kubernetes documentation on what to expect, nor why the PVs I created weren't being used...but since it appears to auto create them,