[2020-03-05 15:36] bacongobbler commented on #7737
Hi @namloc2001! The chocolatey package is owned by a community member. Have you reported it to the maintainer of that package?

[2020-03-05 15:49] namloc2001 commented on #7737
Hi @bacongobbler no I haven't. How do I do that?

[2020-03-05 15:51] #7452 closed

[2020-03-05 16:18] bacongobbler commented on #7737
https://chocolatey.org/packages/kubernetes-helm

cc @synax

[2020-03-05 16:38] bacongobbler commented on #7091
I was able to reproduce the same symptoms with Helm 3.1.1.

Here's what I tested:

1. `helm create test-7091`
1. remove everything in `templates/` and `values.yaml`
1. add a `templates/secret.yaml` with the content contained in @sheerun's original comment
1. add a `values.yaml` with the contents provided in @sheerun's original comment

Here's the output:

[code]

For reference, `--validate` will r

[2020-03-05 16:38] #7091 closed

[2020-03-05 16:43] bacongobbler commented on #7495
Hey @Dean-Coakley! Where are we at with the PR?

[2020-03-05 17:37] jhvhs commented on #7154
@thomas-melville Isn't that the case for any image definitions right now (apart from the hard-coded ones)?

[2020-03-05 17:45] jdolitsky commented on #7723
@MisterTimn - thanks for the update!

[2020-03-05 17:45] #7723 closed

[2020-03-05 18:05] mattfarina opened #7738 "helm lint rules to catch deprecated API versions"
This is to help people avoid situations like #7219.

The idea is to have helm lint rules that can catch deprecated API versions and warn people about them.

[2020-03-05 18:19] bacongobbler commented on #7581
closed with #7636

[2020-03-05 18:19] #7581 closed

[2020-03-05 18:51] adam-carbone commented on #2575
should this work the same way as what people are describing?

helm install --dry-run --debug . | kubectl apply -f -

[2020-03-05 18:58] adam-carbone commented on #2575
Nevermind, I see that it has a bunch of other things that don't allow the manifests to be processed

[2020-03-05 19:05] bacongobbler commented on #2575
There's `helm template --validate` available in Helm 3, which performs the same operation as what's described here. PRs welcome to port that over for `helm lint`.

[2020-03-05 19:12] schollii commented on #5952
how about just having a command that calls kubectl under the hood? this avoids the duplication and backwards compat problem. Also showing status of all resources in a helm release is a task people need often, so it has to be short and easy to remember, not (the otherwise impressive) `helm get manifest NAME | kubect get -f -`!

[2020-03-05 20:48] bacongobbler commented on #5952
I'm fairly certain that was how `helm status` worked. It mimicked the output of `helm get -o wide`, and I think that's what @sarvaniy is attempting in #7728. We'll have to re-review upstream's code to check what broke last time. Perhaps by figuring out what's causing #6896 will determine if #7738 is feasible or not.

[2020-03-05 21:53] bacongobbler commented on #6896
I'm still seeing the issue present with the HEAD of `dev-v2` with a Kubernetes 1.17 cluster.

#7319 is irrelevant to this ticket, but yes, It should be in the next patch release.

To get a better understanding of the issue here: `helm status` relies on the same APIs that `kubectl get` relies upon. `k8s.io/kubernetes` has broken backwards compatibility in the past, so it's quite possible it's happe

[2020-03-06 00:33] marcosx86 commented on #3447
also getting problem with basic calico setup...

marcos@k8s-master:~$ kubectl logs -n metallb-system controller-65895b47d4-mh5t7 -f

I0306 00:32:41.937393       1 trace.go:81] Trace[392828266]: "Reflector pkg/mod/k8s.io/client-go@v0.0.0-20190620085101-78d2af792bab/tools/cache/reflector.go:98 ListAndWatch" (started: 2020-03-06 00:32:11.93672354 +0000 UTC m=+992.064722232) (total time: 30.000609214s

[2020-03-06 00:49] bacongobbler commented on #6896
So... kubernetes did indeed break backwards compatibility. You now have to generate a `metav1.Table` if you want the endpoint to render the same as `kubectl get`. If someone wants to take a closer look at this, I started diving deeper into how `kubectl get` prints objects now in #7728. I don't have time to follow through and fix the issue, but hopefully this helps someone looking at fixing this.

[2020-03-06 01:13] rainest opened #7740 "Create a new "pre-ready" hook"
This is similar to #3282, but from the opposite direction: I'd like a hook that always uses the behavior of the `post-install` hook when `--wait` is not used, i.e. hook resources are always created immediately after installation, without waiting to determine if installation succeed.

My main use case for this is handling a database initialization task: [our chart](https://github.com/Kong/charts/tr

[2020-03-06 01:15] rainest commented on #7740
This primarily comes up for us in the context of CI, so I'd previously [filed a similar report to chart-testing](https://github.com/helm/chart-testing/issues/202). However, it doesn't appear there's any way for it to function without `--wait`, locking it into that `post-install` behavior.

[2020-03-06 02:08] #7642 closed

[2020-03-06 09:25] joaocc commented on #6936
Any news on this?
Besides the suggestion above, it would also be very useful to be able to have the option to render the intermediate YAML that is being converted to JSON.
Thx

[2020-03-06 09:30] namloc2001 commented on #7737
Scrap that. I found I had an old version installed in a different directory and it wasn't getting picked up by a chocolately uninstall. Resolved now. Version is correct.

[2020-03-06 09:30] #7737 closed

[2020-03-06 09:42] TonyJDavies opened #7741 "server sent GOAWAY and closed the connection : breaking cluster and leaving orphaned resources"
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.): IBM Kubernetes Service

We recently had `helm update` fail with the following
[code]
This created a helm release, then the next `myAppRelease` install saw this release and tried to uninstall it. This failed, leaving deployments and pods, but removed the release as far as helm was

[2020-03-06 10:41] Vandersteen commented on #7219
This is for v3 right, would the same work for v2. But then editing / patching the configmaps in kube-system ?

[2020-03-06 11:29] donggangcj commented on #7741
It will be ok if the release is uninstalled successfully , could you please provide the output of `helm uninstall myAppRelease`.

[2020-03-06 11:31] bacongobbler commented on #6936
Duplicate of #7088, which was fixed with #7556.

[2020-03-06 11:31] #6936 closed

[2020-03-06 12:16] JoshDaone commented on #6378
@sc250024 I have the exactly same issue after I upgraded helm v2 to v3. The upgrade progress was smooth and no error, then I try to upgrade the cert-manager from helm, failed with same output.

`# helm upgrade cert-manager jetstack/cert-manager --namespace cert-manager --atomic --cleanup-on-fail`

[code]

[2020-03-06 13:17] schollii commented on #5952
I don't think it is the same as #7728. Sounds like in helm 2 there was a significant portion of k8s code being imported, and this has been removed in helm 3. This means that the logic of kubectl get would have to be re-implemented, this does not sound very maintainable.

What I was saying is that "helm status" would call a function which in *pseudocode* would look something like this (sorry I know

[2020-03-06 13:22] sanooprajps opened #7742 "Eks-core-services module failing | Pinging tiller!"
Output of `helm version`:
helm version --debug --tiller-connection-timeout 4
Client: &version.Version{SemVer:"v2.14.0", GitCommit:"05811b84a3f93603dd6c2fcfe57944dfa7ab7fd0", GitTreeState:"clean"}
[debug] SERVER: "172.21.90.164:44134"

Kubernetes: &version.Info{Major:"1", Minor:"13+", GitVersion:"v1.13.12-eks-eb1860", GitCommit:"eb1860579253bb5bf83a5a03eb0330307ae26d18", GitTreeState:"clean", Build

[2020-03-06 14:42] Dean-Coakley commented on #7495
@bacongobbler I think I have a pretty good understanding of the issue and wrote a unit test.

https://github.com/helm/helm/compare/master...Dean-Coakley:fix-deployed-fail-report

However I'm lacking ideas on how to fix the issue, especially with avoiding additional calls to the Kubernetes api.

I'm happy for someone else to pick this up if it's high priority.
Or I can take one more look to see if

[2020-03-06 16:08] dalbani commented on #5027
For those who might run into the same problem, I personally had to use the following syntax with `helm` on the command line (quotes _and_ backslash):
```--set-file param."file\.extension"=the-file.txt```

[2020-03-06 16:44] thomas-melville commented on #7154
@jhvhs,

Yes, I think it's the case.

[2020-03-06 17:08] bacongobbler commented on #5184
Please give #7743 a try. It looks like the commits made to Helm 2 were not ported over to Helm 3, which is why many users would be seeing this behaviour on the newer release.

[2020-03-06 18:09] bargom commented on #6361
```kubectl get apiservice```

If one of the service "AVAILABLE=false", you can try to delete the related pods to restart them.
It solved my problem with the kube-system/metrics service.

[2020-03-06 18:59] Arabus commented on #7219
yes and no - the configmaps in helm v2 are encoded via protbuf in addition to being base64 encoded and gzipped. You need a little tooling to edit them properly.

I have provided a script to do the api migration from k8s 1.15 to 1.16 for helm v2 here: https://gist.github.com/Arabus/40ed5189e81fb10fc8a93f1f568aca65

Feel free to adapt it to your needs

[2020-03-06 19:07] clarkenciel commented on #3622
+1

[2020-03-06 20:25] bacongobbler commented on #3622
Just deleted all “+1” comments. If you want to upvote this ticket, please use the “thumbs up” reaction in the original comment. That way we can keep the discussion focused without having to filter out any “+1” comments. Thanks!

[2020-03-06 22:02] nvanheuverzwijn commented on #7697
I have this exact same issue.
If you change the apiVersion of a kind say Deployment, helm won't be able to change it because it will "already exists". If you deploy a chart with a Deployment on apiVersion "apps/v1beta2" and then, you update the chart to change the apiVersion to "apps/v1", you will get this exact bug.

[2020-03-07 01:31] fr0der1c commented on #7697
Actually it is different. In my case, I even didn't change the apiVersion. I tried to upgrade from apps/v1 Deployment to apps/v1 Deployment and failed.

[2020-03-07 15:44] monotek commented on #7735
I'd like to see this changed too.

As we run a "helm only" approach and don't want to use kubectl to add resources to our clusters we're currently using a second helm chart to install the cert-manager crds beforehand the cert-manager chart to workaround the issue.

[2020-03-07 19:25] adelbertc commented on #4670
I am hitting this problem - I have a couple Charts all which share the same Secret and my initial plan was to create a Chart just for those Secrets, but then I hit the error described in the original post. I imagine this must be a common scenario with multiple Pods sharing the same Secret - what is the advised practice for this in Helm 3?

[2020-03-07 20:08] andrewnazarov commented on #2916
We have random `does not appear to be a gzipped archive;` errors after switching to Helm 3 (3.0.2). Usually with Redis and incubator/raw charts. Subsequent runs work ok, but the error is quite annoying.

At first, it seemed to be a CI runner problem. Due to this error's random nature, it's hard to reproduce and diagnose.

[2020-03-08 01:11] jurgenweber commented on #2916
yeah, I have seen that also. Not really related to the OP, should make another issue.

[2020-03-08 02:42] oreza commented on #6711
I got this, because I had an .idea/ folder in my chart. Putting that in .helmignore solved the problem.

[2020-03-08 19:31] clhodapp commented on #2936
This is very much not a feature. The problem here is that Helm does not differentiate between manually-managed chart dependencies and automatic ones. This is a problem because one would expect automatically-managed dependencies to go away on the next `helm dependency build` when they are removed from `Chart.yaml` but one would _not_ expect `helm dependency build` to remove subcharts that one put t

[2020-03-09 01:01] leox-phq commented on #2492
For now, what I've done in the CI job is run `helm template` on the values.yaml file. It works pretty well atm.

[code]
This breaks if you have multiple `-f values.yml` files, but I'm thinking of writing a small `helm` wrapper that runs essentially runs that bash script for each `values.yaml` file.

[2020-03-09 01:03] leox-phq commented on #2492
For now, what I've done in the CI job is run `helm template` on the values.yaml file. It works pretty well atm.

[code]
This breaks if you have multiple `-f values.yml` files, but I'm thinking of writing a small `helm` wrapper that runs essentially runs that bash script for each `values.yaml` file.

[2020-03-09 06:33] argunasekhar opened #7745 "how to specify namespace in values.yaml"
Output of `helm version`:v2.x

Output of `kubectl version`:1.15.1

Cloud Provider/Platform (AKS, GKE, Minikube etc.): on-premise

Hi -
I'm trying to install couchbase database along with its operator in k8s env, using helm charts.
and i want my depployment to be deployed in separate namespace, How can i specify namespace in values.yaml rather than specifying in cli (helm install -n crdldb <package

[2020-03-09 08:04] huangleilz opened #7746 "use helm command no response"
use helm version only output Client,Server no response,helm list also no response.

Output of `helm version`:Client: &version.Version{SemVer:"v2.16.0", GitCommit:"e13bc94621d4ef666270cfbe734aaabf342a49bb", GitTreeState:"clean"}

Output of `kubectl version`:Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.2", GitCommit:"c97fe5036ef3df2967d086711e6c0c405941e14b", GitTreeState:"c

[2020-03-09 08:28] huangleilz commented on #7746
helm list --debug
[debug] Created tunnel using local port: '32819'

[debug] SERVER: "127.0.0.1:32819"

[debug] Host="", Key="/root/.helm/key.pem", Cert="/root/.helm/cert.pem", CA="/root/.helm/ca.pem"

Error: context deadline exceeded

[2020-03-09 08:48] TheodorAtBud commented on #6422
Is there any progress here?

[2020-03-09 09:36] huangleilz commented on #7746
tilller-deploy is health
kubectl logs -f tiller-deploy-864bfd9b56-295kr -n kube-system
[main] 2020/03/09 07:42:45 Starting Tiller v2.16.0 (tls=true)
[main] 2020/03/09 07:42:45 GRPC listening on :44134
[main] 2020/03/09 07:42:45 Probes listening on :44135
[main] 2020/03/09 07:42:45 Storage driver is ConfigMap
[main] 2020/03/09 07:42:45 Max history per release is 5

[2020-03-09 10:55] fredgate commented on #3173
I still have the problem with Helm 3.
I install a Helm chart (service catalog for example, but this is not important) with the flag `--wait` and helm terminates before pods are ready. The chart contains one deployment of one pod. The update strategy is set to type `RollingUpdate`.
The problem seems to be in function `deploymentReady` :
https://github.com/helm/helm/blob/ec1d1a3d3eb672232f896f9d3b3d

[2020-03-09 11:45] Tom-Br opened #7747 "Support for .yml extension for Chart.yaml/value.yaml"
Output of `helm version`: version.BuildInfo{Version:"v3.1.0", GitCommit:"b29d20baf09943e134c2fa5e1e1cab3bf93315fa", GitTreeState:"clean", GoVersion:"go1.13.7"}

Output of `kubectl version`: Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.5", GitCommit:"20c265fef0741dd71a66480e35bd69f18351daea", GitTreeState:"clean", BuildDate:"2019-10-15T19:16:51Z", GoVe
rsion:"go1.12.10", Co

[2020-03-09 11:56] hickeyma commented on #7658
PR #7744 pushed.

[2020-03-09 12:04] meurig opened #7748 "helm v3 packaging charts differently on windows and linux (breaks artifactory)"
I'm trying to package a helm chart and deploy it to a private helm repo on artifactory 6.18.0.

This works fine if I package the chart on linux, but fails if the chart is packaged on windows.

It also works fine with charts packaged on windows with a v2 helm client, so it appears to be an issue introduced in helm v3.

I can also see that the resultant tgz files are different by listing their conte

[2020-03-09 12:14] git-enzo opened #7749 "Listing releases (helm list) with short listing format (--short) and json output (--output json) gives unexpected results."
Output of `helm version`:
version.BuildInfo{Version:"v3.1.1", GitCommit:"afe70585407b420d0097d07b21c47dc511525ac8", GitTreeState:"clean", GoVersion:"go1.13.8"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.0", GitCommit:"2bd9643cee5b3b3a5ecbd3af49d09018f0773c77", GitTreeState:"clean", BuildDate:"2019-09-18T14:36:53Z", GoVersion:"go1.12.9", Comp

[2020-03-09 12:37] Novitoll commented on #7149
@PankajWorks , you can add `{{printf "\n" }}` since it;s GoLang:

[code]

[2020-03-09 15:09] hickeyma commented on #3493
@schollii The validation was added by PR #4883 and made more robust with #5132. It is available since release [2.12.3](https://github.com/helm/helm/releases/tag/v2.12.3).

In Helm 3 will not add the release but returns the error directly from the k8s API.

[2020-03-09 15:10] hickeyma commented on #3493
Closing as feature has been implemented in PR #4883 and made more robust with #5132.

[2020-03-09 15:10] #3493 closed

[2020-03-09 15:54] Cellebyte opened #7750 "Escape backticks"
Output of `helm version`:

Output of `kubectl version`:

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

[2020-03-09 15:54] #7750 closed

[2020-03-09 15:57] anshulvermapatel commented on #7747
Hello @Tom-Br

Actually, as far as I know it has to be 'Chart.yaml' , you cannot have 'Chart.yml'.
You can check this [Doc page](https://helm.sh/docs/topics/charts/) .
@bacongobbler must agree with me.

[2020-03-09 17:10] fsniper commented on #2492
There is a use case where you would need to pass deployment name to dependency charts where you have no control.

For example I am trying to set podAffinity for zookeeper. And I have an application helm chart which sets zookeeper as a dependency. In this case, I am passing pod antiaffinity to zookeeper via values. So in my apps values.yaml file I have a zookeeper.affinity section. If I had the abi

[2020-03-09 17:10] jdolitsky commented on #7736
@barry-dow - could you see if this is still the case in latest release? (3.1.1)

[2020-03-09 17:15] jdolitsky commented on #7747
Certain files such as values.yaml, Chart.yaml are required by name (as noted above). Files in templates/ dir should be able to use the .yml extension if necessary.

@Tom-Br Going to close, renaming file to Chart.yaml should be the fix you need.

[2020-03-09 20:02] mattfarina commented on #7748
Thanks for catching this issue. The path issue causes other problems as well. For example, you can't decompress the archive properly on linux (which may be the artifactory problem).

[2020-03-09 20:04] kopasiak commented on #7656
Hi,

is there anything that we could do to help to resolve this issue? We are now close to 2 hours of linting time which is far from optimal for our CI system...

I'm happy to provide any help or any debug logs (just tell me how) to get this fixed

[2020-03-09 20:06] mattfarina commented on #7748
Also, I verified the issue in the latest release.

[2020-03-09 20:07] mattfarina commented on #7749
Thanks for the report. I have replicated the issue.

[2020-03-09 20:26] anshulvermapatel commented on #7749
@mattfarina , I too replicated the issue and am working on a PR, give me some more time.

[2020-03-09 20:36] mattfarina commented on #7748
@meurig I think this will fix it. If you have time to verify it's working for you it would be great.

[2020-03-09 20:37] mattfarina commented on #7749
@anshulvermapatel great. please ping me to review when you have it.

[2020-03-09 22:21] anshulvermapatel commented on #7749
@mattfarina , Raised a PR, please review it once you get time.
Thank You, do let me know if there is any change required.

[2020-03-09 23:18] meurig commented on #7748
Thanks @mattfarina, sounds great!

I'm having some trouble building helm behind our corporate firewall, but once I've got those issues sorted I'll give this a go.

[2020-03-10 00:49] donggangcj commented on #7719
@mattfarina   Could you please reivew the pr #7732  and give me some advice?

[2020-03-10 01:01] waveywaves commented on #7599
@technosophos I would be interested in trying out a POC on this. I am just a little confused about the fact that, if we are using Notary which is used for signing images, how can it be repurposed for signing helm charts ?

[2020-03-10 03:50] abdennour commented on #7257
same issue as well as upgrading from helm 2 to helm 3.
`Error: UPGRADE FAILED: "company-services-development" has no deployed releases`
Should we install it from scartch using `helm install` instead of `helm upgrade` ?

[2020-03-10 06:11] waveywaves commented on #7529
@mattfarina can you assign me to this ?
I just want to understand one thing, might be very elementary. Why do we follow the XDG Specification ? Is there any particular reason ? How is it different from having `HELM_` env vars ?

[2020-03-10 08:24] CarlHeinst commented on #3403
Having the same problem .Files.Glob never returns any output, none of the examples listed on line or in the docs seem to work.

Helm Version:"v3.0.0"

[2020-03-10 08:27] johnnyhuy commented on #6461
Hey @bacongobbler I've tried that on a similar task to skip stderr output. Does that also ignore actual errors?

[2020-03-10 08:35] huangleilz commented on #7746
Record the resolution：
kubectl get secret tiller-secret -n kube-system -o yaml
find the ca.crt is different ~/.kube/config
then change tiller-secret ca.crt resolve the problem。

[2020-03-10 08:35] meurig commented on #7748
I've tested your fix and it works great, thanks Matt! :+1:

[2020-03-10 08:35] #7746 closed

[2020-03-10 10:34] baracoder commented on #4722
The linked page is no longer available

[2020-03-10 10:39] athulnath commented on #7229
happening here,
any solution?

[2020-03-10 10:41] zkovac-devops commented on #5595
Having `--history-max` set to 10 (default value), first release succeeded.
Then, next 10 releases failed on:
`Error: UPGRADE FAILED: timed out waiting for the condition` (It was simulated, thus expected).
After that, next (11th failed) release failed on:
`Error: UPGRADE FAILED: "app" has no deployed releases` (that's the problem!)

Would it be possible that helm *always* preserves the *latest succ

[2020-03-10 11:09] hickeyma commented on #4722
@baracoder Try this: https://helm.sh/docs/howto/charts_tips_and_tricks/#automatically-roll-deployments

[2020-03-10 12:37] hazim1093 commented on #3134
Just for info, I got this error when using helm client v2.11.0 to deploy to a tiller v2.16.3.
Updating the client to v2.16.3 solved it

[2020-03-10 14:19] jhvhs opened #7754 "Support for first-class image definition"
## Problem statement
As of Helm v 3.0, the only support for specifying docker images, is a placeholder structure for a single image in the starter chart. The absence of formal image definitions poses the following problems for both the chart authors and the end users:

- It is difficult or even impossible to automatically extract all the image references from a given helm chart. This is important

[2020-03-10 15:28] jhvhs commented on #7154
See https://github.com/helm/helm/issues/7754 for a long-term proposal.

[2020-03-10 15:28] bacongobbler commented on #7754
Hi there. I had a few questions about this proposal.

It should be possible to write a command that accepts the output of `helm template`, parse the manifests for all workload types and spit out the images used in that chart. That should work today without requiring any introduction of new code. Have you considered going down that route first?

Curious. I thought there was a convention provided in

[2020-03-10 15:29] bacongobbler commented on #7754
Can we please close either this ticket, #7332 or #7154? That way we can keep the conversation in one ticket. Thanks.

[2020-03-10 15:40] #3134 closed

[2020-03-10 15:42] bacongobbler commented on #6461
Azure devops should still fail in those cases as Helm will return with a non-zero exit code.

[2020-03-10 15:47] jhvhs commented on #7754
Yes, we have. Many charts contain conditionals around including some of the images, therefore, any given `helm template` output is never guaranteed to include all of the images.

That convention is only followed by 2 out of 169 multi-image charts in `helm/charts` (namely, `stable/drone` and `stable/keel`). Hence, the original proposal #7154 .

The #7154 goes beyond that, and tackles the issue with

[2020-03-10 17:09] smiklosovic commented on #6977
@jdolitsky any progress here?

[2020-03-10 17:39] skob commented on #2149
Still here with image changes

[2020-03-10 18:31] sancyx commented on #6361
Hi @technosophos. May be I'm missed something, but I don't see this PR https://github.com/helm/helm/pull/6908/files being ported to 2.16.3, although it happens with helm 2 as well. Are you planning port this workaround in helm 2 as well?

[2020-03-10 20:02] dkirrane commented on #6850
Hitting this install kubernetes dashboard chart
[code]

[2020-03-10 20:43] yinzara commented on #5595
I love the idea. Would need to modify the storage functionality but I think it could be done.

[2020-03-10 21:01] bacongobbler commented on #5595
https://github.com/helm/helm/pull/4978 was merged for Helm 2. Perhaps it wasn't ported over to Helm 3. If someone has the time and wants to port it over, please feel free.

[2020-03-10 21:31] tredmon commented on #6002
I've just encountered this same thing upon adding env variables via the chart's default `values.yaml`. The strange thing about my case is that I get the error when passing the chart's default `values.yaml` (since I do this before passing any other values it should essentially be a no-op), but I don't get the error when I don't pass the chart's default.

An example of the failing command: `helm upg

[2020-03-10 23:23] waveywaves commented on #7529
/assign

[2020-03-11 00:41] sean-krail opened #7756 "Helm lint (v3) doesn't take values files into account during schema validation"
Edit: Steps to reproduce: https://github.com/helm/helm/issues/7756#issuecomment-617889123

I have a bunch of charts with `values.schema.json` files that won't pass schema validation without passing in necessary, environment-specific values. I don't want these values in the base `values.yaml` file because they are environment-specific, but should fail at install/upgrade time.

When running `helm li

[2020-03-11 03:44] donggangcj commented on #7756
/label bug

[2020-03-11 03:47] donggangcj commented on #7756
I have replicated the issue. I am trying to fix:)

[2020-03-11 07:26] JanZerebecki commented on #7599
Not custom. https://github.com/theupdateframework/notary is for arbitrary collections of data and based on TUF, so there is nothing in it specific for signing images.

[2020-03-11 09:54] jayrajput opened #7757 "Doc Bug: install.go need extra line for markdown to render properly"
![image](https://user-images.githubusercontent.com/2172309/76404244-2b49c100-63ac-11ea-84e9-73c48279fb8d.png)

Need line between 62 and 63 (similar to between 58 and 60). This is causing the documentation markup to not show the command properly

![image](https://user-images.githubusercontent.com/2172309/76404310-45839f00-63ac-11ea-8390-37aa8c1dc4c1.png)

See how the second command is not seen on i

[2020-03-11 15:41] vbuciuc commented on #5184
Still seeing this problem with helm 2.16.3 but only when there's a requirements.yaml listing the  subchart as dependency.

boo is the subchart and foo is the parent chart:
`
vibu@item-ax35755:~/work$ cat boo/values.yaml
object:
  fromSubchart:
    hello: from boo
vibu@item-ax35755:~/work$ cat foo/values.yaml
boo:
  object:
    fromParent:
      hello: from foo
    fromSubchart: null
vibu@item-ax35

[2020-03-11 17:25] miradnanali commented on #7418
Solution:

kubectl delete clusterrole nginx-ingress

kubectl delete clusterrolebinding nginx-ingress

[2020-03-11 22:11] jmril-srcclr commented on #5939
The same issue after deploying a pod with wrong repository specified for the container and the helm release failed.

[2020-03-11 23:16] bikramnehra commented on #6992
Try specifying namespace maybe: `helm ls -n <namespace>`

[2020-03-11 23:25] teoincontatto commented on #7697
Same issue here, and seems reproducible:

[code]

[2020-03-12 02:17] tuxknight commented on #6850
Same issue when installing chart in two namespaces. My chart depends on prometheus-operator chart which will create ClusterRole .
``
Error: rendered manifests contain a resource that already exists. Unable to continue with install: existing resource conflict: kind: ClusterRole, namespace: , name: p8s-operator
``

[2020-03-12 05:51] catchups commented on #7467
This seems to be a problem with the spacing of yaml files.

[2020-03-12 05:55] catchups commented on #7725
Can I see a more detailed log?

[2020-03-12 06:17] bacongobbler commented on #7467
Closing due to inactivity. It certainly looks like that’s the issue. Let us know if that does not solve your issue. Thanks!

[2020-03-12 06:17] #7467 closed

[2020-03-12 06:27] catchups commented on #7445
I have a separate proxy server and manage it. Separate authorizations are possible if all authentication is handled by the proxy server.

[2020-03-12 06:55] aknakshay opened #7759 "Dynamically give .cluster.local DNS in environment variables in sts"
I want to create an environment variable in the pod created by my sts which would consist of its FQDN. As the dns domain - ".cluster.local" can be different for various clusters, like '.cluster.abc', or '.cluster.def', I want to populate that dynamically based on the cluster settings. I checked that .fieldRed.fieldPath doesn't consist of anything like it.

Is there any other option to do that?

Ou

[2020-03-12 10:54] teoincontatto commented on #7697
A possible workaround is to play with including or removing `--reuse-values`, depending on some helm internal state that seems to make the upgrade working.

[2020-03-12 13:07] wasker commented on #7725
Yep, sorry for delay, working on getting more info.

[2020-03-12 13:47] pikapika2020 opened #7760 "How to achieve a good level of verbosity with `helm ... --wait` ?"
I want to achieve a good level of verbosity with `helm --wait`. Its output is completely silent. I want to have same strings as with `--debug` flag, but without YAMLs being printed

`helm upgrade --wait --install --set test=guest  --debug test .`:
[code]

`-v 6` and so on does not give me what would be preferrable

It would be great if with `--wait` flag it printed out something like:
[code]

[2020-03-12 14:20] #7748 closed

[2020-03-12 16:33] bacongobbler commented on #7742
Have you reached out to kubergrunt and see if they were able to resolve this? Given it's a third-party project, there may be something in their setup that may be causing this. I'd follow up there first.

[2020-03-12 16:34] bacongobbler commented on #7745
it is not possible to specify the namespace parameter other than with the `--namespace` field. It cannot be passed along from values.yaml.

Hope this helps.

[2020-03-12 16:34] #7745 closed

[2020-03-12 16:36] bacongobbler commented on #7759
Were you able to determine how to resolve this? This seems like something that would be provided through the Kubernetes API. Let us know if you find out anything.

[2020-03-12 16:45] mattfarina commented on #7656
@kopasiak I wasn't able to entirely use your Makefile but I was able to replicate most of the commands. In my local experience most of the time was in the `helm dep up` workflow because Helm checks for updates to the repos each time this happens.

The reason for this is that by default the `stable` repo is included in Helm v2. That repo is taking 30-45 seconds for me to update each time which happ

[2020-03-12 16:48] mor-anshuman commented on #3870
I used below to flush all the firewall rules and it worked for me, you can flush the specific rule also
`iptables -F`

[2020-03-12 16:58] kopasiak commented on #7656
@mattfarina
That part is already done by us:(

Maybe I'll just pack my .helm dir together with my local chart repository so that you can just run:
```helm lint onap```
and see what's the issue? Would it make sense to you?

[2020-03-12 18:37] iamamjad commented on #2004
apiVersion: apps/v1 # for versions before 1.9.0 use apps/v1beta2
kind: Deployment
metadata:
  name: mysql
spec:
  selector:
    matchLabels:
      app: mysql8
strategy:
type: Recreate
template:
metadata:
labels:
app: mysql8
spec:
containers:
- image: mysql:8.0
  name: mysql
  imagePullPolicy: Never
env:
- name: MYSQL_ROOT_PASSWORD
  value: .sweetpwd.
- name: MYSQL_DATABASE
  value: my_db
- name: M

[2020-03-12 19:03] kfox1111 commented on #7452
Just curious. does --skipCRDs cut out any crd's that could be generated as part of templates/* too?

[2020-03-12 20:49] paulbdavis commented on #7709
I found just doing some rendering under a block worked fine for debugging with the `template` command

[code]

[2020-03-12 20:49] #7709 closed

[2020-03-12 21:40] VF-mbrauer commented on #7548
Do we have a new status here? Also the #2634 is already closed.

[2020-03-12 22:13] new2helm opened #7762 "getting error: unable to build kubernetes objects from release manifest: error validating """
I am getting error: unable to build kubernetes objects from release manifest: error validating "": error validating data: [ValidationError(DaemonSet.spec): unknown field "initContainers" in io.k8s.api.apps.v1.DaemonSetSpec, ValidationError(DaemonSet.spec): unknown field "spec" in io.k8s.api.apps.v1.DaemonSetSpec, ValidationError(DaemonSet.spec.template.metadata): unknown field "label" in io.k8s.ap

[2020-03-12 22:41] nWhitehill commented on #7001
I'm still seeing this issue with helm version:
`version.BuildInfo{Version:"v3.1.1", GitCommit:"afe70585407b420d0097d07b21c47dc511525ac8", GitTreeState:"clean", GoVersion:"go1.13.8"}`

[2020-03-13 02:45] akhilles opened #7763 "Add a flag to execute chart hooks in parallel"
Currently, all chart hooks are executed serially. For some use cases (such as running `helm test` in CI environments), this is just too slow. In Helm v2, the `helm test` command supports the `--parallel` and `--max` flags which enable and limit parallel execution of tests, respectively. This functionality wasn't ported to Helm v3 due to test infrastructure changes.

Adding a `--parallelism` flag t

[2020-03-13 02:51] liuming-tech commented on #7657
You might have deleted the release `ac-passive` already with --keep-history, so it keep release history, but all release status is not deployed, so when you `upgrade --install` , `--install` is useless。

And when upgrading, it will firstly query deployed release, if not exsited,  `xxx has no deployed releases` is throwed.
[code]

[code]

[2020-03-13 05:41] ghost opened #7764 "(.Files.Glob "conf/**" ).AsConfig render error when file with extend name properties"
the dir **conf** contains **a.yaml** and **a.properties**
[code]
run **helm template .**, I get  configmaps.yaml like this, but the files contains something
[code]
If I delete **a.properties**, it is right.

Output of `helm version`:
version.BuildInfo{Version:"v3.1.1", GitCommit:"afe70585407b420d0097d07b21c47dc511525ac8", GitTreeState:"clean", GoVersion:"go1.13.8"}
Output of `kubectl version`:

Cl

[2020-03-13 10:37] TBBle commented on #2133
@MilanMasek 's solution won't work in general for subcharts, because the context `.` passed into `tpl` will have the subchart's values, not the parent chart's values.

It happens to work in the specific example this ticket was opened for, because `.Release.Name` should be the same in all the subcharts. It won't work for `.Chart.AppVersion` as in the `tpl` example.

There was a proposal to support

[2020-03-13 10:54] shaijain opened #7766 "helm repo index command behavior with created field. ( In version 2.9.1 created field do not have double quote and in 2.14.3 it has double quote) Why this change. and in which version this got change"
Output of `helm version`:

Output of `kubectl version`:

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

[2020-03-13 10:58] shaijain commented on #7766
Output (version 2.9.1 created field  in index.yaml):
    **created: 2020-03-12T18:05:51.925375703+02:0**
Output (version 2.14.3 created field  in index.yaml):
  **created: "2020-03-13T11:31:32.251959715+02:00"**

[2020-03-13 11:39] marcadella commented on #5780
Still not working one year later (v3.1.1)...

[2020-03-13 11:50] joaocc commented on #1961
Was there any update on this? Not being able to get the alias of the current instance of a subchart makes it very hard (impossible) to create unique secret/config map names without having to use .Values to duplicate the function of the aliases

[2020-03-13 15:33] jdolitsky commented on #7623
Just want to clairfy what you mean by this. The hash is available where? The sha of the chart tarball blob?

[2020-03-13 15:36] jdolitsky commented on #7280
Just as you cannot use `docker login` directly for ECR, the same would be true for `helm registry login`

What you can likely do is run the `aws ecr get-login` command and just replace "docker" with "helm"

That being said, ECR does not yet support helm charts last I checked: https://github.com/aws/containers-roadmap/issues/308

[2020-03-13 16:42] galindro commented on #3486
@bacongobbler isn't possible to reopen this issue taking in consideration that https://github.com/helm/helm/pull/4806 doesn't solves this problem because it does deep merge in **maps** and in an **upgrade** process. What @connormckelvey mentioned was the ability to do deep merge in **arrays**. This kind of deep merge should work for install and upgrade situations.

[2020-03-13 17:10] #7658 closed

[2020-03-13 17:11] hickeyma commented on #7658
PR #7744 merged.

[2020-03-13 20:09] wasker commented on #7725
[Here's the job YAML](https://pastebin.com/UAhEVjJM).

I'm attempting to change "some_label" to "another_label" in `spec.template.spec.containers.image`. This does break with `kubectl edit job` as well.

I sort of understand that helm depends on k8s APIs, however, my expectations are that helm is smart enough to work this around somehow (e.g., delete existing release, deploy a new one, with some w

[2020-03-14 03:42] akhilles commented on #7763
I'd like to take a shot at implementing this if there are no immediate objections.

[2020-03-14 12:41] cforce commented on #6850
Same here. I migrated the helm2 to a helm 3 deployment and afterwards its no longer upgradeable because of the same error

`
./helm upgrade public-nginx-ingress stable/nginx-ingress --install --namespace mbsys-ingress --wait -f public-nginx-ingress.yaml
coalesce.go:199: warning: destination for extraContainers is a table. Ignoring non-table value []
coalesce.go:199: warning: destination for extraV

[2020-03-14 18:14] rpnguyen commented on #7280
ECR support for helm charts is being worked on right now. Once that lands, you may also be interested in the new [`get-login-password`](https://docs.aws.amazon.com/cli/latest/reference/ecr/get-login-password.html) command which pairs with the helm cli like so:
[code]

[2020-03-15 00:57] sean-krail commented on #7756
Either it’s a bug or the docs need to be reworded because https://helm.sh/docs/topics/charts/#schema-files gives the impression that `helm lint` applies schema validation to the final `.Values` object.

If it’s not a bug, how are chart owners supposed to validate values schemas that include API keys, usernames, passwords, and other environment-specific configs but aren’t (shouldn’t be) included in

[2020-03-15 10:37] NorthFuture commented on #7001
And it's still present with helm version:
version.BuildInfo{Version:"v3.1.2", GitCommit:"d878d4d45863e42fd5cff6743294a11d28a9abce", GitTreeState:"clean", GoVersion:"go1.13.8"}

[2020-03-15 12:56] toshovski commented on #3403
within the range, you have only the local context. The global one can be accessed through $.

[2020-03-15 15:20] sureshpalemoni opened #7768 "Helm should be able to detect if the deployments were created by helm from elsewhere."
- If the helm chart is deployed from cloud service or market place to the kubernetes cluster, people should be able to list chart from there local machines on the same cluster.

- This would be easy to get the chart information or status or a provision to download the deployed chart.

[2020-03-15 18:05] thavlik commented on #5135
Any update on this?

[2020-03-16 03:43] amitbhat-ct commented on #7716
Thanks Matt for the answer.

And sorry for the delay in closing the issue.

[2020-03-16 03:43] #7716 closed

[2020-03-16 10:30] micw opened #7769 "Empty result after template error deletes deployments"
On Helm3, error handling seems to be seriously broken. On issues in templates (e.g. referencing a non-declared variable like `{{ xyz }}`) no error is raised. Instead, the resulting template is empty, helm continues the deployment end removes every deployed resource!

Output of `helm version`:

version.BuildInfo{Version:"v3.1.0", GitCommit:"b29d20baf09943e134c2fa5e1e1cab3bf93315fa", GitTreeState:"c

[2020-03-16 14:14] korjek opened #7770 "Helm deploys subchart if it's not specified in `requirements.yaml`, but exists in `charts/` folder"
[code]
To reproduce the issue please create umbrella chart that installs 2 different subcharts from `requirements.yaml`, like:
[code]
 and run `helm dep update && helm upgrade -i myrelease ./ -f values.yaml` to download subcharts to `charts/` folder. After that update `requirements.yaml` be removing a dependency for any subchart, like:
[code]
and manually remove `joomla` related k8s deployment.
Af

[2020-03-16 14:40] bacongobbler commented on #7769
Have you tested with a more recent version, like 3.1.2? I’m fairly certain this was patched and fixed in 3.1.1.

[2020-03-16 15:01] sstock commented on #7769
It is a bug in 3.1.0, fixed by #7593.

[2020-03-16 15:11] #7769 closed

[2020-03-16 15:19] kirtiapte commented on #7485
can you attach the PR?

[2020-03-16 17:49] technosophos commented on #6361
It as merged into `dev-v2` a few months ago. You can build from that branch and test it out if you want.

[2020-03-16 17:56] ipleten commented on #4753
We have exact the same issue.

[2020-03-16 20:02] gkowalski-google commented on #6361
Would be great to see this incorporated into Helm 2 and the [Terraform provider](https://github.com/terraform-providers/terraform-provider-helm). I'm able to repo this error every time a cluster is created.

[2020-03-16 20:08] jdolitsky commented on #7768
This could be done today with labels or deploying into different namespaces.

Are you suggesting any changes in terms of changes from Helm UX perspective? Change in `helm list`?

[2020-03-16 20:13] jdolitsky commented on #7770
Hello - it is typically the case that charts in a charts/ subdirectory will be deployed. You may be looking for the the `helm dependency` command which helps you manage dependencies from requirements.yaml:

[code]

Does `helm dep update` fix the issue?

[2020-03-16 22:25] technosophos commented on #6361
Have you tested the `dev-v2` branch? We currently don't have any confirmation (other than our own tests) that the solution there works, though it is in essence the same solution.

[2020-03-17 00:22] gkowalski-google commented on #6361
I have not, I can give it a try this week. Since I am using this with Terraform, can I build/run the `dev-v2` branch and set the repository variable of the helm_release resource to `"local"` to simulate?

[2020-03-17 06:14] korjek commented on #7770
Hello
No, `helm dep update` doesn't fix the issue (the unneeded chart is still in the `charts/` folder and got deployed after `helm upgrade ...`) ( I missed `dep` in `helm update` command in my initial post, updated)

[2020-03-17 06:57] sureshpalemoni commented on #7768
Change in helm list. I know by providing labels we can get the objects.

For example: my private cloud has the option to install helm charts from its market place. However, if I really want to do  "helm list" from my local against the same cluster I cannot see those charts installed from UI(private cloud marketplace).

[2020-03-17 13:32] slawekjaranowski opened #7771 "helm search by keywords"
[code]

I added `keywords` to `Chart.yaml`, deploy chart to local storage using chartmuseum.

Show chart from local directory:
[code]
From repo - keywords is missing
[code]
Example of `helm search repo`:
[code]

It seems like `helm search repo` command search only in chart name and description, from documentation I can guess that should also search in keywords.

In older issue is mentioned that se

[2020-03-17 17:50] caodangtinh commented on #6374
It's works, since kubernetes change apiVersion apps/v1 to for Deployment, there is one thing need to be change is we need to add selector matchLabels for spec

[2020-03-17 18:37] titou10titou10 opened #7772 "Please provide an equivalent of the "kubectl create [configMap | secret] --from-env-file..""
Helm provides a way to mimic the`"--from-file"`option for the`kubectl create [configMap | secret]...`command via the`"Files.AsConfig()"`or`"Files.AsSecrets()"`stanzas

But there is no equivalent of the`"kubectl create  [configMap | secret] --from-env-file"`command

Please provide a way to mimic `"kubectl create [configMap | secret] --from-env-file.."`

Of course in case of secrets, only the "value

[2020-03-17 20:39] cep21 opened #7773 "Speed up helm in CI/CD pipelines by caching repo updates"
My company has lots of helm charts that we build and lint inside our CI/CD pipelines.  Currently, one of those steps is `helm dep build  .`.  This step is very slow because each time it executes for each helm chart, it also refreshes chart repositories `Hang tight while we grab the latest from your chart repositories...`.

I understand this has to happen once, but ideally we would be able to refre

[2020-03-17 21:24] kav opened #7774 "Helm template silently ignores namespace flag"
When using `helm template` with the `-n`/`--namespace` flag the flag is silently ignored rather than injecting a namespace into the metadata of the appropriate resources.

Output of `helm version`: `{Version:"v3.1.0", GitCommit:"b29d20baf09943e134c2fa5e1e1cab3bf93315fa", GitTreeState:"clean", GoVersion:"go1.13.8"}`

[2020-03-17 21:29] bacongobbler commented on #7774
duplicate of #3553.

[2020-03-17 21:29] #7774 closed

[2020-03-17 21:41] kav commented on #7774
Any chance to at least fail loudly? All of the helm command line help implies this will work.

[2020-03-17 21:49] kav commented on #3553
Adding from my accidental duplicate as well:

[2020-03-18 01:02] hebersonaguiar commented on #6894
@thomastaylor312 this is a best solution for this issue, thanks.

[2020-03-18 02:24] karuppiah7890 commented on #6422
@kurczynski Are you working on this? Or someone else could pick it up :)

[2020-03-18 02:25] katsew opened #7775 "Feature request: Additional field Cluster in Release object"
Hi, I want to add `Release.Cluster` field, which can get by running `kubectl config get-contexts`,  to avoid duplicating the value among clusters.

I'm using helm on GKE with multi-cluster environment.
When I start using helm, I have a single cluster and there is no problem with that.
However, if I deploy the same chart with different clusters, I'm having the problem of duplicated resource on GCP.

[2020-03-18 03:44] waveywaves opened #7776 "Incorrect RegistryConfig location and expose RegistryCache location via envVar"
Output of `helm version`:
version.BuildInfo{Version:"v3.1+unreleased", GitCommit:"26830942d275b3a70edfdc32474230f3499a18e4", GitTreeState:"dirty", GoVersion:"go1.13.4"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.0", GitCommit:"e8462b5b5dc2584fdcd18e6bcfe9f1e4d970a529", GitTreeState:"clean", BuildDate:"2019-06-19T16:40:16Z", GoVersion:"go1.12

[2020-03-18 04:03] liuyangc3 opened #7778 "Helm list did not show dependency release"
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): AliCloud managed k8s

I added  `dependencies` in Chart.yaml, after install this chart, run `helm list` only shows current chart release, but not dependency release. but I can see the dependency pods through `kubectl`, they are deployed too.

[2020-03-18 04:39] bacongobbler commented on #7778
Did you remember to run `helm dependency update` first?

[2020-03-18 04:40] bacongobbler commented on #7778
Dependencies are not deployed as a separate release. When you include a dependency in your chart, you are including all of that dependency’s templates, rendering all at once. The result is one release object.

Hope that helps.

[2020-03-18 04:40] #7778 closed

[2020-03-18 07:12] hickeyma commented on #7763
Go for it @akhilles

[2020-03-18 08:19] zeroisme commented on #7697
I have this exact same issue.
[code]

[2020-03-18 10:03] hickeyma commented on #7771
@slawekjaranowski I created a scaffold chart:

[code]
I added `keywords` as follows to `Chart.yaml`:
[code]
I started a local chart repository server which picked up the cached package:
[code]

I tested it as follows using Helm v2 and v3 clients renamed as  `helm2` and `helm3`:

[code]

There is a typo in the `Chart.yaml` in https://github.com/helm/helm/issues/7771#issue-583015954 : `my-kaywords`.

[2020-03-18 10:12] teoincontatto commented on #7697
After more digging in issues, posts and documentation seems like a normal behavior of helm.

When helm upgrade create a resource that did not existed between the resources created by the previous revision of the chart release and a resource with same kind, namespace and name exists in kubernetes then this error is thrown.

In my case I had a secret with a certificate that could be passed using val

[2020-03-18 10:32] slawekjaranowski commented on #7771
you are right about typo i search, so test again

[code]
[code]

I don't have helm2, can you show index.yaml from helm2, maybe chartmuseum has problem with metadata

from chartmuseum I have
[code]

[2020-03-18 10:43] hickeyma commented on #7775
Duplicate of #2055

[2020-03-18 10:44] hickeyma commented on #7775
@katsew This looks like a duplicate of #2055. Have a look at that issue and add your comment to it.

I am going to close this as a duplicate. It can be re-opened if need be.

[2020-03-18 10:44] #7775 closed

[2020-03-18 10:47] hickeyma commented on #7771
@slawekjaranowski  Good question. Have a look at the index:

[code]

[2020-03-18 10:54] slawekjaranowski commented on #7771
ok, I want to confirm - problem is in **chartmuseum**
A modified local cached index by adding keywords, in ~/Library/Caches/helm/repository/chartmuseum-index.yaml

and now is ok

[code]

[2020-03-18 11:28] hickeyma commented on #7771
Issue https://github.com/helm/chartmuseum/issues/315 in ChartMuseum to handle this.

[2020-03-18 11:55] #7771 closed

[2020-03-18 15:52] michelleN commented on #5276
Looks like we can close this issue now since post-render is available in 3.1
@thomastaylor312's example is located [here](https://github.com/thomastaylor312/advanced-helm-demos/tree/master/post-render)
Docs on the post render feature is located [here](https://helm.sh/docs/topics/advanced/)

[2020-03-18 15:52] #5276 closed

[2020-03-18 16:02] michelleN commented on #2399
This is possible now using post render feature + kustomize as of helm 3.1
@thomastaylor312's example is located [here](https://github.com/thomastaylor312/advanced-helm-demos/tree/master/post-render)
Docs on the post render feature is located [here](https://helm.sh/docs/topics/advanced/).

Please re-open the issue if something was missed.

[2020-03-18 16:02] #2399 closed

[2020-03-18 16:35] oCroso opened #7780 "Chart.yaml `import-values` should import additional values files or manifests to be used by a dependency. (Umbrella chart feature)"
## Problem

Import-values currently imports a subset of exported data from a child chart to be used by the master-chart/other charts in a dependency list (I believe based on the documentation language).  One of the big reasons I am proposing against this, is that the current use case is not easily utilized when dealing with remote community charts (or idempotent private repo'd charts), many times

[2020-03-18 16:48] #2947 closed

[2020-03-18 16:48] #4824 closed

[2020-03-18 16:48] #6850 closed

[2020-03-18 17:03] bacongobbler commented on #7776
If present, ~/.docker/config.json is read as the default. After which, Helm falls back to the filepath listed in `HELM_REGISTRY_CONFIG`. This is to allow Helm to read login credentials provided from `docker login`, `az acr login`, etc.

We don't allow explicitly changing the registry cache. Users can change the cache directory by changing the value of `$XDG_CACHE_HOME`.

For example:

[code]

The

[2020-03-18 17:27] micseydel commented on #6850
Could someone clarify what the solution is here? I see that this got reopened then closed again 39 minutes later but I didn't see an obvious solution in this thread.

[2020-03-18 17:51] DavidZisky commented on #6850
There is no solution yet but this one is promising and almost ready to implement:

https://github.com/helm/helm/pull/7649

[2020-03-18 17:53] bacongobbler commented on #6850
#7649 was merged this morning.

[2020-03-18 17:56] DavidZisky commented on #6850
Ohh, missed that ;) well, then answer to @micseydel question is in the first post of #7649 in Release Notes section

[2020-03-18 18:06] StupidScience commented on #3481
@distorhead @bacongobbler any chances to get this feature in helm 3?

[2020-03-18 21:04] mojochao opened #7781 "Cannot add helm repository"
I am trying to add a helm repository as follows:

    $ helm repo add traefik-helm-chart "git+https://github.com/containous/traefik-helm-chart@?ref=master"
    Error: unknown command "home" for "helm"
    Run 'helm --help' for usage.
    Error: looks like "git+https://github.com/containous/traefik-helm-chart@?ref=master" is not a valid chart repository or cannot be reached: plugin "helm-git" exite

[2020-03-18 21:27] bacongobbler commented on #7781
From the sounds of it, the helm-git plugin is not compatible with Helm 3.

closing in favour of https://github.com/aslafy-z/helm-git/issues/77. Please follow up with the plugin maintainer. Thanks.

[2020-03-18 21:27] #7781 closed

[2020-03-18 21:35] jbritt1 commented on #7780
+1

[2020-03-18 22:01] oCroso opened #7782 "Chart.yaml Master/Umbrella Chart dependencies should allow setting namespaces per dependency"
## Problem

Currently there is no feasible way to set namespaces, per dependency, in a master chart.

## Proposed Solution

Add a feature to specify child chart specific namespaces.  This would make the master chart model much more useful for deploying "per environment" umbrella charts.

[code]

[2020-03-18 22:07] jbritt1 commented on #7782
+1

[2020-03-18 22:08] ian-bitovi commented on #7780
+1

[2020-03-18 22:08] mickmcgrath13 commented on #7782
+1

[2020-03-18 22:09] bacongobbler commented on #7782
@jbritt1 and @mickmcgrath13: I went ahead and deleted your "+1" comments. Generally speaking, we urge users to please use the "add reaction" function to the OP. That way we can keep the comments focused on discussing the details without having to filter through "+1" comments. Thanks!

[2020-03-18 22:10] bacongobbler commented on #7780
@jbritt1 and @ian-bitovi: I went ahead and deleted your "+1" comments. Generally speaking, we urge users to please use the "add reaction" function to the OP. That way we can keep the comments focused on discussing the details without having to filter through "+1" comments. Thanks!

[2020-03-18 22:25] bacongobbler commented on #7782
Back to the topic at hand...

It's important to keep in mind that in the current system, subcharts (dependencies) are rendered at the same time as the parent chart. `pkg/engine` accepts a `*chart.Chart`, any external values (`--set`, `--values`, etc.), and renders the Go templates all in one step. [After the chart has been rendered](https://github.com/helm/helm/blob/e0856a56cc495c5fbbc9eb2dceaa083

[2020-03-18 22:34] bacongobbler commented on #7780
Have you looking into the feasibility of this request yet?

CC'ing @withnale, who might know more about the import-values subsystem and whether this is a feasible idea or not.

[2020-03-19 01:30] mattfarina commented on #6896
I have a PR coming with a fix for this. It work. Just need to try and clean up the code some more and figure out how to explain the change.

[2020-03-19 01:40] xiaolixi opened #7783 "helm install return Error: no available release name found"
I created a cahrt, and type

Error: no available release name found

It doesn't seem to be due to RBAC authority. What shall I do?

helm version
[code]
helm version
[code]

[2020-03-19 04:54] sbose78 commented on #7544
Thank you @mattfarina and sorry for the slow response:

My use case is that:
- I have a helm service for listing/upgrading releases, which talks to the API server for doing helm operations.
- The service lists releases which may or may not have been installed using the helm service
- Now, I would like to support "upgrade to a newer version" even for charts whose repo url the service is not aware o

[2020-03-19 06:42] katsew commented on #2055
Any updates on this issue?

I made the [feature request](https://github.com/helm/helm/issues/7775), but this issue is discussing the same thing, so my issue was closed.

My idea is as the same as [this comment](https://github.com/helm/helm/issues/2055#issuecomment-391829361)

[2020-03-19 07:13] hickeyma commented on #7783
@xiaolixi It looks like to have a type on the command. It should be: `helm install mychart`

Can you try that and see if it works?

[2020-03-19 08:33] xiaolixi commented on #7783
Thank you. I can't find the reason. I used helm3 instead

[2020-03-19 09:23] hickeyma commented on #7783
ok, you description showed Helom v2 for some reason.

If you are using Helm v3, then you need to specify the release name.
e.g. `helm install mychart chart/`

You can add flag `--help` for details on a command or checkout  [Helm docs](https://helm.sh/docs/)

[2020-03-19 09:23] hickeyma commented on #7783
Closing as question answered

[2020-03-19 09:23] #7783 closed

[2020-03-19 10:40] TRIPTI2110 opened #7784 "Cannot get namespace resource in API group"
I am trying to deploy zenko on Google Kubernetes Engine Cluster.

I have used "helm dependency build zenko/" to build the zenko dependency from "https://github.com/scality/Zenko".
When I implement the following command on the cloud shell:
helm install --name zenko --set ingress.enabled=true zenko

This error is encountered "Error: release zenko failed: namespaces "default" is forbidden: User "syst

[2020-03-19 11:18] hickeyma commented on #7784
@TRIPTI2110 This sounds like Helm is not set-up correctly for GKE. Did you follows these [guidelines](https://v2.helm.sh/docs/using_helm/#gke) when setting up Helm?

[2020-03-19 14:41] bahlo commented on #6910
How would I initialize an `action.Configuration` with a kubconfig in memory as `[]byte`? Do I really have to write it to disk, just to read it again?

[2020-03-19 14:58] oCroso commented on #7780
This is a feature request from myself, user who loves working with the tool and wants to see it's continued success, and I am attempting to highlight something that seems to contradict the core purpose of some of the existing features, and limits it's usability tremendously.  I didn't build helm myself so no, I am not sure of the feasibility.   But I have used nearly every other tool in the space

[2020-03-19 15:03] oCroso commented on #7782
How is this different that subcharts specifying a namespace value in their values.yaml?  Could it not inject that value pre-render and look for it post render using more than one apply?  As in, do the same thing you are already doing but parallel-ize the process for each sub chart/instance of differing namespace?  Rather than focusing on the internals, just change the inputs and outputs i guess is

[2020-03-19 15:26] liuming-tech commented on #6910
e.g.

[code]

[code]
`SimpleRESTClientGetter` is an implementation of `RESTClientGetter`

[2020-03-19 15:34] liuming-tech commented on #6024
@Saurabh-16 see #6910

[2020-03-19 15:36] bahlo commented on #6910
@liuming-tech I'm sorry, but what pkg is `helmapi`? I can't find a `SimpleRESTClientGetter` anywhere.

[2020-03-19 15:41] liuming-tech commented on #6910
Oh sorry, `helmapi` is pkg of private module, `SimpleRESTClientGetter` implements `RESTClientGetter`

[code]

[2020-03-19 15:47] hickeyma commented on #6910
@bahlo Have a loo at: https://helm.sh/docs/topics/advanced/#simple-example

[2020-03-19 15:50] bahlo commented on #6910
@hickeyma That's getting the kubeconfig path via env var, I want to pass in the kubeconfig itself.

[2020-03-19 15:57] bahlo commented on #6910
@liuming-tech Thanks, do you have the other three methods available as well? Otherwise I'll try to implement them myself.

[2020-03-19 16:26] liuming-tech commented on #6910
[code]

If there are any improvement, tell me.

[2020-03-19 17:02] ktalant commented on #7418
check for the clusterrole and clusterrolebinding delete them all, it should solve the problem

kubectl get clusterrole | grep ingress
kubectl get clusterrolebinding | grep ingress

it did solve in my case.

[2020-03-19 17:03] ktalant commented on #7418
![image](https://user-images.githubusercontent.com/38672847/77093854-feb42b80-69e1-11ea-81a8-ec2e8f0fc9b3.png)

[2020-03-19 17:05] ktalant commented on #7418
![image](https://user-images.githubusercontent.com/38672847/77094036-43d85d80-69e2-11ea-8239-b5945db0fdd3.png)

[2020-03-19 17:22] user-name-is-taken opened #7787 "`helm show values` should have a way to specify what values to show"
`Helm show values` doesn't have a way to specify which values you want to output. It would be nice to have this because  tools like bash don't have a yaml parser natively so to get a specific value from a chart I have to download a yaml parser. I believe helm should have this integrated because helm seems to be using something like this for `helm install --set` already.

[2020-03-19 17:29] bacongobbler commented on #7787
Hmm... A new jsonpath output format similar to Kubernetes might be useful for this use case.

[2020-03-19 18:53] mickmcgrath13 commented on #7782
We're having to work around the lack of this feature currently.

I think the addition of a `namespace:` option per chart dependency would be extremely useful.

[2020-03-19 19:01] sciencey-sanjay commented on #7782
Adding another input parameter shouldn't include rewrite of the application. The application needs to be robust enough to incorporate another parameter addition. This change needs to happen before rendering of the subchart and parent chart.  I think we need to analyze further and identify appropriate stage in which to make change.

[2020-03-19 19:18] kopasiak commented on #7656
@mattfarina any update on this? Our lint  takes now more than [2 hours](https://logs.onap.org/production/vex-yul-ecomp-jenkins-1/oom-master-verify-helm/3991/console-timestamp.log.gz) which is insane

[2020-03-19 19:32] bacongobbler commented on #7656
@kopasiak have you had a chance to compile Helm locally to try and determine the cause? It sounds like @mattfarina has been unable to reproduce the issue on his end.

This document may come in handy should you choose to determine the root cause yourself: https://helm.sh/docs/community/developers/

Let us know if you find anything else that may provide more insight into the cause.

[2020-03-19 19:41] kopasiak commented on #7656
@bacongobbler I have compiled it locally and even collected the CPU data (see link in my first post) but to be completely honest with you I have 0 experience with helm internals and in general with go programming (but I can learn quickly;) so if you could please give me some hints what I should check or sth it would be very helpful.

So personally I expect that this is a problem of some computatio

[2020-03-19 23:09] waveywaves commented on #7787
/assign

[2020-03-20 01:42] kopasiak commented on #7656
@bacongobbler @mattfarina
I've made a little bit more investigation and I discovered that most of the time that we need to lint the chart is spend in engine.renderWithReferences().

Recently in our charts we started using templates more widely to reduce the amount of boilerplate that we have between components. Unfortunately it looks like templates has significant performance penalty in helm. In m

[2020-03-20 02:21] opskumu commented on #7310
@Tzahif [A Helm3 HTTP Wrapper With Helm Go SDK](https://github.com/opskumu/helm-wrapper), this is a complete code example that you may want, wrapper with Gin.

[2020-03-20 02:30] opskumu commented on #6938
@mitar https://github.com/opskumu/helm-wrapper, it's a helm wrapper http server with Helm SDK by Gin, may help you

[2020-03-20 02:51] liuming-tech commented on #6938
Perfect，it will be better if it will support custom kubeconfig #6910

[2020-03-20 03:31] bacongobbler commented on #7310
there's also the [simple `helm list` example](https://helm.sh/docs/topics/advanced/#simple-example) now available in the documentation for others getting started with the SDK.

Closing as answered. Hope this helps!

[2020-03-20 03:31] #7310 closed

[2020-03-20 03:37] liuming-tech commented on #7310
[code]

[2020-03-20 09:52] bahlo commented on #6910
@liuming-tech Thanks a lot, that helps!

I think in general a `kube.Load(kubeconfig []byte)` method would be useful in this pkg.

[2020-03-20 10:14] hickeyma commented on #7214
@remcohaszing I tested this with Helm 2 and Helm 3. In both versions, you can install a chart with a dependency without adding the repo to the Helm repo list. Here is an example when using Helm 3 from master and a scaffold chart:

[code]

Can you try it and see if it works for you?

[2020-03-20 11:04] hickeyma commented on #7449
@jungopro  @technosophos Opened a [doc PR](https://github.com/helm/helm-www/pull/545) to describe that `--dry-run` flag does not work when CRDs in a chart and is expected behaviour.

Going to set this to a feature (as this is expected behaviour) and change the title.  I will also add @technosophos proposal in https://github.com/helm/helm/issues/7449#issuecomment-591498826 to the description.

Than

[2020-03-20 12:18] waveywaves commented on #7776
Okay, thanks for the clarification @bacongobbler wrt registry config.

When using the experimental `helm chart` feature, seems that the config being used is from `/home/vbobade/.cache/helm/registry/cache`

If not an env var this should be easily locatable with a function under `helmpath`.

[2020-03-20 14:11] remcohaszing commented on #7214
It doesn’t work for me.

I tried to use in in GitLab CI. The job output can be found [here](https://gitlab.com/appsemble/appsemble/-/jobs/479435804). All details can be found from there, but I’ll summarize the relative information:

- The repository in which I encounter the issue can be found [here](https://gitlab.com/appsemble/appsemble)
- The chart want to deploy can be found [here](https://gitl

[2020-03-20 14:20] hickeyma commented on #7214
@remcohaszing To help narrow this down, do you mind testing it as follows:

- Use the latest release of Helm [v3.1.2](https://github.com/helm/helm/releases/tag/v3.1.2)
- Create scaffold chart, using command `helm create`
- Add the dependency to the chart, in `Chart.yaml`
- Test and see if it works

[2020-03-20 15:49] adam-carbone commented on #2759
These issues have been out there and described in many ways across issues, Is there an open issue that people are looking at trying to solve this... We are also trying to include shared resources into a common chart that contains a k8s resource, and what happens it that when multiple of our services depend on that shared chart helm attempts to install multiple ( which I get is a desired feature in

[2020-03-20 16:46] mattfarina commented on #6896
PR just landed that fixes this. Should be in the next 2.16 release.

[2020-03-20 16:46] #6896 closed

[2020-03-20 17:44] xriser opened #7788 "Rendered manifests contain a resource that already exists. Unable to continue with install"
I am trying to install prometheus-operator with fluxcd helm-operator, but it fails with the error:

[code]

Output of `helm version`:
version.BuildInfo{Version:"v3.1.2", GitCommit:"d878d4d45863e42fd5cff6743294a11d28a9abce", GitTreeState:"clean", GoVersion:"go1.13.8"

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.3", GitCommit:"06ad960bfd03b39c83

[2020-03-20 18:57] sean-krail commented on #7756
@bacongobbler I don't think this is a question/support, I think it's a bug.

[2020-03-20 19:31] kopasiak commented on #7656
@bacongobbler @mattfarina
Just letting you know that I've just reproduced this issue with helm v3 (tested with v3.1.2)

[2020-03-21 08:39] Sceat commented on #4573
If we have to set `default` values into `Values.yaml` then `default` become obsolete. There should be only one way and if both work i think `--strict` should not exit if a default value is present. the `--strict` opt is mandatory in a CI pipeline

[2020-03-21 11:17] Samet-MohamedAmin opened #7790 "I want to access to depenency context"
I'm using helm version 3. In one of my charts I'm using postgresql as dependencies.
I want to access to its properties from the parent chart.
How can I change the context to the dependency chart?

[2020-03-21 14:50] bacongobbler commented on #7790
In the parent chart, you may modify a dependency’s values through its name.

Here’s an example from the stable charts repository: https://github.com/helm/charts/blob/master/stable/wordpress/values.yaml#L343

In your case, it would be

[code]

If you want to access those values from within the context of the template, use `.Values.postgresql.foo`.

Does that answer your question?

[2020-03-22 10:08] Samet-MohamedAmin commented on #7790
I need to access to the value of `{{- define "postgresql.username" -}}` which is defined inside postgresql `_helpers.tpl` file.

[2020-03-22 11:26] mani0070 commented on #6214
I'm facing the same issue but only when running from azure devops pipeline

[2020-03-22 15:29] bacongobbler commented on #7790
`define` declares a function call. Have you tried calling that function? The documentation should have examples demonstrating how to call a helper function.

[2020-03-22 17:08] octanolab commented on #5939
+1

[2020-03-22 17:09] bgcorreia commented on #5939
+1

[2020-03-23 07:47] nirupbbnk commented on #6969
this worked for me

[2020-03-23 11:04] NordenF commented on #3920
I would like to add my use case.
I have a base chart MyChart, which includes subchart Redis.
Redis chart has options existingSecret and existingSecretPasswordKey. It uses passwod from secret, if this options are specified. If the options are not specified, Redis-chart creates new secret to save password.

The result (actual) secret name and payload field name are defined in _helpers.tml in Redis-c

[2020-03-23 12:01] schollii commented on #3353
So is the conclusion that `upgrade --force` is too forceful, ie there are times when a delete+replace+retry_upgrade is not correct remedy to failed upgrade?

[2020-03-23 12:48] GarbageYard commented on #7418
I had a similar issue. I mistakenly used _kubectl_ for removing a deployment although the deployment was initially done using _helm_. Using @scbizu's comment, i ran the following command:

`kubectl.exe -n my-namespace get all`

This showed me that the _svc_ was still not deleted. After deleting it, i again ran the `helm upgrade` command and it worked fine.

[2020-03-23 13:03] mattfarina commented on #7768
@sureshpalemoni There are a couple reasons this could be happening:

1. If you are using one major version of Helm and the cloud provider is using another. `helm list` is targeted at the same major version.
2. The cloud provider could be storing releases in a manner that is not the default. For example, they could be storing release information in an SQL database. This would make it inaccessible t

[2020-03-23 13:06] mattfarina commented on #7784
@TRIPTI2110 What version of Helm are you using?

There is a known issue with Tiller in GKE. I plan to release a version of Helm v2 today with a fix in it. I'll circle back and comment here when it's out. That _may_ provide some help.

[2020-03-23 14:13] schollii opened #7793 "dealing with failed releases when upgrade/install"
Output of `helm version`:

2.11

Output of `kubectl version`:

Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.2", GitCommit:"59603c6e503c87169aea6106f57b9f242f64df89", GitTreeState:"clean", BuildDate:"2020-01-18T23:30:10Z", GoVersion:"go1.13.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.10", GitCommit:"37d169

[2020-03-23 15:33] dungdm93 commented on #5276
@michelleN Could helm plugin use `post-render`?

[2020-03-23 15:35] mcandre opened #7794 "Helm chart for BOINC?"
BOINC has Docker images for finding a COVID-19 vaccine (Rosetta@Home project).

https://hub.docker.com/u/boinc

Can we get a Helm chart for Kubernetes admins to deploy this more easily?

[2020-03-23 15:52] mattfarina commented on #6155
I noted this slack and wanted to note it again here.

JSON parsing is faster and uses less ram in general. YAML can have references to other parts of the document. You need to parse the whole document as a whole. JSON does not have this which provides more options for performant parsing. Also, Helm uses the worst case for YAML parsing on performance to make it easier on tooling management. You can

[2020-03-23 16:02] karuppiah7890 commented on #6155
Understood. So, even though yaml parser can understand json, directly using json parser can be faster, which is the goal of this whole feature - to be very fast. I'll also try this in a repo similar to your benchmark - comparing yaml parser with json input and json parser with json input, using different parsers

And also, about swapping out parser - agreed. I'll see how to implement this. I have

[2020-03-23 18:41] richardwhiuk commented on #7456
Basically, `helm dep build` doesn't act recursively, even across local dependencies.

[2020-03-23 19:32] unguiculus opened #7796 "`helm version` prints warning if kubeconfig file does not exist"
`helm version` prints a warning if the kubeconfig file does not exist.

[code]

This is especially problematic when the short version is used and parsed using a semver library.

[code]

The problem is that the Kubernetes client is always [initialized](https://github.com/helm/helm/blob/HEAD@%7B2020-03-23T19:32:00Z%7D/cmd/helm/helm.go#L87) which should not be necessary for the `version` command.

[2020-03-23 19:44] bacongobbler commented on #7796
Good catch.

In the meantime, the warning message is displayed on standard error, so it can be stripped out by ignoring standard error:

[code]

[2020-03-23 19:49] anshulvermapatel commented on #7796
@unguiculus Really Its a good catch.

@bacongobbler , I can work on this. This seems to be a simple fix.

[2020-03-23 21:10] amalucelli opened #7797 "validation failed errors after upgrading to 2.16.4"
👋I upgraded to the recently `2.16.4` and now I'm getting this kind of error when I try to upgrade/install some chart:

[code]

This was using the official `elasticsearch` chart, but I tried with different charts, even from the official channel and got the same error. I also tried in a `k3d` cluster and got the same problem.

Output of `helm version`:

[code]

Output of `kubectl version`:

[code]

[2020-03-24 01:19] donggangcj commented on #7796
/assign

[2020-03-24 02:25] donggangcj commented on #7796
The warning log comes from https://github.com/kubernetes/kubernetes/blob/1c99825adfb30f6abb177e85ddb31f2fdef011e1/staging/src/k8s.io/client-go/tools/clientcmd/loader.go#L222.

[2020-03-24 05:55] li-sen opened #7798 "Helm cannot install the package"
Output of `helm version`:
helm version
Client: &version.Version{SemVer:"v2.14.1", GitCommit:"5270352a09c7e8b6e8c9593002a73535276507c0", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.14.1", GitCommit:"5270352a09c7e8b6e8c9593002a73535276507c0", GitTreeState:"clean"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.5", GitCommit:"20c265fe

[2020-03-24 05:59] dove-young opened #7799 "Error: grpc: received message larger than max at helm install at helm v2.12.3"
Here is my `helm install` output of `stackstorm-ha` helm chart.   I noticed that this problem was reported in 2018, but it still happens in v2.12.3

[code]

Output of `helm version`:
[code]
Output of `kubectl version`:

[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.):

OpenShift 4.2

[2020-03-24 06:18] terrych0u commented on #7797
Same with me, I'm running AWS EKS 1.15 and upgrade my helm to 2.16.4, one of my charts also got the same issue.

but, if I downgrade helm back to 2.16.3, and everything works again.

[2020-03-24 06:22] dove-young commented on #7799
I found the problem. I have too many log files in the chart directory. By removing them out of there, the problem not occur

[2020-03-24 06:22] #7799 closed

[2020-03-24 07:05] li-sen commented on #7798
It's my problem. There is a big file in the package directory.

[2020-03-24 07:05] #7798 closed

[2020-03-24 08:44] Superset1986 commented on #6130
Thanks,  this worked for me with AKS cluster.  had to change the URL for the CRD's.

kubectl apply -f https://raw.githubusercontent.com/coreos/prometheus-operator/release-0.37/example/prometheus-operator-crd/monitoring.coreos.com_alertmanagers.yaml --validate=false
kubectl apply -f https://raw.githubusercontent.com/coreos/prometheus-operator/release-0.37/example/prometheus-operator-crd/monitoring.

[2020-03-24 12:07] jijeesh commented on #7797
You can downgrade the helm version by using below steps

curl https://raw.githubusercontent.com/kubernetes/helm/master/scripts/get > install-helm.sh
chmod u+x install-helm.sh
./install-helm.sh --version v2.16.3
helm init --service-account tiller --wait --upgrade  --force-upgrade

[2020-03-24 12:48] karuppiah7890 commented on #7167
Considering that we felt that the current README is good enough, I'm going to close this issue to reduce the number of issues we have 😛

[2020-03-24 12:48] #7167 closed

[2020-03-24 12:50] karuppiah7890 commented on #6557
Considering we felt it will increase the barrier for new folks, I'm going to close this issues 👍 Just me trying to reduce the number of issues by removing some stale issues 😛  with enough inputs to say the feature is not needed

[2020-03-24 13:11] #6557 closed

[2020-03-24 14:36] mattfarina commented on #7749
#7753 was merged with a fix for this.

[2020-03-24 14:36] #7749 closed

[2020-03-24 15:31] rnkhouse opened #7801 "Validation Error - Not Found"
I am getting validation error upon installing any chart.

    helm install stable/jenkins --name jenkins
    Error: validation failed: [secrets "jenkins" not found, configmaps "jenkins" not found, configmaps "jenkins-tests" not found, persistentvolumeclaims "jenkins" not found, serviceaccounts "jenkins" not found, roles.rbac.authorization.k8s.io "jenkins-schedule-agents" not found, rolebindings.rb

[2020-03-24 15:36] bacongobbler commented on #7801
duplicate of #7797.

[2020-03-24 15:36] #7801 closed

[2020-03-24 15:37] bacongobbler commented on #7797
seeing an increased number of cases this morning reporting the same issue. Will look into this today.

[2020-03-24 15:38] #7416 closed

[2020-03-24 15:47] karuppiah7890 commented on #7797
My wild guess is this - commit - fe4ffcfa0b872c29df0fbe802ae2c60b7442e1fd . Still digging to understand the commit and how it broke only now. Also, this line is another guess - https://github.com/helm/helm/blame/c35b2b1cce5d14462aee04880f64ac3f09797630/pkg/kube/client.go#L211

[2020-03-24 16:25] jubeergon opened #7802 "helm default values nil pointer evaluating interface"
I try to use as many default values as possible in my helm chart to keep the values file as small as possible but still have as many configuration options as possible.

For example: `port: {{ .Values.loadbalancer.port | default 80 }}`

But if I try to set all values of the same object via default I get an error.
But as soon as I define a single value of this object in the Values file there is no m

[2020-03-24 16:29] bacongobbler commented on #7797
https://github.com/kubernetes/cli-runtime/blob/c5a29d532eb1b2cb01eabc7b67be1fb984579c65/pkg/resource/builder.go#L673-L677

[2020-03-24 16:29] karuppiah7890 commented on #7797
Seems to me like the latest should be enabled only when it's an upgrade. For install - it will give an error saying object doesn't exist

[2020-03-24 16:33] karuppiah7890 commented on #7797
I still didn't get the entire meaning or the feature of the latest. What it means by it will fetch the latest copy, then what's the usual? The only things I found out was the below in `vendor/k8s.io/cli-runtime/pkg/resource/builder.go`

[code]

and the below in `vendor/k8s.io/cli-runtime/pkg/resource/visitor.go`

[code]

[2020-03-24 18:08] cep21 commented on #7773
Would you accept a pull request for a flag to disable the refresh step during `helm dep build` ?

[2020-03-24 18:15] kfox1111 opened #7803 "delete result ok"
I'm trying to script a deletion but continue on if the release doesn't exist. Currently if the release is not found, helm delete returns an error. Compounding this, there is no command to specifically look for the existence/non existence of a particular release. This makes it difficult to script/ci helm

My current work around is this which returns the proper error codes:
(! helm get values --name

[2020-03-24 18:21] bacongobbler commented on #7803
`helm list`?

[2020-03-24 18:27] sreya92 opened #7804 "Adding --set back to 'helm package'"
`helm package` in v3, for a brief period of time, had a nice feature that allowed you to write sensible defaults into your `values.yaml` that got bundled into the helm package. This made automating helm releases trivial (and extremely nice) since you could specify configuration at build-time without having to worry about committing updates to source-controlled files. It also allowed for a unified

[2020-03-24 18:32] bacongobbler commented on #7804
Yes. That's really the only blocking issue preventing us from supporting this workflow. I even mentioned that [in the next comment in that thread](https://github.com/helm/helm/issues/3141#issuecomment-585583283).

Closing as a duplicate of #3141. Let's please keep the conversation in one ticket going forward. Thanks.

[2020-03-24 18:32] #7804 closed

[2020-03-24 18:36] sreya92 commented on #3141
@jmcelwain Are you actively working on this? I will gladly take this over if not.

[2020-03-25 03:03] depohmel opened #7805 "helm install doesn't print required field error"
Output of `helm version`:
[code]
and
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
[code]

Hello, I see that our format form install cmd has changed between `3.0.2` and `3.1.0` version
in our helm chart we perform some safety checks and notify users if they trying to do something undesirable.
Here is a template

[code]

 it prints that field is req

[2020-03-25 03:10] depohmel commented on #7805
it's not reproducible with 3.1.2
[code]

[2020-03-25 03:10] #7805 closed

[2020-03-25 04:17] yurrriq commented on #5595
I tried my hand at porting this to Helm 3 with #7806, and would love to see it merged ASAP. Thanks, @ultimateboy!

[2020-03-25 07:33] krylovsk commented on #5595
What about releases that fail on _first_ install, i.e. have no past successful releases?
We are using `upgrade --install` for idempotent deployment of helm releases and when the first release  fails, all the subsequent invokes of `upgrade --install` fail with "has no deployed releases" error (this issue).

[2020-03-25 08:29] Nitive opened #7807 "Install flag of the Upgrade action is not working on the sdk"
### Not working code example

**Code**
[code]

**Expected result:** chart deployed
**Actual result:** `Error: release has no deployed releases`

It's a rough example, but it seems to be enough for understanding the problem.
Happy to provide repository with minimal but complete code needed for reproduction if there is need for it.

### Cause of bug

This happens because install flag logic implement

[2020-03-25 09:11] liuming-tech commented on #7807
this message tells us that the release exists, but status is not deployed.

`helm upgrade --install` install flag will work when no release exists.

[2020-03-25 09:23] PCatinean commented on #1579
I have been constantly receiving this error message when trying to check in my deployment.yaml file for defined values in a subchart (redis in my case) using helm 3 as so:
`name: {{ ternary .Values.redis.existingSecret (printf "%s-%s" .Release.Name "redis") .Values.redis.existingSecret | quote }}`

The only way I personally found to circumvent this was to define the variables at the top of the fil

[2020-03-25 09:28] TomasKohout commented on #7722
@jdolitsky would you know what PR could cause this? Older version of Helm 3 was doing fine and only Helm was updated to 3.1.x

[2020-03-25 10:03] inistor opened #7808 "OSX: Add repo failing with "net/http: TLS handshake timeout" for https://kubernetes-charts.storage.googleapis.com"
When running **helm 3.1.2** on macOS, adding the 'stable' main helm repo (https://kubernetes-charts.storage.googleapis.com) fails with error "net/http: TLS handshake timeout".
**macOS** version is **10.15.3**

[code]

Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
Self-hosted K8S v1.17.4

[2020-03-25 10:24] inistor commented on #7808
Quick note, from the same machine, I can connect fine via TLS to the repo:
[code]

[2020-03-25 10:54] Nitive commented on #7807
@liuming-tech cli is working fine, the issue is with go sdk usage

[2020-03-25 11:15] avorima opened #7809 "Render only manifests in given directory"
It would be nice if the `-s/--show-only` flag of `helm template` could understand `*` or directories. Currently it just returns `Error: could not find template ... in chart`.

Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):  `kind`

[2020-03-25 12:11] mattfarina commented on #7808
@inistor what version of macOS are you on?

[2020-03-25 12:59] mattfarina commented on #7797
`Latest()` was added in error. I spent a fair amount of time and trials making changes to figure out how to list resources and their status for the linked PR. `Latest()` was accidentally added to `Validate`. #7810 should fix it and did so in my testing.

[2020-03-25 12:59] mattfarina commented on #7797
Once we get this fix I can quickly get another release out.

[2020-03-25 13:03] Diaphteiros commented on #3553
I was about to open an issue for this behaviour when I found this one. I can only agree that the `--namespace` option should set `metadata.namespace` for rendered manifests.

The way it works right now is strongly counter-intuitive in my opinion: some resources might reference other resources, thus use `{{ .Release.Namespace }}` somewhere in their spec. In order to have my application work, I have

[2020-03-25 13:18] inistor commented on #7808
@mattfarina macOS 10.15.3 (Catalina)

[2020-03-25 13:21] consideRatio opened #7811 "Documentation request about --cleanup-on-fail, --atomic, --force"
I'd love to gain clarity on the flags `--cleanup-on-fail`, `--atomic`, and `--force` in `helm3 upgrade`. What is it that they do if used by themselves, and will this change if they are used together with another flag?

[code]

## Questions
1. Will `--force` use a replacement strategy for all resources no matter what?
2. Will `--atomic` imply `--cleanup-on-fail`?
3. In `--cleanup-on-fail`, what doe

[2020-03-25 13:29] pbronneberg commented on #7797
One issue which might be related (let me know, otherwise I'll post a new bug): when upgrading tiller to 2.16.4 we got the following messages when installing / upgrading deployments:
[code]

This was solved when rolling back to tiller 2.16.1 (still have to try 2.16.3)

[2020-03-25 13:33] stephan2012 opened #7812 "Helm v2.16.4: nil pointer in kube.getSelectorFromObject after upgrading from v2.16.3"
Upgrade deployment with Helm 2.16.4 fails:

[code]

The reason for the closed connection is a segmentation violation in Tiller:

[code]

The error persists when forcing the Tiller Pod to another node so it looks like an application issue. After downgrading Helm CLI and Tiller to v2.16.3 the deployment upgrade succeeds without any issues. The error returns after upgrading to v2.16.4 again.  This is

[2020-03-25 13:38] sdib opened #7813 "latest helm version is now 2.16.4 and no more 3.1.2"
Hi,

I had my CI/CD pipeline running last week (03/18) using an helm installer task configured to download latest version.
To find the latest, the task is gathering information from https://api.github.com/repos/helm/helm/releases/latest.

Today it returns 2.16.4 but last week it was 3.1.2.

Is it expected ?

Thanks,
Best regards

[2020-03-25 13:50] peterholak commented on #5595
The "first release failing" scenario is at least more manageable, because you usually run it manually (and can apply a fix right then and there)—as opposed to having helm run by a CI/CD system that just starts failing one day and doesn't recover even after fixing the code.

It should still be fixed of course.

There is also value in preserving the last successful release anyway, not just because o

[2020-03-25 14:16] bacongobbler commented on #7813
Yes. Github’s API describes “latest” as the most recently released version of that repository. It does not correlate to the newest version of helm 3. We have no control over this API.

[2020-03-25 14:16] #7813 closed

[2020-03-25 15:36] htplbc commented on #7797
2.16.3 worked for me. Thanks

[2020-03-25 15:43] nickdgriffin commented on #7812
Beat me to the punch! I think this change introduced it, but I haven't figured out how yet: https://github.com/helm/helm/pull/7785

For us seems to only occur when the release in question has Pods in the same namespace Tiller is in, and can be easily reproduced outside of an upgrade by running "helm status" on the release (which is what is actually failing in the upgrade I believe). We have other

[2020-03-25 16:19] kurczynski commented on #6422
I've looked into it but haven't had the time to get started. If anyone would like to work on it, have at it :-D

[2020-03-25 16:42] #7175 closed

[2020-03-25 17:28] inistor commented on #7808
Interestigly enough, on a colleague's OSX, same version, with the same helm binary, the issue does not appear. So, it's likely a local (my os configuration) issue

[2020-03-25 17:55] inistor commented on #7808
Further info:
[code]

[2020-03-25 18:12] imalik8088 opened #7815 "Building values map for chart 'minio'. Skipped value (map[]) for 'environment', as it is not a table."
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

I've updated Minio dependency from `2.4.18` to `5.0.18` and I'm overriding the environment and I'm getting a warning:
[code]

### Error/Warning from the ouput
[code]

[2020-03-25 19:01] heydonovan opened #7817 "helm upgrade --install not working as expected"
Just ran into this. Going to try upgrading to 3.1.2 to see if it resolves it. :v:

[code]

[code]

[2020-03-25 19:36] bacongobbler commented on #7808
hmm... Both work for me on my Macbook.

If you cannot verify the TLS cert for both Helm Hub (https://hub.helm.sh) and the charts repo (https://kubernetes-charts.storage.googleapis.com), I would tend to agree with your initial assessment about it being a localized issue.

Let us know what you find out.

[2020-03-25 19:38] inistor commented on #7808
Thanks, I'll check further. It would help if you could assist with instruction on a lower leved debug mode, so that I may trace, in the go code, where the problem may be.

[2020-03-25 19:46] bacongobbler commented on #7808
All I can offer is the developer guide: https://helm.sh/docs/community/developers/

If you compile helm from scratch, you can try to dig further into the issue. This may be further down the stack, however, likely somewhere in Go's [crypto/tls](https://golang.org/pkg/crypto/tls/) package.

[2020-03-25 19:47] bacongobbler commented on #7812
can you try #7810 and see if that resolves the issue?

[2020-03-25 19:52] bacongobbler commented on #7812
It might be something else in #7785 that may be causing this issue. cc'ing @mattfarina in case he has any ideas. It's possible that the input to `getSelectorFromObject` changed, and now the selectors are `nil`.

[2020-03-25 19:58] bacongobbler commented on #7803
That use case could be handled as a simple plugin: https://helm.sh/docs/topics/plugins

In general, these small one-off features like the one suggested here are well-suited to be made as Helm plugins. That way we can reduce the maintenance burden on our end, but the community can extend Helm for their own specific use cases.

Hope this helps.

[2020-03-25 19:58] #7803 closed

[2020-03-25 20:03] bacongobbler commented on #7802
When a template is being rendered, Helm takes the values file as input to generate a Values structure. Go's template system then takes that object as input.

In most cases, Go's template system understands when a root value like `.Values.restartPolicy` does not exist. However, when dealing with nested values (like the one in your example), the parent object (`.Values.loadbalancer`) was not present

[2020-03-25 20:04] #7802 closed

[2020-03-25 20:05] #7790 closed

[2020-03-25 20:59] EladioRodriguezVeve opened #7818 "Helm deploying job with "helm.sh/hook": test hook annotation when installing release"
Output of `helm version`: v3.0.2

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.0", GitCommit:"641856db18352033a0d96dbc99153fa3b27298e5", GitTreeState:"clean", BuildDate:"2019-03-25T15:53:57Z", GoVersion:"go1.12.1", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.5", GitCommit:"20c265

[2020-03-25 20:59] jmcelwain commented on #3141
@sreya92  Got busy at work. Here's where I left off: switching to yaml.v3 was mostlyeasy, with the exception of [this bit here](https://github.com/helm/helm/blob/master/pkg/chartutil/jsonschema.go#L63). Wasn't sure what the best approach to handle this was without going as far as vendoring the dependency and updating it to v3 there.

[It looks like there was some work done to upgrade](https://gith

[2020-03-25 21:13] bacongobbler commented on #7818
Is this reproducible with a more recent version of Helm 3?

[2020-03-25 21:18] inistor commented on #7808
Great, thanks; will follow-up if I find anything.

[2020-03-25 21:36] inistor commented on #7808
Something very peculiar: the one compiled from sources (v3.1.2 tag) works like a charm.
[code]

[2020-03-25 21:48] strainovic opened #7819 "On release upgrade, values.yaml has to be explicitly added or changes will not be applied"
If I want to upgrade the deployed app and I change something in values.yaml file, I have to specify it with --values values.yaml or changes will not be applied.

On the first install, I don't have to specify --values values.yaml if the file is in the same directory where the helm chart is.

Is this a bug or expected behavior?

Thanks!

Output of `helm version`:

`version.BuildInfo{Version:"v3.1.2"

[2020-03-25 22:03] cep21 opened #7821 "Helm 'file://' directive does not package unbuilt dependent dependencies"
Output of `helm version`:
version.BuildInfo{Version:"v3.1.1", GitCommit:"afe70585407b420d0097d07b21c47dc511525ac8", GitTreeState:"clean", GoVersion:"go1.13.8"}

Bug:

I have one chart "company-datadog" with a dependency
[code]

Inside the directory `../datadog`/ I have another chart with another dependency
[code]

If I build `company-datadog` before building `datadog`, the dependency of `kube-stat

[2020-03-25 22:52] EladioRodriguezVeve commented on #7818
@bacongobbler I upgraded Helm to version 3.1.2 and still see that its deploying the job with the test hook annotation.

[2020-03-25 22:59] cyberprodigy commented on #4586
I had the same issue. Make sure of two things
1. the user executing `helm upgrade` is part of docker group, "sudo usermod -aG docker <your user>"
2. add --recreate-pods to helm upgrade command

Bug with helm is if pullPolicy: Always but pulling fails the process should fail, not continue with the image it has.

[2020-03-25 23:00] bacongobbler commented on #7808
Interesting. How did you install helm initially?

If it was installed with homebrew, we have had situations arise where the version of helm compiled with homebrew had differing results as the “official” helm release binaries for macOS. Because homebrew chooses to recompile packages from source, this can lead to cases where helm is compiled with a different version of Go than what we targeted again

[2020-03-26 00:30] archonic commented on #7697
I've hit this error without changing my deploy script or any charts. I thought it might be related to a gcloud component upgrade but I downgraded and I'm still getting the same error. I have no idea how my helm app got into this state and I'm also not sure how to remedy it. I believe I could delete the ingress (the resource it's complaining about) and re-run the script, but I would want to be sure

[2020-03-26 00:32] bvandorf opened #7822 "toyaml function more than basic example"
So I have been searching the internet with no luck for a more than a basic example of how to convert the settings like below that get run through the toyaml function of a template to a --set command line argument and how to directly put it in the values.yaml file so that the annotations tag comes out exactly the way the example says it needs to be formated.

Example:
[code]

with the defult ingres

[2020-03-26 01:37] donggangcj commented on #7818
I can not repeat this issue, everything is ok and a resource will not be installed  when it  was annotated with `"helm.sh/hook": test`. can you provide the test chart?

[2020-03-26 01:53] jamesla opened #7823 "Issue with looping through an array of maps in helm"
I am trying to loop through a secrets and add them dynamically using helm templates

I have the following values:
[code]

Originally I tried this:
[code]

However this doesn't work as the key was actually the index rather than the key and the value was the entire object rather than the value for that iteration of the loop.

I'm sure I am just missing something simple. Does anybody know how I can d

[2020-03-26 02:49] jdolitsky commented on #7819
Hi there, the values.yaml file should not have to be specified on the command line. It is used as the baseline of values no matter what.

Could you try doing the upgrade without referencing the file? i.e. make a modification in values.yaml and do an upgrade, validating the change occurs as desired

[2020-03-26 02:53] jdolitsky commented on #7821
When using `repository: file://../datadog`, dependencies are expected to be present ahead of time. The requirements file is ignored as far as know, and dependent charts are looked for in charts/ subdirectory.

Were you expecting recursive fetch of dependencies on "helm dep build" ?

[2020-03-26 02:57] jdolitsky commented on #7822
Hi. Sorry, I'm not quite sure I understand what you're looking for. Could you explain again?

One issue I'm seeing with your template is that there is an `{{- end }}` block that doesnt seem to be necessary:
[code]

[2020-03-26 03:09] jdolitsky commented on #7823
@jamesla - does this work for you?
[code]

[2020-03-26 03:49] cep21 commented on #7821
Either that or for build to fail, telling me that my file has a dependency that isn't yet there

[2020-03-26 04:07] jamesla commented on #7823
Yup that was it thanks @jdolitsky

[2020-03-26 04:07] #7823 closed

[2020-03-26 04:26] jamesla opened #7824 "Creating a secret in manifest where content is a file?"
I can create a following secret from file like this quite easily:

[code]

Is it possible to do the same thing inline using a manifest something like this:

[code]

Is this possible?

(Using helm secrets so will do this securely).

[2020-03-26 05:22] achmudas commented on #5385
@jlegrone yes, timeout is fine in this case. Just the idea itself is not so appealing for me, that a test needs to have a timeout. But let's not dig deeper here. Thanks for the help.

[2020-03-26 06:15] inistor commented on #7808
Nope, I've downloaded the helm binary directly from releases tarball (https://github.com/helm/helm/releases). See md5sum below (helm.dist)
[code]

[2020-03-26 06:17] inistor commented on #7808
Anyway, for me, the problem is solved (the sources-built binary is working fine). But I'm available to further verify the issue with the distribution binary - in case you feel it helps (maybe others may run into the same issue).

[2020-03-26 09:52] hickeyma commented on #7808
@inistor That would be great if you can investigate it further. Lets leave it open until you return with some feedback.

[2020-03-26 10:04] hickeyma commented on #7817
@heydonovan When you upgrade to the latest 3.1.2, if you still have the issue can you try installing other charts e.g. maybe try a scaffold chart (`helm create`)

[2020-03-26 10:42] hickeyma commented on #7818
I concur with @donggangcj, I am unable to reproduce this @EladioRodriguezVeve. When you upgrade to the latest Helm version, can you try repeating using a scaffold chart (`helm create`).  You will need to edit `templates/tests/test-connection.yaml`  to make the following change before the install:
`"helm.sh/hook": test-success` --> `"helm.sh/hook": test`

[2020-03-26 11:49] hickeyma commented on #7824
@jamesla It might be worth looking at https://kubernetes.io/docs/concepts/configuration/secret/#creating-a-secret-manually . Give it a go and maybe ask out in the #helm-users channel for feedback as well.

[2020-03-26 12:51] #7600 closed

[2020-03-26 13:44] hezise opened #7825 "helm3 - error when deleting a deployment"
Output of `helm version`:
version.BuildInfo{Version:"v3.1.2", GitCommit:"d878d4d45863e42fd5cff6743294a11d28a9abce", GitTreeState:"clean", GoVersion:"go1.13.8"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.4", GitCommit:"c27b913fddd1a6c480c229191a087698aa92f0b1", GitTreeState:"clean", BuildDate:"2019-02-28T13:30:26Z", GoVersion:"go1.11.5", Comp

[2020-03-26 13:57] hickeyma commented on #7825
@hezise It might be because it is in namespace `rook-ceph`. Helm v3 releases are namespace based. Does this work: `helm3 delete adcc-infra-rook --namespace rook-ceph`?

[2020-03-26 14:13] pptfz opened #7826 "Helm installs the ingress-nginx problem"
Kubeamd install kubernets1.17.4 helm2.16.3
Helm install stable/nginx-ingress --set controller.hostnetwork =true, rbac.create=true
Error: validation failed: spotted to recognize "": no matches for kind "Deployment" in version "extensions/v1beta1"

Say You just need change Deployment and StatefuSet apiVersion to apiVersion: apps/v1.
How exactly?

[2020-03-26 14:29] bvandorf commented on #7822
The template is just a section of the ingress.yaml file that is auto-generated when you use the helm create command the full template is below.

But what I am looking for is how to format the entry I should put in the values.yaml file in order to get the installed output for the annotations portion of the template to have the exact settings listed in the example, also what is the format needed to

[2020-03-26 14:45] waveywaves opened #7828 "Proposal: Provide DIFF column in `helm history`"
Currently we show the following output for `helm history <RELEASE>`.
[code]
We can also show a more verbose output with a DIFF column, which shows, the part (template or values.yaml) where the changes were made. Considering it is only a column we can keep the info minimal. Even though it would be minimal it would provide useful information to the users on the difference in Revisions.

[2020-03-26 15:47] mattfarina commented on #7797
Merged the fix. Release coming shortly.

[2020-03-26 15:47] #7797 closed

[2020-03-26 16:14] mattfarina commented on #7797
2.16.5 is out with the fix.

[2020-03-26 16:44] amalucelli commented on #7797
All good here with `2.16.5`, thanks a lot @mattfarina!

[2020-03-26 17:05] hezise commented on #7825
that helped
thank you

[2020-03-26 17:05] #7825 closed

[2020-03-26 17:18] kfox1111 commented on #7803
helm ls and grepping out the release name is error prone to get correct. It does not make it easy to use helm in a CI/CD pipeline or shell script. Just mentioning it as CI/CD is one of the things Helm really enables and filing off that rough edge would help the use case.

Again, if one of helm's primary use cases is ci/cd, making it as easy as possible to get into without needing to add lots of ex

[2020-03-26 17:29] bacongobbler commented on #7803
I think that's an unfair assessment to make here. Helm is a package manager. It is not a configuration management tool like Chef or Puppet. Helm certainly does provide certain features that are shared with such systems, though.

In other words, Helm is more focused to model similar package managers like brew, apt, yum, pacman, etc. It is not modeled against configuration management or ci/cd tools

[2020-03-26 21:41] jawlitkp commented on #6214
Is there any update on this? I am facing the same issue with gcr only when running in Linux container. its working fine on my local mac

[2020-03-26 22:33] anshulvermapatel commented on #7796
Well, I think the initialization of actionConfig is necessary but not for `help` and `version` command.
It can be solved if check if the argument is `help` or `version` then there is no need to initialize the actionConfig.
[code]

But I doubt if this is a correct way.
@mattfarina @hickeyma @bacongobbler @unguiculus  ← Anyone of you can give me a green signal for this, I can create a pull request f

[2020-03-27 09:30] iirekm opened #7832 "`name: some-name-{{ include (print $.Template.Name) . | sha256sum }}` crashes Helm install"
It looks like stack overflow error in disguise.

How to append sha sum of current template to name, to regenerate object completely?
It's specially useful for jobs: I want to rerun jobs automatically when anything in job's .yml descriptor changes.

I also tried .Files.Get - but it only "sees" non-template files, for template .yml files returns empty string.

Helm version: 3.0.3

[2020-03-27 10:23] vfiset commented on #5979
@wmiller112 did you figure it out?

[2020-03-27 12:10] mattfarina commented on #7828
@waveywaves How would you fit something like that into a column? For example, take a look at the [helm-diff plugin](https://github.com/databus23/helm-diff). There is far too much information to fit into a table like this. Can you mock up what you're thinking?

[2020-03-27 12:17] mattfarina commented on #7826
The `stable/nginx-ingress` chart detects your Kubernetes version. For 1.17.4 is should set the `apiVersion` to `apps/v1`. Somehow this is broken.

Can you run `kubectl version` to get the version of your Kubernetes cluster? And, can you run `helm repo update` to make sure you have the latest version of the chart.

You can find the source of the chart [here](https://github.com/helm/charts/tree/mast

[2020-03-27 12:21] mattfarina commented on #7832
The docs around what you're doing are [here](https://helm.sh/docs/howto/charts_tips_and_tricks/#automatically-roll-deployments).

Can you please provide the error output message? We'd be able to provide some better feedback with that. Without the error it's difficult to track down what's going wrong.

[2020-03-27 12:23] waveywaves commented on #7828
@mattfarina yes I can do that. Please assign this to me.

[2020-03-27 12:27] titou10titou10 commented on #3276
@R-omk, as said in the doc:
"_The resources that a hook creates are currently not tracked or managed as part of the release._"

IMHO, the solution is the one suggested previsouly, ie have a flag to add directories to the search path of the ".Files" function.
IMHO there is no security issue as the user of the chart delibirately specifies the place where the chart can play with files, and this is no

[2020-03-27 12:30] pptfz commented on #7826
I have identified the need to change the apiVersion to apps/v1
I implemented the helm fetch stable/nginx-ingress and downloaded a nginx-ingress.tgz package. After unzipping, I modified the apiversion in the deployment. Yaml file
I just don't know how to apply my locally modified files
For example, how do I specify the application of my local files when I perform helm install

[2020-03-27 12:30] jaineitisha13 commented on #1799
@hyperfocus1337 I am also facing similar issue when running helm install<name of dir>.

"Error: Get http://localhost:8080/api/v1/namespaces/kube-system/pods?labelSelector=app%3Dhelm%2Cname%3Dtiller: dial tcp [::1]:8080: connect: connection refused"

[2020-03-27 13:15] R-omk commented on #3276
@titou10titou10

Its about hooks: `pre/post   -  install/delete/upgrade/rollback`

`post-renderer` is a completely different kind of hook

[2020-03-27 13:50] AceHack commented on #5806
Any update on fixing this issue in 2.x?

[2020-03-27 14:03] titou10titou10 commented on #3276
@R-omk, fair enough. The doc is lagging on this
But I still can't see how I can solve our problems with post-renderer hoosk.
One of our use case:
- we use a jenkins pipeline to build a java app and deploy it into OpenShift
- we were using OpenShift "templates" for this and trying to move to Helm because it is way more flexible and we created a custom Chart for deployment
- the deployment process i

[2020-03-27 14:14] bacongobbler commented on #3276
Quick reminder: we will not be accepting PRs that introduce a .Files.GetExternal or a —search-folder flag. Those can introduce security issues on the installer’s side. One could potentially write a malicious chart that copies a sensitive file and ship it elsewhere with a chart hook.

However, an explicit —include-file or —include-dir would be accepted, as mentioned in an earlier comment: https://g

[2020-03-27 14:15] pptfz commented on #7826
i have identified the need to change the apiVersion to apps/v1
I implemented the helm fetch stable/nginx-ingress and downloaded a nginx-ingress.tgz package. After unzipping, I modified the apiversion in the deployment. Yaml file
I just don't know how to apply my locally modified files
For example, how do I specify the application of my local files when I perform helm install

Because if it is not

[2020-03-27 14:20] kristoflemmens commented on #7697
Hi,

We have the same problem when upgrading the stable/sysdig chart. in version 1.7.6 there is a change of apiVersion: rbac.authorization.k8s.io/v1beta1 to apiVersion: rbac.authorization.k8s.io/v1.
We get this message:

Helm version: 3.1.2

[2020-03-27 15:10] titou10titou10 commented on #3276
@bacongobbler good enough.
Let's hope an `--include-dir` new flag will allow to use the `.Files.Glob(<dir>).AsConfig()` or an equivalent feature to fullfill this use case, which I guess, is very common in a pipeline

Or maybe Helm in not the right tool in CICD pipeline scenario where many "data" can not be expressed in a pure "value" way (via `-f`, `--set` or`--set-file`) and is held outside the c

[2020-03-27 15:38] R-omk commented on #3276
I don’t understand why the raw files inside the release?

helm v3 no longer run server side template rendering. Therefore, you cannot use Files.Glob.
This issue actual only for helm v2.

[2020-03-27 16:08] pohly commented on #5100
My two cents: when following https://helm.sh/docs/intro/quickstart/, there's no mention of RBAC and the instructions there lead to a non-working installation of tiller. A google search then leads to this issue here.

Perhaps it can be reopened as "enhance quickstart guide so that it warns newbies about this pitfall"?

[2020-03-27 16:10] teoincontatto commented on #7697
@archonic The only approach I know is to actually delete the existing resource that is referenced in the error and upgrade.

Maybe some core maintainer (@bacongobbler?) can point out if a `--overwrite-existing-resource <kind>:<namespace>:<name>` parameter or something like that can be implemented or if there is some existing workaround to this problem.

[2020-03-27 16:13] pohly commented on #5100
There is "Deciding what security configurations to apply to your installation, if any" under prerequisites, but as I was just trying it out on a throwaway cluster, the "if any" implied to me that as I don't care, I don't need to do anything.

Even if I had noticed that I need to do something, there's no link to instructions.

[2020-03-27 17:10] Mister101 commented on #3249
Is this something that made it into v3?

[2020-03-27 17:14] bacongobbler commented on #3249
no

[2020-03-27 17:50] strainovic commented on #7819
@jdolitsky Yes, that's right.

Unfortunately, I'm unable to reproduce this problem. Maybe I forgot to save values.yaml before I ran upgrade.

I'm closing this issue now. If it happens again, I'll re-open it.

Thanks!

[2020-03-27 17:50] #7819 closed

[2020-03-27 18:22] kfox1111 commented on #7803
Fair. I made an assumption. Sorry. I don't actually know how many folks use helm within CI/scripts. But I just know that the vast majority of the users here are using it through CI. I believe its also considered as a best practice in the K8s general community to use CI to load in workload. Generally helm has worked very well in CI to do that.

Anyway, its just feedback on how to potentially make i

[2020-03-27 18:37] strainovic commented on #7819
I think it is related to this:

https://medium.com/@kcatstack/understand-helm-upgrade-flags-reset-values-reuse-values-6e58ac8f127e

If I change something in values.yaml and I want to upgrade my release, I have to add --reset-values or --values values.yaml (this will implicitly add --reset-values flag). Otherwise, changes in values.yaml will be ignored.

[2020-03-27 19:24] bitdancer commented on #7528
Not really.  IMO the point here is that there should be a *global* directory, AKA a Well Known system directory (such as /var/lib/helm) where global plugins are installed, and which helm would check without needing any alteration to the user's environment.  This is how most tailorable systems work in unix.

[2020-03-27 19:24] gsexton opened #7833 "helm get manifest generates invalid YAML"
Output of `helm version`: 3.1.2

Output of `kubectl version`:
Client: 1.15.5
Server: 1.15.5

## Steps to Reproduce:

Deploy Grafana with the prometheus operator dashboard: prometheus-operator/templates/grafana/configmap-dashboards.yaml

Execute the command:

helm get manifest containing-release-name

## Observed Behavior

The generated YAML has the unicode character #x1f510 (closed lock with key).

[2020-03-27 20:02] gsexton commented on #7833
Hmm, I didn't read the char table quite closely enough. 0x1f510 is in the allowed range. I need to look at my parser...

[2020-03-27 20:02] #7833 closed

[2020-03-27 20:15] technosophos commented on #1799
If you are running k8s 1.17 or 1.18, that error usually means that your kubeconfig is not pointed to the correct cluster (or your cluster's API gateway can't be reached).

Check out your KUBECONFIG file.

https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.18.md#no-really-you-must-read-this-before-you-upgrade-1

[2020-03-27 20:35] technosophos commented on #7828
Note that to add a column, you must add a flag (e.g. `--diff`) because changing default output formatting is considered a breaking change (since scripts parse and use this).

I went ahead and assigned this to you. Thanks!

[2020-03-27 20:41] technosophos commented on #7826
`helm install` can take a path to a local file. (e.g. on mac: `helm install ./mychart`

[2020-03-27 20:44] archonic commented on #7697
I was actually wrong about not changing the apiVersion. I didn't do it deliberately but this was in my ingress yaml:
[code]
Upgrading my gcloud components ended up upgrading my kubectl gitversion and downgrading did not downgrade my kubectl gitversion. I commented out the if statement there and the deploy worked. I'll delete the ingress and recreate it when I can afford the downtime.

[2020-03-27 21:45] technosophos commented on #7817
`helm history` on application-dev might also be useful.

[2020-03-27 22:09] technosophos commented on #7812
I'm taking a look at this.

@stephan2012 Can you drop in the contents of `spec.selector` for your DaemonSet named `fluent-bit`?

@nickdgriffin Can you drop in the contents of `spec.selector` for your Deployment named `chartmuseum-chartmuseum`?

[2020-03-27 22:29] jdolitsky commented on #7722
@TomasKohout do you have a previous version of helm (specific 3.x version) that works?

[2020-03-27 22:55] technosophos commented on #7812
I cannot reproduce against `dev-v2`. Here's what I tried:

- Create a new Kubernetes 1.17 cluster using Kind
- Install Helm 2 locally
- `helm repo update`
- Run `kubectl create ns dev`
- `helm init --service-account tiller --tiller-namespace dev`
- `helm install stable/chartmuseum --name chartmuseum --namespace foo --tiller-namespace dev`
- `helm status --namespace dev chartmuseum`
- `helm upgrade

[2020-03-27 23:09] TomasKohout commented on #7722
3.0.3 was without thouse warnings. I've tried all rc versions of 3.1.0. Those warnings occur on all of them.

[2020-03-27 23:19] technosophos commented on #7812
Update: I also ran this against 2.16.5 to see if the error was there, and could not reproduce with that version of Tiller, either.

[2020-03-27 23:38] technosophos commented on #7832
If you print `$.Template.Name`, you will see that the template name is prefixed with the chart name. Compare that to `$.Template.BasePath`. You can follow the instructions that @mattfarina posted, or else strip the prefix off of the template name.

By calling `include`, which actually executes the included template, you caused the error to happen recursively. That may have made it appear to be an

[2020-03-27 23:53] technosophos commented on #7821
The core issue is that a `helm package` command does not do a recursive build. It accepts anything in the `charts/` directory as definitive. It doesn't scan, rebuild, etc.

We should think through the ramifications of switching to a recursive build, and also whether it constitutes a breaking change.

[2020-03-27 23:58] technosophos commented on #7809
Fixing this would largely be a matter of writing regular expressions in `cmd/template.go` (Look for `showFiles`). I am marking it `good first issue` because I think someone new to Helm could probably give that a shot.

[2020-03-28 00:16] cep21 commented on #7821
Failing the build with a message in this case also seems fair.

[2020-03-28 00:39] technosophos commented on #7832
Oops... didn't mean to close that. Let me know if the issue is fixed. _Then_ I will close this. 😄

[2020-03-28 01:05] technosophos commented on #7807
The `Install` flag on `action/upgrade.go` does not do an install if the release is not present. See `cmd/upgrade.go` to see how `helm upgrade --install` works.

The `action`'s `Upgrade.Install` flag could definitely use some documentation. That is confusing.

[2020-03-28 01:06] technosophos commented on #7811
In all cases I could find, if a flag implies another flag, it says so in the documentation.

1. Force will use a replacement strategy on all resources that it finds existing already. Replacement means: If resource X exists, and the inbound version of X is different than the version in the cluster, and the two conflict, force the new X to overwrite the old X. This is the same as `kubectl apply --fo

[2020-03-28 01:46] consideRatio commented on #7811
Thank you for putting your mind into this @technosophos !

## Ideas on docs improvements
1. Add *all* to `--force` description: force *all* resource updates through a replacement strategy

---

Ah, I'm still quite confused about how it is works and therefor how it is suitable to use.
- I now understand _new resource_ as any resource rendered from the charts templates that was not deployed successf

[2020-03-28 10:15] stephan2012 commented on #7812
Sure, here it is:

[code]

[2020-03-28 10:29] obolobova commented on #7001
Same problem for me in 3.1.2.

[2020-03-28 10:51] obolobova opened #7836 "[helm3] helm template with --output-dir doesn't write template with a hook to file"
Output of `helm version`:
3.1.2

Output of `kubectl version`:
1.18.0

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
CentOS Linux release 7.7

The same problem still persists in Helm 3.1.2.
[https://github.com/helm/helm/issues/7001](url)

If a template contains hook annotation `helm template --output-dir mydir` works incorrectly.
It does not write generated text for template with a hook to the

[2020-03-28 13:53] tianchengli opened #7837 "helm upgrade is better to respect the live spec.replicas value"
we use helm to upgrade a release, usually, the change is just the app version, and keep others same as before. `spec.replicas` is a required field for `statefulset`, so we must include it in the Chart, or it will have a default value of `1` if we delete it from the Chart.

the current `helm upgrade` will overwrite the live `spec.replicas` which is dynamically updated by `horizontalpodautoscaler`,

[2020-03-28 16:36] abdennour commented on #4174
With Helm 2, all releases metadata are saved in Tiller.
With Helm 3, all releases metadata are saved as Secrets in the same Namespace of the release.
If you got "cannot re-use a name  that is still in use", this means you may need to check some orphan secrets and delete them :

[code]

[2020-03-29 11:43] Nitive commented on #7807
@technosophos, I can see that it works that way but there is two problems with that

1. To make `upgrade --install` from go sdk I have to repeat `cmd/upgrade.go` logic in my application
2. Like you said, current behavior is confusing and do not align with other actions

I could change the code to respect Install flag and create a PR, but it would be a breaking change. Minor one, but still. If I do

[2020-03-29 16:00] Jean-Baptiste-Lasselle opened #7838 "Binary releases content trust"
Output of `helm version`: `2.16.5`

Output of `kubectl version`: no need of any `kubectl` infos to accurately describe my issue, plus it would not make sense to.

Cloud Provider/Platform (AKS, GKE, Minikube etc.): same as for `kubectl`

Hi Helm Team, my issue is about installing helm, sha256sums of downloadable released binaries are corrupted or not managed :

[code]

So now I am bound to build he

[2020-03-29 16:00] Jean-Baptiste-Lasselle commented on #7623
Hi kind of smiling here because :
* I don't think it is what is the issuer talking about
* I have the same problem that seem to you have :smile: : sha256sums of downloadable released binaries are corrupted or not managed :

[code]

So I opened an issue : https://github.com/helm/helm/issues/7838

[2020-03-29 16:04] Jean-Baptiste-Lasselle commented on #7838
Worth mentioning, I _had_ to open this issue to be able to justify additional workload due to this issue, to my management, plus to justify opening an entire pipeline infra so server costs etc...  :

Without that, to explain, my management would go completely crazy : How can it cost so many servers to just deploy _one_ software to production ...???

[2020-03-29 16:06] Jean-Baptiste-Lasselle commented on #7838
What I propose : same signature on both binaries and not on binaries, but on the checksum files of binaries, as it is the case for example for `kubeone`.

[2020-03-29 16:40] Jean-Baptiste-Lasselle commented on #7838
Also what I want to mention to the Helm Team, is that I opened an issue related to this mechanism ont the `terraform` project, that you might want to take in considerations when dealing with this security feature, see https://github.com/hashicorp/terraform/issues/24498

[2020-03-29 17:53] DanOfir commented on #7090
@naseemkullah , i just hit the same issue, i am using helm 3.1.2, i couldn't understand from the thread how to avoid or what is the workaround for this behavior,  on every deploy when i am using HPA to pod count go down to defined replica set in the deployment manifest, or go down to 1 if i omit it from the manifest.

[2020-03-29 18:50] naseemkullah commented on #7090
Hi @DanOfir, so the workaround is to add an if statement around the deployment's `spec.replicas` to not template it if HPA is enabled as done in this PR https://github.com/rimusz/charts/commit/dc1b5f64282e1df3dc7d096f3f9a3ac5d6494af4#diff-5f759fc4e425d98b09bce05ac44d0c78

[2020-03-29 19:31] DanOfir commented on #7090
got it! thanks @naseemkullah

[2020-03-29 19:33] DanOfir commented on #7837
https://github.com/helm/helm/issues/7090#issuecomment-605682145

[2020-03-29 22:21] adamko147 opened #7839 "Support to keep resources during `helm upgrade`"
When working with service mesh systems (e.g. istio), it's often common practice you have multiple versions of service deployed (e.g. istio bookinfo sample app has 3 deployments of reviews app named reviews-v1, reviews-v2, reviews-v3). In real life the versions are not deployed at the same time, of course. If the deployment name in chart includes version (e.g. reviews-v1) it's not possible to deplo

[2020-03-29 23:31] michael-wirth commented on #6161
same issue with helm v.3.1.2

[2020-03-30 03:05] tianchengli commented on #7090
I would doubt the workaround can really work,  if you omit `spec.replicas`, actually k8s will set it to 1.

https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#deploymentspec-v1-apps

replicas integer | Number of desired pods. This is a pointer to distinguish between explicit zero and not specified. Defaults to 1.
-- | --

I experimented omitting `spec.replicas` in a statefulset,

[2020-03-30 03:13] naseemkullah commented on #7090
It does work @tianchengli . Try it with an HPA, it won't be `1` it will (try to) be the HPA's desired replica count.

[2020-03-30 08:12] hickeyma commented on #7837
@tianchengli Is this answered in https://github.com/helm/helm/issues/7090#issuecomment-605759355 by @naseemkullah ?

[2020-03-30 08:21] rrmuchedzi commented on #3460
First, make sure you have, you have Docker and Kubernetes setup, then run (Replace <YOUR_USER> with your host Username)

mkdir -p ~/.kube
ln -sf /mnt/c/users/<YOUR_USER>/.kube/config ~/.kube/config

Then run,
helm init

[2020-03-30 08:34] hickeyma commented on #4174
@abdennour An update on https://github.com/helm/helm/issues/4174#issuecomment-605485703.

Helm v2 stores release data as ConfigMqps (default) or Secrets in the namespace of the Tiller instance ( `kube-system` by default)

It could be retrieved with the command:
`kubectl get configmap/secret -n <tiller_namespace> -l "OWNER=TILLER"`

For example:
[code]

The name is the release version/revision and

[2020-03-30 08:54] tianchengli commented on #7090
just verified that the `statefulsets` works with your way. @naseemkullah

I remained `replicas` field but no value like below, it resulted in setting replicas to `1`.
[code]
If I remove `replicas` field completely, it will respect the replicas number managed by HPA.

[2020-03-30 08:56] tianchengli commented on #7837
remove `replicas` field completely, it will respect the replicas number managed by HPA.

[2020-03-30 08:58] tianchengli commented on #7837
@hickeyma yes, the workaround there works for me. thanks.

[2020-03-30 08:58] #7837 closed

[2020-03-30 09:05] ocofaigh commented on #6023
I hit what looks like the same thing deploying one of our own microservcie using helm v2.14:

[code]

Did anyone confirm that this is a Helm issue?

[2020-03-30 09:21] hickeyma commented on #7839
The `helm.sh/resource-policy: keep` hook is currently available in Helm: https://helm.sh/docs/topics/charts_hooks/#hook-resources-are-not-managed-with-corresponding-releases

It is implemented both for `upgrade` and `delete` in Helm v2. PR #5225 might need to be ported to v3 (for `upgrade`).

Does this support your use case?

[2020-03-30 09:22] munnerz commented on #7735
What's the best way to get this surfaced/raised to the wider Helm community/team?

There's more and more places/people that are running into issues deploying our controller apps due to us having to ship separate CRD manifests (see above! 😅) (i.e. they try and deploy into an alternate namespace, which requires manual edits to these CRDs). The majority of our users *want* a Helm chart, but these lim

[2020-03-30 09:31] cylewitruk commented on #7756
Also ran into this, but I'm not sure (at least in my case) that it has to do with values files not being taken into account.  It looks like there's two passes and provided values are only being used in one of them.

I'm trying json schema validation for the first time on a new chart and I'm seeing that it's outputting errors _twice_.  I've also tossed in a "bug" (`{{ asdf }}`) in one of the templa

[2020-03-30 09:36] hickeyma commented on #7735
Hey @munnerz. Would you like to pitch the proposal at Thursdays dev meeting: 9:30-10:00AM Pacific (https://zoom.us/j/696660622)?

[2020-03-30 10:00] seeruk commented on #7812
I've just hit this with 2.16.5, downgrading to 2.16.3 and everything is fine. In my case, I'm running Helm as part of an automation script to install / upgrade a bunch of stuff in my cluster. I get to upgrading Istio and it fails (after succeeding with 2 other apps):

[code]

[2020-03-30 12:09] nickdgriffin commented on #7812
@technosophos :
Certainly, here it is:
[code]
We also had it with two DaemonSets:
[code]
[code]

[2020-03-30 12:34] brempusz commented on #4431
Still an issue in 3.1. It would be nice to update the documentation  (this part: `This can take chart archives and chart directories as input. It will not alter the contents of a chart.`) and mention, that in case of archives "STATUS" is always "missing".

[2020-03-30 12:44] adamko147 commented on #7839
@hickeyma potentially yes, however I would like to keep the resources managed by helm, so I can take advantage of helm actions like `delete`, `rollback` etc ...
The desired behavior would be sth like
[code]
during upgrade, I would like to keep the deployment-v1, so
[code]
Also, helm rollback and delete would work as the deployment is part of the chart
[code]
and
[code]

I've already tried to play

[2020-03-30 13:00] remcohaszing commented on #7214
It appears to work for `helm install --dependency-update`, but not for `helm dependency build`.

[code]

[2020-03-30 13:23] mattfarina commented on #7838
@Jean-Baptiste-Lasselle The existing Helm v2 digest can be a bit difficult to work with. You are absolutely right. In Helm v3 we now have `.sha256sum` files for each download that is compatible with `shasum` and `sha256sum`. You can see an example [here](https://get.helm.sh/helm-v3.1.2-darwin-amd64.tar.gz.sha256sum). The new files already follow [the format you suggested](https://github.com/helm/h

[2020-03-30 13:33] hickeyma commented on #7839
If I understand this correctly @adamko147, does `helm.sh/resource-policy: keep` retain resources for all your use cases except `rollback`?

[2020-03-30 13:38] mattfarina commented on #7836
I've replicated this bug on the tip of master. The linked issue that previously reported this and was closed does not appear to have a PR in 3.1.0 where it says it was fixed.

@obolobova thanks for reporting this.

[2020-03-30 13:46] mattfarina commented on #7812
@technosophos Can you make sure to test against Kubernetes 1.15. This appears to be the Kubernetes version where it was reported from. I've found issues in 1.15 that do not show up in 1.16 or newer around this.

[2020-03-30 14:03] adamko147 commented on #7839
Seems yes, investigation the rollback now.

[2020-03-30 14:33] hickeyma commented on #7839
Resources will be deleted if the keep is removed.

[2020-03-30 14:46] adamko147 commented on #7839
so for delete I need `pre-delete` hook to exec `kubectl annotate deployments -l "part-of: chart" helm.sh/resource-policy-`... That could work. Thanks!

[2020-03-30 14:59] hickeyma commented on #7214
@remcohaszing Thanks for details. I think in this circumstance the `dep build` should work as the `dep update` does and ignore that the repo that is not in the list.

[code]

[2020-03-30 15:00] micseydel commented on #2064
Nothing in this thread helped me with the issue, although restarting Docker fixed it.

[2020-03-30 15:07] hickeyma commented on #7839
I think it would be beneficial to update the issue to better describe the issue to the community.  What do you think about calling it a feature with title of "Add support to keep resources during `helm rollback`"?

[2020-03-30 15:26] mattfarina commented on #7812
@stephan2012 @nickdgriffin @seeruk and anyone else experiencing this... can you please test #7840.

Note, I am unable to replicate this. I've tried on 1.15 and in various ways. This PR is based on cases where the object would not be available.

[2020-03-30 15:50] adamko147 commented on #7839
I think the `helm rollback` is another issue. So far it seems to me that resource annotated with "helm.sh/resource-policy: keep" fails the rollback. the debug log from `helm rollback` is
[code]
deployment `backend-app-r1` was created during install `v1`, but I would expect the `rollback` to delete `backend-app-r2` as that is what was deployed by second release `v2`.
I will create a separate issue

[2020-03-30 15:53] mattfarina commented on #7796
@anshulvermapatel you are right that this isn't the best way. Here are a couple things I notice...

1. `os.Args[1]` is not always going to be the command. If a flag comes before the command it will be the first of those.
2. There are more commands than `help` and `version` that don't need the kubeconfig or even the action configuration. [You can see a list here](https://github.com/helm/helm/blob/9

[2020-03-30 15:55] adamko147 commented on #7839
I think if the rollback found the resources from v1 and wouldn't stop exception, `v2` would be kept anyway due to "keep" policy, at least I think that `KubeClient.Update` is used in rollback as well

[2020-03-30 16:23] framled commented on #7697
I have the same issue, I change the apiVersion of istio virtualService and get the same issue.

The only approach is like @teoincontatto says, delete the pods and deploy again.

[2020-03-30 16:32] mattfarina commented on #7821
@technosophos would it make sense to do this as a new flag on the `--package` command?

[2020-03-30 18:31] cccs-cat001 opened #7841 "Error converting YAML to JSON"
Output of `helm version`: version.BuildInfo{Version:"v3.0.3", GitCommit:"ac925eb7279f4a6955df663a0128044a8a6b7593", GitTreeState:"clean", GoVersion:"go1.13.6"}

Output of `kubectl version`: Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.2", GitCommit:"59603c6e503c87169aea6106f57b9f242f64df89", GitTreeState:"clean", BuildDate:"2020-01-18T23:30:10Z", GoVersion:"go1.13.5", Comp

[2020-03-30 18:46] bacongobbler commented on #7841
can you try with a newer version of Helm? In more recent versions, Helm will display the YAML output if the --debug flag is present with `helm template`.

Line 107 is referring to the rendered YAML output (in other words, the YAML generated after running through the template engine), not the template itself.

[2020-03-30 19:01] cccs-cat001 commented on #7841
Hi!

First of all, love the username :ok_hand:

I upgraded to `version.BuildInfo{Version:"v3.1.2", GitCommit:"d878d4d45863e42fd5cff6743294a11d28a9abce", GitTreeState:"clean", GoVersion:"go1.13.8"}
`

Still the same issue. It didn't output yaml..
[code]

[2020-03-30 19:12] bacongobbler commented on #7841
Ah, my apologies! https://github.com/helm/helm/pull/7556 was merged but it's slated for v3.2.0. If you try the canary release, you should see that output.

https://helm.sh/docs/intro/install/#from-canary-builds

[2020-03-30 19:13] mattfarina commented on #7841
@cccs-cat001 Without seeing the chart I have to guess at it. What this appears to be is a case where the template isn't being rendered as valid yaml. There are still template bits parts in it. In this case "line 107" isn't for your template but of the rendered yaml.

[2020-03-30 19:16] nickdgriffin commented on #7812
Except I'm on 1.13.12, so the issue is present there too.

I'll see if I can find time to this week.

[2020-03-30 22:03] technosophos commented on #7812
I reviewed the code @mattfarina produced, and will merge it as soon as I can get confirmation that it fixes the issue

[2020-03-30 22:22] technosophos commented on #7812
@nickdgriffin @stephan2012 Okay, we're still hunting this down. Do you happen to have the `apiVersion` fields on the failed Deployment and DaemonSet objects? We are checking whether this is an API conversion failure (which is why it would show up only on very specific combinations of Helm and Kubernetes).

[2020-03-31 00:24] Nowaker commented on #5144
`helm upgrade --install` is expected to be idempotent. This is another case when it will fail.

[2020-03-31 01:00] bacongobbler commented on #5144
Do you observe this behaviour with helm 3? The 3-way merge patch strategy should solve this design issue.

[2020-03-31 01:03] Nowaker commented on #5144
@bacongobbler We're still on 2.x. Is 3.x a drop-in replacement for 2.x, in terms of using the same YAML templating syntax and the same CLI parameters?

[2020-03-31 01:42] yelhouti commented on #7839
I was wondering why I couldn't do this, and here you are asking for the same thing. This quit useful for storing a database password in a secret and having the database and it's dependents keep working on upgrade (without hard coding the password in the config)
I would love having this features +1

[2020-03-31 02:57] waveywaves commented on #7836
/assign

[2020-03-31 02:57] waveywaves commented on #7836
/assign waveywaves

[2020-03-31 05:36] hickeyma commented on #5144
@Nowaker It is pretty much backward compatible with chart format and CLI. Have a look at Helm docs on [changes](https://helm.sh/docs/faq/#changes-since-helm-2) and [Helm 3 blog](https://developer.ibm.com/technologies/containers/blogs/kubernetes-helm-3/) for more details.

[2020-03-31 05:39] Nowaker commented on #5144
@hickeyma Thanks for your guidance, will take a look!

[2020-03-31 05:56] hickeyma commented on #7839
@yelhouti Did you try using the `helm.sh/resource-policy: keep` (hook)[https://helm.sh/docs/topics/charts_hooks/#hook-resources-are-not-managed-with-corresponding-releases]?

[2020-03-31 06:08] yelhouti commented on #7839
@hickeyma it is actually not what I want, I want it the secret to be delete if I uninstall the chart, but not changed if I upgrade...

[2020-03-31 07:06] stephan2012 commented on #7812
@mattfarina: I had trouble to compile from source yesterday. Will provide the apiVersion shortly.

[2020-03-31 09:07] TomasKohout commented on #7722
I think that this is actually a regression so it should be labeled accordingly. Also creating 3000 clients is not a very good practice. Why does Helm needs so much clients?

[2020-03-31 09:11] TomasKohout commented on #7770
Hi @korjek,

I think that this is actually a feature.  Since you can manage your dependencies manually (put them into charts folder) Helm suppose that you want to deploy it. I agree that it could be nice if helm dep up command could leave only those dependencies in requirements.yaml/Chart.yaml.

[2020-03-31 09:23] stephan2012 commented on #7812
@technosophos:

[code]

[2020-03-31 09:45] OojaxoO opened #7842 "go get helm.sh/helm/pkg/action faild"
Output of `helm version`: 3.1.2

Output of `kubectl version`: 1.13.5

Cloud Provider/Platform (AKS, GKE, Minikube etc.): centos

$go get helm.sh/helm/pkg/action
package helm.sh/helm/v3/internal/experimental/registry: unrecognized import path "helm.sh/helm/v3/internal/experimental/registry" (parse https://helm.sh/helm/v3/internal/experimental/registry?go-get=1: no go-import meta tags ())
package he

[2020-03-31 09:52] Yannig opened #7843 "Helm upgrade with --install option"
Output of `helm version`:

    version.BuildInfo{Version:"v3.1.2", GitCommit:"d878d4d45863e42fd5cff6743294a11d28a9abce", GitTreeState:"clean", GoVersion:"go1.13.8"}

Output of `kubectl version`:

[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

I think all versions (confirmed on EKS/Kops/AKS/Minikube)

I'm using `helm upgrade` with the `--install` option to use the same command in any c

[2020-03-31 10:30] nickdgriffin commented on #7812
@technosophos:
[code]
[code]

[2020-03-31 11:26] hickeyma commented on #7842
@OojaxoO Can you try this instead:  `go get helm.sh/helm/v3`?  You might need to do the following replacement also:

[code]

[2020-03-31 11:52] hickeyma commented on #7843
@Yannig I have been unable to reproduce this issue with the latest code in master. I tested as follows with a simple chart:

[code]

Do you mind showing an example of the issue to get a better understanding of the problem?

[2020-03-31 11:56] cccs-cat001 commented on #7841
I found the issue. My command list (95-98) was not enjoying being in quotes. I removed the quotes and everything worked fine.

[2020-03-31 12:09] hickeyma commented on #7841
Nice catch @cccs-cat001. Looking at the test pod in the scaffold chart, it is as follows:

[code]

[2020-03-31 12:40] Freyert opened #7845 "action.Install installs chart in Namespace, but deploys in kubecontext namespace."
I'm using the Go SDK. It's way easier to use now that we're not establishing tunnels to Tiller and everything appears much tidier. It seems though there might be some leaks in the abstraction to plug up though?

So I'm setting the Namespace like so:

[code]
My chart is registered in the Namespace I specify, but the resources are all deployed in the `default` namespace.

I've read some other issues

[2020-03-31 12:47] Freyert commented on #7845
So it looks like the reason helm installs the chart config in the namespace I specify comes from here:
https://github.com/helm/helm/blob/v3.1.2/pkg/action/action.go#L223

Which I am doing.
[code]

[2020-03-31 12:55] Freyert commented on #7845
Logging the release indicates that the `Namespace` is not being added to the rendered documents.

[code]

[2020-03-31 13:08] jchomat commented on #7812
Hey,

Just facing this issue when upgrading to 2.16.5 :

apiVersion: extensions/v1beta1 for my deployment.
rolling back to 2.16.3 solved my problem

Hope it can help !

[2020-03-31 13:49] mattfarina commented on #7845
I'm glad the client experience works better for you.

The Helm CLI uses the SDK. Have you looked at how that's working? If not I would look at two places. First, there is the code where the install command happens. You can find it at https://github.com/helm/helm/blob/v3.1.2/cmd/helm/install.go. Then there is where action config is initialized. You can find that at https://github.com/helm/helm/blob

[2020-03-31 13:51] mattfarina commented on #7841
@cccs-cat001 glad to hear you worked it out. I'm going to close this issue. If this isn't really solved or you need something else please file another issue.

[2020-03-31 13:51] #7841 closed

[2020-03-31 13:56] Freyert commented on #7845
@mattfarina I think I'm getting close to fixing this using the debugger. I've been following what the CLI does and with the debugger when it comes into `renderResources` the `Release` object in `chartutil.Values` has an empty `Namespace`.

![image](https://user-images.githubusercontent.com/449155/78034526-da3b4600-7335-11ea-896a-6351a3f7d73f.png)

[2020-03-31 14:00] karuppiah7890 commented on #7845
Looks like namespace is not properly exposed to be set 😅 I think the main field to look over here is this one

https://github.com/helm/helm/blob/v3.1.2/pkg/cli/environment.go#L41

and I can see that it gets set by the `-n` flag here

https://github.com/helm/helm/blob/v3.1.2/pkg/cli/environment.go#L64

and how it's accessed over here

https://github.com/helm/helm/blob/v3.1.2/pkg/cli/environment.go#

[2020-03-31 14:02] apanagiotou commented on #7048
Hey @sco11morgan. Have you managed to make schema work across charts? I have a similar case where I have a library chart that other charts use as a dependency. I want to have some validations inside the library chart so I've put the `values.schema.json` file in it but the validation doesn't work when trying to install the service charts.

[2020-03-31 14:06] hickeyma commented on #7845
@Freyert The 2to3 plugin sets it as follows: https://github.com/helm/helm-2to3/blob/master/pkg/v3/connect.go#L42

[2020-03-31 14:09] Freyert commented on #7845
More debugger findings:

from `action.Install.Run`
![image](https://user-images.githubusercontent.com/449155/78035942-b973f000-7337-11ea-87e6-07e68aeac015.png)

[2020-03-31 14:10] Yannig commented on #7843
Using your example, can you try to launch the helm deployment using the following command:

    cat prod.yaml | helm upgrade --install chrt-7843 chrt-7843/ -f -

[2020-03-31 14:19] Freyert commented on #7845
So from watching the debugger the namespace isn't being passed correctly here:

https://github.com/helm/helm/blob/master/pkg/chartutil/values.go#L144-L151

![image](https://user-images.githubusercontent.com/449155/78037099-191ecb00-7339-11ea-9814-3789ef71023f.png)

[2020-03-31 14:22] bacongobbler commented on #7845
One note to add here: it’s intentional that the namespace is not added to the manifests. It’s not required; you just need to set the kube client’s namespace parameter and the resources will be installed in the intended namespace: https://github.com/helm/helm/blob/master/pkg/kube/client.go#L136

In your code, how is your `kube.Client` initialized?

https://github.com/helm/helm/blob/master/pkg/cli/e

[2020-03-31 14:27] Freyert commented on #7845
I might be trimming some stuff out here from what I followed the CLI doing.

First initialize the settings the way the CLI is doing it because I don't really care to invent a new and nifty way to get config.

[code]

Another pretty much straight rip from the CLI code.
[code]

[2020-03-31 14:32] bacongobbler commented on #7845
Try setting this parameter...

https://github.com/helm/helm/blob/master/pkg/kube/client.go#L61

[2020-03-31 15:09] Freyert commented on #7845
Looks like the reason those values are undefined in my screenshots from the debugger is because it can't properly evaluate the interface. So that's probably not the problem.

I'll try setting this parameter will have to dig around and figure out how.

[2020-03-31 15:17] Freyert commented on #7845
So quickest hackiest way to do it with my current setup which tries to emulate the CLI is to add:

`os.Setenv("HELM_NAMESPACE", "mongodb-integration")` before every re-initializing the envConfig which would have to be done on every new release deployed.

[2020-03-31 15:24] timothyclarke commented on #3555
I read through a bunch (not all) of the discussion above, so sorry if I'm repeating some points / views. I'm trying to put forward a more considered response.

I like seeing appVersion when I do a `helm ls`  and conceptually moving from `.Values.image.tag` was a good one BUT not being able to set it at deployment time is a real show stopper and is something I've had to revert back to.

I'm firmly

[2020-03-31 15:25] #7369 closed

[2020-03-31 15:26] Freyert commented on #7845
I would expect setting the `Release` namespace to be respected in this case though as that variable is used in the chart as seen [here](https://github.com/helm/charts/blob/master/stable/mongodb-replicaset/templates/_helpers.tpl#L83-L93).

And why would you set `client.Namespace = settings.Namespace()` if it doesn't do anything?

https://github.com/helm/helm/blob/3706aa7ca666fda6d8301c55118fa1c092f

[2020-03-31 15:27] hickeyma commented on #7369
PR #7381  merged.

[2020-03-31 15:36] Freyert commented on #7845
Seems like there's a lot to unpack here and the gist of it is it's probably not good to use the CLI's EnvironmentSettings function when driving the SDK. It seems to have a `run once` approach which works well for an invoked CLI, but not great from an SDK standpoint. That's just the perception I'm developing though.

[2020-03-31 15:37] hickeyma commented on #7843
@Yannig Thanks for the update on the issue. I can reproduce it now:

[code]

[2020-03-31 15:40] timothyclarke commented on #7517
@kfox1111 It's the other end of the process (install / upgrade) that is causing most people the pain. When you're packaging a chart you can easily modify the appVersion.
eg
[code]

In my experience it's when people want to install / upgrade that they want to use a specific docker tag.
Note the code segment provided is part of `templates/deployment.yaml`

[2020-03-31 15:43] hickeyma commented on #7843
Duplicate of #7002

[2020-03-31 15:44] hickeyma commented on #7843
@Yannig While digging around, I found that this issue was already opened. So, closing as a duplicate of #7002. You can add any extra comments to that issue.

[2020-03-31 15:44] #7843 closed

[2020-03-31 15:54] kfox1111 commented on #7517
Both use cases need to be covered I think..

I have had need to override appVersion at install/upgrade time for sure.

That sed line works, and I've used it, but is kind of a hack. the same hack could be used for installing/upgrading as well, but its also ugly for the user:
[code]
I'm not recommending it.

If charts are going to use appVersion in their templates, upgrade/install/package all should

[2020-03-31 16:04] bacongobbler commented on #7845
The namespace parameter is used in a few places across the install action. The kubernetes client is a separate client that needs to be initialized separately, which is probably why there's a bit of confusion over what that parameter does in this case since the kube client is initialized prior to calling the install action.

For example:

- we use it to set the in-memory driver's namespace on `--dr

[2020-03-31 17:07] Freyert commented on #7845
@bacongobbler looks like it's in my best interest do explore that :D). Thank you for all this detail and opening the floor for a PR.

My personal feeling is that whatever the solution for the SDK is should also be leveraged by the CLI since that is currently the best way for new SDK users to understand how to use the SDK.

My very narrow vision here is to add a `Namespace(n string)` function to th

[2020-03-31 19:06] timothyclarke commented on #7517
Only if you download and edit the chart. If you're going to mandate that people need to download and edit the chart which begs the question why does helm allow you to install a chart from a remote repo without forcing the download and unpack first ?

The other approach is why use `appVersion` at all? The older methods used `image.tag` which could be used at deployment time.

I completely agree wit

[2020-03-31 19:13] gfvirga opened #7846 "update runc dependency"
Hello, any way to update the go mod github.com/opencontainers/runc to use the latest version?
It's getting listed in our vulnerability scanners for us.

Output of `helm version`:
[code]

Output of security scanner.
1.0.0-rc7
Summary
runc through 1.0-rc6, as used in Docker before 18.09.2 and other products, allows attackers to overwrite the host runc binary (and consequently obtain host root access

[2020-03-31 19:48] bacongobbler commented on #7846
Hi @gfvirga. In the future, please reach out using the proper channels to disclose potential security risks. See https://github.com/helm/helm/blob/master/CONTRIBUTING.md#reporting-a-security-issue for more details.

Okay, back to the issue.

Looking at Helm's source code, Helm only uses runc's as a sub-sub-dependency of [oras](https://github.com/deislabs/oras), which in turn uses [containerd](http

[2020-03-31 20:16] technosophos commented on #7846
As a double-check, yes, it appears that Helm is not directly affected by the bug, which occurs only _when a container is run_, which Helm does not do at all, ever.

I have changed the issue title to better reflect the nature of the problem.

[2020-03-31 20:40] technosophos commented on #7846
@jdolitsky Do you want to upstream this with ORAS? @radu-matei warned me that simply bumping runc versions could be a bad idea

[2020-03-31 21:20] ramrodo commented on #7007
Hi @ggarson,

I'm facing the same problem and it looks like this feature will take a while to be included.

I'm interested in the workaround you mention. How it could look like? It could be great to have this workaround for anyone who is facing this problem too.

[2020-03-31 21:29] gfvirga commented on #7846
@bacongobbler, thank you responding so quickly and I apologize for not using the proper channel, it won't happen again.

[2020-03-31 21:42] arianaw66 opened #7847 "Chart.dependencies is nil for chart with several known dependencies"
`dependencies` field of helm Chart (https://github.com/helm/helm/blob/master/pkg/chart/chart.go#L52) is nil when it has several known dependencies.
Chart object was created using NewList constructor (https://github.com/helm/helm/blob/master/pkg/action/list.go#L132) and Run (https://github.com/helm/helm/blob/master/pkg/action/list.go#L140).
Then `releases[0].Chart.dependencies` was nil (where `rele

[2020-03-31 21:59] bacongobbler commented on #7847
As implied by the [JSON meta tags](https://blog.golang.org/json) present in the Chart struct, the `Dependencies` is not saved when the chart is saved in the release object. It is therefore impossible to fetch the dependency tree using `helm list`.

This was intended as a way to save space in the release object. Kubernetes only allows 1MB of metadata to be stored in each object, and Helm requires a

[2020-03-31 22:05] bacongobbler commented on #7847
closing as a wontfix. This is an intentional design decision to work around Kubernetes' limitation of 1MB storage space. Thanks.

[2020-03-31 22:05] #7847 closed

[2020-03-31 22:07] technosophos commented on #7821
@mattfarina yeah -- that would be fine

[2020-03-31 23:44] marckhouzam commented on #7796
PR #6915 tries to limit the call to `actionConfig.Init()` to only those commands that need it.  It does so by creating a map of all relevant commands (https://github.com/helm/helm/pull/6915/files#diff-f1c3ff8851f4e702c61ff00f3d76583bR249).  I don't find that approach easy to maintain however, but I couldn't come up with another that would keep the call to `actionConfig.Init()` central.

Along the

[2020-04-01 02:01] OojaxoO commented on #7842
I want to write an http interface for helm, so i want to run "go get helm.sh/helm/v3/action", but it's faild: 'package helm.sh/helm/v3/internal/experimental/registry: unrecognized import path "helm.sh/helm/v3/internal/experimental/registry" (parse https://helm.sh/helm/v3/internal/experimental/registry?go-get=1: no go-import meta tags ())'

you say replace something  but i don't quite see your poin

[2020-04-01 02:12] Jean-Baptiste-Lasselle commented on #7838
HI @mattfarina
A quick first msg to say I very much appreciate the time and attention payed to this issue, so quickly : I indeed do care about bringing helm with the highest trust standards to my customers.

I will work with all informations you gave, and give you a feedback asap.

[2020-04-01 02:29] heydonovan commented on #7817
Dang, couldn't reproduce. Just never seen `helm upgrade --install` fail like that before.

[2020-04-01 02:35] bacongobbler commented on #7817
Closing for now. Please reopen once you can reproduce. Thanks

[2020-04-01 02:35] #7817 closed

[2020-04-01 03:11] Hedingber commented on #7537
This bug is really painful !
It is becoming a common use case to use the helm chart to install CRDs as an administrative action, before installing the application that uses it, and due to this bug it's impossible with helm v3.
Note that the docs (https://helm.sh/docs/chart_best_practices/custom_resource_definitions/#method-2-separate-charts) are also pointing to have separate charts, one only for

[2020-04-01 05:03] mforutan commented on #5358
The approach I took was to combine `global` variables with `namespaceOverride` so it can be overridden from multiple level in umbrella charts,

In the scenario below when an umbrella chart has a dependency and its dependency has its own dependency, just overriding nemespace on the first level is not flexible enough and will result in moving `chart-1` to `name-space-2` but `chart-2` will be still i

[2020-04-01 06:05] songeddy commented on #3347
restart tiller then success

[2020-04-01 07:07] hickeyma commented on #7842
@OojaxoO What is the output when you run `go get helm.sh/helm/v3`?

[2020-04-01 07:11] acaire opened #7849 "Proposal: Post-Render Args or Env Vars"
Post render functionality implemented in #7260 is awesome (thanks @thomastaylor312).  I (want to) manage my helm charts with Helmfile and Kustomize and don't want to rely on having to necessarily parse manifests from `stdin` or duplicate the render script for each app, instead favouring something simple and generic like so (thanks again @thomastaylor312 😆 ):
[code]

With an example file structure

[2020-04-01 07:36] Yannig commented on #7843
@hickeyma Thanks for your feedback.
I did a small PR to fix this issue. https://github.com/helm/helm/pull/7851

[2020-04-01 08:25] xUnholy commented on #7572
@hickeyma bump.

[2020-04-01 09:09] OojaxoO commented on #7842
package helm.sh/helm/v3/internal/experimental/registry: unrecognized import path "helm.sh/helm/v3/internal/experimental/registry" (parse https://helm.sh/helm/v3/internal/experimental/registry?go-get=1: no go-import meta tags ())

[2020-04-01 10:03] OojaxoO commented on #7842
now   it's ok

[2020-04-01 10:03] #7842 closed

[2020-04-01 11:17] son4etyyy commented on #5595
@peterholak The "first release failing" scenario is sometimes also done with a CI/CD and for example - we have restricted access to our cluster and can't even make a "helm ls" how are we supposed to "manage this"?

[2020-04-01 12:00] Ygshvr commented on #2916
I am facing the same issue. But this is only appearing when one automation is running multiple helm charts together. This is the error that we are getting:

[code]

[2020-04-01 19:02] thomastaylor312 commented on #7849
Hey @acaire thanks for the proposal! Can you document a bit more what the user interaction would look like from the CLI perspective? I think I have it figured out by looking at code, but I would like to see it documented in this proposal so people can comment on it from the UI side of things.

My initial worry here is that we are reinventing full argument parsing to do this, which feels a bit dang

[2020-04-01 21:57] anshulvermapatel commented on #7796
@marckhouzam @mattfarina , I think creating a map is a brilliant idea and it is better that writing `actionConfig.Init()` in each commands' `RunE()` and also it is central.
[code]
This was done by adding -
[code]
Where `action.ConfigRequired(subCmd *cobra.Command)` is a function created in `action` package where it contains the map and set the Boolean for each command.

It works good. But, suppose

[2020-04-01 22:25] acaire commented on #7849
Thanks! And agreed. I came up with Env vars as an alternative method right before submission but had already created the proof of concept.  It's probably a better fit IMHO. Regardless, I'll work on a stronger use case and proposal and update back here in a day or two.

[2020-04-01 23:41] technosophos commented on #7796
I believe this issue is solved by #7831

[2020-04-02 02:20] philomory commented on #7710
Yeah, the alias in `Chart.yaml` is supposed to be an alias for the resulting chart (i.e. the name of the subdirectory inside the `charts/` directory), it's not supposed to have anything to do with repository aliases that you get from `helm repo add`; it's worth noting that this already works correctly in `helm dependency update` even if you've ever called `helm repo add` at all.

[2020-04-02 03:32] technosophos commented on #7754
_tl;dr: I am generally in favor of the proposal, but would like to discuss some changes. Most importantly, I would prefer a dedicated `images.yaml` file to changing Chart.yaml. This provokes several design changes._

This is probably going to be long. I took a look through the Helm code these last few days to see how much of this we could support. I also spent some time on CNAB and related tools t

[2020-04-02 04:20] xkdidl commented on #6969
this change is good for me too. :)

[2020-04-02 05:05] donggangcj commented on #7836
Hi @ware you still interested in working on this issue?

[2020-04-02 07:00] mforutan commented on #6864
I've encountered the exact same issue today, in my case, looks like the issue is my local directory folder, this error is only happening in a particular directory, if I move to another directory it will be fine! which is very odd! the directory name ends with `/kubernetes`, even changing the folder would fix the issue!

[2020-04-02 08:53] acaire commented on #7849
@thomastaylor312, here's a practical example of what I'm trying to solve.  I'm using Helmfile which effectively wraps this command:
[code]

This shows me what the rendered chart template would look like.

Let's say for example instead of 2 replicas, I want 200 (for simplicity sake, pretend I'm a YAML purist) except I don't want to fork the chart. So I elect to use Kustomize instead (as per your ex

[2020-04-02 09:24] nokia-t1zhou opened #7855 "YAML merge key not working in helm 2.15"
hi,

in the helm 2.15 version , the YAML merge key can't working, i used it in value.yaml, but --dry-run is failed
YAML merge key definition refer to:
https://yaml.org/type/merge.html

such as
[code]
but in helm 2.13 version, this value.yaml can working, so please help me

Output of `helm version`:
2.15

[2020-04-02 10:59] anshulvermapatel commented on #7796
@technosophos , I cloned the repo, switched to that branch and build it. I still see the warning message.
[code]

[2020-04-02 14:34] mattfarina commented on #7812
This has been a problem for us to duplicate to fix. Can anyone experiencing this please test https://github.com/helm/helm/pull/7840 and see if it provides a fix.

[2020-04-02 14:35] mattfarina commented on #7812
Note, the developer guide for v2, including compiling and running tiller locally to test, can be found at https://v2.helm.sh/docs/developers/.

[2020-04-02 14:59] misberner commented on #3276
@bacongobbler I'm 100% down to add this feature. My proposed implementation (inspired by `kubectl create secret generic --from-file=...`) would be:
[code]
where `<key>` is the path that will be accepted as an argument to `.Files.Get`, and defaults to the basename of `<path>`. E.g., `--include-file foo.txt=../dir/bar.txt` would make the contents of `../dir/bar.txt` accessible via `.Files.Get "foo.t

[2020-04-02 15:36] ChillarAnand commented on #4456
How to create a namespace with helm v3?

[2020-04-02 15:47] alf009 opened #7856 "Helm chart with test for helm 2 as well as helm 3."
Is there a way to create a  helm chart which (includes the tests) and it works in both helm v2 and helm v3.

Helm 2 officially support only `helm.sh/hook: test-success` or `helm.sh/hook: test-failure`
 however
Helm 3 changed and it officially supports only hook to `helm.sh/hook: test`.
  See doc: https://v2.helm.sh/docs/developing_charts/#chart-tests

I do not see any way how to check which versio

[2020-04-02 15:48] bacongobbler commented on #4456
Right now, use `kubectl create namespace foo` prior to `helm install`. When Helm 3.2.0 is released, use `helm install ... --create-namespace`.

[2020-04-02 15:49] bacongobbler commented on #3276
That sounds great! I look forward to the PR.

[2020-04-02 15:59] bacongobbler commented on #7856
`helm.sh/hook: test-success` should continue to work for backwards compatibility reasons. Can you check and confirm?

[2020-04-02 15:59] bacongobbler commented on #7856
https://github.com/helm/helm/blob/193850a9e2c509acf1a499d98e8d23c12c134f11/pkg/releaseutil/manifest_sorter.go#L65-L66

[2020-04-02 16:23] alf009 commented on #7856
And would it be possible to officially document that it is supported e.g., in the docs, i.e., chart authors may rely on this fact?

[2020-04-02 16:29] titou10titou10 commented on #3276
@misberner can you confirm that using`--include-dir <prefix>=<dirpath>`will allow us to use `.Files.Glob(<prefix>).AsConfig()`, and so create a ConfigMap with one entry in the CM per file in`<dirpath>`?

[2020-04-02 16:33] bacongobbler commented on #7856
Feel free

[2020-04-02 16:42] alf009 commented on #7856
Ok, will try

[2020-04-02 16:56] kingdonb commented on #7812
@mattfarina This looks like the issue we've seen in teamhephy/workflow#115 new users reporting, affects 2.16.x latest and results in `transport is closing` due to SIGSEGV exactly as it appears in the initial report here. I plan on testing #7840 later today or tomorrow, thanks @bacongobbler for helping us make this connection.

[2020-04-02 17:00] Freyert commented on #7845
I will close this one as a new issue to have a better configuration setup for the SDK is more appropriate.

[2020-04-02 17:00] #7845 closed

[2020-04-02 18:16] ryu-sato opened #7857 "Helm 3 is not possible to install dependent charts by executing `helm install` with `--dependent-update` on a local chart file"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): kind

----

# What happens

With helm 3.1.2, when run `helm install` with `--dependent-update` on a local chart file, it install target chart but **does not install dependent charts**.

If you run `helm install` after running `helm dependency update` it will install all the res

[2020-04-02 18:19] technosophos commented on #7812
That would be great! Please keep us posted on what you discover. We've collectively spent many hours trying to reproduce, track down and fix this, and we're just flummoxed.

[2020-04-02 18:28] technosophos commented on #7796
Okay. @adamreese and I will look at this today. For sure, his patch will change the underlying code that the above calls, but we may need to just add one more guard.

[2020-04-02 19:05] muscovitebob commented on #7509
I'm not completely sure, but I think I was hitting this bug all the way back in helm 2.14. Once I switched my pipelines to fetching previous values explicitly, and then setting based on those without using the `--reuse-values` flag, I no longer had weird inconsistencies in my deployed values.

[2020-04-02 19:12] misberner commented on #3276
Yeah that's the idea. An open question from my point of view is whether an `--include-dir` with a specified `<prefix>` introduces an overlay, or shadows everything under `<prefix>/` from previous args and from the bundle itself. I'm not super opinionated on that one but would prefer the former.

[2020-04-02 19:21] #7302 closed

[2020-04-02 21:09] #7809 closed

[2020-04-02 21:57] bjayanth opened #7858 "Helm test yaml does not work with .Chart values"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): On-prem

I have test-connection.yaml as (for example):
[code]
Running `helm lint` on this chart gives:
[code]

This is the contents of the Chart.yaml:
[code]

It seems like the test yaml file only has scope of `.Values` and `.Release`, but not `.Chart`.
Is this a bug or somethi

[2020-04-02 22:03] bacongobbler commented on #7858
Have you tried `.Chart.AppVersion`? Make sure the "a" in "appVersion" is capitalized.

[2020-04-02 22:13] bjayanth commented on #7858
:doh:
That works. I didn't realize Chart.yaml values need to be PascalCase too.
Thank you!

[2020-04-02 22:13] #7858 closed

[2020-04-02 22:41] julianwilkinson opened #7859 "Proposal: Support for Specifying Chart Version in values.yaml"
When using CD tools like ArgoCD the Helm chart version can be specified in a deployment's configuration. _However_, when using GitOps and not trying to interact with the CD tool aside from updating the chart or the values.yaml, the version of the chart cannot be specified. This brings issues of fine grained control with multiple values.yamls between environments, like if you want to release an upd

[2020-04-02 23:06] technosophos commented on #7796
Okay, so this error occurs _only_ when you set the `KUBECONFIG` environment variable to a non-existent path. If you `unset KUBECONFIG`, it is fine. If you set `KUBECONFIG=""` it is fine. The warning message ONLY prints when you give it an invalid path for KUBECONFIG.

_Why do you believe it is a bug that if you supply it invalid information, Helm emits a warning?_

Incidentally, `kubectl` seems to

[2020-04-02 23:13] derailed opened #7860 "K8s v1.18 support?"
Do you have a timeline on when helm support for k8s v1.18 will be released?
I understand quiet a bit have changed in the k8s server apis, would be good to have an idea since I have a strong dependency on helm.sh/helm/v3/pkg/action

Thank you!

Output of `helm version`:
version.BuildInfo{Version:"v3.1.2", GitCommit:"d878d4d45863e42fd5cff6743294a11d28a9abce", GitTreeState:"clean", GoVersion:"go1.13.

[2020-04-02 23:17] bacongobbler commented on #7860
see #7831

[2020-04-02 23:35] kingdonb commented on #7812
"The repro was already inside of the house!" I am not sure why this affected workflow and not much else, glad to be of service...

I can confirm 88e95b0d solves the issue (my fork at kingdonb/helm has this in a merge commit at 26aa1d44, and pushed to `kingdonb/helm:26aa1d44` to use with `--tiller-image`)

Was definitely able to reproduce the crash on v2.16.5, with:

[code]

It actually seems to pr

[2020-04-03 00:08] mforutan commented on #6864
I've encountered the same issue and in my case having a local folder with the same name as the chart name was the root cause of the issue, looks like `--repo` will be ignored if helm find a local folder, but local folder doesn't have the `Chart.yaml` file.

[2020-04-03 00:40] Sakkyoku-Sha opened #7861 "Helm is creating a space in front of my yaml file, causing apiVersion not set."
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):  AKS

I have the following yaml file.

[code]

Which when trying to run helm upgrade or install I get the following error:

[code]

When using helm template I see the following output.

![image](https://user-images.githubusercontent.com/10360237/78312577-81c0a000-7511-11ea-86df

[2020-04-03 01:54] mforutan opened #7862 "Bug: `--repo` should takes precedence over local folder"
Using local chart when a `--repo` flag is provided doesn't make sense, the assumption in [LocateChart](https://github.com/helm/helm/blob/c20d06d930aad1862b73aebdfbf36e1f00e75d28/pkg/action/install.go#L726-L795) function is not correct in this case,

Is it possible to ignore the local folders when `--repo` is provided?

Output of `helm version`:
[code]

[2020-04-03 02:57] bacongobbler commented on #7861
Do you think it’s possible that the file might contain that special character? I cannot appear to reproduce with a `helm create foo && helm template foo`.

[2020-04-03 06:03] Sakkyoku-Sha commented on #7861
Unfortunately it is not the case. I was able to figure out a work around, so perhaps it was just an corrected file, I'm just going to close the issue. Not much worth looking into it.

[2020-04-03 06:03] #7861 closed

[2020-04-03 08:25] hugoboos commented on #7725
I'm experiencing the same issue. Update the Chart AppVersion which is used as an image tag. Running `helm upgrade` gives:

`Error: UPGRADE FAILED: cannot patch "my-job" with kind Job: Job.batch "my-job" is invalid: spec.template: Invalid value: core.PodTemplateSpec{ObjectMeta:v1.ObjectMeta{ ... }: field is immutable`

Helm version: `3.1.2`
Kubectl version: client `v1.18.0`, server `v1.17.4`

[2020-04-03 09:32] itsrajivbansal commented on #5825
+1
I believe that what @max-gotlib mention makes sense.
How we can use rollback hooks of previous release to downgrade the changes made (to database) by upgraded release?

[2020-04-03 09:34] stanislav-zaprudskiy commented on #2025
Running into similar issue with AWS EKS, and helm (2.16.1) upgrade with `--timeout` set to `604800` (7d). I have a `Job` running as post-install/pre-upgrade hook, which requires few hours to complete, but Helm reports the deployment has failed:
[code]
With the following accompanying tiller log:
[code]
As per hook configuration the job isn't deleted by Helm, and in Kubernetes it continues to actual

[2020-04-03 10:34] fortanu82 opened #7864 "helm 3.1.2 --> upgrade command --set flag does not override the supplied value"
Output of `helm version`: v3.1.2+gd878d4d

Output of `kubectl version`:
Client Version: v1.17.0
Server Version: v1.16.4

Cloud Provider/Platform (AKS, GKE, Minikube etc.):  AKS

My requirement is to update an image tag generated at run time in Azure Devops though when I try to execute upgrade command with --set flag option it does not override the specified value.
I knew it was working in Helm2 bu

[2020-04-03 11:09] max-gotlib commented on #5825
@itsrajivbansal In my case I had to use two stage upgrade procedure:
1. upgrade existing chart with hooks turned off, where only hooks were actually upgraded
2. run the "main" upgrade, having correct hooks.
Got a lot of "supplemental  damage", but in general the schema appears to be operational.

[2020-04-03 11:22] pmichna opened #7865 "`helm init --force-upgrade` does not upgrade"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
Minikube

I've installed Tiller using Helm 2.13.1 with `helm init`. Then I've updated Helm to 2.16.5 and wanted to update Tiller with `--force-upgrade`:

[code]

Looks like `--force-upgrade` option does not do what `helm init --help` says it does:

Is it needed then?

[2020-04-03 14:22] salamovz commented on #3403
My solution for looping over files, concatenate their sha and create new sha from concatenated one.
`kind: ConfigMap
metadata:
  annotations:
    checksum/config1: {{- range $path, $bytes := .Files.Glob "files/**" -}} {{- $sha := $.Files.Get $path | sha256sum -}} {{- $shasha := printf "%s%s" $.Values.cmsha $sha -}}{{- $_ := set $.Values "cmsha" $shasha -}} {{- end -}}{{- .Values.cmsha | sha256sum

[2020-04-03 14:29] salamovz commented on #2639
Thanks for this. Based on it I created one with short output:
`kind: ConfigMap
metadata:
  annotations:
    checksum/config1: {{- range $path, $bytes := .Files.Glob "files/**" -}} {{- $sha := $.Files.Get $path | sha256sum -}} {{- $shasha := printf "%s%s" $.Values.cmsha $sha -}}{{- $_ := set $.Values "cmsha" $shasha -}} {{- end -}}{{- .Values.cmsha | sha256sum  | indent 2 }}`

[2020-04-03 14:50] mattfarina commented on #7862
I see what you're saying. A person at the CLI passes in a repo using the `--repo` flag. This means they are explicitly setting a location. But, inside the function `LocateChart` that finds the chart it looks on the local filesystem before checking if a repo is explicitly set. If the local chart is there that is used.

From an end user perspective this means an end user can set a repo on purpose bu

[2020-04-03 14:53] kferrone opened #7866 "Reuse the Notes?"
Is it possible to reuse the output of the NOTES.txt? I am using Helm to build the [k8s Application CRD](https://github.com/kubernetes-sigs/application). A lot of the info in the Application CRD can come directly from Helms `.Chart` object.  The only info I could not easily reuse is the notes to put in the Applications `descriptor.notes`.

The only options I can think of is either make the entire n

[2020-04-03 14:56] bacongobbler commented on #7865
Have you tried `helm init --upgrade` instead? `--upgrade` is the flag that will upgrade Tiller. `--force-upgrade` overrides any warnings, such as downgrading Tiller to an older version.

https://v2.helm.sh/docs/using_helm/#upgrading-tiller

[2020-04-03 15:13] bacongobbler commented on #7864
I cannot appear to reproduce the latter issue, but I was able to reproduce the issue with `--reuse-values`.

Here is what I tested:

[code]

But when I try your `--reuse-values` example:

[code]

[2020-04-03 15:14] bacongobbler commented on #7864
https://github.com/helm/helm/pull/6917 seems relevant here.

[2020-04-03 16:31] technosophos commented on #2025
You could start a pod inside of your cluster, install the Helm client there, and run the deployment entirely inside of the cluster. That would only rule in/out some things (like whether a load balancer in the middle was terminating the connection), but it is at least a good debugging step that should provide some useful information.

[2020-04-03 17:25] mattfarina opened #7868 "Skip adding stable/incubator on init flag"
In Helm v2 when `helm init` is run it adds the stable repo and an update happens. Even if you specify the tiller image. This is a problem for air gaped environments. They can specify a local tiller image but still have issues due to the upstream charts repo.

Since we are [extending the Helm v2 support window](https://helm.sh/blog/covid-19-extending-helm-v2-bug-fixes/) it may be worth adding a fla

[2020-04-03 17:35] carnesen commented on #3669
Like @bd , I am still encountering this issue too.
[code]
A simple workaround is to remove helm bash completion:
[code]

[2020-04-03 17:51] aadhik opened #7869 "Helm Release Name Varaible"
Output of `helm version`:
3.1
Output of `kubectl version`:
1.12

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
EKS

======================
I am using the below helm command to install/upgrde a helm deployment
helm upgrade -i   solitary-greyhound-new3  ./nginx --namespace test-vt

Here solitary-greyhound-new3 is the release name , can i pass it as a variable from values.yaml file

[2020-04-03 17:59] unguiculus commented on #7796
I tested #7831. The problem persists. I still do consider this a bug. From a technical standpoint, it is unnecessary to initialize the `actionConfig` for commands like `helm version` or `helm env`, etc. IMO, these should just work. This is especially true when other tools, such as chart-testing in this case, parse the output of `helm version --short` as semver.

[2020-04-03 18:08] scottrigby commented on #7796
I'm also coming at this from automation tools like chart-testing and the helm github actions.

I liked the direction for a fix @mattfarina @anshulvermapatel and @marckhouzam discussed. I understand the workaround in the meantime in https://github.com/helm/helm/issues/7796#issuecomment-602816914 but – my 2¢ here – not sure this can be considered fixed until commands that don't need KUBECONFIG stop

[2020-04-03 18:39] trstringer opened #7870 "Template resource not showing up in manifest or being updated"
When I upgrade my chart and analyze the manifest (`helm get manifest <release_name>`) I notice that one of the resources in my templates is not actually part of the manifest. Here's what I mean:

[code]

Then install/upgrade: `$ helm upgrade --install my_chart`.

Analyze the output of the manifests:

[code]

It's also worth noting that there is not `.helmignore` in this chart.

Possibly also relev

[2020-04-03 19:30] technosophos commented on #7868
I think that this is a necessary change in order to allow Helm2 users to continue using Helm when the Stable and Incubator repositories go away.

[2020-04-03 20:20] pmichna commented on #7865
Yes, I have tried `helm init --upgrade` and it indeed works.
I was confused about the `--force-upgrade` option. I was not aware it has to be used together with `--upgrade` - I haven't seen such information in the documentation. If that's the case, I guess the issue can be closed.

[2020-04-03 20:20] #7865 closed

[2020-04-04 02:09] LeeHampton commented on #7430
Pinging this issue to see if anyone has additional insight here. I cannot for the life of me figure out a sane way to construct a `&genericclioptions.ConfigFlags` using an in-cluster configuration.

The use case for me is that I have a pod in my k8s cluster that serves as a "deployer" of sorts, kicking off dynamic helm releases on demand. In the interest of security (and not having to do some awkw

[2020-04-04 04:34] Z-BUMBLEBEE-Z opened #7872 ""Helm install" will deploy all dependency even if I set them as false"
### requirements.yaml
[code]
### values.yaml
[code]
### Problem
As we see, `cassandra.enabled `, `influxdb.enabled`, `warp10.enabled` are set as false.
when  running  `helm install . --dry-run --debug`. I found cassabdra, influxdb adn warp10 has been deployed, In fact，I don‘t wish to deploy them.

Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS,

[2020-04-04 05:48] Z-BUMBLEBEE-Z commented on #7872
Ok， When I delete the "sitewhere-infra-database.xxx.enabled" in condition. It works.

[2020-04-04 07:32] 13567436138 opened #7873 "import-values has no effect"
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.):

[code]

test3 values:
[code]
parent values:
[code]

parent template:
[code]
result:
[code]

[2020-04-04 07:46] 13567436138 commented on #7873
lint error
[code]
values.yaml
[code]
[code]

[2020-04-04 09:41] bitfield commented on #3669
Keep holding on, cause you know we'll make it through.

We'll make it through; just stay strong, cause you know I'm here for you.

[2020-04-04 10:51] marckhouzam commented on #3669
@carnesen can you provide the command-line you are using to
reproduce the problem?

Also, please try doing
[code]
then trying again.

[2020-04-04 11:33] TPX01 opened #7875 "Use HELM behind proxy: support insecure repositories when charts get downloaded"
### Version info
Output of **helm version**: v3 canary build 4/4/2020
Output of **kubectl version**: 1.16.2
Cloud Provider/**Platform** (AKS, GKE, Minikube etc.): Minishift

---

### Context
Recently support for insecure registries has been added:

- Initial ticket: https://github.com/helm/helm/issues/5434
- Pull request: https://github.com/helm/helm/pull/7254

Although adding the insecure registr

[2020-04-04 11:43] xvzf commented on #7875
/assign xvzf

[2020-04-04 13:46] fortanu82 commented on #7864
Thanks for your response. In my case even without the --reset-value flag, --set value does not override the image.tag mentioned in the deployment file.

I hope you have tested this on the latest version of 3.1.2. Please see the steps performed in the screenshot below.
1. Uninstall the releases if any.
2. Check history to ensure no release exist
3. upgrade/install with --set variable
4. Verify the

[2020-04-04 14:08] consideRatio commented on #7811
I'll make a code inspection to learn enough to dare provide a recommendation on how the helm chart I maintain should be managed in a sensible way during upgrades to avoid issues that they will have a hard time fixing.

The key issue for my Helm chart users, is without a doubt, if helm loose track of chart resources as part of an upgrade or similar. When this happen, the user which shouldn't need t

[2020-04-04 14:27] consideRatio opened #7876 "Potential issue: --atomic --cleanup-on-fail invoke a rollback without --cleanup-on-fail"
I think a `helm upgrade --atomic --cleanup-on-fail` that results in a rollback could run into an unexpected issue.

- `--atomic`'s rollback operation is not influenced by `--cleanup-on-fail` passed to the upgrade command (ref: [code](https://github.com/helm/helm/blob/c12a9aee02ec07b78dce07274e4816d9863d765e/pkg/action/upgrade.go#L318-L331)).
- If the `--atomic` invoked rollback fail, it will not `

[2020-04-04 15:04] heckad opened #7877 "Why to need specify CHART for upgrade operation?"
I have a chart wich described my microservice app and I want to update image tag. I expect something like `helm upgrade my_app_relese --set=microservice_name.image.tag=$image_tag` but this not correct. I should add the chart for this command. To do this, I will have to add the chart to all my microservice repositories.

1) Is there a better way to avoid this?
2) Why doesn't helm keep the chart wit

[2020-04-04 19:02] anshulvermapatel commented on #7796
I agree with @scottrigby , well, anyways, discuss this, do let me k now, I can create a PR based on [ this comment](https://github.com/helm/helm/issues/7796#issuecomment-607510369) and am open to discuss this further.

[2020-04-04 19:16] marckhouzam commented on #7796
Personally I'm not a fan of the map solution.  It is hard to maintain and prone to errors.  Imagine for example a simple typo in the name of a command within the map: the real command would actually stop working because it would not get the config client anymore.

[2020-04-05 04:24] derailed commented on #7860
@bacongobbler Thank you for the update! Thought this might be in the works already...

[2020-04-05 05:40] 13567436138 commented on #7873
- data
     -  child: default.data
        parent: myimport
this two canot use both
![image](https://user-images.githubusercontent.com/31508490/78467810-10683380-7743-11ea-8824-f0e2a6c67537.png)

[2020-04-05 05:42] 13567436138 commented on #7873
b is not  join with other b，so it will lost other b‘s values’

[2020-04-05 15:35] schollii commented on #5696
I understand that Kubernetes treats the image tag as first class, rather than the image SHA which it resolves at pod creation time.

However it is a bit strange to me that if I do `helm install` and "dev" tag of my pod is resolved to SHA 12345, and then I create a new docker image with SHA 67890 and retag that one as "dev", and finally I do `helm upgrade`, helm does not do anything because it only

[2020-04-05 16:01] m-abramovich commented on #5100
@pohly
Patrick, I believe this is not relevant anymore.
Helm v3 doesn't use Tiller. So, maybe, all that is worthless now.

[2020-04-05 16:29] maateen commented on #4251
The following commands do the charm for me:

[code]

[2020-04-06 03:47] TBBle commented on #7517
After applying the discussions in this thread, we ended up with
[code]

I'd suggest the default template do that too.

It turns out `.Chart.AppVersion` is optional, and we don't use it for releases, as it equals the `.Chart.Version`, so that's one fewer places to update when bumping versions after a release. For auto-builds, we set `.Chart.AppVersion` to the git commit sha (using `helm package --a

[2020-04-06 04:14] TBBle commented on #3555
@timothyclarke: What you might want to do, for the `helm upgrade` use-case you described here, is `helm package` first, which lets you set `--version` and `--app-version`, and then you can `helm install` the tarball, and keep it around as a CI artifact, which increases your reproducibility for the install, as it won't need any `--set` parameters added. That's what we've moved to, although without

[2020-04-06 06:41] bokysan commented on #3555
You hit the nail on the head. This should have bee in `values.yml` from day one.

While I understand philosophical arguments against this feature, the field practice shows it would help people a lot -- including us.

There are many charts in the wild which let you set the version of the app through `values.yml`, specifically because it can't be set here.

[2020-04-06 06:41] invidian commented on #3555
I'm not sure if that has been discussed (did a quick CTRL+F and couldn't find any trace), but what about removing `appVersion` all together as an alternative solution? It seems to me, that it would avoid the whole confusion.

Right now `appVersion` is treated as kind of "special" value. I assume, that it's there to provide the visibility e.g. I can have chart version 123.5.6 of Prometheus, but it

[2020-04-06 07:17] hickeyma commented on #7868
Sounds reasonable to me.

[2020-04-06 07:34] rimusz commented on #7868
why not just to remove of adding stable/incubator repos in helm v2 with `init`?
then document it as we have it for the helm v3?

[2020-04-06 08:11] hickeyma commented on #7877
@heckad Some answers to your question below.

Yes, it keeps the chart manifests from the previous deployment. You need to pass the chart again during an upgrade so that Helm can work out the delta.

It should not override all values. It will only set the values you specify and use the default (`values.yaml`) values otherwise. If you set specific values in the previous deployment then use `--reuse-

[2020-04-06 08:23] timothyclarke commented on #3555
@bokysan It was previously in `values.yaml` it was moved to `Chart.yaml` I'm guessing for the whole `helm ls` showing both the chart and docker tag rather than having to run a command such as
`kubectl get deployment <release name> -o jsonpath='{.spec.template.spec.containers[0].image}'`

@TBBle I'd address each of your points, but it would make this post as long as the previous one.  I think this

[2020-04-06 09:58] heckad commented on #7877
Thank you for your answer!

If I want to change the only image teg why helm needs chart? I didn't change the chart. Can it be a feature request?

[2020-04-06 10:22] TBBle commented on #3555
If it's important to your users, then it should be the PHP version, surely? That's what you're advertising. You could also stick all three in your appVersion, it's a freetext field after all.

If you want to force `appVersion` == container image tag, then you're going to find that challenging with non-trivial charts, i.e. charts with more than one container, or with no containers. That's not reall

[2020-04-06 11:39] timothyclarke commented on #3555
Then we're probably in https://github.com/helm/helm/issues/7517   That maybe where all this stems from.

[2020-04-06 11:54] RomanDvorsky opened #7880 "dry-run does not validate helm chart"
Hi,

I did set up in our azure pipeline the `helm upgrade` command with `--dry-run` to validate the helm chart before it is used. I have discovered that this is not the best approach - is there any better way how to validate the helm chart in azure pipelines?

I have discovered a few things which are not validated - is this intended - the dry-run should not be used for validation?

**1. issue: wro

[2020-04-06 12:09] cnaslain opened #7881 "condition using a global scope in helpers.tpl failed with "not a method but has arguments""
Output of helm version:
[code]

Output of kubectl version:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.): on premise on bare metal (using kubespray)

Commands:

[code]

Output:
[code]

Any idea how I can test .Values.Env in the define?

If I rewrite the function **without the condition**; it returns the correct content.
[code]

So, what goes wrong with this way of writing a condition?

[2020-04-06 12:29] cnaslain commented on #7881
I finally found a workaround: Adding parenthesis in the condition...

[code]
Is it the correct way to do this or is it a workaround to a bug?

[2020-04-06 12:38] #7881 closed

[2020-04-06 13:46] bacongobbler commented on #7868
That’s would be a breaking change.

[2020-04-06 14:09] sdake commented on #4251
There are several reasons this can happen

1. you have a proxy in your network. In this case, docker has instructions on using a proxy.
1. general network problems. these can be debugged with `curl -v https://address`. DNS may not be resolving, or if it is, that address may be `blackholed` - meaning blocked by your outgoing network.
1. and the more likely scenario, is if running ubuntu bionic, the

[2020-04-06 14:51] #7870 closed

[2020-04-06 15:16] rimusz commented on #7868
the change will be needed sooner or later anyway :)

[2020-04-06 15:29] defreng opened #7882 "Specify a Default Namespace in Chart.yaml"
Hi guys,

It would be great to have an option to specify a _default_ namespace for deployment within the `Chart.yaml` file. Specifying it in there would have the same effect as the `--namespace` CLI option, but can be overridden by the latter.

This feature would be especially valuable for creating 'environment' (prod, staging, test) umbrella-charts, when the complete configuration of a certain en

[2020-04-06 15:30] bacongobbler commented on #7868
Helm 2's support window will be closed by the time the stable chart repository is shut down, @rimusz. It will not be necessary to remove the stable repository from `helm init` during Helm 2's lifetime. That's why it'd be best as a feature flag so users can continue to use Helm 2 after the support window has closed.

Now normally, we have mentioned that we would not accept new features for the Helm

[2020-04-06 15:35] bacongobbler commented on #7882
While this isn't available as a feature in a chart, you can set the default namespace for your current kube context using `kubectl config set-context --current --namespace=<insert-namespace-name-here>`.

You also can change the default namespace by setting the `$HELM_NAMESPACE` environment variable.

We have avoided adding namespace-specific fields to the chart before. The assumption is that the c

[2020-04-06 15:38] rimusz commented on #7868
then flag with a name `helm init --skip-repos` is needed for sure.

[2020-04-06 15:43] bacongobbler commented on #7419
This is a great suggestion, @omkensey. I think adding another field to the table output displaying the repository URL would be a welcome change.

A little bit of context here: The idea with `helm search hub` returning that URL was that the chart repository maintainers were looking to add support to use that URL as input to `helm install`, like so:

[code]

then:

[code]

cc'ing @mattfarina as he m

[2020-04-06 15:52] defreng commented on #7882
Thanks for the detailed response, @bacongobbler !

You're making a good point there, that the user should not be forced to look into the chart implementation to understand basic behaviour of the helm command.

I'll go ahead and therefore close this issue.

[2020-04-06 15:52] #7882 closed

[2020-04-06 17:40] glueric commented on #7880
Dry-run merely checks if the manifest output is valid yaml. To verify your chart you can use helm lint.

[2020-04-06 17:49] glueric opened #7883 "Helm not deploying multiple resources in the same template"
Output of `helm version`:
helm version
version.BuildInfo{Version:"v3.0.2", GitCommit:"19e47ee3283ae98139d98460de796c1be1e3975f", GitTreeState:"clean", GoVersion:"go1.13.5"}

Output of `kubectl version`:
kubectl version
Client Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.5", GitCommit:"753b2dbc622f5cc417845f0ff8a77f539a4213ea", GitTreeState:"clean", BuildDate:"2018-12-06T01:33:57Z

[2020-04-06 18:15] forgo commented on #7517
@TBBle Just FYI, our team recently upgraded to Helm 3.

In an attempt to create a new Helm 3 chart for a new application, I ran into this issue while using the `jib` gradle deploy mechanism in Skaffold.

Skaffold is supposed to autogenerate an image with a custom local tag with a suffiix like `-dirty-12345` and override the helm values with that.

Anybody using skaffold to pick up local image buil

[2020-04-06 18:18] glueric commented on #7883
After doing some more searching I found the solution to this is to add '---' at the end of the range to separate the different resources to look like yaml files. Closing this. Hopefully this post will be useful to someone else.

[2020-04-06 18:18] #7883 closed

[2020-04-06 21:09] jkroepke commented on #5952
unlike helm 2 status

[code]

does not show related objects (like pods) .

[2020-04-06 21:29] bacongobbler commented on #5952
see https://github.com/helm/helm/pull/7728

[2020-04-06 21:42] technosophos commented on #7880
The reason for this is that `helm template` and `helm ... --dry-run` do not require that you be attached to a Kubernetes cluster. However, to validate the YAML, a client must use the Kubernetes Discovery API to fetch the object types that are supported by the instance of Kubernetes you are validating against.

Here are two examples of why this is so:
- CRDs: We cannot validate whether a YAML docum

[2020-04-06 21:45] bacongobbler commented on #7880
There's `helm template --validate` which can be used against live clusters, too. That flag will connect to the cluster and validate your templates against the cluster's OpenAPI schema.

[2020-04-06 21:46] technosophos commented on #7877
The Helm chart is required because it Helm must render all of the templates in order to calculate the diff. Without inspecting the chart, it can't tell if your one `--set` function will change a single thing, or many many things. So it must render the templates.

Rather than storing the chart in every Git repo, we suggest storing the chart in a Helm chart repository and adding that repository to t

[2020-04-06 21:52] technosophos commented on #7876
I am not sure I follow the logic there. Can you produce a proof-of-concept?

It is definitely (under a wide variety of circumstances) possible to have a rollback fail. But when a rollback-on-failure fails, the behavior of the cleanup is very tricky. It is not at all clear what a user expects in that scenario. Our strategy in these cases is to not clean up after a failed rollback because a failed r

[2020-04-06 21:55] technosophos commented on #7811
You have done a lot of work! Thank you! I think some documentation would be great. I think our current documentation is limited to just the basics of each of these flags. How to combine them is not documented. So that would be great.

The documentation repository is here: https://github.com/helm/helm-www/

[2020-04-06 21:57] technosophos commented on #7875
It looks like @xvzf has self-assigned! Thanks! I have added the bug label. Let me know if you feel that this is more of a feature request.

[2020-04-06 22:00] technosophos commented on #7873
This was the intended behavior, as far as I know.

What are you proposing ought to happen? A PR would be welcome.

[2020-04-06 22:03] consideRatio commented on #7876
@technosophos my main personal concern was that it was too much ambiguity of how --cleanup-on-fail worked.

I've not experienced an issue from a failing rollback with `--atomic` and have no input on what is the best default behavior. But, if the default doesn't involve `--cleanup-on-fail` for the atomic rollback operation even though `--cleanup-on-fail` was specified (and applied for the upgrade o

[2020-04-06 22:07] technosophos commented on #7872
Should I close this?

[2020-04-06 22:08] consideRatio commented on #7811
@technosophos thanks for the encouragement and pointer, and your work on this project!

[2020-04-06 22:15] technosophos commented on #7866
I'm not clear about the context in which you want to get the notes. You can get the notes from an installation using `helm get notes.` If you're thinking more at the API level, you can look how we do that in `pkg/action/get.go`.

In the chart, the notes file is a template, and thus is an output of the template engine (not an input). That is why you do not find it on the `.Chart` object. So if you

[2020-04-06 23:20] technosophos commented on #7876
Yeah, for sure it should be documented.

It is possible that our assumptions about rollbacks are wrong. Recovery is definitely a tangled web.

[2020-04-06 23:26] technosophos commented on #7880
Okay, I have to reverse what I said before: `helm template` does NOT validate, `helm install --dry-run` DOES validate. However, it only validates the scheme. It cannot validate the values provided. So the error initially reported has passed schema validation, but fails because a value is incorrect. That failure comes from the Kubernetes API server directly.