[2022-08-09 14:40] aude commented on #11216
I'm considering to change the `securityContext` code to the same as `imagePullSecrets` in a template I'm developing:
[code]
Then `securityContext: {}` would not be output if the `securityContext` value is empty. That's why I'm asking if there is any special reason for outputting `securityContext: {}`.

One nice thing about the change would be that `securityContext` would not be output if `security

[2022-08-09 16:16] crenshaw-dev opened #11218 "Predicted release dates from the release notes seem incorrect"
The [3.9.0 release notes](https://github.com/helm/helm/releases/tag/v3.9.0) say 3.9.1 was to be released on June 8, 2022. 3.9.1 was released on July 13, 2022.

The [3.9.1 release notes](https://github.com/helm/helm/releases/tag/v3.9.1) say 3.9.2 should be expected on August 10, 2022. It was released early on July 21, 2022.

The [3.9.2 release notes](https://github.com/helm/helm/releases/tag/v3.9.2

[2022-08-09 17:01] bacongobbler commented on #11200
https://helm.sh/docs/chart_best_practices/conventions/#chart-names

While it isn't explicitly listed in that document, spaces in the chart name are not accepted by Helm. This is because Go's text/template system runs into issues when variable names contain spaces or underscores. Use dashes instead.

In your case, `sample chart` should be renamed to `sample-chart`.

Thanks.

[2022-08-09 17:01] bormm commented on #11219
It's unclear what your expectations/requirements are.

Do you want to run the helm based deployment in parallel with the other one until you finished creating the helm chart? You could use a separate namespace for that if you have only resources that are encapsulated in an namespace.

Or do you want to be able to update the plain manifest deployment with a helm deployment? I think that is dangerou

[2022-08-09 17:03] bacongobbler commented on #11200
Looking more closely at the OP, I noticed you were able to package the chart. If `helm package` allowed you to package the chart, that should be considered a bug.

Re-opening. Please feel free to submit a pull request to fix this behaviour. We'd welcome the help.

[2022-08-09 17:15] jonathan-boudreau-work commented on #11200
Yes, I was able to package it without any error message. Its only when I push to the registry that I get an error.

[2022-08-09 18:12] #11142 closed

[2022-08-09 23:20] manoj-bandara commented on #4030
+1 for a feature like --set-literal

this issue of not taking literals in --set is causing many problems for us

[2022-08-10 04:47] mabdh commented on #8694
@bacongobbler I am also facing the same issue here. Seeing the [code](https://github.com/helm/helm/blob/main/pkg/action/hooks.go#L54), is the delete hook operation blocking?
If not, maybe there is a race condition between creation of configmaps hook and the deletion one.
So helm would possible deleting (ask kube to delete) the newly created one. Maybe we need to add `WaitForDelete`?

[2022-08-10 05:35] mabdh commented on #8694
I second this, we need to do upgrade several times until the states are consistent.

Here is the details:

We are on helm `v3.5.3`

configmap and secret hook annotation:
[code]

migration job hook annotation:
[code]

Behaviour:
**1st upgrade**
Initial state:
- Config exist
- App pod exist

Hook running:
- Config removed
- Config added
- Migration pod running
- Migration terminated
- Config removed

[2022-08-10 06:29] morvencao commented on #11012
@tyregard
I encountered the same issue, and after investigation, root cause is that I didn't have HOME directory to save the kube API discovery cache.
To resolve the issue, make sure you have environment variable `$HOME` to set the correct directory, then after executing `helm upgrade/install...`, you are supposed to see `$HPME/.kube/cache/discovery` is created, the you will not have too many `cli

[2022-08-10 07:54] patrik93 commented on #11219
First of all, thanks for you help. Let me answer the questions below:

This case is clear, I can test it in a separated namespace as you mentioned or even a whole new environment.

I meant for example when the first part is done, testing works in a separated namespace and I can be sure everything is working. I reached that point when I'm able to switch - or maybe install is a better word -  to hel

[2022-08-10 08:00] thepaulmacca commented on #11213
I guess what I'd like to be able to do (if it's even possible) is to adapt the template in the first example to allow either a key/value pair, or something like the `application.properties` block above

So my `configmap.yaml` file can be used like this for a key/value pair:

[code]

Or like this for an `application.properties` block:

[code]

I've tried adapting the `_configmap.tpl` template like

[2022-08-10 08:15] zmeggyesi commented on #11069
I'm just leaving my two cents here, since I'm also affected by this bug. GCloud is fully up-to-date, `kubectl` works just fine, but Helm cannot authenticate to the cluster, throwing the following:
[code]

Notably, the same version of
[code]
on MacOS X work just fine and can manipulate the cluster perfectly.

[2022-08-10 12:10] davidgwps commented on #10664
any update on this? For our use case we are linting using `--strict`, currently we are getting failures because the beta version of the HPA API is deprecated in v1.23+, however we have a couple of kube clusters running v1.22 so we don't want them to fail. The `autoscaling/v2` API doesn't exist in v1.22 so I can't see a solution apart from removing the `--strict` from the linter until we use v1.23

[2022-08-10 13:01] sc-chad commented on #8694
@bacongobbler Can we get this reopened please?

[2022-08-10 13:11] antoinedeschenes commented on #10664
@davidgwps Each helm minor version matches a k8s minor version. You can run lint with different helm versions  as a workaround.

[2022-08-10 13:47] sharkymcdongles commented on #11069
This is incorrect. I tested and it will cause it to fail completely. The problem is the current auth flow uses gcloud directly via kubectl. If you check your GCP config you will see something like this:

[code]

In 1.25+ this is no longer allowed and you must use the client-go auth flow directly however gcloud only gives you current gcp certificates unless you tell it to or it detects you are on 1

[2022-08-10 14:30] bluemalkin commented on #11069
@sharkymcdongles great find, I can confirm that this fixes it for me too.

[2022-08-10 15:16] hickeyma commented on #11069
@RafalSkolasinski @zmeggyesi Do you mind checking the suggestion by @sharkymcdongles in https://github.com/helm/helm/issues/11069#issuecomment-1210699479?

[2022-08-10 15:53] kfox1111 commented on #11219
So, are you asking as:
* a developer of said static manifests / helm charts, in order to make transitioning from one type of deployment to the other for your users/yourself?
* a user of some software that has both static manifests and helm charts and you'd like to switch between them?

The former could be done with enough effort invested in testing / keeping things well in sync I think. The latter

[2022-08-10 17:12] mattfarina commented on #11126
Closing as this is fixed in the upcoming release.

[2022-08-10 17:12] #11126 closed

[2022-08-10 17:26] mattfarina commented on #8660
To provide an update to #10831 and why it has not been merged...

Helm currently looks at the number of replicas and the declared max unavailable. It follows what's declared in the configuration. There are situations where this can be configured so that nothing is available. For example, something declares 3 replicas and 3 max unavailable. In that situation it's declared that it's ok to have every

[2022-08-10 20:42] conradwt opened #11221 "helm crashing on run Apple M1"
Steps

1. install

[code]

2. run

[code]

Output of `helm version`:  3.9.3

[code]

Output of `kubectl version`:  v1.24.3

Cloud Provider/Platform (AKS, GKE, Minikube etc.):  MiniKube v1.26.1

Hardware & OS

- Hardware CPU: Apple M1
- OS version: macOS 12.5

[2022-08-10 20:56] yellowmegaman commented on #11126
Thank you! 🥇

[2022-08-10 23:41] vherzog-sauce commented on #2205
Our organization would greatly benefit from this feature.

[2022-08-11 00:15] #10816 closed

[2022-08-11 00:21] catric96 commented on #10798
Has this since been merged into helm? I wasn't sure which ORAS issue this was linked to after looking through

[2022-08-11 01:58] jumping commented on #10659
I'm using helm 3.9.1, the following is fine.
[code]

[2022-08-11 03:04] kkoudev commented on #11221
Same issue for me.
This issue occurs from v3.8.0 if download from get.helm.sh.
The v3.7.2 or brew installed binary is works fine.

[2022-08-11 03:23] WB-jastme opened #11222 "Can Chart.yaml support variables with values.yaml?"
Output of `helm version`:  version.BuildInfo{Version:"v3.0.3", GitCommit:"ac925eb7279f4a6955df663a0128044a8a6b7593", GitTreeState:"clean", GoVersion:"go1.13.6"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"20+", GitVersion:"v1.20.11-aliyun.1", GitCommit:"88d5e8b", GitTreeState:"", BuildDate:"2021-10-25T13:55:31Z", GoVersion:"go1.15.15", Compiler:"gc", Platform:"linu

[2022-08-11 07:17] flaneur2020 commented on #3481
any update?

[2022-08-11 07:19] patrik93 commented on #11219
Hi @kfox1111,

I'm asking this as a developer. Forgive me, I'm fairly new to helm and I don't have the overview what this process means when I decide on the following:
 _My helm chart is tested, everything is working as the static manifest. Now its time to install the helm chart to my production cluster. I have this error which does not allow me to overwrite the existing static deployments (for a

[2022-08-11 08:04] zmeggyesi commented on #11069
So @sharkymcdongles was right, and I after setting the envvar, my Kubeconfig did change. I'm still getting a `connectex` error:
[code]
But at this point, I'm not sure that's Helm's fault...

[2022-08-11 08:37] sharkymcdongles commented on #11069
@zmeggyesi you don't have the auth plugin installed from the looks of it.

Check by running:

`gke-gcloud-auth-plugin --version`

then if not do:

`gcloud components install gke-gcloud-auth-plugin`

[2022-08-11 08:52] zmeggyesi commented on #11069
@sharkymcdongles I seem to have it - I've specifically removed and re-installed the plugin before trying to regenerate the kubenconfig with the `USE_GKE_GCLOUD_AUTH_PLUGIN=True` var set:
[code]
Having that `-alpha` in there does not fill me with much confidence, though...

[2022-08-11 08:52] hickeyma commented on #11196
Fixed by PR #11214

[2022-08-11 08:52] #11196 closed

[2022-08-11 10:12] pegasas commented on #7377
hi, @bacongobbler, I have a plan to integrate client-go clientcmd client config into this, I have tested it work on azure kubernetes cluster.

[code]

[2022-08-11 10:15] sharkymcdongles commented on #11069
@zmeggyesi do kubectl commands work with this kubeconfig? It seems to me you are possibly running in a container and the port is in use because this error upon Googling is a generic that usually happens due to this.

[2022-08-11 10:59] dhanvi commented on #4782
bump :)

[2022-08-11 11:04] zmeggyesi commented on #11069
@sharkymcdongles Yeah, that's the weirdest part. Kubectl works like a charm, and I'm running bare metal on my Windows dev machine (Docker was the only lead I found by googling it as well).

Like I said, at this point, I'm not sure if this is Helm's fault, though the question is whose then...

[2022-08-11 13:57] cfldtn opened #11223 "Warn or fail when duplicate blocks are in values.yaml"
I'm using Helm as follows:

[code]

We just lost a chunk of time with an issue involving a values.yaml like this:

[code]

Needless to say, the trailing line saying `global:` was a mistake; the file was big enough that we didn't spot it for quite some time.

Helm appears to interpret this as the final `global:` being an empty block, thus the first block with the important settings in it got ignore

[2022-08-11 13:57] cfldtn commented on #11223
If this is an acceptable idea we may be able to work on a patch, but let me know before we do.

[2022-08-11 15:29] hickeyma commented on #11223
@cfldtn Thank you for raising this issue.

There are 2 ways to look at this:

1. Helm should account for this as the empty `global` unsets any potential setting from previous. It must be a human error. OR
2. This is valid YAML and maybe a user wants to unset this for whatever reason

I would like to other community and maintainers opinions if this is something we want or should restrict.

[2022-08-11 16:45] kfox1111 commented on #11219
So, you created a chart, then did something like helm template <other options>   then took the result and loaded it in as a static manifest into production. Then now you want to manage it more like a proper helm release via helm upgrade? (just trying to be very very clear to prevent bad advise)

[2022-08-12 04:39] hinorashi commented on #4680
Thanks, it helps a lot, I change a little bit for my use case, which only get the filename not the absolute path:
[code]

[2022-08-12 04:41] dmitrynovik opened #11224 "Feature request: add recursive option to `helm pull`"
Problem:
- we have airgapped environments with no Internet connection
- we need to download charts manually using `git pull`
- the charts are having dependencies! However, there is no recursive option. It is highly desired to have smth like `helm pull --recursive` which will download a chart with all dependencies.

[2022-08-12 06:04] hajovonta commented on #9865
another 90 days passed without any activity...

[2022-08-12 07:56] DesireWithin commented on #4256
Please, add chart source to the `helm ls` output as well

[2022-08-12 08:14] inianv opened #11225 "Action Go package should provide an option to pass values file"
With the current Action Go package APIs, to emulate passing the values.yaml file, i.e. `-f values.yaml`, one needs to either

1. Create the values map, i.e. `map[string]interface{}` manually and pass it to [Run](https://pkg.go.dev/helm.sh/helm/v3/pkg/action#Install.Run) or [RunWithContext](https://pkg.go.dev/helm.sh/helm/v3/pkg/action#Install.RunWithContext)
2. Read the YAML file contents and unma

[2022-08-12 08:55] #10548 closed

[2022-08-12 09:52] MohamedBenighil opened #11227 "!!int function not working"
Output of `helm version`:
v3.9.3
Output of `kubectl version`:
1.22

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
AKS

I have wordpress helm chart, but i get port number as string instead of integer. My values.yml look like :
[code]
So when deploy it i get the following error :
[code]
I would like know why ?

[2022-08-12 13:56] solarist commented on #8033
Bot, please.

[2022-08-12 15:29] djeebus commented on #6027
can confirm that, for me, the issue seemed to be related to the built-in dns server that WSL uses (mentioned in the issue linked by @lchdev). i swapped it in `/etc/resolv.conf` from 172.26.192.1 (in my case) to my local router, and now I can `helm dep up` consistently. not sure what value the WSL dns server plays, but everything currently seems to be fine.

[2022-08-12 21:52] joebowbeer opened #11229 "Update or remove missingkey documentation"
The missingkey option [documented in tips and tricks](https://helm.sh/docs/howto/charts_tips_and_tricks/#using-the-required-function) is settable somehow?

I can't find any examples and AFAICT no one else can figure out how to use it in helm v3 either:

https://github.com/helm/helm/issues/5744#issuecomment-494153879
https://github.com/helm/helm/issues/5744#issuecomment-703652296
https://github.com

[2022-08-14 00:15] #10730 closed

[2022-08-14 15:11] NUAAMETEOR commented on #10814
good!!

[2022-08-15 00:14] #10865 closed

[2022-08-15 00:14] #10817 closed

[2022-08-15 03:00] crystal-create opened #11230 "Bump zlib to 1.2.12-r2 or above to mitigate CVE-2022-37434"
[code]

https://avd.aquasec.com/nvd/cve-2022-37434

[2022-08-15 09:48] patrik93 commented on #11219
The first part is not correct, i already have an application deployed with static manifests, and I want to replace it with a helm chart of the same application. The second part is correct, I would like to manage my already existing application (but exists with static files) with a helm chart. I already made the helm chart.

[2022-08-15 11:44] wirwolf commented on #7275
Any updates?

[2022-08-15 13:00] unamashana commented on #8694
Perhaps it would stop working again soon, but adding the keep resource policy to the Configmap does the trick for now. The ConfigMap isn't deleted after the job, and it's recreated on the next deployment.

[code]

[2022-08-15 13:11] vasilevp commented on #7476
One way to avoid manual rollbacks in a CI/CD setting is to run upgrade with the `--atomic` flag, if you can afford the wait. That way you can automatically roll back after a timeout which, at least in our case, works just fine.

[2022-08-15 15:44] kitos9112 commented on #7476
That's fair enough if you are lucky your CD job does not fail for whatever other reason (e.g., underlying compute issue, network failure, etc...) - We've not gotten around this issue just yet, and I still see this issue occurring in 1% of our deployments.

[2022-08-15 16:09] kfox1111 commented on #11219
The farther apart the objects are that were statically loaded into the cluster and what is in the helm chart, the harder to do safely/more risky it will be. ideally you would do:
helm template <releasename> <chartname> -f <your custom values> -n <namespace> | kubectl diff -f -
and it would show no changes. If that is the case, setting the helm owner annotations/labels on the objects in the cluster

[2022-08-15 16:34] thernstig commented on #10542
unstale

[2022-08-15 16:34] thernstig commented on #9865
unstale

[2022-08-15 19:08] lucascicco commented on #7697
It worked like a charm,

thanks xD

[2022-08-16 08:08] invidian commented on #8040
Not stale please.

[2022-08-16 08:24] lallinger-arbeit commented on #10487
this is still a valid problem

[2022-08-16 09:58] kkurno commented on #8036
I wonder about the behavior on `helm dependencies update` and `helm dependencies build` and the security concern as @mattfarina mentioned:

Because of the scenario that the attacker can update the Chart.lock file. How about if the attacker (as someone or CI) deleted the Chart.lock file and updated the Chart.yaml to add a malicious dependency into it?.
So the next time that `helm dependency build`

[2022-08-16 10:05] kkurno commented on #8036
I think if the helm team ended up with this decision (always manually pull repos on both `helm dependency build` and `helm dependency update`). It should be implemented only on v4 as the mention because of now it seem wouldn't help for the security and causes some inconvenience/confusion.

[2022-08-16 11:17] patrik93 commented on #11219
Thanks for your effort to make it clear for me. I think I'm fine know!

[2022-08-16 11:17] #11219 closed

[2022-08-16 16:40] phil9909 commented on #11227
This should work:

[code]

Notice: the `customRules` is now a string.

I don't know, if this is the optimal solution. Maybe ask the bitnami maintainers as this is specific to their `common.tplvalues.render` function.

[2022-08-16 16:51] jmdoman commented on #5100
Hello,
I'm also having this issue. my helm version:
Client: &version.Version{SemVer:"v2.15.2", GitCommit:"8dce272473e5f2a7bf58ce79bb5c3691db54c96b", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.15.0+unreleased", GitCommit:"9668ad4d90c5e95bd520e58e7387607be6b63bb6", GitTreeState:"dirty"}
I followed all the steps m-abramovich listed above, and my problem still remains exactly the same.

[2022-08-16 21:08] MohamedBenighil commented on #11227
Thank @phil9909 it works ^^
Just a question, how did you get the idea ?

[2022-08-17 00:21] joejulian opened #11231 ""include" always returns a string, regardless of the actual type"
https://github.com/helm/helm/blob/3d1bc72827e4edef273fb3d8d8ded2a25fa6f39d/pkg/engine/engine.go#L112-L125

I noticed when I put some complex logic in a `define` and referenced it in an `if`, it was always treating the result as true.
[code]
[code]

This is because the `include` function always returns a string.

There is no fix for this function that would be backward compatible, but perhaps we co

[2022-08-17 00:48] rehevkor5 opened #11232 ""helm template" doesn't set $.Release.Name?"
When using `helm template` with various parameters including `--name-template`, apparently it's not setting `$.Release.Name`. I get this error:

Output of `helm version`:

Output of `kubectl version`: N/A

Cloud Provider/Platform (AKS, GKE, Minikube etc.): N/A

[2022-08-17 00:50] polikeiji commented on #6879
Same here.

[2022-08-17 01:58] jedcunningham commented on #10398
(Not stale)

[2022-08-17 03:42] abdennour commented on #2751
Any news?

[2022-08-17 03:46] abdennour commented on #2751
FYI !
Got it! You have to use `--render-subchart-notes` when you run `helm install` or `helm upgrade`. Then, when you run `helm get note` or `helm status`, it should render notes of subcharts as well.

[2022-08-17 06:51] dastrobu commented on #9150
Not stale, waiting for v3.10

[2022-08-17 08:23] ZhangSetSail opened #11235 "Error: fork/exec /root/.local/share/helm/plugins/helm-push/bin/helm-cm-push: no such file or directory"
I have installed push

[code]
But my push failed,my chart repository is ChartMuseum

[code]

Output of `helm version`:
3.9.3
Output of `kubectl version`:

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
腾讯云

[2022-08-17 09:10] smallbutstrong commented on #4275
+1

[2022-08-17 16:02] sudermanjr commented on #11083
Personally I think that an environment variable to suppress these warnings is a cleaner approach than simply removing them. Something along the lines of `SUPPRESS_KUBECONFIG_PERMS_WARNING` or something explicit like that.

[2022-08-17 17:32] rehevkor5 commented on #11232
I suspect that the behavior of `$` might be different from what the documentation suggests...

https://helm.sh/docs/chart_template_guide/variables/ says this:

Also, https://helm.sh/docs/chart_template_guide/control_structures/#modifying-scope-using-with says this:

I do not see any explanation of what the "root context" or the "root scope" is? Seems like that should be explained somewhere in the

[2022-08-17 18:50] rehevkor5 commented on #11232
Aha... it looks like I am not the only one who has been confused about this: https://github.com/helm/helm/issues/7915

Also, it sounds like Helm is relying on gomplate's "Context" functionality? https://docs.gomplate.ca/syntax/#the-context So it seems like it would be better to call it "context" not "scope".

I guess the documentation does need to be updated. I will see if I can take some time to

[2022-08-17 19:13] tyregard commented on #11012
I close this. Just verified that environment variable `HOME` was not correct set. It was set to a read only directory. After change to `HOME=/tmp` everything works

[2022-08-17 23:37] johnnyhuy opened #11236 "`helm test` using `Jobs` cannot show logs"
We're unable to get the logs of pods when using `helm test` with [Kubernetes Jobs](https://kubernetes.io/docs/concepts/workloads/controllers/job/). Looks like documentation is only describing the use of Pods.

This is a continuation to #9776

`example-chart/templates/tests/job.yaml`

[code]

Running the test command.

[code]

It looks like it's trying to get the pod name, but since there's a Kuber

[2022-08-18 02:00] camerondavison commented on #7159
Had the same problem in helm version 3.5.3

[2022-08-18 05:52] pallasathena92 commented on #6992
I am not very understand why `helm ls -A` can list all my helm release rather than `helm ls -a`. -a should be list all right?

[2022-08-18 07:51] flokli commented on #11083
The main case here is that the `kubeconfig` files doesn't always contain secrets:

 - Secrets can either live in other files, that are referred to from `kubeconfig` (`client-key` instead of `client-key-data`)
 - Secrets can not exist at all (OIDC)

It shouldn't be a concern of helm to try to understand all the various formats.

[2022-08-18 07:56] jetersen commented on #11083
if it is not a concern for helm than it should remove the readable check.
Or at the very least provide a way to suppress the warning.

[2022-08-18 08:44] hickeyma commented on #6992
@pallasathena92 From help:

[code]

[2022-08-18 09:10] longkai commented on #11212
@yxxhero The PR is done. Please give it a CR :)

[2022-08-18 09:18] w7089 opened #11238 "Debugging Templates section in the docs - wrong description."
Hi.

`helm template` [docs](https://helm.sh/docs/helm/helm_template/) state that templates are locally rendered.

Whereas, [Debugging Templates docs](https://helm.sh/docs/chart_template_guide/debugging/) state: `helm template --debug` **is a great way to have the server render your templates** which seems wrong.

Should I open pr on the  Debugging Templates section rephrase or I miss  something?

[2022-08-18 10:47] jycamier commented on #10312
Some cache

[2022-08-18 15:24] patrickviet opened #11239 "helm lint output template on error"
So I made a mistake in my template, and it didn't pass lint.
The error was
```[ERROR] templates/ingress.yaml: unable to parse YAML: error converting YAML to JSON: yaml: line 158: did not find expected key```

I'd really really like to see the line 158 of the lint-rendered YAML (and the lines around it too). What would be wonderful would be if I could actually see that output on error. Some kind of

[2022-08-18 16:11] pspurlock07 commented on #7214
This issue is present in 3.9.2 now. If this was fixed in a previous release, then a later update has broken it again.

[2022-08-18 16:15] Shahard2 commented on #4558
Any solution for this?

[2022-08-18 16:21] howardjohn opened #11240 "Support dynamic `--api-versions` and `--kube-version` in `template`"
Currently, `helm template` takes `--api-versions` and `--kube-version`, which is great for use with charts that depend on these values.

It is also, IMO, a good idea that these field are *not* auto-populated on `helm template` by default. However, when we _do_ want them populated, manually inputting them is painful.

It would be nice to add a flag to auto detect this (same as `helm install`). This

[2022-08-18 16:24] sudermanjr commented on #11238
My guess is that the `server` language is a holdover from pre-helm3 behavior. My understanding is also that template rendering is done locally. A PR would definitely be appreciated. :-D

[2022-08-18 16:39] matti commented on #4558
https://github.com/helm/helm/issues/4558#issuecomment-958961462 ping @bacongobbler

[2022-08-18 17:01] phil9909 commented on #11227
Hard to explain a thought process, but I will try:

1. First I located the helm chart this is about. Which seems to be [bitnami/wordpress](https://github.com/bitnami/charts/tree/efb84529d9a81d3b93a8d86ddae16db34767810c/bitnami/wordpress).
1. I downloaded your `values.yaml` to my machine and looked at the output of `helm template`
1.  Then I looked for the relevant part of the template, which seems

[2022-08-18 17:20] phil9909 commented on #11231
Unfortunately I don't think this is possible with go templates. [`ExecuteTemplate`](https://pkg.go.dev/text/template#Template.ExecuteTemplate) just writes to a buffer and any type information is lost.

Any idea how this could work?

As a workaround you can use `(include "..." .) | fromJson`, but this works only for complex types not boolean.
For numbers you can use `atoi`.

[2022-08-18 18:18] sudermanjr commented on #10555
activity?

[2022-08-18 18:19] sudermanjr commented on #10555
Agreed, a good feature request still.

[2022-08-19 00:16] #10868 closed

[2022-08-19 00:16] #10863 closed

[2022-08-19 00:16] #10809 closed

[2022-08-19 07:15] haowells opened #11246 "get helm failed with checksum error"
Hi Helm support,

I try to install helm on my mac, Is this error means helm tarball corrupted on storage backend ?

haolin@C02D66FAMD6T:~$ curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 11156  100 11156

[2022-08-19 07:34] sergelogvinov commented on #10809
/reopen

[2022-08-19 07:39] ash2k commented on #11169
Just discovered this too. A library shouldn't mutate global state in a third-party package somewhere in an object constructor?! 🥲

This was introduced in https://github.com/helm/helm/pull/7245 as a fix for https://github.com/helm/helm/issues/6958.

The global `scheme.Scheme` is used in https://github.com/helm/helm/blob/f08db5c899c4e312c72ae863acbb90ac8a4747ed/pkg/kube/ready.go#L153-L174

And looki

[2022-08-19 08:01] ash2k commented on #11169
There is likely one more data race there: https://github.com/helm/helm/blob/f08db5c899c4e312c72ae863acbb90ac8a4747ed/pkg/kube/client.go#L99-L107

Clients are usually safe for concurrent use (as they are usually stateless) and this code is not safe.

[2022-08-19 08:39] chmit opened #11247 "Upgrade vcs to at least 1.13.2"
**Description**
Upgrade vcs to at least 1.13.2 in order to fix CVE-2022-21235.

**Describe the solution you'd like**
Upgrade vcs to at least 1.13.2

**Additional context**
https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-21235
https://github.com/advisories/GHSA-6635-c626-vj4r

[2022-08-19 08:43] chmit commented on #11247
My mistake, It was normally done but azure defender scan dispalyed this cve

[2022-08-19 08:43] #11247 closed

[2022-08-19 09:33] harshpan opened #11248 "GO Package vulnerabilities in helm 3.9.3 release"
On upgrading our Helm version from 3.8.2 to 3.9.3 we noticed many GO package related vulnerabilities. Please, let us know by when we can expect these to be fixed.

Output of `helm version`: 3.9.3

Output of `kubectl version`: 1.23.0
[helm_3.9.3_vuln.xlsx](https://github.com/helm/helm/files/9380907/helm_3.9.3_vuln.xlsx)

Cloud Provider/Platform (AKS, GKE, Minikube etc.): GKE

[2022-08-19 09:56] ash2k commented on #11169
There is this workaround for the mutated scheme https://github.com/helm/helm/blob/f08db5c899c4e312c72ae863acbb90ac8a4747ed/pkg/kube/converter.go#L54-L69

[2022-08-19 12:48] npepinpe commented on #11120
Quick question, the `mapkubeapis` plugin worked for me and updated the release manifest. However, running upgrade still returns the same error - is there anything cached or something like this? I can't find anywhere where the deprecated API is used. It's not in the release manifest, it's not in the new chart release...any ideas? Where could it be coming from?

[2022-08-19 13:12] marciodel opened #11251 "Wrong warning message when coalescing values for a subchart that contains subchart"
[helm_issues.zip](https://github.com/helm/helm/files/9381747/helm_issues.zip)

Hi,

   I have found a possible bug. The attached zip file contains a chart with a dependent chart that contains a dependent chart.

   In the top chart a key abc of type table is defined and in the subchart sub1 the same key is defined as array.

   Helm is trying to merge the top values with the subchart values when c

[2022-08-20 14:21] bultas opened #11252 "Error "unable to retrieve resource list for.." when helm install <package>"
__My device__
Mac (M1 Apple sillicon)

__helm version__
[code]

__kubectl version__
[code]

__Kubernetes provider__
DigitalOcean

__Problem__
when cmd `helm install bitnami/mysql --generate-name`

I'm getting:
[code]

[2022-08-21 01:56] yxxhero commented on #11248
@harshpan PR is welcome. thanks very much.

[2022-08-21 01:57] yxxhero commented on #11252
@bultas Please check your DNS config. Thanks very much.

[2022-08-21 02:01] yxxhero commented on #11246
@haowells I can't reproduce your issue. Thanks very much. I think that the issue may be network.

[2022-08-21 04:16] jeremysprofile commented on #7007
not stale, still relevant

[2022-08-21 08:56] abdennour commented on #8439
This is an anti-pattern in k8s. You can reach that by setting write probes

[2022-08-21 09:47] astraw99 opened #11253 "Proposal: Add installed/upgraded resource list info"
Currently, we got this output when do the `install/upgrade` operation, but without any resource list info.
[code]

This proposal is to display the installed/upgraded resource list info, as follows:
[code]
`Installed` display all the installed items, `Upgraded` just display the updated items.

[2022-08-21 22:48] colin-arnott-xero commented on #11083
as the description implies, this check is quite flaky, thus if you have the flexibility to use the `KUBECONFIG` environment variable, providing the "insecure" one second[0] will work around this check without making any permission changes.

0] you can even use an empty first file `KUBECONFIG=":path/to/insecure"`

[2022-08-22 00:16] #6040 closed

[2022-08-22 06:44] DezlowNG opened #11254 ""dial tcp <ip>: connect: connection refused" — while I execute helm install"
Hello!
I'm trying to install [jetbrains space on premises](https://www.jetbrains.com/help/space/proof-of-concept-installation.html), but always get error while I execute "helm install jb-space jetbrains-space-onpremises/space --namespace kube-space -f values.yaml" command.
Error: "INSTALLATION FAILED: Kubernetes cluster unreachable: Get"<https://192.168.0.100:6443/version>": dial tcp 192.168.0.100

[2022-08-22 09:01] pmorch commented on #10265
I don't think this has been resolved, so bump to remove stale label.

[2022-08-22 09:04] yxxhero commented on #10265
@pmorch Oh. Sorry. I will update it.

[2022-08-22 12:09] vinibali opened #11255 "Reference subchart annotations"
Hello there!

What would be the way to reference the annotations of a subchart in the umbrella chart?
I would like to print all the annotations from the subchart's Chart.yaml file at the umbrella chart's NOTES.TXT.
So far none of the pages I found, was working. Please note, all my charts are using hypens.

Thanks and best regards

[2022-08-22 12:17] flokli commented on #11083
Yeah, as written above, this should be a Kubernetes SDK concern, so all libraries connecting to kubernetes could warn in these cases. But having it downstream in `helm` doesn't make too much sense, especially considering it's often wrong.

[2022-08-22 17:43] pallasathena92 commented on #6992
-A will list more releases than -a, that is expected, right?

[2022-08-22 18:03] alecdorenkamp commented on #7275
For those looking for workarounds when using --dry-run in a Jenkins pipeline, I just grepped the output of helm upgrade --dry-run to remove the values of env variables.

Example:  helm upgrade --dry-run _insert your other args_ | grep -Ev "value: "

We're storing credentials in a yaml file as a Jenkins credentials file, and then in our Jenkins pipeline we add it as a --values parameter in the helm

[2022-08-22 21:04] #11254 closed

[2022-08-22 23:57] dqsully opened #11256 "Skaffold wrongly treats Helm's stderr output as YAML"
This issue just started happening on our CircleCI builds today. For some reason, the latest version available from `https://storage.googleapis.com/skaffold/releases/latest/skaffold-linux-amd64` is `v2.0.0-beta1`, which seems like maybe a problem in itself, but I can't tell.

Anyways, the issue is here: https://github.com/GoogleContainerTools/skaffold/blob/f6aafdf9eaf158166a668b91fb73143075996085/p

[2022-08-23 06:33] invidian commented on #10935
Not stale please.

[2022-08-23 06:34] chuckliu1979 opened #11257 "documents for "Subcharts" built-in object"
I do not find any document for "Subcharts" object, not released yet ?

[2022-08-23 07:07] hickeyma commented on #11256
@dqsully Thanks for raising this. The issue is to do with access rights being open on the kubeconfig file. It was decided that warnings should go to stderr instead. Details below from previous discussions:

- Refer to https://github.com/helm/helm/issues/9115 for the reason for the error.
- Refer to https://github.com/helm/helm/issues/8776#issuecomment-696194363 for reason warning is on stderr rath

[2022-08-23 07:08] hickeyma commented on #11257
@chuckliu1979 Can you provide more details on what you are referring to?

[2022-08-23 07:19] chuckliu1979 commented on #11257
sure.

i see ".Subcharts" object here: https://github.com/helm/helm/blob/main/pkg/engine/engine.go#L360
but no document found: https://helm.sh/docs/chart_template_guide/builtin_objects/

[2022-08-23 10:10] azelezni commented on #7841
For anyone looking for a way to see the malformed YAML with `error converting YAML to JSON` errors, just put you're template in `NOTES.txt` and run `helm template test . --dry-run --debug` to get the malformed YAML.

[2022-08-23 10:10] azelezni commented on #8632
For anyone looking for a way to see the malformed YAML with `error converting YAML to JSON` errors, just put your template in `NOTES.txt` and run `helm template test . --dry-run --debug` to get the malformed YAML.

[2022-08-23 10:10] azelezni commented on #8657
For anyone looking for a way to see the malformed YAML with `error converting YAML to JSON` errors, just put you're template in `NOTES.txt` and run `helm template test . --dry-run --debug` to get the malformed YAML.

[2022-08-23 10:11] azelezni commented on #8655
For anyone looking for a way to see the malformed YAML with `error converting YAML to JSON` errors, just put your template in `NOTES.txt` and run `helm template test . --dry-run --debug` to get the malformed YAML.

[2022-08-23 12:55] yxxhero opened #11259 "TestDownloadTo_TLS unit test is failing"
Output from tests in CI failing as follows:

[code]

The CA cert used for TLS unit tests has expired and needs to be renewed.

[code]

[2022-08-23 13:25] dqsully commented on #11256
We already fixed the root cause of the issue on our end that was causing those warnings from Helm. However, **regardless of if or what warnings Helm puts to stderr, Skaffold should not treat it as YAML**. I had to dig deep to even figure out what was going on, and if someone else comes across this issue it's going to be super confusing. All I got was an error message that said `setting labels in m

[2022-08-23 13:29] hickeyma commented on #11256
@dqsully Ok, thank you for the details. Going to close this out as a Scaffold issue.

[2022-08-23 13:29] #11256 closed

[2022-08-23 13:30] dqsully commented on #11256
What? This is a bug in Skaffold, why are you closing it?

[2022-08-23 13:36] hickeyma commented on #11256
I am closing it because Its not a bug in Helm. Am I missing something @dqsully?

[2022-08-23 13:37] dqsully commented on #11256
Dang, I am so, so sorry... I thought I put this on the other repo 🤦‍♂️. Thank you

[2022-08-23 13:43] hickeyma commented on #11256
Not a bother @dqsully

[2022-08-23 20:20] karenhchu commented on #11156
Closing this per Sophie's request; she will re-open the issue when she starts work on it.

[2022-08-23 20:20] #11156 closed

[2022-08-23 21:54] eduardocorral commented on #7280
Still an issue in 3.9.3, unrelated to AWS. E.g. attempting to login to Oracle's OCIR
[code]
with
[code]

[2022-08-24 00:06] payparain opened #11260 "helm lint: "No template associated with template gotpl" when linting subcharts"
Output of `helm version`: `version.BuildInfo{Version:"v3.9.3", GoVersion:"go1.17.13"}`

Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.): `AKS`

---
Hi,

I'm attempting to lint my umbrella chart but running into this persistent error surrounding the use of parent templates within the child charts templates. I can recreate this with a minimal example using just

[2022-08-24 00:15] #10885 closed

[2022-08-24 08:18] mkjpryor opened #11261 "Inject document separators when rendering CRDs"
I have some code that runs `helm show crds <chart args>` to get the CRDs for a chart, then parses the result as YAML to get the list of CRD objects.

This works fine if the CRD files in the chart include a leading `---`. However in the case where the CRD files do **not** include a leading `---`, `helm show crds` outputs a single YAML document where the attributes for one CRD splat over the attribu

[2022-08-24 13:40] Dentrax opened #11262 "list: default behavior should list all statuses by default (instead of just deployed and failed) for better UX"
Default behavior of `$ helm list` is currently lists only `deployed` and `failed` statuses. For example, to list "actually" _all_ statuses, we have to pass `--all` flag. From the end user perspective, wouldn't it be more user-friendly if it lists all statuses by default? What's the motivation of extra `--all` flag here?

Output of `helm version`:

[code]

Output of `kubectl version`:

[code]

Clou

[2022-08-24 13:54] hickeyma commented on #11262
@Dentrax I don't know the history behind it but I would imagine it is because `deployed` and `failed` releases are the most pertinent releases to be shown. If people want releases with all status, then they can use the `--all` flag.

[2022-08-24 15:57] jonnylangefeld commented on #10814
I just ran into this too. I never used chartmuseum and did not have the old `helm push` plugin.
Now on `3.9.3` I see the same issue as described here.

Regarding

This can't work without a plugin. I downloaded [`3.6.3`](https://github.com/helm/helm/releases/tag/v3.6.3) and got
[code]

[code]

[2022-08-24 18:27] #11259 closed

[2022-08-24 19:41] Spitfire1900 commented on #9027
I've reproduced this also when attempting to define a pdb's `minAvailable` field in place of a subchart's default `maxUnavailable` field. The merge includes both a `minAvailable` and `maxUnavailable` field, which is invalid.

[code]
 outputed:
[code]

[2022-08-24 20:04] vlakka1 opened #11264 "Helm charts: How to read a value from environment variables"
Hi,

We are deploying our services using helm onto AWS EKS clusters. AWS by default provides an environment variable AWS_REGION which indicates the region that is being deployed to.

The images are stored in AWS ECR which is region specific. The repository url(defined in values.yaml) is something like:

repository: 5***********.dkr.ecr.us-east-1.amazonaws.com/fds/core-api.

I want to know if its p

[2022-08-24 22:36] ben-xD commented on #10957
I am a bit confused on the difference between that doc @bacongobbler linked (https://helm.sh/docs/topics/registries/#the-push-subcommand ) and https://helm.sh/docs/helm/helm_push/

From reading elsewhere, should I assume `https` support was dropped?

Thanks

[2022-08-25 00:16] #10891 closed

[2022-08-25 00:16] #10888 closed

[2022-08-25 00:16] #10869 closed

[2022-08-25 00:16] #10838 closed

[2022-08-25 11:33] kavita1205 opened #11269 "How can we pass values in secret file other than using values.yaml"
Hi Team,
We generally pass values using values.yaml file in secret file but if I don't want to secret value via values.yaml. So what is the other way to pass secret values in secret.yaml.

[2022-08-25 12:06] kavita1205 opened #11270 "How Imagecredentials can be access if its values are defined in secret file instead of values file"
I am using below configuration for Imagepullsecrets.
My query- Here within defin Imagepullsecrets , we are pulling imagecredentials.registry, imageCredentials.username imageCredentials.password from values.yaml file. If I don't want to expose these username, registry and password in values file then what is the other way to achieve this.

For example - If I want to pass these username, registry an

[2022-08-25 13:31] sbuckpesch commented on #6879
same same. :-(

[2022-08-25 13:34] mblaschke commented on #5540
Also affected:

[code]

[2022-08-25 13:35] PratheekshaShetty opened #11271 "unable to parse YAML: error converting YAML to JSON: yaml: line 46: did not find expected key with helm lint but with helm install its working fine"
helm version
version.BuildInfo{Version:"v3.7.1", GitCommit:"1d11fcb5d3f3bf00dbe6fe31b8412839a96b3dc4", GitTreeState:"clean", GoVersion:"go1.16.9"}

kubectl version
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.9", GitCommit:"b631974d68ac5045e076c86a5c66fba6f128dc72", GitTreeState:"clean", BuildDate:"2022-01-19T17:51:12Z", GoVersion:"go1.16.12", Compiler:"gc", Platform:"linu

[2022-08-25 13:47] mblaschke opened #11272 "How to create and install plugin tgz"
Is the plugin installation with tgz still supported/working? It's mentioned in documentation at https://helm.sh/docs/topics/plugins/#installing-a-plugin

But when trying to download a .tgz from github releases this happens:

[code]

when fetching the tgz and trying it locally it also fails:

[code]

might be also related to #10402

Output of `helm version`:
version.BuildInfo{Version:"v3.9.2", GitC

[2022-08-25 14:34] mblaschke commented on #7117
bump

[2022-08-25 14:47] barrynorman commented on #6879
Same here as well.

[2022-08-25 20:55] mnp commented on #11069
I'm getting this too on Mac Monterey, just for `helm ls`  Kubectl got happy after doing the plugin and env.

[code]

Feel free to ask for other deets.

[2022-08-26 06:10] rowi1de commented on #10782
Not stale just waiting for an answer

[2022-08-26 09:51] pierluigilenoci commented on #9407
@mattfarina is there any chance of seeing this fixed?

[2022-08-26 10:14] wujunwei opened #11275 "cases.Title(language.Und).String() can not get same effect with strings.title"
At the beginning, it's `strings.Title(strings.Replace(name, "_", " ", -1))` here . go 1.18 deprecated function `strings.Title` it's `cases.Title(language.Und).String()` now.

https://github.com/helm/helm/blob/d7b4c38c42cb0b77f1bcebf9bb4ae7695a10da0b/cmd/helm/docs.go#L89

just as code below shows ,If we don't apply cases.NoLower,it will upper first alphabet lower the others which have different eff

[2022-08-26 10:21] wujunwei commented on #11275
@yxxhero  PTAL :)

[2022-08-26 10:25] hari4147 commented on #1987
set using an array list destroy the values yaml structure
1. I have powershell script to set a collection of values to a single key in values.yaml
![image](https://user-images.githubusercontent.com/37335234/186882578-5430f649-12f2-4ebf-89b1-781bb1ae585f.png)

But when I execute the The script result like this.
![image](https://user-images.githubusercontent.com/37335234/186883013-394aa88b-45ca-400c

[2022-08-26 10:26] hari4147 opened #11276 "Not able to use dynamic array structure while using --set flag"
set using an array list destroy the values yaml structure
1. I have powershell script to set a collection of values to a single key in values.yaml
![image](https://user-images.githubusercontent.com/37335234/186882578-5430f649-12f2-4ebf-89b1-781bb1ae585f.png)

But when I execute the The script result like this.
![image](https://user-images.githubusercontent.com/37335234/186883013-394aa88b-45ca-400c

[2022-08-26 11:07] samueljim commented on #11260
lgtm

[2022-08-26 12:21] kavita1205 commented on #11270
@mattfarina can you please help me here.

[2022-08-26 12:24] mnp opened #11277 "lint --strict is not"
Output of `helm version`:
version.BuildInfo{Version:"v3.9.4", GitCommit:"dbc6d8e20fe1d58d50e6ed30f09a04a77e4c68db", GitTreeState:"clean", GoVersion:"go1.19"}

My impression is `lint --strict` should exit nonzero if there are any warnings but I see otherwise.

[code]

Thanks!

[2022-08-26 12:50] kavita1205 opened #11279 "How Imagecredentials can be access if its values are defined in secret file instead of values file"
I am using below configuration for Imagepullsecrets.
My query- Here within defin Imagepullsecrets , we are pulling imagecredentials.registry, imageCredentials.username imageCredentials.password from values.yaml file. If I don't want to expose these username, registry and password in values file then what is the other way to achieve this.

For example - If I want to pass these username, registry an

[2022-08-26 13:01] vosmax opened #11278 "Helm upgrade doesn't replace failed pods if options --wait --timeout were used"
Hi there!

I've faced with interesting behaviour of helm upgrade command:

How to reproduce:

1. Deploy chart by this command
[code]
2. Add `initContainer` section to the deployment with non-zero exit code to make init container fail
[code]
3. Deploy updated chart by this command
[code]
4. Remove `initContainer` section in deployment
5. Deploy chart
[code]

As a result we see that we have the fail

[2022-08-26 13:46] bacongobbler commented on #11279
Duplicate of #11270.

[2022-08-26 13:46] #11279 closed

[2022-08-26 14:52] jshawatsplunk commented on #6398
looks great!

[2022-08-26 14:59] madrisan commented on #1987
@hari4147 stackoverflow.com is a way better site for this type of questions.

[2022-08-26 15:26] phil9909 commented on #11272
Hi @mblaschke,

- `helm plugin install https://github.com/xxxx/xxxx/releases/download/xx-xx-xx/helm-plugin.tgz` seems to be a problem in `isRemoteHTTPArchive` not following redirects.
- `helm --debug plugin install release-assets/helm-plugin.tgz` this will not work because it expects a folder. You need to extract the tar first. I guess the error message could be improved here.
  Try something like

[2022-08-26 15:30] kavita1205 commented on #11279
@bacongobbler can you please help me with answer. I am seeing you have closed this issue with a say that it is duplicate. However I am not seeing any answer for this query.

[2022-08-26 16:19] hari4147 commented on #1987
sorry for the inconvenience.

On Fri, 26 Aug 2022 at 8:29 PM, Davide Madrisan ***@***.***>
wrote:

[2022-08-26 21:52] SebTardif commented on #6902
Is that rare to use "helm test" with an environment running Istio?

`Error: unable to get pod logs for beneficiary-registry-ui-microservice-chart-test-connection: a container name must be specified for pod beneficiary-registry-ui-microservice-chart-test-connection, choose one of: [istio-init wget istio-proxy]`

[2022-08-27 00:15] #10894 closed

[2022-08-27 00:24] negz opened #11280 "Bump default discovery rate limit to 300rps"
Hi folks,

I'd like to encourage you to update Helm's Kubernetes discovery client rate limiter to allow bursts of up to 300 rps (or more - but 300 is the new client-go default). This allows the discovery process to complete much faster when there are up to 300 API groups (e.g. due to many CRDs being installed).

* https://github.com/crossplane/crossplane/issues/3272

See the above issue for the fu

[2022-08-27 08:30] yong-jie-gong opened #11281 "hard to parse chart version information from helm release output"
Install many helm chart and run the command "helm list", it is hard to judge what is correct the chart name for specific helm release,
for example,
what i want to know is the chart version instead of appVersion. but currenlty it is not convenient to know.
for example, for helm list command output are below
#helm list -oyaml
[code]
  with output above, it is hard to know what chart version it is. i

[2022-08-27 08:31] yong-jie-gong commented on #11281
Raise PR https://github.com/helm/helm/pull/11060/ for issue

[2022-08-27 11:40] shabuddinshaik commented on #11007
Downgrading helm to "v3.8.2" works.

[2022-08-28 00:20] #10915 closed

[2022-08-28 20:47] philomory opened #11282 "[feature-request] Introduce `chart://` url scheme for loading extra values files from inside the chart"
Although only the file `values.yaml` within the chart has any special meaning, it is possible to include other arbitrary files inside the packaged chart (and indeed by default, in the absence of a `.helmignore` file, _all_ files in the chart directory are included in the packaged chart). By default, these extra files have no purpose, but they can be extracted by end users who `helm pull` the packa

[2022-08-29 07:10] hari4147 commented on #10428
[feat: add --set-json flag to set json values](https://github.com/lucadirocco/helm/commit/fd48201b223f3979124868d2c9ad81477de8dc8c) This feature available in which release?.

![image](https://user-images.githubusercontent.com/37335234/187143994-ee31c560-2f8c-4d54-ba79-3d0b1e5d0772.png)

[2022-08-29 07:24] hickeyma commented on #10428
@hari4147 https://github.com/helm/helm/pull/10693 is waiting on a another maintainer approval to merge.

[2022-08-29 07:38] marciodel commented on #11251
Any feedback about this issue?

[2022-08-29 07:48] mlkmhd commented on #3553
I did it with `yq` and `kubectl-slice` tools:

[code]

[2022-08-29 09:24] bultas commented on #11252
thank you, it was a problem on my router settings

[2022-08-29 09:24] #11252 closed

[2022-08-29 10:44] alexzerd commented on #11017
Same, executing

[code]
results in:
`Error: failed to do request: Post "https://<aws-account-id>.dkr.ecr.<aws-region>.amazonaws.com/v2/foobar/blobs/uploads/": EOF`

[2022-08-29 11:36] TheoGthr commented on #11264
Hello, you can find an example [here, on StackOverflow](https://stackoverflow.com/a/49930497).
The main idea is to declare us-east-1 in your values file, so it can be overridden by setting it in your `helm install` command: `helm install ... --set region=$AWS_REGION` for example.

[2022-08-29 13:16] marcgenou commented on #5916
Issue yet on 3.9.3 :(

[2022-08-29 16:57] sd-matt-b commented on #9136
This worked for me, notably changing `maxUnavailable` from `null` to `false` like so:

[code]

Thank you!

[2022-08-29 17:32] luisdavim commented on #10987
/remove stale

There's an open PR for this, just awaiting feedback.

[2022-08-30 07:17] hickeyma commented on #11264
@vlakka1 Did the response by @TheoGthr in https://github.com/helm/helm/issues/11264#issuecomment-1230166372, answer our question?

[2022-08-30 12:37] matteogazzadi commented on #10555
Basically impossible to have jobs with suspend:true and hook due to this.

[2022-08-30 16:33] rdjones517 commented on #10798
looks like ORAS v2 now supports mTLS

[2022-08-30 21:04] PengWang-SMARTM opened #11283 "Proposal: split values.yaml by subcharts"
`values.yaml` becomes harder to manage with subcharts in some cases.

It would be nice if `values.yaml` file can be **optionally** broken down into `values.<subchart-alias>.yaml` files, so that each `values.<subchart-alias>.yaml` file would be just like the `values.yaml` file for the subchart.

[2022-08-30 22:58] itsmethemojo opened #11284 "Proposal: add EnvVar block into basic template of helm create"
One of the first things i have to manually add when quickly using a default helm chart created with helm create is adding an configuration block adding environment variables

I prefer to store all them in a secret and embed them from secret within the deployment. This is especially a good idea when there are sensitive information in it.

So why add this functionality to the default template in blo

[2022-08-31 09:08] usefree commented on #6006
could someone reopen this issue or provide the solution?

[2022-08-31 09:16] w7089 commented on #11238
opened [pr](https://github.com/helm/helm-www/pull/1347)

[2022-08-31 09:16] #11238 closed

[2022-08-31 10:22] krishna-rakesh-dubey-db commented on #9098
We can use this "helm.sh/hook-delete-policy" : "before-hook-creation". It will not delete the job and we can check logs.

[2022-08-31 14:04] mprocterncs commented on #9150
@dastrobu Is this going to be delivered into v3.10.0?  I could really do with this fix, otherwise I'm going to have to give up on reusable sub-charts, and instead duplicate it with different names, just to workaround this bug.

[2022-08-31 15:40] aaktaev opened #11285 "Helm fails with error github.com/docker/cli/cli/config.load"
Helm fails with error:
[code]

Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):  gcp,azure,aws

[2022-08-31 17:06] dastrobu commented on #9150
@mprocterncs it is up to the maintainers to decide on what goes into v3.10.0, so I really can't tell.

[2022-08-31 18:12] mmerickel opened #11286 "authentication failure with oci images when logged into multiple registries on the same domain at different subpaths"
Repro steps:

[code]

Basically note that after logging out of the unneeded group1 that helm is happy again. It seems to be picking credentials based on domain instead of the most specific subpath.

I'm experiencing this issue from argocd 2.4.11 but I repro'd it locally without argocd as well.

Output of `helm version`:

`version.BuildInfo{Version:"v3.9.4", GitCommit:"dbc6d8e20fe1d58d50e6ed30f09a0

[2022-08-31 18:54] ruckc opened #11287 "Error: UPGRADE FAILED: unable to build kubernetes objects from current release manifest: resource mapping not found for name: "00-rook-privileged" namespace: "" from "": no matches for kind "PodSecurityPolicy" in version "policy/v1beta1""
I upgraded my cluster to 1.25 with existing helm charts installed with PodSecurityPolicies.  The upgrade process left everything in a working state, but i'm unable to upgrade my helm charts due to the missing api resources.

It would be nice if there was a method for upgrade that supported ignoring missing resource mappings.

I tried using `helm mapkubeapis` to repair, but it only replaces apiVers

[2022-08-31 20:40] #10428 closed

[2022-09-01 00:16] #10898 closed

[2022-09-01 00:55] yxxhero commented on #11285
[code]
your disk may has issue. `dmesg -T` to check it.

[2022-09-01 01:37] Eternal21 commented on #5156
I am trying to use your workaround, but do not see `postuninstall` hook in helm?  Will `post-delete` work for this?  https://helm.sh/docs/topics/charts_hooks/

[2022-09-01 06:19] rowi1de commented on #11000
Not stale, waiting for maintainers

[2022-09-01 07:06] wujunwei commented on #11278
you can try with `--force`

[2022-09-01 07:07] aaktaev commented on #11285
@yxxhero , disk is ok, it shows docker/config.json in b64 enc , I've didn't paste it here in the output error.

[2022-09-01 07:20] aaktaev commented on #11285
Here is the way how helm is used:

1. There is docker container with kubctl, helmsman , helm
2. There are python code which launches rendered helmsman file, and when helmsman starts, it fails that it can't recognize helm version.
3. Charts are located on filesystem which is mounted to docker container

[2022-09-01 07:21] aaktaev commented on #11285
With helm=3.7.2 it works fine. But we would like to upgrade helm to 3.9.4

[2022-09-01 08:31] biswa123642 commented on #10975
Hi @balosh-daniel ,

Can you please help me to understand the * version, as per your command,

helm upgrade --install -n **** **** ./K8s/****_chart --set ****

Actually I have setup EKS cluster and got same issue as you described already.

Thanks,
Biswajit

[2022-09-01 08:33] CatchSandeepVaid opened #11288 "Add rollme: {{ randAlphaNum 5 | quote }} annotation in deployment.yaml"
Output of `helm version`: 3.9

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.3", GitCommit:"1e11e4a2108024935ecfcb2912226cedeafd99df", GitTreeState:"clean", BuildDate:"2020-10-14T12:50:19Z", GoVersion:"go1.15.2", Compiler:"gc", Platform:"windows/amd64"}
Server Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.6", GitCommit:"ece9ecf2

[2022-09-01 09:08] wujunwei commented on #11278
I see from the source code, if the current release's status is not successful, it will regard last successful deployed release as  current release. so when you remove initContainer section in deployment,it will compare to last successful deployed one which has no initContainer section. helm thought it is same .it would not do anything but wait it tobe normal.

so you can add `--force` flag to repl

[2022-09-01 09:12] aaktaev commented on #11285
we are not pulling or pushing anything by helm

[2022-09-01 09:21] yxxhero commented on #11285
@yxxhero can you show the /config.json permission and content?

[2022-09-01 09:33] thernstig commented on #9586
Unstale

[2022-09-01 09:34] aaktaev commented on #11285
The most interesting thing, that when docker container starts - there is no any docker/config.json file .
It somehow shows config.json (it is variable )which will be passed to our chart (and will be used in secret)to be able to pull images from private registries;

[code]

[2022-09-01 10:02] yxxhero commented on #11288
@CatchSandeepVaid Please format your code.

[2022-09-01 10:04] yxxhero commented on #11285
@aaktaev can you share your docker image or dockerfile.

[2022-09-01 10:24] aaktaev commented on #11285
[code]

[2022-09-01 13:21] RafalSkolasinski commented on #11069
After following steps from https://cloud.google.com/blog/products/containers-kubernetes/kubectl-auth-changes-in-gke (which seems pretty much the same as above mentioned I do not see errors anymore).

[2022-09-01 15:05] hickeyma commented on #11069
Thanks for feedback @RafalSkolasinski. Closing as fixed in third party.

[2022-09-01 15:05] #11069 closed

[2022-09-01 16:22] joejulian commented on #11231
Yeah, I built a really hacky workaround.

[code]

[code]

Which at least tells the reader that the include value being returned is a bool.

Maybe this should be a sprig issue, adding a function that interprets strings as json values, ie. `true` is a bool but `"true"` is a string.

[2022-09-01 16:27] joejulian commented on #11231
Ok, so it shouldn't be a sprig issue. Looks like there is nobody maintaining that project.

[2022-09-01 16:47] joejulian commented on #11231
I will look at the sprig fromJson function to see how it works. Maybe it _should_ interpret values in this way, but currently it only interprets maps.

[2022-09-01 18:05] Donnie commented on #9282
This issue is still there with 3.7.0

[2022-09-01 18:39] vosmax commented on #11278
Looks weird. Current release has to be the last deployed, even if failed. Really, strange logic. I cannot find explanation why so. It has to compare current release and previous. Why does it compare only with the last success release?

Yes, I can, also `--atomic` can save the situation. but I want to understand the nature of such behavior

[2022-09-01 22:03] Eternal21 commented on #5137
Thank you for this!  Worked like a charm on the first try.

[2022-09-02 05:06] MurzNN commented on #2247
bump

[2022-09-02 08:26] wujunwei commented on #11278
I agree with you， I hope some one could explain it 🙏.

[2022-09-02 08:36] wujunwei commented on #11278
I found this issue #5595 may explain everything.

[2022-09-02 08:54] fox-md opened #11291 "If clause for template existence check"
Can you please advice, is it possible to check template existence with `if` clause?
Below option does not work for me.
I created `hook.env`, but trying to call `hook` template that does not exist.

[code]
I am getting below error:
[code]

Output of `helm version`:

version.BuildInfo{Version:"v3.8.2", GitCommit:"6e3701edea09e5d55a8ca2aae03a68917630e91b", GitTreeState:"clean", GoVersion:"go1.17.5"}

[2022-09-02 09:54] stuartdrennan opened #11292 "http2: client connection lost - is there any possibility of a retry?"
Occasionally I am seeing `http2: client connection lost` in helm install/upgrade operation.

This is more noticeable in long running installs.

`helm install` is happening within pods inside the cluster but there may be network drops due to cluster size, traffic volume or possible rolling restarts of etcd/api servers, none of which me or my team can control.  Understand these problems are not real

[2022-09-02 10:30] SuperSandro2000 commented on #11009
.

[2022-09-02 11:43] yxxhero commented on #11292
@stuartdrennan run helm install again?

[2022-09-02 11:45] yxxhero commented on #11291
@fox-md
[code]
Do you have any templte "hook" by `define`?

[2022-09-02 13:04] stuartdrennan commented on #11292
Certainly an option, but an inbuilt retry mechanism would be a lot simpler and cleaner so the install doesn't get into a failed state when the chart itself didn't actually fail :)

[2022-09-02 13:12] fox-md commented on #11291
Hi @yxxhero,
No, I do not. I would like to store below block in a chart library and to include it only if chart has template `hook` defined
[code]

[2022-09-02 13:27] yxxhero commented on #11292
@stuartdrennan There is no such retry mechanism at present. Thanks very much.

[2022-09-02 15:33] vlakka1 commented on #11264
Hi @hickeyma, I still have to try this out and will keep this thread updated on the results. The issue is we use a common Jenkins pipeline across many projects for helm deployments. I have to figure out a way to fork that and include this setting for a particular Jenkins job.

[2022-09-02 19:29] kashook commented on #9398
Still an issue, fixed by https://github.com/helm/helm/pull/9400, which is still awaiting review by core maintainers.

[2022-09-02 23:33] joejulian commented on #11152
If I'm understanding your question, you may find [named templates](https://helm.sh/docs/chart_template_guide/named_templates/) useful for that. Define your common elements, then include them using `{{ template "common_elements" .}}` in your ingress template.

[2022-09-02 23:37] joejulian commented on #11163
The tests are templated at the time of the chart installation and stored in the release secret. Could you just set the token during the install?

[code]

[2022-09-02 23:44] joejulian commented on #11177
Closing as duplicate

[2022-09-02 23:44] #11177 closed

[2022-09-03 00:06] joejulian commented on #11197
This is a go template limitation. To demonstrate, go to https://repeatit.io/

Put this in the Input box:

[code]

and put this in the template box:

[code]

[2022-09-03 00:14] #10908 closed

[2022-09-03 00:17] joejulian commented on #11194
I think this should be properly handled by helm's [resource ordering](https://github.com/helm/helm/blob/12f1bc0acdeb675a8c50a78462ed3917fb7b2e37/pkg/releaseutil/kind_sorter.go).

[2022-09-03 14:57] howardjohn commented on #10392
This is still an issue, would be great to have open

[2022-09-04 00:16] #10932 closed

[2022-09-04 00:16] #10927 closed

[2022-09-04 06:44] PengWang-SMARTM opened #11293 "Feature Request: Overriding Files from a Parent Chart"
First of all, I'd believe this is a duplicated request of #1892 , but in a different wording.

Current Helm supports "Overriding Values from a Parent Chart", but apparently not Files yet.

As a result, one workaround is to convert the content of Files into Values, and make a huge values.yaml file to pass the configuration to subcharts. it works but is not very elegant.

A native support of "Overri

[2022-09-04 06:50] PengWang-SMARTM commented on #11293
I believe #9420 is actually the same issue, rather than asking for accessing external files.

[2022-09-04 12:37] root-ali commented on #11194
Hi @joejulian
can i assign this issue to myself and give it a try?

[2022-09-04 13:09] joejulian commented on #11194
GitHub doesn't allow folks to be assigned that don't meet some criteria (no idea what criteria), but please feel free to open a PR referencing this issue.

[2022-09-05 00:18] #10933 closed

[2022-09-05 00:18] #10308 closed

[2022-09-05 09:36] JeyJer opened #11295 "Wrong scope generated with merge"
Hi everyone,

I'm a french student currently working with helm. I noticed a strange behavior :

I use the named templates with a scope. The scope is generated with the merge function and I store it in a variable ; then the variable is reused as scope for the functions defined in my _helpers.tpl file.
The merge unifies the root scope ```$``` with some ```.Values``` defined in a values.yaml file.
Ea

[2022-09-05 10:25] vio-f opened #11296 "Recursive templating with tpl not possible"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): bare-metal

Considering the following values:
[code]

with the following templates, very common in bitnami charts:
[code]

What I would expect `KAFKA_HOST` to be rendered to is
[code]
but instead I get:
[code]

It seems that tpl function is not recursively rendering the input.

[2022-09-05 13:08] TigranKhudav opened #11297 "Define variable in values.yaml and use same file"
Can I set a value in value.yaml and use it in the same file ?
for example.

`values.yaml`

name: example

containerEnv:
 &nbsp;&nbsp;&nbsp;&nbsp;\- name: URL
 &nbsp;&nbsp;&nbsp;&nbsp;value: "`<name>`.com"

Labels:
&nbsp;&nbsp;&nbsp;&nbsp; app.kubernetes.io/name: `<name>`

[2022-09-06 07:23] fisju opened #11299 "Modifiable chart Values"
**Current behaviour**:
Chart values are not immutable and shared between multiple dependencies.

If a chart is used as a dependency multiple times the values can be modified using `merge` `set` and `unset` functions and the modified version is available in the next dependency

Given `Chart.yaml` with local dependencies:
[code]

subchart with `values.yaml`

[code]

and code in any template (e.g. `m

[2022-09-06 07:32] fisju commented on #11297
you can use anchors for that but there is a limitation that you cannot modify the value (e.g. concatenate)
see https://helm.sh/docs/chart_template_guide/yaml_techniques/#yaml-anchors

[2022-09-06 09:02] MrDeerly commented on #8880
Is there any chance to reopen this issue? The bug seems to be back.

[2022-09-06 11:28] pierluigilenoci commented on #10583
@mattfarina @matthiasfehr could you please take a look?

[2022-09-06 11:55] daro1337 commented on #9805
This is still a problem.

[2022-09-06 18:30] msadish commented on #9150
Any chances this bug could get fixed with v3.10.0 ? its becoming headache with this issue. any one have workaround to avoid this ?

[2022-09-06 18:33] mozai commented on #6040
Reopen -- this is still a problem.
[code]

[2022-09-07 00:15] #10818 closed

[2022-09-07 00:57] AlanMasciangelo opened #11302 "Cannot --set value to absolute path on Windows"
Passing a string representing an absolute directory path to `--set` on Windows results in the value being prepended with the directory of the currently running process.

## Expected behavior

[code]

## Actual behavior

[code]

Output of `helm version`:

[code]

Output of `kubectl version`:

[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):  RKE

[2022-09-07 01:35] yong-jie-gong opened #11303 "No way to use the helm chart tags value in child chart"
1) create one chart which contains multiple child chart as below
![image](https://user-images.githubusercontent.com/13399313/188769044-d6e0426a-eb28-411e-86f8-0122aa617f66.png)
2) we tags.monitor set it true, we expect the child chart db2 can read this setting and enable/disable something
right now, only configuration items under global is visible for child chart.

does it make sense to make tags

[2022-09-07 02:55] alan-czajkowski commented on #10988
@hickeyma has this been resolved in a newer version of Helm?

[2022-09-07 07:37] hickeyma commented on #10988
@alan-czajkowski You issue looks different to @rameshar16 issue. @rameshar16 looks like the file might not be present on the files system  but can't be sure without more details.

The `--values` flag is working as expected. It is not designed to look for multiple values files bundled inside of a Helm package. The idea is that you override the default values file depending on how you want the packa

[2022-09-07 09:43] ganievs commented on #11197
Got it. Thanks for clarification

[2022-09-07 09:43] #11197 closed

[2022-09-07 10:43] TigranKhudav commented on #11297
Thanks @fisju
But we can use in the string ?
for example.

url: `&Url` "example"

containerEnv:
    - name: URL
    value: "http://`<Url>`.com"

[2022-09-07 11:46] nickjmv commented on #11017
Same issue here! +1

[2022-09-07 14:21] phil9909 commented on #11280
`client-go` version 0.25.x is planed to be included in the Helm 3.10 release.

I searched for calls to `WithDiscoveryQPS` in the repo and couldn't find any matches, so Helm seems to use the default and updating to v0.25.x should bring the new default automatically.

[2022-09-07 16:15] hiddeco opened #11304 "Memory driver does not seem to detach release objects from pointer address"
Lately I have been writing extensive tests for some things that depend on the Helm SDK in which I originally was attempting to work with the memory storage driver due to simplicity of mocking. However, it has become apparent that this driver behaves different from other drivers, in that it reflects state modified by a Helm action even if the `Update` call to the storage fails.

The culprit seems t

[2022-09-07 18:57] negz commented on #11280
Ack, thanks @phil9909!

[2022-09-08 00:18] #10705 closed

[2022-09-08 00:18] #6699 closed

[2022-09-08 01:58] huangcj7 opened #11305 "trimAll can't identify 'e'"
I use the {{  trimAll "te" "$test"  }}
and my expected output is **$st**
but it is $tes

also if I use {{  trimAll "e" "test"  }} ,there is nothing to do

[2022-09-08 05:08] AssafKatz3 commented on #10434
I don't know Golang enough to open a pull request.

[2022-09-08 10:16] utr1903 opened #11306 "Kubernetes cluster unreachable -> dial tcp: i/o timeout"
This issue started to occur very recently and since I've made couple of updates simultaneously, I am not sure what broke `helm`.

Output of `helm version`: -> Installed with brew
[code]

Output of `kubectl version`: -> Installed with brew
[code]

Cloud Provider/Platform:  `AKS`, `EKS`

Laptop: MacOS (M1)

When I run `kubectl`commands against the cluster, they work perfectly.
However when I run `he

[2022-09-08 11:55] blackwood821 commented on #6699
Please re-open

[2022-09-08 12:50] tewner commented on #6699
Hi!
You may want to consider using helmfile to organize variables across your hierarchy of helm charts.

[2022-09-08 14:05] jslay88 commented on #10026
See the script CFPB built.

https://github.com/cfpb/consumerfinance.gov/blob/main/helm-install.sh#L99

[2022-09-08 14:30] abashir236 opened #11307 "nil pointer evaluating interface {}.controlPlane"
Output of `helm version`: version.BuildInfo{Version:"v3.9.3", GitCommit:"414ff28d4029ae8c8b05d62aa06c7fe3dee2bc58", GitTreeState:"clean", GoVersion:"go1.19"}

Output of `kubectl version`: 1.24.3 Client and 1.24.0 server

Cloud Provider/Platform (AKS, GKE, Minikube etc.): Docker Desktop 4.11.1 (84025)

Doing a helm install and getting the error: `helm-clusterclass	0.1.0	False	False	Helm upgrade fai

[2022-09-08 14:46] pgier opened #11308 "helm dependency update should have an option to skip upgrades of existing dependencies"
Output of `helm version`:
[code]

I have a couple of use cases that helm doesn't seem to handle very well right now.
1. I want to add a new dependency to Chart.yaml without touching existing dependencies.  Currently it seems that if I use version ranges such as 1.x, then I have to do an upgrade of this dependency when I add a new dependency.
2. I want to switch from using a specific dependency ver

[2022-09-08 14:52] ohemelaar opened #11309 "Cannot serialize top level object"
Trying to serialize the top-level object (`.`) fails. I tried it with `print`, `toYaml`, `toJson`. It can be useful when debugging templates to render it to see what's inside.

Steps to reproduce:
[code]
[code]

---
Output of `helm version`: version.BuildInfo{Version:"v3.9.0", GitCommit:"7ceeda6c585217a19a1131663d8cd1f7d641b2a7", GitTreeState:"clean", GoVersion:"go1.17.5"}

Output of `kubectl vers

[2022-09-08 15:08] #11309 closed

[2022-09-08 16:01] tghartland opened #11310 "Helm supports unix style path in HELM_PLUGINS for loading, but fails when installing new plugins"
Helm can parse a `:` separated list of paths in HELM_PLUGINS.
https://github.com/helm/helm/blob/8199db309ae73d745b983fb7ea2bfdd944a834ae/pkg/plugin/plugin.go#L261-L262

which works for loading plugins from multiple directories.

For example, installing two versions of the helm diff plugin in two paths under /tmp:
[code]
Both versions show up when listing plugins
[code]
and the plugin in the leftmo

[2022-09-08 17:26] h20220025 commented on #11304
hey @hiddeco I read about the issue and I am looking forward to resolve this issue. Could I work on this issue ???

[2022-09-08 18:27] hiddeco commented on #11304
Until we have reached consensus with the Helm maintainers there is nothing to be done here @h20220025.

[2022-09-08 18:31] matti commented on #10026
yes, envsubst or sed

[2022-09-08 23:07] joejulian commented on #11216
Seems reasonable. I think the only reason it's different is Erik missed it in [this PR](https://github.com/helm/helm/pull/7795)

[2022-09-08 23:33] joejulian commented on #11217
Values are not processed as templates so no, that won't work.

All I can think of is adding another field:
[code]

Then using dig you could do something along the lines of (this is untested and has at least one assumption):
[code]

[2022-09-08 23:37] joejulian commented on #11218
I don't have an answer to whether they should or not, but release dates are governed by https://github.com/helm/community/blob/main/hips/hip-0002.md

[2022-09-08 23:39] joejulian commented on #11222
Neither Chart.yaml nor values.yaml are parsed by the template engine. This is not supported.

[2022-09-08 23:42] joejulian commented on #11224
Would `helm package -u` do what you're looking for?

[2022-09-08 23:44] #11227 closed

[2022-09-08 23:56] joejulian commented on #11229
I agree that's hard to read. The first paragraph is establishing a behavior that the author expects the reader to be familiar with (go-templates). Then goes on to say, "There may be situations where a chart developer wants to enforce this behavior for select values ..." implying that the following `required` function may be used in templates to enforce the setting of specific keys.

As @bacongobbl

[2022-09-09 00:00] joejulian commented on #11230
Official helm binaries are shipped as static binaries and are not linked against zlib. This CVE does not apply.

[2022-09-09 00:00] #11230 closed

[2022-09-09 00:06] joejulian commented on #11232
This is how go templates work. I agree with @rehevkor5 that this would be better handled through a documentation improvement. Please open an issue in [helm-www](https://github.com/helm/helm-www/issues).

[2022-09-09 00:06] #11232 closed

[2022-09-09 00:08] joejulian commented on #11235
Please file an issue with the plugin maintainer at [chartmuseum/helm-push](https://github.com/chartmuseum/helm-push/issues
)

[2022-09-09 00:08] #11235 closed

[2022-09-09 00:13] joejulian commented on #11239
How about
[code]

[2022-09-09 00:18] #10826 closed

[2022-09-09 00:21] joejulian commented on #11248
Wouldn't that be ironic if that attached excel file was, itself, a viral contagion. As a matter of security I do not open MS formatted documents from untrusted sources (not saying you're not worthy of trust, I just don't know you and this is your first issue ever).

If this is a legitimate concern, please file a new issue with sufficient readable text that it can be acted upon.

[2022-09-09 00:21] #11248 closed

[2022-09-09 00:26] joejulian commented on #11251
Looks like this is working as intended: https://helm.sh/docs/chart_template_guide/subcharts_and_globals/#overriding-values-from-a-parent-chart

Does that help?

[2022-09-09 00:29] joejulian commented on #11253
This would need to be behind a flag as it changes the output which may break automation that relies on current behavior.

[2022-09-09 00:43] joejulian commented on #11257
@chuckliu1979 Would you please file an issue in the [documentation repo](https://github.com/helm/helm-www/issues)?

[2022-09-09 00:48] joejulian commented on #11260
That is awkward. A chart is expected to be able to be installed stand-alone. You should be able to drill down into that subchart and install it without its parent. Yet the documentation reads otherwise on that page https://helm.sh/docs/chart_template_guide/subcharts_and_globals/#overriding-values-from-a-parent-chart .

This is confusing and could use some direction from the @helm/helm-core-maintai

[2022-09-09 00:52] joejulian commented on #11269
If you have data in a secret, generally you want to build your templates to either mount that secret into the pod that needs the data, or to set environment variables from that secret data.

https://kubernetes.io/docs/concepts/configuration/secret/#using-secrets-as-files-from-a-pod
https://kubernetes.io/docs/concepts/configuration/secret/#using-secrets-as-environment-variables

[2022-09-09 00:56] joejulian commented on #11270
You can specify the secret to use in your values and just reference that secret in imagePullSecrets. See the kubernetes documentation at https://kubernetes.io/docs/concepts/configuration/secret/#using-imagepullsecrets-1

[2022-09-09 01:17] astraw99 commented on #11253
Sure, we can add a flag `--show-resources` to achieve it.

If this proposal feature get approval, I will raise a PR, thanks.

[2022-09-09 01:22] yxxhero commented on #11307
@abashir236
please show the values.yaml

[2022-09-09 02:31] abashir236 commented on #11307
Ah I am a noob and was not using a values.yaml file as I appear to have been misled into believing it is not mandatory. I dont have a great example as to what values (no pun) need to be in there for a workload cluster as mostly I see examples for pods.

[2022-09-09 04:19] harshpan commented on #11248
Thank you i will do that.

Regards
Harsh Pandey

On Fri, 9 Sep, 2022, 5:51 am Joe Julian, ***@***.***> wrote:

[2022-09-09 07:41] NEM-NE opened #11312 "Can I create namespace.yaml in helm chart?"
When I work on my istio project, I need to inject sidecar enabled labels in backend namespace, default namespace.

So, I want to create namespace that include custom labels.

Can I Create namespace.yaml in chart's template folder?

like this

[code]

if it isn't best practice, why isn't best practice?

[2022-09-09 07:59] marciodel commented on #11251
Hi @joejulian,

   In fact it is not behaving as defined in the link and the warning is only happening when resolving the condition of dependencies.

[code]

The wrong warning only happens when subchart1 has a subchart. The warning shows because it tries to coalesce tolerations from the parent with tolerations from the subchart1. I would agree with you if the message would show when coalescing  su

[2022-09-09 08:07] sriramkuau1 opened #11318 "helm ls -a is giving "kubernetes cluster unreachable""
Background: Something happened yesterday ( unknown to me ) which led to usage of kubectl commands rendering my macbook unusable ( network/internet breaking and freezing all applications).

I fixed it by using
sriramkumar@Srirams-MacBook-Pro ~ % brew link --overwrite kubernetes-cli

And today I discovered it is helm that is broken, so eg. when I use `helm ls -a`

The error I'm getting is
sriramkuma

[2022-09-09 09:23] harshpan opened #11313 "GO Package vulnerabilities in helm 3.9.3 release"
On upgrading our Helm version from 3.8.2 to 3.9.3 we noticed many GO package related vulnerabilities. Please, let us know by when we can expect these to be fixed.

Output of helm version: **3.9.3**

Output of kubectl version: **1.23.0**

Cloud Provider/Platform (AKS, GKE, Minikube etc.): **GKE**

<html>
<body>

Short Description | Affected Packages | Current Version | Effective Severity | Fixed Ve

[2022-09-09 09:24] harshpan commented on #11248
I have created a new issue and listed the Vulnerabilities that came while scanning through GCP GCR vulnerability scanner.

GO Package vulnerabilities in helm 3.9.3 release #11313

[2022-09-09 10:55] marckhouzam commented on #10654
Still good (or maybe I should say 'bad')

[2022-09-09 12:32] wasim-nihal commented on #7160
I had the same issue while trying to upgrade my helm chart using helm client-go package. I was getting the below error each time while trying to upgrade using `func (helmclient.Client).InstallOrUpgradeChart` function of helm client.
`**my-chart-test" has no deployed releases**`

When I did helm list on my namespace, my chart was not listed there. So, I has to explicitly trigger a `helm uninstall m

[2022-09-09 14:44] vzabawski commented on #7275
Still relevant. --dry-run and --debug are very useful for debugging and testing code, but printing secrets is a no-go for using it in CI workflows.

[2022-09-09 14:48] micxer commented on #9098
@krishna-rakesh-dubey-db This doesn't help at all. The issue is not being able to fetch the logs before the pod gets cleaned up. Your "solution" just keeps the completed pod lying around.

[2022-09-09 15:39] malcolm061990 opened #11319 "Helm template generates empty template with braces"
Output of `helm version`:
version.BuildInfo{Version:"v3.8.0", GitCommit:"d14138609b01886f544b2025f5000351c9eb092e", GitTreeState:"clean", GoVersion:"go1.17.6"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.2", GitCommit:"8b5a19147530eaac9476b0ab82980b4088bbc1b2", GitTreeState:"clean", BuildDate:"2021-09-15T21:31:32Z", GoVersion:"go1.16.8", Comp

[2022-09-09 15:53] xrl opened #11320 "Add command line gate for changing a release's chart"
We author many charts and make many releases. Sometimes we screw up and overwrite an existing release by running a `helm install` with the name of an existing release that's on a different chart.

It would be nice to have a flow like:

[code]

[2022-09-09 17:13] Salec commented on #10398
Would love to see this implemented

[2022-09-09 17:46] alexsomesan opened #11321 "helm template produces different results to stdout vs outputDir"
When trying to render the CRDs of Istio project using `helm template` command, I am getting divergent output depending on whether it's printed to console or output to files.

I'm rendering to console using this command:
[code]
This only partially renders the `crd-all.gen.yaml` manifest in the `isito/base` chart, discarding most of the contents of the source file.

When rendering to an `outputDir`,

[2022-09-10 00:10] joejulian commented on #11276
How about something more like this:
[code]

obviously without the "echo" but just for demonstration purposes, this results in

[code]

Which I think is what you're asking for.

[2022-09-10 00:18] joejulian commented on #11277
I'll label this as a bug, but I think it's not because it's not the linter that's throwing that warning. That error is coming from the values merge before it gets to the templating.

[2022-09-10 06:18] MaciekLeks commented on #11321
So, the test  in CLI shows the problem with rendering to folders. I confirm
Stdout:
[code]
Result: Correct

Using `--otput-dir` flag:
[code]
Rsesult: Not-Correct
[code]

[2022-09-11 00:15] #10955 closed

[2022-09-11 00:15] #10953 closed

[2022-09-11 00:16] #10949 closed

[2022-09-11 00:16] #10946 closed

[2022-09-11 00:16] #10942 closed

[2022-09-11 00:16] #10941 closed

[2022-09-11 00:16] #10904 closed

[2022-09-11 05:56] willzhang commented on #10659
v3.9.4 not fixed
[code]

[code]

[code]

[2022-09-11 09:56] vaibhavkoshti7 commented on #11261
hello @joejulian . I want work on this issue .Can you assign it to me ?

[2022-09-11 13:06] joejulian commented on #11261
GitHub doesn't let me assign. Your comment should be sufficient to let folks know you're working on it, I think.

[2022-09-11 18:46] cleverhu commented on #11236
I'd like to fix this.

[2022-09-11 19:49] cleverhu commented on #11042
I'd like to try add create time for this.

[2022-09-11 19:54] cleverhu commented on #11058
[code]
I tried `helm upgrade --install demo ./ &` twice and it reproduced successfully.

[2022-09-11 20:09] cleverhu commented on #11055
I'd like to try this.

[2022-09-11 20:25] joejulian commented on #10864
I don't really understand this part. It would seem that those would be in the output of `helm template` regardless. Looking at what's included in the template output seems like it should be a good way to determine what shouldn't be there.

As an aside, `helm template myrelease mychart --values myvalues.yaml | gzip | wc -c` should give you an approximation to start estimating the size of the releas

[2022-09-11 20:34] cleverhu commented on #11009
I'd like to fix this. And I will pull a request later.

[2022-09-11 21:03] cleverhu commented on #10967
I'd like to work on it.

[2022-09-11 21:15] mgs255 commented on #10583
I was looking at this as it seemed a bit strange.  I was thinking of attempting a fix by generating a temp name based on a hash of the repository url.  Additionally, if the file is less than 5 mins old, then skip downloading the index file and just use the existing cached version.

[2022-09-11 22:23] cleverhu commented on #11321
It acutally is a bug, and I will pull a request for it. Please TBR.

[2022-09-11 23:51] abhishek-kumar0409 opened #11331 "What are changes or key features planned for HELM 4 ?"
Are there any resources / links available to know more about the strategy of helm 4?

[2022-09-12 04:56] chonpisitkong01 commented on #11306
I have got this error too.
I have tried to install helm with Package Managers (homebrew), Binary Releases, and Script in https://helm.sh/docs/intro/install.
Then its still Error: Kubernetes cluster unreachable: (aks server).
My laptop is a MacBook Pro 13-inch (2020) Intel Core i5.

[2022-09-12 07:17] krishna-rakesh-dubey-db commented on #9098
@micxer Yes that annotation doesn't deletes the pod. I am using only "helm.sh/hook-delete-policy" : "before-hook-creation" annotation. So only new job details are retained previous one is deleted. Then I use "kubectl logs job.batch/JOB_NAME -c CONTAINER_NAME -n NAMESPACE" command to get the logs of my job.

[2022-09-12 07:28] abhishekkarigar opened #11332 "sts replicas terminate parallely when using helm hook pre-upgrade and post-upgrade for sts"
helm version
version.BuildInfo{Version:"v3.8.0", GitCommit:"d14138609b01886f544b2025f5000351c9eb092e", GitTreeState:"clean", GoVersion:"go1.17.5"}

kubectl version
Client Version: version.Info{Major:"1", Minor:"25", GitVersion:"v1.25.0", GitCommit:"a866cbe2e5bbaa01cfd5e969aa3e033f3282a8a2", GitTreeState:"clean", BuildDate:"2022-08-23T17:44:59Z", GoVersion:"go1.19", Compiler:"gc", Platform:"windows

[2022-09-12 07:52] ngraf commented on #10296
Still relevant for me

[2022-09-12 09:18] abhishekkarigar opened #11333 "wait for all the replicas of one of the statefulset to be upgraded and then upgrade other statefulset."
helm version
version.BuildInfo{Version:"v3.8.0", GitCommit:"d14138609b01886f544b2025f5000351c9eb092e", GitTreeState:"clean", GoVersion:"go1.17.5"}

kubectl version
Client Version: version.Info{Major:"1", Minor:"25", GitVersion:"v1.25.0", GitCommit:"a866cbe2e5bbaa01cfd5e969aa3e033f3282a8a2", GitTreeState:"clean", BuildDate:"2022-08-23T17:44:59Z", GoVersion:"go1.19", Compiler:"gc", Platform:"windows

[2022-09-12 09:20] abhishekkarigar commented on #11333
there is a statefulset A which has 3 replicas.
there is another statefulset B which has 3 replicas.

when doing `helm upgrade` i want to make sure that Statefulset A is upgraded first with all 3 replicas and then start upgrading statefulset B

[2022-09-12 09:25] hickeyma commented on #11318
Duplicate of #11306

[2022-09-12 09:25] #11318 closed

[2022-09-12 09:37] hickeyma commented on #11306
@utr1903 It might be M1 only. I am unable to reproduce on Intel Mac.

@chonpisitkong01 @sriramkuau1 are you M1 or Intel?

[2022-09-12 09:56] sriramkuau1 commented on #11306
@hickeyma

I am on an intel Macbook pro

sriramkumar@Srirams-MacBook-Pro ~ % sysctl -a | grep machdep.cpu | grep -i intel
machdep.cpu.vendor: GenuineIntel
machdep.cpu.brand_string: Intel(R) Core(TM) i9-9980HK CPU @ 2.40GHz

[2022-09-12 10:02] utr1903 commented on #11306
@chonpisitkong01 @sriramkuau1 2 quick questions:
1. Does `kubectl` work fine and only `helm` is malfunctioning?
2. Can you reach your AKS from outside (either by pinging `kube api server` or making a request to one of your apps)?

@hickeyma If we figure out that this is a `brew`& Mac M1 problem, I will raise an issue :)

[2022-09-12 10:08] sriramkuau1 commented on #11306
@chonpisitkong01

Yes kubectl works fine while helm is malfunctioning

If this answers your q'n about reaching from ourside

[code]

[2022-09-12 10:35] hickeyma commented on #11306
@sriramkuau1 You mentioned in #11318 that `kubectl` did not work for you and you had to do some changes which should not be needed usually. It looks like your `kubectl` install did not work properly either.

[2022-09-12 11:57] sriramkuau1 commented on #11306
Ah, I don't know how to tell `kubectl` did not install properly @hickeyma .

After I did the reinstall in #11318 `kubectl` starting behaving well.

Now I can't tell if `helm` was broken was `kubectl` was broken as well, on Thursday around midday AEST.

I only realised `helm` was broken Friday morning when one of the Automation scripts I was executing on my local repo, broke network completely on m

[2022-09-12 12:09] utr1903 commented on #11306
@sriramkuau1 That network overloading & freezing the computer entirely, is exactly what I also have experienced...

Additionally, `kubectl` also have caused similar issues and I've uninstalled/reinstalled it per `brew` again. Then it started to work.

[2022-09-12 12:23] girigaurav commented on #11306
same issues with me as well on Mac M1. kubectl didn't work, Unable to connect to the server: dial tcp: lookup.
I changed the kubectl from docker app to installer from brew, it was okay then.
Still helm doesn't work, and similar uninstall/re-install doesn't work for it.

[2022-09-12 13:31] rtpro commented on #2574
This is implemented via a Helm plugin https://github.com/JovianX/helm-release-plugin#helm-release-ttl

[2022-09-12 17:21] manuelnucci commented on #11017
I was having the same problem and figured it out.

The chart's name declared in `Chart.yaml` file must be the *same* as the name of the ECR repository. Only then one can execute

[code]

and delegate ECR to know in which repository to store the chart.

@baeyf If I understood correctly, in your case the repository URL should be `oci://<aws_account_id>.dkr.ecr.<aws-region>.amazonaws.com/foo/bar` and

[2022-09-12 18:55] justinmchase commented on #10953
The answer is that you can't. The best workaround that i've found is to just add globals of the same name as the tags and to just always set both, its lame but it works.

[code]

[2022-09-12 20:44] mnp commented on #11277
Yeah I can appreciate the error is elsewhere but there's some grief here for CI usecases. We try to be "lint clean" in CI and there's no way to detect a warning or error without parsing the output. So exit nonzero on `--strict` would be really slick if it always Did the Right Thing.

[2022-09-12 21:44] jeffWelling commented on #2055
Posting this in case it saves other folks some time.

One solution that I've seen work is, if you're using terraform to create the cluster, then use terraform to create a configmap containing the name of the cluster, and then read the configmap value from helm.

[2022-09-12 23:44] joejulian commented on #11251
[code]

[code]
Those types do not match. They cannot be merged. I suspect I'm still not getting what you're saying.

[2022-09-12 23:53] joejulian commented on #11251
Oh, wait... I think I see it now. You're saying that they shouldn't be trying to merge because the `abc` and `zzz` in sub1 should be `sub1.abc` and `sub1.zzz'. I think you're on to something.

[2022-09-13 00:03] joejulian commented on #11283
You can do that now, you'd just have to include the `--values` flag once for each file.

[2022-09-13 00:05] joejulian commented on #11284
I'm sure folks would be happy to take a look at a PR for this.

[2022-09-13 00:10] joejulian commented on #11287
It's not a pretty answer, but it may get you close to what you're looking for.

If you remove the release secret(s) then install again, since the annotations match helm _should_ be able to adopt the resources in-situ producing a clean release secret.

[2022-09-13 00:13] vidhangithub opened #11337 "How to apply range to generate files via config map at pod volume?"
Output of `helm version`:3.9.4

Output of `kubectl version`:1.21.4

Cloud Provider/Platform (AKS, GKE, Minikube etc.): Minikube

_We are trying to apply range on below configurations_ :-

**values.yaml**
===========
configs:
  configName: my-configmap
  volumeMountsVar:
    name: volumemount
    mountPathVar: /opt/serverconfig
    readOnlyFlag: true

serverConfigFiles:
  bootstrap: |
    http.port

[2022-09-13 00:13] joejulian commented on #11293
I'm just not getting this. Could you perhaps reword this as a use-case?

[2022-09-13 00:34] joejulian commented on #11295
From the [sprig documentation](http://masterminds.github.io/sprig/dicts.html#merge-mustmerge):

## merge, mustMerge

Merge two or more dictionaries into one, giving precedence to the dest dictionary:

$newdict := merge $dest $source1 $source2

This is a deep merge operation but not a deep copy operation. Nested objects that are merged are the same instance on both dicts. If you want a deep copy al

[2022-09-13 00:45] joejulian commented on #11296
Values are not run through the template engine.

This idea has been brought up before: #2492, #6876. The consensus was that someone would need to write a HIP as the first step. This isn't a small feature and would require a lot of work to avoid breaking backward compatibility. If you're interested in taking this on, I'm sure the community would be appreciative.

[2022-09-13 01:00] #10874 closed

[2022-09-13 03:19] PengWang-SMARTM commented on #11283
Hi @joejulian, it's great to know this `--values` flag. I should read the help message first.

However, it would be more convenience if helm can automatically pick up all `values.<subchart-alias>.yaml` files just like `values.yaml` without using the `--values` flags, so I could be more lazy :P. Actually, I believe it would also be helpful when not using the command line. `--values` can be used to

[2022-09-13 05:15] sriramkuau1 commented on #11306
Hello - I've tried uninstall and install methods as suggested by @hickeyma  - still a no go

[code]
Just wanted to keep posted and keep this thread alive. If any fix or solution is found, please post. Many thanks

[2022-09-13 05:23] PengWang-SMARTM commented on #11293
Let me try. It would be better if you can show me an example so I can follow a same style.

When [Subcharts ](https://helm.sh/docs/chart_template_guide/subcharts_and_globals/) are used, the parent chart typically needs to override configuration for subcharts.

Such subchart configuration could be simple values as shown in the following example.
values.yaml in subchart:
[code]

values.yaml in paren

[2022-09-13 05:31] ngraf opened #11338 "Unexpected behavior when using "dependencies.condition""
Hi, this is supposed to be a bug report (or at least I am looking for an explanation for my observed behavior).

**Current state**

Given I have this in my `Chart.yaml` file. Two dependencies that have same alias, but with different conditions:

[code]

When I then run `helm install --set conditionA=false --set conditionB=true demo helm --namespace demo`

Then **no deployment** is created at all.

[2022-09-13 06:16] thesuperzapper commented on #10874
@joejulian given https://github.com/golang/go/issues/12524 has been open for 7 years, do you think it's safer for us to just distribute helm binaries on homebrew that have been compiled with `CGO_ENABLED=1`?

So that people are able to use `brew install helm` and have a working version of helm?

[2022-09-13 07:13] ferrastas opened #11339 "ccccccunntnefkegnbehcvgeudbubvvkcctgrnkchrtn"
Output of `helm version`:

Output of `kubectl version`:

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

[2022-09-13 07:13] #11339 closed

[2022-09-13 08:31] nickjmv commented on #11017
Great findings, this is indeed working!

[2022-09-13 09:28] dingobar commented on #11000
Would like to have this, because not being able to check when a new version of an oci chart was pushed breaks our ops automation. Would love to support oci:// registries for charts soon!

[2022-09-13 13:11] joejulian commented on #10874
Last I looked at the homebrew build, they did have CGO enabled. If they no longer do, that needs to be brought up there.

There's no action to be taken in this repo. I volunteer to do issue triage in my spare time and I really need to close some of these no-action issues so I can keep up.

If we were tracking something that required action, I'd agree. If go ever gets hacked to support Darwin's spe

[2022-09-13 15:58] anuar45 commented on #9358
Hey, looks like I have very same problem. Any updates?

[2022-09-13 16:22] advancedwebdeveloper opened #11341 "Enabling support for RISC-V"
I haven't found any post, related to expected porting attempts.
CC @carlosedp

[2022-09-13 16:23] joejulian commented on #11299
This is a result of using go templating. According to sprig's merge documentation, if you don't want that behavior, be sure to deepCopy into a variable and merge with that variable instead.

[2022-09-13 16:23] advancedwebdeveloper commented on #11341
CC @lazyparser

[2022-09-13 16:30] joejulian commented on #11302
That looks like it might be some sort of shell expansion. What happens if you do:
[code]

[2022-09-13 16:53] t-eckert opened #11342 "Request: Backport of `CVE-2022-36055` to Helm `3.6.x`"
We are using Helm `3.6.3` to power our CLI for installing Consul on Kubernetes. We recently updated to `3.9.4` to address CVE-2022-36055 and caught an issue when installing onto EKS (not showing up on AKS, GKE, or Kind): `Error initializing Kubernetes client: exec plugin: invalid apiVersion "client.authentication.k8s.io/v1alpha1"`.

We plan to address the core issue here once we understand it bett

[2022-09-13 17:52] webcoderz commented on #10878
bump

[2022-09-13 18:36] Dentrax commented on #10722
Blocked by https://github.com/helm/helm/pull/10920

[2022-09-13 18:56] DmitriyStoyanov commented on #7997
any update on that? faced with the issue with helm version 3.9.4, so issue still exist

[2022-09-13 20:12] aarontavio commented on #4262
This comment helped me achieve my goal. Thaaanks @djmnnit10!.
Maybe this helps somebody else with a similar problem like me that ends up here.

[2022-09-13 20:12] sriramkuau1 commented on #11306
@utr1903  any update/solution you might have found. `helm` still broken  :(

[2022-09-13 20:16] utr1903 commented on #11306
@sriramkuau1 Unfortunately, I also don't have a proper solution... I am literally firing up an EC2, cloning my repo and deploy helm on it 😑

[2022-09-13 22:18] joejulian commented on #11304
Looks like the reason that's not part of a PR is that it's the original 3.0 rewrite. I doubt the memory store gets a lot of exercise.

If @h20220025 wants to offer a PR to change this, please feel free. That might even highlight the problem as well as a repro could.

[2022-09-13 22:22] joejulian commented on #11305
According to [sprig documentation](http://masterminds.github.io/sprig/strings.html#trimall):

## trimAll

Remove given characters from the front or back of a string:

trimAll "$" "$5.00"

The above returns 5.00 (as a string).

---

I think you're looking for [regexReplaceAll](http://masterminds.github.io/sprig/strings.html#regexreplaceall-mustregexreplaceall)

[2022-09-13 22:34] hiddeco commented on #11304
I figured it would be something like this, but at the same time I find it worrisome as the memory store would be the primary candidate to be used for testing. Having an implementation which practically breaches the contract of the interface could thus result in unreliable test results.

Also think the problem is a bit harder to solve than just changing the `return` I referred to, as the `Get` will

[2022-09-13 22:41] joejulian commented on #11307
Oh, this is for ClusterClass, isn't it. ClusterClass fills its own go template. To keep helm from parsing the mustache, you'll need to escape it.

[2022-09-13 23:04] joejulian commented on #11308
Keep in mind we can't change existing behavior of commands. That would break a lot of other users workflows.

[2022-09-13 23:19] joejulian commented on #11312
Yes, you should be able to do that. Helm is [smart enough](https://github.com/helm/helm/blob/12f1bc0acdeb675a8c50a78462ed3917fb7b2e37/pkg/releaseutil/kind_sorter.go#L31-L67) to order kinds to install namespaces first.

Personally, I don't do it. If the release is deleted, so is the namespace and everything in it.

What if you created an [install hook](https://helm.sh/docs/topics/charts_hooks/) tha

[2022-09-13 23:23] joejulian commented on #11313
Fixed by https://github.com/helm/helm/pull/11110 to be released with 3.10.

[2022-09-13 23:23] #11313 closed

[2022-09-13 23:29] joejulian commented on #11319
Want to link the chart that you're working on? There's not enough here for me to duplicate it and I don't see anything obvious.

[2022-09-13 23:36] joejulian commented on #11331
Here's a link that filters for open issues labeled for v4:
https://github.com/helm/helm/issues?q=is%3Aopen+is%3Aissue+label%3Av4.x

Also useful is the [weekly developer meetings](https://docs.google.com/document/d/1d-6xJEx0C78csIYSPKJzRPeWaHG_8W1Hjl72OJggwdc/edit#heading=h.cafxi2yfgqg1).

If there's a specific feature you'd like to develop for v4, please raise an issue and write a hip!

[2022-09-13 23:36] #11331 closed

[2022-09-13 23:42] abashir236 commented on #11307
@joejulian Could you be kind enough to provide an example?

[2022-09-13 23:46] joejulian commented on #11320
This would require storing that information in the release object. Please review the [HIP related to this proposal](https://github.com/helm/community/pull/269) and add any feedback you might have. Once that feature is implemented, this wouldn't be that difficult to implement.

[2022-09-13 23:55] joejulian commented on #11332
Please include more details. An example or explanation that can be followed to reproduce the issue is appreciated.

[2022-09-14 00:04] joejulian commented on #11333
That's not something helm can solve. Kubernetes resources are meant to be declarative and there's no way to hook one sts to another.

Off the top of my head, I can think of two options, one is to just do this as two separate charts, upgrading one at a time. The other is to write a controller that blocks the pods you don't want upgraded using finalizers.

[2022-09-14 00:35] joejulian commented on #11337
If I were doing it, I would just make the values match the files:
[code]
Then your configmap would just need:
[code]

[2022-09-14 01:06] thesuperzapper commented on #10874
@joejulian the downstream helm brew formula [has never explicitly specified `CGO_ENABLED`, and only used our default `make build`](https://github.com/Homebrew/homebrew-core/blob/f3059941ef440d717f9ce7eb990c5f813499dcbe/Formula/helm.rb#L25).

The problem was actually caused by us forcing `CGO_ENABLED=0` in commit https://github.com/helm/helm/commit/3490f1e7b6d76709b7ea195370f7db463735f9e2 (released

[2022-09-14 02:28] joejulian commented on #11307
`{{"{{"}} semverCompare "<= v1.23" .builtin.controlPlane.version {{"}}"}}`

[2022-09-14 02:59] shydefoo commented on #6879
Same here as well

[2022-09-14 03:12] libratiger commented on #8822
This suggestion seem very helpful. The schema-files seem a little complicated, is there any new suggestion? @bacongobbler

[2022-09-14 07:16] shreben commented on #7677
Hello guys,
the issue still exists in the latest helm
`version.BuildInfo{Version:"v3.9.4", GitCommit:"dbc6d8e20fe1d58d50e6ed30f09a04a77e4c68db", GitTreeState:"clean", GoVersion:"go1.19"}`

Could you please take a look. Thanks in advance.

[2022-09-14 07:17] shreben commented on #7677
/reopen

[2022-09-14 08:00] martin-schulze-e2m commented on #5951
I am not sure if this is the same issue but it sounds similar: We rolled out an update to one of our charts which referenced a non existing docker tag. Once the error was noticed, we tried a rollback. We got a working deployment of the old image but also one leftover pending pod with the new, non-existing image. I noticed that I could not even scale the responsible ReplicaSet to zero. Only `kubect

[2022-09-14 08:20] malcolm061990 commented on #11319
@joejulian
Sorry, its our internal chart.
Ok, let me clarify. We have this files in chart:
[code]

When I launch `helm template` cli command it shows the output with "{}" that can't be used in `helm` or `kubectl` commands to deploy it:
[code]

The reason why I have `templates/configmap.yaml` file is that using default `value.yaml` I don't need manifest output (like "{}" now) and using `values-2.ya

[2022-09-14 09:25] JohnJAS opened #11343 "Helm v3.9.x is not supported on K8s v1.21.x"
I found that helm v3.9.2 is not supported on EKS with K8s version v1.21.14.

It looks like it depends on a v1alpha1 API when executing `helm list -A -a` command, but failed with the following message,

`Error: Kubernetes cluster unreachable: exec plugin: invalid apiVersion "client.authentication.k8s.io/v1alpha1"`

But according to https://helm.sh/docs/topics/version_skew/, the K8s v1.21.x is obvio

[2022-09-14 09:25] JohnJAS commented on #11343
/bug

[2022-09-14 09:56] #11295 closed

[2022-09-14 09:57] EinarArnason opened #11344 "Connection refused error when helm tries to connect using ipv6"
Output of `helm version`:
version.BuildInfo{Version:"v3.9.4", GitCommit:"dbc6d8e20fe1d58d50e6ed30f09a04a77e4c68db", GitTreeState:"dirty", GoVersion:"go1.19"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"25", GitVersion:"v1.25.0", GitCommit:"a866cbe2e5bbaa01cfd5e969aa3e033f3282a8a2", GitTreeState:"archive", BuildDate:"2022-08-24T17:55:11Z", GoVersion:"go1.19", Compil

[2022-09-14 09:59] JohnJAS commented on #11343
Duplicated with https://github.com/helm/helm/issues/11007

[2022-09-14 09:59] #11343 closed

[2022-09-14 10:15] bacongobbler commented on #11341
Hi @advancedwebdeveloper. Were you able to compile the project on RISC-V, or did you run into issues?

[2022-09-14 10:30] bacongobbler commented on #11342
As per [our release schedule](https://github.com/helm/community/blob/main/hips/hip-0002.md#patch-releases), we will not be backporting fixes to older releases of Helm. This has been requested in the past and we decided that we do not have enough engineering time to backport/patch older releases beyond the latest minor release.

Let's figure out the issue and attempt to address the root cause with

[2022-09-14 11:53] AlanMasciangelo commented on #11302
Seeing the same behavior with `--set 'somePath=/foo'` and `--set somePath=`/foo'`

[2022-09-14 13:36] Saumya2022 commented on #3414
Use below for helm 3

helm upgrade [RELEASE] [CHART] --history-max=0  --description='revision_history max'

Eg:
helm upgrade eda29 /home/ec2-user/EDA2.9/Definitions/OtherTemplates/eric-act-cna-1.29.102-4.tgz --history-max=0  --description='revision_history max'

[2022-09-14 13:46] hiddeco commented on #11304
In addition to the above, the actual problem is even more serious as even `Query` directly appends the `record.rls` address to a slice of releases. Which means that e.g. querying the results and then making changes to the returned objects would directly modify the underlying objects in the storage without persisting changes.

Tried to patch this late at night yesterday by using my suggestion from

[2022-09-14 15:01] rezasadeghi1 commented on #9098
People I really recommend you to check the indentations in your HELM charts. I had this problem for a long time and fixed the indentation and it started working again. I'm not saying its the 100% solution but its worth a try.

[2022-09-14 15:34] Laurianti commented on #10018
Is there any update?

[2022-09-14 15:35] Laurianti commented on #10566
Is there any update?

[2022-09-14 15:41] t-eckert commented on #11342
@bacongobbler, thank you for your response. I will look into that issue and see if it is related. I'll let you know what I find.

[2022-09-14 15:52] felixonmars commented on #11341
Hi, Arch Linux RISC-V packager here. We are able to successfully compile `helm` using `make`, but there are multiple test failures when running `make test-unit`:

[code]

Our full build script could be found at https://github.com/archlinux/svntogit-community/blob/packages/helm/trunk/PKGBUILD

Hope this helps.

[2022-09-14 16:06] JuryA commented on #9136
Any progress on this? I still facing this stupid bug and workarounds are a really bad habit. Assigning `false` instead of `null` is working, but still getting `coalesce.go:220: warning: cannot overwrite table with non table for ...` I think that this bug is a really critical one because it's confusing people and I wonder why it cannot be fixed? Thank you for reply...

[2022-09-14 17:20] EinarArnason commented on #11344
Ok the issue is that kubernetes uses /etc/resolv.conf but the host machine uses systemd-resolved. So replacing /etc/resolv.conf with a link to /run/systemd/resolve/resolv.conf solved the problem.

[2022-09-14 17:20] #11344 closed

[2022-09-14 17:53] joejulian commented on #10969
I don't know if this would work, but what if you tested .Values.myrandom and returned it if it's set. If it's not, set it and return it.

The following is untested and just a theory:
[code]

[2022-09-14 18:04] joejulian commented on #11319
I do understand the question. Taking what you've given me, I still cannot duplicate this issue.

[code]

I'm happy to help you debug your chart, but you'll have to give me something I can reproduce.

[2022-09-14 18:32] JuryA commented on #3622
It is also worth noting that the documentation states:

The "cryptic" sentence

is misleading - what does it mean "special leading sequence"? In contrast to the earlier statement, it is either a contradiction or it can also be mistakenly understood that (given the earlier point about whitespace in filenames) these are files starting with an exclamation mark (!). Simply put: That sentence is semant

[2022-09-15 02:37] pradeepnnv commented on #6992
JFYI...we observed a similar issue when the helm upgrade failed and status was `pending-upgrade`.
We were able to identify this by running below command.

` helm history -n NAMESPACE  RELEASE_NAME`

We fixed the issue by rolling back to the previous version.

[2022-09-15 03:59] quintonthompson commented on #5915
Well issue is still happening when updating configmaps. Surprised this hasn't been solved or at least reopened yet....

Helm version: 3.9.4
k8s version:
[code]

[2022-09-15 05:11] abhishekkarigar commented on #11333
@joejulian thanks for the reply, will look into it

[2022-09-15 07:43] eldoranstars commented on #11306
Same issues with me as well on MacBook Pro Intel:
[code]
I tried:
[code]
Still the same

[2022-09-15 09:58] malcolm061990 commented on #11319
@joejulian
Thanks for your support. Steps:
- create chart `test`:
[code]

- create `common-chartlib` dependency chart on the same directory level with test chart:
[code]

- check the directory structure:
[code]

- go to test chart and run:
[code]

[2022-09-15 10:16] kuzaxak opened #11345 "Helm ignoring CLI passed `--registry-config` if `HELM_CONFIG_HOME` isn't defined"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

`AWS EKS`

Bug report:

Helm ignoring CLI passed registry config file if `HELM_CONFIG_HOME` isn't defined.
I have a config located at path `/tmp/helm/registry/config.json` and it contains auth only a setting for ECR OCI. If I define `HELM_CONFIG_HOME` to `/tmp/helm` all comman

[2022-09-15 10:58] kuzaxak commented on #11345
Can reproduce it on `3.9.4` but not on `3.10.0-rc.1`.

[2022-09-15 12:39] advancedwebdeveloper commented on #11341
Here is what I have:

Running on Ubuntu 22.04.1 LTS:

under Qemu

[2022-09-15 12:54] antaloala commented on #10899
There are so many cases in which a strange/odd behavior has not been considered a bug as if doing like that the new Helm release would introduce a non-backward compatible change (so breaking those deployment workflows expecting the current behavior) and so, in those cases, it was proposed to solve it as a new feature (e.g. proposing to add some new input param to the helm command in order to get t

[2022-09-15 14:16] deeco commented on #11313
Can see this still seems to remain in rc1

CVE-2022-23806

[2022-09-15 15:29] NEM-NE commented on #11312
Thanks to you, I was able to decide easily. :)

[2022-09-15 15:29] #11312 closed

[2022-09-15 18:25] webcoderz opened #11346 "how to deploy standalone storageclass with helm"
Output of `helm version`:
v3.8.2
Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.5", GitCommit:"c285e781331a3785a7f436042c65c5641ce8a9e9", GitTreeState:"clean", BuildDate:"2022-03-16T15:58:47Z", GoVersion:"go1.17.8", Compiler:"gc", Platform:"linux/amd64"}

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
EKS

How to deploy a storageclass thats s

[2022-09-15 20:58] itsmethemojo commented on #11284
here it is https://github.com/helm/helm/pull/11349

let me know when i forgot something basic. this is my first PR here

[2022-09-15 21:08] #11346 closed

[2022-09-15 21:09] webcoderz commented on #11346
was not recognizing my values.yaml global overrides that was the issue

[2022-09-15 23:45] joejulian commented on #11345
This was fixed by #10762 and will be released in 3.10.0

[2022-09-15 23:45] #11345 closed

[2022-09-16 00:12] joejulian commented on #11319
You're using toYaml on an empty dict. This returns `{}`.

Try:
[code]

[2022-09-16 00:19] #10929 closed

[2022-09-16 00:19] #10673 closed

[2022-09-16 00:19] #10175 closed

[2022-09-16 00:19] #9937 closed

[2022-09-16 00:19] #9599 closed

[2022-09-16 00:41] felipecrs commented on #9599
I'm sorry, this is not stale. There is even a PR which only required review to be merged.

[2022-09-16 05:59] mitar commented on #8732
Unstale.

[2022-09-16 07:30] abhishekkarigar commented on #11333
@joejulian  will helm dependency help to resolve this issue ?

[2022-09-16 08:30] nicotruc opened #11350 "Tpl function is not calling included function (defined in .tpl file)"
I have to adapt a gitlab runner charts so it is runnable fully on our clusters with all our requirements.
https://gitlab.com/gitlab-org/charts/gitlab-runner/-/tree/main

To do this, i'm building a two remote repository, with one remote referring to gitlab's repository to which i remove the push url so i'm only able to pull information, and another one to our repository. When there will be new vers

[2022-09-16 10:21] kuzaxak commented on #11345
Thank you for pointing me to the correct PR!

[2022-09-16 12:52] joejulian commented on #11333
No, sorry, dependencies just allow you to include other charts. In the end, it's effectively the same as running `helm template ... | kubectl apply -f -`.

[2022-09-16 14:20] makkes opened #11352 "[Umbrella Issue] Stabilize OCI support"
This is an umbrella issue to track any work on stabilizing OCI support in Helm. There are multiple PRs in the works that are related and some even overlap. This issue is there to help us coordinate and align the work better.

- [ ] #11129
- [ ] #10408
- [ ] #10798
- [ ] #9564

@scottrigby @sabre1041

[2022-09-16 20:15] garritfra opened #11353 "Helm Go SDK example yields no results"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): k3s

I'm currently trying to build an application that calls Helm actions under the hood. The first step was to play around with the example from the [docs](https://helm.sh/docs/topics/advanced/#simple-example). For reference, here's my full program, which is just the example c

[2022-09-16 21:39] pgier commented on #11308
@joejulian you can change existing behavior of commands, you just have to do it gradually, and give people plenty of warning, docs, migration path, etc., but I understand your point ;)

Currently helm dependency build fails if you make a change to Chart.yaml
[code]

I propose that `helm dependency build` be updated to check if the changed Chart.yaml is compatible with Chart.lock and only error if

[2022-09-16 23:19] joejulian commented on #11350
I pulled the latest chart (d623d12) and put your snippit in a file (adding the missing `runners:` key): `/tmp/v.yaml` then did a `helm template foo . --values=/tmp/v.yaml` and didn't get any errors with helm 3.9.4:

[code]

[2022-09-16 23:22] joejulian commented on #11350
As an aside, I think you want:
[code]
to satisfy toml formatting requirements.

[2022-09-16 23:36] joejulian commented on #11353
I think you missed this bit:
[code]

With the redpanda chart installed into `default`, I copied/pasted, added the package and includes, ran `go mod init foo.bar`, `go mod tidy` then:

[code]

but it does only list the releases in `default`.

[2022-09-16 23:43] joejulian commented on #11308
Sorry, let me phrase that better. Any changes to existing commands will need to adhere to [HIP 0004: Define and document the backwards-compatibility rules that apply to Helm minor and patch releases](https://github.com/helm/community/blob/main/hips/hip-0004.md).

My counter proposal, to adhere to the desired process, would be to keep the behavior of `helm dependency update` the same, but add a fla

[2022-09-16 23:47] joejulian commented on #11352
Should https://github.com/helm/helm/issues/11286 be part of this?

[2022-09-16 23:54] joejulian commented on #11277
I was thinking about this some more... I wonder if you had json schemas for the values of the subcharts if it would fail the linter.

[2022-09-17 01:22] pgier commented on #11308
I don't think `--only-new` would handle my second use case of switching from a specific dependency version to a range for an existing dependency without upgrading, or in general upgrading a single dependency at a time.

Thinking about the use case in a more general way, I would like to be able to set version ranges in my Chart.yaml but still be able to add/upgrade/remove a single dependency at a t

[2022-09-17 07:50] garritfra commented on #11353
That seems to fix the problem!

I'm still quite unfamiliar with helm, but it feels a bit awkward having two different places for the same parameter. Does that make sense in the grand scheme of things?

Closing this issue for now. Thank you!

[2022-09-17 07:50] #11353 closed

[2022-09-17 11:38] Maatary commented on #8361
Hi all, quick question. What is the expected behavior when  working with sub-chart. That is, attaching a hook to a sub-chart. Will the hook attached to the sub-chart only be executed when the sub-chart change, or anytime the umbrella chart changes ?

[2022-09-17 14:38] nicotruc commented on #11350
The problem is not on variable interpolation, but on chart's defined function calling, like hereby :

`name = "{{ include "gitlab-runner.fullname" . }}-cache"`

This function seems to not be recognized and interpreted by the tpl function.

[2022-09-17 14:41] nicotruc commented on #11350
Ok, I'll check that with a later version

[2022-09-17 15:36] makkes commented on #11352
Added it in. Thanks @joejulian!

[2022-09-17 15:38] joejulian commented on #11308
Yeah, not married to the switch name, it was just an example.

[2022-09-17 15:39] joejulian commented on #11308
That sounds quite useful and much easier to implement.

[2022-09-17 15:46] joejulian commented on #11353
The first is configuring the kubernetes REST client, the second is for configuring the action.

[2022-09-17 16:11] abhishekkarigar commented on #11333
i was going through operators sdk and came to know there are two operators helm operators and go based operators.
@joejulian will the helm based operator resolve my issue ?

[2022-09-17 16:27] joejulian commented on #11333
Sorry, I'm not familiar with it.

[2022-09-17 16:31] jimmidyson commented on #10452
This is still an issue - can we reopen please?

[2022-09-17 16:33] joejulian commented on #11333
I always use kubebuilder to frame up a controller using controller-runtime. It's, in my opinion, the fastest way to get started writing a controller from scratch. If there's one already written that solves it for you, that's great!

[2022-09-17 17:26] sabre1041 commented on #11352
Lets also add #10452 which I reopened earlier today as well

[2022-09-17 22:47] Maatary opened #11354 "When attaching helm hooks to sub-chart, what is the expected behavior when an upgrade is applied to the umbrella chart?"
When working with a helm super-chart (umbrella chart) that consist of several sub-charts:

1 / if we attach a post-upgrade hook to one of the sub-chart, I wonder what is the expected behavior when running **helm upgrade on the super-chart ?**

1 - a / Assuming the sub-chart that contains the hooks has no changes at all, and there are changes in other sub-charts that do not have the hooks. **Is the

[2022-09-18 00:44] colearendt commented on #11057
I started a HIP for this - haven't submitted yet

[2022-09-18 04:08] yxxhero opened #11355 "Removing redundant flags.Parse logic"
Removing redundant flags.Parse logic, it will cause unexpected bugs

Output of `helm version`:
None

Output of `kubectl version`:
None

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
None

[2022-09-18 04:41] #11355 closed

[2022-09-18 06:40] devzer01 opened #11357 "Adding visual aid for template function development"
Currently when writing helper functions in a helm chart due to extra white space or new line or lack of indent cause the `helm render` to fail with an error message like
[code]
for an inexperienced person like me this lead to hours and hours of trial and error piping throughput to `indent` `trim` adding `{-` as I still don't understand all that grimmer.

So i decided to add a slight modification t

[2022-09-18 09:50] abhishekkarigar commented on #11333
okay, will look into this kubebuilder

[2022-09-18 09:56] devzer01 commented on #11357
I tried to improve this functionality by utilizing the settings.Debug flag but unfortunately its not available in the context the error is produced

[2022-09-18 14:32] ZeeFiix commented on #11271
Mainly this error is created when in the resulting yam some indentation is wrong ... for example also if a missing linebreak happens.

You have so man if cases in your file, but not the values.yaml you use attached.
So nearly no way to figure out why you get this error.

Probably try to drill the problem down line by line in a way that your remove parts from your deployment.yaml
At the moments whe

[2022-09-19 05:39] vinibali commented on #11255
Just to bump this, I assume something like this should work:
[code]

[2022-09-19 06:47] dongxijia opened #11359 "helm rollback fail because pvc can't be reduced"
Helm rollback the chart fail when upgraded a chart where pvc  was expanded,  because PVC can't be reduced.

Could helm support not rollback PVC  when a chart is rollbacking ？Otherwise, if PVC capacity is expanded, the chart cannot be rollback.

[2022-09-19 07:07] mangoGoForward commented on #10969
Thanks, it works to me.

[2022-09-19 07:07] #10969 closed

[2022-09-19 10:56] yugeshN opened #11360 "How to manage HELM deployments based on environments using value.yaml"
I have a requirement to deploy multiple deployments with different values using values.yaml. I'm able to deploy multiple deployments using "range loop".  I want to manage the deployment count based on the environment. For example  I need 2 deployments for DEV and 5  deployments for QA environment . How to manage this Please guide

My values.yaml  ( below list will deploy 2 deployments for all the

[2022-09-19 12:55] nicotruc commented on #11350
With version 3.9.4, i still have the problem with an included function.
Replacing the `{{ include "gitlab-runner.fullname" . }}` with `{{ upper .Release.Name }}` will make it work, and using {{ include "gitlab-runner.fullname" . }} directly in the configmap.yaml work fine, thus make me think there is really problem with included function in tpl call.

You're right about quoting

[2022-09-19 13:50] ognjen-it opened #11361 "Support pull/install helm chart from OCI repository over index.yaml"
Hi all,

First, thank you for being such an excellent problem-solving / developer team. I hope that one day I will be able to join you and contribute.

I just want to introduce you to a problem that could be a bug or not implemented feature :)
I tied to find something about that in Issues / PR / Stackoverflow but I didn't find a solution and maybe you can resolve that.

So, we want to store our ap

[2022-09-19 14:12] Aldiuser commented on #11306
I also have the problems with Helm 3.9.4 on macOS Monterey (version 12.6) with M1 chip. Installed Helm with brew.

[2022-09-19 15:33] pgier commented on #11308
@joejulian I created #11362 to hopefully address this, please take a look!

[2022-09-19 16:01] bery commented on #10026
I have created a simple helm plugin which imports environment variables and passes them to helm as `set` values

https://github.com/bery/helm-set
[code]

Result
[code]

[2022-09-19 16:09] joejulian commented on #11352
https://github.com/helm/helm/issues/10881

[2022-09-19 16:35] joejulian commented on #11253
If it was me, I'd just create the PR. The core maintainers are all very busy people and giving them the fewest tasks possible usually gets the best results.

[2022-09-19 16:43] #11307 closed

[2022-09-19 16:56] joejulian commented on #11350
Here's my attempt at a repro if you can figure out why yours fails but this doesn't, please post the steps:

[code]
producing
[code]

[2022-09-20 15:51] klamas1 opened #11364 "Unexpected merging of dictionaries with the name "config""
If I create a dict in values.yaml like this
Content values.yaml
[code]

And when I try to call to a specific sub-dictionary .Values.ingress.config, I get a dictionary which is the result of the three config+main+whitelist sub-dictionary
Content templates/ingress.yaml
[code]

Output helm template and helm upgrade --dry-run
[code]

If I rename the sub-dictionary `config` to any other name, example,

[2022-09-20 17:51] #11364 closed

[2022-09-20 19:38] scottrigby commented on #11352
Also
- #11363

[2022-09-20 19:48] scottrigby commented on #10732
Reopening, there is some movement on this:
- #11340

[2022-09-20 22:22] tillig opened #11365 "Output full paths to files with errors from lint"
I'm trying to create a [problem matcher for VS Code](https://code.visualstudio.com/Docs/editor/tasks#_defining-a-problem-matcher) such that I can include `helm lint` as part of the build for a chart repo and have problems tied back to actual files.

Right now when `helm lint` finds a problem, it outputs locations of problems in a sort of relative way:

[code]

In order to actually indicate the fil

[2022-09-20 22:35] dinvlad commented on #3612
Any updates?

[2022-09-20 23:12] joejulian commented on #11354
When you run `helm template` with your umbrella chart, it generates all the resources that will be part of the release. When you perform an action, every resource that has an applicable hook annotation is applied.

[2022-09-20 23:21] Jont828 opened #11366 "Does the name space in `helm status` always match the namespace flag?"
I was discussing with @sbueringer and wanted to clarify something. When we want to get the helm status in a namespace, we pass it in with a `-n` flag and there's also a `NAMESPACE` field in the output. Is the `-n` flag always going to match the `NAMESPACE` in the output? I would think so but I wanted to make sure.

[code]

[2022-09-20 23:22] joejulian commented on #11359
The immediate answer is no. Helm cannot support that use case.

Could it in the future? My initial impression is that the core maintainers would not consider supporting the logic required to solve this. It's generally rejected to add any complex logic, the argument being that helm is a templating tool, not an operator.

I do wonder if excluding PVCs from a rollback might be accepted though. Should

[2022-09-20 23:27] joejulian commented on #11360
The way I do it is to have different values files:

dev.yaml
[code]

prod.yaml
[code]

Then you use those values files during installation:
[code]

[2022-09-20 23:33] joejulian commented on #11352
Also [Support pull/install helm chart from OCI repository over index.yaml](https://github.com/helm/helm/issues/11361) #11361

[2022-09-20 23:34] joejulian commented on #11352
I'm starting to wonder if we should just have an OCI label. :)

[2022-09-20 23:37] joejulian commented on #11365
See also https://github.com/helm/helm/issues/11357

[2022-09-21 00:19] #10976 closed

[2022-09-21 00:19] #10973 closed

[2022-09-21 03:03] devzer01 opened #11367 "Lookup resources to be installed in a release"
I am preparing helm helper functions to ultimately provide a consistent single chart for all application development, one of the issues I had is that Helm does not provide the ability to lookup objects that would be part of the pending release. I am still reading through the source code so I have to see in what Order things are read, but there can always be post-processing stage for some function

[2022-09-21 05:07] yugeshN commented on #11360
We are not deploying helm charts manually, During the codepipeline automation 'deployment.yaml' should target to the respective values.yaml based on the environment.  May be I should define a if condition in deployment.yaml

Below 'deployment.yaml' able to call parameters from 'values.yaml' using range loop. I would like to use 1 "deployment.yaml' for all the environments like DEV, QA, PROD. Is it

[2022-09-21 07:10] damian5996 commented on #11104
Hello, any update here? @bacongobbler

I can't believe this is correct behavior. I encountered the same problem.
I'm making a change in SecretProviderClass (adding a new secret value or removing it) and I would expect that "helm upgrade" would work properly and update k8s resources. Each time I need to uninstall and install a new release for a proper update.

@jozala have you found any solution?

[2022-09-21 08:34] Ziwi01 commented on #5825
Can anyone from helm team comment on this thread? - Is this problem valid at all from the team perspective? Will it be considered as a feature at all? If yes, what would be the timeline - if no, why (given all the use cases given above)? If this issue needs to reopened and/or rephrased, please let us know.

[2022-09-21 10:43] makkes commented on #11352
For the longer term that sounds totally reasonable. Our goal with this umbrella issue for now is to coordinate the various PRs that already exist and even partly overlap in terms of the functionality they provide.

[2022-09-21 12:04] mkjpryor commented on #8132
I am also observing the same behaviour as @antaloala and also believe the inconsistency between `upgrade` and `delete` should be treated as a bug.

Just to be clear, the following results in the resource being preserved:

[code]

whereas the following results in the resource being deleted:

[code]

[2022-09-21 13:39] prashant-shahi commented on #3308
I had same issue with `"false"` and `"true"` i.e. Boolean as string being set in the pod ENVs.
`default` assumed the string to be boolean.

I solved it by using and explicit `quote` on top of `.Values.insecure` being a string `"false"` itself..
[code]

[2022-09-21 17:55] vovtz opened #11369 "Flag --repository-cache used for finding helm-manager-* ‘ad hoc’ repository indexes, but not for creating them"
Output of `helm version`:
[code]
But this bug applies to older versions of Helm 3 equally, also on Linux.

Output of `kubectl version`: `Client Version: v1.23.5`

Cloud Provider/Platform (AKS, GKE, Minikube etc.): Any and all (N/A)

When using the `--repository-cache` flag in conjunction with a `helm dependency update` command while the Helm chart affected has a dependency for which there is no re

[2022-09-21 17:58] vovtz commented on #11001
Sounds a lot like the issue I filed just a moment ago:

https://github.com/helm/helm/issues/11369

[2022-09-21 18:00] vovtz commented on #11001
/nostale

[2022-09-21 21:00] nitinware opened #11370 "delete k8's resources not created/managed by helm"
We are are multiple applications deployed in k8's cluster sharing same cluster and namespaces and these k8's resources are not created/managed as helm app.
We do have helm artifacts for each of these application `tar.gz` files.
I am able to get helm template from these helm artifacts `tar.gz` file  when run the `$ helm template myapp-0.0.1.52.tar.gz`  command.
Can we use these helm artifacts to cl

[2022-09-21 21:24] hvaandres opened #11371 "How can I make sure my health checks work in kubernetes?"
I'm currently trying to add health checks into my API through my helm chart. However, when I run this service under kubernetes it seems that my pod is ready but I have 0/1 Running and when I try to hit the URL for the service is not returning anything.

This is how my deployment looks:

[code]

If  I deleted the health checks, I will have 1/1 Running. Does anyone knows if I have to add something e

[2022-09-21 22:30] conradwt commented on #11221
Here's a **Crash Report** from Helm v3.10.0:

[code]

[2022-09-21 23:56] joejulian commented on #11366
As far as I can tell, you are correct. I could probably hack together a way to break that, ie copy a release secret to another namespace, but no way that's supported.

[2022-09-22 00:07] joejulian commented on #11367
Typically you would use [named templates](https://helm.sh/docs/chart_template_guide/named_templates/) for that, and template the name so you can include it for both the PV name, and any place you need to reference that PV.

[2022-09-22 00:10] joejulian commented on #11369
You'll need to populate your new cache:
[code]

[2022-09-22 00:13] joejulian commented on #11370
Sure, I do it all the time:
[code]
I like to specify a specific namespace for safety.

[2022-09-22 00:15] joejulian commented on #11371
Check the kubelet log for the node that the pod is on. That's where the health/readiness checks are logged.

[2022-09-22 00:27] joejulian commented on #11104
When not using atomic upgrades, a failed state means that it requires manual intervention. The resources are left as they were applied and it's up to the user to resolve the failure.

One way of resolving that is to use the rollback command to go to the last known good installation. The other way is to delete the release and reinstall. Trying to "upgrade" a failed state will result in undefined be

[2022-09-22 00:32] joejulian commented on #11360
Sure, you could do it that way. I'd be wary of exceeding the storage limit of a secret for the release artifact. The release secret has to be able to hold the entire manifest.

[2022-09-22 03:17] nitinware commented on #11370
@joejulian thanks for you suggestion, but k8's complains about all resources are not present on k8's cluster even though I created the resources use same helm chart artifact -
[code]

[2022-09-22 03:18] joejulian commented on #11370
That's fine. It'll complain but you didn't want it there anyway. If you do it again, it should complain about all the resources.

[2022-09-22 03:19] joejulian commented on #11370
I also just noticed neither of us have the release name:

[code]

[2022-09-22 03:29] nitinware commented on #11370
appreciate quick response and sry confusion, but the `$ helm template firstchart-0.1.0.tgz | kubectl -n default delete -f -` does not cleanup any resources after executing multiple times, sharing all steps performed as below -

1. install app from helm artifact
[code]
2. List all K8's resources created -

[code]
3. Delete K8's resources using helm template + kubectl combo

[code]
4. List all K8's

[2022-09-22 03:32] joejulian commented on #11370
[code]

[2022-09-22 03:36] nitinware commented on #11370
Thanks this worked because I had a helm app named `firstapp` locally.
But will this work for non-helm k8's resources deployed on k8's cluster for which I am currently doing spike.
I have many applications deployed in k8's cluster which are not managed as helm apps but I have helm artifacts `.tgz` for them, if I use above command to delete them will it work, I doubt it. Again appreciate quick turna

[2022-09-22 04:12] joejulian commented on #11370
When the chart renders the templates, the release name is used. If the resource names match, that will work.

[2022-09-22 04:34] damian5996 commented on #11104
I think the problem is not in the "helm upgrade" command. I discovered this is a limitation of a CSI driver or SecretProviderClass. When the deployment is already created, the ServiceProviderClass resource is updated but the "SecretProviderClassPodStatuses" is not, so secrets are not updated.

Two potential solutions:
- delete secret and restart/recreate pod => this works but it sounds more like a

[2022-09-22 04:38] nitinware commented on #11370
@joejulian Thanks it worked locally. I created k8's resources not as helm app and later deleted using helm template + kubectl combo and it worked

[code]
Thanks Again !!!

[2022-09-22 06:45] oasis9217 commented on #11310
I'd like to work on this

[2022-09-22 07:24] vovtz commented on #11369
@joejulian In practice that’s exactly what we do in CI, but it doesn’t make any difference, because that will only download the indexes for ‘managed’ repos into the cache. I’ll add it to the steps to reproduce, to prevent confusion, though.

[2022-09-22 10:15] albgus commented on #9136
Assigning `false` is not a workaround, it just passes the false value through to the resource. I guess that might work sometimes, but otherwise it'll just fail ex: `got "boolean", expected "map"`

Helm v3.9.3

[2022-09-22 11:18] kumar98ksp commented on #11118
Hello @joejulian
I want to take this issue please assign me this.

[2022-09-22 12:02] yxxhero commented on #11371
@joejulian please create a issue in k8s project. Thanks very much.

[2022-09-22 12:02] #11371 closed

[2022-09-22 12:08] bacongobbler commented on #11370
Closing this issue as answered. Please feel free to comment here and let us know if you have further questions. Thanks!

[2022-09-22 12:08] #11370 closed

[2022-09-22 12:09] bacongobbler commented on #11305
Closing this issue as answered. Please feel free to comment here and let us know if you have further questions. Thanks!

[2022-09-22 12:09] #11305 closed

[2022-09-22 12:41] jozala commented on #11104
@damian5996 Not updating a K8s Secret is a different problem which (as you've found) can be solved by enabling secret rotation. We have it enabled and it works flawlessly.
The problem is that Helm do not apply changes in the SecretProviderClass even though `helm get manifest <release-name>` command shows changes SecretProviderClass.

@joejulian

This is very interesting. Is it a known/documented b

[2022-09-22 13:19] joejulian commented on #11118
GitHub doesn't let me assign issues. I assume it's some restriction that requires org membership. I always just recommend stating your intent and going for it.

[2022-09-22 17:06] vovtz opened #11373 "Confusing error message if the version for a dependency is not found in the repo"
If the particular version of a dependency as stated in your Helm chart can’t be found in the repo’s index, an error message that is not entirely clear is output (where ‘[name-of-the-dependency-or-dependencies]’ is something alike ‘adminer’ or ‘adminer, apline’):

No versions, nor the relevant repos are mentioned in the error message. It also speaks of a ‘valid version for _repositories_’, not of t

[2022-09-22 17:38] JuryA commented on #9136
Okay, better call it "pseudo-workaround", but my question is: Is it the only solution to solve the problem of not being able to unset (means set to null) the value in the sub-chart from the parent chart in globals?

[2022-09-22 21:56] franceschongg opened #11375 "Upgrade `--install` quietly fails to delete resources"
When `helm.Upgrade(...)` is called, resources that are not part of the chart will quietly fail if the role does not have the delete permission.

The source code that does this is here: https://github.com/helm/helm/blob/8199db309ae73d745b983fb7ea2bfdd944a834ae/pkg/kube/client.go#L292-L295

To reproduce:
1. Have a chart that includes some resource (let's say CronJob) in this instance
2. The role tha

[2022-09-22 22:04] dwgillies-bluescape commented on #4256
I recommend that when helm does an installation, it saves the repo url in an annotation associated with the resources it installs.  Then it will be able to easily print out this data with the helm list -A command.  It could either be printed by default or with an extra argument to ask for a more detailed view. helm list -A --wide or something.

[2022-09-23 00:20] #10239 closed

[2022-09-23 03:43] abursavich opened #11376 "Feature Request: Template Function to Parse Kubernetes Resource"
I frequently find myself needing to parse the values of container resource requests/limits to calculate some other value. For instance, to set the GOMAXPROCS or GOMEMLIMIT env variables. It's possible to cover most of the bases within the limits of go templates, but it ends up being pretty gnarly.

[2022-09-23 07:44] kyrylogy commented on #10555
I want to convert CronJob to Job with with another post-hook Job, but post-hook Job waits for CronJob completion, which will happen only when the schedule time is reached. Looking for a solution to CronJob -> Job post install & this blocking problem.

[2022-09-23 09:43] hickeyma commented on #11280
@negz client-go has been bumped to v0.25.0. It is included in the [3.10.0 release](https://github.com/helm/helm/releases/tag/v3.10.0). Let us know if it works as expected.

[2022-09-23 10:22] #11275 closed

[2022-09-23 11:24] zoobab commented on #746
"requirements.yaml can reference and fetch charts from subdirectories"

Do you have an example?

[2022-09-23 14:07] advancedwebdeveloper commented on #11341
@bacongobbler , how could I get details on why those tests fail:
https://github.com/helm/helm/blob/main/pkg/registry/client_test.go
https://github.com/helm/helm/blob/main/pkg/repo/repotest/server_test.go
?

CC @mattfarina

[2022-09-23 14:12] Maatary commented on #11354
@joejulian could you clarify what you mean by "action" in

By action did you mean an helm action  as  in **helm-upgrade** ?  In other words, my statement:

is correct. There is no such thing as trigger the hook of a specific chart only if that specific chart as changed.

[2022-09-23 15:09] dacamposol opened #11379 "[Bug] Cannot override empty map from a dependency Chart"
## Context

1. I have a `Chart A` which has the `Chart B` as dependency.
2. The `Chart B` has the following key on its `values.yaml`.
[code]
3. Then I try to override this default value in `Chart A` as follows:
[code]

### Problem

All the other keys which are not empty-maps are correctly overridden. The key which is set by default to an empty map **isn't** overridden so the templating which depen

[2022-09-23 15:28] dacamposol commented on #11379
@alexec maybe you're interested in this, as I found the behaviour by trying to override the default GCS value in the `.artifactRepository.gcs` key of the Workflow Controller ConfigMap, when having `argo` as a dependency.

Anyway, I can replicate it with generic Charts (as in the basic example), that's why I opened in this repo.

[2022-09-23 15:51] dacamposol commented on #11379
Closing this, as apparently it was a problem with my file structure, one of the keys was set to `null` and `{}` and `null` aren't treated equally on merge, and I though that would be the case.

[2022-09-23 18:29] advancedwebdeveloper commented on #11341
$ go test
PASS
ok  	helm.sh/helm/v3/pkg/plugin	8.416s
$ go test
# github.com/bugsnag/panicwrap
../../../../go/pkg/mod/github.com/bugsnag/panicwrap@v0.0.0-20151223152923-e2c28503fcd0/dup2.go:10:17: undefined: syscall.Dup2
FAIL	helm.sh/helm/v3/pkg/repo/repotest [build failed]
$ go test
# github.com/bugsnag/panicwrap
../../../go/pkg/mod/github.com/bugsnag/panicwrap@v0.0.0-20151223152923-e2c28503fcd0/

[2022-09-23 18:39] minj131 opened #11380 "Feature Request: Pass in multiple starter chart options"
I find that my charts vary by use cases. For example, one chart might have configuration for a database, while another chart might also need resources to deploy an http service.

It would be nice to have a way to pull in multiple starter charts such that I can define a base starter pack that has the bare minimum charts that fit my use case, that gets merged with the additional starter charts.

Som

[2022-09-23 18:45] advancedwebdeveloper commented on #11341
CC @kattrali @eclipseo @Toasterson @fractalwrench @jmshal

[2022-09-23 19:45] trash-80 commented on #4026
This worked for me (the base64 is for transport into the template as silly punctuation will cause a bad day)
For Linux:
[code]

temp.yaml contnents
...
[code]

[2022-09-23 22:31] rc65 commented on #11306
I was running into the same issue and discovered it was being caused by a weird IPv6 DNS record in my System Settings. These greyed out rules were set automatically (based on my network setup I think), but after manually setting just `192.168.1.254` as my sole DNS server my issues were resolved instantly. System Preferences -> Network -> Advanced -> DNS

<img width="300" alt="image" src="https://u

[2022-09-23 22:32] rc65 commented on #11221
I was running into the same issue and discovered it was being caused by a weird IPv6 DNS record in my System Settings. These greyed out rules were set automatically (based on my network setup I think), but after manually setting just `192.168.1.254` as my sole DNS server my issues were resolved instantly. System Preferences -> Network -> Advanced -> DNS

<img width="300" alt="image" src="https://u

[2022-09-23 23:52] joejulian commented on #11375
See https://github.com/helm/helm/pull/7929

[2022-09-23 23:58] joejulian commented on #11376
The way I do it is to have the request/limits in the values.yaml and have a named template in _helpers.tpl that calculates those environment variables. Then I just reference that named template in the container env object.

[code]

[2022-09-24 00:19] #10543 closed

[2022-09-24 01:48] abursavich commented on #11376
I still think this would be a nice feature to have, but a little while after creating this issue I went back and was able to compact my templates down quite a bit. I don't think I'd ever actually used a hex float literal before, but it _really_ helped with the SI scales.

[code]

[code]

[2022-09-24 02:39] astraw99 commented on #11253
OK, got it. I will try.
Thanks.

[2022-09-24 05:16] conradwt commented on #11221
@rc65 I have the exact IPv6 DNS setup on both Intel and Apple Silicon MacBook Pro but I'm only seeing the issue Apple Silicon this time.  Also, they are greyed out on my systems because these settings are password protected.

[2022-09-24 09:14] asafbennatan opened #11381 "Question: where are the starter files ?"
where can i find the starter files that are being used with `helm create`?
 i would like to use them as a start point to some customization i require.
Thanks

P.S
for clarification I am looking for something like https://github.com/uptownaravi/helm-starter
but official

[2022-09-24 18:56] Toasterson commented on #11341
@advancedwebdeveloper Thanks for the ping but I use illumos as operating system not linux.
For syscall.Dup2 there is a bit of a caveat in how this is supported accross operating systems and also platforms. In Openindiana we still carry a patch to add Dup2 support https://github.com/OpenIndiana/oi-userland/blob/oi/hipster/components/developer/golang-119/patches/02_Dup2_golang10.patch

This will pro

[2022-09-24 19:15] hvaandres commented on #11371
@joejulian & @yxxhero It seems that everything started to work now. I did an update on kubernetes and it seems that it fixed the issue

[2022-09-25 06:50] mvivek0210 opened #11382 "no matches for kind "Deployment" in version "app/v1" ensure CRDs are installed first"
![Annotation 2022-09-25 121814](https://user-images.githubusercontent.com/73626924/192131846-a5f051d9-4983-4238-a435-c17584342189.png)

[2022-09-25 08:47] yxxhero commented on #11381
@asafbennatan maybe `helm create -s`?

[2022-09-25 18:50] cleverhu commented on #11382
The apiVersion for deployment is apps/v1

[2022-09-25 19:48] itsmethemojo commented on #11284
@joejulian is there a ready for review label that needs to be set?

[2022-09-26 03:51] stan-sz opened #11385 "Malformed JSON output"
Output of `helm version`: 3.10.0

yields

[code]

So there are extra two lines before the regular json response. This is due to:

https://github.com/helm/helm/blob/c52cd40acef183d29f6def5026e66616b9993c88/pkg/registry/client.go#L419-L420

[2022-09-26 05:59] 0xF4D3C0D3 opened #11386 "Question: Can Helm get its file path?"
The below is the content of foo/bar/baz.yaml
[code]

Can Helm get its file path like above? I've googled with keywords like working directory or path etc.. but I couldnt find any method..

[2022-09-26 08:14] asafbennatan commented on #11381
getting `Error: unknown shorthand flag: 's' in -s`

[2022-09-26 08:15] yxxhero commented on #11381
@asafbennatan oh. sorry.
`-p, --starter string`

[2022-09-26 08:17] asafbennatan commented on #11381
i got what you mean , i am aware of this flag i plan to use it with a starter i will write , i want to base that starter based on the existing template we get by the default `helm create`

[2022-09-26 08:25] yxxhero commented on #11381
@asafbennatan I got. you can alias `helm create -p test/test`?

[2022-09-26 08:31] asafbennatan commented on #11381
but how will that help ? , i am looking for similar files that we have in https://github.com/uptownaravi/helm-starter ( those are not that same as what helm create outputs since it contains __CHART_NAME__ )

[2022-09-26 09:10] zak905 commented on #6879
Hello everyone, I did some investigations and I was able to reproduce using a finalizer. Here are the manifests of the chart I used to test:
deployment.yaml
[code]

the pod container post install hook:

[code]

It can be reproduced by installing the chart, deleting it, and then installing it again. Because of the finalizer, the pod created by the post install hook will remain at the `Terminating`

[2022-09-26 10:18] Aldiuser commented on #11306
This worked for me. Thanks!

[2022-09-26 18:21] nilsalex commented on #11385
I have a similar issue. We use output from `helm show values oci:///foo.io/bar --version 1.0.0 --jsonpath '{.foo.bar}'`, which with helm version 3.9.4 used to be just the value of `.foo.bar`.

With 3.10.0, we get
[code]

I did a bisect and the issue starts to appear with this commit: https://github.com/helm/helm/commit/9f199b6517c21394bca555983c70fc232d65014c

[2022-09-26 23:55] scottrigby commented on #11352
I made and applied the label. Also thinking umbrella issues seem like a good idea.

![image](https://user-images.githubusercontent.com/407675/192400240-a3004cea-084c-4ec7-bde6-5b27443584bf.png)

I'm thinking we could set milestones on individual issues if we want to organize a strategy, but only if it helps us instead of making more busywork.

This umbrella issue also feels pretty useful for now.

[2022-09-27 00:34] s7m4b4 commented on #11272
I had a brief look into this and as far as I can tell the client does follow redirects (Go's http client does this by default) however since Github is using `application/octet-stream` as its media type it fails the `mediaTypeToExtension` check. This is an easy fix and I can raise a PR, however I discovered a few other issues with the HTTPInstaller. In short -

- Install fails if the root dir in th

[2022-09-27 00:50] mcallaghan-geotab commented on #1501
We find the `INFO` log level a bit annoying. If one has no use for `icon`, there seems to be no way to suppress it?
Is there a recommendation to include the `icon` key/value perhaps with a `null` or *empty* value as a workaround?

[2022-09-27 01:15] yxxhero commented on #11386
@0xF4D3C0D3

Template: Contains information about the current template that is being executed
* Template.Name: A namespaced file path to the current template (e.g. mychart/templates/mytemplate.yaml)
* Template.BasePath: The namespaced path to the templates directory of the current chart (e.g. mychart/templates).

[2022-09-27 01:17] #11382 closed

[2022-09-27 01:26] yxxhero commented on #11385
@nilsalex Thanks very much. I will test this issue.

[2022-09-27 01:42] #11386 closed

[2022-09-27 02:39] yxxhero commented on #11385
[root@devops ~]# helm show values oci://localhost:5000/aaa/abc --version 0.1.0 --jsonpath '{.autoscaling.enabled}'
Pulled: localhost:5000/aaa/abc:0.1.0
Digest: sha256:fc93deb645f85bd9ecb46f570927702f9440a9331cb0aa0a3cb746ad27656eab
false[root@devops ~]#

false[root@devops ~]# helm version
version.BuildInfo{Version:"v3.10.0", GitCommit:"ce66412a723e4d89555dc67217607c6579ffcb21", GitTreeState:"clean

[2022-09-27 03:59] wujunwei commented on #11338
https://github.com/helm/helm/blob/a48b87f32af266b7aa55709fbe88ea11d7032829/pkg/chartutil/dependencies.go#L161~L183

[2022-09-27 04:17] wujunwei commented on #11338
BTW,do we allow to use the same version and name (but different alias ) in dependencies?

[2022-09-27 05:55] d-d-up commented on #11385
@yxxhero I want to fix it.

[2022-09-27 09:04] Yaytay commented on #10790
Please don't just ignore this issue.

[2022-09-27 10:23] malcolm061990 commented on #11319
@joejulian
It works. Thanks! :)

[2022-09-27 10:23] #11319 closed

[2022-09-27 10:45] der-ali commented on #4558
+1

[2022-09-27 13:32] ZhangSetSail opened #11390 "Do you have documents for secondary development"
Output of `helm version`:

Output of `kubectl version`:

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

[2022-09-27 13:52] eduardobr commented on #9136
This is quite critical... Just thinking about the massive number of workarounds and pseudo properties to control what's rendered just because it doesn't work

[2022-09-27 14:13] jgarec opened #11391 "helm lint stuck with malformed template object"
Hi

Output of `helm version`:

With this template file (notice the space between the first and the second curly brackets):
`{ {- $relname := .Release.Name -}}`

helm lint does not respond whereas helm template throws an error (which is the normal behaviour) :

Use --debug flag to render out invalid YAML`

[2022-09-27 23:19] joejulian commented on #11390
This does not have sufficient information. Please be much more verbose when creating issues. Assume the reader lacks any context.

[2022-09-27 23:19] #11390 closed

[2022-09-27 23:26] joejulian commented on #11391
Well that is an interesting one. To duplicate this issue:

[code]
The command hangs.

[2022-09-28 00:01] joejulian commented on #11354
install, upgrade, rollback, delete

[2022-09-28 00:01] joejulian commented on #11354
iirc, the rollback runs the upgrade hook, but I haven't checked the code to verify that.

[2022-09-28 00:24] #11002 closed

[2022-09-28 01:06] ZhangSetSail opened #11392 "Do you have api documentation"
Output of `helm version`: v3.6.3

Output of `kubectl version`:

Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.3", GitCommit:"c92036820499fedefec0f847e2054d824aea6cd1", GitTreeState:"clean", BuildDate:"2021-10-27T18:41:28Z", GoVersion:"go1.16.9", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.3+k3s1", GitCommit:"6

[2022-09-28 01:26] PengWang-SMARTM commented on #11207
I came here for the same reason that the anchor behavior is slightly different from what I thought. I searched the issue list, and found Issue [9558 ](https://github.com/helm/helm/issues/9558) explains why there is no overriding anchor very well.

My current "workaround" is, to the example above, coping the the config again in the parent values.yaml so it looks like:
[code]

Certainly, I also feel

[2022-09-28 02:10] Jont828 commented on #11366
Makes sense to me, if I find a release in a namespace I'd expect the metadata/JSON stuff to list it in the same namespace.

[2022-09-28 02:10] #11366 closed

[2022-09-28 04:46] joejulian commented on #11392
Help is generated by [sfp13/cobra](https://github.com/spf13/cobra) from the definitions in the go files found under [cmd/helm](https://github.com/helm/helm/tree/main/cmd/helm)

[2022-09-28 04:52] joejulian commented on #11392
And I just realized that "help" is probably a typo and you meant "helm". Maybe you're looking for this? https://helm.sh/docs/topics/advanced/#go-sdk

[2022-09-28 07:28] hickeyma commented on #11392
Go docs might also be of help: https://pkg.go.dev/helm.sh/helm/v3

[2022-09-28 11:29] migs35323 opened #11393 "Allow to specify Chart version in values.yaml"
Would it be possible to have an object to specify the chart version the inside the values.yaml?

Different Chart versions can expect different ways of inserting values, so it would be great if we could specify a chart version in a values.yaml and this would basically have the same effect as the  --version flag, it would fetch and install the chart matching that constraint...

[2022-09-28 12:26] kladiv commented on #10555
+1 really useful

[2022-09-28 16:34] ruanbekker commented on #5540
I got it to work the manual way:

[code]

List plugins:

[code]

Test:

[code]

[2022-09-28 16:38] jkroepke commented on #5540
Thanks @ruanbekker but we all are interested in an automatic solution.

[2022-09-28 19:20] vidhangithub commented on #11337
@joejulian - Thanks for your quick reply. Sorry I didn't try that then and there as previous settings were working fine. I tested it today but It was unable to create the files ( bootstarp.properties, jvm.options  and servers.env) at pod volume. Do i Still need to have below in **deployment.yaml**  :-

`volumes:
    - name: {{ .Values.configs.volumeMountsVar.name }}
      configMap:
          name

[2022-09-28 20:46] mattfarina commented on #11341
If you use the `-v` flag when running the tests you will get more detail.

[2022-09-28 21:35] mattfarina commented on #11341
The error from `TestPartialPlatformPrepareCommand` may be a bug somewhere. Looking at the code it's not obvious.

[2022-09-28 23:36] joejulian commented on #11393
I think you might want a higher order api object, similar to the Chart.yaml that matches any defined fields against those in the chart's Chart.yaml. Maybe that resource could include values, or a reference to values (by filename, maybe).

For example:
[code]
would match any v2 helm chart with the name `redpanda` a chart version of `2.1.*` and an appVersion of `22.2.*`.

[2022-09-28 23:42] joejulian commented on #11381
Are you looking for https://github.com/helm/helm/blob/main/pkg/chartutil/create.go ?

[2022-09-28 23:45] joejulian commented on #11338
GitHub only allows assignment to folks in the org. Feel free to open a PR though. I'm sure your comment, here, is sufficient to let others know you're working on it.

[2022-09-28 23:46] joejulian commented on #11338
Oh, wait... they changed it. Assigned!

[2022-09-28 23:55] joejulian commented on #10790
Happy to have a contribution to address this. Probably should start with a [HIP](https://github.com/helm/community/blob/main/hips/hip-0001.md)

[2022-09-28 23:58] joejulian commented on #4558
Happy to have a contribution to address this. Probably should start with a [HIP](https://github.com/helm/community/blob/main/hips/hip-0001.md) also take a look at the [contributing](https://github.com/helm/helm/blob/main/CONTRIBUTING.md) doc.

[2022-09-28 23:59] joejulian commented on #9136
Happy to have a contribution to address this. Probably should start with a [HIP](https://github.com/helm/community/blob/main/hips/hip-0001.md) also take a look at the [contributing](https://github.com/helm/helm/blob/main/CONTRIBUTING.md) doc.

[2022-09-29 00:03] joejulian commented on #11207
Happy to have a contribution to address this. Probably should start with a [HIP](https://github.com/helm/community/blob/main/hips/hip-0001.md) also take a look at the [contributing](https://github.com/helm/helm/blob/main/CONTRIBUTING.md) doc.

[2022-09-29 00:03] joejulian commented on #10555
Happy to have a contribution to address this. Probably should start with a [HIP](https://github.com/helm/community/blob/main/hips/hip-0001.md) also take a look at the [contributing](https://github.com/helm/helm/blob/main/CONTRIBUTING.md) doc.

[2022-09-29 00:13] joejulian commented on #11337
If the configmap uses filenames in the data, then you only need to mount the configmap:
[code]

Each of those keys will be a file in the mounted ConfigMap. See [Configure a Pod to Use a ConfigMap](https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/#populate-a-volume-with-data-stored-in-a-configmap) in the kubernetes docs.

This way you don't need to add keys and paths

[2022-09-29 01:04] wujunwei commented on #11338
Maybe you assigned the wrong one 😂

[2022-09-29 03:02] xiaomudk commented on #10860
@joejulian @yxxhero  can we discuss its necessity？

[2022-09-29 05:24] PengWang-SMARTM opened #11394 "Helm Template: How to access .Files in range"
I'm trying to read a number of files into a ConfigMap.

I found a great solution @abdennour provided in [Issue 2573](https://github.com/helm/helm/issues/2573).

However, if I understand correctly, this solution won't work when there is no such a glob name to select all files.

Initially, I put the filenames into a list, and use the range command to go through them. But there seems no way to access

[2022-09-29 05:28] PengWang-SMARTM commented on #11394
I just found the [helm document](https://helm.sh/docs/chart_template_guide/accessing_files/#glob-patterns), which shows some examples to work with range. Although I haven't test them yet, it should work :)

[2022-09-29 05:28] #11394 closed

[2022-09-29 05:49] stan-sz commented on #11385
Please note that there are more cases of such message logging in that file.

[2022-09-29 07:41] asafbennatan commented on #11381
@joejulian exactly , Thanks!

[2022-09-29 07:41] #11381 closed

[2022-09-29 08:24] patrikbeno opened #11395 "hooks should be deleted in reversed order"
Scenario:

- pre-install helm hook as job needs additional configmap
- configmap is not part of release, it is only needed by hook
- configmap is also marked as hook, and assigned lower hook-weight so that it is installed before the job needs it
- both job and configmap are marked for deletion on hook-succeeded
- job completes succesfully
- helm deletes both configmap and job in the same order as

[2022-09-29 10:08] wirwolf commented on #9285
Have the same problem. Waiting for fix

[2022-09-29 10:14] wujunwei commented on #11391
https://github.com/helm/helm/blob/422c406b5c86d3df66a2edd1542de3d57b9d8065/pkg/lint/rules/template.go#L136-L142
[code]
As the code shown above,if parse yaml error happen ,it always return error next time.

[2022-09-29 10:15] wujunwei commented on #11391
It's a amazing  bug :)

[2022-09-29 13:14] zswanson commented on #10183
An older issue from k8s indicates this is intentional and won't be fixed
https://github.com/kubernetes/kubernetes/issues/72519

[2022-09-29 15:06] rehevkor5 commented on #6376
Would be nice if this was mentioned in the docs. This situation makes it rather mysterious to do things like support both `"true"` and `true` in values (eg. for backward compatibility).

[2022-09-29 15:12] abdennour commented on #2573
Or in one line ;)

[code]
Where `files/` is an example here and it must be a folder sibling of templates folder.

[2022-09-29 17:32] Imunhatep commented on #2247
/remove-lifecycle stale

[2022-09-29 18:54] badigeranand007 opened #11398 "Helm Upgrade Install return with Error: create: failed to create: status code 413 but did not return more information (post secrets)"
Output of `helm version`: version.BuildInfo{Version:"v3.9.4", GitCommit:"dbc6d8e20fe1d58d50e6ed30f09a04a77e4c68db", GitTreeState:"clean", GoVersion:"go1.17.13"}

Output of `kubectl version`: WARNING: This version information is deprecated and will be replaced with the output from kubectl version --short.  Use --output=yaml|json to get the full version.
Client Version: version.Info{Major:"1", Minor

[2022-09-29 19:12] badigeranand007 opened #11399 "Error: create: failed to create: the server responded with the status code 413 but did not return more information (post secrets)"
Output of `helm version`:
root@144-8-225-229:/apps/opt/jenkins/83-aws-us-east-1-ontv-vzontime-ple-appointment-availability-service # helm version
version.BuildInfo{Version:"v3.10.0", GitCommit:"ce66412a723e4d89555dc67217607c6579ffcb21", GitTreeState:"clean", GoVersion:"go1.18.6"}

Output of `kubectl version`: kubectl version
WARNING: This version information is deprecated and will be replaced with

[2022-09-29 19:25] Krzysztof-Lempicki opened #11400 "[QUESTION] changing value of dependency of dependency"
# Helm version
version.BuildInfo{Version:"v3.7.0", GitCommit:"eeac83883cb4014fe60267ec6373570374ce770b", GitTreeState:"clean", GoVersion:"go1.16.8"}

# Cloud Provider/Platform:
Minikube

# Problem
I am using helm charts this way:

* generic-service chart - is template for any service
* oauth2-service-base - is template for any env. It has dependency `generic-service chart`
* oauth2-service-local -

[2022-09-29 23:19] joejulian commented on #11395
Makes sense to me.

[2022-09-29 23:24] joejulian commented on #11398
According to RFC 9110

So it looks like your Secret is [too big](https://kubernetes.io/docs/concepts/configuration/secret/#restriction-data-size).

[2022-09-29 23:25] joejulian commented on #11399
Duplicate of #11398

[2022-09-29 23:25] #11399 closed

[2022-09-29 23:38] badigeranand007 commented on #11398
@joejulian
In my values.json I dont even have any secret
pls see below
global:
    project:
      lob: vzw
      vsad: ontv
    build:
      # commitId: read_from_jenkins
      env: prod
      #branch: master

  ### Auto Scaling requirements
  autoscaling:
    min: 1
    max: 2
    cpu:
      targetCPUUtilization: 70
    memory:
      targetMemoryUtilization: 160

  ## Define your container
  depl

[2022-09-29 23:53] joejulian commented on #11398
The release data is kept in a secret. If that's :point_up:  your entire chart, I'm guessing there must be other files in your chart directory that is being included in the chart data. Check for extra files under your chart directory.

[2022-09-29 23:57] badigeranand007 commented on #11398
Joe, Thank you for your respone.
I do have  deployment.yaml, horizontal-auto-pod-scaler.yaml ,service.yaml , ingress.yaml but they dont contain any secret too.

![image](https://user-images.githubusercontent.com/60767277/193161994-1783746e-756c-4561-bf24-d6fa6b0a967e.png)

[2022-09-30 00:03] joejulian commented on #11400
This is intentional. Template functions are globally namespaced. That is to say, chart dependencies and the root chart share the same function namespace, so if two charts define a function named _helpers.serviceAccountName, it is undefined which function will be called.

[2022-09-30 00:06] badigeranand007 commented on #11398
I think I got it. it looks for the other larger file in the directory and then it was throwing error
Thank you so much. You made my day.

[2022-09-30 00:06] #11398 closed

[2022-09-30 08:02] Krzysztof-Lempicki commented on #11400
@joejulian

This means that way that I want to use Helm:

`abstract chart -> less abstract chart -> implementation chart`

is not corresponding with helm architecture.

I want to avoid situation where someone want to create
chart for `my_new_env` and just copy paste chart from another one
and just changing few values.

How I can achieve that in way that is more corresponding with Helm architecture

[2022-09-30 15:57] ngraf commented on #11338
Yes, you assigned to wrong one. Please don't assign to me. I am not a good developer, just a user of "helm".

[2022-09-30 21:17] joejulian commented on #11400
You mention value and template. I think there may be some miscommunication. Can you offer an example that I can duplicate on my own? That would help me offer better advice.

If you have a sample chart directory, you can tar it and drop it in your response.

[2022-10-01 00:25] #10741 closed

[2022-10-01 00:25] #10585 closed

[2022-10-01 00:46] rschamizo opened #11402 "Accesing files from libraries chart dependencies"
# Problem
I have a library who create a configmap from file with this:

[code]
![image](https://user-images.githubusercontent.com/78882304/193376298-7e59f887-03ea-4d71-ae57-16a47f7e9332.png)

Now i want to reuse this library from others helm Charts so i added it as dependecy, but cannot access the files now although use the same variables.

# Question
I want to have the same folder in the root cha

[2022-10-01 07:28] sathieu commented on #10109
Still needed (while less important, because no big API jump since the ingress v1).

[2022-10-01 18:37] Krzysztof-Lempicki commented on #11400
github: "Something went really wrong..." when I drop file.
Link to `we transfer`: https://we.tl/t-admK4ahr6E

[2022-10-02 00:18] dims commented on #7637
related to https://github.com/helm/helm/issues/9502

[2022-10-02 00:18] dims commented on #9502
related to https://github.com/helm/helm/issues/7637

[2022-10-02 00:22] #11015 closed

[2022-10-02 11:10] #11400 closed

[2022-10-02 13:31] blakeromano opened #11403 "Feature Request: Allow Multiple Yaml Parsers"
When running Helm there is only one Yaml Parser available. This can run into some issues when doing things like parsing AWS Cloudformation Template syntax like
[code]
Where although this would be valid YAML syntax for the way Cloudformation syntax and when doing things like
[code]
in the helm chart I would love to be able to use a different parser that would allow it to parse properly versus with

[2022-10-02 17:57] yellowmegaman opened #11404 "Helm does not wait for subchart pods to be ready"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
[code]

Repro:
[code]

Full log:
[code]

Expected result - helm should fail, since subchart's pod is not in READY state

[2022-10-03 03:27] ds0nt commented on #4504
Nothing works. FYI

[2022-10-03 03:27] ds0nt commented on #4504
I tried with like every concievable escaping

[2022-10-03 03:29] ds0nt commented on #4504
At this point I'm going to resort to using `|` in the place of a space and then using `replace` in the templates. Pretty inconvinient.

[2022-10-03 03:30] ds0nt commented on #4504
Not even changing IFS works.

[2022-10-03 07:31] underside opened #11405 "Helm indent introduced extra whitespace on previous row"
Helm indent function insert trailing whitespaces on previously line.

Output of `helm version`:
version.BuildInfo{Version:"v3.10.0", GitCommit:"ce66412a723e4d89555dc67217607c6579ffcb21", GitTreeState:"clean", GoVersion:"go1.18.6"}

Output of `kubectl version`:
Client Version: v1.24.4
Kustomize Version: v4.5.4

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
Local tests with helm template .

I h

[2022-10-03 11:52] Antiarchitect opened #11406 "[FEATURE] helm dependency check-updates"
Just looked inside `cmd/helm` and understood my go skills is not enough for this.

I have a large repository with about ~50 helm charts inside. So it would be very nice to implement something like this:

[code]

Which returns table consisting Path (second case), version of dependent chart locked locally, version available for this Chart in the repository. It will drastically improve timely depende

[2022-10-03 12:00] sharkymcdongles commented on #2848
I know this is old, but easiest way to solve this is printf e.g.

`{{ printf "%t" .Values.some.bool }}`

This will print true or false.

[2022-10-03 13:30] mattfarina commented on #11280
Closing as this should be completed. Please let us know if it's not.

[2022-10-03 13:30] #11280 closed

[2022-10-03 14:20] froy001 commented on #9214
+1 on this.

I would really want to see this fixed. We have a usecase where we need both the chart name and it's alias.

[2022-10-03 15:52] mkjpryor commented on #8137
It is pretty much impossible to debug usage of the `lookup` function without a target cluster or making changes, so I would support any change that allowed that.

[2022-10-03 17:51] taxilian commented on #11287
Would that overwrite any of the settings or anything? I'm having the same issue -- wishing that `--force` would just ignore this type of issue -- but it's a production system and I really would prefer not to lose my ceph cluster and all shared storage because of a mistake on something like this....

[2022-10-03 22:22] mneira10 commented on #11103
Hi, I'm currently facing the same issue.

[2022-10-04 00:24] joejulian commented on #11402
If you set the file location with a value, you can override that value in the top-level chart.

[2022-10-04 00:28] joejulian commented on #11404
If you have a StatefulSet with a replica of 1 and a maxUnavailable of 1, the StatefulSet _is_ ready according to Kubernetes.

[2022-10-04 00:30] joejulian commented on #11405
Try [nindent](http://masterminds.github.io/sprig/strings.html#nindent)

[2022-10-04 00:36] joejulian commented on #9214
If this is a docs update, this need to be filed in [helm-www](https://github.com/helm/helm-www/issues).

[2022-10-04 00:40] bmitchinson commented on #5780
similar to [riker09](https://github.com/riker09)'s comment in case some are stuck:

I was doing everything right, but forgot that the chart still had the following at the top of `Chart.yaml`

[code]

You do need to be on helm 3, but you also need to ensure your chart apiVersion is `v2`
[code]

[2022-10-04 00:47] joejulian commented on #8137
Helm, like most open source tools, is a community of users, developers, volunteers, etc. You are part of this community and as such when you say "they" that them includes you. Please consider spending some time on this. If you don't have the experience to contribute code, consider hiring someone who does and donating. Maybe trade in-kind your skills for someone with the skills and time to generate

[2022-10-04 01:41] dcow commented on #8137
LoL. Read the thread. People have tried all that. Even proposed patch sets. Maintainers don't care. Thats who *they* is.

[2022-10-04 07:25] underside commented on #11405
Hi @joejulian,
I tried, result the same.
I tried:
[code]
Result (the same 12 trailing whitespaces)
[code]

[2022-10-04 08:01] consideRatio commented on #9214
It is a bug, either in docs or function - I'd argue its a bug in function that if really needed can become fixed by updating the docs to clarify this exception to the rule how .Chart doesn't represent what Chart.yaml describes.

[2022-10-04 09:57] yellowmegaman commented on #11404
@joejulian  Nice catch! Thank you

But is consistent with k8s api here?
[code]

[2022-10-04 14:05] h0tbird commented on #3612
I can reproduce it like this:
[code]

[2022-10-04 15:01] dinvlad commented on #3612
FWIW the example from [reproducible builds](https://github.com/helm/helm/issues/3612#issuecomment-947237805) worked well for me, but that obviously requires custom scripting, which is not ideal.

[2022-10-04 15:29] joejulian commented on #11287
I would create a test cluster and confirm that.

[2022-10-04 18:49] dastrobu commented on #9169
Remove stale.

There is an open PR waiting for approval.

[2022-10-04 23:37] joejulian commented on #9214
Fair enough. I just looked in to it and it would be a huge undertaking to change this. The name is replaced in order for all the templates to work correctly when used as a subchart.

Take, for example, the fullname template:
[code]

In order for the alias to be used here, you'd need some sort of logic to be carried down about whether you're rendering a subchart, what its alias is and have special

[2022-10-04 23:41] joejulian commented on #11404
That's correct. If you check the sts status, you'll find that the sts, itself, is ready.

[2022-10-05 00:34] joejulian commented on #11405
I've never had a lot of luck with those kind of named templates. Figuring out where to trim is such a pain.

I always build data structures then `toYaml` them:
[code]

[2022-10-05 03:08] karthick-kk commented on #7891
Not stale, still relevant.

[2022-10-05 07:56] aureq opened #11411 "Using `helm lint <path> --quiet` produces no output, even when there's an error."
### What happened?

When running `helm lint <path> --quiet`, for some reason, `helm doesn't show any errors. However, if `--quiet` is removed, then errors are shown.

### Steps to reproduce

1. run `helm lint nonexistent/ --quiet`
2. No error is displayed despite that `nonexistent/` doesn't exist. The command exit code is `0` and not `1` to indicate an error.
3. run `helm lint nonexistent/`
4. the

[2022-10-05 10:34] ismailyenigul opened #11412 "x509: certificate has expired or is not yet valid error on helm 3.10"
Output of `helm version`:

[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
AWS EKS

Error:
Getting the following error on Macos Apple Silicon with helm 3.10.0. It is OK with helm 3.9.3

[code]
EKS certification is not expired.

[code]

Output from helm 3.9.3 for the same cluster. It is working fine. It seems something is broken on helm 3.10.0

[code]

[2022-10-05 12:20] wernerb commented on #11385
@d-d-up This is a larger issue. Since helm 3.10.0 it makes any output from `helm template` invalid kubernetes as well.
[code]
Because of the extra two lines.

[2022-10-05 12:21] yxxhero commented on #11385
@d-d-up ping

[2022-10-05 12:39] underside commented on #11405
@joejulian
Thank you so much!
Your version work like a charm.
I don't understand it fully, but I will :-)

[2022-10-05 12:39] #11405 closed

[2022-10-05 14:44] #11014 closed

[2022-10-05 17:48] mpashkovskiy commented on #11062
While we are waiting for the PR to get merged here is a workaround:

1. create `annotations.json`
[code]
2. create either empty `config.json` or convert `Chart.yaml` to JSON and save it as `config.json`
3. push the chart with oras (version 0.15.0 was used)
[code]
4. `aws ecr batch-get-image` could be used to pull information about the image
[code]

Example of a `Makefile`:

[code]

Hope that will

[2022-10-05 22:48] joejulian commented on #11412
I wonder if this is that [Mac DNS issue](https://github.com/helm/helm/issues/5800)

[2022-10-05 23:19] youcaughtafish commented on #10396
Hello, I'm still seeing this issue on version 3.10.0 when trying to push/pull to/from GCP Artifact Registry.  Maybe 2 out of 3 times, a pull will work, but then it seems to hang.

When things work, it looks like this:
[code]

But then when it hangs, it looks like this:
[code]

Unlike @Unknow0's issue, I don't think this has to do with multiple keys, since I only have a single entry in my `~/.confi

[2022-10-05 23:29] youcaughtafish opened #11415 "helm pull/push randomly hangs with GCP Artifact Registry"
Hello, I'm seeing an issue on version 3.10.0 of helm where push/pull to/from GCP Artifact Registry seems to randomly hang.  For example, maybe 2 out of 3 times, a pull will work, but then it seems to hang.

When things work, it looks like this:
[code]

But then when it hangs, it looks like this:
[code]

Unlike @Unknow0's issue in https://github.com/helm/helm/issues/10396, I don't think this has to

[2022-10-06 00:22] #11025 closed

[2022-10-06 00:22] #10549 closed

[2022-10-06 00:22] #7971 closed

[2022-10-06 04:07] fishy commented on #11045
this is still an issue.

[2022-10-06 04:35] abdennour commented on #8439
the only way as per today is to delegate helm to argocd & use sync-wave annotations there.

[2022-10-06 07:58] ido-vcita commented on #7997
Any update on this?

[2022-10-06 09:09] LoicGombeaud commented on #9136
I just ran into this issue, and would very much appreciate a fix.

[2022-10-06 10:16] ismailyenigul commented on #11412
@joejulian I don't think that is DNS issue. Because helm connects and try to verify SSL but it fails.
So it should be something with SSL validation.

[2022-10-06 10:21] andrejusc commented on #8439
so on original CRDs flexible sorting aspect support for deployment needs via Helm - is there agreement/disagreement in Helm community? As this issue by now open for 2+ years. Implementation of such support doesn't look to be complex, but is that then affects any other pattern to be aware about?

[2022-10-06 11:26] digbijaya18 opened #11416 "UPGRADE FAILED: error validating "": error validating data: unknown object type "nil" in Secret.data.config.yaml"
UPGRADE FAILED: error validating "": error validating data: unknown object type "nil" in Secret.data.config.yaml

[2022-10-06 11:52] #11123 closed

[2022-10-06 13:07] kahootali commented on #8127
I would also want to have such a flag, as we have moved to ArgoCD but the previous releases are still there so if I run `helm delete` it will delete the resources as well and then I would need to sync ArgoCD apps resulting in some downtime.. for now I am using the
[code]
but this seems like a work-around

[2022-10-06 14:05] JanCizmar opened #11417 "toYaml is not documented"
Hello,

[this PR](https://github.com/helm/helm/pull/1230) adds the toYaml helper function, but it's not mentioned in documentation. I had to guess what the function actually does.

Can you please document it?

[2022-10-06 15:18] antaloala commented on #10899
It looks PR #11162 is waiting for being accepted/merged to "main" for some long time.
Is there anything preventing it to happen?
We are not able to upgrade Helm from 3.8.1 to any newer release due to the NBC introduced by 3.8.2 on imported-values behavior; it looks we are not the only ones "suffering" this problem.

Asking in order to understand if not accepting (yet) that PR #11162 is only becaus

[2022-10-06 16:50] #5800 closed

[2022-10-06 20:24] NBRAZ22 opened #11418 "Helm version"
Output of `helm version`:

Output of `kubectl version`:

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

Trying to upgrade from 1.4.7 to 1.5, where is the correct HELM package to use?

[2022-10-06 22:45] eumel8 opened #11419 "Loading KUBECONFIG from stdin"
Output of `helm version`: version.BuildInfo{Version:"v3.10.0", GitCommit:"ce66412a723e4d89555dc67217607c6579ffcb21", GitTreeState:"clean", GoVersion:"go1.18.6"}

Output of `kubectl version`: Client Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.1", GitCommit:"86ec240af8cbd1b60bcc4c03c20da9b98005b92e", GitTreeState:"clean", BuildDate:"2021-12-16T11:41:01Z", GoVersion:"go1.17.5", Com

[2022-10-07 00:24] #10700 closed

[2022-10-07 08:23] hickeyma commented on #11418
@NBRAZ22 "upgrade from 1.4.7 to 1.5", what are yoy trying to upgrade? Helm is 3.x.x.

[2022-10-07 08:45] davidegiunchi opened #11421 "helm upgrade --install does not return error code when deployment fails, on helm v3"
Output of `helm version`:

version.BuildInfo{Version:"v3.10.0", GitCommit:"ce66412a723e4d89555dc67217607c6579ffcb21", GitTreeState:"clean", GoVersion:"go1.18.6"}

Output of `kubectl version`:

Client Version: version.Info{Major:"1", Minor:"25", GitVersion:"v1.25.2", GitCommit:"5835544ca568b757a8ecae5c153f317e5736700e", GitTreeState:"clean", BuildDate:"2022-09-21T14:33:49Z", GoVersion:"go1.19.1", C

[2022-10-07 13:51] NBRAZ22 commented on #11418
Disregard

[2022-10-07 15:06] johnlane commented on #10583
What is the preferred way to clean up Helm cache?

I have over 10,000 files totalling over 15GB making a hole in my disk. Loads of pairs of files like this

[code]

Is `rm -r` a suitable tool to use here?

[2022-10-07 18:14] robin-carry opened #11422 "Helm Hook "Post Install" not working for Dependencies Chart"
https://helm.sh/docs/topics/charts_hooks/#writing-a-hook - Trying to get this working

**Requirements**: I want the `console` pod to start at the end in the below Chart X which has dependency to `console` chart.

**Solution Space**: Thought of the helm hooks as a life-cycle to deploy it at the end.

**Result/Behavior**: The `annotations` getting applied, but the `console` pods starts as soon as I

[2022-10-07 21:22] dkrizic commented on #11287
I did that, I removed all secrets "sh.helm.release.v1.rook-ceph" and simply run a

[code]

technically the helm release was removed and re-added and all resources overridden.

[2022-10-08 00:19] #11036 closed

[2022-10-08 00:19] #11028 closed

[2022-10-08 00:19] #11021 closed

[2022-10-08 01:04] ZhangSetSail commented on #11392
Okay Thank you

[2022-10-08 05:34] mjperrone opened #11424 "Helm configured differently within microk8s vs outside"
## Helm configured differently within microk8s vs outside

TL:DR I'd like to understand better what context/cluster `helm` is talking to.

I am trying to use helm within `microk8s`. I went through the [macos install instructions](https://microk8s.io/docs/install-macos) and added the observability add on and manually added the vector helm repo:

[code]

Then when I run `microk8s helm repo list` I s

[2022-10-08 06:36] wujunwei commented on #11321
https://github.com/helm/helm/blob/82a2a2e85ccd9f83455b211ac2a7c7c887ffb9bd/pkg/action/action.go#L198-L211

As the annotation shows above，**writeToFile** in the method  **renderResources** which used by install & upgrade action should be moved to `template`. that' s just why  we cann't filter file "crd*"  with rendering to folders. It doesn't do the filtering logic when rendering Resources.

In a s

[2022-10-09 00:20] #11037 closed

[2022-10-09 00:20] #11035 closed

[2022-10-09 00:20] #10999 closed

[2022-10-09 00:20] #10952 closed

[2022-10-09 00:20] #10889 closed

[2022-10-09 00:20] #10501 closed

[2022-10-09 22:49] awbacker commented on #11306
@Aldiuser I do not know how you found this out, but thank you!

Kubectl must be triggering a bug in the MacOS IPv6 stack.  I manually set my DNS to only v4 IPs (8.8.4.4 and 8.8.8.8, thanks google!) and everything works again!

Basically, after running any network eks commands that connect to a _remote_ cluster, the system requires a restart:

- The entire network stack stops responding
- Network s

[2022-10-09 23:34] jslay88 commented on #11095
bump

[2022-10-10 00:49] yxxhero commented on #11424
@mjperrone please show the content of `$HOME/.config/helm/repositories.yaml`

[2022-10-10 05:22] shivanik111898 opened #11425 "I am not able to see the failed helm releases in K8s cluster. I am only able to see the succeeded one's"
Output of `helm version`: version.BuildInfo{Version:"v3.9.1", GitCommit:"a7c043acb5ff905c261cfdc923a35776ba5e66e4", GitTreeState:"clean", GoVersion:"go1.17.5"}

Output of `kubectl version`:

Client Version: version.Info{Major:"1", Minor:"25", GitVersion:"v1.25.2", GitCommit:"5835544ca568b757a8ecae5c153f317e5736700e", GitTreeState:"clean", BuildDate:"2022-09-21T14:33:49Z", GoVersion:"go1.19.1", Com

[2022-10-10 06:34] #11425 closed

[2022-10-10 06:43] yxxhero commented on #11417
@JanCizmar Please see https://github.com/helm/helm-www/pull/1309

[2022-10-10 06:46] dmekhov commented on #11130
it's still actual

[2022-10-10 06:55] mjperrone commented on #11424
[code]

[2022-10-10 13:55] patsevanton commented on #1713
Really need this feature

[2022-10-10 15:08] planetf1 commented on #5780
Since I originally opened I felt obliged to add a quick update as I see the discussion is still going here -->  I have refactored. All is now working. Dependencies are now in Chart.yaml. API version is v2, and conditions are working fine

[2022-10-10 23:46] joejulian commented on #11419
kubectl does this [here](https://github.com/kubernetes/client-go/blob/f515a4cb9fa9e7f1e9585d01d21487503f18921e/tools/clientcmd/loader.go#L363-L400) so it must have something to do with the way they initialize their client. That's where I would start looking.

[2022-10-11 00:06] joejulian commented on #11422
I'd like to take this question a little sideways, if I may.

Why?

What happens if the broker isn't yet available? The console fails and the pod exits. The Kubernetes scheduler starts the pod again. It may fail again. If it does, it's retried (with a graceful fallback) until it hits the maximum of 5 minutes.

As long as you're not reaching the CrashLoopBackoff, I'd just consider letting it fail a

[2022-10-11 00:21] #10925 closed

[2022-10-11 02:34] greggbjensen commented on #11017
I ran into this same issue with the `EOF` error using AWS ECR with GitHub Actions.  The fix was adding the following environment variable:

[code]

[2022-10-11 07:39] wujunwei commented on #11338
ping @joejulian I have create a PR, PTAL .

[2022-10-11 08:05] AreebAbdulGhani commented on #10747
Ok, I'll check it out.

On Mon, 28 Mar, 2022, 2:26 pm Martin Hickey, ***@***.***>
wrote:

[2022-10-11 09:14] flokli commented on #11083
I'm aware it's a warning/reminder that can be ignored. The "this is insecure" is a bit of a too strong message, and in many cases wrong - which is why I opened this issue. Of course setting the permissions might be a workaround - at least in filesystems supporting this, but I'd rather prefer if helm wouldn't try to make guesses that are wrong quite often...

[2022-10-11 12:48] tomasaschan commented on #9813
For the case when `helm template` is used _by a cluster admin_ to render a template that will then be applied by other means (e.g. through some git-ops tool that does not directly support installing helm charts) this is a really frustrating stance. Why do we have to manually add the `Namespace` separately?

[2022-10-11 15:17] Haegi commented on #8203
Any updates on this topic?
It seems like winget now supports zip, see https://github.com/microsoft/winget-cli/pull/2500

[2022-10-11 15:38] wallrj commented on #11107
/lifecycle frozen

[2022-10-11 16:06] robin-carry commented on #11422
@joejulian - What you have said has the absolute truth. That is what I am doing right now, but that is not what I was asking. I was asking about the behavior of `helm` - where the `post-install` hook wasn't working.

This may be the example I am facing right now, but in future I might have distributed services with mini-liths where restarts/failure is waste (due to legacy challenges).

While this

[2022-10-11 16:15] joejulian commented on #11422
Are you using the `--wait` flag? It looks like the hooks will only wait until the main body is ready if that flag is used: https://github.com/helm/helm/blob/f08db5c899c4e312c72ae863acbb90ac8a4747ed/pkg/action/install.go#L356-L420

[2022-10-11 16:31] robin-carry commented on #11422
@joejulian - I didn't earlier (when I reported the issue), but I just did and still same result.

If you want to experiment, I have it all in my private git - https://github.com/robin-carry/strimzi-parent

[code]

I still see immediately `my-cluster-console-****` pod started and running, trying to connect to the broker endpoint, which isn't available.

[2022-10-11 16:32] joejulian commented on #11083
Looking at the history of that function, it's been stated rather explicitly by the core maintainers that this is a result of a CNCF security team audit.

https://github.com/helm/helm/issues/8776#issuecomment-812146980

Based on that second paragraph, I suspect logic that would also determine that there were no secrets in the kubeconfig would also be considered.

[2022-10-11 19:48] mattfarina opened #11432 "CI deploy script failing"
The deploy script is failing. For example, see https://app.circleci.com/pipelines/github/helm/helm/4435/workflows/88227121-83f5-46d2-abde-cbed07d4558e/jobs/16015

The specific issue is when the azure CLI is installed...

[code]

[2022-10-11 22:01] fishy commented on #11045
while that workaround works for some cases, it doesn't really work for other cases.

for example, we have a helm template to generate yaml config files to be mounted to our pods, and the value files could be some thing like this:

[code]

and when we use helm to generate the `config.yaml` file out of `.Values.config`, the precision loss will happen and we got ids in the config that will match the

[2022-10-11 22:54] #11432 closed

[2022-10-11 23:14] joejulian commented on #11045
Please file an issue with golang at https://github.com/golang/go/issues. Prefix your issue with "x/text:" in the subject line, so it is easy to find.

[2022-10-11 23:19] joejulian commented on #11416
This needs more information. My only guess is that you didn't put quotes around "config.yaml" so it thinks you're dereferencing a key named config.

[2022-10-11 23:21] joejulian commented on #10583
That's what I do.

[2022-10-11 23:34] joejulian commented on #11424
The default home directory for helm is the one asked for above. There's nothing in [brew](https://github.com/Homebrew/homebrew-core/blob/master/Formula/helm.rb) that changes that. Do you have `$HELM_HOME` defined, or are you running as root or does the microk8s command create some chroot?

The `repositories.yaml` is the source of that list, though. It works even without a kubernetes cluster so it

[2022-10-11 23:44] joejulian commented on #11422
I mean... I like the console you're using, but the rest of it's so big and slow... :wink:

[2022-10-11 23:53] joejulian commented on #11422
Ok, you only have 2 resources that can be waited for, both Deployments. The `strimzi-cluster-operator` installs and is ready very quickly, which allows helm to move on to the hooks. There's no way for helm to know how to wait for a `Kafka` or `KafkaConnect` resource so it doesn't.

[2022-10-11 23:56] joejulian commented on #11422
If you installed your kafka using a kubernetes primitives that have known readiness checks, then you could use hooks. Like if you used the [Redpanda helm chart](https://github.com/redpanda-data/helm-charts), which uses a StatefulSet, helm knows how to wait for that to be ready so your hook could then run after it is.

[2022-10-12 00:01] joejulian commented on #8439
Happy to have a contribution to address this. Probably should start with a [HIP](https://github.com/helm/community/blob/main/hips/hip-0001.md) also take a look at the [contributing](https://github.com/helm/helm/blob/main/CONTRIBUTING.md) doc.

[2022-10-12 00:15] joejulian commented on #10899
Responded in the PR.

PS. I'm not a core maintainer, I just help with issues.

[2022-10-12 00:21] joejulian commented on #9813
You might consider using the post-renderer flag to process the output with kustomize to add the namespace.

[2022-10-12 00:25] #10320 closed

[2022-10-12 00:26] joejulian commented on #11095
Happy to have a contribution to address this. Probably should start with a [HIP](https://github.com/helm/community/blob/main/hips/hip-0001.md) also take a look at the [contributing](https://github.com/helm/helm/blob/main/CONTRIBUTING.md) doc.

[2022-10-12 01:37] ssrahul96 commented on #8203
Oh cool, let me check it out

[2022-10-12 04:03] mjperrone commented on #11424
Thanks for the info!
Turns out my use case doesn't actually require kubernetes so I'm going to solve the problem with docker-compose and avoid helm entirely. So I'm not going to invest more time to understand my issues here

[2022-10-12 04:03] #11424 closed

[2022-10-12 04:16] ventsyv commented on #10814
Same issue with helm 3.10.0
[code]

[2022-10-12 08:13] stevendick-swissre opened #11434 "Helm 3.10.0 missing from baltorepo for Debian installation"
I'm trying to upgrade my container image to Helm 3.10.0 to see if it resolves [CVE-2022-32190](https://nvd.nist.gov/vuln/detail/CVE-2022-32190) found in the Docker Go package.

My base image is based on Debian, so I am following the Helm documentation to do an `apt-get` from https://baltocdn.com/helm/stable/debian/

As far as I can see, 3.9.4-1 is the latest Debian package available.

[2022-10-12 09:14] hickeyma commented on #11434
@stevendick-swissre Apt is not supported by the Helm community. Members of the community contribute to the Apt project. Maybe you can ask in the project about this?

[2022-10-12 09:26] #11434 closed

[2022-10-12 12:50] aturetta commented on #6615
Found the solution

Do not download the archive with a GUI browser, it will get tainted by macos that will pretend downloaded binaries to be signed.

Just download with wget or curl, and live happy!

Downloaded archives/binaries get some additional attributes on the file system, look at a `ls -l` of your Downloads folder
[code]
You see the `@` sign right after the permissions?
that is the extended