[2018-06-08 05:56] bacongobbler commented on #4173
https://docs.helm.sh/using_helm/#the-format-and-limitations-of-set goes into more detail on the format and how to escape things like quotes. This is the intended behaviour of the --set parser according to the docs, and it sounds like you've found the workaround as described in the docs. :)

Closing!

[2018-06-08 05:56] #4173 closed

[2018-06-08 06:03] bacongobbler commented on #4152
We are not going to do this as it'd break the chart format spec for Helm 2, however it could be a considered talking point for Helm 3. I'm of the opinion that the Chart.yaml is pretty well-known to identify the directory as a Helm chart, and I'd rather restrict the spec to a minimum

[2018-06-08 06:07] abhijt-zanak opened #4198 "After upgrade of helm chart values service is showing nodeType as LoadBalancer instead ClusterIP"
Output of `helm version`:
Client: &version.Version{SemVer:"v2.9.0", GitCommit:"f6025bb9ee7daf9fee0026541c90a6f557a3e0bc", GitTreeState:"clean"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.3", GitCommit:"d2835416544f298c919e2ead3be3d0864b52323b", GitTreeState:"clean", BuildDate:"2018-02-09T21:51:54Z", GoVersion:"go1.9.4", Compiler:"gc", Platform

[2018-06-08 06:07] christhomas commented on #4152
So if you had a project. You'd put the charts in a subdir somewhere out of the way?

[2018-06-08 06:09] abhijt-zanak commented on #4198
output of
helm get values roiling-wildebeest | helm template -x templates/jenkins-master-svc.yaml -f - ./jenkins/

[jenkins.txt](https://github.com/kubernetes/helm/files/2083104/jenkins.txt)

[2018-06-08 06:14] bacongobbler commented on #4129
The latest release of Helm can only reasonably support the releases kubernetes officially supports. At this time that'd be 1.9 and 1.10 if I'm not mistaken.

If this can be reproduced on a 1.10 cluster then we can start diving in, otherwise then I'd say this is something we cannot support. Sorry!

[2018-06-08 06:18] bacongobbler commented on #4129
Oops, just saw that you already tested this on newer clusters and it sounds like this works as intended on supported clusters, so it looks like it's just a version incompatibility issue. In that case I'm going to close this as a wontfix. Thanks!

[2018-06-08 06:18] #4129 closed

[2018-06-08 06:19] bacongobbler commented on #4152
Yes. You can take a look at the community charts as an example :)

[2018-06-08 06:27] bacongobbler commented on #4107
Labelling as an enhancement to `helm lint`.

[2018-06-08 06:32] bacongobbler commented on #3275
Re-labeling this as a bug. We're not sure what caused this regression to occur but if anyone can provide steps on how to reproduce this bug on 2.9.1 that would be most appreciated.

[2018-06-08 06:33] bacongobbler commented on #4090
Is this related to #3297?

[2018-06-08 06:33] christhomas commented on #4152
My first chart I put it in the root directory and then thought about what if I had templates already? That's where this comes from

[2018-06-08 06:36] bacongobbler commented on #4087
Closing as working. I just tested it and it works. @jgleonard has the right idea.

[2018-06-08 06:36] #4087 closed

[2018-06-08 06:38] bacongobbler commented on #4075
cc'ing @eyalbe4 as the point of contact over at JFrog for this enhancement

[2018-06-08 06:59] ReSearchITEng commented on #3801
@jamesbroadhead the comparison in the helm chart should be done not as strings, but using semverCompare:
[code]
(example from nginx chart: https://github.com/kubernetes/charts/blob/bc178b63c7df469f1bbccd86629f8cb573a32292/stable/nginx-ingress/templates/controller-service.yaml)

[2018-06-08 07:05] eyalbe4 commented on #4075
@Adiqq,
Since this issue is related to Artifactpry's backend only, and most likely will not require any change on helm's side, we opened [RTFACT-16904](https://www.jfrog.com/jira/browse/RTFACT-16904).
It might be enough to have only [RTFACT-16904](https://www.jfrog.com/jira/browse/RTFACT-16904) open to track this request.

[2018-06-08 07:06] #4075 closed

[2018-06-08 07:14] bacongobbler commented on #3983
Can you test and see if this was fixed in 2.9.1? We addressed a similar bug in that release.

[2018-06-08 08:28] mgruener opened #4199 "Install NetworkPolicies after Namespaces"
Helm should install NetworkPolicy resources after Namespace resources.

Currently the InstallOrder at https://github.com/kubernetes/helm/blob/master/pkg/tiller/kind_sorter.go#L29 does not list the NetworkPolicy resource. If a chart creates a Namespace resource and a NetworkPolicy resource in this Namespace, the deployment of the chart might fail because helm tries to create the NetworkPolicy befor

[2018-06-08 08:31] monika3376 commented on #4134
--wait didn't work

[2018-06-08 08:34] moritzheiber commented on #3296
This is a real issue, especially in CI/CD environments .. I would love to see this treated with a little more urgency :slightly_smiling_face:

[2018-06-08 09:45] thomas-riccardi commented on #4107
@bacongobbler it is not just a `helm lint` feature: I believe it would ideally be useful to raise an error on `helm install` too.
It would be a breaking change, so maybe just for helm 3? But at least a warning on `helm install` would help too.

[2018-06-08 10:27] saplla commented on #1754
+1 so it's possible to bundle Makefiles into charts so our CD system can download the chart, unpack it and run make to install it, passing appropriate env vars.

[2018-06-08 11:21] kundanatre commented on #3816
This is still a issue in 2.9.1 as well.

[code]

[code]

[2018-06-08 11:57] bgehman commented on #4191
@bacongobbler As far as I can tell, the `{{- /* */ -}}` is the required syntax for these style of comments, requiring the `-` for the begin and ending curly braces.

All four permutations:

[code]
Results in: `Error: parse error in "test/templates/deployment.yaml": template: test/templates/deployment.yaml:22: unexpected "/" in command`

[code]

Results in: `Error: parse error in "test/templates/de

[2018-06-08 13:36] mattfarina opened #4201 "Update Copyright"
Now that Helm is under the CNCF they are advising we update the copyright to "Copyright The Helm Authors.". This is essentially replacing "Kubernetes" with "Helm" in the copyright statement for code files.

The CNCF is the parent organization for both Kubernetes and Helm. This is the direction coming from them.

[2018-06-08 13:51] gsemet commented on #3932
Same with 2.9.1. Something has changed.

Helm init works.

Helm client 2.7 can "talk" to tiller 2.9.1:
[code]

But Helm 2.9 cannot:
[code]

[2018-06-08 14:01] dankohn commented on #4201
Specifically, the recommendation is to change from "Copyright 2016 The Kubernetes Authors All rights reserved." to "Copyright The Helm Authors." The regex to do that will need to take into account different years.

[2018-06-08 14:06] mattfarina commented on #4201
@dankohn Should the words "All rights reserved" be removed? Or should it be "Copyright The Helm Authors. All rights reserved."?

[2018-06-08 14:08] dankohn commented on #4201
You're literally not reserving all rights, since the Apache license allows
others to do lots of things. So, I recommend against including it.

--
Dan Kohn <dan@linuxfoundation.org>
Executive Director, Cloud Native Computing Foundation https://www.cncf.io
+1-415-233-1000 https://www.dankohn.com

On Fri, Jun 8, 2018 at 10:07 AM, Matt Farina <notifications@github.com>
wrote:

[2018-06-08 14:47] frankh commented on #3121
Just wanted to confirm this is happening to me on k8s 1.10.3 with tiller 2.9.1

Very frustrating, I only hit the issue after I created a service which runs "helm status" a bunch of times - which causes kubelet to use 4+gb of memory in about 15mins

[2018-06-08 15:08] bacongobbler commented on #3121
https://github.com/kubernetes/kubernetes/issues/57992 is the ticket if anyone feels like tackling this issue upstream.

[2018-06-08 15:15] bacongobbler commented on #4199
Since they are omitted from the known list of objects they should be installed last according to [TestKindSorter](https://github.com/kubernetes/helm/blob/master/pkg/tiller/kind_sorter_test.go#L26). Would you mind adding a unit test to verify that behaviour or by supplying a chart to test this?

[2018-06-08 15:18] bacongobbler commented on #4076
I'm working on re-writing the plugin system for Draft using GoFish as the underlying fetch/search mechanism. Would that be a fitting system to drop in for Helm 3? That would solve the plugin discoverability issue since users can then run `helm plugin search`, returning results from their local machine.

[2018-06-08 15:19] bacongobbler commented on #4076
for reference: https://github.com/Azure/draft/pull/764

[2018-06-08 15:27] bacongobbler commented on #3834
duplicate of #3700.

[2018-06-08 15:27] #3834 closed

[2018-06-08 15:30] bacongobbler commented on #3974
#2278 has not yet been merged into master. Because this is using a feature that has not yet been released into the wild we cannot support this. Sorry!

[2018-06-08 15:30] #3974 closed

[2018-06-08 15:34] bacongobbler commented on #3863
ping

[2018-06-08 15:36] bacongobbler commented on #4194
related #1707

[2018-06-08 15:40] davidkarlsen commented on #3089
Also see https://github.com/weaveworks/flux-helm-test which does this.

[2018-06-08 15:45] bacongobbler commented on #4168
I believe this has been fixed via helm/helm-www#99. Can you confirm? If not would you mind opening a new ticket there? THanks!

[2018-06-08 15:46] bacongobbler commented on #4168
Closing as I believe this has been fixed and to follow-up in helm-www if not.

[2018-06-08 15:46] #4168 closed

[2018-06-08 15:59] bacongobbler commented on #2071
@mattfarina ping

[2018-06-08 16:13] bacongobbler commented on #3211
re-labeling as a feature if someone wants to tackle this!

[2018-06-08 17:40] jamesbroadhead commented on #3801
@ReSearchITEng  is that possible in the top-level kubeVersion definition though?

[code]

[2018-06-08 19:12] roldancer commented on #4163
Hi @SlickNik @PureWhiteWu I think that having a tiller for each namespace is ok for a cluster with few namespaces, but if you have 300 (my case) or more namespaces it would be much more efficient (memory usage) to have just one tiller for all the kubernetes cluster and that's from my point of view multitenant support.

Thanks.

[2018-06-08 19:29] jaygorrell commented on #1168
As a long-time k8s user (but new Helm user), I came to post just this. I have a few engineers that will be setting up helm but the cluster only needs installed once -- given that scenario at least, it does seem unexpected that installing the server-side would happen by default.

I like the idea of `init` for client-side with an extra parameter for the server-side... or at least a `--yes` confirmat

[2018-06-08 19:47] PureWhiteWu commented on #4163
If you need 300 or more namespaces, then you must have 300 or more other services which all namespaces have. Tiller will only use a little memory, which is not  worth mentioning comparing with your other services.

[2018-06-08 19:48] bacongobbler commented on #4163
@roldancer the blog post @SlickNik linked to mentions how to do this, though it doesn't explicitly explain how to grant Tiller access to deploy to multiple namespaces. The blog post demonstrates how you can deploy Tiller to one namespace (`staging-tiller`) while managing resources in another namespace (`staging`), but you can add as many namespaces you wish Tiller can deploy to by granting multipl

[2018-06-08 20:01] bacongobbler commented on #4163
Here's an expanded example: deploying Tiller to `foo-system` with the ability to deploy resources in namespaces foo, bar, car and star:

[code]

Then, let's create the Roles and RoleBindings.

In `tiller-roles.yaml`:

[code]

[code]

In `tiller-rolebindings.yaml`:

[code]

[code]

Follow through the rest of https://docs.helm.sh/using_helm/#example-deploy-tiller-in-a-namespace-restricted-to-deployi

[2018-06-08 20:13] bjornmagnusson commented on #3614
/remove-lifecycle stale

[2018-06-08 20:13] bjornmagnusson commented on #3592
Fixed by #3903

[2018-06-08 20:14] bjornmagnusson commented on #3592
/close

[2018-06-08 20:14] #3592 closed

[2018-06-08 21:26] scotthew1 opened #4203 "disabled dependencies are installed when using client.UpdateRelease()"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

I'm trying to use the helm client package to manage some releases and i'm running into mysterious issues when upgrading. it seems that when i upgrade with the client package, i end up with disabled dependencies installed. the same packaged chart works just fine when using the cli to `helm upgrade`, but i run into issues when tr

[2018-06-09 08:57] roldancer commented on #4163
Hi @bacongobbler many thanks for that information !!!! if I follow your suggested role/binding strategy I would have something like this:

1) A tiller's service account with role tiller-manager with complete access to these namespaces:
     - bar
     - car
     - star

2) I have the following namespaces owners/admin
     - User A has a "Admin" role for namespace "bar"
     - User B has a "Admin"

[2018-06-09 13:13] cchung100m commented on #4174
Hi @nmiculinic, @sah4ez,

it seems like a bug from Kubernetes 1.9 API update and that would lead to naming conflict on the template. This error would still affect helm version 2.9.0 and 2.9.1 currently. #3134

I'd recommend you to try to change the helm version 2.8.2 which may be a workaround.

Hope that helps!

Regards,

[2018-06-09 22:59] #3328 closed

[2018-06-10 11:37] aelbarkani commented on #3734
I have a similar problem. It seems like the values of the 2nd level subchart are not taken into account by helm for rendering.

/kind bug

[2018-06-10 18:31] abobwhite commented on #3275
@bacongobbler

I am seeing this too when trying to deploy a new Ingress in my helm chart. I am admittedly new to Ingress but it seems like it's correct based on all the examples and I've been doing other helm/k8s stuff for a couple months.

I already deployed the helm chart `stable/nginx-ingress` so the controller is present. The error seems to suggest it's trying to find the one I'm trying to cre

[2018-06-10 20:33] olemarkus commented on #2507
/remove-lifecycle rotten

[2018-06-11 05:35] walthhy opened #4204 "pre-install desn't work on 3rdpart resource"
Output of `helm version`:
` helm version
Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}`
Output of `kubectl version`:
`kubectl version
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.7", GitC

[2018-06-11 06:33] markusdresch commented on #3104
https://github.com/Azure/AKS/issues/418

[2018-06-11 07:46] kundanatre commented on #3986
Still it is reproducible in 2.9.1
[code]
helm version

[code]

[2018-06-11 07:56] markusdresch commented on #3104
i managed to create a workaround by applying this yaml:

[code]

this way logs, exec and attach work and the api server doesn't expose any information. are there any drawbacks to this solution?

[2018-06-11 11:50] oivindoh commented on #3480
Still seeing this regularly on k8s 1.10.4 + helm 1.9.1

[2018-06-11 13:53] pslavova commented on #3275
Hi,
Here are the steps that introduced the issue in my env:
1. I had a helm chart deployed and upgraded several times.
2. Created new CronJob object in the chart and upgraded again - the cron job was created successfully.
3. All next upgrades are failing with the reported error "Error: UPGRADE FAILED: no CronJob with the name “cronjob-name” found"

[2018-06-11 15:23] AssafKatz3 opened #4205 "Structure output of helm lint"
I would use helm lint as part of our build pipeline and reject in case of errors. Currently "helm lint" doesn't allow structure output (JSON, YAML) so it is problematic to integrate it with other systems. We are using Jenkins and [SonarQube ](https://www.sonarqube.org/) so integrate this feature to them is best.

The general idea is adding support of -o yaml option and instead get:

[code]
The out

[2018-06-11 15:42] michelleN opened #4206 "Switching from CLA to DCO"
Helm is now part of CNCF. As part of the transition to CNCF, we have been asked to switch to adding [Developer Certificate of Origin (DCO)](https://developercertificate.org/) support. CNCF projects are now required to use DCO. We can also vote to drop the CLA but that is up to the maintainers.

The CNCF has found that the DCO process allows for a lower barrier to entry when it comes to contributin

[2018-06-11 15:47] dankohn commented on #4206
Note that the maintainers of each CNCF project decide whether they want to
use the CLA or not. You can do CLA + DCO or just DCO. I recommend just DCO
because it's less friction for new contributors, but it's up to you.

--
Dan Kohn <dan@linuxfoundation.org>
Executive Director, Cloud Native Computing Foundation https://www.cncf.io
+1-415-233-1000 https://www.dankohn.com

On Mon, Jun 11, 2018 at 11:

[2018-06-11 15:53] michelleN commented on #4206
Thanks Dan. I updated the original comment with that info as well.

[2018-06-11 16:20] bacongobbler commented on #2507
Closed via #1929; the canary images should now have helm inside the image, ready for use. You'll have to override the entrypoint using the --entrypoint flag, but it's there. :)

[2018-06-11 16:20] #2507 closed

[2018-06-11 16:21] #3657 closed

[2018-06-11 16:30] bacongobbler commented on #4206
I LOVE the idea of switching to a DCO, but would this particular requirement make it too high of a barrier to contribute to Helm? I spent weeks figuring out how to properly sign my commits. I would not want to put that burden on every new contributor. :(

[2018-06-11 16:33] bacongobbler commented on #4206
According to https://github.com/integration/dco, the commit just needs a "Signed-off-by" signature in their commit which can be injected using the -x flag IIRC. If that's the process then I'm OK with that :)

[2018-06-11 16:34] bacongobbler commented on #4206
Oh wait, I'm conflating two flags:

- --sign is for "Signed-off-by"
- --gpg-sign is for signing your commits with a gpg signature

If it's the former then that sounds good to me!

[2018-06-11 16:36] dankohn commented on #4206
I think of it as `git commit -sam` instead of `git commit -am`. So, yes,
it's the former.

--
Dan Kohn <dan@linuxfoundation.org>
Executive Director, Cloud Native Computing Foundation https://www.cncf.io
+1-415-233-1000 https://www.dankohn.com

On Mon, Jun 11, 2018 at 12:35 PM, Matthew Fisher <notifications@github.com>
wrote:

[2018-06-11 19:44] bacongobbler commented on #4205
Some similar work, but for another project (pylint): https://pylint.readthedocs.io/en/latest/user_guide/output.html

[2018-06-11 22:02] bacongobbler commented on #3575
closing as answered

[2018-06-11 22:02] #3575 closed

[2018-06-11 22:04] #4174 closed

[2018-06-11 22:29] bacongobbler commented on #2916
fixed in #4165

[2018-06-11 22:39] bacongobbler commented on #2269
/remove-lifecycle rotten
/lifecycle frozen

[2018-06-11 22:45] #2848 closed

[2018-06-11 23:06] #4086 closed

[2018-06-11 23:36] ramyala commented on #3275
I'm also seeing the issue when i add a Secret which didnt' exist earlier. I tried adding a "db-credentials"
secret which led to:
[code]

[2018-06-11 23:39] bacongobbler commented on #3275
potentially relevant fix: #4146

if anyone running into this error could test that PR and see if it fixes this, then we'd be able to confirm that it's likely a regression in the k8s API and move forward with that fix. Thanks!

[2018-06-11 23:43] jdotjdot commented on #3275
I can't 100% confirm if this will always reproduce, but I've noticed this tends to happen in the following situation:

1. I upgrade a Helm chart, including a new resource
2. That upgrade fails, but the resource was created as part of the failed upgrade
3. All subsequent upgrades fail

If I do a `helm rollback` to the last succeeded deploy and then try re-upgrading, it does seem to work.

[2018-06-12 00:12] #4047 closed

[2018-06-12 01:28] bacongobbler commented on #1534
Implemented via #3923. Any other top-level commands where --format makes sense should open a new ticket. Thanks!

[2018-06-12 01:28] #1534 closed

[2018-06-12 15:02] #3423 closed

[2018-06-12 15:11] manojRy opened #4209 "Crash Loop Back-Off with stable/wordpress, stable/mongo .."
Hello,
I am using minishift and trying to deploy images using helm charts. So far i have tested with 3 helm charts on minishift
1) helm install stable/mysql
2) helm install stable/mongodb
3) helm install stable/wordpress

Neither of them ran successfully, they ended up being in a Crash Loop Back-Off stage.
my helm version is
`Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c586846691

[2018-06-12 15:20] bacongobbler commented on #4209
Hey @manojRy, since this looks like an actual issue with the charts themselves, we ask users to report these issues directly to the community charts repo instead of Helm. That way the maintainers of those charts only have to triage one issue queue rather than two. Please re-open this ticket over at https://github.com/kubernetes/charts. Thanks!

[2018-06-12 15:20] #4209 closed

[2018-06-12 16:12] walthhy commented on #4204
any update?

[2018-06-12 16:16] omkensey commented on #4133
I have this issue filed recently as well: #4077

[2018-06-12 16:58] #4120 closed

[2018-06-12 17:06] bacongobbler commented on #4133
thansk for pointing that out @omkensey :) was having a hard time finding the duplicate. closing this as a duplicate of #4077

[2018-06-12 17:06] #4133 closed

[2018-06-12 17:07] bacongobbler commented on #4102
@omkensey already noted this in #4077 so I'm going to close this as a duplicate issue of #4077 so we can all work off one ticket. Thanks @mattfarina!

[2018-06-12 17:07] #4102 closed

[2018-06-12 17:17] bgehman opened #4210 "Install `--wait` should actually wait for extension/v1beta1 Deployments/PODs to be ready"
The helm CLI has `--wait` argument for install:
[code]

As can be seen with testing, it only "waits" on `Jobs`.  `PODs` are not waited on to be "in a ready state" per the CLI docs.  Helm is acting like a "fire and forget" -- it will not wait for the Deployment created PODs to become ready (per their readiness probes).

The published documentation seems to contradict the helm CLI usage-help, and do

[2018-06-12 18:49] unguiculus commented on #4100
I'd suggest considering [Antora](https://antora.org/).

* Uses Asciidoc which is much better than Markdown
* Can aggregate documentation from multiple repositories
* Supports versioned documentation

We use it in my current project and aggregate docs across multiple repos. Works nicely.

Antora's own docs are created with Antora itself: https://docs.antora.org/

[2018-06-12 19:47] bacongobbler commented on #2520
@moritzheiber kops bootstraps a cluster with role based access controls enabled. You'll need to follow https://docs.helm.sh/using_helm/#role-based-access-control to configure Tiller with the right roles and rolebindings to work with kops clusters.

[2018-06-12 21:26] Stono opened #4211 "Changing the namespace of a resource results in multiple resources"
Hey,
Helm 2.9.1

If you have a resource with:

[code]

And you change that to:
[code]

you'll end up with a resource in both namespaces, rather than the former being deleted.

[2018-06-12 23:33] sourabh3b commented on #4171
@dberuben Did you find the solution to this problem ?

[2018-06-12 23:40] Sprinkle commented on #4019
Same problem on 2.9.1

[2018-06-13 06:22] hiscal2015 commented on #3584
/remove-lifecycle stale

[2018-06-13 06:27] dragon9783 commented on #4174
@cchung100m same issue with helm version 2.8.2
[code]
[code]

[2018-06-13 06:28] dragon9783 commented on #4174
I see, because my charts template have some YAML parse error, after fixed , it work well

[2018-06-13 06:41] #3960 closed

[2018-06-13 08:34] roobert commented on #3986
@kundantre: you will still have this issue if you upgraded from 2.9.0 to 2.9.1, try removing tiller from the cluster first.

[2018-06-13 09:05] sminodonte commented on #2295
same problem, tiller is always pending

[2018-06-13 09:15] ljakimczuk commented on #3275
It seems very easy to reproduce it manually, without intentionally trying to upgrade a chart with harmful changes (for example, modifying an immutable Job objects):

1. Take some chart and deploy it (but omit one resource, let's say a Service)
2. Add omitted resource manually (for example, with "kubectl create"), but with the name corresponding to the release
3. Add the omitted resource back to th

[2018-06-13 10:41] kundanatre commented on #3986
@roobert  Thanks, I have not upgraded tiller or helm; this is what I'm getting it via jx install.
Also i have deleted tiller multiple times.

[2018-06-13 11:32] jstriebel commented on #1193
We are hitting this one, too. It's the same issue that @krishicks and @jaredallard mention:

1. We have a failed deployment:
  `UPGRADE FAILED: the server was unable to return a response in the time allotted, but may still be processing the request (get configmaps)`
2. Any subsequent changes, also to other releases, fail with a warning like
  `Error: UPGRADE FAILED: no Service with the name "…" fo

[2018-06-13 12:16] kiurchv commented on #3149
/remove-lifecycle rotten

[2018-06-13 13:54] bacongobbler commented on #3986
If you are still hitting this error on 2.9.1, it is very likely that RBAC is involved and you'll need to follow https://docs.helm.sh/using_helm/#role-based-access-control to fix that

[2018-06-13 13:57] bacongobbler commented on #2295
Check `kubectl -n kube-system describe pod <tiller pod name>`?

[2018-06-13 14:06] gsemet commented on #3932
Any news? Thanks

[2018-06-13 14:32] carmat88 commented on #4080
Hello Folks! I am taking the liberty to join the thread for I was about to open a new issue, but found this one first.

We have been experiencing a similar glitch, with the command `helm upgrade` with `--install` flag though. So the attempt was the following:

`helm upgrade --install --namespace logmon --values ~/.kubernetes-yaml/logmon/prometheus-helm-values.yaml --version "v2.2.1" "prometheus" s

[2018-06-13 14:40] KIVagant commented on #4205
Voting for this. I need to ignore "is not a valid SemVer" error but not others and now it doesn't look simply.

[2018-06-13 14:53] bacongobbler commented on #4205
@KIVagant that might be a different use case, e.g. https://github.com/kubernetes/helm/issues/2694

[2018-06-13 15:21] slezica commented on #3208
I've read through the discussions, but I'm still not clear on how to have an idempotent `upgrade --install` command (or sequence of commands) to use in automated scripts.

With the current stable version, how can I achieve this in an automated script? I need to be able to deploy non-interactively without using `delete --purge`.

As for future plans, this is the behavior I originally expected from

[2018-06-13 15:42] tweibley commented on #4044
For the future good "TILLER_RELEASE_MAX" is not the right environment variable. It's actually "TILLER_HISTORY_MAX". This can be set by passing the desired count to helm init via --history-max. (Or you can edit the existing tiller deployment and adjust.) cc @sta-szek

[2018-06-13 15:48] flynnduism opened #4212 "helm on MacOS with minikube will not connect"
**Porting over an issue posted on `helm/helm-www` here so it's seen in the correct place.**
See [https://github.com/helm/helm-www/issues/101](https://github.com/helm/helm-www/issues/101), posted by [https://github.com/quantum-fusion](https://github.com/quantum-fusion)

---

The problem is that I am running minikube on MacOS, and want to expose the ip address and port for running this example helm

[2018-06-13 16:52] KIVagant commented on #4205
Yeah, but this one is could be really useful for many cases include this one.

[2018-06-13 16:53] t00f commented on #3663
Hi guys,

Please allow me to follow up on this subject.

Let me try to be more specific with the example of the `create` command as it is very simple.

My suggestion consists of exposing a package named `helmlib` that could be imported in any other external golang code.

### Current Status
In the current state, the command is doing some logic in a `run` method that is private. Sometimes,
it handle

[2018-06-13 16:54] HT154 opened #4213 "Add support for rendering objects to TOML strings via template functions"
I have an operator that expects TOML-serialized content of a Secret object. I'd like to be able to use Helm to perform this configuration by translating YAML values into the TOML string (and then base64 encoding it), but currently, I must have a second pass with a custom tool to translate the YAML->TOML and pass it to Helm.

It would be neat to generalize this and extend Helm's plugin interface to

[2018-06-13 16:57] KIVagant commented on #4205
And `-o json` would be great to have.

[2018-06-13 16:59] t00f commented on #3663
Found the following statement in [helm v3](https://github.com/kubernetes-helm/community/blob/master/helm-v3/000-helm-v3.md#the-basic-architecture) proposal:

[2018-06-13 19:37] nippip opened #4214 "helm install Error: Looks like install/kubernetes/helm/istio is not a valid chart repository"
I am unable to pull charts from the latest istio chart repo.  I tried to add the repo but that also failed per results below stating that **index.yaml Not Found**
Any workaround would be appreciated.

==> helm install istio/install/kubernetes/helm/istio --name istio --namespace istio-system
Error: failed to download "istio/install/kubernetes/helm/istio" (hint: running `helm repo update` may help)

[2018-06-13 19:49] bacongobbler commented on #4214
it doesn't look like it's configured to be added as a repository. Are you following the instructions laid out in https://preliminary.istio.io/docs/setup/kubernetes/helm-install.html?

[2018-06-13 20:07] nippip commented on #4214
Thanks BaconGobbler.  Solved by installing istio locally.

[2018-06-13 20:07] #4214 closed

[2018-06-13 21:15] lucidNTR opened #4215 "helm not warning before adding large files to deployment and failing in inconsistent state"
When the chart directory contains obvious temp or dev/test files such as the helm binary itself or binary files that are obviously larger than the allowed depl config map. helm starts deploying without a warning and then crashes deployment with the error failed to create: ConfigMap "SOME_NAME.v1" is invalid: []: Too long: must have at most 1048576 characters
this warning is not printed by the helm

[2018-06-13 21:18] bacongobbler commented on #4215
marking as a feature

[2018-06-13 22:29] ramyala commented on #3275
@bacongobbler I tried the fix from #4146 but that didn't help. This has been a fairly consistent issue with helm upgrades and been a blocker for some time. Were you able to repro this issue?

[2018-06-13 22:50] ramyala commented on #3275
@bacongobbler I tested #4146 with a custom tiller image and it did fix this issue! For others who are looking for a solution, you can apply the patch in the issue on current master and compile:

`make bootstrap build docker-build`

You will have to upload the tiller image to your repo and reinstall tiller to your cluster. I was able to get away with a force reset and re-install without destroying

[2018-06-13 23:02] jicowan opened #4216 "Helm doesn't work unless run under sudo"
When I execute `helm init --client-only` on OSX it says:

[code]

But it does not create the .helm directory or any of the directories underneath.  The only way I was able to get this to work is by running helm init under sudo.

Similarly, when I run `helm repo update` I get the following error:

[code]
However when I run it under sudo I get this:
[code]

Any ideas what could be wrong.  I have tri

[2018-06-13 23:18] bacongobbler commented on #4216
Any idea how there's a colon any time your home directory is mentioned? :)

e.g.

[code]

Can you run `echo $HOME` and check the output?

[2018-06-13 23:19] bacongobbler commented on #3275
thank you @ramyala for testing the fix!

[2018-06-14 00:34] jicowan commented on #4216
Had an wayward : in my .zshrc file.

[2018-06-14 00:34] #4216 closed

[2018-06-14 01:01] ghost opened #4217 "Best practices surrounding canary deployments with service meshes like Istio"
With a service mesh like Istio we can perform canary deployments by having multiple releases of an application deployed at a time with different labels.

What's the best practice for getting this type of functionality when the application is deployed as a helm chart? Is there any documentation around this?

My original idea is to deploy multiple releases of a chart with the label `release: {{ .Rel

[2018-06-14 09:36] ensonic opened #4218 "rbac documentation for tiler in kube-system won't work"
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.): GKE

follow:
https://github.com/kubernetes/helm/blob/master/docs/rbac.md#example-service-account-with-cluster-admin-role
and
https://github.com/kubernetes/helm/blob/master/docs/rbac.md#example-deploy-helm-in-a-namespace-talking-to-tiller-in-another-namespace
where `helm client` i

[2018-06-14 09:38] sta-szek commented on #4044
@tweibley thanks!

[2018-06-14 09:48] ensonic commented on #4218
When adding:
[code]
to the tiller-user RoleBinding it starts. There are more issues though, but they see to be on the tiller side.

[2018-06-14 10:55] djsd123 commented on #4039
`--reuse-values` has never really worked for me.  It makes me wonder whether I really understand it's use???

Someone, please correct me if I am wrong.
`rawVals` is a string slice and I assume it holds all the keyPairs applied with `--set` or `-f`.  Somehow, these aren't being passed to the `UpdateRelease` function or they are????? https://github.com/kubernetes/helm/blob/374a320d0f15c22b736c2d9cd6

[2018-06-14 11:33] ensonic commented on #4218
If you are suggesting to run the helm client under a service account (!= default) won't you need a policy for accessing the 'default' namespace too. I changed the tiller-user Role to be a ClusterRole and tiller-user-binding to a ClusterRoleBinding and now it looks good.

[2018-06-14 13:29] dberuben commented on #4171
Not really ! i removed my custom network for nodes and then it works ...

[2018-06-14 13:30] CharlieKuharski commented on #3055
This worked for me as I tried to helm install redis:
kubectl create serviceaccount --namespace kube-system tiller
kubectl create clusterrolebinding tiller-cluster-rule --clusterrole=cluster-admin --serviceaccount=kube-system:tiller
helm init --service-account tiller --upgrade
helm update repo .   # This was the last piece to the puzzle
helm install stable/redis --version 3.3.5

[2018-06-14 13:57] shikhasriva opened #4219 "address vulnerabilities exposed with secrets in values.yaml"
Helm charts may  define secrets in values.yaml in plain text. This can lead to anyone getting access to secrets in plain text

[2018-06-14 13:58] shikhasriva opened #4220 "Address rbac for chart deployments"

[2018-06-14 14:10] hugohenley commented on #3500
We're facing the same issue here:
`helm list  0.24s user 0.16s system 0% cpu 48.597 total`

The cluster has 2027 revisions considering all the charts. Would be possible to keep only the last 10 revisions or something like that?

[2018-06-14 14:39] helgifeiti commented on #1193
This is happening for me with v2.7.2 when adding new resources to the chart.
Is there any estimate on when a fix will be in for this?

[2018-06-14 15:28] bacongobbler commented on #4220
Hey, would you mind elaborating more on what's required to close out this ticket?

[2018-06-14 15:30] bacongobbler commented on #1193
This should be fixed with #4146.

[2018-06-14 16:04] bacongobbler commented on #4219
Does this help? https://docs.helm.sh/chart_template_guide/#configmap-and-secrets-utility-functions

[2018-06-14 16:33] bacongobbler commented on #4194
@bjamet can you use `--set-string` for the time being? Thanks for bringing up the potential fix; I'll see if I have time to test that out today.

[2018-06-14 16:38] bjamet commented on #4194
Hello
Unfortunately I can't. I'm using helm in a process where the yaml file used for the values is generated. So I had to use the the file as input values, and not --set-string.
But the problem is not that urgent for me, I just create a dummy git commit as workaround... but It can append again.

[2018-06-14 17:45] DazWilkin opened #4222 "Confusing command naming|pairing: `helm create` & `helm install|delete`"
As a noob, I must resort to reviewing helm's commands because `create`, `install` and `delete` seem inconsistently named:

`helm create`: Creates a helm [chart] directory with template files and directories
`helm install`: Deploys (!) a helm [chart] to a Kubernetes cluster [creating a release?]
`helm delete`: Uninstalls (!) a helm release

Recommend:
Reflecting `kubectl` (and other CLIs') use of `

[2018-06-14 19:39] bacongobbler commented on #3275
So I found a few bugs with #4146 that makes it an undesirable PR to move forward with. I reported my findings between master, #4146, and #4223 here: https://github.com/kubernetes/helm/pull/4223#issuecomment-397413568

I've managed to identify the underlying bug that causes this particular error, and go through the different scenarios and edge cases with each of the proposed PRs. If anyone else cou

[2018-06-14 19:40] bacongobbler commented on #1193
So I found a few bugs with #4146 that makes it an undesirable PR to move forward with. I reported my findings between master, #4146, and #4223 here: https://github.com/kubernetes/helm/pull/4223#issuecomment-397413568

I've managed to identify the underlying bug that causes this particular error, and go through the different scenarios and edge cases with each of the proposed PRs. If anyone else cou

[2018-06-14 19:54] bacongobbler commented on #3275
Oh, and something I failed to mention: because the cluster's in an inconsistent state, this can easily be worked around by manually intervening and deleting the resource that the error reports as "not found". Following the example I demonstrated in https://github.com/kubernetes/helm/pull/4223#issuecomment-397413568:

[code]

[2018-06-14 19:54] bacongobbler commented on #1193
Oh, and something I failed to mention: because the cluster's in an inconsistent state, this can easily be worked around by manually intervening and deleting the resource that the error reports as "not found". Following the example I demonstrated in https://github.com/kubernetes/helm/pull/4223#issuecomment-397413568:

[code]

[2018-06-14 19:56] bacongobbler commented on #3275
In the interest of keeping things all together, I'm going to close this as a duplicate of #1193 since the two tickets are identical. Please report any findings there so we can all work off a single ticket. Thanks!

[2018-06-14 19:56] #3275 closed

[2018-06-14 20:43] jaredallard commented on #1193
@bacongobbler That doesn't always work. We've had situations where deleting it does work and some where it still doesn't work after doing that.

[2018-06-14 20:52] scotthew1 commented on #4203
follow up on this one. `UpdateRelease()` will not function as expected unless you `UpdateValueOverrides()` with an empty option. this happens naturally via the CLI as the `rawVals` will be an empty object if no relevant flags are specified, however it makes the client method unintuitive.

this works
[code]
this does not
[code]

[2018-06-14 23:29] quantum-fusion commented on #4212
@bacongobbler I was hoping to use helm install for the example-spring-boot as a potential workaround for https://github.com/Azure/draft/issues/804

For the example-spring-boot project included in 804, I suggest.
helm install --name example ./mycharts --set service.type=NodePort

The only problem is that the basic helm example doesn't expose the ip address and port correctly, so I am seeking help w

[2018-06-14 23:58] nerikle commented on #3055
Same here,
kube client: v1.10.4
kube server: v1.9.6
helm client/erver v2.9.1

[code]

Just ran this line and worked, thanks for post it! : `kubectl create clusterrolebinding tiller-cluster-rule --clusterrole=cluster-admin --serviceaccount=kube-system:tiller`

[code]

[2018-06-15 00:59] #3346 closed

[2018-06-15 04:09] ES-zxy opened #4225 "Helm release does not match k8s resource data when the upgrade fails."
Output of `helm version:
Client:&version.Version{SemVer:"v2.7.2+unreleased",GitCommit:"0f3b87029bceaa286372f460031917bd28cff105", GitTreeState:"clean"}
Server:&version.Version{SemVer:"v2.7.2+unreleased",GitCommit:"0f3b87029bceaa286372f460031917bd28cff105", GitTreeState:"clean"}`:

Output of `kubectl version`:
`Client Version: version.Info{Major:"1", Minor:"9+", GitVersion:"v1.9.2-1+02008b8d90e83b"

[2018-06-15 05:04] Pallav-Reactiveworks opened #4226 "what is proper way to use sceret and configmap with helm in production?"
what is proper way to use sceret and configmap with helm in production?
suggest different methods also.

[2018-06-15 05:08] sourabh3b commented on #4171
Ok great, For me the issue was with Azure Proxy Pod ( PS: using AKS for k8s service).

[2018-06-15 07:58] PureWhiteWu opened #4227 "Proposal: sub-chart should have independent lifecycle from parent-chart"
Firstly, sorry for my poor English.
I think sub-chart should have independent lifecycle from parent-chart, since many apps require sub-chart shuold be running before the parent-chart started to run.
At least I think we should give users an option to set if to deploy charts parallelly or not.
And I think maybe we can do this in Helm 3?

[2018-06-15 09:08] zuzzas commented on #1193
@bacongobbler Please, understand that this resource might be a production namespace's Service object, which might (and already did) heavily disrupt our service guarantees.

[2018-06-15 09:58] longfei-zhang commented on #2149
What's the recommended way of updating StatefulSets managed by Helm with changes beyond containers and replicas?

[2018-06-15 11:18] kbaegis commented on #3384
+1

[2018-06-15 11:43] bacongobbler commented on #1193
Yes I know. I'm just explaining the bug's behaviour and how to work around it.

[2018-06-15 13:39] EddFigueiredo commented on #2025
I'm having all kinds of timeout, both on tiller and on install (transport is closing as well), using helm 2.9.0. It's really annoying, there's azure LB involved, but I already set the idle timeout to 10 minutes.

Even using `--wait --timeout 600` and `--tiller-connection-timeout 600` doesn't seem to fix the problem.

[2018-06-15 14:10] dberuben commented on #4171
Oh same for me (aks) ! how did you solved the issue ?

[2018-06-15 14:23] gianrubio commented on #2507
@bacongobbler the issue was related to push the image to docker hub so it's shouldn't be closed

[2018-06-15 15:40] arbourd commented on #2507
No logical reason. Just very lazy. 😂

[2018-06-15 15:46] tegataiprime opened #4228 "Get https://kubernetes-charts.storage.googleapis.com/index.yaml: x509: certificate signed by unknown authority"
I am seeing the following error when configuring helm with the curated repo.
[code]
I am able to download this file using curl and then I get the same error using `helm repo update`.

I've been looking around the electric inter-webs and I see this issue has been coming & going.  Is there a viable workaround for this issue?

More Information;
macOS 10.13.5
docker 18.03.1-ce-mac65
go 1.10.3

Output

[2018-06-15 18:35] gdmello commented on #3920
I've run into this issue as well. In my case, trying to set the hostname of an ingress created in a subchart, based on a value in the parent chart.

I tried to define the ingress in a template with the same name in both the parent and subchart, since the `Umbrella` (parent) named template get's precedence over the subchart named template, but ran into the issue @thomas-riccardi mentioned above ->

[2018-06-15 20:54] sourabh3b commented on #4171
So it turned out that there's a bug in Azure proxy pod. It gives i/o timeout. To increased the time out on the proxy. configmap of azure proxy needs to be modified. Followed instructions [here](https://github.com/Azure/AKS/issues/408) and it worked fine.

[2018-06-15 21:46] dkushner commented on #1780
Also currently having this issue trying to deploy a custom chart that depends on a stable/postgresql installation being present before installation. My application first runs a migration Job (using lifecycle pre-install annotations), and then completes my deployment. The migration Job is set to wait for the database to become responsive before executing. The stable/postgresql chart provides extens

[2018-06-15 22:11] ramyala commented on #2464
@bacongobbler  Can we reopen this issue. If your serviceaccount has automountServiceAccountToken=false, v2.9.1 will fail with continue to fail. The pod configuration for tiller-deploy should allow serviceaccount mounts by explicitly specifying automountServiceAccountToken:true.

[2018-06-15 23:20] #3341 closed

[2018-06-15 23:36] derekbassett commented on #3587
If I have a chart with the value file listed as the value as false this charts are still enabled.

So requirements.yaml I have

[code]

In my values.yaml file I have

[code]

It appears to work in the latest helm 2.9 but does not appear to work in helm 2.8.

[2018-06-16 00:53] ramyala commented on #2464
I sent out a PR which fixes this issue and am able to get terraform service_accounts to work with helm.

PTAL @ #4229

[2018-06-16 06:59] jstrachan opened #4230 "helm3 regression in `helm dependency build`"
In Jenkins X we've been putting things in place so users can use a feature flag to use helm 2.x or 3.x. We've got things working fine for doing releases with helm3; but it seems composite charts with dependencies have issues.

I seem to have found a regression where for the exact same project, using the helm 2.x binary I get:
[code]
but if I try the same folder + chart immediately after with helm3

[2018-06-16 14:37] nick4fake commented on #2399
Forking every helm chart to add tolerations is a nightmare. Are there any workarounds?

[2018-06-16 15:30] munnerz commented on #3503
+1 to this. I want to use a ValidatingWebhookConfiguration and need to exclude validation on the namespace the release is deployed into for bootstrapping purposes.

The namespaceSelector only supports selecting based on labels, so I need to somehow label the release namespace.

[2018-06-16 15:56] sstarcher commented on #2347
I don't believe this has been resolved yet. Looks like #4221 would address this

[2018-06-16 17:05] munnerz commented on #4178
Possible dupe of #3503?

[2018-06-17 10:26] varunpalekar opened #4233 "Helm upgrade getting PodTemplateSpec for the json field "annotations""
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): minikube

When I run helm upgrade with update in some metadata labels for deployment I get following error:

[code]

After having a look in detail I am using following deployment.yaml

[code]

Output deployment.yaml becomes

[code]

**Issues**:
1. Not able to run helm upgrade w

[2018-06-17 13:29] AndrewDryga commented on #3701
Same here

[2018-06-17 13:37] moshe0076 commented on #3121
I noticed that if you delete the tiller pod the memory is released.

[2018-06-17 14:22] richard2006 opened #4234 "Helm delete the 'statefulset' waiting for too long time"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

Using the chart `incubator/etcd`

Command:
```helm delete etcd-9e4907e41e654120bdd3ed7b88247aba```

Outputs:

[code]

Problem:
We can see that `Using reaper for deleting` cost about 28s(before `executing 0 post-delete`).  I hope after delete the release, it can return the resu

[2018-06-17 19:36] domderen commented on #4051
I'm getting the same error with helm `v2.9.1`. I followed the steps described here: https://docs.helm.sh/using_helm/#using-ssl-between-helm-and-tiller to setup TLS cert verification.

[2018-06-17 22:02] rchakra3 commented on #2219
First time contributor - can I pick this up?

[2018-06-17 22:19] varunpalekar commented on #4233
When I use helm template to get deployment.yaml output, then on first run it gives following error:
[code]

But if I run `--validate=false` then nothing happens
[code]

[2018-06-18 03:39] bacongobbler commented on #2219
Yep!

[2018-06-18 06:35] rchakra3 commented on #2219
I've got a PR up. I'd appreciate a review! :)

[2018-06-18 07:07] florianrusch opened #4236 "`Ctrl+C` at `helm upgrade --install --wait` doesn't remove the already deployed stuff"
Hi everybody,

I think I found a problem with `helm upgrade --install --wait`.

If you deploy a new release and see instantly after you run `helm upgrade --install --wait` that something is wrong, you don't want to wait for 300 seconds to get the response. I've tried to press `Ctrl + C` in the terminal, where the helm command was running. The process stopped, but the pods and everything that was a

[2018-06-18 08:37] varunpalekar commented on #4233
Problem with wrong annotation place

[2018-06-18 08:37] #4233 closed

[2018-06-18 09:40] remster opened #4237 "helm template stable/grafana"
Output of `helm version`:
Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.4", GitCommit:"5ca598b4ba5abb89bb77307

[2018-06-18 10:47] mmeliani opened #4238 "helm plugin update doesn't work"
Output of `helm version`:v2.8.2

Output of `kubectl version`: 1.9.7

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

helm plugin update scale
Error: Failed to update plugin scale, got error (cannot get information about plugin source)

i've already installed a plugin which name scale but when i want to update it i got this error above,

Any hints please how to solve this?  and where we should

[2018-06-18 12:16] florianrusch commented on #4236
Okay, I have to change this issue a little bit.

After the 5 minutes default timeout (300s) a release is appearing with status `failed`. (Failed because of a wrong image, so it's not a problem of helm)

Wouldn't it make more sense, when the release is the first thing which gets created? For example with the status deploying or so. And everything else will be deployed after that.

I don't know how

[2018-06-18 15:43] viglesiasce commented on #2399
@nick4fake You may want to look at using [Kustomize](https://github.com/kubernetes-sigs/kustomize) to do the "last-mile" modifications for things that dont exist in the charts but should be applied broadly in your setup. Kustomize allows you to add overlays on top of manifests. You could do something like:

[code]

[2018-06-18 16:38] bacongobbler commented on #2399
I would also refer to some of the existing proposals in Helm 3, in particular around extending existing charts and the event model changes:

https://github.com/kubernetes-helm/community/blob/master/helm-v3/001-charts.md
https://github.com/kubernetes-helm/community/blob/master/helm-v3/002-events.md

[2018-06-18 17:37] mattfarina commented on #4206
@dankohn I have a few CLA->DCO questions:

* Since the code has been contributed under the CLA what about the CLA allows us to change things to a DCO? Do we need any kind of sign-off from existing contributors for this switch to happen? I don't completely understand ownership, process, and who is empowered to do what. If you could clarify this is would help.
* If we switched to a DCO how would the

[2018-06-18 18:22] dankohn commented on #4206
See below.

--
Dan Kohn <dan@linuxfoundation.org>
Executive Director, Cloud Native Computing Foundation https://www.cncf.io
+1-415-233-1000 https://www.dankohn.com

On Mon, Jun 18, 2018 at 1:37 PM, Matt Farina <notifications@github.com>
wrote:

maintainers. The upside of requiring it is that some large companies
believe it provides more thorough protection than just having projects
contribute unde

[2018-06-18 21:44] ultimateboy commented on #4111
@krogon I started this work in the following: PR https://github.com/kubernetes/helm/pull/2907

I didnt get to the point where you could list releases by labels, so feel free to pick it up from where I left off! I would love to see this feature get in!

[2018-06-18 22:43] tahoward commented on #3616
Running into this issue as well running Rancher 2.0.2 on top of CoreOS. After deleting the default ingress-nginx namespace I launch traefik via helm stable then sit and watch the load balancer service sit in a pending state for eternity.

[2018-06-19 01:20] rchakra3 commented on #4063
Can I pick this up? Doesn't look like anyone is working on this currently

[2018-06-19 02:34] rlp2006 commented on #4234
When deleting, it calles the kubctl scale to 0, then checking `StatefulSetHasDesiredReplicas`. This causes the long time for deleting.  Is there a good way to avoid this?

[2018-06-19 07:29] dove-young commented on #3480
Found in K8S v1.10.0 and helm v2.7.3

[code]

[2018-06-19 08:24] maver1ck opened #4239 "Inconsistency when using delete / remove commands"
Different part of helm are using different verb for delete commands.

Sample:
helm delete chart
helm plugin remove plugin

Can we fix that ? Or add aliases to both delete / remove words ?

[2018-06-19 08:40] maver1ck opened #4240 "Unable to upgrade helm plugin"
I forked helm-diff plugin and trying to upgrade it gives following error.

[code]

Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
AWS

[2018-06-19 08:40] Dean-Coakley commented on #4063
@rchakra3 yeah...I'm lacking the confidence to get to PR stage. Feel free to take this one.

Let me know if you do.

[2018-06-19 08:45] maver1ck commented on #4240
I think the problem lies here:
[code]
The folder name is helm-diff.git and then helm is looking for this directory
[code]

[2018-06-19 08:56] maver1ck commented on #4240
OK. Found the reason of this problem.
PR is ready.

[2018-06-19 08:57] rustycl0ck commented on #3708
/close

[2018-06-19 08:57] #3708 closed

[2018-06-19 15:09] rchakra3 commented on #4063
@Dean-Coakley thanks for the update!
I'll take a stab at this over the next few days

[2018-06-19 15:13] #3351 closed

[2018-06-19 17:43] schollii opened #4242 "Can't run a local repo with "helm serve""
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
none

I run the following from one Ubuntu Linux shell:
[code]
Note the local-charts folder has this:
[code]
I run this from another shell (same machine):
[code]
What am I doing wrong?

[2018-06-19 17:49] schollii opened #4243 "Local repo from folder"
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
none

I would like to be able to use a local folder as a repo, without serving it. Installing from a local folder works, e.g. `helm install folder/package-x.y.z.tgz`. But the following fails: `helm search folder/package --version x.y.z`.

There should be a way to tell helm search

[2018-06-19 18:14] bacongobbler commented on #4242
did you run `helm repo update`? Without running `helm repo update`, the local indices in ~/.helm have not been updated which is what `helm search` requires to search.

[2018-06-19 18:17] roychri commented on #4242
Don't you need to add the repo?

[code]

[2018-06-19 18:19] bacongobbler commented on #4242
`local` is added by default on `helm init`, so there's no need to add an extra.

[code]

[2018-06-19 18:21] roychri commented on #4242
I think the OP might be refering to `local/chart` in a broader sense, meaning from his local repo (not the local cache). If that's what he mean, then I think he needs to add it and give it a name.

[2018-06-19 18:54] pv93 commented on #3134
This is broken for us:
[code]

Looks like it only happens when we use --reuse-values as well

[2018-06-19 19:42] okashino opened #4244 "Proposal: Extract sub-chart as a separate release without downtime"
We would like to be able to extract a sub-chart as a separate release without incurring any downtime due to deleting K8s resources.
For example, we have an umbrella chart A that has a sub-chart B. We wanted to extract chart B as a separate release to simplify our CI/CD pipeline. However, in order to do that, we would have to delete chart B from chart A's charts directory which would result in dele

[2018-06-19 22:55] DazWilkin opened #4245 "[docs.helm.sh] "related" link broken on "The Helms Plugin Guide" page"
Reference to '[related](https://github.com/kubernetes/helm/blob/master/docs/related.md#helm-plugins)' works from the GitHub [page](https://github.com/kubernetes/helm/blob/master/docs/plugins.md) but not from '[related](https://docs.helm.sh/using_helm/related.md#helm-plugins)' on the companion helm.sh [page](https://docs.helm.sh/using_helm/#the-helm-plugins-guide)

[2018-06-19 23:17] schollii commented on #4242
Repo update always prints out that it skips the local one =:|

I looked into Christian's idea of defining a repo pointing to 127.0.0.1...
Although this seems to work, there is still something fishy going on
because if I do "helm repo list", I can see a "local" one which points
to 127.0.0.1, but there doesnt seem to be a way of accessing it via serve
except by manually defining a repo pointing to s

[2018-06-19 23:28] tristanpemble commented on #2478
/reopen

[2018-06-19 23:40] rogaha commented on #2196
+1

[2018-06-20 04:18] gmile commented on #2060
It appears that this very feature request can be fulfilled by [helmfile](https://github.com/roboll/helmfile). From what is in the readme, it should be possible to specify different releases scoped to namespaces of their own.

[2018-06-20 05:30] swathimocharla opened #4246 "helm delete in a sequence"
hi, i have a helm chart where i install zookeeper and kafka. zookeeper is a dependency in this kafka chart that is defined as part of the requirements.yaml.
installing this helm chart is all fine and the pods come up fine. But, delete of this chart is the one that is of concern.
zookeeper is terminated first and then all the kafka pods go into CrashLoopBackOff state as they cant find the zookeeper

[2018-06-20 11:18] verwilst commented on #3053
I would like to use randAlphaNum to generate an APP_KEY for my Laravel app. This cannot be regenerated on every helm upgrade, since changing APP_KEY invalidates all Hash::make()'ed passwords for example.

[2018-06-20 11:28] danielcb opened #4247 "New release"
Hi,
can anyone tell me when the next releases is due? We're waiting for a release containing the fix in #3984.

[2018-06-20 14:50] atopuzov commented on #3377
I would also like to see this implemented.
/remove-lifecycle rotten

[2018-06-20 15:25] helgi commented on #4210
@bacongobbler I remember back in Deis (v2 anyway) we did put in a lot more structure and "intelligence" (I'm kinda cringing thinking back at some of the code) to define proper ready (healthcheck, etc) and also pull out errors (pull secrets missing, etc).

Can we lift that code and move it into helm? It was working against the API direct, and now with more advances in how Kubernetes ties things tog

[2018-06-20 16:20] bacongobbler commented on #4210
Yes, that could be a good solution assuming those assumptions we made back when deployments were in extensions/v1beta1 still run true. Before we go rip out existing code though, let's try to reproduce the error :smile:

I found I could reproduce this bug IFF the Deployment apiVersion is `extensions/v1beta1`. When I switch the apiVersion to `apps/v1` the watcher waits for the pods to come up succes

[2018-06-20 16:22] bacongobbler commented on #4210
also updated the title to reflect the bug that this only affects Deployments using apiVersions prior to apps/v1.

[2018-06-20 16:31] zhucebuliaolongchuan opened #4248 "Would not delete the statefulset when trying to delete a release?"
when trying to delete a release, you actually could not delete the statefulsets. But the relevant statefulsets are not available once we delete the release.

Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
`Minikube`

[2018-06-20 16:46] helgi commented on #4210
Oh so the stable version may have finally removed that need! Great. Then it might be more work to fix it up then for people to migrate to stable?

[2018-06-20 17:24] tegataiprime commented on #4228
Ready to close.  Discovered that our corporate IT department had auto-magically installed the Netskope umberella agent on our Macs and it was re-writing the signing authority in the certificate chain.  Have disabled it and all is now well.

[2018-06-20 17:24] #4228 closed

[2018-06-20 17:43] todaywasawesome commented on #1558
This is still a real issue that should be resolved. For anyone looking for a workaround, I'm adding letters to any character. In my use case, instead of referencing images based on their commit SHA, I'm adding their branch name. So instead of `5937127` I do `master-5937127`

[2018-06-20 20:05] bacongobbler commented on #3309
If anyone wants to implement this as a [helm plugin](https://docs.helm.sh/using_helm/#the-helm-plugins-guide), that would be the best first steps to implementing this. That way you don't need sign-off from the core maintainers, and if it becomes a useful side project we can consider rolling it into core. `helm template` is one example that went through this process, for example.

[2018-06-20 20:19] plokimju opened #4249 "Is there a way to manipulate(update) requirement.yaml file from command line"

[2018-06-20 20:21] bacongobbler commented on #4249
There's nothing out there for updating requirements.yaml through the CLI. Would you mind explaining a little bit about your use case, perhaps?

[2018-06-20 20:30] asherlporetz commented on #4125
It could be dual purpose. Use the generic chart as is (resulting in a clunky/verbose values.yaml) or make it the starting point for a new chart. The latter of course doesn't exist yet. It would be great if helm can have some basic inheritance. A specific service can inherit from a team chart and its `Chart.yaml` can look like this.
[code]

[2018-06-20 21:42] bacongobbler commented on #4125
FYI: https://github.com/kubernetes-helm/community/blob/master/helm-v3/001-charts.md#library-charts

[2018-06-20 21:48] bacongobbler commented on #4249
requirements.yaml accepts semantic version ranges. For example:

[code]

The next time you run `helm dependency update`, it will update your dependencies based on the semver range you specified in your requirements.yaml. Is that what you're looking for?

There's no way to programmatically "update" the requirements file through the CLI.

[2018-06-21 00:02] jharshman opened #4250 "Context Deadline Exceeded on Install"
Output of `helm version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): AWS

I am wrapping the Helm libs in a REST service and have implemented endpoints to:
1. Get all Releases in a namespace
2. Get information about a specific release by name
3. Deploy a release from a chart pulled from Quay

The first two endpoints work fine, no connection issues and returns the data as expected.
H

[2018-06-21 00:27] thomastaylor312 commented on #3296
I am trying to scrape together the time to do it. Hoping I can get to it next week.

[2018-06-21 01:18] bacongobbler commented on #3296
Might be relevant: https://github.com/kubernetes/helm/issues/4210#issuecomment-398810327

[2018-06-21 03:58] gaozhangfei commented on #3269
@vielmetti does https://github.com/jessestuart/tiller-multiarch will be merged in tiller master branch?
Tiller v2.9.1 seems still does not support arm64

[2018-06-21 04:02] bacongobbler commented on #3269
@gaozhangfei see https://github.com/kubernetes/helm/pull/4200

[2018-06-21 04:08] gaozhangfei commented on #3269
Thanks @bacongobbler
That's great, will it be appeared at tiller v2.9.2 version?
Can't wait to have a try :)

[2018-06-21 04:09] bacongobbler commented on #3269
It will not. See my updated comment + the comments in that thread. Basically there's a few things blocking that section of work.

[2018-06-21 06:13] diclophis opened #4251 "Error: Looks like "https://kubernetes-charts.storage.googleapis.com" is not a valid chart repository or cannot be reached"
Hello, I am running into some issues with TLS attempting to add the default stable repo. I am on OSX `10.13.5 (17F77)` and below is the summary of my issue:

[code]

It appears as though the TLS handshake to the `kubernetes-charts.storage.googleapis.com` host is failing...

Output of `helm version`:

[code]

Output of `kubectl version`:

[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

[2018-06-21 06:38] SlickNik commented on #4237
Hi @remster -- thanks for posting an issue with your feedback!
You shouldn't need to clone the stable/charts repo in this case. You can use `helm fetch` followed by `helm template`. This would look something like:
[code]
Hope this works for you!

[2018-06-21 06:41] RakeshNagarajan commented on #3790
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.4", GitCommit:"5ca598b4ba5abb89bb773071ce452e33fb66339d", GitTreeState:"clean", BuildDate:"2018-06-06T08:13:03Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}
The connection to the server localhost:8080 was refused - did you specify the right host or port?

[2018-06-21 08:06] SlickNik commented on #4226
Hi @Pallav-Reactiveworks. FYI -- there was a good talk by Zach Sais at the Helm Summit this year which covered what some of the options are when it comes to managing secrets with Helm. The recorded session can be found [here](https://www.youtube.com/watch?v=08wlfKjWD6g&list=PLVt9l4b66d5EjjJ_VBe_5tEiJrAGLsDb-&t=0s).

Let us know if you have any other specific questions. Hope this helps!

[2018-06-21 08:12] SlickNik commented on #4251
@diclophis Thanks for reporting this! This seems strange. I'm also on OSX and just checked, but am not having any problems with the TLS handshake to kubernetes-charts.storage.googleapis.com.
```openssl s_client -connect kubernetes-charts.storage.googleapis.com:443```
seems to return the handshake and the certificate.

Can you verify that your network connection is fine, and that you're not behind

[2018-06-21 10:57] Tim-Schwalbe commented on #1809
/remove-lifecycle stale

[2018-06-21 11:30] diclophis commented on #4251
I am able to connect to the repo URL fine in `curl` `chrome` `safari` ... below is the output from the mentioned `openssl` command:

[code]

I think it may have something to do with what CA bundle the `helm` binary is loading, though I am not sure how to debug the process further to figure out why it cannot negotiated a TLS connection.

[2018-06-21 11:58] axot commented on #1455
helm not work when the number nodes of cluster larger than 1,

[code]

[2018-06-21 13:23] TalkingQuickly opened #4253 "helm list gives unknown flag error when using --output flag"
Output of `helm version`:

[code]

Output of `kubectl version`:

[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): Customer Cluster (On Hetzner Cloud)

**Issue**

The documentation at: <ttps://docs.helm.sh/helm/#helm-list> suggest that `helm list` supports the `--output` flag for outputting data in json.

But the following command:

[code]

Gives:

[code]

[2018-06-21 14:00] tirumaraiselvan commented on #1455
I am getting this error in AKS but not in GKE. I use helm from within the cluster to make releases. What is required by vendor in their distribution to make it run?

[2018-06-21 14:11] bacongobbler commented on #4251
I just noticed this line in your output. Maybe this is relevant?

I'm just spiralling here and have not had coffee yet, apologies if this is just a wild goose chase. :Coffee:

[2018-06-21 14:24] wknapik commented on #2258
/remove-lifecycle stale

[2018-06-21 14:55] tirumaraiselvan opened #4254 "Unable to connect to tiller on AKS from within cluster"
I make Gitkube (https://github.com/hasura/gitkube). Gitkube is a tool that builds apps on the cluster and deploys it. It supports installing helm charts.

I am seeing an issue on AKS which does not happen on GKE.

On GKE, everything is fine. When I do `helm version` from inside the gitkubed pod, I get expected results

[code]

On AKS though the story is different. `helm version` does not resolve t

[2018-06-21 15:44] bacongobbler commented on #4251
hmm nope. I see the same thing on MacOS, however I can't reproduce the error.

[code]

[2018-06-21 15:51] rcorre commented on #3693
/remove-lifecycle stale

[2018-06-21 16:00] plokimju commented on #4249
@bacongobbler -Thank you

[2018-06-21 16:00] #4249 closed

[2018-06-21 16:13] bacongobbler commented on #4254
I just booted a fresh AKS cluster and had no issues.

[code]

I'm not sure what would be the isue, but perhaps it'd be best to open a ticket at https://github.com/Azure/AKS as they would be more likely able to help you with any connection issues.

For reference, all Helm does is a `kubectl port-forward` behind the scenes to initiate a connection, and it has been confirmed to work on pretty much an

[2018-06-21 16:21] jstrachan opened #4255 "helm3: was Release.Namespace removed from helm3 build in objects on purpose?"
as how else can we inject the namespace where a chart is being installed into?

I got a regression when trying to install the chart `stable/nginx-ingress` chart:
[code]
as this value is no longer substituted:
https://github.com/kubernetes/charts/blob/master/stable/nginx-ingress/templates/rolebinding.yaml#L18

[2018-06-21 16:22] bacongobbler commented on #4254
I'm going to close this as there doesn't appear to be anything actionable on our end (the issue looks to be on AKS's end), but let's re-open this if something else comes up. Thanks!

[2018-06-21 16:22] #4254 closed

[2018-06-21 16:28] bacongobbler commented on #4230
@jstrachan I'm going to close this because we decided last dev call that we are not going to be tracking issues for Helm 3 at this point since it's still very much in-flux and things are expected to change.

If you have any further discussion points/issues/questions regarding Helm 3, if you wouldn't mind discussing in #helm-dev in Slack that would be most appreciated. Thanks!

[2018-06-21 16:28] #4230 closed

[2018-06-21 16:32] tirumaraiselvan commented on #4254
@bacongobbler As mentioned in the report, the helm client is running inside a pod in the cluster. It is a different setup.

[2018-06-21 16:34] bacongobbler commented on #4247
Hey @danielcb!

Kubernetes 1.11 rc1 was just released so we should at least bring in support for 1.11 - which means Helm 2.10 should hold out for a few more weeks - but I agree. It's been a while. I'd just hate for us to release 2.10 then get everyone on board with a Helm 2.11 release only a week later.

Thanks for your interest!

[2018-06-21 16:34] #4247 closed

[2018-06-21 16:35] bacongobbler commented on #4247
https://github.com/kubernetes/kubernetes/milestone/38

[2018-06-21 16:58] tirumaraiselvan commented on #4254
I should have mentioned, when I try helm upgrade on a chart I get:

[code]

[2018-06-21 17:17] bacongobbler commented on #4247
update from the dev call: from initial testing, a lot of k8s 1.11 client APIs have broken/shifted around so it'll take some time to add k8s 1.11 support at this point. We're discussing about cutting a 2.10-rc1 in #helm-dev without k8s 1.11 support.

[2018-06-21 17:28] bacongobbler commented on #4254
RIght, though the difference between running the helm client locally and running inside a pod aren't going to make much difference. It's going to reach out to the k8s API to attain a port-forward connection to tiller, then use that.

What's the output of `helm version --debug` from the pod?

[2018-06-21 17:36] diclophis commented on #4251
Maybe this isn't directly related to `helm`... any help figuring this out would be appreciated though... please observe the following go program, two different compilation modes ("normal static" and full static") and how the "full-static" binary fails to connect

### go build -o normal-static main.go

[code]

### CGO_ENABLED=0 GOOS=darwin go build -o full-static -a -ldflags '-extldflags "-static"'

[2018-06-21 17:45] bacongobbler commented on #4251
Oh, if you're compiling Helm from scratch then this can definitely happen with older versions of Go since they didn't check the root cert chain which was fixed in later versions of Go.

What version of Go are you compiling Helm with? The official 2.9.1 release at https://github.com/kubernetes/helm/releases/tag/v2.9.1 was built with [Go 1.10](https://github.com/kubernetes/helm/blob/v2.9.1/.circleci

[2018-06-21 17:47] diclophis commented on #4251
@bacongobbler yea I am using the version of helm available for download from the github releases page:

[code]

Also... I am using:

[code]

[2018-06-21 17:50] mikeln opened #4256 "Show Installed Chart Source Location or Source Repository URL"
Use case: Cluster Admin needs to determine where an installed chart came from purely from querying a running cluster.  i.e Which file location or chart repository or whatever each chart came from.  The given admin may or may not have access to the original chart yaml.

 It appears that none of the helm commands are able to return this information, and that said information is probably not recorded

[2018-06-21 17:51] bacongobbler commented on #4251
Hmm that's the only time I've seen this crop up. Sorry :(

[2018-06-21 17:56] bacongobbler commented on #4256
`helm get manifest` and `helm get values` both provide information on the manifests submitted to tiller, but not the "origin" of the chart as that's stripped by the helm client.

For example:

[code]

Will that work for you, or are you looking for a way to track the origin URL where the chart came from? Given helm's current architecture (helm client fetches the chart from the repo, loads from disk

[2018-06-21 17:59] mikeln commented on #4256
Yes, the origin repository URL (or path etc) is the desire.

[2018-06-21 18:00] mikeln commented on #4256
get gives some info:
[code]

A new meta date field would be needed....

[2018-06-21 18:27] bacongobbler commented on #4253
Hey @TalkingQuickly! The documentation you see at https://docs.helm.sh is generated from master. Generally this isn't an issue, but occasionally new features pop up in master which aren't available in the latest release, such as `--output`. :)

This flag does indeed exist, but right now it only exists in the canary release. If you feel lik testing it out, feel free to follow along in https://docs.

[2018-06-21 18:27] #4253 closed

[2018-06-21 18:38] tirumaraiselvan commented on #4254
`helm version --debug` printed the client version and then got stuck again with no new information.

The `port-forward` command was quite revealing. It threw the exact same error again:

`
Error: forwarding ports: error upgrading connection: Upgrade request required
`

Made me think if this is a firewall issue where port 44134 is not allowed. So I went and opened that port on all the nodes but to

[2018-06-21 18:45] diclophis commented on #4251
@bacongobbler I am 99% certain this was some funky confluence of the mentioned go 1.10 tls issues mixed with a combination of locally installed duplicated developer site root certificates I had installed on my workstation... thanks for your quick responses... my engineering org is having great success with `helm`

[2018-06-21 18:45] #4251 closed

[2018-06-21 20:06] Natashaylwong commented on #2298
we also need this feature. are there any updates?

[2018-06-21 20:13] bacongobbler commented on #2298
No but feel free to pick this back up! It looks like the original author is unresponsive.

[2018-06-21 20:13] bacongobbler commented on #2298
/remove-lifecycle stale

[2018-06-21 20:39] #3369 closed

[2018-06-21 21:40] #3365 closed

[2018-06-21 22:42] mikeln commented on #4256
Seems like probably adding to hapi/release/release.proto

[2018-06-22 06:50] tirumaraiselvan commented on #4254
Seems like it was indeed an AKS issue which has been resolved: https://github.com/Azure/AKS/issues/459

[2018-06-22 07:33] unguiculus commented on #4210
So, is this only an issue with `extensions/v1beta1`, but not with `apps/v1beta1` onwards? Charts CI switched to `--wait` with the refactored scripts. I haven't seen any issues so far. However, another problem with `--wait` is that it's inconsistent. It generally waits till all pods are ready, but not for deployments when it considers `maxUnavailable`.

https://github.com/kubernetes/helm/blob/maste

[2018-06-22 09:17] saplla opened #4258 "Helm should recreate resources for subcharts when values are changed and they produce different templates"
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): AWS

When I installed a chart with dependencies, if I change my values file so that the subchart's templates change, helm isn't recreating pods, etc.

To reproduce this:
1. Create a new chart
2. Configure `chart museum` as a dependency
3. Update dependencies
4. Install the chart

[2018-06-22 09:22] OndraZizka commented on #3700
Depth limit is not a good solution. You need to use a map of absolute canonical paths and check if the walk has been there.

[2018-06-22 09:27] Mikulas commented on #3700
I honestly think that the depth limit is very pragmatic. This issue does not warrant a huge refactoring which would be necessary for all the other solutions, as I've already outlined in the original post.

Note that the depth limit only affects symlink nesting and does not break backwards compatibility as symlink nesting does not currently work at all.

[2018-06-22 10:12] va1en0k commented on #4248
same with me; and can't remove the stateful sets with kubectl too

[2018-06-22 11:13] yevhenvolchenko opened #4259 "crd-install annotation doesn't work"
#3982
@technosophos
## BUG
Output of `helm version`:
Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.4", GitComm

[2018-06-22 13:16] bacongobbler commented on #4259
Can you try a canary release? I don't think this feature exists in 2.9 at this point, only in master.

[2018-06-22 13:17] #3522 closed

[2018-06-22 14:00] jgleonard commented on #4210
Seems to do the RightThing and wait using apps/v1beta1.

[code]

[2018-06-22 14:53] bamb00 commented on #1780
@dkushner Can you provide the pre-install hook example use to get around the ordering issue?

[2018-06-22 15:59] adamreese commented on #4255
It will be added back.  The goal for now is to have a template rendering step that can create resources to add to any namespace

[2018-06-22 16:31] davidghiurco commented on #3017
I can confirm this behavior as well. Except I tried
`
helm delete $HELM_RELEASE_NAME
helm delete --purge $HELM_RELEASE_NAME
`

and jobs were not cleaned up that way either. I am using kubectl 1.10.3 and helm 2.6.1 (I know, it's an old helm version, I have no choice but to use it since our kubernetes cluster doesn't support newer versions yet)

[2018-06-22 16:59] #2243 closed

[2018-06-22 19:01] jharshman commented on #4250
Well, it was starring me in the face this whole time...
`helm.Host(fmt.Sprintf("%s,%s", hc.TillerHost, hc.TillerPort))`
there's a `,` instead of a `:` in between the host and port.

Closing :)

[2018-06-22 19:01] #4250 closed

[2018-06-22 19:08] kannanlakshmi opened #4260 "Cannot delete pods even after helm delete"
Output of `helm version`:
Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.7", GitCommit:"dd5e1a2978fd0b97d9b78e156

[2018-06-22 19:17] a-robinson commented on #4260
As @kannanlakshmi shared with me separately but forgot to include here, the tiller logs indicate that a delete was attempted but that "the server could not find the requested resource" - https://gist.github.com/kannanlakshmi/476bd3ec7e04b0e29cf88329e2790d08

[2018-06-22 20:30] thomastaylor312 commented on #4210
@bacongobbler In terms of supported API versions, the last discussion about the `--wait` flag that we had was that we want to support all of the versions that k8s supports. When I fix it, I will be handling all of those workload versions

[2018-06-22 20:48] DeviateFish commented on #1311
@worldsayshi For what it's worth, I just ran into this same issue, and it turns out there's a relevant bit of documentation from the [variables section](https://docs.helm.sh/chart_template_guide/#variables):

```However, there is one variable that is always global - $ - this variable will always point to the root context. This can be very useful when you are looping in a range need to know the cha

[2018-06-22 22:45] bamb00 commented on #4259
Where can I get the canary release?

[2018-06-22 23:28] bacongobbler commented on #4259
https://docs.helm.sh/using_helm/#from-canary-builds

Just make sure to run `helm init` with the `--canary-image` flag :)

[2018-06-22 23:28] bacongobbler commented on #4259
Closing as answered but please feel free to re-open if you have further issues. Thanks!

[2018-06-22 23:28] #4259 closed

[2018-06-23 02:10] bamb00 commented on #4259
@bacongobbler I'm running version 2.8.1, got this error failed: no objects visited.

       Error: release prometheus-crd failed: no objects visited

Is it because the feature is not available?

Thanks in advance.

[2018-06-23 21:38] shal opened #4262 "toYaml removes all quotes and yaml types breaks"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):  **GKE**

I got following problem:

File: `values.yml`
[code]

File: `configmap.yml`
[code]

After `toYaml` address will be not a string.

[2018-06-24 11:19] michaelfig commented on #3456
Until #3496 lands, I have a simple, though kludgey workaround:

[code]

Basically, try the command with --tls, and if it fails, run it without.

[2018-06-24 11:41] #3386 closed

[2018-06-24 15:04] giovannicandido commented on #2716
Using helm 2.9.1 in windows get the same error:

I disable the firewall

[code]

[2018-06-24 15:05] giovannicandido commented on #2716
kubectl -n kube-system log tiller

[code]

[2018-06-24 15:10] giovannicandido commented on #2716
Same problem on linux

[2018-06-24 17:53] giovannicandido commented on #2716
Fixed, is a system and kubelet problem, that is being addressed:

https://github.com/kubernetes/kubeadm/issues/787

What I did was create system-d drop in and delivered in all systems that use *systemd-resolv* using ansible

[2018-06-24 20:57] jkroepke opened #4263 "Subchart dependencies ignored?"
HI,

currently I'm start playing today with helm. I'm start using a vendor charts which I want to extent (for example use route.openshift.io/v1.Route instead Ingress objects.

So I create a _umbrella chart_ with follow dependencies:

[code]

I noticed that the subchart harbor has a own requirements, too:

[code]

Running `helm dep up` and `help dep ls` results into this:

[code]

Now if I run `hel

[2018-06-24 21:00] jkroepke commented on #4263
Maybe https://github.com/kubernetes/helm/issues/2247

[2018-06-25 07:27] tutaidalal opened #4264 "How to pass a variable folder path from values.yaml ? I have tried it but not loading any configuration .. Can somone please share some example ?"
Output of `helm version`:

Output of `kubectl version`:

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

[2018-06-25 07:27] tutaidalal commented on #4264
How to pass a variable folder path from values.yaml ? I have tried it but not loading any configuration .. Can somone lease share some example ?

Also can I use a absolute directory path instead of relative path?

For Example (Working)

apiVersion: v1
kind: ConfigMap
metadata:
creationTimestamp: null
name: myconfigMap
data:
{{ (tpl (.Files.Glob "config/*.properties").AsConfig . ) | indent 2 }}

No

[2018-06-25 07:35] tutaidalal opened #4265 "Can i Load config file from any absolute file path ? How to pass the path/location using values.yaml ?"
Example 1.

apiVersion: v1
kind: ConfigMap
Metadata:
  name: {{ template "fullname" . }}-config
  labels:
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}

data:
{{ (tpl (.Files.Glob "/home/tutai/configs/*").AsConfig . ) | indent 2 }}

or

apiVersion: v1
kind: ConfigMap
Metadata:
  name: {{ template "fullname" . }}-config
  labels:
    heritage: {{ .Release.Service }}
    rele

[2018-06-25 09:20] itye-msft opened #4266 "Add to helm: response format"
Hi,
In our use case, an internal admin dashboard application is executing helm commands inside the cluster.  Based on input from the dashboard, we need to call a chart, and we supply parameters.
Generally speaking: we are programmatically executing helm.
This was the easy part, and it works nicely.
Helm, however, return a non-formatted response. It just prints to the stdout some text.

If going wi

[2018-06-25 09:46] yevhenvolchenko commented on #4259
@bacongobbler
It's in v2.9.1, isn't it?

https://github.com/kubernetes/helm/compare/v2.9.1...master

0699ec4

[2018-06-25 09:57] swathimocharla commented on #4246
Also, there needs to be a way the user can define sequences in helm, for the life cycle events.

[2018-06-25 11:54] tutaidalal commented on #2573
Can I refer a varible instead of hardcoded config ?
Something like -

{{ (.Files.Glob {{ .Values.global.configPath}}"/*").AsConfig | indent 2 }}

{{ (.Files.Glob "configs/*").AsConfig | indent 2 }}

[2018-06-25 11:58] tutaidalal commented on #2573
Can I use some external file (outside of helm zip package) to include during helm install command ?

I have created a application using {{ (tpl (.Files.Glob "configs/*").AsConfig . ) | indent 2 }}. But end user dont want to unzip and use the helm. What is the procedure to include some external files for config mao

[2018-06-25 11:59] tutaidalal opened #4267 "Can I use some external file (outside of helm zip package) to include during helm install command ?"
Can I use some external file (outside of helm zip package) to include during helm install command ?

I have created a application using {{ (tpl (.Files.Glob "configs/*").AsConfig . ) | indent 2 }}. But end user dont want to unzip and use the helm. What is the procedure to include some external files for config mao

[2018-06-25 16:45] kfox1111 opened #4268 "template externalIPs"
when creating a new chart with helm create <foo>, the service created is incapable of being bound to external ip's.

please add:
  externalIPs:
{{ toYaml .Values.service.externalIPs | indent 4 }}

to the template.

[2018-06-25 18:22] bamb00 opened #4269 "helm pre-install hook does not get execute before resource from charts"
Output of `helm version`:

       Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}
       Server: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}
Output of `kubectl version`:

       Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.5", GitCommit:"f01

[2018-06-25 19:28] jascott1 commented on #4267
Hi @tutaidalal

External access is not supported. Im going to close this in favor of the related issue #4265 you filed. Please use that for follow up. Thanks.

[2018-06-25 19:28] #4267 closed

[2018-06-25 19:30] jascott1 commented on #4268
@kfox1111 Hey, long time! Are you aware you can make your own 'create' templates?

[2018-06-25 19:47] kfox1111 commented on #4268
hey @jascott1 yeah. been too long. :/ Good to see you again. :)

Yeah, I'm aware of them. Just saying though, out of the box create leaves out an important bit of boilerplate code. I regularly use externalIPs to expose services and in this case and I'm continuously hav,ing to tell users to add that boiler plate after helm create. Its such a small thing creating a whole parallel template set seems

[2018-06-25 21:06] Cryptophobia commented on #4089
Docker is being creative and educational when naming:

https://github.com/moby/moby/blob/master/pkg/namesgenerator/names-generator.go#L106

This is a good model to follow. Just wanted to throw this example out there.

[2018-06-25 21:15] jascott1 commented on #4258
Hi @saplla Have you tried `--re-create pods`?

[2018-06-25 21:37] jascott1 commented on #4269
@bamb00 The pre-install hook should work. Can you share any more details?

[2018-06-25 21:59] bamb00 commented on #2994
Hi, I'm running into issue below using helm version 2.9.1, and k8s v1.9.5.   I have a job with the annotation "helm.sh/hook: pre-install" that trigger a container to create the CRD definitions.
What is the status to fix the crd validation?

       Error: apiVersion "monitoring.coreos.com/v1" in ... .yaml is not available

[2018-06-26 02:11] komal-SkyNET opened #4270 "Inject values into charts from `kubectl` command statement result at runtime"
I'm trying to inject values into my chart by obtaining values from the kubernetes cluster by executing certain kubectl commands. For instance, I need to inject the a value into my charts from kubernetes node labels.

Output of `helm version`:
Client: &version.Version{SemVer:"v2.7.2" , GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.7.2",  GitTreeState:"clean"}

Output of `kubectl version

[2018-06-26 03:56] komal-SkyNET commented on #4270
Just looking to see if there's a feature to do this from values file.

eg:

data:
  environment: {{ $(kubectl get nodes --show-labels ) }}

I understand there's formatting issues and data type mismatch here, but just wondering if there's a way to execute and get output from command into values file. I've noticed --set option being used for stuff like this.

[2018-06-26 04:06] #2722 closed

[2018-06-26 05:44] bamb00 commented on #4269
I'm running a chart that has subcharts and the subcharts has CRDs dependency that need to be define before helm install the subcharts.  I have a job that  run as pre-install hook that trigger a container to create the CRDs before helm install the other subcharts.

I try to set the job couple of ways,
(1) The job is run in a chart and is set as a subchart of a parent chart
(2) I run the job in the

[2018-06-26 06:43] #4265 closed

[2018-06-26 07:54] lucevers opened #4271 "Helm install don't work because of Proxy : oversized record received"
Output of `helm version`:
Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}

The output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.1", GitCommit:"d4ab47518836c750f9949b9e0d387f20fb92260b", GitTreeState:"clean", BuildDate:"2018-04-12T14:26:04Z", GoVersion:"go1.9.3", Compiler:"gc", Pl

[2018-06-26 08:56] saplla commented on #4258
@jascott1 thanks for the hint. The problem was in fact that I had forgotten to namespace my values, i.e. so instead of using:
[code]
I should have used:
[code]

[2018-06-26 08:56] #4258 closed

[2018-06-26 09:03] techdragon commented on #2062
@bacongobbler Scoping is just a partial fix, @xcompass laid things out pretty well, and scoping to be namespace unique, instead of cluster unique, doesn't actually fix the issue, just reduces its impact slightly.

[2018-06-26 09:11] yanhongwang commented on #1987
Hello all,

Do you know how about this structure of Kubernetes kind '**affinity**'.

###################################################
affinity:
  podAntiAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
    - labelSelector:
        matchExpressions:
        - key: app
          operator: In
          values:
          - mongodb-replicaset
      topologyKey: kubernetes.io/hostname
##

[2018-06-26 13:10] longwuyuan commented on #2463
me@mypad[k8s/kubeadm]% kubectl version
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.1", GitCommit:"d4ab47518836c750f9949b9e0d387f20fb92260b", GitTreeState:"clean", BuildDate:"2018-04-12T14:26:04Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.5", GitCommit:"32ac1c9073b132b8ba18aa830f46b77d

[2018-06-26 14:28] waldauf commented on #2463
What is return when you type: `kubectl --namespace kube-system get pod -o wide`?

[2018-06-26 16:07] sudermanjr commented on #3503
Custom labels will be very helpful for labelling namespaces for istio sidecar injection using the mutating webhook admission controller as well.

[2018-06-26 16:36] antonosmond opened #4272 "Helm fails to see changes to resources even though the templates have changed"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.): `GKE`

I installed a chart with helm (which inc. a deployment & service) and it was deployed successfully. Then I updated the selector in the service resource manually using `kubectl edit`. I didn't change any of the helm/tiller values in the resource.

I then ran a helm upgrad

[2018-06-26 18:33] #3376 closed

[2018-06-26 20:38] sprutner opened #4273 "Helm does not check CRL TLS certificate revocation"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
Amazon EKS

---
I have experimented with Helm TLS authentication extensively, and have found a few flaws that are significant issues. I aim to use my own PKI to issue certificates for use with helm, and conversely to revoke them and have helm respect the revocation.

I used Ama

[2018-06-27 01:36] kvudata commented on #3493
/remove-lifecycle rotten
I just hit this issue as well, it's a pretty bad user experience to have no idea why it failed to create the ConfigMap

[2018-06-27 06:34] cabrinoob commented on #1987
I think that when you have to apply complexe modifications like these, you'd bettre have to put them in a file intead of using --set.

[2018-06-27 08:39] yanhongwang commented on #1987
Hello @cabrinoob

Thanks for your recommendation.

That's true that I used --values=values.yaml to adapt appropriated value.
So there is no syntax to express **affinity** syntax by --set, right?

Thanks very much.

Hong

[2018-06-27 09:07] cabrinoob commented on #1987
You do not have to have the same structure in your `values.yaml` file than in your `deployment.yaml` resource.

You can have a relatively "flat" structure in values.yaml that makes usage of `--set` more simple.

[2018-06-27 09:15] mumrau opened #4275 "Helm cannot fetch values from within a repository chart"
Hello everyone,

First of all I wanna apologize in case I missed something crucial or if I didn't find the desired resource.

I set up my own chart repository (through chartmuseum for that matters) and I got it fully working except for one thing (which might not be supported), let's suppose the chart I wanna deploy is really abstract in the sense that it is versatile depending on provided values f

[2018-06-27 11:59] edmeister commented on #1193
Just run into this issue twice on different clusters. Each time with configmaps. Deleting the resources didn't solve the issue, so we had to remove the entire release.

[2018-06-27 11:59] yanhongwang commented on #1987
Hello @cabrinoob

Thanks for your comments.

But, I saw the most of charts application in https://github.com/kubernetes/charts/tree/master/stable

For example:
#############################################
values.yaml
affinity: {}

deployment.yaml
    {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
############################################

Is that mean tha

[2018-06-27 12:14] #4272 closed

[2018-06-27 12:48] jstriebel commented on #3785
We are experiencing this issue, too.

It seems to happen with different types of resources (seen pods, services, ingresses), but for us only in one specific release, with two specific characteristics:
* the release is is sometimes upgraded in parallel,
* it has a `post-install,post-upgrade` hook (a job).

The failure then blocks any subsequent upgrades, also on other releases. Not sure if #4223 mi

[2018-06-27 13:45] hobti01 opened #4276 "failed to create patch: failed to get versionedObject"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform: AWS

I'm getting intermittent errors on upgrade.  In this case, a DaemonSet with `apiVersion: apps/v1` where I changed `spec.template.spec.resources` :
Helm:
[code]
Tiller:
[code]

This seems similar to #3382 , but this is not a CRD.

[2018-06-27 14:35] desaintmartin commented on #1193
PVC here. :)

Basically every kind of prioritized object is subject to this bug.

[2018-06-27 14:36] hobti01 commented on #4276
Looks like this was a malformed Daemonset (resources was not indented properly).  Is there a way to expose the Kubernetes validation that catches this?
[code]

[2018-06-27 18:02] mindw commented on #3787
/remove-lifecycle stale

[2018-06-27 18:49] jfrederickson commented on #3627
Just ran into this as well; that seems reasonable to me. Maybe also worth pointing out that the parent key must be defined? If the `favorite` key isn't defined in Values at all, that check will throw an error.

[2018-06-27 18:50] cabrinoob commented on #1987
Yes, that means the whole bloc named "affinity" will be taken like this
(toYaml / indent 8) and injected in the deployment.yaml.

But, I think that if the affinity bloc is "complex" you'd better have to
override it through a file instead of using --set because in that case
--set parameter can be very tricky.

Le 27 juin 2018 13:59, "Hong" <notifications@github.com> a écrit :

Hello @cabrinoob <htt

[2018-06-27 19:40] Paxa commented on #1140
What helm command would be similar to `kubectl apply ...`? (sorry for dump question)

[2018-06-27 20:21] kvudata commented on #3503
I had the same issue, I was able to get things to work using a chart pre-install hook e.g. https://gist.github.com/kvudata/12ba57ae1e7f01799aaa7f36350a9b2e.

[2018-06-27 21:44] Nowaker commented on #3077
+1. Because Helm is in charge of upgrades, it should collect everything relevant to the upgrade process.

[2018-06-27 22:17] rcorre commented on #3793
/remove-lifecycle stale

[2018-06-28 00:29] consideRatio opened #4277 "Hook annotations ignored on `PriorityClass` resource"
## TL;DR
1. Should Helm expedite loading of PriorityClass resources? Perhaps... But it can be done through a helm hook, so...
2. I made a typo, spent many hours, made a sloooow facepalm.

![picard-facepalm](https://user-images.githubusercontent.com/3837114/42126690-e848c0bc-7c8b-11e8-8d89-6fc89191717e.jpg)

---

## Issue 1 - Prioritized loading of PriorityClasses?

By adding a global [`PriorityCla

[2018-06-28 05:32] nejec commented on #4248
seeing the same issue:
[code]

[2018-06-28 05:32] davidewatson commented on #3255
I would also like to use `kustomize` with the application lifecycle management provided by `helm`. Some of this is possible now with `helm` v2 using scripts and CI, though the operator model described for [`helm` v3](https://github.com/helm/community/blob/master/helm-v3/008-controller.md) would be more flexible, in part because, the relative uniformity of declarative k8s resources makes them good

[2018-06-28 12:47] sta-szek opened #4279 "Wait for old pods to be removed / unaccessible"
Hi,
is there any way to tell helm, that it should wait for old pods to be removed?

My case is:
1. Deploy using `helm upgrade --install --wait ...`
2. Helm waits for new pods
3. After it finish I perform smoke tests => get error due to old pod was not removed yet and traffic was redirected to it.

What I want to achieve:
Before helm finished deployment, make sure that old pod is not accessible, he

[2018-06-28 13:29] siXor opened #4280 "upgrade --wait with RollingUpdate does not wait"
However, when running upgrade with --wait the command exits immediately while a pod is terminating:

[code]

--wait should wait for all Pods to Terminate and be up and Running again.

[2018-06-28 15:34] kivoli commented on #1464
My use case is very similar to @skuby2. Actually this also relates to namespace management in general, e.g. #4178. Maybe there could be an option where there is no “automatic creation” of a namespace but it is part of the templates and thus managed like any other resource.

Maybe a flag for managing (i.e. automatic creation) of namespaces could be disable via a parameter?
[code]

[2018-06-28 16:09] bacongobbler commented on #1464
we'd happily accept a feature flag that enables this if someone wants to give this a shot.

[2018-06-28 17:14] jascott1 commented on #4277
Hi @consideRatio

What version of k8s and Helm are you using and on what platform?

[2018-06-28 17:18] jascott1 commented on #4276
Hi @hobti01

Can we close this issue open a feature request for exposing k8s validation?

[2018-06-28 17:21] jascott1 commented on #4275
Hi @Mumrau

Could you clarify the request here? It sounds like you want to have more than one values file and be able to fetch it, is that correct?

[2018-06-28 17:23] jascott1 commented on #4273
/cc @technosophos

[2018-06-28 18:33] consideRatio commented on #4277
Heyy @jascott1 !

Helm 2.9.1 (client/server)
Kubernetes 1.10.4-gke.2
Googles Kubernetes engine
My cluster has alpha features enabled

[2018-06-28 20:22] #2597 closed

[2018-06-28 21:26] rcorre opened #4281 "Cannot see full error on prior revision"
Output of `helm version`:

[code]

Output of `kubectl version`:

[code]

I know I'm on an old version, so feel free to close this if it is resolved. However, I didn't see any related issues, so I'm guessing this hasn't been mentioned yet.

I have a release that failed, but a subsequent upgrade succeeded. `history` truncates the error message and neither `status` nor `get` seem to include it:

[cod

[2018-06-28 22:11] #4276 closed

[2018-06-28 22:36] bacongobbler commented on #4281
this was fixed in https://github.com/kubernetes/helm/pull/2836 IIRC. Can you try with a newer version of helm and confirm?

[2018-06-28 23:17] bacongobbler commented on #2060
@gmile I'm 99% sure the helmfile maintainers haven't fixed this particular issue in helmfile. If you declare two releases named `vault` with different namespaces in your helmfile.yaml and run `helmfile sync`, it'll fail because the release name `vault` was claimed by the first release.

disclaimer: I haven't tested this using helmfile, so I would love to be told I'm wrong. 😄

Just in case the last

[2018-06-28 23:17] bacongobbler commented on #2060
/remove-lifecycle stale

[2018-06-29 01:28] estahn opened #4282 "Command upgrade with flag --install will not create a new release"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
AWS

Description:
[code]

With flag `--install` i would expect it to create the deployment.

[2018-06-29 02:53] daixiang0 opened #4283 "--tiller-image support load local image directly"
Helm is a very good tool to manage components for k8s.
When install, i think it could be better if --tiller-image can support  load local image directly, just as below:
[code]

Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

[2018-06-29 05:04] aliasmee commented on #3749
+1 @andresguisado
When running `helm init --client-only`, If can't connect google(kubernetes-charts.storage.googleapis.com) in my network, This will show the following error message:
[code]

[2018-06-29 05:17] bounddog commented on #3714
I hit this issue with v2.7.2

[2018-06-29 05:46] bacongobbler commented on #3749
Add the `--skip-refresh` flag for a complete offline `helm init`. :)

So in your example, @aliasmee:

[code]

I'm not entirely sure that's what @andresguisado is asking for though.

[2018-06-29 05:56] voxxit commented on #4272
@antonosmond Why was this closed? I think this is actually a real issue.

[2018-06-29 06:09] antonosmond commented on #4272
@voxxit I thought it was my understanding of how helm works that was incorrect.
My expectation was that helm would generate the new version of a resource from a given template and compare that with the "current" version of the resource from Kubernetes. Where I say "current" version I mean the actual resource e.g. a deployment or service and not some config map or something that helm generated when

[2018-06-29 06:12] antonosmond commented on #4272
To add some context, I'd made a change to a resource using `kubectl edit` to update a selector on a service as a temporary fix to a problem we were having. Once it was resolved, I wanted the selector to be put back to the value as it was declared in the chart. My expectation was that a `helm upgrade --install` of the chart would update the selector in the service bringing it back in line with the

[2018-06-29 06:32] aliasmee commented on #3749
hi, @bacongobbler , thanks for your quick reply

I have tried to add the `--skip-refresh` flag, but if I encounter a dependent chart package, when I execute the command `helm package some_chart` there will be another error:
[code]

Here is my whole terminal execution history

[code]

I just want to simply runing a helm private repo. thanks

[2018-06-29 07:12] berlinsaint opened #4285 "can i have this `helm stop logic.`"
this is a feature request first.

i want to have a stop logic, but there are only  install/uninstall.

my logic is when we execute `helm stop`, it will scale the pod  replicas to 0.

my case is that when we have a small cluster but we  want to use the cluster more efficiently, it can help us rapidlly recover a running helm release pod, and without losing any thing in pvc. if we use `helm delete`,

[2018-06-29 07:20] Mumrau commented on #4275
I'll try to be clearer, I apologize.

I would like helm to be able to inject values files that are included withing the chart package, I don't know the operation flow but to the best of my knowledge helm retrieves the tgz completely so the custom values are here somehow.
Let's assume I have this package (unrelevant files won't be shown):
[code]
I would like being able to do `helm install repo/my-c

[2018-06-29 08:10] vshimoda opened #4286 "GKE regional cluster supported?"
after helm init --service-account tiller, i got error message bellow.
[code]

Output of `helm version`:
[code]
i coudn't get Server version, but i can get server version via kubectl

[code]

Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
GKE (regional cluster)

[2018-06-29 08:45] rimusz commented on #4285
`helm update ... --set replicas=0` should do what that.
Just check the `values.yaml` file for the `replicas` part so you pass the correct value/s there.

[2018-06-29 09:02] lowang-bh commented on #3467
I met this error when it is hang:
I0629 16:41:48.857001  123594 kubernetes.go:119] error getting Pods with label selector "k8s-app=kube-proxy" [Get https://192.168.42.179:8443/api/v1/namespaces/kube-system/pods?labelSelector=k8s-app%3Dkube-proxy: dial tcp 192.168.42.179:8443: getsockopt: connection refused]
I0629 16:41:49.356818  123594 kubernetes.go:119] error getting Pods with label selector "k8

[2018-06-29 09:47] njdart commented on #3920
Same here, trying to reference a sub-charts full name for accessing its secrets;

[code]

I managed to solve it with a [hack from stack overflow](https://stackoverflow.com/questions/49142353/helm-getting-subchart-service-names) by reconstructing the full name

[code]

[2018-06-29 10:17] gintautassulskus opened #4287 "Option to skip chart deployment that resides in charts/"
Is there a way to skip chart deployment that resides in charts/ similar to `condition:` in requirements.yaml?

[2018-06-29 10:37] #3312 closed

[2018-06-29 12:50] alexandersauerbier commented on #3785
+1 (happens with helm v2.8.2 and ConfigMap ... same example as the issue-starter had. and, with me also `kubectl get configmaps <map_name> --namespace <namespace_name>` gives the correct output)

[2018-06-29 13:06] eversC commented on #3309
@andreychernih (or anyone else) -- did you get round to having a go at this?

I might have some time in a couple of weeks or so, but don't want to duplicate anyone's efforts..

[2018-06-29 17:47] bacongobbler commented on #4287
Hey! I'm not quite sure I fully understand the question. By setting a condition to `false` in your values, [those charts are not loaded and deployed](https://docs.helm.sh/developing_charts/#tags-and-condition-fields-in-requirements-yaml). If that is not what you're looking for, could you explain your use case a little more? Thanks!

[2018-06-29 17:52] bacongobbler commented on #4286
Under the covers, helm is initiating a short-lived `kubectl port-forward` to tiller, so if that does not work for GKE regional clusters, then you'll need to find some other way to communicate with tiller via `$HELM_HOST` or `helm --host`. I'd investigate how you can allow port-forwarded connections to pods running in the cluster as pretty much every other configuration of Kubernetes allows this, s

[2018-06-29 17:56] bacongobbler commented on #4283
hey @daixiang0, how are docker images stored on disk? I didn't think this was possible unless it was an OCI image. Even then, `helm init` just renders a Kubernetes manifest and essentially performs a `kubectl apply`, so I don't think feature request could be reasonably tackled unless `kubectl` allowed "uploading" a local image to the cluster.

[2018-06-29 17:56] bacongobbler commented on #4283
Still marking this as a feature, but I don't think this is something we can reasonably support. Sorry!

[2018-06-29 17:59] bacongobbler commented on #4282
@estahn when you check `cheeky-chick` with `helm status`, was the last release in a FAILED state? If so then this may be a duplicate of https://github.com/kubernetes/helm/issues/3208.

[2018-06-29 18:04] bacongobbler commented on #4270
This seems like a good use case to add to the downward API. See https://github.com/kubernetes/kubernetes/issues/40610

[2018-06-29 18:10] bacongobbler commented on #4264
doc link: https://docs.helm.sh/chart_template_guide/#accessing-files-inside-templates

Files cannot be accessed from outside the chart, as the rendering occurs server-side via Tiller. If you want to inject files into your chart, you'll have to copy them over to the chart before running `helm install`.

[2018-06-29 18:12] bacongobbler commented on #4262
@ashanaakh can you provide the output of `helm template` with this sample?

[2018-06-29 18:30] stevvooe commented on #4051
We ran into this issue, as well. It seems to be a problem with the section of code that gets executed when `--wait` is used: https://github.com/kubernetes/helm/blob/aa98e7e3dd2356bce72e8e367e8c87e8085c692b/cmd/helm/init.go#L343.

As a workaround, you can run `kubectl rollout status -n kube-system deploy tiller-deploy -w` to wait on the deployment of tiller before proceeding.

[2018-06-29 18:42] bacongobbler commented on #4051
good catch @stevvooe. We probably just need to propagate those flags to the helm client when we initiate the connection.

[2018-06-29 18:48] RudyBone opened #4288 "Why are dependencies in requirements.yaml packaged in the charts directory?"
My apologies if this question has already been asked.  I'm using helm 2.9.0

I have a chart, A, that has dependencies on charts B and C, both of which depend on chart D. All the dependencies are expressed in the requirements.yaml for each chart.  All the charts have been packaged and pushed to a Chartmuseum repo. To test the charts it seems you have to run helm dep up <chart> first, which pulls th

[2018-06-29 20:33] jascott1 commented on #3370
@hr1sh1kesh @skuby2 If you have the time can you try canary release? It is supposed to be working in a very recent version of Helm.

[2018-06-29 20:36] dpepper commented on #3370
@jascott1 When you say "it is supposed to be working" what exactly do you mean? Is there a way to feed back errors from a pre-installation hook so that the install command reports a valid error message?

[2018-06-29 20:40] jascott1 commented on #3370
Sorry @dpepper I got this confused with another issue related to pre-install. Thats what I get for multitasking:/

[2018-06-29 20:43] dpepper commented on #3370
@jascott1 no problem. You had me excited for a moment because that feature would be really useful for me. Right now I am using a pre-install hook as a sort of pre installation check of the environment, and if the environment is not configured correctly is fails. But unfortunately I have to leave it disabled right now because I can't point the user to how to fix the problem because the error messag

[2018-06-29 20:46] #2746 closed

[2018-06-29 20:48] skuby2 commented on #3370
This would be extremely useful for me as well. Without it I'll have to change my hook termination policy so that the pod/job isn't cleaned up on failure, and write some wrappers to query the reason the hook failed.

[2018-06-29 20:53] estahn commented on #4282
The release was never created in the first place. It is consistently not
working. I have to run "helm install" instead of "helm upgrade -i".

Sent from my phone

On Sat., 30 Jun. 2018, 3:59 am Matthew Fisher, <notifications@github.com>
wrote:

[2018-06-29 22:18] stefanasseg commented on #2247
Until `helm dep up` can be ran recursively, I'm using the following script:
[code]

That's pretty much exactly what we want `helm dep up --recursive` to do, right?

[2018-06-29 23:30] ashanaakh commented on #4262
@bacongobbler Sorry, I can't provide all output, because it is confidential information.

I see, that function changed type of `0x1ddf249430c343f72f8b19868ea4f932500e0000`.

In values.yml it was in quotes, like

[code]

After `toYaml`, I see

[code]

[2018-06-29 23:35] xinzweb commented on #3740
+1 got the same error observed on 2.8.2.

[code]

[code]

[2018-06-29 23:37] bacongobbler commented on #4262
oh I see what you mean. However, both are considered strings though according to the YAML spec though, right? That should still work as a string as the YAML spec says that single, double and unquoted values are accepted as strings.

[2018-06-29 23:40] ashanaakh commented on #4262
@bacongobbler Unfortunately, `0x1ddf249430c343f72f8b19868ea4f932500e0000` is hexadecimal literal in `yaml`.
Please, take a look on yalm specification [here](http://yaml.org/spec/1.2/spec.html).

Thanks!

[2018-06-29 23:49] #1960 closed

[2018-06-30 02:00] stealthybox commented on #3311
ran into this as well -- on the plus side, the info in this issue is helpful! :)

[2018-06-30 02:56] daixiang0 commented on #4283
Thanks.
My thought is that for a k8s cluster which can not connect to internet, download tiller image from usb to disk then install. Since use helm to install harbor could be better, so --tiller-image support load local image directly may be cool.

[2018-06-30 11:38] rcorre commented on #4281
Don't have ready access to a newer server, but we're updating soon. #2836 sounds like the fix, I'll reopen if not.

[2018-06-30 11:38] #4281 closed

[2018-06-30 13:10] lyptt opened #4289 "New GKE cluster not working with Helm"
Output of `helm version`:
Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.0", GitCommit:"91e7b4fd31fcd3d5f436da2

[2018-06-30 13:14] lyptt commented on #4289
I get the following log from the Tiller pod:

[code]

[2018-06-30 15:07] consideRatio commented on #4277
## UPDATE
I've figured the underlying issue is that the annotations of the PriorityClass resource is stripped somewhere along the way when loaded into kubernetes. The question now is where and why?

I'm working on a v1.10.4 alpha enabled GKE cluster. They support PriorityClasseses, and my kubectl can add annotations as well.

If I load the following PriorityClass with an annotation, it is stripped

[2018-06-30 15:15] consideRatio commented on #4277
### I forgot the `s` on `annotations` and had silent failures...
![picard-facepalm](https://user-images.githubusercontent.com/3837114/42126429-f575f69a-7c88-11e8-972a-284a51ba0ac2.jpg)

---

[code]

[2018-06-30 15:35] #4277 closed

[2018-06-30 15:43] bjornmagnusson commented on #4289
Could it be RBAC issue?
Have you seen https://github.com/kubernetes/helm/blob/master/docs/rbac.md

[2018-06-30 19:01] magicalbanana opened #4290 "helm repo add forbidden"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
GKE

When adding a repository found on Google Cloud Storage I am getting a `403` error. I'm guessing because it needs to authenticate. How do you authenticate adding a repository such as Google Cloud Storage that does not use a username and password?

[2018-07-01 12:12] vshimoda commented on #4286
sorry, i found the network trouble in my vpc, and I confirmed that it works if it is normal environment.

[2018-07-01 13:02] ashanaakh commented on #4262
@bacongobbler

Here I see, that `toYaml` function just use dependency for marshaling.

https://github.com/kubernetes/helm/blob/aa98e7e3dd2356bce72e8e367e8c87e8085c692b/pkg/strvals/parser.go#L33-L40

I reproduced this bug using helm dependency `github.com/ghodss/yaml`.

[code]

Output will be:

[code]

Actually this dependency had one more dependency, which is `github.com/go-yaml/yaml`, where this

[2018-07-01 16:52] #4286 closed

[2018-07-01 17:15] bacongobbler commented on #4290
The [helm-gcs](https://github.com/nouney/helm-gcs) plugin handles authentication and authorization to GCS.

Hope that helps!

[2018-07-01 17:15] #4290 closed

[2018-07-01 22:37] whithajess commented on #4125
Im going to close this as it looks like this is going to be improved in Helm 3 (thanks @bacongobbler) Will reopen if I feel it has missed the mark.

[2018-07-01 22:37] #4125 closed

[2018-07-02 06:30] daixiang0 opened #4291 "--service-account can not create account automally or check existence"
When install with below cmd, i found that `--service-account` can not create account automally and lead to init failed:
[code]

deploy is failed and use `kubectl describe` do not get useful info:
[code]

I delete the deploy and run below cmd before `helm init --service-account tiller`, it will be ok:

[code]

Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

If `--service-acco

[2018-07-02 06:53] olemarkus commented on #1961
/remove-lifecycle stale

[2018-07-02 07:14] daixiang0 opened #4292 "config default tiller namespace"
Could i change default tiller namespace to what i install rather than kube-system in config file,  so that after installation, i do not need to specify `--tiller-namespace` for any helm command.

Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

[2018-07-02 07:33] daixiang0 commented on #4291
Seems that detail can refer to https://github.com/kubernetes/helm/blob/master/docs/rbac.md.

[2018-07-02 07:50] daixiang0 commented on #4291
I think that true question is that there is no useful info when create deploy failed.

In fact, it is too hard to debug in those situation like this.

Maybe add a check for service account when init is cool.

[2018-07-02 08:06] alexellis commented on #1579
@jonathan-kosgei what was the fix? cc @jascott1

I have the same issue and all I can find is people saying "oh it's fixed now" kind of thing. Thanks

[2018-07-02 08:41] bergerx commented on #3805
This could be a dangerous assumption for systems in production. I didn't hit an issue on this one yet since we don't yet have the majority of the company started using Helm in production. The key question I see here is "**can I expect to find a chart in an un-upgradable state if resources are modified out of Helm?**" (sorry but I'm not sure how to create such scenario, I can look into this one lat

[2018-07-02 10:46] omyno opened #4293 "helm install fails with connection timeout"
* Output of `helm version`:
`Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}`
`Server: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}`

 * Output of `kubectl version`:
 `Client Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.0", GitCommit:"91e7b4fd31fc

[2018-07-02 11:56] hobti01 commented on #4276
The root cause of this is go templating.
[code]
Guess what happens?
[code]

Helm happily attempts to use the invalid object and fails:
`Error: failed to create patch: failed to get versionedObject: Object 'apiVersion' is missing in 'unstructured object has no version'`

One way to validate the objects is with kubectl.  I'd be happy to have an alternative:
[code]

[2018-07-02 15:46] pkrishnath commented on #2947
same issue here with version 2.9.1

[2018-07-02 19:50] RudyBone commented on #2759
Don't see the following dependency issue discussed above.  Using helm 2.9, if Chart A depends on B and C and, both of those Charts depend on D and D contains a resource def (say a service ) to be shared by B and C, after Chart B is deployed (including D) then C's deployment fails when it goes to deploy D since the service already exists in the cluster.  A single dependency tree should be built com

[2018-07-02 23:50] bacongobbler commented on #3820
fixed

[2018-07-02 23:50] #3820 closed

[2018-07-03 08:11] lyptt commented on #4289
Yeah looks like this was the issue, I had to manually create the roles & bindings before Helm was happy.

[2018-07-03 08:11] #4289 closed

[2018-07-03 09:37] huang-jy opened #4294 "Feature Request: Allow a chart to override action timeout value"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
GKE

This is a sort of a feature request.

For the chart I am working on, I have a long-running hook that generates several disks on GKE prior to the rest of the install kicking in (it's on the pre-install hook) -- however, this hook can take more than the default 5 minutes tim

[2018-07-03 09:37] fentas commented on #3616
Ok solved it for me.
Point the value `externalIP` to the host you want it to expose. :+1:

[2018-07-03 12:30] gintautassulskus commented on #4259
Does not seem to work in v2.9.1:
[code]
Still getting:
`Error: apiVersion "certmanager.k8s.io/v1alpha1" in ca-issuer.yaml is not available`

[2018-07-03 13:13] gintautassulskus opened #4295 "Empty helm chart is successfully deployed AND returns "Error: no objects visited""
I have a chart with a set of conditional dependencies. Under certain circumstances, all of the dependencies may be omitted resulting in an empty chart.

As expected, this empty chart is successfully deployed but at the very end of the process helm spits out "Error: no objects visited" and my wrapper scripts terminate.

To my understanding Helm should be able to handle empty charts without any erro

[2018-07-03 14:29] gintautassulskus commented on #4259
Thanks. I misunderstood that 2.9 is not the same as 2.9.* and that 2.9 != 2.9.1

[2018-07-03 14:29] bacongobbler commented on #3616
Closing as an upstream issue. Thanks for the report!

[2018-07-03 14:29] #3616 closed

[2018-07-03 14:35] bacongobbler commented on #4259
Oh sorry! Probably getting lost in translation. When I mean 2.9 I really mean 2.9.x, which is to say that this feature does not exist in any 2.9.x release tag. :)

[2018-07-03 15:13] justinhauer opened #4296 "Helm Install fails to download file from github"
## Issue and output:
Helm cannot download files from github whether it is in AKS or in my local with Minikube. This is regardless of what file it is. Does github need to be added to the .helm/repositories/repositories.yaml file? Running `helm repo update` does nothing. I am running a fresh install of kubectl, helm, and minikube to try and remove any variance from initial download:

~ helm install

[2018-07-03 17:06] puco commented on #3348
Any activity on this? Or any advice how to deal with Jobs that I need to run during upgrade?

[2018-07-03 17:09] victorcete commented on #3701
+1 here

kubernetes v1.9.6
helm v2.9.1

Helm looks correct,
[code]

but the Deployment in Kubernetes is not reflecting the same variable value:
[code]

[2018-07-03 17:21] bacongobbler commented on #3701
@victorcete any chance you can supply the templates and the command used to install the project? THat would help identify the bug, if any. :)

[2018-07-03 17:22] victorcete commented on #3701
@bacongobbler definitely! I need to obfuscate the template a bit but I'll share the timeline of events, the commands and a more detailed explanation of the problem in a bit

[2018-07-03 20:48] #3330 closed

[2018-07-03 22:39] sebasalvarado opened #4297 "Unreadable Docs - Using Helm Section"
## Issue:

In the main docs, the section `Using Helm` has styles that are completely broken. The text is shifted to the right and it gets hidden under the left hand side panel.

Here are the pictures of how it looks with different browsers

Hardware:
- macOS High Sierra Version 10.13.4

Google Chrome Version 67.0.3396.99

<img width="1680" alt="screen shot 2018-07-03 at 6 35 21 pm" src="https://us

[2018-07-03 22:43] gintautassulskus commented on #4287
Many thanks, @bacongobbler. I thought this works only with charts from remote repos.

[2018-07-03 23:28] vikas027 commented on #3616
I ended up not using the helm chart and automate stuff thru Ansible.

[2018-07-04 02:41] bacongobbler commented on #4297
Oh interesting! I managed to hit this after clicking a few links on the site too.

cc @flynnduism, any insight into this particular issue?

[2018-07-04 02:42] bacongobbler commented on #3616
FYI the best way to inspect why load balancers may not be provisioning is to use `kubectl describe svc my-service`. It's not necessarily a Helm issue, but something happening in the k8s cluster :)

[2018-07-04 07:16] flynnduism commented on #4297
I've rebuilt the docs, the layout is corrected now: [https://docs.helm.sh/using_helm/](https://docs.helm.sh/using_helm/)

This layout bug is a regression, I'm investigating it to determine why the previous build went awry build.

[2018-07-04 08:03] ananthmkh opened #4298 "helm tiller connection issue"
Hi,
i had setup K8s on Ubuntu.. installed hel and tiller.. even installed  nginx-ingress through helm command below
ubuntu$ helm install --name ingress -f nginx-ingress-values.yaml  stable/nginx-ingress --namespace apiconnect

after a day, restarted the Ubuntu... since then Tiller is not available.. here is the kubectl and helm version command result...

I'm new to K8s and helm.. **May I know what

[2018-07-04 08:59] subesokun opened #4299 "helm dependency build doesn't respect repo credentials"
I've setup a private Helm repository via the Chartmuseum and enabled Basic Authentication on it. Adding that repo via `helm repo add myrepo https://myrepo.com --username=user --password=pass` worked as expected and I was able to run `helm repo update`. But when I try to build my dependencies via `helm dependency build .` the command exists with a `401 Unauthorized` error when trying to download th

[2018-07-04 11:11] prein commented on #4174
Same here. I got this error and it took me ages to correlate it with YAML error. Thanks @dragon9783 for sharing your finding.
I'll think of how to test the YAML before running into that misleading error.

[2018-07-04 11:36] sjvp opened #4300 "child chart requirements.yaml alias not respected by parent when processing values.yaml"
I'm trying to create an umbrella chart that includes subcharts.  One of the subcharts is using `requirements.yaml` with an alias, i.e.
[code]

The subchart is using this alias within its `values.yaml`, i.e.:
[code]

This works as expected at runtime.  Running `helm template subchart.tgz --debug`:
[code]

The umbrella chart build is putting the above prepackage tgz into `charts/`.  But when I run

[2018-07-04 12:38] ananthmkh commented on #4298
i had to restart docker service after the Ubuntu OS got rebooted...

[2018-07-04 14:37] ssavrim commented on #4134
I confirm '--wait' didn't work

[2018-07-04 15:55] sjvp opened #4302 "Helm hooks not being processed in Kind order"
`helm create hooktest`, delete existing templates and add `test.yaml`:

[code]
Running `helm install hooktest --debug --dry-run` many times shows the order changing, usually Job first.

I had expected the normal Kind ordering to apply such that Job is always after Service, but that does not appear to be the case.

The [doc](https://github.com/kubernetes/helm/blob/master/docs/charts_hooks.md#writin

[2018-07-04 17:10] ReSearchITEng opened #4303 ""helm init --client-only --tiller-namespace tiller" ignores "--tiller-namespace" section (and still needs export TILLER_NAMESPACE=tiller)"
Running:
`helm init --client-only --tiller-namespace tiller` works fine.
but when we try:
`helm list`
we get error:
"Error: could not find tiller" (but it installed fine and working in the namespace "tiller" )
Once we export var:
`export TILLER_NAMESPACE=tiller`
everything is fine (helm list, helm install, etc)

The fact that `helm init --help` states that "--tiller-namespace" is a global variable

[2018-07-04 17:29] bacongobbler commented on #4303
Thanks for the feedback, by the way. Yeah, the `--tiller-namespace` flag is a one-off flag, and we do mention that if you want to persistently connect to a specific tiller in a given namespace you should use the TILLER_NAMESPACE envvar.

Is there somewhere we can make this better? Perhaps you'd be interested in clarifying in the documentation?

[2018-07-04 17:46] bacongobbler opened #4304 "`helm template -x` fails on windows, but not on linux/mac"
Seems to be another Windows pathing issue somewhere in `helm template`.

On Windows, this example works fine:

[code]

But as soon as you tack on the `-x` flag, it renders nothing:

[code]

This appears to work just fine on linux though.

[2018-07-04 17:47] bacongobbler commented on #2456
https://github.com/kubernetes/helm/issues/4304 is another windows-specific bug

/remove-lifecycle stale

[2018-07-04 17:49] bacongobbler commented on #4304
tacking this on as a good first issue because it is working on other systems, just not on Windows.

[2018-07-04 18:45] dragonsmith commented on #2196
Hello!
For all who's interested, I wrote a tool that converts Tiller's ConfigMaps to Secrets like it was proposed in the [comment above](https://github.com/kubernetes/helm/issues/2196#issuecomment-317557164)
Take a look at this repo:  https://github.com/dragonsmith/tiller-releases-converter

Here is a short write-up about the problem: https://dev.to/evilmartians/painless-migration-of-existing-helm

[2018-07-04 20:06] bacongobbler commented on #2196
@dragonsmith not to dissuade you, but Tiller has had the option to store release information as secrets via the `--storage` flag, and has been available since 2.7.0 :) https://docs.helm.sh/using_helm/#storage-backends

However, I could definitely see this being useful as a migration tool!

[2018-07-04 20:19] bacongobbler commented on #2196
To answer your questions, @itaysk,

yes, storing release information as Secrets has been available since 2.7 via #2721. The comment you mention about pulling it off 2.7 was just the fact that we were close to considering pulling it off the milestone due to inactivity, but we managed to squeeze it in on the day before the release was cut.

no. It's considered "partially implemented" because the OP

[2018-07-04 20:54] sebasalvarado commented on #4297
Thanks! @bacongobbler @flynnduism should I close this issue?

[2018-07-04 23:40] #2334 closed

[2018-07-05 02:46] nkkashyap opened #4306 "enable helm to query configmap object to select values.yaml path"
Output of `helm version`:

Output of `kubectl version`:

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

We have a usecase where we are storing the K8S cluster region label in a configmap object.
Now, I want to maintain multiple `values.yaml`, one for each region. For this, I want to create multiple subfolders and keep a `values.yaml` under a subfolder.
Depending on the value of the region key

[2018-07-05 03:19] bacongobbler commented on #4306
It might not be useful as a core feature, but it'd probably be a neat plugin! https://docs.helm.sh/using_helm/#the-helm-plugins-guide

If the community thinks it's a good project to move to core then we can discuss it. Generally we're trying to keep new features in Helm 2's core to a minimum.

[2018-07-05 03:51] #3324 closed

[2018-07-05 03:51] #2996 closed

[2018-07-05 03:51] #2955 closed

[2018-07-05 07:00] prabhakar-pal opened #4308 "Helm 2.8.2: helm upgrade --install does not install if the package is not already installed"
helm upgrade --install does not install if the package is not already installed

$ helm --host tiller-deploy.kube-system.svc.cluster.local:44134 upgrade --install --timeout 900 --wait storageclass test/storageclass/1.2.0.624/storageclass-dnac-1.2.0+624.tgz
WARNING: Namespace doesn't match with previous. Release will be deployed to maglev-system
Error: UPGRADE FAILED: "storageclass" has no deployed

[2018-07-05 08:48] dragonsmith commented on #2196
@bacongobbler

Yeah, I'm exploiting exactly that, and I've mentioned it in the [write-up](https://dev.to/evilmartians/painless-migration-of-existing-helms-tiller-setup-to-kubernetes-secrets-d1p) (sorry, it seems dev.to doesn't provide direct links to headers.)

Still, it is the problem to migrate from ConfigMaps to Secrets for Tiller if you have a lot deployed via Helm.

This small app is about he

[2018-07-05 09:13] luongvo209 commented on #3581
/remove-lifecycle stale

[2018-07-05 09:14] luongvo209 commented on #3581
/remove-lifecycle rotten

[2018-07-05 10:29] anandsinghkunwar commented on #1580
@ptagr I was trying to use `required` function in _helper.tpl, do you have an example?

[2018-07-05 10:50] irajdeep opened #4309 "Mark a particular version of Chart as deprecated"
The current deprecating strategy marks the entire chart as deprecated.
Would be nice if there was an option to mark a particular version of the helm chart as deprecated

[2018-07-05 11:43] Draiken commented on #1193
Is there someone assigned to fix this? Is there a PR for this already? Can I help with anything?

I've been bitten by this issue more than once since it's an easy situation to get yourself into but apparently there's no easy way to get out of. I suppose the "good" part in my case is that resources are updated even with the error on the release (not sure that makes me happy or worried)

I think hel

[2018-07-05 13:28] indiebrain commented on #4294
We too have a similar issue as described by @huang-jy. We deploy a Rails app on a local Kuberentes cluster. We run our Rails migrations in a pre-hook. With the size of our database we sometimes exceed our `--timeout` setting - by several 10s of minutes -  when running these migration jobs. Currently we bump the `--timeout` value as a work around, but this has the unintended consequence of prolongi

[2018-07-05 14:23] max-rocket-internet commented on #1579
@alexellis is your issue like this? i.e. in a range (loop)?
https://github.com/kubernetes/helm/issues/1311

[2018-07-05 14:53] tldoty opened #4310 "2 subcharts with different versions results in one not being rendered during dry-run/install"
Output of `helm version`:
Client: &version.Version{SemVer:"v2.8.2", GitCommit:"a80231648a1473929271764b920a8e346f6de844", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.8.2", GitCommit:"a80231648a1473929271764b920a8e346f6de844", GitTreeState:"clean"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.6", GitCommit:"9f8ebd171479bec0ada837d7e

[2018-07-05 14:57] aelbarkani commented on #4300
Maybe related to https://github.com/kubernetes/helm/issues/3734 ?

[2018-07-05 15:07] fracasula opened #4311 "helm install keeps installing old dependencies that are not in the requirements.yaml file anymore"
Every time I do an `helm install MY_RELEASE` helm installs some old dependencies even though they are not in the `requirements.yaml` and `requirements.lock` files anymore.

I tried a `minikube delete` then `rm -Rf ~/.helm` but it keeps installing those deps. Once I do the `helm install` right after wiping out everything I found out that the old deps show up in this file `~/.helm/repository/cache/f

[2018-07-05 15:16] alexellis commented on #1579
No, I think I was missing a part of the reference putting `--set create=true` instead of `--set operator.create=true` - that was not clear from the error. Hope this helps someone else.

[2018-07-05 15:39] sebasalvarado commented on #3030
I'm experiencing the same issue. The command `helm upgrade` was successfuland when I run `helm history <name>` I get that the latest status was DEPLOYED. Also, I look at the manifest files from Helm via `helm get <name>` and they look great. But when I check my deployment directly with `kubectl` commands I see that it has not been updated. I verified that is not an indentation issue. Not sure if I

[2018-07-06 07:54] sta-szek commented on #4308
for `upgrade --install` I have similar issue.
I noticed that it happens in the following situation (99%):
* `upgrade --install` **first time** -- it breaks because of some issues with helm chart or applications and deployment is failed
* each next deployment fails due to `Error: UPGRADE FAILED: "storageclass" has no deployed releases`

When the first deployment is success and second is failed due

[2018-07-06 10:53] AkashKrDutta opened #4314 "Variables are referenced in the scope of parent chart for template functions in sub-chart"
While we can refer to the template functions of sub-charts from the parent ([here](https://github.com/kubernetes/helm/blob/master/docs/chart_template_guide/subcharts_and_globals.md#sharing-templates-with-subcharts)) but the variables are still referenced in the scope of the parent chart.

Consider the code segment:
[code]
which is defined in the `subchart (child)`'s `_helpers.tpl`. I also have the

[2018-07-06 13:55] sgrigorev opened #4315 "Helm removes a namespace after upgrade command"
**Description:** I want to have a chart that installs workloads into specified namespace. Installation is going successful but when I try to do upgrade, helm deletes namespace and everything inside it.
In future I'm planning to have charts for each namespace in order to have able to package them into main one. For this reason, I don't use the `--namespace` key.

**Steps to reproduce:**
You can use

[2018-07-06 14:15] sgrigorev commented on #4315
This is my dumb mistake. I must not override the `shouldCreateNamespace` variable. I'm closing the ticket.

[2018-07-06 14:15] #4315 closed

[2018-07-06 14:39] bacongobbler commented on #4299
cc @eyalbe4

[2018-07-06 16:23] TD-4242 commented on #1780
I'm running into an identical issue.  I have a db migration script set as a pre-install hook that, prior to my current task, depended on the database being manually deployed prior to the service that includes the migration.

Now, trying to merge the charts into a parent chart that installs an external service for postgresql (pointing to an RDS instance) the chart with the pre-install hook executes

[2018-07-06 17:09] #3627 closed

[2018-07-06 20:36] #3633 closed

[2018-07-06 20:46] jfrederickson commented on #3384
I'm not sure if this is related, but I'm experiencing what appears to be the same issue with the official binary of Helm 2.9.1.

[code]

`openssl s_client` with the `-CAfile` option, to the same server and with the same CA cert, connects successfully.

[code]

Helm version:
[code]

If this is related, is there any additional info I can give you that would be helpful in tracking this down? (Apologi

[2018-07-06 20:48] bacongobbler commented on #3384
hey @jfrederickson! how did you install the helm client?

If it was installed via Homebrew, we know of one particular issue where helm clients installed via homebrew can get compiled with an older release of Go which didn't respect MacOS's cert keychain.

[2018-07-06 20:49] jfrederickson commented on #3384
I just put the official binary from the GitHub releases page in my PATH - it's not installed through Homebrew:

[code]

[2018-07-06 20:53] bacongobbler commented on #3384
Ah sorry about that! I missed the "official" part of your comment. :)

I see nothing wrong with your usage, sorry! Let us know if you find out anything.

[2018-07-06 20:56] bacongobbler commented on #3732
ping, does that answer your question? :)

[2018-07-06 21:13] jfrederickson commented on #3384
Well, I just compiled a local copy of helm from master, which was able to successfully verify my chart repo's cert. The official binary for `v2.10.0-rc.1` also works, `v2.9.0` also does not. Wonder if something changed on the official build server. (In any case, I _think_ I should be fine using a newer helm binary?)

[2018-07-06 23:19] jascott1 commented on #4311
@jdolitsky do you have any insight wrt to chart museum doing anything with the cache?

[2018-07-07 02:48] koulq opened #4316 "Is there a plan to add user permissions to chart and release?"
Is there a plan to add user permissions to chart and release?
Output of `helm version`:

Output of `kubectl version`:

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

[2018-07-07 07:17] ryandawsonuk opened #4317 "tpl function and sidecar pattern"
I was recently introduced to the use of the tpl function to allow chart consumers to e.g. define whole containers as strings inside the values.yaml using template directives and see those injected into the deployed chart. I have the stable/keycloak chart in mind (https://github.com/kubernetes/charts/commit/8f5c3426d9597a902d57bea378dc628ea2b91c20) but this 'sidecar pattern' is present in other cha

[2018-07-07 07:31] ReSearchITEng commented on #4303
Thanks for the reply.
In our case tiller is installed, but helm client forgot which
namespace to use (even if it was specified at client install time via
--tiller-namespace param).

Does Helm client have any persistence on the disk? If so, IMHO
namespace should be stored there at client installation time (if
--tiller-namespace was provided).
This way, `helm init --client-only --tiller-namespace my

[2018-07-07 07:32] ryandawsonuk opened #4318 "Prefixing services with release name"
A fixed name for a chart resource is regarded as bad practice according to https://docs.helm.sh/chart_template_guide/ But what about a parameterised name like resource.name that can be set in the values.yaml? For the service in particular it can be useful to control this to make discovery simpler for microservices applications where services need to talk to one another (see e.g. https://github.com

[2018-07-07 20:40] cjbottaro commented on #3130
@innovia Where to put the rbac config file?

[2018-07-07 22:14] #3380 closed

[2018-07-07 23:35] cjbottaro opened #4319 "Rendering a file directly (not using a "named" template)"
Is there way to to just send a file through the rendering engine? Something like:
[code]

It seems tedious and unnecessary to name all my templates with a `{{ define ... }}` directive.

Thanks.

[2018-07-07 23:58] #2789 closed

[2018-07-08 01:21] cjbottaro commented on #4319
I just found the `tpl` function and I'm glad it was added... but two thing:
1. It doesn't work #3054
1. I find it extremely obtuse for what seems to be its main purpose: creating configmaps

[code]

I feel like there should be a convenience function like:
[code]

Or something like that.

Thanks.

[2018-07-08 13:41] innovia commented on #3130
@cjbottaro did you read the post i wrote [Hwo to setup helm and tiller per namespace](https://medium.com/@amimahloof/how-to-setup-helm-and-tiller-with-rbac-and-namespaces-34bf27f7d3c3) ?

I don't follow your question, can you please re-explain?

[2018-07-08 18:39] colinhoglund commented on #2780
I've gone through a few iterations of how to handle setting sensitive environment variables. Something like the following is the simplest solution I've come up with so far:

template:
[code]

values:
[code]

Pros:
- syntax is pretty straightforward
- keys are easily mergeable. This came in useful when creating CronJobs with shared secrets. I was able to easily override "global" values using the fo

[2018-07-09 00:15] HeWhoWas commented on #3553
Please don't close this issue - it impacts us quite heavily as having to fork charts just to add the namespace metadata is arduous.

[2018-07-09 00:39] patoarvizu commented on #4310
I'm seeing similar behavior but sounds like it's under different conditions. In my case I'm trying to deploy different aliases of the same version of a chart (with different values) and it still only deploys one set. I tried deploying different versions and I'm still seeing the same issue.

In my case, it looks like `helm dep up` just ignores the `alias` field, or at least it doesn't save it in `r

[2018-07-09 01:09] jpaulgs commented on #3785
Is there an update here?

I've encountered this a couple of times with 2.8.1, The first time it was caused because pods had failed to be deployed by kubernetes (no node had enough resources).  However I've encountered this error again today with no obvious cause.

[code]

[2018-07-09 01:31] cjbottaro commented on #3493
Same. Just ran into this issue. My chart has nothing but very small deployment and service templates.

`helm install --name indexer_app ...` fails.
`helm install --name indexer-app ...` succeeds.

[2018-07-09 02:14] bacongobbler commented on #3785
I believe this is a duplicate of https://github.com/kubernetes/helm/issues/1193, of which I *think* I've managed to find the behavior that causes this bug. Haven't heard of any good solutions to the problem so far, though.

[2018-07-09 02:16] bacongobbler commented on #3785
long write-up on the bug's behavior and the attempted solutions can be found here: https://github.com/kubernetes/helm/pull/4223#issuecomment-397413568

[2018-07-09 02:18] bacongobbler commented on #1193
If anyone else can determine the other edge case where deleting the resource didn't solve the issue, that would be very helpful in determining the root cause. There may be multiple paths that can end up with the same error.

[2018-07-09 02:20] bacongobbler commented on #1193
@Draiken no, we've attempted multiple solutions to the problem, and none of them seem reasonable. I wrote up about those solutions [here](https://github.com/kubernetes/helm/pull/4223#issuecomment-397413568) and why they won't work. If you can figure out an alternative solution, we'd be happy to take a look at it.

[2018-07-09 05:52] atmouse- commented on #3722
Can not rollback to last successful revsion
[code]

[2018-07-09 06:59] jascott1 commented on #4314
Hi @AkashKrDutta

You should be able to pass the subhcart's values to the helper func since you are in the parent context although that might require changing the func, I don't know if that works for you.

[2018-07-09 07:01] jascott1 commented on #4316
Hi @koulq

Could you elaborate more on what you mean by "add user permissions to chart and release"?

[2018-07-09 07:13] anandsinghkunwar commented on #4314
Isn't there any way to switch the child context, something like `with` keyword?

[2018-07-09 07:19] jascott1 commented on #4310
Hi @tldoty This is probably "undefined behavior" but I suspect that 'alias' implies same chart and same version. As @patoarvizu points out, the docs essentially say "copy/pasting the _same_ chart".

@patoarvizu IIRC you are correct and `helm dep` is not alias aware. You should manually control the aliased charts on disk.

[2018-07-09 07:34] sjvp commented on #4302
Indeed, so Services should be installed before Jobs.  That is not what I observed in the above testcase.

[2018-07-09 07:40] jascott1 commented on #4288
Hi @RudyBone

Sorry for the pain but charts are duplicated in the way you described. There is a relative `file://` option for dependencies that would allow you to keep them separately if that helps.

[2018-07-09 10:08] #3352 closed

[2018-07-09 11:43] AkashKrDutta commented on #4314
@jascott1 yes I can do that. But that doesn't fulfill the actual need. I want the use the child template function without causing any change to the child template (The method you state will require me to use global values etc. that will change the child template. This is not the way helm is ought to behave, right? The child template should itself be able to be deployed as a stand-alone, as well, i

[2018-07-09 13:34] RudyBone commented on #4288
Can you point me to an example of how to use the file:// option?  Does it go in the requirements.yaml?

[2018-07-09 13:56] patoarvizu commented on #4310
@jascott1 Wait, I don't get it. Then what's the point of having `alias`es if I'll have to manually control the versions? Are you saying that `alias` is just the mechanism to have multiple versions of the same chart? That would seem to contradict the example given here: https://docs.helm.sh/developing_charts/#alias-field-in-requirements-yaml

[2018-07-09 14:08] Kemyke commented on #3251
This answer helped me to solve this issue: https://stackoverflow.com/a/48551402/5506379

[2018-07-09 14:42] meeech commented on #3889
Can anyone from helm team comment on possibility of this being fixed for clusters older than 1.10?

[2018-07-09 14:49] bacongobbler commented on #3889
Maybe? The kubernetes resource reaper is purely client-side. They've been changing APIs every release so it's possible there was a regression introduced upstream. In 1.11 the client-side reaper is gone in favour of a server-side reaper. We don't have support for 1.11 yet due to how many breaking changes were made in the client APIs, but if the reaper is server-side then the situation should be bet

[2018-07-09 15:22] Xtigyro commented on #3480
Yes - it's still here when doing:
[code]

[2018-07-09 15:44] mattfarina commented on #3628
/remove-lifecycle rotten

[2018-07-09 16:18] prydonius commented on #4309
I'm curious what the usecase for deprecating a particular chart version would be, and why simply publishing a newer version isn't enough?

[2018-07-09 16:33] dimhoLt opened #4321 "Feature Request: `helm ls` sort by chart name"
Hello people! Thanks for a great tool in helm!

As [the documentation states](https://docs.helm.sh/helm/#helm-list), helm will by default sort by release name, and optionally (with the `-d` / `--date` flag) by release date.

**TL;DR**
I would like to request the ability to sort releases by chart name.

**Background**
Our use case, for completeness, is that we have a distributed computing system wi

[2018-07-09 16:51] bacongobbler commented on #4296
I did not hit this error:

[code]

Perhaps it's a networking error on your end where it cannot download the tarball?

[2018-07-09 17:15] irajdeep commented on #4309
Okay, so we have application chart(s) which have dependency on few sub-charts.
The sub-charts undergo changes and new versions are released every time and people need to bump the version of the sub-charts in the `requirements.yaml` (application chart).

At times developers forget to bump the version of the subcharts in requirements and continue to use the older versions. We would like to throw a w

[2018-07-09 17:45] mattfarina commented on #4100
@unguiculus I would like to see us have multi-lingual docs. There's an issues for [Antora to support i18n](https://gitlab.com/antora/antora/issues/208) but nothing is implemented as of, yet. Gitbook as support (though weak) for it that we can build on (a slight addition to a custom theme).

I've added this topic to the helm developer call discussions. I'll come back to this after we chat there.

[2018-07-09 17:49] mattfarina commented on #2071
@bacongobbler I cannot remember how I experienced that or fixed it.

[2018-07-09 17:55] technosophos commented on #4030
The escape character for the `--set` parser is `/`.

Char '\\' cited in the code above is the `\` character, escaped per Go's escaping rules.

Keep in mind that you have the shell interpreting things here, too. So often you have to double escape things because the shell will interpret `\` as an escape sequence. Thus, you might need to do `\\` to escape the `\` character for the shell. And in some

[2018-07-09 20:33] prydonius commented on #4309
@irajdeep interesting, I'm not actually sure if Helm will complain if a particular chart in requirements.yaml is deprecated. @bacongobbler what do you think about this?

[2018-07-09 20:57] bacongobbler commented on #4309
all for it.

Similar ask for pypa: https://github.com/pypa/warehouse/issues/345
npm package for marking npm packages as deprecated: https://docs.npmjs.com/cli/deprecate
bit of a deeper dive on the sematics of deprecating packages vs. un-publishing packages (for VSTS, but applies to package managers in general): https://docs.microsoft.com/en-us/vsts/package/npm/deprecate-unpublish

[2018-07-09 21:07] prydonius commented on #4309
@bacongobbler the npm example is interesting, I wonder if it makes sense to extend the deprecation metadata in Helm 3 to support version ranges.

[2018-07-09 21:09] bacongobbler commented on #4309
cc @jdolitsky

[2018-07-09 21:14] gkarthiks opened #4322 "tiller-namespace is doing a shallow string search"
Output of `helm version`:
**Client**: &version.Version{SemVer:"v2.9.0", GitCommit:"f6025bb9ee7daf9fee0026541c90a6f557a3e0bc", GitTreeState:"clean"}
**Server**: &version.Version{SemVer:"v2.9.0", GitCommit:"f6025bb9ee7daf9fee0026541c90a6f557a3e0bc", GitTreeState:"clean"}

Output of `kubectl version`:
**Client Version**: v1.10.0
**Server Version**: v1.9.1+a0ce1bc657

Cloud Provider/Platform (AKS, GKE

[2018-07-09 23:00] ivandov commented on #3920
I just hit this when trying to access a properly defined template from my main chart in my subchart.

A slightly-less-hacky workaround would be to define a template in your main chart with its own `.Chart.Name` hardcoded. This way, you can reference that template in subcharts and only have to worry about keeping the hardcoded value correct in one place, the main chart's `template/_helpers.tpl`.

S

[2018-07-10 01:05] stevvooe commented on #4149
I've been looking into this recently and it looks like there are a few major problems that prevent one from doing a secure tiller setup:

1. The base tiller configuration uses `kubectl proxy`. This will invalidate any tls setup available, making `--tls-verify` unusable without the `--host` flag.
2. To use the `--host` flag, one must expose tiller securely outside the cluster. This can be via ingre

[2018-07-10 01:47] #3216 closed

[2018-07-10 02:57] cjbottaro commented on #3130
@innovia Nevermind, I figured it out. Just had to run
[code]

[2018-07-10 07:05] muratg commented on #4030
I was playing with `stable/registry` chart today, and hit this issue. I was passing `htpasswd` file contents to `--set`. `$` character was the culprit.

Workaround was just escaping it, but finding the root cause took a little while!

[2018-07-10 09:48] MiaoZhou commented on #4248
same issue occurs when using `incubator/mysqlha` helm chart

[code]

[code]

[2018-07-10 09:53] MiaoZhou commented on #4248
@zhucebuliaolongchuan

`the relevant  statefulsets are not available`, Perhaps because of the associated resource has been deleted, such as svc, ing, etc.

[2018-07-10 10:07] ahilsend commented on #4302
I'm seeing the same behaviour with Role and RoleBinding. My pre-install job requires role permissions, but since the pre-install hook is not ordered by Kind it fails.

Is this a bug for hooks?

[2018-07-10 11:43] dszmaj commented on #3706
ok, @ocofaigh great you solved it, but this answer is not helpful for others, please specify those firewall rules which caused the problem

[2018-07-10 11:56] kesselborn commented on #4282
hey: I just had the same problem and it looks like the problem only exists, if the helm release name has a `-` in its name.

@estahn could you check if changing the name from `cheeky-chick` to `cheekychick` works for you?

[2018-07-10 13:29] dszmaj commented on #3441
Hey @huang-jy , have you solved this issue? It seems I have exactly the same one with error like:
`Error: UPGRADE FAILED: Get https://10.43.0.1:443/api/v1/namespaces/kube-system/configmaps?labelSelector=NAME%!D(MISSING)registry%!C(MISSING)OWNER%!D(MISSING)TILLER%!C(MISSING)STATUS%!D(MISSING)DEPLOYED: dial tcp 10.43.0.1:443: connect: no route to host`

[2018-07-10 13:30] huang-jy commented on #3441
@dszmaj in my case, I had to add more nodes to my cluster to allow the load to be spread across the cluster.

[2018-07-10 13:33] dszmaj commented on #3441
thank you for insanely quick response

unfortunately this is not the case, I have 4 big empty workers waiting for load

thanks for your insight :)

[2018-07-10 14:11] huang-jy commented on #3441
Trying doing a

`watch kubectl get pods --all-namespaces | grep -i tiller`

as you do your deploy and see if tiller dies out.

[2018-07-10 14:35] bjornmagnusson opened #4323 "[2.10-rc1]: helm ls on fresh cluster causes panic: runtime error: invalid memory address or nil pointer dereference"
Running `helm ls` on fresh cluster with no deployed releases causes below error.
Deploying a single Helm Chart fixes the issue

panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x30 pc=0x1276506]

goroutine 1 [running]:
main.(*listCmd).run(0xc4200d7290, 0xc42065a800, 0x1390a80)
        /go/src/k8s.io/helm/cmd/helm/list.go

[2018-07-10 14:36] maetthu commented on #4297
@sebasalvarado Looks like it's only partly fixed. Most anchors in the menu don't work and if you scroll down to the bottom, the layout is still screwed up. Looks like a part of the page is appended again to the end of the document.

[2018-07-10 14:43] #3581 closed

[2018-07-10 15:56] seglo commented on #4066
Unless there's another way to check if a variable is defined, then this shouldn't fail lint with `--strict` IMO.

[2018-07-10 17:58] #4298 closed

[2018-07-10 18:04] flynnduism commented on #4297
@maetthu @sebasalvarado I've fixed and pushed a fix to the site: [https://docs.helm.sh/using_helm/](https://docs.helm.sh/using_helm/)

The glitch arising from a fresh site build happened again this morning; I'm working on the CI script today to resolve this and to stop it occurring. Apologies for the inconvenience.

[2018-07-10 18:08] #4297 closed

[2018-07-10 20:42] pv93 commented on #4282
I have a release with no '-' in it, and still have the same problem.

[2018-07-10 20:44] kesselborn commented on #4282
ok ... a colleague of mine had the same problem without a `-` later as well. It's weird. Another thing I noticed was, that the pod at first was crashing -- perhaps that's a lead. I will look into it tomorrow.

[2018-07-10 22:07] #1952 closed

[2018-07-10 22:15] michelleN commented on #4302
Hey @sjvp! I believe the word `Kind` in that doc statement you pointed out should be lowercase. It is referring to kind of hook (`pre-install`, `post-install`, etc) and not `Kind` of Kubernetes resource.

There is no guarantee around what order hooks of the same kind will be executed in without adding a `hook-weight`. So if you have two `pre-install` hooks, you could consider adding weights to the

[2018-07-11 00:09] #3004 closed

[2018-07-11 03:03] bamb00 commented on #4269
Can someone help with resolving this issue?

[2018-07-11 10:55] ptylenda opened #4326 "Cannot perform helm init behind proxy"
Output of `helm version`: v2.10.0-rc.1 (https://github.com/kubernetes/helm/releases/tag/v2.10.0-rc.1)

Output of `kubectl version`: v1.11.0

Cloud Provider/Platform (AKS, GKE, Minikube etc.): bare metal

Description:
When checking the latest RC version (https://github.com/kubernetes/helm/releases/tag/v2.10.0-rc.1) I am unable to perform "helm init" behind proxy:
[code]

My environment is set prope

[2018-07-11 11:47] wknapik commented on #2804
/remove-lifecycle stale

[2018-07-11 13:20] dszmaj commented on #3441
It turns out that it is a networking problem just as everyone was pointing it out in internet, canal for some reason is craching on 2 machines and tiller was deployed inside one of them thus making it unavailable for cross culster requests

[2018-07-11 13:32] #4302 closed

[2018-07-11 14:02] chenzhiwei opened #4328 "helm install is not a transaction action"
Output of `helm version`: v2.7.2

Output of `kubectl version`: v1.10.0

Cloud Provider/Platform (AKS, GKE, Minikube etc.): Custom environment

helm install may success partially due to etcd connection timeout or something else.

when I want to retry the helm install I need to delete the release and then install.

So I want to ask is there a command line argument that allows helm remove the partial

[2018-07-11 14:08] mattfarina opened #4329 "Feature Request: Notify when a new version of Helm comes out"
There are many versions of Helm being used and regularly downloaded (possibly via CI). We should notify users that a newer version is available.

Proposed method...
1. Regularly (not on every run but on first run) check if there is an update (a flag can disable this)
1. Check a URL on helm.sh with a JSON file of version details (including hashes)
1. Compare semver internal version to list. If a ne

[2018-07-11 14:33] michelleN commented on #4288
Yes it goes in the requirements.yaml file. [Here](https://github.com/kubernetes/helm/blob/master/docs/chart_best_practices/requirements.md#repository-urls) is some more info.

[2018-07-11 14:35] aliasmee commented on #2434
@olalonde
try this.
[code]

[2018-07-11 14:38] aliasmee commented on #1707
@technosophos  thanks.
Example:
[code]

it's work for me.

[2018-07-11 15:25] bacongobbler commented on #4329
I think this is great. Minikube has had this for a while and it’s a nice feature to nudge people when a new release is out.

I wonder if third party projects around Helm are parsing Helm’s output. That might complicate things unless we display it on stderr possibly? Don’t know what the right course of action may be for that scenario, but in the general case this sounds like a good idea. 👍

[2018-07-11 17:16] shikhasriva opened #4330 "addressing authorization when deploying through helm cli and tiller"
As a user with roles, I should be able to deploy charts only to the namespace I have access to
We are using  Kubernetes User Impersonation to bridge the authorization gap. See the details below

[2018-07-11 17:48] kojustin opened #4331 "Helm should not ignore namespace passed on command line"
I have the prometheus operator running in my cluster. I want to test a new version of the prometheus operator by running it in a separate namespace. I used the "--namespace" option with the existing release name. Instead of deploying into the namespace that I specified with the "--namespace" option, it prints a warning and deploys into the original namespace.

[code]

While I understand the motiva

[2018-07-11 18:00] bacongobbler commented on #4331
@kojustin can you provide more details on the specifics? Thanks

[2018-07-11 18:03] kojustin commented on #4331
@bacongobbler I opened the issue too early without writing up all the whole issue. I've updated the first comment.

[2018-07-11 18:09] fibonacci1729 commented on #4323
fixed by #4325

[2018-07-11 18:09] #4323 closed

[2018-07-11 18:10] kojustin commented on #4331
I think part of my confusion here is that I'm using "helm upgrade --install" but I'm really expecting it to perform more of an installation action than an upgrade action. Instead of doing a from-fresh install it defaulted to upgrading an existing install.

Helm probably would have done the right thing if there wasn't an existing release with the same name. The fact that helm upgrade can do both "i

[2018-07-11 20:31] michelleN commented on #3559
/remove-lifecycle stale

[2018-07-11 20:46] nweathe commented on #4330
In our environment, we gave Tiller a ServiceAccount with a ClusterAdmin role-binding.

When a user interacts with Kubernetes via Tiller, Tiller checks the user's role (ClusterAdmin/Admin/Editor/Operator/Viewer). Assuming the user _does_ have the authorization to C/R/U/D via Tiller, Tiller then forwards on the request to Kubernetes _with Tiller's ClusterAdmin ServiceAccount_.

In most cases, this w

[2018-07-11 21:36] fibonacci1729 commented on #4149
When generating your tiller certificate, you can try adding an IP SAN for 127.0.0.1.

For example:
[code]

Because of the tunnel (kube proxy), the client sees the host as 127.0.0.1 during TLS hostname verification.

[2018-07-12 03:40] derekbassett opened #4333 "Why does helm use the mutable docker build label of canary rather then latest?"
This is a general question about Helm.  While looking over the Makefile in Helm I noticed it uses the mutable docker build label of `canary`, rather then `latest`.  Why is that?  Why do you use `canary` rather then a more standard label like `latest`?

[2018-07-12 07:04] bjornmagnusson commented on #4333
My best guess is that there are assumptions around `latest` that makes it confusing, such that it actually not latest at all time but latest at a given point in time.

[2018-07-12 08:54] markns commented on #3863
Hey, I think this was happening when we had a namespace yaml in the chart. Since we've changed to specifying the namespace at the helm command line we haven't seen the issue reoccur.

[2018-07-12 17:18] ysaakpr commented on #4255
I am getting the similar error in helm 2 as well.
`helm install -n jxing jenkins-x/nginx-ingress --values jxing-nginx-ingress-values.yaml --namespace kube-system --version 0.21.0`

[code]

[2018-07-12 19:25] bacongobbler commented on #4255
@ysaakpr I'd follow up with the Jenkins X team maintaining that chart directly.

CC @jstrachan ^ :)

[2018-07-12 19:39] mattfarina opened #4335 "Update to Kubernetes recommended labels"
A set of recommended labels around applications just landed in the Kubernetes docs. They can be seen at https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/. Helm also has a set of standard labels in the best practices section at https://docs.helm.sh/chart_best_practices/#standard-labels. Many of these are for the same thing but with a different name.

Here's a diff of

[2018-07-12 20:38] mattfarina commented on #2431
This is part of the Helm 3 roadmap. See https://github.com/helm/community/blob/master/helm-v3/001-charts.md#schematized-values-files for more details.

[2018-07-12 20:44] derekbassett commented on #4333
Thank you.

[2018-07-12 20:44] #4333 closed

[2018-07-12 23:21] johngmyers commented on #2492
/remove-lifecycle stale

[2018-07-13 01:04] hmcmanus commented on #4262
It might be a bit late now but I had the same problem but was able to get around it by copying what these guys did here:

https://github.com/kubernetes/charts/blob/master/incubator/elasticsearch-curator/values.yaml

[2018-07-13 09:42] ocofaigh commented on #3706
The issue here was caused by a bug with IBM Cloud Private version 2.1.0.1. Its an edge case scenario. The scenario is:

1. Install ICp 2.1.0.1 (this creates some firewall rules in /etc/sysconfig/iptables)
2. Uninstall ICp 2.1.0.1 (this does not remove the firewall rules)
3. Install ICp 1.2.1 (Tiller will not start due to the firewall rules in /etc/sysconfig/iptables)
Workaround: stop the firewalld

[2018-07-13 09:58] nicdoye opened #4336 "On upgrade, with reuse-values, YAML parser errors looking for "document start""
Output of `helm version`:
[code]

Output of `kubectl version`:

[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
kops 1.9.1 on AWS

The YAML parser spits out an error claiming a `DOCUMENT-START` (`---`) is missing. I placed that at the beginning of `Chart.yaml`, `deployment.yaml` and `values.yaml`, but it still emits that error.

Example: https://github.com/nicdoye/helm-set-vs-reuse/tree

[2018-07-13 10:51] nicdoye opened #4337 "Helm upgrade with reuse-values, without --set gives YAML error"
Output of `helm version`:
[code]

Output of `kubectl version`:

[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
kops 1.9.1 on AWS

Example: https://github.com/nicdoye/helm-set-vs-reuse/tree/set-values-break-upgrades/helm/parent
(Note this is the `parent` chart in `set-values-break-upgrades` tag).

The parent chart requires the subchart, `subchart` conditionally on `subchart.enabled` equ

[2018-07-13 11:13] nicdoye commented on #4337
Looks _similar_ (but not identical to) https://github.com/kubernetes/helm/issues/2004 . The error there contains the extra text `error converting YAML to JSON`.

@technosophos comments that this is almost always an indentation issue https://github.com/kubernetes/helm/issues/2221#issuecomment-292611253 (I've seen this in another ticket, too).

[2018-07-13 17:46] michelleN commented on #4328
@chenzhiwei - Did you get to a point where you had a ` release` object in `helm list --all`?
If you did, you can run a `helm delete` and then re-install via `helm install`.

Helm stores information about the resources created during install in a`configmap` in the `kube-system` namespace. If there was partial success, we have no way of guaranteeing that a `configmap` was created and if it wasn't, t

[2018-07-14 05:11] Venkat0506 commented on #4331
Dear All, Need urgent help,
I have a kubernetes cluster and I would like to deploy my services under different namespaces under the same cluster. I have done helm install in first name space and it worked well. but for next name space i used helm upgrade and provided the charts is it the right way  ?

[2018-07-14 13:33] #3497 closed

[2018-07-14 20:35] gintautassulskus commented on #3625
The same issue occurs with 1.10.0-rc.1 attempting to run `helm list`.

[code]

[code]

[2018-07-14 20:40] #3487 closed

[2018-07-14 20:48] bacongobbler commented on #3625
That particular but was fixed in https://github.com/kubernetes/helm/pull/4325
 We'll be cherry picking that into the release. :)

[2018-07-15 00:44] #3484 closed

[2018-07-15 12:11] guyos commented on #3370
Using post-install hook. I also get `Error: timed out waiting for the condition`, however, the job did complete successfully. Looks to me that the condition has been met but helm didnt get out of the wait status until the timeout was reached.
So in fact Error in my case is misleading - and what I should get it the NOTE.txt output as soon as the post-install job succeeded.
By the way - the job didn

[2018-07-16 12:35] mzanella opened #4339 "ts"
Output of `helm version`:

Output of `kubectl version`:

Cloud Provider/Platform (AKS, GKE, Minikube etc.):

[2018-07-16 12:35] #4339 closed

[2018-07-16 16:23] #2347 closed

[2018-07-16 18:46] mikeln commented on #2578
helm version:
[code]

Very much still an issue.  Just ran an old cassandra demo. When finished, deleted --purge the installation and got
[code]
and:
[code]
kubectl  --namespace=cassandra get all
NAME                         DESIRED   CURRENT   UP-TO-DATE   AVAILABLE   AGE
deploy/opscenter-cassandra   1         1         1            1           40m

NAME                                DESIRED   CU

[2018-07-16 18:56] michelleN commented on #4330
@nweathe @shikhasriva It's awesome that ya'll have this working and thank you for sharing. I know it'll help quite a few people who are looking for something similar.

We're currently working on Helm v3 which does not include a server-side component. We're not actively adding new features to Helm 2.0. Are you looking to add this to Helm 2.0? If so, we can definitely discuss this as an option at on

[2018-07-16 19:45] #4149 closed

[2018-07-16 19:52] fhemberger opened #4343 "Access computed values in templates?"
I'm new to Go but I learned you can't define functions inside a template. But is there another way to access a once computed value (from a variable or other template) in a different template?

So far I tried:
[code]

=> `undefined variable "$foo"`

[code]

[2018-07-16 21:08] ramyala commented on #2464
did you try #4229? It resolved the issues in my case

[2018-07-16 22:03] michelleN commented on #4331
Using a release name that already exists does make this a bit more confusing. Right now, release names are globally scoped. [In Helm v3](https://github.com/helm/community/blob/7c12f26ef11c113de83e2c0578f35e9c58c9bdde/helm-v3/003-state.md#the-release-object), release names will be scoped to a particular namespace, so this experience will be a bit more clear.

It looks like the `WARNING` you're seei

[2018-07-16 23:09] rehevkor5 commented on #3531
This problem occurs with the `template` command too. If the server responds with 302 Found and a "Location" header, as github's "Release" links do (redirecting to an S3 URL), `helm` exits with nonzero output and prints a message like:

[2018-07-17 00:11] RiaanLab commented on #3104
Thanks @markusdresch your solution works if you update the User name field in the following stanza to match your user that the helm client is using.

- apiGroup: rbac.authorization.k8s.io
  kind: User
  name: **system:anonymous**

The user name is this part of the error you got:

Error: forwarding ports: error upgrading connection: unable to upgrade connection: Forbidden (user=**system:node:master

[2018-07-17 10:00] ebkalderon commented on #4174
I managed to find a few errors in my template files, but I managed to fix them all and render the templates locally with `helm template`, and the upgrade still fails with the same error.

[2018-07-17 10:17] cmeury commented on #4066
I can reproduce this with v2.9.1. I suggest to treat this as a bug rather than a support question, because the default chart created by helm should pass the strict linter.

[2018-07-17 10:35] javipolo opened #4347 "Dependencies are installed even if conditions say they shouldnt"
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
AWS (kube-aws)

I set up a chart that uses redis as a dependency, and only needs it sometimes (if not using external redis). I set up a condition to control wheter I want redis or not, but even if the condition is false, redis is installed:

The requirements.yaml file:
[code]
hel

[2018-07-17 10:41] devops4sachin commented on #2640
I was able to recreate this issue on the Bare-metal cluster. @MostAwesomeDude 👍 , you commands worked on my environment.

[2018-07-17 10:53] tw0517tw commented on #3308
Hi @bacongobbler ,

What if I'd like to use this in a block `if` in my template? Something like:

[code]

and I want the `someSetting` to not render only when `$foo` is explicitly set to `false`.

[2018-07-17 12:22] Lookyan commented on #4331
@michelleN it was done with a warning message because of backwards compatibility reasons.

[2018-07-17 13:30] andyedwardsdfdl opened #4349 "With helm history set, if history is all failing deploys, deploy fails with "has no deployed releases""
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
IBM Cloud Container Service

We are using helm with a limit set on the number of releases stored in the history (i.e. we set the `--history-max` flag when installing helm).

In one of our development environments we hit a problem where the deploy was failing (a trivial expired

[2018-07-17 13:47] sebglon commented on #4019
We have the same:
[code]
[code]

[2018-07-17 14:03] lukejpreston opened #4350 "minor docs overflow issue"
The following `.container-full` has `overflow-x: hidden` which causes `overflow-y` to always be on (in Chrome anyway). Perhaps, remove `overflow-x`, or make `overflow-y` hidden as well e.g. `overflow: hidden`. If it needs scroll you should change `overflow-y: auto` then it won't have this issue.

The reason this is an issue is when you scroll down you have to select the outer container first, and

[2018-07-17 14:11] paolomainardi commented on #4138
@frankh `--force` does not solve the problem at all.

[2018-07-17 14:43] paolomainardi commented on #4045
Thanks a lot @robinkb for you analysis.
We face randomly this bug and most of the times the thing that just works is to delete (--purge) everything related to that release and starting from scratch, this is becoming very annoying .

[2018-07-17 14:58] bacongobbler commented on #4350
@lukejpreston see https://github.com/helm/helm-www :)

cc @flynnduism

[2018-07-17 15:19] frankh commented on #4138
@paolomainardi - you're right, I should have said

`helm upgrade --install --force` *may* work sometimes

[2018-07-17 15:32] michelleN commented on #4331
ah that makes sense. thank you @Lookyan

[2018-07-17 15:47] jstriebel commented on #3533
/remove-lifecycle stale

[2018-07-17 16:54] necevil commented on #4337
Also having this issue (I think) with stable/nginx-ingress chart.
Similar to the above comment removing the --reuse-values flag allows me to upgrade as intended.

[2018-07-17 19:56] silesky commented on #2431
my team has currently implemented a values-metadata.yml from scratch for helm charts (using our own custom validation schema) to create a dynamic catalog.  We are eager to migrate to a community-driven JSON schema solution.

[2018-07-17 21:29] michelleN commented on #3559
/remove-lifecycle rotten

[2018-07-17 22:07] Nowaker commented on #3074
I can confirm `--ca-file` is fixed for self-signed certs on 2.10.0-rc1.

[2018-07-18 06:16] gcontini opened #4351 "https://kubernetes-charts.storage.googleapis.com not reachable in China. Set up a mirror."
The site "https://kubernetes-charts.storage.googleapis.com" is blocked by the Chinese country wide firewall (GFW).

This causes errors during helm init:

`$ /usr/local/bin/helm init --client-only
Creating /Users/XXX/.helm
Creating /Users/XXX/.helm/repository
Creating /Users/XXX/.helm/repository/cache
Creating /Users/XXX/.helm/repository/local
Creating /Users/XXX/.helm/plugins
Creating /Users/XXX/.

[2018-07-18 07:58] tamama commented on #4020
I remembered that I have resolved this issue a few months ago.

To be honest, I think that Helm was not yet stable at that time, and I am not confident to use it - even though the concept of package manager on k8s is very sexy by itself.

I will give it another shot pretty soon once I find some time to re-investigate k8s. And I will keep you updated.

[2018-07-18 09:17] lystor opened #4352 "Unable to Delete Failed Release: Error: release: "xxx" not found"
Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}

Server: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}

Client Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.0", GitCommit:"91e7b4fd31fcd3d5f436da26c980becec37ceefe", GitTreeState:"clean", BuildDate:"2

[2018-07-18 10:41] tomstockton commented on #1957
Here's my Bash workaround in the absence of this feature:
[code]

[2018-07-18 11:08] jeff-knurek commented on #3612
I found out a way to reproduce this. One thing that seems to be helpful in reproducing is having more than one dependency in the requirements file. Also, the large the values.yaml file  the easier it is to reproduce as well.

`spinnaker` is an example stable chart to reproduce:
[code]

[2018-07-18 11:08] jeff-knurek commented on #3612
/remove-lifecycle rotten

[2018-07-18 12:14] lystor commented on #4352
Also helm can not delete deployed releases:

$ helm ls
NAME                            REVISION        UPDATED                         STATUS          CHART           NAMESPACE
dev-99-playtest-thirdparty      6               Wed Jul 18 13:25:04 2018        DEPLOYED        thirdparty-546  dev-99-playtest-thirdparty
services                        3               Wed Jul 18 12:46:54 2018        DEPL

[2018-07-18 12:19] lystor commented on #4352
Stupid typo in release name...
Sorry for the noise.

[2018-07-18 12:19] #4352 closed

[2018-07-18 13:00] magicalbanana commented on #3030
Any updates on this?

[2018-07-18 15:23] rcorre commented on #3685
/remove-lifecycle rotten

[2018-07-18 17:07] kiall commented on #3240
/remove-lifecycle stale

This IMO is still something Helm needs to solve to make chart dependencies more usable.

[2018-07-18 17:40] thomastaylor312 commented on #3875
/remove-lifecycle stale
/lifecycle frozen

[2018-07-18 19:32] winnietsang opened #4354 "Helm client automatically detect TLS configuration on the Tiller server and apply the certificates whenever it is required"
Feature request:
Helm client automatically detect whether the Tiller server is TLS configured or not. If it is TLS configured, then it will automatically apply the certificates whenever user execute a Helm command that required to access the Tiller server.

Reason for this request:
For any production grade K8s would have RBAC enable therefore Tiller will require to have TLS configured. User will s

[2018-07-18 22:34] thedarkfalcon commented on #4251
I'm having this same issue now :-/
I can openssl to the URL fine, but whatever I do Helm won't connect.

helm version
Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}

helm init
Creating ~/test/repository/repositories.yaml
Adding stable repo with URL: https://kubernetes-charts.storage.googleapis.com
Error: Looks like "https://kub

[2018-07-18 23:21] stevvooe commented on #4149
@fibonacci1729  Unfortunately, the adding the IP san for localhost does not work.

[2018-07-18 23:51] diclophis commented on #4251
@thedarkfalcon double check and confirm you dont have an abundance of "broken" or  "self-signed" ssl certs in your `Keychain.app`... I think the issue crops up when you have more than ~150 self-signed certs locally. I had this issue and I cleaned up a ton of development certs I had created and the issue went away.

[2018-07-19 00:49] svitlanacs commented on #3176
This is an excellent suggestion.
Commenting to reopen the case.

[2018-07-19 04:57] thedarkfalcon commented on #4251
Oh sorry I forgot to mention, I'm not actually on OSX, I'm on ubuntu. This was the most relevant thread I could find though.

[2018-07-19 07:16] ghost opened #4359 "cannot overrride value with --set to string "false""
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
Rancher 2.0.7 on baremetal

I have a configuration value that defaults to string `true` and i need it to be string `false`. Somehow this seems not to be possible via the `--set` option. Here is the minimal source of my chart:

mychart/templates/configmap.yml:
[code]

mychart/valu

[2018-07-19 08:35] erickhun commented on #4125
@whithajess wondering if we should reopen that one. It ( https://github.com/kubernetes-helm/community/blob/master/helm-v3/001-charts.md#library-charts ) looks like a suggestion for a future release, that we don't know when it will be released.

Wondering if anyone has a real world example on how they achieved this.

[2018-07-19 08:52] norbertbuchmueller commented on #4359
You may want to use `--set-string environment.foo=false` instead.

[2018-07-19 08:59] useltmann commented on #4359
nope, same thing. Forgot to mention that.
[code]

[2018-07-19 09:12] useltmann opened #4360 "Error: UPGRADE FAILED: yaml: line 13: could not find expected ':'"
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]
Cloud Provider/Platform (AKS, GKE, Minikube etc.):
Rancher 2.0.7 on baremetal

When trying to upgrade my release using `--reuse-values` i get this error:
[code]
I haven't changed my chart since installing the release. All i want is helm pull the image again and to recreate the pods.

[2018-07-19 09:17] norbertbuchmueller commented on #4359
Well, i think the problem is that your shell removes the quotes (single or double) before the option is seen by Helm. Let's try this: `--set 'environment.foo="false"'`

[2018-07-19 09:22] useltmann commented on #4359
As said above, when I escape the quotes - which has the same effect - it leads to a quoted string with quotes. So no, this is not working either:
[code]

[2018-07-19 13:14] XBeg9 commented on #3053
Any updates here?

[2018-07-19 13:32] till opened #4361 "{{ .Capabilities }} are unavailable in helm template helpers"
I am trying to build/fix a template helper that uses `.Capabilities`. I have tried all sorts of things, for the simplicity of this bug report, I am trying to output the tiller version. But I also tried to get the Kube version, etc. (my helm chart is trying to generate configuration with and without RBAC — same difference).

Nothing in `.Capabilities` is available in the helper _scope_, but it work

[2018-07-19 13:36] michelleN commented on #4360
probably also related to #4337

[2018-07-19 13:49] michelleN commented on #4337
@nicdoye do you have a default value specified for `subchart` in your values.yaml file inside the `parent` chart?

[2018-07-19 13:50] michelleN commented on #4337
Nevermind. I just checked and it looks like you do!

[2018-07-19 13:54] michelleN commented on #4337
Thanks for the example btw @nicdoye - I'm trying to reproduce the issue now.

[2018-07-19 14:35] michelleN commented on #4337
okay I can reproduce this and I put all the YAML files through a YAML formatter to make sure it's valid YAML and not an indentation issue. I think this might be a bug. I don't think it should be the case that `--reuse-values` fails like this if `--set` was not used in the `helm install` step. I don't remember that being a requirement either, so I'll check if previous versions of helm also have thi

[2018-07-19 15:07] michelleN commented on #4337
Same behavior in 2.10.0-rc.1 but this is not the behavior in 2.8.2.- definitely a bug. Looking into what might have happened now.

[2018-07-19 17:34] MikeSchuette commented on #2149
I had this problem with 2.8.2, then upgraded to 2.9.1 and had no issue.

[2018-07-19 17:51] diclophis commented on #4251
oh interesting @thedarkfalcon ...

[2018-07-19 18:52] NilsGriebner commented on #2149
@MikeSchuette thanks for your answer. I will give it a try :)

[2018-07-19 20:02] #4240 closed

[2018-07-19 20:37] jheiss commented on #3992
Is there any reason that tiller needs to run as root? Could helm init take an option for the user to run tiller?

[2018-07-19 21:14] bacongobbler commented on #3992
IIRC service account secrets are mounted in with root permissions so we need elevated permissions to read those in the container. I could be wrong

[2018-07-20 00:53] tristanpemble opened #4365 "Using --reuse-values when upgrading a chart with a conditional requirement will still deploy hooks from the subchart"
Output of `helm version`:
[code]

Output of `kubectl version`:
[code]

[I created a repository to reproduce this issue here](https://github.com/tristanpemble/helm-reproduce)

Sample output:

[code]

[2018-07-20 01:14] tristanpemble commented on #4365
This is similar to #2948 but might be a separate bug

[2018-07-20 01:30] mumoshu commented on #4170
Anyone is working on this? If not, I'm going to pick this up!

My motivation to implement this inside helm went up due to that I can't just run the underlying `helm-diff` binary alone. That's because `helm-diff` depends on connectivity to tiller, that is `helm`'s functionality to start port-forwarding to tiller and populate the address:port to it in the TILLER_HOST envvar.

[2018-07-20 08:27] mumoshu commented on #4170
Submitted #4367 for this.

[2018-07-20 11:05] shehroze37 opened #4368 "helm init error"
I am running helm init and getting the following error. Have tried running with sudo as well but no luck.

Error: could not get kubernetes client: could not get Kubernetes config for context "": invalid configuration: unable to read client-key ~/.minikube/client.key for minikube due to open ~/.minikube/client.key: permission denied

Anything specific that I need to do in order to fix this?

[2018-07-20 12:28] dionysius opened #4369 "[request] Update k8s.io/* go-dependencies to branch "release-1.11""
I have a controller relying on packages for k8s.io/apimachinery release-1.11, but this controller is also using helm packages, which currently [depend on release-1.10](https://github.com/helm/helm/blob/01da56f956329bbfcef14ac164f9ab49081ad108/glide.yaml#L51). No variant can satisfy both apimachinery and helm, so I seem to have no choice than waiting for helms update to depend on release-1.11.
[cod

[2018-07-20 13:41] mmisztal1980 opened #4370 "Helm attempts to parse YAML files as JSON"
Output of `helm version`:
[code]
Output of `kubectl version`:
[code]

Cloud Provider/Platform (AKS, GKE, Minikube etc.):
`Minikube`

I've cloned https://github.com/Azure/helm-elasticstack and decided to try to install the charts on minikube 1st. In my console, I've navigated to `C:\Checkout\helm-elasticstack\charts`
And attempted to do a
`helm install elasticsearch --kube-context minikube --name e

[2018-07-20 15:58] shikhasriva commented on #4330
@michelleN, we can definitely add this to the 2.0. And would love to discuss application of the same to 3.0

[2018-07-20 16:20] bryanlarsen commented on #4336
@nicdoye, any resolution?   I'm seeing this too.

[2018-07-20 16:42] mmeliani commented on #4238
[code]

why helm plugin update test doesn't work ?    and get   the bellow error :
Error: Failed to update plugin scale, got error (cannot get information about plugin source)

[2018-07-20 17:12] bacongobbler commented on #4238
how was this plugin installed?

[2018-07-20 17:13] bacongobbler commented on #4238
plugin docs: https://docs.helm.sh/using_helm/#the-helm-plugins-guide

[2018-07-20 20:50] praseodym commented on #3992
If the container can run as a non-root user that should be the default (not an option). It's as simple as adding a `USER` command with a non-root uid to the Tiller Dockerfile.

[2018-07-20 22:10] jaytaylor opened #4374 "Helm upgrade does not apply to initContainers"
**TL;DR:**

### initContainer.image values are not updated after `helm upgrade` is executed.

---

See the `kubectl get pod -o yaml` outputs below.  Non-relevant portions have been pruned for brevity.

The interesting parts are the before and after `image: ` values.

**Pre-upgrade Elasticsearch client pod:**

[code]

**Post-upgrade Elasticsearch client pod:**

[code]

Note that after `helm upgrade

[2018-07-20 22:16] jheiss commented on #3992
Setting USER in the Dockerfile doesn’t fix this for PodSecurityPolicy users. Kubernetes doesn’t know what is set in the container image and requires that you specify runAsUser in the securityContext.

[2018-07-20 22:44] jheiss commented on #3992
Oh, right, I forgot about that. We have an admission controller that requires runAsUser for other security checks.

[2018-07-21 01:10] chainlink commented on #3761
Could it be that I had a old version cached locally? (not doing a `helm repo update` prior to the install)

[2018-07-21 03:33] steven-sheehy commented on #4299
``helm dependency update`` is also affected.

[2018-07-21 11:45] nicdoye commented on #4336
No, not yet. I'm waiting to see how @michelleN 's fix for https://github.com/helm/helm/issues/4336 (in https://github.com/helm/helm/pull/4364 ) affects things.

[2018-07-21 23:19] #4370 closed

[2018-07-22 05:32] iahmad94 commented on #2219
@rchakra3 Thank you! Any idea when this will get merged in? I'm currently in a situation where the  --kubeconfig flag would be very helpful!

[2018-07-23 11:57] mmeliani commented on #4238
@bacongobbler i installed using this helm plugin install https:/url/plugin.tgz

[2018-07-23 13:08] Stono opened #4375 "non-deterministic ordering from "range" results in unnecessary deployments"
Hi,
We have a template which iterates over a range of key value pairs and creates environment config for them.

[code]

We noticed that we're getting rolling deployments of an app when nothing had actually changed.  Digging into diffs between the deployments, we noticed that the environment variables were ordered differently (resulting in a patch).

[code]

So it feels like the `range` function do

[2018-07-23 13:30] rjeberhard commented on #3370
Any progress on this one?  We similarly are interested in using a pre-install hook to do some custom validation; however, it's not very usable for our customers if we can only present them with an error that the Job hit the backoff limit or timed-out.

We need some way to present the user with a message about why the Job/Pod failed.  We're happy to use Pod termination message, but we need a way to

[2018-07-23 13:41] mmeliani commented on #4238
I saw many plugins are using install and update hooks and it's working for them, i don't know where am I going wrong ?  @bacongobbler

[2018-07-23 14:33] mmeliani commented on #4238
my own plugin and it available on a repository

[2018-07-23 14:36] bacongobbler commented on #4238
Try using the clone url rather than a tarball url and see how that goes.

[2018-07-23 14:38] mmeliani commented on #4238
i can't because it's an artifactory all i have it's this tarball url

[2018-07-23 15:40] adawolfs commented on #3030
@sebasalvarado Did you already check in the default namespace and see if your deployment is there? or maybe deployed to any other?

[2018-07-23 17:08] kaikun213 commented on #2918
I got the same issue via GitLab auto-devops.

[code]

[2018-07-23 17:35] technosophos commented on #4375
The recommended pattern is to use `keys` and `sortAlpha`, and then fetch each value by key. There's an example here: http://masterminds.github.io/sprig/dicts.html

[2018-07-23 17:35] Stono commented on #4375
Brilliant
Thanks Matt

On Mon, 23 Jul 2018, 6:35 pm Matt Butcher, <notifications@github.com> wrote:

[2018-07-23 17:43] technosophos commented on #4374
If --dry-run shows the field modified, then it is likely that Kubernetes dropped the field silently (which is the expected behavior for some immutable fields, such as those on deployments.).

Does using `helm upgrade --force` fix that? This will destroy and recreate the resource, rather than sending a patch operation to Kubernetes.

[2018-07-23 18:03] mattfarina commented on #3557
I've created a Helm v3 proposal to implement the split at https://github.com/helm/community/pull/27

[2018-07-23 18:59] jaytaylor commented on #4374
I see, this is helpful information @technosophos - thank you very much!

I'll try with `--force` and return with findings.

[2018-07-23 19:09] michelleN commented on #4359
Hey @useltmann -- I was able to reproduce the issue you're seeing. Looks like this bug was fixed with #4142 so it is available in helm [v.2.10.0-rc.1](https://github.com/helm/helm/releases/tag/v2.10.0-rc.1) and will also be available in the next release.

I tested this on head and it works as you would expect:
[code]
outputs:
[code]

[2018-07-23 19:20] technosophos commented on #4369
Is there something specific you are asking us to do?

1.11 support has been in the works for a long time, and is not released because of stability/compatibility issues. But we will get a final release done as soon as we can, though.

[2018-07-23 19:22] technosophos commented on #4368
This indicates that when `helm init` is run, it is reading the `$HOME/.kube/config` file, and that is directing it to load a TLS certificate from the path `$HOME/.minikube/client.key`. However, that file is either not there, or has permissions restrictive enough that `helm` cannot read it.

[2018-07-23 19:32] technosophos commented on #4351
Using the `-i` flag will let you add one of the unofficial mirrors instead of the stable repo.

We are likely to move the repository in the future, but it will take some time.

[2018-07-23 19:40] steven-sheehy commented on #3805
We've definitely ran into this in production. The [Helm advice](https://github.com/helm/helm/issues/2070#issuecomment-284839395) to only make changes via Helm is not practical during rapid prototyping in a development environment via kubectl edit or in production when there's an urgent issue that can be solved by increasing some resource limit.

@michelleN  Is there any consideration for changing

[2018-07-23 19:49] #4170 closed

[2018-07-23 19:55] jaytaylor commented on #4374
There was no change in behavior with `--force`, initContainers remain stuck at the previous version.

[2018-07-23 20:16] tristanpemble commented on #4365
Yup.

[2018-07-23 20:21] jaytaylor commented on #4374
Perusing the code a little, I noticed `https://github.com/helm/helm/blob/master/pkg/tiller/release_update.go#L145`:

[code]

Thinking through this a little- deletion will be a problem, since resources deletion leads to the associated deployment strategies not being enforced.

Any ideas on how to keep the `deploymnet.initContainer.image` values to stay in sync with `delpoyment.container.image`?  I

[2018-07-23 20:22] jaytaylor commented on #4374
Perusing the code a little, I noticed [/master/pkg/tiller/release_update.go](https://github.com/helm/helm/blob/master/pkg/tiller/release_update.go#L145):

[code]

Thinking through this a little- deletion will be a problem, since resources deletion leads to the associated deployment strategies not being enforced.

Any ideas on how to keep the `deploymnet.initContainer.image` values to stay in sync

[2018-07-23 21:19] quantumlicht opened #4376 "How to pass keyring password programatically"
I would like to automate the signing process as part of a CI/CD pipeline. However I am faced the problem where the `helm package --sign` command asks for a password prompt (gpg actually prompts).

I know pgp allows to pass the password through the STDIN with:
`pgp --passphrase-fd`, but obviously that option would not be forwarded.

Is there another way to achieve this?

Output of `helm version`:
[

[2018-07-24 00:08] varun-da opened #4377 "How test two charts that are dependent on each other?"
Output of `helm version`: {SemVer:"v2.9.0", GitCommit:"f6025bb9ee7daf9fee0026541c90a6f557a3e0bc", GitTreeState:"clean"}

Hi,

I am developing two charts, Chart A and Chart B. Chart A is dependent on Chart B. Chart A was developed standalone, tested and uploaded to a repo. And now Chart B is being developed. To test, a requirement is added to Chart A, in the requirements.yaml:
[code]

It all works

[2018-07-24 01:07] veqryn commented on #1193
I don't know if this helps at all, but I just ran into this issue on both my test and production clusters.

The changes I made to my helm files were pretty simple:
I had 1 existing deployment, with an associated service and poddisruptionbudget, which was left unchanged.
I added a 2nd deployment, with its own service and poddisruptionbudget.
I incremented the chart version number.

When running hel